Repository dotnet/aspnetcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/aspnet-api-review, @dotnet/aspnet-build, @wtgodbe, @captainsafia, @mkArtakMSFT, @dotnet-maestro-bot, @dotnet/source-build, @halter73, @mgravell, @dotnet/aspnet-blazor-eng, @JamesNK, @BrennanConroy, @javiercn, @dotnet/minimal-apis, @brunolins16

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/**/PublicAPI.*Shipped.txt                                                        @dotnet/aspnet-api-review
/global.json                                                                      @dotnet/aspnet-build @wtgodbe
/.azure/                                                                          @dotnet/aspnet-build @wtgodbe
/.azuredevops/                                                                    @dotnet/aspnet-build @wtgodbe
/.config/                                                                         @dotnet/aspnet-build @wtgodbe
/.devcontainer/                                                                   @captainsafia
/.vscode/                                                                         @captainsafia
/.github/                                                                         @dotnet/aspnet-build @wtgodbe
/.github/*_TEMPLATE/                                                              @dotnet/aspnet-build @wtgodbe @mkArtakMSFT
/.github/workflows/                                                               @dotnet/aspnet-build @wtgodbe
/docs/                                                                            @captainsafia @mkArtakMSFT
/eng/                                                                             @dotnet/aspnet-build @wtgodbe
/eng/common/                                                                      @dotnet-maestro-bot
/eng/Versions.props                                                               @dotnet-maestro-bot @dotnet/aspnet-build @wtgodbe
/eng/Version.Details.xml                                                          @dotnet-maestro-bot @dotnet/aspnet-build @wtgodbe
/eng/SourceBuild*                                                                 @dotnet/source-build
/src/Caching/                                                                     @captainsafia @halter73 @mgravell
/src/Caching/**/PublicAPI.*Shipped.txt                                            @dotnet/aspnet-api-review @captainsafia @halter73 @mgravell
/src/Components/                                                                  @dotnet/aspnet-blazor-eng
/src/Components/**/PublicAPI.*Shipped.txt                                         @dotnet/aspnet-api-review @dotnet/aspnet-blazor-eng
/src/DefaultBuilder/                                                              @halter73
/src/DefaultBuilder/**/PublicAPI.*Shipped.txt                                     @dotnet/aspnet-api-review
/src/Grpc/                                                                        @JamesNK @captainsafia @mgravell
/src/Grpc/**/PublicAPI.*Shipped.txt                                               @dotnet/aspnet-api-review @JamesNK @captainsafia @mgravell
/src/Hosting/                                                                     @halter73
/src/Hosting/**/PublicAPI.*Shipped.txt                                            @dotnet/aspnet-api-review
/src/Http/                                                                        @BrennanConroy @halter73 @captainsafia
/src/Http/**/PublicAPI.*Shipped.txt                                               @dotnet/aspnet-api-review @BrennanConroy
/src/Http/Routing/                                                                @javiercn
/src/Http/Routing/**/PublicAPI.*Shipped.txt                                       @dotnet/aspnet-api-review @javiercn
/src/HttpClientFactory/                                                           @captainsafia @halter73
/src/HttpClientFactory/**/PublicAPI.*Shipped.txt                                  @dotnet/aspnet-api-review @captainsafia @halter73
/src/Installers/                                                                  @dotnet/aspnet-build @wtgodbe
/src/JSInterop/                                                                   @dotnet/aspnet-blazor-eng
/src/Middleware/                                                                  @BrennanConroy
/src/Middleware/**/PublicAPI.*Shipped.txt                                         @dotnet/aspnet-api-review @BrennanConroy
/src/Mvc/                                                                         @dotnet/minimal-apis
/src/Mvc/Mvc.ApiExplorer                                                          @captainsafia @halter73 @brunolins16
/src/Mvc/**/PublicAPI.*Shipped.txt                                                @dotnet/aspnet-api-review @dotnet/aspnet-blazor-eng
/src/OpenApi                                                                      @captainsafia @dotnet/minimal-apis
/src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/        @dotnet/aspnet-blazor-eng
/src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/  @dotnet/aspnet-blazor-eng
/src/Security/**/PublicAPI.*Shipped.txt                                           @dotnet/aspnet-api-review
/src/Servers/                                                                     @halter73 @BrennanConroy @JamesNK @mgravell
/src/Servers/**/PublicAPI.*Shipped.txt                                            @dotnet/aspnet-api-review @halter73 @BrennanConroy @JamesNK @mgravell
/src/SignalR/                                                                     @BrennanConroy @halter73
/src/SignalR/**/PublicAPI.*Shipped.txt                                            @dotnet/aspnet-api-review @BrennanConroy @halter73
/src/submodules                                                                   @dotnet/aspnet-build @wtgodbe

use JsonSerializerOptions.Web
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/SignOutSessionStateManager.cs
  src/Http/Http.Results/test/JsonResultTests.cs
  src/Http/Http.Results/test/ProblemResultTests.cs
  src/Http/Routing/test/FunctionalTests/MinimalFormTests.cs
Owners: @dotnet/aspnet-blazor-eng, @BrennanConroy, @halter73, @captainsafia, @javiercn

fix miss copy-paste
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/SignOutSessionStateManager.cs
Owners: @dotnet/aspnet-blazor-eng

more JsonSerializerOptions.Web
  src/Http/Http.Results/test/ValidationProblemResultTests.cs
  src/Mvc/Mvc.Core/test/Formatters/SystemTextJsonOutputFormatterTest.cs
  src/Mvc/Mvc.Core/test/Infrastructure/DefaultApiProblemDetailsWriterTest.cs
Owners: @BrennanConroy, @halter73, @captainsafia, @dotnet/minimal-apis

[Fundamentals] Use JsonSerializerOptions.Web (#58631)
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/SignOutSessionStateManager.cs
  src/Http/Http.Results/test/JsonResultTests.cs
  src/Http/Http.Results/test/ProblemResultTests.cs
  src/Http/Http.Results/test/ValidationProblemResultTests.cs
  src/Http/Routing/test/FunctionalTests/MinimalFormTests.cs
  src/Mvc/Mvc.Core/test/Formatters/SystemTextJsonOutputFormatterTest.cs
  src/Mvc/Mvc.Core/test/Infrastructure/DefaultApiProblemDetailsWriterTest.cs
Owners: @dotnet/aspnet-blazor-eng, @BrennanConroy, @halter73, @captainsafia, @javiercn, @dotnet/minimal-apis

Disable APICompat for the archive projects.
  src/Framework/App.Runtime/src/aspnetcore-runtime-composite.proj
  src/Framework/App.Runtime/src/aspnetcore-runtime.proj
Owners: none

if actual bytes to be written is negative, set to zero (#58575)
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Owners: @halter73, @BrennanConroy, @JamesNK, @mgravell

Fully Qualify Type Names When Resolving in RDG
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointParameterEmitter.cs
Owners: @BrennanConroy, @halter73, @captainsafia

Unskip 6.9.2
  src/Servers/Kestrel/test/Interop.FunctionalTests/H2SpecTests.cs
Owners: @halter73, @BrennanConroy, @JamesNK, @mgravell

Fix expected output directory for deb/rpm/targz/zip to be the shipping packages output.
  eng/DotNetBuild.props
  eng/Publishing.props
  eng/Signing.props
  src/Installers/Windows/SharedFramework/SharedFramework.wixproj
  src/Installers/Windows/TargetingPack/TargetingPack.wixproj
Owners: @dotnet/aspnet-build, @wtgodbe

Always use --apply-cop-headers in ThreadingAppTest
  src/Components/test/E2ETest/Infrastructure/ServerFixtures/BlazorWasmTestAppFixture.cs
  src/Components/test/E2ETest/Tests/ThreadingAppTest.cs
Owners: @dotnet/aspnet-blazor-eng

Use FullName in InstallJdk script (#58618)
  eng/scripts/InstallJdk.ps1
Owners: @dotnet/aspnet-build, @wtgodbe

Quarantine remaining ThreadingAppTest methods
  src/Components/test/E2ETest/Tests/ThreadingAppTest.cs
Owners: @dotnet/aspnet-blazor-eng

Unskip 6.9.2 (#58641)
  src/Servers/Kestrel/test/Interop.FunctionalTests/H2SpecTests.cs
Owners: @halter73, @BrennanConroy, @JamesNK, @mgravell

Scope to parameter binding attributes.
  src/Mvc/Mvc.Core/src/FromBodyAttribute.cs
  src/Mvc/Mvc.Core/src/FromFormAttribute.cs
  src/Mvc/Mvc.Core/src/FromHeaderAttribute.cs
  src/Mvc/Mvc.Core/src/FromQueryAttribute.cs
  src/Mvc/Mvc.Core/src/FromRouteAttribute.cs
  src/Mvc/Mvc.Core/src/ProducesResponseTypeAttribute.cs
Owners: @dotnet/minimal-apis

Correct typo in PersonalDataAttribute.cs
  src/Identity/Extensions.Core/src/PersonalDataAttribute.cs
Owners: none

Correct typo in ProtectedPersonalDataAttribute.cs
  src/Identity/Extensions.Core/src/ProtectedPersonalDataAttribute.cs
Owners: none

[release/2.3] Update EF Submodule to 2.3 (#58613)
  .azure/pipelines/jobs/default-build.yml
  .gitmodules
  build/dependencies.props
  src/Tools/dotnet-sql-cache/src/dotnet-sql-cache.csproj
Owners: @dotnet/aspnet-build, @wtgodbe

Update Messagepack dependency
  eng/Versions.props
Owners: @dotnet-maestro-bot, @dotnet/aspnet-build, @wtgodbe

Update dependencies from dotnet/extensions
  build/dependencies.props
Owners: none

Always use --apply-cop-headers in ThreadingAppTest (#58642)
  src/Components/test/E2ETest/Infrastructure/ServerFixtures/BlazorWasmTestAppFixture.cs
  src/Components/test/E2ETest/Tests/ThreadingAppTest.cs
Owners: @dotnet/aspnet-blazor-eng

Fix including zips (as wixpacks are still in the intsallers folder)
  eng/Publishing.props
Owners: @dotnet/aspnet-build, @wtgodbe

Address feedback
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DiagnosticDescriptors.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Resources.resx
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/WebApplicationBuilder/PublicPartialProgramClassAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/PublicPartialProgramClassFixer.cs
  src/Framework/AspNetCoreAnalyzers/test/WebApplicationBuilder/PublicPartialProgramClassTest.cs
Owners: none

Correct Symbol Display Format and Add Tests
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointParameterEmitter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitServiceParam_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTestBase.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.KeyServices.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/SharedTypes.Http.cs
Owners: @BrennanConroy, @halter73, @captainsafia

Correct typo in PersonalDataAttribute.cs
  src/Identity/Extensions.Core/src/PersonalDataAttribute.cs
Owners: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20241028.4
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet-maestro-bot, @dotnet/aspnet-build, @wtgodbe

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20241028.9
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @dotnet-maestro-bot, @dotnet/aspnet-build, @wtgodbe

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-efcore build 20241029.2
  NuGet.config
  eng/Version.Details.xml
Owners: @dotnet-maestro-bot, @dotnet/aspnet-build, @wtgodbe

Fixes from PR review
  src/Mvc/Mvc.Core/src/FromBodyAttribute.cs
  src/Mvc/Mvc.Core/src/FromFormAttribute.cs
  src/Mvc/Mvc.Core/src/FromHeaderAttribute.cs
  src/Mvc/Mvc.Core/src/FromQueryAttribute.cs
  src/Mvc/Mvc.Core/src/FromRouteAttribute.cs
Owners: @dotnet/minimal-apis

don't throw a misleading exception upon a BadHttpRequestException
  src/Antiforgery/src/Internal/DefaultAntiforgeryTokenStore.cs
  src/Mvc/Mvc.Core/src/ModelBinding/FormValueProviderFactory.cs
Owners: @dotnet/minimal-apis

Add Description to ProducesResponseType (and others) for better OpenAPI document creation (#58193)
  src/Http/Http.Abstractions/src/Metadata/IProducesResponseTypeMetadata.cs
  src/Http/Http.Abstractions/src/Metadata/ProducesResponseTypeMetadata.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Mvc/Mvc.Abstractions/src/ApiExplorer/ApiResponseType.cs
  src/Mvc/Mvc.Abstractions/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Api.Analyzers/test/TestFiles/SymbolApiResponseMetadataProviderTest/GetResponseMetadataTests.cs
  src/Mvc/Mvc.ApiExplorer/src/ApiResponseTypeProvider.cs
  src/Mvc/Mvc.ApiExplorer/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.ApiExplorer/test/DefaultApiDescriptionProviderTest.cs
  src/Mvc/Mvc.Core/src/ApiExplorer/IApiResponseMetadataProvider.cs
  src/Mvc/Mvc.Core/src/ProducesAttribute.cs
  src/Mvc/Mvc.Core/src/ProducesDefaultResponseTypeAttribute.cs
  src/Mvc/Mvc.Core/src/ProducesResponseTypeAttribute.cs
  src/Mvc/Mvc.Core/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Core/test/ProducesAttributeTests.cs
  src/Mvc/Mvc.Core/test/ProducesResponseTypeAttributeTests.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.Responses.cs
Owners: @BrennanConroy, @halter73, @captainsafia, @dotnet/minimal-apis, @brunolins16

Correct typo in WebApplication.cs
  src/DefaultBuilder/src/WebApplication.cs
Owners: @halter73

Build the shared frameworks via the transitive SDK proj only and make the native project references "just work" without a separate target.
  eng/Build.props
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.Composite.sfxproj
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.sfxproj
  src/Framework/App.Runtime/src/aspnetcore-runtime.proj
Owners: @dotnet/aspnet-build, @wtgodbe

Add PGO data via direct references to the MIBC files instead of flowing them through a different manner (that doesn't work)
  eng/Version.Details.xml
  eng/Versions.props
  eng/targets/Sfx.Common.targets
Owners: @dotnet-maestro-bot, @dotnet/aspnet-build, @wtgodbe

Don't exclude the runtime archive traversal proj from the source-only build.
  src/Framework/App.Runtime/src/aspnetcore-runtime.proj
Owners: none

Add registry search for upgrade policy keys (#57952) (#58095)
  src/Installers/Windows/SharedFrameworkBundle/Bundle.wxs
  src/Installers/Windows/SharedFrameworkBundle/SharedFrameworkBundle.wixproj
  src/Installers/Windows/WindowsHostingBundle/Bundle.wxs
  src/Installers/Windows/WindowsHostingBundle/WindowsHostingBundle.wixproj
  src/Installers/Windows/Wix.targets
Owners: @dotnet/aspnet-build, @wtgodbe

Add test for public partial class with members
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/WebApplicationBuilder/PublicPartialProgramClassAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/test/WebApplicationBuilder/PublicPartialProgramClassTest.cs
Owners: none

Add examples for attributes (#58196)
  src/Mvc/Mvc.Core/src/FromBodyAttribute.cs
  src/Mvc/Mvc.Core/src/FromFormAttribute.cs
  src/Mvc/Mvc.Core/src/FromHeaderAttribute.cs
  src/Mvc/Mvc.Core/src/FromQueryAttribute.cs
  src/Mvc/Mvc.Core/src/FromRouteAttribute.cs
Owners: @dotnet/minimal-apis

use GeneratedRegex property
  src/Components/test/E2ETest/ServerExecutionTests/WebSocketCompressionTests.cs
  src/Components/test/E2ETest/ServerRenderingTests/ResourceCollectionTest.cs
  src/Components/test/E2ETest/Tests/BootResourceCachingTest.cs
  src/Http/Routing/src/Constraints/AlphaRouteConstraint.cs
  src/Security/Authentication/Negotiate/src/Internal/LdapAdapter.cs
  src/Shared/CertificateGeneration/UnixCertificateManager.cs
Owners: @dotnet/aspnet-blazor-eng, @javiercn

update references
  src/Security/Authentication/Negotiate/test/Negotiate.Test/LdapAdapterTests.cs
Owners: none

Remove RequiresUnreferencedCode in IJSInProcessObjectReference
  src/JSInterop/Microsoft.JSInterop/src/IJSInProcessObjectReference.cs
Owners: @dotnet/aspnet-blazor-eng
