Repository dotnet/aspnetcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/aspnet-api-review, @dotnet/aspnet-build, @wtgodbe, @captainsafia, @mkArtakMSFT, @dotnet-maestro-bot, @dotnet/source-build, @halter73, @mgravell, @dotnet/aspnet-blazor-eng, @JamesNK, @BrennanConroy, @javiercn, @dotnet/minimal-apis, @brunolins16

Add some makedirs
  src/Framework/App.Runtime/src/aspnetcore-runtime-composite.proj
  src/Framework/App.Runtime/src/aspnetcore-runtime.proj
Owners: none

Reorganize checks and add tests
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/WebApplicationBuilder/PublicPartialProgramClassAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/test/WebApplicationBuilder/PublicPartialProgramClassTest.cs
Owners: none

Correct typo in WebApplication.cs (#58708)
  src/DefaultBuilder/src/WebApplication.cs
Owners: @halter73

Provide analyzer for removing unneeded public partial class Program (#58482)
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DiagnosticDescriptors.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Resources.resx
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/WebApplicationBuilder/PublicPartialProgramClassAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/PublicPartialProgramClassFixer.cs
  src/Framework/AspNetCoreAnalyzers/test/WebApplicationBuilder/PublicPartialProgramClassTest.cs
Owners: none

Updated deprecated substr and relaced it with substring.
  src/JSInterop/Microsoft.JSInterop.JS/src/src/Microsoft.JSInterop.ts
  src/SignalR/clients/ts/FunctionalTests/ts/HubConnectionTests.ts
  src/SignalR/clients/ts/signalr/src/Utils.ts
Owners: @dotnet/aspnet-blazor-eng, @BrennanConroy, @halter73

Update jquery.validate to 1.20.0
  src/Identity/UI/src/assets/V5/lib/jquery-validation/dist/jquery.validate.js
  src/Identity/UI/src/assets/V5/lib/jquery-validation/dist/jquery.validate.min.js
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/wwwroot/lib/jquery-validation/dist/jquery.validate.js
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/wwwroot/lib/jquery-validation/dist/jquery.validate.js
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/wwwroot/lib/jquery-validation/dist/jquery.validate.js
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
Owners: none

Don't try to extract the runtime we skipped downloading
  src/Framework/App.Runtime/src/aspnetcore-runtime-composite.proj
  src/Framework/App.Runtime/src/aspnetcore-runtime.proj
Owners: none

Fix flaky ServerShutsDownGracefullyWhenMaxRequestBufferSizeExceeded
  src/Servers/Kestrel/test/FunctionalTests/MaxRequestBufferSizeTests.cs
Owners: @halter73, @BrennanConroy, @JamesNK, @mgravell

Typo
  src/Servers/Kestrel/test/FunctionalTests/MaxRequestBufferSizeTests.cs
Owners: @halter73, @BrennanConroy, @JamesNK, @mgravell

Remove GET_RequestReturnsLargeData_GracefulShutdownDuringRequest_RequestGracefullyCompletes
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http2/Http2RequestTests.cs
Owners: @halter73, @BrennanConroy, @JamesNK, @mgravell

Fix local failure in GET_GracefulServerShutdown_AbortRequestsAfterHostTimeout
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpHelpers.cs
Owners: @halter73, @BrennanConroy, @JamesNK, @mgravell

Updated deprecated substr and relaced it with substring. (#58732)
  src/JSInterop/Microsoft.JSInterop.JS/src/src/Microsoft.JSInterop.ts
  src/SignalR/clients/ts/FunctionalTests/ts/HubConnectionTests.ts
  src/SignalR/clients/ts/signalr/src/Utils.ts
Owners: @dotnet/aspnet-blazor-eng, @BrennanConroy, @halter73

Always prefer the ref assemblies in the transport pack over the impl assemblies when building the ref pack.
  eng/targets/ResolveReferences.targets
Owners: @dotnet/aspnet-build, @wtgodbe

Add the right PackageOverrides.txt entries and make sure we exclude analyzers from the expected PackageOverrides list (they aren't supposed to be there)
  src/Framework/App.Ref/src/Microsoft.AspNetCore.App.Ref.sfxproj
  src/Framework/test/Microsoft.AspNetCore.App.UnitTests.csproj
Owners: none

Enable building all projects using the sharedfx sdk in source-build
  Directory.Build.BeforeCommonTargets.targets
Owners: none

Don't exclude the composite archive from source build.
  src/Framework/App.Runtime/src/aspnetcore-runtime-composite.proj
Owners: none

Write out the aspnetcore_base_runtime.version file
  eng/Build.props
  global.json
  src/Framework/App.Runtime/src/aspnetcore-base-runtime.proj
Owners: @dotnet/aspnet-build, @wtgodbe

Update aspnetcore-base-runtime.proj
  src/Framework/App.Runtime/src/aspnetcore-base-runtime.proj
Owners: none

Instead of throwing there, we emit diagnostics when the type is invalid.
  src/Http/Http.Extensions/gen/DiagnosticDescriptors.cs
  src/Http/Http.Extensions/gen/Resources.resx
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointParameter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/CompileTimeCreationTests.AsParameters.cs
Owners: @BrennanConroy, @halter73, @captainsafia

#54978
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
Owners: @BrennanConroy, @halter73, @captainsafia

update snapshots
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_ComplexTypeArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_NullableStringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_StringArrayParam.generated.txt
Owners: @BrennanConroy, @halter73, @captainsafia

update EndpointParameterEmitter
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointParameterEmitter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/CompileTimeCreationTests.cs
Owners: @BrennanConroy, @halter73, @captainsafia

imporove BindParameterFromProperty(...) readability
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
Owners: @BrennanConroy, @halter73, @captainsafia

get coverage for both compile-time and run-time code gen with a single test case.
  src/Http/Http.Extensions/test/RequestDelegateGenerator/CompileTimeCreationTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.Arrays.cs
Owners: @BrennanConroy, @halter73, @captainsafia

Fix compilation with latest roslyn
  src/Components/Server/test/Circuits/ServerComponentDeserializerTest.cs
  src/Components/test/testassets/BasicTestApp/EventDuringBatchRendering.razor
  src/DataProtection/DataProtection/src/Internal/ContainerUtils.cs
  src/Framework/App.Runtime/src/CompatibilitySuppressions.xml
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/SyntaxNodeExtensions.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/DetectMisplacedLambdaAttribute.cs
  src/Grpc/JsonTranscoding/src/Shared/Server/MethodOptions.cs
  src/Hosting/Hosting/src/GenericHost/GenericWebHostService.cs
  src/Hosting/Hosting/src/Internal/StartupLoader.cs
  src/Hosting/Hosting/src/Internal/WebHost.cs
  src/Http/Routing/test/UnitTests/Tree/TreeRouterTest.cs
  src/Http/WebUtilities/test/FileBufferingReadStreamTests.cs
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/DeveloperExceptionPageMiddlewareImpl.cs
  src/OpenApi/src/Extensions/JsonNodeSchemaExtensions.cs
  src/Servers/Connections.Abstractions/src/ConnectionBuilder.cs
  src/Servers/Connections.Abstractions/src/MultiplexedConnectionBuilder.cs
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Testing/src/xunit/DockerOnlyAttribute.cs
Owners: @dotnet/aspnet-blazor-eng, @JamesNK, @captainsafia, @mgravell, @halter73, @javiercn, @BrennanConroy, @dotnet/minimal-apis

.
  src/Components/test/testassets/BasicTestApp/EventDuringBatchRendering.razor
Owners: @dotnet/aspnet-blazor-eng

Fix compilation with latest roslyn (#58769)
  src/Components/Server/test/Circuits/ServerComponentDeserializerTest.cs
  src/DataProtection/DataProtection/src/Internal/ContainerUtils.cs
  src/Framework/App.Runtime/src/CompatibilitySuppressions.xml
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/SyntaxNodeExtensions.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/DetectMisplacedLambdaAttribute.cs
  src/Grpc/JsonTranscoding/src/Shared/Server/MethodOptions.cs
  src/Hosting/Hosting/src/GenericHost/GenericWebHostService.cs
  src/Hosting/Hosting/src/Internal/StartupLoader.cs
  src/Hosting/Hosting/src/Internal/WebHost.cs
  src/Http/Routing/test/UnitTests/Tree/TreeRouterTest.cs
  src/Http/WebUtilities/test/FileBufferingReadStreamTests.cs
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/DeveloperExceptionPageMiddlewareImpl.cs
  src/OpenApi/src/Extensions/JsonNodeSchemaExtensions.cs
  src/Servers/Connections.Abstractions/src/ConnectionBuilder.cs
  src/Servers/Connections.Abstractions/src/MultiplexedConnectionBuilder.cs
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Testing/src/xunit/DockerOnlyAttribute.cs
Owners: @dotnet/aspnet-blazor-eng, @JamesNK, @captainsafia, @mgravell, @halter73, @javiercn, @BrennanConroy, @dotnet/minimal-apis

Only the supported packages
  build/dependencies.props
  build/sources.props
Owners: none

Remove test for samples
  src/Security/test/AuthSamples.FunctionalTests/AuthSamples.FunctionalTests.csproj
  src/Security/test/AuthSamples.FunctionalTests/ClaimsTransformTests.cs
  src/Security/test/AuthSamples.FunctionalTests/CookiesTests.cs
  src/Security/test/AuthSamples.FunctionalTests/DynamicSchemeTests.cs
  src/Security/test/AuthSamples.FunctionalTests/IdentityExternalClaimsTests.cs
  src/Security/test/AuthSamples.FunctionalTests/PathSchemeSelectionTests.cs
  src/Security/test/AuthSamples.FunctionalTests/TestServices.cs
  src/Security/test/AuthSamples.FunctionalTests/xunit.runner.json
Owners: none

More samples gone
  src/Middleware/Diagnostics/test/FunctionalTests/Diagnostics.FunctionalTests.csproj
  src/Middleware/Diagnostics/test/FunctionalTests/MiddlewareAnalysisSampleTest.cs
Owners: @BrennanConroy

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/**/PublicAPI.*Shipped.txt                                                        @dotnet/aspnet-api-review
/global.json                                                                      @dotnet/aspnet-build @wtgodbe
/.azure/                                                                          @dotnet/aspnet-build @wtgodbe
/.azuredevops/                                                                    @dotnet/aspnet-build @wtgodbe
/.config/                                                                         @dotnet/aspnet-build @wtgodbe
/.devcontainer/                                                                   @captainsafia
/.vscode/                                                                         @captainsafia
/.github/                                                                         @dotnet/aspnet-build @wtgodbe
/.github/*_TEMPLATE/                                                              @dotnet/aspnet-build @wtgodbe @mkArtakMSFT
/.github/workflows/                                                               @dotnet/aspnet-build @wtgodbe
/docs/                                                                            @captainsafia @mkArtakMSFT
/eng/                                                                             @dotnet/aspnet-build @wtgodbe
/eng/common/                                                                      @dotnet-maestro-bot
/eng/Versions.props                                                               @dotnet-maestro-bot @dotnet/aspnet-build @wtgodbe
/eng/Version.Details.xml                                                          @dotnet-maestro-bot @dotnet/aspnet-build @wtgodbe
/eng/SourceBuild*                                                                 @dotnet/source-build
/src/Caching/                                                                     @captainsafia @halter73 @mgravell
/src/Caching/**/PublicAPI.*Shipped.txt                                            @dotnet/aspnet-api-review @captainsafia @halter73 @mgravell
/src/Components/                                                                  @dotnet/aspnet-blazor-eng
/src/Components/**/PublicAPI.*Shipped.txt                                         @dotnet/aspnet-api-review @dotnet/aspnet-blazor-eng
/src/DefaultBuilder/                                                              @halter73
/src/DefaultBuilder/**/PublicAPI.*Shipped.txt                                     @dotnet/aspnet-api-review
/src/Grpc/                                                                        @JamesNK @captainsafia @mgravell
/src/Grpc/**/PublicAPI.*Shipped.txt                                               @dotnet/aspnet-api-review @JamesNK @captainsafia @mgravell
/src/Hosting/                                                                     @halter73
/src/Hosting/**/PublicAPI.*Shipped.txt                                            @dotnet/aspnet-api-review
/src/Http/                                                                        @BrennanConroy @halter73 @captainsafia
/src/Http/**/PublicAPI.*Shipped.txt                                               @dotnet/aspnet-api-review @BrennanConroy
/src/Http/Routing/                                                                @javiercn
/src/Http/Routing/**/PublicAPI.*Shipped.txt                                       @dotnet/aspnet-api-review @javiercn
/src/HttpClientFactory/                                                           @captainsafia @halter73
/src/HttpClientFactory/**/PublicAPI.*Shipped.txt                                  @dotnet/aspnet-api-review @captainsafia @halter73
/src/Installers/                                                                  @dotnet/aspnet-build @wtgodbe
/src/JSInterop/                                                                   @dotnet/aspnet-blazor-eng
/src/Middleware/                                                                  @BrennanConroy
/src/Middleware/**/PublicAPI.*Shipped.txt                                         @dotnet/aspnet-api-review @BrennanConroy
/src/Mvc/                                                                         @dotnet/minimal-apis
/src/Mvc/Mvc.ApiExplorer                                                          @captainsafia @halter73 @brunolins16
/src/Mvc/**/PublicAPI.*Shipped.txt                                                @dotnet/aspnet-api-review @dotnet/aspnet-blazor-eng
/src/OpenApi                                                                      @captainsafia @dotnet/minimal-apis
/src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/        @dotnet/aspnet-blazor-eng
/src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/  @dotnet/aspnet-blazor-eng
/src/Security/**/PublicAPI.*Shipped.txt                                           @dotnet/aspnet-api-review
/src/Servers/                                                                     @halter73 @BrennanConroy @JamesNK @mgravell
/src/Servers/**/PublicAPI.*Shipped.txt                                            @dotnet/aspnet-api-review @halter73 @BrennanConroy @JamesNK @mgravell
/src/SignalR/                                                                     @BrennanConroy @halter73
/src/SignalR/**/PublicAPI.*Shipped.txt                                            @dotnet/aspnet-api-review @BrennanConroy @halter73
/src/submodules                                                                   @dotnet/aspnet-build @wtgodbe
