Repository dotnet/aspnetcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/aspnet-build, @wtgodbe, @captainsafia, @mkArtakMSFT, @dotnet/source-build, @halter73, @mgravell, @dotnet/aspnet-blazor-eng, @JamesNK, @BrennanConroy, @dotnet/minimal-apis, @dotnet/aspnet-api-review, @Rick-Anderson, @tdykstra

Make flaky focus tests more deterministic and more verbose.
  src/Components/test/E2ETest/ServerRenderingTests/FocusOnNavigateTest.cs
  src/Shared/E2ETesting/WaitAssert.cs
Owners: @dotnet/aspnet-blazor-eng

Fix MD linting in area-owners.md
  docs/area-owners.md
Owners: @captainsafia, @mkArtakMSFT

Disable buffering and add byte[] handling
  src/Http/Http.Results/src/ServerSentEventsResult.cs
  src/Http/Http.Results/test/ServerSentEventsResultTests.cs
Owners: @BrennanConroy, @halter73, @captainsafia

Fix MD linting in area-owners.md (#60632)
  docs/area-owners.md
Owners: @captainsafia, @mkArtakMSFT

Add a new UseKestel API to the WebApplicationFactory
  src/Mvc/Mvc.Testing/src/Microsoft.AspNetCore.Mvc.Testing.csproj
  src/Mvc/Mvc.Testing/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Testing/src/Resources.resx
  src/Mvc/Mvc.Testing/src/WebApplicationFactory.cs
Owners: @dotnet/minimal-apis

add caching for GetHeaderSplit MethodInfo
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
Owners: @BrennanConroy, @halter73, @captainsafia

Fix focus tests - change th order, first push to the history, then do enhanced load.
  src/Components/Web.JS/src/Services/NavigationEnhancement.ts
Owners: @dotnet/aspnet-blazor-eng

Fix - browser handles the history if the enhanced load is done after the history update.
  src/Components/Web.JS/src/Services/NavigationEnhancement.ts
Owners: @dotnet/aspnet-blazor-eng

Make test path checking friendly to dotnet.boot.js
  src/Components/test/E2ETest/Tests/BootResourceCachingTest.cs
Owners: @dotnet/aspnet-blazor-eng

Scroll in enhanced navigation behaves same as in client side routing (#60296)
  src/Components/Web.JS/src/Rendering/Renderer.ts
  src/Components/Web.JS/src/Services/NavigationEnhancement.ts
  src/Components/test/E2ETest/Infrastructure/WebDriverExtensions/WebDriverExtensions.cs
  src/Components/test/E2ETest/ServerRenderingTests/EnhancedNavigationTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/EnhancedNavigationTestUtil.cs
  src/Components/test/E2ETest/ServerRenderingTests/FocusOnNavigateTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/EnhancedNav/ScrollTestLandingPage.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/EnhancedNav/ScrollTestLandingPageNoStreaming.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/EnhancedNav/ScrollTestNextPage.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/EnhancedNav/ScrollTestNextPageNoStreaming.razor
  src/Shared/E2ETesting/WaitAssert.cs
Owners: @dotnet/aspnet-blazor-eng

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/global.json                                                                      @dotnet/aspnet-build @wtgodbe
/.azure/                                                                          @dotnet/aspnet-build @wtgodbe
/.azuredevops/                                                                    @dotnet/aspnet-build @wtgodbe
/.config/                                                                         @dotnet/aspnet-build @wtgodbe
/.devcontainer/                                                                   @captainsafia
/.vscode/                                                                         @captainsafia
/.github/                                                                         @dotnet/aspnet-build @wtgodbe
/.github/*_TEMPLATE/                                                              @dotnet/aspnet-build @wtgodbe @mkArtakMSFT
/.github/workflows/                                                               @dotnet/aspnet-build @wtgodbe
/docs/                                                                            @captainsafia @mkArtakMSFT
/eng/                                                                             @dotnet/aspnet-build @wtgodbe
/eng/Versions.props                                                               @dotnet/aspnet-build @wtgodbe
/eng/Version.Details.xml                                                          @dotnet/aspnet-build @wtgodbe
/eng/SourceBuild*                                                                 @dotnet/source-build
/src/Caching/                                                                     @captainsafia @halter73 @mgravell
/src/Components/                                                                  @dotnet/aspnet-blazor-eng
/src/DefaultBuilder/                                                              @halter73
/src/Grpc/                                                                        @JamesNK @captainsafia @mgravell
/src/Hosting/                                                                     @halter73
/src/Http/                                                                        @BrennanConroy @halter73 @captainsafia
/src/Http/Routing/                                                                @halter73
/src/HttpClientFactory/                                                           @captainsafia @halter73
/src/Installers/                                                                  @dotnet/aspnet-build @wtgodbe
/src/JSInterop/                                                                   @dotnet/aspnet-blazor-eng
/src/Middleware/                                                                  @BrennanConroy
/src/Mvc/                                                                         @dotnet/minimal-apis
/src/Mvc/Mvc.ApiExplorer                                                          @captainsafia @halter73
/src/OpenApi                                                                      @captainsafia @dotnet/minimal-apis
/src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/        @dotnet/aspnet-blazor-eng
/src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/  @dotnet/aspnet-blazor-eng
/src/Security/                                                                    @halter73
/src/Servers/                                                                     @halter73 @BrennanConroy @JamesNK @mgravell
/src/SignalR/                                                                     @BrennanConroy @halter73
/src/submodules                                                                   @dotnet/aspnet-build @wtgodbe
/**/PublicAPI.*Shipped.txt                                                        @dotnet/aspnet-api-review @Rick-Anderson @tdykstra
