Repository dotnet/aspnetcore, pull requests merged in 2018-11, with the labels that each got.

#4004 Remove assemblies from the shared framework
  src/Framework/Microsoft.AspNetCore.App/Microsoft.AspNetCore.App.props
  test/Cli.FunctionalTests/Templates/WebTemplate.cs
Labels: breaking-change

#4066 [2.2.1] Use non-pinnable buffer for zero byte read
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketReceiver.cs
Labels: servicing-approved

#4234 Remove empty Microsoft.AspNetCore.Server.Kestrel.Https assembly
  build/artifacts.props
  src/Framework/Microsoft.AspNetCore.App.props
  src/Servers/Kestrel.sln
  src/Servers/Kestrel/Https/src/Microsoft.AspNetCore.Server.Kestrel.Https.csproj
  src/Servers/Kestrel/Https/src/Properties/AssemblyInfo.cs
  src/Servers/Kestrel/Https/src/baseline.netcore.json
  src/Servers/Kestrel/Kestrel/src/Microsoft.AspNetCore.Server.Kestrel.csproj
  src/Servers/Kestrel/perf/Kestrel.Performance/Microsoft.AspNetCore.Server.Kestrel.Performance.csproj
  src/Servers/Kestrel/samples/SampleApp/SampleApp.csproj
  src/Servers/Kestrel/test/InMemory.FunctionalTests/InMemory.FunctionalTests.csproj
  src/Servers/Kestrel/test/Interop.FunctionalTests/Interop.FunctionalTests.csproj
  src/Servers/Kestrel/test/Libuv.BindTests/Libuv.BindTests.csproj
  src/Servers/Kestrel/test/Libuv.FunctionalTests/Libuv.FunctionalTests.csproj
  src/Servers/Kestrel/test/Sockets.BindTests/Sockets.BindTests.csproj
  src/Servers/Kestrel/test/Sockets.FunctionalTests/Sockets.FunctionalTests.csproj
Labels: breaking-change

#4075 [Kestrel] Re-enable trace-level test logging
  src/Servers/Kestrel/Core/test/Microsoft.AspNetCore.Server.Kestrel.Core.Tests.csproj
  src/Servers/Kestrel/Kestrel/test/Microsoft.AspNetCore.Server.Kestrel.Tests.csproj
  src/Servers/Kestrel/test/BindTests/Properties/AssemblyInfo.cs
  src/Servers/Kestrel/test/FunctionalTests/Properties/AssemblyInfo.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Properties/AssemblyInfo.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Properties/AssemblyInfo.cs
Labels: area-servers

#4322 Fix 2.2 benchmarks
  src/SignalR/benchmarkapps/BenchmarkServer/BenchmarkServer.csproj
  src/SignalR/benchmarkapps/BenchmarkServer/signalr.json
Labels: area-signalr
