Repository dotnet/aspnetcore, pull requests merged in 2019-02, with the labels that each got.

#7163 Remove Obsolete WebSocketMiddleware constructor
  src/Middleware/WebSockets/src/WebSocketMiddleware.cs
Labels: area-websockets

#7169 Add readonly modifier to readonly structs
  src/Components/Components/src/MarkupString.cs
  src/Features/JsonPatch/src/Internal/ListAdapter.cs
  src/Features/JsonPatch/src/Internal/ParsedPath.cs
  src/Http/Http.Abstractions/src/FragmentString.cs
  src/Http/Http.Abstractions/src/HostString.cs
  src/Http/Http.Abstractions/src/Internal/HeaderSegment.cs
  src/Http/Http.Abstractions/src/Internal/HeaderSegmentCollection.cs
  src/Http/Http.Abstractions/src/PathString.cs
  src/Http/Http.Abstractions/src/QueryString.cs
  src/Http/Http.Abstractions/src/Routing/EndpointMetadataCollection.cs
  src/Http/Routing.Abstractions/src/RouteData.cs
  src/Http/Routing/src/DecisionTree/DecisionCriterionValue.cs
  src/Http/Routing/src/InlineRouteParameterParser.cs
  src/Http/Routing/src/Internal/BufferValue.cs
  src/Http/Routing/src/Internal/OutboundMatchResult.cs
  src/Mvc/samples/MvcSandbox/HealthChecks/HealthChecksEndpointRouteBuilderExtensions.cs
  src/Mvc/samples/MvcSandbox/Startup.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Razor/RazorPageBase.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Abstractions.Test/ModelBinding/ModelMetadataTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Core.Test/ModelBinding/Binders/ComplexTypeModelBinderTest.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1ParsingHandler.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/HPack/HeaderField.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2PeerSetting.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/IOQueue.cs
  src/Shared/ObjectMethodExecutor/AwaitableInfo.cs
  src/Shared/ObjectMethodExecutor/CoercedAwaitableInfo.cs
  src/Shared/ObjectMethodExecutor/ObjectMethodExecutorAwaitable.cs
Labels: area-servers

#7094 Remove reconnect from C++ Client
  src/SignalR/clients/cpp/include/signalrclient/connection.h
  src/SignalR/clients/cpp/include/signalrclient/connection_state.h
  src/SignalR/clients/cpp/include/signalrclient/hub_connection.h
  src/SignalR/clients/cpp/include/signalrclient/hub_exception.h
  src/SignalR/clients/cpp/src/signalrclient/connection.cpp
  src/SignalR/clients/cpp/src/signalrclient/connection_impl.cpp
  src/SignalR/clients/cpp/src/signalrclient/connection_impl.h
  src/SignalR/clients/cpp/src/signalrclient/hub_connection.cpp
  src/SignalR/clients/cpp/src/signalrclient/hub_connection_impl.cpp
  src/SignalR/clients/cpp/src/signalrclient/hub_connection_impl.h
  src/SignalR/clients/cpp/src/signalrclient/url_builder.cpp
  src/SignalR/clients/cpp/src/signalrclient/url_builder.h
  src/SignalR/clients/cpp/test/signalrclient-e2e-tests/hub_connection_tests.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/connection_impl_tests.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/hub_connection_impl_tests.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/hub_exception_tests.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/internal_hub_proxy_tests.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/request_sender_tests.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/test_utils.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/websocket_transport_tests.cpp
Labels: area-signalr

#6784 Replace unsafe code with Span<char>
  src/Http/Http/src/Features/HttpRequestIdentifierFeature.cs
  src/Middleware/ResponseCaching/src/Internal/FastGuid.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/CorrelationIdGenerator.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/StringUtilities.cs
Labels: area-servers

#6957 Fix ReplaceTokens bug in AttributeRouteModel
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/ApplicationModels/AttributeRouteModel.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Core.Test/ApplicationModels/AttributeRouteModelTests.cs
Labels: area-mvc

#7144 Allow test projects to run standalone
  src/Hosting/Server.IntegrationTesting/src/Deployers/ApplicationDeployer.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/AppOfflineTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/BasicAuthTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/CommonStartupTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/ConfigurationChangeTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/HttpsTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/EnvironmentVariableTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/ErrorPagesTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/EventLogTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/FrebTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/HelloWorldTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/LogPipeTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/ShutdownTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/StartupExceptionTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/StartupTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/LogFileTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/MultiApplicationTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/OutOfProcess/AspNetCorePortTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/OutOfProcess/GlobalVersionTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/PublishedApplicationPublisher.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/PublishedSitesFixture.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Utilities/Helpers.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Utilities/IISTestSiteFixture.cs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/Inprocess/StdOutRedirectionTests.cs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/ServicesTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/IISExpress.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/InProcess/AuthenticationTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/InProcess/IISExpressShutdownTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/UpgradeFeatureDetectionTests.cs
  src/Servers/IIS/IIS/test/testassets/InProcessForwardsCompatWebSite/InProcessWebSite.csproj
  src/Servers/IIS/IntegrationTesting.IIS/src/IISDeploymentParameters.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISExpressDeployer.cs
  src/Servers/IIS/build/testsite.props
Labels: area-servers

#7217 Rename IHttpContextContainer to IDefaultHttpContextContainer
  src/Http/Http/src/DefaultHttpContextFactory.cs
  src/Http/Http/src/HttpContextFactory.cs
  src/Http/Http/src/IDefaultHttpContextContainer.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
Labels: area-servers

#7208 Remove benchmark apps from Mvc.sln
  src/Mvc/Mvc.sln
Labels: area-mvc

#6971 Introduce CircuitHandler to handle circuit lifetime events
  src/Components/Server/src/Builder/RazorComponentsApplicationBuilderExtensions.cs
  src/Components/Server/src/Builder/ServerSideComponentsApplicationBuilder.cs
  src/Components/Server/src/Circuits/Circuit.cs
  src/Components/Server/src/Circuits/CircuitHandler.cs
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/Server/src/Circuits/DefaultCircuitFactory.cs
  src/Components/Server/src/Circuits/DefaultCircuitFactoryOptions.cs
  src/Components/Server/src/Circuits/RemoteUriHelper.cs
  src/Components/Server/src/ComponentsHub.cs
  src/Components/Server/src/DependencyInjection/RazorComponentsServiceCollectionExtensions.cs
  src/Components/Server/src/Microsoft.AspNetCore.Components.Server.csproj
  src/Components/Server/src/Properties/AssemblyInfo.cs
  src/Components/Server/test/Circuits/CircuitHostTest.cs
  src/Components/Server/test/Microsoft.AspNetCore.Components.Server.Tests.csproj
  src/Components/test/testassets/ComponentsApp.Server/LoggingCircuitHandler.cs
  src/Components/test/testassets/ComponentsApp.Server/Startup.cs
  src/Components/test/testassets/TestServer/Startup.cs
Labels: area-mvc

#7244 More logs in forwardinghandler.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/exceptions.h
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/forwardinghandler.cpp
Labels: area-servers

#7143 Make GetMemory use MaxBufferSize for MemoryPool
  src/Http/Http/src/StreamPipeWriter.cs
  src/Http/Http/test/PipeWriterTests.cs
  src/Http/Http/test/StreamPipeWriterTests.cs
  src/Http/Http/test/TestMemoryPool.cs
Labels: area-servers

#7242 Add component detection step to builds
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#7228 Kill processes after completing build and before publishing test results or artifacts
  .azure/pipelines/ci-official.yml
  .azure/pipelines/jobs/default-build.yml
  eng/scripts/KillProcesses.ps1
  eng/scripts/KillProcesses.sh
Labels: area-infrastructure

#7152 Reduce number of SauceLabs browsers to 3
  src/SignalR/clients/ts/FunctionalTests/scripts/karma.sauce.conf.js
Labels: area-signalr

#7234 Strong-name the dotnet-blazor CLI tool. Fixes #1501
  eng/Workarounds.targets
  src/Components/Blazor/Cli/src/Microsoft.AspNetCore.Blazor.Cli.csproj
  src/Components/Blazor/Cli/src/Properties/AssemblyInfo.cs
  src/Components/Blazor/Cli/src/Server/Program.cs
Labels: area-mvc

#7248 Remove obsolete publishing targets and tasks
  build/Maestro/Maestro.csproj
  build/Publish.targets
  build/publish/Publish.csproj
  build/repo.targets
  build/tasks/PublishToAzureBlob.cs
  build/tasks/RepoTasks.csproj
  build/tasks/RepoTasks.tasks
Labels: area-infrastructure

#7260 Use SetPlatform in native project references
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMIISExpressV2/AncmIISExpressV2.wixproj
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMV2/AncmV2.wixproj
  src/Installers/Windows/AspNetCoreModule-Setup/Directory.Build.props
Labels: area-servers

#7254 Reenable tests that are though to be fixed
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/StartupTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/ClientDisconnectTests.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISExpressDeployer.cs
Labels: area-servers

#7179 Handle PermanentRedirects in PrerenderTagHelpers
  src/Middleware/SpaServices/src/Prerendering/PrerenderTagHelper.cs
Labels: area-mvc

#7105 Replace JObject with JsonDocument in Authentication
  src/MusicStore/samples/MusicStore/ForTesting/Mocks/Facebook/TestFacebookEvents.cs
  src/MusicStore/samples/MusicStore/ForTesting/Mocks/Google/TestGoogleEvents.cs
  src/MusicStore/samples/MusicStore/ForTesting/Mocks/MicrosoftAccount/TestMicrosoftAccountEvents.cs
  src/Security/Authentication/.gitignore
  src/Security/Authentication/Cookies/samples/CookieSample/Properties/launchSettings.json
  src/Security/Authentication/Cookies/samples/CookieSessionSample/Properties/launchSettings.json
  src/Security/Authentication/Core/src/JsonDocumentAuthExtensions.cs
  src/Security/Authentication/Facebook/src/FacebookHandler.cs
  src/Security/Authentication/Google/src/GoogleHandler.cs
  src/Security/Authentication/JwtBearer/samples/JwtBearerSample/Properties/launchSettings.json
  src/Security/Authentication/JwtBearer/samples/JwtBearerSample/Startup.cs
  src/Security/Authentication/MicrosoftAccount/src/MicrosoftAccountHandler.cs
  src/Security/Authentication/MicrosoftAccount/src/MicrosoftAccountOptions.cs
  src/Security/Authentication/OAuth/src/ClaimAction.cs
  src/Security/Authentication/OAuth/src/ClaimActionCollectionMapExtensions.cs
  src/Security/Authentication/OAuth/src/CustomJsonClaimAction.cs
  src/Security/Authentication/OAuth/src/DeleteClaimAction.cs
  src/Security/Authentication/OAuth/src/Events/OAuthCreatingTicketContext.cs
  src/Security/Authentication/OAuth/src/JsonKeyClaimAction.cs
  src/Security/Authentication/OAuth/src/JsonSubKeyClaimAction.cs
  src/Security/Authentication/OAuth/src/MapAllClaimsAction.cs
  src/Security/Authentication/OAuth/src/Microsoft.AspNetCore.Authentication.OAuth.csproj
  src/Security/Authentication/OAuth/src/OAuthHandler.cs
  src/Security/Authentication/OAuth/src/OAuthTokenResponse.cs
  src/Security/Authentication/OpenIdConnect/samples/OpenIdConnect.AzureAdSample/Properties/launchSettings.json
  src/Security/Authentication/OpenIdConnect/samples/OpenIdConnectSample/Properties/launchSettings.json
  src/Security/Authentication/OpenIdConnect/samples/OpenIdConnectSample/Startup.cs
  src/Security/Authentication/OpenIdConnect/src/Events/UserInformationReceivedContext.cs
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectHandler.cs
  src/Security/Authentication/OpenIdConnect/src/UniqueJsonKeyClaimAction.cs
  src/Security/Authentication/Twitter/src/TwitterCreatingTicketContext.cs
  src/Security/Authentication/Twitter/src/TwitterHandler.cs
  src/Security/Authentication/WsFederation/samples/WsFedSample/Properties/launchSettings.json
  src/Security/Authentication/samples/SocialSample/Properties/launchSettings.json
  src/Security/Authentication/samples/SocialSample/Startup.cs
  src/Security/Authentication/samples/SocialSample/web.config
  src/Security/Authentication/test/ClaimActionTests.cs
  src/Security/Authentication/test/FacebookTests.cs
  src/Security/Authentication/test/GoogleTests.cs
  src/Security/Authentication/test/MicrosoftAccountTests.cs
Labels: area-security, breaking-change

#7205 Auto-set "Content-Length: 0" on 205 responses
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseTests.cs
Labels: area-servers

#7252 Add support for suspending ANCM startup
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/applicationinfo.cpp
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/StartupTests.cs
Labels: area-servers

#7091 Add DisposeAsync support to WebHost and RequestServices
  src/Hosting/Hosting/src/Internal/WebHost.cs
  src/Hosting/Hosting/src/WebHostExtensions.cs
  src/Hosting/Hosting/test/WebHostTests.AsyncDisposable.cs
  src/Hosting/Hosting/test/WebHostTests.cs
  src/Http/Http.Abstractions/src/HttpResponse.cs
  src/Http/Http/src/Features/RequestServicesFeature.cs
  src/Http/Http/test/DefaultHttpContextTests.cs
Labels: area-hosting

#7259 Re-enable h2spec tests with more diagnostics
  src/Servers/Kestrel/test/Interop.FunctionalTests/H2SpecCommands.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/H2SpecTests.cs
Labels: area-servers

#7287 Updating the DotNetLogo bitmaps' purple color to .Net core's latest branding
  src/Installers/Windows/SharedFrameworkBundle/DotNetLogo.bmp
  src/Installers/Windows/WindowsHostingBundle/DotNetLogo.bmp
Labels: area-platform

#7293 Install the .NET Core SDK into the repo root instead of UserProfile and 'install' copy of AspNetCore shared framework
  Directory.Build.props
  activate.ps1
  activate.sh
  build.ps1
  build.sh
  build/repo.props
  docs/BuildFromSource.md
  src/Framework/src/SharedFx.targets
  src/ProjectTemplates/build.cmd
  src/ProjectTemplates/test/ProjectTemplates.Tests.csproj
  src/ProjectTemplates/test/RazorComponentsTemplateTest.cs
  src/Servers/IIS/build/testsite.props
  startvs.cmd
Labels: area-infrastructure

#7318 Add link to ASP.NET API Versioning project
  src/Mvc/README.md
Labels: area-mvc

#7240 [Components] Async issues alternative
  src/Components/Blazor/Blazor/src/Rendering/WebAssemblyRenderer.cs
  src/Components/Blazor/Build/test/RazorIntegrationTestBase.cs
  src/Components/Browser.JS/src/package-lock.json
  src/Components/Components/perf/RenderTreeDiffBuilderBenchmark.cs
  src/Components/Components/src/RenderHandle.cs
  src/Components/Components/src/Rendering/HtmlRenderer.cs
  src/Components/Components/src/Rendering/IDispatcher.cs
  src/Components/Components/src/Rendering/Renderer.cs
  src/Components/Components/src/Rendering/RendererSynchronizationContext.cs
  src/Components/Components/test/CascadingParameterStateTest.cs
  src/Components/Components/test/CascadingParameterTest.cs
  src/Components/Components/test/LayoutTest.cs
  src/Components/Components/test/RenderTreeBuilderTest.cs
  src/Components/Components/test/RenderTreeDiffBuilderTest.cs
  src/Components/Components/test/RendererTest.cs
  src/Components/Components/test/Rendering/HtmlRendererTests.cs
  src/Components/Components/test/Rendering/RendererSynchronizationContextTests.cs
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/Server/src/Circuits/DefaultCircuitFactory.cs
  src/Components/Server/src/Circuits/RemoteRenderer.cs
  src/Components/Server/test/Circuits/CircuitHostTest.cs
  src/Components/Server/test/Circuits/RenderBatchWriterTest.cs
  src/Components/Shared/test/AutoRenderComponent.cs
  src/Components/Shared/test/TestRenderer.cs
  src/Components/test/E2ETest/ServerExecutionTests/ServerComponentRenderingTest.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.ViewFeatures/HtmlHelperComponentExtensions.cs
Labels: area-mvc

#7249 Remove misleading websocket error log
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/outprocessapplication.cpp
Labels: area-servers

#7334 Remove ANCMV1 from everywhere
  src/DefaultBuilder/test/Microsoft.AspNetCore.FunctionalTests/WebHostFunctionalTests.cs
  src/Hosting/Server.IntegrationTesting/src/Common/ANCMVersion.cs
  src/Hosting/Server.IntegrationTesting/src/Common/DeploymentParameters.cs
  src/Hosting/Server.IntegrationTesting/src/Http.config
  src/Hosting/Server.IntegrationTesting/src/TestMatrix.cs
  src/Hosting/Server.IntegrationTesting/src/TestVariant.cs
  src/MusicStore/samples/MusicStore/Properties/launchSettings.json
  src/MusicStore/test/MusicStore.E2ETests/NtlmAuthentationTest.cs
  src/MusicStore/test/MusicStore.E2ETests/OpenIdConnectTests.cs
  src/MusicStore/test/MusicStore.E2ETests/PublishAndRunTests.cs
  src/MusicStore/test/MusicStore.E2ETests/SmokeTests.cs
  src/Servers/IIS/IIS/benchmarks/IIS.Performance/StartupTimeBenchmark.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/BasicAuthTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/ClientCertificateTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/CommonStartupTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/HttpsTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/LogFileTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/OutOfProcess/AspNetCorePortTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/OutOfProcess/HelloWorldTest.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/PublishedSitesFixture.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Utilities/EventLogHelpers.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Utilities/IISTestSiteFixture.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/WindowsAuthTests.cs
  src/Servers/IIS/IIS/test/IIS.BackwardsCompatibility.FunctionalTests/IIS.BackwardsCompatibility.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/OutOfProcess/NtlmAuthentationTest.cs
  src/Servers/IIS/IISIntegration/samples/IISSample/web.config
  src/Servers/IIS/IntegrationTesting.IIS/src/IISDeployer.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISDeployerBase.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISDeploymentResult.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISExpressDeployer.cs
  src/Servers/IIS/build/applicationhost.config
  src/Servers/IIS/build/applicationhost.iis.config
  src/Servers/IIS/build/launchSettings.json
  src/Servers/test/FunctionalTests/HelloWorldTest.cs
  src/Servers/test/FunctionalTests/NtlmAuthenticationTest.cs
  src/Servers/test/FunctionalTests/ResponseCompressionTests.cs
  src/Servers/test/FunctionalTests/ResponseTests.cs
  src/SignalR/clients/ts/FunctionalTests/web.config
  src/SignalR/samples/SignalRSamples/web.config
  src/SignalR/samples/SocialWeather/web.config
Labels: area-servers

#7207 Fix typo in HttpSysOptions.cs
  src/Servers/HttpSys/src/HttpSysOptions.cs
Labels: area-servers

#6728 [WIP] Run helix tests on master
  .azure/pipelines/helix-test.yml
  Directory.Build.props
  Directory.Build.targets
  NuGet.config
  build/repo.targets
  eng/targets/CSharp.Common.targets
  src/Azure/AzureAD/test/FunctionalTests/Microsoft.AspNetCore.Authentication.AzureAD.FunctionalTests.csproj
  src/Components/Blazor/Build/test/Microsoft.AspNetCore.Blazor.Build.Tests.csproj
  src/Components/Blazor/Build/test/RuntimeDependenciesResolverTest.cs
  src/Components/Server/test/Microsoft.AspNetCore.Components.Server.Tests.csproj
  src/Components/test/E2ETest/Microsoft.AspNetCore.Components.E2ETests.csproj
  src/DataProtection/Extensions/test/DataProtectionProviderTests.cs
  src/DataProtection/Extensions/test/Microsoft.AspNetCore.DataProtection.Extensions.Tests.csproj
  src/DefaultBuilder/test/Microsoft.AspNetCore.FunctionalTests/Microsoft.AspNetCore.FunctionalTests.csproj
  src/Hosting/Hosting/test/Microsoft.AspNetCore.Hosting.Tests.csproj
  src/Hosting/Hosting/test/WebHostTests.cs
  src/Hosting/test/FunctionalTests/Microsoft.AspNetCore.Hosting.FunctionalTests.csproj
  src/Http/Routing/test/UnitTests/EndpointNameAddressSchemeTest.cs
  src/Http/Routing/test/UnitTests/Internal/DfaGraphWriterTest.cs
  src/Http/Routing/test/UnitTests/Matching/DefaultEndpointSelectorTest.cs
  src/Identity/ApiAuthorization.IdentityServer/test/Configuration/ConfigureSigningCredentialsTests.cs
  src/Identity/ApiAuthorization.IdentityServer/test/Configuration/SigningKeysLoaderTests.cs
  src/Identity/ApiAuthorization.IdentityServer/test/Microsoft.AspNetCore.ApiAuthorization.IdentityServer.Tests.csproj
  src/Identity/test/Identity.FunctionalTests/Microsoft.AspNetCore.Identity.FunctionalTests.csproj
  src/Identity/test/Identity.Test/IdentityUIScriptsTest.cs
  src/Identity/test/Identity.Test/Microsoft.AspNetCore.Identity.Test.csproj
  src/Middleware/CORS/test/FunctionalTests/FunctionalTests.csproj
  src/MusicStore/test/MusicStore.E2ETests/MusicStore.E2ETests.csproj
  src/Mvc/test/Microsoft.AspNetCore.Mvc.FunctionalTests/Microsoft.AspNetCore.Mvc.FunctionalTests.csproj
  src/Mvc/test/Mvc.Analyzers.Test/Mvc.Analyzers.Test.csproj
  src/Mvc/test/Mvc.Api.Analyzers.Test/Mvc.Api.Analyzers.Test.csproj
  src/ProjectTemplates/test/ProjectTemplates.Tests.csproj
  src/Security/test/AuthSamples.FunctionalTests/AuthSamples.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/IISExpress.FunctionalTests.csproj
  src/Servers/Kestrel/Kestrel/test/GeneratedCodeTests.cs
  src/Servers/Kestrel/Kestrel/test/Microsoft.AspNetCore.Server.Kestrel.Tests.csproj
  src/Servers/Kestrel/test/BindTests/AddressRegistrationTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/InMemory.FunctionalTests.csproj
  src/Servers/Kestrel/test/Interop.FunctionalTests/H2SpecTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Interop.FunctionalTests.csproj
  src/Servers/Kestrel/test/Libuv.BindTests/Libuv.BindTests.csproj
  src/Servers/Kestrel/test/Sockets.BindTests/Sockets.BindTests.csproj
  src/Servers/test/FunctionalTests/ServerComparison.FunctionalTests.csproj
  src/Tools/FirstRunCertGenerator/test/CertificateManagerTests.cs
  src/Tools/FirstRunCertGenerator/test/Microsoft.AspNetCore.DeveloperCertificates.XPlat.Tests.csproj
  src/Tools/dotnet-watch/test/dotnet-watch.Tests.csproj
  test/helix.proj
  test/vstest/runtests.cmd
  test/vstest/runtests.sh
  test/xunit/SkipOnHelixAttribute.cs
  test/xunit/runtests.cmd
Labels: area-infrastructure

#7335 Remove Microsoft.AspNetCore.All from site extension description
  src/SiteExtensions/Runtime/Microsoft.AspNetCore.Runtime.SiteExtension.pkgproj
Labels: area-servers

#7323 Fix flaky CanUpgradeRequestWithConnectionKeepAliveUpgradeHeader test
  src/Servers/Kestrel/shared/test/MockSystemClock.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTests.cs
Labels: area-servers

#7339 Unset reserved bit when setting 31 bit uint values
  src/Servers/Kestrel/Core/src/Internal/Http2/Bitshifter.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/Core/test/BitShifterTests.cs
  src/Servers/Kestrel/Core/test/Http2FrameWriterTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
Labels: area-servers

#7358 C++ client: Skip flaky tests
  src/SignalR/clients/cpp/test/signalrclienttests/connection_impl_tests.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/hub_connection_impl_tests.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/websocket_transport_tests.cpp
Labels: area-signalr

#7354 Remove extraneous call to GetMemory in BufferWriter
  src/Servers/Kestrel/Core/src/Internal/BufferWriter.cs
Labels: area-servers

#7364 Regenerate the stamp once if there's a token collision in test
  src/Identity/Specification.Tests/src/UserManagerSpecificationTests.cs
Labels: area-identity

#7353 Reorganize helix files
  Directory.Build.targets
  build/repo.targets
  eng/helix/helix.proj
  eng/helix/vstest/runtests.cmd
  eng/helix/vstest/runtests.sh
  eng/helix/xunit/runtests.cmd
  src/Components/Blazor/Build/test/Microsoft.AspNetCore.Blazor.Build.Tests.csproj
  src/DataProtection/Extensions/test/Microsoft.AspNetCore.DataProtection.Extensions.Tests.csproj
  src/Hosting/Hosting/test/Microsoft.AspNetCore.Hosting.Tests.csproj
  src/Identity/ApiAuthorization.IdentityServer/test/Microsoft.AspNetCore.ApiAuthorization.IdentityServer.Tests.csproj
  src/Identity/test/Identity.Test/Microsoft.AspNetCore.Identity.Test.csproj
  src/Servers/Kestrel/Kestrel/test/Microsoft.AspNetCore.Server.Kestrel.Tests.csproj
  src/Servers/Kestrel/test/Interop.FunctionalTests/Interop.FunctionalTests.csproj
  src/Servers/Kestrel/test/Libuv.BindTests/Libuv.BindTests.csproj
  src/Servers/Kestrel/test/Sockets.BindTests/Sockets.BindTests.csproj
  src/Shared/test/SkipOnHelixAttribute.cs
  src/Tools/FirstRunCertGenerator/test/Microsoft.AspNetCore.DeveloperCertificates.XPlat.Tests.csproj
Labels: area-infrastructure

#7350 Add xml doc comments for BufferWriter struct
  src/Servers/Kestrel/Core/src/Internal/BufferWriter.cs
Labels: area-servers

#7058 SignalR JS client add webworker support
  src/SignalR/clients/ts/signalr/README.md
  src/SignalR/clients/ts/signalr/package.json
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
  src/SignalR/clients/ts/signalr/src/ServerSentEventsTransport.ts
  src/SignalR/clients/ts/signalr/src/Utils.ts
  src/SignalR/clients/ts/signalr/src/WebSocketTransport.ts
  src/SignalR/clients/ts/signalr/webpack.config.js
  src/SignalR/clients/ts/webpack.config.base.js
Labels: area-signalr

#7355 Produce a nuget package with just reference assemblies for AspNetCore.App
  Directory.Build.props
  Directory.Build.targets
  build/repo.props
  eng/ProjectReferences.props
  src/Components/Analyzers/src/Microsoft.AspNetCore.Components.Analyzers.csproj
  src/Components/Browser/src/Microsoft.AspNetCore.Components.Browser.csproj
  src/Components/Components/src/Microsoft.AspNetCore.Components.csproj
  src/Components/Components/src/Rendering/HtmlRenderer.cs
  src/Components/Components/src/Rendering/IDispatcher.cs
  src/Framework/ref/Microsoft.AspNetCore.App.Ref.csproj
  src/Framework/src/Microsoft.AspNetCore.App.shfxproj
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Analyzers/Microsoft.AspNetCore.Mvc.Analyzers.csproj
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Api.Analyzers/Microsoft.AspNetCore.Mvc.Api.Analyzers.csproj
  src/Mvc/src/Microsoft.AspNetCore.Mvc/Microsoft.AspNetCore.Mvc.csproj
  src/Mvc/test/Mvc.Analyzers.Test/Mvc.Analyzers.Test.csproj
  src/Mvc/test/Mvc.Api.Analyzers.Test/Mvc.Api.Analyzers.Test.csproj
  src/Razor/Razor.Runtime/src/Microsoft.AspNetCore.Razor.Runtime.csproj
  src/Razor/Razor/src/Microsoft.AspNetCore.Razor.csproj
Labels: area-platform

#7343 Handle IAsyncDisposable scoped objects
  src/SignalR/server/Core/src/Internal/AsyncDisposableExtensions.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTestUtils/Hubs.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTestUtils/Utils.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-signalr

#7361 Enable verbose h2spec logs
  src/Servers/Kestrel/test/Interop.FunctionalTests/H2SpecCommands.cs
Labels: area-servers

#7337 Return Completed ReadResult after stream returns 0 bytes
  src/Http/Http/src/StreamPipeReader.cs
  src/Http/Http/test/StreamPipeReaderTests.cs
  src/Http/Http/test/StreamPipeTest.cs
  src/Http/Http/test/StreamPipeWriterTests.cs
Labels: area-servers

#7352 Skip code signing job if dependencies aren't available
  .azure/pipelines/jobs/codesign-xplat.yml
Labels: area-infrastructure

#6755 Try re-enabling CancellationToken tests in a loop
  src/Http/Http/test/StreamPipeReaderTests.cs
  src/Http/Http/test/StreamPipeWriterTests.cs
Labels: area-servers

#7392 Account for transitive shared framework dependencies separately
  eng/Dependencies.props
  src/Framework/Directory.Build.props
  src/Framework/Microsoft.AspNetCore.App.props
  src/Framework/pkg/Metapackage.targets
  src/Framework/ref/Microsoft.AspNetCore.App.Ref.csproj
  src/Framework/src/SharedFx.targets
  src/Framework/test/Microsoft.AspNetCore.App.UnitTests.csproj
Labels: area-platform

#7369 Initial helix docs
  docs/Helix.md
Labels: area-infrastructure

#7224 Add CancelInvocation support to MsgPack in TS client
  src/SignalR/clients/ts/FunctionalTests/TestHub.cs
  src/SignalR/clients/ts/FunctionalTests/ts/HubConnectionTests.ts
  src/SignalR/clients/ts/signalr-protocol-msgpack/src/MessagePackHubProtocol.ts
  src/SignalR/clients/ts/signalr-protocol-msgpack/tests/MessagePackHubProtocol.test.ts
  src/SignalR/clients/ts/signalr/src/HubConnection.ts
  src/SignalR/clients/ts/signalr/tests/HubConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/Utils.ts
Labels: area-signalr

#7173 Add longer timeout for dotnet-watch test
  build/RepositoryBuild.targets
  build/buildorder.props
  src/Tools/dotnet-watch/src/Internal/ProcessRunner.cs
  src/Tools/dotnet-watch/test/DotNetWatcherTests.cs
  src/Tools/dotnet-watch/test/Properties/AssemblyInfo.cs
  src/Tools/dotnet-watch/test/Scenario/WatchableApp.cs
Labels: area-commandlinetools

#7290 Consume Mono.WebAssembly.Interop from Extensions
  eng/Versions.props
  src/Components/Browser.JS/src/package-lock.json
Labels: area-mvc

#7431 Make Hosting.sln compile in vs
  src/Hosting/Hosting.sln
Labels: area-hosting

#7435 Fix typo in package description
  src/DataProtection/AzureStorage/src/Microsoft.AspNetCore.DataProtection.AzureStorage.csproj
Labels: area-dataprotection

#7422 Use C#7.3's ReadOnlySpan<byte> optimization for static data
  src/Servers/Kestrel/Core/src/Internal/Http/Http1OutputProducer.cs
Labels: area-servers

#7443 Fixed a type reference in a doc comment.
  src/Components/Server/src/BlazorOptions.cs
Labels: area-mvc

#7415 Don't write empty data for Flush
  src/Servers/Kestrel/Core/src/Internal/Http/Http1OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.FeatureCollection.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/Constants.cs
Labels: area-servers

#7424 Remove unnecessary Flush
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
Labels: area-servers

#7407 Made changes to stream <-> pipe adapters
  src/Http/Http/src/BufferSegment.cs
  src/Http/Http/src/StreamPipeReader.cs
  src/Http/Http/src/StreamPipeWriter.cs
  src/Http/Http/test/StreamPipeReaderTests.cs
  src/Http/Http/test/StreamPipeTest.cs
  src/Http/Http/test/StreamPipeWriterTests.cs
Labels: area-servers

#7401 Background Worker template
  src/ProjectTemplates/README.md
  src/ProjectTemplates/Web.ProjectTemplates/Microsoft.DotNet.Web.ProjectTemplates.csproj
  src/ProjectTemplates/Web.ProjectTemplates/Worker-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/dotnetcli.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/vs-2017.3.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/vs-2017.3/Empty.png
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/Program.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/Worker.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/appsettings.json
Labels: area-hosting

#7374 [MVC] Remove obsolete APIs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Razor/ApplicationParts/RazorCompiledItemFeatureProvider.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Razor/Compilation/ViewsFeatureProvider.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Razor/DependencyInjection/MvcRazorMvcCoreBuilderExtensions.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.RazorPages/DependencyInjection/MvcRazorPagesMvcCoreBuilderExtensions.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.RazorPages/Infrastructure/DefaultPageArgumentBinder.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.RazorPages/Infrastructure/PageArgumentBinder.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.RazorPages/Infrastructure/RazorPageAdapter.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Razor.Test/ApplicationParts/RazorCompiledItemFeatureProviderTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Razor.Test/Compilation/ViewsFeatureProviderTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Test/MvcServiceCollectionExtensionsTest.cs
Labels: area-mvc

#7437 Fix #4212 area ambient value page->controller
  src/Http/Routing/src/Template/TemplateBinder.cs
  src/Http/Routing/test/UnitTests/Template/TemplateBinderTests.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.FunctionalTests/RazorPagesWithBasePathTest.cs
Labels: area-mvc

#7471 Update CORS package.json and friends
  src/Middleware/CORS/test/FunctionalTests/package-lock.json
  src/Middleware/CORS/test/FunctionalTests/package.json
Labels: area-mvc

#7473 Update metadata for the Blazor VSIX
  src/Components/Blazor/BlazorExtension/src/source.extension.vsixmanifest
Labels: area-mvc

#7478 Get worker template showing up in VS
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/vs-2017.3.host.json
Labels: area-hosting

#7476 Fix returning buffered data after stream is drained
  src/Http/Http/src/StreamPipeReader.cs
  src/Http/Http/test/StreamPipeReaderTests.cs
Labels: area-servers

#7461 [Templating] Razor class library for components
  src/ProjectTemplates/Web.ProjectTemplates/Microsoft.DotNet.Web.ProjectTemplates.csproj
  src/ProjectTemplates/Web.ProjectTemplates/RazorClassLibrary-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorClassLibrary-CSharp/.template.config/dotnetcli.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorClassLibrary-CSharp/.template.config/template.json
Labels: area-mvc

#7420 Trim Async suffix on action names
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/ApplicationModels/DefaultApplicationModelProvider.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/MvcOptions.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Core.Test/ApplicationModels/DefaultApplicationModelProviderTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.FunctionalTests/ApiExplorerTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.FunctionalTests/AsyncActionsTests.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.FunctionalTests/BasicTests.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.FunctionalTests/FlushPointTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.FunctionalTests/ViewEngineTests.cs
  src/Mvc/test/WebSites/BasicWebSite/Controllers/AsyncActionsController.cs
  src/Mvc/test/WebSites/BasicWebSite/Views/AsyncActions/ActionReturningView.cshtml
  src/Mvc/test/WebSites/RazorWebSite/Controllers/PartialsWithLayoutController.cs
Labels: area-mvc, breaking-change

#7508 Enable docker for the worker template
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/vs-2017.3.host.json
Labels: area-hosting

#7470 Fixup handshake logic and layering
  src/SignalR/clients/cpp/signalrclient.sln
  src/SignalR/clients/cpp/src/signalrclient/connection.cpp
  src/SignalR/clients/cpp/src/signalrclient/connection_impl.cpp
  src/SignalR/clients/cpp/src/signalrclient/connection_impl.h
  src/SignalR/clients/cpp/src/signalrclient/hub_connection_impl.cpp
  src/SignalR/clients/cpp/src/signalrclient/hub_connection_impl.h
  src/SignalR/clients/cpp/test/signalrclienttests/connection_impl_tests.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/hub_connection_impl_tests.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/web_request_tests.cpp
Labels: area-signalr

#7515 Update branding to 2.1.9
  build/submodules.props
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/PatchConfig.props
  src/PackageArchive/Archive.CiServer.Patch.Compat/ArchiveBaseline.2.1.8.txt
  src/PackageArchive/Archive.CiServer.Patch/ArchiveBaseline.2.1.8.txt
  version.props
Labels: area-infrastructure

#7488 Skip flaky Components test on Helix
  src/Components/Components/test/Microsoft.AspNetCore.Components.Tests.csproj
  src/Components/Components/test/RendererTest.cs
Labels: area-mvc

#7513 Don't rely on the defaults for IntDir
  eng/targets/Cpp.Common.props
Labels: area-servers

#6793 Fail `ComplexTypeModelBinder` after `CanCreateModel(...)` in some cases
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/Binders/ComplexTypeModelBinder.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Core.Test/ModelBinding/Binders/ComplexTypeModelBinderTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.IntegrationTests/ComplexTypeModelBinderIntegrationTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.IntegrationTests/HeaderModelBinderIntegrationTest.cs
Labels: area-mvc

#7284 Implement ITlsHandshakeFeature for HttpSys
  src/Servers/HttpSys/src/FeatureContext.cs
  src/Servers/HttpSys/src/Http503VerbosityLevel.cs
  src/Servers/HttpSys/src/Microsoft.AspNetCore.Server.HttpSys.csproj
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Servers/HttpSys/src/StandardFeatureCollection.cs
  src/Servers/HttpSys/test/FunctionalTests/HttpsTests.cs
  src/Servers/HttpSys/test/FunctionalTests/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests.csproj
  src/Servers/HttpSys/test/FunctionalTests/Utilities.cs
  src/Shared/HttpSys/NativeInterop/HttpApiTypes.cs
  src/Shared/HttpSys/RequestProcessing/NativeRequestContext.cs
Labels: area-servers

#7504 Replace custom targets for generating assembly attributes and source control info by using SDK features
  .azure/pipelines/ci.yml
  Directory.Build.props
  Directory.Build.targets
  build/Maestro/Maestro.csproj
  build/SharedFx.targets
  build/repo.targets
  dockerbuild.sh
  eng/Versions.props
  eng/Workarounds.targets
  eng/targets/CSharp.Common.props
  eng/targets/CSharp.Common.targets
  eng/targets/Packaging.targets
  eng/targets/Wix.Common.props
  src/Azure/AzureAD/Authentication.AzureAD.UI/src/Microsoft.AspNetCore.Authentication.AzureAD.UI.csproj
  src/Azure/AzureAD/Authentication.AzureADB2C.UI/src/Microsoft.AspNetCore.Authentication.AzureADB2C.UI.csproj
  src/Components/Blazor/Build/src/Microsoft.AspNetCore.Blazor.Build.csproj
  src/Components/Blazor/Cli/src/Microsoft.AspNetCore.Blazor.Cli.csproj
  src/Components/Blazor/Templates/src/SetPackageProperties.targets
  src/Components/Build/src/Microsoft.AspNetCore.Components.Build.csproj
  src/Framework/src/SharedFx.targets
  src/Framework/test/Microsoft.AspNetCore.App.UnitTests.csproj
  src/Identity/UI/src/Microsoft.AspNetCore.Identity.UI.csproj
  src/Installers/Archive/Archive.Internal.zipproj
  src/Installers/Archive/Archive.Redist.zipproj
  src/Installers/Windows/AspNetCoreModule-Setup/CustomAction/aspnetcoreCA.vcxproj
  src/MusicStore/Directory.Build.props
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Analyzers/Microsoft.AspNetCore.Mvc.Analyzers.csproj
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Api.Analyzers/Microsoft.AspNetCore.Mvc.Api.Analyzers.csproj
  src/Mvc/src/Microsoft.Extensions.ApiDescription.Design/Microsoft.Extensions.ApiDescription.Design.csproj
  src/ProjectTemplates/SetPackageProperties.targets
  version.props
Labels: area-infrastructure

#6856 SignalR Java Client LongPolling Transport
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/DefaultHttpClient.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/HttpClient.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/HttpHubConnectionBuilder.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/JsonHubProtocol.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/LongPollingTransport.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/TransportEnum.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/HubConnectionTest.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/LongPollingTransportTest.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/TestHttpClient.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/TestUtils.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/WebSocketTransportTest.java
Labels: area-signalr

#7540 Touch up component detection
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#7165 Improve Components error handling
  src/Components/Blazor/Blazor/src/Hosting/WebAssemblyBlazorApplicationBuilder.cs
  src/Components/Blazor/Blazor/src/Hosting/WebAssemblyHost.cs
  src/Components/Blazor/Blazor/src/Rendering/WebAssemblyRenderer.cs
  src/Components/Blazor/Build/test/RazorIntegrationTestBase.cs
  src/Components/Browser.JS/src/package-lock.json
  src/Components/Browser/src/RendererRegistryEventDispatcher.cs
  src/Components/Components/perf/RenderTreeDiffBuilderBenchmark.cs
  src/Components/Components/src/ComponentBase.cs
  src/Components/Components/src/IHandleAfterRender.cs
  src/Components/Components/src/IHandleEvent.cs
  src/Components/Components/src/Rendering/ComponentState.cs
  src/Components/Components/src/Rendering/HtmlRenderer.cs
  src/Components/Components/src/Rendering/Renderer.cs
  src/Components/Components/test/ComponentBaseTest.cs
  src/Components/Components/test/RenderTreeBuilderTest.cs
  src/Components/Components/test/RenderTreeDiffBuilderTest.cs
  src/Components/Components/test/RendererTest.cs
  src/Components/Components/test/Rendering/HtmlRendererTests.cs
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/Server/src/Circuits/DefaultCircuitFactory.cs
  src/Components/Server/src/Circuits/RemoteRenderer.cs
  src/Components/Server/src/LoggerExtensions.cs
  src/Components/Server/test/Circuits/CircuitHostTest.cs
  src/Components/Server/test/Circuits/RenderBatchWriterTest.cs
  src/Components/Shared/test/TestRenderer.cs
  src/Components/test/E2ETest/Infrastructure/SeleniumStandaloneServer.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/H2SpecTests.cs
Labels: area-mvc

#7480 Copy Kestrel perf changes
  src/SignalR/clients/csharp/Client.Core/src/Microsoft.AspNetCore.SignalR.Client.Core.csproj
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/ServerSentEventsMessageParser.cs
  src/SignalR/common/Http.Connections.Common/src/NegotiateProtocol.cs
  src/SignalR/common/Http.Connections/src/Microsoft.AspNetCore.Http.Connections.csproj
  src/SignalR/common/Shared/PipeWriterStream.cs
  src/SignalR/common/Shared/SystemTextJsonExtensions.cs
  src/SignalR/common/Shared/ValueTaskExtensions.cs
  src/SignalR/common/SignalR.Common/src/Protocol/HandshakeProtocol.cs
  src/SignalR/server/Core/src/StreamTracker.cs
Labels: area-signalr

#7445 Introduce dynamic endpoints and fix #7011
  src/Http/Routing/src/IDynamicEndpointMetadata.cs
  src/Http/Routing/src/Matching/CandidateSet.cs
  src/Http/Routing/src/Matching/MatcherPolicy.cs
  src/Http/Routing/test/UnitTests/MatcherPolicyTest.cs
  src/Http/Routing/test/UnitTests/Matching/CandidateSetTest.cs
  src/Mvc/benchmarks/Microsoft.AspNetCore.Mvc.Performance/ActionEndpointDatasourceBenchmark.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/DependencyInjection/MvcCoreServiceCollectionExtensions.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/Infrastructure/ActionContextAccessor.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/Infrastructure/ControllerActionInvoker.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/Infrastructure/ControllerActionInvokerProvider.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/Infrastructure/ResourceInvoker.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/Routing/ActionEndpointFactory.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/Routing/MvcAttributeRouteHandler.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/Routing/MvcEndpointInvokerFactory.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/Routing/MvcRouteHandler.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.RazorPages/CompiledPageActionDescriptor.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.RazorPages/DependencyInjection/MvcRazorPagesMvcCoreBuilderExtensions.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.RazorPages/Infrastructure/DefaultPageLoader.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.RazorPages/Infrastructure/PageActionDescriptorProvider.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.RazorPages/Infrastructure/PageActionInvoker.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.RazorPages/Infrastructure/PageActionInvokerProvider.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.RazorPages/Infrastructure/PageLoaderMatcherPolicy.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Core.Test/Filters/MiddlewareFilterTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Core.Test/Infrastructure/ControllerActionInvokerTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Core.Test/Routing/ActionEndpointDataSourceBaseTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Core.Test/Routing/ActionEndpointFactoryTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Core.Test/Routing/MvcRouteHandlerTests.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.RazorPages.Test/Infrastructure/DefaultPageLoaderTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.RazorPages.Test/Infrastructure/PageActionDescriptorProviderTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.RazorPages.Test/Infrastructure/PageActionInvokerTest.cs
  src/Security/Authorization/Policy/src/AuthorizationMiddleware.cs
Labels: area-mvc

#7489 Fix endpoint routing flaky test on build server in 2.2
  src/Http/Routing/test/UnitTests/Matching/DfaMatcherBuilderTest.cs
Labels: area-mvc

#7467 Remove capture of "this" from local function
  src/Servers/Kestrel/Core/src/Internal/Http/Http1OutputProducer.cs
Labels: area-servers

#7426 PointerID type string replaced to long
  src/Components/Components/src/UIEventArgs.cs
Labels: area-mvc, feature-Components

#7475 Generate a nuget package which contains the runtime pack for Microsoft.AspNetCore.App
  .azure/pipelines/ci.yml
  Directory.Build.targets
  build.ps1
  build.sh
  build/repo.props
  build/tasks/FileUtilities.cs
  build/tasks/GenerateSharedFrameworkDepsFile.cs
  build/tasks/RepoTasks.csproj
  build/tasks/RepoTasks.tasks
  docs/SharedFramework.md
  eng/Dependencies.props
  eng/Versions.props
  eng/targets/CSharp.Common.props
  src/Framework/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-platform

#4565 Update React-Redux client app to use TypeScript instead of JavaScript
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/.eslintrc.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/App.test.tsx
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/App.tsx
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/components/Counter.tsx
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/components/FetchData.tsx
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/components/Home.tsx
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/components/Layout.tsx
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/components/NavMenu.tsx
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/index.tsx
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/react-app-env.d.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/registerServiceWorker.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/store/Counter.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/store/WeatherForecasts.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/store/configureStore.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/store/index.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/tsconfig.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/.eslintrc.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/App.js
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/App.test.js
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/App.test.tsx
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/App.tsx
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/components/Counter.js
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/components/Counter.tsx
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/components/FetchData.js
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/components/FetchData.tsx
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/components/Home.tsx
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/components/Layout.js
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/components/Layout.tsx
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/components/NavMenu.css
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/components/NavMenu.js
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/components/NavMenu.tsx
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/index.tsx
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/react-app-env.d.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/registerServiceWorker.js
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/registerServiceWorker.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/store/Counter.js
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/store/Counter.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/store/WeatherForecasts.js
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/store/WeatherForecasts.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/store/configureStore.js
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/store/configureStore.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/store/index.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/tsconfig.json
Labels: area-mvc

#7551 More C++ Client cleanup
  src/SignalR/clients/cpp/include/signalrclient/connection.h
  src/SignalR/clients/cpp/include/signalrclient/hub_connection.h
  src/SignalR/clients/cpp/include/signalrclient/hub_exception.h
  src/SignalR/clients/cpp/include/signalrclient/signalr_client_config.h
  src/SignalR/clients/cpp/include/signalrclient/trace_level.h
  src/SignalR/clients/cpp/include/signalrclient/web_exception.h
  src/SignalR/clients/cpp/src/signalrclient/Build/VS/signalrclient.vcxproj.filters
  src/SignalR/clients/cpp/src/signalrclient/callback_manager.cpp
  src/SignalR/clients/cpp/src/signalrclient/case_insensitive_comparison_utils.h
  src/SignalR/clients/cpp/src/signalrclient/connection.cpp
  src/SignalR/clients/cpp/src/signalrclient/connection_impl.cpp
  src/SignalR/clients/cpp/src/signalrclient/connection_impl.h
  src/SignalR/clients/cpp/src/signalrclient/default_websocket_client.cpp
  src/SignalR/clients/cpp/src/signalrclient/default_websocket_client.h
  src/SignalR/clients/cpp/src/signalrclient/event.h
  src/SignalR/clients/cpp/src/signalrclient/hub_connection.cpp
  src/SignalR/clients/cpp/src/signalrclient/hub_connection_impl.cpp
  src/SignalR/clients/cpp/src/signalrclient/hub_connection_impl.h
  src/SignalR/clients/cpp/src/signalrclient/logger.cpp
  src/SignalR/clients/cpp/src/signalrclient/logger.h
  src/SignalR/clients/cpp/src/signalrclient/request_sender.cpp
  src/SignalR/clients/cpp/src/signalrclient/signalr_client_config.cpp
  src/SignalR/clients/cpp/src/signalrclient/url_builder.cpp
  src/SignalR/clients/cpp/src/signalrclient/websocket_transport.cpp
  src/SignalR/clients/cpp/src/signalrclient/websocket_transport.h
  src/SignalR/clients/cpp/src/signalrclientdll/Build/VS/signalrclientdll.vcxproj.filters
  src/SignalR/clients/cpp/test/signalrclienttests/connection_impl_tests.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/hub_connection_impl_tests.cpp
Labels: area-signalr

#7559 Use new version of h2spec
  eng/Versions.props
  src/Servers/Kestrel/test/Interop.FunctionalTests/H2SpecTests.cs
Labels: area-servers

#7556 Fix Microsoft.AspNetCore version in baseline
  eng/Baseline.Designer.props
  eng/Baseline.xml
Labels: area-platform, servicing-approved

#7404 [Backport] Add CancelInvocation support to MsgPack in TS client
  src/SignalR/clients/ts/FunctionalTests/TestHub.cs
  src/SignalR/clients/ts/FunctionalTests/ts/HubConnectionTests.ts
  src/SignalR/clients/ts/signalr-protocol-msgpack/src/MessagePackHubProtocol.ts
  src/SignalR/clients/ts/signalr-protocol-msgpack/tests/MessagePackHubProtocol.test.ts
  src/SignalR/clients/ts/signalr/src/HubConnection.ts
  src/SignalR/clients/ts/signalr/src/Utils.ts
  src/SignalR/clients/ts/signalr/tests/HubConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/Utils.ts
Labels: area-signalr, servicing-approved

#7505 Make first write use the same BufferWriter
  src/Servers/Kestrel/Core/src/Internal/Http/Http1OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.FeatureCollection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http/IHttpOutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs
Labels: area-servers

#7583 Log before releasing streams and firing tokens
  src/Servers/IIS/IIS/src/Core/IISHttpContext.IO.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
  src/Servers/IIS/IIS/src/Core/IISHttpServer.cs
  src/Servers/IIS/IIS/test/IIS.Tests/ClientDisconnectTests.cs
Labels: area-servers

#7622 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: area-infrastructure

#7608 Added endpoint routing support
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubConnectionTests.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/Hubs.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/Startup.cs
  src/SignalR/clients/ts/FunctionalTests/Startup.cs
  src/SignalR/common/Http.Connections/src/ConnectionEndpointRouteBuilderExtensions.cs
  src/SignalR/samples/JwtSample/Startup.cs
  src/SignalR/samples/SignalRSamples/Startup.cs
  src/SignalR/samples/SocialWeather/Startup.cs
  src/SignalR/server/SignalR/src/HubEndpointRouteBuilderExtensions.cs
  src/SignalR/server/SignalR/test/MapSignalRTests.cs
  src/SignalR/server/SignalR/test/Startup.cs
  src/SignalR/server/StackExchangeRedis/test/Startup.cs
Labels: area-signalr

#7578 Skip HttpSys.Https tests on Helix
  docs/Helix.md
  src/Servers/HttpSys/test/FunctionalTests/HttpsTests.cs
  src/Servers/HttpSys/test/FunctionalTests/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests.csproj
  src/Shared/test/SkipOnHelixAttribute.cs
Labels: area-servers

#7625 Update Maestro.csproj
  build/Maestro/Maestro.csproj
Labels: area-infrastructure

#7620 Disable remote symbol loading for dump files in CI
  src/Servers/IIS/tools/SetupTestEnvironment.ps1
Labels: area-servers

#7582 Add startvs script from the tools directory.
  eng/tools/startvs.cmd
Labels: area-infrastructure

#7599 Remove uses of JSRuntime.Current
  src/Components/Blazor/Blazor/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/Blazor/Blazor/src/Http/WebAssemblyHttpMessageHandler.cs
  src/Components/Blazor/Blazor/src/Rendering/WebAssemblyRenderer.cs
  src/Components/Blazor/Blazor/src/Services/WebAssemblyJSRuntime.cs
  src/Components/Blazor/Blazor/src/Services/WebAssemblyUriHelper.cs
  src/Components/Blazor/Templates/src/content/BlazorLibrary-CSharp/ExampleJsInterop.cs
  src/Components/test/testassets/BasicTestApp/AfterRenderInteropComponent.cshtml
  src/Components/test/testassets/BasicTestApp/ElementRefComponent.cshtml
  src/Components/test/testassets/BasicTestApp/ExternalContentPackage.cshtml
  src/Components/test/testassets/BasicTestApp/InteropComponent.cshtml
  src/Components/test/testassets/TestContentPackage/MyPrompt.cs
Labels: area-mvc

#7588 Convert BlazorExtension to SDK style project
  src/Components/Blazor/BlazorExtension/src/Directory.Build.targets
  src/Components/Blazor/BlazorExtension/src/Microsoft.VisualStudio.BlazorExtension.csproj
Labels: area-mvc

#5120 Disable AllowSynchronousIO by default in all servers
  src/Hosting/TestHost/src/AsyncStreamWrapper.cs
  src/Hosting/TestHost/src/TestServer.cs
  src/Mvc/Mvc.Formatters.Xml/src/XmlDataContractSerializerOutputFormatter.cs
  src/Mvc/Mvc.Formatters.Xml/src/XmlSerializerOutputFormatter.cs
  src/Mvc/Mvc.ViewFeatures/src/ViewComponentResultExecutor.cs
  src/Mvc/test/WebSites/BasicWebSite/StartupRequestLimitSize.cs
  src/Mvc/test/WebSites/FormatterWebSite/StringInputFormatter.cs
  src/Servers/HttpSys/src/HttpSysOptions.cs
  src/Servers/HttpSys/test/FunctionalTests/HttpsTests.cs
  src/Servers/HttpSys/test/FunctionalTests/Listener/RequestBodyTests.cs
  src/Servers/HttpSys/test/FunctionalTests/Listener/ResponseBodyTests.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.FeatureCollection.cs
  src/Servers/IIS/IIS/src/IISServerOptions.cs
  src/Servers/IIS/IIS/test/IIS.Tests/ConnectionIdFeatureTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/HttpBodyControlFeatureTests.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Servers/Kestrel/Core/test/KestrelServerOptionsTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/UpgradeTests.cs
Labels: area-servers, breaking-change

#7618 Make reads that return canceled ReadResult throw
  src/Http/Http/src/ReadOnlyPipeStream.cs
  src/Http/Http/src/ThrowHelper.cs
  src/Http/Http/test/ReadOnlyPipeStreamTests.cs
Labels: area-servers

#7629 ITlsHandshakeFeature requires Win8+
  src/Servers/HttpSys/src/StandardFeatureCollection.cs
  src/Servers/HttpSys/test/FunctionalTests/HttpsTests.cs
Labels: area-servers

#7643 Add missing entry to Version.Details.xml
  eng/Version.Details.xml
  eng/scripts/CodeCheck.ps1
Labels: area-infrastructure

#6154 Lock-free IOQueue
  src/Servers/Kestrel/Transport.Sockets/src/Internal/IOQueue.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketTransport.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/SchedulerBenchmark.cs
Labels: area-servers

#7634 Wait for stop to complete in SignalR test.
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/HubConnectionTest.java
Labels: area-signalr

#7543 Try adding arm helix queues
  eng/helix/helix.proj
Labels: area-infrastructure

#7373 Update helix sdk and try workaround for warning
  eng/helix/Directory.Build.props
  eng/helix/Directory.Build.targets
  eng/helix/helix.proj
Labels: area-infrastructure

#7371 Remove obsolete APIs from routing
  src/Http/Routing/src/DefaultInlineConstraintResolver.cs
  src/Http/Routing/src/IRouteValuesAddressMetadata.cs
  src/Http/Routing/src/RouteValuesAddressMetadata.cs
  src/Http/Routing/src/Tree/TreeRouteBuilder.cs
  src/Http/Routing/test/UnitTests/DefaultInlineConstraintResolverTest.cs
  src/Http/Routing/test/UnitTests/RouteValuesAddressMetadataTests.cs
  src/Http/Routing/test/UnitTests/Tree/TreeRouterTest.cs
  src/Mvc/Mvc.Core/test/Routing/AttributeRoutingTest.cs
Labels: area-mvc

#7657 Align host behavior with respect to exceptions
  src/Hosting/Hosting/src/Internal/HostedServiceExecutor.cs
  src/Hosting/Hosting/test/WebHostBuilderTests.cs
  src/Hosting/Hosting/test/WebHostTests.cs
Labels: area-hosting

#7659 Work around WriteBarrier assign for nulling struct
  src/Http/Http.Features/src/FeatureReferences.cs
  src/Http/Http/src/DefaultHttpContext.cs
  src/Http/Http/src/Features/QueryFeature.cs
  src/Http/Http/src/Features/RequestCookiesFeature.cs
  src/Http/Http/src/Features/ResponseCookiesFeature.cs
  src/Http/Http/src/Internal/DefaultConnectionInfo.cs
  src/Http/Http/src/Internal/DefaultHttpRequest.cs
  src/Http/Http/src/Internal/DefaultHttpResponse.cs
  src/Http/Http/src/Internal/DefaultWebSocketManager.cs
Labels: area-servers

#7378 Add SignalR web worker sample and test
  src/SignalR/clients/ts/FunctionalTests/FunctionalTests.csproj
  src/SignalR/clients/ts/FunctionalTests/scripts/karma.local.conf.js
  src/SignalR/clients/ts/FunctionalTests/ts/WebWorkerTests.ts
  src/SignalR/clients/ts/FunctionalTests/ts/index.ts
  src/SignalR/samples/SignalRSamples/SignalRSamples.csproj
  src/SignalR/samples/SignalRSamples/wwwroot/worker.html
  src/SignalR/samples/SignalRSamples/wwwroot/worker.js
Labels: area-signalr

#7340 Make server timeout configurable
  src/SignalR/common/Http.Connections/src/ConnectionOptions.cs
  src/SignalR/common/Http.Connections/src/ConnectionOptionsSetup.cs
  src/SignalR/common/Http.Connections/src/ConnectionsDependencyInjectionExtensions.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionManager.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionManagerTests.cs
Labels: area-signalr

#7225 Add test for HTTP method metadata order
  src/Http/Routing/test/UnitTests/Builder/MapEndpointEndpointDataSourceBuilderExtensionsTest.cs
Labels: area-mvc

#6936 Improvements to event handling
  src/Components/Blazor/Build/test/RazorIntegrationTestBase.cs
  src/Components/Blazor/Build/test/RenderingRazorIntegrationTest.cs
  src/Components/Browser.JS/src/Rendering/BrowserRenderer.ts
  src/Components/Browser.JS/src/Rendering/EventDelegator.ts
  src/Components/Browser/src/RendererRegistryEventDispatcher.cs
  src/Components/Components/src/BindMethods.cs
  src/Components/Components/src/ComponentBase.cs
  src/Components/Components/src/EventCallback.cs
  src/Components/Components/src/EventCallbackFactory.cs
  src/Components/Components/src/EventCallbackFactoryBinderExtensions.cs
  src/Components/Components/src/EventCallbackFactoryUIEventArgsExtensions.cs
  src/Components/Components/src/EventCallbackWorkItem.cs
  src/Components/Components/src/EventHandlerInvoker.cs
  src/Components/Components/src/IHandleEvent.cs
  src/Components/Components/src/RenderTree/RenderTreeBuilder.cs
  src/Components/Components/src/RenderTree/RenderTreeDiffBuilder.cs
  src/Components/Components/src/Rendering/ComponentState.cs
  src/Components/Components/src/Rendering/Renderer.cs
  src/Components/Components/src/Rendering/RendererSynchronizationContext.cs
  src/Components/Components/src/UIEventArgs.cs
  src/Components/Components/test/EventCallbackFactoryBinderExtensionsTest.cs
  src/Components/Components/test/EventCallbackFactoryTest.cs
  src/Components/Components/test/EventCallbackTest.cs
  src/Components/Components/test/Microsoft.AspNetCore.Components.Tests.csproj
  src/Components/Components/test/RendererTest.cs
  src/Components/Components/test/Rendering/RendererSynchronizationContextTests.cs
  src/Components/Shared/test/TestRenderer.cs
  src/Components/test/E2ETest/Infrastructure/SeleniumStandaloneServer.cs
  src/Components/test/E2ETest/Tests/CascadingValueTest.cs
  src/Components/test/E2ETest/Tests/EventCallbackTest.cs
  src/Components/test/testassets/BasicTestApp/CascadingValueTest/CascadingValueSupplier.cshtml
  src/Components/test/testassets/BasicTestApp/EventCallbackTest/ButtonComponent.cshtml
  src/Components/test/testassets/BasicTestApp/EventCallbackTest/EventCallbackCases.cshtml
  src/Components/test/testassets/BasicTestApp/EventCallbackTest/InnerButton.cshtml
  src/Components/test/testassets/BasicTestApp/EventCallbackTest/MiddleButton.cshtml
  src/Components/test/testassets/BasicTestApp/EventCallbackTest/StronglyTypedButton.cshtml
  src/Components/test/testassets/BasicTestApp/EventCallbackTest/TemplatedControl.cshtml
  src/Components/test/testassets/BasicTestApp/Index.cshtml
Labels: area-mvc

#7681 Fix mismatch of connection ID between SignalR C++ client and hub
  src/SignalR/clients/cpp/src/signalrclient/connection_impl.cpp
Labels: area-signalr

#7697 Ensure messages are processed in order
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/LongPollingTransport.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/LongPollingTransportTest.java
Labels: area-signalr

#7624 [Design] Harden template package installer and fix name
  src/ProjectTemplates/test/Helpers/TemplatePackageInstaller.cs
Labels: area-mvc

#7214 Place limits on model binding collection size and recursion depth
  src/Hosting/Hosting/src/Properties/Resources.Designer.cs
  src/Middleware/Localization/src/Properties/Resources.Designer.cs
  src/Middleware/Session/src/Properties/Resources.Designer.cs
  src/Mvc/Mvc.ApiExplorer/test/DefaultApiDescriptionProviderTest.cs
  src/Mvc/Mvc.Core/src/ModelBinding/Binders/ArrayModelBinder.cs
  src/Mvc/Mvc.Core/src/ModelBinding/Binders/ArrayModelBinderProvider.cs
  src/Mvc/Mvc.Core/src/ModelBinding/Binders/CollectionModelBinder.cs
  src/Mvc/Mvc.Core/src/ModelBinding/Binders/CollectionModelBinderProvider.cs
  src/Mvc/Mvc.Core/src/ModelBinding/Binders/DictionaryModelBinder.cs
  src/Mvc/Mvc.Core/src/ModelBinding/Binders/DictionaryModelBinderProvider.cs
  src/Mvc/Mvc.Core/src/ModelBinding/DefaultModelBindingContext.cs
  src/Mvc/Mvc.Core/src/MvcOptions.cs
  src/Mvc/Mvc.Core/src/Properties/Resources.Designer.cs
  src/Mvc/Mvc.Core/src/Resources.resx
  src/Mvc/test/Mvc.IntegrationTests/ArrayModelBinderIntegrationTest.cs
  src/Mvc/test/Mvc.IntegrationTests/CollectionModelBinderIntegrationTest.cs
  src/Mvc/test/Mvc.IntegrationTests/ComplexTypeModelBinderIntegrationTest.cs
  src/Mvc/test/Mvc.IntegrationTests/DictionaryModelBinderIntegrationTest.cs
  src/Mvc/test/Mvc.IntegrationTests/Models/SuccessfulModel.cs
  src/Mvc/test/Mvc.IntegrationTests/SuccessfulModelBinder.cs
  src/Servers/Kestrel/Core/src/Properties/CoreStrings.Designer.cs
Labels: area-mvc

#7511 Ignore unexpected stream items and completions from client
  src/SignalR/common/Protocols.NewtonsoftJson/src/Protocol/NewtonsoftJsonHubProtocol.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.Log.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/Core/src/StreamTracker.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-signalr

#7447 Improve service reference filenames and class names
  src/Mvc/Extensions.ApiDescription.Design/src/CSharpIdentifier.cs
  src/Mvc/Extensions.ApiDescription.Design/src/GetFileReferenceMetadata.cs
  src/Mvc/Extensions.ApiDescription.Design/src/GetProjectReferenceMetadata.cs
  src/Mvc/Extensions.ApiDescription.Design/src/GetUriReferenceMetadata.cs
  src/Mvc/Extensions.ApiDescription.Design/src/build/Microsoft.Extensions.ApiDescription.Design.props
  src/Mvc/Extensions.ApiDescription.Design/src/build/Microsoft.Extensions.ApiDescription.Design.targets
  src/Mvc/GetDocumentInsider/src/Commands/GetDocumentCommandWorker.cs
Labels: area-mvc

#7614 Components: Forms and validation
  eng/Dependencies.props
  eng/SharedFramework.External.props
  eng/Version.Details.xml
  eng/Versions.props
  src/Components/Blazor/Build/src/targets/BuiltInBclLinkerDescriptor.xml
  src/Components/Blazor/Build/test/RuntimeDependenciesResolverTest.cs
  src/Components/Components/src/Forms/DataAnnotationsValidator.cs
  src/Components/Components/src/Forms/EditContext.cs
  src/Components/Components/src/Forms/EditContextDataAnnotationsExtensions.cs
  src/Components/Components/src/Forms/EditContextExpressionExtensions.cs
  src/Components/Components/src/Forms/EditContextFieldClassExtensions.cs
  src/Components/Components/src/Forms/EditForm.cs
  src/Components/Components/src/Forms/FieldChangedEventArgs.cs
  src/Components/Components/src/Forms/FieldIdentifier.cs
  src/Components/Components/src/Forms/FieldState.cs
  src/Components/Components/src/Forms/InputComponents/InputBase.cs
  src/Components/Components/src/Forms/InputComponents/InputCheckbox.cs
  src/Components/Components/src/Forms/InputComponents/InputDate.cs
  src/Components/Components/src/Forms/InputComponents/InputNumber.cs
  src/Components/Components/src/Forms/InputComponents/InputSelect.cs
  src/Components/Components/src/Forms/InputComponents/InputText.cs
  src/Components/Components/src/Forms/InputComponents/InputTextArea.cs
  src/Components/Components/src/Forms/ValidationMessage.cs
  src/Components/Components/src/Forms/ValidationMessageStore.cs
  src/Components/Components/src/Forms/ValidationMessageStoreExpressionExtensions.cs
  src/Components/Components/src/Forms/ValidationRequestedEventArgs.cs
  src/Components/Components/src/Forms/ValidationStateChangedEventArgs.cs
  src/Components/Components/src/Forms/ValidationSummary.cs
  src/Components/Components/src/Microsoft.AspNetCore.Components.csproj
  src/Components/Components/test/Forms/EditContextDataAnnotationsExtensionsTest.cs
  src/Components/Components/test/Forms/EditContextTest.cs
  src/Components/Components/test/Forms/FieldIdentifierTest.cs
  src/Components/Components/test/Forms/InputBaseTest.cs
  src/Components/Components/test/Forms/ValidationMessageStoreTest.cs
  src/Components/test/E2ETest/Tests/FormsTest.cs
  src/Components/test/testassets/BasicTestApp/BasicTestApp.csproj
  src/Components/test/testassets/BasicTestApp/FormsTest/NotifyPropertyChangedValidationComponent.cshtml
  src/Components/test/testassets/BasicTestApp/FormsTest/SimpleValidationComponent.cshtml
  src/Components/test/testassets/BasicTestApp/FormsTest/TypicalValidationComponent.cshtml
  src/Components/test/testassets/BasicTestApp/Index.cshtml
  src/Components/test/testassets/BasicTestApp/wwwroot/index.html
  src/Components/test/testassets/BasicTestApp/wwwroot/style.css
Labels: area-mvc

#7709 Components/Blazor template updates
  src/Components/Blazor/Templates/src/content/BlazorHosted-CSharp/BlazorHosted-CSharp.Server/Startup.cs
  src/ProjectTemplates/Web.ProjectTemplates/Microsoft.DotNet.Web.ProjectTemplates.csproj
  src/ProjectTemplates/Web.ProjectTemplates/RazorComponentsWeb-CSharp.App.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/RazorComponentsWeb-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Components/App.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Components/Pages/Counter.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Components/Pages/FetchData.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Components/Pages/Index.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Components/Pages/_ViewImports.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Components/Shared/MainLayout.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Components/Shared/NavMenu.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Components/Startup.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Components/_ViewImports.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Program.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/RazorComponentsWeb-CSharp.App/Startup.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/RazorComponentsWeb-CSharp.sln
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Services/WeatherForecast.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Services/WeatherForecastService.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Startup.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/wwwroot/css/bootstrap/bootstrap.min.css
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/wwwroot/css/bootstrap/bootstrap.min.css.map
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/wwwroot/css/open-iconic/FONT-LICENSE
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/wwwroot/css/open-iconic/ICON-LICENSE
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/wwwroot/css/open-iconic/README.md
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/wwwroot/css/open-iconic/font/css/open-iconic-bootstrap.min.css
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/wwwroot/css/open-iconic/font/fonts/open-iconic.eot
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/wwwroot/css/open-iconic/font/fonts/open-iconic.otf
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/wwwroot/css/open-iconic/font/fonts/open-iconic.svg
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/wwwroot/css/open-iconic/font/fonts/open-iconic.ttf
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/wwwroot/css/open-iconic/font/fonts/open-iconic.woff
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/wwwroot/css/site.css
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/wwwroot/index.html
  src/ProjectTemplates/test/RazorComponentsTemplateTest.cs
Labels: area-mvc

#7675 Add negotiation response support
  src/SignalR/clients/cpp/include/signalrclient/connection.h
  src/SignalR/clients/cpp/include/signalrclient/hub_connection.h
  src/SignalR/clients/cpp/samples/HubConnectionSample/HubConnectionSample.cpp
  src/SignalR/clients/cpp/samples/HubConnectionSample/HubConnectionSample.vcxproj
  src/SignalR/clients/cpp/src/signalrclient/connection.cpp
  src/SignalR/clients/cpp/src/signalrclient/connection_impl.cpp
  src/SignalR/clients/cpp/src/signalrclient/connection_impl.h
  src/SignalR/clients/cpp/src/signalrclient/constants.h
  src/SignalR/clients/cpp/src/signalrclient/hub_connection.cpp
  src/SignalR/clients/cpp/src/signalrclient/hub_connection_impl.cpp
  src/SignalR/clients/cpp/src/signalrclient/hub_connection_impl.h
  src/SignalR/clients/cpp/src/signalrclient/negotiation_response.h
  src/SignalR/clients/cpp/src/signalrclient/request_sender.cpp
  src/SignalR/clients/cpp/src/signalrclient/request_sender.h
  src/SignalR/clients/cpp/src/signalrclient/url_builder.cpp
  src/SignalR/clients/cpp/src/signalrclient/url_builder.h
  src/SignalR/clients/cpp/test/signalrclient-e2e-tests/hub_connection_tests.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/connection_impl_tests.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/hub_connection_impl_tests.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/request_sender_tests.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/test_utils.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/test_utils.h
  src/SignalR/clients/cpp/test/signalrclienttests/test_websocket_client.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/url_builder_tests.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/websocket_transport_tests.cpp
Labels: area-signalr

#7003 Use .NET Core SequenceReader
  src/Servers/Kestrel/Core/src/Internal/BufferReader.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpParser.cs
  src/Servers/Kestrel/Core/test/BufferReaderTests.cs
Labels: area-servers

#7766 Regenerate baselines for precompilation test
  src/Mvc/ViewCompilation/test/FunctionalTests/Infrastructure/TestEmbeddedResource.cs
  src/Mvc/ViewCompilation/test/FunctionalTests/Resources/SimpleAppTest.Home.Index.txt
Labels: area-mvc

#7700 Add support for Async On Delegates
  src/SignalR/clients/csharp/Client.Core/src/HubConnectionExtensions.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HubConnectionTests.Extensions.cs
Labels: area-signalr

#7748 Update package branding to 3.0.0-preview4
  version.props
Labels: area-infrastructure

#7761 Disable CORS functional tests from running in parallel
  src/Middleware/CORS/test/FunctionalTests/CorsMiddlewareFunctionalTest.cs
Labels: area-mvc

#7751 Throw if CORS policy is configured to allow credentials and any origin
  src/Middleware/CORS/samples/SampleDestination/Startup.cs
  src/Middleware/CORS/samples/SampleDestination/StartupWithoutEndpointRouting.cs
  src/Middleware/CORS/src/Infrastructure/CorsPolicyBuilder.cs
  src/Middleware/CORS/src/Infrastructure/CorsService.cs
  src/Middleware/CORS/src/Internal/CORSLoggerExtensions.cs
  src/Middleware/CORS/src/Properties/Resources.Designer.cs
  src/Middleware/CORS/src/Resources.Designer.cs
  src/Middleware/CORS/src/Resources.resx
  src/Middleware/CORS/test/UnitTests/CorsPolicyBuilderTests.cs
  src/Middleware/CORS/test/UnitTests/CorsServiceTests.cs
  src/Mvc/test/Mvc.FunctionalTests/CorsTestsBase.cs
  src/Mvc/test/WebSites/CorsWebSite/Controllers/BlogController.cs
  src/Mvc/test/WebSites/CorsWebSite/Startup.cs
Labels: area-mvc

#7730 Update Razor SDK and resolve issues
  eng/Version.Details.xml
  eng/Versions.props
  src/Components/Blazor/Build/test/BindRazorIntegrationTest.cs
  src/Components/Blazor/Build/test/RenderingRazorIntegrationTest.cs
  src/Components/Components/src/EventCallbackFactory.cs
  src/Components/Components/src/RuntimeHelpers.cs
  src/Components/Components/test/EventCallbackFactoryTest.cs
  src/Components/test/testassets/BasicTestApp/CascadingValueTest/CascadingValueReceiveFixedByInterface.cshtml
  src/Components/test/testassets/BasicTestApp/EventCallbackTest/EventCallbackCases.cshtml
  src/Components/test/testassets/BasicTestApp/FormsTest/SimpleValidationComponent.cshtml
  src/Components/test/testassets/BasicTestApp/FormsTest/TypicalValidationComponent.cshtml
Labels: area-mvc

#7525 FormFeature -Added exception for invalid content-disposition header
  src/Http/Http/src/Features/FormFeature.cs
  src/Http/Http/test/Features/FormFeatureTests.cs
Labels: area-servers

#7561 Add gRPC templates
  eng/Versions.props
  eng/scripts/CodeCheck.ps1
  src/ProjectTemplates/Web.ProjectTemplates/GrpcService-CSharp.Client.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/GrpcService-CSharp.Server.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/Microsoft.DotNet.Web.ProjectTemplates.csproj
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/dotnetcli.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/vs-2017.3.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/vs-2017.3/Empty.png
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/GrpcService-CSharp.Client/Program.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/GrpcService-CSharp.Server/Program.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/GrpcService-CSharp.Server/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/GrpcService-CSharp.Server/Services/GreeterService.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/GrpcService-CSharp.Server/Startup.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/GrpcService-CSharp.Server/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/GrpcService-CSharp.Server/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/GrpcService-CSharp.sln
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/Protos/greet.proto
Labels: area-grpc

#7804 Fix SHA calculations
  src/Templating/test/Templates.Test/CdnScriptTagTests.cs
Labels: area-mvc

#7814 Skip RunsWithIterationEnvVariable
  src/Tools/dotnet-watch/test/DotNetWatcherTests.cs
Labels: area-commandlinetools

#7821 Update survey link for Blazor templates
  src/Components/Blazor/Templates/src/content/BlazorHosted-CSharp/BlazorHosted-CSharp.Client/Shared/SurveyPrompt.cshtml
  src/Components/Blazor/Templates/src/content/BlazorStandalone-CSharp/Shared/SurveyPrompt.cshtml
Labels: area-mvc

#7770 [Components] Prerrendering startup experience
  src/Components/Server/src/Builder/ComponentEndpointConventionBuilderExtensions.cs
  src/Components/Server/src/Builder/ComponentEndpointRouteBuilderExtensions.cs
  src/Components/Server/src/Builder/RazorComponentsApplicationBuilderExtensions.cs
  src/Components/Server/src/Builder/RazorComponentsOptions.cs
  src/Components/Server/src/Builder/ServerSideComponentsApplicationBuilder.cs
  src/Components/Server/src/Circuits/CircuitFactory.cs
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/Server/src/Circuits/CircuitPrerenderer.cs
  src/Components/Server/src/Circuits/DefaultCircuitFactory.cs
  src/Components/Server/src/Circuits/DefaultCircuitFactoryOptions.cs
  src/Components/Server/src/Circuits/DefaultJSRuntimeAccessor.cs
  src/Components/Server/src/Circuits/IJSRuntimeAccessor.cs
  src/Components/Server/src/Circuits/RemoteJSRuntime.cs
  src/Components/Server/src/Circuits/RemoteRenderer.cs
  src/Components/Server/src/Circuits/RemoteUriHelper.cs
  src/Components/Server/src/ComponentHub.cs
  src/Components/Server/src/DependencyInjection/ComponentDescriptor.cs
  src/Components/Server/src/DependencyInjection/ComponentServiceCollectionExtensions.cs
  src/Components/Server/src/DependencyInjection/ConfigureStaticFilesOptions.cs
  src/Components/Server/src/DependencyInjection/RazorComponentsServiceCollectionExtensions.cs
  src/Components/Server/src/Microsoft.AspNetCore.Components.Server.csproj
  src/Components/Server/test/Circuits/CircuitHostTest.cs
  src/Components/test/E2ETest/Infrastructure/SeleniumStandaloneServer.cs
  src/Components/test/testassets/ComponentsApp.App/Shared/MainLayout.cshtml
  src/Components/test/testassets/ComponentsApp.Server/ComponentsApp.Server.csproj
  src/Components/test/testassets/ComponentsApp.Server/Pages/Index.cshtml
  src/Components/test/testassets/ComponentsApp.Server/Startup.cs
  src/Components/test/testassets/TestServer/Startup.cs
  src/Mvc/Mvc.ViewFeatures/src/DependencyInjection/MvcViewFeaturesMvcCoreBuilderExtensions.cs
  src/Mvc/Mvc.ViewFeatures/src/HtmlHelperRazorComponentExtensions.cs
  src/Mvc/Mvc.ViewFeatures/src/Infrastructure/ComponentHtmlContent.cs
  src/Mvc/Mvc.ViewFeatures/src/Infrastructure/HttpUriHelper.cs
  src/Mvc/Mvc.ViewFeatures/src/Infrastructure/UnsupportedJavaScriptRuntime.cs
  src/Mvc/Mvc.ViewFeatures/src/RazorComponents/MvcRazorComponentPrerenderer.cs
  src/Mvc/Mvc.ViewFeatures/src/RazorComponents/Prerendering/ComponentPrerrenderingContext.cs
  src/Mvc/Mvc.ViewFeatures/src/RazorComponents/Prerendering/IComponentPrerenderer.cs
  src/Mvc/Mvc.ViewFeatures/test/HtmlHelperComponentExtensionsTests.cs
  src/Mvc/test/Mvc.FunctionalTests/BasicTests.cs
  src/Mvc/test/Mvc.FunctionalTests/ComponentRenderingFunctionalTests.cs
  src/Mvc/test/WebSites/BasicWebSite/BasicWebSite.csproj
  src/Mvc/test/WebSites/BasicWebSite/Controllers/RazorComponentsController.cs
  src/Mvc/test/WebSites/BasicWebSite/RazorComponents/Fallback.razor
  src/Mvc/test/WebSites/BasicWebSite/RazorComponents/RoutedPage.razor
  src/Mvc/test/WebSites/BasicWebSite/RazorComponents/RouterContainer.razor
  src/Mvc/test/WebSites/BasicWebSite/Views/RazorComponents/Index.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/RazorComponentsWeb-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Components/Startup.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Pages/Index.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Pages/_ViewImports.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Startup.cs
Labels: area-mvc

#7829 Ensure build manifest has a consistent URI, despite what AzDO says
  build/Maestro/Maestro.csproj
Labels: area-infrastructure

#7769 Revert bad merge in React app
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/.eslintrc.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/tsconfig.json
  src/ProjectTemplates/test/SpaTemplateTest/ReactTemplateTest.cs
Labels: area-mvc

#7856 Avoid UI flickering after prerendering
  src/Components/Browser.JS/src/Rendering/BrowserRenderer.ts
  src/Components/Browser.JS/src/Rendering/LogicalElements.ts
  src/Components/Browser.JS/src/Rendering/Renderer.ts
Labels: 2 - Working, area-mvc, enhancement, feature-Components

#7859 Use environment tag helper for bootstrap in Razor Components template. Fixes #6886
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Pages/Index.cshtml
Labels: area-mvc, feature-Components

#7441 Fix #5055 use of page parameter
  src/Http/Routing/src/Internal/LinkGenerationDecisionTree.cs
  src/Http/Routing/test/UnitTests/Internal/LinkGenerationDecisionTreeTest.cs
  src/Mvc/Mvc.sln
  src/Mvc/test/Mvc.FunctionalTests/RoutingTestsBase.cs
  src/Mvc/test/WebSites/RoutingWebSite/Controllers/PageParameterController.cs
Labels: area-mvc

#7767 Fix up Security samples
  src/Security/Authentication/Cookies/samples/CookieSample/CookieSample.csproj
  src/Security/Authentication/Cookies/samples/CookieSessionSample/CookieSessionSample.csproj
  src/Security/Authentication/JwtBearer/samples/JwtBearerSample/JwtBearerSample.csproj
  src/Security/Authentication/JwtBearer/samples/JwtBearerSample/Startup.cs
  src/Security/Authentication/OpenIdConnect/samples/OpenIdConnect.AzureAdSample/OpenIdConnect.AzureAdSample.csproj
  src/Security/Authentication/OpenIdConnect/samples/OpenIdConnectSample/OpenIdConnectSample.csproj
  src/Security/Authentication/samples/SocialSample/SocialSample.csproj
  src/Security/Authentication/samples/SocialSample/web.config
Labels: area-security

#7871 [Templating] Add favicon.ico to the components template
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/wwwroot/favicon.ico
Labels: area-mvc

#7842 React to #7751
  src/SignalR/samples/SignalRSamples/Startup.cs
Labels: area-signalr

#7844 Update dependencies and workaround dotnet/sdk#2976
  .azure/pipelines/ci.yml
  build/Maestro/Maestro.csproj
  build/sources.props
  dockerbuild.sh
  eng/Version.Details.xml
  eng/Versions.props
  eng/Workarounds.targets
  src/Middleware/HealthChecks.EntityFrameworkCore/test/DbContextHealthCheckTest.cs
  src/Mvc/Mvc.Localization/src/HtmlLocalizer.cs
  src/Mvc/Mvc.Localization/src/HtmlLocalizerOfT.cs
  src/Mvc/Mvc.Localization/src/IHtmlLocalizer.cs
  src/Mvc/Mvc.Localization/src/ViewLocalizer.cs
  src/Mvc/Mvc.Localization/test/HtmlLocalizerTest.cs
  src/Mvc/Mvc.Localization/test/MvcLocalizationServiceCollectionExtensionsTest.cs
  src/Mvc/Mvc.Localization/test/TestStringLocalizer.cs
  src/Mvc/Mvc.Localization/test/ViewLocalizerTest.cs
Labels: area-infrastructure

#7834 Remove web::uri usage from public API
  src/SignalR/clients/cpp/src/signalrclient/connection_impl.cpp
  src/SignalR/clients/cpp/src/signalrclient/connection_impl.h
  src/SignalR/clients/cpp/src/signalrclient/constants.h
  src/SignalR/clients/cpp/src/signalrclient/http_sender.cpp
  src/SignalR/clients/cpp/src/signalrclient/http_sender.h
  src/SignalR/clients/cpp/src/signalrclient/hub_connection_impl.cpp
  src/SignalR/clients/cpp/src/signalrclient/request_sender.cpp
  src/SignalR/clients/cpp/src/signalrclient/request_sender.h
  src/SignalR/clients/cpp/src/signalrclient/transport.h
  src/SignalR/clients/cpp/src/signalrclient/url_builder.cpp
  src/SignalR/clients/cpp/src/signalrclient/url_builder.h
  src/SignalR/clients/cpp/src/signalrclient/web_request.cpp
  src/SignalR/clients/cpp/src/signalrclient/web_request.h
  src/SignalR/clients/cpp/src/signalrclient/web_request_factory.cpp
  src/SignalR/clients/cpp/src/signalrclient/web_request_factory.h
  src/SignalR/clients/cpp/src/signalrclient/websocket_transport.cpp
  src/SignalR/clients/cpp/src/signalrclient/websocket_transport.h
  src/SignalR/clients/cpp/test/signalrclienttests/Build/VS/signalrclienttests.vcxproj
  src/SignalR/clients/cpp/test/signalrclienttests/connection_impl_tests.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/hub_connection_impl_tests.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/request_sender_tests.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/test_web_request_factory.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/test_web_request_factory.h
  src/SignalR/clients/cpp/test/signalrclienttests/url_builder_tests.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/web_request_stub.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/web_request_tests.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/websocket_transport_tests.cpp
Labels: area-signalr

#7899 Replace EnvironmentName with Environments
  src/Hosting/Abstractions/src/EnvironmentName.cs
  src/Hosting/Hosting/src/Internal/HostingEnvironment.cs
  src/Hosting/Hosting/test/StartupManagerTests.cs
  src/Hosting/Hosting/test/WebHostConfigurationsTests.cs
  src/Hosting/Hosting/test/WebHostTests.cs
  src/Hosting/samples/SampleStartups/StartupFullControl.cs
  src/Mvc/Mvc.Testing/src/WebApplicationFactory.cs
Labels: area-hosting

#7586 Reenable IISExpress on helix
  Directory.Build.targets
  build/repo.targets
  eng/helix/helix.proj
  eng/helix/vstest/runtests.cmd
  eng/scripts/RunPowershell.cmd
  eng/targets/CSharp.Common.props
  eng/targets/CSharp.Common.targets
  eng/targets/Helix.Common.props
  eng/targets/Helix.props
  eng/targets/Helix.targets
  src/Servers/IIS/IIS/src/Microsoft.AspNetCore.Server.IIS.csproj
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/StartupTests.cs
  src/Servers/IIS/IIS/test/Common.Tests/Common.Tests.csproj
  src/Servers/IIS/IIS/test/FunctionalTest.props
  src/Servers/IIS/IIS/test/IIS.BackwardsCompatibility.FunctionalTests/IIS.BackwardsCompatibility.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IIS.ForwardsCompatibility.FunctionalTests/IIS.ForwardsCompatibility.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/IIS.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/IISExpress.FunctionalTests.csproj
  src/Servers/IIS/IntegrationTesting.IIS/src/Microsoft.AspNetCore.Server.IntegrationTesting.IIS.csproj
  src/Servers/IIS/build/testsite.props
  src/Servers/IIS/tools/update_schema.ps1
Labels: area-servers

#7231 Update Azure queues for Linux and MacOS builds
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure
