Repository dotnet/aspnetcore, pull requests merged in 2019-12, with the labels that each got.

#17432 Improve error for RRV substitution case
  src/Mvc/Mvc.Core/src/Routing/ActionEndpointFactory.cs
  src/Mvc/Mvc.Core/test/Routing/ActionEndpointFactoryTest.cs
Labels: area-mvc

#17468 Pin Extensions & Core-Setup refPacks to 3.1.0 rtm versions
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#17164 Improve error message when TestServer finishes with a pending request read
  src/Hosting/TestHost/src/HttpContextBuilder.cs
  src/Hosting/TestHost/test/TestClientTests.cs
Labels: area-hosting

#17533 Build fewer things in blazor-wasm
  .azure/pipelines/ci.yml
  eng/Build.props
  src/ProjectTemplates/test/BlazorServerTemplateTest.cs
  src/ProjectTemplates/test/EmptyWebTemplateTest.cs
  src/ProjectTemplates/test/GrpcTemplateTest.cs
  src/ProjectTemplates/test/IdentityUIPackageTest.cs
  src/ProjectTemplates/test/ItemTemplateTests/BlazorServerTests.cs
  src/ProjectTemplates/test/MvcTemplateTest.cs
  src/ProjectTemplates/test/RazorClassLibraryTemplateTest.cs
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
  src/ProjectTemplates/test/SpaTemplateTest/AngularTemplateTest.cs
  src/ProjectTemplates/test/SpaTemplateTest/ReactReduxTemplateTest.cs
  src/ProjectTemplates/test/SpaTemplateTest/ReactTemplateTest.cs
  src/ProjectTemplates/test/SpaTemplateTest/SpaTemplateTestBase.cs
  src/ProjectTemplates/test/WebApiTemplateTest.cs
  src/ProjectTemplates/test/WorkerTemplateTest.cs
Labels: area-blazor

#17153 Update Angular and React-Redux templates
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/app/app.module.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/app/counter/counter.component.spec.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/test.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/.eslintrc.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/components/FetchData.tsx
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/components/Home.tsx
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/components/Layout.tsx
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/store/configureStore.ts
Labels: area-mvc

#17486 Adding a new stage to build servers
  .azure/pipelines/devBuilds.yml
Labels: area-infrastructure

#17438 Generalize Http2Cat
  src/Servers/HttpSys/HttpSysServer.sln
  src/Servers/HttpSys/test/FunctionalTests/Http2Tests.cs
  src/Servers/HttpSys/test/FunctionalTests/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests.csproj
  src/Servers/Kestrel/Core/src/Microsoft.AspNetCore.Server.Kestrel.Core.csproj
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Servers/Kestrel/Core/src/Properties/AssemblyInfo.cs
  src/Servers/Kestrel/Core/test/Microsoft.AspNetCore.Server.Kestrel.Core.Tests.csproj
  src/Servers/Kestrel/Transport.Libuv/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv.csproj
  src/Servers/Kestrel/Transport.MsQuic/src/Microsoft.AspNetCore.Server.Kestrel.Transport.MsQuic.csproj
  src/Servers/Kestrel/Transport.Sockets/ref/Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.netcoreapp.cs
  src/Servers/Kestrel/Transport.Sockets/src/Client/SocketConnectionFactory.cs
  src/Servers/Kestrel/Transport.Sockets/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.csproj
  src/Servers/Kestrel/perf/Kestrel.Performance/Microsoft.AspNetCore.Server.Kestrel.Performance.csproj
  src/Servers/Kestrel/samples/Http2SampleApp/Program.cs
  src/Servers/Kestrel/samples/http2cat/Program.cs
  src/Servers/Kestrel/samples/http2cat/http2cat.csproj
  src/Servers/Kestrel/test/InMemory.FunctionalTests/InMemory.FunctionalTests.csproj
  src/Shared/Http2cat/Http2CatHostedService.cs
  src/Shared/Http2cat/Http2CatIHostBuilderExtensions.cs
  src/Shared/Http2cat/Http2CatIServiceCollectionExtensions.cs
  src/Shared/Http2cat/Http2CatOptions.cs
  src/Shared/Http2cat/Http2CatReadMe.md
  src/Shared/Http2cat/Http2Utilities.cs
  src/Shared/Http2cat/TaskTimeoutExtensions.cs
  src/Shared/ServerInfrastructure/BufferExtensions.cs
  src/Shared/ServerInfrastructure/BufferWriter.cs
  src/Shared/ServerInfrastructure/DuplexPipe.cs
  src/Shared/ServerInfrastructure/DuplexPipeStream.cs
  src/Shared/ServerInfrastructure/DuplexPipeStreamAdapter.cs
  src/Shared/ServerInfrastructure/Http2/Bitshifter.cs
  src/Shared/ServerInfrastructure/Http2/Http2ConnectionErrorException.cs
  src/Shared/ServerInfrastructure/Http2/Http2ContinuationFrameFlags.cs
  src/Shared/ServerInfrastructure/Http2/Http2DataFrameFlags.cs
  src/Shared/ServerInfrastructure/Http2/Http2ErrorCode.cs
  src/Shared/ServerInfrastructure/Http2/Http2Frame.Continuation.cs
  src/Shared/ServerInfrastructure/Http2/Http2Frame.Data.cs
  src/Shared/ServerInfrastructure/Http2/Http2Frame.GoAway.cs
  src/Shared/ServerInfrastructure/Http2/Http2Frame.Headers.cs
  src/Shared/ServerInfrastructure/Http2/Http2Frame.Ping.cs
  src/Shared/ServerInfrastructure/Http2/Http2Frame.Priority.cs
  src/Shared/ServerInfrastructure/Http2/Http2Frame.RstStream.cs
  src/Shared/ServerInfrastructure/Http2/Http2Frame.Settings.cs
  src/Shared/ServerInfrastructure/Http2/Http2Frame.WindowUpdate.cs
  src/Shared/ServerInfrastructure/Http2/Http2Frame.cs
  src/Shared/ServerInfrastructure/Http2/Http2FrameReader.cs
  src/Shared/ServerInfrastructure/Http2/Http2FrameType.cs
  src/Shared/ServerInfrastructure/Http2/Http2HeadersFrameFlags.cs
  src/Shared/ServerInfrastructure/Http2/Http2PeerSetting.cs
  src/Shared/ServerInfrastructure/Http2/Http2PeerSettings.cs
  src/Shared/ServerInfrastructure/Http2/Http2PingFrameFlags.cs
  src/Shared/ServerInfrastructure/Http2/Http2SettingsFrameFlags.cs
  src/Shared/ServerInfrastructure/Http2/Http2SettingsParameter.cs
  src/Shared/ServerInfrastructure/Http2/Http2SettingsParameterOutOfRangeException.cs
  src/Shared/ServerInfrastructure/MemoryPoolExtensions.cs
  src/Shared/ServerInfrastructure/ReadMe.md
  src/Shared/ServerInfrastructure/SharedStrings.resx
  src/Shared/ServerInfrastructure/SslDuplexPipe.cs
  src/Shared/ServerInfrastructure/StringUtilities.cs
Labels: area-servers

#17573 Pubternal IHttpHeadersHandler
  src/Servers/Kestrel/Core/ref/Microsoft.AspNetCore.Server.Kestrel.Core.netcoreapp.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpParser.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/QPack/QPackDecoder.cs
  src/Servers/Kestrel/Core/src/Microsoft.AspNetCore.Server.Kestrel.Core.csproj
  src/Servers/Kestrel/Core/test/Microsoft.AspNetCore.Server.Kestrel.Core.Tests.csproj
  src/Shared/Http2/Hpack/HPackDecoder.cs
  src/Shared/Http2/IHttpHeadersHandler.cs
  src/Shared/test/Shared.Tests/Http2/HPackDecoderTest.cs
Labels: api-suggestion, area-servers

#17565 Use ProblemDetails.Status to configure ObjectResult.StatusCode
  src/Mvc/Mvc.Core/src/DependencyInjection/ApiBehaviorOptionsSetup.cs
  src/Mvc/Mvc.Core/src/ObjectResult.cs
  src/Mvc/Mvc.Core/test/DependencyInjection/ApiBehaviorOptionsSetupTest.cs
  src/Mvc/Mvc.Core/test/ObjectResultTests.cs
Labels: area-mvc

#17335 Update branding to 3.1.1
  .azure/pipelines/ci.yml
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Versions.props
  eng/tools/BaselineGenerator/BaselineGenerator.csproj
  src/Framework/test/TargetingPackTests.cs
Labels: area-infrastructure

#17595 Change Coherent dependency of Extensions packages
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#17529 Clean up test skip conditions
  src/Security/Security.sln
  src/Servers/HttpSys/test/FunctionalTests/HttpsTests.cs
  src/Servers/HttpSys/test/FunctionalTests/OSDontSkipConditionAttribute.cs
  src/Servers/HttpSys/test/FunctionalTests/OpaqueUpgradeTests.cs
  src/Servers/HttpSys/test/FunctionalTests/ResponseCachingTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/ClientCertificateTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/HttpsTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/ClientDisconnectTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/ConnectionIdFeatureTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/HttpBodyControlFeatureTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/MaxRequestBodySizeTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/ResponseAbortTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/TestServerTest.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/InProcess/WebSocketTests.cs
  src/Servers/Kestrel/Kestrel/test/KestrelConfigurationBuilderTests.cs
  src/Servers/Kestrel/test/FunctionalTests/Http2/HandshakeTests.cs
Labels: area-security, area-servers

#17349 Dairai/add http class descriptions
  src/Http/Http.Abstractions/src/HttpMethods.cs
  src/Http/Http/src/DefaultHttpContext.cs
  src/Http/Http/src/HttpContextAccessor.cs
  src/Http/Http/src/HttpContextFactory.cs
  src/Middleware/HttpsPolicy/src/HttpsRedirectionMiddleware.cs
  src/Middleware/HttpsPolicy/src/HttpsRedirectionOptions.cs
  src/Servers/HttpSys/src/WebHostBuilderHttpSysExtensions.cs
Labels: area-servers

#17621 Use a real package name
  eng/Version.Details.xml
Labels: area-infrastructure

#17592 [release/3.1] Download runtime from suffixed location in dotnetcli blob storage
  eng/Version.Details.xml
  eng/Versions.props
  src/Installers/Windows/WindowsHostingBundle/Product.targets
Labels: area-infrastructure

#17633 Change the minimum VS version requirement
  global.json
Labels: area-infrastructure

#17627 [release/3.1] Use Microsoft.NETCore.App.Internal for runtime version
  global.json
Labels: area-platform

#17628 [release/3.0] Use Microsoft.NETCore.App.Internal for runtime version
  global.json
Labels: area-platform

#17645 Expose Http.Sys's Http/2 Reset error code API #17276
  src/Servers/HttpSys/src/FeatureContext.cs
  src/Servers/HttpSys/src/MessagePump.cs
  src/Servers/HttpSys/src/NativeInterop/ComNetOS.cs
  src/Servers/HttpSys/src/NativeInterop/HttpApi.cs
  src/Servers/HttpSys/src/NativeInterop/SafeLibraryHandle.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.cs
  src/Servers/HttpSys/src/RequestProcessing/Response.cs
  src/Servers/HttpSys/src/StandardFeatureCollection.cs
  src/Servers/HttpSys/test/FunctionalTests/Http2Tests.cs
  src/Servers/HttpSys/test/FunctionalTests/ResponseTrailersTests.cs
  src/Shared/Http2cat/Http2Utilities.cs
  src/Shared/HttpSys/NativeInterop/HttpApiTypes.cs
Labels: area-servers

#17626 [release/3.1] Update to 3.1.100 rtm sdk
  global.json
Labels: area-infrastructure

#17680 Updated npm dependencies
  src/Middleware/SpaServices/src/npm/aspnet-webpack/yarn.lock
  src/Middleware/SpaServices/src/yarn.lock
Labels: area-middleware

#17718 Account for UTC time to run the Dev-builds CI at midnight PT
  .azure/pipelines/devBuilds.yml
Labels: area-infrastructure

#17720 Update h2 sync scripts
  src/Shared/Http2/CopyToCoreFx.cmd
  src/Shared/Http2/CopyToCoreFx.sh
  src/Shared/Http2/CopyToRuntime.cmd
  src/Shared/Http2/CopyToRuntime.sh
  src/Shared/Http2/ReadMe.SharedCode.md
Labels: Attention: Shared Code Modified, area-servers

#17757 Update wording
  src/Shared/Http2cat/Http2CatHostedService.cs
  src/SignalR/README.md
Labels: area-signalr

#17773 [release/3.0] Add internal branches to ci builds
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#17756 Handle IIS OnCompleted callbacks later
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContextOfT.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/ResponseBodyTests.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
Labels: area-servers, servers-iis

#17611 updating inline <code> to <c>
  src/Components/Components/src/BindElementAttribute.cs
  src/Components/Web/src/BindInputElementAttribute.cs
  src/Http/Authentication.Abstractions/src/IAuthenticationRequestHandler.cs
  src/Http/Headers/src/HeaderUtilities.cs
  src/Http/Http.Abstractions/src/HostString.cs
  src/Http/Http.Extensions/src/RequestHeaders.cs
  src/Http/Http.Extensions/src/ResponseHeaders.cs
  src/Http/Routing/src/RouteConstraintBuilder.cs
  src/Mvc/Mvc.Abstractions/src/ModelBinding/ModelStateDictionary.cs
  src/Mvc/Mvc.Core/src/Controllers/ControllerFeatureProvider.cs
  src/Mvc/Mvc.Core/src/Formatters/MediaTypeCollection.cs
  src/Mvc/Mvc.Core/src/Routing/IRouteValueProvider.cs
  src/Mvc/Mvc.Razor/src/Internal/RazorInjectAttribute.cs
  src/Mvc/Mvc.Testing/src/WebApplicationFactoryContentRootAttribute.cs
  src/Mvc/Mvc.ViewFeatures/src/Rendering/MultiSelectList.cs
  src/Mvc/Mvc.ViewFeatures/src/Rendering/SelectList.cs
  src/Mvc/Mvc.ViewFeatures/src/Rendering/SelectListItem.cs
  src/Mvc/Mvc.ViewFeatures/src/ViewComponents/ViewComponentDescriptor.cs
  src/Security/Authentication/WsFederation/src/WsFederationHandler.cs
Labels: area-mvc

#17512 Change z-index value for reconnect modal. Fixes #12867
  src/Components/Web.JS/src/Platform/Circuits/DefaultReconnectDisplay.ts
Labels: area-blazor

#17639 Clarify docs on HttpRequest.PathBase
  src/Http/Http.Abstractions/src/HttpRequest.cs
Labels: area-servers

#16696 Change csv content type to text/csv
  src/Middleware/StaticFiles/src/FileExtensionContentTypeProvider.cs
Labels: api-approved, area-middleware, breaking-change

#17523 Add issue policies doc
  README.md
  docs/IssueManagementPolicies.md
Labels: area-infrastructure

#17784 Specify Blazor WebAssembly template language
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/wwwroot/index.html
Labels: area-mvc

#17805 Replace string.Equals with HttpMethods.IsX
  src/Antiforgery/src/Internal/DefaultAntiforgery.cs
  src/Middleware/CORS/src/Infrastructure/CorsMiddleware.cs
  src/Middleware/CORS/src/Infrastructure/CorsService.cs
  src/Middleware/HttpOverrides/src/HttpMethodOverrideMiddleware.cs
  src/Middleware/ResponseCaching/src/ResponseCachingMiddleware.cs
  src/Mvc/Mvc.Core/src/BindPropertyAttribute.cs
  src/Mvc/Mvc.Core/src/RequireHttpsAttribute.cs
  src/Mvc/Mvc.Cors/src/CorsAuthorizationFilter.cs
  src/Mvc/Mvc.Cors/src/CorsHttpMethodActionConstraint.cs
  src/Mvc/Mvc.ViewFeatures/src/DefaultHtmlGenerator.cs
  src/Mvc/Mvc.ViewFeatures/src/Filters/AutoValidateAntiforgeryTokenAuthorizationFilter.cs
  src/Security/Authentication/JwtBearer/samples/JwtBearerSample/Startup.cs
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectHandler.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/ChromeTests.cs
  src/SignalR/clients/ts/FunctionalTests/Startup.cs
Labels: area-servers

#17810 Replace Task.FromResult(0) with Task.CompletedTask
  src/Middleware/Session/src/SessionMiddleware.cs
Labels: area-servers

#17673 Support async main
  src/Components/Blazor/Blazor/src/Hosting/EntrypointInvoker.cs
  src/Components/Blazor/Blazor/test/Hosting/EntrypointInvokerTest.cs
  src/Components/Blazor/Blazor/test/Microsoft.AspNetCore.Blazor.Tests.csproj
  src/Components/Blazor/testassets/StandaloneApp/wwwroot/index.html
  src/Components/Components.sln
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/Web.JS/src/Platform/Platform.ts
  src/Components/test/E2ETest/ServerExecutionTests/ServerErrorNotificationTest.cs
  src/Components/test/E2ETest/Tests/ErrorNotificationTest.cs
  src/Components/test/E2ETest/Tests/StartupErrorNotificationTest.cs
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/Program.cs
  src/Components/test/testassets/BasicTestApp/wwwroot/index.html
  src/Components/test/testassets/BasicTestApp/wwwroot/style.css
  src/Components/test/testassets/TestServer/Pages/_ServerHost.cshtml
Labels: area-blazor, blazor-wasm

#17838 Fix selecting empty values in dropdown. Fixes #17735
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Rendering/BrowserRenderer.ts
  src/Components/test/E2ETest/Tests/BindTest.cs
  src/Components/test/testassets/BasicTestApp/BindCasesComponent.razor
Labels: area-blazor

#17829 Update ApiConventionNameMatchBehavior.cs
  src/Mvc/Mvc.Core/src/ApiExplorer/ApiConventionNameMatchBehavior.cs
Labels: area-mvc

#17828 Minor clean-up in Static Files
  src/Middleware/StaticFiles/src/Constants.cs
  src/Middleware/StaticFiles/src/DefaultFilesMiddleware.cs
  src/Middleware/StaticFiles/src/DirectoryBrowserMiddleware.cs
  src/Middleware/StaticFiles/src/HtmlDirectoryFormatter.cs
  src/Middleware/StaticFiles/src/StaticFileContext.cs
  src/Middleware/StaticFiles/src/StaticFileMiddleware.cs
Labels: area-middleware, feature-StaticFiles

#17796 Add dummy target for GetTargetPath to Components.Web.JS.npmproj
  src/Components/Web.JS/Microsoft.AspNetCore.Components.Web.JS.npmproj
Labels: area-infrastructure

#17860 Switch to label.N form for pre-release label
  eng/Versions.props
Labels: area-infrastructure

#17859 Fix wording in PrincipalExtensions.cs summary
  src/Identity/Extensions.Core/src/PrincipalExtensions.cs
Labels: area-identity

#17889 Update ReadMe.SharedCode.md
  src/Shared/test/Shared.Tests/Http2/ReadMe.SharedCode.md
Labels: area-servers

#17871 add issue policies doc to issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: area-infrastructure

#17875 Add HTTP/2 interop tests for HttpClient and Kestrel
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
Labels: area-servers, servers-kestrel

#17914 Specify AssetManifestFileName during CodeSign step
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#17917 Drain rejected h2 streams
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
Labels: area-servers

#17901 remove apostrophes to match the intended possessive
  src/Mvc/Mvc.Core/src/ApiConventionMethodAttribute.cs
  src/Mvc/Mvc.Core/src/ApiConventionTypeAttribute.cs
Labels: area-mvc

#17942 Use mono_bind_static_method for invoking JS methods
  src/Components/Blazor/Blazor/src/Hosting/EntrypointInvoker.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/Web.JS/src/Platform/Mono/MonoTypes.d.ts
  src/Components/Web.JS/src/Platform/Platform.ts
Labels: area-blazor

#17940 Update dependencies from 3 repos
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/SetupNugetSources.ps1
  eng/common/SetupNugetSources.sh
  eng/common/build.ps1
  eng/common/init-tools-native.ps1
  eng/common/native/install-tool.ps1
  eng/common/pipeline-logging-functions.ps1
  eng/common/templates/steps/publish-logs.yml
  eng/common/tools.ps1
  eng/common/tools.sh
  global.json
  src/DataProtection/samples/EntityFrameworkCoreSample/EntityFrameworkCoreSample.csproj
  src/Middleware/HealthChecks.EntityFrameworkCore/test/Microsoft.Extensions.Diagnostics.HealthChecks.EntityFrameworkCore.Tests.csproj
Labels: area-infrastructure

#17360 Add an extension method Users to IHubClients witch takes IEnumerable parameter
  src/SignalR/server/Core/ref/Microsoft.AspNetCore.SignalR.Core.netcoreapp.cs
  src/SignalR/server/Core/src/HubClientsExtensions.cs
Labels: api-approved, area-signalr

#17943 Fixed issue #17205 "More missing descriptions"
  src/Middleware/WebSockets/src/WebSocketMiddlewareExtensions.cs
  src/Servers/Kestrel/Transport.Sockets/src/WebHostBuilderSocketExtensions.cs
Labels: area-servers

#17971 HttpSys logs and samples cleanup
  src/Servers/HttpSys/HttpSysServer.sln
  src/Servers/HttpSys/samples/SelfHostServer/Program.cs
  src/Servers/HttpSys/samples/SelfHostServer/SelfHostServer.csproj
  src/Servers/HttpSys/samples/SelfHostServer/Startup.cs
  src/Servers/HttpSys/src/HttpSysListener.cs
  src/Servers/HttpSys/src/LogHelper.cs
  src/Servers/HttpSys/src/NativeInterop/UrlGroup.cs
Labels: area-servers

#17834 Remove references to non-existent -v option
  src/Tools/Microsoft.dotnet-openapi/README.md
Labels: area-commandlinetools

#17846 Skip culture check when unnecessary
  src/Middleware/Localization.Routing/src/RouteDataRequestCultureProvider.cs
  src/Middleware/Localization/src/CookieRequestCultureProvider.cs
  src/Middleware/Localization/src/QueryStringRequestCultureProvider.cs
  src/Middleware/Localization/src/RequestLocalizationMiddleware.cs
Labels: area-middleware

#14409 Added an extension method for setting up IUserConfirmation type
  src/Identity/Extensions.Core/ref/Microsoft.Extensions.Identity.Core.netcoreapp.cs
  src/Identity/Extensions.Core/ref/Microsoft.Extensions.Identity.Core.netstandard2.0.cs
  src/Identity/Extensions.Core/src/IdentityBuilder.cs
  src/Identity/test/Identity.Test/IdentityBuilderTest.cs
Labels: area-identity
