Repository dotnet/aspnetcore, pull requests merged in 2019-10, with the labels that each got.

#14404 Update branding to 3.0.1
  .azure/pipelines/jobs/default-build.yml
  Directory.Build.props
  Directory.Build.targets
  build.ps1
  eng/PatchConfig.props
  eng/Versions.props
  eng/scripts/InstallTar.ps1
  eng/targets/ResolveReferences.targets
  global.json
  src/Framework/ref/Microsoft.AspNetCore.App.Ref.csproj
Labels: area-platform

#14594 [release/3.1] Fix the badness and get this branch building
  .azure/pipelines/jobs/default-build.yml
  build.ps1
  eng/scripts/InstallTar.ps1
  eng/targets/ReferenceAssembly.targets
  global.json
  src/Framework/ref/Microsoft.AspNetCore.App.Ref.csproj
Labels: area-infrastructure

#14535 Update package baseline
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/tools/BaselineGenerator/BaselineGenerator.csproj
  src/Components/Components/src/Microsoft.AspNetCore.Components.csproj
Labels: area-infrastructure

#14567 Fix nav+auth interaction. Fixes #14566
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/App.razor
Labels: area-blazor

#14515 Fix null reference exception for Streaming null object (#14004)
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTestUtils/Hubs.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-signalr, ask-mode

#14595 Updated npm dependencies
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/package-lock.json
Labels: area-mvc

#13776 [3.1] Re-implement SameSite for 2019
  src/Http/Headers/ref/Microsoft.Net.Http.Headers.netcoreapp.cs
  src/Http/Headers/src/SameSiteMode.cs
  src/Http/Headers/src/SetCookieHeaderValue.cs
  src/Http/Headers/test/SetCookieHeaderValueTest.cs
  src/Http/Http.Abstractions/src/CookieBuilder.cs
  src/Http/Http.Features/ref/Microsoft.AspNetCore.Http.Features.netcoreapp.cs
  src/Http/Http.Features/ref/Microsoft.AspNetCore.Http.Features.netstandard2.0.cs
  src/Http/Http.Features/src/CookieOptions.cs
  src/Http/Http.Features/src/SameSiteMode.cs
  src/Security/Authentication/OpenIdConnect/samples/OpenIdConnectSample/OpenIdConnectSample.csproj
  src/Security/Authentication/OpenIdConnect/samples/OpenIdConnectSample/Startup.cs
  src/Security/Authentication/WsFederation/samples/WsFedSample/WsFedSample.csproj
  src/Security/Authentication/test/CookieTests.cs
  src/Security/Authentication/test/OpenIdConnect/OpenIdConnectChallengeTests.cs
  src/Security/CookiePolicy/src/CookiePolicyOptions.cs
  src/Security/CookiePolicy/src/ResponseCookiesWrapper.cs
  src/Security/CookiePolicy/test/CookieConsentTests.cs
  src/Security/CookiePolicy/test/CookiePolicyTests.cs
Labels: 3.1-candidate, area-servers

#14531 Make UseStatusCodePagesWithReExecute clear Endpoints
  src/Middleware/Diagnostics/src/StatusCodePage/StatusCodePagesExtensions.cs
  src/Middleware/Diagnostics/test/UnitTests/ExceptionHandlerTest.cs
  src/Middleware/Diagnostics/test/UnitTests/StatusCodeMiddlewareTest.cs
Labels: area-middleware

#14522 HttpSys GoAway
  src/Servers/HttpSys/samples/SelfHostServer/SelfHostServer.csproj
  src/Servers/HttpSys/samples/SelfHostServer/Startup.cs
  src/Servers/HttpSys/src/NativeInterop/ComNetOS.cs
  src/Servers/HttpSys/src/RequestProcessing/Response.cs
  src/Shared/HttpSys/NativeInterop/HttpApiTypes.cs
Labels: area-servers

#14182 Support attaching to an existing request queue in HTTP.SYS
  src/Servers/HttpSys/HttpSysServer.sln
  src/Servers/HttpSys/ref/Microsoft.AspNetCore.Server.HttpSys.netcoreapp.cs
  src/Servers/HttpSys/samples/QueueSharing/Program.cs
  src/Servers/HttpSys/samples/QueueSharing/QueueSharing.csproj
  src/Servers/HttpSys/src/AuthenticationManager.cs
  src/Servers/HttpSys/src/HttpSysListener.cs
  src/Servers/HttpSys/src/HttpSysOptions.cs
  src/Servers/HttpSys/src/MessagePump.cs
  src/Servers/HttpSys/src/NativeInterop/HttpApi.cs
  src/Servers/HttpSys/src/NativeInterop/RequestQueue.cs
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Servers/HttpSys/src/RequestQueueMode.cs
  src/Servers/HttpSys/src/TimeoutManager.cs
  src/Servers/HttpSys/src/UrlPrefix.cs
  src/Servers/HttpSys/src/UrlPrefixCollection.cs
  src/Servers/HttpSys/test/FunctionalTests/Listener/AuthenticationOnExistingQueueTests.cs
  src/Servers/HttpSys/test/FunctionalTests/Listener/ServerOnExistingQueueTests.cs
  src/Servers/HttpSys/test/FunctionalTests/Listener/Utilities.cs
  src/Servers/HttpSys/test/FunctionalTests/ServerTests.cs
  src/Shared/HttpSys/NativeInterop/HttpApiTypes.cs
  src/Shared/HttpSys/NativeInterop/UnsafeNativeMethods.cs
Labels: API Review, api-ready-for-review, area-servers

#14589 Update check for 413 in IIS
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/MaxRequestBodySizeTests.cs
Labels: area-servers, tell-mode

#13840 [release/2.2] Backport memory leak fix from 3.0
  eng/PatchConfig.props
  src/DataProtection/EntityFrameworkCore/src/EntityFrameworkCoreXmlRepository.cs
Labels: Servicing-approved, area-dataprotection

#14603 Prevent null refs in RemoteJSRuntime
  src/Components/Server/src/Circuits/RemoteJSRuntime.cs
Labels: area-blazor

#14465 [Blazor] Adds support for rendering and prerendering server-side components with parameters
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/Server/src/Circuits/ComponentDescriptor.cs
  src/Components/Server/src/Circuits/ComponentParameterDeserializer.cs
  src/Components/Server/src/Circuits/ComponentParametersTypeCache.cs
  src/Components/Server/src/Circuits/RemoteRenderer.cs
  src/Components/Server/src/Circuits/ServerComponentDeserializer.cs
  src/Components/Server/src/DependencyInjection/ComponentServiceCollectionExtensions.cs
  src/Components/Server/src/Microsoft.AspNetCore.Components.Server.csproj
  src/Components/Server/test/Circuits/ServerComponentDeserializerTest.cs
  src/Components/test/E2ETest/Microsoft.AspNetCore.Components.E2ETests.csproj
  src/Components/test/E2ETest/ServerExecutionTests/MultipleRootComponentsTest.cs
  src/Components/test/testassets/BasicTestApp/MultipleComponents/GreeterComponent.razor
  src/Components/test/testassets/TestServer/Pages/MultipleComponents.cshtml
  src/Mvc/Mvc.ViewFeatures/src/HtmlHelperComponentExtensions.cs
  src/Mvc/Mvc.ViewFeatures/src/Microsoft.AspNetCore.Mvc.ViewFeatures.csproj
  src/Mvc/Mvc.ViewFeatures/src/ServerComponentSerializer.cs
  src/Mvc/Mvc.ViewFeatures/test/HtmlHelperComponentExtensionsTests.cs
  src/Shared/Components/ComponentParameter.cs
  src/Shared/Components/ServerComponent.cs
Labels: area-blazor

#14402 Negotiate protocol versioning and ConnectionID split
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubConnectionTests.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/Startup.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HttpConnectionTests.Negotiate.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/ResponseUtils.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/TestHttpMessageHandler.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnection.cs
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/Negotiate.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/NegotiateResponse.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/Utils.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/HubConnectionTest.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/NegotiateResponseTest.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/ResolveNegotiateUrlTest.java
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
  src/SignalR/clients/ts/signalr/tests/Common.ts
  src/SignalR/clients/ts/signalr/tests/HttpConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/HubConnectionBuilder.test.ts
  src/SignalR/common/Http.Connections.Common/ref/Microsoft.AspNetCore.Http.Connections.Common.netcoreapp.cs
  src/SignalR/common/Http.Connections.Common/ref/Microsoft.AspNetCore.Http.Connections.Common.netstandard2.0.cs
  src/SignalR/common/Http.Connections.Common/src/NegotiateProtocol.cs
  src/SignalR/common/Http.Connections.Common/src/NegotiationResponse.cs
  src/SignalR/common/Http.Connections/ref/Microsoft.AspNetCore.Http.Connections.netcoreapp.cs
  src/SignalR/common/Http.Connections/src/HttpConnectionDispatcherOptions.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionContext.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.Log.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionManager.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionManagerTests.cs
  src/SignalR/common/Http.Connections/test/NegotiateProtocolTests.cs
Labels: area-signalr

#14576 Updated Blazor macOS Catalina/iOS 13 workaround
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
Labels: area-blazor

#14668 Retarget Ignitor to netcoreapp3.0
  src/Components/Ignitor/src/Ignitor.csproj
Labels: area-blazor

#14626 Add a few tests for generic JSInterop
  src/Components/test/E2ETest/Tests/InteropTest.cs
  src/Components/test/testassets/BasicTestApp/InteropComponent.razor
  src/Components/test/testassets/BasicTestApp/InteropTest/JavaScriptInterop.cs
  src/Components/test/testassets/BasicTestApp/wwwroot/js/jsinteroptests.js
Labels: area-blazor

#14352 [release/3.0] Update gRPC package version to 2.23.2
  eng/Versions.props
Labels: Servicing-approved, Servicing-consider, area-grpc

#14379 [Blazor][Fixes #13357] input type=time reseting value
  src/Components/Samples/BlazorServerApp/Pages/Index.razor
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Rendering/BrowserRenderer.ts
  src/Components/Web.JS/src/Rendering/EventForDotNet.ts
  src/Components/Web/ref/Microsoft.AspNetCore.Components.Web.netcoreapp.cs
  src/Components/Web/ref/Microsoft.AspNetCore.Components.Web.netstandard2.0.cs
  src/Components/Web/src/Web/BindAttributes.cs
  src/Components/test/E2ETest/Tests/BindTest.cs
  src/Components/test/testassets/BasicTestApp/BindCasesComponent.razor
  src/Components/test/testassets/BasicTestApp/GlobalizationBindCases.razor
  src/Shared/E2ETesting/BrowserAssertFailedException.cs
Labels: area-blazor

#14593 Obsolete ValidationVisitor.AllowShortCircuitingValidationWhenNoValida…
  src/Mvc/Mvc.Core/ref/Microsoft.AspNetCore.Mvc.Core.netcoreapp.cs
  src/Mvc/Mvc.Core/src/ModelBinding/Validation/ValidationVisitor.cs
Labels: area-mvc

#14635 Make ubuntu 1604 helix queue required PR check
  .azure/pipelines/ci.yml
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#14681 Diagnostics Exception Page: Color-blindness Improvement
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/Views/ErrorPage.css
  src/Shared/ErrorPage/Views/ErrorPage.css
Labels: area-middleware

#14114 Don't call close if connect does not succeed
  eng/PatchConfig.props
  src/SignalR/clients/ts/signalr/src/WebSocketTransport.ts
  src/SignalR/clients/ts/signalr/tests/ServerSentEventsTransport.test.ts
  src/SignalR/clients/ts/signalr/tests/WebSocketTransport.test.ts
Labels: Servicing-approved, area-signalr

#14667 Merge Pass SubProtocols from TestHost WebSocketClient (#14666)
  src/Hosting/TestHost/src/WebSocketClient.cs
  src/Hosting/TestHost/test/TestClientTests.cs
Labels: area-servers

#14690 Update gRPC package version to 2.23.2
  eng/Versions.props
Labels: Servicing-approved

#13746 [2.1] Re-implement SameSite for 2019
  eng/PatchConfig.props
  src/Http/Headers/src/SetCookieHeaderValue.cs
  src/Http/Headers/test/SetCookieHeaderValueTest.cs
  src/Security/Authentication/OpenIdConnect/samples/OpenIdConnectSample/OpenIdConnectSample.csproj
  src/Security/Authentication/OpenIdConnect/samples/OpenIdConnectSample/Startup.cs
  src/Security/Authentication/test/CookieTests.cs
  src/Security/Authentication/test/Microsoft.AspNetCore.Authentication.Test.csproj
  src/Security/Authentication/test/OpenIdConnect/OpenIdConnectChallengeTests.cs
  src/Security/CookiePolicy/src/CookiePolicyOptions.cs
  src/Security/CookiePolicy/src/ResponseCookiesWrapper.cs
  src/Security/CookiePolicy/test/CookiePolicyTests.cs
  src/Security/CookiePolicy/test/Microsoft.AspNetCore.CookiePolicy.Test.csproj
  src/Security/Security.sln
Labels: Servicing-approved, area-security, feature-HttpAbstractions

#13858 [2.2] Re-implement SameSite for 2019
  eng/PatchConfig.props
  src/Http/Headers/src/SetCookieHeaderValue.cs
  src/Http/Headers/test/SetCookieHeaderValueTest.cs
  src/Security/Authentication/OpenIdConnect/samples/OpenIdConnectSample/OpenIdConnectSample.csproj
  src/Security/Authentication/OpenIdConnect/samples/OpenIdConnectSample/Startup.cs
  src/Security/Authentication/WsFederation/samples/WsFedSample/WsFedSample.csproj
  src/Security/Authentication/samples/SocialSample/SocialSample.csproj
  src/Security/Authentication/test/CookieTests.cs
  src/Security/Authentication/test/Microsoft.AspNetCore.Authentication.Test.csproj
  src/Security/Authentication/test/OpenIdConnect/OpenIdConnectChallengeTests.cs
  src/Security/CookiePolicy/src/CookiePolicyOptions.cs
  src/Security/CookiePolicy/src/ResponseCookiesWrapper.cs
  src/Security/CookiePolicy/test/CookiePolicyTests.cs
  src/Security/CookiePolicy/test/Microsoft.AspNetCore.CookiePolicy.Test.csproj
  src/Security/Security.sln
Labels: Servicing-approved, area-servers

#14713 Remove unused method FilterHealthChecks
  src/Middleware/HealthChecks/src/HealthCheckMiddleware.cs
Labels: area-healthchecks

#14394 [release/3.0] Switch to embedded package icon
  .azure/pipelines/ci.yml
  Directory.Build.props
  eng/tools/RepoTasks/RepoTasks.csproj
  global.json
  packageIcon.png
  src/Analyzers/Analyzers/src/Microsoft.AspNetCore.Analyzers.csproj
  src/Analyzers/Analyzers/src/Microsoft.AspNetCore.Analyzers.nuspec
  src/Components/Blazor/Build/src/Microsoft.AspNetCore.Blazor.Build.csproj
  src/Components/Blazor/Build/src/Microsoft.AspNetCore.Blazor.Build.nuspec
  src/Components/Blazor/DevServer/src/Microsoft.AspNetCore.Blazor.DevServer.csproj
  src/Components/Blazor/DevServer/src/Microsoft.AspNetCore.Blazor.DevServer.nuspec
  src/Components/Blazor/Templates/src/Microsoft.AspNetCore.Blazor.Templates.csproj
  src/Components/Blazor/Templates/src/Microsoft.AspNetCore.Blazor.Templates.nuspec
  src/Components/Components/src/Microsoft.AspNetCore.Components.csproj
  src/Components/Components/src/Microsoft.AspNetCore.Components.multitarget.nuspec
  src/Components/Components/src/Microsoft.AspNetCore.Components.netcoreapp3.0.nuspec
  src/Installers/Windows/GenerateNugetPackageWithMsi.ps1
  src/Installers/Windows/SharedFramework/SharedFramework.wixproj
  src/Installers/Windows/SharedFramework/SharedFrameworkPackage.nuspec
  src/Installers/Windows/TargetingPack/TargetingPack.wixproj
  src/Installers/Windows/TargetingPack/TargetingPackPackage.nuspec
  src/Mvc/Mvc.Analyzers/src/Microsoft.AspNetCore.Mvc.Analyzers.csproj
  src/Mvc/Mvc.Analyzers/src/Microsoft.AspNetCore.Mvc.Analyzers.nuspec
  src/Mvc/Mvc.Api.Analyzers/src/Microsoft.AspNetCore.Mvc.Api.Analyzers.csproj
  src/Mvc/Mvc.Api.Analyzers/src/Microsoft.AspNetCore.Mvc.Api.Analyzers.nuspec
  src/ProjectTemplates/TemplateProjects.props
  src/ProjectTemplates/templates.nuspec
  src/Tools/Extensions.ApiDescription.Client/src/Microsoft.Extensions.ApiDescription.Client.csproj
  src/Tools/Extensions.ApiDescription.Client/src/Microsoft.Extensions.ApiDescription.Client.nuspec
  src/Tools/Extensions.ApiDescription.Server/src/Microsoft.Extensions.ApiDescription.Server.csproj
  src/Tools/Extensions.ApiDescription.Server/src/Microsoft.Extensions.ApiDescription.Server.nuspec
Labels: area-infrastructure, tell-mode

#14716 Update gRPC template package sample to follow convention
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/Protos/greet.proto
Labels: area-grpc

#14747 Add XML docs to IHttpContextAccessor and IHttpContextFactory
  src/Http/Http.Abstractions/src/IHttpContextAccessor.cs
  src/Http/Http.Abstractions/src/IHttpContextFactory.cs
Labels: area-servers

#14764 Small improvement to HttpsConnectionMiddleware
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
Labels: area-middleware

#12908 Add JObjectAdapter to support JSON Patch for JObject properties
  .gitignore
  src/Features/JsonPatch/JsonPatch.sln
  src/Features/JsonPatch/ref/Microsoft.AspNetCore.JsonPatch.netstandard2.0.cs
  src/Features/JsonPatch/src/Adapters/AdapterFactory.cs
  src/Features/JsonPatch/src/Internal/JObjectAdapter.cs
  src/Features/JsonPatch/test/JsonPatchDocumentJObjectTest.cs
  src/Features/JsonPatch/test/TestObjectModels/ObjectWithJObject.cs
Labels: area-mvc

#14741 InputNumber Long
  src/Components/Web/src/Forms/InputNumber.cs
  src/Components/test/E2ETest/ServerExecutionTests/GlobalizationTest.cs
  src/Components/test/testassets/BasicTestApp/GlobalizationBindCases.razor
Labels: area-mvc

#14538 Manually add TypeForwardedTo in ref assemblies
  Directory.Build.targets
  eng/targets/ReferenceAssembly.targets
  src/Components/Components/src/Microsoft.AspNetCore.Components.csproj
  src/Components/Components/src/Microsoft.AspNetCore.Components.multitarget.nuspec
  src/Components/Components/src/Microsoft.AspNetCore.Components.netcoreapp3.0.nuspec
  src/Framework/ref/Microsoft.AspNetCore.App.Ref.csproj
  src/Framework/test/Microsoft.AspNetCore.App.UnitTests.csproj
  src/Framework/test/TargetingPackTests.cs
  src/Framework/test/TestData.cs
  src/Http/Routing.Abstractions/ref/Microsoft.AspNetCore.Routing.Abstractions.Manual.cs
  src/Http/Routing.Abstractions/ref/Microsoft.AspNetCore.Routing.Abstractions.csproj
  src/Installers/Windows/GenerateNugetPackageWithMsi.ps1
  src/Installers/Windows/SharedFramework/SharedFramework.wixproj
  src/Installers/Windows/SharedFramework/SharedFrameworkPackage.nuspec
  src/Installers/Windows/TargetingPack/TargetingPack.wixproj
  src/Installers/Windows/TargetingPack/TargetingPackPackage.nuspec
  src/Mvc/Mvc.ApiExplorer/ref/Microsoft.AspNetCore.Mvc.ApiExplorer.Manual.cs
  src/Mvc/Mvc.ApiExplorer/ref/Microsoft.AspNetCore.Mvc.ApiExplorer.csproj
  src/Mvc/Mvc.Core/ref/Microsoft.AspNetCore.Mvc.Core.Manual.cs
  src/Mvc/Mvc.Core/ref/Microsoft.AspNetCore.Mvc.Core.csproj
  src/Mvc/Mvc.Formatters.Json/ref/Microsoft.AspNetCore.Mvc.Formatters.Json.Manual.cs
  src/Mvc/Mvc.Formatters.Json/ref/Microsoft.AspNetCore.Mvc.Formatters.Json.csproj
  src/Razor/Razor.Runtime/ref/Microsoft.AspNetCore.Razor.Runtime.Manual.cs
  src/Razor/Razor.Runtime/ref/Microsoft.AspNetCore.Razor.Runtime.csproj
  src/Security/Authorization/Core/ref/Microsoft.AspNetCore.Authorization.Manual.cs
  src/Security/Authorization/Core/ref/Microsoft.AspNetCore.Authorization.csproj
  src/Servers/IIS/IIS/ref/Microsoft.AspNetCore.Server.IIS.Manual.cs
  src/Servers/IIS/IIS/ref/Microsoft.AspNetCore.Server.IIS.csproj
Labels: Servicing-consider, area-platform

#14607 Making docs more inclusive
  src/Antiforgery/src/IAntiforgeryAdditionalDataProvider.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/IOptimizedAuthenticatedEncryptor.cs
  src/DataProtection/DataProtection/src/IDataProtectionBuilder.cs
  src/DataProtection/DataProtection/src/KeyManagement/KeyRingBasedDataProtector.cs
  src/DataProtection/DataProtection/src/KeyManagement/KeyRingProvider.cs
  src/Features/JsonPatch/src/Adapters/IObjectAdapter.cs
  src/Http/Headers/src/EntityTagHeaderValue.cs
  src/Http/Headers/src/HeaderUtilities.cs
  src/Http/Routing/src/Constraints/HttpMethodRouteConstraint.cs
  src/Identity/Extensions.Core/src/UserManager.cs
  src/Mvc/Mvc.Core/src/ApplicationModels/ApplicationModelFactory.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/components/api-authorization/Login.js
Labels: area-servers

#14612 Handle exceptions thrown by PEReader
  src/Hosting/Hosting/src/GenericHost/GenericWebHostedService.cs
  src/Hosting/Hosting/src/Internal/WebHost.cs
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/DeveloperExceptionPageMiddleware.cs
  src/Middleware/Diagnostics/test/UnitTests/ExceptionDetailsProviderTest.cs
  src/Servers/IIS/IIS/src/StartupHook.cs
  src/Shared/StackTrace/ExceptionDetails/ExceptionDetailsProvider.cs
  src/Shared/StackTrace/ExceptionDetails/LoggerExtensions.cs
  src/Shared/StackTrace/StackFrame/StackTraceHelper.cs
  src/Shared/test/Shared.Tests/StackTraceHelperTest.cs
Labels: area-middleware

#14758 Update .NET Framework support in README
  README.md
Labels: area-infrastructure

#14477 Tests for GetHttpProtocolVersion
  src/Shared/test/Shared.Tests/HttpSysGetHttpProtocolVersionTest.cs
Labels: area-servers

#14582 Add SocketConnectionFactory and http2cat
  src/Servers/Kestrel/Core/src/Properties/AssemblyInfo.cs
  src/Servers/Kestrel/Kestrel.sln
  src/Servers/Kestrel/Transport.Sockets/src/Client/SocketConnectionFactory.cs
  src/Servers/Kestrel/Transport.Sockets/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.csproj
  src/Servers/Kestrel/samples/http2cat/Http2Utilities.cs
  src/Servers/Kestrel/samples/http2cat/Program.cs
  src/Servers/Kestrel/samples/http2cat/TaskTimeoutExtensions.cs
  src/Servers/Kestrel/samples/http2cat/http2cat.csproj
Labels: area-servers

#14672 ControllerBase.Problem should also set the StatusCode of the response
  src/Mvc/Mvc.Core/src/ControllerBase.cs
  src/Mvc/Mvc.Core/test/ControllerBaseTest.cs
Labels: area-mvc

#13870 [3.0 patch] Re-implement SameSite for 2019
  eng/PatchConfig.props
  src/Http/Headers/src/SetCookieHeaderValue.cs
  src/Http/Headers/test/SetCookieHeaderValueTest.cs
  src/Http/Http.Abstractions/src/CookieBuilder.cs
  src/Http/Http.Features/src/CookieOptions.cs
  src/Security/Authentication/OpenIdConnect/samples/OpenIdConnectSample/OpenIdConnectSample.csproj
  src/Security/Authentication/OpenIdConnect/samples/OpenIdConnectSample/Startup.cs
  src/Security/Authentication/WsFederation/samples/WsFedSample/WsFedSample.csproj
  src/Security/Authentication/test/CookieTests.cs
  src/Security/Authentication/test/Microsoft.AspNetCore.Authentication.Test.csproj
  src/Security/Authentication/test/OpenIdConnect/OpenIdConnectChallengeTests.cs
  src/Security/CookiePolicy/src/CookiePolicyOptions.cs
  src/Security/CookiePolicy/src/ResponseCookiesWrapper.cs
  src/Security/CookiePolicy/test/CookieConsentTests.cs
  src/Security/CookiePolicy/test/CookiePolicyTests.cs
  src/Security/CookiePolicy/test/Microsoft.AspNetCore.CookiePolicy.Test.csproj
Labels: Servicing-approved, area-servers

#14839 Allow opt out of HttpSys client cert negotiation
  src/Servers/HttpSys/ref/Microsoft.AspNetCore.Server.HttpSys.netcoreapp.cs
  src/Servers/HttpSys/src/ClientCertificateMethod.cs
  src/Servers/HttpSys/src/FeatureContext.cs
  src/Servers/HttpSys/src/HttpSysOptions.cs
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Shared/HttpSys/RequestProcessing/NativeRequestContext.cs
Labels: api-ready-for-review, area-servers, servers-httpsys

#14636 Dev exception notifications
  src/Components/Blazor/Templates/src/content/BlazorWasm-CSharp/Client/wwwroot/css/site.css
  src/Components/Blazor/Templates/src/content/BlazorWasm-CSharp/Client/wwwroot/index.html
  src/Components/Samples/BlazorServerApp/Shared/MainLayout.razor
  src/Components/Samples/BlazorServerApp/wwwroot/css/site.css
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Boot.Server.ts
  src/Components/Web.JS/src/BootErrors.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/test/E2ETest/Tests/ErrorNotificationClientSideTest.cs
  src/Components/test/E2ETest/Tests/ErrorNotificationServerSideTest.cs
  src/Components/test/testassets/BasicTestApp/ErrorComponent.razor
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/wwwroot/index.html
  src/Components/test/testassets/BasicTestApp/wwwroot/style.css
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Pages/_Host.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/wwwroot/css/site.css
  src/Shared/E2ETesting/WaitAssert.cs
Labels: area-blazor

#14689 documentation mainteanance on interface so inheritdocs points out wha…
  src/Mvc/Mvc.ViewFeatures/src/IHtmlGenerator.cs
Labels: area-mvc

#14865 Fix the TargetFramework for Blazor WASM server app
  src/Components/Blazor/Templates/src/content/BlazorWasm-CSharp/Server/BlazorWasm-CSharp.Server.csproj
Labels: area-blazor

#14206 Update to newer SDK
  Directory.Build.props
  eng/Workarounds.targets
  global.json
  src/ProjectTemplates/test/Infrastructure/TemplateTests.props.in
Labels: area-infrastructure

#14887 Rename class "error-ui" to "blazor-error-ui"
  src/Components/Blazor/Templates/src/content/BlazorWasm-CSharp/Client/wwwroot/css/site.css
  src/Components/Blazor/Templates/src/content/BlazorWasm-CSharp/Client/wwwroot/index.html
  src/Components/Samples/BlazorServerApp/Shared/MainLayout.razor
  src/Components/Samples/BlazorServerApp/wwwroot/css/site.css
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/BootErrors.ts
  src/Components/test/E2ETest/Tests/ErrorNotificationClientSideTest.cs
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/wwwroot/style.css
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Pages/_Host.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/wwwroot/css/site.css
Labels: area-blazor

#14472 Add remark to ControllerBase.File methods regarding stream disposal
  src/Mvc/Mvc.Core/src/ControllerBase.cs
Labels: area-mvc

#14748 Fix log levels
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/appsettings.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/appsettings.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/appsettings.json
Labels: area-mvc

#14633 Retarget key derivation
  src/DataProtection/Cryptography.KeyDerivation/ref/Microsoft.AspNetCore.Cryptography.KeyDerivation.csproj
  src/DataProtection/Cryptography.KeyDerivation/src/Microsoft.AspNetCore.Cryptography.KeyDerivation.csproj
  src/DataProtection/Cryptography.KeyDerivation/src/PBKDF2/NetCorePbkdf2Provider.cs
  src/DataProtection/Cryptography.KeyDerivation/src/PBKDF2/Pbkdf2Util.cs
Labels: area-dataprotection

#14870 Ensure EnableBuffering works with NewtonsoftJsonInputFormatter
  src/Mvc/Mvc.Core/test/Formatters/JsonInputFormatterTestBase.cs
  src/Mvc/Mvc.Formatters.Xml/src/XmlDataContractSerializerInputFormatter.cs
  src/Mvc/Mvc.Formatters.Xml/src/XmlSerializerInputFormatter.cs
  src/Mvc/Mvc.Formatters.Xml/test/XmlDataContractSerializerInputFormatterTest.cs
  src/Mvc/Mvc.Formatters.Xml/test/XmlSerializerInputFormatterTest.cs
  src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonInputFormatter.cs
Labels: area-mvc

#14893 Port Throw when UseAuthorization is incorrectly configured
  src/Components/test/testassets/TestServer/Startup.cs
  src/Http/HttpAbstractions.sln
  src/Http/Routing/src/EndpointMiddleware.cs
  src/Http/Routing/test/FunctionalTests/EndpointRoutingIntegrationTest.cs
  src/Http/Routing/test/FunctionalTests/Microsoft.AspNetCore.Routing.FunctionalTests.csproj
  src/Http/Routing/test/UnitTests/EndpointMiddlewareTest.cs
  src/Middleware/CORS/src/Infrastructure/CorsMiddleware.cs
  src/Middleware/CORS/test/UnitTests/CorsMiddlewareTests.cs
  src/Security/Authorization/Policy/src/AuthorizationMiddleware.cs
Labels: Servicing-approved, area-mvc

#12668 Let UriEndpoint ToString return the Uri
  src/Servers/Connections.Abstractions/ref/Microsoft.AspNetCore.Connections.Abstractions.netcoreapp.cs
  src/Servers/Connections.Abstractions/ref/Microsoft.AspNetCore.Connections.Abstractions.netstandard2.0.cs
  src/Servers/Connections.Abstractions/ref/Microsoft.AspNetCore.Connections.Abstractions.netstandard2.1.cs
  src/Servers/Connections.Abstractions/src/UriEndPoint.cs
Labels: area-servers

#14879 prevent timeout if debugger is attached
  src/SignalR/server/Core/src/HubConnectionContext.cs
Labels: area-signalr

#14863 Ensure Microsoft.AspNetCore.Razor.RuntimeCompilation has the right build targets
  src/Mvc/Mvc.Razor.RuntimeCompilation/src/Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation.csproj
  src/Mvc/Mvc.Razor.RuntimeCompilation/src/targets/Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation.targets
  src/Mvc/test/WebSites/RazorBuildWebSite/RazorBuildWebSite.csproj
  src/ProjectTemplates/test/MvcTemplateTest.cs
Labels: area-mvc

#14592 Introduce ComponentTagHelper
  src/Components/Samples/BlazorServerApp/Pages/_Host.cshtml
  src/Components/test/E2ETest/ServerExecutionTests/ComponentWithParametersTest.cs
  src/Components/test/testassets/BasicTestApp/ComponentWithParameters.razor
  src/Components/test/testassets/ComponentsApp.Server/Pages/_Host.cshtml
  src/Components/test/testassets/TestServer/Pages/ComponentWithParameters.cshtml
  src/Components/test/testassets/TestServer/Pages/MultipleComponents.cshtml
  src/Components/test/testassets/TestServer/Pages/PrerenderedHost.cshtml
  src/Components/test/testassets/TestServer/Pages/_ServerHost.cshtml
  src/Components/test/testassets/TestServer/Pages/_ViewImports.cshtml
  src/Mvc/Mvc.TagHelpers/ref/Microsoft.AspNetCore.Mvc.TagHelpers.netcoreapp.cs
  src/Mvc/Mvc.TagHelpers/src/ComponentTagHelper.cs
  src/Mvc/Mvc.TagHelpers/test/ComponentTagHelperTest.cs
  src/Mvc/Mvc.ViewFeatures/ref/Microsoft.AspNetCore.Mvc.ViewFeatures.netcoreapp.cs
  src/Mvc/Mvc.ViewFeatures/src/DependencyInjection/MvcViewFeaturesMvcCoreBuilderExtensions.cs
  src/Mvc/Mvc.ViewFeatures/src/HtmlHelperComponentExtensions.cs
  src/Mvc/Mvc.ViewFeatures/src/RazorComponents/ComponentRenderer.cs
  src/Mvc/Mvc.ViewFeatures/src/RazorComponents/IComponentRenderer.cs
  src/Mvc/Mvc.ViewFeatures/src/RazorComponents/StaticComponentRenderer.cs
  src/Mvc/Mvc.ViewFeatures/src/RazorComponents/UnsupportedJavaScriptRuntime.cs
  src/Mvc/Mvc.ViewFeatures/src/Rendering/HtmlHelperComponentExtensions.cs
  src/Mvc/Mvc.ViewFeatures/src/Resources.resx
  src/Mvc/Mvc.ViewFeatures/test/RazorComponents/ComponentRendererTest.cs
  src/Mvc/Mvc.ViewFeatures/test/RazorComponents/HtmlRendererTest.cs
  src/Mvc/Mvc.ViewFeatures/test/Rendering/HtmlHelperComponentExtensionsTest.cs
  src/Mvc/samples/MvcSandbox/Components/App.razor
  src/Mvc/samples/MvcSandbox/Components/NotFound.razor
  src/Mvc/samples/MvcSandbox/Pages/Components.cshtml
  src/Mvc/samples/MvcSandbox/Pages/Components.cshtml.cs
  src/Mvc/samples/MvcSandbox/Views/Shared/_Layout.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Pages/_Host.cshtml
Labels: area-blazor

#14746 Disable ref pack build in 3.0
  Directory.Build.props
  src/Framework/ref/Microsoft.AspNetCore.App.Ref.csproj
  src/Framework/test/TargetingPackTests.cs
  src/Installers/Debian/Directory.Build.targets
  src/Installers/Rpm/Directory.Build.targets
  src/Installers/Windows/TargetingPack/TargetingPack.wixproj
  src/Installers/Windows/Wix.targets
  src/ProjectTemplates/test/Infrastructure/GenerateTestProps.targets
Labels: area-infrastructure

#14484 Add user agent header to TS client and normalized the other clients
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/Constants.cs
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/UserAgentHelper.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/UserAgentTest.java
  src/SignalR/clients/ts/FunctionalTests/TestHub.cs
  src/SignalR/clients/ts/FunctionalTests/ts/HubConnectionTests.ts
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
  src/SignalR/clients/ts/signalr/src/LongPollingTransport.ts
  src/SignalR/clients/ts/signalr/src/ServerSentEventsTransport.ts
  src/SignalR/clients/ts/signalr/src/Utils.ts
  src/SignalR/clients/ts/signalr/src/WebSocketTransport.ts
  src/SignalR/clients/ts/signalr/src/index.ts
  src/SignalR/clients/ts/signalr/tests/HttpConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/LongPollingTransport.test.ts
  src/SignalR/clients/ts/signalr/tests/ServerSentEventsTransport.test.ts
  src/SignalR/clients/ts/signalr/tests/TestEventSource.ts
  src/SignalR/clients/ts/signalr/tests/TestWebSocket.ts
  src/SignalR/clients/ts/signalr/tests/UserAgent.test.ts
  src/SignalR/clients/ts/signalr/tests/WebSocketTransport.test.ts
  src/SignalR/server/SignalR/test/UserAgentHeaderTest.cs
Labels: area-signalr

#14744 [3.0] Skip known failure in ShutdownTestWaitForShutdown
  src/Hosting/test/FunctionalTests/ShutdownTests.cs
Labels: area-servers

#15020 Enabling PR auto-labeling
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: area-infrastructure

#15034 Added more path mappings to labels
  .github/labeler.yml
Labels: area-infrastructure

#15030 Add tests to verify protocol message size
  src/SignalR/common/SignalR.Common/test/Internal/Protocol/JsonHubProtocolTestsBase.cs
  src/SignalR/common/SignalR.Common/test/Internal/Protocol/MessagePackHubProtocolTests.cs
Labels: area-signalr

#15023 Make ApiDescriptionActionData public
  src/Mvc/Mvc.Core/ref/Microsoft.AspNetCore.Mvc.Core.netcoreapp.cs
  src/Mvc/Mvc.Core/src/ApiExplorer/ApiDescriptionActionData.cs
Labels: area-mvc

#14925 Fixes typo in StaticComponentRenderer.cs
  src/Mvc/Mvc.ViewFeatures/src/RazorComponents/StaticComponentRenderer.cs
  src/Mvc/Mvc.ViewFeatures/test/HtmlHelperComponentExtensionsTests.cs
Labels: area-blazor

#14825 Replaced >= with > in condition.
  src/Mvc/Mvc.DataAnnotations/src/DataAnnotationsMetadataProvider.cs
Labels: area-mvc

#14971 Improve documentation RequestHeaders and ResponseHeaders
  src/Http/Http.Extensions/src/RequestHeaders.cs
  src/Http/Http.Extensions/src/ResponseHeaders.cs
Labels: area-servers

#15058 [Templating][Fixes #15048] Fixes build hang in template tests caused by an unbound blocking collection
  src/ProjectTemplates/test/Helpers/AspNetProcess.cs
  src/ProjectTemplates/test/Helpers/ProcessEx.cs
Labels: area-mvc

#14991 [Fixes #14959] Update navlink to perform case-insensitive matches
  src/Components/Web/src/Routing/NavLink.cs
  src/Components/test/testassets/BasicTestApp/RouterTest/Links.razor
Labels: area-blazor

#14818 Make InputBase respond to validation state notifications
  src/Components/Web/ref/Microsoft.AspNetCore.Components.Web.netcoreapp.cs
  src/Components/Web/ref/Microsoft.AspNetCore.Components.Web.netstandard2.0.cs
  src/Components/Web/src/Forms/InputBase.cs
  src/Components/Web/test/Forms/InputBaseTest.cs
  src/Components/test/E2ETest/Tests/FormsTest.cs
  src/Components/test/testassets/BasicTestApp/FormsTest/TypicalValidationComponent.razor
Labels: area-blazor

#15072 GenerateReferenceAssemblies requires restore.cmd
  docs/ReferenceAssemblies.md
Labels: area-infrastructure

#15052 [Blazor] Fix sample and turn debug logs and detailed errors client and server-side on the sample
  src/Components/Samples/BlazorServerApp/Pages/_Host.cshtml
  src/Components/Samples/BlazorServerApp/Shared/NavMenu.razor
  src/Components/Samples/BlazorServerApp/appsettings.Development.json
  src/Components/Samples/BlazorServerApp/wwwroot/css/site.css
Labels: area-blazor

#15062 [release/3.0] Pin Microsoft.Internal.Extensions.Refs
  eng/Version.Details.xml
Labels: area-infrastructure

#15049 Don't re-use DefaultHttpContext if IHttpContextAccessor is in use
  src/Hosting/Hosting/src/Http/DefaultHttpContextFactory.cs
  src/Hosting/Hosting/src/Internal/HostingApplication.cs
  src/Hosting/Hosting/test/HostingApplicationDiagnosticsTests.cs
  src/Hosting/Hosting/test/HostingApplicationTests.cs
  src/Http/Http/src/DefaultHttpContext.cs
Labels: area-hosting, area-servers

#14463 Prefix .nav-item styles with .sidebar so not to affect bootstrap tabs elsewhere
  src/Components/Blazor/Templates/src/content/BlazorWasm-CSharp/Client/wwwroot/css/site.css
  src/Components/Blazor/testassets/StandaloneApp/wwwroot/css/site.css
  src/Components/Samples/BlazorServerApp/wwwroot/css/site.css
  src/Components/test/testassets/ComponentsApp.Server/wwwroot/css/site.css
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/wwwroot/css/site.css
Labels: area-mvc

#14986 Some minor clean up of Stream implementations
  src/Servers/IIS/IIS/src/Core/DuplexStream.cs
  src/Servers/IIS/IIS/src/Core/HttpRequestStream.cs
  src/Servers/IIS/IIS/src/Core/HttpResponseStream.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.IO.cs
  src/Servers/IIS/IIS/src/Microsoft.AspNetCore.Server.IIS.csproj
  src/Servers/Kestrel/Core/src/Internal/Http/HttpRequestStream.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpResponseStream.cs
  src/Servers/Kestrel/Core/src/Microsoft.AspNetCore.Server.Kestrel.Core.csproj
  src/Servers/Kestrel/Core/src/Middleware/Internal/DuplexPipeStream.cs
  src/Servers/Kestrel/Core/src/Middleware/Internal/LoggingStream.cs
  src/Shared/TaskToApm.cs
Labels: area-servers

#14941 Display login UI on mobile too. Fixes #13003
  src/Components/Blazor/Templates/src/content/BlazorWasm-CSharp/Client/wwwroot/css/site.css
  src/Components/Blazor/testassets/StandaloneApp/wwwroot/css/site.css
  src/Components/Samples/BlazorServerApp/wwwroot/css/site.css
  src/Components/test/testassets/ComponentsApp.Server/wwwroot/css/site.css
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Shared/MainLayout.Auth.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/wwwroot/css/site.css
Labels: area-blazor

#6516 Add AutomaticAuthentication option in HttpSys
  src/Servers/HttpSys/ref/Microsoft.AspNetCore.Server.HttpSys.netcoreapp.cs
  src/Servers/HttpSys/src/AuthenticationManager.cs
  src/Servers/HttpSys/src/FeatureContext.cs
  src/Servers/HttpSys/test/FunctionalTests/AuthenticationTests.cs
Labels: api-approved, area-servers, servers-httpsys

#15035 Treat FormatExceptions and OverflowExceptions to be treated as model state errors
  src/Mvc/Mvc.Core/src/Formatters/SystemTextJsonInputFormatter.cs
  src/Mvc/Mvc.Core/test/Formatters/JsonInputFormatterTestBase.cs
  src/Mvc/Mvc.Core/test/Formatters/SystemTextJsonInputFormatterTest.cs
  src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonInputFormatter.cs
  src/Mvc/Mvc.NewtonsoftJson/test/NewtonsoftJsonInputFormatterTest.cs
Labels: area-mvc

#14798 Update Facebook API to 4.0
  src/Security/Authentication/Facebook/src/FacebookDefaults.cs
  src/Security/Authentication/test/FacebookTests.cs
Labels: area-security

#15066 Handle large limits for form keys and values
  src/Http/WebUtilities/src/FormPipeReader.cs
  src/Http/WebUtilities/test/FormPipeReaderTests.cs
Labels: area-servers

#15082 [TS Client] Catch exception in onreceive and close connection
  src/SignalR/clients/ts/signalr/src/WebSocketTransport.ts
  src/SignalR/clients/ts/signalr/tests/WebSocketTransport.test.ts
Labels: area-signalr

#15075 Flow return url in register confirmation
  src/Identity/UI/ref/Microsoft.AspNetCore.Identity.UI.netcoreapp.cs
  src/Identity/UI/src/Areas/Identity/Pages/V3/Account/Register.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V3/Account/RegisterConfirmation.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Register.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/RegisterConfirmation.cshtml.cs
  src/Identity/test/Identity.FunctionalTests/Pages/Account/Register.cs
Labels: area-identity

#14908 Add "allowReconnect" to SignalR CloseMessages
  src/Components/Server/src/BlazorPack/BlazorPackHubProtocol.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HubConnectionTests.Reconnect.cs
  src/SignalR/clients/ts/signalr-protocol-msgpack/src/MessagePackHubProtocol.ts
  src/SignalR/clients/ts/signalr/src/HubConnection.ts
  src/SignalR/clients/ts/signalr/src/IHubProtocol.ts
  src/SignalR/clients/ts/signalr/tests/HubConnection.Reconnect.test.ts
  src/SignalR/clients/ts/signalr/tests/HubConnection.test.ts
  src/SignalR/common/Protocols.Json/src/Protocol/JsonHubProtocol.cs
  src/SignalR/common/Protocols.MessagePack/src/Protocol/MessagePackHubProtocol.cs
  src/SignalR/common/Protocols.NewtonsoftJson/src/Protocol/NewtonsoftJsonHubProtocol.cs
  src/SignalR/common/Shared/JsonUtils.cs
  src/SignalR/common/Shared/SystemTextJsonExtensions.cs
  src/SignalR/common/SignalR.Common/ref/Microsoft.AspNetCore.SignalR.Common.netcoreapp.cs
  src/SignalR/common/SignalR.Common/ref/Microsoft.AspNetCore.SignalR.Common.netstandard2.0.cs
  src/SignalR/common/SignalR.Common/src/Protocol/CloseMessage.cs
  src/SignalR/common/SignalR.Common/test/Internal/Protocol/JsonHubProtocolTestsBase.cs
  src/SignalR/common/SignalR.Common/test/Internal/Protocol/MessagePackHubProtocolTestBase.cs
  src/SignalR/docs/specs/HubProtocol.md
  src/SignalR/server/Core/src/HubConnectionContext.cs
  src/SignalR/server/Core/src/HubConnectionHandler.cs
Labels: Servicing-approved, api-approved, area-signalr

#15089 Prevent modifying ContentLength after starting response
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.cs
  src/Servers/Kestrel/Core/test/HttpResponseHeadersTests.cs
Labels: area-servers, breaking-change

#14972 Validation fixes for Blazor
  eng/ProjectReferences.props
  src/Components/Blazor/Validation/src/ComparePropertyAttribute.cs
  src/Components/Blazor/Validation/src/Microsoft.AspNetCore.Blazor.DataAnnotations.Validation.csproj
  src/Components/Blazor/Validation/src/ObjectGraphDataAnnotationsValidator.cs
  src/Components/Blazor/Validation/src/ValidateComplexTypeAttribute.cs
  src/Components/Blazor/Validation/test/Microsoft.AspNetCore.Blazor.DataAnnotations.Validation.Tests.csproj
  src/Components/Blazor/Validation/test/ObjectGraphDataAnnotationsValidatorTest.cs
  src/Components/Components.sln
  src/Components/ComponentsNoDeps.slnf
  src/Components/Forms/src/EditContextDataAnnotationsExtensions.cs
  src/Components/Samples/BlazorServerApp/BlazorServerApp.csproj
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web/ref/Microsoft.AspNetCore.Components.Web.netcoreapp.cs
  src/Components/Web/ref/Microsoft.AspNetCore.Components.Web.netstandard2.0.cs
  src/Components/Web/src/Forms/ValidationSummary.cs
  src/Components/test/E2ETest/Tests/FormsTest.cs
  src/Components/test/E2ETest/Tests/FormsTestWithExperimentalValidator.cs
  src/Components/test/testassets/BasicTestApp/BasicTestApp.csproj
  src/Components/test/testassets/BasicTestApp/FormsTest/ExperimentalValidationComponent.razor
  src/Components/test/testassets/BasicTestApp/FormsTest/SimpleValidationComponent.razor
  src/Components/test/testassets/BasicTestApp/FormsTest/SimpleValidationComponentUsingExperimentalValidator.cs
  src/Components/test/testassets/BasicTestApp/FormsTest/TypicalValidationComponent.razor
  src/Components/test/testassets/BasicTestApp/FormsTest/TypicalValidationComponentUsingExperimentalValidator.cs
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Shared/E2ETesting/BrowserAssertFailedException.cs
  src/Shared/E2ETesting/WaitAssert.cs
Labels: area-blazor

#15131 Reenable shutdown tests
  src/Hosting/test/FunctionalTests/ShutdownTests.cs
Labels: area-hosting

#15171 Avoid labeling external PRs
  .github/workflows/labeler.yml
Labels: area-infrastructure

#15134 Use the declared type to infer NullableContextOptions
  src/Mvc/Mvc.Abstractions/ref/Microsoft.AspNetCore.Mvc.Abstractions.netcoreapp.cs
  src/Mvc/Mvc.Abstractions/src/ModelBinding/Metadata/ModelMetadataIdentity.cs
  src/Mvc/Mvc.Abstractions/test/ModelBinding/ModelMetadataTest.cs
  src/Mvc/Mvc.Core/src/ModelBinding/Metadata/DefaultModelMetadataProvider.cs
  src/Mvc/Mvc.Core/test/BindAttributeTest.cs
  src/Mvc/Mvc.Core/test/ModelBinding/Metadata/DefaultBindingMetadataProviderTest.cs
  src/Mvc/Mvc.Core/test/ModelBinding/Metadata/DefaultModelMetadataTest.cs
  src/Mvc/Mvc.Core/test/ModelBinding/Metadata/DefaultValidationMetadataProviderTest.cs
  src/Mvc/Mvc.Core/test/ModelBinding/Metadata/ExcludeBindingMetadataProviderTest.cs
  src/Mvc/Mvc.DataAnnotations/src/DataAnnotationsMetadataProvider.cs
  src/Mvc/Mvc.DataAnnotations/test/DataAnnotationsMetadataProviderTest.cs
  src/Mvc/Mvc.DataAnnotations/test/DataMemberRequiredBindingMetadataProviderTest.cs
  src/Mvc/shared/Mvc.Core.TestCommon/TestModelMetadataProvider.cs
Labels: area-mvc

#15174 Convert sample project to sdk format
  src/Middleware/WebSockets/WebSockets.slnf
  src/Middleware/WebSockets/samples/EchoApp/EchoApp.csproj
  src/Middleware/WebSockets/samples/TestServer/App.config
  src/Middleware/WebSockets/samples/TestServer/Properties/AssemblyInfo.cs
  src/Middleware/WebSockets/samples/TestServer/WebSockets.TestServer.csproj
Labels: area-middleware

#15111 Add Backlog to SocketTransportOptions
  src/Servers/Kestrel/Transport.Libuv/ref/Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv.netcoreapp.cs
  src/Servers/Kestrel/Transport.Libuv/src/Internal/LibuvConstants.cs
  src/Servers/Kestrel/Transport.Libuv/src/Internal/Listener.cs
  src/Servers/Kestrel/Transport.Libuv/src/Internal/ListenerPrimary.cs
  src/Servers/Kestrel/Transport.Libuv/src/LibuvTransportOptions.cs
  src/Servers/Kestrel/Transport.Sockets/ref/Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.netcoreapp.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketConnectionListener.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketTransportOptions.cs
Labels: api-approved, area-servers, servers-kestrel

#14901 Remove partial resend email functionality
  src/Identity/UI/ref/Microsoft.AspNetCore.Identity.UI.netcoreapp.cs
  src/Identity/UI/src/Areas/Identity/Pages/V3/Account/Login.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V3/Account/Login.cshtml.cs
Labels: 3.1-candidate, area-identity

#14037 Fail fast if authenticator key is null
  src/Identity/Extensions.Core/src/AuthenticatorTokenProvider.cs
Labels: area-identity

#14448 Add TryAddScheme
  src/Http/Authentication.Abstractions/ref/Microsoft.AspNetCore.Authentication.Abstractions.netcoreapp.cs
  src/Http/Authentication.Abstractions/src/IAuthenticationSchemeProvider.cs
  src/Http/Authentication.Core/ref/Microsoft.AspNetCore.Authentication.Core.netcoreapp.cs
  src/Http/Authentication.Core/src/AuthenticationSchemeProvider.cs
  src/Http/Authentication.Core/test/AuthenticationSchemeProviderTests.cs
Labels: area-security

#15219 [Blazor] Improve the reliability of 'JSInteropThrowsInUserCode'
  src/Components/test/E2ETest/ServerExecutionTests/IgnitorTest.cs
Labels: area-blazor

#15228 Use MinimumOSVersion in Kestrel
  src/Servers/Kestrel/Core/test/AddressBinderTests.cs
  src/Servers/Kestrel/Kestrel/test/KestrelConfigurationBuilderTests.cs
  src/Servers/Kestrel/test/FunctionalTests/Http2/HandshakeTests.cs
  src/Servers/Kestrel/test/FunctionalTests/Http2/ShutdownTests.cs
  src/Servers/Kestrel/test/FunctionalTests/UnixDomainSocketsTests.cs
Labels: area-servers

#15240 Added `api-suggestion` label automation
  .github/labeler.yml
Labels: area-infrastructure

#15042 Identity UI footer fix
  src/Identity/UI/src/Areas/Identity/Pages/V4/_Layout.cshtml
Labels: area-identity

#10637 Clarify documentation of RefreshSignInAsync
  src/Identity/Core/src/SignInManager.cs
Labels: area-identity

#15223 [Blazor] Fixes reliability issues in the blazor reliability tests
  src/Components/Ignitor/src/BlazorClient.cs
Labels: area-blazor

#15220 [SPA] Fixes the error message on timeouts
  src/Middleware/SpaServices.Extensions/src/AngularCli/AngularCliMiddleware.cs
Labels: area-middleware

#15121 Run users options last
  src/SignalR/perf/Microbenchmarks/DefaultHubDispatcherBenchmark.cs
  src/SignalR/server/Core/src/HubConnectionHandler.cs
  src/SignalR/server/Core/src/HubOptionsSetup`T.cs
  src/SignalR/server/Core/src/HubOptions`T.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/SignalR/src/SignalRDependencyInjectionExtensions.cs
  src/SignalR/server/SignalR/test/AddSignalRTests.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: Servicing-approved, area-signalr

#15092 Remove Microsoft.AspNetCore.SuppressSameSiteNone compat switch
  src/Http/Headers/src/SetCookieHeaderValue.cs
  src/Http/Headers/test/SetCookieHeaderValueTest.cs
  src/Http/Http.Abstractions/src/CookieBuilder.cs
  src/Http/Http.Features/src/CookieOptions.cs
  src/Security/CookiePolicy/src/CookiePolicyOptions.cs
  src/Security/CookiePolicy/src/ResponseCookiesWrapper.cs
Labels: area-security

#14459 Add hubType to HubInvocationContext
  src/SignalR/server/Core/ref/Microsoft.AspNetCore.SignalR.Core.netcoreapp.cs
  src/SignalR/server/Core/src/HubInvocationContext.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: api-approved, area-signalr

#15265 Mark classes in typescript as private for docs
  .github/CODEOWNERS
  src/SignalR/clients/ts/signalr-protocol-msgpack/src/BinaryMessageFormat.ts
  src/SignalR/clients/ts/signalr/src/EmptyNodeHttpClient.ts
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
  src/SignalR/clients/ts/signalr/src/NodeHttpClient.ts
  src/SignalR/clients/ts/signalr/src/Polyfills.ts
Labels: area-signalr

#15177 Add support for hub specific IHubProtocols that don't affect other hubs
  src/Components/Server/src/BlazorPack/BlazorPackHubProtocol.cs
  src/Components/Server/src/BlazorPack/NonDefaultHubProtocolAttribute.cs
  src/SignalR/perf/Microbenchmarks/RedisProtocolBenchmark.cs
  src/SignalR/server/Core/src/HubOptionsSetup.cs
  src/SignalR/server/Core/src/HubOptionsSetup`T.cs
  src/SignalR/server/Core/src/SerializedHubMessage.cs
  src/SignalR/server/SignalR/test/AddSignalRTests.cs
  src/SignalR/server/StackExchangeRedis/ref/Microsoft.AspNetCore.SignalR.StackExchangeRedis.netcoreapp.cs
  src/SignalR/server/StackExchangeRedis/src/Internal/DefaultHubMessageSerializer.cs
  src/SignalR/server/StackExchangeRedis/src/Internal/RedisProtocol.cs
  src/SignalR/server/StackExchangeRedis/src/RedisHubLifetimeManager.cs
  src/SignalR/server/StackExchangeRedis/test/DefaultHubMessageSerializerTests.cs
  src/SignalR/server/StackExchangeRedis/test/RedisProtocolTests.cs
Labels: area-signalr

#14203 Fixes in DownloadPersonalData
  src/Identity/UI/ref/Microsoft.AspNetCore.Identity.UI.csproj
  src/Identity/UI/src/Areas/Identity/Pages/V3/Account/Manage/DownloadPersonalData.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/DownloadPersonalData.cshtml.cs
  src/Identity/UI/src/Microsoft.AspNetCore.Identity.UI.csproj
Labels: area-identity

#15245 [3.1] Update Grpc.AspNetCore to 2.24.0
  eng/Versions.props
Labels: area-grpc

#13863 Fix a couple things in Typescript client
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
  src/SignalR/clients/ts/signalr/src/WebSocketTransport.ts
  src/SignalR/clients/ts/signalr/tests/HttpConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/WebSocketTransport.test.ts
Labels: area-signalr

#15211 Render sections asynchronously in templates (#13091)
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Pages/Shared/_Layout.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Views/Shared/_Layout.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/Views/Shared/_Layout.cshtml
Labels: area-mvc

#15269 Remove flaky test
  src/Servers/HttpSys/test/FunctionalTests/ServerTests.cs
Labels: area-servers

#14624 Fixed a few typos in BuildFromSource documentation
  docs/BuildFromSource.md
Labels: area-infrastructure

#15280 Reduce the number of members on ModelMetadataIdentity
  src/Mvc/Mvc.Abstractions/ref/Microsoft.AspNetCore.Mvc.Abstractions.netcoreapp.cs
  src/Mvc/Mvc.Abstractions/src/ModelBinding/Metadata/ModelMetadataIdentity.cs
Labels: area-mvc

#15276 Fix some issues with Ignitor
  src/Components/Ignitor/src/BlazorClient.cs
  src/Components/Ignitor/src/CancellableOperation.cs
  src/Components/Ignitor/src/ComponentState.cs
  src/Components/Ignitor/src/ContainerNode.cs
  src/Components/Ignitor/src/ElementHive.cs
  src/Components/Ignitor/src/ElementNode.cs
  src/Components/Ignitor/src/Error.cs
  src/Components/Ignitor/src/IComponent.cs
  src/Components/Ignitor/src/Node.cs
  src/Components/Ignitor/src/NodeSerializer.cs
  src/Components/Ignitor/src/Operations.cs
  src/Components/Ignitor/src/RenderBatchReader.cs
Labels: area-blazor

#15117 Update labeller routes.
  .github/labeler.yml
Labels: area-infrastructure

#15352 LongPolling should not ping
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HubConnectionTests.Protocol.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/TestConnection.cs
  src/SignalR/clients/ts/signalr/src/HubConnection.ts
  src/SignalR/clients/ts/signalr/tests/HubConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/TestConnection.ts
Labels: area-signalr

#15194 Fix subscription callbacks when unsubscribe in AuthorizeService.js in React template
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/components/api-authorization/AuthorizeService.js
Labels: area-mvc

#15110 Update doc references
  src/Mvc/Mvc.Core/src/ChallengeResult.cs
  src/Mvc/Mvc.Core/src/ForbidResult.cs
  src/Mvc/Mvc.Core/src/SignInResult.cs
  src/Mvc/Mvc.Core/src/SignOutResult.cs
Labels: area-mvc

#15358 Rebrand for 3.1.0-preview3
  eng/Versions.props
Labels: area-infrastructure

#15365 [Templating][Fixes #15349] Update SPA templates to use generic host
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/Program.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/Program.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/Program.cs
Labels: area-mvc

#15320 [Blazor] Reliability improvements for the E2E tests
  src/Components/Ignitor/src/BlazorClient.cs
  src/Components/test/E2ETest/Microsoft.AspNetCore.Components.E2ETests.csproj
  src/Components/test/E2ETest/ServerExecutionTests/ComponentHubReliabilityTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/IgnitorTest.cs
  src/Components/test/E2ETest/xunit.runner.json
Labels: area-blazor

#14904 Move most helix queues to a daily scheduled run
  .azure/pipelines/ci.yml
  .azure/pipelines/helix-daily.yml
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#11757 Fix race with CTS disposing
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionContext.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
Labels: area-signalr

#15401 [Blazor][Fixes #14959] NavLink match should be case-insensitive
  src/Components/Web/src/Routing/NavLink.cs
  src/Components/test/testassets/BasicTestApp/RouterTest/Links.razor
Labels: area-blazor

#15350 Merge AuthZ ToString PR
  src/Security/Authorization/Core/ref/Microsoft.AspNetCore.Authorization.netcoreapp.cs
  src/Security/Authorization/Core/ref/Microsoft.AspNetCore.Authorization.netstandard2.0.cs
  src/Security/Authorization/Core/src/AssertionRequirement.cs
  src/Security/Authorization/Core/src/ClaimsAuthorizationRequirement.cs
  src/Security/Authorization/Core/src/DefaultAuthorizationService.cs
  src/Security/Authorization/Core/src/DenyAnonymousAuthorizationRequirement.cs
  src/Security/Authorization/Core/src/LoggingExtensions.cs
  src/Security/Authorization/Core/src/NameAuthorizationRequirement.cs
  src/Security/Authorization/Core/src/OperationAuthorizationRequirement.cs
  src/Security/Authorization/Core/src/RolesAuthorizationRequirement.cs
  src/Security/Authorization/test/AssertionRequirementsTests.cs
  src/Security/Authorization/test/ClaimsAuthorizationRequirementTests.cs
  src/Security/Authorization/test/DefaultAuthorizationServiceTests.cs
  src/Security/Authorization/test/DenyAnonymousAuthorizationRequirementTests.cs
  src/Security/Authorization/test/NameAuthorizationRequirementTests.cs
  src/Security/Authorization/test/OperationAuthorizationRequirementTests.cs
  src/Security/Authorization/test/RolesAuthorizationRequirementTests.cs
Labels: api-suggestion, area-security

#15364 Add RemoveMatchedPathSegment to MapOptions
  src/Http/Http.Abstractions/ref/Microsoft.AspNetCore.Http.Abstractions.netcoreapp.cs
  src/Http/Http.Abstractions/src/Extensions/MapExtensions.cs
  src/Http/Http.Abstractions/src/Extensions/MapMiddleware.cs
  src/Http/Http.Abstractions/src/Extensions/MapOptions.cs
  src/Http/Http.Abstractions/test/MapPathMiddlewareTests.cs
Labels: api-approved, area-middleware

#15376 Make MapPathMiddlewareTests async
  src/Http/Http.Abstractions/test/MapPathMiddlewareTests.cs
  src/Http/Http.Abstractions/test/MapPredicateMiddlewareTests.cs
  src/Http/Http.Abstractions/test/UsePathBaseExtensionsTests.cs
  src/Http/Http.Abstractions/test/UseWhenExtensionsTests.cs
Labels: area-servers

#14909 Add Ability to Tweak JWT Refresh Intervals
  src/Security/Authentication/JwtBearer/ref/Microsoft.AspNetCore.Authentication.JwtBearer.netcoreapp.cs
  src/Security/Authentication/JwtBearer/src/JwtBearerOptions.cs
  src/Security/Authentication/JwtBearer/src/JwtBearerPostConfigureOptions.cs
  src/Security/Authentication/OpenIdConnect/ref/Microsoft.AspNetCore.Authentication.OpenIdConnect.netcoreapp.cs
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectOptions.cs
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectPostConfigureOptions.cs
Labels: api-approved, area-security

#15436 Fix references in documentation
  src/Http/Http.Abstractions/src/CookieBuilder.cs
  src/Identity/Core/src/IdentityBuilderExtensions.cs
  src/Identity/Extensions.Core/src/IdentityBuilder.cs
  src/Mvc/Mvc.Core/src/ApiConventionMethodAttribute.cs
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectOptions.cs
Labels: area-identity, area-mvc, area-servers

#15434 Fix documentation to use see instead of seealso (#15182)
  src/Security/Authentication/Cookies/src/CookieAuthenticationOptions.cs
Labels: area-security

#15076 Add 'withCredentials' option to TS client
  src/SignalR/clients/ts/FunctionalTests/EchoConnectionHandler.cs
  src/SignalR/clients/ts/FunctionalTests/ts/ConnectionTests.ts
  src/SignalR/clients/ts/signalr/src/FetchHttpClient.ts
  src/SignalR/clients/ts/signalr/src/HttpClient.ts
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
  src/SignalR/clients/ts/signalr/src/IHttpConnectionOptions.ts
  src/SignalR/clients/ts/signalr/src/LongPollingTransport.ts
  src/SignalR/clients/ts/signalr/src/ServerSentEventsTransport.ts
  src/SignalR/clients/ts/signalr/src/Utils.ts
  src/SignalR/clients/ts/signalr/src/XhrHttpClient.ts
  src/SignalR/clients/ts/signalr/tests/LongPollingTransport.test.ts
  src/SignalR/clients/ts/signalr/tests/ServerSentEventsTransport.test.ts
Labels: api-approved, area-signalr

#15410 Print a useful error message when render-mode isn't specified
  src/Mvc/Mvc.TagHelpers/ref/Microsoft.AspNetCore.Mvc.TagHelpers.netcoreapp.cs
  src/Mvc/Mvc.TagHelpers/src/ComponentTagHelper.cs
  src/Mvc/Mvc.TagHelpers/src/Resources.resx
  src/Mvc/Mvc.TagHelpers/test/ComponentTagHelperTest.cs
Labels: area-mvc

#16625 Fix master build
  src/SignalR/clients/ts/signalr/tests/ServerSentEventsTransport.test.ts
Labels: area-signalr

#13249 [Blazor] Move blazor only functions to Boot.WebAssembly.ts
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/BootCommon.ts
Labels: area-blazor

#16581 Merged to soon, didn't realize the extra unnecessary serialization
  src/Mvc/Mvc.ViewFeatures/src/ServerComponentSerializer.cs
Labels: area-mvc

#16605 [Blazor][Fixes #16569] Updates _Host.cshtml to avoid rendering the Identity layout
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Pages/_Host.cshtml
Labels: area-blazor

#15426 Use the cancellation token in AuthenticateAsServerAsync
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
Labels: area-servers

#16616 Allow EnableBuffering + Json.NET \ Xml input formatters to work better
  src/Mvc/Mvc.Core/test/Formatters/JsonInputFormatterTestBase.cs
  src/Mvc/Mvc.Formatters.Xml/src/XmlDataContractSerializerInputFormatter.cs
  src/Mvc/Mvc.Formatters.Xml/src/XmlSerializerInputFormatter.cs
  src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonInputFormatter.cs
Labels: area-mvc

#12028 Only run claims transformation once per ClaimsPrincipal instance by default
  src/Http/Authentication.Core/src/AuthenticationService.cs
  src/Http/Authentication.Core/test/AuthenticationPropertiesTests.cs
  src/Http/Authentication.Core/test/AuthenticationSchemeProviderTests.cs
  src/Http/Authentication.Core/test/AuthenticationServiceTests.cs
  src/Http/Authentication.Core/test/TokenExtensionTests.cs
  src/Security/Authentication/test/SharedAuthenticationTests.cs
Labels: area-security, area-servers

#15388 Better exception for Generic methods on Hub
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTestUtils/Hubs.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-signalr

#14803 Globbing test
  src/Hosting/Hosting/src/StaticWebAssets/StaticWebAssetsFileProvider.cs
  src/Hosting/Hosting/test/Microsoft.AspNetCore.Hosting.Tests.csproj
  src/Hosting/Hosting/test/StaticWebAssets/StaticWebAssetsFileProviderTests.cs
  src/Hosting/Hosting/test/testroot/wwwroot/Static Web/Static Web.txt
  src/Mvc/test/Mvc.FunctionalTests/Microsoft.AspNetCore.Mvc.FunctionalTests.csproj
  src/Mvc/test/Mvc.FunctionalTests/TagHelpersTest.cs
  src/Mvc/test/Mvc.FunctionalTests/compiler/resources/TagHelpersWebSite.Home.GlobbingTagHelpers.html
  src/Mvc/test/WebSites/RazorPagesClassLibrary/RazorPagesClassLibrary.csproj
  src/Mvc/test/WebSites/RazorPagesClassLibrary/wwwroot/razorlib/file.js
  src/Mvc/test/WebSites/TagHelpersWebSite/Controllers/HomeController.cs
  src/Mvc/test/WebSites/TagHelpersWebSite/Startup.cs
  src/Mvc/test/WebSites/TagHelpersWebSite/TagHelpersWebSite.csproj
  src/Mvc/test/WebSites/TagHelpersWebSite/Views/Home/GlobbingTagHelpers.cshtml
  src/Mvc/test/WebSites/TagHelpersWebSite/wwwroot/js/dist/dashboardHome.js
Labels: area-mvc

#16636 [Blazor][Fixes #15413] Notify client of errors during initialization
  src/Components/Server/src/Circuits/CircuitHost.cs
Labels: area-blazor

#16629 Fix linker doc URL
  src/Components/Blazor/Build/src/targets/BuiltInBclLinkerDescriptor.xml
Labels: area-mvc

#15318 Update outdated npm dependencies
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/.eslintrc.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/package.json
Labels: area-mvc

#14644 Http2 test for IIS
  src/Servers/IIS/IIS/test/Common.FunctionalTests/ClientCertificateTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/HttpsTests.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISDeploymentParameterExtensions.cs
Labels: area-servers

#15389 Don't re-use requests
  src/ProjectTemplates/test/Helpers/AspNetProcess.cs
Labels: area-mvc

#16639 Avoid incorrectly providing diagnostics for chained calls
  src/Analyzers/Analyzers/src/UseAuthorizationAnalyzer.cs
  src/Analyzers/Analyzers/test/StartupAnalyzerTest.cs
  src/Analyzers/Analyzers/test/TestFiles/StartupAnalyzerTest/UseAuthBeforeUseRoutingChained.cs
  src/Analyzers/Analyzers/test/TestFiles/StartupAnalyzerTest/UseAuthConfiguredCorrectlyChained.cs
Labels: area-analyzers

#16643 Set connection close with a switch for ANCM out of process
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/config_utility.h
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/forwardinghandler.cpp
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/forwardinghandler.h
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/requesthandler_config.cpp
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/requesthandler_config.h
  src/Servers/IIS/IIS/test/Common.FunctionalTests/HttpsTests.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
Labels: area-servers

#16678 Very candidacy before processing in PageLoaderMatcherPolicy
  src/Mvc/Mvc.RazorPages/src/Infrastructure/PageLoaderMatcherPolicy.cs
  src/Mvc/test/Mvc.FunctionalTests/RoutingDynamicTest.cs
  src/Mvc/test/WebSites/RoutingWebSite/StartupForDynamicAndRazorPages.cs
Labels: area-mvc
