Repository dotnet/aspnetcore, pull requests merged in 2019-11, with the labels that each got.

#15375 Initial port of MsQuic transport
  eng/ProjectReferences.props
  src/Servers/Kestrel/Kestrel.sln
  src/Servers/Kestrel/Transport.MsQuic/README.md
  src/Servers/Kestrel/Transport.MsQuic/ref/Microsoft.AspNetCore.Server.Kestrel.Transport.MsQuic.csproj
  src/Servers/Kestrel/Transport.MsQuic/ref/Microsoft.AspNetCore.Server.Kestrel.Transport.MsQuic.netcoreapp.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/MsQuicApi.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/MsQuicConstants.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/MsQuicEnums.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/MsQuicNativeMethods.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/MsQuicStatusException.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/MsQuicStatusHelper.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Microsoft.AspNetCore.Server.Kestrel.Transport.MsQuic.csproj
Labels: api-suggestion, area-infrastructure, area-servers

#12386 Websocket handshake perf
  src/Middleware/Middleware.sln
  src/Middleware/WebSockets/src/HandshakeHelpers.cs
  src/Middleware/WebSockets/src/Microsoft.AspNetCore.WebSockets.csproj
  src/Middleware/WebSockets/src/WebSocketMiddleware.cs
  src/Middleware/WebSockets/test/UnitTests/HandshakeTests.cs
  src/Middleware/perf/Microbenchmarks/AssemblyInfo.cs
  src/Middleware/perf/Microbenchmarks/HandshakeBenchmark.cs
  src/Middleware/perf/Microbenchmarks/Microsoft.AspNetCore.WebSockets.Microbenchmarks.csproj
Labels: Perf, area-middleware, area-websockets

#16619 Don't access CookieContainer unless needed
  src/SignalR/clients/csharp/Client/test/UnitTests/HttpConnectionTests.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnection.cs
Labels: Blazor ♥ SignalR, area-signalr

#16707 Pin Microsoft.NETCore.App.Ref
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#16679 Handle synchronous exceptions from partial
  src/Mvc/Mvc.Core/src/Infrastructure/ContentResultExecutor.cs
  src/Mvc/Mvc.Razor/src/RazorView.cs
  src/Mvc/Mvc.ViewFeatures/src/ViewComponentResultExecutor.cs
  src/Mvc/Mvc.ViewFeatures/src/ViewExecutor.cs
  src/Mvc/Mvc.ViewFeatures/test/ViewExecutorTest.cs
  src/Mvc/test/Mvc.FunctionalTests/TagHelpersTest.cs
  src/Mvc/test/WebSites/TagHelpersWebSite/Controllers/HomeController.cs
  src/Mvc/test/WebSites/TagHelpersWebSite/MyHtmlContent.cs
  src/Mvc/test/WebSites/TagHelpersWebSite/Startup.cs
  src/Mvc/test/WebSites/TagHelpersWebSite/TagHelpersWebSite.csproj
  src/Mvc/test/WebSites/TagHelpersWebSite/Views/Home/MyHtml.cshtml
  src/Mvc/test/WebSites/TagHelpersWebSite/Views/Home/_Test.cshtml
Labels: area-mvc

#16720 Use new EventId for bad dev cert log
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsTests.cs
Labels: area-platform

#16736 Remove null check for logger in HttpsConnectionMiddleware
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
Labels: area-servers

#16713 Set new HTTPS environment variable when using out of process
  src/Middleware/HttpsPolicy/src/HttpsRedirectionMiddleware.cs
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/serverprocess.cpp
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/environmentvariablehash.h
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/environmentvariablehelpers.h
  src/Servers/IIS/IIS/test/Common.FunctionalTests/HttpsTests.cs
  src/Servers/IIS/IIS/test/testassets/InProcessNewShimWebSite/InProcessNewShimWebSite.csproj
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/InProcessWebSite.csproj
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/XElementExtensions.cs
Labels: area-servers, servers-iis

#16724 Set new HTTPS environment variable when using out of process
  eng/PatchConfig.props
  src/Middleware/HttpsPolicy/src/HttpsRedirectionMiddleware.cs
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/serverprocess.cpp
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/environmentvariablehash.h
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/environmentvariablehelpers.h
  src/Servers/IIS/IIS/test/Common.FunctionalTests/HttpsTests.cs
  src/Servers/IIS/IIS/test/testassets/InProcessNewShimWebSite/InProcessNewShimWebSite.csproj
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/InProcessWebSite.csproj
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/XElementExtensions.cs
Labels: Servicing-approved, area-servers, servers-iis

#13947 Improve performance for QueuePolicy in ConcurrencyLimiter
  src/Middleware/ConcurrencyLimiter/src/QueuePolicies/QueuePolicy.cs
  src/Middleware/ConcurrencyLimiter/src/QueuePolicies/StackPolicy.cs
Labels: area-middleware

#16753 [master] Update SDK
  eng/tools/RepoTasks/RepoTasks.csproj
  global.json
Labels: area-infrastructure

#14933 [release/3.0] Stabilize package versions
  Directory.Build.props
  Directory.Build.targets
  eng/Dependencies.props
  eng/PatchConfig.props
  eng/Versions.props
  eng/targets/Packaging.targets
  eng/targets/ResolveReferences.targets
  src/Framework/ref/Microsoft.AspNetCore.App.Ref.csproj
  src/Framework/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Servers/IIS/IIS/test/testassets/InProcessNewShimWebSite/InProcessNewShimWebSite.csproj
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/InProcessWebSite.csproj
Labels: area-infrastructure

#14790 WIP: Support global.json on arm64 as well
  global.json
Labels: area-infrastructure

#16762 Updated the bug-report template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: area-infrastructure

#11379 Added name for EventId in logs
  src/DataProtection/DataProtection/src/LoggingExtensions.cs
  src/DataProtection/EntityFrameworkCore/src/LoggingExtensions.cs
  src/Hosting/Hosting/src/Internal/LoggerEventIds.cs
Labels: area-dataprotection, area-hosting

#16725 Keep Kestrel's connection PipeReader in a consistent state
  src/Servers/Kestrel/Core/src/Internal/Http/Http1ChunkedEncodingMessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1ContentLengthMessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1UpgradeMessageBody.cs
  src/Servers/Kestrel/Core/test/MessageBodyTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTests.cs
Labels: 3.1-candidate, area-servers

#15393 Drop IResponseCache async methods
  src/Middleware/ResponseCaching/src/Interfaces/IResponseCache.cs
  src/Middleware/ResponseCaching/src/MemoryResponseCache.cs
  src/Middleware/ResponseCaching/src/ResponseCachingMiddleware.cs
  src/Middleware/ResponseCaching/src/Streams/ResponseCachingStream.cs
  src/Middleware/ResponseCaching/test/ResponseCachingMiddlewareTests.cs
  src/Middleware/ResponseCaching/test/TestUtils.cs
Labels: area-middleware

#16756 Cleanup kestrel Win10 skips
  src/Servers/Kestrel/Core/test/AddressBinderTests.cs
  src/Servers/Kestrel/test/FunctionalTests/UnixDomainSocketsTests.cs
Labels: area-servers

#16758 Add missing dependencies to Mvc.sln
  src/Mvc/Mvc.sln
Labels: area-mvc

#14118 Fix resend email confirmation
  src/Identity/UI/ref/Microsoft.AspNetCore.Identity.UI.netcoreapp.cs
  src/Identity/UI/src/Areas/Identity/Pages/V3/Account/Login.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V3/Account/ResendEmailConfirmation.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V3/Account/ResendEmailConfirmation.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Login.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/ResendEmailConfirmation.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/ResendEmailConfirmation.cshtml.cs
  src/Identity/samples/IdentitySample.DefaultUI/web.config
  src/Identity/test/Identity.FunctionalTests/LoginTests.cs
  src/Identity/test/Identity.FunctionalTests/Pages/Account/Login.cs
  src/Identity/test/Identity.FunctionalTests/Pages/Account/ResendEmailConfirmation.cs
  src/Identity/test/Identity.FunctionalTests/UserStories.cs
  src/ProjectTemplates/test/Helpers/PageUrls.cs
  src/ProjectTemplates/test/MvcTemplateTest.cs
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
Labels: api-suggestion, area-identity, area-mvc

#16794 [Low Risk Cleanup] Removes double semicolons
  src/Components/test/E2ETest/Tests/FormsTest.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISDeployer.cs
  src/Servers/Kestrel/Core/test/TimeoutControlTests.cs
  src/Servers/Kestrel/Transport.Libuv/test/LibuvOutputConsumerTests.cs
  src/Servers/Kestrel/stress/Program.cs
  src/Shared/Buffers.MemoryPool/MemoryPoolSlab.cs
  src/SignalR/common/SignalR.Common/test/Internal/Formatters/BinaryMessageParserTests.cs
Labels: area-servers, area-signalr

#15273 Log heartbeat duration for slow heartbeats
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/Heartbeat.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/IKestrelTrace.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.cs
  src/Servers/Kestrel/Core/test/HeartbeatTests.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/Mocks/MockTrace.cs
  src/Servers/Kestrel/shared/test/CompositeKestrelTrace.cs
Labels: area-servers

#16761 Update SignalR NPM package readme to show how to install previews
  src/SignalR/clients/ts/signalr-protocol-msgpack/README.md
  src/SignalR/clients/ts/signalr/README.md
Labels: area-signalr

#16857 Fix cref for HttpMethodActionConstraint API docs
  src/Mvc/Mvc.Core/src/ActionConstraints/HttpMethodActionConstraint.cs
Labels: area-mvc

#16599 Allow the Angular/React-DevServer to run on a given port (#16582)
  src/Middleware/SpaServices.Extensions/ref/Microsoft.AspNetCore.SpaServices.Extensions.netcoreapp.cs
  src/Middleware/SpaServices.Extensions/src/AngularCli/AngularCliMiddleware.cs
  src/Middleware/SpaServices.Extensions/src/ReactDevelopmentServer/ReactDevelopmentServerMiddleware.cs
  src/Middleware/SpaServices.Extensions/src/SpaOptions.cs
Labels: area-mvc

#16856 Run larger set of helix tests on non PR builds
  .azure/pipelines/ci.yml
  .azure/pipelines/helix-daily.yml
Labels: area-infrastructure

#16883 Fix CODEOWNERS syntax
  .github/CODEOWNERS
Labels: area-infrastructure

#16812 Add rest of MsQuic transport.
  .gitignore
  src/Servers/Connections.Abstractions/ref/Microsoft.AspNetCore.Connections.Abstractions.netcoreapp.cs
  src/Servers/Connections.Abstractions/ref/Microsoft.AspNetCore.Connections.Abstractions.netstandard2.0.cs
  src/Servers/Connections.Abstractions/ref/Microsoft.AspNetCore.Connections.Abstractions.netstandard2.1.cs
  src/Servers/Connections.Abstractions/src/Features/IQuicCreateStreamFeature.cs
  src/Servers/Connections.Abstractions/src/Features/IQuicStreamListenerFeature.cs
  src/Servers/Connections.Abstractions/src/Features/IUnidirectionalStreamFeature.cs
  src/Servers/Kestrel/Kestrel.sln
  src/Servers/Kestrel/Transport.MsQuic/ref/Microsoft.AspNetCore.Server.Kestrel.Transport.MsQuic.netcoreapp.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/IMsQuicTrace.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/MsQuicApi.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/MsQuicConnection.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/MsQuicConnectionListener.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/MsQuicConstants.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/MsQuicNativeMethods.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/MsQuicStream.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/MsQuicTrace.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/MsQuicTransportContext.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/QuicSecConfig.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/QuicSession.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/ResettableCompletionSource.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/UIntExtensions.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Microsoft.AspNetCore.Server.Kestrel.Transport.MsQuic.csproj
  src/Servers/Kestrel/Transport.MsQuic/src/MsQuicConnectionFactory.cs
  src/Servers/Kestrel/Transport.MsQuic/src/MsQuicTransportFactory.cs
  src/Servers/Kestrel/Transport.MsQuic/src/MsQuicTransportOptions.cs
  src/Servers/Kestrel/Transport.MsQuic/src/WebHostBuilderMsQuicExtensions.cs
  src/Servers/Kestrel/samples/QuicSampleApp/Program.cs
  src/Servers/Kestrel/samples/QuicSampleApp/QuicSampleApp.csproj
  src/Servers/Kestrel/samples/QuicSampleClient/Program.cs
  src/Servers/Kestrel/samples/QuicSampleClient/QuicSampleClient.csproj
  src/Servers/Kestrel/shared/DuplexPipe.cs
  src/Tools/dotnet-watch/test/DotNetWatcherTests.cs
  src/Tools/dotnet-watch/test/GlobbingAppTests.cs
  src/Tools/dotnet-watch/test/NoDepsAppTests.cs
Labels: api-suggestion, area-servers

#16877 HttpSys HTTP/2 Response Trailers
  src/Servers/HttpSys/src/FeatureContext.cs
  src/Servers/HttpSys/src/MessagePump.cs
  src/Servers/HttpSys/src/NativeInterop/ComNetOS.cs
  src/Servers/HttpSys/src/RequestProcessing/Response.cs
  src/Servers/HttpSys/src/RequestProcessing/ResponseBody.cs
  src/Servers/HttpSys/src/StandardFeatureCollection.cs
  src/Servers/HttpSys/test/FunctionalTests/HttpsTests.cs
  src/Servers/HttpSys/test/FunctionalTests/ResponseTrailersTests.cs
  src/Shared/HttpSys/NativeInterop/HttpApiTypes.cs
  src/Shared/HttpSys/RequestProcessing/HeaderCollection.cs
Labels: area-servers, servers-httpsys

#15392 Fix startvs.cmd for path with space
  startvs.cmd
Labels: area-infrastructure

#16941 Set HttpResponseMessage.Version in TestServer
  src/Hosting/TestHost/src/ClientHandler.cs
  src/Hosting/TestHost/test/TestClientTests.cs
Labels: area-hosting

#16934 Change how we resolve dotnet in tests
  src/Tools/dotnet-watch/test/Scenario/WatchableApp.cs
  src/Tools/dotnet-watch/test/dotnet-watch.Tests.csproj
Labels: area-infrastructure

#16863 Add ignored http headers to SpaProxy
  src/Middleware/SpaServices.Extensions/src/Proxying/SpaProxy.cs
Labels: area-mvc

#16949 Change how we resolve dotnet in tests (#16934)
  src/Tools/dotnet-watch/test/Scenario/WatchableApp.cs
  src/Tools/dotnet-watch/test/dotnet-watch.Tests.csproj
Labels: tell-mode

#16903 Disable webpack build progress reporting for Angular projects
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/angular.json
Labels: Servicing-approved, area-mvc

#16911 Disable SDL, increase timeout to 4.5 hours
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure, tell-mode

#16853 Update some tests
  src/Components/test/testassets/BasicTestApp/ErrorComponent.razor
  src/Features/JsonPatch/test/Internal/ObjectVisitorTest.cs
Labels: area-mvc, tell-mode

#12652 Response Caching: Cache Head with Content-Length
  src/Middleware/ResponseCaching/src/ResponseCachingMiddleware.cs
  src/Middleware/ResponseCaching/test/ResponseCachingMiddlewareTests.cs
  src/Middleware/ResponseCaching/test/ResponseCachingTests.cs
  src/Middleware/ResponseCaching/test/TestUtils.cs
Labels: area-middleware

#16982 Use AzDo feed for nightlies
  docs/DailyBuilds.md
Labels: area-infrastructure

#15354 Support building for arm64 on arm64 (*nix)
  Directory.Build.props
  src/Framework/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-infrastructure

#16993 [HttpSys] Set HasStarted for StartAsync
  src/Servers/HttpSys/src/FeatureContext.cs
  src/Servers/HttpSys/test/FunctionalTests/ResponseBodyTests.cs
Labels: area-servers

#16808 Blazor WebAssembly move to netstandard2.1
  src/Components/Blazor/Blazor/ref/Microsoft.AspNetCore.Blazor.csproj
  src/Components/Blazor/Blazor/ref/Microsoft.AspNetCore.Blazor.netstandard2.1.cs
  src/Components/Blazor/Blazor/src/Microsoft.AspNetCore.Blazor.csproj
  src/Components/Blazor/Build/src/targets/Blazor.MonoRuntime.targets
  src/Components/Blazor/Http/ref/Microsoft.AspNetCore.Blazor.HttpClient.csproj
  src/Components/Blazor/Http/ref/Microsoft.AspNetCore.Blazor.HttpClient.netstandard2.1.cs
  src/Components/Blazor/Http/src/Microsoft.AspNetCore.Blazor.HttpClient.csproj
  src/Components/Blazor/Templates/src/content/BlazorWasm-CSharp/Client/BlazorWasm-CSharp.Client.csproj
  src/Components/Blazor/Templates/src/content/BlazorWasm-CSharp/Shared/BlazorWasm-CSharp.Shared.csproj
  src/Components/Blazor/Validation/src/Microsoft.AspNetCore.Blazor.DataAnnotations.Validation.csproj
  src/Components/Blazor/testassets/HostedInAspNet.Client/HostedInAspNet.Client.csproj
  src/Components/Blazor/testassets/Microsoft.AspNetCore.Blazor.E2EPerformance/Microsoft.AspNetCore.Blazor.E2EPerformance.csproj
  src/Components/Blazor/testassets/MonoSanityClient/MonoSanityClient.csproj
  src/Components/Blazor/testassets/StandaloneApp/StandaloneApp.csproj
  src/Components/test/testassets/BasicTestApp/BasicTestApp.csproj
Labels: area-blazor

#16885 HTTP/2 code sharing shell sync-script
  src/Shared/Http2/CopyToAspNetCore.cmd
  src/Shared/Http2/CopyToAspNetCore.sh
  src/Shared/Http2/CopyToCoreFx.cmd
  src/Shared/Http2/CopyToCoreFx.sh
Labels: area-servers

#17001 Use operations in our analyzers that need symbols
  src/Components/Analyzers/src/InternalUsageAnalyzer.cs
  src/Components/Analyzers/test/ComponentInternalUsageDiagnosticsAnalyzerTest.cs
  src/Components/Analyzers/test/TestFiles/ComponentInternalUsageDiagnosticsAnalyzerTest/UsersRendererTypesInMethodBody.cs
  src/Components/Analyzers/test/TestFiles/ComponentInternalUsageDiagnosticsAnalyzerTest/UsesRenderTreeFrameAsParameter.cs
  src/Components/Analyzers/test/TestFiles/ComponentInternalUsageDiagnosticsAnalyzerTest/UsesRendererAsBaseClass.cs
  src/Components/Analyzers/test/TestFiles/ComponentInternalUsageDiagnosticsAnalyzerTest/UsesRendererTypesInDeclarations.cs
  src/Mvc/Mvc.Analyzers/src/AvoidHtmlPartialAnalyzer.cs
  src/Mvc/Mvc.Analyzers/src/ViewFeaturesAnalyzerContext.cs
Labels: area-blazor, area-mvc

#16829 Keep Blazor at pre-release for 3.1
  eng/Versions.props
  src/Components/Blazor/Directory.Build.props
Labels: area-blazor

#16902 Stabilize packages for 3.1.0
  eng/Versions.props
Labels: area-infrastructure

#16906 Replace cert authN README content with link to official doc
  src/Security/Authentication/Certificate/src/README-IISConfig.png
  src/Security/Authentication/Certificate/src/README.md
Labels: area-security

#17123 spelling fix - recieved to received
  src/Components/Server/src/CircuitDisconnectMiddleware.cs
Labels: area-middleware

#17119 Optimize namespace comparisons
  src/Components/Analyzers/src/ComponentInternalUsageDiagnosticAnalzyer.cs
  src/Components/Analyzers/src/InternalUsageAnalyzer.cs
  src/Components/Analyzers/test/ComponentInternalUsageDiagnosticsAnalyzerTest.cs
  src/Components/Analyzers/test/TestFiles/ComponentInternalUsageDiagnosticsAnalyzerTest/UsersRendererTypesInMethodBody.cs
  src/Components/Analyzers/test/TestFiles/ComponentInternalUsageDiagnosticsAnalyzerTest/UsesRendererTypesInDeclarations.cs
Labels: area-blazor

#17146 Make constraint cache thread safe
  src/Components/Components/src/Routing/RouteConstraint.cs
  src/Components/Components/test/Routing/RouteConstraintTest.cs
Labels: Servicing-approved, area-blazor

#17154 Add support for IAsyncEnumerable<T> where T is value type
  src/Mvc/Mvc.Core/src/Infrastructure/AsyncEnumerableReader.cs
  src/Mvc/Mvc.Core/src/Infrastructure/ObjectResultExecutor.cs
  src/Mvc/Mvc.Core/src/Infrastructure/SystemTextJsonResultExecutor.cs
  src/Mvc/Mvc.Core/test/Infrastructure/AsyncEnumerableReaderTest.cs
  src/Mvc/Mvc.Core/test/Infrastructure/JsonResultExecutorTestBase.cs
  src/Mvc/Mvc.Core/test/Infrastructure/ObjectResultExecutorTest.cs
  src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonResultExecutor.cs
Labels: area-mvc

#17208 Mark IIS test as flaky
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/SynchronousReadAndWriteTests.cs
Labels: area-servers

#17050 Use mono wasm method to invoke entry point
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/Web.JS/src/Platform/Mono/MonoTypes.d.ts
  src/Components/Web.JS/src/Platform/Platform.ts
Labels: area-blazor, blazor-wasm

#17177 Fixes QueryHelpers.AddQueryString() throws when one of the dictionary values is null
  src/Http/WebUtilities/src/QueryHelpers.cs
  src/Http/WebUtilities/test/QueryHelpersTests.cs
Labels: area-servers

#17198 Enable building `blazor-wasm` branch
  .azure/pipelines/ci.yml
Labels: area-blazor

#16748 Stop paying attention to PatchConfig.props
  Directory.Build.props
  Directory.Build.targets
  docs/PreparingPatchUpdates.md
  docs/ReferenceResolution.md
  eng/PatchConfig.props
  eng/Versions.props
  src/SignalR/clients/java/signalr/signalr.client.java.javaproj
Labels: Servicing-approved, area-infrastructure

#13899 Re-enable signing validation
  .azure/pipelines/ci.yml
  Directory.Build.props
  eng/SignCheckExclusionsFile.txt
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  packageIcon.png
  src/Analyzers/Analyzers/src/Microsoft.AspNetCore.Analyzers.csproj
  src/Analyzers/Analyzers/src/Microsoft.AspNetCore.Analyzers.nuspec
  src/Components/Blazor/Build/src/Microsoft.AspNetCore.Blazor.Build.csproj
  src/Components/Blazor/Build/src/Microsoft.AspNetCore.Blazor.Build.nuspec
  src/Components/Blazor/DevServer/src/Microsoft.AspNetCore.Blazor.DevServer.csproj
  src/Components/Blazor/DevServer/src/Microsoft.AspNetCore.Blazor.DevServer.nuspec
  src/Components/Blazor/Templates/src/Microsoft.AspNetCore.Blazor.Templates.csproj
  src/Components/Blazor/Templates/src/Microsoft.AspNetCore.Blazor.Templates.nuspec
  src/Components/Components/src/Microsoft.AspNetCore.Components.csproj
  src/Components/Components/src/Microsoft.AspNetCore.Components.multitarget.nuspec
  src/Components/Components/src/Microsoft.AspNetCore.Components.netcoreapp3.0.nuspec
  src/Installers/Windows/GenerateNugetPackageWithMsi.ps1
  src/Installers/Windows/SharedFramework/SharedFramework.wixproj
  src/Installers/Windows/SharedFramework/SharedFrameworkPackage.nuspec
  src/Installers/Windows/TargetingPack/TargetingPack.wixproj
  src/Installers/Windows/TargetingPack/TargetingPackPackage.nuspec
  src/Mvc/Mvc.Analyzers/src/Microsoft.AspNetCore.Mvc.Analyzers.csproj
  src/Mvc/Mvc.Analyzers/src/Microsoft.AspNetCore.Mvc.Analyzers.nuspec
  src/Mvc/Mvc.Api.Analyzers/src/Microsoft.AspNetCore.Mvc.Api.Analyzers.csproj
  src/Mvc/Mvc.Api.Analyzers/src/Microsoft.AspNetCore.Mvc.Api.Analyzers.nuspec
  src/ProjectTemplates/TemplateProjects.props
  src/ProjectTemplates/templates.nuspec
  src/Tools/Extensions.ApiDescription.Client/src/Microsoft.Extensions.ApiDescription.Client.csproj
  src/Tools/Extensions.ApiDescription.Client/src/Microsoft.Extensions.ApiDescription.Client.nuspec
  src/Tools/Extensions.ApiDescription.Server/src/Microsoft.Extensions.ApiDescription.Server.csproj
  src/Tools/Extensions.ApiDescription.Server/src/Microsoft.Extensions.ApiDescription.Server.nuspec
Labels: Servicing-approved, area-infrastructure

#17156 Use System.Reflection.Metadata to generate BootConfig
  src/Components/Blazor/Build/src/Cli/Commands/WriteBootJsonCommand.cs
  src/Components/Blazor/Build/src/Core/BootJsonWriter.cs
  src/Components/Blazor/Build/src/Core/EmbeddedResources/EmbeddedResourceInfo.cs
  src/Components/Blazor/Build/src/Core/EmbeddedResources/EmbeddedResourceKind.cs
  src/Components/Blazor/Build/src/Core/EmbeddedResources/EmbeddedResourcesProcessor.cs
  src/Components/Blazor/Build/src/Core/RuntimeDependenciesResolver.cs
  src/Components/Blazor/Build/src/Microsoft.AspNetCore.Blazor.Build.csproj
  src/Components/Blazor/Build/src/targets/Blazor.MonoRuntime.targets
  src/Components/Blazor/Build/test/BootJsonWriterTest.cs
  src/Components/Web.JS/.gitignore
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Boot.WebAssembly.ts
Labels: area-blazor

#16959 [Project template]: Indent Blazor error UI CSS
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/wwwroot/css/site.css
Labels: area-blazor

#16691 Suppress log when request is cancelled
  src/Servers/HttpSys/src/RequestProcessing/ResponseBody.cs
Labels: area-servers

#17279 Attempt fix Angular template flaky test
  src/ProjectTemplates/test/Helpers/ProcessEx.cs
  src/ProjectTemplates/test/Helpers/Project.cs
  src/ProjectTemplates/test/SpaTemplateTest/SpaTemplateTestBase.cs
Labels: area-mvc

#13606 Crankier: Connect to Azure SignalR
  eng/Dependencies.props
  eng/Versions.props
  src/SignalR/perf/benchmarkapps/Crankier/Commands/ServerCommand.cs
  src/SignalR/perf/benchmarkapps/Crankier/Crankier.csproj
  src/SignalR/perf/benchmarkapps/Crankier/Readme.md
  src/SignalR/perf/benchmarkapps/Crankier/Server/Startup.cs
Labels: area-signalr

#17245 Update baselines for 3.0.1 release
  eng/Baseline.Designer.props
  eng/Baseline.xml
Labels: area-infrastructure

#17306 Adding some guidance regarding using StackOverflow in the issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: area-infrastructure

#17157 More cleaning up Blazor.Build package
  eng/Build.props
  src/Components/Blazor/Build/src/Cli/Commands/ResolveRuntimeDependenciesCommand.cs
  src/Components/Blazor/Build/src/Cli/Commands/WriteBootJsonCommand.cs
  src/Components/Blazor/Build/src/Cli/Program.cs
  src/Components/Blazor/Build/src/Core/BootJsonWriter.cs
  src/Components/Blazor/Build/src/Microsoft.AspNetCore.Blazor.Build.csproj
  src/Components/Blazor/Build/src/Microsoft.AspNetCore.Blazor.Build.nuspec
  src/Components/Blazor/Build/src/ReferenceBlazorBuildFromSource.props
  src/Components/Blazor/Build/src/ReferenceFromSource.props
  src/Components/Blazor/Build/src/Tasks/GenerateBlazorBootJson.cs
  src/Components/Blazor/Build/src/Tasks/ResolveBlazorRuntimeDependencies.cs
  src/Components/Blazor/Build/src/targets/All.targets
  src/Components/Blazor/Build/src/targets/Blazor.MonoRuntime.props
  src/Components/Blazor/Build/src/targets/Blazor.MonoRuntime.targets
  src/Components/Blazor/Build/src/targets/Publish.targets
  src/Components/Blazor/Build/test/BootJsonWriterTest.cs
  src/Components/Blazor/Build/test/BuildIntegrationTests/Assert.cs
  src/Components/Blazor/Build/test/BuildIntegrationTests/BuildIncrementalismTest.cs
  src/Components/Blazor/Build/test/BuildIntegrationTests/BuildIntegrationTest.cs
  src/Components/Blazor/Build/test/BuildIntegrationTests/FileThumbPrint.cs
  src/Components/Blazor/Build/test/BuildIntegrationTests/MSBuildProcessManager.cs
  src/Components/Blazor/Build/test/BuildIntegrationTests/MSBuildResult.cs
  src/Components/Blazor/Build/test/BuildIntegrationTests/ProjectDirectory.cs
  src/Components/Blazor/Build/test/BuildIntegrationTests/ProjectDirectoryTest.cs
  src/Components/Blazor/Build/test/BuildIntegrationTests/PublishIntegrationTest.cs
  src/Components/Blazor/Build/test/Microsoft.AspNetCore.Blazor.Build.Tests.csproj
  src/Components/Blazor/Build/test/RuntimeDependenciesResolverTest.cs
  src/Components/Blazor/Build/testassets/Directory.Build.props
  src/Components/Blazor/Build/testassets/Directory.Build.targets
  src/Components/Blazor/Build/testassets/standalone/App.razor
  src/Components/Blazor/Build/testassets/standalone/Pages/Index.razor
  src/Components/Blazor/Build/testassets/standalone/Program.cs
  src/Components/Blazor/Build/testassets/standalone/_Imports.razor
  src/Components/Blazor/Build/testassets/standalone/standalone.csproj
  src/Components/Blazor/Build/testassets/standalone/wwwroot/index.html
  src/Components/Web.JS/.gitignore
  src/Components/Web.JS/Microsoft.AspNetCore.Components.Web.JS.npmproj
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
Labels: area-blazor

#17333 Fix: @aspnet/signalr -> @microsoft/signalr
  src/SignalR/README.md
Labels: area-signalr

#17107 Re-enable Policheck, Skip test logs, reset timeout to 3 hours
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
  eng/PoliCheckExclusions.xml
Labels: area-infrastructure

#17237 [3.1.x] Backport HttpContext.Items fix
  src/Http/Http/src/Internal/ItemsDictionary.cs
  src/Http/Http/test/Internal/ItemsDictionaryTests.cs
Labels: Servicing-approved, area-servers

#17314 Pool HttpSys request buffers
  src/Servers/HttpSys/samples/TestClient/App.config
  src/Servers/HttpSys/samples/TestClient/Program.cs
  src/Servers/HttpSys/samples/TestClient/Properties/AssemblyInfo.cs
  src/Servers/HttpSys/samples/TestClient/TestClient.csproj
  src/Servers/HttpSys/src/AsyncAcceptContext.cs
  src/Servers/HttpSys/src/HttpSysListener.cs
  src/Servers/HttpSys/src/Microsoft.AspNetCore.Server.HttpSys.csproj
  src/Shared/HttpSys/RequestProcessing/HeaderEncoding.cs
  src/Shared/HttpSys/RequestProcessing/NativeRequestContext.cs
Labels: Perf, area-servers

#17103 [3.1.x] Fix dotnet.exe process recovery after abnormal exit in ANCM
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/config_utility.h
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/processmanager.cpp
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/serverprocess.cpp
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/serverprocess.h
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/requesthandler_config.cpp
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/requesthandler_config.h
  src/Servers/IIS/IIS/test/Common.FunctionalTests/LogFileTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/OutOfProcess/AspNetCorePortTests.cs
Labels: Servicing-approved, area-servers

#17296 Typo
  src/Security/Authorization/Core/src/AuthorizationPolicyBuilder.cs
Labels: area-security

#17116 [3.1.x] Allow external startup hooks
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/HostFxr.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/HostFxr.h
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocessapplication.cpp
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/StartupTests.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/StartupHook.cs
Labels: Servicing-approved, area-servers

#14447 Use C#'s ReadOnlySpan static data optimization in more places
  src/Http/WebUtilities/src/FormPipeReader.cs
  src/Middleware/WebSockets/src/HandshakeHelpers.cs
  src/Servers/Kestrel/Core/src/Internal/Http/ChunkWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http/DateHeaderValueManager.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpResponseHeaders.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/Kestrel/test/GeneratedCodeTests.cs
  src/Servers/Kestrel/Kestrel/test/Microsoft.AspNetCore.Server.Kestrel.Tests.csproj
  src/Servers/Kestrel/samples/http2cat/Http2Utilities.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Servers/Kestrel/tools/CodeGenerator/CodeGenerator.csproj
  src/Servers/Kestrel/tools/CodeGenerator/Http2Connection.cs
  src/Servers/Kestrel/tools/CodeGenerator/Program.cs
  src/Servers/Kestrel/tools/CodeGenerator/ReadOnlySpanStaticDataGenerator.cs
  src/Shared/Http2/Hpack/StatusCodes.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/ServerSentEventsMessageParser.cs
Labels: area-servers

#12112 BindingAddress is customized for unix socket urls #10782 test data is added
  src/Http/Http/src/BindingAddress.cs
  src/Http/Http/test/BindingAddressTests.cs
  src/Servers/Kestrel/Core/test/AddressBinderTests.cs
  src/Servers/Kestrel/test/FunctionalTests/UnixDomainSocketsTests.cs
Labels: area-servers

#17313 Use a task to launch the linker
  src/Components/Blazor/Build/src/Tasks/BlazorCreateRootDescriptorFile.cs
  src/Components/Blazor/Build/src/Tasks/BlazorILLink.cs
  src/Components/Blazor/Build/src/targets/Blazor.MonoRuntime.targets
  src/Components/Blazor/Build/test/BlazorCreateRootDescriptorFileTest.cs
Labels: area-blazor

#17342 Don't ship blazor packages from release/3.1
  src/Components/Blazor/Directory.Build.props
Labels: area-blazor

#17162 Enable WASM debugging
  src/Components/Blazor/Server/src/MonoDebugProxy/BlazorMonoDebugProxyAppBuilderExtensions.cs
Labels: area-blazor

#17353 [Blazor] Fixes publishing for standalone blazor-wasm applications
  src/Components/Blazor/Build/src/targets/All.targets
  src/Components/Blazor/Build/src/targets/StaticWebAssets.targets
  src/Components/Blazor/Build/test/BuildIntegrationTests/PublishIntegrationTest.cs
  src/Components/Blazor/Build/testassets/razorclasslibrary/RazorClassLibrary.csproj
  src/Components/Blazor/Build/testassets/razorclasslibrary/wwwroot/styles.css
  src/Components/Blazor/Build/testassets/razorclasslibrary/wwwroot/wwwroot/exampleJsInterop.js
  src/Components/Blazor/Build/testassets/standalone/standalone.csproj
  src/Components/Blazor/testassets/HostedInAspNet.Client/HostedInAspNet.Client.csproj
Labels: area-blazor

#17383 Allow more than one IConnectionListenerFactory
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/KestrelServer.cs
  src/Servers/Kestrel/Core/test/KestrelServerTests.cs
Labels: area-servers, servers-kestrel

#17359 Update ci.yml
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#16878 Remove unused nuget feeds
  NuGet.config
Labels: area-infrastructure

#17346 Update branding for Blazor packages and update baseline
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Versions.props
  eng/scripts/CodeCheck.ps1
  eng/tools/BaselineGenerator/BaselineGenerator.csproj
  src/Components/Blazor/Directory.Build.props
Labels: area-blazor

#16848 Remove accidentally duplicated Microsoft.Internal.Extensions.Refs
  eng/Version.Details.xml
Labels: area-infrastructure

#17427 Try different MSBuild things to make build work
  src/Components/Blazor/Build/src/ReferenceFromSource.props
Labels: area-blazor

#17398 Add some tests for hosted project building and publishing
  src/Components/Blazor/Build/src/targets/Publish.targets
  src/Components/Blazor/Build/test/BuildIntegrationTests/BuildIntegrationTest.cs
  src/Components/Blazor/Build/test/BuildIntegrationTests/PublishIntegrationTest.cs
  src/Components/Blazor/Build/test/Microsoft.AspNetCore.Blazor.Build.Tests.csproj
  src/Components/Blazor/Build/testassets/blazorhosted/Program.cs
  src/Components/Blazor/Build/testassets/blazorhosted/blazorhosted.csproj
Labels: area-blazor

#17430 WebAssembly debugger attach improvements
  src/Components/Blazor/Server/src/MonoDebugProxy/BlazorMonoDebugProxyAppBuilderExtensions.cs
Labels: area-blazor

#17452 Include .pdb files in blazor.boot.json to re-enable debugging
  src/Components/Blazor/Build/src/targets/Blazor.MonoRuntime.targets
Labels: area-blazor, blazor-wasm

#17407 Added a new CI definition to measure build time for certain areas
  .azure/pipelines/devBuilds.yml
Labels: area-infrastructure

#17459 Removed the usage of `_BuildArgs` unused variable
  .azure/pipelines/devBuilds.yml
Labels: area-infrastructure

#17428 Test improvements
  src/Tools/Microsoft.dotnet-openapi/src/Commands/BaseCommand.cs
Labels: area-commandlinetools

#17469 Added a step to update submodules as well as disable PR builds
  .azure/pipelines/devBuilds.yml
Labels: area-infrastructure

#17477 Fix Blazor WebAssembly hosted publishing
  src/Components/Blazor/Build/src/targets/Publish.targets
  src/Components/Blazor/Build/test/BuildIntegrationTests/PublishIntegrationTest.cs
Labels: blazor-wasm

#17496 [Blazor] Fixes publish issue with static web assets on hosted scenarios
  src/Components/Blazor/Build/src/targets/StaticWebAssets.targets
Labels: area-blazor
