Repository dotnet/aspnetcore, pull requests merged in 2019-01, with the labels that each got.

#4070 [Kestrel] Allow HTTP/2 stream drain timeout during trailers
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2ConnectionState.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/IHttp2StreamLifetimeHandler.cs
  src/Servers/Kestrel/Core/src/Internal/HttpConnection.cs
  src/Servers/Kestrel/Core/src/Internal/IRequestProcessor.cs
  src/Servers/Kestrel/test/FunctionalTests/Http2/ShutdownTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TimeoutTests.cs
Labels: area-servers, servers-kestrel

#6437 Remove ObjectPoolProvider from default set of hosting services
  src/Antiforgery/src/AntiforgeryServiceCollectionExtensions.cs
  src/Hosting/Hosting/src/GenericHost/GenericWebHostBuilder.cs
  src/Hosting/Hosting/src/WebHostBuilder.cs
  src/Hosting/Hosting/test/WebHostBuilderTests.cs
  src/Hosting/startvs.cmd
  src/Http/Routing/perf/EndpointRoutingBenchmarkBase.cs
  src/Http/Routing/src/DependencyInjection/RoutingServiceCollectionExtensions.cs
  src/Http/Routing/test/UnitTests/LinkGeneratorTestBase.cs
  src/Http/Routing/test/UnitTests/RequestDelegateRouteBuilderExtensionsTest.cs
  src/Http/Routing/test/UnitTests/RouteCollectionTest.cs
  src/Http/Routing/test/UnitTests/RouteTest.cs
  src/Middleware/ResponseCaching/src/ResponseCachingServicesExtensions.cs
  src/MusicStore/test/MusicStore.Test/ShoppingCartControllerTest.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Formatters.Json/DependencyInjection/MvcJsonMvcCoreBuilderExtensions.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Core.Test/Routing/AttributeRouteTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Core.Test/Routing/AttributeRoutingTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Core.Test/Routing/ControllerLinkGeneratorExtensionsTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Core.Test/Routing/PageLinkGeneratorExtensionsTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Core.Test/Routing/UrlHelperBaseTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Core.Test/Routing/UrlHelperTestBase.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.IntegrationTests/AuthorizeFilterIntegrationTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.IntegrationTests/HasValidatorsValidationMetadataProviderIntegrationTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.IntegrationTests/ModelBindingTestHelper.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Test/MvcOptionsSetupTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Test/MvcServiceCollectionExtensionsTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.ViewFeatures.Test/PageRemoteAttributeTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.ViewFeatures.Test/RemoteAttributeTest.cs
Labels: breaking-change

#6504 seal DefaultHttpContext and remove obsolete members
  src/Http/Http.Abstractions/src/HttpContext.cs
  src/Http/Http/src/Authentication/DefaultAuthenticationManager.cs
  src/Http/Http/src/DefaultHttpContext.cs
  src/Http/Http/src/HttpContextFactory.cs
  src/Http/Http/src/Internal/DefaultConnectionInfo.cs
  src/Http/Http/src/Internal/DefaultHttpRequest.cs
  src/Http/Http/src/Internal/DefaultHttpResponse.cs
  src/Http/Http/src/Internal/DefaultWebSocketManager.cs
  src/Http/Http/src/Internal/ReusableConnectionInfo.cs
  src/Http/Http/src/Internal/ReusableHttpContext.cs
  src/Http/Http/src/Internal/ReusableHttpRequest.cs
  src/Http/Http/src/Internal/ReusableHttpResponse.cs
  src/Http/Http/src/Internal/ReusableWebSocketManager.cs
  src/Http/Http/test/Authentication/DefaultAuthenticationManagerTests.cs
  src/Http/Http/test/DefaultHttpContextTests.cs
  src/Http/samples/SampleApp/PooledHttpContext.cs
  src/Http/samples/SampleApp/PooledHttpContextFactory.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
Labels: breaking-change

#6552 Remove Microsoft.AspNet.WebApi.Client and Newtonsoft.Json.Bson from shared fx
  build/CodeSign.props
  src/Framework/Microsoft.AspNetCore.App.props
Labels: breaking-change

#6559 Removed extra curly bracket (#6558)
  src/Http/Http.Features/src/breakingchanges.netcore.json
Labels: area-servers

#4559 Refactor streaming from client to server
  src/SignalR/benchmarks/Microsoft.AspNetCore.SignalR.Microbenchmarks/DefaultHubDispatcherBenchmark.cs
  src/SignalR/clients/ts/signalr-protocol-msgpack/src/MessagePackHubProtocol.ts
  src/SignalR/clients/ts/signalr-protocol-msgpack/tests/MessagePackHubProtocol.test.ts
  src/SignalR/clients/ts/signalr/src/HubConnection.ts
  src/SignalR/clients/ts/signalr/src/IHubProtocol.ts
  src/SignalR/clients/ts/signalr/src/index.ts
  src/SignalR/clients/ts/signalr/tests/HubConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/JsonHubProtocol.test.ts
  src/SignalR/specs/HubProtocol.md
  src/SignalR/src/Microsoft.AspNetCore.SignalR.Client.Core/HubConnection.cs
  src/SignalR/src/Microsoft.AspNetCore.SignalR.Common/Protocol/HubMethodInvocationMessage.cs
  src/SignalR/src/Microsoft.AspNetCore.SignalR.Common/Protocol/HubProtocolConstants.cs
  src/SignalR/src/Microsoft.AspNetCore.SignalR.Common/Protocol/StreamCompleteMessage.cs
  src/SignalR/src/Microsoft.AspNetCore.SignalR.Common/Protocol/StreamDataMessage.cs
  src/SignalR/src/Microsoft.AspNetCore.SignalR.Common/Protocol/StreamPlaceholder.cs
  src/SignalR/src/Microsoft.AspNetCore.SignalR.Core/Internal/DefaultHubDispatcher.Log.cs
  src/SignalR/src/Microsoft.AspNetCore.SignalR.Core/Internal/DefaultHubDispatcher.cs
  src/SignalR/src/Microsoft.AspNetCore.SignalR.Core/Internal/HubMethodDescriptor.cs
  src/SignalR/src/Microsoft.AspNetCore.SignalR.Core/StreamTracker.cs
  src/SignalR/src/Microsoft.AspNetCore.SignalR.Protocols.MessagePack/Protocol/MessagePackHubProtocol.cs
  src/SignalR/src/Microsoft.AspNetCore.SignalR.Protocols.NewtonsoftJson/Protocol/NewtonsoftJsonHubProtocol.cs
  src/SignalR/test/Microsoft.AspNetCore.SignalR.Client.FunctionalTests/HubConnectionTests.cs
  src/SignalR/test/Microsoft.AspNetCore.SignalR.Client.FunctionalTests/Hubs.cs
  src/SignalR/test/Microsoft.AspNetCore.SignalR.Client.Tests/HubConnectionTests.cs
  src/SignalR/test/Microsoft.AspNetCore.SignalR.Common.Tests/Internal/Protocol/JsonHubProtocolTests.cs
  src/SignalR/test/Microsoft.AspNetCore.SignalR.Common.Tests/Internal/Protocol/MessagePackHubProtocolTests.cs
  src/SignalR/test/Microsoft.AspNetCore.SignalR.Common.Tests/Internal/Protocol/TestBinder.cs
  src/SignalR/test/Microsoft.AspNetCore.SignalR.Common.Tests/Internal/Protocol/TestHubMessageEqualityComparer.cs
  src/SignalR/test/Microsoft.AspNetCore.SignalR.Tests.Utils/TestClient.cs
  src/SignalR/test/Microsoft.AspNetCore.SignalR.Tests/HubConnectionHandlerTestUtils/Hubs.cs
  src/SignalR/test/Microsoft.AspNetCore.SignalR.Tests/HubConnectionHandlerTests.cs
Labels: area-signalr

#4069 Switch agent queues used during PR validation
  .azure/pipelines/jobs/default-build.yml
  build.ps1
  eng/scripts/InstallJdk.ps1
  eng/scripts/InstallVisualStudio.ps1
  eng/scripts/common.psm1
  korebuild.json
  src/Middleware/WebSockets/setup-wstest.ps1
  src/Mvc/runWithProcDump.ps1
  src/Servers/IIS/tools/SetupTestEnvironment.ps1
Labels: area-infrastructure

#6378 Check iss in odic sign-out
  src/Security/Authentication/OpenIdConnect/src/LoggingExtensions.cs
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectHandler.cs
  src/Security/Authentication/test/OpenIdConnect/OpenIdConnectTests.cs
  src/Security/Authentication/test/OpenIdConnect/TestSettings.cs
  src/Security/Authentication/test/OpenIdConnect/TestTransaction.cs
Labels: area-security

#6343 Fix broken definitions file
  eng/PatchConfig.props
  src/SignalR/clients/ts/signalr-protocol-msgpack/src/MessagePackHubProtocol.ts
  src/SignalR/clients/ts/signalr/src/IHubProtocol.ts
Labels: servicing-approved

#6036 Use object indirection in HttpContextAccessor (#1066)
  eng/PatchConfig.props
  src/Http/Http/src/HttpContextAccessor.cs
  src/Http/Http/src/HttpContextFactory.cs
  src/Http/Http/test/HttpContextAccessorTests.cs
  src/Http/Http/test/HttpContextFactoryTests.cs
Labels: servicing-approved

#6150 Port ANCM current directory changes to 2.2
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/ConfigurationSection.h
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/Environment.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/Environment.h
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/InProcessOptions.cpp
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/InProcessOptions.h
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocessapplication.cpp
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/serverprocess.cpp
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/environmentvariablehash.h
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/environmentvariablehelpers.h
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/ErrorPagesTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/HostingEnvironmentTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/StartupTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/OutOfProcess/HelloWorldTest.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/RequiresNewHandler.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/RequiresNewShim.cs
  src/Servers/IIS/IIS/test/IIS.BackwardsCompatibility.FunctionalTests/DeployerSelector.cs
  src/Servers/IIS/IIS/test/IIS.ForwardsCompatibility.FunctionalTests/DeployerSelector.cs
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/DeployerSelector.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/DeployerSelector.cs
  src/Servers/IIS/IIS/test/testassets/shared/SharedStartup/Startup.shared.cs
Labels: servicing-approved

#6483 Port Handle EOF HResult from async callback to 2.2
  eng/PatchConfig.props
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/managedexports.cpp
  src/Servers/IIS/IIS/src/Core/IO/AsyncIOEngine.Read.cs
  src/Servers/IIS/IIS/src/Core/IO/AsyncIOOperation.cs
  src/Servers/IIS/IIS/src/Core/IO/WebSocketsAsyncIOEngine.Read.cs
  src/Servers/IIS/IIS/src/NativeMethods.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/SynchronousReadAndWriteTests.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
Labels: servicing-approved

#4400 Check HubConnection state before running invoke logic
  eng/PatchConfig.props
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/HubConnectionTest.java
Labels: area-signalr, servicing-approved

#6619 [2.1] Fix for shared framework assembly version mismatches
  build/dependencies.props
  test/SharedFx.UnitTests/SharedFxTests.cs
Labels: servicing-approved

#6587 Fix non-parameter route constraints not called with endpoint routing for 2.2
  eng/PatchConfig.props
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/Internal/MvcEndpointDataSource.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Core.Test/Internal/MvcEndpointDataSourceTests.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.FunctionalTests/RoutingTestsBase.cs
  src/Mvc/test/WebSites/RoutingWebSite/Controllers/NonParameterConstraintController.cs
  src/Mvc/test/WebSites/RoutingWebSite/QueryStringConstraint.cs
  src/Mvc/test/WebSites/RoutingWebSite/Startup.cs
  src/Mvc/test/WebSites/RoutingWebSite/StartupWith21Compat.cs
Labels: servicing-approved

#4447 Wait to dispose RequestAborted CTS
  eng/PatchConfig.props
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/test/Http1ConnectionTests.cs
Labels: area-servers, servers-kestrel, servicing-approved

#6645 Change consumes behavior to ignore requests with no content type for 2.2
  eng/PatchConfig.props
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/ConsumesAttribute.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/Routing/ConsumesMatcherPolicy.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Core.Test/ConsumesAttributeTests.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Core.Test/Routing/ConsumesMatcherPolicyTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.FunctionalTests/ConsumesAttributeTestsBase.cs
  src/Mvc/test/WebSites/BasicWebSite/Controllers/ActionConstraints/ConsumesAttribute_PassThroughController.cs
  src/Mvc/test/WebSites/BasicWebSite/Controllers/ActionConstraints/ConsumesAttribute_WithFallbackActionController.cs
  src/Mvc/test/WebSites/BasicWebSite/StartupWithEndpointRouting.cs
Labels: servicing-approved

#6658 Fix #6102 - Intense CPU utilization on page change (#6542)
  src/Http/Routing/src/DataSourceDependentCache.cs
  src/Http/Routing/src/DefaultLinkGenerator.cs
  src/Http/Routing/src/DependencyInjection/RoutingServiceCollectionExtensions.cs
  src/Http/Routing/src/EndpointNameAddressScheme.cs
  src/Http/Routing/src/Matching/DataSourceDependentMatcher.cs
  src/Http/Routing/src/Matching/DfaMatcherFactory.cs
  src/Http/Routing/src/RouteValuesAddressScheme.cs
  src/Http/Routing/test/UnitTests/DataSourceDependentCacheTest.cs
  src/Http/Routing/test/UnitTests/Matching/DataSourceDependentMatcherTest.cs
  src/Http/Routing/test/UnitTests/RouteValuesAddressSchemeTest.cs
Labels: servicing-approved

#6498 Allow disabling shared configuration check from hosting bundle.
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMV1/aspnetcoremodule.wxs
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMV2/aspnetcoremodulev2.wxs
  src/Installers/Windows/WindowsHostingBundle/ANCM.wxs
  src/Installers/Windows/WindowsHostingBundle/Bundle.wxs
Labels: servicing-approved

#6775 Introduce IUrlHelper.ActionLink
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/UrlHelperExtensions.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Core.Test/Routing/UrlHelperBaseTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Core.Test/Routing/UrlHelperExtensionsTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Core.Test/Routing/UrlHelperTestBase.cs
Labels: area-mvc

#6630 Bringing back SignalR Daily Tests
  .azure/pipelines/signalr-daily-tests.yml
  src/SignalR/clients/ts/FunctionalTests/SignalR.Npm.FunctionalTests.npmproj
  src/SignalR/clients/ts/FunctionalTests/scripts/run-tests.ts
Labels: area-signalr

#6844 Address flaky ANCMV1 tests
  src/MusicStore/test/MusicStore.E2ETests/PublishAndRunTests.cs
  src/MusicStore/test/MusicStore.E2ETests/SmokeTests.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISDeploymentResult.cs
  src/Servers/test/FunctionalTests/HelloWorldTest.cs
  src/Servers/test/FunctionalTests/NtlmAuthenticationTest.cs
  src/Servers/test/FunctionalTests/ResponseCompressionTests.cs
  src/Servers/test/FunctionalTests/ResponseTests.cs
Labels: area-servers

#6858 Revert signtool to older version that doesn't lock the .nupkg file
  eng/Versions.props
  global.json
  korebuild-lock.txt
Labels: area-infrastructure

#6867 Remove JsonPatch from the shared framework
  build/SharedFrameworkOnly.props
  src/Framework/Microsoft.AspNetCore.App.props
Labels: breaking-change

#6934 Make auth schemes const
  src/Azure/AzureAD/Authentication.AzureAD.UI/src/AzureADDefaults.cs
  src/Azure/AzureAD/Authentication.AzureADB2C.UI/src/AzureAdB2CDefaults.cs
  src/Servers/HttpSys/build.cmd
  src/Servers/HttpSys/src/HttpSysDefaults.cs
Labels: breaking-change

#6939 Update build tools and exclude symbols.nupkg files from signcheck
  build.ps1
  build/RepositoryBuild.targets
  eng/Versions.props
  eng/signcheck.exclusions.txt
  global.json
  korebuild-lock.txt
Labels: area-infrastructure

#6994 Revert "Wait to dispose RequestAborted CTS (#4447)"
  eng/PatchConfig.props
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/test/Http1ConnectionTests.cs
Labels: servicing-approved

#6997 Block generic host Startup.ConfigureServices that return IServiceProvider
  src/Hosting/Hosting/src/GenericHost/GenericWebHostBuilder.cs
  src/Hosting/Hosting/src/Internal/StartupLoader.cs
  src/Hosting/Hosting/test/Fakes/StartupWithBuiltConfigureServices.cs
  src/Hosting/Hosting/test/WebHostBuilderTests.cs
Labels: area-hosting

#6955 Remove stale links to runtime installers from daily build docs
  docs/DailyBuilds.md
Labels: area-infrastructure

#7004 Harden IISExpress shutdown code
  src/Servers/IIS/IntegrationTesting.IIS/src/IISExpressDeployer.cs
Labels: area-servers

#4425 Update repo links for SignalR TS client in package.json after move
  src/SignalR/clients/ts/signalr/package.json
Labels: area-signalr

#6963 Re-enable nginx CI tests
  .azure/pipelines/ci.yml
  eng/scripts/cibuild.sh
  eng/scripts/install-nginx-linux.sh
  eng/scripts/install-nginx-mac.sh
  src/Servers/test/FunctionalTests/HelloWorldTest.cs
  src/Servers/test/FunctionalTests/ResponseCompressionTests.cs
  src/Servers/test/FunctionalTests/ResponseTests.cs
Labels: area-servers

#6952 Disable ResponseFormats_Chunked test
  src/Servers/test/FunctionalTests/ResponseTests.cs
Labels: area-servers

#7024 Reenable application initialization module tests
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Utilities/Helpers.cs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/ServicesTests.cs
  src/Shared/HttpSys/NativeInterop/CookedUrl.cs
Labels: area-servers

#7035 Skip kestrel h2spec tests
  src/Servers/Kestrel/test/Interop.FunctionalTests/H2SpecTests.cs
Labels: area-servers

#6655 Refactor hub invocation cleanup
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTestUtils/Hubs.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-signalr

#7027 Use published apps in IIS tests
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/StartupTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/PublishedApplicationPublisher.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/PublishedSitesFixture.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Utilities/IISTestSiteFixture.cs
  src/Servers/IIS/IIS/test/testassets/InProcessForwardsCompatWebSite/InProcessWebSite.csproj
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/InProcessWebSite.csproj
  src/Servers/IIS/IIS/test/testassets/OutOfProcessWebSite/OutOfProcessWebSite.csproj
  src/Servers/IIS/build/testsite.props
Labels: area-servers

#6964 Remove the google auth patch quirk
  src/Security/Authentication/Google/src/GoogleDefaults.cs
  src/Security/Authentication/Google/src/GoogleHelper.cs
  src/Security/Authentication/Google/src/GoogleOptions.cs
Labels: area-security

#6961 Clean up ManualResetEvent usage in tests
  src/DefaultBuilder/DefaultBuilder.sln
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebHostTests.cs
  src/Middleware/ResponseCompression/test/ResponseCompressionMiddlewareTest.cs
  src/Middleware/StaticFiles/test/FunctionalTests/StaticFileMiddlewareTests.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.TagHelpers.Test/CacheTagHelperTest.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.TagHelpers.Test/DistributedCacheTagHelperTest.cs
  src/Servers/HttpSys/test/FunctionalTests/AuthenticationTests.cs
  src/Servers/HttpSys/test/FunctionalTests/Listener/ServerTests.cs
  src/Servers/HttpSys/test/FunctionalTests/OpaqueUpgradeTests.cs
  src/Servers/HttpSys/test/FunctionalTests/ResponseBodyTests.cs
  src/Servers/HttpSys/test/FunctionalTests/ResponseSendFileTests.cs
  src/Servers/HttpSys/test/FunctionalTests/ResponseTests.cs
  src/Servers/HttpSys/test/FunctionalTests/ServerTests.cs
  src/Servers/HttpSys/test/FunctionalTests/Utilities.cs
  src/Servers/IIS/IISIntegration/test/Tests/IISMiddlewareTests.cs
  src/Tools/dotnet-watch/test/FileWatcherTests.cs
Labels: area-middleware

#6901 Remove over engineered callback writing and just write chunks directly.
  src/Servers/Kestrel/Core/src/Internal/Http/Http1OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http/IHttpOutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs
  src/Servers/Kestrel/Core/test/OutputProducerTests.cs
  src/Servers/Kestrel/Transport.Libuv/test/LibuvOutputConsumerTests.cs
Labels: area-servers

#6833 Reuse the stack for OnCompleted and OnStarting calls
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseTests.cs
Labels: area-servers

#6832 Remove .Start from BufferSegment
  src/Http/Http/src/BufferSegment.cs
  src/Http/Http/src/StreamPipeReader.cs
Labels: area-servers

#6911 Hoist method attributes from the request delegate as metadata.
  src/Http/Routing/src/Builder/EndpointRouteBuilderExtensions.cs
  src/Http/Routing/test/UnitTests/Builder/MapEndpointEndpointDataSourceBuilderExtensionsTest.cs
  src/Http/Routing/test/testassets/RoutingSandbox/UseEndpointRoutingStartup.cs
Labels: area-mvc

#6816 Drain requests in native instead of managed
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/application.h
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocessapplication.cpp
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocessapplication.h
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocesshandler.cpp
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocesshandler.h
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/managedexports.cpp
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
  src/Servers/IIS/IIS/src/Core/IISHttpServer.cs
  src/Servers/IIS/IIS/src/Core/IISNativeApplication.cs
  src/Servers/IIS/IIS/src/NativeMethods.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/AppOfflineTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/ClientDisconnectTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/ShutdownTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/StartupTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/InProcess/IISExpressShutdownTests.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
Labels: area-servers

#6943 Add startvs.cmd for MVC and Security solutions
  src/Mvc/startvs.cmd
  src/Security/startvs.cmd
Labels: area-mvc

#6819 Introduce IUrlHelper.PageLink
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/UrlHelperExtensions.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Core.Test/Routing/UrlHelperExtensionsTest.cs
Labels: area-mvc

#6950 Enable strict mode in roslyn compiler
  Directory.Build.props
  src/Antiforgery/src/Internal/DefaultAntiforgeryTokenStore.cs
  src/Hosting/Hosting/src/Internal/HostingApplicationDiagnostics.cs
  src/Hosting/TestHost/src/ClientHandler.cs
  src/Middleware/StaticFiles/src/StaticFileContext.cs
  src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/Binders/CollectionModelBinder.cs
  src/Mvc/test/Microsoft.AspNetCore.Mvc.Core.Test/ModelBinding/DefaultModelBindingContextTest.cs
  src/Mvc/test/WebSites/BasicWebSite/Controllers/ContactApiController.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.Generated.cs
  src/Servers/Kestrel/tools/CodeGenerator/KnownHeaders.cs
Labels: area-infrastructure

#6967 Add StartAsync() to HttpResponse; ImplementFeature in Kestrel
  src/Http/Http.Abstractions/src/HttpResponse.cs
  src/Http/Http.Features/src/IHttpResponseStartFeature.cs
  src/Http/Http/src/Internal/DefaultHttpResponse.cs
  src/Http/Http/test/DefaultHttpContextTests.cs
  src/Http/Http/test/Internal/DefaultHttpResponseTests.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.FeatureCollection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http/RequestProcessingStatus.cs
  src/Servers/Kestrel/Core/test/HttpProtocolFeatureCollectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseTests.cs
  src/Servers/Kestrel/tools/CodeGenerator/HttpProtocolFeatureCollection.cs
Labels: area-servers

#6324 Benchmarking bot tests
  .azure/pipelines/benchmarks.yml
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#7074 Pass in auth type for WindowsAuth in out of proc
  src/Servers/IIS/IIS/test/IIS.BackwardsCompatibility.FunctionalTests/IIS.BackwardsCompatibility.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IIS.ForwardsCompatibility.FunctionalTests/IIS.ForwardsCompatibility.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/IIS.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/IISExpress.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/OutOfProcess/NtlmAuthentationTest.cs
  src/Servers/IIS/IISIntegration/src/AuthenticationHandler.cs
Labels: area-servers

#6849 Build 3.0 AggregateSite extension
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/site-extensions-job.yml
  .azure/pipelines/site-extensions.yml
  src/SiteExtensions/LoggingAggregate/Directory.Build.props
  src/SiteExtensions/LoggingAggregate/SiteExtensions.sln
  src/SiteExtensions/LoggingAggregate/build.cmd
  src/SiteExtensions/LoggingAggregate/build.sh
  src/SiteExtensions/LoggingAggregate/build/dependencies.props
  src/SiteExtensions/LoggingAggregate/build/repo.props
  src/SiteExtensions/LoggingAggregate/build/sources.props
  src/SiteExtensions/LoggingAggregate/src/Directory.Build.props
  src/SiteExtensions/LoggingAggregate/src/Microsoft.AspNetCore.AzureAppServices.SiteExtension/Microsoft.AspNetCore.AzureAppServices.SiteExtension.csproj
  src/SiteExtensions/LoggingAggregate/test/Directory.Build.props
  src/SiteExtensions/LoggingAggregate/test/Microsoft.AspNetCore.AzureAppServices.SiteExtension.Tests/Microsoft.AspNetCore.AzureAppServices.SiteExtension.Tests.csproj
  src/SiteExtensions/LoggingAggregate/version.props
Labels: area-servers

#6965 Remove obsolete 1.x UseIdentity + UseXyz auth API
  src/Identity/Core/src/BuilderExtensions.cs
  src/Security/Authentication/Cookies/src/CookieAppBuilderExtensions.cs
  src/Security/Authentication/Facebook/src/FacebookAppBuilderExtensions.cs
  src/Security/Authentication/Google/src/GoogleAppBuilderExtensions.cs
  src/Security/Authentication/JwtBearer/src/JwtBearerAppBuilderExtensions.cs
  src/Security/Authentication/MicrosoftAccount/src/MicrosoftAccountAppBuilderExtensions.cs
  src/Security/Authentication/OAuth/src/OAuthAppBuilderExtensions.cs
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectAppBuilderExtensions.cs
  src/Security/Authentication/Twitter/src/TwitterAppBuilderExtensions.cs
Labels: area-identity

#7087 Fixed copyright element
  src/Components/Blazor/Cli/src/Microsoft.AspNetCore.Blazor.Cli.nuspec
Labels: area-mvc

#4329 Fix missing submodule
  src/SignalR/clients/cpp/.gitignore
  src/SignalR/clients/cpp/Build/build.msbuild
  src/SignalR/clients/cpp/test/gtest/gtest.vcxproj
  src/SignalR/clients/cpp/test/gtest/gtest.vcxproj.filters
  src/SignalR/clients/cpp/test/signalrclient-e2e-tests/Build/VS/signalrclient-e2e-tests.vcxproj
  src/SignalR/clients/cpp/test/signalrclienttests/Build/VS/signalrclienttests.vcxproj
Labels: area-signalr

#6115 Rename forgot password button
  src/Identity/UI/src/Areas/Identity/Pages/V3/Account/ForgotPassword.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/ForgotPassword.cshtml
Labels: area-security

#7100 Fix versioning of logging site extension
  .azure/pipelines/site-extensions.yml
Labels: area-infrastructure

#7092 [ApiAuthorization] Make test more reliable
  src/Identity/ApiAuthorization.IdentityServer/test/Configuration/ConfigureClientScopesTests.cs
Labels: area-identity

#6829 Add routing function test with convention builder
  src/Http/Routing/test/FunctionalTests/EndpointRoutingSampleTest.cs
  src/Http/Routing/test/testassets/RoutingWebSite/UseEndpointRoutingStartup.cs
Labels: area-mvc

#7099 Move Cors Functional tests to a separate test group
  src/Middleware/CORS/test/FunctionalTests/FunctionalTests.csproj
Labels: area-mvc

#6970 Cleanup some infrastructure pieces in Components
  src/Components/test/E2ETest/Infrastructure/SeleniumStandaloneServer.cs
  src/Components/test/E2ETest/Infrastructure/ServerFixtures/ToggleExecutionModeServerFixture.cs
  src/Components/test/testassets/BasicTestApp/wwwroot/js/jsinteroptests.js
  src/Components/test/testassets/ComponentsApp.App/ComponentsApp.App.csproj
  src/Components/test/testassets/TestContentPackage/TestContentPackage.csproj
Labels: area-mvc

#7109 Put the BlazorExtension in artifacts
  src/Components/Blazor/BlazorExtension/src/Microsoft.VisualStudio.BlazorExtension.csproj
Labels: area-mvc

#7082 Increase shutdown timeout in Kestrel TestServer
  src/Servers/Connections.Abstractions/src/ConnectionContext.cs
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Internal/HttpConnection.cs
  src/Servers/Kestrel/Core/src/Properties/CoreStrings.Designer.cs
  src/Servers/Kestrel/Core/test/ConnectionContextTests.cs
  src/Servers/Kestrel/Transport.Abstractions/src/Internal/TransportConnection.FeatureCollection.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ConnectionAdapterTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/TestTransport/TestServer.cs
Labels: area-servers

#6805 [Identity] Fix sample app
  src/Identity/ApiAuthorization.IdentityServer/samples/ApiAuthSample/ApiAuthSample.csproj
  src/Identity/ApiAuthorization.IdentityServer/samples/ApiAuthSample/Startup.cs
  src/Identity/ApiAuthorization.IdentityServer/samples/ApiAuthSample/app.db
Labels: area-identity

#7115 Make StreamPipeWriter.Complete throw if there is unflushed data
  src/Http/Http/src/StreamPipeWriter.cs
  src/Http/Http/src/ThrowHelper.cs
  src/Http/Http/test/StreamPipeWriterTests.cs
Labels: area-servers

#6977 Use System.Text.Json for Negotiate and Handshake
  eng/Dependencies.props
  eng/Versions.props
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnection.cs
  src/SignalR/common/Http.Connections.Common/src/Microsoft.AspNetCore.Http.Connections.Common.csproj
  src/SignalR/common/Http.Connections.Common/src/NegotiateProtocol.cs
  src/SignalR/common/Http.Connections.Common/src/NegotiationResponse.cs
  src/SignalR/common/Http.Connections/test/NegotiateProtocolTests.cs
  src/SignalR/common/Shared/SystemTextJsonExtensions.cs
  src/SignalR/common/Shared/TextMessageParser.cs
  src/SignalR/common/SignalR.Common/src/Microsoft.AspNetCore.SignalR.Common.csproj
  src/SignalR/common/SignalR.Common/src/Protocol/HandshakeProtocol.cs
  src/SignalR/common/SignalR.Common/test/Internal/Protocol/HandshakeProtocolTests.cs
  src/SignalR/common/SignalR.Common/test/Microsoft.AspNetCore.SignalR.Common.Tests.csproj
  src/SignalR/perf/Microbenchmarks/HandshakeProtocolBenchmark.cs
  src/SignalR/perf/Microbenchmarks/Microsoft.AspNetCore.SignalR.Microbenchmarks.csproj
  src/SignalR/perf/Microbenchmarks/NegotiateProtocolBenchmark.cs
Labels: area-signalr

#6916 Add RequireAuthorization method for default policy
  src/Security/Authorization/Policy/src/AuthorizationEndpointConventionBuilderExtensions.cs
  src/Security/Authorization/test/AuthorizationEndpointConventionBuilderExtensionsTests.cs
Labels: area-security

#6915 Validate required services in UseAuthorization
  src/Security/Authorization/Policy/src/AuthorizationAppBuilderExtensions.cs
  src/Security/Authorization/Policy/src/AuthorizationPolicyMarkerService.cs
  src/Security/Authorization/Policy/src/PolicyServiceCollectionExtensions.cs
  src/Security/Authorization/Policy/src/Properties/Resources.Designer.cs
  src/Security/Authorization/Policy/src/Resources.resx
  src/Security/Authorization/test/AuthorizationAppBuilderExtensionsTests.cs
Labels: area-security

#4438 Removed unused app component css file
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/app/app.component.css
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/app/app.component.ts
Labels: area-mvc
