Repository dotnet/aspnetcore, pull requests merged in 2019-03, with the labels that each got.

#7817 Detect Classic SignalR Server
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/NegotiateResponse.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/HubConnectionTest.java
Labels: area-signalr

#7646 Remove extra await/state machine in FlushAsync
  src/Http/Http/ref/Microsoft.AspNetCore.Http.netcoreapp3.0.cs
  src/Http/Http/src/Microsoft.AspNetCore.Http.csproj
  src/Http/Http/src/WriteOnlyPipeStream.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http/ValueTaskExtensions.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs
  src/Servers/Kestrel/Core/src/Microsoft.AspNetCore.Server.Kestrel.Core.csproj
  src/Shared/ValueTaskExtensions/ValueTaskExtensions.cs
  src/SignalR/clients/csharp/Client.Core/src/Microsoft.AspNetCore.SignalR.Client.Core.csproj
  src/SignalR/common/Http.Connections/src/Microsoft.AspNetCore.Http.Connections.csproj
Labels: area-servers

#8026 [ApiAuthorization] Mark package as shipping
  src/Identity/ApiAuthorization.IdentityServer/src/Microsoft.AspNetCore.ApiAuthorization.IdentityServer.csproj
Labels: area-mvc

#8045 Skip NodeServices tests on helix
  src/Middleware/NodeServices/test/Microsoft.AspNetCore.NodeServices.Tests.csproj
  src/Servers/Kestrel/test/Libuv.BindTests/Libuv.BindTests.csproj
Labels: area-mvc

#8053 Skip react for now
  src/ProjectTemplates/test/SpaTemplateTest/ReactTemplateTest.cs
Labels: area-mvc

#8049 Add some additional logging to ErrorPageMiddlewareWebSite
  src/Mvc/test/Mvc.FunctionalTests/ErrorPageTests.cs
Labels: area-mvc

#8080 Remove private assets
  src/SignalR/Directory.Build.props
Labels: rebase-needed

#7993 Update Blazor NDC video link
  src/Components/README.md
Labels: area-mvc

#8043 Change SameSite default to None
  src/Http/Http.Abstractions/src/CookieBuilder.cs
  src/Http/Http.Features/src/CookieOptions.cs
  src/Middleware/Rewrite/test/UrlActions/ChangeCookieActionTests.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Startup.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Startup.cs
  src/Security/CookiePolicy/src/CookiePolicyOptions.cs
  src/Security/CookiePolicy/test/CookieChunkingTests.cs
  src/Security/CookiePolicy/test/CookieConsentTests.cs
  src/Security/CookiePolicy/test/CookiePolicyTests.cs
Labels: area-servers

#8135 Add option to restrict the maximum hub message size
  src/SignalR/server/Core/ref/Microsoft.AspNetCore.SignalR.Core.netcoreapp3.0.cs
  src/SignalR/server/Core/src/HubConnectionHandler.cs
  src/SignalR/server/Core/src/HubOptions.cs
  src/SignalR/server/Core/src/Internal/HubOptionsSetup.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTestUtils/Utils.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-signalr

#8027 Rename DataProtectorTokenProvider
  src/Identity/Core/src/DataProtectorTokenProvider.cs
Labels: area-identity

#8129 skip flaky SecureDataFormatTest in Helix
  src/Security/Authentication/test/Microsoft.AspNetCore.Authentication.Test.csproj
  src/Security/Authentication/test/SecureDataFormatTests.cs
Labels: area-security

#8047 Always load NodeHttpClient to fix SSR
  src/SignalR/clients/ts/signalr/src/DefaultHttpClient.ts
  src/SignalR/clients/ts/signalr/src/EmptyNodeHttpClient.ts
  src/SignalR/clients/ts/signalr/src/NodeHttpClient.ts
  src/SignalR/clients/ts/webpack.config.base.js
Labels: area-signalr

#7002 Fix for external logins disappearing after failed login
  src/Identity/UI/ref/Microsoft.AspNetCore.Identity.UI.netcoreapp3.0.cs
  src/Identity/UI/src/Areas/Identity/Pages/V3/Account/Login.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V3/Account/Register.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V3/Account/Register.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Login.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Register.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Register.cshtml.cs
  src/Identity/samples/IdentitySample.DefaultUI/Areas/Identity/Pages/Account/Register.cshtml.cs
  src/Identity/test/Identity.FunctionalTests/ManagementTests.cs
  src/Identity/test/Identity.FunctionalTests/Pages/Account/Register.cs
  src/Identity/test/Identity.FunctionalTests/RegistrationTests.cs
  src/Identity/test/Identity.FunctionalTests/UserStories.cs
Labels: area-identity

#8115 Try updating SDK
  global.json
  korebuild-lock.txt
Labels: area-infrastructure

#8107 Helix fail if exceptions thrown during test discovery
  eng/helix/vstest/runtests.cmd
  eng/helix/vstest/runtests.sh
Labels: area-infrastructure

#7965 Update Worker template for Worker SDK
  src/ProjectTemplates/Web.ProjectTemplates/Worker-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/vs-2017.3.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/.template.config/vs-2017.3.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/vs-2017.3.host.json
Labels: area-hosting

#7887 Elide bounds check for MethodToString
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/HttpUtilities.cs
Labels: area-servers

#8113 Disable ConfigurationChange Test
  src/Servers/IIS/IIS/test/Common.FunctionalTests/ConfigurationChangeTests.cs
Labels: area-servers

#7395 Client reconnects when state's available on the server
  src/Components/Blazor/Build/src/Microsoft.AspNetCore.Blazor.Build.csproj
  src/Components/Browser.JS/Microsoft.AspNetCore.Components.Browser.JS.npmproj
  src/Components/Browser.JS/jest.config.js
  src/Components/Browser.JS/package.json
  src/Components/Browser.JS/src/Boot.Server.ts
  src/Components/Browser.JS/src/Platform/Circuits/AutoReconnectCircuitHandler.ts
  src/Components/Browser.JS/src/Platform/Circuits/CircuitHandler.ts
  src/Components/Browser.JS/src/Platform/Circuits/DefaultReconnectDisplay.ts
  src/Components/Browser.JS/src/Platform/Circuits/ReconnectDisplay.ts
  src/Components/Browser.JS/src/Platform/Circuits/UserSpecifiedDisplay.ts
  src/Components/Browser.JS/src/Services/UriHelper.ts
  src/Components/Browser.JS/src/tsconfig.json
  src/Components/Browser.JS/tests/AutoReconnectCircuitHandler.test.ts
  src/Components/Browser.JS/tests/DefaultReconnectDisplay.test.ts
  src/Components/Browser.JS/tests/tsconfig.json
  src/Components/Browser.JS/tsconfig.base.json
  src/Components/Browser.JS/yarn.lock
  src/Components/Components/ref/Microsoft.AspNetCore.Components.netstandard2.0.cs
  src/Components/Components/src/Rendering/Renderer.cs
  src/Components/Components/test/Rendering/HtmlRendererTestBase.cs
  src/Components/Components/test/Rendering/HtmlRendererTests.cs
  src/Components/Server/src/CircuitOptions.cs
  src/Components/Server/src/Circuits/CircuitClientProxy.cs
  src/Components/Server/src/Circuits/CircuitFactory.cs
  src/Components/Server/src/Circuits/CircuitHandler.cs
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/Server/src/Circuits/CircuitPrerenderer.cs
  src/Components/Server/src/Circuits/CircuitRegistry.cs
  src/Components/Server/src/Circuits/DefaultCircuitFactory.cs
  src/Components/Server/src/Circuits/RemoteJSRuntime.cs
  src/Components/Server/src/Circuits/RemoteRenderer.cs
  src/Components/Server/src/Circuits/RemoteUriHelper.cs
  src/Components/Server/src/ComponentHub.cs
  src/Components/Server/src/DependencyInjection/ComponentServiceCollectionExtensions.cs
  src/Components/Server/src/LoggerExtensions.cs
  src/Components/Server/src/Microsoft.AspNetCore.Components.Server.csproj
  src/Components/Server/test/Circuits/CircuitClientProxyTest.cs
  src/Components/Server/test/Circuits/CircuitHostTest.cs
  src/Components/Server/test/Circuits/CircuitRegistryTest.cs
  src/Components/Server/test/Circuits/RemoteRendererTest.cs
  src/Components/Server/test/Circuits/TestCircuitHost.cs
  src/Components/Server/test/Microsoft.AspNetCore.Components.Server.Tests.csproj
  src/Components/test/E2ETest/Infrastructure/SeleniumStandaloneServer.cs
  src/Components/test/E2ETest/ServerExecutionTests/ServerComponentRenderingTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/ServerSideAppTest.cs
  src/Components/test/testassets/ComponentsApp.App/Pages/Ticker.cshtml
  src/Components/test/testassets/ComponentsApp.App/Shared/NavMenu.cshtml
Labels: area-mvc

#8170 skip flaky Kestrel ValidationFailureRejectsConnection test on Helix
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionAdapterTests.cs
Labels: area-servers

#8171 skip flaky SignalR test: ErrorDuringPollWillCloseConnection
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
Labels: area-signalr

#8167 Allow disabling automatic MVC reference
  eng/Workarounds.targets
  src/Servers/Kestrel/samples/Http2SampleApp/Http2SampleApp.csproj
  src/Servers/Kestrel/samples/LargeResponseApp/LargeResponseApp.csproj
  src/Servers/Kestrel/samples/PlaintextApp/PlaintextApp.csproj
  src/Servers/Kestrel/samples/SampleApp/SampleApp.csproj
  src/Servers/Kestrel/samples/SystemdTestApp/SystemdTestApp.csproj
  src/SignalR/samples/JwtSample/JwtSample.csproj
  src/SignalR/samples/SignalRSamples/SignalRSamples.csproj
  src/SignalR/samples/SocialWeather/SocialWeather.csproj
Labels: area-infrastructure

#8035 Add missing doc comments
  src/Middleware/StaticFiles/src/HtmlDirectoryFormatter.cs
  src/Middleware/StaticFiles/src/StaticFileResponseContext.cs
  src/Mvc/Mvc.Abstractions/src/Abstractions/ActionDescriptor.cs
  src/Mvc/Mvc.Abstractions/src/ModelBinding/ModelStateDictionary.cs
  src/Mvc/Mvc.Core/src/ApplicationModels/ControllerModel.cs
  src/Mvc/Mvc.Localization/src/HtmlLocalizer.cs
  src/Mvc/Mvc.NewtonsoftJson/src/DependencyInjection/MvcNewtonsoftJsonOptionsExtensions.cs
  src/Mvc/Mvc.NewtonsoftJson/src/DependencyInjection/NewtonsoftJsonMvcCoreBuilderExtensions.cs
Labels: area-middleware, area-mvc

#8197 Isolate message compiler output files
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/AspNetCore.vcxproj
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/aspnetcoremodule.rc
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/CommonLib.vcxproj
  src/Servers/IIS/AspNetCoreModuleV2/CommonLibTests/stdafx.h
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/InProcessRequestHandler.vcxproj
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/OutOfProcessRequestHandler.vcxproj
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/RequestHandlerLib.vcxproj
  src/Servers/IIS/build/native.targets
Labels: area-servers

#8143 Fix Java Client transport select
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/HubConnectionTest.java
Labels: area-signalr

#4186 Include more template baselines
  .github/CODEOWNERS
  src/ProjectTemplates/test/BaselineTest.cs
  src/ProjectTemplates/test/template-baselines.json
Labels: area-mvc

#8013 Send email confirmation after register via external login
  src/Identity/UI/src/Areas/Identity/Pages/V3/Account/ExternalLogin.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/ExternalLogin.cshtml.cs
  src/Identity/samples/IdentitySample.DefaultUI/IdentitySample.DefaultUI.csproj
  src/Identity/samples/IdentitySample.DefaultUI/Startup.cs
Labels: area-identity

#7911 Use Request.Scheme instead of Protocol
  src/Mvc/Mvc.Core/src/UrlHelperExtensions.cs
  src/Mvc/Mvc.Core/test/Routing/UrlHelperExtensionsTest.cs
Labels: area-mvc

#7987 Improve NullHtmlEncoder perf
  src/Razor/Razor/ref/Microsoft.AspNetCore.Razor.netcoreapp3.0.cs
  src/Razor/Razor/src/TagHelpers/NullHtmlEncoder.cs
Labels: area-mvc, breaking-change

#7861 Correct summary comment on ApiConventionTypeMatchBehavior
  src/Mvc/Mvc.Core/src/ApiExplorer/ApiConventionTypeMatchBehavior.cs
Labels: area-mvc

#8219 Fix StartsWithPortableAndBootstraperExe
  src/Hosting/Server.IntegrationTesting/src/Common/DotNetCommands.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/StartupTests.cs
  src/Servers/IIS/IIS/test/testassets/InProcessForwardsCompatWebSite/InProcessWebSite.csproj
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/InProcessWebSite.csproj
Labels: area-servers

#7637 Fix F# template
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/Startup.fs
Labels: area-mvc, rebase-needed

#8246 Update korebuild
  korebuild-lock.txt
Labels: area-infrastructure

#8231 Add ability to skip tests on specific helix queues
  eng/helix/vstest/runtests.cmd
  eng/helix/vstest/runtests.sh
  eng/helix/xunit/runtests.cmd
  eng/targets/Helix.targets
  src/Shared/test/SkipOnHelixAttribute.cs
Labels: area-infrastructure

#8259 Add details to the JwtBearer error messages
  src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs
  src/Security/Authentication/test/JwtBearerTests.cs
Labels: area-security

#8222 Client to Sever Streaming Java Edition
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/InvocationMessage.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/StreamInvocationMessage.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/HubConnectionTest.java
Labels: area-signalr

#8239 Support conditional compression
  src/Http/Http.Features/ref/Microsoft.AspNetCore.Http.Features.netstandard2.0.cs
  src/Http/Http.Features/src/HttpsCompressionMode.cs
  src/Http/Http.Features/src/IHttpsCompressionFeature.cs
  src/Middleware/ResponseCompression/src/BodyWrapperStream.cs
  src/Middleware/ResponseCompression/src/ResponseCompressionMiddleware.cs
  src/Middleware/ResponseCompression/src/ResponseCompressionOptions.cs
  src/Middleware/ResponseCompression/src/ResponseCompressionProvider.cs
  src/Middleware/ResponseCompression/test/ResponseCompressionMiddlewareTest.cs
  src/Middleware/StaticFiles/ref/Microsoft.AspNetCore.StaticFiles.netcoreapp3.0.cs
  src/Middleware/StaticFiles/samples/StaticFileSample/Startup.cs
  src/Middleware/StaticFiles/samples/StaticFileSample/StaticFileSample.csproj
  src/Middleware/StaticFiles/src/StaticFileContext.cs
  src/Middleware/StaticFiles/src/StaticFileOptions.cs
  src/Middleware/StaticFiles/test/UnitTests/StaticFileContextTest.cs
Labels: area-middleware

#8271 Update branding to 2.2.4
  build/dependencies.props
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/PatchConfig.props
  src/PackageArchive/Archive.CiServer.Patch.Compat/ArchiveBaseline.2.2.3.txt
  src/PackageArchive/Archive.CiServer.Patch/ArchiveBaseline.2.2.3.txt
  version.props
Labels: area-infrastructure

#8291 Bump up the AzDO default job timeout to 3 hours
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#8295 Skip flaky transport test
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/HubConnectionTest.java
Labels: area-signalr

#8199 Make StartAsync not throw if we haven't started the response
  src/Servers/Kestrel/Core/ref/Microsoft.AspNetCore.Server.Kestrel.Core.netcoreapp3.0.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http/IHttpOutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ChunkedResponseTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseTests.cs
Labels: area-servers

#8303 Allow sync IO for NewtonsoftJsonOutputFormatter
  src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonOutputFormatter.cs
  src/Mvc/Mvc.NewtonsoftJson/test/NewtonsoftJsonOutputFormatterTest.cs
  src/Mvc/test/Mvc.FunctionalTests/JsonOutputFormatterTests.cs
  src/Mvc/test/WebSites/FormatterWebSite/Controllers/JsonFormatterController.cs
Labels: area-mvc

#8174 Backport SSR fix
  src/SignalR/clients/ts/signalr/src/DefaultHttpClient.ts
  src/SignalR/clients/ts/signalr/src/EmptyNodeHttpClient.ts
  src/SignalR/clients/ts/signalr/src/NodeHttpClient.ts
  src/SignalR/clients/ts/webpack.config.base.js
Labels: area-signalr, servicing-approved

#7931 Update template icons
  src/Components/Blazor/Templates/src/content/BlazorHosted-CSharp/.template.config.src/icon.png
  src/Components/Blazor/Templates/src/content/BlazorLibrary-CSharp/.template.config.src/icon.png
  src/Components/Blazor/Templates/src/content/BlazorStandalone-CSharp/.template.config.src/icon.png
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/vs-2017.3.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/vs-2017.3/Empty.png
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/vs-2017.3/gRPC.png
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/.template.config/vs-2017.3.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/.template.config/vs-2017.3/RazorComponents.png
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/.template.config/vs-2017.3/WebApplication.png
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/vs-2017.3.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/vs-2017.3/Empty.png
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/vs-2017.3/Worker.png
Labels: area-grpc

#8258 [Helix] Reenable dotnet-watch on helix
  src/Tools/dotnet-watch/test/DotNetWatcherTests.cs
  src/Tools/dotnet-watch/test/GlobbingAppTests.cs
  src/Tools/dotnet-watch/test/NoDepsAppTests.cs
  src/Tools/dotnet-watch/test/dotnet-watch.Tests.csproj
Labels: area-commandlinetools

#8220 EF UserStore FindByEmail will throw on dupes
  src/Identity/EntityFrameworkCore/src/UserOnlyStore.cs
  src/Identity/EntityFrameworkCore/src/UserStore.cs
  src/Identity/EntityFrameworkCore/test/EF.Test/UserOnlyTest.cs
  src/Identity/EntityFrameworkCore/test/EF.Test/UserStoreTest.cs
  src/Identity/Extensions.Core/src/UserManager.cs
Labels: area-identity

#8337 fixing possible NRE, when viewContext is null
  src/Mvc/Mvc.Razor/src/RazorPageBase.cs
Labels: area-mvc

#8355 Improvements to Worker.cs project template item
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/Worker.cs
Labels: area-hosting

#8330 Skip IIS Express on Windows 7
  src/Hosting/Server.IntegrationTesting/src/TestMatrix.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/OutOfProcess/AspNetCorePortTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/OutOfProcess/HelloWorldTest.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/OutOfProcess/NtlmAuthentationTest.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/RequiresIISAttribute.cs
Labels: area-servers

#7980 SignalR additional xml docs
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/common/Http.Connections/src/HttpConnectionContextExtensions.cs
  src/SignalR/common/SignalR.Common/src/HubException.cs
  src/SignalR/server/Core/src/HubConnectionContext.cs
Labels: area-signalr

#8351 Add tests for identity UI
  src/Framework/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/ProjectTemplates/Web.ProjectTemplates/StarterWeb-FSharp.fsproj.in
  src/ProjectTemplates/scripts/Run-Razor-Locally.ps1
  src/ProjectTemplates/test/MvcTemplateTest.cs
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
Labels: area-identity

#8340 Make pubinternal types in Antiforgery internal
  src/Antiforgery/build.cmd
  src/Antiforgery/build.sh
  src/Antiforgery/ref/Microsoft.AspNetCore.Antiforgery.netcoreapp3.0.cs
  src/Antiforgery/src/AntiforgeryServiceCollectionExtensions.cs
  src/Antiforgery/src/Internal/AntiforgeryFeature.cs
  src/Antiforgery/src/Internal/AntiforgeryLoggerExtensions.cs
  src/Antiforgery/src/Internal/AntiforgeryOptionsSetup.cs
  src/Antiforgery/src/Internal/AntiforgerySerializationContext.cs
  src/Antiforgery/src/Internal/AntiforgerySerializationContextPooledObjectPolicy.cs
  src/Antiforgery/src/Internal/AntiforgeryToken.cs
  src/Antiforgery/src/Internal/BinaryBlob.cs
  src/Antiforgery/src/Internal/CryptographyAlgorithms.cs
  src/Antiforgery/src/Internal/DefaultAntiforgery.cs
  src/Antiforgery/src/Internal/DefaultAntiforgeryAdditionalDataProvider.cs
  src/Antiforgery/src/Internal/DefaultAntiforgeryTokenGenerator.cs
  src/Antiforgery/src/Internal/DefaultAntiforgeryTokenSerializer.cs
  src/Antiforgery/src/Internal/DefaultAntiforgeryTokenStore.cs
  src/Antiforgery/src/Internal/DefaultClaimUidExtractor.cs
  src/Antiforgery/src/Internal/IAntiforgeryFeature.cs
  src/Antiforgery/src/Internal/IAntiforgeryTokenGenerator.cs
  src/Antiforgery/src/Internal/IAntiforgeryTokenSerializer.cs
  src/Antiforgery/src/Internal/IAntiforgeryTokenStore.cs
  src/Antiforgery/src/Internal/IClaimUidExtractor.cs
  src/Antiforgery/src/Microsoft.AspNetCore.Antiforgery.csproj
  src/Antiforgery/startvs.cmd
  src/Antiforgery/test/AntiforgeryOptionsSetupTest.cs
  src/Antiforgery/test/AntiforgeryTokenTest.cs
  src/Antiforgery/test/BinaryBlobTest.cs
  src/Antiforgery/test/DefaultAntiforgeryTest.cs
  src/Antiforgery/test/DefaultAntiforgeryTokenGeneratorTest.cs
  src/Antiforgery/test/DefaultAntiforgeryTokenSerializerTest.cs
  src/Antiforgery/test/DefaultAntiforgeryTokenStoreTest.cs
  src/Antiforgery/test/DefaultClaimUidExtractorTest.cs
Labels: area-mvc

#8286 even more skipping!
  src/Servers/Kestrel/test/FunctionalTests/MaxRequestBufferSizeTests.cs
  src/Servers/Kestrel/test/FunctionalTests/ResponseTests.cs
Labels: area-mvc, area-servers

#8315 Returning rejected promises in HttpConnection
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
  src/SignalR/clients/ts/signalr/tests/HttpConnection.test.ts
Labels: area-signalr

#8392 ReadOnlySpan goodness
  src/Servers/Kestrel/Core/src/Internal/Http/HttpResponseHeaders.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
Labels: area-servers

#8114 Fix race in LongPolling causing flaky tests
  src/SignalR/common/Http.Connections/ref/Microsoft.AspNetCore.Http.Connections.netcoreapp3.0.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionContext.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
Labels: area-signalr

#8146 Add friendly error message for when healthchecks services not registered
  src/Middleware/HealthChecks/src/Builder/HealthCheckApplicationBuilderExtensions.cs
  src/Middleware/HealthChecks/src/Builder/HealthCheckEndpointRouteBuilderExtensions.cs
  src/Middleware/HealthChecks/src/Microsoft.AspNetCore.Diagnostics.HealthChecks.csproj
  src/Middleware/HealthChecks/src/Properties/Resources.Designer.cs
  src/Middleware/HealthChecks/src/Resources.resx
  src/Middleware/HealthChecks/test/UnitTests/HealthCheckEndpointRouteBuilderExtensionsTest.cs
  src/Middleware/HealthChecks/test/UnitTests/HealthCheckMiddlewareTests.cs
Labels: area-healthchecks

#8425 Add HubMetdata
  src/SignalR/server/Core/ref/Microsoft.AspNetCore.SignalR.Core.netcoreapp3.0.cs
  src/SignalR/server/Core/src/HubMetadata.cs
  src/SignalR/server/SignalR/src/HubEndpointRouteBuilderExtensions.cs
  src/SignalR/server/SignalR/test/MapSignalRTests.cs
Labels: area-signalr

#8424 Fix SignalR transport test
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/HubConnectionTest.java
Labels: area-signalr

#8423 [BRT] Mitigating flaky SignalR tests
  eng/targets/Cpp.Common.targets
  src/SignalR/clients/cpp/test/signalrclienttests/Build/VS/signalrclienttests.vcxproj
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubConnectionTests.cs
Labels: area-signalr

#8434 Remove myself from CODEOWNERS for SignalR
  .github/CODEOWNERS
Labels: area-signalr

#8461 Disable flaky music store test
  src/MusicStore/test/MusicStore.E2ETests/PublishAndRunTests.cs
Labels: area-mvc

#8460 Disable framework exception on back compat tests
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/Inprocess/StdOutRedirectionTests.cs
Labels: area-servers

#8200 Send window updates based on examined rather than consumed.
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2MessageBody.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-servers

#8457 C++11 compliant
  src/SignalR/clients/cpp/src/signalrclient/connection_impl.cpp
  src/SignalR/clients/cpp/src/signalrclient/default_websocket_client.h
  src/SignalR/clients/cpp/src/signalrclient/hub_connection_impl.cpp
Labels: area-signalr

#8357 Try removing ref to identity in EF stores
  src/Identity/EntityFrameworkCore/ref/Microsoft.AspNetCore.Identity.EntityFrameworkCore.csproj
  src/Identity/EntityFrameworkCore/src/Microsoft.AspNetCore.Identity.EntityFrameworkCore.csproj
  src/MusicStore/samples/MusicStore/MusicStore.csproj
Labels: area-identity

#8459 Refresh process in back compat test
  src/Servers/IIS/IIS/test/IIS.BackwardsCompatibility.FunctionalTests/BackwardsCompatibilityTests.cs
Labels: area-servers

#8478 Add MemoryCache services where needed
  src/MusicStore/test/MusicStore.Test/CartSummaryComponentTest.cs
  src/MusicStore/test/MusicStore.Test/CheckoutControllerTest.cs
  src/MusicStore/test/MusicStore.Test/GenreMenuComponentTest.cs
  src/MusicStore/test/MusicStore.Test/HomeControllerTest.cs
  src/MusicStore/test/MusicStore.Test/ManageControllerTest.cs
  src/MusicStore/test/MusicStore.Test/Models/ShoppingCartTest.cs
  src/MusicStore/test/MusicStore.Test/ShoppingCartControllerTest.cs
  src/MusicStore/test/MusicStore.Test/StoreControllerTest.cs
Labels: area-mvc

#8464 Ignore helix mission control test failures (test failures won't fail build)
  eng/helix/helix.proj
Labels: area-infrastructure

#8477 Change APIs to internal in Diagnostics
  src/Middleware/Diagnostics.EntityFrameworkCore/ref/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.netcoreapp3.0.cs
  src/Middleware/Diagnostics/ref/Microsoft.AspNetCore.Diagnostics.netcoreapp3.0.cs
  src/Middleware/Diagnostics/src/WelcomePage/Views/Obsolete/WelcomePage.cs
  src/Shared/Diagnostics/AttributeValue.cs
  src/Shared/Diagnostics/BaseView.cs
  src/Shared/Diagnostics/HelperResult.cs
Labels: area-mvc

#8419 Fix AppOfflineDroppedWhileSiteStarting_SiteShutsDown_InProcess
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/applicationinfo.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/application.h
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocessapplication.cpp
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocessapplication.h
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/outprocessapplication.cpp
  src/Servers/IIS/IIS/test/Common.FunctionalTests/AppOfflineTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Utilities/EventLogHelpers.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Utilities/IISCapability.cs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/RequiresIISAttribute.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Program.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISDeployer.cs
Labels: area-servers

#8483 Stop waiting for helix work item completion
  eng/helix/helix.proj
Labels: area-infrastructure

#8225 Better handle HttpConnectionContext state transitions
  src/SignalR/common/Http.Connections/ref/Microsoft.AspNetCore.Http.Connections.netcoreapp3.0.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionContext.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.Log.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionManager.cs
  src/SignalR/common/Http.Connections/src/Internal/Transports/LongPollingTransport.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
Labels: area-signalr

#8491 Log all event log entries when assert fails
  src/Servers/IIS/IIS/test/Common.FunctionalTests/AppOfflineTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/EventLogTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/LogPipeTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/StartupExceptionTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/StartupTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/LogFileTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/MultiApplicationTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Utilities/EventLogHelpers.cs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/Inprocess/StdOutRedirectionTests.cs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/ServicesTests.cs
Labels: area-servers

#8334 Resolve deadlock with `InvokeAsync` in `On` handler
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubConnectionTests.cs
Labels: area-signalr

#8525 Make ResetSendPing and ResetTimeout private methods on HubConnection
  src/SignalR/clients/csharp/Client.Core/ref/Microsoft.AspNetCore.SignalR.Client.Core.netstandard2.0.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
Labels: area-signalr

#8145 Add friendly error message to UrlHelper for when there is no IRouter
  src/Mvc/Mvc.Core/src/Routing/UrlHelper.cs
  src/Mvc/Mvc.Core/test/Routing/UrlHelperTestBase.cs
Labels: area-mvc

#8512 Update PatchConfig.props
  eng/PatchConfig.props
Labels: area-infrastructure

#8490 Add dependency from AspNetCore targeting pack to dotnet Core targeting pack
  src/Installers/Debian/TargetingPack/debian_config.json.in
  src/Installers/Rpm/TargetingPack/Rpm.TargetingPack.rpmproj
Labels: area-platform

#8412 Split ILookupNormalizer into Name/Email normalizers
  src/Identity/Extensions.Core/ref/Microsoft.Extensions.Identity.Core.netcoreapp3.0.cs
  src/Identity/Extensions.Core/src/ILookupNormalizer.cs
  src/Identity/Extensions.Core/src/RoleManager.cs
  src/Identity/Extensions.Core/src/UpperInvariantLookupNormalizer.cs
  src/Identity/Extensions.Core/src/UserManager.cs
  src/Identity/test/Identity.Test/RoleManagerTest.cs
  src/Identity/test/Identity.Test/UserManagerTest.cs
Labels: area-identity

#8411 Change name of argument in "WebHostExtensions"
  src/Hosting/Hosting/src/WebHostExtensions.cs
Labels: area-hosting

#8529 Atomic swap the request drained handler when shutting down.
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocessapplication.cpp
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocessapplication.h
  src/Servers/IIS/IIS/test/Common.FunctionalTests/AppOfflineTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/BasicAuthTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/ClientCertificateTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/CommonStartupTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/ConfigurationChangeTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/HttpsTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/EnvironmentVariableTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/ErrorPagesTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/EventLogTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/FrebTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/LogPipeTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/ShutdownTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/StartupExceptionTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/StartupTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/LogFileTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/MultiApplicationTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/OutOfProcess/AspNetCorePortTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/OutOfProcess/GlobalVersionTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/OutOfProcess/HelloWorldTest.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Utilities/IISFunctionalTestBase.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Utilities/LogFileTestBase.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/WindowsAuthTests.cs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/Inprocess/StdOutRedirectionTests.cs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/ServicesTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/InProcess/AppOfflineIISExpressTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/InProcess/AuthenticationTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/InProcess/IISExpressShutdownTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/OutOfProcess/MultipleAppTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/OutOfProcess/NtlmAuthentationTest.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/UpgradeFeatureDetectionTests.cs
Labels: area-servers

#8592 Fix React template typos
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/App.js
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/components/FetchData.js
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/components/api-authorization/ApiAuthorizationConstants.js
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/components/api-authorization/ApiAuthorizationRoutes.js
Labels: area-mvc

#8607 Add skeleton to use components + prerendering
  src/Mvc/samples/MvcSandbox/Components/App.razor
  src/Mvc/samples/MvcSandbox/Components/NotFound.razor
  src/Mvc/samples/MvcSandbox/Components/Pages/Index.razor
  src/Mvc/samples/MvcSandbox/Components/Pages/_ViewImports.cshtml
  src/Mvc/samples/MvcSandbox/Components/Shared/MainLayout.razor
  src/Mvc/samples/MvcSandbox/Components/Shared/NavMenu.razor
  src/Mvc/samples/MvcSandbox/Components/_ViewImports.cshtml
  src/Mvc/samples/MvcSandbox/MvcSandbox.csproj
  src/Mvc/samples/MvcSandbox/Pages/Components.cshtml
  src/Mvc/samples/MvcSandbox/Pages/Components.cshtml.cs
  src/Mvc/samples/MvcSandbox/Startup.cs
  src/Mvc/samples/MvcSandbox/wwwroot/css/site.css
Labels: area-mvc

#8486 Add a separate test pass to run flaky tests that doesn't fail the build
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
  eng/FlakyTests.AfterArcade.props
  eng/FlakyTests.BeforeArcade.props
  eng/helix/vstest/runtests.cmd
  eng/helix/vstest/runtests.sh
  korebuild-lock.txt
Labels: area-infrastructure

#8578 Publish MusicStore as part of build
  src/Hosting/Server.IntegrationTesting/src/PublishedApplicationPublisher.cs
  src/MusicStore/MusicStore.sln
  src/MusicStore/samples/MusicStore/MusicStore.csproj
  src/MusicStore/test/MusicStore.E2ETests/MusicStore.E2ETests.csproj
  src/MusicStore/test/MusicStore.E2ETests/PublishAndRunTests.cs
  src/MusicStore/test/MusicStore.E2ETests/PublishAssetAttribute.cs
  src/MusicStore/test/MusicStore.Test/CartSummaryComponentTest.cs
  src/MusicStore/test/MusicStore.Test/CheckoutControllerTest.cs
  src/MusicStore/test/MusicStore.Test/GenreMenuComponentTest.cs
  src/MusicStore/test/MusicStore.Test/HomeControllerTest.cs
  src/MusicStore/test/MusicStore.Test/ManageControllerTest.cs
  src/MusicStore/test/MusicStore.Test/Models/ShoppingCartTest.cs
  src/MusicStore/test/MusicStore.Test/MusicStore.Test.csproj
  src/MusicStore/test/MusicStore.Test/ShoppingCartControllerTest.cs
  src/MusicStore/test/MusicStore.Test/StoreControllerTest.cs
  src/MusicStore/test/MusicStore.Test/TestAppSettings.cs
  src/MusicStore/test/MusicStore.Test/TestSession.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/PublishedApplicationPublisher.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/PublishedSitesFixture.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Utilities/IISTestSiteFixture.cs
Labels: area-mvc

#8223 Use examined rather than consumed for content length of body.
  src/Servers/Kestrel/Core/src/Internal/Http/Http1ContentLengthMessageBody.cs
  src/Servers/Kestrel/Core/test/MessageBodyTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTests.cs
Labels: area-servers

#8569 Update acessTokenProvider selecting logic for restarting connection
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/NegotiateResponse.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/HubConnectionTest.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/NegotiateResponseTest.java
Labels: area-signalr

#8655 Revert "Publish MusicStore as part of build (#8578)"
  src/Hosting/Server.IntegrationTesting/src/PublishedApplicationPublisher.cs
  src/MusicStore/MusicStore.sln
  src/MusicStore/samples/MusicStore/MusicStore.csproj
  src/MusicStore/test/MusicStore.E2ETests/MusicStore.E2ETests.csproj
  src/MusicStore/test/MusicStore.E2ETests/PublishAndRunTests.cs
  src/MusicStore/test/MusicStore.E2ETests/PublishAssetAttribute.cs
  src/MusicStore/test/MusicStore.Test/CartSummaryComponentTest.cs
  src/MusicStore/test/MusicStore.Test/CheckoutControllerTest.cs
  src/MusicStore/test/MusicStore.Test/GenreMenuComponentTest.cs
  src/MusicStore/test/MusicStore.Test/HomeControllerTest.cs
  src/MusicStore/test/MusicStore.Test/ManageControllerTest.cs
  src/MusicStore/test/MusicStore.Test/Models/ShoppingCartTest.cs
  src/MusicStore/test/MusicStore.Test/MusicStore.Test.csproj
  src/MusicStore/test/MusicStore.Test/ShoppingCartControllerTest.cs
  src/MusicStore/test/MusicStore.Test/StoreControllerTest.cs
  src/MusicStore/test/MusicStore.Test/TestAppSettings.cs
  src/MusicStore/test/MusicStore.Test/TestSession.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/PublishedApplicationPublisher.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/PublishedSitesFixture.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Utilities/IISTestSiteFixture.cs
Labels: area-mvc

#8657 Update log levels in templates
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/appsettings.json
Labels: area-mvc

#8294 Handle SIGTERM exit code
  src/Hosting/Hosting/src/Internal/WebHostLifetime.cs
  src/Hosting/Hosting/src/WebHostExtensions.cs
  src/Hosting/test/FunctionalTests/ShutdownTests.cs
Labels: area-hosting

#8659 Remove Out-Of-Process test site fixture and make deployer check physical
  src/Servers/IIS/IIS/test/Common.FunctionalTests/CompressionTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/ServerAbortTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Utilities/IISTestSiteCollection.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Utilities/IISTestSiteFixture.cs
  src/Servers/IIS/IIS/test/IIS.BackwardsCompatibility.FunctionalTests/BackwardsCompatibilityTests.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISDeployer.cs
Labels: area-servers

#8641 Fix core-setup URI
  eng/Version.Details.xml
Labels: area-infrastructure

#8234 [Components][Fixes #8058] Update blazor template to use IWebHostEnvironment
  src/Components/Blazor/Templates/src/content/BlazorHosted-CSharp/BlazorHosted-CSharp.Server/Startup.cs
Labels: area-mvc

#8666 Update some tests to be flaky rather than skipped
  src/Servers/IIS/IIS/test/Common.FunctionalTests/AppOfflineTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/ConfigurationChangeTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/StartupTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/ClientDisconnectTests.cs
Labels: area-servers

#8662 Fix #7477 by updating HttpSys readme
  src/Servers/HttpSys/README.md
Labels: area-servers

#8450 Fix for #7729 to ensure upgradable bundles
  src/Installers/Windows/SharedFrameworkBundle/Bundle.wxs
  src/Installers/Windows/WindowsHostingBundle/Bundle.wxs
  src/Installers/Windows/Wix.props
  src/Installers/Windows/Wix.targets
Labels: area-installers

#8358 Pass the formatter context to the CreateJsonSerializer. It gives ability to override and create serializer specific to the context
  src/Mvc/Mvc.NewtonsoftJson/ref/Microsoft.AspNetCore.Mvc.NewtonsoftJson.netcoreapp3.0.cs
  src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonInputFormatter.cs
  src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonOutputFormatter.cs
  src/Mvc/Mvc.NewtonsoftJson/test/NewtonsoftJsonInputFormatterTest.cs
Labels: area-mvc

#8616 Throw unhandled exceptions during prerendering
  src/Components/Components/ref/Microsoft.AspNetCore.Components.netstandard2.0.cs
  src/Components/Components/src/EventCallbackFactoryBinderExtensions.cs
  src/Components/Components/test/EventCallbackFactoryBinderExtensionsTest.cs
  src/Components/Server/src/Circuits/CircuitPrerenderer.cs
  src/Components/Server/src/Circuits/RemoteRenderer.cs
  src/Components/test/E2ETest/Tests/BindTest.cs
  src/Components/test/testassets/BasicTestApp/BindCasesComponent.cshtml
  src/Mvc/test/Mvc.FunctionalTests/ComponentRenderingFunctionalTests.cs
  src/Mvc/test/WebSites/BasicWebSite/Controllers/RazorComponentsController.cs
  src/Mvc/test/WebSites/BasicWebSite/RazorComponents/Throws.razor
Labels: area-mvc

#8557 Removed Content Type header for 304 response since no content is being returned
  src/Mvc/Mvc.Core/src/Infrastructure/FileResultExecutorBase.cs
  src/Mvc/Mvc.Core/test/FileContentResultTest.cs
  src/Mvc/Mvc.Core/test/FileStreamResultTest.cs
  src/Mvc/Mvc.Core/test/PhysicalFileResultTest.cs
  src/Mvc/Mvc.Core/test/VirtualFileResultTest.cs
Labels: area-mvc

#8574 Remove unused namespaces from Worker template Program.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/Program.cs
Labels: area-hosting

#8690 [Fixes #1947][Fixes #1978] Fix and identify flaky components E2E Tests
  src/Components/test/E2ETest/ServerExecutionTests/ServerSideAppTest.cs
  src/Components/test/E2ETest/Tests/EventTest.cs
  src/Components/test/testassets/ComponentsApp.App/Pages/FetchData.cshtml
  src/Components/test/testassets/ComponentsApp.App/Pages/Index.cshtml
Labels: area-mvc

#8362 System.Text.Json based formatters
  src/Mvc/Mvc.Core/ref/Microsoft.AspNetCore.Mvc.Core.netcoreapp3.0.cs
  src/Mvc/Mvc.Core/src/Formatters/MediaTypeHeaderValues.cs
  src/Mvc/Mvc.Core/src/Formatters/SystemTextJsonInputFormatter.cs
  src/Mvc/Mvc.Core/src/Formatters/SystemTextJsonOutputFormatter.cs
  src/Mvc/Mvc.Core/src/Formatters/TranscodingReadStream.cs
  src/Mvc/Mvc.Core/src/Formatters/TranscodingWriteStream.cs
  src/Mvc/Mvc.Core/src/Infrastructure/MvcCoreMvcOptionsSetup.cs
  src/Mvc/Mvc.Core/src/MvcOptions.cs
  src/Mvc/Mvc.Core/test/Formatters/JsonInputFormatterTestBase.cs
  src/Mvc/Mvc.Core/test/Formatters/JsonOutputFormatterTestBase.cs
  src/Mvc/Mvc.Core/test/Formatters/SystemTextJsonInputFormatterTest.cs
  src/Mvc/Mvc.Core/test/Formatters/SystemTextJsonOutputFormatterTest.cs
  src/Mvc/Mvc.Core/test/Formatters/TranscodingReadStreamTest.cs
  src/Mvc/Mvc.Core/test/Formatters/TranscodingWriteStreamTest.cs
  src/Mvc/Mvc.Core/test/Infrastructure/ControllerActionInvokerTest.cs
  src/Mvc/Mvc.NewtonsoftJson/src/DependencyInjection/NewtonsoftJsonMvcOptionsSetup.cs
  src/Mvc/Mvc.NewtonsoftJson/src/MvcNewtonsoftJsonOptions.cs
  src/Mvc/Mvc.NewtonsoftJson/test/Microsoft.AspNetCore.Mvc.NewtonsoftJson.Test.csproj
  src/Mvc/Mvc.NewtonsoftJson/test/NewtonsoftJsonInputFormatterTest.cs
  src/Mvc/Mvc.NewtonsoftJson/test/NewtonsoftJsonOutputFormatterTest.cs
  src/Mvc/Mvc/test/MvcOptionsSetupTest.cs
  src/Mvc/test/Mvc.FunctionalTests/InputFormatterTests.cs
  src/Mvc/test/Mvc.FunctionalTests/JsonInputFormatterTestBase.cs
  src/Mvc/test/Mvc.FunctionalTests/JsonOutputFormatterTestBase.cs
  src/Mvc/test/Mvc.FunctionalTests/JsonOutputFormatterTests.cs
  src/Mvc/test/Mvc.FunctionalTests/NewtonsoftJsonInputFormatterTest.cs
  src/Mvc/test/Mvc.FunctionalTests/NewtonsoftJsonOutputFormatterTest.cs
  src/Mvc/test/Mvc.FunctionalTests/SystemTextJsonInputFormatterTest.cs
  src/Mvc/test/Mvc.FunctionalTests/SystemTextJsonOutputFormatterTest.cs
  src/Mvc/test/WebSites/FormatterWebSite/Controllers/JsonInputFormatterController.cs
  src/Mvc/test/WebSites/FormatterWebSite/Controllers/JsonOutputFormatterController.cs
  src/Mvc/test/WebSites/FormatterWebSite/FormatterWebSite.csproj
  src/Mvc/test/WebSites/FormatterWebSite/StartupWithJsonInputFormatter.cs
Labels: area-mvc

#8196 Improve Templating local dev experience
  eng/scripts/InstallJdk.ps1
  eng/targets/ResolveReferences.targets
  src/ProjectTemplates/README.md
  src/ProjectTemplates/scripts/Directory.Build.props
  src/ProjectTemplates/scripts/Directory.Build.targets
  src/ProjectTemplates/scripts/Run-Angular-Locally.ps1
  src/ProjectTemplates/scripts/Run-EmptyWeb-Locally.ps1
  src/ProjectTemplates/scripts/Run-React-Locally.ps1
  src/ProjectTemplates/scripts/Run-ReactRedux-Locally.ps1
  src/ProjectTemplates/scripts/Run-Starterweb-Locally.ps1
  src/ProjectTemplates/scripts/Test-Template.ps1
  src/ProjectTemplates/test/Helpers/AspNetProcess.cs
  src/ProjectTemplates/test/SpaTemplateTest/ReactReduxTemplateTest.cs
Labels: area-mvc

#8643 Small HubConnection cleanup
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
Labels: area-signalr

#8562 Close meta tag in Blazor hosted template
  src/Components/Blazor/Templates/src/content/BlazorHosted-CSharp/BlazorHosted-CSharp.Client/wwwroot/index.html
Labels: area-mvc

#8638 React to breaking changes with M.A.Internal
  src/Servers/Kestrel/Core/ref/Microsoft.AspNetCore.Server.Kestrel.Core.netcoreapp3.0.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpMethod.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpParser.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpScheme.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpVersion.cs
  src/Servers/Kestrel/Core/src/Internal/Http/IHttpHeadersHandler.cs
  src/Servers/Kestrel/Core/src/Internal/Http/IHttpParser.cs
  src/Servers/Kestrel/Core/src/Internal/Http/IHttpRequestLineHandler.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/HttpUtilities.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/HttpUtilities.cs
  src/Servers/Kestrel/Core/src/Properties/AssemblyInfo.cs
  src/Servers/Kestrel/tools/CodeGenerator/HttpUtilities/HttpUtilities.cs
Labels: area-servers

#8733 Fix license
  LICENSE.txt
Labels: area-infrastructure

#8749 Mark Flaky Tests
  src/Hosting/Hosting/test/Internal/HostingEventSourceTests.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
Labels: area-hosting, area-signalr

#8725 React to sem version 2.0
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/fx_ver.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/fx_ver.h
  src/Servers/IIS/AspNetCoreModuleV2/CommonLibTests/GlobalVersionTests.cpp
Labels: area-servers, servers-iis

#8691 Enable AuthSamples.FunctionalTests on helix
  src/Security/test/AuthSamples.FunctionalTests/AuthSamples.FunctionalTests.csproj
Labels: area-security

#8665 Hook auth options validation into validation feature
  src/Security/Authentication/Core/src/AuthenticationBuilder.cs
  src/Security/Authentication/Core/src/AuthenticationHandler.cs
Labels: area-security

#6904 Update Identity README.md to add Marten.AspNetIdentity
  src/Identity/README.md
Labels: area-identity

#8727 Mark tests flaky instead of skipped
  src/Components/test/E2ETest/Tests/EventTest.cs
  src/Hosting/test/FunctionalTests/ShutdownTests.cs
  src/Identity/EntityFrameworkCore/test/EF.Test/UserStoreEncryptPersonalDataTest.cs
  src/Middleware/WebSockets/test/UnitTests/WebSocketMiddlewareTests.cs
  src/Mvc/Mvc.Core/test/ApplicationModels/DefaultApplicationModelProviderTest.cs
  src/Mvc/Mvc.Core/test/Formatters/SystemTextJsonInputFormatterTest.cs
  src/Mvc/test/Mvc.FunctionalTests/SystemTextJsonInputFormatterTest.cs
  src/Mvc/test/Mvc.FunctionalTests/TempDataInCookiesUsingCookieConsentTest.cs
  src/Mvc/test/Mvc.FunctionalTests/ViewEngineTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/AppOfflineTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/ConfigurationChangeTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/StartupTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/OutOfProcess/HelloWorldTest.cs
  src/Servers/IIS/IIS/test/IIS.Tests/ClientDisconnectTests.cs
  src/Servers/Kestrel/test/FunctionalTests/MaxRequestBufferSizeTests.cs
  src/Servers/Kestrel/test/FunctionalTests/ResponseTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TimeoutTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionAdapterTests.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
  src/SignalR/server/SignalR/test/EndToEndTests.cs
  src/Tools/dotnet-watch/test/DotNetWatcherTests.cs
Labels: area-hosting, area-mvc, area-servers, area-signalr

#8564 [Helix] Enable Identity.FunctionalTests
  src/Identity/test/Identity.FunctionalTests/Microsoft.AspNetCore.Identity.FunctionalTests.csproj
  src/Identity/testassets/Identity.DefaultUI.WebSite/FileVersionProvider.cs
  src/Identity/testassets/Identity.DefaultUI.WebSite/Pages/_Layout.cshtml
  src/Identity/testassets/Identity.DefaultUI.WebSite/StartupBase.cs
Labels: area-identity

#8799 Enable single pages directory
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/App.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Pages/Counter.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Pages/FetchData.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Pages/Host.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Pages/Index.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Pages/_Imports.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Pages/_ViewImports.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Shared/MainLayout.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Shared/NavMenu.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Startup.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/_Imports.razor
Labels: area-mvc

#8694 Move to BYOC queues
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
  .azure/pipelines/tools/SetupTestEnvironment.ps1
  eng/scripts/InstallSqlServerLocalDB.ps1
  eng/scripts/InstallVisualStudio.ps1
  eng/scripts/vs.buildtools.json
Labels: area-infrastructure

#8828 Update Grpc.AspNetCore.Server version
  eng/Versions.props
Labels: area-grpc

#8830 Make building Components & Mvc solutions work out of the box
  src/Components/Browser.JS/Microsoft.AspNetCore.Components.Browser.JS.npmproj
  src/Components/Server/src/Microsoft.AspNetCore.Components.Server.csproj
  src/Mvc/Mvc.sln
Labels: area-mvc

#8840 Update Gradle to version 5.3 - Now with retries
  src/SignalR/clients/java/signalr/gradle/wrapper/gradle-wrapper.jar
  src/SignalR/clients/java/signalr/gradle/wrapper/gradle-wrapper.properties
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/InvocationMessage.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/NegotiateResponse.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/HubConnectionTest.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/NegotiateResponseTest.java
Labels: area-signalr

#8795 Make some skipped tests flaky
  src/Hosting/test/FunctionalTests/ShutdownTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ConnectionLimitTests.cs
Labels: area-hosting, area-servers

#8685 MapController in RazorPages
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Startup.cs
Labels: area-mvc

#8811 Fix #8520 - Component parameters not found
  eng/GenAPI.exclusions.txt
  src/Components/Components/ref/Microsoft.AspNetCore.Components.netstandard2.0.Manual.cs
  src/Components/Components/ref/Microsoft.AspNetCore.Components.netstandard2.0.cs
  src/Components/Components/src/CascadingValue.cs
  src/Components/Components/src/Forms/EditForm.cs
  src/Components/Components/src/Forms/InputComponents/InputBase.cs
  src/Components/Components/src/Forms/InputComponents/InputDate.cs
  src/Components/Components/src/Forms/InputComponents/InputNumber.cs
  src/Components/Components/src/Forms/InputComponents/InputSelect.cs
  src/Components/Components/src/Forms/ValidationMessage.cs
  src/Components/Components/src/Layouts/LayoutDisplay.cs
  src/Components/Components/src/Routing/NavLink.cs
  src/Components/Components/src/Routing/Router.cs
Labels: area-mvc

#8818 Fix rendering inheritance. Fixes #8192
  src/Components/Blazor/Build/test/ComponentRenderingRazorIntegrationTest.cs
  src/Components/Components/ref/Microsoft.AspNetCore.Components.netstandard2.0.cs
  src/Components/Components/src/ComponentBase.cs
  src/Components/Components/src/Forms/EditForm.cs
  src/Components/Components/src/Forms/InputComponents/InputCheckbox.cs
  src/Components/Components/src/Forms/InputComponents/InputDate.cs
  src/Components/Components/src/Forms/InputComponents/InputNumber.cs
  src/Components/Components/src/Forms/InputComponents/InputSelect.cs
  src/Components/Components/src/Forms/InputComponents/InputText.cs
  src/Components/Components/src/Forms/InputComponents/InputTextArea.cs
  src/Components/Components/src/Forms/ValidationMessage.cs
  src/Components/Components/src/Forms/ValidationSummary.cs
  src/Components/Components/test/ComponentBaseTest.cs
  src/Components/Components/test/RendererTest.cs
  src/Components/Components/test/Rendering/HtmlRendererTestBase.cs
Labels: area-mvc

#8668 Expose ConnectionId on .NET Client
  src/SignalR/clients/csharp/Client.Core/ref/Microsoft.AspNetCore.SignalR.Client.Core.netstandard2.0.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubConnectionTests.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/Hubs.cs
Labels: area-signalr

#8495 Support for receiving ID via TraceParent HTTP header.
  src/Hosting/Hosting/src/Internal/HostingApplicationDiagnostics.cs
  src/Hosting/Hosting/test/HostingApplicationTests.cs
Labels: area-hosting

#8863 Components: don't block the SignalR loop during init. Fixes #8274
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/Server/src/ComponentHub.cs
  src/Components/Server/test/Circuits/CircuitHostTest.cs
Labels: area-mvc

#8697 Add overload for Configure that gets WebHostBuilderContext
  src/Hosting/Hosting/ref/Microsoft.AspNetCore.Hosting.netcoreapp3.0.cs
  src/Hosting/Hosting/src/GenericHost/GenericWebHostBuilder.cs
  src/Hosting/Hosting/src/GenericHost/HostingStartupWebHostBuilder.cs
  src/Hosting/Hosting/src/GenericHost/ISupportsStartup.cs
  src/Hosting/Hosting/src/WebHostBuilderExtensions.cs
  src/Hosting/Hosting/test/Fakes/GenericWebHostBuilderWrapper.cs
Labels: area-hosting

#8582 Attempt to make MaxRequestBufferSizeTests.LargeUpload less flaky
  src/Servers/Kestrel/test/FunctionalTests/MaxRequestBufferSizeTests.cs
Labels: area-servers

#8748 Fix jasmine timeout
  src/SignalR/clients/ts/FunctionalTests/ts/Common.ts
  src/SignalR/clients/ts/FunctionalTests/ts/ConnectionTests.ts
  src/SignalR/clients/ts/FunctionalTests/ts/HubConnectionTests.ts
Labels: area-signalr

#8891 Add missing copyright in IntegrationTesting
  src/Servers/IIS/IntegrationTesting.IIS/src/LoggingHandler.cs
Labels: area-servers

#8893 Fix ContentLength_Received_ReadViaPipes
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
Labels: area-servers

#8875 Mark DATA_Sent_TooSlowly… test as flaky
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TimeoutTests.cs
Labels: area-servers

#8890 Mark Flaky http.sys tests
  src/Servers/HttpSys/test/FunctionalTests/Listener/RequestBodyTests.cs
  src/Servers/HttpSys/test/FunctionalTests/ResponseCachingTests.cs
Labels: area-servers

#8689 Java Client Expose ConnectionId on HubConnection
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/HubConnectionTest.java
Labels: area-signalr

#8910 Fix base URI during prerendering
  src/Components/Server/src/Circuits/CircuitPrerenderer.cs
  src/Components/Server/test/Circuits/CircuitPrerendererTest.cs
  src/Components/Server/test/Circuits/TestCircuitHost.cs
Labels: area-mvc, feature-Components

#8888 Supply "IsConnected" state info to components
  src/Components/Blazor/Blazor/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/Blazor/Blazor/src/Services/WebAssemblyComponentContext.cs
  src/Components/Blazor/Blazor/test/WebAssemblyComponentContextTest.cs
  src/Components/Components/ref/Microsoft.AspNetCore.Components.netstandard2.0.cs
  src/Components/Components/src/Services/IComponentContext.cs
  src/Components/Server/src/Circuits/DefaultCircuitFactory.cs
  src/Components/Server/src/Circuits/RemoteComponentContext.cs
  src/Components/Server/src/DependencyInjection/ComponentServiceCollectionExtensions.cs
  src/Components/Server/test/Circuits/RemoteComponentContextTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/PrerenderingTest.cs
  src/Components/test/testassets/BasicTestApp/PrerenderedToInteractiveTransition.razor
  src/Components/test/testassets/TestServer/Pages/PrerenderedHost.cshtml
  src/Components/test/testassets/TestServer/Startup.cs
  src/Components/test/testassets/TestServer/TestServer.csproj
Labels: area-mvc

#8921 Correct daily build information
  docs/DailyBuilds.md
Labels: area-infrastructure

#7921 HeaderPropagation: propagate incoming request headers to outgoing HTTP requests
  eng/ProjectReferences.props
  src/Middleware/HeaderPropagation/src/DependencyInjection/HeaderPropagationApplicationBuilderExtensions.cs
  src/Middleware/HeaderPropagation/src/DependencyInjection/HeaderPropagationHttpClientBuilderExtensions.cs
  src/Middleware/HeaderPropagation/src/DependencyInjection/HeaderPropagationServiceCollectionExtensions.cs
  src/Middleware/HeaderPropagation/src/HeaderPropagationEntry.cs
  src/Middleware/HeaderPropagation/src/HeaderPropagationMessageHandler.cs
  src/Middleware/HeaderPropagation/src/HeaderPropagationMiddleware.cs
  src/Middleware/HeaderPropagation/src/HeaderPropagationOptions.cs
  src/Middleware/HeaderPropagation/src/HeaderPropagationValues.cs
  src/Middleware/HeaderPropagation/src/Microsoft.AspNetCore.HeaderPropagation.csproj
  src/Middleware/HeaderPropagation/test/HeaderPropagationIntegrationTest.cs
  src/Middleware/HeaderPropagation/test/HeaderPropagationMessageHandlerTest.cs
  src/Middleware/HeaderPropagation/test/HeaderPropagationMiddlewareTest.cs
  src/Middleware/HeaderPropagation/test/Microsoft.AspNetCore.HeaderPropagation.Tests.csproj
  src/Middleware/Middleware.sln
Labels: area-servers

#8929 Remove dead Fedora.27 Helix queue
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#8837 Limit chunk size when writing chunked responses
  src/Http/Http.Abstractions/src/Extensions/HttpResponseWritingExtensions.cs
  src/Servers/Kestrel/Core/src/Internal/Http/ChunkWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1OutputProducer.cs
  src/Servers/Kestrel/Core/test/ChunkWriterTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ChunkedResponseTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseTests.cs
Labels: area-servers

#8313 Add AddControllers() and AddRazorPages()
  src/Mvc/Mvc.Core/src/Builder/ControllerEndpointRouteBuilderExtensions.cs
  src/Mvc/Mvc.Razor/src/DependencyInjection/MvcRazorMvcCoreBuilderExtensions.cs
  src/Mvc/Mvc.Razor/src/Properties/AssemblyInfo.cs
  src/Mvc/Mvc.RazorPages/src/Builder/RazorPagesEndpointRouteBuilderExtensions.cs
  src/Mvc/Mvc.RazorPages/src/DependencyInjection/MvcRazorPagesMvcCoreBuilderExtensions.cs
  src/Mvc/Mvc.RazorPages/src/Properties/AssemblyInfo.cs
  src/Mvc/Mvc.TagHelpers/src/DependencyInjection/TagHelperExtensions.cs
  src/Mvc/Mvc.TagHelpers/src/Properties/AssemblyInfo.cs
  src/Mvc/Mvc.ViewFeatures/src/DependencyInjection/MvcViewFeaturesMvcCoreBuilderExtensions.cs
  src/Mvc/Mvc.ViewFeatures/src/PartialViewResult.cs
  src/Mvc/Mvc.ViewFeatures/src/Properties/AssemblyInfo.cs
  src/Mvc/Mvc.ViewFeatures/src/ViewComponentResult.cs
  src/Mvc/Mvc.ViewFeatures/src/ViewResult.cs
  src/Mvc/Mvc.ViewFeatures/test/PartialViewResultTest.cs
  src/Mvc/Mvc.ViewFeatures/test/ViewComponentResultTest.cs
  src/Mvc/Mvc.ViewFeatures/test/ViewResultTest.cs
  src/Mvc/Mvc/ref/Microsoft.AspNetCore.Mvc.netcoreapp3.0.cs
  src/Mvc/Mvc/src/MvcServiceCollectionExtensions.cs
  src/Mvc/Mvc/test/MvcServiceCollectionExtensionsTest.cs
  src/Mvc/test/WebSites/ApiExplorerWebSite/Startup.cs
  src/Mvc/test/WebSites/ApplicationModelWebSite/Startup.cs
  src/Mvc/test/WebSites/ControllersFromServicesWebSite/Startup.cs
  src/Mvc/test/WebSites/CorsWebSite/Startup.cs
  src/Mvc/test/WebSites/ErrorPageMiddlewareWebSite/Startup.cs
  src/Mvc/test/WebSites/FilesWebSite/Startup.cs
  src/Mvc/test/WebSites/FormatterWebSite/Startup.cs
  src/Mvc/test/WebSites/FormatterWebSite/StartupWithRespectBrowserAcceptHeader.cs
  src/Mvc/test/WebSites/GenericHostWebSite/Startup.cs
  src/Mvc/test/WebSites/RazorPagesWebSite/Startup.cs
  src/Mvc/test/WebSites/SecurityWebSite/Startup.cs
  src/Mvc/test/WebSites/TagHelpersWebSite/Startup.cs
  src/Mvc/test/WebSites/VersioningWebSite/Startup.cs
  src/Mvc/test/WebSites/XmlFormattersWebSite/Startup.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/Startup.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Startup.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Startup.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/Startup.fs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Startup.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/Startup.fs
Labels: area-mvc

#8907 Added NegotiateMetadata to negotiate endpoints
  src/SignalR/common/Http.Connections/ref/Microsoft.AspNetCore.Http.Connections.netcoreapp3.0.cs
  src/SignalR/common/Http.Connections/src/ConnectionEndpointRouteBuilderExtensions.cs
  src/SignalR/common/Http.Connections/src/NegotiateMetadata.cs
  src/SignalR/common/Http.Connections/test/MapConnectionHandlerTests.cs
  src/SignalR/server/SignalR/test/MapSignalRTests.cs
Labels: area-signalr

#8747 Remove pplx::task from public API
  src/SignalR/clients/cpp/include/signalrclient/connection.h
  src/SignalR/clients/cpp/include/signalrclient/hub_connection.h
  src/SignalR/clients/cpp/samples/HubConnectionSample/HubConnectionSample.cpp
  src/SignalR/clients/cpp/src/signalrclient/connection.cpp
  src/SignalR/clients/cpp/src/signalrclient/connection_impl.cpp
  src/SignalR/clients/cpp/src/signalrclient/connection_impl.h
  src/SignalR/clients/cpp/src/signalrclient/hub_connection.cpp
  src/SignalR/clients/cpp/src/signalrclient/hub_connection_impl.cpp
  src/SignalR/clients/cpp/src/signalrclient/hub_connection_impl.h
  src/SignalR/clients/cpp/src/signalrclient/transport.h
  src/SignalR/clients/cpp/src/signalrclient/websocket_transport.cpp
  src/SignalR/clients/cpp/src/signalrclient/websocket_transport.h
  src/SignalR/clients/cpp/test/signalrclient-e2e-tests/Build/VS/signalrclient-e2e-tests.vcxproj
  src/SignalR/clients/cpp/test/signalrclient-e2e-tests/Build/VS/signalrclient-e2e-tests.vcxproj.filters
  src/SignalR/clients/cpp/test/signalrclient-e2e-tests/connection_tests.cpp
  src/SignalR/clients/cpp/test/signalrclient-e2e-tests/hub_connection_tests.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/connection_impl_tests.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/hub_connection_impl_tests.cpp
  src/SignalR/clients/cpp/test/signalrclienttests/test_utils.h
  src/SignalR/clients/cpp/test/signalrclienttests/websocket_transport_tests.cpp
Labels: area-signalr

#8930 Add missing ref-assembly for header propagation
  src/Middleware/HeaderPropagation/ref/Microsoft.AspNetCore.HeaderPropagation.csproj
  src/Middleware/HeaderPropagation/ref/Microsoft.AspNetCore.HeaderPropagation.netcoreapp3.0.cs
Labels: area-middleware
