Repository dotnet/aspnetcore, pull requests merged in 2019-09, with the labels that each got.

#13558 Health Checks - EF health check should respect configured failureStatus
  src/Middleware/HealthChecks.EntityFrameworkCore/src/DbContextHealthCheck.cs
  src/Middleware/HealthChecks.EntityFrameworkCore/test/DbContextHealthCheckTest.cs
Labels: area-healthchecks

#13569 Build analyzers in source build
  Directory.Build.targets
  eng/Dependencies.props
  eng/Versions.props
  src/Tools/dotnet-dev-certs/src/dotnet-dev-certs.csproj
  src/Tools/dotnet-user-secrets/src/dotnet-user-secrets.csproj
  src/Tools/dotnet-watch/src/dotnet-watch.csproj
Labels: area-infrastructure, tell-mode

#13551 Do not infer Required attributes based on context for non-nullable ge…
  src/Mvc/Mvc.DataAnnotations/src/DataAnnotationsMetadataProvider.cs
  src/Mvc/Mvc.DataAnnotations/test/DataAnnotationsMetadataProviderTest.cs
  src/Mvc/test/Mvc.IntegrationTests/CollectionModelBinderIntegrationTest.cs
  src/Mvc/test/Mvc.IntegrationTests/DictionaryModelBinderIntegrationTest.cs
Labels: area-mvc, ask-mode

#13614 Use Result instead of GetAwaiter().GetResult()
  src/Middleware/CORS/src/Infrastructure/CorsMiddleware.cs
Labels: area-mvc

#13652 Skip broken shutdown test
  src/Hosting/test/FunctionalTests/ShutdownTests.cs
Labels: area-hosting, tell-mode

#13389 SignalR Negotiate protocol versioning
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubConnectionTests.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/Startup.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HttpConnectionTests.ConnectionLifecycle.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HttpConnectionTests.Negotiate.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/TestHttpMessageHandler.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnection.cs
  src/SignalR/common/Http.Connections.Common/ref/Microsoft.AspNetCore.Http.Connections.Common.netcoreapp.cs
  src/SignalR/common/Http.Connections.Common/ref/Microsoft.AspNetCore.Http.Connections.Common.netstandard2.0.cs
  src/SignalR/common/Http.Connections.Common/src/NegotiateProtocol.cs
  src/SignalR/common/Http.Connections.Common/src/NegotiationResponse.cs
  src/SignalR/common/Http.Connections/ref/Microsoft.AspNetCore.Http.Connections.netcoreapp.cs
  src/SignalR/common/Http.Connections/src/HttpConnectionDispatcherOptions.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.Log.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
  src/SignalR/common/Http.Connections/test/NegotiateProtocolTests.cs
Labels: area-signalr

#13655 Fix 'EnableEndpointRounting' typo in error message when migrating from old routing system
  src/Analyzers/Analyzers/src/StartupAnalyzer.Diagnostics.cs
Labels: area-mvc, ask-mode

#13657 Remove test workaround for fixed issue.
  src/Framework/test/TargetingPackTests.cs
Labels: area-infrastructure

#13659 components-reconnect-refused to components-reconnect-rejected
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/src/Platform/Circuits/UserSpecifiedDisplay.ts
Labels: area-blazor, ask-mode

#13675 [Templates] Run rimraf before running the app to give it a better chance of avoiding a failure
  src/ProjectTemplates/test/SpaTemplateTest/SpaTemplateTestBase.cs
Labels: area-mvc

#13646 [Identity] Improve test reliability
  src/Identity/test/Identity.Test/IdentityUIScriptsTest.cs
  src/Identity/test/Identity.Test/RetryHandler.cs
Labels: area-identity

#13660 Ignore whitespace differences during code check
  eng/scripts/CodeCheck.ps1
Labels: area-infrastructure

#13692 Fix User-Agent typo Java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/UserAgentHelper.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/HubConnectionTest.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/UserAgentTest.java
Labels: area-signalr

#13524 Add a FetchHttpClient
  src/SignalR/clients/ts/FunctionalTests/ts/Common.ts
  src/SignalR/clients/ts/FunctionalTests/ts/ConnectionTests.ts
  src/SignalR/clients/ts/FunctionalTests/ts/HubConnectionTests.ts
  src/SignalR/clients/ts/signalr/src/FetchHttpClient.ts
  src/SignalR/clients/ts/signalr/src/HttpClient.ts
  src/SignalR/clients/ts/signalr/src/index.ts
Labels: area-signalr

#13672 [Templating] Infrastructure improvements
  src/Components/test/E2ETest/e2eTestSettings.ci.json
  src/Components/test/E2ETest/e2eTestSettings.json
  src/ProjectTemplates/test/e2eTestSettings.ci.json
  src/ProjectTemplates/test/e2eTestSettings.json
  src/Shared/E2ETesting/BrowserAssertFailedException.cs
  src/Shared/E2ETesting/E2ETestOptions.cs
  src/Shared/E2ETesting/E2ETesting.props
  src/Shared/E2ETesting/E2ETesting.targets
  src/Shared/E2ETesting/WaitAssert.cs
Labels: area-mvc

#13678 Improve reliability of globalization E2E tests
  src/Components/test/E2ETest/ServerExecutionTests/GlobalizationTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/LocalizationTest.cs
  src/Components/test/testassets/BasicTestApp/CulturePicker.razor
  src/Components/test/testassets/TestServer/Controllers/CultureController.cs
Labels: area-blazor

#13751 Add -Force to Expand-Archive
  eng/helix/content/InstallNode.ps1
Labels: area-mvc

#13740 Exclude empty ItemGroup in C# web API project template
  src/ProjectTemplates/Web.ProjectTemplates/WebApi-CSharp.csproj.in
Labels: area-mvc

#13739 Add ValueTask support to API Explorer response types.
  src/Mvc/Mvc.ApiExplorer/src/ApiResponseTypeProvider.cs
  src/Mvc/Mvc.ApiExplorer/test/DefaultApiDescriptionProviderTest.cs
Labels: area-mvc

#13693 Ship Site Extensions package
  src/SiteExtensions/LoggingAggregate/src/Microsoft.AspNetCore.AzureAppServices.SiteExtension/Microsoft.AspNetCore.AzureAppServices.SiteExtension.csproj
Labels: area-infrastructure, ask-mode, servicing-approved

#13743 Don't capture instance in Select for DataProtection.
  src/DataProtection/DataProtection.sln
  src/DataProtection/EntityFrameworkCore/src/EntityFrameworkCoreXmlRepository.cs
  src/DataProtection/samples/EntityFrameworkCoreSample/Program.cs
Labels: area-dataprotection, ask-mode

#13559 Turn on account confirmation for blazor server app template
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Startup.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/Startup.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/Startup.cs
  src/ProjectTemplates/test/SpaTemplateTest/SpaTemplateTestBase.cs
Labels: area-blazor

#13260 [ApiAuth] Update partner dependencies to their final versions
  eng/Versions.props
  src/Identity/ApiAuthorization.IdentityServer/src/IdentityServerBuilderConfigurationExtensions.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/Data/SQLServer/00000000000000_CreateIdentitySchema.Designer.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/Data/SQLServer/00000000000000_CreateIdentitySchema.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/Data/SQLServer/ApplicationDbContextModelSnapshot.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/Data/SQLite/00000000000000_CreateIdentitySchema.Designer.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/Data/SQLite/00000000000000_CreateIdentitySchema.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/Data/SQLite/ApplicationDbContextModelSnapshot.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/app.db
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/Data/SQLServer/00000000000000_CreateIdentitySchema.Designer.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/Data/SQLServer/00000000000000_CreateIdentitySchema.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/Data/SQLServer/ApplicationDbContextModelSnapshot.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/Data/SQLite/00000000000000_CreateIdentitySchema.Designer.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/Data/SQLite/00000000000000_CreateIdentitySchema.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/Data/SQLite/ApplicationDbContextModelSnapshot.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/app.db
Labels: area-mvc, ask-mode

#13666 Make Ignitor a shipping package
  eng/ProjectReferences.props
  src/Components/Components.sln
  src/Components/Components/src/Properties/AssemblyInfo.cs
  src/Components/Components/src/RenderTree/ArrayBuilderExtensions.cs
  src/Components/Components/src/RenderTree/ArrayBuilderSegment.cs
  src/Components/Components/src/RenderTree/ArrayRange.cs
  src/Components/Components/src/RenderTree/RenderBatch.cs
  src/Components/Components/src/RenderTree/RenderTreeDiff.cs
  src/Components/Components/src/RenderTree/RenderTreeEdit.cs
  src/Components/Components/src/RenderTree/RenderTreeEditType.cs
  src/Components/Components/src/RenderTree/RenderTreeFrame.cs
  src/Components/Components/src/RenderTree/RenderTreeFrameType.cs
  src/Components/ComponentsNoDeps.slnf
  src/Components/Ignitor/src/BlazorClient.cs
  src/Components/Ignitor/src/CapturedAttachComponentCall.cs
  src/Components/Ignitor/src/CapturedJSInteropCall.cs
  src/Components/Ignitor/src/CapturedRenderBatch.cs
  src/Components/Ignitor/src/CommentNode.cs
  src/Components/Ignitor/src/ComponentNode.cs
  src/Components/Ignitor/src/ComponentState.cs
  src/Components/Ignitor/src/ContainerNode.cs
  src/Components/Ignitor/src/ElementHive.cs
  src/Components/Ignitor/src/ElementNode.cs
  src/Components/Ignitor/src/ElementReference.cs
  src/Components/Ignitor/src/Error.cs
  src/Components/Ignitor/src/IComponent.cs
  src/Components/Ignitor/src/Ignitor.csproj
  src/Components/Ignitor/src/IgnitorMessagePackHubProtocol.cs
  src/Components/Ignitor/src/MarkupNode.cs
  src/Components/Ignitor/src/Node.cs
  src/Components/Ignitor/src/NodeSerializer.cs
  src/Components/Ignitor/src/Operations.cs
  src/Components/Ignitor/src/Properties/AssemblyInfo.cs
  src/Components/Ignitor/src/RenderBatchReader.cs
  src/Components/Ignitor/src/TextNode.cs
  src/Components/Ignitor/test/Ignitor.Test.csproj
  src/Components/Ignitor/test/RenderBatchReaderTest.cs
  src/Components/Server/src/Circuits/ArrayBuilderMemoryStream.cs
  src/Components/Server/src/Circuits/RemoteRenderer.cs
  src/Components/Server/src/Circuits/RenderBatchWriter.cs
  src/Components/Shared/src/ArrayBuilder.cs
  src/Components/test/E2ETest/Microsoft.AspNetCore.Components.E2ETests.csproj
  src/Components/test/Ignitor.Test/Ignitor.Test.csproj
  src/Components/test/testassets/Ignitor/Ignitor.csproj
  src/Components/test/testassets/Ignitor/Program.cs
Labels: area-blazor

#13728 Don't call complete outside of main request loop
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
Labels: area-servers, ask-mode

#12928 Ensure blazor client side logger checks for enabled log levels
  src/Components/Blazor/Blazor/src/Services/WebAssemblyConsoleLogger.cs
Labels: area-blazor

#13648 Make InputDateInteractsWithEditContext_NullableDateTimeOffset more reliable
  src/Components/test/E2ETest/ServerExecutionTests/GlobalizationTest.cs
  src/Components/test/E2ETest/Tests/FormsTest.cs
  src/Shared/E2ETesting/WebElementExtensions.cs
Labels: area-blazor

#13824 Unflake ComponentLifecycleMethods E2E test
  src/Components/test/E2ETest/ServerExecutionTests/ComponentHubReliabilityTest.cs
Labels: area-blazor

#13783 Cleanup when SendAsync with Upload stream
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-signalr, ask-mode

#13812 Typo fix on Problem's documentation
  src/Mvc/Mvc.Core/src/ControllerBase.cs
Labels: area-mvc

#13835 Update Microsoft.Data.SqlClient
  eng/Versions.props
Labels: ask-mode

#13865 Fix encoding used in JS generated by prerenderer
  src/Middleware/SpaServices/src/Prerendering/RenderToStringResult.cs
  src/Middleware/SpaServices/test/Microsoft.AspNetCore.SpaServices.Tests.csproj
  src/Middleware/SpaServices/test/RenderToStringResultTests.cs
Labels: area-mvc, ask-mode

#13791 [3.0] Update gRPC template to use 2.23.0
  eng/Versions.props
Labels: area-grpc, ask-mode

#13040 Use stages pipeline
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/codesign-xplat.yml
  .azure/pipelines/jobs/default-build.yml
  Directory.Build.props
  Directory.Build.targets
  build.sh
  dockerbuild.sh
  docs/Artifacts.md
  eng/AfterSolutionBuild.targets
  eng/Publishing.props
  eng/SignCheckExclusionsFile.txt
  eng/Signing.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/docker/alpine.Dockerfile
  eng/docker/bionic.Dockerfile
  eng/docker/rhel.Dockerfile
  eng/docker/ubuntu-alpine37.Dockerfile
  eng/empty.proj
  eng/tools/Maestro/Maestro.csproj
  eng/tools/XplatPackageSigner/XplatPackageSigner.proj
  eng/tools/XplatPackageSigner/sign-packages.cmd
  global.json
  src/Components/Blazor/Directory.Build.props
  src/Hosting/Server.IntegrationTesting/src/Common/DotNetCommands.cs
Labels: area-infrastructure, tell-mode

#13826 [CORS] Remove E2E functional tests
  src/Middleware/CORS/test/FunctionalTests/Assert.cs
  src/Middleware/CORS/test/FunctionalTests/CORS.FunctionalTests.csproj
  src/Middleware/CORS/test/FunctionalTests/CORS.Npm.FunctionalTests.npmproj
  src/Middleware/CORS/test/FunctionalTests/CorsMiddlewareFunctionalTest.cs
  src/Middleware/CORS/test/FunctionalTests/ProcessManager.cs
  src/Middleware/CORS/test/FunctionalTests/ProcessResult.cs
  src/Middleware/CORS/test/FunctionalTests/package.json
  src/Middleware/CORS/test/FunctionalTests/test.js
  src/Middleware/CORS/test/FunctionalTests/yarn.lock
  src/Middleware/CORS/test/testassets/TestDestination/Program.cs
  src/Middleware/CORS/test/testassets/TestDestination/Startup.cs
  src/Middleware/CORS/test/testassets/TestDestination/StartupWithoutEndpointRouting.cs
  src/Middleware/CORS/test/testassets/TestDestination/TestDestination.csproj
  src/Middleware/CORS/test/testassets/TestDestination/TestMiddleware.cs
  src/Middleware/CORS/test/testassets/TestOrigin/Program.cs
  src/Middleware/CORS/test/testassets/TestOrigin/Startup.cs
  src/Middleware/CORS/test/testassets/TestOrigin/TestOrigin.csproj
  src/Middleware/CORS/test/testassets/TestOrigin/wwwroot/index.htm
  src/Middleware/CORS/test/testassets/TestOrigin/wwwroot/test.htm
  src/Middleware/Middleware.sln
Labels: area-mvc

#13872 [SignalR] Remove a few minor allocations
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/server/Core/src/DefaultHubLifetimeManager.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
Labels: area-signalr

#13832 Exclude empty ItemGroup in MVC project template
  src/ProjectTemplates/Web.ProjectTemplates/StarterWeb-CSharp.csproj.in
Labels: area-mvc

#13807 Exclude empty ItemGroup in Razor Pages project template
  src/ProjectTemplates/Web.ProjectTemplates/RazorPagesWeb-CSharp.csproj.in
Labels: area-mvc

#13485 Fix Angular SPA Template compiler bug
  src/Middleware/SpaServices.Extensions/src/Util/EventedStreamReader.cs
Labels: area-mvc

#13846 Add queue name to HttpSysOptions
  src/Servers/HttpSys/ref/Microsoft.AspNetCore.Server.HttpSys.netcoreapp3.0.cs
  src/Servers/HttpSys/src/HttpSysListener.cs
  src/Servers/HttpSys/src/HttpSysOptions.cs
  src/Servers/HttpSys/src/NativeInterop/RequestQueue.cs
  src/Servers/HttpSys/test/FunctionalTests/MessagePumpTests.cs
  src/Servers/HttpSys/test/FunctionalTests/ServerTests.cs
  src/Servers/HttpSys/test/FunctionalTests/Utilities.cs
Labels: area-servers, servers-httpsys

#13841 Add support for port 0 in HttpSys
  src/Hosting/Server.IntegrationTesting/src/Common/TestPortHelper.cs
  src/Hosting/Server.IntegrationTesting/src/Common/TestUriHelper.cs
  src/Servers/HttpSys/src/MessagePump.cs
  src/Servers/HttpSys/src/NativeInterop/UrlGroup.cs
  src/Servers/HttpSys/src/UrlPrefixCollection.cs
  src/Servers/HttpSys/startvs.cmd
  src/Servers/HttpSys/test/FunctionalTests/MessagePumpTests.cs
  src/Servers/HttpSys/test/FunctionalTests/Utilities.cs
  src/Servers/HttpSys/test/Tests/UrlPrefixTests.cs
  src/Shared/HttpSys/NativeInterop/UnsafeNativeMethods.cs
Labels: area-servers

#13871 FileBufferingWriteStream: Incorrect disposed object name
  src/Http/WebUtilities/src/FileBufferingWriteStream.cs
Labels: area-servers

#13939 [Helix] Move helix arm run to ci
  .azure/pipelines/ci.yml
  .azure/pipelines/helix-test.yml
Labels: area-infrastructure

#14003 Stabilize package versions
  .azure/pipelines/ci.yml
  eng/Publishing.props
  eng/Versions.props
  src/Framework/test/Microsoft.AspNetCore.App.UnitTests.csproj
  src/Framework/test/SharedFxTests.cs
  src/Installers/Debian/Directory.Build.props
  src/Installers/Rpm/Directory.Build.props
  src/Installers/Windows/SharedFramework/SharedFramework.wixproj
  src/Installers/Windows/SharedFramework/SharedFrameworkPackage.nuspec
  src/Installers/Windows/TargetingPack/TargetingPack.wixproj
  src/Installers/Windows/TargetingPack/TargetingPackPackage.nuspec
  src/ProjectTemplates/test/Infrastructure/GenerateTestProps.targets
  src/ProjectTemplates/test/Infrastructure/TemplateTests.props.in
  src/SiteExtensions/LoggingAggregate/src/Microsoft.AspNetCore.AzureAppServices.SiteExtension/Microsoft.AspNetCore.AzureAppServices.SiteExtension.csproj
Labels: area-infrastructure

#12924 Mention SignalR Service explicitly in NPM README
  src/SignalR/clients/ts/signalr/README.md
Labels: area-signalr

#13912 [Infrastructure] Adds support for capturing process dumps for hanging builds on Windows
  .azure/pipelines/jobs/default-build.yml
  eng/scripts/FinishDumpCollectionForHangingBuilds.ps1
  eng/scripts/InstallProcDump.ps1
  eng/scripts/StartDumpCollectionForHangingBuilds.ps1
Labels: area-infrastructure

#13773 SignalR ConnectionToken/ConnectionAddress feature
  src/SignalR/clients/csharp/Client/test/UnitTests/HttpConnectionTests.Negotiate.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/ResponseUtils.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnection.cs
  src/SignalR/common/Http.Connections.Common/ref/Microsoft.AspNetCore.Http.Connections.Common.netcoreapp.cs
  src/SignalR/common/Http.Connections.Common/ref/Microsoft.AspNetCore.Http.Connections.Common.netstandard2.0.cs
  src/SignalR/common/Http.Connections.Common/src/NegotiateProtocol.cs
  src/SignalR/common/Http.Connections.Common/src/NegotiationResponse.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionContext.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionManager.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionManagerTests.cs
  src/SignalR/common/Http.Connections/test/NegotiateProtocolTests.cs
Labels: area-signalr

#13921 Process all buffers in the Http2Connection
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameReader.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/TlsTests.cs
Labels: area-servers

#14061 Remove Newtonsoft JSON.NET from Blazor WASM template
  src/Components/Blazor/Templates/src/content/BlazorWasm-CSharp/Server/BlazorWasm-CSharp.Server.csproj
  src/Components/Blazor/Templates/src/content/BlazorWasm-CSharp/Server/Startup.cs
Labels: area-blazor

#13959 Add Third Party Notices
  src/Components/benchmarkapps/BlazingPizza.Server/THIRD-PARTY-NOTICES.md
Labels: area-blazor, tell-mode

#14108 [Templates] Capture binlogs on failed build and publish template tests
  src/ProjectTemplates/test/Helpers/Project.cs
  src/ProjectTemplates/test/ProjectTemplates.Tests.csproj
Labels: area-mvc

#13855 [Templates] Capture traces for run processes
  src/ProjectTemplates/test/Helpers/Project.cs
  src/ProjectTemplates/test/SpaTemplateTest/SpaTemplateTestBase.cs
Labels: area-mvc

#14112 Make IntegrationTesting not depend on M.A.Hosting.Abstractions
  src/Hosting/Server.IntegrationTesting/src/Common/HostingModel.cs
  src/Hosting/Server.IntegrationTesting/src/Common/IWebHostExtensions.cs
  src/Hosting/Server.IntegrationTesting/src/Microsoft.AspNetCore.Server.IntegrationTesting.csproj
  src/Hosting/build.cmd
  src/Middleware/StaticFiles/test/FunctionalTests/FallbackStaticFileTest.cs
  src/Middleware/StaticFiles/test/FunctionalTests/Helpers.cs
  src/Middleware/StaticFiles/test/FunctionalTests/StaticFileMiddlewareTests.cs
Labels: area-hosting

#13880 Add support for negotiateVersion query string parameter
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/Negotiate.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/NegotiateResponse.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/Utils.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/Version.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/HubConnectionTest.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/NegotiateResponseTest.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/UserAgentTest.java
Labels: 3.1-candidate, area-signalr

#14113 Provide more information when pipelines fail
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/codesign-xplat.yml
Labels: area-infrastructure

#14096 Input date test fix take 2
  src/Components/test/E2ETest/Tests/FormsTest.cs
Labels: area-blazor

#13897 Remove ConfigureAwait(false) when there is no await
  src/Hosting/Hosting/src/Internal/WebHost.cs
  src/Http/Http/src/Features/RequestServicesFeature.cs
Labels: area-hosting

#13063 Add retries to selfhost deployer
  src/Hosting/Server.IntegrationTesting/src/Deployers/NginxDeployer.cs
  src/Hosting/Server.IntegrationTesting/src/Deployers/SelfHostDeployer.cs
  src/Hosting/build.cmd
Labels: area-servers, tell-mode

#13914 HTTP2: Send remaining data and trailers together
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
Labels: area-servers

#14119 Expose HttpSys RequestInfo extensibility
  src/Servers/HttpSys/ref/Microsoft.AspNetCore.Server.HttpSys.netcoreapp.cs
  src/Servers/HttpSys/src/FeatureContext.cs
  src/Servers/HttpSys/src/IHttpSysRequestInfoFeature.cs
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Servers/HttpSys/src/StandardFeatureCollection.cs
  src/Servers/HttpSys/test/FunctionalTests/HttpsTests.cs
  src/Servers/HttpSys/test/FunctionalTests/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests.csproj
  src/Shared/HttpSys/RequestProcessing/NativeRequestContext.cs
Labels: area-servers

#14156 Updated the description text
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/template.json
Labels: area-mvc

#13496 Do not return an top lever parameter analyzer warning for some types
  src/Mvc/Mvc.Analyzers/src/DiagnosticDescriptors.cs
  src/Mvc/Mvc.Analyzers/src/TopLevelParameterNameAnalyzer.cs
  src/Mvc/Mvc.Analyzers/test/TestFiles/TopLevelParameterNameAnalyzerTest/IsProblematicParameter_ReturnsFalse_ForSimpleTypes.cs
  src/Mvc/Mvc.Analyzers/test/TopLevelParameterNameAnalyzerTest.cs
Labels: area-mvc

#14048 Re-enable ProjectTemplates tests
  .azure/pipelines/ci.yml
Labels: Test, area-mvc

#14217 Skip F# variant of `MvcTemplate_NoAuthImplAsync(...)` test
  src/ProjectTemplates/test/MvcTemplateTest.cs
Labels: area-mvc

#14226 Remove additional explict 'netcoreapp3.1' mentions
  eng/Workarounds.targets
  eng/tools/BaselineGenerator/BaselineGenerator.csproj
  eng/tools/RepoTasks/RepoTasks.csproj
  src/Framework/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/ProjectTemplates/test/BlazorServerTemplateTest.cs
  src/ProjectTemplates/test/EmptyWebTemplateTest.cs
  src/ProjectTemplates/test/IdentityUIPackageTest.cs
  src/ProjectTemplates/test/MvcTemplateTest.cs
  src/ProjectTemplates/test/RazorClassLibraryTemplateTest.cs
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
  src/ProjectTemplates/test/SpaTemplateTest/SpaTemplateTestBase.cs
  src/ProjectTemplates/test/WebApiTemplateTest.cs
  src/ProjectTemplates/test/WorkerTemplateTest.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISExpressDeployer.cs
  src/SignalR/common/Http.Connections/src/Internal/Transports/WebSocketsServerTransport.cs
Labels: area-infrastructure

#14315 [Templating][Fixes #13679] Updates Identity _LoginPartial to correctly log out from Identity
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Areas/Identity/Pages/Shared/_LoginPartial.cshtml
Labels: tell-mode

#14238 Update branding to 2.1.14
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/PatchConfig.props
  src/PackageArchive/Archive.CiServer.Patch.Compat/ArchiveBaseline.2.1.13.txt
  src/PackageArchive/Archive.CiServer.Patch/ArchiveBaseline.2.1.13.txt
  version.props
Labels: area-platform

#14244 Update branding to 2.2.8
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/PatchConfig.props
  src/PackageArchive/Archive.CiServer.Patch.Compat/ArchiveBaseline.2.2.7.txt
  src/PackageArchive/Archive.CiServer.Patch/ArchiveBaseline.2.2.7.txt
  version.props
Labels: area-platform

#14234 Remove en-us locale from links in Blazor server-side project template
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Shared/MainLayout.Auth.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Shared/MainLayout.NoAuth.razor
Labels: area-blazor

#14263 [Helix] Use standard win10 helix queues
  eng/targets/Helix.Common.props
  eng/targets/Helix.targets
  src/Servers/Kestrel/Core/test/AddressBinderTests.cs
  src/Servers/Kestrel/test/FunctionalTests/UnixDomainSocketsTests.cs
Labels: area-infrastructure

#14339 [Mvc][Fixes #11783] Replace header.Add with header.TryAddWithoutValidation
  src/Mvc/Mvc.Testing/src/Handlers/RedirectHandler.cs
  src/Mvc/test/Mvc.FunctionalTests/TestingInfrastructureTests.cs
Labels: area-mvc

#13965 Angular template - reference correct variable in nested try catch
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/api-authorization/authorize.service.ts
Labels: area-mvc

#14157 [TS] Add support for negotiateVersion and connectionToken
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
  src/SignalR/clients/ts/signalr/tests/Common.ts
  src/SignalR/clients/ts/signalr/tests/HttpConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/HubConnectionBuilder.test.ts
Labels: 3.1-candidate, area-signalr

#14349 Increase httpclient reliability
  src/Tools/Microsoft.dotnet-openapi/src/Commands/BaseCommand.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiAddURLTests.cs
Labels: area-mvc

#14341 Avoid null refs in BlazorIgntior when Disposed
  docs/BuildFromSource.md
  src/Components/Ignitor/src/BlazorClient.cs
  src/Components/Ignitor/src/CancellableOperation.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Shared/E2ETesting/BrowserFixture.cs
Labels: area-blazor

#14196 C# and Java client negotiateVersion cleanup
  src/SignalR/clients/csharp/Client/test/UnitTests/HttpConnectionTests.ConnectionLifecycle.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HttpConnectionTests.Negotiate.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/TestHttpMessageHandler.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnection.cs
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/Negotiate.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/HubConnectionTest.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/ResolveNegotiateUrlTest.java
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
Labels: 3.1-candidate, area-signalr

#14004 Fix null reference exception for Streaming null object
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTestUtils/Hubs.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
  src/SignalR/server/SignalR/test/Internal/TypedClientBuilderTests.cs
Labels: area-signalr

#13916 Update SignalR transport protocol spec
  src/SignalR/docs/specs/TransportProtocols.md
Labels: 3.1-candidate, area-signalr

#14219 Add tests of `MetadataSerializer`
  src/Tools/Extensions.ApiDescription.Client/test/GetCurrentOpenApiReferenceTest.cs
  src/Tools/Extensions.ApiDescription.Client/test/GetOpenApiReferenceMetadataTest.cs
  src/Tools/Extensions.ApiDescription.Client/test/MetadataSerializerTest.cs
Labels: Add Tests, area-mvc
