Repository dotnet/aspnetcore, pull requests merged in 2020-01, with the labels that each got.

#18022 Use Count instead of Any() on List
  src/Middleware/Diagnostics.EntityFrameworkCore/src/DatabaseErrorPageMiddleware.cs
  src/Middleware/HealthChecks/src/HealthCheckOptions.cs
  src/Middleware/ResponseCompression/src/ResponseCompressionProvider.cs
  src/Mvc/Mvc.Core/src/ApplicationModels/ApplicationModelFactory.cs
  src/Mvc/Mvc.Core/src/Infrastructure/FileResultExecutorBase.cs
  src/Mvc/Mvc.TagHelpers/src/TagHelperOutputExtensions.cs
  src/Security/Authorization/Core/src/AuthorizationPolicy.cs
  src/Security/Authorization/Core/src/RolesAuthorizationRequirement.cs
  src/Security/Authorization/Policy/src/AuthorizationMiddleware.cs
  src/Shared/Buffers.MemoryPool/DiagnosticMemoryPool.cs
  src/Shared/CertificateGeneration/CertificateManager.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/Core/src/Internal/TypedClientBuilder.cs
  src/Tools/Microsoft.dotnet-openapi/src/Commands/BaseCommand.cs
Labels: area-middleware, area-mvc, area-security, area-signalr

#18007 Use AppendJoin(...) instead of Append(string.Join(...)) on StringBuilder
  src/Http/Routing/src/CompositeEndpointDataSource.cs
  src/Http/Routing/src/Matching/DfaNode.cs
  src/Http/Routing/src/Matching/DictionaryJumpTable.cs
  src/Http/Routing/src/Matching/LinearSearchJumpTable.cs
  src/Http/Routing/src/Tree/LinkGenerationDecisionTree.cs
  src/Middleware/CORS/src/Infrastructure/CorsPolicy.cs
  src/Middleware/CORS/src/Infrastructure/CorsResult.cs
  src/Shared/StackTrace/StackFrame/MethodDisplayInfo.cs
Labels: area-servers

#18030 Remove LogHelper in HttpSys
  src/Servers/HttpSys/src/HttpSysListener.cs
  src/Servers/HttpSys/src/LogHelper.cs
  src/Servers/HttpSys/src/MessagePump.cs
  src/Servers/HttpSys/src/NativeInterop/DisconnectListener.cs
  src/Servers/HttpSys/src/NativeInterop/UrlGroup.cs
  src/Servers/HttpSys/src/RequestProcessing/ClientCertLoader.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestStream.cs
  src/Servers/HttpSys/src/RequestProcessing/ResponseBody.cs
  src/Servers/HttpSys/src/RequestProcessing/ResponseStreamAsyncResult.cs
Labels: area-servers

#18103 [automated] Merge branch 'blazor-wasm' => 'master'
  eng/Version.Details.xml
  eng/Versions.props
  src/Components/Blazor/Blazor/src/Hosting/EntrypointInvoker.cs
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/Web.JS/src/Platform/Mono/MonoTypes.d.ts
  src/Components/Web.JS/src/Platform/Platform.ts
Labels: Type: Merge Forward :fast_forward:, area-blazor, area-infrastructure

#18124 Use ISystemClock for Twitter auth request timestamps
  src/Security/Authentication/Twitter/src/TwitterHandler.cs
Labels: area-security

#18126 Use UnixEpoch for cookie deletion
  src/Http/Http/src/Internal/ResponseCookies.cs
  src/Shared/ChunkingCookieManager/ChunkingCookieManager.cs
Labels: area-security

#18132 More RNG.Fill() and UnixEpoch usage
  src/DataProtection/DataProtection/src/Managed/ManagedGenRandomImpl.cs
  src/Identity/Extensions.Core/src/Rfc6238AuthenticationService.cs
  src/Identity/Extensions.Core/src/UserManager.cs
Labels: area-dataprotection, area-identity

#17910 Fix <component> tag helpers being siblings. Fixes #17851
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Rendering/LogicalElements.ts
Labels: area-blazor

#18113 Ensure $(Configuration) is evaluated prior to using it
  src/Components/Blazor/Build/src/targets/All.props
  src/Components/Blazor/Build/src/targets/All.targets
Labels: area-blazor

#18135 Contributing: Fix a typo
  src/Features/JsonPatch/src/Helpers/GetValueResult.cs
Labels: area-mvc, feature-JSONPatch

#18114 Fix SignalR Java tests not running
  .azure/pipelines/jobs/default-build.yml
  src/SignalR/clients/java/signalr/signalr.client.java.javaproj
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/Version.java
Labels: area-infrastructure, area-signalr

#18172 Use reference equality to compare model instances in EditContext
  src/Components/Forms/src/FieldIdentifier.cs
  src/Components/Forms/test/EditContextTest.cs
  src/Components/Forms/test/FieldIdentifierTest.cs
Labels: area-blazor

#18149 Fix JsonHubProtocolOptions doc comment
  src/SignalR/common/Protocols.Json/src/JsonHubProtocolOptions.cs
Labels: area-signalr

#18150 Always send confirmation email from social registration
  src/Identity/UI/src/Areas/Identity/Pages/V3/Account/ExternalLogin.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/ExternalLogin.cshtml.cs
  src/Identity/test/Identity.FunctionalTests/RegistrationTests.cs
Labels: area-identity

#17892 Fix missing cors middleware exception message
  src/Http/Routing/src/EndpointMiddleware.cs
  src/Http/Routing/test/FunctionalTests/EndpointRoutingIntegrationTest.cs
  src/Http/Routing/test/UnitTests/EndpointMiddlewareTest.cs
Labels: area-mvc

#17816 Add test for AuthenticationSchemes
  src/Security/Authorization/test/AuthorizationMiddlewareTests.cs
Labels: area-security

#18165 Link more assemblies (type granularity linking for real this time)
  src/Components/Blazor/Blazor/src/Hosting/WebAssemblyHost.cs
  src/Components/Blazor/Build/src/Tasks/GenerateTypeGranularityLinkingConfig.cs
  src/Components/Blazor/Build/src/targets/Blazor.MonoRuntime.targets
Labels: area-blazor

#18234 Fix linker incrementalism
  src/Components/Blazor/Build/src/targets/Blazor.MonoRuntime.targets
Labels: area-blazor, blazor-wasm

#18240 Have TestServer merge the user-agent header
  src/Hosting/TestHost/src/ClientHandler.cs
  src/Hosting/TestHost/test/ClientHandlerTests.cs
  src/Hosting/TestHost/test/HttpContextBuilderTests.cs
Labels: area-hosting, auto-merge

#18249 Suppress unused code warning in the shared test project
  src/Shared/test/Shared.Tests/Microsoft.AspNetCore.Shared.Tests.csproj
Labels: area-servers, auto-merge

#17209 Make GetChangeEmailTokenPurpose public
  src/Identity/Extensions.Core/ref/Microsoft.Extensions.Identity.Core.netcoreapp.cs
  src/Identity/Extensions.Core/ref/Microsoft.Extensions.Identity.Core.netstandard2.0.cs
  src/Identity/Extensions.Core/src/UserManager.cs
Labels: api-suggestion, area-identity

#18322 Make kestrel not use the modified Http Protocol
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.FeatureCollection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ChunkedResponseTests.cs
Labels: area-servers, auto-merge

#18015 Add a benchmarking app for Blazor Wasm
  src/Components/Blazor/testassets/Microsoft.AspNetCore.Blazor.E2EPerformance/wwwroot/benchmarks/index.js
  src/Components/Components.sln
  src/Components/ComponentsNoDeps.slnf
  src/Components/benchmarkapps/BlazingPizza.Server/Directory.Build.props
  src/Components/benchmarkapps/BlazingPizza.Server/Directory.Build.targets
  src/Components/benchmarkapps/BlazingPizza.Server/NuGet.config
  src/Components/benchmarkapps/Wasm.Performance/Driver/BenchmarkMeasurement.cs
  src/Components/benchmarkapps/Wasm.Performance/Driver/BenchmarkMetadata.cs
  src/Components/benchmarkapps/Wasm.Performance/Driver/BenchmarkOutput.cs
  src/Components/benchmarkapps/Wasm.Performance/Driver/BenchmarkResult.cs
  src/Components/benchmarkapps/Wasm.Performance/Driver/BenchmarkResultsStartup.cs
  src/Components/benchmarkapps/Wasm.Performance/Driver/Program.cs
  src/Components/benchmarkapps/Wasm.Performance/Driver/Selenium.cs
  src/Components/benchmarkapps/Wasm.Performance/Driver/Wasm.Performance.Driver.csproj
  src/Components/benchmarkapps/Wasm.Performance/Driver/appsettings.json
  src/Components/benchmarkapps/Wasm.Performance/README.md
  src/Components/benchmarkapps/Wasm.Performance/TestApp/App.razor
  src/Components/benchmarkapps/Wasm.Performance/TestApp/BenchmarkEvent.cs
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Pages/Index.razor
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Pages/Json.razor
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Pages/RenderList.razor
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Pages/_Imports.razor
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Program.cs
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Shared/MainLayout.razor
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Startup.cs
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Wasm.Performance.TestApp.csproj
  src/Components/benchmarkapps/Wasm.Performance/TestApp/_Imports.razor
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/benchmarks/appStartup.js
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/benchmarks/index.js
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/benchmarks/jsonHandling.js
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/benchmarks/jsonHandlingData.js
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/benchmarks/lib/bootstrap.min.css
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/benchmarks/lib/minibench/README.md
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/benchmarks/lib/minibench/minibench.js
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/benchmarks/lib/minibench/minibench.ui.js
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/benchmarks/lib/minibench/style.css
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/benchmarks/renderList.js
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/benchmarks/util/BenchmarkEvents.js
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/benchmarks/util/BlazorApp.js
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/benchmarks/util/DOM.js
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/blazor-frame.html
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/index.html
  src/Components/benchmarkapps/Wasm.Performance/benchmarks.compose.json
  src/Components/benchmarkapps/Wasm.Performance/dockerfile
  src/Components/benchmarkapps/Wasm.Performance/exec.sh
  src/Components/benchmarkapps/Wasm.Performance/local.dockerfile
  src/Components/test/E2ETest/Microsoft.AspNetCore.Components.E2ETests.csproj
  src/Components/test/E2ETest/Tests/PerformanceTest.cs
Labels: area-blazor

#18311 Fix ANCM search for dotnet.exe
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/HostFxrResolver.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLibTests/CommonLibTests.vcxproj
  src/Servers/IIS/AspNetCoreModuleV2/CommonLibTests/Fake/hello-dotnet.dll
  src/Servers/IIS/AspNetCoreModuleV2/CommonLibTests/Fake/hello-dotnet.exe
  src/Servers/IIS/AspNetCoreModuleV2/CommonLibTests/Fake/hostfxr.dll
  src/Servers/IIS/AspNetCoreModuleV2/CommonLibTests/dotnet_exe_path_tests.cpp
Labels: area-servers

#18205 Update branding to 2.1.16
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/PatchConfig.props
  src/PackageArchive/Archive.CiServer.Patch.Compat/ArchiveBaseline.2.1.15.txt
  src/PackageArchive/Archive.CiServer.Patch/ArchiveBaseline.2.1.15.txt
  src/SignalR/clients/ts/FunctionalTests/selenium/run-tests.ts
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionContext.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionManager.cs
  src/SignalR/common/Http.Connections/src/Internal/TaskExtensions.cs
  src/SignalR/common/Http.Connections/src/Internal/Transports/LongPollingTransport.cs
  src/SignalR/common/Http.Connections/src/Internal/Transports/ServerSentEventsMessageFormatter.cs
  src/SignalR/common/Http.Connections/src/Internal/Transports/ServerSentEventsTransport.cs
  src/SignalR/common/Http.Connections/src/Internal/Transports/WebSocketsTransport.cs
  src/SignalR/common/Http.Connections/src/Microsoft.AspNetCore.Http.Connections.csproj
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionManagerTests.cs
  src/SignalR/common/Http.Connections/test/TestWebSocketConnectionFeature.cs
  src/SignalR/common/Shared/PipeWriterStream.cs
  src/SignalR/common/testassets/Tests.Utils/TestClient.cs
  src/SignalR/server/Core/src/DefaultHubLifetimeManager.cs
  src/SignalR/server/Core/src/HubConnectionContext.cs
  src/SignalR/server/Core/src/Internal/HubCallerClients.cs
  src/SignalR/server/Core/src/Internal/Proxies.cs
  src/SignalR/server/SignalR/test/DefaultHubLifetimeManagerTests.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
  version.props
Labels: area-infrastructure

#18217 Update branding to 3.0.3
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/codesign-xplat.yml
  .azure/pipelines/jobs/default-build.yml
  Directory.Build.props
  NuGet.config
  build.ps1
  build.sh
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/tools.sh
  eng/scripts/CodeCheck.ps1
  eng/tools/RepoTasks/DownloadFile.cs
  eng/tools/RepoTasks/RepoTasks.tasks
  src/Framework/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Installers/Windows/WindowsHostingBundle/Product.targets
  src/ProjectTemplates/test/Infrastructure/GenerateTestProps.targets
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionContext.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionManager.cs
  src/SignalR/common/Http.Connections/src/Internal/TaskExtensions.cs
  src/SignalR/common/Http.Connections/src/Internal/Transports/LongPollingServerTransport.cs
  src/SignalR/common/Http.Connections/src/Internal/Transports/ServerSentEventsServerTransport.cs
  src/SignalR/common/Http.Connections/src/Internal/Transports/WebSocketsServerTransport.cs
  src/SignalR/common/Http.Connections/src/ServerSentEventsMessageFormatter.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionManagerTests.cs
  src/SignalR/common/Http.Connections/test/ServerSentEventsMessageFormatterTests.cs
  src/SignalR/common/Http.Connections/test/TestWebSocketConnectionFeature.cs
  src/SignalR/common/Shared/PipeWriterStream.cs
  src/SignalR/common/testassets/Tests.Utils/TestClient.cs
  src/SignalR/perf/Microbenchmarks/ServerSentEventsBenchmark.cs
  src/SignalR/server/Core/src/DefaultHubLifetimeManager.cs
  src/SignalR/server/Core/src/HubConnectionContext.cs
  src/SignalR/server/Core/src/HubConnectionHandler.cs
  src/SignalR/server/Core/src/Internal/Proxies.cs
  src/SignalR/server/SignalR/test/DefaultHubLifetimeManagerTests.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-infrastructure

#18275 Removed Unused Private Method - HandleValidationStateChanged
  src/Components/Web/src/Forms/ValidationMessage.cs
  src/Components/Web/src/Forms/ValidationSummary.cs
Labels: area-blazor

#17148 React to rename of "@dotnet/jsinterop" to "@microsoft/dotnet-js-interop"
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/package.json
  src/Components/Web.JS/src/Boot.Server.ts
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/Platform/Circuits/RenderQueue.ts
  src/Components/Web.JS/src/Services/NavigationManager.ts
  src/Components/Web.JS/tests/RenderQueue.test.ts
  src/Components/Web.JS/yarn.lock
Labels: area-blazor, auto-merge

#18207 Handle satellite assemblies in the Blazor build targets
  src/Components/Blazor/Build/src/Tasks/BlazorILLink.cs
  src/Components/Blazor/Build/src/Tasks/GenerateBlazorBootJson.cs
  src/Components/Blazor/Build/src/targets/Blazor.MonoRuntime.targets
  src/Components/Blazor/Build/test/BuildIntegrationTests/BuildIntegrationTest.cs
  src/Components/Blazor/Build/test/BuildIntegrationTests/PublishIntegrationTest.cs
  src/Components/Blazor/Build/testassets/classlibrarywithsatelliteassemblies/Class1.cs
  src/Components/Blazor/Build/testassets/classlibrarywithsatelliteassemblies/classlibrarywithsatelliteassemblies.csproj
  src/Components/Blazor/Build/testassets/standalone/Program.cs
Labels: area-blazor, blazor-wasm

#18151 Update branding to 3.1.2
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/codesign-xplat.yml
  .azure/pipelines/jobs/default-build.yml
  Directory.Build.props
  build.ps1
  build.sh
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/tools.sh
  eng/scripts/CodeCheck.ps1
  eng/scripts/ci-source-build.sh
  eng/tools/RepoTasks/DownloadFile.cs
  eng/tools/RepoTasks/RepoTasks.tasks
  src/Framework/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Installers/Windows/WindowsHostingBundle/Product.targets
  src/ProjectTemplates/test/Infrastructure/GenerateTestProps.targets
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionContext.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionManager.cs
  src/SignalR/common/Http.Connections/src/Internal/TaskExtensions.cs
  src/SignalR/common/Http.Connections/src/Internal/Transports/LongPollingServerTransport.cs
  src/SignalR/common/Http.Connections/src/Internal/Transports/ServerSentEventsServerTransport.cs
  src/SignalR/common/Http.Connections/src/Internal/Transports/WebSocketsServerTransport.cs
  src/SignalR/common/Http.Connections/src/ServerSentEventsMessageFormatter.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionManagerTests.cs
  src/SignalR/common/Http.Connections/test/ServerSentEventsMessageFormatterTests.cs
  src/SignalR/common/Http.Connections/test/TestWebSocketConnectionFeature.cs
  src/SignalR/common/Shared/PipeWriterStream.cs
  src/SignalR/common/testassets/Tests.Utils/TestClient.cs
  src/SignalR/perf/Microbenchmarks/ServerSentEventsBenchmark.cs
  src/SignalR/server/Core/src/DefaultHubLifetimeManager.cs
  src/SignalR/server/Core/src/HubConnectionContext.cs
  src/SignalR/server/Core/src/HubConnectionHandler.cs
  src/SignalR/server/Core/src/Internal/Proxies.cs
  src/SignalR/server/SignalR/test/DefaultHubLifetimeManagerTests.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-infrastructure

#18250 Use checked-in platform manifest in 3.1.2
  Directory.Build.props
  eng/PlatformManifest.txt
  eng/Versions.props
  src/Framework/ref/Microsoft.AspNetCore.App.Ref.csproj
  src/Framework/test/TargetingPackTests.cs
Labels: Servicing-approved, area-platform

#17970 [release/3.1] Don't use baseline assembly versions for RID-agnostic packages
  Directory.Build.targets
Labels: Servicing-approved, area-infrastructure

#18278 Fix setter for CandidateState.Values in reference assembly
  src/Http/Routing/ref/Microsoft.AspNetCore.Routing.Manual.cs
Labels: Servicing-approved, area-servers

#14395 Fix flaky LongPolling tests
  src/SignalR/common/testassets/Tests.Utils/VerifyNoErrorsScope.cs
Labels: Test, area-signalr, tell-mode

#17953 [2.1] CookieChunkingManager needs to flow the Secure attribute for Delete operations
  eng/PatchConfig.props
  src/Security/Authentication/OpenIdConnect/samples/OpenIdConnectSample/Startup.cs
  src/Security/Authentication/test/WsFederation/WsFederationTest.cs
  src/Security/CookiePolicy/test/CookieChunkingTests.cs
  src/Shared/ChunkingCookieManager/ChunkingCookieManager.cs
Labels: Servicing-approved, area-security

#17747 React to runtime/594 Encoder.Convert change
  src/Http/Http.Abstractions/src/Extensions/HttpResponseWritingExtensions.cs
Labels: Servicing-approved, area-servers

#17158 Fix TestServer hang with duplex streaming requests
  src/Hosting/TestHost/src/HttpContextBuilder.cs
  src/Hosting/TestHost/test/TestClientTests.cs
Labels: Servicing-approved, area-hosting

#18213 Workaround template fix for incorrect file encoding when the first line is a conditional statement
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/App.razor
Labels: Servicing-approved, area-mvc

#17414 [Static Web Assets] Allow assets with empty base paths
  src/Hosting/Hosting/src/StaticWebAssets/StaticWebAssetsFileProvider.cs
  src/Hosting/Hosting/test/StaticWebAssets/StaticWebAssetsFileProviderTests.cs
Labels: Servicing-approved, area-mvc

#17998 Multi-target all shared framework projects with netcoreapp3.1
  src/DataProtection/Abstractions/ref/Microsoft.AspNetCore.DataProtection.Abstractions.csproj
  src/DataProtection/Abstractions/ref/Microsoft.AspNetCore.DataProtection.Abstractions.netcoreapp.cs
  src/DataProtection/Abstractions/src/Microsoft.AspNetCore.DataProtection.Abstractions.csproj
  src/DataProtection/Cryptography.Internal/ref/Microsoft.AspNetCore.Cryptography.Internal.csproj
  src/DataProtection/Cryptography.Internal/ref/Microsoft.AspNetCore.Cryptography.Internal.netcoreapp.cs
  src/DataProtection/Cryptography.Internal/src/Microsoft.AspNetCore.Cryptography.Internal.csproj
  src/DataProtection/Cryptography.KeyDerivation/ref/Microsoft.AspNetCore.Cryptography.KeyDerivation.csproj
  src/DataProtection/Cryptography.KeyDerivation/src/Microsoft.AspNetCore.Cryptography.KeyDerivation.csproj
  src/DataProtection/Cryptography.KeyDerivation/src/PBKDF2/NetCorePbkdf2Provider.cs
  src/DataProtection/Cryptography.KeyDerivation/src/PBKDF2/Pbkdf2Util.cs
  src/Http/Metadata/ref/Microsoft.AspNetCore.Metadata.csproj
  src/Http/Metadata/ref/Microsoft.AspNetCore.Metadata.netcoreapp.cs
  src/Http/Metadata/src/Microsoft.AspNetCore.Metadata.csproj
Labels: Servicing-approved, area-platform

#18357 [release/3.1] Mark Blazor packages as nonshipping
  eng/Version.Details.xml
  src/Components/Blazor/Blazor/src/Microsoft.AspNetCore.Blazor.csproj
  src/Components/Blazor/Build/src/Microsoft.AspNetCore.Blazor.Build.csproj
  src/Components/Blazor/DevServer/src/Microsoft.AspNetCore.Blazor.DevServer.csproj
  src/Components/Blazor/Directory.Build.props
  src/Components/Blazor/Http/src/Microsoft.AspNetCore.Blazor.HttpClient.csproj
  src/Components/Blazor/Server/src/Microsoft.AspNetCore.Blazor.Server.csproj
  src/Components/Blazor/Templates/src/Microsoft.AspNetCore.Blazor.Templates.csproj
  src/Components/Blazor/Validation/src/Microsoft.AspNetCore.Blazor.DataAnnotations.Validation.csproj
Labels: area-blazor, tell-mode

#18358 [release/3.0] Mark Blazor packages as nonshipping
  eng/Version.Details.xml
  src/Components/Blazor/Blazor/src/Microsoft.AspNetCore.Blazor.csproj
  src/Components/Blazor/Build/src/Microsoft.AspNetCore.Blazor.Build.csproj
  src/Components/Blazor/DevServer/src/Microsoft.AspNetCore.Blazor.DevServer.csproj
  src/Components/Blazor/Http/src/Microsoft.AspNetCore.Blazor.HttpClient.csproj
  src/Components/Blazor/Server/src/Microsoft.AspNetCore.Blazor.Server.csproj
  src/Components/Blazor/Templates/src/Microsoft.AspNetCore.Blazor.Templates.csproj
Labels: area-blazor, tell-mode

#18206 Send confirmation mails for external accounts
  src/Identity/UI/src/Areas/Identity/Pages/V3/Account/ExternalLogin.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/ExternalLogin.cshtml.cs
  src/Identity/test/Identity.FunctionalTests/RegistrationTests.cs
Labels: 3.1-candidate, Servicing-approved, area-identity, identity-UI

#17705 Update PoliCheckExclusions.xml
  eng/PoliCheckExclusions.xml
Labels: area-infrastructure, tell-mode

#18049 Add HttpProtocol
  src/Hosting/TestHost/src/ClientHandler.cs
  src/Hosting/TestHost/src/HttpContextBuilder.cs
  src/Hosting/TestHost/src/RequestFeature.cs
  src/Hosting/TestHost/test/ClientHandlerTests.cs
  src/Hosting/TestHost/test/HttpContextBuilderTests.cs
  src/Http/Http.Abstractions/ref/Microsoft.AspNetCore.Http.Abstractions.netcoreapp.cs
  src/Http/Http.Abstractions/src/HttpProtocol.cs
  src/Http/Http.Abstractions/test/HttpProtocolTests.cs
  src/Security/Authentication/Negotiate/src/NegotiateHandler.cs
  src/Servers/HttpSys/src/FeatureContext.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.FeatureCollection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/HttpUtilities.cs
  src/Servers/Kestrel/Core/test/HttpUtilitiesTest.cs
  src/Servers/Kestrel/Transport.Libuv/test/LibuvTransportTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
  src/Shared/HttpSys/Extensions.cs
  src/Shared/startvs.cmd
  src/Shared/test/Shared.Tests/HttpSysGetHttpProtocolVersionTest.cs
Labels: api-approved, area-hosting, area-middleware, area-security, area-servers

#16759 Extend timeout and report failure to WarmUp for template tests
  src/ProjectTemplates/test/BlazorServerTemplateTest.cs
  src/ProjectTemplates/test/SpaTemplateTest/SpaTemplateTestBase.cs
  src/Shared/E2ETesting/WaitAssert.cs
Labels: area-mvc, tell-mode

#17580 [Platform] Detect and fix certificates with potentially inaccessible keys on Mac OS (3.0)
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsTests.cs
  src/Shared/CertificateGeneration/CertificateManager.cs
  src/Shared/CertificateGeneration/EnsureCertificateResult.cs
  src/Tools/FirstRunCertGenerator/src/CertificateGenerator.cs
  src/Tools/FirstRunCertGenerator/test/CertificateManagerTests.cs
  src/Tools/dotnet-dev-certs/src/Program.cs
Labels: Servicing-approved, area-platform

#17560 [Platform] Detect and fix certificates with potentially inaccessible keys on Mac OS (2.1)
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Internal/HttpsConnectionAdapter.cs
  src/Servers/Kestrel/Core/src/Properties/CoreStrings.Designer.cs
  src/Servers/Kestrel/shared/test/TestResources.cs
  src/Servers/Kestrel/test/FunctionalTests/HttpsTests.cs
  src/Shared/CertificateGeneration/CertificateManager.cs
  src/Shared/CertificateGeneration/EnsureCertificateResult.cs
  src/Tools/FirstRunCertGenerator/src/CertificateGenerator.cs
  src/Tools/FirstRunCertGenerator/test/CertificateManagerTests.cs
  src/Tools/dotnet-dev-certs/src/Program.cs
Labels: Servicing-approved, area-platform

#18380 Ref pack fix [3.1]
  src/Framework/ref/Microsoft.AspNetCore.App.Ref.csproj
Labels: area-platform

#18277 Touch up installation instructions
  docs/BuildFromSource.md
Labels: area-infrastructure

#17581 [Platform] Detect and fix certificates with potentially inaccessible keys on Mac OS (3.1)
  src/Shared/CertificateGeneration/CertificateManager.cs
  src/Shared/CertificateGeneration/EnsureCertificateResult.cs
  src/Tools/FirstRunCertGenerator/src/CertificateGenerator.cs
  src/Tools/FirstRunCertGenerator/test/CertificateManagerTests.cs
  src/Tools/dotnet-dev-certs/src/Program.cs
Labels: Servicing-approved, area-platform

#17563 Add support for IAsyncEnumerable<T> where T is value type (#17154)
  src/Mvc/Mvc.Core/ref/Microsoft.AspNetCore.Mvc.Core.Manual.cs
  src/Mvc/Mvc.Core/src/Infrastructure/AsyncEnumerableReader.cs
  src/Mvc/Mvc.Core/src/Infrastructure/ObjectResultExecutor.cs
  src/Mvc/Mvc.Core/src/Infrastructure/SystemTextJsonResultExecutor.cs
  src/Mvc/Mvc.Core/test/Infrastructure/AsyncEnumerableReaderTest.cs
  src/Mvc/Mvc.Core/test/Infrastructure/JsonResultExecutorTestBase.cs
  src/Mvc/Mvc.Core/test/Infrastructure/ObjectResultExecutorTest.cs
  src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonResultExecutor.cs
Labels: Servicing-approved, area-mvc

#17807 Remove nameof for log event name
  src/Middleware/HostFiltering/src/LoggerExtensions.cs
Labels: area-servers, auto-merge

#17434 Added the Blazor survey link to the Blazor-Server project template
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Pages/Index.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Shared/SurveyPrompt.razor
  src/ProjectTemplates/test/template-baselines.json
Labels: Servicing-approved, area-blazor

#18389 Fix patchconfig merge
  eng/PatchConfig.props
Labels: area-infrastructure

#18388 Fix flaky HubConnectionHandler test
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-signalr, tell-mode

#18391 Fix flaky HubConnectionHandler test
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-signalr, tell-mode

#18395 Use reference assemblies when compiling Razor views
  eng/Workarounds.targets
  src/Components/test/testassets/TestServer/Components.TestServer.csproj
Labels: area-infrastructure, tell-mode

#18418 [release/2.1] Unpin System.Data.SqlClient and pin System.Security.Cryptography.Cng
  build/dependencies.props
Labels: area-infrastructure

#16961 ResponseCaching: started conversion to pipes
  src/Middleware/Middleware.sln
  src/Middleware/ResponseCaching/src/CacheEntry/CachedResponse.cs
  src/Middleware/ResponseCaching/src/CacheEntry/CachedResponseBody.cs
  src/Middleware/ResponseCaching/src/MemoryCachedResponse.cs
  src/Middleware/ResponseCaching/src/MemoryResponseCache.cs
  src/Middleware/ResponseCaching/src/ResponseCachingMiddleware.cs
  src/Middleware/ResponseCaching/src/Streams/ResponseCachingStream.cs
  src/Middleware/ResponseCaching/src/Streams/SegmentReadStream.cs
  src/Middleware/ResponseCaching/test/CachedResponseBodyTests.cs
  src/Middleware/ResponseCaching/test/ResponseCachingMiddlewareTests.cs
  src/Middleware/ResponseCaching/test/SegmentReadStreamTests.cs
  src/Middleware/perf/ResponseCaching.Microbenchmarks/AssemblyInfo.cs
  src/Middleware/perf/ResponseCaching.Microbenchmarks/Microsoft.AspNetCore.ResponseCaching.Microbenchmarks.csproj
  src/Middleware/perf/ResponseCaching.Microbenchmarks/ResponseCachingBenchmark.cs
Labels: Needs: Author Feedback, area-middleware

#18354 [Fixes #17014] Add an auth-enabled template for Blazor WASM projects
  eng/Versions.props
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/BlazorWasm-CSharp.Client.csproj.in
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/BlazorWasm-CSharp.Server.csproj.in
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/Microsoft.AspNetCore.Blazor.Templates.csproj
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/.template.config/dotnetcli.host.json
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/.template.config/template.json
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/.template.config/vs-2017.3.host.json
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/App.razor
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/Pages/FetchData.razor
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/Services/HostAuthenticationStateProvider.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/Shared/LoginDisplay.IndividualLocalAuth.razor
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/Shared/MainLayout.Auth.razor
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/Shared/MainLayout.NoAuth.razor
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/Startup.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/_Imports.razor
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/wwwroot/favicon.ico
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Areas/Identity/Pages/Account/LogOut.cshtml
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Areas/Identity/Pages/Shared/_LoginPartial.cshtml
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Controllers/UserController.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Controllers/WeatherForecastController.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Data/ApplicationDbContext.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Data/SqlLite/00000000000000_CreateIdentitySchema.Designer.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Data/SqlLite/00000000000000_CreateIdentitySchema.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Data/SqlLite/ApplicationDbContextModelSnapshot.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Data/SqlServer/00000000000000_CreateIdentitySchema.Designer.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Data/SqlServer/00000000000000_CreateIdentitySchema.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Data/SqlServer/ApplicationDbContextModelSnapshot.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Startup.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/app.db
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/appsettings.Development.json
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/appsettings.json
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Shared/Authorization/ClaimValue.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Shared/Authorization/UserInfo.cs
  src/ProjectTemplates/test/BlazorWasmTemplateTest.cs
Labels: area-blazor

#18429 Merging reactions for new mono drop integration
  src/Components/Blazor/Build/src/targets/Blazor.MonoRuntime.props
  src/Components/Blazor/Build/test/BuildIntegrationTests/BuildIntegrationTest.cs
  src/Components/Blazor/Build/test/BuildIntegrationTests/PublishIntegrationTest.cs
  src/Components/Blazor/testassets/MonoSanity/wwwroot/index.html
  src/Components/Blazor/testassets/MonoSanity/wwwroot/loader.js
  src/Components/Blazor/testassets/MonoSanityClient/Examples.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/test/E2ETest/Tests/MonoSanityTest.cs
Labels: area-blazor, blazor-wasm

#18424 Update dependencies from dotnet/blazor
  eng/Version.Details.xml
  eng/Versions.props
  src/Components/Blazor/Build/src/targets/Blazor.MonoRuntime.props
  src/Components/Blazor/Build/test/BuildIntegrationTests/BuildIntegrationTest.cs
  src/Components/Blazor/Build/test/BuildIntegrationTests/PublishIntegrationTest.cs
  src/Components/Blazor/testassets/MonoSanity/wwwroot/index.html
  src/Components/Blazor/testassets/MonoSanity/wwwroot/loader.js
  src/Components/Blazor/testassets/MonoSanityClient/Examples.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/test/E2ETest/Tests/MonoSanityTest.cs
Labels: area-infrastructure

#18453 Use StatusCodes.Status404NotFound instead of 404
  src/Http/Http/src/Builder/ApplicationBuilder.cs
Labels: area-servers, auto-merge

#18454 Fixed typo in AsyncEnumerableReader XML docs
  src/Mvc/Mvc.Core/src/Infrastructure/AsyncEnumerableReader.cs
Labels: area-mvc

#18368 Added launchSettings.json for Blazor wasm templates
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/Properties/launchSettings.json
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Properties/launchSettings.json
Labels: area-mvc

#18478 Update mono debug proxy. Fixes #18356
  src/Components/Blazor/Server/src/MonoDebugProxy/ws-proxy/DebugStore.cs
  src/Components/Blazor/Server/src/MonoDebugProxy/ws-proxy/MonoProxy.cs
  src/Components/Blazor/Server/src/MonoDebugProxy/ws-proxy/WsProxy.cs
Labels: area-blazor, blazor-wasm

#18274 [Helix] Better logging (flaky tests, logged tests)
  .azure/pipelines/ci.yml
  eng/helix/content/runtests.sh
  eng/helix/helix.proj
  eng/targets/Helix.props
Labels: area-infrastructure

#18430 Update names and descriptions for benchmarks
  src/Components/benchmarkapps/Wasm.Performance/Driver/BenchmarkResult.cs
  src/Components/benchmarkapps/Wasm.Performance/Driver/Program.cs
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/benchmarks/appStartup.js
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/benchmarks/jsonHandling.js
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/benchmarks/lib/minibench/minibench.js
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/benchmarks/renderList.js
  src/Components/benchmarkapps/Wasm.Performance/benchmarks.compose.json
Labels: area-blazor

#18346 Update static HTML with name ASP.NET Core Module instead of ANCM
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/HandlerResolver.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/HostFxrResolver.cpp
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/dllmain.cpp
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocessapplication.cpp
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/ErrorPagesTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/StartupExceptionTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/StartupTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/MultiApplicationTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/OutOfProcess/GlobalVersionTests.cs
Labels: area-servers

#18455 Rework of Blazor startup experience
  src/Components/Blazor/Blazor/ref/Microsoft.AspNetCore.Blazor.csproj
  src/Components/Blazor/Blazor/ref/Microsoft.AspNetCore.Blazor.netstandard2.1.cs
  src/Components/Blazor/Blazor/src/Builder/ComponentsApplicationBuilderExtensions.cs
  src/Components/Blazor/Blazor/src/Builder/IComponentsApplicationBuilder.cs
  src/Components/Blazor/Blazor/src/Hosting/BlazorWebAssemblyHost.cs
  src/Components/Blazor/Blazor/src/Hosting/ConventionBasedStartup.cs
  src/Components/Blazor/Blazor/src/Hosting/IBlazorStartup.cs
  src/Components/Blazor/Blazor/src/Hosting/IWebAssemblyHost.cs
  src/Components/Blazor/Blazor/src/Hosting/IWebAssemblyHostBuilder.cs
  src/Components/Blazor/Blazor/src/Hosting/IWebAssemblyServiceFactoryAdapter.cs
  src/Components/Blazor/Blazor/src/Hosting/RootComponentMapping.cs
  src/Components/Blazor/Blazor/src/Hosting/RootComponentMappingCollection.cs
  src/Components/Blazor/Blazor/src/Hosting/WebAssemblyBlazorApplicationBuilder.cs
  src/Components/Blazor/Blazor/src/Hosting/WebAssemblyHost.cs
  src/Components/Blazor/Blazor/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/Blazor/Blazor/src/Hosting/WebAssemblyHostBuilderContext.cs
  src/Components/Blazor/Blazor/src/Hosting/WebAssemblyHostBuilderExtensions.cs
  src/Components/Blazor/Blazor/src/Hosting/WebAssemblyHostExtensions.cs
  src/Components/Blazor/Blazor/src/Hosting/WebAssemblyServiceFactoryAdapter.cs
  src/Components/Blazor/Blazor/src/Microsoft.AspNetCore.Blazor.csproj
  src/Components/Blazor/Blazor/test/Hosting/ConventionBasedStartupTest.cs
  src/Components/Blazor/Blazor/test/Hosting/RootComponentMappingTest.cs
  src/Components/Blazor/Blazor/test/Hosting/WebAssemblyHostBuilderTest.cs
  src/Components/Blazor/Blazor/test/Hosting/WebAssemblyHostTest.cs
  src/Components/Blazor/testassets/HostedInAspNet.Client/Program.cs
  src/Components/Blazor/testassets/HostedInAspNet.Client/Startup.cs
  src/Components/Blazor/testassets/StandaloneApp/Program.cs
  src/Components/Blazor/testassets/StandaloneApp/Startup.cs
  src/Components/benchmarkapps/Wasm.Performance/Driver/Program.cs
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Program.cs
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Startup.cs
  src/Components/test/testassets/BasicTestApp/Program.cs
  src/Components/test/testassets/BasicTestApp/Startup.cs
  src/Components/test/testassets/TestServer/CorsStartup.cs
  src/Components/test/testassets/TestServer/InternationalizationStartup.cs
  src/Components/test/testassets/TestServer/StartupWithMapFallbackToClientSideBlazor.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/Program.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/Startup.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Startup.cs
Labels: area-blazor

#18485 Include compressed size in blazor's benchmarking output
  src/Components/benchmarkapps/Wasm.Performance/Driver/Program.cs
Labels: area-blazor

#18450 Remove Unsafe from ChunkWriter
  src/Servers/Kestrel/Core/src/Internal/Http/ChunkWriter.cs
Labels: area-servers

#18513 Update survey link for 3.2.0-preview1
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/Shared/SurveyPrompt.razor
Labels: area-blazor, area-mvc, blazor-wasm

#17109 Start skipping helix ready tests on azdo runs
  .azure/pipelines/ci.yml
  .azure/pipelines/helix-test.yml
  Directory.Build.targets
  eng/targets/Helix.Common.props
  src/Components/test/E2ETest/Microsoft.AspNetCore.Components.E2ETests.csproj
  src/ProjectTemplates/test/ProjectTemplates.Tests.csproj
Labels: area-blazor, area-dataprotection, area-hosting, area-identity, area-infrastructure, area-mvc, area-platform, area-servers

#18491 Try using xml logger
  eng/helix/content/runtests.cmd
  eng/helix/content/runtests.sh
  eng/targets/Helix.targets
Labels: area-infrastructure

#18511 Fix cleaning send queue on restart
  src/SignalR/clients/ts/FunctionalTests/package.json
  src/SignalR/clients/ts/FunctionalTests/scripts/karma.local.conf.js
  src/SignalR/clients/ts/FunctionalTests/yarn.lock
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
  src/SignalR/clients/ts/signalr/src/NodeHttpClient.ts
  src/SignalR/clients/ts/signalr/src/WebSocketTransport.ts
  src/SignalR/clients/ts/signalr/tests/HttpConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/TestWebSocket.ts
Labels: area-signalr

#18133 Update MessagePack to v2.0 for SignalR
  eng/Versions.props
  src/SignalR/common/Protocols.MessagePack/src/Protocol/MessagePackHubProtocol.cs
  src/SignalR/common/SignalR.Common/test/Internal/Protocol/MessagePackHubProtocolTests.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
  src/SignalR/server/StackExchangeRedis/src/Internal/MessagePackUtil.cs
  src/SignalR/server/StackExchangeRedis/src/Internal/RedisProtocol.cs
Labels: area-signalr

#17848 Update RemoveCommand.cs
  src/Tools/Microsoft.dotnet-openapi/src/Commands/RemoveCommand.cs
Labels: area-mvc

#18570 Fixup bad merge
  src/Components/benchmarkapps/Wasm.Performance/Driver/Program.cs
Labels: area-blazor

#18573 Fix build warnings in MonoProxy
  src/Components/Blazor/Server/src/MonoDebugProxy/ws-proxy/MonoProxy.cs
Labels: area-blazor

#18548 Don't throw exception while flushing ReferenceReadStream
  src/Http/Http/src/Internal/ReferenceReadStream.cs
  src/Http/Http/test/Internal/ReferenceReadStreamTests.cs
Labels: area-servers

#18584 React to dotnet/runtime SSL changes
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsTests.cs
Labels: area-servers

#18606 Resolve Bcl.AsyncInterfaces from NuGet
  eng/Dependencies.props
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#18608 Fix nullref in ComponentsAnalyzer
  Directory.Build.props
  src/Components/Analyzers/src/InternalUsageAnalyzer.cs
  src/Components/Analyzers/test/TestFiles/ComponentInternalUsageDiagnosticsAnalyzerTest/UsesRendererTypesInDeclarations.cs
Labels: analyzer

#18289 Update gradle from 5.3 to 6.0 in order to build with JDK 13 installed
  src/SignalR/clients/java/signalr/gradle/wrapper/gradle-wrapper.jar
  src/SignalR/clients/java/signalr/gradle/wrapper/gradle-wrapper.properties
  src/SignalR/clients/java/signalr/gradlew
  src/SignalR/clients/java/signalr/gradlew.bat
  src/SignalR/clients/java/signalr/settings.gradle
Labels: area-signalr

#18609 Use scenario name for measurements and metadata
  src/Components/benchmarkapps/Wasm.Performance/Driver/Program.cs
Labels: area-blazor

#18398 Suppress ExecutionContext flow in SocketAwaitableEventArgs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketAwaitableEventArgs.cs
Labels: area-servers

#18635 Update Web.JS scripts
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
Labels: area-blazor

#18597 [Helix] Split flaky helix tests into separate yml
  .azure/pipelines/helix-test.yml
  eng/helix/content/runtests.cmd
  eng/helix/content/runtests.sh
  eng/targets/Helix.props
  eng/targets/Helix.targets
Labels: area-infrastructure

#18664 Update dependencies from dotnet/aspnetcore-tooling
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/tools.ps1
Labels: area-infrastructure

#17883 Cleanup processes started by UseReactDevelopmentServer and UseAngularCliServer
  src/Middleware/SpaServices.Extensions/src/AngularCli/AngularCliBuilder.cs
  src/Middleware/SpaServices.Extensions/src/AngularCli/AngularCliMiddleware.cs
  src/Middleware/SpaServices.Extensions/src/Npm/NodeScriptRunner.cs
  src/Middleware/SpaServices.Extensions/src/ReactDevelopmentServer/ReactDevelopmentServerMiddleware.cs
  src/Middleware/SpaServices.Extensions/src/ReactDevelopmentServer/ReactDevelopmentServerMiddlewareExtensions.cs
  src/Middleware/SpaServices.Extensions/test/ListLoggerFactory.cs
  src/Middleware/SpaServices.Extensions/test/Microsoft.AspNetCore.SpaServices.Extensions.Tests.csproj
  src/Middleware/SpaServices.Extensions/test/SpaServicesExtensionsTests.cs
  src/Middleware/SpaServices.Extensions/test/package.json
Labels: area-mvc

#18671 quarantined some tests
  src/Servers/Kestrel/test/FunctionalTests/ConnectionMiddlewareTests.cs
  src/Servers/Kestrel/test/FunctionalTests/ResponseTests.cs
  src/Servers/Kestrel/test/FunctionalTests/UnixDomainSocketsTests.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubProtocolVersionTests.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiAddURLTests.cs
  src/Tools/dotnet-user-secrets/test/SecretManagerTests.cs
Labels: auto-merge

#18686 Add primary branch triggers to helix-test
  .azure/pipelines/helix-test.yml
Labels: area-infrastructure, auto-merge

#18674 Switch to Windows Server queues
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#18666 Test cleanup and fixes
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubConnectionTests.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubProtocolVersionTests.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
  src/SignalR/common/testassets/Tests.Utils/FunctionalTestBase.cs
  src/SignalR/common/testassets/Tests.Utils/InProcessTestServer.cs
  src/SignalR/server/SignalR/test/EndToEndTests.cs
  src/SignalR/server/SignalR/test/UserAgentHeaderTest.cs
  src/SignalR/server/SignalR/test/WebSocketsTransportTests.cs
  src/SignalR/server/StackExchangeRedis/test/RedisServerFixture.cs
Labels: area-signalr

#18703 Add build metadata to Helix Job
  eng/helix/helix.proj
  eng/targets/Helix.props
Labels: area-infrastructure

#18719 [Helix] Add more metadata
  eng/helix/helix.proj
Labels: area-infrastructure

#18615 Replace calls to get first span to using FirstSpan method
  src/Http/WebUtilities/src/FormPipeReader.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1ChunkedEncodingMessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpParser.cs
  src/Shared/ServerInfrastructure/BufferExtensions.cs
Labels: area-servers, area-signalr

#17663 Include the ExitCode in the error message
  .azure/pipelines/ci.yml
  src/Tools/Microsoft.dotnet-openapi/src/Commands/BaseCommand.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiAddFileTests.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiAddProjectTests.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiAddURLTests.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiRefreshTests.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiRemoveTests.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiTestBase.cs
Labels: area-commandlinetools, area-infrastructure
