Repository dotnet/aspnetcore, pull requests merged in 2020-06, with the labels that each got.

#22421 Skip some tests on Ubuntu 16
  src/Identity/test/Identity.Test/IdentityUIScriptsTest.cs
Labels: area-identity

#22410 Updating the issue template to get more detailed information
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: area-infrastructure

#22323 Add nullability to Localization
  eng/targets/CSharp.Common.targets
  eng/targets/ReferenceAssembly.targets
  src/Localization/Abstractions/ref/Microsoft.Extensions.Localization.Abstractions.csproj
  src/Localization/Abstractions/ref/Microsoft.Extensions.Localization.Abstractions.netcoreapp.cs
  src/Localization/Abstractions/ref/Microsoft.Extensions.Localization.Abstractions.netstandard2.0.cs
  src/Localization/Abstractions/src/LocalizedString.cs
  src/Localization/Abstractions/src/Microsoft.Extensions.Localization.Abstractions.csproj
  src/Localization/Localization/ref/Microsoft.Extensions.Localization.csproj
  src/Localization/Localization/ref/Microsoft.Extensions.Localization.netcoreapp.cs
  src/Localization/Localization/ref/Microsoft.Extensions.Localization.netstandard2.0.cs
  src/Localization/Localization/src/IResourceNamesCache.cs
  src/Localization/Localization/src/Internal/AssemblyWrapper.cs
  src/Localization/Localization/src/Internal/IResourceStringProvider.cs
  src/Localization/Localization/src/Internal/ResourceManagerStringLocalizerLoggerExtensions.cs
  src/Localization/Localization/src/Internal/ResourceManagerStringProvider.cs
  src/Localization/Localization/src/Microsoft.Extensions.Localization.csproj
  src/Localization/Localization/src/ResourceManagerStringLocalizer.cs
  src/Localization/Localization/src/ResourceManagerStringLocalizerFactory.cs
  src/Localization/Localization/src/ResourceNamesCache.cs
  src/Localization/Localization/src/Resources.resx
  src/Localization/Localization/test/Microsoft.Extensions.Localization.RootNamespace.Tests/Microsoft.Extensions.Localization.RootNamespace.Tests.csproj
  src/Localization/Localization/test/Microsoft.Extensions.Localization.Tests/Microsoft.Extensions.Localization.Tests.csproj
  src/Localization/Localization/test/Microsoft.Extensions.Localization.Tests/ResourceManagerStringLocalizerFactoryTest.cs
  src/Localization/Localization/test/Microsoft.Extensions.Localization.Tests/ResourceManagerStringLocalizerTest.cs
  src/Localization/Localization/test/Microsoft.Extensions.Localization.Tests/StringLocalizerOfTTest.cs
  src/Shared/Nullable/NullableAttributes.cs
Labels: api-ready-for-review, area-mvc

#22423 Switch priorities of Ubuntu 16.04 and 18.04 testing; add 20.04
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#22395 Provide an `$(OutputPath)` setting in helix.proj
  eng/helix/helix.proj
Labels: area-infrastructure

#22424 Quarantine flaky tests
  src/Analyzers/Internal.AspNetCore.Analyzers/test/PubternabilityAnalyzerTests.cs
  src/Components/test/E2ETest/Tests/ComponentRenderingTest.cs
Labels: auto-merge

#22426 Update branding to preview7
  eng/Versions.props
Labels: area-infrastructure

#22378 Add migrated projects to Razor.sln
  src/Razor/Razor.sln
Labels: area-mvc

#21299 Improve handling for shared values in Blazor Server
  src/Components/Blazor/Blazor/test/Rendering/RenderRegistryTest.cs
  src/Components/Components/src/BindConverter.cs
  src/Components/Web/src/Forms/InputNumber.cs
  src/Components/WebAssembly/WebAssembly/src/Rendering/RendererRegistry.cs
Labels: area-blazor

#22428 Correct build in aspnetcore-helix-matrix pipelines
  .azure/pipelines/helix-matrix.yml
Labels: area-infrastructure

#21731 Add JSON extension methods to request and response
  src/Http/Http.Extensions/ref/Directory.Build.props
  src/Http/Http.Extensions/ref/Microsoft.AspNetCore.Http.Extensions.csproj
  src/Http/Http.Extensions/ref/Microsoft.AspNetCore.Http.Extensions.netcoreapp.cs
  src/Http/Http.Extensions/src/HttpRequestExtensions.cs
  src/Http/Http.Extensions/src/HttpRequestJsonExtensions.cs
  src/Http/Http.Extensions/src/HttpResponseJsonExtensions.cs
  src/Http/Http.Extensions/src/JsonConstants.cs
  src/Http/Http.Extensions/src/JsonOptions.cs
  src/Http/Http.Extensions/src/Properties/AssemblyInfo.cs
  src/Http/Http.Extensions/test/HttpRequestExtensionsTests.cs
  src/Http/Http.Extensions/test/HttpRequestJsonExtensionsTests.cs
  src/Http/Http.Extensions/test/HttpResponseJsonExtensionsTests.cs
  src/Http/Http.Extensions/test/SendFileResponseExtensionsTests.cs
  src/Http/Http.Extensions/test/TestStream.cs
Labels: area-servers

#22430 Don't pack .version file in SiteExtensions pkg
  src/SiteExtensions/Runtime/Microsoft.AspNetCore.Runtime.SiteExtension.pkgproj
Labels: area-hosting

#22406 Add `SuccessfulTests` to ensure something runs in every non-Helix run
  docs/Helix.md
  eng/helix/content/RunTests/TestRunner.cs
  eng/targets/CSharp.Common.props
  src/Analyzers/Analyzers/test/Microsoft.AspNetCore.Analyzers.Test.csproj
  src/Components/Analyzers/test/Microsoft.AspNetCore.Components.Analyzers.Tests.csproj
  src/Components/Authorization/test/Microsoft.AspNetCore.Components.Authorization.Tests.csproj
  src/Components/Components/test/Microsoft.AspNetCore.Components.Tests.csproj
  src/Components/Forms/test/Microsoft.AspNetCore.Components.Forms.Tests.csproj
  src/Components/Web/test/Microsoft.AspNetCore.Components.Web.Tests.csproj
  src/Components/WebAssembly/Build/test/Microsoft.AspNetCore.Components.WebAssembly.Build.Tests.csproj
  src/Components/WebAssembly/Build/test/RuntimeDependenciesResolverTest.cs
  src/DataProtection/Extensions/test/Microsoft.AspNetCore.DataProtection.Extensions.Tests.csproj
  src/Hosting/Hosting/test/Microsoft.AspNetCore.Hosting.Tests.csproj
  src/Http/Http/test/BindingAddressTests.cs
  src/Identity/ApiAuthorization.IdentityServer/test/Microsoft.AspNetCore.ApiAuthorization.IdentityServer.Tests.csproj
  src/Identity/test/Identity.Test/Microsoft.AspNetCore.Identity.Test.csproj
  src/Middleware/Diagnostics.EntityFrameworkCore/test/FunctionalTests/Diagnostics.EFCore.FunctionalTests.csproj
  src/Middleware/NodeServices/test/Microsoft.AspNetCore.NodeServices.Tests.csproj
  src/Mvc/Mvc.Analyzers/test/Mvc.Analyzers.Test.csproj
  src/Mvc/Mvc.Api.Analyzers/test/Mvc.Api.Analyzers.Test.csproj
  src/ProjectTemplates/test/ProjectTemplates.Tests.csproj
  src/Security/Authentication/Negotiate/test/Negotiate.FunctionalTest/Microsoft.AspNetCore.Authentication.Negotiate.FunctionalTest.csproj
  src/Security/Authentication/Negotiate/test/Negotiate.Test/Microsoft.AspNetCore.Authentication.Negotiate.Test.csproj
  src/Security/Authentication/test/Microsoft.AspNetCore.Authentication.Test.csproj
  src/Servers/IIS/IIS/test/FunctionalTest.props
  src/Servers/Kestrel/Kestrel/test/Microsoft.AspNetCore.Server.Kestrel.Tests.csproj
  src/Servers/Kestrel/test/InMemory.FunctionalTests/InMemory.FunctionalTests.csproj
  src/Servers/Kestrel/test/Interop.FunctionalTests/Interop.FunctionalTests.csproj
  src/Servers/Kestrel/test/Libuv.BindTests/Libuv.BindTests.csproj
  src/Servers/Kestrel/test/Libuv.FunctionalTests/Libuv.FunctionalTests.csproj
  src/Servers/Kestrel/test/Sockets.BindTests/Sockets.BindTests.csproj
  src/Servers/Kestrel/test/Sockets.FunctionalTests/Sockets.FunctionalTests.csproj
  src/Shared/test/SkipOnHelixAttribute.cs
  src/Shared/test/SuccessfulTests.cs
  src/Tools/FirstRunCertGenerator/test/Microsoft.AspNetCore.DeveloperCertificates.XPlat.Tests.csproj
  src/Tools/Microsoft.dotnet-openapi/test/dotnet-microsoft.openapi.Tests.csproj
  src/Tools/dotnet-watch/test/dotnet-watch.Tests.csproj
Labels: area-infrastructure

#22474 Add IVT from Razor.Language to LanguageServerClient.Razor assembly
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Properties/AssemblyInfo.cs
Labels: area-mvc, auto-merge

#22475 Remove temp SDK on Helix
  eng/helix/content/runtests.sh
Labels: area-infrastructure, auto-merge

#22450 Quarantine flaky tests
  src/Razor/Microsoft.NET.Sdk.Razor/test/IntegrationTests/StaticWebAssetsIntegrationTest.cs
  src/Servers/Kestrel/test/FunctionalTests/RequestTests.cs
Labels: area-mvc, area-servers

#22445 Move all quarantined tests to the aspnetcore-quarantined-tests pipeline
  .azure/pipelines/ci.yml
  .azure/pipelines/quarantined-tests.yml
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorWasmTemplateTest.cs
Labels: area-infrastructure

#22452 Log message when connection reaches maximum concurrent streams
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/IKestrelTrace.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/Mocks/MockTrace.cs
  src/Servers/Kestrel/shared/test/CompositeKestrelTrace.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-servers

#22275 Add nullability to HtmlAbstractions
  src/Html/Abstractions/ref/Microsoft.AspNetCore.Html.Abstractions.csproj
  src/Html/Abstractions/ref/Microsoft.AspNetCore.Html.Abstractions.netcoreapp.cs
  src/Html/Abstractions/src/HtmlContentBuilder.cs
  src/Html/Abstractions/src/HtmlFormattableString.cs
  src/Html/Abstractions/src/HtmlString.cs
  src/Html/Abstractions/src/Microsoft.AspNetCore.Html.Abstractions.csproj
  src/Html/Abstractions/test/HtmlContentBuilderTest.cs
  src/Html/Abstractions/test/Microsoft.AspNetCore.Html.Abstractions.Tests.csproj
Labels: api-ready-for-review, area-mvc, auto-merge

#22483 Clarify summary for ValidateSecurityStamp
  src/Identity/Core/src/SignInManager.cs
Labels: area-identity

#22446 Minor tweaks for better Ignitor debugability
  src/Components/Ignitor/src/ComponentNode.cs
  src/Components/Ignitor/src/Node.cs
  src/Components/Ignitor/src/NodeSerializer.cs
Labels: area-blazor

#22164 Configure the page handler / controller instance as the container when validating top-level properties
  src/Mvc/Mvc.Core/ref/Microsoft.AspNetCore.Mvc.Core.netcoreapp.cs
  src/Mvc/Mvc.Core/src/Controllers/ControllerBinderDelegateProvider.cs
  src/Mvc/Mvc.Core/src/ModelBinding/ObjectModelValidator.cs
  src/Mvc/Mvc.Core/src/ModelBinding/ParameterBinder.cs
  src/Mvc/Mvc.Core/src/ModelBinding/Validation/ValidationVisitor.cs
  src/Mvc/Mvc.Core/src/Resources.resx
  src/Mvc/Mvc.Core/test/Controllers/ControllerBinderDelegateProviderTest.cs
  src/Mvc/Mvc.RazorPages/src/Infrastructure/PageBinderFactory.cs
  src/Mvc/Mvc.RazorPages/test/Infrastructure/PageBinderFactoryTest.cs
  src/Mvc/test/Mvc.FunctionalTests/BasicTests.cs
  src/Mvc/test/Mvc.FunctionalTests/RazorPagesWithBasePathTest.cs
  src/Mvc/test/WebSites/BasicWebSite/Controllers/BindPropertiesWithValidationController.cs
  src/Mvc/test/WebSites/RazorPagesWebSite/Pages/Validation/PageWithCompareValidation.cs
  src/Mvc/test/WebSites/RazorPagesWebSite/Pages/Validation/PageWithCompareValidation.cshtml
Labels: api-approved, area-mvc, auto-merge

#22479 Improve XML docs for ActionResultObjectValueAttribute
  src/Mvc/Mvc.Core/src/Infrastructure/ActionResultObjectValueAttribute.cs
Labels: area-mvc

#22362 Build time changes
  .azure/pipelines/ci.yml
  Directory.Build.props
  Directory.Build.targets
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/WebAssembly/Build/src/ReferenceBlazorBuildFromSource.props
  src/Servers/IIS/IIS/test/FunctionalTest.props
  src/Servers/IIS/IntegrationTesting.IIS/src/Microsoft.AspNetCore.Server.IntegrationTesting.IIS.csproj
  src/SignalR/clients/java/signalr/signalr.client.java.Tests.javaproj
  src/Tools/Microsoft.dotnet-openapi/test/dotnet-microsoft.openapi.Tests.csproj
  src/Tools/dotnet-watch/test/dotnet-watch.Tests.csproj
Labels: area-infrastructure

#22487 Fix nullable warning in IntegrationTestBase
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/IntegrationTestBase.cs
Labels: area-infrastructure, area-mvc

#22407 Update async Dispose and methods references
  src/Shared/RazorViews/BaseView.cs
Labels: area-mvc, auto-merge

#22419 Delete `StackTraceHelper` code that won't fire
  src/Shared/StackTrace/StackFrame/StackTraceHelper.cs
Labels: area-mvc

#22468 Attempt to capture binlogs when test times out
  src/Razor/Microsoft.NET.Sdk.Razor/test/IntegrationTests/MSBuildProcessManager.cs
Labels: area-mvc

#22391 Reuse model binders
  src/Mvc/Mvc.Core/src/ModelBinding/Binders/CancellationTokenModelBinderProvider.cs
  src/Mvc/Mvc.Core/src/ModelBinding/Binders/ServicesModelBinderProvider.cs
Labels: area-mvc

#22409 Fix comment typo
  src/Mvc/Mvc.Core/src/Routing/ConsumesMatcherPolicy.cs
Labels: area-mvc

#22429 Don't explicitly import Arcade SDK in AfterSigning.targets
  eng/AfterSigning.targets
Labels: area-infrastructure

#22448 Reduce Razor SDK copy retries
  src/Razor/Microsoft.NET.Sdk.Razor/src/Microsoft.NET.Sdk.Razor.csproj
Labels: area-mvc

#22521 Set executable bit on SetupNugetSources.sh
  eng/common/SetupNugetSources.sh
Labels: area-infrastructure

#22519 Don't pack duplicate deps.json files in SiteExtension package
  src/SiteExtensions/LoggingAggregate/src/Microsoft.AspNetCore.AzureAppServices.SiteExtension/Microsoft.AspNetCore.AzureAppServices.SiteExtension.csproj
Labels: area-hosting

#22444 Show logout button if logged in on logout
  src/Identity/UI/src/Areas/Identity/Pages/V3/Account/Logout.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Logout.cshtml
Labels: area-identity

#22524 Update blazor benchmarks to point to master
  src/Components/benchmarkapps/Wasm.Performance/benchmarks.compose.json
  src/Components/benchmarkapps/Wasm.Performance/dockerfile
Labels: area-blazor

#22553 Quarantined flaky RazorSDK tests
  .vscode/extensions.json
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/BuildIntegrationTest.cs
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/PublishIntegrationTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/test/IntegrationTests/BuildIntegrationTestLegacy.cs
Labels: auto-merge

#22437 Use default SslProtocols in Kestrel
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/HttpsConnectionAdapterOptions.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsTests.cs
Labels: area-servers, breaking-change, servers-kestrel

#22555 Move IsSpacingToken perf optimizations down to base class
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/CSharpCodeParser.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/HtmlMarkupParser.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/TokenizerBackedParser.cs
Labels: area-mvc, auto-merge

#21484 Optional client certificates sample
  src/Security/Authentication/Certificate/samples/Certificate.Optional.Sample/Certificate.Optional.Sample.csproj
  src/Security/Authentication/Certificate/samples/Certificate.Optional.Sample/Program.cs
  src/Security/Authentication/Certificate/samples/Certificate.Optional.Sample/Properties/launchSettings.json
  src/Security/Authentication/Certificate/samples/Certificate.Optional.Sample/README.md
  src/Security/Authentication/Certificate/samples/Certificate.Optional.Sample/Startup.cs
  src/Security/Authentication/Certificate/samples/Certificate.Optional.Sample/appsettings.json
  src/Security/Authentication/Certificate/src/CertificateAuthenticationHandler.cs
  src/Security/Authentication/Certificate/src/Events/CertificateAuthenticationEvents.cs
  src/Security/Authentication/Certificate/src/Events/CertificateChallengeContext.cs
  src/Security/Security.sln
Labels: area-security, auto-merge

#22557 Remove allocations by changing AsTask to GetAsTask
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
Labels: area-servers

#21847 Add certificate validation cache
  src/Http/Authentication.Abstractions/ref/Microsoft.AspNetCore.Authentication.Abstractions.netcoreapp.cs
  src/Http/Authentication.Abstractions/src/AuthenticateResult.cs
  src/Http/Authentication.Abstractions/src/AuthenticationProperties.cs
  src/Http/Authentication.Abstractions/src/AuthenticationTicket.cs
  src/Http/Authentication.Core/test/AuthenticationPropertiesTests.cs
  src/Http/Authentication.Core/test/AuthenticationTicketTests.cs
  src/Security/Authentication/Certificate/samples/Certificate.Sample/Startup.cs
  src/Security/Authentication/Certificate/src/CertificateAuthenticationExtensions.cs
  src/Security/Authentication/Certificate/src/CertificateAuthenticationHandler.cs
  src/Security/Authentication/Certificate/src/CertificateValidationCache.cs
  src/Security/Authentication/Certificate/src/CertificateValidationCacheOptions.cs
  src/Security/Authentication/Certificate/src/ICertificateValidationCache.cs
  src/Security/Authentication/Certificate/src/LoggingExtensions.cs
  src/Security/Authentication/Certificate/src/Microsoft.AspNetCore.Authentication.Certificate.csproj
  src/Security/Authentication/test/CertificateTests.cs
Labels: area-security

#22546 Remove unused parameter in control template for Deb installers
  src/Installers/Debian/tools/templates/debian/control
Labels: area-installers

#22466 Address PR feedback
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/targets/CSharp.Common.targets
Labels: area-infrastructure, auto-merge

#21805 Add a Mime Type for .exe and .dll files.
  src/Middleware/StaticFiles/src/FileExtensionContentTypeProvider.cs
Labels: area-middleware, auto-merge

#22605 Set PublishWindowsPdb for Razor tooling packages
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X/src/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X.csproj
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/src/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X.csproj
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/Microsoft.AspNetCore.Mvc.Razor.Extensions.csproj
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Microsoft.AspNetCore.Razor.Language.csproj
  src/Razor/Microsoft.CodeAnalysis.Razor/src/Microsoft.CodeAnalysis.Razor.csproj
Labels: area-mvc, auto-merge

#22480 Enable control flow guard for IIS dlls
  src/Servers/IIS/build/Build.Settings
Labels: area-servers

#22615 Fix null warnings
  src/Shared/Shared.sln
  src/Shared/StackTrace/StackFrame/ParameterDisplayInfo.cs
  src/Shared/StackTrace/StackFrame/StackFrameInfo.cs
  src/Shared/StackTrace/StackFrame/StackTraceHelper.cs
Labels: area-mvc

#22541 Add nullable to Auth.Abstractions, and Auth.Core
  src/Http/Authentication.Abstractions/ref/Microsoft.AspNetCore.Authentication.Abstractions.csproj
  src/Http/Authentication.Abstractions/ref/Microsoft.AspNetCore.Authentication.Abstractions.netcoreapp.cs
  src/Http/Authentication.Abstractions/src/AuthenticateResult.cs
  src/Http/Authentication.Abstractions/src/AuthenticationHttpContextExtensions.cs
  src/Http/Authentication.Abstractions/src/AuthenticationOptions.cs
  src/Http/Authentication.Abstractions/src/AuthenticationProperties.cs
  src/Http/Authentication.Abstractions/src/AuthenticationScheme.cs
  src/Http/Authentication.Abstractions/src/AuthenticationSchemeBuilder.cs
  src/Http/Authentication.Abstractions/src/AuthenticationTicket.cs
  src/Http/Authentication.Abstractions/src/AuthenticationToken.cs
  src/Http/Authentication.Abstractions/src/IAuthenticationHandler.cs
  src/Http/Authentication.Abstractions/src/IAuthenticationHandlerProvider.cs
  src/Http/Authentication.Abstractions/src/IAuthenticationSchemeProvider.cs
  src/Http/Authentication.Abstractions/src/IAuthenticationService.cs
  src/Http/Authentication.Abstractions/src/IAuthenticationSignInHandler.cs
  src/Http/Authentication.Abstractions/src/IAuthenticationSignOutHandler.cs
  src/Http/Authentication.Abstractions/src/Microsoft.AspNetCore.Authentication.Abstractions.csproj
  src/Http/Authentication.Abstractions/src/TokenExtensions.cs
  src/Http/Authentication.Core/ref/Microsoft.AspNetCore.Authentication.Core.csproj
  src/Http/Authentication.Core/ref/Microsoft.AspNetCore.Authentication.Core.netcoreapp.cs
  src/Http/Authentication.Core/src/AuthenticationHandlerProvider.cs
  src/Http/Authentication.Core/src/AuthenticationSchemeProvider.cs
  src/Http/Authentication.Core/src/AuthenticationService.cs
  src/Http/Authentication.Core/src/Microsoft.AspNetCore.Authentication.Core.csproj
  src/Http/Authentication.Core/test/AuthenticationPropertiesTests.cs
  src/Http/Authentication.Core/test/AuthenticationSchemeProviderTests.cs
  src/Http/Authentication.Core/test/AuthenticationServiceTests.cs
  src/Http/Authentication.Core/test/Microsoft.AspNetCore.Authentication.Core.Test.csproj
  src/Http/Authentication.Core/test/TokenExtensionTests.cs
Labels: area-servers, auto-merge

#22629 Run tools and test against the latest runtimes
  global.json
Labels: area-infrastructure

#22371 Typo in XML comments for AuthorizationMessageHandler
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/AuthorizationMessageHandler.cs
Labels: area-blazor

#22639 Remove aspnetcore-daily-dev-builds schedules
  .azure/pipelines/devBuilds.yml
Labels: area-infrastructure

#22580 Disable validation steps
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#22543 Add nullable to WebUtilities
  src/Http/WebUtilities/ref/Microsoft.AspNetCore.WebUtilities.csproj
  src/Http/WebUtilities/ref/Microsoft.AspNetCore.WebUtilities.netcoreapp.cs
  src/Http/WebUtilities/src/AspNetCoreTempDirectory.cs
  src/Http/WebUtilities/src/FileBufferingReadStream.cs
  src/Http/WebUtilities/src/FileBufferingWriteStream.cs
  src/Http/WebUtilities/src/FileMultipartSection.cs
  src/Http/WebUtilities/src/FormMultipartSection.cs
  src/Http/WebUtilities/src/FormPipeReader.cs
  src/Http/WebUtilities/src/FormReader.cs
  src/Http/WebUtilities/src/HttpRequestStreamReader.cs
  src/Http/WebUtilities/src/HttpResponseStreamWriter.cs
  src/Http/WebUtilities/src/Microsoft.AspNetCore.WebUtilities.csproj
  src/Http/WebUtilities/src/MultipartBoundary.cs
  src/Http/WebUtilities/src/MultipartReader.cs
  src/Http/WebUtilities/src/MultipartReaderStream.cs
  src/Http/WebUtilities/src/MultipartSection.cs
  src/Http/WebUtilities/src/MultipartSectionConverterExtensions.cs
  src/Http/WebUtilities/src/MultipartSectionStreamExtensions.cs
  src/Http/WebUtilities/src/PagedByteBuffer.cs
  src/Http/WebUtilities/src/QueryHelpers.cs
  src/Http/WebUtilities/src/ReasonPhrases.cs
  src/Http/WebUtilities/test/FileBufferingReadStreamTests.cs
  src/Http/WebUtilities/test/FileBufferingWriteStreamTests.cs
  src/Http/WebUtilities/test/FormPipeReaderTests.cs
  src/Http/WebUtilities/test/HttpRequestStreamReaderTest.cs
  src/Http/WebUtilities/test/HttpResponseStreamWriterTest.cs
  src/Http/WebUtilities/test/Microsoft.AspNetCore.WebUtilities.Tests.csproj
  src/Http/WebUtilities/test/MultipartReaderTests.cs
  src/Http/WebUtilities/test/QueryHelpersTests.cs
  src/Shared/Buffers.Testing/CustomMemoryForTest.cs
  src/Shared/Buffers.Testing/ReadOnlySequenceFactory.cs
  src/Shared/WebEncoders/WebEncoders.cs
Labels: area-mvc, auto-merge

#22486 Add explicit component governance build step
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#22611 Build native assets by default
  build.ps1
  eng/scripts/GenerateReferenceAssemblies.ps1
  src/Servers/IIS/build.cmd
  src/Servers/build.cmd
  src/SiteExtensions/build.cmd
Labels: area-infrastructure

#22665 Fixup warnings in test
  src/Http/Authentication.Core/test/AuthenticationPropertiesTests.cs
  src/Http/Authentication.Core/test/AuthenticationTicketTests.cs
Labels: area-servers, auto-merge

#22662 Quarantine flaky test
  src/Components/test/E2ETest/Tests/BootResourceCachingTest.cs
Labels: area-blazor

#22660 Stop boxing to compare the SyntaxKind enum during tokenization
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/LanguageCharacteristics.cs
Labels: area-mvc

#22598 Improve XML docs for ActionResultStatusCodeAttribute
  src/Mvc/Mvc.Core/src/Infrastructure/ActionResultStatusCodeAttribute.cs
Labels: area-mvc

#22393 Adding the detailed triage process
  docs/TriageProcess.md
Labels: area-infrastructure

#22016 [Java] Observe error to avoid crash
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/OkHttpWebSocketWrapper.java
Labels: area-signalr

#22678 Set the correct tfm in Wasm template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/template.json
Labels: area-mvc, auto-merge

#22181 Parsing extension-av on Set Cookie header
  src/Http/Headers/ref/Microsoft.Net.Http.Headers.netcoreapp.cs
  src/Http/Headers/src/SetCookieHeaderValue.cs
  src/Http/Headers/test/SetCookieHeaderValueTest.cs
Labels: api-suggestion, area-servers

#22681 Set the correct tfm in Wasm template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/template.json
Labels: Servicing-approved, area-mvc

#22685 Ship JSInterop.WebAssembly package
  src/Components/WebAssembly/JSInterop/src/Microsoft.JSInterop.WebAssembly.csproj
Labels: area-blazor, auto-merge

#22703 Disable Yarn warnings on CI builds for restore and Blazor WebAssembly projects
  eng/targets/CSharp.Common.props
  eng/targets/Npm.Common.targets
  src/Components/WebAssembly/Authentication.Msal/src/Microsoft.Authentication.WebAssembly.Msal.csproj
  src/Components/WebAssembly/WebAssembly.Authentication/src/Microsoft.AspNetCore.Components.WebAssembly.Authentication.csproj
  src/Middleware/NodeServices/src/Microsoft.AspNetCore.NodeServices.csproj
  src/Shared/E2ETesting/E2ETesting.targets
Labels: area-blazor

#22708 Make AuthenticateAsync return non-null result
  src/Http/Authentication.Abstractions/ref/Microsoft.AspNetCore.Authentication.Abstractions.netcoreapp.cs
  src/Http/Authentication.Abstractions/src/AuthenticationHttpContextExtensions.cs
  src/Http/Authentication.Abstractions/src/IAuthenticationService.cs
  src/Http/Authentication.Core/ref/Microsoft.AspNetCore.Authentication.Core.netcoreapp.cs
  src/Http/Authentication.Core/src/AuthenticationService.cs
Labels: area-servers, auto-merge

#22664 Unquarantine test that's not flaky anymore
  src/Servers/Kestrel/test/BindTests/AddressRegistrationTests.cs
Labels: area-servers

#22714 [5.0-preview6] Enable control flow guard for IIS dlls
  src/Servers/IIS/build/Build.Settings
Labels: area-servers

#22686 Expand the SyntaxTokenCache to contain more than just whitespace tokens.
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Syntax/InternalSyntax/SyntaxFactory.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Syntax/InternalSyntax/SyntaxTokenCache.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Syntax/InternalSyntax/WhitespaceTokenCache.cs
Labels: area-mvc

#22526 Build against the local JSInterop
  src/Components/Web.JS/Microsoft.AspNetCore.Components.Web.JS.npmproj
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/package.json
  src/Components/Web.JS/src/Boot.Server.ts
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/Web.JS/src/Rendering/ElementReferenceCapture.ts
  src/Components/Web.JS/yarn.lock
  src/JSInterop/Microsoft.JSInterop.JS/src/.gitignore
  src/JSInterop/Microsoft.JSInterop.JS/src/package.json
  src/JSInterop/Microsoft.JSInterop.JS/src/src/Microsoft.JSInterop.ts
Labels: area-blazor

#22609 [3.1] Enable control flow guard for IIS dlls
  src/Servers/IIS/build/Build.Settings
Labels: Servicing-approved, area-servers, tell-mode

#22088 [release/3.1] Fix path for PoliCheckExclusions.xml
  eng/sdl-tsa-vars.config
Labels: area-infrastructure, tell-mode

#22372 Produce non-stable version of targeting pack
  eng/Build.props
  src/Framework/App.Ref.Internal/src/Microsoft.AspNetCore.App.Ref.Internal.csproj
  src/Framework/App.Ref/src/Microsoft.AspNetCore.App.Ref.csproj
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Framework/App.Runtime/src/runtimeconfig.template.json
  src/Framework/test/Microsoft.AspNetCore.App.UnitTests.csproj
  src/Installers/Debian/Runtime/Debian.Runtime.debproj
  src/Installers/Debian/TargetingPack/Debian.TargetingPack.debproj
  src/Installers/Rpm/Rpm.Runtime.Common.targets
  src/Installers/Rpm/TargetingPack/Rpm.TargetingPack.rpmproj
  src/ProjectTemplates/ProjectTemplates.sln
  src/ProjectTemplates/test/Infrastructure/GenerateTestProps.targets
  src/ProjectTemplates/test/ProjectTemplates.Tests.csproj
  src/SiteExtensions/LoggingBranch/LB.csproj
  src/SiteExtensions/Runtime/Microsoft.AspNetCore.Runtime.SiteExtension.pkgproj
Labels: area-platform, tell-mode

#22739 Fix startvs.cmd for Components solution
  src/Components/startvs.cmd
Labels: area-blazor, auto-merge

#22734 Change debug information format
  src/Servers/IIS/AspNetCoreModuleV2/gtest/gtest.vcxproj
Labels: area-servers

#22738 No build native in site extension
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#22326 Add nullable to JSInterop
  src/JSInterop/Microsoft.JSInterop/ref/Microsoft.JSInterop.csproj
  src/JSInterop/Microsoft.JSInterop/ref/Microsoft.JSInterop.netcoreapp.cs
  src/JSInterop/Microsoft.JSInterop/ref/Microsoft.JSInterop.netstandard2.0.cs
  src/JSInterop/Microsoft.JSInterop/src/DotNetObjectReferenceOfT.cs
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/DotNetDispatcher.cs
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/DotNetInvocationResult.cs
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/DotNetObjectReferenceJsonConverterFactory.cs
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/TaskGenericsUtil.cs
  src/JSInterop/Microsoft.JSInterop/src/JSInProcessRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/JSInvokableAttribute.cs
  src/JSInterop/Microsoft.JSInterop/src/JSRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/Microsoft.JSInterop.csproj
  src/JSInterop/Microsoft.JSInterop/test/Infrastructure/DotNetDispatcherTest.cs
  src/JSInterop/Microsoft.JSInterop/test/Infrastructure/DotNetObjectReferenceJsonConverterTest.cs
  src/JSInterop/Microsoft.JSInterop/test/JSInProcessRuntimeTest.cs
  src/JSInterop/Microsoft.JSInterop/test/JSRuntimeTest.cs
  src/JSInterop/Microsoft.JSInterop/test/Microsoft.JSInterop.Tests.csproj
  src/JSInterop/Microsoft.JSInterop/test/TestJSRuntime.cs
Labels: api-approved, area-blazor, auto-merge

#22528 Enable Kestrel config reload in ConfigureWebHostDefaults
  src/DefaultBuilder/src/WebHost.cs
Labels: area-hosting, breaking-change

#22290 Remove PubTernal APIs
  src/Localization/Localization/ref/Microsoft.Extensions.Localization.netcoreapp.cs
  src/Localization/Localization/ref/Microsoft.Extensions.Localization.netstandard2.0.cs
  src/Localization/Localization/src/Internal/AssemblyWrapper.cs
  src/Localization/Localization/src/Internal/IResourceStringProvider.cs
  src/Localization/Localization/src/Internal/ResourceManagerStringProvider.cs
  src/Localization/Localization/src/ResourceManagerStringLocalizer.cs
  src/Localization/Localization/test/Microsoft.Extensions.Localization.Tests/ResourceManagerStringLocalizerTest.cs
Labels: api-approved, area-mvc

#22803 Quarantining CanDispatchAsyncWorkToSyncContext
  src/Components/test/E2ETest/ServerExecutionTests/ServerComponentRenderingTest.cs
  src/Components/test/E2ETest/Tests/ComponentRenderingTest.cs
Labels: area-blazor

#22618 Add support for listening to tcp handles to in the Sockets transport
  src/Servers/Kestrel/Transport.Sockets/src/SocketConnectionListener.cs
  src/Servers/Kestrel/test/FunctionalTests/ListenHandleTests.cs
  src/Servers/Kestrel/test/Sockets.BindTests/SocketTransportFactoryTests.cs
Labels: area-servers

#22802 Bump up the wasm template precedence
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/template.json
Labels: area-mvc

#22608 [2.1] Enable control flow guard for IIS dlls
  src/Servers/IIS/build/Build.Settings
Labels: * NO MERGE *, Servicing-approved, area-servers, tell-mode

#22806 Fixes NullRef exception in IIS in-proc
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocesshandler.cpp
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
  src/Servers/IIS/IIS/src/Core/IISHttpServer.cs
Labels: Servicing-approved, area-servers

#22756 Workaround for DomException when invoking cache.put
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Platform/WebAssemblyResourceLoader.ts
Labels: Servicing-approved, area-blazor

#22770 [Blazor] Register HttpClient as a scoped instance
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Program.cs
Labels: Servicing-approved, area-mvc

#22771 [Blazor] Fix manifest integrity computation
  src/Components/WebAssembly/Build/src/targets/ServiceWorkerAssetsManifest.targets
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/PwaManifestTests.cs
Labels: Servicing-approved, area-blazor

#22746 Ensure FileBufferingReadStream created by formatters are always disposed
  src/Mvc/Mvc.Formatters.Xml/src/XmlDataContractSerializerInputFormatter.cs
  src/Mvc/Mvc.Formatters.Xml/src/XmlSerializerInputFormatter.cs
  src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonInputFormatter.cs
Labels: Servicing-approved, area-mvc

#22838 Fix nullable build warning
  src/Http/Headers/test/SetCookieHeaderValueTest.cs
Labels: area-servers, auto-merge

#22684 Razor SDK build ordering issues
  eng/targets/CSharp.Common.props
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Razor/Microsoft.AspNetCore.Razor.Tools/src/Properties/AssemblyInfo.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/ApplicationPartDiscoveryIntegrationTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/Assert.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/BuildIncrementalismTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/BuildIntegrationTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/BuildIntrospectionTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/BuildPerformanceTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/BuildServerIntegrationTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/BuildServerTestFixture.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/BuildServerTestFixtureBase.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/BuildVariables.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/BuildWithComponents31IntegrationTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/BuildWithComponentsIntegrationTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/ConfigurationMetadataIntegrationTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/DesignTimeBuildIntegrationTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/FIleThumbPrint.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/InitializeTestProjectAttribute.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/LegacyBuildServerTestFixture.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/MSBuildIntegrationTestBase.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/MSBuildProcessKind.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/MSBuildProcessManager.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/MSBuildResult.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/Microsoft.NET.Sdk.Razor.IntegrationTests.csproj
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/MvcBuildIntegrationTest21.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/MvcBuildIntegrationTest31.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/MvcBuildIntegrationTestLegacy.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/PackIntegrationTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/ProjectDirectory.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/PublishIntegrationTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/RazorCompileIntegrationTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/RazorGenerateIntegrationTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/StaticWebAssetsIntegrationTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/xunit.runner.json
  src/Razor/Microsoft.NET.Sdk.Razor/src/Microsoft.NET.Sdk.Razor.csproj
  src/Razor/Microsoft.NET.Sdk.Razor/test/GenerateAspNetCoreStaticAssetsManifestTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/test/GenerateStaticWebAssetsPropsFileTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/test/Microsoft.NET.Sdk.Razor.Test.csproj
  src/Razor/Microsoft.NET.Sdk.Razor/test/StaticWebAssetsGeneratePackagePropsFileTest.cs
  src/Razor/Razor.sln
Labels: area-mvc, auto-merge

#22828 Bump up the wasm template precedence
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/template.json
Labels: Servicing-consider, area-mvc

#22279 Add nullability to antiforgery
  src/Antiforgery/ref/Directory.Build.props
  src/Antiforgery/ref/Microsoft.AspNetCore.Antiforgery.csproj
  src/Antiforgery/ref/Microsoft.AspNetCore.Antiforgery.netcoreapp.cs
  src/Antiforgery/src/AntiforgeryOptions.cs
  src/Antiforgery/src/AntiforgeryTokenSet.cs
  src/Antiforgery/src/AntiforgeryValidationException.cs
  src/Antiforgery/src/Internal/AntiforgeryFeature.cs
  src/Antiforgery/src/Internal/AntiforgeryLoggerExtensions.cs
  src/Antiforgery/src/Internal/AntiforgerySerializationContext.cs
  src/Antiforgery/src/Internal/AntiforgeryToken.cs
  src/Antiforgery/src/Internal/BinaryBlob.cs
  src/Antiforgery/src/Internal/DefaultAntiforgery.cs
  src/Antiforgery/src/Internal/DefaultAntiforgeryTokenGenerator.cs
  src/Antiforgery/src/Internal/DefaultAntiforgeryTokenSerializer.cs
  src/Antiforgery/src/Internal/DefaultAntiforgeryTokenStore.cs
  src/Antiforgery/src/Internal/DefaultClaimUidExtractor.cs
  src/Antiforgery/src/Internal/IAntiforgeryFeature.cs
  src/Antiforgery/src/Internal/IAntiforgeryTokenGenerator.cs
  src/Antiforgery/src/Internal/IAntiforgeryTokenStore.cs
  src/Antiforgery/src/Internal/IClaimUidExtractor.cs
  src/Antiforgery/src/Microsoft.AspNetCore.Antiforgery.csproj
  src/Antiforgery/test/AntiforgeryTokenTest.cs
  src/Antiforgery/test/BinaryBlobTest.cs
  src/Antiforgery/test/DefaultAntiforgeryTest.cs
  src/Antiforgery/test/DefaultAntiforgeryTokenGeneratorTest.cs
  src/Antiforgery/test/DefaultAntiforgeryTokenStoreTest.cs
  src/Antiforgery/test/DefaultClaimUidExtractorTest.cs
  src/Antiforgery/test/Microsoft.AspNetCore.Antiforgery.Test.csproj
Labels: api-approved, area-mvc, auto-merge

#22842 Set no-store in CookieAuthenticationHandler
  src/Hosting/Hosting/src/GenericHost/GenericWebHostedService.cs
  src/Hosting/Hosting/src/Internal/WebHost.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/src/MigrationsEndPointMiddleware.cs
  src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerMiddleware.cs
  src/Middleware/Diagnostics/test/UnitTests/ExceptionHandlerTest.cs
  src/Middleware/Session/src/SessionMiddleware.cs
  src/Security/Authentication/Cookies/src/CookieAuthenticationHandler.cs
  src/Security/Authentication/test/CookieTests.cs
  src/SignalR/common/Http.Connections/src/Internal/Transports/ServerSentEventsServerTransport.cs
  src/SignalR/common/Http.Connections/test/ServerSentEventsTests.cs
Labels: area-security

#22861 Fixup nullable
  src/Http/Headers/src/HeaderUtilities.cs
  src/Http/Headers/src/MediaTypeHeaderValue.cs
Labels: area-servers, auto-merge

#22857 Quarantining InputDateInteractsWithEditContext_NonNullableDateTime
  src/Components/test/E2ETest/Tests/FormsTest.cs
Labels: area-blazor

#22878 [Blazor] Unquarantine tests since they haven't failed in 30 days
  src/Components/test/E2ETest/ServerExecutionTests/ComponentHubReliabilityTest.cs
  src/Components/test/E2ETest/Tests/KeyTest.cs
Labels: area-blazor

#22876 Quarantine static web assets tests so we can capture more data for diagnostics
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/StaticWebAssetsIntegrationTest.cs
Labels: area-mvc

#22785 Add nullable annotations to Healthchecks
  src/HealthChecks/Abstractions/ref/Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions.csproj
  src/HealthChecks/Abstractions/ref/Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions.netcoreapp.cs
  src/HealthChecks/Abstractions/ref/Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions.netstandard2.0.cs
  src/HealthChecks/Abstractions/src/HealthCheckContext.cs
  src/HealthChecks/Abstractions/src/HealthCheckRegistration.cs
  src/HealthChecks/Abstractions/src/HealthCheckResult.cs
  src/HealthChecks/Abstractions/src/HealthReportEntry.cs
  src/HealthChecks/Abstractions/src/Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions.csproj
  src/HealthChecks/HealthChecks/ref/Microsoft.Extensions.Diagnostics.HealthChecks.csproj
  src/HealthChecks/HealthChecks/ref/Microsoft.Extensions.Diagnostics.HealthChecks.netcoreapp.cs
  src/HealthChecks/HealthChecks/ref/Microsoft.Extensions.Diagnostics.HealthChecks.netstandard2.0.cs
  src/HealthChecks/HealthChecks/src/DefaultHealthCheckService.cs
  src/HealthChecks/HealthChecks/src/DependencyInjection/HealthChecksBuilderAddCheckExtensions.cs
  src/HealthChecks/HealthChecks/src/DependencyInjection/HealthChecksBuilderDelegateExtensions.cs
  src/HealthChecks/HealthChecks/src/HealthCheckPublisherHostedService.cs
  src/HealthChecks/HealthChecks/src/HealthCheckPublisherOptions.cs
  src/HealthChecks/HealthChecks/src/HealthCheckService.cs
  src/HealthChecks/HealthChecks/src/Microsoft.Extensions.Diagnostics.HealthChecks.csproj
  src/HealthChecks/HealthChecks/test/DefaultHealthCheckServiceTest.cs
  src/HealthChecks/HealthChecks/test/HealthCheckPublisherHostedServiceTest.cs
  src/HealthChecks/HealthChecks/test/Microsoft.Extensions.Diagnostics.HealthChecks.Tests.csproj
  src/Shared/NonCapturingTimer/NonCapturingTimer.cs
  src/Shared/test/Shared.Tests/SingleThreadedSynchronizationContext.cs
Labels: api-ready-for-review, area-healthchecks, auto-merge

#22798 [3.1] Add latin1 support to IIS
  src/Servers/HttpSys/src/Microsoft.AspNetCore.Server.HttpSys.csproj
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContextOfT.cs
  src/Servers/IIS/IIS/src/Core/IISHttpServer.cs
  src/Servers/IIS/IIS/src/Microsoft.AspNetCore.Server.IIS.csproj
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/Latin1Tests.cs
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/IIS.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IIS.NewHandler.FunctionalTests/IIS.NewHandler.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IIS.NewShim.FunctionalTests/IIS.NewShim.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/IISExpress.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Program.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/HttpUtilities.cs
  src/Servers/Kestrel/Core/src/Microsoft.AspNetCore.Server.Kestrel.Core.csproj
  src/Shared/HttpSys/RequestProcessing/HeaderEncoding.cs
  src/Shared/HttpSys/RequestProcessing/NativeRequestContext.cs
  src/Shared/ServerInfrastructure/StringUtilities.cs
  src/Shared/test/Shared.Tests/Microsoft.AspNetCore.Shared.Tests.csproj
Labels: Servicing-consider, area-servers

#22887 Small memory allocation optimization in DefaultRazorTagHelperBinderPh…
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorTagHelperBinderPhase.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/DefaultRazorTagHelperBinderPhaseTest.cs
Labels: area-mvc

#22877 Dev/toddgrun/more perf optimizations
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/CSharpTokenizer.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/LineTrackingStringBuffer.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/TokenizerBackedParser.cs
Labels: area-mvc

#22856 Improve gRPC interop test failure logging
  src/Grpc/test/InteropTests/Helpers/ClientProcess.cs
  src/Grpc/test/InteropTests/Helpers/WebsiteProcess.cs
  src/Grpc/test/InteropTests/InteropTests.cs
  src/Grpc/test/testassets/InteropWebsite/Program.cs
Labels: area-grpc

#22129 updating signalr js package readme
  eng/PatchConfig.props
  src/SignalR/clients/ts/signalr/README.md
Labels: Servicing-approved, area-signalr

#22896 Make WebAssembly templates use the same version as the rest of the WASM product
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/Microsoft.AspNetCore.Components.WebAssembly.Templates.csproj
Labels: area-mvc, tell-mode

#22855 Update helix doc with current info
  docs/Helix.md
Labels: area-infrastructure

#22900 Show pass in quarantine runs unless build fails
  .azure/pipelines/quarantined-tests.yml
Labels: area-infrastructure

#22591 Add nullable to DataProtection
  src/DataProtection/Abstractions/ref/Microsoft.AspNetCore.DataProtection.Abstractions.csproj
  src/DataProtection/Abstractions/src/DataProtectionCommonExtensions.cs
  src/DataProtection/Abstractions/src/Error.cs
  src/DataProtection/Abstractions/src/Microsoft.AspNetCore.DataProtection.Abstractions.csproj
  src/DataProtection/Cryptography.Internal/ref/Microsoft.AspNetCore.Cryptography.Internal.csproj
  src/DataProtection/Cryptography.Internal/src/CryptoUtil.cs
  src/DataProtection/Cryptography.Internal/src/Microsoft.AspNetCore.Cryptography.Internal.csproj
  src/DataProtection/Cryptography.KeyDerivation/ref/Microsoft.AspNetCore.Cryptography.KeyDerivation.csproj
  src/DataProtection/Cryptography.KeyDerivation/src/Microsoft.AspNetCore.Cryptography.KeyDerivation.csproj
  src/DataProtection/DataProtection/ref/Microsoft.AspNetCore.DataProtection.csproj
  src/DataProtection/DataProtection/src/Microsoft.AspNetCore.DataProtection.csproj
  src/DataProtection/EntityFrameworkCore/src/DataProtectionKey.cs
  src/DataProtection/EntityFrameworkCore/src/EntityFrameworkCoreXmlRepository.cs
  src/DataProtection/EntityFrameworkCore/src/LoggingExtensions.cs
  src/DataProtection/EntityFrameworkCore/src/Microsoft.AspNetCore.DataProtection.EntityFrameworkCore.csproj
  src/DataProtection/Extensions/ref/Microsoft.AspNetCore.DataProtection.Extensions.csproj
  src/DataProtection/Extensions/src/DataProtectionProvider.cs
  src/DataProtection/Extensions/src/Microsoft.AspNetCore.DataProtection.Extensions.csproj
  src/DataProtection/Extensions/src/TimeLimitedDataProtector.cs
  src/DataProtection/StackExchangeRedis/src/Microsoft.AspNetCore.DataProtection.StackExchangeRedis.csproj
  src/Shared/WebEncoders/WebEncoders.cs
Labels: api-ready-for-review, area-dataprotection

#22836 Consolidate RazorSdkDirectory logic
  eng/targets/CSharp.Common.props
  eng/targets/GetRazorSDKDirectory.props
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorTemplates.Tests.csproj
  src/ProjectTemplates/BlazorTemplates.Tests/Infrastructure/TemplateTests.props.in
  src/ProjectTemplates/Shared/Project.cs
  src/ProjectTemplates/test/Infrastructure/TemplateTests.props.in
  src/ProjectTemplates/test/ProjectTemplates.Tests.csproj
Labels: area-mvc

#22858 Add detail to InvalidOperationException in Exception Handler Middleware
  src/Middleware/Diagnostics/src/Resources.resx
  src/Middleware/Diagnostics/test/UnitTests/ExceptionHandlerTest.cs
Labels: area-middleware

#22847 Use redirect helper
  src/Security/Authentication/Core/src/RemoteAuthenticationHandler.cs
  src/Security/Authentication/test/GoogleTests.cs
  src/Security/Authentication/test/OAuthTests.cs
  src/Security/Authentication/test/TwitterTests.cs
Labels: area-security

#22735 Add an option to configure the NewtonsoftJson buffer size
  src/Mvc/Mvc.NewtonsoftJson/src/MvcNewtonsoftJsonOptions.cs
  src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonInputFormatter.cs
Labels: api-approved, area-mvc, auto-merge

#22851 Unquarantine tests
  src/Servers/Kestrel/test/FunctionalTests/RequestTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ConnectionLimitTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTests.cs
Labels: area-servers

#22938 Fix xmldoc typo
  src/Components/WebAssembly/Server/src/WebAssemblyNetDebugProxyAppBuilderExtensions.cs
Labels: area-blazor

#22903 Get rid of LineTrackingStringBuffer class and instead use the line in…
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorSourceLineCollection.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/LineTrackingStringBuffer.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/ParserContext.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/SeekableTextReader.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/Legacy/LineTrackingStringBufferTest.cs
Labels: area-mvc

#22573 Update Async To MigrationsEndPointMiddleware
  src/Middleware/Diagnostics.EntityFrameworkCore/src/MigrationsEndPointMiddleware.cs
Labels: area-middleware

#21586 Change default for queryStringDelete
  src/Middleware/Rewrite/src/IISUrlRewrite/UrlRewriteFileParser.cs
  src/Middleware/Rewrite/src/UrlActions/RedirectAction.cs
  src/Middleware/Rewrite/test/IISUrlRewrite/MiddleWareTests.cs
Labels: area-middleware, breaking-change

#22565 Add HTTP/2 keep alive pings
  src/Servers/Kestrel/Core/ref/Microsoft.AspNetCore.Server.Kestrel.Core.netcoreapp.cs
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Http2Limits.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2KeepAlive.cs
  src/Servers/Kestrel/shared/test/TestConstants.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2KeepAliveTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
Labels: HTTP2, api-approved, area-servers

#22909 Build native assets just once per job on CI
  .azure/pipelines/ci.yml
  .azure/pipelines/helix-matrix.yml
  .azure/pipelines/quarantined-tests.yml
Labels: area-infrastructure

#22927 Annotate webencoders with nullable
  src/WebEncoders/ref/Microsoft.Extensions.WebEncoders.csproj
  src/WebEncoders/ref/Microsoft.Extensions.WebEncoders.netcoreapp.cs
  src/WebEncoders/ref/Microsoft.Extensions.WebEncoders.netstandard2.0.cs
  src/WebEncoders/src/Microsoft.Extensions.WebEncoders.csproj
  src/WebEncoders/src/WebEncoderOptions.cs
  src/WebEncoders/test/Microsoft.Extensions.WebEncoders.Tests.csproj
Labels: api-ready-for-review, area-mvc, auto-merge

#22086 Abort request when returning a completed FlushResult
  src/Servers/Kestrel/Core/src/Internal/Http/Http1Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpRequestPipeReader.cs
  src/Servers/Kestrel/Core/src/Internal/Http/IHttpOutputAborter.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.FeatureCollection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/PipeWriterHelpers/TimingPipeFlusher.cs
  src/Servers/Kestrel/Core/test/Http1ConnectionTests.cs
  src/Servers/Kestrel/Core/test/OutputProducerTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ChunkedRequestTests.cs
Labels: area-servers

#22981 Quarantine test
  src/Tools/dotnet-watch/test/MsBuildFileSetFactoryTest.cs
Labels: area-commandlinetools

#22884 Update how default auth policy is set in templates
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Startup.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Startup.cs
Labels: area-mvc

#22823 Annotate ObjectPool with nullable
  src/ObjectPool/ref/Microsoft.Extensions.ObjectPool.csproj
  src/ObjectPool/ref/Microsoft.Extensions.ObjectPool.netcoreapp.cs
  src/ObjectPool/ref/Microsoft.Extensions.ObjectPool.netstandard2.0.cs
  src/ObjectPool/src/DefaultObjectPool.cs
  src/ObjectPool/src/DisposableObjectPool.cs
  src/ObjectPool/src/IPooledObjectPolicy.cs
  src/ObjectPool/src/LeakTrackingObjectPool.cs
  src/ObjectPool/src/Microsoft.Extensions.ObjectPool.csproj
  src/ObjectPool/src/ObjectPool.cs
  src/ObjectPool/src/PooledObjectPolicy.cs
  src/ObjectPool/test/Microsoft.Extensions.ObjectPool.Tests.csproj
  src/ObjectPool/test/ThreadingTest.cs
Labels: api-ready-for-review, area-mvc, auto-merge

#22918 Fix helix-matrix tests
  src/Servers/Kestrel/test/FunctionalTests/ResponseTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/TestTransport/InMemoryHttpClientSlim.cs
  src/Testing/src/HttpClientSlim.cs
Labels: area-infrastructure

#22732 Cookie renew ticket if it already exists
  src/Security/Authentication/Cookies/src/CookieAuthenticationHandler.cs
Labels: area-security

#23013 Increase timeouts for full helix matrix runs
  .azure/pipelines/helix-matrix.yml
Labels: area-infrastructure

#23016 Quarantine failing E2E circuit test
  src/Components/test/E2ETest/ServerExecutionTests/CircuitGracefulTerminationTests.cs
Labels: area-blazor, auto-merge

#22766 Update PhoneNumberTokenProvider.cs
  src/Identity/Extensions.Core/src/AuthenticatorTokenProvider.cs
  src/Identity/Extensions.Core/src/EmailTokenProvider.cs
  src/Identity/Extensions.Core/src/IUserTwoFactorTokenProvider.cs
  src/Identity/Extensions.Core/src/PhoneNumberTokenProvider.cs
  src/Identity/Extensions.Core/src/TotpSecurityStampBasedTokenProvider.cs
Labels: area-identity

#22923 Turn off gRPC interop test console color logging
  src/Grpc/test/testassets/InteropClient/InteropClient.cs
  src/Grpc/test/testassets/InteropWebsite/Program.cs
Labels: area-grpc

#23000 BDN workaround for netcoreapp5.0->net5.0 moniker rebranding
  src/Shared/BenchmarkRunner/Program.cs
Labels: area-perf

#23023 Quarantined tests which were not running (skipped on Helix)
  src/Components/WebAssembly/Build/test/RuntimeDependenciesResolverTest.cs
  src/Hosting/Hosting/test/WebHostTests.cs
  src/ProjectTemplates/test/ByteOrderMarkTest.cs
  src/Servers/HttpSys/test/FunctionalTests/Listener/ServerTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/StartupTests.cs
  src/Servers/Kestrel/test/BindTests/AddressRegistrationTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/TlsTests.cs
Labels: area-infrastructure, auto-merge

#22898 Better retries
  eng/helix/content/Download.ps1
  eng/helix/content/InstallDotNet.ps1
  eng/helix/content/InstallJdk.ps1
  eng/helix/content/InstallNode.ps1
  eng/helix/content/mssql/InstallSqlServerLocalDB.ps1
  eng/helix/content/runtests.cmd
  eng/scripts/Download.ps1
  eng/scripts/InstallGoogleChrome.ps1
  eng/scripts/InstallJdk.ps1
  eng/scripts/InstallProcDump.ps1
Labels: area-infrastructure

#20537 Update .gitattributes to include jQuery files
  .gitattributes
Labels: area-infrastructure

#21015 Link to maintained identity provider
  src/Identity/README.md
Labels: area-identity

#23001 Add test for root domains not included in CORS subdomain wildcards
  src/Middleware/CORS/test/UnitTests/CorsPolicyBuilderTests.cs
Labels: area-middleware

#17051 Adding community identity providers to the /src/Identity/README.md
  src/Identity/README.md
Labels: area-identity

#23039 Fix #23038
  src/Http/Headers/src/HeaderUtilities.cs
Labels: area-servers

#23036 Move EventSource guidance
  docs/EventSourceAndCounters.md
Labels: area-infrastructure

#23044 Quarantine failing test in RequestTest.cs
  src/Servers/Kestrel/test/FunctionalTests/RequestTests.cs
Labels: area-servers, auto-merge

#22839 Enable Helix tests for Microsoft.AspNetCore.Mvc.Razor.Extensions.* projects.
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X/test/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X.Test.csproj
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/test/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X.Test.csproj
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/test/RazorPageDocumentClassifierPassTest.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/Microsoft.AspNetCore.Mvc.Razor.Extensions.Test.csproj
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/RazorPageDocumentClassifierPassTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Language/TestProject.cs
Labels: area-mvc

#23046 Fix path for artifacts in SignalR tests
  .azure/pipelines/signalr-daily-tests.yml
Labels: area-infrastructure, auto-merge

#23056 Remove tests from official builds
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#23052 Fix build issues in Blazor WASM template tests
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorTemplates.Tests.csproj
  src/ProjectTemplates/test/ProjectTemplates.Tests.csproj
Labels: area-blazor

#22859 Downgrade to HTTP/1.1 on older Windows versions
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Servers/Kestrel/test/FunctionalTests/Http2/HandshakeTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
Labels: area-servers

#23045 Johluo/targeting pack tests
  src/Framework/test/Microsoft.AspNetCore.App.UnitTests.csproj
  src/Framework/test/SharedFxTests.cs
  src/Framework/test/TargetingPackTests.cs
  src/Framework/test/TestData.cs
Labels: area-platform

#23091 Fix null reference errors in tests
  src/Antiforgery/test/DefaultAntiforgeryTokenStoreTest.cs
  src/HealthChecks/HealthChecks/test/DependencyInjection/ServiceCollectionExtensionsTest.cs
  src/Http/Http.Abstractions/test/MapPathMiddlewareTests.cs
  src/Http/Http.Abstractions/test/MapPredicateMiddlewareTests.cs
  src/Http/Http.Abstractions/test/UsePathBaseExtensionsTests.cs
  src/Http/Http.Abstractions/test/UseWhenExtensionsTests.cs
Labels: area-healthchecks, area-servers

#23029 Fix authorization setup in Razor pages template
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Startup.cs
Labels: area-mvc

#23062 Fix Kestrel HTTP/2 debug assert failure
  src/Servers/Kestrel/Core/src/Internal/Http/Http1ChunkedEncodingMessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1ContentLengthMessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3MessageBody.cs
Labels: area-servers
