Repository dotnet/aspnetcore, pull requests merged in 2020-08, with the labels that each got.

#24489 Improve crash/hang support in helix
  eng/helix/content/RunTests/TestRunner.cs
Labels: area-infrastructure

#24508 Update Blazor WebAssembly in-product survey link for .NET 5.
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/SurveyPrompt.razor
Labels: area-blazor

#24488 Remove unused HTML files
  src/Hosting/Hosting/src/compiler/resources/GenericError.html
  src/Hosting/Hosting/src/compiler/resources/GenericError_Exception.html
  src/Hosting/Hosting/src/compiler/resources/GenericError_Footer.html
  src/Hosting/Hosting/src/compiler/resources/GenericError_Message.html
Labels: area-hosting

#24493 Increase main Helix job timeout
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#24458 Dipping toes into linker friendliness
  src/Hosting/Hosting/src/GenericHost/GenericWebHostBuilder.cs
  src/Hosting/Hosting/src/GenericHost/HostingStartupWebHostBuilder.cs
  src/Hosting/Hosting/src/GenericHost/ISupportsStartup.cs
  src/Hosting/Hosting/src/Internal/StartupLinkerOptions.cs
  src/Hosting/Hosting/src/Internal/StartupLoader.cs
  src/Hosting/Hosting/src/WebHostBuilderExtensions.cs
  src/Hosting/Hosting/test/Fakes/GenericWebHostBuilderWrapper.cs
  src/Hosting/Hosting/test/WebHostBuilderTests.cs
  src/Hosting/Server.IntegrationTesting/src/ApplicationPublisher.cs
  src/Hosting/Server.IntegrationTesting/src/Common/DeploymentParameters.cs
  src/Hosting/test/FunctionalTests/LinkedApplicationTests.cs
  src/Hosting/test/testassets/BasicLinkedApp/BasicLinkedApp.csproj
  src/Hosting/test/testassets/BasicLinkedApp/Linker.xml
  src/Hosting/test/testassets/BasicLinkedApp/Program.cs
  src/Hosting/test/testassets/BasicLinkedApp/Startup.cs
  src/Http/Http.Abstractions/src/Extensions/UseMiddlewareExtensions.cs
  src/Servers/Connections.Abstractions/src/ConnectionBuilderExtensions.cs
  src/Servers/Connections.Abstractions/src/Microsoft.AspNetCore.Connections.Abstractions.csproj
  src/Shared/CodeAnalysis/DynamicallyAccessedMemberTypes.cs
  src/Shared/CodeAnalysis/DynamicallyAccessedMembersAttribute.cs
  src/SignalR/server/Core/src/SignalRConnectionBuilderExtensions.cs
  src/SignalR/server/SignalR/src/HubEndpointRouteBuilderExtensions.cs
Labels: area-hosting, area-servers, area-signalr

#24484 Optimize render tree building via RenderTreeFrameArrayBuilder
  src/Components/Components/src/ParameterView.cs
  src/Components/Components/src/RenderTree/RenderTreeDiffBuilder.cs
  src/Components/Components/src/RenderTree/RenderTreeFrame.cs
  src/Components/Components/src/RenderTree/RenderTreeFrameArrayBuilder.cs
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Components/src/Rendering/RenderTreeBuilder.cs
  src/Components/Components/src/Rendering/RenderTreeUpdater.cs
  src/Components/Shared/src/ArrayBuilder.cs
Labels: area-blazor

#24536 Cache parameter writer lookups
  src/Components/Components/src/Reflection/ComponentProperties.cs
Labels: area-blazor

#24450 Check completed task in circuit termination tests
  src/Components/test/E2ETest/ServerExecutionTests/CircuitGracefulTerminationTests.cs
Labels: area-blazor

#24469 Add console runner for measuring Blazor perf on desktop interpreter
  AspNetCore.sln
  src/Components/ComponentsNoDeps.slnf
  src/Components/benchmarkapps/Wasm.Performance/ConsoleHost/ConsoleHostRenderer.cs
  src/Components/benchmarkapps/Wasm.Performance/ConsoleHost/NullDispatcher.cs
  src/Components/benchmarkapps/Wasm.Performance/ConsoleHost/Program.cs
  src/Components/benchmarkapps/Wasm.Performance/ConsoleHost/Scenarios/ComponentRenderingScenarioBase.cs
  src/Components/benchmarkapps/Wasm.Performance/ConsoleHost/Scenarios/GridScenario.cs
  src/Components/benchmarkapps/Wasm.Performance/ConsoleHost/Wasm.Performance.ConsoleHost.csproj
  src/Components/benchmarkapps/Wasm.Performance/TestApp/BenchmarkEvent.cs
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Pages/GridRendering.razor
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Shared/ComplexTable/TableComponent.razor
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Shared/PlainTable/TableComponent.razor
Labels: area-blazor

#24507 Update Blazor Server survey link for .NET 5
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Shared/SurveyPrompt.razor
Labels: area-mvc

#24499 Implement CopyToAsync in the FileBufferingReadStream
  src/Http/WebUtilities/src/FileBufferingReadStream.cs
  src/Http/WebUtilities/test/FileBufferingReadStreamTests.cs
  src/Mvc/Mvc.Core/test/Formatters/JsonInputFormatterTestBase.cs
  src/Mvc/Mvc.Formatters.Xml/test/XmlDataContractSerializerInputFormatterTest.cs
  src/Mvc/Mvc.Formatters.Xml/test/XmlSerializerInputFormatterTest.cs
Labels: area-servers

#24546 Obsolete the ResponseCookiesFeature constructor
  src/Http/Http/src/Features/ResponseCookiesFeature.cs
Labels: api-ready-for-review, area-servers

#24545 Turn off full GC
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
Labels: Servicing-approved, area-blazor, ask-mode

#24179 Virtualization support
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/Web.JS/src/Virtualize.ts
  src/Components/Web/src/Virtualization/IVirtualizeJsCallbacks.cs
  src/Components/Web/src/Virtualization/ItemsProviderDelegate.cs
  src/Components/Web/src/Virtualization/ItemsProviderRequest.cs
  src/Components/Web/src/Virtualization/ItemsProviderResult.cs
  src/Components/Web/src/Virtualization/PlaceholderContext.cs
  src/Components/Web/src/Virtualization/Virtualize.cs
  src/Components/Web/src/Virtualization/VirtualizeJsInterop.cs
  src/Components/Web/test/Virtualization/VirtualizeTest.cs
  src/Components/test/E2ETest/Tests/VirtualizationTest.cs
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/VirtualizationComponent.razor
  src/Components/test/testassets/BasicTestApp/_Imports.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/_Imports.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/_Imports.razor
Labels: api-approved, area-blazor

#24137 Add delay before showing Reconnection UI
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/src/Platform/Circuits/DefaultReconnectDisplay.ts
  src/Components/Web.JS/tests/DefaultReconnectDisplay.test.ts
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/wwwroot/css/site.css
Labels: area-blazor, auto-merge, community-contribution

#21567 Keep `@(Reference)` metadata when creating `@(ProjectReference)` items
  AspNetCore.sln
  eng/CodeGen.proj
  eng/ProjectReferences.props
  eng/targets/CSharp.Common.props
  eng/targets/ResolveReferences.targets
  eng/tools/RepoTasks/DownloadFile.cs
  src/Components/WebAssembly/DevServer/src/Microsoft.AspNetCore.Components.WebAssembly.DevServer.csproj
  src/Components/WebAssembly/Sdk/integrationtests/Microsoft.NET.Sdk.BlazorWebAssembly.IntegrationTests.csproj
  src/Components/WebAssembly/Sdk/src/Microsoft.NET.Sdk.BlazorWebAssembly.csproj
  src/DefaultBuilder/src/Microsoft.AspNetCore.csproj
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorTemplates.Tests.csproj
  src/ProjectTemplates/test/ProjectTemplates.Tests.csproj
  src/Razor/Microsoft.AspNetCore.Razor.Tools/src/rzc.csproj
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/BuildServerIntegrationTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/Microsoft.NET.Sdk.Razor.IntegrationTests.csproj
  src/Razor/Microsoft.NET.Sdk.Razor/src/Microsoft.NET.Sdk.Razor.csproj
  src/Razor/Razor.slnf
  src/Razor/tools/Microsoft.Aspnetcore.Razor.Internal.Transport/Microsoft.AspNetCore.Razor.Internal.Transport.csproj
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/IISExpress.FunctionalTests.csproj
  src/SiteExtensions/LoggingAggregate/test/Microsoft.AspNetCore.AzureAppServices.SiteExtension.Tests/Microsoft.AspNetCore.AzureAppServices.SiteExtension.Tests.csproj
  src/SiteExtensions/Microsoft.Web.Xdt.Extensions/tests/Microsoft.Web.Xdt.Extensions.Tests.csproj
  src/SiteExtensions/Runtime/Microsoft.AspNetCore.Runtime.SiteExtension.pkgproj
  src/Tools/Extensions.ApiDescription.Client/test/Microsoft.Extensions.ApiDescription.Client.Tests.csproj
  src/Tools/Extensions.ApiDescription.Server/src/Microsoft.Extensions.ApiDescription.Server.csproj
  src/Tools/Extensions.ApiDescription.Server/src/Microsoft.Extensions.ApiDescription.Server.nuspec
  src/Tools/GetDocumentInsider/src/GetDocument.Insider.csproj
  src/Tools/Tools.slnf
Labels: area-infrastructure

#24553 Fix some linker warnings, report others
  src/Hosting/Abstractions/src/HostingAbstractionsWebHostBuilderExtensions.cs
  src/Hosting/Abstractions/src/HostingStartupAttribute.cs
  src/Hosting/Hosting/src/GenericHost/GenericWebHostBuilder.cs
  src/Hosting/Hosting/src/Internal/StartupLoader.cs
  src/Hosting/Server.IntegrationTesting/src/ApplicationPublisher.cs
  src/Hosting/Server.IntegrationTesting/src/Common/DeploymentParameters.cs
  src/Hosting/test/FunctionalTests/LinkedApplicationTests.cs
Labels: area-hosting

#24551 Razor TagHelperDescriptor Hashing
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptorComparer.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeParameterDescriptorComparer.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/DirectiveDescriptorComparer.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/DirectiveTokenDescriptorComparer.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Microsoft.AspNetCore.Razor.Language.csproj
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/RequiredAttributeDescriptorComparer.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptorComparer.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/TagMatchingRuleDescriptorComparer.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/Microsoft.AspNetCore.Razor.Language.Test.csproj
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TagHelperDescriptorComparerTest.cs
  src/Razor/Microsoft.AspNetCore.Razor.Tools/src/DiscoverCommand.cs
  src/Razor/Microsoft.AspNetCore.Razor.Tools/src/GenerateCommand.cs
  src/Razor/Microsoft.AspNetCore.Razor.Tools/src/rzc.csproj
  src/Razor/perf/Microsoft.AspNetCore.Razor.Performance/Microsoft.AspNetCore.Razor.Performance.csproj
  src/Razor/perf/Microsoft.AspNetCore.Razor.Performance/RazorTagHelperParsingBenchmark.cs
  src/Shared/RazorShared/JsonReaderExtensions.cs
  src/Shared/RazorShared/RazorDiagnosticJsonConverter.cs
  src/Shared/RazorShared/TagHelperDescriptorJsonConverter.cs
  src/Shared/RazorShared/taghelpers.json
Labels: area-mvc, auto-merge

#24571 Add nullable annotations to M.A.Hosting and DefaultBuilder
  src/DefaultBuilder/src/GenericHostBuilderExtensions.cs
  src/DefaultBuilder/src/Microsoft.AspNetCore.csproj
  src/DefaultBuilder/src/WebHost.cs
  src/Hosting/Hosting/src/Builder/ApplicationBuilderFactory.cs
  src/Hosting/Hosting/src/Http/DefaultHttpContextFactory.cs
  src/Hosting/Hosting/src/Microsoft.AspNetCore.Hosting.csproj
  src/Hosting/Hosting/src/Server/Features/ServerAddressesFeature.cs
  src/Hosting/Hosting/src/Startup/DelegateStartup.cs
  src/Hosting/Hosting/src/StaticWebAssets/StaticWebAssetsLoader.cs
  src/Hosting/Hosting/src/WebHostBuilder.cs
  src/Hosting/Hosting/src/WebHostBuilderExtensions.cs
  src/Hosting/Hosting/src/WebHostExtensions.cs
  src/Hosting/Server.Abstractions/src/IHostContextContainer.cs
  src/Hosting/Server.Abstractions/src/IHttpApplication.cs
  src/Hosting/Server.Abstractions/src/IServer.cs
  src/Hosting/Server.Abstractions/src/IServerIntegratedAuth.cs
  src/Hosting/Server.Abstractions/src/Microsoft.AspNetCore.Hosting.Server.Abstractions.csproj
  src/Hosting/Server.Abstractions/src/ServerIntegratedAuth.cs
  src/Hosting/build.cmd
Labels: area-hosting, auto-merge

#24566 Move reconnection delay mechanism into framework code
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/src/Platform/Circuits/DefaultReconnectDisplay.ts
  src/Components/Web.JS/tests/DefaultReconnectDisplay.test.ts
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/wwwroot/css/site.css
Labels: area-blazor

#24561 Speed up multiple attributes overwrite detection. Fixes #24467
  src/Components/Components/src/Rendering/RenderTreeBuilder.cs
  src/Components/Components/src/Rendering/SimplifiedStringHashComparer.cs
  src/Components/Components/test/Rendering/SimplifiedStringHashComparerTest.cs
Labels: area-blazor

#24576 Fix:ControllerLinkGeneratorExtensions.GetAmbientValues throws NullReferenceException
  src/Mvc/Mvc.Core/src/Routing/ControllerLinkGeneratorExtensions.cs
Labels: area-mvc

#24589 Remove Blazor internal profiling infrastructure (#24468)
  src/Components/Components/src/Microsoft.AspNetCore.Components.csproj
  src/Components/Components/src/Profiling/ComponentsProfiling.cs
  src/Components/Components/src/Profiling/NoOpComponentsProfiling.cs
  src/Components/Components/src/Profiling/WebAssemblyComponentsProfiling.cs
  src/Components/Components/src/RenderTree/RenderTreeDiffBuilder.cs
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Components/src/Rendering/ComponentState.cs
  src/Components/Components/src/Rendering/RenderTreeBuilder.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Boot.Server.ts
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/Web.JS/src/Platform/Profiling.ts
  src/Components/Web.JS/src/Rendering/BrowserRenderer.ts
  src/Components/WebAssembly/JSInterop/src/InternalCalls.cs
  src/Components/WebAssembly/JSInterop/src/Microsoft.JSInterop.WebAssembly.csproj
Labels: Servicing-approved, area-blazor

#24597 Add additional constructor to HealthReport
  src/HealthChecks/Abstractions/src/HealthReport.cs
Labels: api-approved, area-healthchecks, auto-merge

#24585 Update path after dupe fix
  eng/sdl-tsa-vars.config
Labels: area-infrastructure

#24279 [Kestrel] Move to GenericHost
  src/Servers/Kestrel/perf/Kestrel.Performance/InMemoryTransportBenchmark.cs
  src/Servers/Kestrel/samples/Http2SampleApp/Program.cs
  src/Servers/Kestrel/samples/LargeResponseApp/Startup.cs
  src/Servers/Kestrel/samples/PlaintextApp/Startup.cs
  src/Servers/Kestrel/samples/QuicSampleApp/Program.cs
  src/Servers/Kestrel/samples/SampleApp/Startup.cs
  src/Servers/Kestrel/samples/SystemdTestApp/Startup.cs
  src/Servers/Kestrel/shared/test/TransportTestHelpers/TestServer.cs
  src/Servers/Kestrel/test/BindTests/AddressRegistrationTests.cs
  src/Servers/Kestrel/test/FunctionalTests/ConnectionMiddlewareTests.cs
  src/Servers/Kestrel/test/FunctionalTests/Http2/HandshakeTests.cs
  src/Servers/Kestrel/test/FunctionalTests/Http2/ShutdownTests.cs
  src/Servers/Kestrel/test/FunctionalTests/ListenHandleTests.cs
  src/Servers/Kestrel/test/FunctionalTests/MaxRequestBufferSizeTests.cs
  src/Servers/Kestrel/test/FunctionalTests/RequestTests.cs
  src/Servers/Kestrel/test/FunctionalTests/ResponseTests.cs
  src/Servers/Kestrel/test/FunctionalTests/UnixDomainSocketsTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/BadHttpRequestTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ChunkedRequestTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/DefaultHeaderTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/EventSourceTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/TlsTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/KeepAliveTimeoutTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/MaxRequestBodySizeTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestBodyTimeoutTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestHeaderLimitsTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestHeadersTimeoutTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTargetProcessingTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/TestTransport/TestServer.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/ChromeTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/H2SpecTests.cs
  src/Servers/Kestrel/test/Libuv.FunctionalTests/TransportSelector.cs
  src/Servers/Kestrel/test/Sockets.FunctionalTests/TransportSelector.cs
Labels: area-servers, auto-merge

#24495 Upgrade Gradle used for the SignalR Java client from 6.1 to 6.5
  src/SignalR/clients/java/signalr/gradle/wrapper/gradle-wrapper.properties
Labels: area-signalr

#24607 Added connection logs
  src/Hosting/test/testassets/BasicLinkedApp/Program.cs
Labels: area-hosting

#24497 Update documentation for IRequestCookieCollection
  src/Http/Http.Features/src/IRequestCookieCollection.cs
Labels: area-servers

#24609 Actually fix the CopyToAsync this time
  src/Http/WebUtilities/src/FileBufferingReadStream.cs
  src/Http/WebUtilities/test/FileBufferingReadStreamTests.cs
Labels: area-servers

#24120 IIS HTTP/2 Response Trailers
  AspNetCore.sln
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/managedexports.cpp
  src/Servers/IIS/IIS/src/Core/IISHttpContext.FeatureCollection.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.Features.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.IO.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
  src/Servers/IIS/IIS/src/NativeMethods.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/FixtureLoggedTest.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/ResponseTrailersTests.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
  src/Servers/IIS/tools/RemoveRedirectConfig.ps1
Labels: area-servers

#24603 Quarantine CanInfluenceHeadDuringPrerender
  src/Components/test/E2ETest/ServerExecutionTests/PrerenderingTest.cs
Labels: area-blazor, auto-merge

#24624 Fixed flaky test 'CanInfluenceHeadDuringPrerender'.
  src/Components/test/E2ETest/ServerExecutionTests/PrerenderingTest.cs
  src/Components/test/testassets/BasicTestApp/PrerenderedHeadComponent.razor
Labels: area-blazor

#24574 Add a middleware for browser refresh.
  AspNetCore.sln
  Directory.Build.targets
  THIRD-PARTY-NOTICES.txt
  eng/ProjectReferences.props
  eng/Workarounds.targets
  src/Tools/Tools.slnf
  src/Tools/dotnet-watch/BrowserRefresh/src/BrowserRefreshMiddleware.cs
  src/Tools/dotnet-watch/BrowserRefresh/src/HostingFilter.cs
  src/Tools/dotnet-watch/BrowserRefresh/src/Microsoft.AspNetCore.Watch.BrowserRefresh.csproj
  src/Tools/dotnet-watch/BrowserRefresh/src/ResponseStreamWrapper.cs
  src/Tools/dotnet-watch/BrowserRefresh/src/StartupHook.cs
  src/Tools/dotnet-watch/BrowserRefresh/src/WebSocketScriptInjection.cs
  src/Tools/dotnet-watch/BrowserRefresh/src/WebSocketScriptInjection.js
  src/Tools/dotnet-watch/BrowserRefresh/test/BrowserRefreshMiddlewareTest.cs
  src/Tools/dotnet-watch/BrowserRefresh/test/Microsoft.AspNetCore.Watch.BrowserRefresh.Tests.csproj
  src/Tools/dotnet-watch/BrowserRefresh/test/ResponseStreamWrapperTest.cs
  src/Tools/dotnet-watch/BrowserRefresh/test/WebSockerScriptInjectionTest.cs
  src/Tools/dotnet-watch/BrowserRefresh/test/wwwroot/favicon.ico
  src/Tools/dotnet-watch/BrowserRefresh/test/wwwroot/index.html
  src/Tools/dotnet-watch/BrowserRefresh/test/wwwroot/largefile.html
  src/Tools/dotnet-watch/README.md
  src/Tools/dotnet-watch/src/BrowserRefreshServer.cs
  src/Tools/dotnet-watch/src/LaunchBrowserFilter.cs
  src/Tools/dotnet-watch/src/dotnet-watch.csproj
  src/Tools/dotnet-watch/test/dotnet-watch.Tests.csproj
Labels: Servicing-approved, area-commandlinetools, ask-mode

#24600 Add workaround for deprecated overload in authentication scenarios
  src/ProjectTemplates/Web.ProjectTemplates/BlazorServerWeb-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/ComponentsWebAssembly-CSharp.Server.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/Microsoft.DotNet.Web.ProjectTemplates.csproj
  src/ProjectTemplates/Web.ProjectTemplates/RazorPagesWeb-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/StarterWeb-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/WebApi-CSharp.csproj.in
Labels: Servicing-approved, area-mvc, ask-mode

#24650 Throw if a component produces an invalid render tree. Fixes #24579
  src/Components/Components/src/Rendering/ComponentState.cs
  src/Components/Components/src/Rendering/RenderTreeBuilder.cs
  src/Components/Components/test/RendererTest.cs
  src/Components/Components/test/Rendering/RenderTreeBuilderTest.cs
Labels: area-blazor, blazor-wasm

#24552 Add reset support for IIS
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/managedexports.cpp
  src/Servers/IIS/IIS/src/Core/IISHttpContext.FeatureCollection.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.Features.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContextOfT.cs
  src/Servers/IIS/IIS/src/NativeMethods.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/ResetTests.cs
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/IIS.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IIS.NewHandler.FunctionalTests/IIS.NewHandler.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IIS.NewShim.FunctionalTests/IIS.NewShim.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/IISExpress.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
  src/Servers/IIS/IISIntegration.slnf
Labels: area-servers

#24652 stop using RuntimeInformation.IsOSPlatform(OSPlatform.Browser) (removed in upcoming builds)
  src/Components/Components/src/PlatformInfo.cs
  src/Components/Web.Extensions/src/ProtectedBrowserStorage/ProtectedBrowserStorage.cs
  src/Components/WebAssembly/WebAssembly/src/Services/LazyAssemblyLoader.cs
Labels: area-blazor, auto-merge

#24682 Use IgnoreStandardErrorWarningFormat more extensively in Npm.Common.targets
  eng/targets/Npm.Common.props
  eng/targets/Npm.Common.targets
Labels: area-infrastructure

#24691 Quarantine falky test ServerEventTest.EventDuringBatchRendering_CanTriggerDOMEvents
  src/Components/test/E2ETest/ServerExecutionTests/ServerEventTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/ServerGlobalizationTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/TestSubclasses.cs
  src/Components/test/E2ETest/Tests/EventTest.cs
  src/Components/test/E2ETest/Tests/GlobalizationTest.cs
  src/Shared/E2ETesting/E2ETestOptions.cs
Labels: area-blazor, auto-merge

#24683 Use preview queues for internal build
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#24660 Use HasFlag in ForwardedheadersMiddleware
  src/Middleware/HttpOverrides/src/ForwardedHeadersMiddleware.cs
Labels: area-middleware, auto-merge

#24727 Make the default route constraints linkable
  src/Http/Routing/src/ParameterPolicyActivator.cs
  src/Http/Routing/src/RouteOptions.cs
Labels: area-servers, linker-friendliness

#24728 Update ReferenceEqualityComparer.cs
  src/Mvc/Mvc.Core/src/ModelBinding/ReferenceEqualityComparer.cs
Labels: area-mvc

#24707 Add guard check for cleared closest DOM element
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Rendering/BrowserRenderer.ts
  src/Components/test/E2ETest/Tests/ComponentRenderingTest.cs
  src/Components/test/testassets/BasicTestApp/ContentEditable.razor
  src/Components/test/testassets/BasicTestApp/FormsTest/EditableText.razor
  src/Components/test/testassets/BasicTestApp/Index.razor
Labels: area-blazor, auto-merge

#24748 Remove LinkerWorkaround.xml
  src/Components/WebAssembly/Sdk/src/targets/LinkerWorkaround.xml
  src/Components/WebAssembly/Sdk/src/targets/Microsoft.NET.Sdk.BlazorWebAssembly.Current.targets
  src/Razor/Microsoft.NET.Sdk.Razor/src/build/netstandard2.0/LinkerWorkaround.xml
  src/Razor/Microsoft.NET.Sdk.Razor/src/build/netstandard2.0/Microsoft.NET.Sdk.Razor.Components.Wasm.targets
Labels: area-mvc, auto-merge

#24685 Update test runner to 2.4.3
  eng/SharedFramework.External.props
  eng/Versions.props
  src/Framework/test/TestData.cs
  src/Hosting/TestHost/src/Microsoft.AspNetCore.TestHost.csproj
  src/Http/Http.Features/src/Microsoft.AspNetCore.Http.Features.csproj
  src/Http/WebUtilities/src/Microsoft.AspNetCore.WebUtilities.csproj
  src/ProjectTemplates/test/WorkerTemplateTest.cs
  src/Servers/Connections.Abstractions/src/Microsoft.AspNetCore.Connections.Abstractions.csproj
  src/Servers/IIS/IIS/src/Core/IISHttpContextOfT.cs
  src/Servers/IIS/IIS/src/Microsoft.AspNetCore.Server.IIS.csproj
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/ClientDisconnectTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/ResetTests.cs
  src/Servers/IIS/IISIntegration/src/Microsoft.AspNetCore.Server.IISIntegration.csproj
  src/Shared/test/Shared.Tests/Microsoft.AspNetCore.Shared.Tests.csproj
Labels: area-infrastructure, auto-merge

#24708 Make authentication linker friendly
  src/Http/Authentication.Abstractions/src/AuthenticationOptions.cs
  src/Http/Authentication.Abstractions/src/AuthenticationScheme.cs
  src/Http/Authentication.Abstractions/src/AuthenticationSchemeBuilder.cs
  src/Security/Authentication/Core/src/AuthenticationBuilder.cs
  src/Security/Authentication/OAuth/src/OAuthExtensions.cs
Labels: area-security, linker-friendliness

#24696 Clean up some usage of SHA1 and SHA256 in the code base
  src/Antiforgery/src/Internal/AntiforgeryOptionsSetup.cs
  src/Antiforgery/src/Internal/AntiforgerySerializationContext.cs
  src/Antiforgery/src/Internal/CryptographyAlgorithms.cs
  src/Antiforgery/src/Internal/DefaultClaimUidExtractor.cs
  src/Middleware/WebSockets/src/HandshakeHelpers.cs
  src/Mvc/Mvc.Razor/src/Infrastructure/CryptographyAlgorithms.cs
  src/Mvc/Mvc.Razor/src/Infrastructure/DefaultFileVersionProvider.cs
  src/Mvc/Mvc.TagHelpers/src/Cache/CacheTagKey.cs
  src/Security/Authentication/MicrosoftAccount/src/MicrosoftAccountHandler.cs
  src/Security/Authentication/OAuth/src/OAuthHandler.cs
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectHandler.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionManager.cs
  src/Tools/Microsoft.dotnet-openapi/src/Commands/BaseCommand.cs
Labels: area-security

#24712 Increase HTTP/2 stream pool max size to 100
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
Labels: HTTP2, Perf, area-servers

#24757 Quarantine tests
  src/Components/test/E2ETest/Tests/BindTest.cs
  src/Components/test/E2ETest/Tests/KeyTest.cs
  src/Hosting/test/FunctionalTests/LinkedApplicationTests.cs
  src/Servers/HttpSys/test/FunctionalTests/ServerTests.cs
  src/Servers/Kestrel/test/FunctionalTests/ConnectionMiddlewareTests.cs
Labels: auto-merge

#24644 Reset KeepAliveTimeout on HTTP/2 ping
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TimeoutTests.cs
Labels: area-servers

#24693 Remove Internal.AspNetCore.Analyzers
  Directory.Build.props
  src/Analyzers/Internal.AspNetCore.Analyzers/src/Internal.AspNetCore.Analyzers.csproj
  src/Analyzers/Internal.AspNetCore.Analyzers/src/PubternalityAnalyzer.cs
  src/Analyzers/Internal.AspNetCore.Analyzers/src/PubturnalityDescriptors.cs
  src/Analyzers/Internal.AspNetCore.Analyzers/test/Internal.AspNetCore.Analyzers.Tests.csproj
  src/Analyzers/Internal.AspNetCore.Analyzers/test/PubternabilityAnalyzerTests.cs
  src/Components/WebAssembly/Sdk/tools/Microsoft.NET.Sdk.BlazorWebAssembly.Tools.csproj
  src/Framework/Directory.Build.props
  src/Installers/Debian/Directory.Build.props
  src/Razor/Microsoft.NET.Sdk.Razor/src/Microsoft.NET.Sdk.Razor.csproj
  src/Tools/Directory.Build.props
Labels: area-infrastructure, auto-merge

#22380 Grab some binary logs
  .azure/pipelines/ci.yml
  eng/Signing.props
Labels: area-infrastructure, auto-merge

#24777 Fix fetch of package version in eng/Publishing.props
  eng/Publishing.props
  src/Tools/FirstRunCertGenerator/src/Microsoft.AspNetCore.DeveloperCertificates.XPlat.csproj
Labels: area-infrastructure

#24371 Use BlazorWebAssemblySDK
  eng/targets/CSharp.Common.props
  src/Components/Directory.Build.targets
  src/Components/WebAssembly/Sdk/integrationtests/WasmPublishIntegrationTest.cs
  src/Components/WebAssembly/Sdk/src/build/net5.0/Microsoft.NET.Sdk.BlazorWebAssembly.props
  src/Components/WebAssembly/Sdk/src/build/net5.0/Microsoft.NET.Sdk.BlazorWebAssembly.targets
  src/Components/WebAssembly/Sdk/src/targets/Microsoft.NET.Sdk.BlazorWebAssembly.Current.props
  src/Components/WebAssembly/Sdk/src/targets/Microsoft.NET.Sdk.BlazorWebAssembly.Current.targets
  src/Components/WebAssembly/Sdk/testassets/blazorwasm-minimal/blazorwasm-minimal.csproj
  src/Components/WebAssembly/Sdk/testassets/blazorwasm/blazorwasm.csproj
  src/Components/WebAssembly/testassets/HostedInAspNet.Client/HostedInAspNet.Client.csproj
  src/Components/WebAssembly/testassets/StandaloneApp/StandaloneApp.csproj
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Wasm.Authentication.Client.csproj
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Wasm.Performance.TestApp.csproj
  src/Components/test/testassets/BasicTestApp/BasicTestApp.csproj
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorTemplates.Tests.csproj
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorWasmTemplateTest.cs
  src/ProjectTemplates/BlazorTemplates.Tests/Infrastructure/Directory.Build.props.in
  src/ProjectTemplates/BlazorTemplates.Tests/Infrastructure/TemplateTests.props.in
  src/ProjectTemplates/Web.ProjectTemplates/ComponentsWebAssembly-CSharp.Client.csproj.in
  src/ProjectTemplates/test/Infrastructure/TemplateTests.props.in
  src/ProjectTemplates/test/ProjectTemplates.Tests.csproj
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/Microsoft.NET.Sdk.Razor.IntegrationTests.csproj
  src/Razor/Microsoft.NET.Sdk.Razor/src/AssetsManifestFile.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/BlazorReadSatelliteAssemblyFile.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/BlazorWriteSatelliteAssemblyFile.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/BootJsonData.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/BrotliCompress.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/CreateBlazorTrimmerRootDescriptorFile.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/GZipCompress.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/GenerateBlazorWebAssemblyBootJson.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/GenerateServiceWorkerAssetsManifest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/build/netstandard2.0/Microsoft.NET.Sdk.Razor.Components.ServiceWorkerAssetsManifest.targets
  src/Razor/Microsoft.NET.Sdk.Razor/src/build/netstandard2.0/Microsoft.NET.Sdk.Razor.Components.Wasm.targets
  src/Razor/Microsoft.NET.Sdk.Razor/src/build/netstandard2.0/Microsoft.NET.Sdk.Razor.ScopedCss.targets
  src/Razor/Microsoft.NET.Sdk.Razor/src/build/netstandard2.0/Sdk.Razor.CurrentVersion.targets
  src/Razor/Microsoft.NET.Sdk.Razor/test/BlazorReadSatelliteAssemblyFileTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/test/GenerateBlazorBootJsonTest.cs
  src/Razor/test/testassets/RestoreTestProjects/RestoreTestProjects.csproj
Labels: area-blazor, auto-merge

#24780 Support linking with IHubFilter
  src/SignalR/server/Core/src/HubOptionsExtensions.cs
  src/SignalR/server/Core/src/Internal/HubFilterFactory.cs
Labels: area-signalr, linker-friendliness

#24786 Update DefaultHealthCheckService.cs
  src/HealthChecks/HealthChecks/src/DefaultHealthCheckService.cs
Labels: area-healthchecks

#24771 Fix invalid Build command
  docs/BuildFromSource.md
Labels: area-infrastructure, auto-merge

#24804 Fix flaky keepalive ping test
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TimeoutTests.cs
Labels: area-servers, auto-merge

#24817 Include the DebugProxy binaries in DevServer
  src/Components/WebAssembly/DevServer/src/Microsoft.AspNetCore.Components.WebAssembly.DevServer.csproj
  src/Components/WebAssembly/Server/src/Microsoft.AspNetCore.Components.WebAssembly.Server.csproj
Labels: Servicing-approved, area-blazor

#24286 Kestrel SNI from config
  src/Http/Routing/src/Matching/HostMatcherPolicy.cs
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/HttpsConnectionAdapterOptions.cs
  src/Servers/Kestrel/Core/src/Internal/Certificates/CertificateConfigLoader.cs
  src/Servers/Kestrel/Core/src/Internal/Certificates/ICertificateConfigLoader.cs
  src/Servers/Kestrel/Core/src/Internal/ConfigurationReader.cs
  src/Servers/Kestrel/Core/src/Internal/HttpProtocolsFeature.cs
  src/Servers/Kestrel/Core/src/Internal/LoggerExtensions.cs
  src/Servers/Kestrel/Core/src/Internal/SniOptionsSelector.cs
  src/Servers/Kestrel/Core/src/KestrelConfigurationLoader.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Servers/Kestrel/Core/src/ListenOptionsHttpsExtensions.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpConnectionMiddleware.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Servers/Kestrel/Core/test/KestrelServerOptionsTests.cs
  src/Servers/Kestrel/Core/test/KestrelServerTests.cs
  src/Servers/Kestrel/Core/test/SniOptionsSelectorTests.cs
  src/Servers/Kestrel/Kestrel/test/ConfigurationReaderTests.cs
  src/Servers/Kestrel/Kestrel/test/KestrelConfigurationLoaderTests.cs
  src/Servers/Kestrel/samples/SampleApp/appsettings.Production.json
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
Labels: area-servers

#24709 Update branding to 3.1.8
  Directory.Build.props
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  src/Http/Http.Extensions/src/SendFileResponseExtensions.cs
  src/Http/Http.Extensions/test/Microsoft.AspNetCore.Http.Extensions.Tests.csproj
  src/Http/Http.Extensions/test/SendFileResponseExtensionsTests.cs
  src/Http/Http.Extensions/test/testfile1kb.txt
  src/Middleware/StaticFiles/src/StaticFileContext.cs
  src/Middleware/StaticFiles/test/UnitTests/StaticFileContextTest.cs
  src/Servers/HttpSys/test/FunctionalTests/ResponseSendFileTests.cs
  src/Servers/IIS/IIS/src/Core/IO/WebSocketsAsyncIOEngine.Read.cs
  src/Servers/IIS/IIS/src/Core/IO/WebSocketsAsyncIOEngine.Write.cs
  src/Servers/IIS/IIS/src/Core/IO/WebSocketsAsyncIOEngine.cs
  src/Servers/Kestrel/shared/test/TransportTestHelpers/HostNameIsReachableAttribute.cs
Labels: area-infrastructure, tell-mode

#24684 Add tests for navigate on form submit
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/Rendering/BrowserRenderer.ts
  src/Components/Web.JS/src/Rendering/EventDelegator.ts
  src/Components/Web.JS/src/Rendering/Renderer.ts
  src/Components/test/E2ETest/Tests/FormsTest.cs
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/NavigateOnSubmit.razor
Labels: area-blazor

#24714 Add gRPC standard headers to known headers
  src/Http/Headers/src/HeaderNames.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.Generated.cs
  src/Servers/Kestrel/shared/KnownHeaders.cs
Labels: api-approved, area-servers

#24849 Cherry pick preview8 changes into master
  src/Http/Http.Extensions/src/SendFileResponseExtensions.cs
  src/Http/Http.Extensions/test/Microsoft.AspNetCore.Http.Extensions.Tests.csproj
  src/Http/Http.Extensions/test/SendFileResponseExtensionsTests.cs
  src/Http/Http.Extensions/test/testfile1kb.txt
  src/Middleware/StaticFiles/src/StaticFileContext.cs
  src/Middleware/StaticFiles/test/UnitTests/StaticFileContextTest.cs
  src/Servers/HttpSys/test/FunctionalTests/ResponseSendFileTests.cs
Labels: auto-merge

#24767 Remove unused HTTP/2 streams from pool
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2StreamStack.cs
  src/Servers/Kestrel/Core/test/Http2StreamStackTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-servers

#24853 Quarantine InputRadioGroupsWithNamesNestedInteractWithEditContext
  src/Components/test/E2ETest/Tests/FormsTest.cs
Labels: area-blazor, auto-merge

#24855 Fix GeneratedCodeTests and trailing whitespace
  src/Servers/Kestrel/Kestrel/test/GeneratedCodeTests.cs
Labels: area-servers

#24726 Improve HTTP/2 headers enumerator performance
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2HeaderEnumerator.cs
  src/Servers/Kestrel/Core/test/Http2HeadersEnumeratorTests.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/Http2HeadersEnumeratorBenchmark.cs
Labels: area-servers

#24824 Fix gRPC interop tests
  src/Grpc/test/InteropTests/InteropTests.csproj
  src/Grpc/test/testassets/InteropClient/InteropClient.cs
  src/Grpc/test/testassets/InteropClient/Program.cs
  src/Grpc/test/testassets/InteropWebsite/Program.cs
  src/Grpc/test/testassets/InteropWebsite/Startup.cs
  src/Shared/Process/ProcessEx.cs
Labels: area-grpc

#24828 HTTP2: Track at least 100 closed streams
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-servers

#24800 Add UnsupportedOSPlatformAttribute to ProtectedBrowserStorage APIs
  src/Components/Web.Extensions/src/ProtectedBrowserStorage/ProtectedBrowserStorage.cs
  src/Components/Web.Extensions/src/ProtectedBrowserStorage/ProtectedLocalStorage.cs
  src/Components/Web.Extensions/src/ProtectedBrowserStorage/ProtectedSessionStorage.cs
Labels: api-ready-for-review, area-blazor

#23695 Remove 'absolute' from documentation of Action
  src/Mvc/Mvc.Core/src/UrlHelperExtensions.cs
Labels: area-mvc, community-contribution

#24866 Allow ".dll" extensions in BlazorWebAssemblyLazyLoad MSBuild task.
  src/Components/WebAssembly/Sdk/integrationtests/WasmBuildLazyLoadTest.cs
  src/Components/WebAssembly/Sdk/src/GenerateBlazorWebAssemblyBootJson.cs
  src/Components/test/testassets/BasicTestApp/BasicTestApp.csproj
Labels: area-blazor, community-contribution

#24389 [3.1] Remove cookie name decoding
  src/Http/Http/ref/Microsoft.AspNetCore.Http.Manual.cs
  src/Http/Http/src/Internal/RequestCookieCollection.cs
  src/Http/Http/test/RequestCookiesCollectionTests.cs
Labels: Servicing-approved, area-servers

#24264 [2.1] Remove cookie name decoding
  eng/PatchConfig.props
  src/Http/Http/src/Internal/RequestCookieCollection.cs
  src/Http/Http/src/Properties/AssemblyInfo.cs
  src/Http/Http/test/RequestCookiesCollectionTests.cs
Labels: area-servers

#24860 Reset failed access count on successful login with remembered TFA
  src/Identity/Core/src/SignInManager.cs
  src/Identity/Identity.slnf
  src/Identity/test/Identity.Test/SignInManagerTest.cs
Labels: area-identity

#24587 Update path after dupe fix
  eng/sdl-tsa-vars.config
Labels: area-infrastructure, tell-mode

#24592 Disconnect circuit on `beforeunload` event and fix display
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/src/Boot.Server.ts
  src/Components/Web.JS/src/Platform/Circuits/DefaultReconnectDisplay.ts
  src/Components/Web.JS/tests/DefaultReconnectDisplay.test.ts
Labels: Servicing-approved, area-blazor, ask-mode

#24226 Quarantining ReceivingMessagesPreventsConnectionTimeoutFromOccuring
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-signalr

#24842 Make AddComponentReferenceCapture delegate non-null
  src/Components/Components/src/RenderTree/RenderTreeFrameArrayBuilder.cs
  src/Components/Components/src/Rendering/RenderTreeBuilder.cs
  src/Components/Samples/BlazorServerApp/BlazorServerApp.csproj
  src/Components/Samples/BlazorServerApp/Data/WeatherForecast.cs
  src/Components/Samples/BlazorServerApp/Pages/FetchData.razor
  src/Components/Samples/BlazorServerApp/Shared/NavMenu.razor
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
Labels: area-blazor

#24704 Fix test that fails on machine using en-GB
  src/SignalR/common/SignalR.Common/test/Internal/Protocol/JsonHubProtocolTestsBase.cs
Labels: area-signalr

#24837 Fix warnings in analyzer packages
  Directory.Build.props
  src/Components/Analyzers/src/ComponentFacts.cs
  src/Components/Analyzers/src/ComponentInternalUsageDiagnosticAnalzyer.cs
  src/Components/Analyzers/src/ComponentParameterAnalyzer.cs
  src/Components/Analyzers/src/ComponentParameterUsageAnalyzer.cs
  src/Components/Analyzers/src/InternalUsageAnalyzer.cs
  src/Mvc/Mvc.Analyzers/src/CodeAnalysisExtensions.cs
  src/Mvc/Mvc.Analyzers/src/MvcFacts.cs
  src/Mvc/Mvc.Analyzers/src/TagHelpersInCodeBlocksAnalyzer.cs
  src/Mvc/Mvc.Analyzers/src/TopLevelParameterNameAnalyzer.cs
  src/Mvc/Mvc.Analyzers/src/ViewFeatureAnalyzerBase.cs
  src/Mvc/Mvc.Analyzers/src/ViewFeaturesAnalyzerContext.cs
  src/Mvc/Mvc.Api.Analyzers/src/ActualApiResponseMetadataFactory.cs
  src/Mvc/Mvc.Api.Analyzers/src/AddResponseTypeAttributeCodeFixAction.cs
  src/Mvc/Mvc.Api.Analyzers/src/ApiActionsDoNotRequireExplicitModelValidationCheckAnalyzer.cs
Labels: area-mvc, community-contribution

#24858 3.1: Reset KeepAliveTimeout on HTTP/2 ping
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TimeoutTests.cs
Labels: Servicing-approved, area-servers

#24636 Add MapInboundClaims top level sugar for JwtBearerOptions
  src/Security/Authentication/JwtBearer/src/JwtBearerOptions.cs
  src/Security/Authentication/OpenIdConnect/samples/OpenIdConnectSample/Startup.cs
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectOptions.cs
  src/Security/Authentication/test/JwtBearerTests.cs
  src/Security/Authentication/test/OpenIdConnect/OpenIdConnectTests.cs
Labels: area-security, auto-merge

#24886 Update exception handling condition in WsFederationHandler
  src/Security/Authentication/WsFederation/src/WsFederationHandler.cs
Labels: area-security, auto-merge

#24884 Remove ANCM shim and outofprocess handler from Runtime SiteExtension
  src/SiteExtensions/Runtime/Microsoft.AspNetCore.Runtime.SiteExtension.pkgproj
  src/SiteExtensions/Runtime/applicationHost.xdt
Labels: area-hosting

#24730 Fast path for validating static table HTTP/2 headers
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Servers/Kestrel/Core/src/Microsoft.AspNetCore.Server.Kestrel.Core.csproj
  src/Servers/Kestrel/perf/Kestrel.Performance/Http2ConnectionBenchmarkBase.cs
  src/Servers/Kestrel/shared/KnownHeaders.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Servers/Kestrel/tools/CodeGenerator/CodeGenerator.csproj
  src/Servers/Kestrel/tools/CodeGenerator/Program.cs
  src/Shared/Http2cat/Http2Utilities.cs
  src/Shared/runtime/Http2/Hpack/HPackDecoder.cs
  src/Shared/test/Shared.Tests/runtime/Http2/HPackDecoderTest.cs
Labels: area-servers

#24843 Backport [Java] Observe error to avoid crash (#22016)
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/OkHttpWebSocketWrapper.java
Labels: Servicing-approved, area-signalr

#24881 Increase timeout of Windows test job
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#24862 Fix "registration is not supported" never displayed
  src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticatorViewCore.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/RemoteAuthenticatorCoreTests.cs
Labels: area-blazor, community-contribution

#24686 Fix OnCompleted and implement CompleteAsync
  src/Servers/IIS/IIS/src/Core/IISHttpContext.FeatureCollection.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.IO.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContextOfT.cs
  src/Servers/IIS/IIS/src/Core/IO/AsyncIOEngine.cs
  src/Servers/IIS/IIS/src/Core/IO/IAsyncIOEngine.cs
  src/Servers/IIS/IIS/src/Core/IO/WebSocketsAsyncIOEngine.cs
  src/Servers/IIS/IIS/src/Core/OutputProducer.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/ResetTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/ResponseBodyTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/ResponseTrailersTests.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
Labels: area-servers

#24918 HTTP2: Fix known header type not reset for multi-value headers
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2HeaderEnumerator.cs
  src/Servers/Kestrel/Core/test/Http2HeadersEnumeratorTests.cs
Labels: area-servers

#24894 Align scope used by client and server in blazor wasm template
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Controllers/WeatherForecastController.cs
Labels: Servicing-approved, area-mvc

#24926 Support more IAsyncEnumerable types in SignalR
  src/SignalR/common/Shared/ReflectionHelper.cs
  src/SignalR/server/SignalR/test/Internal/ReflectionHelperTests.cs
Labels: area-signalr

#24846 Skip dotnet watch tests on Windows ARM
  src/Tools/dotnet-watch/test/DotNetWatcherTests.cs
  src/Tools/dotnet-watch/test/NoDepsAppTests.cs
Labels: area-commandlinetools

#24924 Quarantine `CanUseViewportAsContainer` test
  src/Components/test/E2ETest/Tests/VirtualizationTest.cs
Labels: area-blazor

#23175 Inline second statemachine into loop and us EC.Restore to reset context
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
Labels: area-servers, blocked

#24588 Convert DatabaseErrorPage to exception filter
  src/Identity/ApiAuthorization.IdentityServer/samples/ApiAuthSample/Startup.cs
  src/Identity/samples/IdentitySample.DefaultUI/Startup.cs
  src/Identity/samples/IdentitySample.Mvc/Startup.cs
  src/Identity/testassets/Identity.DefaultUI.WebSite/NoIdentityStartup.cs
  src/Identity/testassets/Identity.DefaultUI.WebSite/StartupBase.cs
  src/Identity/testassets/Identity.DefaultUI.WebSite/StartupWithoutEndpointRouting.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/src/DatabaseContextDetails.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/src/DatabaseDeveloperPageExceptionFilter.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/src/DatabaseDeveloperPageExceptionFilterServiceExtensions.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/src/DatabaseErrorPageExtensions.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/src/DatabaseErrorPageMiddleware.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/src/DiagnosticsEntityFrameworkCoreLoggerExtensions.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/src/HttpContextDatabaseContextDetailsExtensions.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/src/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.csproj
  src/Middleware/Diagnostics.EntityFrameworkCore/src/MigrationsEndPointMiddleware.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/src/Strings.resx
  src/Middleware/Diagnostics.EntityFrameworkCore/src/Views/DatabaseErrorPage.Designer.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/src/Views/DatabaseErrorPage.cshtml
  src/Middleware/Diagnostics.EntityFrameworkCore/src/Views/DatabaseErrorPageModel.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/test/FunctionalTests/DatabaseErrorPageMiddlewareTest.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/test/FunctionalTests/MigrationsEndPointMiddlewareTest.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/test/UnitTests/DatabaseErrorPageTest.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/test/UnitTests/Helpers/AssertHelpers.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/test/UnitTests/Helpers/StringHelpers.cs
  src/Middleware/Diagnostics/test/testassets/DatabaseErrorPageSample/Startup.cs
  src/Middleware/tools/RazorPageGenerator/Program.cs
  src/Middleware/tools/RazorPageGenerator/RazorPageGenerator.csproj
  src/Middleware/tools/RazorPageGenerator/RazorPageGeneratorResults.cs
  src/MusicStore/samples/MusicStore/ForTesting/Mocks/StartupOpenIdConnectTesting.cs
  src/MusicStore/samples/MusicStore/ForTesting/Mocks/StartupSocialTesting.cs
  src/MusicStore/samples/MusicStore/Startup.cs
  src/MusicStore/samples/MusicStore/StartupNtlmAuthentication.cs
  src/MusicStore/samples/MusicStore/StartupOpenIdConnect.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Startup.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Startup.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Startup.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Startup.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/Startup.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/Startup.cs
  src/Security/samples/Identity.ExternalClaims/Startup.cs
Labels: api-suggestion, area-middleware

#24934 Minimal changes to support certificate chain-preloading at startup
  src/Servers/Kestrel/Core/src/Internal/SniOptionsSelector.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Servers/Kestrel/Core/test/SniOptionsSelectorTests.cs
Labels: area-servers

#24754 General cleanup in IIS
  src/Servers/IIS/IIS/src/Core/IISHttpContext.FeatureCollection.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.IO.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContextOfT.cs
  src/Servers/IIS/IIS/src/Core/IISHttpServer.cs
  src/Servers/IIS/IIS/src/Core/IISNativeApplication.cs
  src/Servers/IIS/IIS/src/Core/IO/AsyncIOEngine.Flush.cs
  src/Servers/IIS/IIS/src/Core/IO/AsyncIOEngine.Read.cs
  src/Servers/IIS/IIS/src/Core/IO/AsyncIOEngine.Write.cs
  src/Servers/IIS/IIS/src/Core/IO/AsyncIOEngine.cs
  src/Servers/IIS/IIS/src/Core/IO/AsyncWriteOperationBase.cs
  src/Servers/IIS/IIS/src/Core/IO/WebSocketsAsyncIOEngine.Initialize.cs
  src/Servers/IIS/IIS/src/Core/IO/WebSocketsAsyncIOEngine.Read.cs
  src/Servers/IIS/IIS/src/Core/IO/WebSocketsAsyncIOEngine.Write.cs
  src/Servers/IIS/IIS/src/Core/IO/WebSocketsAsyncIOEngine.cs
  src/Servers/IIS/IIS/src/Core/NativeSafeHandle.cs
  src/Servers/IIS/IIS/src/NativeMethods.cs
  src/Servers/IIS/IIS/src/WebHostBuilderIISExtensions.cs
Labels: area-servers

#24968 Helix pass in -nopath for dotnet-install
  eng/helix/content/InstallDotNet.ps1
Labels: area-infrastructure

#24945 HTTP2: Optimize header processing
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/HPackHeaderWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Servers/Kestrel/Core/src/ListenOptions.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/HPackHeaderWriterBenchmark.cs
Labels: area-servers

#24638 Add inline scheduler option for Sockets transport
  src/Servers/Kestrel/Transport.Sockets/src/Client/SocketConnectionFactory.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketConnectionListener.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketTransportOptions.cs
Labels: api-approved, area-servers, servers-kestrel

#24822 HTTP2: Write data and trailers under one lock
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs
Labels: area-servers

#24929 Optimize writing single segment sequences
  src/Servers/Kestrel/Core/src/Internal/Http/Http1ChunkedEncodingMessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Shared/ServerInfrastructure/BufferExtensions.cs
Labels: area-servers, tell-mode

#24981 Fix HTTP/2 tests that use HttpClient and H2C
  src/Grpc/test/InteropTests/InteropTests.cs
  src/Grpc/test/testassets/InteropClient/InteropClient.cs
  src/Grpc/test/testassets/InteropClient/RunTests.ps1
  src/Grpc/test/testassets/InteropWebsite/Program.cs
  src/Grpc/test/testassets/InteropWebsite/TestServiceImpl.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
Labels: area-grpc, area-servers, tell-mode

#24773 Merged PR 9371: Revive support for globalization and localization in Blazor WASM
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/Web.JS/src/Platform/Mono/MonoTypes.ts
  src/Components/Web.JS/src/Platform/Mono/TimezoneDataFile.ts
  src/Components/Web.JS/src/Platform/WebAssemblyStartOptions.ts
  src/Components/WebAssembly/Sdk/integrationtests/WasmBuildIntegrationTest.cs
  src/Components/WebAssembly/Sdk/integrationtests/WasmPublishIntegrationTest.cs
  src/Components/WebAssembly/Sdk/src/targets/BlazorWasm.web.config
  src/Components/WebAssembly/Sdk/src/targets/Microsoft.NET.Sdk.BlazorWebAssembly.Current.targets
  src/Components/WebAssembly/Sdk/testassets/Directory.Build.props
  src/Components/WebAssembly/Server/src/ComponentsWebAssemblyApplicationBuilderExtensions.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/SatelliteResourcesLoader.cs
  src/Components/test/E2ETest/Tests/BindTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyLocalizationTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/build/netstandard2.0/BlazorWasm.web.config
Labels: area-blazor, auto-merge

#24980 Remove \r\n for \n when writing to ostream
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/RedirectionOutput.cpp
  src/Servers/IIS/IIS/test/Common.FunctionalTests/LogFileTests.cs
Labels: area-servers, tell-mode

#25003 Move the code sync action to the release branch
  .github/workflows/runtime-sync.yml
Labels: auto-merge

#24972 Add query param to check if Blazor WASM app is under debug
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Platform/Mono/MonoDebugger.ts
Labels: area-blazor, auto-merge, blazor-wasm

#24118 Implement support for multiple sockets for systemd activation
  src/Servers/Kestrel/Core/src/Systemd/KestrelServerOptionsSystemdExtensions.cs
Labels: area-servers, community-contribution

#24953 HTTP method matching: Jump table optimized for a single method
  src/Http/Routing/perf/Matching/HttpMethodPolicyJumpTableBenchmark.cs
  src/Http/Routing/src/Matching/HttpMethodDictionaryPolicyJumpTable.cs
  src/Http/Routing/src/Matching/HttpMethodMatcherPolicy.cs
  src/Http/Routing/src/Matching/HttpMethodSingleEntryPolicyJumpTable.cs
  src/Http/Routing/test/UnitTests/Matching/HttpMethodMatcherPolicyIntegrationTestBase.cs
Labels: area-servers, tell-mode

#24970 Log for SameSite=None without Secure
  src/Http/Http/src/Features/ResponseCookiesFeature.cs
  src/Http/Http/src/Internal/EventIds.cs
  src/Http/Http/src/Internal/ResponseCookies.cs
  src/Http/Http/test/ResponseCookiesTest.cs
Labels: area-servers, auto-merge

#25014 [release/3.1] Unpin System.IO.Pipelines and System.Runtime.CompilerServices.Unsafe versions
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure, auto-merge, tell-mode

#25026 React to runtime release branch rename
  .github/workflows/runtime-sync.yml
Labels: auto-merge

#24920 Make Virtualize behave correctly with when ItemSize is unspecified or wrong.
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Virtualize.ts
  src/Components/Web/src/Virtualization/IVirtualizeJsCallbacks.cs
  src/Components/Web/src/Virtualization/PlaceholderContext.cs
  src/Components/Web/src/Virtualization/Virtualize.cs
  src/Components/Web/src/Virtualization/VirtualizeJsInterop.cs
  src/Components/Web/test/Virtualization/VirtualizeTest.cs
  src/Components/test/testassets/BasicTestApp/VirtualizationComponent.razor
Labels: area-blazor

#25017 Reenable concurrent read/write test
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/SynchronousReadAndWriteTests.cs
Labels: area-servers, tell-mode

#24986 Enable trimming for Microsoft.Extensions packages
  src/Components/WebAssembly/Sdk/integrationtests/WasmPublishIntegrationTest.cs
  src/Components/WebAssembly/Sdk/src/targets/Microsoft.NET.Sdk.BlazorWebAssembly.Current.targets
  src/Components/WebAssembly/Sdk/testassets/blazorwasm/Program.cs
Labels: area-blazor, auto-merge

#23714 Right-size Lists when created
  src/FileProviders/Embedded/src/Manifest/ManifestDirectory.cs
  src/Http/Http/src/Features/RequestCookiesFeature.cs
  src/Http/Routing/src/Patterns/RoutePatternFactory.cs
  src/Identity/Core/src/SignInManager.cs
  src/Middleware/Localization/src/RequestLocalizationOptions.cs
  src/Mvc/Mvc.Core/src/ApplicationModels/ApplicationModelFactory.cs
  src/Mvc/Mvc.Core/src/ApplicationModels/ControllerActionDescriptorBuilder.cs
  src/Mvc/Mvc.Core/src/ApplicationModels/DefaultApplicationModelProvider.cs
  src/Mvc/Mvc.Core/src/BindAttribute.cs
  src/Mvc/Mvc.Core/src/ConsumesAttribute.cs
  src/Mvc/Mvc.Core/src/Formatters/InputFormatter.cs
  src/Mvc/Mvc.Core/src/Formatters/OutputFormatter.cs
  src/Mvc/Mvc.Core/src/Infrastructure/ActionSelector.cs
  src/Mvc/Mvc.Core/src/ProducesAttribute.cs
  src/Mvc/Mvc.Razor.RuntimeCompilation/src/RazorReferenceManager.cs
  src/Mvc/Mvc.ViewFeatures/src/Infrastructure/DefaultTempDataSerializer.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentEventHandlerLoweringPass.cs
  src/Razor/Microsoft.AspNetCore.Razor.Tools/src/Application.cs
  src/Razor/Microsoft.AspNetCore.Razor.Tools/src/DefaultRequestDispatcher.cs
  src/Razor/Microsoft.AspNetCore.Razor.Tools/src/MetadataReaderExtensions.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/FindAssembliesWithReferencesTo.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/ReferenceResolver.cs
  src/Razor/Razor/src/TagHelpers/ReadOnlyTagHelperAttributeList.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.MvcShim/Microsoft.AspNetCore.Razor.TagHelpers/ReadOnlyTagHelperAttributeList.cs
  src/Security/Authentication/Certificate/src/CertificateAuthenticationHandler.cs
  src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs
  src/Servers/HttpSys/src/AuthenticationManager.cs
  src/Servers/HttpSys/src/HttpSysListener.cs
  src/Shared/Buffers.Testing/ReadOnlySequenceFactory.cs
  src/Shared/ObjectMethodExecutor/ObjectMethodExecutor.cs
  src/Shared/StackTrace/StackFrame/StackTraceHelper.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionManager.cs
  src/SignalR/server/Core/src/HubConnectionHandler.cs
  src/SignalR/server/Core/src/HubOptionsSetup.cs
  src/SignalR/server/StackExchangeRedis/src/Internal/DefaultHubMessageSerializer.cs
  src/SignalR/server/StackExchangeRedis/src/RedisHubLifetimeManager.cs
Labels: area-blazor, community-contribution

#24978 Enable the compatibility analyzer for Blazor WebAssembly
  src/Components/WebAssembly/Sdk/src/targets/Microsoft.NET.Sdk.BlazorWebAssembly.Current.targets
Labels: area-blazor

#25023 Broaden scope
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-signalr

#24857 Add support delegating requests in HttpSysServer
  src/Servers/HttpSys/src/AsyncAcceptContext.cs
  src/Servers/HttpSys/src/DelegationRule.cs
  src/Servers/HttpSys/src/FeatureContext.cs
  src/Servers/HttpSys/src/IHttpSysRequestDelegationFeature.cs
  src/Servers/HttpSys/src/IServerDelegationFeature.cs
  src/Servers/HttpSys/src/MessagePump.cs
  src/Servers/HttpSys/src/NativeInterop/HttpApi.cs
  src/Servers/HttpSys/src/NativeInterop/RequestQueue.cs
  src/Servers/HttpSys/src/NativeInterop/UrlGroup.cs
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.cs
  src/Servers/HttpSys/src/RequestProcessing/Response.cs
  src/Servers/HttpSys/src/RequestProcessing/ResponseBody.cs
  src/Servers/HttpSys/src/ServerDelegationPropertyFeature.cs
  src/Servers/HttpSys/src/StandardFeatureCollection.cs
  src/Servers/HttpSys/test/FunctionalTests/DelegateSupportedConditionAttribute.cs
  src/Servers/HttpSys/test/FunctionalTests/DelegateTests.cs
  src/Shared/HttpSys/NativeInterop/HttpApiTypes.cs
Labels: api-approved, area-servers

#25041 Fix #24846 by using ConditionalFact
  src/Tools/dotnet-watch/test/DotNetWatcherTests.cs
  src/Tools/dotnet-watch/test/NoDepsAppTests.cs
Labels: area-commandlinetools, tell-mode

#24912 [Spa] Make node Services non-shipping
  src/Middleware/NodeServices/src/Microsoft.AspNetCore.NodeServices.csproj
Labels: area-middleware, tell-mode

#25012 Fix Http/3 and mark multiplexed factory as experimental
  AspNetCore.sln
  src/Servers/Connections.Abstractions/src/IMulitplexedConnectionListener.cs
  src/Servers/Connections.Abstractions/src/IMultiplexedConnectionBuilder.cs
  src/Servers/Connections.Abstractions/src/IMultiplexedConnectionFactory.cs
  src/Servers/Connections.Abstractions/src/IMultiplexedConnectionListenerFactory.cs
  src/Servers/Connections.Abstractions/src/MultiplexedConnectionBuilder.cs
  src/Servers/Connections.Abstractions/src/MultiplexedConnectionContext.cs
  src/Servers/Connections.Abstractions/src/MultiplexedConnectionDelegate.cs
  src/Servers/Connections.Abstractions/src/Properties/AssemblyInfo.cs
  src/Servers/HttpSys/test/FunctionalTests/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/IIS.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IIS.NewHandler.FunctionalTests/IIS.NewHandler.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IIS.NewShim.FunctionalTests/IIS.NewShim.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/IISExpress.FunctionalTests.csproj
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3ConnectionContext.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/TransportManager.cs
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Servers/Kestrel/Core/src/KestrelServer.cs
  src/Servers/Kestrel/Core/src/ListenOptions.cs
  src/Servers/Kestrel/Core/src/Middleware/Http3ConnectionMiddleware.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpConnectionBuilderExtensions.cs
  src/Servers/Kestrel/Kestrel/src/WebHostBuilderKestrelExtensions.cs
  src/Servers/Kestrel/Kestrel/test/WebHostBuilderKestrelExtensionsTests.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionListener.cs
  src/Servers/Kestrel/Transport.Quic/src/QuicConnectionFactory.cs
  src/Servers/Kestrel/Transport.Quic/src/QuicTransportFactory.cs
  src/Servers/Kestrel/Transport.Quic/src/WebHostBuilderMsQuicExtensions.cs
  src/Servers/Kestrel/Transport.Sockets/src/AssemblyInfo.cs
  src/Servers/Kestrel/Transport.Sockets/src/Client/SocketConnectionFactory.cs
  src/Servers/Kestrel/samples/Http3SampleApp/Program.cs
  src/Servers/Kestrel/samples/QuicSampleApp/Program.cs
  src/Servers/Kestrel/samples/QuicSampleApp/QuicSampleApp.csproj
  src/Servers/Kestrel/samples/QuicSampleApp/appsettings.Development.json
  src/Servers/Kestrel/samples/QuicSampleApp/appsettings.json
  src/Servers/Kestrel/samples/QuicSampleClient/Program.cs
  src/Servers/Kestrel/samples/QuicSampleClient/QuicSampleClient.csproj
  src/Servers/Kestrel/samples/http2cat/http2cat.csproj
  src/Servers/Kestrel/shared/TransportMultiplexedConnection.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TestBase.cs
Labels: area-servers, tell-mode

#23535 Parallel hub invocations
  src/SignalR/perf/Microbenchmarks/DefaultHubDispatcherBenchmark.cs
  src/SignalR/server/Core/src/HubConnectionContext.cs
  src/SignalR/server/Core/src/HubConnectionContextOptions.cs
  src/SignalR/server/Core/src/HubConnectionHandler.cs
  src/SignalR/server/Core/src/HubOptions.cs
  src/SignalR/server/Core/src/HubOptionsSetup`T.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.Log.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/Core/src/Internal/SemaphoreSlimExtensions.cs
  src/SignalR/server/SignalR/test/AddSignalRTests.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTestUtils/Hubs.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: api-approved, area-signalr, tell-mode

#25047 Quarantine a couple kestrel flaky tests
  src/Servers/Kestrel/test/FunctionalTests/Http2/ShutdownTests.cs
  src/Servers/Kestrel/test/FunctionalTests/MaxRequestBufferSizeTests.cs
Labels: area-servers

#25011 Make OnNavigateAsync EventCallback and cancel previous navigation
  src/Components/Components/src/Routing/Router.cs
  src/Components/Components/test/Routing/RouterTest.cs
  src/Components/test/E2ETest/Tests/RoutingTest.cs
  src/Components/test/testassets/BasicTestApp/RouterTest/TestRouterWithOnNavigate.razor
Labels: area-blazor

#25062 Throw original exception if exception handler is not found
  src/Middleware/Diagnostics/src/DiagnosticsLoggerExtensions.cs
  src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerMiddleware.cs
  src/Middleware/Diagnostics/test/UnitTests/ExceptionHandlerTest.cs
Labels: area-middleware

#25059 Add HealthChecks to solution and enable nullable in tests
  AspNetCore.sln
  src/HealthChecks/.vsconfig
  src/HealthChecks/HealthChecks.slnf
  src/HealthChecks/HealthChecks/test/DefaultHealthCheckServiceTest.cs
  src/HealthChecks/HealthChecks/test/HealthCheckPublisherHostedServiceTest.cs
  src/HealthChecks/HealthChecks/test/HealthReportTest.cs
  src/HealthChecks/build.cmd
  src/HealthChecks/startvs.cmd
Labels: area-healthchecks, auto-merge, tell-mode

#25037 [Https] Various improvements to the dev-certs tool
  src/Shared/CertificateGeneration/CertificateManager.cs
  src/Tools/FirstRunCertGenerator/test/CertificateManagerTests.cs
  src/Tools/dotnet-dev-certs/src/Program.cs
Labels: area-commandlinetools, feature-devcerts, tell-mode

#25056 Add a regression test for web.config transform
  src/Components/WebAssembly/Sdk/integrationtests/Microsoft.NET.Sdk.BlazorWebAssembly.IntegrationTests.csproj
  src/Components/WebAssembly/Sdk/integrationtests/WasmPublishIntegrationTest.cs
Labels: area-blazor

#23532 Add MessagePack support for Java SignalR Client
  src/SignalR/clients/java/signalr/build.gradle
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/CallbackMap.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/CancelInvocationMessage.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/CloseMessage.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/CompletionMessage.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/DefaultHttpClient.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/HandshakeProtocol.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/HttpClient.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/HttpHubConnectionBuilder.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/HubMessageType.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/HubProtocol.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/InvocationBinder.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/InvocationHandler.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/InvocationMessage.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/InvocationRequest.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/JsonHubProtocol.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/LongPollingTransport.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/MessagePackHubProtocol.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/OkHttpWebSocketWrapper.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/OnReceiveCallBack.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/StreamBindingFailureMessage.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/StreamInvocationMessage.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/StreamItem.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/Transport.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/Utils.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/WebSocketTransport.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/WebSocketWrapper.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/ByteString.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/HandshakeProtocolTest.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/HubConnectionTest.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/JsonHubProtocolTest.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/LongPollingTransportTest.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/MessagePackHubProtocolTest.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/MockTransport.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/PersonPojo.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/TestBinder.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/TestHttpClient.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/TestUtils.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/WebSocketTransportTest.java
Labels: area-signalr

#24900 Remove HTTP/2 headers from request primary headers
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.Generated.cs
  src/Servers/Kestrel/Kestrel/test/GeneratedCodeTests.cs
  src/Servers/Kestrel/shared/KnownHeaders.cs
Labels: area-servers, tell-mode

#25083 Run 1 browser at a time in SignalR javascript functional tests
  src/SignalR/clients/ts/FunctionalTests/scripts/karma.base.conf.js
Labels: area-signalr, tell-mode

#24992 Add enhancement to default behavior of client reconnection
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/src/Platform/Circuits/CircuitStartOptions.ts
  src/Components/Web.JS/src/Platform/Circuits/DefaultReconnectDisplay.ts
  src/Components/Web.JS/src/Platform/Circuits/DefaultReconnectionHandler.ts
  src/Components/Web.JS/src/Platform/Circuits/ReconnectDisplay.ts
  src/Components/Web.JS/src/Platform/Circuits/UserSpecifiedDisplay.ts
  src/Components/Web.JS/tests/DefaultReconnectDisplay.test.ts
  src/Components/Web.JS/tests/DefaultReconnectionHandler.test.ts
Labels: area-blazor, community-contribution

#24344 [Java] Observe accessTokenProvider on error
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/LongPollingTransport.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/HubConnectionTest.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/LongPollingTransportTest.java
Labels: area-signalr

#25101 Quote the ToolAssembly path in BrotliCompress task.
  src/Components/WebAssembly/Sdk/src/BrotliCompress.cs
Labels: area-blazor, auto-merge

#24640 InputFile Component
  src/Components/Web.Extensions/src/InputFile/BrowserFile.cs
  src/Components/Web.Extensions/src/InputFile/BrowserFileStream.cs
  src/Components/Web.Extensions/src/InputFile/IBrowserFile.cs
  src/Components/Web.Extensions/src/InputFile/IInputFileJsCallbacks.cs
  src/Components/Web.Extensions/src/InputFile/InputFile.cs
  src/Components/Web.Extensions/src/InputFile/InputFileChangeEventArgs.cs
  src/Components/Web.Extensions/src/InputFile/InputFileInterop.cs
  src/Components/Web.Extensions/src/InputFile/InputFileJsCallbacksRelay.cs
  src/Components/Web.Extensions/src/InputFile/ReadRequest.cs
  src/Components/Web.Extensions/src/InputFile/RemoteBrowserFileStream.cs
  src/Components/Web.Extensions/src/InputFile/RemoteBrowserFileStreamOptions.cs
  src/Components/Web.Extensions/src/InputFile/SharedBrowserFileStream.cs
  src/Components/Web.Extensions/src/wwwroot/inputFile.js
  src/Components/WebAssembly/JSInterop/src/WebAssemblyJSRuntime.cs
  src/Components/WebAssembly/WebAssembly/src/Rendering/WebAssemblyRenderer.cs
  src/Components/WebAssembly/WebAssembly/src/Services/LazyAssemblyLoader.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyConsoleLogger.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyJSRuntimeInvoker.cs
  src/Components/test/E2ETest/Tests/InputFileTest.cs
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/InputFileComponent.razor
  src/Components/test/testassets/BasicTestApp/wwwroot/images/blazor_logo_1000x.png
  src/Components/test/testassets/BasicTestApp/wwwroot/index.html
  src/Components/test/testassets/TestServer/Pages/_ServerHost.cshtml
  src/JSInterop/Microsoft.JSInterop/src/IJSUnmarshalledRuntime.cs
Labels: area-blazor

#24925 Add support for views + SingleFileExe
  src/Mvc/Mvc.Core/src/ApplicationParts/RelatedAssemblyAttribute.cs
  src/Mvc/Mvc.Core/test/ApplicationParts/RelatedAssemblyPartTest.cs
  src/ProjectTemplates/BlazorTemplates.Tests/Infrastructure/GenerateTestProps.targets
  src/ProjectTemplates/Shared/AspNetProcess.cs
  src/ProjectTemplates/Shared/Project.cs
  src/ProjectTemplates/test/Infrastructure/GenerateTestProps.targets
  src/ProjectTemplates/test/MvcTemplateTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/build/netstandard2.0/Sdk.Razor.CurrentVersion.targets
Labels: area-mvc

#25112 Update OAuth providers
  src/Security/Authentication/Facebook/src/FacebookDefaults.cs
  src/Security/Authentication/Google/src/GoogleDefaults.cs
  src/Security/Authentication/OpenIdConnect/samples/OpenIdConnectSample/Startup.cs
  src/Security/Authentication/samples/SocialSample/Startup.cs
  src/Security/Authentication/test/FacebookTests.cs
  src/Security/Authentication/test/GoogleTests.cs
Labels: area-security

#25175 Tiny optimization
  src/SignalR/common/Http.Connections/src/Internal/TaskExtensions.cs
Labels: area-signalr

#24984 Indicate if the request has a body
  src/Hosting/TestHost/src/ClientHandler.cs
  src/Hosting/TestHost/src/RequestBodyDetectionFeature.cs
  src/Hosting/TestHost/test/ClientHandlerTests.cs
  src/Hosting/TestHost/test/HttpContextBuilderTests.cs
  src/Hosting/TestHost/test/TestServerTests.cs
  src/Hosting/TestHost/test/Utilities.cs
  src/Http/Http.Features/src/IHttpRequestBodyDetectionFeature.cs
  src/Servers/HttpSys/src/FeatureContext.cs
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Servers/HttpSys/src/StandardFeatureCollection.cs
  src/Servers/HttpSys/test/FunctionalTests/Http2Tests.cs
  src/Servers/HttpSys/test/FunctionalTests/RequestBodyLimitTests.cs
  src/Servers/HttpSys/test/FunctionalTests/RequestBodyTests.cs
  src/Servers/HttpSys/test/FunctionalTests/RequestTests.cs
  src/Servers/HttpSys/test/FunctionalTests/Utilities.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.FeatureCollection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/BodyControl.cs
  src/Servers/Kestrel/Core/test/HttpProtocolFeatureCollectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ChunkedRequestTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/MaxRequestBodySizeTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/TestTransport/RequestExtensions.cs
  src/Servers/Kestrel/tools/CodeGenerator/HttpProtocolFeatureCollection.cs
Labels: api-approved, area-servers, auto-merge

#24834 Follow-ups from PR 23385
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentPreserveWhitespaceDirective.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Extensions/DesignTimeDirectiveTargetExtension.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/Extensions/DesignTimeDirectiveTargetExtensionTest.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_PreserveWhitespaceDirective_OverrideImports/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_PreserveWhitespaceDirective_OverrideImports/TestComponent.ir.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_PreserveWhitespaceDirective_OverrideImports/TestComponent.mappings.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_WithPreserveWhitespaceDirective_False/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_WithPreserveWhitespaceDirective_False/TestComponent.mappings.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_WithPreserveWhitespaceDirective_True/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_WithPreserveWhitespaceDirective_True/TestComponent.mappings.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/WhiteSpace_WithPreserveWhitespace/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/WhiteSpace_WithPreserveWhitespace/TestComponent.mappings.txt
Labels: area-blazor, area-mvc

#25183 Use the NonCapturingTimer helper
  src/SignalR/server/StackExchangeRedis/src/Internal/AckHandler.cs
  src/SignalR/server/StackExchangeRedis/src/Microsoft.AspNetCore.SignalR.StackExchangeRedis.csproj
Labels: area-signalr

#25140 Minor typos
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Controllers/WeatherForecastController.cs
Labels: area-mvc

#24166 Java client connection state part 1
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/HubConnectionState.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/HubConnectionTest.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/sample/Chat.java
Labels: area-signalr, tell-mode

#25054 Make PropertySetter a concrete type
  src/Components/Components/src/ComponentFactory.cs
  src/Components/Components/src/Reflection/ComponentProperties.cs
  src/Components/Components/src/Reflection/IPropertySetter.cs
  src/Components/Components/src/Reflection/MemberAssignment.cs
  src/Components/benchmarkapps/Wasm.Performance/Directory.Build.props
  src/Components/benchmarkapps/Wasm.Performance/Driver/Program.cs
  src/Components/benchmarkapps/Wasm.Performance/Driver/Selenium.cs
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Wasm.Performance.TestApp.csproj
Labels: area-blazor, auto-merge
