Repository dotnet/aspnetcore, pull requests merged in 2020-04, with the labels that each got.

#20337 Replace RunTests scripts with .NET app
  eng/helix/content/RunTests/Directory.Build.props
  eng/helix/content/RunTests/Directory.Build.targets
  eng/helix/content/RunTests/ProcessResult.cs
  eng/helix/content/RunTests/ProcessUtil.cs
  eng/helix/content/RunTests/Program.cs
  eng/helix/content/RunTests/RunTests.csproj
  eng/helix/content/default.NuGet.config
  eng/helix/content/runtests.cmd
  eng/helix/content/runtests.sh
  src/ProjectTemplates/test/Helpers/Project.cs
Labels: area-infrastructure

#20348 Set crossorigin to anonymous for integrity attribute
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
Labels: area-blazor

#20377 Quarantine BlazorServerTemplateWorks_IndividualAuth
  src/ProjectTemplates/test/BlazorServerTemplateTest.cs
Labels: area-mvc

#20341 Try synchronizing dispose and output
  src/Shared/Process/ProcessEx.cs
Labels: area-grpc

#20417 Unskip IIS Tests
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/StartupTests.cs
Labels: area-servers

#20383 OpenAPI Flaky fix
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiAddURLTests.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiTestBase.cs
Labels: area-commandlinetools

#20338 Fix flaky ClientStreaming_ResponseCompletesWithoutResponseBodyWrite
  src/Hosting/TestHost/src/HttpContextBuilder.cs
Labels: area-hosting

#20410 Add some extra publish integration tests, plus fix publish-from-VS-with-RID
  src/Components/WebAssembly/Build/src/targets/Blazor.MonoRuntime.targets
  src/Components/WebAssembly/Build/src/targets/ServiceWorkerAssetsManifest.targets
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/Assert.cs
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/PublishIntegrationTest.cs
  src/Components/WebAssembly/Build/testassets/standalone/standalone.csproj
  src/Components/WebAssembly/Build/testassets/standalone/wwwroot/serviceworkers/my-prod-service-worker.js
  src/Components/WebAssembly/Build/testassets/standalone/wwwroot/serviceworkers/my-service-worker.js
Labels: area-blazor

#20211 Attempt to auto-publish vs.redist packages to orchestrated feed
  build/Publish.targets
  src/Installers/Windows/GenerateNugetPackageWithMsi.ps1
  src/Installers/Windows/SharedFramework/SharedFramework.wixproj
  src/Installers/Windows/SharedFramework/SharedFrameworkPackage.nuspec
Labels: area-infrastructure

#20058 Add HPack dynamic compression
  src/Servers/Kestrel/Core/ref/Microsoft.AspNetCore.Server.Kestrel.Core.netcoreapp.cs
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Http2Limits.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/HPackHeaderWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2HeaderEnumerator.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Servers/Kestrel/Core/src/Microsoft.AspNetCore.Server.Kestrel.Core.csproj
  src/Servers/Kestrel/Core/test/HPackHeaderWriterTests.cs
  src/Servers/Kestrel/Core/test/Http2FrameWriterTests.cs
  src/Servers/Kestrel/Core/test/Http2HPackEncoderTests.cs
  src/Servers/Kestrel/Core/test/KestrelServerLimitsTests.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/Http2ConnectionBenchmarkBase.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/Http2ConnectionEmptyBenchmark.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/Http2ConnectionHeadersBenchmark.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/Http2FrameWriterBenchmark.cs
  src/Servers/Kestrel/shared/test/PipeWriterHttp2FrameExtensions.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TimeoutTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
  src/Shared/Hpack/EncoderHeaderEntry.cs
  src/Shared/Hpack/HPackEncoder.Dynamic.cs
  src/Shared/Hpack/README.md
  src/Shared/Hpack/StatusCodes.cs
  src/Shared/runtime/Http2/Hpack/HPackEncoder.cs
  src/Shared/runtime/Http2/Hpack/StatusCodes.cs
Labels: api-ready-for-review, area-servers

#20367 Always generate checksums as last part of publish job
  .azure/pipelines/ci.yml
  Directory.Build.props
  eng/AfterSigning.targets
  eng/Publishing.props
  src/Framework/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Installers/Windows/Wix.targets
Labels: area-infrastructure

#20330 Nit: update azdo job name for macOS
  .azure/pipelines/ci.yml
Labels: area-infrastructure, tell-mode

#20424 Run Helix Mac on more runs
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#20390 Suppress a warning
  src/Components/Blazor/Blazor/src/Microsoft.AspNetCore.Blazor.csproj
Labels: area-blazor

#20260 Remove the use of toJavaScriptString
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/Web.JS/src/Platform/Mono/MonoTypes.ts
  src/Components/Web.JS/src/Platform/Platform.ts
  src/Components/Web.JS/src/Rendering/RenderBatch/SharedMemoryRenderBatch.ts
Labels: area-blazor

#20446 Support JsonStringEnumConverter. Fixes #19086
  src/Components/WebAssembly/Build/src/targets/BuiltInBclLinkerDescriptor.xml
  src/Components/test/E2ETest/Tests/JsonSerializationTest.cs
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/JsonSerializationCases.razor
Labels: area-blazor, blazor-wasm

#20433 Fix flaky StreamPool_StreamIsInvalidState_DontReturnedToPool
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-servers

#20461 Social distancing for tests that are symptomatic
  src/Tools/dotnet-user-secrets/test/InitCommandTest.cs
  src/Tools/dotnet-watch/test/ProgramTests.cs
Labels: area-commandlinetools

#20434 Fix flaky StreamPool_MultipleStreamsInSequence_PooledStreamReused
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2StreamStack.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-servers

#19938 Preserve files being published to the publish root and the wwwroot
  src/Components/WebAssembly/Build/src/build/netstandard1.0/Microsoft.AspNetCore.Components.WebAssembly.Build.props
  src/Components/WebAssembly/Build/src/targets/Blazor.MonoRuntime.targets
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/PublishIntegrationTest.cs
  src/Components/WebAssembly/Build/testassets/blazorhosted/Program.cs
Labels: area-blazor, blazor-wasm

#14146 Start each request on fresh ExecutionContext
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTests.cs
Labels: area-servers

#20031 Changing msgpack options
  src/SignalR/common/Protocols.MessagePack/src/MessagePackHubProtocolOptions.cs
  src/SignalR/common/Protocols.MessagePack/src/Protocol/MessagePackHubProtocol.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: api-approved, area-signalr

#20116 fix #13651 by logging serialization failures as error
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubConnectionTests.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/Hubs.cs
  src/SignalR/common/testassets/Tests.Utils/InProcessTestServer.cs
  src/SignalR/common/testassets/Tests.Utils/LogRecord.cs
  src/SignalR/server/Core/src/HubConnectionContext.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-signalr

#20463 Helix add some more prints
  eng/helix/content/RunTests/Program.cs
  eng/helix/content/RunTests/RunTestsOptions.cs
  eng/helix/content/RunTests/TestRunner.cs
  eng/helix/content/runtests.cmd
  eng/helix/content/runtests.sh
Labels: area-infrastructure

#20486 Update README.md
  README.md
Labels: area-infrastructure, auto-merge

#20458 Move specifying default Blazor linker config to props file
  src/Components/WebAssembly/Build/src/targets/Blazor.MonoRuntime.props
  src/Components/WebAssembly/Build/src/targets/Blazor.MonoRuntime.targets
Labels: area-blazor

#20432 Remove WebAssemblyLoggerFactory and refactor logging setup
  src/Components/WebAssembly/Build/test/RuntimeDependenciesResolverTest.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/LoggingBuilder.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.csproj
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyConsoleLogger.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyConsoleLoggerProvider.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyLoggerFactory.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyHostBuilderTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyLoggingTest.cs
  src/Components/test/testassets/BasicTestApp/PrependMessageLoggerProvider.cs
  src/Components/test/testassets/BasicTestApp/Program.cs
Labels: area-blazor, blazor-wasm

#19504 Preserve new lines and whitespace when adding secret
  src/Tools/dotnet-user-secrets/src/Internal/InitCommand.cs
  src/Tools/dotnet-user-secrets/test/InitCommandTest.cs
Labels: area-commandlinetools, auto-merge

#20505 add micro benchmark for parsing Json TechEmpower request
  src/Servers/Kestrel/perf/Kestrel.Performance/HttpParserBenchmark.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/RequestParsingData.cs
Labels: area-servers

#20385 Remove PlatformAbstractions reference.
  eng/Dependencies.props
Labels: area-infrastructure

#20494 [Templates] Switch to use a PFX certificate instead of one from the store
  src/ProjectTemplates/test/Helpers/AspNetProcess.cs
Labels: area-mvc

#20516 Quarantine a hosting test that failed
  src/Hosting/test/FunctionalTests/ShutdownTests.cs
Labels: area-hosting

#20521 Skipping a Blazor template test
  src/ProjectTemplates/test/BlazorServerTemplateTest.cs
Labels: area-mvc

#20513 More updates docs
  CONTRIBUTING.md
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/README.md
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/README.md
Labels: auto-merge

#20526 List dotnet processes about to be killed
  eng/scripts/KillProcesses.ps1
  eng/scripts/KillProcesses.sh
Labels: area-infrastructure

#20529 Re-enable project template tests
  src/ProjectTemplates/test/GrpcTemplateTest.cs
  src/ProjectTemplates/test/IdentityUIPackageTest.cs
  src/ProjectTemplates/test/MvcTemplateTest.cs
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
  src/ProjectTemplates/test/SpaTemplateTest/ReactTemplateTest.cs
  src/ProjectTemplates/test/WorkerTemplateTest.cs
Labels: area-mvc

#20192 [Blazor] More auth fixes
  src/Components/WebAssembly/Authentication.Msal/src/MsalWebAssemblyServiceCollectionExtensions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/IAccessTokenProviderAccessor.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/IRemoteAuthenticationBuilder.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/AuthenticationService.ts
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/package.json
  src/Components/WebAssembly/WebAssembly.Authentication/src/Models/RemoteUserAccount.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Options/DefaultApiAuthorizationOptionsConfiguration.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticationBuilder.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticationBuilderExtensions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticatorViewCore.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/AccessTokenProviderAccessor.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/DefaultRemoteApplicationPathsProvider.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/RemoteAuthenticationService.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/UserFactory.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/WebAssemblyAuthenticationServiceCollectionExtensions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/RemoteAuthenticationServiceTests.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/RemoteAuthenticatorCoreTests.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/WebAssemblyAuthenticationServiceCollectionExtensionsTests.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/OidcAccount.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Pages/AdminSettings.razor
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Pages/Authentication.razor
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Pages/Index.razor
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Pages/MakeAdmin.razor
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Pages/UserPreferences.razor
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/PreferencesUserFactory.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Program.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/RemoteAppState.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Shared/NavMenu.razor
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/StateService.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/wwwroot/index.html
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Controllers/PreferencesController.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Controllers/RolesController.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Data/ApplicationDbContext.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Data/Migrations/20200324213904_Initial.Designer.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Data/Migrations/20200324213904_Initial.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Data/Migrations/ApplicationDbContextModelSnapshot.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Models/ApplicationUser.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Models/UserPreference.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Startup.cs
  src/Components/test/E2ETest/Tests/WebAssemblyAuthenticationTests.cs
Labels: area-blazor

#20372 Reenable cert tests on helix
  src/Components/Components/test/RendererTest.cs
  src/Identity/ApiAuthorization.IdentityServer/test/Configuration/ConfigureSigningCredentialsTests.cs
  src/Identity/ApiAuthorization.IdentityServer/test/Configuration/SigningKeysLoaderTests.cs
  src/Tools/FirstRunCertGenerator/test/CertificateManagerTests.cs
Labels: area-identity

#20545 [release/5.0-preview3] Don't run Code Check in official builds
  .azure/pipelines/ci.yml
Labels: area-infrastructure, tell-mode

#20544 [release/3.1] Don't run Code Check in official builds
  .azure/pipelines/ci.yml
Labels: area-infrastructure, tell-mode

#20559 [5.0-preview3] Remove Code_check job from publish-build-assets.yml `dependsOn`
  .azure/pipelines/ci.yml
Labels: area-infrastructure, tell-mode

#20558 [3.1] Remove Code_check job from publish-build-assets.yml `dependsOn`
  .azure/pipelines/ci.yml
Labels: area-infrastructure, tell-mode

#20300 Ingest updated packages from dotnet/runtime
  eng/Dependencies.props
  eng/SharedFramework.External.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/targets/ResolveReferences.targets
  src/Framework/ref/Microsoft.AspNetCore.App.Ref.csproj
  src/HealthChecks/HealthChecks/ref/Microsoft.Extensions.Diagnostics.HealthChecks.csproj
  src/HealthChecks/HealthChecks/src/Microsoft.Extensions.Diagnostics.HealthChecks.csproj
  src/Identity/Extensions.Core/ref/Microsoft.Extensions.Identity.Core.csproj
  src/Identity/Extensions.Core/src/Microsoft.Extensions.Identity.Core.csproj
  src/Middleware/Session/samples/SessionSample.csproj
  src/Middleware/Session/samples/Startup.cs
  src/Servers/IIS/IIS/test/testassets/InProcessNewShimWebSite/InProcessNewShimWebSite.csproj
  src/Shared/test/Shared.Tests/HostFactoryResolverTests.cs
  src/Shared/test/Shared.Tests/Microsoft.AspNetCore.Shared.Tests.csproj
Labels: area-infrastructure

#20363 [Fixes #19644][Blazor] Support brotli compression for framework files
  src/Components/Blazor.sln
  src/Components/WebAssembly/Build/src/Microsoft.AspNetCore.Components.WebAssembly.Build.csproj
  src/Components/WebAssembly/Build/src/Microsoft.AspNetCore.Components.WebAssembly.Build.nuspec
  src/Components/WebAssembly/Build/src/Tasks/BrotliCompressBlazorApplicationFiles.cs
  src/Components/WebAssembly/Build/src/Tasks/CompressBlazorApplicationFiles.cs
  src/Components/WebAssembly/Build/src/Tasks/GenerateBlazorBootJson.cs
  src/Components/WebAssembly/Build/src/Tasks/GenerateBlazorCompressionManifest.cs
  src/Components/WebAssembly/Build/src/Tasks/GenerateServiceWorkerAssetsManifest.cs
  src/Components/WebAssembly/Build/src/Tasks/GzipCompressBlazorApplicationFiles.cs
  src/Components/WebAssembly/Build/src/targets/Blazor.MonoRuntime.targets
  src/Components/WebAssembly/Build/src/targets/Compression.targets
  src/Components/WebAssembly/Build/src/targets/ServiceWorkerAssetsManifest.targets
  src/Components/WebAssembly/Build/src/targets/StaticWebAssets.targets
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/BuildCompressionTests.cs
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/ProjectDirectory.cs
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/PublishIntegrationTest.cs
  src/Components/WebAssembly/Build/test/GenerateBlazorBootJsonTest.cs
  src/Components/WebAssembly/Compression/src/Microsoft.AspNetCore.Components.WebAssembly.Build.BrotliCompression.csproj
  src/Components/WebAssembly/Compression/src/Program.cs
  src/Components/WebAssembly/Compression/src/runtimeconfig.template.json
  src/Components/WebAssembly/Server/src/ComponentsWebAssemblyApplicationBuilderExtensions.cs
  src/Components/WebAssembly/Server/src/ContentEncodingNegotiator.cs
  src/Components/WebAssembly/Server/src/Microsoft.AspNetCore.Components.WebAssembly.Server.csproj
  src/Components/WebAssembly/Server/test/ContentEncodingNegotiatorTests.cs
  src/Components/WebAssembly/Server/test/Microsoft.AspNetCore.Components.WebAssembly.Server.Tests.csproj
  src/ProjectTemplates/test/BlazorWasmTemplateTest.cs
  src/ProjectTemplates/test/Helpers/AspNetProcess.cs
  src/ProjectTemplates/test/Helpers/Project.cs
Labels: area-blazor

#20470 Cleanup Blazor standalone publish output
  src/Components/WebAssembly/Build/src/targets/Publish.targets
  src/Components/WebAssembly/Build/src/targets/StaticWebAssets.targets
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/Assert.cs
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/PublishIntegrationTest.cs
Labels: area-blazor

#20564 Enable doc comments generation
  src/Components/Blazor.sln
  src/Components/WebAssembly/Authentication.Msal/src/Microsoft.Authentication.WebAssembly.Msal.csproj
  src/Components/WebAssembly/Authentication.Msal/src/MsalWebAssemblyServiceCollectionExtensions.cs
  src/Components/WebAssembly/JSInterop/src/Microsoft.JSInterop.WebAssembly.csproj
  src/Components/WebAssembly/Server/src/ComponentsWebAssemblyApplicationBuilderExtensions.cs
  src/Components/WebAssembly/Server/src/Microsoft.AspNetCore.Components.WebAssembly.Server.csproj
  src/Components/WebAssembly/Validation/src/ComparePropertyAttribute.cs
  src/Components/WebAssembly/Validation/src/Microsoft.AspNetCore.Components.DataAnnotations.Validation.csproj
  src/Components/WebAssembly/WebAssembly.Authentication/src/Microsoft.AspNetCore.Components.WebAssembly.Authentication.csproj
  src/Components/WebAssembly/WebAssembly.Authentication/src/Models/RemoteAuthenticationContext.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Options/RemoteAuthenticationOptions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/RemoteAuthenticationService.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/SignOutSessionStateManager.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/UserFactory.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/IWebAssemblyHostEnvironment.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostEnvironmentExtensions.cs
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.csproj
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyConsoleLoggerProvider.cs
Labels: area-blazor, blazor-wasm

#19268 Add overloads to CookieAuthentication to config options with services
  src/Identity/Core/ref/Microsoft.AspNetCore.Identity.netcoreapp.cs
  src/Identity/Core/src/IdentityServiceCollectionExtensions.cs
  src/Security/Authentication/Certificate/src/CertificateAuthenticationExtensions.cs
  src/Security/Authentication/Cookies/ref/Microsoft.AspNetCore.Authentication.Cookies.netcoreapp.cs
  src/Security/Authentication/Cookies/samples/CookieSessionSample/Startup.cs
  src/Security/Authentication/Cookies/src/CookieExtensions.cs
  src/Security/Authentication/Core/ref/Microsoft.AspNetCore.Authentication.netcoreapp.cs
  src/Security/Authentication/Core/src/AuthenticationBuilder.cs
  src/Security/Authentication/Facebook/src/FacebookExtensions.cs
  src/Security/Authentication/Google/src/GoogleExtensions.cs
  src/Security/Authentication/JwtBearer/src/JwtBearerExtensions.cs
  src/Security/Authentication/MicrosoftAccount/src/MicrosoftAccountExtensions.cs
  src/Security/Authentication/Negotiate/src/NegotiateExtensions.cs
  src/Security/Authentication/OAuth/ref/Microsoft.AspNetCore.Authentication.OAuth.netcoreapp.cs
  src/Security/Authentication/OAuth/src/OAuthExtensions.cs
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectExtensions.cs
  src/Security/Authentication/Twitter/src/TwitterExtensions.cs
  src/Security/Authentication/WsFederation/src/WsFederationExtensions.cs
Labels: area-security, auto-merge

#20339 Move BadHttpRequestException to Http.Abstractions
  src/Http/Http.Abstractions/ref/Microsoft.AspNetCore.Http.Abstractions.netcoreapp.cs
  src/Http/Http.Abstractions/src/BadHttpRequestException.cs
  src/Servers/IIS/IIS/ref/Microsoft.AspNetCore.Server.IIS.netcoreapp.cs
  src/Servers/IIS/IIS/src/BadHttpRequestException.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.IO.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.Log.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContextOfT.cs
  src/Servers/IIS/IIS/src/IISBadHttpRequestException.cs
  src/Servers/IIS/IIS/test/IIS.Tests/MaxRequestBodySizeTests.cs
  src/Servers/Kestrel/Core/ref/Microsoft.AspNetCore.Server.Kestrel.Core.netcoreapp.cs
  src/Servers/Kestrel/Core/src/BadHttpRequestException.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1ChunkedEncodingMessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1ContentLengthMessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpParser.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpRequestHeaders.cs
  src/Servers/Kestrel/Core/src/Internal/Http/MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3ControlStream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/HttpUtilities.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/IKestrelTrace.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.cs
  src/Servers/Kestrel/Core/src/KestralBadHttpRequestException.cs
  src/Servers/Kestrel/Core/test/Http1ConnectionTests.cs
  src/Servers/Kestrel/Core/test/HttpParserTests.cs
  src/Servers/Kestrel/Core/test/HttpRequestHeadersTests.cs
  src/Servers/Kestrel/Core/test/MessageBodyTests.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/Mocks/MockTrace.cs
  src/Servers/Kestrel/samples/SampleApp/Startup.cs
  src/Servers/Kestrel/shared/test/CompositeKestrelTrace.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/BadHttpRequestTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ChunkedRequestTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TimeoutTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/MaxRequestBodySizeTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestBodyTimeoutTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseTests.cs
Labels: area-servers

#20484 Pin remaining extensions dependencies
  Directory.Build.props
  eng/Dependencies.props
  eng/Version.Details.xml
  eng/Versions.props
  src/Analyzers/Analyzers/test/Microsoft.AspNetCore.Analyzers.Test.csproj
  src/Analyzers/Internal.AspNetCore.Analyzers/src/Internal.AspNetCore.Analyzers.csproj
  src/Analyzers/Internal.AspNetCore.Analyzers/src/PubternalityAnalyzer.cs
  src/Analyzers/Internal.AspNetCore.Analyzers/src/PubturnalityDescriptors.cs
  src/Analyzers/Internal.AspNetCore.Analyzers/test/Internal.AspNetCore.Analyzers.Tests.csproj
  src/Analyzers/Internal.AspNetCore.Analyzers/test/PubternabilityAnalyzerTests.cs
  src/Analyzers/Microsoft.AspNetCore.Analyzer.Testing/src/Assert.cs
  src/Analyzers/Microsoft.AspNetCore.Analyzer.Testing/src/CodeFixRunner.cs
  src/Analyzers/Microsoft.AspNetCore.Analyzer.Testing/src/DiagnosticAnalyzerRunner.cs
  src/Analyzers/Microsoft.AspNetCore.Analyzer.Testing/src/DiagnosticLocation.cs
  src/Analyzers/Microsoft.AspNetCore.Analyzer.Testing/src/DiagnosticProject.cs
  src/Analyzers/Microsoft.AspNetCore.Analyzer.Testing/src/DiagnosticVerifier.cs
  src/Analyzers/Microsoft.AspNetCore.Analyzer.Testing/src/Microsoft.AspNetCore.Analyzer.Testing.csproj
  src/Analyzers/Microsoft.AspNetCore.Analyzer.Testing/src/TestSource.cs
  src/Components/Analyzers/test/Microsoft.AspNetCore.Components.Analyzers.Tests.csproj
  src/Framework/Directory.Build.props
  src/Mvc/Mvc.Analyzers/test/Mvc.Analyzers.Test.csproj
  src/Mvc/Mvc.Api.Analyzers/test/Mvc.Api.Analyzers.Test.csproj
Labels: area-infrastructure

#20579 Update ws-proxy sources to match Mono commit c5149e31b4d7c
  src/Components/WebAssembly/DebugProxy/src/Microsoft.AspNetCore.Components.WebAssembly.DebugProxy.csproj
  src/Components/WebAssembly/DebugProxy/src/MonoDebugProxy/ws-proxy/DevToolsHelper.cs
  src/Components/WebAssembly/DebugProxy/src/MonoDebugProxy/ws-proxy/DevToolsProxy.cs
  src/Components/WebAssembly/DebugProxy/src/MonoDebugProxy/ws-proxy/EvaluateExpression.cs
  src/Components/WebAssembly/DebugProxy/src/MonoDebugProxy/ws-proxy/MonoProxy.cs
Labels: area-blazor

#20593 Added `aspnet-blazor-eng` as a code-owner for the `src/Components`
  .github/CODEOWNERS
Labels: area-blazor, auto-merge, blazor-wasm

#20615 Use correct version for 3.1 SiteExtension package
  eng/Versions.props
Labels: area-infrastructure

#19975 Reenable framework unit tests on helix
  eng/helix/content/InstallAppRuntime.ps1
  eng/helix/content/InstallAspNetRef.ps1
  eng/helix/content/RunTests/TestRunner.cs
  eng/helix/content/installappruntime.sh
  eng/helix/content/installaspnetref.sh
  eng/targets/Helix.targets
  src/Framework/test/Microsoft.AspNetCore.App.UnitTests.csproj
  src/Framework/test/SharedFxTests.cs
  src/Framework/test/TargetingPackTests.cs
Labels: area-platform

#20589 Fix typo in the "GetAsemblyClosure" private method name
  src/Mvc/Mvc.Core/src/ApplicationParts/ApplicationPartManager.cs
Labels: area-mvc

#20428 Fix max redirect count
  src/Mvc/Mvc.Testing/src/Handlers/RedirectHandler.cs
Labels: area-mvc

#20274 Make src/Analyzers tests pass successfully locally in Vs2019
  src/Analyzers/Analyzers/test/AnalyzerTestBase.cs
  src/Analyzers/Analyzers/test/Microsoft.AspNetCore.Analyzers.Test.csproj
Labels: area-mvc

#20627 Update CPD after extensions migration
  eng/Version.Details.xml
Labels: area-infrastructure

#20061 Implement `EmptyOrWhiteSpaceWriter.Encoding`
  src/Razor/Razor/src/TagHelpers/DefaultTagHelperContent.cs
Labels: area-mvc

#20473 Cleanup resources in Java client
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/DefaultHttpClient.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/HttpClient.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/LongPollingTransport.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/HubConnectionTest.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/TestHttpClient.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/WebSocketTransportTest.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/sample/Chat.java
Labels: api-approved, area-signalr, signalr-client-java

#20631 Quarantining tests
  src/ProjectTemplates/test/AssemblyInfo.AssemblyFixtures.cs
  src/Security/Authentication/test/SecureDataFormatTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiAddURLTests.cs
  src/Tools/dotnet-watch/test/MsBuildFileSetFactoryTest.cs
Labels: area-infrastructure

#20652 [Blazor][Wasm] API review feedback
  src/Components/WebAssembly/WebAssembly.Authentication/src/IRemoteAuthenticationPathsProvider.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Models/AccessToken.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Models/RemoteAuthenticationResult.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Options/OidcProviderOptions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Options/RemoteAuthenticationOptions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticationBuilderExtensions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticationDefaults.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticatorViewCore.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/AccessTokenRequestOptions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/AccessTokenResult.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/AccountClaimsPrincipalFactory.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/RemoteAuthenticationService.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/WebAssemblyAuthenticationServiceCollectionExtensions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/RemoteAuthenticationServiceTests.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/RemoteAuthenticatorCoreTests.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/WebAssemblyAuthenticationServiceCollectionExtensionsTests.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/PreferencesUserFactory.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Program.cs
Labels: area-blazor

#20657 Revert "Reenable framework unit tests on helix (#19975)"
  eng/helix/content/InstallAppRuntime.ps1
  eng/helix/content/InstallAspNetRef.ps1
  eng/helix/content/RunTests/TestRunner.cs
  eng/helix/content/installappruntime.sh
  eng/helix/content/installaspnetref.sh
  eng/targets/Helix.targets
  src/Framework/test/Microsoft.AspNetCore.App.UnitTests.csproj
  src/Framework/test/SharedFxTests.cs
  src/Framework/test/TargetingPackTests.cs
Labels: auto-merge

#20653 [Static web assets] Add comment about static web assets in CreateDefaultBuilder
  src/DefaultBuilder/src/GenericHostBuilderExtensions.cs
  src/DefaultBuilder/src/WebHost.cs
Labels: area-hosting

#20659 Reenable sharedfx with arm64 queue skipped
  eng/helix/content/InstallAppRuntime.ps1
  eng/helix/content/InstallAspNetRef.ps1
  eng/helix/content/RunTests/TestRunner.cs
  eng/helix/content/installappruntime.sh
  eng/helix/content/installaspnetref.sh
  eng/helix/content/runtests.sh
  eng/targets/Helix.targets
  src/Framework/test/Microsoft.AspNetCore.App.UnitTests.csproj
  src/Framework/test/SharedFxTests.cs
  src/Framework/test/TargetingPackTests.cs
Labels: area-infrastructure

#20695 Pin 2 CoreFx dependencies
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#20533 Remove workaround in HeaderPropagationMiddleware
  src/Middleware/HeaderPropagation/src/HeaderPropagationMiddleware.cs
  src/Middleware/HeaderPropagation/test/HeaderPropagationMiddlewareTest.cs
Labels: area-middleware

#20647 Enable reading and editing from same Configuration object
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostConfiguration.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyHostConfigurationTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyConfigurationTest.cs
  src/Components/test/testassets/BasicTestApp/BasicTestApp.csproj
  src/Components/test/testassets/BasicTestApp/ConfigurationComponent.razor
  src/Components/test/testassets/BasicTestApp/Program.cs
  src/Components/test/testassets/BasicTestApp/wwwroot/appsettings.json
Labels: area-blazor

#20711 Turn off SDL validation
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#20691 Turn off SDL validation
  .azure/pipelines/ci.yml
Labels: area-infrastructure, auto-merge

#20023 Replaced Span<T>.Fill(0) with Span<T>.Clear()
  src/Components/Server/src/BlazorPack/SequenceOfT.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Shared/Http2cat/Http2Utilities.cs
  src/Shared/HttpSys/RequestProcessing/NativeRequestContext.cs
Labels: Attention: Shared Code Modified, area-blazor, area-servers

#20742 Use different Ubuntu pools for Ubuntu tests to avoid disk space issues.
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
  eng/scripts/install-nginx-linux.sh
Labels: area-infrastructure

#20693 [Helix] Install aspnet runtime as part of test runner
  eng/helix/content/InstallAppRuntime.ps1
  eng/helix/content/InstallAspNetRef.ps1
  eng/helix/content/RunTests/Program.cs
  eng/helix/content/RunTests/RunTestsOptions.cs
  eng/helix/content/RunTests/TestRunner.cs
  eng/helix/content/installappruntime.sh
  eng/helix/content/installaspnetref.sh
  eng/helix/content/runtests.cmd
  eng/helix/content/runtests.sh
  eng/targets/Helix.targets
Labels: area-infrastructure

#20704 Print disk usage
  .azure/pipelines/jobs/default-build.yml
  src/Components/Web.JS/dist/Release/blazor.server.js
Labels: area-infrastructure

#20741 Fix flaky HealthCheck test
  src/HealthChecks/HealthChecks/src/HealthCheckPublisherHostedService.cs
  src/HealthChecks/HealthChecks/test/HealthCheckPublisherHostedServiceTest.cs
Labels: area-healthchecks

#20682 [Blazor][Wasm] Adds HttpMessageHandler to automatically attach tokens to outgoing requests
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticationBuilderExtensions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/AccessTokenResult.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/AuthorizationMessageHandler.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/BaseAddressAuthorizationMessageHandler.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/ExpiredTokenException.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/RemoteAuthenticationService.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/WebAssemblyAuthenticationServiceCollectionExtensions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/AuthorizationMessageHandlerTests.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostConfiguration.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Pages/FetchData.razor
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Program.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Wasm.Authentication.Client.csproj
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/WeatherForecastClient.cs
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/ComponentsWebAssembly-CSharp.Client.csproj.in
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/Microsoft.AspNetCore.Components.WebAssembly.Templates.csproj
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Pages/FetchData.razor
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Program.cs
Labels: area-blazor

#18802 HttpRequestStreamReader overrides for Read Span, ReadAsync Memory, ReadLine and ReadLineAsync
  src/Http/WebUtilities/perf/Microsoft.AspNetCore.WebUtilities.Performance/HttpRequestStreamReaderReadLineBenchmark.cs
  src/Http/WebUtilities/perf/Microsoft.AspNetCore.WebUtilities.Performance/Microsoft.AspNetCore.WebUtilities.Performance.csproj
  src/Http/WebUtilities/ref/Microsoft.AspNetCore.WebUtilities.netcoreapp.cs
  src/Http/WebUtilities/src/HttpRequestStreamReader.cs
  src/Http/WebUtilities/test/HttpRequestStreamReaderTest.cs
Labels: area-servers

#20723 Update to preview5
  eng/Versions.props
Labels: area-infrastructure

#20749 Blazor wasm preview5
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/WebAssembly/WebAssembly.Authentication/src/IRemoteAuthenticationPathsProvider.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Models/AccessToken.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Models/RemoteAuthenticationResult.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Options/OidcProviderOptions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Options/RemoteAuthenticationOptions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticationBuilderExtensions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticationDefaults.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticatorViewCore.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/AccessTokenRequestOptions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/AccessTokenResult.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/AuthorizationMessageHandler.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/BaseAddressAuthorizationMessageHandler.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/ExpiredTokenException.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/RemoteAuthenticationService.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/WebAssemblyAuthenticationServiceCollectionExtensions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/AuthorizationMessageHandlerTests.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/RemoteAuthenticationServiceTests.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/WebAssemblyAuthenticationServiceCollectionExtensionsTests.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostConfiguration.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyHostConfigurationTest.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Pages/FetchData.razor
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Program.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Wasm.Authentication.Client.csproj
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/WeatherForecastClient.cs
  src/Components/test/E2ETest/Tests/WebAssemblyConfigurationTest.cs
  src/Components/test/testassets/BasicTestApp/BasicTestApp.csproj
  src/Components/test/testassets/BasicTestApp/ConfigurationComponent.razor
  src/Components/test/testassets/BasicTestApp/Program.cs
  src/Components/test/testassets/BasicTestApp/wwwroot/appsettings.json
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/ComponentsWebAssembly-CSharp.Client.csproj.in
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/Microsoft.AspNetCore.Components.WebAssembly.Templates.csproj
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Pages/FetchData.razor
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Program.cs
Labels: area-blazor

#20562 Make header parsing "safe"
  src/Servers/Kestrel/Core/src/Internal/Http/HttpParser.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpRequestHeaders.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/HttpUtilities.cs
  src/Servers/Kestrel/Core/test/HttpParserTests.cs
  src/Servers/Kestrel/shared/test/HttpParsingData.cs
  src/Shared/ServerInfrastructure/BufferExtensions.cs
Labels: area-servers

#20792 Unconditionally enable razor pages in hosted template. Fixes #20791
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Startup.cs
Labels: area-blazor, blazor-wasm

#20382 Create a ref-assembly package for HttpHandler
  eng/Version.Details.xml
  eng/Versions.props
  src/Components/Blazor.sln
  src/Components/WebAssembly/Build/src/targets/BuiltInBclLinkerDescriptor.xml
  src/Components/WebAssembly/Build/test/RuntimeDependenciesResolverTest.cs
  src/Components/WebAssembly/WebAssembly/src/Http/BrowserRequestCache.cs
  src/Components/WebAssembly/WebAssembly/src/Http/BrowserRequestCredentials.cs
  src/Components/WebAssembly/WebAssembly/src/Http/BrowserRequestMode.cs
  src/Components/WebAssembly/WebAssembly/src/Http/WebAssemblyHttpMessageHandlerOptions.cs
  src/Components/WebAssembly/WebAssembly/src/Http/WebAssemblyHttpRequestMessageExtensions.cs
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.csproj
  src/Components/WebAssembly/WebAssemblyHttpHandler/src/Microsoft.AspNetCore.Components.WebAssembly.HttpHandler.csproj
  src/Components/WebAssembly/WebAssemblyHttpHandler/src/Microsoft.AspNetCore.Components.WebAssembly.HttpHandler.netstandard2.1.cs
  src/Components/WebAssembly/WebAssemblyHttpHandler/src/Microsoft.AspNetCore.Components.WebAssembly.HttpHandler.nuspec
  src/Components/WebAssembly/testassets/MonoSanity/wwwroot/loader.js
  src/Components/test/testassets/BasicTestApp/BasicTestApp.csproj
  src/Components/test/testassets/BasicTestApp/HttpClientTest/CookieCounterComponent.razor
  src/Components/test/testassets/BasicTestApp/Program.cs
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/_Imports.razor
Labels: area-blazor

#20438 Allow access to msgpack configuration options
  src/SignalR/clients/ts/signalr-protocol-msgpack/src/MessagePackHubProtocol.ts
  src/SignalR/clients/ts/signalr-protocol-msgpack/src/MessagePackOptions.ts
  src/SignalR/clients/ts/signalr-protocol-msgpack/src/index.ts
  src/SignalR/clients/ts/signalr-protocol-msgpack/tests/MessagePackHubProtocol.test.ts
Labels: api-approved, area-signalr

#20803 [Helix] Force overwrite when installing app runtime
  eng/helix/content/RunTests/TestRunner.cs
Labels: area-infrastructure

#18232 Implement HttpRequestStreamReader.ReadToEndAsync
  src/Http/WebUtilities/ref/Microsoft.AspNetCore.WebUtilities.netcoreapp.cs
  src/Http/WebUtilities/src/HttpRequestStreamReader.cs
  src/Http/WebUtilities/test/HttpRequestStreamReaderTest.cs
Labels: area-servers

#20802 Pin shared fx version to 3.1.0
  src/Components/WebAssembly/Compression/src/Microsoft.AspNetCore.Components.WebAssembly.Build.BrotliCompression.csproj
Labels: area-blazor

#20478 Add missing OffsetX and OffsetY events to MouseEventArgs.
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Rendering/EventForDotNet.ts
  src/Components/Web/ref/Microsoft.AspNetCore.Components.Web.netcoreapp.cs
  src/Components/Web/ref/Microsoft.AspNetCore.Components.Web.netstandard2.0.cs
  src/Components/Web/src/Web/MouseEventArgs.cs
Labels: api-approved, area-blazor

#20793 Update Blazor WebAssembly survey link for 3.2.0-preview5
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/SurveyPrompt.razor
Labels: area-mvc

#20728 Quarantine AppCanHandleClientAbortingConnectionMidRequest.
  src/Servers/Kestrel/test/FunctionalTests/RequestTests.cs
Labels: area-servers

#20736 Fix various "Type or namespace not found" errors
  eng/scripts/CodeCheck.ps1
  src/Antiforgery/src/Microsoft.AspNetCore.Antiforgery.csproj
  src/Components/Server/src/Microsoft.AspNetCore.Components.Server.csproj
  src/Hosting/Abstractions/src/Microsoft.AspNetCore.Hosting.Abstractions.csproj
  src/Hosting/Hosting/src/Microsoft.AspNetCore.Hosting.csproj
  src/Hosting/Server.Abstractions/src/Microsoft.AspNetCore.Hosting.Server.Abstractions.csproj
  src/Http/Authentication.Abstractions/src/Microsoft.AspNetCore.Authentication.Abstractions.csproj
  src/Http/Headers/src/Microsoft.Net.Http.Headers.csproj
  src/Http/Http.Abstractions/src/Microsoft.AspNetCore.Http.Abstractions.csproj
  src/Http/Http.Extensions/src/Microsoft.AspNetCore.Http.Extensions.csproj
  src/Http/Http/src/Microsoft.AspNetCore.Http.csproj
  src/Http/Routing/src/Microsoft.AspNetCore.Routing.csproj
  src/Http/WebUtilities/src/Microsoft.AspNetCore.WebUtilities.csproj
  src/Middleware/CORS/src/Microsoft.AspNetCore.Cors.csproj
  src/Middleware/Diagnostics/src/Microsoft.AspNetCore.Diagnostics.csproj
  src/Middleware/HealthChecks/src/Microsoft.AspNetCore.Diagnostics.HealthChecks.csproj
  src/Middleware/HostFiltering/src/Microsoft.AspNetCore.HostFiltering.csproj
  src/Middleware/HttpOverrides/src/Microsoft.AspNetCore.HttpOverrides.csproj
  src/Middleware/HttpsPolicy/src/Microsoft.AspNetCore.HttpsPolicy.csproj
  src/Middleware/Localization/src/Microsoft.AspNetCore.Localization.csproj
  src/Middleware/ResponseCaching.Abstractions/src/Microsoft.AspNetCore.ResponseCaching.Abstractions.csproj
  src/Middleware/ResponseCaching/src/Microsoft.AspNetCore.ResponseCaching.csproj
  src/Middleware/ResponseCompression/src/Microsoft.AspNetCore.ResponseCompression.csproj
  src/Middleware/Rewrite/src/Microsoft.AspNetCore.Rewrite.csproj
  src/Middleware/Session/src/Microsoft.AspNetCore.Session.csproj
  src/Middleware/StaticFiles/src/Microsoft.AspNetCore.StaticFiles.csproj
  src/Middleware/WebSockets/src/Microsoft.AspNetCore.WebSockets.csproj
  src/Mvc/Mvc.Abstractions/src/Microsoft.AspNetCore.Mvc.Abstractions.csproj
  src/Mvc/Mvc.Core/src/Microsoft.AspNetCore.Mvc.Core.csproj
  src/Mvc/Mvc.DataAnnotations/src/Microsoft.AspNetCore.Mvc.DataAnnotations.csproj
  src/Mvc/Mvc.Localization/src/Microsoft.AspNetCore.Mvc.Localization.csproj
  src/Mvc/Mvc.Razor/src/Microsoft.AspNetCore.Mvc.Razor.csproj
  src/Mvc/Mvc.TagHelpers/src/Microsoft.AspNetCore.Mvc.TagHelpers.csproj
  src/Mvc/Mvc.ViewFeatures/src/Microsoft.AspNetCore.Mvc.ViewFeatures.csproj
  src/Mvc/Mvc/src/Microsoft.AspNetCore.Mvc.csproj
  src/Razor/Razor/src/Microsoft.AspNetCore.Razor.csproj
  src/Security/Authentication/Core/src/Microsoft.AspNetCore.Authentication.csproj
  src/Security/CookiePolicy/src/Microsoft.AspNetCore.CookiePolicy.csproj
  src/Servers/HttpSys/src/Microsoft.AspNetCore.Server.HttpSys.csproj
  src/Servers/IIS/IIS/src/Microsoft.AspNetCore.Server.IIS.csproj
  src/Servers/IIS/IISIntegration/src/Microsoft.AspNetCore.Server.IISIntegration.csproj
  src/Servers/Kestrel/Core/src/Microsoft.AspNetCore.Server.Kestrel.Core.csproj
  src/Servers/Kestrel/Transport.Sockets/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.csproj
  src/SignalR/common/Http.Connections/src/Microsoft.AspNetCore.Http.Connections.csproj
  src/SignalR/server/Core/src/Microsoft.AspNetCore.SignalR.Core.csproj
Labels: area-infrastructure

#20667 Use BuildTools internally too
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#18212 ModelValidation: Fixed MaxDepth exception when there are more items left then MaxValidationDepth after reaching MaxAllowedErrors
  src/Mvc/Mvc.Core/src/ModelBinding/Validation/ValidationVisitor.cs
  src/Mvc/Mvc.Core/test/ModelBinding/Validation/DefaultObjectValidatorTests.cs
Labels: area-mvc

#20466 [release/3.1] Pass access token as query string when running SignalR in the browser
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnection.Log.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnection.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/Utils.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/WebSocketsTransport.cs
Labels: Servicing-approved, area-signalr, ask-mode

#20493 Add timezone support
  eng/Version.Details.xml
  eng/Versions.props
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/BinaryDecoder.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/Web.JS/src/Platform/Mono/TimezoneDataFile.ts
  src/Components/Web.JS/src/Rendering/RenderBatch/OutOfProcessRenderBatch.ts
  src/Components/Web.JS/src/Utf8Decoder.ts
  src/Components/WebAssembly/Build/src/targets/Blazor.MonoRuntime.targets
  src/Components/WebAssembly/Build/src/targets/Standalone.Web.config
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/BuildCompressionTests.cs
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/BuildIntegrationTest.cs
  src/Components/WebAssembly/Server/src/ComponentsWebAssemblyApplicationBuilderExtensions.cs
  src/Components/test/E2ETest/ServerExecutionTests/ServerGlobalizationTest.cs
  src/Components/test/E2ETest/Tests/GlobalizationTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyGlobalizationTest.cs
Labels: area-blazor

#20795 Add BuildNumber to SiteExtension build
  src/SiteExtensions/LoggingAggregate/src/Microsoft.AspNetCore.AzureAppServices.SiteExtension/Microsoft.AspNetCore.AzureAppServices.SiteExtension.csproj
Labels: Servicing-approved, area-hosting

#20790 Move auth config options to app settings
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostConfiguration.cs
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/template.json
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Program.cs
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/appsettings.Development.json
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/appsettings.json
Labels: area-blazor, blazor-wasm

#20836 [master] Unpin and update efcore dependencies
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#20831 Always flush HTTP/2 headers despite flow control
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-servers

#20769 [blazor-wasm] Fix weather.json
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/sample-data/weather.json
Labels: area-blazor

#20804 Inconsistency between file name and type name.
  src/Analyzers/Analyzers/src/BuildServiceProviderAnalyzer.cs
  src/Analyzers/Analyzers/src/StartupAnalyzer.cs
Labels: analyzer, area-mvc

#20862 [Blazor][Wasm] Build fixes preview4 fix
  src/Components/WebAssembly/Build/src/Tasks/GzipCompressBlazorApplicationFiles.cs
  src/Components/WebAssembly/Build/src/targets/Blazor.MonoRuntime.targets
  src/Components/WebAssembly/Build/src/targets/ServiceWorkerAssetsManifest.targets
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/BuildCompressionTests.cs
  src/Components/WebAssembly/Compression/src/Program.cs
Labels: area-blazor

#20861 [Blazor][Wasm] Build fixes
  src/Components/WebAssembly/Build/src/Tasks/GzipCompressBlazorApplicationFiles.cs
  src/Components/WebAssembly/Build/src/targets/Blazor.MonoRuntime.targets
  src/Components/WebAssembly/Build/src/targets/ServiceWorkerAssetsManifest.targets
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/BuildCompressionTests.cs
  src/Components/WebAssembly/Compression/src/Program.cs
Labels: area-blazor

#20839 Use SemVer1 for SiteExtension
  src/SiteExtensions/LoggingAggregate/src/Microsoft.AspNetCore.AzureAppServices.SiteExtension/Microsoft.AspNetCore.AzureAppServices.SiteExtension.csproj
Labels: Servicing-approved, area-hosting

#20869 Add Microsoft.Extensions.Logging namespace to template
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Program.cs
Labels: area-blazor, blazor-wasm

#20844 Don't re-use DefaultHttpContext if IHttpContextAccessor is in use
  src/Hosting/Hosting/src/Http/DefaultHttpContextFactory.cs
  src/Hosting/Hosting/src/Internal/HostingApplication.cs
  src/Hosting/Hosting/test/HostingApplicationDiagnosticsTests.cs
  src/Hosting/Hosting/test/HostingApplicationTests.cs
  src/Http/Http/src/DefaultHttpContext.cs
Labels: Servicing-approved, area-servers, bug

#20871 Revert "Use BuildTools internally too"
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#20044 Fixing QueryCollection property documentation
  src/Http/Http/src/QueryCollection.cs
Labels: area-servers, auto-merge

#20863 Remove SPA project template tests
  src/ProjectTemplates/test/Helpers/Project.cs
  src/ProjectTemplates/test/SpaTemplateTest/AngularTemplateTest.cs
  src/ProjectTemplates/test/SpaTemplateTest/ReactReduxTemplateTest.cs
  src/ProjectTemplates/test/SpaTemplateTest/ReactTemplateTest.cs
  src/ProjectTemplates/test/SpaTemplateTest/SpaTemplateTestBase.cs
Labels: area-mvc

#20022 [HTTPS] Update certificate strategy for Mac OS
  src/ProjectTemplates/test/Helpers/AspNetProcess.cs
  src/Servers/Kestrel/Core/src/Internal/LoggerExtensions.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsTests.cs
  src/Shared/CertificateGeneration/CertificateManager.cs
  src/Shared/CertificateGeneration/MacOSCertificateManager.cs
  src/Shared/CertificateGeneration/UnixCertificateManager.cs
  src/Shared/CertificateGeneration/WindowsCertificateManager.cs
  src/Tools/FirstRunCertGenerator/src/CertificateGenerator.cs
  src/Tools/FirstRunCertGenerator/test/CertificateManagerTests.cs
  src/Tools/Tools.sln
  src/Tools/dotnet-dev-certs/src/Program.cs
Labels: area-servers

#20878 Copy I18N assemblies when running without the linker
  src/Components/WebAssembly/Build/src/targets/Blazor.MonoRuntime.props
  src/Components/WebAssembly/Build/src/targets/Blazor.MonoRuntime.targets
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/BuildIntegrationTest.cs
Labels: area-blazor

#20907 Emit unhandled exception info via a single console.error call. Fixes #20280
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyConsoleLogger.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyConsoleLoggerProvider.cs
Labels: area-blazor, blazor-wasm

#20697 Define default unpkg file for SignalR JS client
  src/SignalR/clients/ts/signalr/package.json
Labels: area-signalr, auto-merge

#20703 Define default unpkg file for SignalR MsgPack library
  src/SignalR/clients/ts/signalr-protocol-msgpack/package.json
Labels: area-signalr, auto-merge

#20919 [Helix] Capture more output/errors in test runner
  eng/helix/content/RunTests/ProcessUtil.cs
  eng/helix/content/RunTests/TestRunner.cs
Labels: area-infrastructure

#20889 Update BenchmarkDotNet for 5.0
  eng/Versions.props
  src/Shared/BenchmarkRunner/DefaultCoreConfig.cs
  src/Shared/BenchmarkRunner/DefaultCoreDebugConfig.cs
  src/Shared/BenchmarkRunner/DefaultCorePerfLabConfig.cs
  src/Shared/BenchmarkRunner/DefaultCoreProfileConfig.cs
  src/Shared/BenchmarkRunner/DefaultCoreValidationConfig.cs
Labels: area-infrastructure

#20892 Add support for listening to arbitrary endpoints
  src/Servers/Kestrel/Core/ref/Microsoft.AspNetCore.Server.Kestrel.Core.netcoreapp.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Servers/Kestrel/Core/src/ListenOptions.cs
  src/Servers/Kestrel/Core/test/ListenOptionsTests.cs
  src/Servers/Kestrel/test/Sockets.BindTests/SocketTransportFactoryTests.cs
Labels: area-servers

#20283 Fix content showing on top of sticky header
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/wwwroot/css/site.css
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/wwwroot/css/site.css
Labels: area-blazor

#20881 Fix AuthStateAsyncReturnsUnrelatedCancelledTask_TreatAsFailure flake
  src/Components/Server/test/Circuits/RevalidatingServerAuthenticationStateProviderTest.cs
Labels: area-blazor, test-failure

#20944 [Blazor][Wasm] Fix typo preventing the service worker from being removed on publish
  src/Components/WebAssembly/Build/src/targets/ServiceWorkerAssetsManifest.targets
Labels: area-blazor

#20966 Get off the hosted ubuntu linux queue due to disk space limitations
  .azure/pipelines/ci.yml
Labels: area-infrastructure, auto-merge

#20891 Fixup reference to M.AspNetCore.Components.WebAssembly.HttpHandler
  src/Components/Directory.Build.targets
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.csproj
  src/Components/WebAssembly/testassets/HostedInAspNet.Client/HostedInAspNet.Client.csproj
  src/Components/WebAssembly/testassets/StandaloneApp/StandaloneApp.csproj
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Wasm.Authentication.Client.csproj
  src/Components/test/testassets/BasicTestApp/BasicTestApp.csproj
Labels: area-blazor

#20954 Update to rc1 branding
  eng/Versions.props
Labels: area-infrastructure

#20974 Update Blazor WebAssembly survey link for 3.2.0-rc1
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/SurveyPrompt.razor
Labels: area-mvc

#20937 Fix TimerAwaitable rooting
  src/SignalR/clients/csharp/Client/test/UnitTests/TimerAwaitableTests.cs
  src/SignalR/common/Shared/TimerAwaitable.cs
Labels: area-signalr

#20973 Improve tests for logging configuration support
  src/Components/test/E2ETest/Tests/WebAssemblyLoggingTest.cs
  src/Components/test/testassets/BasicTestApp/PrependMessageLoggerProvider.cs
  src/Components/test/testassets/BasicTestApp/Program.cs
  src/Components/test/testassets/BasicTestApp/wwwroot/appsettings.json
Labels: area-blazor

#20958 [Helix] Don't fail fast on ef tool install issues (may be already installed)
  eng/helix/content/RunTests/TestRunner.cs
Labels: area-infrastructure

#20922 Share SignalR's HubProtocol implementation in Blazor
  src/Components/Server/src/BlazorPack/BlazorPackHubProtocol.cs
  src/Components/Server/src/BlazorPack/BlazorPackHubProtocolWorker.cs
  src/Components/Server/src/Microsoft.AspNetCore.Components.Server.csproj
  src/SignalR/common/Protocols.MessagePack/src/Protocol/DefaultMessagePackHubProtocolWorker.cs
  src/SignalR/common/Protocols.MessagePack/src/Protocol/MessagePackHubProtocol.cs
  src/SignalR/common/Protocols.MessagePack/src/Protocol/MessagePackHubProtocolWorker.cs
Labels: area-signalr

#21000 Add missing projects to allow solution build
  src/SignalR/SignalR.sln
Labels: area-signalr

#21016 Use System.Text.Json's copy ctor
  src/Mvc/Mvc.Core/src/Formatters/SystemTextJsonOutputFormatter.cs
  src/Mvc/Mvc.Core/src/Infrastructure/JsonSerializerOptionsCopyConstructor.cs
  src/Mvc/Mvc.Core/test/Formatters/SystemTextJsonOutputFormatterTest.cs
  src/Mvc/Mvc.ViewFeatures/src/Rendering/SystemTextJsonHelper.cs
Labels: area-mvc

#20865 Update DbgProxy to https://github.com/mono/mono/commit/c8cbcaad
  src/Components/WebAssembly/DebugProxy/src/MonoDebugProxy/ws-proxy/DebugStore.cs
  src/Components/WebAssembly/DebugProxy/src/MonoDebugProxy/ws-proxy/DevToolsHelper.cs
  src/Components/WebAssembly/DebugProxy/src/MonoDebugProxy/ws-proxy/DevToolsProxy.cs
  src/Components/WebAssembly/DebugProxy/src/MonoDebugProxy/ws-proxy/MonoProxy.cs
Labels: area-blazor

#21028 Avoid copying timezone data bytes
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Platform/Mono/TimezoneDataFile.ts
Labels: area-blazor

#21031 Update branding to preview5
  eng/Versions.props
Labels: area-infrastructure

#21021 Compute SHA256s for blazor.boot.json in parallel
  src/Components/WebAssembly/Build/src/Tasks/BlazorGetFileHash.cs
  src/Components/WebAssembly/Build/src/targets/Blazor.MonoRuntime.targets
Labels: area-blazor

#21025 [Helix] Install ef tool to work item root instead of globally
  eng/helix/content/RunTests/TestRunner.cs
Labels: area-infrastructure

#21037 Remove flaky FlowControl_ParallelStreams_FirstInFirstOutOrder test
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-servers

#21034 Update DbgProxy to https://github.com/mono/mono/commit/ae8e4b5b044
  src/Components/WebAssembly/DebugProxy/src/MonoDebugProxy/ws-proxy/DevToolsHelper.cs
  src/Components/WebAssembly/DebugProxy/src/MonoDebugProxy/ws-proxy/MonoProxy.cs
Labels: area-blazor

#21043 Use newer post-build.yml than Arcade provides
  eng/common/templates/post-build/post-build.yml
Labels: area-infrastructure

#20655 Use SQLite write-ahead logging and shared caches
  src/Identity/ApiAuthorization.IdentityServer/samples/ApiAuthSample/appsettings.json
  src/MusicStore/samples/MusicStore/ForTesting/Mocks/StartupOpenIdConnectTesting.cs
  src/MusicStore/samples/MusicStore/ForTesting/Mocks/StartupSocialTesting.cs
  src/MusicStore/samples/MusicStore/Startup.cs
  src/MusicStore/samples/MusicStore/StartupNtlmAuthentication.cs
  src/MusicStore/samples/MusicStore/StartupOpenIdConnect.cs
  src/Mvc/benchmarkapps/BasicApi/Startup.cs
  src/Mvc/benchmarkapps/BasicViews/Startup.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/app.db
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/app.db
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/app.db
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/appsettings.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/appsettings.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/appsettings.json
Labels: area-mvc

#21075 Update dbgproxy to https://github.com/mono/mono/commit/70ff920a8
  src/Components/WebAssembly/DebugProxy/src/MonoDebugProxy/ws-proxy/DevToolsHelper.cs
  src/Components/WebAssembly/DebugProxy/src/MonoDebugProxy/ws-proxy/DevToolsProxy.cs
  src/Components/WebAssembly/DebugProxy/src/MonoDebugProxy/ws-proxy/MonoProxy.cs
Labels: area-blazor

#21001 Use the default pipe options for backpressure
  src/SignalR/clients/csharp/Client/test/UnitTests/ServerSentEventsTransportTests.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/ClientPipeOptions.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/PipeReaderFactory.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/ServerSentEventsTransport.cs
  src/SignalR/server/SignalR/test/EndToEndTests.cs
Labels: area-signalr

#20801 Fix use of precedence in endpoint routing DFA
  src/Http/Routing/src/Matching/DfaMatcherBuilder.cs
  src/Http/Routing/src/Template/RoutePrecedence.cs
  src/Http/Routing/test/UnitTests/Matching/DfaMatcherBuilderTest.cs
  src/Http/Routing/test/UnitTests/Matching/FullFeaturedMatcherConformanceTest.cs
Labels: area-servers

#20900 Fix missing space in exception message
  src/Mvc/Mvc.Testing/src/Resources.resx
Labels: area-mvc

#20874 Use encodeURIComponent instead of encodeURI to support returnURLs with many query params
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/components/api-authorization/AuthorizeRoute.js
Labels: area-mvc

#20975 Silence the runtime output from the debugger
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
Labels: area-blazor

#21099 Use different machines for linux arm64
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#21113 Quarantine test that caused test abort
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTests.cs
Labels: area-servers

#21044 Fixing build warnings
  NuGet.config
  src/Servers/IIS/IIS/benchmarks/IIS.Performance/FirstRequestConfig.cs
  src/SiteExtensions/LoggingBranch/Directory.Build.targets
  src/SiteExtensions/LoggingBranch/LB.csproj
Labels: area-servers

#21131 Fix SiteExtension build and warning
  src/SiteExtensions/LoggingBranch/Directory.Build.targets
  src/SiteExtensions/LoggingBranch/LB.csproj
Labels: area-hosting, area-infrastructure

#21103 Add support for trimming collator data
  src/Components/WebAssembly/Build/src/targets/Blazor.MonoRuntime.props
  src/Components/WebAssembly/Build/src/targets/Blazor.MonoRuntime.targets
  src/Components/WebAssembly/Build/src/targets/CollationLinkerDescriptor.xml
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/Assert.cs
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/PublishIntegrationTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyStringComparisonTest.cs
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/StringComparisonComponent.razor
Labels: area-blazor

#20464 Add documentation for aspnetcore-tooling consolidation
  docs/tooling-consolidation.md
Labels: area-infrastructure

#21102 Quarantine identity test
  src/Identity/Specification.Tests/src/Microsoft.AspNetCore.Identity.Specification.Tests.csproj
  src/Identity/Specification.Tests/src/UserManagerSpecificationTests.cs
Labels: area-identity
