Repository dotnet/aspnetcore, pull requests merged in 2020-03, with the labels that each got.

#19383 [Helix] Templates tests 2.0
  eng/helix/content/runtests.cmd
  eng/helix/content/runtests.sh
  eng/targets/Helix.targets
  src/ProjectTemplates/test/Helpers/Project.cs
  src/ProjectTemplates/test/IdentityUIPackageTest.cs
  src/ProjectTemplates/test/MvcTemplateTest.cs
  src/ProjectTemplates/test/RazorClassLibraryTemplateTest.cs
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
  src/ProjectTemplates/test/WorkerTemplateTest.cs
Labels: area-mvc

#19393 Eliminate HTTP2 HPack enumerator allocations
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2HeaderEnumerator.cs
  src/Servers/Kestrel/Core/test/HPackEncoderTests.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/Http2FrameWriterBenchmark.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/Mocks/NullPipeWriter.cs
  src/Servers/Kestrel/samples/http2cat/http2cat.csproj
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Shared/Http2cat/Http2Utilities.cs
  src/Shared/runtime/Http2/Hpack/HPackEncoder.cs
Labels: area-servers

#19482 Update BenchmarkDotNet and add Http2Connection benchmark
  eng/Versions.props
  src/Servers/IIS/IIS/benchmarks/IIS.Performance/FirstRequestConfig.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/Http2ConnectionBenchmark.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/Microsoft.AspNetCore.Server.Kestrel.Performance.csproj
  src/Servers/Kestrel/perf/Kestrel.Performance/Mocks/MockDuplexPipe.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/Mocks/MockSystemClock.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/Mocks/MockTimeoutControl.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/Mocks/NullPipeWriter.cs
  src/Servers/Kestrel/shared/test/PipeWriterHttp2FrameExtensions.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Shared/BenchmarkRunner/DefaultCoreConfig.cs
  src/Shared/BenchmarkRunner/DefaultCorePerfLabConfig.cs
  src/Shared/BenchmarkRunner/DefaultCoreValidationConfig.cs
  src/Shared/BenchmarkRunner/ParamsDisplayInfoColumn.cs
Labels: area-infrastructure, area-servers

#19519 Revert "[Helix] Reenable some Templates tests 2.0 (#19383)"
  eng/helix/content/runtests.cmd
  eng/helix/content/runtests.sh
  eng/targets/Helix.targets
  src/ProjectTemplates/test/Helpers/Project.cs
  src/ProjectTemplates/test/IdentityUIPackageTest.cs
  src/ProjectTemplates/test/MvcTemplateTest.cs
  src/ProjectTemplates/test/RazorClassLibraryTemplateTest.cs
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
  src/ProjectTemplates/test/WorkerTemplateTest.cs
Labels: auto-merge

#19515 Fix warning about dotnet_exe_path_tests.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLibTests/CommonLibTests.vcxproj
  src/Servers/IIS/AspNetCoreModuleV2/CommonLibTests/dotnet_exe_path_tests.cpp
Labels: area-servers, auto-merge

#19525 [Blazor][Fixes #19503] Exclude gzip files from manifest
  src/Components/WebAssembly/Build/src/targets/ServiceWorkerAssetsManifest.targets
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/PwaManifestTests.cs
Labels: area-blazor

#19526 Update debug proxy to match Mono commit b91580ba
  src/Components/WebAssembly/Server/src/MonoDebugProxy/ws-proxy/DebugStore.cs
  src/Components/WebAssembly/Server/src/MonoDebugProxy/ws-proxy/MonoProxy.cs
Labels: area-blazor, blazor-wasm

#19518 Update shared code license headers
  src/Shared/runtime/Http2/Hpack/DynamicTable.cs
  src/Shared/runtime/Http2/Hpack/H2StaticTable.cs
  src/Shared/runtime/Http2/Hpack/HPackDecoder.cs
  src/Shared/runtime/Http2/Hpack/HPackDecodingException.cs
  src/Shared/runtime/Http2/Hpack/HPackEncoder.cs
  src/Shared/runtime/Http2/Hpack/HPackEncodingException.cs
  src/Shared/runtime/Http2/Hpack/HeaderField.cs
  src/Shared/runtime/Http2/Hpack/Huffman.cs
  src/Shared/runtime/Http2/Hpack/HuffmanDecodingException.cs
  src/Shared/runtime/Http2/Hpack/IntegerDecoder.cs
  src/Shared/runtime/Http2/Hpack/IntegerEncoder.cs
  src/Shared/runtime/Http2/Hpack/StatusCodes.cs
  src/Shared/runtime/Quic/Implementations/MsQuic/Internal/ResettableCompletionSource.cs
  src/Shared/test/Shared.Tests/runtime/Http2/DynamicTableTest.cs
  src/Shared/test/Shared.Tests/runtime/Http2/HPackDecoderTest.cs
Labels: area-servers

#19529 Don't reference checked-in platform manifest
  src/Framework/ref/Microsoft.AspNetCore.App.Ref.csproj
Labels: area-platform

#19431 Only reset Http2Stream on stream completion
  src/Servers/Kestrel/Core/src/Internal/Http/Http1Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2StreamOfT.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/test/HttpProtocolFeatureCollectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-servers

#19470 Add HeaderNames.XRequestedWith = "X-Requested-With"
  src/Http/Headers/ref/Microsoft.Net.Http.Headers.netcoreapp.cs
  src/Http/Headers/src/HeaderNames.cs
  src/Identity/test/InMemory.Test/FunctionalTest.cs
  src/Security/Authentication/Cookies/src/CookieAuthenticationEvents.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HttpConnectionTests.Transport.cs
  src/SignalR/server/SignalR/test/WebSocketsTransportTests.cs
Labels: api-approved, area-servers

#19477 Allow cert file and private key file to be passed in
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionListener.cs
  src/Servers/Kestrel/Transport.Quic/src/QuicTransportOptions.cs
  src/Shared/runtime/Quic/Implementations/MsQuic/Internal/MsQuicApi.cs
  src/Shared/runtime/Quic/Interop/MsQuicNativeMethods.cs
Labels: area-servers

#19558 Allow arbitrary dll extensions
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
Labels: area-blazor, blazor-wasm

#19469 Rename Flaky attribute
  .azure/pipelines/ci.yml
  Directory.Build.props
  eng/FlakyTests.AfterArcade.props
  eng/FlakyTests.BeforeArcade.props
  eng/QuarantinedTests.AfterArcade.props
  eng/QuarantinedTests.BeforeArcade.props
  eng/helix/content/runtests.cmd
  eng/helix/content/runtests.sh
  src/Components/test/E2ETest/Tests/EventTest.cs
  src/Identity/test/Identity.Test/IdentityUIScriptsTest.cs
  src/Mvc/test/Mvc.FunctionalTests/TempDataInCookiesUsingCookieConsentTest.cs
  src/Servers/HttpSys/test/FunctionalTests/Listener/RequestBodyTests.cs
  src/Servers/HttpSys/test/FunctionalTests/ResponseCachingTests.cs
  src/Servers/HttpSys/test/FunctionalTests/ServerTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/AppOfflineTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/ConfigurationChangeTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/FrebTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/SynchronousReadAndWriteTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/LogFileTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/ClientDisconnectTests.cs
  src/Servers/Kestrel/test/BindTests/AddressRegistrationTests.cs
  src/Servers/Kestrel/test/FunctionalTests/MaxRequestBufferSizeTests.cs
  src/Servers/Kestrel/test/FunctionalTests/UnixDomainSocketsTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ConnectionLimitTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TimeoutTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/H2SpecTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
  src/Testing/src/FlakyOn.cs
  src/Testing/src/xunit/FlakyAttribute.cs
  src/Testing/src/xunit/FlakyTraitDiscoverer.cs
  src/Testing/src/xunit/QuarantinedTestAttribute.cs
  src/Testing/src/xunit/QuarantinedTestTraitDiscoverer.cs
  src/Testing/test/FlakyAttributeTest.cs
  src/Testing/test/QuarantinedTestAttributeTest.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiAddURLTests.cs
  src/Tools/dotnet-user-secrets/test/InitCommandTest.cs
  src/Tools/dotnet-user-secrets/test/SecretManagerTests.cs
  src/Tools/dotnet-watch/test/AppWithDepsTests.cs
  src/Tools/dotnet-watch/test/DotNetWatcherTests.cs
  src/Tools/dotnet-watch/test/GlobbingAppTests.cs
  src/Tools/dotnet-watch/test/NoDepsAppTests.cs
Labels: area-infrastructure

#19565 Fixed Typo in UrlDecoder.cs
  src/Shared/UrlDecoder/UrlDecoder.cs
Labels: auto-merge

#19568 Quarantining some tests
  src/Security/Authentication/Negotiate/test/Negotiate.Test/EventTests.cs
  src/Security/Authentication/Negotiate/test/Negotiate.Test/Microsoft.AspNetCore.Authentication.Negotiate.Test.csproj
  src/Security/Authentication/Negotiate/test/Negotiate.Test/NegotiateHandlerTests.cs
  src/Security/Authentication/Negotiate/test/Negotiate.Test/ServerDeferralTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-servers, auto-merge

#19357 Add example for UserLoginInfo's ProviderDisplayName property
  src/Identity/Extensions.Core/src/UserLoginInfo.cs
Labels: area-identity, auto-merge

#19415 Mark tests as flaky
  src/Components/test/E2ETest/ServerExecutionTests/ComponentHubReliabilityTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/InteropReliabilityTests.cs
  src/Components/test/E2ETest/ServerExecutionTests/ServerComponentRenderingTest.cs
  src/Components/test/E2ETest/Tests/ComponentRenderingTest.cs
Labels: area-blazor, auto-merge

#19584 Quarantine the `ReactTemplate_IndividualAuth_NetCore` test
  src/ProjectTemplates/test/SpaTemplateTest/ReactTemplateTest.cs
Labels: area-mvc

#19589 Reset Http2Stream when it starts
  src/Servers/Kestrel/Core/src/Internal/Http/Http1Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2StreamOfT.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/test/HttpProtocolFeatureCollectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-servers

#19587 Update dependencies
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#19521 Add HTTP/2 HPack static compression
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpRequestHeaders.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpResponseHeaders.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpResponseTrailers.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/HPackHeaderWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2HeaderEnumerator.cs
  src/Servers/Kestrel/Core/test/HPackHeaderWriterTests.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/Http2ConnectionBenchmark.cs
  src/Servers/Kestrel/shared/KnownHeaders.cs
  src/Servers/Kestrel/shared/test/PipeWriterHttp2FrameExtensions.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TimeoutTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
  src/Shared/Http2cat/HPackHeaderWriter.cs
  src/Shared/Http2cat/Http2Utilities.cs
  src/Shared/runtime/Http2/Hpack/H2StaticTable.cs
  src/Shared/runtime/Http2/Hpack/HPackEncoder.cs
Labels: area-servers

#19596 [Blazor][wasm] Fix incrementalism with compression when linker is disabled
  src/Components/WebAssembly/Build/src/targets/Compression.targets
Labels: area-blazor

#19547 Use browser APIs to calculate Blazor's download size
  src/Components/benchmarkapps/Wasm.Performance/Driver/BenchmarkResult.cs
  src/Components/benchmarkapps/Wasm.Performance/Driver/BenchmarkResultsStartup.cs
  src/Components/benchmarkapps/Wasm.Performance/Driver/BenchmarkScenarioResult.cs
  src/Components/benchmarkapps/Wasm.Performance/Driver/Program.cs
  src/Components/benchmarkapps/Wasm.Performance/Driver/Wasm.Performance.Driver.csproj
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Pages/Index.razor
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/benchmarks/blazorDownloadSize.js
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/benchmarks/index.js
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/benchmarks/util/BlazorApp.js
Labels: area-blazor

#19600 Update debug proxy
  src/Components/WebAssembly/Server/src/MonoDebugProxy/ws-proxy/DebugStore.cs
  src/Components/WebAssembly/Server/src/MonoDebugProxy/ws-proxy/DevToolsProxy.cs
  src/Components/WebAssembly/Server/src/MonoDebugProxy/ws-proxy/MonoProxy.cs
Labels: area-blazor, auto-merge, blazor-wasm

#19601 [Blazor] API cleanups for the authentication Package
  src/Components/WebAssembly/Authentication.Msal/src/Interop/AuthenticationService.ts
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/AuthenticationService.ts
  src/Components/WebAssembly/WebAssembly.Authentication/src/Models/RemoteAuthenticationResult.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Models/RemoteAuthenticationStatus.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Options/OidcProviderOptions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticatorViewCore.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/AccessTokenResult.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/AccessTokenResultStatus.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/RemoteAuthenticationService.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/RemoteAuthenticationServiceTests.cs
Labels: area-blazor, auto-merge

#19516 Enable detailed msbuild verbosity for user secrets
  src/Tools/Shared/TestHelpers/TestConsole.cs
  src/Tools/dotnet-user-secrets/src/Internal/ProjectIdResolver.cs
Labels: area-commandlinetools

#19585 Add HeaderEnumerator tests
  src/Servers/Kestrel/Core/test/Http2HeadersEnumeratorTests.cs
Labels: area-servers

#19588 Add functional test for header string reuse in HTTP/1.1
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTests.cs
Labels: area-servers

#19356 Reuse HTTP2 stream pipes to reduce allocations
  src/Servers/Kestrel/Core/src/Internal/Http2/FlowControl/InputFlowControl.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/FlowControl/OutputFlowControl.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/FlowControl/StreamInputFlowControl.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/FlowControl/StreamOutputFlowControl.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/PipeWriterHelpers/ConcurrentPipeWriter.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-servers

#19573 try re-enabling http2 interop tests on helix
  src/Servers/Kestrel/test/Interop.FunctionalTests/Interop.FunctionalTests.csproj
Labels: area-servers

#19616 Quarantine flaky test
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-servers, auto-merge

#19618 Update debug proxy
  src/Components/WebAssembly/Server/src/MonoDebugProxy/ws-proxy/MonoProxy.cs
Labels: area-blazor, blazor-wasm

#19625 [Helix] Don't run arm queues on quarantined runs
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#19620 Skip arm64 queues on internal builds
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#19649 Make BlazorLinkerDescriptor public
  src/Components/WebAssembly/Build/src/targets/Blazor.MonoRuntime.targets
Labels: area-blazor

#19622 Fix StreamPool_StreamIsInvalidState_DontReturnedToPool
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-servers, auto-merge

#19632 Update branding to preview3
  eng/Versions.props
Labels: area-infrastructure

#19654 Johluo/merge preview1
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsTests.cs
Labels: area-servers

#19317 Build aspnetcore for win-arm64
  .azure/pipelines/ci.yml
  Directory.Build.props
  build.ps1
  eng/Dependencies.props
  eng/Signing.props
  src/Shared/E2ETesting/E2ETesting.props
Labels: area-infrastructure

#19652 Don't run Java tests on quarantine run
  .azure/pipelines/quarantined-tests.yml
Labels: area-infrastructure

#19612 [SignalR] Avoid deadlock with closing and user callbacks
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HubConnectionTests.cs
Labels: area-signalr

#19572 fix #19571 by removing dataprotection.azure packages
  eng/Dependencies.props
  eng/ProjectReferences.props
  eng/Version.Details.xml
  eng/Versions.props
  src/DataProtection/AzureKeyVault/src/AzureDataProtectionBuilderExtensions.cs
  src/DataProtection/AzureKeyVault/src/AzureKeyVaultXmlDecryptor.cs
  src/DataProtection/AzureKeyVault/src/AzureKeyVaultXmlEncryptor.cs
  src/DataProtection/AzureKeyVault/src/IKeyVaultWrappingClient.cs
  src/DataProtection/AzureKeyVault/src/KeyVaultClientWrapper.cs
  src/DataProtection/AzureKeyVault/src/Microsoft.AspNetCore.DataProtection.AzureKeyVault.csproj
  src/DataProtection/AzureKeyVault/src/Properties/AssemblyInfo.cs
  src/DataProtection/AzureKeyVault/test/AzureKeyVaultXmlEncryptorTests.cs
  src/DataProtection/AzureKeyVault/test/Microsoft.AspNetCore.DataProtection.AzureKeyVault.Tests.csproj
  src/DataProtection/AzureStorage/src/AzureBlobXmlRepository.cs
  src/DataProtection/AzureStorage/src/AzureDataProtectionBuilderExtensions.cs
  src/DataProtection/AzureStorage/src/Microsoft.AspNetCore.DataProtection.AzureStorage.csproj
  src/DataProtection/AzureStorage/test/AzureBlobXmlRepositoryTests.cs
  src/DataProtection/AzureStorage/test/AzureDataProtectionBuilderExtensionsTest.cs
  src/DataProtection/AzureStorage/test/Microsoft.AspNetCore.DataProtection.AzureStorage.Tests.csproj
  src/DataProtection/DataProtection.sln
  src/DataProtection/samples/AzureBlob/AzureBlob.csproj
  src/DataProtection/samples/AzureBlob/Program.cs
  src/DataProtection/samples/AzureKeyVault/AzureKeyVault.csproj
  src/DataProtection/samples/AzureKeyVault/Program.cs
  src/DataProtection/samples/AzureKeyVault/settings.json
Labels: area-dataprotection

#19672 Remove inspectUri launch setting
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Properties/launchSettings.json
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Properties/launchSettings.json
Labels: area-blazor, area-mvc, blazor-wasm

#19684 Unquarantined the OpenApi tests
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiAddURLTests.cs
Labels: area-commandlinetools

#19690 Use a property instead of a method
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/ConnectionManager.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/ConnectionReference.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelConnection.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelConnectionOfT.cs
  src/Servers/Kestrel/Core/test/ConnectionDispatcherTests.cs
Labels: area-servers

#19678 [blazor-wasm] Update hosted and BYOC agents used in our builds
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#19520 [Helix] Reenable some template tests again
  eng/helix/content/runtests.cmd
  eng/helix/content/runtests.sh
  eng/targets/Helix.targets
  src/ProjectTemplates/test/Helpers/Project.cs
  src/ProjectTemplates/test/IdentityUIPackageTest.cs
  src/ProjectTemplates/test/MvcTemplateTest.cs
  src/ProjectTemplates/test/RazorClassLibraryTemplateTest.cs
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
  src/ProjectTemplates/test/WorkerTemplateTest.cs
Labels: area-infrastructure

#19706 [Blazor] Fix default value for response type
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/AuthenticationService.ts
Labels: area-blazor

#19673 [master] Update hosted (AzDO) and BYOC (dnceng) agents used in our builds
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#19712 Update survey link for 3.2 preview 2
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/SurveyPrompt.razor
Labels: area-mvc

#19667 Quarantine ComponentLifecycleMethodThrowsExceptionTerminatesTheCircuit
  src/Components/test/E2ETest/ServerExecutionTests/ComponentHubInvalidEventTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/ComponentHubReliabilityTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/InteropReliabilityTests.cs
  src/Components/test/E2ETest/ServerExecutionTests/RemoteRendererBufferLimitTest.cs
Labels: area-blazor

#19674 [release/5.0 preview2] Update hosted (AzDO) and BYOC (dnceng) agents used in our builds
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure, tell-mode

#19619 Allow BlazorWasm benchmark driver to perform stress runs
  src/Components/benchmarkapps/Wasm.Performance/Driver/BenchmarkResultsStartup.cs
  src/Components/benchmarkapps/Wasm.Performance/Driver/Program.cs
  src/Components/benchmarkapps/Wasm.Performance/Driver/Selenium.cs
  src/Components/benchmarkapps/Wasm.Performance/README.md
  src/Components/benchmarkapps/Wasm.Performance/dockerfile
  src/Components/benchmarkapps/Wasm.Performance/exec.sh
  src/Components/benchmarkapps/Wasm.Performance/local.dockerfile
Labels: area-blazor

#19506 Support nullable enum in InputSelect
  src/Components/Web/src/Forms/InputSelect.cs
  src/Components/Web/test/Forms/InputSelectTest.cs
Labels: area-blazor

#19661 Fix #2442 by adding webmanifest extension to content-type map
  src/Middleware/StaticFiles/src/FileExtensionContentTypeProvider.cs
Labels: area-middleware

#19695 Reuse Http2OutputProducer.ProcessDataWrites task
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
  src/Shared/ServerInfrastructure/ManualResetValueTaskSource.cs
Labels: area-servers

#19694 Read server response in Http2ConnectionBenchmark
  src/Servers/Kestrel/perf/Kestrel.Performance/Http2ConnectionBenchmark.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/Mocks/MockHttpContextFactory.cs
  src/Servers/Kestrel/shared/test/PipeWriterHttp2FrameExtensions.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Shared/BenchmarkRunner/Program.cs
Labels: area-servers

#19707 Merge some straggling master fixes down to preview2
  .azure/pipelines/ci.yml
  eng/targets/Helix.Common.props
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-infrastructure

#19721 Reenable Components analyzers on helix
  src/Components/Analyzers/test/Microsoft.AspNetCore.Components.Analyzers.Tests.csproj
Labels: area-blazor

#19582 Increase logging in TS functional tests
  src/SignalR/clients/ts/FunctionalTests/Program.cs
  src/SignalR/clients/ts/FunctionalTests/Startup.cs
Labels: area-signalr

#19658 Use TargetPath in blazor dev server
  src/Components/WebAssembly/DevServer/src/build/Microsoft.AspNetCore.Components.WebAssembly.DevServer.targets
Labels: area-blazor

#19755 Update gitter url
  src/Components/README.md
Labels: area-blazor

#19771 Update Blazor versions to preview3
  eng/Versions.props
Labels: area-infrastructure

#19629 Reuse Http2MessageBody
  src/Servers/Kestrel/Core/src/Internal/Http/Http1MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
Labels: area-servers

#19732 Avoid string allocation when converting zero
  src/Http/Headers/src/HeaderUtilities.cs
Labels: area-servers

#19746 [ANCM] Add switch to prefer env over web.config
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/environmentvariablehash.h
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/environmentvariablehelpers.h
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/EnvironmentVariableTests.cs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/RequiresIISAttribute.cs
Labels: area-servers

#19786 Revert "Remove inspectUri launch setting (#19672)"
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Properties/launchSettings.json
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Properties/launchSettings.json
Labels: area-blazor, area-mvc, blazor-wasm

#19544 Add support for configuration
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/Platform/BootConfig.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/Web.JS/src/Platform/Mono/MonoTypes.d.ts
  src/Components/Web.JS/src/Platform/Mono/MonoTypes.ts
  src/Components/Web.JS/src/Platform/Platform.ts
  src/Components/Web.JS/src/Platform/WebAssemblyConfigLoader.ts
  src/Components/Web.JS/src/Platform/WebAssemblyResourceLoader.ts
  src/Components/Web.JS/src/Rendering/RenderBatch/SharedMemoryRenderBatch.ts
  src/Components/WebAssembly/Build/src/Tasks/GenerateBlazorBootJson.cs
  src/Components/WebAssembly/Build/src/targets/Blazor.MonoRuntime.targets
  src/Components/WebAssembly/Build/test/RuntimeDependenciesResolverTest.cs
  src/Components/WebAssembly/DevServer/src/Server/Program.cs
  src/Components/WebAssembly/Server/src/ComponentsWebAssemblyApplicationBuilderExtensions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/WebAssemblyAuthenticationServiceCollectionExtensionsTests.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/IWebAssemblyHostEnvironment.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostEnvironment.cs
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.csproj
  src/Components/test/E2ETest/Tests/WebAssemblyConfigurationHostedTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyConfigurationTest.cs
  src/Components/test/testassets/BasicTestApp/ConfigurationComponent.razor
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/wwwroot/appsettings.Development.json
  src/Components/test/testassets/BasicTestApp/wwwroot/appsettings.Production.json
  src/Components/test/testassets/BasicTestApp/wwwroot/appsettings.json
Labels: area-blazor

#19767 Debug proxy as external tool
  src/Components/Blazor.sln
  src/Components/WebAssembly/DebugProxy/src/DebugProxyOptions.cs
  src/Components/WebAssembly/DebugProxy/src/Microsoft.AspNetCore.Components.WebAssembly.DebugProxy.csproj
  src/Components/WebAssembly/DebugProxy/src/MonoDebugProxy/ws-proxy/DebugStore.cs
  src/Components/WebAssembly/DebugProxy/src/MonoDebugProxy/ws-proxy/DevToolsProxy.cs
  src/Components/WebAssembly/DebugProxy/src/MonoDebugProxy/ws-proxy/MonoProxy.cs
  src/Components/WebAssembly/DebugProxy/src/Program.cs
  src/Components/WebAssembly/DebugProxy/src/Startup.cs
  src/Components/WebAssembly/DebugProxy/src/TargetPickerUi.cs
  src/Components/WebAssembly/Server/src/DebugProxyLauncher.cs
  src/Components/WebAssembly/Server/src/Microsoft.AspNetCore.Components.WebAssembly.Server.csproj
  src/Components/WebAssembly/Server/src/MonoDebugProxy/WebAssemblyNetDebugProxyAppBuilderExtensions.cs
  src/Components/WebAssembly/Server/src/WebAssemblyNetDebugProxyAppBuilderExtensions.cs
  src/Components/WebAssembly/Server/src/build/Microsoft.AspNetCore.Components.WebAssembly.Server.targets
  src/Components/WebAssembly/testassets/HostedInAspNet.Server/Properties/launchSettings.json
  src/Components/WebAssembly/testassets/StandaloneApp/Properties/launchSettings.json
  src/Shared/CommandLineUtils/Utilities/DotNetMuxer.cs
Labels: area-blazor, blazor-wasm

#19606 Log unhandled exceptions to custom logger
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/WebAssembly/WebAssembly/src/Rendering/WebAssemblyRenderer.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyConsoleLogger.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyLoggerFactory.cs
  src/Components/test/E2ETest/Tests/ErrorNotificationTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyLoggingTest.cs
  src/Components/test/testassets/BasicTestApp/ErrorComponent.razor
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/LoggingComponent.razor
  src/Components/test/testassets/BasicTestApp/PrependMessageLoggerFactory.cs
  src/Components/test/testassets/BasicTestApp/Program.cs
Labels: area-blazor, blazor-wasm

#19826 Update debugger proxy to match Mono commit b777471fcace8
  src/Components/WebAssembly/DebugProxy/src/MonoDebugProxy/ws-proxy/DevToolsProxy.cs
  src/Components/WebAssembly/DebugProxy/src/MonoDebugProxy/ws-proxy/MonoProxy.cs
Labels: area-blazor, blazor-wasm

#19833 Remove dependency on Microsoft.Extensions.Configuration.AzureKeyVault
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#19797 Add environment variables for Launcher path and args in ANCM
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/ShimOptions.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/ConfigurationSection.h
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/InProcessOptions.cpp
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/requesthandler_config.cpp
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/StartupTests.cs
Labels: area-servers

#19708 Use Node-Fetch instead of Request for TS client
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/yarn.lock
  src/SignalR/clients/ts/FunctionalTests/ts/Common.ts
  src/SignalR/clients/ts/FunctionalTests/webpack.config.js
  src/SignalR/clients/ts/FunctionalTests/yarn.lock
  src/SignalR/clients/ts/signalr-protocol-msgpack/yarn.lock
  src/SignalR/clients/ts/signalr/package.json
  src/SignalR/clients/ts/signalr/src/DefaultHttpClient.ts
  src/SignalR/clients/ts/signalr/src/EmptyNodeHttpClient.ts
  src/SignalR/clients/ts/signalr/src/FetchHttpClient.ts
  src/SignalR/clients/ts/signalr/src/NodeHttpClient.ts
  src/SignalR/clients/ts/signalr/webpack.config.js
  src/SignalR/clients/ts/signalr/yarn.lock
  src/SignalR/clients/ts/webpack.config.base.js
Labels: area-signalr

#19837 [blazor-wasm] Ensure PDBArtifacts artifact is created
  eng/Publishing.props
Labels: area-infrastructure

#19893 Ignore bad restore sources (dotnet-watch tests)
  src/Tools/dotnet-watch/test/Scenario/ProjectToolScenario.cs
Labels: area-commandlinetools

#19897 Fix Blazor icon for PWAs on iOS
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/icon-512.png
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/index.html
  src/ProjectTemplates/ProjectTemplates.sln
Labels: area-blazor, blazor-wasm

#19898 Resolve issues in Blazor PWA template
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/index.html
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/manifest.json
Labels: area-blazor, blazor-wasm

#19901 Build aspnetcore for win-arm64 (#19317)
  .azure/pipelines/ci.yml
  Directory.Build.props
  build.ps1
  eng/Dependencies.props
  eng/Signing.props
  src/Shared/E2ETesting/E2ETesting.props
Labels: Servicing-approved, area-platform

#19621 Bugfix for Microsoft.AspNetCore.Identity.Base32.ToBase32 function
  src/Identity/Extensions.Core/src/Base32.cs
  src/Identity/test/Identity.Test/Base32Test.cs
Labels: area-identity

#19903 Don't ship Wasm.Performance.Driver
  src/Components/benchmarkapps/Wasm.Performance/Driver/Wasm.Performance.Driver.csproj
Labels: Servicing-approved, area-blazor

#19906 Don't ship Wasm.Performance.Driver
  src/Components/benchmarkapps/Wasm.Performance/Driver/Wasm.Performance.Driver.csproj
Labels: area-blazor

#19908 Turn on scope validation for service provider in Development
  src/Components/WebAssembly/JSInterop/src/WebAssemblyJSRuntime.cs
  src/Components/WebAssembly/JSInterop/src/WebAssemblyJSRuntimeExtensions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/WebAssemblyAuthenticationServiceCollectionExtensionsTests.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.csproj
  src/Components/WebAssembly/WebAssembly/src/Rendering/WebAssemblyRenderer.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/TestWebAssemblyJSRuntime.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyHostBuilderTest.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyHostTest.cs
Labels: area-blazor

#19751 Unquarantine H2Spec tests
  src/Servers/Kestrel/test/Interop.FunctionalTests/H2SpecTests.cs
Labels: area-servers, auto-merge

#19756 Make change for #18729
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectHandler.cs
Labels: area-security, auto-merge

#19783 Use resettable awaitable in flow control
  src/Servers/Kestrel/Core/src/Internal/Http2/FlowControl/AwaitableProvider.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/FlowControl/OutputFlowControl.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/FlowControl/OutputFlowControlAwaitable.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/FlowControl/StreamOutputFlowControl.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/Http2FrameWriterBenchmark.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
  src/Shared/ServerInfrastructure/ManualResetValueTaskSource.cs
Labels: area-servers

#19959 More quarantining
  src/Servers/Kestrel/test/FunctionalTests/ResponseTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-servers

#19944 Remove global xunit max thread setting
  eng/helix/content/default.runner.json
Labels: area-infrastructure

#19534 Update XML docs for OnStarting
  src/Http/Http.Abstractions/src/HttpResponse.cs
Labels: area-servers

#19396 Add SocketTransportOption to enable/disable WaitForData
  src/Servers/Kestrel/Transport.Sockets/ref/Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.netcoreapp.cs
  src/Servers/Kestrel/Transport.Sockets/src/Client/SocketConnectionFactory.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketConnectionListener.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketTransportOptions.cs
Labels: api-approved, area-servers

#19977 Fix flaky FlowControl_ParallelStreams_FirstInFirstOutOrder
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-servers

#19978 Skipping tests which were running too long
  src/ProjectTemplates/test/GrpcTemplateTest.cs
  src/ProjectTemplates/test/IdentityUIPackageTest.cs
  src/ProjectTemplates/test/MvcTemplateTest.cs
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
  src/ProjectTemplates/test/SpaTemplateTest/ReactTemplateTest.cs
  src/ProjectTemplates/test/WorkerTemplateTest.cs
Labels: area-infrastructure

#19968 Restore public API contract on WebAssemblyJSRuntime
  src/Components/Shared/test/TestWebAssemblyJSRuntimeInvoker.cs
  src/Components/WebAssembly/JSInterop/src/WebAssemblyJSRuntime.cs
  src/Components/WebAssembly/JSInterop/src/WebAssemblyJSRuntimeExtensions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/Microsoft.AspNetCore.Components.WebAssembly.Authentication.Tests.csproj
  src/Components/WebAssembly/WebAssembly.Authentication/test/WebAssemblyAuthenticationServiceCollectionExtensionsTests.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyJSRuntimeInvoker.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/TestWebAssemblyJSRuntime.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyHostBuilderTest.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyHostTest.cs
  src/Components/WebAssembly/WebAssembly/test/Microsoft.AspNetCore.Components.WebAssembly.Tests.csproj
Labels: area-blazor

#19999 Shrink icon
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/icon-512.png
Labels: area-blazor, area-mvc, blazor-wasm

#19980 Use custom DebugProxyHost to initialize DebugProxy config
  src/Components/WebAssembly/DebugProxy/src/Hosting/DebugProxyHost.cs
  src/Components/WebAssembly/DebugProxy/src/Program.cs
  src/Components/WebAssembly/Server/src/DebugProxyLauncher.cs
Labels: area-blazor

#20004 Skip flaky TS client test
  src/SignalR/clients/ts/FunctionalTests/ts/HubConnectionTests.ts
Labels: area-signalr

#20003 Quarantine a flaky test
  src/Servers/Kestrel/test/FunctionalTests/MaxRequestBufferSizeTests.cs
Labels: area-servers

#19923 Add comments cautioning against changing DeveloperCertificates.XPlat
  eng/Publishing.props
  src/Tools/FirstRunCertGenerator/src/Microsoft.AspNetCore.DeveloperCertificates.XPlat.csproj
Labels: area-infrastructure

#19934 Disable the sync action in forks
  .github/workflows/runtime-sync.yml
Labels: area-infrastructure, auto-merge

#19976 Quarantine template test
  src/ProjectTemplates/test/ItemTemplateTests/BlazorServerTests.cs
Labels: area-mvc

#20011 Correct permalink to publishing.props
  src/Tools/FirstRunCertGenerator/src/Microsoft.AspNetCore.DeveloperCertificates.XPlat.csproj
Labels: area-commandlinetools

#19989 Adding reference to MessagePackAnalyzer to check for MsgPack001 / MsgPack002 (Banned API)
  .gitignore
  eng/Dependencies.props
  eng/Versions.props
  src/SignalR/common/Protocols.MessagePack/src/.editorconfig
  src/SignalR/common/Protocols.MessagePack/src/Microsoft.AspNetCore.SignalR.Protocols.MessagePack.csproj
  src/SignalR/common/Protocols.MessagePack/src/Protocol/MessagePackHubProtocol.cs
Labels: area-signalr

#20008 Spruce up WebAssemblyHostEnvironment interface and use
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostEnvironmentExtensions.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyHostBuilderTest.cs
Labels: area-blazor

#20005 [Helix] Also upload logs from windows queues
  eng/helix/content/runtests.cmd
Labels: area-infrastructure

#20032 Quarantine 2 flaky tests
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
Labels: area-servers

#17040 Add gRPC interop tests
  .azure/pipelines/ci.yml
  .azure/pipelines/quarantined-tests.yml
  Directory.Build.targets
  eng/Build.props
  eng/Dependencies.props
  eng/Versions.props
  eng/helix/content/runtests.sh
  eng/targets/FunctionalTestAsset.targets
  eng/targets/FunctionalTestWithAssets.targets
  src/Grpc/Grpc.sln
  src/Grpc/THIRD-PARTY-NOTICES
  src/Grpc/build.cmd
  src/Grpc/build.sh
  src/Grpc/startvs.cmd
  src/Grpc/test/InteropTests/Helpers/ClientProcess.cs
  src/Grpc/test/InteropTests/Helpers/InteropTestsFixture.cs
  src/Grpc/test/InteropTests/Helpers/WebsiteProcess.cs
  src/Grpc/test/InteropTests/InteropTests.cs
  src/Grpc/test/InteropTests/InteropTests.csproj
  src/Grpc/test/testassets/InteropClient/Assert.cs
  src/Grpc/test/testassets/InteropClient/AsyncStreamExtensions.cs
  src/Grpc/test/testassets/InteropClient/IChannelWrapper.cs
  src/Grpc/test/testassets/InteropClient/InteropClient.cs
  src/Grpc/test/testassets/InteropClient/InteropClient.csproj
  src/Grpc/test/testassets/InteropClient/Program.cs
  src/Grpc/test/testassets/InteropClient/RunTests.ps1
  src/Grpc/test/testassets/InteropWebsite/AsyncStreamExtensions.cs
  src/Grpc/test/testassets/InteropWebsite/Directory.Build.targets
  src/Grpc/test/testassets/InteropWebsite/InteropWebsite.csproj
  src/Grpc/test/testassets/InteropWebsite/Program.cs
  src/Grpc/test/testassets/InteropWebsite/Startup.cs
  src/Grpc/test/testassets/InteropWebsite/TestServiceImpl.cs
  src/Grpc/test/testassets/Proto/grpc/testing/empty.proto
  src/Grpc/test/testassets/Proto/grpc/testing/messages.proto
  src/Grpc/test/testassets/Proto/grpc/testing/test.proto
  src/Grpc/test/testassets/README.md
  src/ProjectTemplates/test/Helpers/AspNetProcess.cs
  src/ProjectTemplates/test/Helpers/ErrorMessages.cs
  src/ProjectTemplates/test/Helpers/Project.cs
  src/ProjectTemplates/test/Helpers/TemplatePackageInstaller.cs
  src/ProjectTemplates/test/SpaTemplateTest/SpaTemplateTestBase.cs
  src/Shared/Process/ProcessEx.cs
Labels: area-grpc, area-infrastructure, area-mvc

#20047 Revert "Add gRPC interop tests"
  .azure/pipelines/ci.yml
  .azure/pipelines/quarantined-tests.yml
  Directory.Build.targets
  eng/Build.props
  eng/Dependencies.props
  eng/Versions.props
  eng/helix/content/runtests.sh
  eng/targets/FunctionalTestAsset.targets
  eng/targets/FunctionalTestWithAssets.targets
  src/Grpc/Grpc.sln
  src/Grpc/THIRD-PARTY-NOTICES
  src/Grpc/build.cmd
  src/Grpc/build.sh
  src/Grpc/startvs.cmd
  src/Grpc/test/InteropTests/Helpers/ClientProcess.cs
  src/Grpc/test/InteropTests/Helpers/InteropTestsFixture.cs
  src/Grpc/test/InteropTests/Helpers/WebsiteProcess.cs
  src/Grpc/test/InteropTests/InteropTests.cs
  src/Grpc/test/InteropTests/InteropTests.csproj
  src/Grpc/test/testassets/InteropClient/Assert.cs
  src/Grpc/test/testassets/InteropClient/AsyncStreamExtensions.cs
  src/Grpc/test/testassets/InteropClient/IChannelWrapper.cs
  src/Grpc/test/testassets/InteropClient/InteropClient.cs
  src/Grpc/test/testassets/InteropClient/InteropClient.csproj
  src/Grpc/test/testassets/InteropClient/Program.cs
  src/Grpc/test/testassets/InteropClient/RunTests.ps1
  src/Grpc/test/testassets/InteropWebsite/AsyncStreamExtensions.cs
  src/Grpc/test/testassets/InteropWebsite/Directory.Build.targets
  src/Grpc/test/testassets/InteropWebsite/InteropWebsite.csproj
  src/Grpc/test/testassets/InteropWebsite/Program.cs
  src/Grpc/test/testassets/InteropWebsite/Startup.cs
  src/Grpc/test/testassets/InteropWebsite/TestServiceImpl.cs
  src/Grpc/test/testassets/Proto/grpc/testing/empty.proto
  src/Grpc/test/testassets/Proto/grpc/testing/messages.proto
  src/Grpc/test/testassets/Proto/grpc/testing/test.proto
  src/Grpc/test/testassets/README.md
  src/ProjectTemplates/test/Helpers/AspNetProcess.cs
  src/ProjectTemplates/test/Helpers/ErrorMessages.cs
  src/ProjectTemplates/test/Helpers/ProcessEx.cs
  src/ProjectTemplates/test/Helpers/Project.cs
  src/ProjectTemplates/test/Helpers/TemplatePackageInstaller.cs
  src/ProjectTemplates/test/SpaTemplateTest/SpaTemplateTestBase.cs
Labels: auto-merge

#19832 Fix SSR issues for SignalR: require is not defined
  src/SignalR/clients/ts/signalr/src/FetchHttpClient.ts
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
Labels: area-signalr

#19957 Remove PortablePdbReader except trace cleanup
  src/Shared/StackTrace/StackFrame/PortablePdbReader.cs
  src/Shared/StackTrace/StackFrame/StackTraceHelper.cs
Labels: area-mvc

#20015 Fix #10756 by removing some previously-obsoleted SignalR methods
  src/Analyzers/Analyzers/src/StartupFacts.cs
  src/Analyzers/Analyzers/test/CompilationFeatureDetectorTest.cs
  src/Analyzers/Analyzers/test/TestFiles/CompilationFeatureDetectorTest/StartupWithUseSignalR.cs
  src/SignalR/common/Http.Connections/ref/Microsoft.AspNetCore.Http.Connections.netcoreapp.cs
  src/SignalR/common/Http.Connections/src/ConnectionsAppBuilderExtensions.cs
  src/SignalR/common/Http.Connections/src/ConnectionsRouteBuilder.cs
  src/SignalR/common/Http.Connections/test/MapConnectionHandlerTests.cs
  src/SignalR/server/SignalR/ref/Microsoft.AspNetCore.SignalR.netcoreapp.cs
  src/SignalR/server/SignalR/src/HubRouteBuilder.cs
  src/SignalR/server/SignalR/src/SignalRAppBuilderExtensions.cs
  src/SignalR/server/SignalR/test/EndToEndTests.cs
  src/SignalR/server/SignalR/test/MapSignalRTests.cs
  src/SignalR/server/SignalR/test/Startup.cs
Labels: api-approved, area-signalr, auto-merge, breaking-change

#20069 Add gRPC interop tests (again)
  .azure/pipelines/ci.yml
  .azure/pipelines/quarantined-tests.yml
  Directory.Build.targets
  eng/Build.props
  eng/Dependencies.props
  eng/Versions.props
  eng/helix/content/runtests.sh
  eng/targets/FunctionalTestAsset.targets
  eng/targets/FunctionalTestWithAssets.targets
  src/Grpc/Grpc.sln
  src/Grpc/THIRD-PARTY-NOTICES
  src/Grpc/build.cmd
  src/Grpc/build.sh
  src/Grpc/startvs.cmd
  src/Grpc/test/InteropTests/Helpers/ClientProcess.cs
  src/Grpc/test/InteropTests/Helpers/InteropTestsFixture.cs
  src/Grpc/test/InteropTests/Helpers/WebsiteProcess.cs
  src/Grpc/test/InteropTests/InteropTests.cs
  src/Grpc/test/InteropTests/InteropTests.csproj
  src/Grpc/test/testassets/InteropClient/Assert.cs
  src/Grpc/test/testassets/InteropClient/AsyncStreamExtensions.cs
  src/Grpc/test/testassets/InteropClient/IChannelWrapper.cs
  src/Grpc/test/testassets/InteropClient/InteropClient.cs
  src/Grpc/test/testassets/InteropClient/InteropClient.csproj
  src/Grpc/test/testassets/InteropClient/Program.cs
  src/Grpc/test/testassets/InteropClient/RunTests.ps1
  src/Grpc/test/testassets/InteropWebsite/AsyncStreamExtensions.cs
  src/Grpc/test/testassets/InteropWebsite/Directory.Build.targets
  src/Grpc/test/testassets/InteropWebsite/InteropWebsite.csproj
  src/Grpc/test/testassets/InteropWebsite/Program.cs
  src/Grpc/test/testassets/InteropWebsite/Startup.cs
  src/Grpc/test/testassets/InteropWebsite/TestServiceImpl.cs
  src/Grpc/test/testassets/Proto/grpc/testing/empty.proto
  src/Grpc/test/testassets/Proto/grpc/testing/messages.proto
  src/Grpc/test/testassets/Proto/grpc/testing/test.proto
  src/Grpc/test/testassets/README.md
  src/ProjectTemplates/test/Helpers/AspNetProcess.cs
  src/ProjectTemplates/test/Helpers/ErrorMessages.cs
  src/ProjectTemplates/test/Helpers/Project.cs
  src/ProjectTemplates/test/Helpers/TemplatePackageInstaller.cs
  src/ProjectTemplates/test/SpaTemplateTest/SpaTemplateTestBase.cs
  src/Shared/Process/ProcessEx.cs
Labels: area-grpc

#20019 Add BaseAddress property to WebAssemblyHostEnvironment
  src/Components/Shared/test/TestWebAssemblyJSRuntimeInvoker.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Services/NavigationManager.ts
  src/Components/WebAssembly/WebAssembly/src/Hosting/IWebAssemblyHostEnvironment.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostEnvironment.cs
  src/Components/WebAssembly/WebAssembly/src/Services/HttpClientServiceCollectionExtensions.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyNavigationManager.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyHostBuilderTest.cs
  src/Components/WebAssembly/testassets/StandaloneApp/Program.cs
  src/Components/test/E2ETest/Tests/ClientSideHostingTest.cs
  src/Components/test/testassets/BasicTestApp/Program.cs
  src/Components/test/testassets/TestServer/Program.cs
  src/Components/test/testassets/TestServer/StartupWithMapFallbackToClientSideBlazor.cs
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Program.cs
Labels: area-blazor

#20083 StopAsync resets state on inactive connection
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HubConnectionTests.ConnectionLifecycle.cs
Labels: area-signalr

#19935 Re-enable signing validation again
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#19801 Update NuGet.config
  NuGet.config
Labels: area-infrastructure

#20099 Fix memory leak in HubConnection
  src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/HubConnection.java
Labels: area-signalr

#20117 Blazor wasm preview4
  src/Components/Shared/test/TestWebAssemblyJSRuntimeInvoker.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/Web.JS/src/Services/NavigationManager.ts
  src/Components/WebAssembly/DebugProxy/src/Hosting/DebugProxyHost.cs
  src/Components/WebAssembly/DebugProxy/src/Program.cs
  src/Components/WebAssembly/JSInterop/src/WebAssemblyJSRuntime.cs
  src/Components/WebAssembly/JSInterop/src/WebAssemblyJSRuntimeExtensions.cs
  src/Components/WebAssembly/Server/src/DebugProxyLauncher.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/Microsoft.AspNetCore.Components.WebAssembly.Authentication.Tests.csproj
  src/Components/WebAssembly/WebAssembly.Authentication/test/WebAssemblyAuthenticationServiceCollectionExtensionsTests.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/IWebAssemblyHostEnvironment.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostEnvironment.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostEnvironmentExtensions.cs
  src/Components/WebAssembly/WebAssembly/src/Services/HttpClientServiceCollectionExtensions.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyJSRuntimeInvoker.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyNavigationManager.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/TestWebAssemblyJSRuntime.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyHostBuilderTest.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyHostTest.cs
  src/Components/WebAssembly/WebAssembly/test/Microsoft.AspNetCore.Components.WebAssembly.Tests.csproj
  src/Components/WebAssembly/testassets/StandaloneApp/Program.cs
  src/Components/test/E2ETest/Tests/ClientSideHostingTest.cs
  src/Components/test/testassets/BasicTestApp/Program.cs
  src/Components/test/testassets/TestServer/Program.cs
  src/Components/test/testassets/TestServer/StartupWithMapFallbackToClientSideBlazor.cs
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Program.cs
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/icon-512.png
Labels: area-blazor, auto-merge

#20109 Tweaks for WASM stress runs
  src/Components/benchmarkapps/Wasm.Performance/Driver/Program.cs
  src/Components/benchmarkapps/Wasm.Performance/Driver/Selenium.cs
Labels: area-blazor, blazor-wasm

#20123 nit: Mark shell scripts as executable
  eng/configure-toolset.sh
  eng/helix/content/installappruntime.sh
  eng/helix/content/installjdk.sh
  eng/helix/content/installnode.sh
  eng/helix/content/runtests.sh
  src/Antiforgery/build.sh
  src/Components/benchmarkapps/Wasm.Performance/exec.sh
  src/Grpc/build.sh
  src/Servers/Kestrel/samples/Http2SampleApp/scripts/build-docker.sh
  src/Servers/Kestrel/samples/Http2SampleApp/scripts/run-docker.sh
  src/Servers/Kestrel/shared/test/TestCertificates/make-test-certs.sh
  src/Servers/Kestrel/test/SystemdActivation/docker-entrypoint.sh
  src/Servers/Kestrel/test/SystemdActivation/docker.sh
  src/Shared/runtime/CopyToAspNetCore.sh
  src/Shared/runtime/CopyToRuntime.sh
Labels: area-infrastructure

#19676 [release/2.1] Update hosted (AzDO) and BYOC (dnceng) agents used in our builds
  .azure/pipelines/e2e-tests.yml
  .azure/pipelines/jobs/default-build.yml
Labels: * NO MERGE *, area-infrastructure, tell-mode

#19675 [release/3.1] Update hosted (AzDO) and BYOC (dnceng) agents used in our builds
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure, tell-mode

#20131 Write hash to service worker on publish
  src/Components/WebAssembly/Build/src/targets/ServiceWorkerAssetsManifest.targets
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/ComponentsWebAssembly-CSharp.Client.csproj.in
  src/ProjectTemplates/test/BlazorWasmTemplateTest.cs
Labels: area-blazor, blazor-wasm

#19664 [SignalR] Avoid deadlock with closing and user callbacks (#19612)
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HubConnectionTests.cs
Labels: Servicing-approved, area-signalr

#20039 Remove dependency on netstandard.library.ref
  Directory.Build.targets
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#19982 Fix flakiness/timeout in gRPC template tests
  src/ProjectTemplates/test/GrpcTemplateTest.cs
  src/ProjectTemplates/test/Helpers/AspNetProcess.cs
  src/ProjectTemplates/test/Helpers/Project.cs
  src/ProjectTemplates/test/ProjectTemplates.Tests.csproj
Labels: area-grpc

#20121 Only reuse HTTP/2 streams when response writer was completed successfully
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
Labels: area-servers

#20026 remove leading slash on authorization links
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/api-authorization/api-authorization.constants.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/components/api-authorization/ApiAuthorizationConstants.js
Labels: area-mvc

#20138 Convert InvalidOperationException to InvalidDataException for form reader
  src/Http/WebUtilities/src/FormPipeReader.cs
  src/Http/WebUtilities/test/FormPipeReaderTests.cs
  src/Shared/UrlDecoder/UrlDecoder.cs
Labels: area-servers

#20059 Fix #19991 Made TestHost fail when Response Flush is called with AllowSynchronossIO being dissabled
  src/Hosting/TestHost/src/ResponseBodyWriterStream.cs
  src/Hosting/TestHost/test/ClientHandlerTests.cs
  src/Hosting/TestHost/test/HttpContextBuilderTests.cs
  src/Hosting/TestHost/test/ResponseBodyTests.cs
  src/Middleware/ResponseCompression/test/ResponseCompressionMiddlewareTest.cs
Labels: area-hosting

#20195 Update to using System.Net.Http.Json
  eng/Dependencies.props
  eng/ProjectReferences.props
  eng/Version.Details.xml
  eng/Versions.props
  src/Components/WebAssembly/Build/test/RuntimeDependenciesResolverTest.cs
  src/Components/WebAssembly/Http/src/HttpClientJsonExtensions.cs
  src/Components/WebAssembly/Http/src/Microsoft.AspNetCore.Blazor.HttpClient.csproj
  src/Components/WebAssembly/Http/test/HttpClientJsonExtensionsTest.cs
  src/Components/WebAssembly/Http/test/Microsoft.AspNetCore.Blazor.HttpClient.Tests.csproj
  src/Components/WebAssembly/testassets/StandaloneApp/Pages/FetchData.razor
  src/Components/WebAssembly/testassets/StandaloneApp/StandaloneApp.csproj
  src/Components/WebAssembly/testassets/StandaloneApp/_Imports.razor
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Pages/FetchData.razor
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Wasm.Authentication.Client.csproj
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/_Imports.razor
  src/Components/test/testassets/BasicTestApp/AuthTest/ServerAuthenticationStateProvider.cs
  src/Components/test/testassets/BasicTestApp/BasicTestApp.csproj
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/ComponentsWebAssembly-CSharp.Client.csproj.in
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/Microsoft.AspNetCore.Components.WebAssembly.Templates.csproj
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Pages/FetchData.razor
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/_Imports.razor
Labels: area-blazor, blazor-wasm

#20189 Obsolete ReceiveBufferSize in WebSocketOptions #20084
  src/Middleware/WebSockets/ref/Microsoft.AspNetCore.WebSockets.netcoreapp.cs
  src/Middleware/WebSockets/src/ExtendedWebSocketAcceptContext.cs
  src/Middleware/WebSockets/src/WebSocketMiddleware.cs
  src/Middleware/WebSockets/src/WebSocketOptions.cs
Labels: area-websockets, auto-merge

#20171 Update branding to 2.1.18
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/PatchConfig.props
  src/PackageArchive/Archive.CiServer.Patch.Compat/ArchiveBaseline.2.1.17.txt
  src/PackageArchive/Archive.CiServer.Patch/ArchiveBaseline.2.1.17.txt
  version.props
Labels: area-infrastructure

#20197 Skip grpc template test
  src/ProjectTemplates/test/GrpcTemplateTest.cs
Labels: area-mvc

#20033 Add support for loading satellite assemblies
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Platform/BootConfig.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/Web.JS/src/Platform/Mono/MonoTypes.ts
  src/Components/Web.JS/src/Platform/WebAssemblyConfigLoader.ts
  src/Components/WebAssembly/Build/src/Tasks/GenerateBlazorBootJson.cs
  src/Components/WebAssembly/Build/src/targets/Blazor.MonoRuntime.props
  src/Components/WebAssembly/Build/src/targets/Blazor.MonoRuntime.targets
  src/Components/WebAssembly/Build/src/targets/StaticWebAssets.targets
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/BuildIntegrationTest.cs
  src/Components/WebAssembly/Build/test/GenerateBlazorBootJsonTest.cs
  src/Components/WebAssembly/Build/testassets/classlibrarywithsatelliteassemblies/Resources.es-ES.resx
  src/Components/WebAssembly/Build/testassets/standalone/Resources.ja.resx
  src/Components/WebAssembly/WebAssembly/src/Hosting/EntrypointInvoker.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/SatelliteResourcesLoader.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHost.cs
  src/Components/WebAssembly/WebAssembly/src/Properties/AssemblyInfo.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/EntrypointInvokerTest.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/SatelliteResourcesLoaderTest.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyHostTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/ServerGlobalizationTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/ServerLocalizationTest.cs
  src/Components/test/E2ETest/Tests/GlobalizationTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyGlobalizationTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyLocalizationTest.cs
  src/Components/test/testassets/BasicTestApp/Program.cs
Labels: area-blazor

#20178 Re-enable SignalR HTTP/2 test
  src/SignalR/clients/ts/FunctionalTests/ts/HubConnectionTests.ts
Labels: area-signalr

#20166 Include third-party-notices.txt in all packages
  Directory.Build.targets
  src/Components/Blazor/Build/src/Microsoft.AspNetCore.Blazor.Build.csproj
  src/Components/Blazor/Build/src/Microsoft.AspNetCore.Blazor.Build.nuspec
  src/Components/Blazor/DevServer/src/Microsoft.AspNetCore.Blazor.DevServer.csproj
  src/Components/Blazor/DevServer/src/Microsoft.AspNetCore.Blazor.DevServer.nuspec
  src/Components/Components/src/Microsoft.AspNetCore.Components.csproj
  src/Components/Components/src/Microsoft.AspNetCore.Components.multitarget.nuspec
  src/Components/Components/src/Microsoft.AspNetCore.Components.netcoreapp.nuspec
  src/Components/Directory.Build.props
  src/Components/Directory.Build.targets
  src/Framework/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Framework/test/SharedFxTests.cs
  src/Identity/UI/src/Microsoft.AspNetCore.Identity.UI.csproj
Labels: area-platform

#20006 Backport ANCM environment variable additions
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/ShimOptions.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/ConfigurationSection.h
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/InProcessOptions.cpp
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/environmentvariablehash.h
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/environmentvariablehelpers.h
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/requesthandler_config.cpp
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/EnvironmentVariableTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/StartupTests.cs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/RequiresIISAttribute.cs
Labels: Servicing-approved, area-servers

#19227 Headers
  src/SignalR/clients/ts/FunctionalTests/ts/HubConnectionTests.ts
  src/SignalR/clients/ts/signalr/README.md
  src/SignalR/clients/ts/signalr/src/HttpClient.ts
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
  src/SignalR/clients/ts/signalr/src/IHttpConnectionOptions.ts
  src/SignalR/clients/ts/signalr/src/LongPollingTransport.ts
  src/SignalR/clients/ts/signalr/src/ServerSentEventsTransport.ts
  src/SignalR/clients/ts/signalr/src/Utils.ts
  src/SignalR/clients/ts/signalr/src/WebSocketTransport.ts
  src/SignalR/clients/ts/signalr/tests/HttpClient.test.ts
  src/SignalR/clients/ts/signalr/tests/HttpConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/LongPollingTransport.test.ts
  src/SignalR/clients/ts/signalr/tests/ServerSentEventsTransport.test.ts
  src/SignalR/clients/ts/signalr/tests/WebSocketTransport.test.ts
Labels: area-signalr

#20104 Don't wait for client methods to complete when stopping connection
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HubConnectionTests.cs
Labels: area-signalr

#20254 Prevent background process from crashing test when writing to the test output helper
  src/Grpc/Grpc.sln
  src/Grpc/test/InteropTests/Helpers/InteropTestsFixture.cs
  src/Grpc/test/InteropTests/InteropTests.cs
  src/Grpc/test/testassets/InteropClient/InteropClient.cs
Labels: area-grpc

#20258 Fix Helix log upload
  eng/helix/content/runtests.sh
  eng/scripts/RunHelix.ps1
Labels: area-infrastructure

#20264 Trying things out
  eng/helix/content/runtests.sh
Labels: area-infrastructure

#20240 Fix SWAM hash
  src/Components/WebAssembly/Build/src/targets/ServiceWorkerAssetsManifest.targets
  src/ProjectTemplates/test/BlazorWasmTemplateTest.cs
Labels: area-blazor, blazor-wasm

#20261 Quarantine flaky tests
  src/ProjectTemplates/test/BaselineTest.cs
  src/ProjectTemplates/test/BlazorServerTemplateTest.cs
  src/ProjectTemplates/test/EmptyWebTemplateTest.cs
Labels: area-mvc

#19257 Bump .NET Core SDK to the latest (2.1.512)
  build/RepositoryBuild.targets
  korebuild-lock.txt
Labels: area-infrastructure

#20273 Add console logger to test command
  eng/helix/content/runtests.cmd
Labels: area-infrastructure

#20257 Fix missing pdbs in Blazor build
  src/Components/WebAssembly/Build/src/ReferenceBlazorBuildFromSource.props
  src/Components/WebAssembly/Build/src/Tasks/GenerateBlazorBootJson.cs
  src/Components/WebAssembly/Build/src/targets/Blazor.MonoRuntime.targets
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/BuildCompressionTests.cs
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/BuildIncrementalismTest.cs
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/BuildIntegrationTest.cs
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/MSBuildProcessManager.cs
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/ProjectDirectory.cs
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/ProjectDirectoryTest.cs
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/PwaManifestTests.cs
  src/Components/WebAssembly/Build/test/GenerateBlazorBootJsonTest.cs
  src/Components/WebAssembly/Build/testassets/razorclasslibrary/Class1.cs
  src/Components/WebAssembly/Build/testassets/standalone/Program.cs
  src/Components/WebAssembly/Build/testassets/standalone/Resources.ja.resx.txt
Labels: area-blazor

#20255 Conditionally enable/disable targeting pack tests
  src/Framework/test/Microsoft.AspNetCore.App.UnitTests.csproj
  src/Framework/test/TargetingPackTests.cs
Labels: area-platform

#20317 Quarantined DATA_Sent_TooSlowlyDueToOutputFlowControlOnLargeWrite_AbortsConnectionAfterRateTimeout
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TimeoutTests.cs
Labels: area-servers, auto-merge
