Repository dotnet/aspnetcore, pull requests merged in 2020-09, with the labels that each got.

#25390 Add async ServerOptionsSelectionCallback UseHttps overload
  src/Servers/Kestrel/Core/src/ListenOptionsHttpsExtensions.cs
  src/Servers/Kestrel/samples/SampleApp/Startup.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsTests.cs
Labels: Servicing-approved, api-approved, area-servers, servers-kestrel

#25477 Get Helix ready for servicing
  eng/helix/content/RunTests/RunTestsOptions.cs
  eng/helix/content/runtests.cmd
  eng/helix/content/runtests.sh
  eng/targets/Helix.props
  eng/targets/Helix.targets
Labels: area-infrastructure, tell-mode

#25468 Mark some projects as non-packable or non-shippable
  src/Components/WebAssembly/Sdk/src/Microsoft.NET.Sdk.BlazorWebAssembly.csproj
  src/Razor/Microsoft.NET.Sdk.Razor/src/Microsoft.NET.Sdk.Razor.csproj
  src/Razor/test/Directory.Build.props
  src/Razor/tools/RazorSyntaxGenerator/RazorSyntaxGenerator.csproj
Labels: area-razor.tooling

#25466 Fix Unhandled DBErrors in ComponentsWebAssembly and Spa templates
  src/Middleware/Diagnostics.EntityFrameworkCore/src/DatabaseDeveloperPageExceptionFilter.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Startup.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/Startup.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/Startup.cs
Labels: Servicing-approved, area-mvc, tell-mode

#25474 Add more assembly version testing for SharedFx/Targeting pack
  src/Framework/test/SharedFxTests.cs
  src/Framework/test/TargetingPackTests.cs
Labels: area-platform, tell-mode

#25487 Make IdentityServer.Configuration.KeyDefinition linker friendly
  src/Identity/ApiAuthorization.IdentityServer/src/Configuration/ConfigureSigningCredentials.cs
Labels: Servicing-approved, area-identity, community-contribution

#25480 Declare AddScheme's displayName parameter as nullable
  src/Http/Authentication.Abstractions/src/AuthenticationOptions.cs
Labels: Servicing-approved, area-servers

#25456 Fix BlazorServer Identity templates
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Areas/Identity/Pages/Shared/_LoginPartial.Identity.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Areas/Identity/Pages/Shared/_LoginPartial.OrgAuth.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/_Imports.razor
Labels: Servicing-approved, area-blazor, area-mvc

#25502 Update branding to rc2
  eng/Versions.props
Labels: area-infrastructure

#25321 Make startup timeout recycle worker process
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/ConfigurationSection.h
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/InProcessOptions.cpp
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/InProcessOptions.h
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocessapplication.cpp
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/StartupTests.cs
Labels: Servicing-approved, area-servers, ask-mode

#25515 Make certificate config linker friendly
  src/Servers/Kestrel/Core/src/Internal/ConfigurationReader.cs
Labels: Servicing-approved, area-servers, community-contribution

#25524 Make IdentityServer.Configuration.KeyDefinition linker friendly
  src/Identity/ApiAuthorization.IdentityServer/src/Configuration/ConfigureSigningCredentials.cs
Labels: area-identity

#25543 Quarantine UseHttpsWithAsyncCallbackDoeNotFallBackToDefaultCert
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsTests.cs
Labels: area-servers, auto-merge

#25507 Lowercase "i" in "Program Files"
  docs/BuildFromSource.md
Labels: area-infrastructure

#25476 JSObjectReference API review follow-up
  src/Components/WebAssembly/JSInterop/src/Microsoft.JSInterop.WebAssembly.csproj
  src/Components/WebAssembly/JSInterop/src/WebAssemblyJSRuntime.cs
  src/Components/test/testassets/BasicTestApp/InteropComponent.razor
  src/Components/test/testassets/BasicTestApp/InteropTest/JavaScriptInterop.cs
  src/JSInterop/Microsoft.JSInterop/src/IJSInProcessObjectReference.cs
  src/JSInterop/Microsoft.JSInterop/src/IJSObjectReference.cs
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/JSObjectReferenceJsonConverter.cs
  src/JSInterop/Microsoft.JSInterop/src/JSInProcessObjectReference.cs
  src/JSInterop/Microsoft.JSInterop/src/JSInProcessObjectReferenceExtensions.cs
  src/JSInterop/Microsoft.JSInterop/src/JSInProcessRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/JSObjectReference.cs
  src/JSInterop/Microsoft.JSInterop/src/JSObjectReferenceExtensions.cs
  src/JSInterop/Microsoft.JSInterop/src/JSRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/Microsoft.JSInterop.csproj
  src/JSInterop/Microsoft.JSInterop/test/Infrastructure/JSObjectReferenceJsonConverterTest.cs
  src/Shared/JSInterop/JSCallResultTypeHelper.cs
Labels: Servicing-approved, area-blazor

#25541 Improving logs from hostfxr
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocessapplication.cpp
Labels: area-servers

#25545 Quick infrastructure fix-ups
  .azure/pipelines/ci.yml
  .azure/pipelines/quarantined-pr.yml
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure, auto-merge

#25378 Reject control characters in IsLocalUrl check
  src/Mvc/Mvc.Core/src/Routing/UrlHelperBase.cs
  src/Mvc/Mvc.Core/test/Routing/UrlHelperTestBase.cs
Labels: Servicing-approved, area-mvc

#25260 Various virtualization improvements. Fixes #25535
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Virtualize.ts
  src/Components/Web/src/Virtualization/Virtualize.cs
Labels: Servicing-approved, area-blazor

#25578 Add PublicAPI baselines for Identity
  src/Identity/ApiAuthorization.IdentityServer/src/PublicAPI.Shipped.txt
  src/Identity/ApiAuthorization.IdentityServer/src/PublicAPI.Unshipped.txt
  src/Identity/Core/src/PublicAPI.Shipped.txt
  src/Identity/Core/src/PublicAPI.Unshipped.txt
  src/Identity/Core/src/SignInManager.cs
  src/Identity/Extensions.Core/src/PublicAPI.Shipped.txt
  src/Identity/Extensions.Core/src/PublicAPI.Unshipped.txt
  src/Identity/Extensions.Stores/src/PublicAPI.Shipped.txt
  src/Identity/Extensions.Stores/src/PublicAPI.Unshipped.txt
Labels: area-identity, tell-mode

#25298 Change hosting tests to use TCS instead of manual reset events
  src/Hosting/test/FunctionalTests/ShutdownTests.cs
  src/Hosting/test/FunctionalTests/WebHostBuilderTests.cs
Labels: area-hosting

#25586 Add Public API Baselines for JSInterop, Localization, Logging.AzureAppServices
  AspNetCore.sln
  src/JSInterop/Microsoft.JSInterop/src/PublicAPI.Shipped.txt
  src/JSInterop/Microsoft.JSInterop/src/PublicAPI.Unshipped.txt
  src/Localization/Abstractions/src/PublicAPI.Shipped.txt
  src/Localization/Abstractions/src/PublicAPI.Unshipped.txt
  src/Localization/Localization/src/PublicAPI.Shipped.txt
  src/Localization/Localization/src/PublicAPI.Unshipped.txt
  src/Logging.AzureAppServices/src/BlobLoggerProvider.cs
  src/Logging.AzureAppServices/src/FileLoggerProvider.cs
  src/Logging.AzureAppServices/src/PublicAPI.Shipped.txt
  src/Logging.AzureAppServices/src/PublicAPI.Unshipped.txt
Labels: area-infrastructure

#25594 Fix Linux installer dependency versioning
  src/Installers/Debian/Runtime/Debian.Runtime.debproj
  src/Installers/Debian/Runtime/debian_config.json.in
  src/Installers/Debian/TargetingPack/Debian.TargetingPack.debproj
  src/Installers/Debian/TargetingPack/debian_config.json.in
  src/Installers/Rpm/Rpm.Runtime.Common.targets
  src/Installers/Rpm/TargetingPack/Rpm.TargetingPack.rpmproj
Labels: area-installers, auto-merge

#25548 IJSUnmarshalledObjectReference for unmarshalled JS interop calls on JavaScript objects.
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/WebAssembly/JSInterop/src/WebAssemblyJSObjectReference.cs
  src/Components/WebAssembly/JSInterop/src/WebAssemblyJSRuntime.cs
  src/Components/WebAssembly/WebAssembly/src/Rendering/WebAssemblyRenderer.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyConsoleLogger.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyJSRuntimeInvoker.cs
  src/Components/test/E2ETest/Tests/InteropTest.cs
  src/Components/test/testassets/BasicTestApp/InteropComponent.razor
  src/Components/test/testassets/BasicTestApp/InteropTest/InteropStruct.cs
  src/Components/test/testassets/BasicTestApp/wwwroot/js/jsinteroptests.js
  src/JSInterop/Microsoft.JSInterop/src/IJSInProcessObjectReference.cs
  src/JSInterop/Microsoft.JSInterop/src/IJSUnmarshalledObjectReference.cs
  src/JSInterop/Microsoft.JSInterop/src/Implementation/JSInProcessObjectReference.cs
  src/JSInterop/Microsoft.JSInterop/src/Implementation/JSObjectReference.cs
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/JSObjectReferenceJsonConverter.cs
  src/JSInterop/Microsoft.JSInterop/src/JSInProcessObjectReference.cs
  src/JSInterop/Microsoft.JSInterop/src/JSInProcessRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/JSRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/Microsoft.JSInterop.csproj
  src/JSInterop/Microsoft.JSInterop/test/Infrastructure/JSObjectReferenceJsonConverterTest.cs
  src/JSInterop/Microsoft.JSInterop/test/JSObjectReferenceTest.cs
  src/Shared/JSInterop/JSCallResultTypeHelper.cs
Labels: Servicing-approved, area-blazor

#25565 [Blazor] CSS isolation follow-ups
  src/Components/WebAssembly/Sdk/integrationtests/ServiceWorkerAssert.cs
  src/Components/WebAssembly/Sdk/integrationtests/WasmPublishIntegrationTest.cs
  src/Components/WebAssembly/Sdk/src/targets/Microsoft.NET.Sdk.BlazorWebAssembly.Current.targets
  src/Components/test/E2ETest/Tests/ComponentRenderingTest.cs
  src/Components/test/testassets/BasicTestApp/wwwroot/index.html
  src/Components/test/testassets/TestContentPackage/ComponentFromPackage.razor.css
  src/Components/test/testassets/TestContentPackage/wwwroot/styles.css
  src/Components/test/testassets/TestServer/Components.TestServer.csproj
  src/Components/test/testassets/TestServer/Pages/_ServerHost.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Pages/_Host.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/index.html
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/PackIntegrationTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/ScopedCssIntegrationTests.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/StaticWebAssetsIntegrationTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/ApplyCssScopes.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/ComputeCssScope.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/ConcatenateCssFiles.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/GenerateStaticWebAssetsManifest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/GenerateStaticWebAsssetsPropsFile.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/ResolveAllScopedCssAssets.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/ValidateStaticWebAssetsUniquePaths.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/build/netstandard2.0/Microsoft.NET.Sdk.Razor.ScopedCss.targets
  src/Razor/Microsoft.NET.Sdk.Razor/src/build/netstandard2.0/Microsoft.NET.Sdk.Razor.StaticWebAssets.targets
  src/Razor/Microsoft.NET.Sdk.Razor/src/build/netstandard2.0/Sdk.Razor.CurrentVersion.targets
  src/Razor/Microsoft.NET.Sdk.Razor/test/ApplyCssScopesTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/test/ComputeCssScopesTests.cs
  src/Razor/Microsoft.NET.Sdk.Razor/test/ConcatenateFilesTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/test/DiscoverDefaultScopedCssItemsTests.cs
  src/Razor/Microsoft.NET.Sdk.Razor/test/GenerateAspNetCoreStaticAssetsManifestTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/test/GenerateStaticWebAssetsPropsFileTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/test/Microsoft.NET.Sdk.Razor.Test.csproj
  src/Razor/Microsoft.NET.Sdk.Razor/test/ResolveAllScopedCssAssetsTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/test/TestFiles/Generated/Counter.razor.rz.scp.css
  src/Razor/Microsoft.NET.Sdk.Razor/test/TestFiles/Generated/FetchData.razor.rz.scp.css
  src/Razor/Microsoft.NET.Sdk.Razor/test/TestFiles/Generated/Index.razor.rz.scp.css
  src/Razor/Microsoft.NET.Sdk.Razor/test/TestFiles/Generated/lib.bundle.scp.css
  src/Razor/Microsoft.NET.Sdk.Razor/test/TestFiles/Generated/package.bundle.scp.css
  src/Razor/Microsoft.NET.Sdk.Razor/test/ValidateStaticWebAssetsUniquePathsTest.cs
Labels: Servicing-approved, area-blazor

#25554 Add MigrationsEndPoint when DatabaseDeveloperPageExceptionFilter is used
  src/Identity/ApiAuthorization.IdentityServer/samples/ApiAuthSample/Startup.cs
  src/Identity/samples/IdentitySample.DefaultUI/Startup.cs
  src/Identity/samples/IdentitySample.Mvc/Startup.cs
  src/Identity/testassets/Identity.DefaultUI.WebSite/NoIdentityStartup.cs
  src/Identity/testassets/Identity.DefaultUI.WebSite/StartupBase.cs
  src/Identity/testassets/Identity.DefaultUI.WebSite/StartupWithoutEndpointRouting.cs
  src/MusicStore/samples/MusicStore/ForTesting/Mocks/StartupOpenIdConnectTesting.cs
  src/MusicStore/samples/MusicStore/ForTesting/Mocks/StartupSocialTesting.cs
  src/MusicStore/samples/MusicStore/Startup.cs
  src/MusicStore/samples/MusicStore/StartupNtlmAuthentication.cs
  src/MusicStore/samples/MusicStore/StartupOpenIdConnect.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Startup.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Startup.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Startup.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Startup.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/Startup.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/Startup.cs
  src/Security/samples/Identity.ExternalClaims/Startup.cs
Labels: Servicing-approved, area-identity, area-mvc

#25602 Add PublicAPI baselines for Middleware
  src/Middleware/CORS/src/PublicAPI.Shipped.txt
  src/Middleware/CORS/src/PublicAPI.Unshipped.txt
  src/Middleware/ConcurrencyLimiter/src/PublicAPI.Shipped.txt
  src/Middleware/ConcurrencyLimiter/src/PublicAPI.Unshipped.txt
  src/Middleware/Diagnostics.Abstractions/src/PublicAPI.Shipped.txt
  src/Middleware/Diagnostics.Abstractions/src/PublicAPI.Unshipped.txt
  src/Middleware/Diagnostics.EntityFrameworkCore/src/PublicAPI.Shipped.txt
  src/Middleware/Diagnostics.EntityFrameworkCore/src/PublicAPI.Unshipped.txt
  src/Middleware/Diagnostics/src/PublicAPI.Shipped.txt
  src/Middleware/Diagnostics/src/PublicAPI.Unshipped.txt
  src/Middleware/HeaderPropagation/src/PublicAPI.Shipped.txt
  src/Middleware/HeaderPropagation/src/PublicAPI.Unshipped.txt
  src/Middleware/HealthChecks.EntityFrameworkCore/src/PublicAPI.Shipped.txt
  src/Middleware/HealthChecks.EntityFrameworkCore/src/PublicAPI.Unshipped.txt
  src/Middleware/HealthChecks/src/PublicAPI.Shipped.txt
  src/Middleware/HealthChecks/src/PublicAPI.Unshipped.txt
  src/Middleware/HostFiltering/src/PublicAPI.Shipped.txt
  src/Middleware/HostFiltering/src/PublicAPI.Unshipped.txt
  src/Middleware/HttpOverrides/src/PublicAPI.Shipped.txt
  src/Middleware/HttpOverrides/src/PublicAPI.Unshipped.txt
  src/Middleware/HttpsPolicy/src/PublicAPI.Shipped.txt
  src/Middleware/HttpsPolicy/src/PublicAPI.Unshipped.txt
  src/Middleware/Localization.Routing/src/PublicAPI.Shipped.txt
  src/Middleware/Localization.Routing/src/PublicAPI.Unshipped.txt
  src/Middleware/Localization/src/PublicAPI.Shipped.txt
  src/Middleware/Localization/src/PublicAPI.Unshipped.txt
  src/Middleware/MiddlewareAnalysis/src/PublicAPI.Shipped.txt
  src/Middleware/MiddlewareAnalysis/src/PublicAPI.Unshipped.txt
  src/Middleware/ResponseCaching.Abstractions/src/PublicAPI.Shipped.txt
  src/Middleware/ResponseCaching.Abstractions/src/PublicAPI.Unshipped.txt
  src/Middleware/ResponseCaching/src/PublicAPI.Shipped.txt
  src/Middleware/ResponseCaching/src/PublicAPI.Unshipped.txt
  src/Middleware/ResponseCompression/src/PublicAPI.Shipped.txt
  src/Middleware/ResponseCompression/src/PublicAPI.Unshipped.txt
  src/Middleware/Rewrite/src/IISUrlRewriteOptionsExtensions.cs
  src/Middleware/Rewrite/src/PublicAPI.Shipped.txt
  src/Middleware/Rewrite/src/PublicAPI.Unshipped.txt
  src/Middleware/Session/src/PublicAPI.Shipped.txt
  src/Middleware/Session/src/PublicAPI.Unshipped.txt
  src/Middleware/SpaServices.Extensions/src/PublicAPI.Shipped.txt
  src/Middleware/SpaServices.Extensions/src/PublicAPI.Unshipped.txt
  src/Middleware/StaticFiles/src/PublicAPI.Shipped.txt
  src/Middleware/StaticFiles/src/PublicAPI.Unshipped.txt
  src/Middleware/WebSockets/src/PublicAPI.Shipped.txt
  src/Middleware/WebSockets/src/PublicAPI.Unshipped.txt
Labels: area-infrastructure, area-middleware, tell-mode

#25656 Quarantine BundlesScopedCssFiles_UpdatesBundleWhenContentsChange
  src/Razor/Microsoft.NET.Sdk.Razor/test/ConcatenateFilesTest.cs
Labels: area-mvc

#25638 [release/5.0-rc2] Add public API baselines for HTML and HTTP
  src/Html/Abstractions/src/PublicAPI.Shipped.txt
  src/Html/Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Authentication.Abstractions/src/PublicAPI.Shipped.txt
  src/Http/Authentication.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Authentication.Core/src/PublicAPI.Shipped.txt
  src/Http/Authentication.Core/src/PublicAPI.Unshipped.txt
  src/Http/Headers/src/PublicAPI.Shipped.txt
  src/Http/Headers/src/PublicAPI.Unshipped.txt
  src/Http/Http.Abstractions/src/Extensions/HttpResponseWritingExtensions.cs
  src/Http/Http.Abstractions/src/PublicAPI.Shipped.txt
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/src/HttpRequestJsonExtensions.cs
  src/Http/Http.Extensions/src/HttpResponseJsonExtensions.cs
  src/Http/Http.Extensions/src/PublicAPI.Shipped.txt
  src/Http/Http.Extensions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/src/SendFileResponseExtensions.cs
  src/Http/Http.Features/src/PublicAPI.Shipped.txt
  src/Http/Http.Features/src/PublicAPI.Unshipped.txt
  src/Http/Http/src/PublicAPI.Shipped.txt
  src/Http/Http/src/PublicAPI.Unshipped.txt
  src/Http/Metadata/src/PublicAPI.Shipped.txt
  src/Http/Metadata/src/PublicAPI.Unshipped.txt
  src/Http/Owin/src/PublicAPI.Shipped.txt
  src/Http/Owin/src/PublicAPI.Unshipped.txt
  src/Http/Routing.Abstractions/src/LinkGenerator.cs
  src/Http/Routing.Abstractions/src/PublicAPI.Shipped.txt
  src/Http/Routing.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Routing/src/LinkGeneratorEndpointNameAddressExtensions.cs
  src/Http/Routing/src/LinkGeneratorRouteValuesAddressExtensions.cs
  src/Http/Routing/src/PublicAPI.Shipped.txt
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/WebUtilities/src/FileBufferingReadStream.cs
  src/Http/WebUtilities/src/FileBufferingWriteStream.cs
  src/Http/WebUtilities/src/HttpRequestStreamReader.cs
  src/Http/WebUtilities/src/HttpResponseStreamWriter.cs
  src/Http/WebUtilities/src/PublicAPI.Shipped.txt
  src/Http/WebUtilities/src/PublicAPI.Unshipped.txt
Labels: tell-mode

#25280 Merge preview8 branch to public
  .azure/pipelines/ci.yml
  eng/common/tools.ps1
  eng/helix/content/InstallDotNet.ps1
  eng/helix/content/runtests.cmd
  eng/helix/content/runtests.sh
  eng/scripts/ci-source-build.sh
  eng/targets/Helix.targets
Labels: area-infrastructure, tell-mode

#25655 Remove extra public API baseline files
  src/Analyzers/Analyzers/src/PublicAPI.Shipped.txt
  src/Analyzers/Analyzers/src/PublicAPI.Unshipped.txt
Labels: analyzer, tell-mode

#25662 Move to stable Microsoft.CodeAnalysis.PublicApiAnalyzers version
  eng/Versions.props
  eng/targets/CSharp.Common.targets
Labels: area-infrastructure, tell-mode

#25660 [release/5.0-rc2] Add public API baselines for Components
  src/Components/Components/src/BindConverter.cs
  src/Components/Components/src/EventCallbackFactoryBinderExtensions.cs
  src/Components/Components/src/PublicAPI.Shipped.txt
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Forms/src/PublicAPI.Shipped.txt
  src/Components/Forms/src/PublicAPI.Unshipped.txt
  src/Components/Ignitor/src/PublicAPI.Shipped.txt
  src/Components/Ignitor/src/PublicAPI.Unshipped.txt
  src/Components/ProtectedBrowserStorage/src/PublicAPI.Shipped.txt
  src/Components/ProtectedBrowserStorage/src/PublicAPI.Unshipped.txt
  src/Components/Server/src/PublicAPI.Shipped.txt
  src/Components/Server/src/PublicAPI.Unshipped.txt
  src/Components/Web.Extensions/src/PublicAPI.Shipped.txt
  src/Components/Web.Extensions/src/PublicAPI.Unshipped.txt
  src/Components/Web/src/PublicAPI.Shipped.txt
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/Authentication.Msal/src/PublicAPI.Shipped.txt
  src/Components/WebAssembly/Authentication.Msal/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/DevServer/src/PublicAPI.Shipped.txt
  src/Components/WebAssembly/DevServer/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/JSInterop/src/PublicAPI.Shipped.txt
  src/Components/WebAssembly/JSInterop/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/Server/src/PublicAPI.Shipped.txt
  src/Components/WebAssembly/Server/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/WebAssembly.Authentication/src/PublicAPI.Shipped.txt
  src/Components/WebAssembly/WebAssembly.Authentication/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/WebAssembly/src/PublicAPI.Shipped.txt
  src/Components/WebAssembly/WebAssembly/src/PublicAPI.Unshipped.txt
Labels: area-blazor, tell-mode

#25606 Update BuildFromSource.md
  docs/BuildFromSource.md
Labels: area-infrastructure

#25324 Set SameSiteMode for cookies in authentication tests (#25281)
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Startup.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Wasm.Authentication.Server.csproj
  src/Shared/E2ETesting/E2ETesting.props
  src/SignalR/clients/ts/FunctionalTests/Startup.cs
  src/SignalR/clients/ts/FunctionalTests/ts/Common.ts
  src/SignalR/clients/ts/FunctionalTests/ts/ConnectionTests.ts
  src/SignalR/clients/ts/FunctionalTests/ts/HubConnectionTests.ts
Labels: area-blazor, tell-mode

#25582 [Java] Fix close with LongPolling
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/LongPollingTransport.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/HubConnectionTest.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/LongPollingTransportTest.java
Labels: Servicing-approved, area-signalr

#25699 Update branding to 3.1.9
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Versions.props
Labels: area-infrastructure

#25523 Simplify blazorserver template for individual local auth support
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Areas/Identity/Pages/Shared/_LoginPartial.OrgAuth.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Areas/Identity/Pages/Shared/_LoginPartial.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/_Imports.razor
Labels: Servicing-approved, area-mvc

#25707 Add incremental build and project references to java projects
  Directory.Build.props
  Directory.Build.targets
  eng/targets/Java.Common.props
  eng/targets/Java.Common.targets
  src/SignalR/clients/java/signalr/core/signalr.client.java.core.javaproj
  src/SignalR/clients/java/signalr/messagepack/signalr.client.java.messagepack.javaproj
  src/SignalR/clients/java/signalr/test/signalr.client.java.Tests.javaproj
Labels: area-signalr, tell-mode

#25613 Update RCL template to use 5.0 features
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorClassLibrary-CSharp/ExampleJsInterop.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorClassLibrary-CSharp/wwwroot/exampleJsInterop.js
  src/ProjectTemplates/test/template-baselines.json
Labels: Servicing-approved, area-blazor, area-mvc

#25557 Move ProtectedBrowserStorage to the shared fx
  AspNetCore.sln
  eng/ProjectReferences.props
  src/Components/Components.slnf
  src/Components/ComponentsNoDeps.slnf
  src/Components/ProtectedBrowserStorage/src/Microsoft.AspNetCore.Components.ProtectedBrowserStorage.csproj
  src/Components/ProtectedBrowserStorage/src/Properties/AssemblyInfo.cs
  src/Components/ProtectedBrowserStorage/src/ProtectedBrowserStorage/ProtectedBrowserStorageServiceCollectionExtensions.cs
  src/Components/ProtectedBrowserStorage/test/Microsoft.AspNetCore.Components.ProtectedBrowserStorage.Tests.csproj
  src/Components/Server/src/DependencyInjection/ComponentServiceCollectionExtensions.cs
  src/Components/Server/src/ProtectedBrowserStorage/ProtectedBrowserStorage.cs
  src/Components/Server/src/ProtectedBrowserStorage/ProtectedBrowserStorageResult.cs
  src/Components/Server/src/ProtectedBrowserStorage/ProtectedLocalStorage.cs
  src/Components/Server/src/ProtectedBrowserStorage/ProtectedSessionStorage.cs
  src/Components/Server/test/ProtectedBrowserStorageTest.cs
  src/Components/test/E2ETest/Infrastructure/WebDriverExtensions/BasicTestAppWebDriverExtensions.cs
  src/Components/test/E2ETest/ServerExecutionTests/ProtectedBrowserStorageUsageTest.cs
  src/Components/test/E2ETest/Tests/ProtectedBrowserStorageInjectionTest.cs
  src/Components/test/testassets/BasicTestApp/BasicTestApp.csproj
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/Program.cs
  src/Components/test/testassets/BasicTestApp/wwwroot/index.html
  src/Components/test/testassets/TestServer/Components.TestServer.csproj
  src/Components/test/testassets/TestServer/Pages/_ServerHost.cshtml
  src/Components/test/testassets/TestServer/PrerenderedStartup.cs
  src/Components/test/testassets/TestServer/ProtectedBrowserStorageInjectionComponent.razor
  src/Components/test/testassets/TestServer/ProtectedBrowserStorageUsageComponent.razor
  src/Components/test/testassets/TestServer/ServerStartup.cs
  src/Components/test/testassets/TestServer/_Imports.razor
Labels: Servicing-approved, area-blazor

#25636 Enable PlatformCompatibilityAnalyzer for RCL projects
  src/ProjectTemplates/Web.ProjectTemplates/RazorClassLibrary-CSharp.csproj.in
Labels: Servicing-approved, area-mvc

#25710 Update branding to 2.1.23
  build/dependencies.props
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/PatchConfig.props
  eng/dependencies.temp.props
  src/PackageArchive/Archive.CiServer.Patch.Compat/ArchiveBaseline.2.1.22.txt
  src/PackageArchive/Archive.CiServer.Patch/ArchiveBaseline.2.1.22.txt
  version.props
Labels: area-infrastructure, tell-mode

#25217 [release/3.1] Correct baseline checks
  eng/Baseline.Designer.props
  eng/targets/ResolveReferences.targets
  eng/tools/BaselineGenerator/Program.cs
  src/Components/Components/src/Microsoft.AspNetCore.Components.csproj
Labels: area-infrastructure, tell-mode

#25678 Accessibility fixes
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Login.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Register.cshtml
  src/Identity/UI/src/wwwroot/V4/css/site.css
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Shared/MainLayout.razor.css
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Shared/NavMenu.razor.css
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/MainLayout.razor.css
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/NavMenu.razor.css
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Pages/Shared/_Layout.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Views/Shared/_Layout.cshtml
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/app/nav-menu/nav-menu.component.html
  src/ProjectTemplates/test/MvcTemplateTest.cs
Labels: Servicing-approved, area-mvc

#25639 Increase SignalR Java client test timeouts to 30 seconds
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/HubConnectionTest.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/LongPollingTransportTest.java
Labels: area-signalr

#25663 Eliminate duplicates in Helix `TestRunner`
  .azure/pipelines/helix-matrix.yml
  .azure/pipelines/quarantined-tests.yml
  eng/helix/content/RunTests/TestRunner.cs
  eng/helix/content/runtests.cmd
  eng/helix/content/runtests.sh
Labels: area-infrastructure, tell-mode

#25702 IBrowserFile.ContentType fix
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/InputFile.ts
  src/Components/test/E2ETest/Tests/InputFileTest.cs
  src/Components/test/testassets/BasicTestApp/FormsTest/InputFileComponent.razor
Labels: Servicing-approved, area-blazor

#25170 Enhancement: Make dotnet watch do dotnet watch run by default
  src/Tools/dotnet-watch/src/Program.cs
Labels: area-commandlinetools, community-contribution

#25733 Strip duplicate files from SharedFx input to Nuget Pack
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-platform

#25698 Add cache for retrieved RBAC claims
  src/Security/Authentication/Negotiate/src/Internal/LdapAdapter.cs
  src/Security/Authentication/Negotiate/src/LdapSettings.cs
  src/Security/Authentication/Negotiate/test/Negotiate.Test/Microsoft.AspNetCore.Authentication.Negotiate.Test.csproj
  src/Security/Authentication/Negotiate/test/Negotiate.Test/NegotiateHandlerTests.cs
Labels: Servicing-approved, area-security

#25651 Add Public API baselines for Security
  src/Security/Authentication/Certificate/src/PublicAPI.Shipped.txt
  src/Security/Authentication/Certificate/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/Cookies/src/PublicAPI.Shipped.txt
  src/Security/Authentication/Cookies/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/Core/src/PublicAPI.Shipped.txt
  src/Security/Authentication/Core/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/Facebook/src/PublicAPI.Shipped.txt
  src/Security/Authentication/Facebook/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/Google/src/PublicAPI.Shipped.txt
  src/Security/Authentication/Google/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/JwtBearer/src/PublicAPI.Shipped.txt
  src/Security/Authentication/JwtBearer/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/MicrosoftAccount/src/PublicAPI.Shipped.txt
  src/Security/Authentication/MicrosoftAccount/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/Negotiate/src/PublicAPI.Shipped.txt
  src/Security/Authentication/Negotiate/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/OAuth/src/PublicAPI.Shipped.txt
  src/Security/Authentication/OAuth/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/OpenIdConnect/src/PublicAPI.Shipped.txt
  src/Security/Authentication/OpenIdConnect/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/Twitter/src/PublicAPI.Shipped.txt
  src/Security/Authentication/Twitter/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/WsFederation/src/PublicAPI.Shipped.txt
  src/Security/Authentication/WsFederation/src/PublicAPI.Unshipped.txt
  src/Security/Authorization/Core/src/PublicAPI.Shipped.txt
  src/Security/Authorization/Core/src/PublicAPI.Unshipped.txt
  src/Security/Authorization/Policy/src/PublicAPI.Shipped.txt
  src/Security/Authorization/Policy/src/PublicAPI.Unshipped.txt
  src/Security/CookiePolicy/src/PublicAPI.Shipped.txt
  src/Security/CookiePolicy/src/PublicAPI.Unshipped.txt
Labels: area-infrastructure, area-security, tell-mode

#25652 Add public API baselines for Servers
  src/Servers/Connections.Abstractions/src/PublicAPI.Shipped.txt
  src/Servers/Connections.Abstractions/src/PublicAPI.Unshipped.txt
  src/Servers/HttpSys/src/PublicAPI.Shipped.txt
  src/Servers/HttpSys/src/PublicAPI.Unshipped.txt
  src/Servers/IIS/IIS/src/PublicAPI.Shipped.txt
  src/Servers/IIS/IIS/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Core/src/PublicAPI.Shipped.txt
  src/Servers/Kestrel/Core/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Kestrel/src/PublicAPI.Shipped.txt
  src/Servers/Kestrel/Kestrel/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Transport.Libuv/src/PublicAPI.Shipped.txt
  src/Servers/Kestrel/Transport.Libuv/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Transport.Quic/src/PublicAPI.Shipped.txt
  src/Servers/Kestrel/Transport.Quic/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Transport.Sockets/src/PublicAPI.Shipped.txt
  src/Servers/Kestrel/Transport.Sockets/src/PublicAPI.Unshipped.txt
Labels: area-infrastructure, area-servers, tell-mode

#25749 Use VS from env if specified
  startvs.cmd
Labels: area-infrastructure, auto-merge

#25521 Use icu shards instead of loading icudt.dat
  AspNetCore.sln
  src/Components/Components.slnf
  src/Components/ComponentsNoDeps.slnf
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Platform/BootConfig.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/Web.JS/src/Platform/WebAssemblyStartOptions.ts
  src/Components/WebAssembly/Sdk/integrationtests/WasmBuildIntegrationTest.cs
  src/Components/WebAssembly/Sdk/integrationtests/WasmPublishIntegrationTest.cs
  src/Components/WebAssembly/Sdk/src/BootJsonData.cs
  src/Components/WebAssembly/Sdk/src/GenerateBlazorWebAssemblyBootJson.cs
  src/Components/WebAssembly/Sdk/src/targets/Microsoft.NET.Sdk.BlazorWebAssembly.Current.targets
  src/Components/benchmarkapps/Wasm.Performance/Driver/Program.cs
  src/Components/test/E2ETest/Microsoft.AspNetCore.Components.E2ETests.csproj
  src/Components/test/E2ETest/Tests/ClientRenderingMultpleComponentsTest.cs
  src/Components/test/E2ETest/Tests/HeadComponentsTest.cs
  src/Components/test/E2ETest/Tests/VirtualizationTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyGlobalizationTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyICUShardingTest.cs
  src/Components/test/testassets/GlobalizationWasmApp/App.fr-FR.resx
  src/Components/test/testassets/GlobalizationWasmApp/App.kn.resx
  src/Components/test/testassets/GlobalizationWasmApp/App.ko.resx
  src/Components/test/testassets/GlobalizationWasmApp/App.razor
  src/Components/test/testassets/GlobalizationWasmApp/GlobalizationWasmApp.csproj
  src/Components/test/testassets/GlobalizationWasmApp/Program.cs
  src/Components/test/testassets/GlobalizationWasmApp/wwwroot/index.html
Labels: Servicing-approved, area-blazor

#25616 [Routing] Update DfaMatcherBuilder to use the correct behavior by default
  src/Http/Routing/src/Matching/DfaMatcherBuilder.cs
  src/Http/Routing/test/UnitTests/Matching/DfaMatcherBuilderTest.cs
  src/Http/Routing/test/UnitTests/Matching/DfaMatcherConformanceTest.cs
Labels: Servicing-approved, area-servers, ask-mode, feature-routing

#25706 Update error page
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Pages/Error.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Pages/Error.cshtml.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Pages/Error.cshtml
Labels: Servicing-approved, area-mvc, ask-mode

#25579 Enable build of ARM64 installers in ASP.NET Core
  .azure/pipelines/ci.yml
  build.ps1
  eng/Build.props
  eng/targets/Wix.Common.props
  src/Installers/Windows/SharedFramework/Product.wxs
  src/Installers/Windows/SharedFramework/SharedFramework.wixproj
  src/Installers/Windows/SharedFrameworkBundle/Bundle.wxs
  src/Installers/Windows/SharedFrameworkBundle/SharedFrameworkBundle.wixproj
  src/Installers/Windows/SharedFrameworkLib/Library.wxs
  src/Installers/Windows/TargetingPack/Product.wxs
  src/Installers/Windows/Wix.targets
Labels: Servicing-approved, area-infrastructure

#25653 Add public API baselines to SignalR
  src/SignalR/clients/csharp/Client.Core/src/HubConnectionExtensions.InvokeAsync.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnectionExtensions.InvokeAsyncGeneric.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnectionExtensions.SendAsync.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnectionExtensions.StreamAsChannelAsync.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnectionExtensions.StreamAsync.cs
  src/SignalR/clients/csharp/Client.Core/src/PublicAPI.Shipped.txt
  src/SignalR/clients/csharp/Client.Core/src/PublicAPI.Unshipped.txt
  src/SignalR/clients/csharp/Client/src/PublicAPI.Shipped.txt
  src/SignalR/clients/csharp/Client/src/PublicAPI.Unshipped.txt
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnection.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/PublicAPI.Shipped.txt
  src/SignalR/clients/csharp/Http.Connections.Client/src/PublicAPI.Unshipped.txt
  src/SignalR/common/Http.Connections.Common/src/PublicAPI.Shipped.txt
  src/SignalR/common/Http.Connections.Common/src/PublicAPI.Unshipped.txt
  src/SignalR/common/Http.Connections/src/PublicAPI.Shipped.txt
  src/SignalR/common/Http.Connections/src/PublicAPI.Unshipped.txt
  src/SignalR/common/Protocols.Json/src/PublicAPI.Shipped.txt
  src/SignalR/common/Protocols.Json/src/PublicAPI.Unshipped.txt
  src/SignalR/common/Protocols.MessagePack/src/PublicAPI.Shipped.txt
  src/SignalR/common/Protocols.MessagePack/src/PublicAPI.Unshipped.txt
  src/SignalR/common/Protocols.NewtonsoftJson/src/PublicAPI.Shipped.txt
  src/SignalR/common/Protocols.NewtonsoftJson/src/PublicAPI.Unshipped.txt
  src/SignalR/common/SignalR.Common/src/PublicAPI.Shipped.txt
  src/SignalR/common/SignalR.Common/src/PublicAPI.Unshipped.txt
  src/SignalR/server/Core/src/ClientProxyExtensions.cs
  src/SignalR/server/Core/src/HubConnectionContext.cs
  src/SignalR/server/Core/src/PublicAPI.Shipped.txt
  src/SignalR/server/Core/src/PublicAPI.Unshipped.txt
  src/SignalR/server/SignalR/src/PublicAPI.Shipped.txt
  src/SignalR/server/SignalR/src/PublicAPI.Unshipped.txt
  src/SignalR/server/StackExchangeRedis/src/PublicAPI.Shipped.txt
  src/SignalR/server/StackExchangeRedis/src/PublicAPI.Unshipped.txt
Labels: area-infrastructure, area-signalr, tell-mode

#25654 Add public API baselines for SiteExtensions, Testing, WebEncoders
  AspNetCore.sln
  src/SiteExtensions/Microsoft.Web.Xdt.Extensions/src/PublicAPI.Shipped.txt
  src/SiteExtensions/Microsoft.Web.Xdt.Extensions/src/PublicAPI.Unshipped.txt
  src/SiteExtensions/Sdk/HostingStartup/PublicAPI.Shipped.txt
  src/SiteExtensions/Sdk/HostingStartup/PublicAPI.Unshipped.txt
  src/Testing/src/AssemblyTestLog.cs
  src/Testing/src/CultureReplacer.cs
  src/Testing/src/HttpClientSlim.cs
  src/Testing/src/LoggedTest/LoggedTestBase.cs
  src/Testing/src/PublicAPI.Shipped.txt
  src/Testing/src/PublicAPI.Unshipped.txt
  src/Testing/src/TaskExtensions.cs
  src/WebEncoders/src/PublicAPI.Shipped.txt
  src/WebEncoders/src/PublicAPI.Unshipped.txt
Labels: area-infrastructure, tell-mode

#25747 Use JsonSerializerDefaults instead of specifying individual options
  src/Mvc/Mvc.Core/src/JsonOptions.cs
Labels: Servicing-approved, area-mvc

#25734 Point to the correct directory for SDK test assets
  eng/Build.props
Labels: area-infrastructure, tell-mode

#25637 Add Public API baselines for Razor
  src/ObjectPool/src/PublicAPI.Shipped.txt
  src/ObjectPool/src/PublicAPI.Unshipped.txt
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/PublicAPI.Shipped.txt
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/PublicAPI.Unshipped.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Shipped.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Razor/Microsoft.CodeAnalysis.Razor/src/PublicAPI.Shipped.txt
  src/Razor/Microsoft.CodeAnalysis.Razor/src/PublicAPI.Unshipped.txt
  src/Razor/Razor.Runtime/src/PublicAPI.Shipped.txt
  src/Razor/Razor.Runtime/src/PublicAPI.Unshipped.txt
  src/Razor/Razor/src/PublicAPI.Shipped.txt
  src/Razor/Razor/src/PublicAPI.Unshipped.txt
Labels: area-infrastructure, tell-mode

#25719 TypeReference usage clarification
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/TypeReference.java
Labels: Servicing-approved, area-signalr

#25742 Remove 2.2 package from the site extensions bundle
  eng/Dependencies.props
  eng/Versions.props
  src/SiteExtensions/LoggingAggregate/src/Microsoft.AspNetCore.AzureAppServices.SiteExtension/Microsoft.AspNetCore.AzureAppServices.SiteExtension.csproj
Labels: area-installers

#25572 Add option to specify hostname in BrowserRefreshServer
  src/Tools/dotnet-watch/src/BrowserRefreshServer.cs
Labels: Servicing-approved, area-commandlinetools, community-contribution

#25421 Update to latest SDK
  eng/targets/CSharp.Common.targets
  global.json
  src/Components/Ignitor/src/CancellableOperation.cs
  src/Components/test/E2ETest/ServerExecutionTests/CircuitGracefulTerminationTests.cs
  src/DataProtection/DataProtection/src/DataProtectionBuilderExtensions.cs
  src/DataProtection/DataProtection/src/KeyManagement/XmlKeyManager.cs
  src/DataProtection/DataProtection/src/Microsoft.AspNetCore.DataProtection.csproj
  src/DataProtection/DataProtection/src/RegistryPolicyResolver.cs
  src/DataProtection/DataProtection/src/Repositories/RegistryXmlRepository.cs
  src/DataProtection/DataProtection/src/XmlEncryption/DpapiNGXmlEncryptor.cs
  src/DataProtection/DataProtection/src/XmlEncryption/DpapiXmlEncryptor.cs
  src/Hosting/WindowsServices/src/Properties/AssemblyInfo.cs
  src/Http/Http.Extensions/test/HeaderDictionaryTypeExtensionsTest.cs
  src/Http/Routing/test/UnitTests/Template/TemplateParserTests.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/BuildIntrospectionTest.cs
  src/Security/Authentication/Negotiate/src/NegotiateHandler.cs
  src/Servers/HttpSys/src/Microsoft.AspNetCore.Server.HttpSys.csproj
  src/Servers/HttpSys/src/WebHostBuilderHttpSysExtensions.cs
  src/Servers/IIS/IIS/src/Microsoft.AspNetCore.Server.IIS.csproj
  src/Servers/IIS/IISIntegration/src/Microsoft.AspNetCore.Server.IISIntegration.csproj
  src/Servers/IIS/IntegrationTesting.IIS/src/Microsoft.AspNetCore.Server.IntegrationTesting.IIS.csproj
  src/Servers/Kestrel/stress/Program.cs
  src/Shared/CertificateGeneration/CertificateManager.cs
  src/Shared/CertificateGeneration/WindowsCertificateManager.cs
  src/Shared/PlatformAttributes.cs
  src/Shared/test/Shared.Tests/runtime/Http2/HPackIntegerTest.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
Labels: Servicing-approved, area-dataprotection, area-infrastructure, area-servers

#25261 Use T? for unconstrained nullable types
  src/Components/Components/src/BindConverter.cs
  src/Components/Components/src/EventCallbackOfT.cs
  src/Components/Components/src/ParameterView.cs
  src/Components/Server/src/Circuits/CircuitId.cs
  src/Components/Web/src/Forms/InputBase.cs
  src/Components/Web/src/Forms/InputDate.cs
  src/Components/Web/src/Forms/InputExtensions.cs
  src/Components/Web/src/Forms/InputFile.cs
  src/Components/Web/src/Forms/InputFile/RemoteBrowserFileStream.cs
  src/Components/Web/src/Forms/InputNumber.cs
  src/Components/Web/src/Forms/InputRadio.cs
  src/Components/Web/src/Forms/InputRadioGroup.cs
  src/Components/Web/src/Forms/InputSelect.cs
  src/JSInterop/Microsoft.JSInterop/src/IJSInProcessRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/Implementation/JSInProcessObjectReference.cs
  src/JSInterop/Microsoft.JSInterop/src/JSInProcessRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/JSRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/JSRuntimeExtensions.cs
  src/JSInterop/Microsoft.JSInterop/test/JSRuntimeTest.cs
Labels: Servicing-approved, area-blazor

#25772 Use T? for unconstrained nullable types
  src/Http/Authentication.Abstractions/src/AuthenticationProperties.cs
  src/Http/Headers/src/BaseHeaderParser.cs
  src/Http/Headers/src/CacheControlHeaderValue.cs
  src/Http/Headers/src/ContentDispositionHeaderValue.cs
  src/Http/Headers/src/ContentRangeHeaderValue.cs
  src/Http/Headers/src/EntityTagHeaderValue.cs
  src/Http/Headers/src/GenericHeaderParser.cs
  src/Http/Headers/src/HttpHeaderParser.cs
  src/Http/Headers/src/MediaTypeHeaderValue.cs
  src/Http/Headers/src/NameValueHeaderValue.cs
  src/Http/Headers/src/RangeConditionHeaderValue.cs
  src/Http/Headers/src/RangeHeaderValue.cs
  src/Http/Headers/src/SetCookieHeaderValue.cs
  src/Http/Headers/src/StringWithQualityHeaderValue.cs
  src/Http/Http.Extensions/src/HttpResponseJsonExtensions.cs
  src/Http/Http.Extensions/test/HttpResponseJsonExtensionsTests.cs
  src/Http/Http.Features/src/FeatureCollection.cs
  src/Http/Http.Features/src/FeatureReference.cs
  src/Http/Http.Features/src/FeatureReferences.cs
  src/Http/Http/src/Builder/ApplicationBuilder.cs
Labels: Servicing-approved, area-servers

#25750 Avoid using PATH to find dotnet.exe in RazorSDK tasks
  src/Razor/Microsoft.NET.Sdk.Razor/src/DotnetToolTask.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/Microsoft.NET.Sdk.Razor.csproj
  src/Razor/Microsoft.NET.Sdk.Razor/src/build/netstandard2.0/Microsoft.NET.Sdk.Razor.CodeGeneration.targets
  src/Razor/Microsoft.NET.Sdk.Razor/src/build/netstandard2.0/Microsoft.NET.Sdk.Razor.Component.targets
  src/Razor/Microsoft.NET.Sdk.Razor/src/build/netstandard2.0/Microsoft.NET.Sdk.Razor.ScopedCss.targets
  src/Razor/Microsoft.NET.Sdk.Razor/src/build/netstandard2.0/Sdk.Razor.CurrentVersion.targets
Labels: Servicing-approved, area-mvc

#25771 Adding build check for invalid BlazorWebAssemblyLazyLoad property
  src/Components/WebAssembly/Sdk/integrationtests/WasmBuildLazyLoadTest.cs
  src/Components/WebAssembly/Sdk/src/targets/Microsoft.NET.Sdk.BlazorWebAssembly.Current.targets
Labels: area-blazor

#25779 Prevent ODE when response body isn't reset
  src/Http/Http/src/Internal/DefaultHttpResponse.cs
  src/Http/Http/test/Internal/DefaultHttpResponseTests.cs
Labels: Servicing-approved, area-servers

#24572 [SignalR] Copy cookies from negotiate to WebSockets
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubConnectionTests.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/Startup.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnection.Log.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnection.cs
Labels: Servicing-approved, area-signalr

#25630 Updating titles in project templates
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/en/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/vs-2017.3.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/.template.config/en/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/.template.config/vs-2017.3.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/en/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/vs-2017.3.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/en/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/vs-2017.3.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/en/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/vs-2017.3.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/en/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/vs-2017.3.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/.template.config/en/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/.template.config/vs-2017.3.host.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/.template.config/en/strings.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/.template.config/vs-2017.3.host.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/.template.config/en/strings.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/.template.config/vs-2017.3.host.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/.template.config/en/strings.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/.template.config/vs-2017.3.host.json
Labels: Servicing-approved, area-mvc

#25627 Add Windows.10.Amd64.Server20H1.Open helix queue
  eng/targets/Helix.Common.props
  src/Middleware/Diagnostics/test/FunctionalTests/Diagnostics.FunctionalTests.csproj
Labels: area-infrastructure

#25778 Bundle latest 2.2 and 3.1 site extension packages
  eng/Versions.props
Labels: area-infrastructure, area-platform, tell-mode

#25793 Condition VS.Redist.* to PostBuildSign
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#25693 Send CloseMessage in more cases
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubConnectionTests.cs
  src/SignalR/server/Core/src/HubConnectionContext.cs
  src/SignalR/server/Core/src/HubConnectionHandler.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: Servicing-approved, area-signalr

#25743 Set ShutdownTimeout in Kestrel tests
  src/Servers/Kestrel/shared/test/TransportTestHelpers/TestServer.cs
Labels: area-servers, tell-mode

#25177 Backport fix on IAsyncEnumerable from 5.0 to 3.1 (PR 24926)
  src/SignalR/common/Shared/ReflectionHelper.cs
  src/SignalR/server/SignalR/test/Internal/ReflectionHelperTests.cs
Labels: Servicing-approved, area-signalr, community-contribution

#25526 Add SignalR Client on WASM smoke test
  src/Components/test/E2ETest/Tests/SignalRClientTest.cs
  src/Components/test/testassets/BasicTestApp/BasicTestApp.csproj
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/SignalRClientComponent.razor
  src/Components/test/testassets/TestServer/ChatHub.cs
  src/Components/test/testassets/TestServer/CorsStartup.cs
Labels: area-blazor, tell-mode

#22026 MediaTypeHeaderValue.MatchesMediaType method added.
  src/Http/Headers/src/MediaTypeHeaderValue.cs
  src/Http/Headers/test/MediaTypeHeaderValueTest.cs
Labels: api-suggestion, area-servers

#25785 Strip duplicates from BuiltProjectOutputGroupOutput
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-platform

#25773 Support primitive type/classes in HubConnection.on()
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/Utils.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/HubConnectionTest.java
Labels: Servicing-approved, area-signalr

#25783 Re-enable Helix tests for signalR java client
  src/SignalR/clients/java/signalr/test/signalr.client.java.Tests.javaproj
Labels: area-signalr

#25484 [Kestrel] Deflake app abort test
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseTests.cs
  src/Shared/Buffers.MemoryPool/DiagnosticMemoryPool.cs
Labels: area-servers, tell-mode

#25381 IIS: Identify if a request has a body
  src/Servers/IIS/IIS/src/Core/IISHttpContext.FeatureCollection.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.Features.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/Http2Tests.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Helpers.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
Labels: Servicing-approved, area-servers

#25513 [Java] Catch errors from user callbacks
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/test/build.gradle
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/HubConnectionTest.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/TestLogger.java
Labels: Servicing-approved, area-signalr

#25799 Improve Http1ContentLengthMessageBody's reset logic
  src/Servers/Kestrel/Core/src/Internal/Http/Http1ContentLengthMessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1MessageBody.cs
  src/Servers/Kestrel/Core/test/MessageBodyTests.cs
Labels: Servicing-approved, area-servers

#25815 PR feedback for platform compatibility update
  global.json
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/AuthenticatedEncryptorFactory.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/CngCbcAuthenticatedEncryptorFactory.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/CngGcmAuthenticatedEncryptorFactory.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/CngCbcAuthenticatedEncryptorConfiguration.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/CngCbcAuthenticatedEncryptorDescriptor.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/CngCbcAuthenticatedEncryptorDescriptorDeserializer.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/CngGcmAuthenticatedEncryptorConfiguration.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/CngGcmAuthenticatedEncryptorDescriptor.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/CngGcmAuthenticatedEncryptorDescriptorDeserializer.cs
  src/DataProtection/DataProtection/src/DataProtectionBuilderExtensions.cs
  src/DataProtection/DataProtection/src/EphemeralDataProtectionProvider.cs
  src/DataProtection/DataProtection/src/Microsoft.AspNetCore.DataProtection.csproj
  src/Shared/PlatformAttributes.cs
Labels: Servicing-approved, area-dataprotection

#25819 Remove checked in blazor.webassembly.js
  src/Components/Web.JS/.gitignore
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
Labels: area-blazor, auto-merge

#25330 Fix chrome/selenium tests
  eng/Versions.props
  src/Components/test/E2ETest/Microsoft.AspNetCore.Components.E2ETests.csproj
  src/Components/test/E2ETest/ServerExecutionTests/MultipleRootComponentsTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/ServerReconnectionTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyAuthenticationTests.cs
  src/Components/test/E2ETest/Tests/WebAssemblyLazyLoadTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyLoggingTest.cs
  src/Components/test/testassets/TestServer/ServerStartup.cs
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorTemplates.Tests.csproj
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorWasmTemplateTest.cs
  src/Shared/E2ETesting/BrowserFixture.cs
  src/Shared/E2ETesting/selenium-config.json
Labels: area-infrastructure

#25790 Correct `$(SharedFxVersion)` and `$(TargetingPackVersion)` values
  Directory.Build.targets
  eng/Dependencies.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/helix/content/RunTests/RunTestsOptions.cs
  eng/helix/content/runtests.cmd
  eng/helix/content/runtests.sh
  eng/targets/Helix.targets
  src/Framework/test/Microsoft.AspNetCore.App.UnitTests.csproj
  src/Grpc/test/testassets/InteropWebsite/Directory.Build.targets
  src/ProjectTemplates/BlazorTemplates.Tests/Infrastructure/GenerateTestProps.targets
  src/ProjectTemplates/test/Infrastructure/GenerateTestProps.targets
  src/SiteExtensions/LoggingBranch/Directory.Build.targets
  src/SiteExtensions/Sdk/SiteExtension.targets
Labels: area-infrastructure, auto-merge, tell-mode

#25587 Update gRPC version in template to 2.32.0-pre1
  eng/Versions.props
  src/Grpc/test/InteropTests/InteropTests.cs
  src/Grpc/test/InteropTests/InteropTests.csproj
  src/Grpc/test/testassets/InteropClient/InteropClient.cs
  src/Grpc/test/testassets/InteropWebsite/Startup.cs
Labels: Servicing-approved, area-grpc

#25829 Remove dangling mention of Microsoft.AspNetCore.AzureAppServices.SiteExtension.2.2
  eng/Dependencies.props
Labels: area-infrastructure, auto-merge

#25821 Nullability feedback for public types in Components
  src/Components/Components/src/BindConverter.cs
  src/Components/Components/src/EventCallback.cs
Labels: Servicing-approved, area-blazor

#25849 Support override of PlatformManifest.txt content in servicing
  src/Framework/App.Ref/src/Microsoft.AspNetCore.App.Ref.csproj
Labels: area-infrastructure, area-platform, tell-mode

#25850 Pass `$(MicrosoftNETCoreAppInternalPackageVersion)` to Helix jobs
  eng/helix/content/runtests.cmd
  eng/helix/content/runtests.sh
  eng/targets/Helix.targets
Labels: area-infrastructure, tell-mode

#25851 Remove package version pinning for ref/ assemblies in servicing
  eng/Dependencies.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/targets/ResolveReferences.targets
  eng/tools/RepoTasks/RepoTasks.csproj
Labels: area-infrastructure, tell-mode

#25792 Allow dotnet-watch to look for changes to .razor.css files
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/BuildIntrospectionTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/build/netstandard2.0/Sdk.Razor.CurrentVersion.targets
  src/Razor/test/testassets/RazorTest.Introspection.targets
Labels: Servicing-approved, area-mvc

#25865 Fix Helix testing issues with stable versions and local builds
  Directory.Build.props
  eng/helix/helix.proj
  eng/scripts/RunHelix.ps1
  eng/targets/Helix.targets
  src/Framework/test/Microsoft.AspNetCore.App.UnitTests.csproj
Labels: area-infrastructure, tell-mode

#25784 V3 publishing
  .azure/pipelines/ci.yml
  eng/Publishing.props
Labels: area-infrastructure

#25834 Update identity web templates
  eng/Dependencies.props
  eng/Versions.props
  src/ProjectTemplates/Web.ProjectTemplates/BlazorServerWeb-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/ComponentsWebAssembly-CSharp.Server.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/Microsoft.DotNet.Web.ProjectTemplates.csproj
  src/ProjectTemplates/Web.ProjectTemplates/RazorPagesWeb-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/StarterWeb-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/WebApi-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Controllers/WeatherForecastController.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Controllers/WeatherForecastController.cs
Labels: 5.0-candidate, Servicing-approved, auto-merge

#25848 Fix XML documentation of ApplicationServices
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
Labels: area-servers, auto-merge

#25870 Fix RCL template to have correct filename for scoped CSS
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorClassLibrary-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorClassLibrary-CSharp/Component1.razor.css
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorClassLibrary-CSharp/wwwroot/styles.css
Labels: Servicing-approved, area-mvc

#25503 Cleanup custom authz sample
  src/Security/samples/CustomAuthorizationFailureResponse/Authorization/SampleAuthorizationMiddlewareResultHandler.cs
  src/Security/samples/CustomAuthorizationFailureResponse/Extensions/ServiceCollectionExtensions.cs
  src/Security/samples/CustomAuthorizationFailureResponse/Startup.cs
Labels: area-security

#25879 Revert 2.2 site extension version update
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#25877 Move the runtime code sync back to master.
  .github/workflows/runtime-sync.yml
Labels: area-infrastructure, auto-merge

#25836 Reduce references to Microsoft.AspNetCore.App.Runtime.csproj
  src/Framework/test/Microsoft.AspNetCore.App.UnitTests.csproj
  src/SiteExtensions/LoggingBranch/LB.csproj
  src/Tools/dotnet-watch/src/dotnet-watch.csproj
Labels: area-infrastructure, tell-mode

#25880 Fix MSB4109 error in 5.0 RC1
  src/Tools/Extensions.ApiDescription.Server/src/build/Microsoft.Extensions.ApiDescription.Server.targets
Labels: area-commandlinetools

#25736 Add SkipAnalyzers=true to component declaration compilation
  eng/Version.Details.xml
  eng/Versions.props
  src/Razor/Microsoft.NET.Sdk.Razor/src/build/netstandard2.0/Microsoft.NET.Sdk.Razor.Component.targets
Labels: Servicing-approved, area-mvc

#25882 Remove application error
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/StartupTests.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
Labels: area-servers

#25832 Remove unnecessary IsConnectionResetError check
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs
Labels: area-servers

#25840 [5.0.0-rc2] Backport Fix chrome/selenium tests (#25330)
  eng/Versions.props
  eng/targets/CSharp.Common.props
  src/Components/test/E2ETest/Microsoft.AspNetCore.Components.E2ETests.csproj
  src/Components/test/E2ETest/ServerExecutionTests/MultipleRootComponentsTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/ServerReconnectionTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyAuthenticationTests.cs
  src/Components/test/E2ETest/Tests/WebAssemblyICUShardingTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyLazyLoadTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyLocalizationTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyLoggingTest.cs
  src/Components/test/testassets/BasicTestApp/BasicTestApp.csproj
  src/Components/test/testassets/TestServer/ServerStartup.cs
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorTemplates.Tests.csproj
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorWasmTemplateTest.cs
  src/Shared/E2ETesting/BrowserFixture.cs
  src/Shared/E2ETesting/selenium-config.json
Labels: area-blazor, tell-mode

#25883 Attempt to fix race with client disconnect
  src/Servers/IIS/IIS/src/Core/IISHttpContext.FeatureCollection.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.IO.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
  src/Servers/IIS/IIS/src/Core/IO/AsyncIOEngine.cs
  src/Servers/IIS/IIS/src/Core/IO/WebSocketsAsyncIOEngine.cs
Labels: area-servers

#25838 Fix Java packaging
  src/SignalR/clients/java/signalr/core/build.gradle
  src/SignalR/clients/java/signalr/messagepack/build.gradle
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/HubConnectionTest.java
Labels: Servicing-approved, area-signalr

#25672 Update PartialTagHelper.cs
  src/Mvc/Mvc.TagHelpers/src/PartialTagHelper.cs
Labels: area-mvc, community-contribution

#25911 Fixing CI
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/ComponentsWebAssembly-CSharp.Client.csproj
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/ComponentsWebAssembly-CSharp.Server.csproj
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Shared/ComponentsWebAssembly-CSharp.Shared.csproj
Labels: area-mvc

#25745 Fix AspNetCore.sln and Kestrel.slnf
  AspNetCore.sln
  src/Servers/Kestrel/Kestrel.slnf
Labels: area-servers, auto-merge

#25919 Add a test to verify NewtonsoftJsonInputFormatter disposes temporary buffer
  src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonInputFormatter.cs
  src/Mvc/Mvc.NewtonsoftJson/test/NewtonsoftJsonInputFormatterTest.cs
Labels: area-mvc

#24952 Update assembly versions when servicing
  Directory.Build.targets
  eng/targets/ResolveReferences.targets
Labels: area-infrastructure

#25932 Quarantining various tests
  src/Components/test/E2ETest/Tests/EventTest.cs
  src/Components/test/E2ETest/Tests/InputFileTest.cs
  src/Components/test/E2ETest/Tests/VirtualizationTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyConfigurationHostedTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/MvcBuildIntegrationTestLegacy.cs
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/HubConnectionTest.java
Labels: area-infrastructure

#25933 Fix Ignitor bug
  AspNetCore.sln
  src/Components/ComponentsNoDeps.slnf
  src/Components/Ignitor/src/BlazorClient.cs
  src/Components/Ignitor/src/ElementHive.cs
  src/Components/Samples/BlazorServerApp/Pages/Counter.razor
  src/Components/Samples/IgnitorSample/IgnitorSample.csproj
  src/Components/Samples/IgnitorSample/Program.cs
Labels: area-blazor

#25210 [Helix] Add new osx11 helix queue to matrix
  eng/targets/Helix.Common.props
  src/DataProtection/Extensions/test/DataProtectionProviderTests.cs
  src/Identity/ApiAuthorization.IdentityServer/test/Configuration/ConfigureSigningCredentialsTests.cs
  src/Identity/ApiAuthorization.IdentityServer/test/Configuration/SigningKeysLoaderTests.cs
  src/ProjectTemplates/test/EmptyWebTemplateTest.cs
  src/ProjectTemplates/test/GrpcTemplateTest.cs
  src/ProjectTemplates/test/IdentityUIPackageTest.cs
  src/ProjectTemplates/test/MvcTemplateTest.cs
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
  src/ProjectTemplates/test/WebApiTemplateTest.cs
  src/Testing/src/xunit/SkipOnHelixAttribute.cs
  src/Tools/FirstRunCertGenerator/test/CertificateManagerTests.cs
Labels: area-infrastructure

#25966 Quarantining dotnet watch tests
  src/Tools/dotnet-watch/test/GlobbingAppTests.cs
Labels: area-commandlinetools, auto-merge

#25954 Make timezone and ICU data available offline for PWA
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/service-worker.published.js
Labels: Servicing-approved, area-blazor, blazor-wasm

#25978 An attempt to fix database error page tests
  src/Middleware/Diagnostics.EntityFrameworkCore/test/FunctionalTests/DatabaseErrorPageMiddlewareTest.cs
Labels: area-middleware

#25984 dotnet-watch: continue printing output to console after the app is ready
  src/Tools/dotnet-watch/src/LaunchBrowserFilter.cs
Labels: Servicing-approved, area-commandlinetools

#25922 Fix SignalR+WebSockets on WASM
  src/Components/test/E2ETest/Tests/SignalRClientTest.cs
  src/Components/test/testassets/BasicTestApp/SignalRClientComponent.razor
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/DefaultTransportFactory.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/WebSocketsTransport.cs
Labels: Servicing-approved, area-signalr

#26012 Add Swashbuckle to Third-Party-Notices.txt
  THIRD-PARTY-NOTICES.txt
Labels: area-platform

#25934 Increase more SignalR Java client test timeouts
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/HubConnectionTest.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/LongPollingTransportTest.java
Labels: area-signalr

#22575 Update Async to server library
  src/Servers/Kestrel/Core/src/Internal/Http/Http1ChunkedEncodingMessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1ContentLengthMessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1UpgradeMessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpRequestPipeReader.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpResponsePipeWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http/MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/ZeroContentLengthMessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/test/BodyControlTests.cs
Labels: area-servers, community-contribution

#26029 Increase TS Client Functional test timeout
  src/SignalR/clients/ts/FunctionalTests/scripts/run-tests.ts
Labels: area-signalr

#26023 Making dotnet publish --self-contained and single file work in repo
  src/Razor/Microsoft.NET.Sdk.Razor/src/Microsoft.NET.Sdk.Razor.csproj
Labels: area-mvc

#24219 Refactor transient state in Java client
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/NegotiateResponse.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/HubConnectionTest.java
Labels: Servicing-approved, area-signalr

#25986 Pin PackageOverrides.txt Extensions versions at Major.Minor.0 in servicing
  eng/Dependencies.props
  eng/Versions.props
  src/Framework/App.Ref/src/Microsoft.AspNetCore.App.Ref.csproj
  src/Framework/Directory.Build.props
  src/Framework/test/Microsoft.AspNetCore.App.UnitTests.csproj
  src/Framework/test/TargetingPackTests.cs
Labels: area-platform, tell-mode

#25987 Place ref/ layout where SDK can find it
  eng/helix/content/RunTests/TestRunner.cs
  src/Framework/test/TargetingPackTests.cs
Labels: area-infrastructure

#26031 Do not build native when packing for template tests
  .azure/pipelines/quarantined-pr.yml
Labels: area-infrastructure, tell-mode

#26041 Deflaking IIS tests
  src/Servers/IIS/IIS/test/Common.FunctionalTests/ClientCertificateTests.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISDeployer.cs
Labels: area-servers

#25992 Almost-always use project references, not baseline references
  eng/targets/ResolveReferences.targets
Labels: area-infrastructure, auto-merge, tell-mode

#26033 Enable PostBuildSign flag and include signing information in the manifest
  eng/AfterSigning.targets
  eng/Publishing.props
  eng/Signing.props
  src/Components/Directory.Build.targets
Labels: area-infrastructure

#26062 Quarantine tests
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/Http2Tests.cs
  src/Tools/dotnet-watch/test/dotnet-watch.Tests.csproj
Labels: tell-mode

#26063 Increase Http2Timeout
  src/Shared/Http2cat/TaskTimeoutExtensions.cs
Labels: Attention: Shared Code Modified

#26027 Support multiple feeds as input to the baseline generator
  eng/tools/BaselineGenerator/BaselineGenerator.csproj
  eng/tools/BaselineGenerator/Program.cs
Labels: area-infrastructure

#26069 Converge implementations of AwaitableProcess and ProcessEx
  src/Tools/dotnet-watch/test/AwaitableProcess.cs
  src/Tools/dotnet-watch/test/TestProjects/KitchenSink/.net/objDebug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
  src/Tools/dotnet-watch/test/TestProjects/KitchenSink/.net/objDebug/net5.0/KitchenSink.AssemblyInfo.cs
  src/Tools/dotnet-watch/test/TestProjects/KitchenSink/.net/objDebug/net5.0/KitchenSink.AssemblyInfoInputs.cache
  src/Tools/dotnet-watch/test/dotnet-watch.Tests.csproj
Labels: area-commandlinetools, tell-mode

#26036 Increase more SignalR Java client test timeouts
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/HubConnectionTest.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/LongPollingTransportTest.java
Labels: area-signalr, tell-mode

#26089 Allow Detailed errors to use 1 or "true"
  src/Components/Server/src/Circuits/CircuitOptionsJSInteropDetailedErrorsConfiguration.cs
Labels: area-blazor

#26078 Remove ComponentsWebAssembly shared layout
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Pages/Shared/_Layout.cshtml
Labels: Servicing-approved, area-blazor, blazor-wasm

#26104 Tiny typo on doc for ServicesModelBinder
  src/Mvc/Mvc.Core/src/ModelBinding/Binders/ServicesModelBinder.cs
Labels: area-mvc, auto-merge

#26071 Fix GracefulTurnsAbortiveIfRequestsDoNotFinish flakiness
  src/Servers/Kestrel/test/FunctionalTests/Http2/ShutdownTests.cs
Labels: area-servers
