Repository dotnet/aspnetcore, pull requests merged in 2020-05, with the labels that each got.

#21072 Kestrel reloadable endpoint config
  src/Servers/Kestrel/Core/ref/Microsoft.AspNetCore.Server.Kestrel.Core.netcoreapp.cs
  src/Servers/Kestrel/Core/src/Internal/AddressBindContext.cs
  src/Servers/Kestrel/Core/src/Internal/AddressBinder.cs
  src/Servers/Kestrel/Core/src/Internal/ConfigSectionClone.cs
  src/Servers/Kestrel/Core/src/Internal/ConfigurationReader.cs
  src/Servers/Kestrel/Core/src/Internal/ConnectionDispatcher.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/ConnectionManager.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/ConnectionReference.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/IConnectionListenerBase.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/IConnectionListenerOfT.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelConnection.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelConnectionOfT.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/TransportConnectionManager.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/TransportManager.cs
  src/Servers/Kestrel/Core/src/Internal/MultiplexedConnectionDispatcher.cs
  src/Servers/Kestrel/Core/src/Internal/ServerAddressesCollection.cs
  src/Servers/Kestrel/Core/src/Internal/ServerAddressesFeature.cs
  src/Servers/Kestrel/Core/src/KestrelConfigurationLoader.cs
  src/Servers/Kestrel/Core/src/KestrelServer.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Servers/Kestrel/Core/src/ListenOptions.cs
  src/Servers/Kestrel/Core/src/LocalhostListenOptions.cs
  src/Servers/Kestrel/Core/src/Middleware/ConnectionLimitMiddleware.cs
  src/Servers/Kestrel/Core/test/AddressBinderTests.cs
  src/Servers/Kestrel/Core/test/ConnectionDispatcherTests.cs
  src/Servers/Kestrel/Core/test/HttpConnectionManagerTests.cs
  src/Servers/Kestrel/Core/test/KestrelServerOptionsTests.cs
  src/Servers/Kestrel/Core/test/KestrelServerTests.cs
  src/Servers/Kestrel/Kestrel/test/ConfigurationReaderTests.cs
  src/Servers/Kestrel/Kestrel/test/KestrelConfigurationBuilderTests.cs
  src/Servers/Kestrel/Transport.Libuv/test/LibuvTransportTests.cs
  src/Servers/Kestrel/samples/SampleApp/Startup.cs
  src/Servers/Kestrel/samples/SampleApp/appsettings.Development.json
  src/Servers/Kestrel/shared/test/TransportTestHelpers/TestServer.cs
  src/Servers/Kestrel/test/BindTests/AddressRegistrationTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ConnectionLimitTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/TestTransport/TestServer.cs
Labels: api-approved, area-servers

#21349 Use the `JoinItems` task rather than faking it in an item group
  eng/Dependencies.props
  eng/targets/ResolveReferences.targets
Labels: area-infrastructure

#21412 Quarantined dotnet user-secrets test
  src/Tools/dotnet-user-secrets/test/SecretManagerTests.cs
Labels: area-commandlinetools

#21420 !! temporary !! Remove use of Windows.81.Amd64.Open queue
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#21410 Add AuthenticationDisplayName to HttpSys
  src/Servers/HttpSys/ref/Microsoft.AspNetCore.Server.HttpSys.netcoreapp.cs
  src/Servers/HttpSys/src/AuthenticationManager.cs
  src/Servers/HttpSys/src/MessagePump.cs
Labels: area-servers

#21431 Add missing curl/wget dependency to "Build ASP.NET Core from Source" doc page
  docs/BuildFromSource.md
Labels: area-infrastructure

#21467 Fix NRE in KestrelServerOptions.Listen*()
  src/Servers/Kestrel/Core/src/Internal/ConfigurationReader.cs
  src/Servers/Kestrel/Core/src/KestrelConfigurationLoader.cs
  src/Servers/Kestrel/Core/test/KestrelServerOptionsTests.cs
  src/Servers/Kestrel/Kestrel/test/ConfigurationReaderTests.cs
Labels: area-servers, auto-merge

#21476 Do not attempt to load satellite assemblies until after MainAsync has executed
  src/Components/WebAssembly/WebAssembly/src/Hosting/EntrypointInvoker.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/SatelliteResourcesLoader.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHost.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/EntrypointInvokerTest.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/SatelliteResourcesLoaderTest.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyHostTest.cs
Labels: area-blazor

#21483 Show debugger attach message
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Platform/Mono/MonoDebugger.ts
  src/Components/WebAssembly/DebugProxy/src/TargetPickerUi.cs
Labels: area-blazor

#21324 [SPA] Updates SPA dependencies to make npm audit happy
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/package.json
Labels: area-mvc

#21524 Update debugger to https://github.com/mono/mono/commit/1a6e64a9381c61
  src/Components/WebAssembly/DebugProxy/src/MonoDebugProxy/ws-proxy/DebugStore.cs
  src/Components/WebAssembly/DebugProxy/src/MonoDebugProxy/ws-proxy/MonoProxy.cs
Labels: area-blazor, auto-merge

#21525 Revert "Handle IIS OnCompleted callbacks later #17268 (#17756)"
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContextOfT.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/ResponseBodyTests.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
Labels: area-servers

#21516 Set certificate in some Kestrel tests to avoid global machine state
  src/Servers/Kestrel/test/BindTests/AddressRegistrationTests.cs
Labels: area-servers

#21493 [Templates] Diagnostics improvements and certificate fixes
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorTemplates.Tests.csproj
  src/ProjectTemplates/Shared/AspNetProcess.cs
  src/ProjectTemplates/Shared/ErrorMessages.cs
  src/ProjectTemplates/Shared/PageUrls.cs
  src/ProjectTemplates/Shared/Project.cs
  src/ProjectTemplates/Shared/ProjectFactoryFixture.cs
  src/ProjectTemplates/Shared/TemplatePackageInstaller.cs
  src/ProjectTemplates/test/ProjectTemplates.Tests.csproj
Labels: area-mvc

#21523 Deflake TimeAwaitable finalizer test
  src/SignalR/clients/csharp/Client/test/UnitTests/TimerAwaitableTests.cs
Labels: area-signalr

#21017 Upgrade to more recent .NET SDK
  global.json
  src/Mvc/Mvc.Razor.RuntimeCompilation/src/Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation.csproj
  src/Mvc/Mvc.Testing/src/Microsoft.AspNetCore.Mvc.Testing.csproj
  src/Mvc/Mvc.Testing/src/Microsoft.AspNetCore.Mvc.Testing.targets
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorTemplates.Tests.csproj
  src/ProjectTemplates/test/ProjectTemplates.Tests.csproj
  src/Servers/IIS/build/testsite.props
  src/Shared/E2ETesting/E2ETesting.targets
Labels: area-infrastructure

#21499 [Fixes #19666] [Components] Improve reliability of component quarantined tests (take 2)
  src/Components/Ignitor/src/BlazorClient.cs
  src/Components/test/E2ETest/ServerExecutionTests/ComponentHubReliabilityTest.cs
Labels: area-blazor

#21544 Avoid crashing in PollingFileWatcher
  src/Tools/dotnet-watch/src/Internal/FileWatcher/PollingFileWatcher.cs
Labels: area-commandlinetools

#21509 Use Encoding.CreateTranscodingStream
  src/Mvc/Mvc.Core/src/Formatters/SystemTextJsonInputFormatter.cs
  src/Mvc/Mvc.Core/src/Formatters/SystemTextJsonOutputFormatter.cs
  src/Mvc/Mvc.Core/src/Formatters/TranscodingReadStream.cs
  src/Mvc/Mvc.Core/src/Formatters/TranscodingWriteStream.cs
  src/Mvc/Mvc.Core/src/Infrastructure/SystemTextJsonResultExecutor.cs
  src/Mvc/Mvc.Core/test/Formatters/JsonInputFormatterTestBase.cs
  src/Mvc/Mvc.Core/test/Formatters/JsonOutputFormatterTestBase.cs
  src/Mvc/Mvc.Core/test/Formatters/SystemTextJsonOutputFormatterTest.cs
  src/Mvc/Mvc.Core/test/Formatters/TranscodingReadStreamTest.cs
  src/Mvc/Mvc.Core/test/Formatters/TranscodingWriteStreamTest.cs
  src/Mvc/Mvc.Core/test/Infrastructure/JsonResultExecutorTestBase.cs
  src/Mvc/Mvc.Core/test/Infrastructure/SystemTextJsonResultExecutorTest.cs
Labels: area-mvc

#21553 Ignoring win7 Helix builds
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#21545 Move SDL validation to ringed release
  .azure/pipelines/ci.yml
  eng/sdl-tsa-vars.config
Labels: area-infrastructure

#21425 Log type of ObjectResult in ObjectResultExecutor
  src/Mvc/Mvc.Core/src/Infrastructure/ObjectResultExecutor.cs
  src/Mvc/Mvc.Core/src/MvcCoreLoggerExtensions.cs
Labels: area-mvc

#21602 Avoid changing global state in CI runs
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#21601 Remove me from codeowners 😭
  .github/CODEOWNERS
Labels: auto-merge

#21490 Use a dedicated thread for timers in rather than a Timer
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/Heartbeat.cs
  src/Servers/Kestrel/Core/test/DateHeaderValueManagerTests.cs
  src/Servers/Kestrel/Core/test/HeartbeatTests.cs
Labels: area-servers

#21613 [Templates] Unquarantine some tests that have been passing for the past month
  src/ProjectTemplates/test/AssemblyInfo.AssemblyFixtures.cs
  src/ProjectTemplates/test/BaselineTest.cs
  src/ProjectTemplates/test/EmptyWebTemplateTest.cs
  src/ProjectTemplates/test/GrpcTemplateTest.cs
  src/ProjectTemplates/test/ItemTemplateTests/BlazorServerTests.cs
  src/ProjectTemplates/test/MvcTemplateTest.cs
  src/ProjectTemplates/test/RazorClassLibraryTemplateTest.cs
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
Labels: area-mvc

#21625 [Templates] Fix register path on the SPA templates
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/api-authorization/login/login.component.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/components/api-authorization/Login.js
Labels: area-mvc

#21558 Template test infrastructure fixups
  src/Grpc/test/InteropTests/Helpers/ClientProcess.cs
  src/Grpc/test/InteropTests/Helpers/WebsiteProcess.cs
  src/ProjectTemplates/Shared/AspNetProcess.cs
  src/ProjectTemplates/Shared/ErrorMessages.cs
  src/ProjectTemplates/Shared/ProcessLock.cs
  src/ProjectTemplates/Shared/ProcessResult.cs
  src/ProjectTemplates/Shared/Project.cs
  src/ProjectTemplates/Shared/ProjectFactoryFixture.cs
  src/ProjectTemplates/Shared/TemplatePackageInstaller.cs
  src/ProjectTemplates/test/EmptyWebTemplateTest.cs
  src/ProjectTemplates/test/yarn.lock
  src/Shared/Process/ProcessEx.cs
Labels: area-mvc

#21627 Update SDK, re-enable Win7
  eng/targets/Helix.Common.props
  global.json
Labels: area-infrastructure

#21595 Add docs on HelixContent property
  docs/Helix.md
Labels: area-infrastructure

#21609 Fix build on clean CMD
  global.json
Labels: area-infrastructure

#21552 [Helix] Reenable win8 helix queue
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#21614 Use Pinned Object Heap for MemoryPool
  src/Shared/Buffers.MemoryPool/MemoryPoolBlock.cs
  src/Shared/Buffers.MemoryPool/MemoryPoolSlab.cs
  src/Shared/Buffers.MemoryPool/SlabMemoryPool.cs
Labels: area-servers

#21371 Adds instruction for creating JAVA_HOME env variable
  docs/BuildFromSource.md
Labels: area-infrastructure

#21700 Update to mono sources http://github.com/mono/mono/commit/57dcba253
  src/Components/WebAssembly/DebugProxy/src/MonoDebugProxy/ws-proxy/MonoProxy.cs
Labels: area-blazor

#19626 Add a scenario with timers
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Pages/TimerComponent.razor
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Shared/MainLayout.razor
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/benchmarks/lib/minibench/minibench.ui.js
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/benchmarks/stress.js
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/benchmarks/timerStress.js
Labels: area-blazor

#21633 Add a simplified version of ServerComponentRenderingTest.CanDispatchAsyncWorkToSyncContext
  src/Components/Components/test/Rendering/RendererSynchronizationContextTest.cs
Labels: area-blazor

#21639 [Helix] Don't throw on dotnet exit codes when installing aspnet app runtime
  eng/helix/content/RunTests/TestRunner.cs
Labels: area-infrastructure

#21706 Update branding to Preview6
  eng/Versions.props
Labels: area-infrastructure

#21723 Quarantine flagged tests
  src/Identity/Specification.Tests/src/UserManagerSpecificationTests.cs
Labels: area-identity

#21227 Build aspnetcore for win-arm64 (#19317)
  .azure/pipelines/ci.yml
  Directory.Build.props
  build.ps1
  eng/Dependencies.props
  eng/Signing.props
  src/Framework/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Shared/E2ETesting/E2ETesting.props
Labels: area-infrastructure

#21649 Added some kestrel event counters
  src/Servers/Kestrel/Core/src/Internal/ConnectionDispatcher.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.FeatureCollection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2StreamOfT.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3StreamOfT.cs
  src/Servers/Kestrel/Core/src/Internal/HttpConnection.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelConnectionOfT.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelEventSource.cs
  src/Servers/Kestrel/Core/src/Internal/TlsConnectionFeature.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
Labels: area-servers

#21659 Capture dump of hanging test process in Helix
  eng/helix/content/RunTests/ProcessUtil.cs
  eng/helix/content/RunTests/Program.cs
  eng/helix/content/RunTests/RunTestsOptions.cs
  eng/helix/content/RunTests/TestRunner.cs
  eng/helix/content/runtests.cmd
  eng/helix/content/runtests.sh
  eng/targets/Helix.targets
Labels: area-infrastructure

#21754 Quarantine Microsoft.Extensions.SecretManager.Tools.Tests.SecretManagerTests.Clear_Secrets
  src/Tools/dotnet-user-secrets/test/SecretManagerTests.cs
Labels: area-commandlinetools

#21750 Quarantine all ProjectTemplate tests until dotnet new lock issue is resolved.
  src/ProjectTemplates/test/AssemblyInfo.AssemblyFixtures.cs
Labels: area-mvc

#21587 Add .version file to shared framework zip
  src/Framework/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Framework/test/SharedFxTests.cs
Labels: area-platform

#21711 Add retries when initial connection fails
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorServerTemplateTest.cs
  src/ProjectTemplates/ProjectTemplatesNoDeps.slnf
Labels: area-mvc

#21760 Update branding to 3.1.5
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  src/Http/Routing/src/Matching/DfaMatcherBuilder.cs
  src/Http/Routing/test/UnitTests/Matching/HostMatcherPolicyIntegrationTestBase.cs
  src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonOutputFormatter.cs
  src/Mvc/Mvc.NewtonsoftJson/test/NewtonsoftJsonOutputFormatterTest.cs
Labels: area-infrastructure

#21548 [release/3.1] Add .version file to shared framework zip
  src/Framework/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Framework/test/SharedFxTests.cs
Labels: area-platform

#21542 Set certificate in some Kestrel tests to avoid global machine state (…
  src/Servers/Kestrel/test/BindTests/AddressRegistrationTests.cs
Labels: area-servers, tell-mode

#21200 Fix use of precedence in endpoint routing DFA (#20801)
  src/Http/Routing/ref/Microsoft.AspNetCore.Routing.Manual.cs
  src/Http/Routing/src/Matching/DfaMatcherBuilder.cs
  src/Http/Routing/src/Template/RoutePrecedence.cs
  src/Http/Routing/test/UnitTests/GlobalSuppressions.cs
  src/Http/Routing/test/UnitTests/Matching/DfaMatcherBuilderTest.cs
  src/Http/Routing/test/UnitTests/Matching/DfaMatcherConformanceTest.cs
  src/Http/Routing/test/UnitTests/Matching/FullFeaturedMatcherConformanceTest.cs
  src/Http/Routing/test/UnitTests/Matching/RouteMatcherConformanceTest.cs
  src/Http/Routing/test/UnitTests/Matching/TreeRouterMatcherConformanceTest.cs
Labels: Servicing-approved, area-servers

#20760 Improve build reliability
  eng/scripts/CodeCheck.ps1
  eng/targets/ResolveReferences.targets
  src/Antiforgery/src/Microsoft.AspNetCore.Antiforgery.csproj
  src/Components/Server/src/Microsoft.AspNetCore.Components.Server.csproj
  src/Hosting/Abstractions/src/Microsoft.AspNetCore.Hosting.Abstractions.csproj
  src/Hosting/Hosting/src/Microsoft.AspNetCore.Hosting.csproj
  src/Hosting/Server.Abstractions/src/Microsoft.AspNetCore.Hosting.Server.Abstractions.csproj
  src/Http/Authentication.Abstractions/src/Microsoft.AspNetCore.Authentication.Abstractions.csproj
  src/Http/Headers/src/Microsoft.Net.Http.Headers.csproj
  src/Http/Http.Abstractions/src/Microsoft.AspNetCore.Http.Abstractions.csproj
  src/Http/Http.Extensions/src/Microsoft.AspNetCore.Http.Extensions.csproj
  src/Http/Http/src/Microsoft.AspNetCore.Http.csproj
  src/Http/Routing/src/Microsoft.AspNetCore.Routing.csproj
  src/Http/WebUtilities/src/Microsoft.AspNetCore.WebUtilities.csproj
  src/Middleware/CORS/src/Microsoft.AspNetCore.Cors.csproj
  src/Middleware/Diagnostics/src/Microsoft.AspNetCore.Diagnostics.csproj
  src/Middleware/HealthChecks/src/Microsoft.AspNetCore.Diagnostics.HealthChecks.csproj
  src/Middleware/HostFiltering/src/Microsoft.AspNetCore.HostFiltering.csproj
  src/Middleware/HttpOverrides/src/Microsoft.AspNetCore.HttpOverrides.csproj
  src/Middleware/HttpsPolicy/src/Microsoft.AspNetCore.HttpsPolicy.csproj
  src/Middleware/Localization/src/Microsoft.AspNetCore.Localization.csproj
  src/Middleware/ResponseCaching.Abstractions/src/Microsoft.AspNetCore.ResponseCaching.Abstractions.csproj
  src/Middleware/ResponseCaching/src/Microsoft.AspNetCore.ResponseCaching.csproj
  src/Middleware/ResponseCompression/src/Microsoft.AspNetCore.ResponseCompression.csproj
  src/Middleware/Rewrite/src/Microsoft.AspNetCore.Rewrite.csproj
  src/Middleware/Session/src/Microsoft.AspNetCore.Session.csproj
  src/Middleware/StaticFiles/src/Microsoft.AspNetCore.StaticFiles.csproj
  src/Middleware/WebSockets/src/Microsoft.AspNetCore.WebSockets.csproj
  src/Mvc/Mvc.Abstractions/src/Microsoft.AspNetCore.Mvc.Abstractions.csproj
  src/Mvc/Mvc.Core/src/Microsoft.AspNetCore.Mvc.Core.csproj
  src/Mvc/Mvc.DataAnnotations/src/Microsoft.AspNetCore.Mvc.DataAnnotations.csproj
  src/Mvc/Mvc.Localization/src/Microsoft.AspNetCore.Mvc.Localization.csproj
  src/Mvc/Mvc.Razor/src/Microsoft.AspNetCore.Mvc.Razor.csproj
  src/Mvc/Mvc.TagHelpers/src/Microsoft.AspNetCore.Mvc.TagHelpers.csproj
  src/Mvc/Mvc.ViewFeatures/src/Microsoft.AspNetCore.Mvc.ViewFeatures.csproj
  src/Mvc/Mvc/src/Microsoft.AspNetCore.Mvc.csproj
  src/Razor/Razor/src/Microsoft.AspNetCore.Razor.csproj
  src/Security/Authentication/Core/src/Microsoft.AspNetCore.Authentication.csproj
  src/Security/CookiePolicy/src/Microsoft.AspNetCore.CookiePolicy.csproj
  src/Servers/HttpSys/src/Microsoft.AspNetCore.Server.HttpSys.csproj
  src/Servers/IIS/IIS/src/Microsoft.AspNetCore.Server.IIS.csproj
  src/Servers/IIS/IISIntegration/src/Microsoft.AspNetCore.Server.IISIntegration.csproj
  src/Servers/Kestrel/Core/src/Microsoft.AspNetCore.Server.Kestrel.Core.csproj
  src/Servers/Kestrel/Transport.Sockets/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.csproj
  src/SignalR/common/Http.Connections/src/Microsoft.AspNetCore.Http.Connections.csproj
  src/SignalR/server/Core/src/Microsoft.AspNetCore.SignalR.Core.csproj
Labels: area-infrastructure, tell-mode

#21753 Remove the need for a global lock when building or publishing a project
  src/ProjectTemplates/Shared/AspNetProcess.cs
  src/ProjectTemplates/Shared/ProcessLock.cs
  src/ProjectTemplates/Shared/Project.cs
Labels: area-mvc

#21153 [release/3.1] Move SDL validation to ringed release
  .azure/pipelines/ci.yml
  eng/sdl-tsa-vars.config
Labels: * NO MERGE *, area-infrastructure, tell-mode

#21786 Do not ship SiteExtension in previews
  src/SiteExtensions/LoggingAggregate/src/Microsoft.AspNetCore.AzureAppServices.SiteExtension/Microsoft.AspNetCore.AzureAppServices.SiteExtension.csproj
Labels: area-hosting

#21819 Fix SpaServices extensions hangs (#17277)
  src/Middleware/SpaServices.Extensions/src/Util/EventedStreamReader.cs
Labels: area-middleware

#21720 Ensure dotnet run uses build output, not publish
  src/ProjectTemplates/Shared/AspNetProcess.cs
  src/ProjectTemplates/Shared/Project.cs
Labels: area-mvc

#21833 Undo use of pipewriter in FileBufferingWriteStream
  src/Http/WebUtilities/ref/Microsoft.AspNetCore.WebUtilities.netcoreapp.cs
  src/Http/WebUtilities/src/FileBufferingWriteStream.cs
  src/Http/WebUtilities/test/FileBufferingWriteStreamTests.cs
  src/Mvc/Mvc.Formatters.Xml/src/XmlSerializerOutputFormatter.cs
  src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonOutputFormatter.cs
  src/Mvc/test/Mvc.FunctionalTests/JsonOutputFormatterTestBase.cs
  src/Mvc/test/WebSites/FormatterWebSite/Controllers/JsonOutputFormatterController.cs
Labels: area-mvc

#21831 Revert "Quarantine all ProjectTemplate tests until dotnet new lock is…
  src/ProjectTemplates/test/AssemblyInfo.AssemblyFixtures.cs
Labels: area-mvc

#21801 [release/3.1] Give .msi's non-stable branding
  src/Installers/Windows/SharedFramework/SharedFramework.wixproj
  src/Installers/Windows/TargetingPack/TargetingPack.wixproj
  src/Installers/Windows/Wix.targets
Labels: Servicing-approved, area-installers

#21880 Revert change specific for only 5.0-preview5
  src/Framework/ref/Microsoft.AspNetCore.App.Ref.csproj
Labels: area-platform

#21853 Use bogus phone tokens for failure message check to avoid collisions
  src/Identity/Specification.Tests/src/UserManagerSpecificationTests.cs
Labels: area-identity

#18579 Allow use of a default MemoryPoolFeature on ConnectionContext
  src/Servers/Kestrel/Core/src/Middleware/Http3ConnectionMiddleware.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpConnectionMiddleware.cs
Labels: area-servers

#21900 Ignore error output from `Get-Process`
  eng/scripts/StartDumpCollectionForHangingBuilds.ps1
Labels: area-infrastructure

#21841 Add links in "new issue" flow to other related repos
  .github/ISSUE_TEMPLATE/config.yml
Labels: area-platform

#21277 Use ReferenceEquals in HttpMethodMatcherPolicy
  src/Http/Http.Abstractions/ref/Microsoft.AspNetCore.Http.Abstractions.netcoreapp.cs
  src/Http/Http.Abstractions/src/HttpMethods.cs
  src/Http/Http.Abstractions/test/HttpMethodslTests.cs
  src/Http/Routing/perf/Matching/MatcherAzureBenchmarkBase.generated.cs
  src/Http/Routing/perf/Matching/MatcherGithubBenchmarkBase.generated.cs
  src/Http/Routing/src/HttpMethodMetadata.cs
  src/Http/Routing/src/Matching/HttpMethodMatcherPolicy.cs
  src/Http/Routing/tools/Swaggatherer/Template.cs
Labels: area-servers, auto-merge

#21895 Unquarantine tests
  src/Hosting/TestHost/test/TestClientTests.cs
  src/Identity/test/Identity.Test/IdentityUIScriptsTest.cs
  src/Security/Authentication/test/SecureDataFormatTests.cs
  src/Servers/Kestrel/test/FunctionalTests/Http2/ShutdownTests.cs
  src/Servers/Kestrel/test/FunctionalTests/MaxRequestBufferSizeTests.cs
  src/Servers/Kestrel/test/FunctionalTests/RequestTests.cs
  src/Servers/Kestrel/test/FunctionalTests/ResponseTests.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubConnectionTests.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
  src/Testing/test/AssemblyTestLogTests.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiAddURLTests.cs
Labels: auto-merge

#21922 Fixup JS
  src/Components/Shared/src/BrowserNavigationManagerInterop.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/Services/NavigationManager.ts
  src/Components/Web.JS/tests/DefaultReconnectionHandler.test.ts
Labels: area-blazor

#21957 Quarantine flaky tests
  src/Components/test/E2ETest/Tests/EventBubblingTest.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/ClientCertificateTests.cs
Labels: auto-merge

#21039 Fix cleaning send queue on restart (#18511)
  src/SignalR/clients/ts/FunctionalTests/package.json
  src/SignalR/clients/ts/FunctionalTests/scripts/karma.local.conf.js
  src/SignalR/clients/ts/FunctionalTests/yarn.lock
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
  src/SignalR/clients/ts/signalr/src/NodeHttpClient.ts
  src/SignalR/clients/ts/signalr/src/WebSocketTransport.ts
  src/SignalR/clients/ts/signalr/tests/HttpConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/TestWebSocket.ts
Labels: Servicing-approved, area-signalr

#21330 [Templates] Update SPA dependencies to keep npm audit happy
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/package.json
Labels: Servicing-approved, area-mvc

#21909 Add AllowAnonymous extension method on IEndpointConventionBuilder
  src/Security/Authorization/Policy/ref/Microsoft.AspNetCore.Authorization.Policy.netcoreapp.cs
  src/Security/Authorization/Policy/src/AuthorizationEndpointConventionBuilderExtensions.cs
  src/Security/Authorization/test/AuthorizationEndpointConventionBuilderExtensionsTests.cs
Labels: area-security

#21117 Allow custom handling of authorization failures (with sample app)
  src/Security/AuthSamples.sln
  src/Security/Authorization/Policy/ref/Microsoft.AspNetCore.Authorization.Policy.netcoreapp.cs
  src/Security/Authorization/Policy/src/AuthorizationMiddleware.cs
  src/Security/Authorization/Policy/src/AuthorizationMiddlewareResultHandler.cs
  src/Security/Authorization/Policy/src/IAuthorizationMiddlewareResultHandler.cs
  src/Security/Authorization/Policy/src/IPolicyEvaluator.cs
  src/Security/Authorization/Policy/src/PolicyAuthorizationResult.cs
  src/Security/Authorization/Policy/src/PolicyEvaluator.cs
  src/Security/Authorization/Policy/src/PolicyServiceCollectionExtensions.cs
  src/Security/Authorization/test/AuthorizationMiddlewareResultHandlerTests.cs
  src/Security/Authorization/test/AuthorizationMiddlewareTests.cs
  src/Security/Authorization/test/PolicyEvaluatorTests.cs
  src/Security/samples/CustomAuthorizationFailureResponse/Authentication/SampleAuthenticationHandler.cs
  src/Security/samples/CustomAuthorizationFailureResponse/Authentication/SampleAuthenticationSchemes.cs
  src/Security/samples/CustomAuthorizationFailureResponse/Authorization/Handlers/SampleRequirementHandler.cs
  src/Security/samples/CustomAuthorizationFailureResponse/Authorization/Handlers/SampleWithCustomMessageRequirementHandler.cs
  src/Security/samples/CustomAuthorizationFailureResponse/Authorization/Requirements/SampleRequirement.cs
  src/Security/samples/CustomAuthorizationFailureResponse/Authorization/Requirements/SampleWithCustomMessageRequirement.cs
  src/Security/samples/CustomAuthorizationFailureResponse/Authorization/SampleAuthorizationMiddlewareResultHandler.cs
  src/Security/samples/CustomAuthorizationFailureResponse/Authorization/SamplePolicyNames.cs
  src/Security/samples/CustomAuthorizationFailureResponse/Controllers/SampleController.cs
  src/Security/samples/CustomAuthorizationFailureResponse/CustomAuthorizationFailureResponse.csproj
  src/Security/samples/CustomAuthorizationFailureResponse/Extensions/ServiceCollectionExtensions.cs
  src/Security/samples/CustomAuthorizationFailureResponse/Program.cs
  src/Security/samples/CustomAuthorizationFailureResponse/Startup.cs
  src/Security/samples/CustomAuthorizationFailureResponse/appsettings.Development.json
  src/Security/samples/CustomAuthorizationFailureResponse/appsettings.json
  src/Security/test/AuthSamples.FunctionalTests/AuthSamples.FunctionalTests.csproj
  src/Security/test/AuthSamples.FunctionalTests/CustomAuthorizationFailureResponseTests.cs
Labels: area-security

#21918 Small clean up and allocation removals
  src/Servers/HttpSys/src/AsyncAcceptContext.cs
  src/Servers/HttpSys/src/HttpSysListener.cs
Labels: area-servers, servers-httpsys

#21927 Clean up logs for Negotiate Authentication and Authorization
  src/Security/Authentication/Negotiate/src/Internal/NegotiateLoggingExtensions.cs
  src/Security/Authentication/Negotiate/src/NegotiateHandler.cs
  src/Security/Authorization/Core/src/DenyAnonymousAuthorizationRequirement.cs
  src/Security/Authorization/Core/src/LoggingExtensions.cs
  src/Security/Authorization/test/DefaultAuthorizationServiceTests.cs
  src/Security/Authorization/test/DenyAnonymousAuthorizationRequirementTests.cs
Labels: area-security, auto-merge

#21958 !temporary! Require `msbuild` from VS2019 16.6
  global.json
Labels: area-infrastructure

#21971 Do not ship analyzer packages
  src/Analyzers/Internal.AspNetCore.Analyzers/src/Internal.AspNetCore.Analyzers.csproj
  src/Analyzers/Microsoft.AspNetCore.Analyzer.Testing/src/Microsoft.AspNetCore.Analyzer.Testing.csproj
Labels: area-infrastructure, tell-mode

#21982 Small fixes
  NuGet.config
  build.ps1
  build.sh
Labels: area-infrastructure

#21278 Hub filters!
  src/SignalR/perf/Microbenchmarks/DefaultHubDispatcherBenchmark.cs
  src/SignalR/samples/SignalRSamples/Startup.cs
  src/SignalR/server/Core/ref/Microsoft.AspNetCore.SignalR.Core.netcoreapp.cs
  src/SignalR/server/Core/src/HubConnectionHandler.cs
  src/SignalR/server/Core/src/HubInvocationContext.cs
  src/SignalR/server/Core/src/HubLifetimeContext.cs
  src/SignalR/server/Core/src/HubOptions.cs
  src/SignalR/server/Core/src/HubOptionsExtensions.cs
  src/SignalR/server/Core/src/HubOptionsSetup`T.cs
  src/SignalR/server/Core/src/IHubFilter.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/Core/src/Internal/HubFilterFactory.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTestUtils/Hubs.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
  src/SignalR/server/SignalR/test/HubFilterTests.cs
  src/SignalR/server/SignalR/test/TestFilters.cs
Labels: api-approved, area-signalr

#22007 Re-use the dotnet-new lock during template package installation
  src/ProjectTemplates/Shared/TemplatePackageInstaller.cs
Labels: area-mvc

#21912 Update F# web templates to be more idiomatic
  src/ProjectTemplates/Web.ProjectTemplates/StarterWeb-FSharp.fsproj.in
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/Program.fs
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/Startup.fs
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/Controllers/HomeController.fs
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/Models/ErrorViewModel.fs
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/Views/Shared/Error.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/Controllers/WeatherForecastController.fs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/Startup.fs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/WeatherForecast.fs
Labels: area-mvc

#22038 Link investigate issue to quarantine
  src/Servers/Kestrel/test/FunctionalTests/Http2/ShutdownTests.cs
Labels: area-identity

#22035 Quarantine CanDeletedUnkeyed
  src/Components/test/E2ETest/Tests/KeyTest.cs
Labels: area-blazor, auto-merge

#22065 Fix accidental obsolete
  src/SignalR/server/Core/ref/Microsoft.AspNetCore.SignalR.Core.netcoreapp.cs
  src/SignalR/server/Core/src/HubInvocationContext.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-signalr

#22068 Install dotnet-dump first
  eng/helix/content/RunTests/Program.cs
  eng/helix/content/RunTests/TestRunner.cs
Labels: area-infrastructure

#22082 Unquarantine test
  src/HealthChecks/HealthChecks/test/HealthCheckPublisherHostedServiceTest.cs
Labels: area-healthchecks, auto-merge

#21803 [release/2.1] Make .msi GUIDs unique
  src/Installers/Windows/Wix.targets
Labels: * NO MERGE *, Servicing-approved, area-installers

#22089 Add nan as dev dependency to React templates
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/package.json
Labels: Servicing-approved, area-mvc

#22102 Quarantine InteropTest
  src/Grpc/test/InteropTests/InteropTests.cs
Labels: auto-merge

#22103 Prevent fallback to `xcopy` version of `msbuild`
  global.json
Labels: area-infrastructure

#21643 Avoid changing global state in CI runs II
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
  build.ps1
  build.sh
  eng/scripts/install-nginx-linux.sh
Labels: area-infrastructure

#22166 Unblock use of `xcopy` `msbuild`
  global.json
Labels: area-infrastructure

#22002 Add helix-matrix.yml and windows arm 64 helix queue
  .azure/pipelines/ci.yml
  .azure/pipelines/helix-matrix.yml
  eng/helix/content/RunTests/TestRunner.cs
  eng/helix/content/runtests.cmd
  eng/targets/Helix.Common.props
  eng/targets/Helix.targets
  src/Middleware/Diagnostics.EntityFrameworkCore/test/FunctionalTests/Diagnostics.EFCore.FunctionalTests.csproj
  src/Middleware/NodeServices/test/Microsoft.AspNetCore.NodeServices.Tests.csproj
  src/Middleware/NodeServices/test/NodeServicesTest.cs
  src/Servers/Kestrel/Transport.Libuv/test/Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv.Tests.csproj
  src/Servers/Kestrel/test/Libuv.BindTests/Libuv.BindTests.csproj
  src/Servers/Kestrel/test/Libuv.FunctionalTests/Libuv.FunctionalTests.csproj
Labels: area-infrastructure

#22176 Remove extra `git submodule` commands
  .azure/pipelines/devBuilds.yml
Labels: area-infrastructure

#22190 Fix small typo in ErrorContext summary.
  src/Middleware/Diagnostics.Abstractions/src/ErrorContext.cs
Labels: area-middleware

#22200 [Helix] Always run required queues on all builds, not just PR
  .azure/pipelines/ci.yml
Labels: area-infrastructure, auto-merge

#22157 Fix logging config and output redirection in DebugProxy
  src/Components/WebAssembly/DebugProxy/src/Hosting/DebugProxyHost.cs
  src/Components/WebAssembly/DebugProxy/src/MonoDebugProxy/ws-proxy/DevToolsProxy.cs
  src/Components/WebAssembly/Server/src/DebugProxyLauncher.cs
Labels: area-blazor

#22227 [Helix] build java as part of helix runs
  .azure/pipelines/helix-matrix.yml
Labels: area-infrastructure, auto-merge

#22235 Quarantine a couple more tests
  src/Analyzers/Internal.AspNetCore.Analyzers/test/PubternabilityAnalyzerTests.cs
  src/Servers/Kestrel/test/FunctionalTests/MaxRequestBufferSizeTests.cs
Labels: area-infrastructure

#22168 Modify the path error in the comment.
  src/Components/Components/src/ComponentBase.cs
Labels: area-blazor

#22087 Fix path for PoliCheckExclusions.xml
  eng/sdl-tsa-vars.config
Labels: area-infrastructure

#22264 Mopup for aspnetcore-tooling migration.
  src/Razor/Microsoft.NET.Sdk.Razor/src/Microsoft.NET.Sdk.Razor.csproj
  src/Razor/Microsoft.NET.Sdk.Razor/test/IntegrationTests/StaticWebAssetsIntegrationTest.cs
Labels: area-mvc

#22295 Remove tooling dependencies
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#22263 Update Http3Connection lock objects to be readonly
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
Labels: area-servers

#22327 Always copy Mvc.Razor.Extensions.dll to razor sdk output
  src/Razor/Microsoft.NET.Sdk.Razor/src/Microsoft.NET.Sdk.Razor.csproj
Labels: area-mvc

#22320 Quarantine cert test
  src/Servers/IIS/IIS/test/Common.FunctionalTests/ClientCertificateTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/HttpsTests.cs
Labels: area-servers

#22299 Add a transport package for Mvc.Razor.Extensions pdbs
  src/Razor/tools/Microsoft.Aspnetcore.Razor.Internal.Transport/Microsoft.AspNetCore.Razor.Internal.Transport.csproj
Labels: area-mvc

#22347 fix processex.cs possible problems
  src/Shared/Process/ProcessEx.cs
Labels: area-grpc, area-mvc

#21705 Make H3StaticTable static class
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/QPack/EncoderStreamReader.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TestBase.cs
  src/Shared/runtime/Http3/QPack/H3StaticTable.cs
  src/Shared/runtime/Http3/QPack/QPackDecoder.cs
  src/Shared/runtime/Http3/QPack/QPackEncoder.cs
Labels: area-servers, auto-merge

#22017 Build primarily with `dotnet msbuild`
  .azure/pipelines/ci.yml
  .azure/pipelines/helix-matrix.yml
  .azure/pipelines/jobs/codesign-xplat.yml
  .azure/pipelines/jobs/default-build.yml
  .azure/pipelines/quarantined-tests.yml
  Directory.Build.props
  build.ps1
  eng/AfterSolutionBuild.targets
  eng/Build.props
  eng/scripts/GenerateProjectList.ps1
  eng/scripts/GenerateReferenceAssemblies.ps1
  eng/targets/ResolveIisReferences.targets
  global.json
  src/Framework/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/SiteExtensions/build.cmd
Labels: area-infrastructure

#22379 Minor Documentation Grammar Fix
  src/Razor/Microsoft.CodeAnalysis.Razor/src/Resources.resx
Labels: area-mvc

#22367 Remove workaround for templating encoding issue
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/App.razor
Labels: area-mvc
