Repository dotnet/aspnetcore, pull requests merged in 2020-02, with the labels that each got.

#18676 Only download chrome driver
  src/Components/test/E2ETest/package.json
  src/Components/test/E2ETest/yarn.lock
  src/ProjectTemplates/test/package.json
  src/Shared/E2ETesting/E2ETesting.props
  src/Shared/E2ETesting/E2ETesting.targets
  src/Shared/E2ETesting/SeleniumStandaloneServer.cs
  src/Shared/E2ETesting/selenium-config.json
Labels: area-infrastructure

#18727 Quarantine OpenAPI tests
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiAddFileTests.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiAddURLTests.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiRemoveTests.cs
Labels: area-commandlinetools

#18724 Revert Arcade version and workaround
  build.ps1
  eng/Empty.Directory.Build.props
  eng/Empty.Directory.Build.targets
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/tools.ps1
  global.json
Labels: area-infrastructure

#18760 Update to newer ws-proxy sources
  src/Components/Blazor/Server/src/MonoDebugProxy/BlazorMonoDebugProxyAppBuilderExtensions.cs
  src/Components/Blazor/Server/src/MonoDebugProxy/ws-proxy/DebugStore.cs
  src/Components/Blazor/Server/src/MonoDebugProxy/ws-proxy/DevToolsClient.cs
  src/Components/Blazor/Server/src/MonoDebugProxy/ws-proxy/DevToolsProxy.cs
  src/Components/Blazor/Server/src/MonoDebugProxy/ws-proxy/MonoProxy.cs
Labels: area-blazor, blazor-wasm

#18698 More quarantining
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubConnectionTests.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubProtocolVersionTests.cs
  src/SignalR/common/testassets/Tests.Utils/TestClient.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
  src/Tools/dotnet-user-secrets/test/SecretManagerTests.cs
  src/Tools/dotnet-watch/test/ProgramTests.cs
Labels: area-signalr, auto-merge

#18726 Update MessagePack version
  eng/Versions.props
  src/SignalR/common/Protocols.MessagePack/src/Protocol/MessagePackHubProtocol.cs
Labels: area-signalr, auto-merge

#18786 Cleanup version.details.xml
  eng/Version.Details.xml
Labels: area-infrastructure

#18737 Use typeof() rather than caching Type in static
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.Generated.cs
  src/Servers/Kestrel/shared/TransportConnection.Generated.cs
  src/Servers/Kestrel/tools/CodeGenerator/FeatureCollectionGenerator.cs
Labels: area-servers, auto-merge

#18793 Switch to 5.0.0-preview1 branding
  eng/Versions.props
Labels: area-infrastructure

#18777 Support VS Code's "pwa-chrome" debug type
  src/Components/Blazor/Server/src/MonoDebugProxy/BlazorMonoDebugProxyAppBuilderExtensions.cs
Labels: area-blazor

#18551 Added Log events for Httpsys
  src/Servers/HttpSys/src/HttpSysListener.cs
  src/Servers/HttpSys/src/LoggerEventIds.cs
  src/Servers/HttpSys/src/MessagePump.cs
  src/Servers/HttpSys/src/NativeInterop/DisconnectListener.cs
  src/Servers/HttpSys/src/NativeInterop/RequestQueue.cs
  src/Servers/HttpSys/src/NativeInterop/UrlGroup.cs
  src/Servers/HttpSys/src/RequestProcessing/ClientCertLoader.cs
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestStream.cs
  src/Servers/HttpSys/src/RequestProcessing/ResponseBody.cs
  src/Servers/HttpSys/src/RequestProcessing/ResponseStreamAsyncResult.cs
Labels: area-servers, servers-httpsys

#18843 Npm and Java telemetry
  eng/targets/Npm.Common.targets
  src/SignalR/clients/java/signalr/signalr.client.java.javaproj
  src/SignalR/clients/ts/FunctionalTests/SignalR.Npm.FunctionalTests.npmproj
Labels: area-infrastructure, area-signalr

#18827 Adding "AzureADB2CSignoutTitle" and "AzureADB2CSignoutText" tags to A…
  src/Azure/AzureAD/Authentication.AzureAD.UI/src/Areas/AzureAD/Pages/Account/SignedOut.cshtml
Labels: area-security

#15029 Allow opt-out from client certificate root checking
  src/Security/Authentication/Certificate/ref/Microsoft.AspNetCore.Authentication.Certificate.netcoreapp.cs
  src/Security/Authentication/Certificate/src/CertificateAuthenticationHandler.cs
  src/Security/Authentication/Certificate/src/CertificateAuthenticationOptions.cs
  src/Security/Authentication/test/CertificateTests.cs
  src/Security/Authentication/test/TestCertificates/validSelfSignedPrimaryRootCertificate.cer
  src/Security/Authentication/test/TestCertificates/validSignedClientCertificate.cer
  src/Security/Authentication/test/TestCertificates/validSignedSecondaryRootCertificate.cer
  src/Shared/test/Certificates/validSelfSignedPrimaryRootCertificate.cer
  src/Shared/test/Certificates/validSignedClientCertificate.cer
  src/Shared/test/Certificates/validSignedSecondaryRootCertificate.cer
Labels: area-security

#18863 Make Java test more reliable
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/HubConnectionTest.java
  src/SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/MockTransport.java
Labels: area-signalr

#18869 Update deps from tooling/extensions/runtime
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure, auto-merge

#18881 Fixup xml
  eng/Version.Details.xml
Labels: area-infrastructure

#18689 Replat on System.Net.Quic
  eng/ProjectReferences.props
  src/Servers/Connections.Abstractions/ref/Microsoft.AspNetCore.Connections.Abstractions.netcoreapp.cs
  src/Servers/Connections.Abstractions/ref/Microsoft.AspNetCore.Connections.Abstractions.netstandard2.0.cs
  src/Servers/Connections.Abstractions/ref/Microsoft.AspNetCore.Connections.Abstractions.netstandard2.1.cs
  src/Servers/Connections.Abstractions/src/Features/IQuicStreamFeature.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3ControlStream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Kestrel.sln
  src/Servers/Kestrel/NuGet.config
  src/Servers/Kestrel/Transport.MsQuic/README.md
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/MsQuicApi.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/MsQuicConnection.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/MsQuicConnectionListener.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/MsQuicConstants.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/MsQuicEnums.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/MsQuicNativeMethods.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/MsQuicStatusException.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/MsQuicStatusHelper.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/MsQuicStream.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/MsQuicTransportContext.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/QuicSecConfig.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/QuicSession.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/ResettableCompletionSource.cs
  src/Servers/Kestrel/Transport.MsQuic/src/Internal/UIntExtensions.cs
  src/Servers/Kestrel/Transport.MsQuic/src/MsQuicConnectionFactory.cs
  src/Servers/Kestrel/Transport.MsQuic/src/MsQuicTransportFactory.cs
  src/Servers/Kestrel/Transport.Quic/README.md
  src/Servers/Kestrel/Transport.Quic/ref/Microsoft.AspNetCore.Server.Kestrel.Transport.Quic.csproj
  src/Servers/Kestrel/Transport.Quic/ref/Microsoft.AspNetCore.Server.Kestrel.Transport.Quic.netcoreapp.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/FakeTlsConnectionFeature.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/IQuicTrace.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionListener.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicTrace.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicTransportContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Quic.csproj
  src/Servers/Kestrel/Transport.Quic/src/QuicConnectionFactory.cs
  src/Servers/Kestrel/Transport.Quic/src/QuicTransportFactory.cs
  src/Servers/Kestrel/Transport.Quic/src/QuicTransportOptions.cs
  src/Servers/Kestrel/Transport.Quic/src/WebHostBuilderMsQuicExtensions.cs
  src/Servers/Kestrel/Transport.Sockets/ref/Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.netcoreapp.cs
  src/Servers/Kestrel/Transport.Sockets/src/Client/SocketConnectionFactory.cs
  src/Servers/Kestrel/samples/Http3SampleApp/Http3SampleApp.csproj
  src/Servers/Kestrel/samples/Http3SampleApp/Program.cs
  src/Servers/Kestrel/samples/QuicSampleApp/Program.cs
  src/Servers/Kestrel/samples/QuicSampleApp/QuicSampleApp.csproj
  src/Servers/Kestrel/samples/QuicSampleClient/Program.cs
  src/Servers/Kestrel/samples/QuicSampleClient/QuicSampleClient.csproj
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TestBase.cs
  src/Shared/Http2cat/Http2CatIServiceCollectionExtensions.cs
Labels: area-servers

#18882 Remove more Mono.WebAssembly.Interop
  eng/Dependencies.props
  eng/Versions.props
Labels: area-infrastructure

#18889 Fix benchmark application
  src/Servers/Kestrel/perf/PlatformBenchmarks/AsciiString.cs
  src/Servers/Kestrel/perf/PlatformBenchmarks/BenchmarkApplication.HttpConnection.cs
  src/Servers/Kestrel/perf/PlatformBenchmarks/BenchmarkApplication.cs
  src/Servers/Kestrel/perf/PlatformBenchmarks/BenchmarkConfigurationHelpers.cs
  src/Servers/Kestrel/perf/PlatformBenchmarks/BufferExtensions.cs
  src/Servers/Kestrel/perf/PlatformBenchmarks/BufferWriter.cs
  src/Servers/Kestrel/perf/PlatformBenchmarks/DateHeader.cs
  src/Servers/Kestrel/perf/PlatformBenchmarks/Directory.Build.props
  src/Servers/Kestrel/perf/PlatformBenchmarks/Directory.Build.targets
  src/Servers/Kestrel/perf/PlatformBenchmarks/HttpApplication.cs
  src/Servers/Kestrel/perf/PlatformBenchmarks/IHttpConnection.cs
  src/Servers/Kestrel/perf/PlatformBenchmarks/NuGet.config
  src/Servers/Kestrel/perf/PlatformBenchmarks/PlatformBenchmarks.csproj
  src/Servers/Kestrel/perf/PlatformBenchmarks/Program.cs
  src/Servers/Kestrel/perf/PlatformBenchmarks/Startup.cs
  src/Servers/Kestrel/perf/PlatformBenchmarks/benchmarks.json.json
  src/Servers/Kestrel/perf/PlatformBenchmarks/benchmarks.plaintext.json
Labels: area-servers

#18897 Capture file-backed mappings in Linux core dumps
  eng/helix/content/runtests.sh
Labels: area-infrastructure, auto-merge

#18601 Start pooling Http2Streams
  src/Servers/Kestrel/Core/src/Internal/Http/Http1Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpRequestHeaders.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2StreamOfT.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2StreamStack.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/test/Http1ConnectionTests.cs
  src/Servers/Kestrel/Core/test/HttpProtocolFeatureCollectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
Labels: area-servers

#18451 Added Write/WriteLine ReadOnlySpan/ReadOnlyMemory overrides to HttpResponseStreamWriter
  src/Http/WebUtilities/ref/Microsoft.AspNetCore.WebUtilities.netcoreapp.cs
  src/Http/WebUtilities/src/HttpResponseStreamWriter.cs
  src/Http/WebUtilities/test/HttpResponseStreamWriterTest.cs
Labels: area-servers

#18842 Auto-generate random port for the server project
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/.template.config/template.json
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Properties/launchSettings.json
Labels: area-blazor, blazor-wasm

#18906 Remove Auto-Rebuild dead-code
  src/Components/Blazor/Server/src/AutoRebuild/AutoRebuildExtensions.cs
  src/Components/Blazor/Server/src/AutoRebuild/IRebuildService.cs
  src/Components/Blazor/Server/src/AutoRebuild/ProcessUtils.cs
  src/Components/Blazor/Server/src/AutoRebuild/StreamProtocolExtensions.cs
  src/Components/Blazor/Server/src/AutoRebuild/VSForWindowsRebuildService.cs
  src/Components/Blazor/Server/src/BlazorConfig.cs
Labels: area-blazor

#18894 Use non-stable versioning in blazor-wasm
  Directory.Build.props
  Directory.Build.targets
  eng/Versions.props
  src/Components/Blazor/Blazor.Version.props
  src/Components/Blazor/Directory.Build.props
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/Microsoft.AspNetCore.Blazor.Templates.csproj
Labels: area-blazor

#17556 Don't mutate strings in Kestrel
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/HttpUtilities.cs
  src/Shared/Http2cat/Http2Utilities.cs
  src/Shared/ServerInfrastructure/StringUtilities.cs
Labels: area-servers, auto-merge

#18926 Workaround to possibly fix flaky tests?
  eng/helix/content/runtests.sh
Labels: area-infrastructure

#18910 Updated all AzureAD and AzureADB2C views to give ids to all taged htm…
  src/Azure/AzureAD/Authentication.AzureAD.UI/src/Areas/AzureAD/Pages/Account/AccessDenied.cshtml
  src/Azure/AzureAD/Authentication.AzureAD.UI/src/Areas/AzureAD/Pages/Account/Error.cshtml
  src/Azure/AzureAD/Authentication.AzureAD.UI/src/Areas/AzureAD/Pages/Account/SignedOut.cshtml
  src/Azure/AzureAD/Authentication.AzureADB2C.UI/src/Areas/AzureADB2C/Pages/Account/AccessDenied.cshtml
  src/Azure/AzureAD/Authentication.AzureADB2C.UI/src/Areas/AzureADB2C/Pages/Account/Error.cshtml
  src/Azure/AzureAD/Authentication.AzureADB2C.UI/src/Areas/AzureADB2C/Pages/Account/SignedOut.cshtml
Labels: area-security

#18797 Ensure resolved assemblies works correctly when not linked + incremental build
  src/Components/Blazor/Build/src/targets/Blazor.MonoRuntime.targets
  src/Components/Blazor/Build/test/BuildIntegrationTests/PublishIntegrationTest.cs
Labels: area-blazor

#18942 Fixups to ensure benchmarks apps builds in the master branch
  eng/Build.props
  src/Components/benchmarkapps/Wasm.Performance/Driver/Wasm.Performance.Driver.csproj
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Wasm.Performance.TestApp.csproj
  src/Components/benchmarkapps/Wasm.Performance/dockerfile
Labels: area-perf

#18958 Update shared code for HTTP/2 and HTTP/3
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Shared/Http2/IHttpHeadersHandler.cs
  src/Shared/Http2/ReadMe.SharedCode.md
  src/Shared/Http3/QPack/QPackDecoder.cs
  src/Shared/Http3/ReadMe.SharedCode.md
Labels: Attention: Shared Code Modified

#18937 [Helix] Only run flaky tests on quarantine runs
  eng/helix/content/runtests.cmd
  eng/helix/content/runtests.sh
Labels: area-infrastructure, auto-merge

#18967 Restructure shared http code
  src/Servers/HttpSys/test/FunctionalTests/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests.csproj
  src/Servers/Kestrel/Core/src/Microsoft.AspNetCore.Server.Kestrel.Core.csproj
  src/Servers/Kestrel/Core/test/Microsoft.AspNetCore.Server.Kestrel.Core.Tests.csproj
  src/Servers/Kestrel/samples/http2cat/http2cat.csproj
  src/Shared/Http2/CopyToAspNetCore.sh
  src/Shared/Http2/CopyToRuntime.sh
  src/Shared/Http2/ReadMe.SharedCode.md
  src/Shared/Http3/CopyToAspNetCore.cmd
  src/Shared/Http3/CopyToRuntime.cmd
  src/Shared/runtime/CopyToAspNetCore.cmd
  src/Shared/runtime/CopyToAspNetCore.sh
  src/Shared/runtime/CopyToRuntime.cmd
  src/Shared/runtime/CopyToRuntime.sh
  src/Shared/runtime/Http2/Hpack/DynamicTable.cs
  src/Shared/runtime/Http2/Hpack/H2StaticTable.cs
  src/Shared/runtime/Http2/Hpack/HPackDecoder.cs
  src/Shared/runtime/Http2/Hpack/HPackDecodingException.cs
  src/Shared/runtime/Http2/Hpack/HPackEncoder.cs
  src/Shared/runtime/Http2/Hpack/HPackEncodingException.cs
  src/Shared/runtime/Http2/Hpack/HeaderField.cs
  src/Shared/runtime/Http2/Hpack/Huffman.cs
  src/Shared/runtime/Http2/Hpack/HuffmanDecodingException.cs
  src/Shared/runtime/Http2/Hpack/IntegerDecoder.cs
  src/Shared/runtime/Http2/Hpack/IntegerEncoder.cs
  src/Shared/runtime/Http2/Hpack/StatusCodes.cs
  src/Shared/runtime/Http3/Frames/Http3ErrorCode.cs
  src/Shared/runtime/Http3/Frames/Http3Frame.cs
  src/Shared/runtime/Http3/Frames/Http3FrameType.cs
  src/Shared/runtime/Http3/Helpers/VariableLengthIntegerHelper.cs
  src/Shared/runtime/Http3/Http3SettingType.cs
  src/Shared/runtime/Http3/Http3StreamType.cs
  src/Shared/runtime/Http3/QPack/H3StaticTable.cs
  src/Shared/runtime/Http3/QPack/HeaderField.cs
  src/Shared/runtime/Http3/QPack/QPackDecoder.cs
  src/Shared/runtime/Http3/QPack/QPackDecodingException.cs
  src/Shared/runtime/Http3/QPack/QPackEncoder.cs
  src/Shared/runtime/Http3/QPack/QPackEncodingException.cs
  src/Shared/runtime/IHttpHeadersHandler.cs
  src/Shared/runtime/ReadMe.SharedCode.md
  src/Shared/runtime/SR.cs
  src/Shared/runtime/SR.resx
  src/Shared/test/Shared.Tests/Http2/ReadMe.SharedCode.md
  src/Shared/test/Shared.Tests/Microsoft.AspNetCore.Shared.Tests.csproj
  src/Shared/test/Shared.Tests/runtime/Http2/DynamicTableTest.cs
  src/Shared/test/Shared.Tests/runtime/Http2/HPackDecoderTest.cs
  src/Shared/test/Shared.Tests/runtime/Http2/HPackIntegerTest.cs
  src/Shared/test/Shared.Tests/runtime/Http2/HuffmanDecodingTests.cs
  src/Shared/test/Shared.Tests/runtime/ReadMe.SharedCode.md
Labels: Attention: Shared Code Modified, area-servers, auto-merge

#18964 Quarantining outstanding test failures
  src/Servers/Kestrel/test/FunctionalTests/ResponseTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TimeoutTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
  src/Tools/dotnet-user-secrets/test/InitCommandTest.cs
  src/Tools/dotnet-user-secrets/test/SecretManagerTests.cs
Labels: area-servers, auto-merge

#18296 Set AuthenticationMethod for first Identity external login
  src/Identity/UI/src/Areas/Identity/Pages/V3/Account/ExternalLogin.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/ExternalLogin.cshtml.cs
  src/Identity/test/Identity.FunctionalTests/RegistrationTests.cs
Labels: area-identity

#18993 add docs on servicing process and PR submission
  docs/Servicing.md
Labels: Docs, area-infrastructure, auto-merge

#18970 Build against the 3.1.0 AspNetCore
  src/Components/Blazor/DevServer/src/Microsoft.AspNetCore.Blazor.DevServer.csproj
  src/Components/Blazor/DevServer/src/runtimeconfig.template.json
  src/Components/Directory.Build.props
  src/Components/Directory.Build.targets
Labels: area-blazor

#19016 Update the servicing doc with link to the project
  docs/Servicing.md
Labels: auto-merge

#18971 Make the dev-server log less
  src/Components/Blazor/DevServer/src/Microsoft.AspNetCore.Blazor.DevServer.csproj
  src/Components/Blazor/DevServer/src/Server/Program.cs
Labels: area-blazor, blazor-wasm

#18935 No-op if ValidateComplexType is validated without the right context
  src/Components/Blazor/Validation/src/ValidateComplexTypeAttribute.cs
Labels: area-blazor

#19024 Add a Github Action to verify shared source files are in sync
  .github/CODEOWNERS
  .github/workflows/runtime-sync.yml
Labels: area-servers

#19015 Update branding to 3.1.3
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#18542 [release/3.1] Pin dependency on 3 CoreFx packages
  eng/Version.Details.xml
Labels: area-infrastructure, tell-mode

#18803 Don't include ref assembly from Microsoft.AspNetCore.Testing
  eng/targets/ResolveReferences.targets
Labels: area-infrastructure, tell-mode

#18541 [release/3.0] Pin dependency on 2 CoreFx packages
  eng/Version.Details.xml
Labels: area-infrastructure, tell-mode

#18790 Remove non-existing dependency in Identity.Specification.Tests
  src/Identity/Specification.Tests/src/Microsoft.AspNetCore.Identity.Specification.Tests.csproj
  src/Identity/Specification.Tests/src/UserManagerSpecificationTests.cs
Labels: area-identity, tell-mode

#18878 PWA template
  src/Components/Blazor/Build/src/Tasks/GenerateServiceWorkerAssetsManifest.cs
  src/Components/Blazor/Build/src/targets/All.targets
  src/Components/Blazor/Build/src/targets/Blazor.MonoRuntime.targets
  src/Components/Blazor/Build/src/targets/ServiceWorkerAssetsManifest.targets
  src/Components/startvs.cmd
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/BlazorWasm-CSharp.Client.csproj.in
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/.template.config/dotnetcli.host.json
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/.template.config/template.json
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/.template.config/vs-2017.3.host.json
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/wwwroot/icon-512.png
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/wwwroot/index.html
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/wwwroot/manifest.json
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/wwwroot/service-worker.js
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/wwwroot/service-worker.published.js
  src/ProjectTemplates/test/BaselineTest.cs
  src/ProjectTemplates/test/BlazorWasmTemplateTest.cs
  src/ProjectTemplates/test/template-baselines.json
  src/Shared/E2ETesting/BrowserFixture.cs
Labels: area-mvc

#18885 Use the analyzer from the SDK when available
  src/Components/Analyzers/src/Microsoft.AspNetCore.Components.Analyzers.csproj
  src/Components/Analyzers/src/build/netstandard2.0/Microsoft.AspNetCore.Components.Analyzers.props
  src/Components/Analyzers/src/build/netstandard2.0/Microsoft.AspNetCore.Components.Analyzers.targets
  src/Components/Analyzers/src/buildTransitive/netstandard2.0/Microsoft.AspNetCore.Components.Analyzers.targets
Labels: Servicing-approved, area-blazor

#18649 Use reference equality to compare model instances in EditContext (#1872)
  src/Components/Forms/src/FieldIdentifier.cs
  src/Components/Forms/test/EditContextTest.cs
  src/Components/Forms/test/FieldIdentifierTest.cs
Labels: Servicing-approved, area-blazor

#18648 Add an option to enable runtime compilation
  src/Mvc/Mvc.Razor.RuntimeCompilation/src/Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation.csproj
  src/Mvc/Mvc.Razor.RuntimeCompilation/src/Properties/AssemblyInfo.cs
  src/Mvc/Mvc.Razor.RuntimeCompilation/src/RazorRuntimeCompilationHostingStartup.cs
  src/ProjectTemplates/Web.ProjectTemplates/RazorPagesWeb-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/StarterWeb-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/dotnetcli.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/vs-2017.3.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/dotnetcli.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/vs-2017.3.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/test/MvcTemplateTest.cs
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
Labels: Servicing-approved, area-mvc

#18246 Fix layout of installer help page for non-ENU locales, #18152
  src/Installers/Windows/SharedFrameworkBundle/thm.xml
  src/Installers/Windows/WindowsHostingBundle/thm.xml
Labels: Servicing-approved, area-installers

#18255 Add option to interpret request headers as Latin1
  src/Servers/Kestrel/Core/ref/Microsoft.AspNetCore.Server.Kestrel.Core.Manual.cs
  src/Servers/Kestrel/Core/src/Internal/ConfigurationReader.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpRequestHeaders.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/HttpUtilities.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/StringUtilities.cs
  src/Servers/Kestrel/Core/src/KestrelConfigurationLoader.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Servers/Kestrel/Core/test/HttpRequestHeadersTests.cs
  src/Servers/Kestrel/Core/test/UTF8Decoding.cs
  src/Servers/Kestrel/Kestrel/test/KestrelConfigurationBuilderTests.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/BytesToStringBenchmark.cs
  src/Servers/Kestrel/shared/KnownHeaders.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTests.cs
Labels: Servicing-approved, area-servers, servers-kestrel

#18300 HeaderPropagation: reset AsyncLocal per request
  src/Middleware/HeaderPropagation/src/HeaderPropagationMiddleware.cs
  src/Middleware/HeaderPropagation/test/HeaderPropagationMiddlewareTest.cs
Labels: Servicing-approved, area-middleware

#18568 Build 3.1 site extension
  Directory.Build.targets
  eng/Build.props
  src/SiteExtensions/LoggingAggregate/src/Microsoft.AspNetCore.AzureAppServices.SiteExtension/Microsoft.AspNetCore.AzureAppServices.SiteExtension.csproj
  src/SiteExtensions/LoggingAggregate/test/Microsoft.AspNetCore.AzureAppServices.SiteExtension.Tests/TransformTest.cs
  src/SiteExtensions/Sdk/SiteExtension.targets
Labels: Servicing-approved, area-infrastructure

#18995 Update Grpc.AspNetCore template reference to 2.27.0
  eng/Versions.props
Labels: Servicing-approved, area-grpc, area-infrastructure

#18939 Keep Pipe readable after FormPipeReader error
  src/Http/WebUtilities/src/FormPipeReader.cs
  src/Http/WebUtilities/test/FormPipeReaderTests.cs
Labels: Servicing-approved, area-servers

#18547 Cache _absoluteRequestTarget when reusing strings
  src/Servers/Kestrel/Core/src/Internal/Http/Http1Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTests.cs
Labels: Servicing-approved, area-servers, servers-kestrel

#18934 Update OIDC SameSite sample
  src/Security/Authentication/OpenIdConnect/samples/OpenIdConnectSample/Startup.cs
Labels: area-security, auto-merge

#18997 allow valid error message to be displayed on linux
  src/Components/Blazor/Server/src/MonoDebugProxy/BlazorMonoDebugProxyAppBuilderExtensions.cs
Labels: area-blazor

#19061 Transfer endpoint metadata from PageActionDescriptor to CompiledPageActionDescriptor
  src/Mvc/Mvc.Abstractions/src/Abstractions/ActionDescriptor.cs
  src/Mvc/Mvc.RazorPages/src/Infrastructure/DefaultPageLoader.cs
  src/Mvc/Mvc.RazorPages/src/Infrastructure/DynamicPageEndpointMatcherPolicy.cs
  src/Mvc/Mvc.RazorPages/src/Infrastructure/PageLoaderMatcherPolicy.cs
  src/Mvc/test/Mvc.FunctionalTests/AuthMiddlewareUsingRequireAuthTest.cs
  src/Mvc/test/WebSites/SecurityWebSite/StartupWithRequireAuth.cs
Labels: Servicing-approved, area-mvc

#19021 Fix dotnet watch tests on Helix
  src/Tools/dotnet-watch/test/AppWithDepsTests.cs
  src/Tools/dotnet-watch/test/AwaitableProcess.cs
  src/Tools/dotnet-watch/test/DotNetWatcherTests.cs
  src/Tools/dotnet-watch/test/GlobbingAppTests.cs
  src/Tools/dotnet-watch/test/NoDepsAppTests.cs
  src/Tools/dotnet-watch/test/Scenario/WatchableApp.cs
Labels: area-commandlinetools

#19062 Sync script changes from the runtime repo
  src/Shared/runtime/CopyToAspNetCore.cmd
  src/Shared/runtime/CopyToRuntime.cmd
  src/Shared/runtime/Http3/QPack/QPackDecoder.cs
Labels: area-infrastructure, auto-merge

#19045 Update branding to 2.1.7
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/PatchConfig.props
  src/PackageArchive/Archive.CiServer.Patch.Compat/ArchiveBaseline.2.1.16.txt
  src/PackageArchive/Archive.CiServer.Patch/ArchiveBaseline.2.1.16.txt
  version.props
Labels: area-infrastructure, tell-mode

#19031 Run helix tests locally
  docs/Helix.md
  eng/helix/content/runtests.cmd
  eng/helix/helix.proj
  eng/scripts/RunHelix.ps1
Labels: area-infrastructure

#19067 Use nonshipping package to determine publish location for installers
  eng/Publishing.props
Labels: area-infrastructure, tell-mode

#19038 Publish Checksums to dotnetclichecksums storage account
  Directory.Build.props
  eng/Publishing.props
  src/Framework/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Installers/Windows/Wix.targets
Labels: area-infrastructure, tell-mode

#19082 Remove HostString.Port string alloc in HostString.cs
  src/Http/Http.Abstractions/src/HostString.cs
Labels: area-servers

#18859 Cache assemblies and wasm using content hashes
  src/Components/Blazor/Build/src/Tasks/GenerateBlazorBootJson.cs
  src/Components/Blazor/Build/src/targets/Blazor.MonoRuntime.targets
  src/Components/Blazor/Build/test/BootJsonWriterTest.cs
  src/Components/Blazor/Build/test/GenerateBlazorBootJsonTest.cs
  src/Components/Blazor/testassets/HostedInAspNet.Server/RequestLog.cs
  src/Components/Blazor/testassets/HostedInAspNet.Server/Startup.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/Platform/Mono/MonoDebugger.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/Web.JS/src/Platform/Mono/MonoTypes.d.ts
  src/Components/Web.JS/src/Platform/Platform.ts
  src/Components/Web.JS/src/Platform/Url.ts
  src/Components/Web.JS/src/Platform/WebAssemblyResourceLoader.ts
  src/Components/Web.JS/src/Services/NavigationManager.ts
  src/Components/test/E2ETest/Tests/BootResourceCachingTest.cs
  src/Shared/E2ETesting/BrowserFixture.cs
Labels: area-blazor

#18933 [Blazor][Wasm] Template changes to support auth in Blazor wasm
  eng/Dependencies.props
  eng/Versions.props
  src/Components/Blazor/testassets/Wasm.Authentication.Client/Shared/RedirectToLogin.razor
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/BlazorWasm-CSharp.Client.csproj.in
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/BlazorWasm-CSharp.Server.csproj.in
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/Microsoft.AspNetCore.Blazor.Templates.csproj
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/.template.config/dotnetcli.host.json
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/.template.config/template.json
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/.template.config/vs-2017.3.host.json
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/App.razor
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/Pages/Authentication.razor
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/Pages/FetchData.razor
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/Program.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/Shared/LoginDisplay.IndividualLocalAuth.razor
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/Shared/LoginDisplay.IndividualMsalAuth.razor
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/Shared/MainLayout.Auth.razor
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/Shared/MainLayout.NoAuth.razor
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/Shared/RedirectToLogin.razor
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/_Imports.razor
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/wwwroot/favicon.ico
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Client/wwwroot/index.html
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Areas/Identity/Pages/Shared/_LoginPartial.cshtml
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Controllers/OidcConfigurationController.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Controllers/WeatherForecastController.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Data/ApplicationDbContext.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Data/SqlLite/00000000000000_CreateIdentitySchema.Designer.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Data/SqlLite/00000000000000_CreateIdentitySchema.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Data/SqlLite/ApplicationDbContextModelSnapshot.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Data/SqlServer/00000000000000_CreateIdentitySchema.Designer.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Data/SqlServer/00000000000000_CreateIdentitySchema.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Data/SqlServer/ApplicationDbContextModelSnapshot.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Models/ApplicationUser.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Program.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/Startup.cs
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/app.db
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/appsettings.Development.json
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/Server/appsettings.json
  src/ProjectTemplates/test/BlazorWasmTemplateTest.cs
  src/ProjectTemplates/test/Helpers/ProjectFactoryFixture.cs
  src/ProjectTemplates/test/Infrastructure/TemplateTests.props.in
  src/ProjectTemplates/test/template-baselines.json
Labels: area-blazor

#18832 Fix GenerateTypeGranularityLinkingConfig build incrementalism
  src/Components/Blazor/Build/src/Tasks/GenerateTypeGranularityLinkingConfig.cs
  src/Components/Blazor/Build/src/targets/Blazor.MonoRuntime.targets
  src/Components/Blazor/Build/test/GenerateTypeGranularityLinkingConfigTest.cs
Labels: area-blazor

#19065 Revert flaky tests that seems to have been fixed
  .azure/pipelines/ci.yml
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiAddFileTests.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiRemoveTests.cs
Labels: area-mvc

#19063 Pin dependency on Microsoft.CSharp
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#19123 [release/3.1] Update baselines
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure, tell-mode

#19087 Updated summary
  src/Servers/Connections.Abstractions/src/ConnectionHandler.cs
Labels: area-servers, auto-merge

#18845 Try adding dotnet-helixapi-access token
  .azure/pipelines/ci.yml
  eng/helix/helix.proj
  eng/targets/Helix.targets
  src/Servers/Kestrel/test/FunctionalTests/Http2/HandshakeTests.cs
  src/Servers/Kestrel/test/FunctionalTests/Http2/ShutdownTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Utilities.cs
Labels: area-infrastructure

#19127 Update branding to 2.1.17 part 2
  eng/Baseline.Designer.props
  eng/Baseline.xml
Labels: area-infrastructure, tell-mode

#19103 [SPA] Updates the angular and react dependencies
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/api-authorization/authorize.service.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/components/api-authorization/AuthorizeRoute.js
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/package-lock.json
Labels: Servicing-approved, area-mvc

#18409 [Fixes #12588][Blazor] Move Blazor to use Static Web Assets
  .azure/pipelines/ci.yml
  src/Components/Blazor.sln
  src/Components/WebAssembly/Build/src/targets/All.props
  src/Components/WebAssembly/Build/src/targets/All.targets
  src/Components/WebAssembly/Build/src/targets/Blazor.MonoRuntime.targets
  src/Components/WebAssembly/Build/src/targets/Publish.targets
  src/Components/WebAssembly/Build/src/targets/ServiceWorkerAssetsManifest.targets
  src/Components/WebAssembly/Build/src/targets/Standalone.Web.config
  src/Components/WebAssembly/Build/src/targets/StaticWebAssets.props
  src/Components/WebAssembly/Build/src/targets/StaticWebAssets.targets
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/BuildIntegrationTest.cs
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/PublishIntegrationTest.cs
  src/Components/WebAssembly/Build/testassets/LinkBaseToWebRoot/js/LinkedScript.js
  src/Components/WebAssembly/Build/testassets/standalone/LinkToWebRoot/css/site.css
  src/Components/WebAssembly/Build/testassets/standalone/standalone.csproj
  src/Components/WebAssembly/Build/testassets/standalone/wwwroot/Fake-License.txt
  src/Components/WebAssembly/Build/testassets/standalone/wwwroot/css/site.css
  src/Components/WebAssembly/DevServer/src/Server/Startup.cs
  src/Components/WebAssembly/Server/src/BlazorConfig.cs
  src/Components/WebAssembly/Server/src/Builder/ComponentsWebAssemblyHostingApplicationBuilderExtensions.cs
  src/Components/WebAssembly/Server/src/Builder/ComponentsWebAssemblyHostingEndpointRouteBuilderExtensions.cs
  src/Components/WebAssembly/Server/src/Services/ComponentsWebAssemblyServiceCollectionExtensions.cs
  src/Components/WebAssembly/testassets/HostedInAspNet.Server/Program.cs
  src/Components/WebAssembly/testassets/HostedInAspNet.Server/Startup.cs
  src/Components/WebAssembly/testassets/MonoSanity/Program.cs
  src/Components/WebAssembly/testassets/MonoSanity/Startup.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Startup.cs
  src/Components/test/E2ETest/Tests/BootResourceCachingTest.cs
  src/Components/test/testassets/ComponentsApp.Server/appsettings.json
  src/Components/test/testassets/TestServer/AuthenticationStartup.cs
  src/Components/test/testassets/TestServer/ClientStartup.cs
  src/Components/test/testassets/TestServer/CorsStartup.cs
  src/Components/test/testassets/TestServer/InternationalizationStartup.cs
  src/Components/test/testassets/TestServer/StartupWithMapFallbackToClientSideBlazor.cs
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/ComponentsWebAssembly-CSharp.Client.csproj.in
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Startup.cs
  src/ProjectTemplates/test/BlazorWasmTemplateTest.cs
Labels: area-blazor

#19146 Fix PWA manifest token
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/manifest.json
Labels: area-blazor, area-mvc, blazor-wasm

#19124 Rename Blazor.Mono -> Components.WebAssembly.Runtime
  eng/Dependencies.props
  eng/Version.Details.xml
  eng/Versions.props
  src/Components/WebAssembly/Build/src/Microsoft.AspNetCore.Components.WebAssembly.Build.csproj
  src/Components/WebAssembly/Build/src/Microsoft.AspNetCore.Components.WebAssembly.Build.nuspec
  src/Components/WebAssembly/Build/src/ReferenceFromSource.props
  src/Components/WebAssembly/Build/src/targets/Blazor.MonoRuntime.targets
  src/Components/WebAssembly/Build/test/Microsoft.AspNetCore.Components.WebAssembly.Build.Tests.csproj
  src/Components/WebAssembly/Build/testassets/standalone/standalone.csproj
Labels: area-blazor, blazor-wasm

#14354 Secret Manager: Save project file without XML declaration
  src/Tools/dotnet-user-secrets/src/Internal/InitCommand.cs
  src/Tools/dotnet-user-secrets/test/InitCommandTest.cs
Labels: area-commandlinetools

#19130 Use RTM version of the SDK
  NuGet.config
  build.ps1
  build.sh
  global.json
Labels: area-blazor, blazor-wasm

#18580 Add Email claim
  src/Identity/Extensions.Core/ref/Microsoft.Extensions.Identity.Core.netcoreapp.cs
  src/Identity/Extensions.Core/ref/Microsoft.Extensions.Identity.Core.netstandard2.0.cs
  src/Identity/Extensions.Core/src/ClaimsIdentityOptions.cs
  src/Identity/Extensions.Core/src/UserClaimsPrincipalFactory.cs
  src/Identity/test/Identity.Test/UserClaimsPrincipalFactoryTest.cs
Labels: area-identity

#18938 Run Java tests on Helix
  .azure/pipelines/jobs/default-build.yml
  .gitattributes
  Directory.Build.props
  Directory.Build.targets
  eng/helix/content/InstallJdk.ps1
  eng/helix/content/installjdk.sh
  eng/helix/content/installnode.sh
  eng/targets/CSharp.Common.props
  eng/targets/CSharp.Common.targets
  eng/targets/Helix.props
  eng/targets/Helix.targets
  eng/targets/Npm.Common.targets
  src/Servers/IIS/AspNetCoreModuleV2/CommonLibTests/CommonLibTests.vcxproj
  src/SignalR/clients/java/signalr/.gitignore
  src/SignalR/clients/java/signalr/build.gradle
  src/SignalR/clients/java/signalr/signalr.client.java.Tests.javaproj
  src/SignalR/clients/ts/FunctionalTests/SignalR.Npm.FunctionalTests.npmproj
Labels: area-infrastructure, area-signalr

#19136 Update launchSettings.json for BlazorWASM
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Properties/launchSettings.json
Labels: area-blazor, area-mvc

#18968 Add XML Documentation to ResponseCachingMiddleware and ResponseCachingExtensions
  src/Middleware/ResponseCaching/src/ResponseCachingExtensions.cs
  src/Middleware/ResponseCaching/src/ResponseCachingMiddleware.cs
Labels: area-middleware, auto-merge

#18948 Activity.Baggage values are now be Url decoded in HostingApplicationD…
  src/Hosting/Hosting/src/Internal/HostingApplicationDiagnostics.cs
  src/Hosting/Hosting/test/HostingApplicationDiagnosticsTests.cs
Labels: area-hosting

#19159 Typo in the exception message that's returned
  src/Components/Server/src/Circuits/RemoteJSRuntime.cs
Labels: area-blazor

#19147 [Blazor] Move to MapBlazorWebAssemblyApplication
  src/Components/Blazor.sln
  src/Components/WebAssembly/DevServer/src/Server/Startup.cs
  src/Components/WebAssembly/Server/src/ComponentsWebAssemblyEndpointRouteBuilderExtensions.cs
  src/Components/WebAssembly/Server/src/Services/ComponentsWebAssemblyServiceCollectionExtensions.cs
  src/Components/WebAssembly/testassets/HostedInAspNet.Server/Startup.cs
  src/Components/WebAssembly/testassets/MonoSanity/Startup.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Startup.cs
  src/Components/test/E2ETest/Tests/BootResourceCachingTest.cs
  src/Components/test/testassets/TestServer/AuthenticationStartup.cs
  src/Components/test/testassets/TestServer/ClientStartup.cs
  src/Components/test/testassets/TestServer/CorsStartup.cs
  src/Components/test/testassets/TestServer/InternationalizationStartup.cs
  src/Components/test/testassets/TestServer/StartupWithMapFallbackToClientSideBlazor.cs
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Startup.cs
Labels: area-blazor

#19191 Fix conditional ServiceWorkerAssetsManifest
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/ComponentsWebAssembly-CSharp.Client.csproj.in
  src/ProjectTemplates/test/BlazorWasmTemplateTest.cs
Labels: area-mvc

#18256 Make user-secrets treat unmatched options as arguments
  src/Tools/dotnet-user-secrets/src/CommandLineOptions.cs
  src/Tools/dotnet-user-secrets/test/SecretManagerTests.cs
Labels: area-commandlinetools

#19156 Consume the internalized System.Net.Quic sources
  src/Servers/Kestrel/Core/src/Microsoft.AspNetCore.Server.Kestrel.Core.csproj
  src/Servers/Kestrel/Transport.Quic/src/Libraries.cs
  src/Servers/Kestrel/Transport.Quic/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Quic.csproj
  src/Shared/runtime/Http3/QPack/QPackDecoder.cs
  src/Shared/runtime/NetEventSource.Common.cs
  src/Shared/runtime/Quic/Implementations/Mock/MockConnection.cs
  src/Shared/runtime/Quic/Implementations/Mock/MockImplementationProvider.cs
  src/Shared/runtime/Quic/Implementations/Mock/MockListener.cs
  src/Shared/runtime/Quic/Implementations/Mock/MockStream.cs
  src/Shared/runtime/Quic/Implementations/MsQuic/Internal/MsQuicAddressHelpers.cs
  src/Shared/runtime/Quic/Implementations/MsQuic/Internal/MsQuicApi.cs
  src/Shared/runtime/Quic/Implementations/MsQuic/Internal/MsQuicParameterHelpers.cs
  src/Shared/runtime/Quic/Implementations/MsQuic/Internal/MsQuicSecurityConfig.cs
  src/Shared/runtime/Quic/Implementations/MsQuic/Internal/MsQuicSession.cs
  src/Shared/runtime/Quic/Implementations/MsQuic/Internal/QuicExceptionHelpers.cs
  src/Shared/runtime/Quic/Implementations/MsQuic/Internal/ResettableCompletionSource.cs
  src/Shared/runtime/Quic/Implementations/MsQuic/MsQuicConnection.cs
  src/Shared/runtime/Quic/Implementations/MsQuic/MsQuicImplementationProvider.cs
  src/Shared/runtime/Quic/Implementations/MsQuic/MsQuicListener.cs
  src/Shared/runtime/Quic/Implementations/MsQuic/MsQuicStream.cs
  src/Shared/runtime/Quic/Implementations/QuicConnectionProvider.cs
  src/Shared/runtime/Quic/Implementations/QuicImplementationProvider.cs
  src/Shared/runtime/Quic/Implementations/QuicListenerProvider.cs
  src/Shared/runtime/Quic/Implementations/QuicStreamProvider.cs
  src/Shared/runtime/Quic/Interop/Interop.MsQuic.cs
  src/Shared/runtime/Quic/Interop/MsQuicEnums.cs
  src/Shared/runtime/Quic/Interop/MsQuicNativeMethods.cs
  src/Shared/runtime/Quic/Interop/MsQuicStatusCodes.cs
  src/Shared/runtime/Quic/Interop/MsQuicStatusHelper.cs
  src/Shared/runtime/Quic/NetEventSource.Quic.cs
  src/Shared/runtime/Quic/QuicClientConnectionOptions.cs
  src/Shared/runtime/Quic/QuicConnection.cs
  src/Shared/runtime/Quic/QuicConnectionAbortedException.cs
  src/Shared/runtime/Quic/QuicException.cs
  src/Shared/runtime/Quic/QuicImplementationProviders.cs
  src/Shared/runtime/Quic/QuicListener.cs
  src/Shared/runtime/Quic/QuicListenerOptions.cs
  src/Shared/runtime/Quic/QuicOperationAbortedException.cs
  src/Shared/runtime/Quic/QuicStream.cs
  src/Shared/runtime/Quic/QuicStreamAbortedException.cs
  src/Shared/runtime/SR.Quic.cs
  src/Shared/runtime/SR.resx
  src/Shared/test/Shared.Tests/Microsoft.AspNetCore.Shared.Tests.csproj
Labels: area-servers

#19119 [Blazor][Wasm] Move HttpClient from default services to Program.Main
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/WebAssembly/WebAssembly/src/Services/HttpClientServiceCollectionExtensions.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyHostBuilderTest.cs
  src/Components/WebAssembly/testassets/StandaloneApp/Program.cs
  src/Components/test/testassets/BasicTestApp/Program.cs
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Program.cs
Labels: area-blazor, blazor-wasm

#19175 Fix Helix run
  .azure/pipelines/helix-test.yml
  eng/scripts/RunHelix.ps1
Labels: area-infrastructure

#19204 Workaround Chromium cache bug
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Platform/WebAssemblyResourceLoader.ts
Labels: area-blazor

#19161 Add missing assemblies to ref pack
  Directory.Build.props
  eng/SharedFramework.External.props
  eng/Versions.props
  src/Framework/ref/Microsoft.AspNetCore.App.Ref.csproj
  src/Framework/test/Microsoft.AspNetCore.App.UnitTests.csproj
  src/Framework/test/TargetingPackTests.cs
  src/Framework/test/TestData.cs
Labels: area-platform

#19155 Fix watch tests again
  eng/helix/content/runtests.cmd
  eng/targets/Helix.targets
  src/Tools/dotnet-watch/test/AwaitableProcess.cs
  src/Tools/dotnet-watch/test/Scenario/ProjectToolScenario.cs
  src/Tools/dotnet-watch/test/Scenario/WatchableApp.cs
Labels: area-commandlinetools

#19173 Cleanup the runtime code sync github action
  .github/workflows/ReportDiff.ps1
  .github/workflows/runtime-sync.yml
Labels: area-servers

#19214 Skip Java tests on ARM
  src/SignalR/clients/java/signalr/signalr.client.java.Tests.javaproj
Labels: area-signalr

#19206 Tratcher/syncruntime
  src/Servers/Kestrel/Core/src/Microsoft.AspNetCore.Server.Kestrel.Core.csproj
  src/Servers/Kestrel/Transport.Quic/src/Libraries.cs
  src/Servers/Kestrel/Transport.Quic/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Quic.csproj
  src/Shared/runtime/Http2/Hpack/HPackDecoder.cs
  src/Shared/runtime/Http2/Hpack/HeaderField.cs
  src/Shared/runtime/Http3/QPack/QPackDecoder.cs
  src/Shared/runtime/NetEventSource.Common.cs
  src/Shared/runtime/Quic/Implementations/Mock/MockConnection.cs
  src/Shared/runtime/Quic/Implementations/Mock/MockImplementationProvider.cs
  src/Shared/runtime/Quic/Implementations/Mock/MockListener.cs
  src/Shared/runtime/Quic/Implementations/Mock/MockStream.cs
  src/Shared/runtime/Quic/Implementations/MsQuic/Internal/MsQuicAddressHelpers.cs
  src/Shared/runtime/Quic/Implementations/MsQuic/Internal/MsQuicApi.cs
  src/Shared/runtime/Quic/Implementations/MsQuic/Internal/MsQuicParameterHelpers.cs
  src/Shared/runtime/Quic/Implementations/MsQuic/Internal/MsQuicSecurityConfig.cs
  src/Shared/runtime/Quic/Implementations/MsQuic/Internal/MsQuicSession.cs
  src/Shared/runtime/Quic/Implementations/MsQuic/Internal/QuicExceptionHelpers.cs
  src/Shared/runtime/Quic/Implementations/MsQuic/Internal/ResettableCompletionSource.cs
  src/Shared/runtime/Quic/Implementations/MsQuic/MsQuicConnection.cs
  src/Shared/runtime/Quic/Implementations/MsQuic/MsQuicImplementationProvider.cs
  src/Shared/runtime/Quic/Implementations/MsQuic/MsQuicListener.cs
  src/Shared/runtime/Quic/Implementations/MsQuic/MsQuicStream.cs
  src/Shared/runtime/Quic/Implementations/QuicConnectionProvider.cs
  src/Shared/runtime/Quic/Implementations/QuicImplementationProvider.cs
  src/Shared/runtime/Quic/Implementations/QuicListenerProvider.cs
  src/Shared/runtime/Quic/Implementations/QuicStreamProvider.cs
  src/Shared/runtime/Quic/Interop/Interop.MsQuic.cs
  src/Shared/runtime/Quic/Interop/MsQuicEnums.cs
  src/Shared/runtime/Quic/Interop/MsQuicNativeMethods.cs
  src/Shared/runtime/Quic/Interop/MsQuicStatusCodes.cs
  src/Shared/runtime/Quic/Interop/MsQuicStatusHelper.cs
  src/Shared/runtime/Quic/NetEventSource.Quic.cs
  src/Shared/runtime/Quic/QuicClientConnectionOptions.cs
  src/Shared/runtime/Quic/QuicConnection.cs
  src/Shared/runtime/Quic/QuicConnectionAbortedException.cs
  src/Shared/runtime/Quic/QuicException.cs
  src/Shared/runtime/Quic/QuicImplementationProviders.cs
  src/Shared/runtime/Quic/QuicListener.cs
  src/Shared/runtime/Quic/QuicListenerOptions.cs
  src/Shared/runtime/Quic/QuicOperationAbortedException.cs
  src/Shared/runtime/Quic/QuicStream.cs
  src/Shared/runtime/Quic/QuicStreamAbortedException.cs
  src/Shared/runtime/SR.Quic.cs
  src/Shared/runtime/SR.resx
  src/Shared/test/Shared.Tests/Microsoft.AspNetCore.Shared.Tests.csproj
Labels: area-servers, auto-merge

#19198 Change MapBlazorWebAssemblyApplication to UseBlazorFrameworkFiles
  src/Components/WebAssembly/DevServer/src/Server/Startup.cs
  src/Components/WebAssembly/Server/src/ComponentsWebAssemblyApplicationBuilderExtensions.cs
  src/Components/WebAssembly/Server/src/ComponentsWebAssemblyEndpointRouteBuilderExtensions.cs
  src/Components/WebAssembly/testassets/HostedInAspNet.Server/Startup.cs
  src/Components/WebAssembly/testassets/MonoSanity/Startup.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Startup.cs
  src/Components/test/testassets/TestServer/AuthenticationStartup.cs
  src/Components/test/testassets/TestServer/ClientStartup.cs
  src/Components/test/testassets/TestServer/CorsStartup.cs
  src/Components/test/testassets/TestServer/InternationalizationStartup.cs
  src/Components/test/testassets/TestServer/StartupWithMapFallbackToClientSideBlazor.cs
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Startup.cs
Labels: area-blazor

#19208 Fixup RuntimeDependenciesResolver test
  src/Components/WebAssembly/Build/test/Microsoft.AspNetCore.Components.WebAssembly.Build.Tests.csproj
  src/Components/WebAssembly/Build/test/RuntimeDependenciesResolverTest.cs
  src/Components/WebAssembly/testassets/StandaloneApp/StandaloneApp.csproj
Labels: area-blazor

#19126 Update branding to preview2
  eng/Versions.props
Labels: area-infrastructure

#19190 [Blazor][Wasm] Adds support for AAD and AADB2C using msal.js
  eng/ProjectReferences.props
  src/Components/Blazor.sln
  src/Components/WebAssembly/Authentication.Msal/src/Interop/AuthenticationService.ts
  src/Components/WebAssembly/Authentication.Msal/src/Interop/dist/.gitignore
  src/Components/WebAssembly/Authentication.Msal/src/Interop/package.json
  src/Components/WebAssembly/Authentication.Msal/src/Interop/tsconfig.json
  src/Components/WebAssembly/Authentication.Msal/src/Interop/webpack.config.js
  src/Components/WebAssembly/Authentication.Msal/src/Interop/yarn.lock
  src/Components/WebAssembly/Authentication.Msal/src/Microsoft.Authentication.WebAssembly.Msal.csproj
  src/Components/WebAssembly/Authentication.Msal/src/Models/MsalAuthenticationOptions.cs
  src/Components/WebAssembly/Authentication.Msal/src/Models/MsalCacheOptions.cs
  src/Components/WebAssembly/Authentication.Msal/src/Models/MsalProviderOptions.cs
  src/Components/WebAssembly/Authentication.Msal/src/MsalDefaultOptionsConfiguration.cs
  src/Components/WebAssembly/Authentication.Msal/src/MsalWebAssemblyServiceCollectionExtensions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/AccessTokenRequestOptions.cs
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/ComponentsWebAssembly-CSharp.Client.csproj.in
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/Microsoft.AspNetCore.Components.WebAssembly.Templates.csproj
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/dotnetcli.host.json
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Program.cs
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/index.html
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Startup.cs
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/appsettings.json
  src/ProjectTemplates/test/BlazorWasmTemplateTest.cs
Labels: area-blazor

#19218 Change SiteExtension reference
  .azure/pipelines/ci.yml
  eng/Dependencies.props
  eng/Versions.props
  src/SiteExtensions/LoggingAggregate/src/Microsoft.AspNetCore.AzureAppServices.SiteExtension/Microsoft.AspNetCore.AzureAppServices.SiteExtension.csproj
Labels: area-infrastructure

#19157 [Blazor] Adds support for statically pre-compressing assets using gzip
  src/Components/WebAssembly/Build/src/Tasks/CompressBlazorApplicationFiles.cs
  src/Components/WebAssembly/Build/src/targets/All.props
  src/Components/WebAssembly/Build/src/targets/All.targets
  src/Components/WebAssembly/Build/src/targets/Compression.targets
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/BuildCompressionTests.cs
  src/Components/WebAssembly/DevServer/src/Server/Startup.cs
  src/Components/WebAssembly/Server/src/ComponentsWebAssemblyApplicationBuilderExtensions.cs
  src/Components/WebAssembly/testassets/HostedInAspNet.Client/HostedInAspNet.Client.csproj
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Startup.cs
Labels: area-blazor

#19235 Blazor WebAssembly caching fixes
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/Web.JS/src/Platform/WebAssemblyResourceLoader.ts
  src/Components/WebAssembly/Build/src/Tasks/GenerateBlazorBootJson.cs
  src/Components/WebAssembly/Build/src/targets/Blazor.MonoRuntime.targets
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/BuildIntegrationTest.cs
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/PublishIntegrationTest.cs
  src/Components/WebAssembly/Build/test/GenerateBlazorBootJsonTest.cs
  src/Components/WebAssembly/testassets/MonoSanity/wwwroot/loader.js
Labels: area-blazor, blazor-wasm

#19241 Change SiteExtension reference (#19218)
  .azure/pipelines/ci.yml
  eng/Dependencies.props
  eng/Versions.props
  src/SiteExtensions/LoggingAggregate/src/Microsoft.AspNetCore.AzureAppServices.SiteExtension/Microsoft.AspNetCore.AzureAppServices.SiteExtension.csproj
Labels: auto-merge

#19242 Quarantine ClientStreaming_ResponseCompletesWithPendingRead_ThrowError
  src/Hosting/TestHost/test/TestClientTests.cs
Labels: area-hosting

#18367 Move API Review Process doc to 'docs'
  docs/APIReviewProcess.md
Labels: area-infrastructure, auto-merge

#19219 BlazorWASM: API review
  eng/ProjectReferences.props
  src/Components/Blazor.sln
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/WebAssembly/Authentication.Msal/src/Interop/yarn.lock
  src/Components/WebAssembly/Build/src/ReferenceBlazorBuildFromSource.props
  src/Components/WebAssembly/Build/src/targets/All.targets
  src/Components/WebAssembly/Build/src/targets/Blazor.MonoRuntime.props
  src/Components/WebAssembly/Build/src/targets/Blazor.MonoRuntime.targets
  src/Components/WebAssembly/Build/src/targets/Compression.targets
  src/Components/WebAssembly/Build/src/targets/Publish.targets
  src/Components/WebAssembly/Build/src/targets/ServiceWorkerAssetsManifest.targets
  src/Components/WebAssembly/Build/src/targets/StaticWebAssets.targets
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/BuildIntegrationTest.cs
  src/Components/WebAssembly/Build/test/BuildIntegrationTests/PublishIntegrationTest.cs
  src/Components/WebAssembly/Build/test/RuntimeDependenciesResolverTest.cs
  src/Components/WebAssembly/DevServer/src/Server/Startup.cs
  src/Components/WebAssembly/JSInterop/src/InternalCalls.cs
  src/Components/WebAssembly/JSInterop/src/WebAssembly.JSInterop.csproj
  src/Components/WebAssembly/JSInterop/src/WebAssemblyJSRuntime.cs
  src/Components/WebAssembly/Server/src/MonoDebugProxy/WebAssemblyNetDebugProxyAppBuilderExtensions.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHost.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/WebAssembly/WebAssembly/src/Infrastructure/JSInteropMethods.cs
  src/Components/WebAssembly/WebAssembly/src/JSInteropMethods.cs
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.csproj
  src/Components/WebAssembly/WebAssembly/src/Rendering/WebAssemblyRenderer.cs
  src/Components/WebAssembly/WebAssembly/src/Services/DefaultWebAssemblyJSRuntime.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyJSRuntime.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyNavigationInterception.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyNavigationManager.cs
  src/Components/WebAssembly/testassets/HostedInAspNet.Server/Startup.cs
  src/Components/WebAssembly/testassets/MonoSanityClient/MonoSanityClient.csproj
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Startup.cs
  src/Components/test/testassets/BasicTestApp/Program.cs
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/Microsoft.AspNetCore.Components.WebAssembly.Templates.csproj
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Startup.cs
Labels: area-blazor, auto-merge

#19174 Updating SDK version
  global.json
Labels: area-infrastructure

#19216 Fix HttpResponseStreamWriter
  src/Http/WebUtilities/src/HttpResponseStreamWriter.cs
  src/Http/WebUtilities/test/HttpResponseStreamWriterTest.cs
Labels: area-servers

#18907 Add service provider factory support
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyHostBuilderTest.cs
Labels: area-blazor

#19252 Add non-TLS endpoint for gRPC
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/Properties/launchSettings.json
Labels: area-grpc

#19248 Update precedence and Identity of templates for 5.0
  src/ProjectTemplates/BlazorWasm.ProjectTemplates/content/BlazorWasm-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorClassLibrary-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/.template.config/template.json
Labels: Servicing-approved, area-mvc

#19277 Eliminate enum boxing allocations from Kestrel HTTP2 logging
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.cs
Labels: HTTP2, area-servers, servers-kestrel

#19285 [Blazor] Remove compression middleware from the template
  src/Components/WebAssembly/Server/src/ComponentsWebAssemblyApplicationBuilderExtensions.cs
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Startup.cs
Labels: area-mvc

#19294 Suppress ClientHandshakeFailureLoggedAsDebug for 5.0.0-preview1
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsTests.cs
Labels: area-servers

#19297 Update CredScanSuppressions.json
  .config/CredScanSuppressions.json
Labels: area-infrastructure

#19302 Add WebSockets Benchmarks project back to solution
  src/Middleware/Middleware.sln
Labels: area-middleware, auto-merge

#19305 Automatically send a PR for runtime changes
  .github/workflows/ReportDiff.ps1
  .github/workflows/runtime-sync.yml
Labels: area-servers, auto-merge

#19249 TestServer returns error with response when server ends with pending read
  src/Hosting/TestHost/src/HttpContextBuilder.cs
  src/Hosting/TestHost/src/ResponseBodyReaderStream.cs
  src/Hosting/TestHost/test/TestClientTests.cs
Labels: area-hosting

#19273 Eliminate allocation during HTTP2 path validation
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
Labels: area-servers

#19332 Fix boot json on mac/linux
  src/Components/WebAssembly/Build/src/Tasks/GenerateBlazorBootJson.cs
  src/Components/WebAssembly/Build/src/targets/Blazor.MonoRuntime.targets
  src/Components/WebAssembly/Build/test/GenerateBlazorBootJsonTest.cs
Labels: area-blazor, blazor-wasm

#19335 Update Mono debug proxy
  src/Components/WebAssembly/Server/src/MonoDebugProxy/ws-proxy/DebugStore.cs
  src/Components/WebAssembly/Server/src/MonoDebugProxy/ws-proxy/DevToolsClient.cs
  src/Components/WebAssembly/Server/src/MonoDebugProxy/ws-proxy/DevToolsProxy.cs
  src/Components/WebAssembly/Server/src/MonoDebugProxy/ws-proxy/MonoProxy.cs
Labels: area-blazor, blazor-wasm

#19314 Sync with runtime
  src/Shared/runtime/Quic/Implementations/MsQuic/MsQuicStream.cs
Labels: area-servers

#19240 Capture test output for tools tests
  src/Tools/Shared/TestHelpers/TestConsole.cs
  src/Tools/dotnet-user-secrets/src/Internal/ProjectIdResolver.cs
  src/Tools/dotnet-user-secrets/test/InitCommandTest.cs
  src/Tools/dotnet-user-secrets/test/SecretManagerTests.cs
  src/Tools/dotnet-watch/test/CommandLineOptionsTests.cs
  src/Tools/dotnet-watch/test/ProgramTests.cs
Labels: area-commandlinetools

#19308 Include `inspectUri` in the launch profiles
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Properties/launchSettings.json
Labels: area-blazor, area-mvc, blazor-wasm

#19329 HTTP2: Fix HttpRequestHeaders no longer being pooled
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpRequestHeaders.cs
  src/Servers/Kestrel/shared/KnownHeaders.cs
Labels: area-servers

#19247 Rename helix-test.yml
  .azure/pipelines/quarantined-tests.yml
Labels: area-infrastructure

#19325 Eliminate TraceIdentifer allocation when there is a request body
  src/Servers/Kestrel/Core/src/Internal/Http/MessageBody.cs
  src/Servers/Kestrel/Core/test/MessageBodyTests.cs
Labels: area-servers

#19344 Target the Razor SDK in Driver app
  src/Components/benchmarkapps/Wasm.Performance/Driver/Wasm.Performance.Driver.csproj
Labels: area-blazor

#19320 Update BuildFromSource.md
  docs/BuildFromSource.md
Labels: area-infrastructure

#18911 Add AddOptions to AddAuthorizationCore
  src/Security/Authorization/Core/src/AuthorizationServiceCollectionExtensions.cs
  src/Security/build.sh
Labels: area-security, auto-merge

#19236 Add link to new MSRC portal
  SECURITY.md
Labels: auto-merge

#15099 [TS Client] Test message size
  src/SignalR/clients/ts/signalr-protocol-msgpack/src/MessagePackHubProtocol.ts
  src/SignalR/clients/ts/signalr/src/HubConnection.ts
  src/SignalR/clients/ts/signalr/src/IHubProtocol.ts
  src/SignalR/clients/ts/signalr/tests/HubConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/MessageSize.test.ts
  src/SignalR/clients/ts/signalr/tests/TestConnection.ts
  src/SignalR/common/SignalR.Common/test/Internal/Protocol/JsonHubProtocolTestsBase.cs
  src/SignalR/common/SignalR.Common/test/Internal/Protocol/MessagePackHubProtocolTestBase.cs
  src/SignalR/common/SignalR.Common/test/Internal/Protocol/MessagePackHubProtocolTests.cs
Labels: area-signalr

#19009 Removed usage of BMI2 pdep with SSE2 alternative
  src/Shared/ServerInfrastructure/StringUtilities.cs
Labels: area-servers, auto-merge

#18404 Remove unsafe use ASCII.GetBytes for WriteAscii
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpResponseHeaders.cs
  src/Servers/Kestrel/Core/test/PipelineExtensionTests.cs
  src/Servers/Kestrel/shared/KnownHeaders.cs
  src/Shared/ServerInfrastructure/BufferExtensions.cs
Labels: area-servers, auto-merge

#19364 Remove unused DevToolsClient source file
  src/Components/WebAssembly/Server/src/MonoDebugProxy/ws-proxy/DevToolsClient.cs
Labels: area-blazor, blazor-wasm

#19366 Add a comment to indicate that the authority needs to be configured when missing
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/template.json
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Pages/Index.razor
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Program.cs
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Program.cs
Labels: area-mvc

#19370 [Blazor] Fix error handling on AuthenticationService.js
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/AuthenticationService.ts
Labels: area-blazor

#19371 Fix for PWA + auth template
  src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/service-worker.published.js
Labels: area-blazor, area-mvc, blazor-wasm

#19337 Create WindowsPrincipal when cloning WindowsIdentity for SignalR
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
Labels: area-signalr

#19260 chore(Microsoft.JSInterop): definition type file extension fix
  src/JSInterop/Microsoft.JSInterop.JS/src/package.json
Labels: area-mvc

#19338 Build fixups in master
  src/Components/Ignitor/src/ElementHive.cs
  src/JSInterop/Microsoft.JSInterop.JS/src/package-lock.json
  src/JSInterop/Microsoft.JSInterop.JS/src/yarn.lock
Labels: area-infrastructure

#19352 Add scheduled quarantine runs
  .azure/pipelines/quarantined-tests.yml
Labels: area-infrastructure

#19177 [Helix] Shared framework support + Templates tests
  .azure/pipelines/ci.yml
  .azure/pipelines/quarantined-tests.yml
  eng/helix/content/InstallAppRuntime.ps1
  eng/helix/content/InstallNode.ps1
  eng/helix/content/installappruntime.sh
  eng/helix/content/runtests.cmd
  eng/helix/content/runtests.sh
  eng/targets/Helix.props
  eng/targets/Helix.targets
  src/ProjectTemplates/test/BlazorServerTemplateTest.cs
  src/ProjectTemplates/test/ByteOrderMarkTest.cs
  src/ProjectTemplates/test/EmptyWebTemplateTest.cs
  src/ProjectTemplates/test/GrpcTemplateTest.cs
  src/ProjectTemplates/test/Helpers/ProcessEx.cs
  src/ProjectTemplates/test/Helpers/Project.cs
  src/ProjectTemplates/test/Helpers/ProjectFactoryFixture.cs
  src/ProjectTemplates/test/Helpers/TemplatePackageInstaller.cs
  src/ProjectTemplates/test/IdentityUIPackageTest.cs
  src/ProjectTemplates/test/MvcTemplateTest.cs
  src/ProjectTemplates/test/ProjectTemplates.Tests.csproj
  src/ProjectTemplates/test/RazorClassLibraryTemplateTest.cs
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
  src/ProjectTemplates/test/SpaTemplateTest/AngularTemplateTest.cs
  src/ProjectTemplates/test/SpaTemplateTest/ReactReduxTemplateTest.cs
  src/ProjectTemplates/test/SpaTemplateTest/ReactTemplateTest.cs
  src/ProjectTemplates/test/WebApiTemplateTest.cs
  src/ProjectTemplates/test/WorkerTemplateTest.cs
  src/Shared/E2ETesting/SeleniumStandaloneServer.cs
Labels: area-infrastructure

#19070 Fix some skipped SignalR tests
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/WebSocketsTransport.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTestUtils/Hubs.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
  src/SignalR/server/SignalR/test/WebSocketsTransportTests.cs
Labels: area-signalr
