Repository dotnet/aspnetcore, pull requests merged in 2020-12, with the labels that each got.

#28155 Add API review team as a code owner for PublicAPI
  .github/CODEOWNERS
Labels: area-infrastructure, auto-merge

#28259 Extensions migrations mopup
  src/Caching/StackExchangeRedis/src/RedisExtensions.cs
Labels: area-infrastructure, auto-merge

#28258 Remove API baselines for M.A.Testing
  src/Testing/src/Microsoft.AspNetCore.Testing.csproj
  src/Testing/src/PublicAPI.Shipped.txt
  src/Testing/src/PublicAPI.Unshipped.txt
Labels: area-infrastructure, auto-merge

#28267 Set StatusCode to 200 for ActionResult<T> that wraps an object value
  src/Mvc/Mvc.Core/src/ActionResultOfT.cs
  src/Mvc/Mvc.Core/test/ActionResultOfTTest.cs
Labels: area-mvc

#28166 Improve the doc comment for MaxAccepts
  src/Servers/HttpSys/src/HttpSysOptions.cs
Labels: area-servers, auto-merge

#28084 Enable post-build signing
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#28285 [Blazor] Update router attribute to be explicitly passed as a boolean
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/App.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/App.razor
Labels: Servicing-approved, area-blazor

#28264 Use short name for DebianArm64
  src/Testing/src/xunit/HelixConstants.cs
Labels: area-infrastructure, test-failure

#28257 Re-disable IsWindowsOnlyTest on ARM
  eng/targets/Helix.Common.props
Labels: area-infrastructure, auto-merge

#28305 Feedback from PR
  src/Servers/HttpSys/src/HttpSysOptions.cs
Labels: area-servers, auto-merge

#28233 Switching from RuntimeInformation.IsOSPlatform(XYZ) to OperatingSystem.IsXYZ()
  eng/helix/content/RunTests/ProcessUtil.cs
  eng/helix/content/RunTests/TestRunner.cs
  src/Components/Components/src/PlatformInfo.cs
  src/Components/Server/src/ProtectedBrowserStorage/ProtectedBrowserStorage.cs
  src/Components/WebAssembly/Server/src/TargetPickerUi.cs
  src/Components/WebAssembly/WebAssembly/src/Rendering/RendererRegistry.cs
  src/Components/WebAssembly/WebAssembly/src/Services/LazyAssemblyLoader.cs
  src/Hosting/Hosting/src/StaticWebAssets/StaticWebAssetsFileProvider.cs
  src/Hosting/Hosting/test/StaticWebAssets/StaticWebAssetsFileProviderTests.cs
  src/Hosting/Server.IntegrationTesting/src/ApplicationPublisher.cs
  src/Hosting/Server.IntegrationTesting/src/Common/DotNetCommands.cs
  src/Hosting/Server.IntegrationTesting/src/Deployers/NginxDeployer.cs
  src/Hosting/Server.IntegrationTesting/src/Deployers/SelfHostDeployer.cs
  src/Hosting/Server.IntegrationTesting/src/TestMatrix.cs
  src/Hosting/Server.IntegrationTesting/src/xunit/IISExpressAncmSchema.cs
  src/Http/Http/src/BindingAddress.cs
  src/Identity/ApiAuthorization.IdentityServer/src/Configuration/ConfigureSigningCredentials.cs
  src/Identity/ApiAuthorization.IdentityServer/test/Configuration/ConfigureSigningCredentialsTests.cs
  src/Identity/ApiAuthorization.IdentityServer/test/Configuration/SigningKeysLoaderTests.cs
  src/Middleware/Diagnostics/test/UnitTests/ExceptionDetailsProviderTest.cs
  src/Middleware/SpaServices.Extensions/src/Npm/NodeScriptRunner.cs
  src/Middleware/SpaServices.Extensions/test/SpaServicesExtensionsTests.cs
  src/Middleware/WebSockets/test/ConformanceTests/Autobahn/Executable.cs
  src/Security/Authentication/Negotiate/samples/NegotiateAuthSample/Startup.cs
  src/Security/Authentication/Negotiate/src/Internal/ReflectedNegotiateState.cs
  src/Servers/IIS/IIS/src/WebHostBuilderIISExtensions.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Infrastructure/RequiresIISAttribute.cs
  src/Servers/Kestrel/Core/src/Internal/Certificates/CertificateConfigLoader.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Servers/Kestrel/Core/test/SniOptionsSelectorTests.cs
  src/Servers/Kestrel/Transport.Libuv/src/Internal/LibuvConstants.cs
  src/Servers/Kestrel/Transport.Libuv/src/Internal/ListenerPrimary.cs
  src/Servers/Kestrel/Transport.Libuv/src/Internal/Networking/PlatformApis.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs
  src/Servers/Kestrel/shared/test/TestResources.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/H2SpecCommands.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/SkipIfChromeUnavailableAttribute.cs
  src/Shared/CertificateGeneration/CertificateManager.cs
  src/Shared/Process/ProcessExtensions.cs
  src/SignalR/clients/ts/FunctionalTests/Program.cs
  src/SignalR/server/StackExchangeRedis/test/Docker.cs
Labels: area-hosting, community-contribution

#28276 Added null validation in RedirectHandler
  src/Mvc/Mvc.Testing/src/Handlers/RedirectHandler.cs
Labels: area-mvc, community-contribution

#27473 Further centralize shared Fx and TFM transition workarounds
  Directory.Build.props
  Directory.Build.targets
  docs/BuildErrors.md
  docs/BuildFromSource.md
  eng/Workarounds.targets
  eng/tools/GenerateFiles/Directory.Build.props.in
  eng/tools/GenerateFiles/Directory.Build.targets.in
  eng/tools/GenerateFiles/GenerateFiles.csproj
  src/Components/WebAssembly/Sdk/integrationtests/Microsoft.NET.Sdk.BlazorWebAssembly.IntegrationTests.csproj
  src/Components/WebAssembly/Sdk/testassets/Directory.Build.props
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Framework/Directory.Build.props
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorTemplates.Tests.csproj
  src/ProjectTemplates/BlazorTemplates.Tests/Directory.Build.targets
  src/ProjectTemplates/BlazorTemplates.Tests/Infrastructure/Directory.Build.props.in
  src/ProjectTemplates/BlazorTemplates.Tests/Infrastructure/Directory.Build.targets.in
  src/ProjectTemplates/BlazorTemplates.Tests/Infrastructure/GenerateTestProps.targets
  src/ProjectTemplates/BlazorTemplates.Tests/Infrastructure/TemplateTests.props.in
  src/ProjectTemplates/TestInfrastructure/Directory.Build.props.in
  src/ProjectTemplates/TestInfrastructure/Directory.Build.targets.in
  src/ProjectTemplates/TestInfrastructure/PrepareForTest.targets
  src/ProjectTemplates/TestInfrastructure/runtimeconfig.norollforward.json
  src/ProjectTemplates/test/Directory.Build.targets
  src/ProjectTemplates/test/Infrastructure/Directory.Build.props.in
  src/ProjectTemplates/test/Infrastructure/Directory.Build.targets.in
  src/ProjectTemplates/test/Infrastructure/GenerateTestProps.targets
  src/ProjectTemplates/test/Infrastructure/TemplateTests.props.in
  src/ProjectTemplates/test/Infrastructure/runtimeconfig.norollforward.json
  src/ProjectTemplates/test/ProjectTemplates.Tests.csproj
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/Microsoft.NET.Sdk.Razor.IntegrationTests.csproj
  src/Razor/test/testassets/Directory.Build.props
  src/Razor/test/testassets/Directory.Build.targets
Labels: area-infrastructure

#28339 Update CODEOWNERS
  .github/CODEOWNERS
Labels: area-infrastructure

#28214 Working to resolve issue 27111, AuthenticationSchemeOptions.ForwardDefaultSelector should allow for null.
  src/Security/Authentication/Core/src/AuthenticationSchemeOptions.cs
  src/Security/Authentication/Core/src/PublicAPI.Shipped.txt
  src/Security/Authentication/Core/src/PublicAPI.Unshipped.txt
Labels: area-security, community-contribution

#28352 Fixed ResponseCompression middleware nullability
  src/Middleware/ResponseCompression/src/ResponseCompressionBody.cs
Labels: area-middleware

#28181 Removes unused EnsureSignInScheme method
  src/Security/Authentication/Core/src/AuthenticationServiceCollectionExtensions.cs
Labels: area-security, community-contribution

#28336 Don't call HttpCloseUrlGroup if you didn't create it
  src/Servers/HttpSys/src/NativeInterop/UrlGroup.cs
Labels: area-servers

#28395 Add IVT CodeAnalysis.Remote.Razor.Test to lang assembly.
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Properties/AssemblyInfo.cs
Labels: area-mvc, auto-merge

#28308 Clean up some http.sys code
  src/Servers/HttpSys/src/Helpers.cs
  src/Servers/HttpSys/src/LoggerEventIds.cs
  src/Servers/HttpSys/src/MessagePump.cs
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.cs
  src/Servers/HttpSys/src/RequestProcessing/ResponseBody.cs
Labels: area-servers, auto-merge

#28345 Make the HTTP.sys accept loop cheaper
  src/Servers/HttpSys/HttpSysServer.slnf
  src/Servers/HttpSys/src/AsyncAcceptContext.cs
  src/Servers/HttpSys/src/HttpSysListener.cs
  src/Servers/HttpSys/src/MessagePump.cs
  src/Servers/HttpSys/src/NativeInterop/HttpApi.cs
  src/Servers/HttpSys/test/FunctionalTests/Listener/Utilities.cs
  src/Shared/HttpSys/NativeInterop/SafeNativeOverlapped.cs
  src/Shared/HttpSys/RequestProcessing/NativeRequestContext.cs
Labels: area-servers, auto-merge

#28420 Use Msquic nuget package for HTTP/3
  NuGet.config
  eng/Dependencies.props
  eng/Versions.props
  src/Servers/Kestrel/Transport.Quic/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Experimental.Quic.csproj
  src/Servers/Kestrel/samples/Http3SampleApp/Http3SampleApp.csproj
Labels: area-servers

#28347 Use a single request object
  src/Servers/HttpSys/HttpSysServer.slnf
  src/Servers/HttpSys/src/AsyncAcceptContext.cs
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.FeatureCollection.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.cs
  src/Servers/HttpSys/src/StandardFeatureCollection.cs
Labels: area-servers, auto-merge

#28476 Some post build signing fixups
  .azure/pipelines/ci.yml
  eng/Publishing.props
  eng/Signing.props
Labels: area-infrastructure

#28415 Add XML doc comments for Microsoft.Net.Http.Headers
  Directory.Build.props
  src/Http/Headers/src/CacheControlHeaderValue.cs
  src/Http/Headers/src/ContentDispositionHeaderValue.cs
  src/Http/Headers/src/ContentRangeHeaderValue.cs
  src/Http/Headers/src/CookieHeaderValue.cs
  src/Http/Headers/src/EntityTagHeaderValue.cs
  src/Http/Headers/src/HeaderNames.cs
  src/Http/Headers/src/HeaderQuality.cs
  src/Http/Headers/src/HeaderUtilities.cs
  src/Http/Headers/src/MediaTypeHeaderValue.cs
  src/Http/Headers/src/MediaTypeHeaderValueComparer.cs
  src/Http/Headers/src/Microsoft.Net.Http.Headers.csproj
  src/Http/Headers/src/NameValueHeaderValue.cs
  src/Http/Headers/src/PublicAPI.Shipped.txt
  src/Http/Headers/src/PublicAPI.Unshipped.txt
  src/Http/Headers/src/RangeConditionHeaderValue.cs
  src/Http/Headers/src/RangeHeaderValue.cs
  src/Http/Headers/src/RangeItemHeaderValue.cs
  src/Http/Headers/src/SetCookieHeaderValue.cs
  src/Http/Headers/src/StringWithQualityHeaderValue.cs
  src/Http/Headers/src/StringWithQualityHeaderValueComparer.cs
Labels: area-servers

#28467 Reduce allocations due to LINQ and string building.
  src/HealthChecks/HealthChecks/src/DefaultHealthCheckService.cs
Labels: area-healthchecks, auto-merge

#28464 ResponseCompression: set Content-Encoding and Vary headers for HEAD requests
  src/Middleware/ResponseCompression/src/ResponseCompressionBody.cs
  src/Middleware/ResponseCompression/test/ResponseCompressionMiddlewareTest.cs
Labels: area-middleware, auto-merge

#28488 Fix typo in doc comment
  src/Http/Headers/src/HeaderNames.cs
Labels: area-servers, auto-merge

#28359 Fix nullable reference warnings using LocalizedString -> string implicit conversion operator
  src/Localization/Abstractions/src/LocalizedString.cs
  src/Localization/Localization.slnf
  src/Localization/Localization/test/Microsoft.Extensions.Localization.RootNamespace.Tests/StringLocalizerOfTRootNamespaceTest.cs
  src/Localization/build.cmd
  src/Localization/startvs.cmd
Labels: area-mvc

#28413 Refactor how we capture the IHttpApplication
  src/Servers/HttpSys/src/ApplicationRequestContextFactory.cs
  src/Servers/HttpSys/src/AsyncAcceptContext.cs
  src/Servers/HttpSys/src/IRequestContextFactory.cs
  src/Servers/HttpSys/src/MessagePump.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContextOfT.cs
  src/Servers/HttpSys/test/FunctionalTests/Listener/Utilities.cs
Labels: area-servers

#28453 Change nint -> IntPtr
  src/Servers/IIS/IIS/src/Core/IISNativeApplication.cs
Labels: area-servers

#28348 Enable nullable on server transports
  src/Servers/Connections.Abstractions/src/IConnectionListener.cs
  src/Servers/Connections.Abstractions/src/IMulitplexedConnectionListener.cs
  src/Servers/Connections.Abstractions/src/MultiplexedConnectionContext.cs
  src/Servers/Connections.Abstractions/src/PublicAPI.Shipped.txt
  src/Servers/Connections.Abstractions/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/IConnectionListenerOfT.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/TransportManager.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/FakeTlsConnectionFeature.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionListener.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicTrace.cs
  src/Servers/Kestrel/Transport.Quic/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Experimental.Quic.csproj
  src/Servers/Kestrel/Transport.Quic/src/PublicAPI.Shipped.txt
  src/Servers/Kestrel/Transport.Quic/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Transport.Quic/src/QuicConnectionFactory.cs
  src/Servers/Kestrel/Transport.Quic/src/QuicTransportFactory.cs
  src/Servers/Kestrel/Transport.Quic/src/QuicTransportOptions.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/IOQueue.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketAwaitableEventArgs.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketSender.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketsTrace.cs
  src/Servers/Kestrel/Transport.Sockets/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.csproj
  src/Servers/Kestrel/Transport.Sockets/src/PublicAPI.Shipped.txt
  src/Servers/Kestrel/Transport.Sockets/src/SocketConnectionListener.cs
  src/Servers/Kestrel/shared/TransportConnection.FeatureCollection.cs
  src/Servers/Kestrel/shared/TransportConnection.cs
  src/Servers/Kestrel/shared/TransportMultiplexedConnection.FeatureCollection.cs
  src/Servers/Kestrel/shared/TransportMultiplexedConnection.cs
  src/Shared/Buffers.MemoryPool/DiagnosticPoolBlock.cs
  src/Shared/Buffers.MemoryPool/MemoryPoolSlab.cs
  src/Shared/Buffers.MemoryPool/SlabMemoryPool.cs
Labels: area-servers

#28452 More request validation out of the AsyncAcceptContext
  src/Servers/HttpSys/src/AsyncAcceptContext.cs
  src/Servers/HttpSys/src/HttpSysListener.cs
  src/Servers/HttpSys/src/MessagePump.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.FeatureCollection.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContextOfT.cs
  src/Servers/HttpSys/test/FunctionalTests/Listener/Utilities.cs
Labels: area-servers, auto-merge

#28389 Avoid allocations from LINQ.Reverse()
  src/Http/Http/src/Builder/ApplicationBuilder.cs
Labels: area-servers

#28515 Update branding to 5.0.2
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure

#28482 [release/5.0] Upload ProductVersion.txt to blob feed
  eng/Publishing.props
Labels: area-infrastructure, tell-mode

#28332 Increase height for longer strings
  src/Installers/Windows/WindowsHostingBundle/thm.xml
Labels: area-installers, tell-mode

#28298 Make sure SharedFx & TargetingPack msi names match
  eng/targets/Wix.Common.targets
  src/Installers/Windows/SharedFramework/SharedFramework.wixproj
  src/Installers/Windows/TargetingPack/TargetingPack.wixproj
Labels: area-installers, tell-mode

#28416 Allow RazorTagHelper task to be invoked by MSBuild targets that do not specify ToolExe
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/MvcBuildIntegrationTest22.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/DotnetToolTask.cs
  src/Razor/test/testassets/RestoreTestProjects/RestoreTestProjects.csproj
  src/Razor/test/testassets/SimpleMvc22/Program.cs
  src/Razor/test/testassets/SimpleMvc22/SimpleMvc22.csproj
  src/Razor/test/testassets/SimpleMvc22/SimpleTagHelper.cs
  src/Razor/test/testassets/SimpleMvc22/Views/Home/Index.cshtml
  src/Razor/test/testassets/SimpleMvc22/Views/Shared/_Layout.cshtml
  src/Razor/test/testassets/SimpleMvc22/Views/_ViewImports.cshtml
  src/Razor/test/testassets/SimpleMvc22/Views/_ViewStart.cshtml
Labels: Servicing-approved, area-mvc

#28393 Avoid reversing list just for the purpose of iteration.
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.FeatureCollection.cs
Labels: area-servers, auto-merge

#28542 Fixed broken link to build from source docs in Blazor readme
  src/Components/README.md
Labels: area-blazor, auto-merge

#27744 Add support for reloading static files
  src/Tools/Shared/TestHelpers/TemporaryCSharpProject.cs
  src/Tools/Shared/TestHelpers/TemporaryDirectory.cs
  src/Tools/Shared/TestHelpers/TestConsole.cs
  src/Tools/dotnet-watch/BrowserRefresh/src/WebSocketScriptInjection.js
  src/Tools/dotnet-watch/README.md
  src/Tools/dotnet-watch/src/BrowserRefreshServer.cs
  src/Tools/dotnet-watch/src/DotNetWatchContext.cs
  src/Tools/dotnet-watch/src/DotNetWatchOptions.cs
  src/Tools/dotnet-watch/src/DotNetWatcher.cs
  src/Tools/dotnet-watch/src/FileItem.cs
  src/Tools/dotnet-watch/src/FileKind.cs
  src/Tools/dotnet-watch/src/FileSet.cs
  src/Tools/dotnet-watch/src/IFileSetFactory.cs
  src/Tools/dotnet-watch/src/Internal/FileSet.cs
  src/Tools/dotnet-watch/src/Internal/FileSetWatcher.cs
  src/Tools/dotnet-watch/src/Internal/MsBuildFileSetFactory.cs
  src/Tools/dotnet-watch/src/LaunchBrowserFilter.cs
  src/Tools/dotnet-watch/src/MSBuildEvaluationFilter.cs
  src/Tools/dotnet-watch/src/Program.cs
  src/Tools/dotnet-watch/src/StaticContentHandler.cs
  src/Tools/dotnet-watch/src/assets/DotNetWatch.targets
  src/Tools/dotnet-watch/test/AssertEx.cs
  src/Tools/dotnet-watch/test/AwaitableProcess.cs
  src/Tools/dotnet-watch/test/ConsoleReporterTests.cs
  src/Tools/dotnet-watch/test/FileWatcherTests.cs
  src/Tools/dotnet-watch/test/GlobbingAppTests.cs
  src/Tools/dotnet-watch/test/MSBuildEvaluationFilterTest.cs
  src/Tools/dotnet-watch/test/MsBuildFileSetFactoryTest.cs
  src/Tools/dotnet-watch/test/NoRestoreFilterTest.cs
  src/Tools/dotnet-watch/test/Scenario/ProjectToolScenario.cs
  src/Tools/dotnet-watch/test/Scenario/WatchableApp.cs
  src/Tools/dotnet-watch/test/StaticContentHandlerTest.cs
  src/Tools/dotnet-watch/test/Utilities/TestProjectGraph.cs
  src/Tools/dotnet-watch/test/dotnet-watch.Tests.csproj
Labels: area-commandlinetools

#28511 [release/5.0] Don't call HttpCloseUrlGroup if you didn't create it
  src/Servers/HttpSys/src/NativeInterop/UrlGroup.cs
Labels: Servicing-approved, area-servers

#28495 Add JWT and OpendId only if they are needed
  src/ProjectTemplates/Web.ProjectTemplates/WebApi-CSharp.csproj.in
Labels: Servicing-approved, area-mvc

#28494 [release/5.0] Fix null ref in UrlGroup.Dispose due to logger not set
  src/Servers/HttpSys/src/NativeInterop/RequestQueue.cs
  src/Servers/HttpSys/src/NativeInterop/UrlGroup.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.cs
Labels: Servicing-approved, area-servers

#28493 Provide a better error message if a blazorwasm app references ASP.NET Core
  src/Components/WebAssembly/Sdk/integrationtests/WasmBuildIntegrationTest.cs
  src/Components/WebAssembly/Sdk/src/targets/Microsoft.NET.Sdk.BlazorWebAssembly.Current.targets
  src/Components/WebAssembly/Sdk/testassets/RestoreBlazorWasmTestProjects/RestoreBlazorWasmTestProjects.csproj
  src/Components/WebAssembly/Sdk/testassets/blazorwasm-fxref/App.razor
  src/Components/WebAssembly/Sdk/testassets/blazorwasm-fxref/Program.cs
  src/Components/WebAssembly/Sdk/testassets/blazorwasm-fxref/blazorwasm-fxref.csproj
Labels: Servicing-approved, area-blazor

#27855 Remove redundant site extension fix
  src/SiteExtensions/Sdk/SiteExtension.targets
Labels: area-infrastructure, tell-mode

#28514 [release/5.0] DelegationRule.Dispose() unsets delegation property on the queue
  src/Servers/HttpSys/src/DelegationRule.cs
  src/Servers/HttpSys/src/NativeInterop/UrlGroup.cs
  src/Servers/HttpSys/src/ServerDelegationPropertyFeature.cs
  src/Servers/HttpSys/test/FunctionalTests/DelegateTests.cs
Labels: 5.0-candidate, Servicing-approved, area-servers

#28556 Make the sample work
  src/Servers/HttpSys/HttpSysServer.slnf
  src/Servers/HttpSys/samples/SelfHostServer/Program.cs
  src/Servers/HttpSys/samples/SelfHostServer/SelfHostServer.csproj
  src/Servers/HttpSys/src/MessagePump.cs
Labels: area-servers, auto-merge

#28343 Enable nullable in TestHost and Hosting.WindowsServices
  AspNetCore.sln
  src/Hosting/TestHost/src/ApplicationWrapper.cs
  src/Hosting/TestHost/src/AsyncStreamWrapper.cs
  src/Hosting/TestHost/src/ClientHandler.cs
  src/Hosting/TestHost/src/HttpContextBuilder.cs
  src/Hosting/TestHost/src/Microsoft.AspNetCore.TestHost.csproj
  src/Hosting/TestHost/src/PublicAPI.Shipped.txt
  src/Hosting/TestHost/src/RequestFeature.cs
  src/Hosting/TestHost/src/ResponseBodyPipeWriter.cs
  src/Hosting/TestHost/src/ResponseBodyReaderStream.cs
  src/Hosting/TestHost/src/ResponseFeature.cs
  src/Hosting/TestHost/src/TestServer.cs
  src/Hosting/TestHost/src/TestWebSocket.cs
  src/Hosting/TestHost/src/WebHostBuilderExtensions.cs
  src/Hosting/TestHost/src/WebHostBuilderFactory.cs
  src/Hosting/TestHost/src/WebSocketClient.cs
  src/Hosting/WindowsServices/src/Microsoft.AspNetCore.Hosting.WindowsServices.csproj
  src/Hosting/WindowsServices/src/PublicAPI.Shipped.txt
Labels: area-hosting

#28191 Restore Razor v3 whitespace behavior when langversion < 5. Fixes #28085
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/IntegrationTests/CodeGenerationIntegrationTest.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentWhitespacePass.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentCodeGenerationTestBase.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Legacy_3_1_LeadingWhiteSpace_WithCSharpExpression/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Legacy_3_1_LeadingWhiteSpace_WithCSharpExpression/TestComponent.ir.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Legacy_3_1_LeadingWhiteSpace_WithCSharpExpression/TestComponent.mappings.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Legacy_3_1_LeadingWhiteSpace_WithComponent/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Legacy_3_1_LeadingWhiteSpace_WithComponent/TestComponent.ir.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Legacy_3_1_LeadingWhiteSpace_WithComponent/TestComponent.mappings.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Legacy_3_1_LeadingWhiteSpace_WithDirective/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Legacy_3_1_LeadingWhiteSpace_WithDirective/TestComponent.ir.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Legacy_3_1_LeadingWhiteSpace_WithDirective/TestComponent.mappings.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Legacy_3_1_TrailingWhiteSpace_WithCSharpExpression/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Legacy_3_1_TrailingWhiteSpace_WithCSharpExpression/TestComponent.ir.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Legacy_3_1_TrailingWhiteSpace_WithCSharpExpression/TestComponent.mappings.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Legacy_3_1_TrailingWhiteSpace_WithComponent/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Legacy_3_1_TrailingWhiteSpace_WithComponent/TestComponent.ir.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Legacy_3_1_TrailingWhiteSpace_WithDirective/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Legacy_3_1_TrailingWhiteSpace_WithDirective/TestComponent.ir.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Legacy_3_1_TrailingWhiteSpace_WithDirective/TestComponent.mappings.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Legacy_3_1_WhiteSpace_InMarkupInFunctionsBlock/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Legacy_3_1_WhiteSpace_InMarkupInFunctionsBlock/TestComponent.ir.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Legacy_3_1_WhiteSpace_InMarkupInFunctionsBlock/TestComponent.mappings.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Legacy_3_1_WhiteSpace_InsideAttribute_InMarkupBlock/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Legacy_3_1_WhiteSpace_InsideAttribute_InMarkupBlock/TestComponent.ir.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Legacy_3_1_Whitespace_BetweenElementAndFunctions/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Legacy_3_1_Whitespace_BetweenElementAndFunctions/TestComponent.ir.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Legacy_3_1_Whitespace_BetweenElementAndFunctions/TestComponent.mappings.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Legacy_3_1_LeadingWhiteSpace_WithCSharpExpression/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Legacy_3_1_LeadingWhiteSpace_WithCSharpExpression/TestComponent.ir.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Legacy_3_1_LeadingWhiteSpace_WithComponent/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Legacy_3_1_LeadingWhiteSpace_WithComponent/TestComponent.ir.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Legacy_3_1_LeadingWhiteSpace_WithDirective/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Legacy_3_1_LeadingWhiteSpace_WithDirective/TestComponent.ir.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Legacy_3_1_TrailingWhiteSpace_WithCSharpExpression/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Legacy_3_1_TrailingWhiteSpace_WithCSharpExpression/TestComponent.ir.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Legacy_3_1_TrailingWhiteSpace_WithComponent/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Legacy_3_1_TrailingWhiteSpace_WithComponent/TestComponent.ir.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Legacy_3_1_TrailingWhiteSpace_WithDirective/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Legacy_3_1_TrailingWhiteSpace_WithDirective/TestComponent.ir.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Legacy_3_1_WhiteSpace_InMarkupInFunctionsBlock/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Legacy_3_1_WhiteSpace_InMarkupInFunctionsBlock/TestComponent.ir.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Legacy_3_1_WhiteSpace_InMarkupInFunctionsBlock/TestComponent.mappings.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Legacy_3_1_WhiteSpace_InsideAttribute_InMarkupBlock/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Legacy_3_1_WhiteSpace_InsideAttribute_InMarkupBlock/TestComponent.ir.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Legacy_3_1_Whitespace_BetweenElementAndFunctions/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Legacy_3_1_Whitespace_BetweenElementAndFunctions/TestComponent.ir.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/Legacy_3_1_Whitespace_BetweenElementAndFunctions/TestComponent.mappings.txt
Labels: Servicing-approved, area-mvc

#28498 Add error handling for token acquisition in getUser and fix state retrieval
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/WebAssembly/Authentication.Msal/src/Interop/AuthenticationService.ts
Labels: Servicing-approved, area-blazor

#28572 Fix .msi names
  eng/targets/Wix.Common.targets
  src/Installers/Windows/SharedFramework/SharedFramework.wixproj
  src/Installers/Windows/TargetingPack/TargetingPack.wixproj
Labels: area-installers, tell-mode

#28387 Avoid allocations from LINQ.ToArray()
  src/Hosting/Hosting/src/Internal/StartupLoader.cs
Labels: area-hosting

#28539 [Blazor] Fix publish with different combinations of SWA base paths
  AspNetCore.sln
  src/Components/ComponentsNoDeps.slnf
  src/Components/WebAssembly/Sdk/integrationtests/WasmPublishIntegrationTest.cs
  src/Components/WebAssembly/Sdk/src/targets/Microsoft.NET.Sdk.BlazorWebAssembly.Current.targets
  src/Components/WebAssembly/testassets/CustomBasePathApp/App.razor
  src/Components/WebAssembly/testassets/CustomBasePathApp/CustomBasePathApp.csproj
  src/Components/WebAssembly/testassets/CustomBasePathApp/Program.cs
  src/Components/WebAssembly/testassets/CustomBasePathApp/wwwroot/img/red-square.png
  src/Components/WebAssembly/testassets/CustomBasePathApp/wwwroot/index.html
  src/Components/WebAssembly/testassets/HostedInAspNet.Server/HostedInAspNet.Server.csproj
  src/Components/WebAssembly/testassets/HostedInAspNet.Server/Startup.cs
  src/Components/test/E2ETest/Tests/HostedInAlternativeBasePathTest.cs
  src/Components/test/E2ETest/Tests/MultipleHostedAppTest.cs
Labels: Servicing-approved, area-blazor

#28579 Dispose rejected requests
  src/Servers/HttpSys/src/HttpSysListener.cs
  src/Servers/HttpSys/src/LoggerEventIds.cs
  src/Servers/HttpSys/src/MessagePump.cs
  src/Servers/HttpSys/test/FunctionalTests/Listener/Utilities.cs
Labels: area-servers, auto-merge

#28483 Update Yarn.MSBuild version
  eng/Tools.props
  global.json
Labels: area-infrastructure, auto-merge

#28342 DelegationRule.Dispose() unsets delegation property on the queue
  src/Servers/HttpSys/src/DelegationRule.cs
  src/Servers/HttpSys/test/FunctionalTests/DelegateTests.cs
Labels: area-servers, auto-merge

#28559 Avoid capturing the ExecutionContext in the DisconnectListener
  src/Servers/HttpSys/src/NativeInterop/DisconnectListener.cs
  src/Servers/HttpSys/src/NativeInterop/HttpApi.cs
Labels: area-servers

#28597 [Blazor] Skip invalid test
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorWasmTemplateTest.cs
Labels: area-mvc

#28549 [release/5.0] Update gRPC packages to 2.34.0 to fix MacOS tooling issue
  eng/Versions.props
Labels: Servicing-approved, area-grpc, area-infrastructure

#28667 Remove unused npmrc
  src/Components/Web.JS/.npmrc
Labels: area-blazor

#28328 Support W3C Baggage header
  src/Hosting/Hosting/src/Internal/HostingApplicationDiagnostics.cs
  src/Hosting/Hosting/test/HostingApplicationDiagnosticsTests.cs
  src/Http/Headers/src/HeaderNames.cs
  src/Http/Headers/src/PublicAPI.Unshipped.txt
Labels: area-hosting, community-contribution

#28659 Fix typo in bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: area-infrastructure, auto-merge

#28609 Update summary of DeleteAsync operation
  src/Identity/Extensions.Core/src/IUserStore.cs
Labels: area-identity

#28681 Dispatch keypresses to set input contents for validation test
  src/Components/test/E2ETest/Tests/FormsTest.cs
Labels: area-blazor

#28693 Reenable tests
  src/Mvc/Mvc.ViewFeatures/test/TempDataDictionaryTest.cs
Labels: area-mvc

#28694 Fix typo in XML comment
  src/Razor/Razor.Runtime/src/Hosting/RazorCompiledItemAttribute.cs
Labels: area-mvc, auto-merge

#28686 Add FocusAsync overload with preventScroll parameter #24852
  src/Components/Web.JS/src/DomWrapper.ts
  src/Components/Web/src/ElementReferenceExtensions.cs
  src/Components/Web/src/PublicAPI.Shipped.txt
  src/Components/test/E2ETest/Tests/ComponentRenderingTest.cs
  src/Components/test/testassets/BasicTestApp/ElementFocusComponent.razor
Labels: area-blazor, community-contribution

#28699 Fix cert auth sample
  src/Security/Authentication/Certificate/samples/Certificate.Sample/Program.cs
Labels: area-security

#28674 Add baggage to known headers
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.Generated.cs
  src/Servers/Kestrel/shared/KnownHeaders.cs
Labels: area-servers, auto-merge, community-contribution

#28575 Add support for generating app manifest files for tests
  Directory.Build.props
  eng/ProjectReferences.props
  src/Mvc/Mvc.Testing.Tasks/src/GenerateMvcTestManifestTask.cs
  src/Mvc/Mvc.Testing.Tasks/src/Microsoft.AspNetCore.Mvc.Testing.Tasks.csproj
  src/Mvc/Mvc.Testing/src/Microsoft.AspNetCore.Mvc.Testing.csproj
  src/Mvc/Mvc.Testing/src/Microsoft.AspNetCore.Mvc.Testing.targets
  src/Mvc/Mvc.Testing/src/WebApplicationFactory.cs
  src/Mvc/test/Mvc.FunctionalTests/TestingInfrastructureInheritanceTests.cs
Labels: area-mvc

#28470 Reduce enumerations and delegate invocations
  src/Hosting/Hosting/src/WebHostBuilder.cs
Labels: area-hosting

#28730 Unquarantine passing StopPropagation test
  src/Components/test/E2ETest/Tests/EventBubblingTest.cs
Labels: area-blazor, auto-merge

#28733 Fix Http2_MethodsRequestWithoutData_Success on IIS
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Http2Tests.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
Labels: area-servers, auto-merge

#28706 Follow-up to cleaning up obsolete types in Razor
  src/Mvc/Mvc.Razor.RuntimeCompilation/src/FileProviderRazorProjectFileSystem.cs
  src/Mvc/Mvc.Razor.RuntimeCompilation/src/PageDirectiveFeature.cs
  src/Mvc/Mvc.Razor.RuntimeCompilation/test/TestInfrastructure/VirtualRazorProjectFileSystem.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorProjectFileSystem.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/EmptyProjectFileSystem.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/RazorProject.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/VirtualRazorProjectFileSystem.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestRazorProject.cs
  src/Razor/Microsoft.AspNetCore.Razor.Tools/src/CompositeRazorProjectFileSystem.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Language/TestRazorProjectFileSystem.cs
Labels: area-mvc, auto-merge

#28727 Make IOCompleted non static
  src/Servers/HttpSys/src/AsyncAcceptContext.cs
Labels: area-servers

#28757 Use range syntax
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
Labels: area-servers

#28834 Add nullable annotations to Mvc.Core/Routing
  src/Http/Http.Abstractions/src/PublicAPI.Shipped.txt
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Abstractions/src/Routing/Endpoint.cs
  src/Http/Http.Abstractions/src/Routing/RouteValueDictionary.cs
  src/Http/Routing.Abstractions/src/LinkGenerator.cs
  src/Http/Routing.Abstractions/src/PublicAPI.Shipped.txt
  src/Http/Routing/src/DataSourceDependentCache.cs
  src/Http/Routing/src/DataTokensMetadata.cs
  src/Http/Routing/src/DefaultLinkGenerator.cs
  src/Http/Routing/src/IDataTokenMetadata.cs
  src/Http/Routing/src/IRouteNameMetadata.cs
  src/Http/Routing/src/Matching/DataSourceDependentMatcher.cs
  src/Http/Routing/src/PublicAPI.Shipped.txt
  src/Http/Routing/src/RouteNameMetadata.cs
  src/Mvc/Mvc.Abstractions/src/IUrlHelper.cs
  src/Mvc/Mvc.Abstractions/src/Routing/AttributeRouteInfo.cs
  src/Mvc/Mvc.Core/src/PublicAPI.Shipped.txt
  src/Mvc/Mvc.Core/src/Routing/ActionConstraintMatcherPolicy.cs
  src/Mvc/Mvc.Core/src/Routing/ActionEndpointDataSourceBase.cs
  src/Mvc/Mvc.Core/src/Routing/ActionEndpointFactory.cs
  src/Mvc/Mvc.Core/src/Routing/AttributeRoute.cs
  src/Mvc/Mvc.Core/src/Routing/AttributeRouting.cs
  src/Mvc/Mvc.Core/src/Routing/ConsumesMatcherPolicy.cs
  src/Mvc/Mvc.Core/src/Routing/ConsumesMetadata.cs
  src/Mvc/Mvc.Core/src/Routing/ControllerActionEndpointDataSource.cs
  src/Mvc/Mvc.Core/src/Routing/ControllerActionEndpointDataSourceFactory.cs
  src/Mvc/Mvc.Core/src/Routing/ControllerActionEndpointDataSourceIdProvider.cs
  src/Mvc/Mvc.Core/src/Routing/ControllerEndpointDataSourceIdMetadata.cs
  src/Mvc/Mvc.Core/src/Routing/ControllerLinkGeneratorExtensions.cs
  src/Mvc/Mvc.Core/src/Routing/ControllerRequestDelegateFactory.cs
  src/Mvc/Mvc.Core/src/Routing/ConventionalRouteEntry.cs
  src/Mvc/Mvc.Core/src/Routing/DynamicControllerEndpointMatcherPolicy.cs
  src/Mvc/Mvc.Core/src/Routing/DynamicControllerEndpointSelector.cs
  src/Mvc/Mvc.Core/src/Routing/DynamicControllerEndpointSelectorCache.cs
  src/Mvc/Mvc.Core/src/Routing/DynamicControllerMetadata.cs
  src/Mvc/Mvc.Core/src/Routing/DynamicControllerRouteValueTransformerMetadata.cs
  src/Mvc/Mvc.Core/src/Routing/DynamicRouteValueTransformer.cs
  src/Mvc/Mvc.Core/src/Routing/EndpointRoutingUrlHelper.cs
  src/Mvc/Mvc.Core/src/Routing/HttpMethodAttribute.cs
  src/Mvc/Mvc.Core/src/Routing/IActionHttpMethodProvider.cs
  src/Mvc/Mvc.Core/src/Routing/IConsumesMetadata.cs
  src/Mvc/Mvc.Core/src/Routing/IRequestDelegateFactory.cs
  src/Mvc/Mvc.Core/src/Routing/IRouteTemplateProvider.cs
  src/Mvc/Mvc.Core/src/Routing/IRouteValueProvider.cs
  src/Mvc/Mvc.Core/src/Routing/IUrlHelperFactory.cs
  src/Mvc/Mvc.Core/src/Routing/KnownRouteValueConstraint.cs
  src/Mvc/Mvc.Core/src/Routing/MvcAttributeRouteHandler.cs
  src/Mvc/Mvc.Core/src/Routing/MvcRouteHandler.cs
  src/Mvc/Mvc.Core/src/Routing/NormalizedRouteValue.cs
  src/Mvc/Mvc.Core/src/Routing/NullRouter.cs
  src/Mvc/Mvc.Core/src/Routing/PageLinkGeneratorExtensions.cs
  src/Mvc/Mvc.Core/src/Routing/RoutePatternWriter.cs
  src/Mvc/Mvc.Core/src/Routing/RouteValueAttribute.cs
  src/Mvc/Mvc.Core/src/Routing/UrlHelper.cs
  src/Mvc/Mvc.Core/src/Routing/UrlHelperBase.cs
  src/Mvc/Mvc.Core/src/Routing/UrlHelperFactory.cs
  src/Mvc/Mvc.Core/src/Routing/ViewEnginePath.cs
Labels: area-mvc

#28809 Allow nullable with IFeatureCollection generic Get/Set
  src/Hosting/TestHost/src/ClientHandler.cs
  src/Hosting/TestHost/src/HttpContextBuilder.cs
  src/Http/Http.Extensions/src/ResponseExtensions.cs
  src/Http/Http.Extensions/src/SendFileResponseExtensions.cs
  src/Http/Http.Features/src/FeatureCollection.cs
  src/Http/Http.Features/src/IFeatureCollection.cs
  src/Http/Http.Features/src/PublicAPI.Shipped.txt
  src/Http/Http/src/Internal/DefaultHttpResponse.cs
  src/Http/Http/src/Internal/ResponseCookies.cs
  src/Middleware/ResponseCompression/src/ResponseCompressionMiddleware.cs
  src/Middleware/Rewrite/src/UrlActions/CustomResponseAction.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionContext.cs
  src/Servers/Kestrel/shared/TransportConnection.Generated.cs
  src/Servers/Kestrel/shared/TransportMultiplexedConnection.Generated.cs
  src/Servers/Kestrel/tools/CodeGenerator/FeatureCollectionGenerator.cs
  src/SignalR/common/Http.Connections/src/Internal/Transports/ServerSentEventsServerTransport.cs
Labels: area-servers

#28792 Enable nullable on Kestrel generated code
  src/Hosting/TestHost/src/ClientHandler.cs
  src/Hosting/TestHost/src/HttpContextBuilder.cs
  src/Http/Http.Extensions/src/ResponseExtensions.cs
  src/Http/Http.Extensions/src/SendFileResponseExtensions.cs
  src/Http/Http.Features/src/FeatureCollection.cs
  src/Http/Http.Features/src/IFeatureCollection.cs
  src/Http/Http.Features/src/PublicAPI.Shipped.txt
  src/Http/Http/src/Internal/DefaultHttpResponse.cs
  src/Http/Http/src/Internal/ResponseCookies.cs
  src/Middleware/ResponseCompression/src/ResponseCompressionMiddleware.cs
  src/Middleware/Rewrite/src/UrlActions/CustomResponseAction.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpRequestHeaders.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/HttpUtilities.Generated.cs
  src/Servers/Kestrel/Core/test/Http1HttpProtocolFeatureCollectionTests.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionContext.cs
  src/Servers/Kestrel/shared/KnownHeaders.cs
  src/Servers/Kestrel/shared/TransportConnection.Generated.cs
  src/Servers/Kestrel/shared/TransportMultiplexedConnection.Generated.cs
  src/Servers/Kestrel/tools/CodeGenerator/FeatureCollectionGenerator.cs
  src/Servers/Kestrel/tools/CodeGenerator/HttpUtilities/HttpUtilities.cs
  src/Servers/Kestrel/tools/CodeGenerator/ReadOnlySpanStaticDataGenerator.cs
  src/SignalR/common/Http.Connections/src/Internal/Transports/ServerSentEventsServerTransport.cs
Labels: area-servers

#28864 Typo (duplicate word) in documentation comment for SuppressAsyncSuffixInActionNames (MvcOptions)
  src/Mvc/Mvc.Core/src/MvcOptions.cs
Labels: area-mvc

#28865 Fix typo: NavigationManger to NavigationManager.
  src/Components/Web/src/Routing/NavLink.cs
Labels: area-blazor, community-contribution

#28854 Remove aria-invalid when validation state changes to valid
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web/src/Forms/InputBase.cs
  src/Components/Web/test/Forms/InputBaseTest.cs
Labels: area-blazor

#28468 Reduce delegate invocations and enumeration.
  src/Http/Routing/src/EndpointNameAddressScheme.cs
Labels: area-servers

#28855 Avoid allocation in PathString.Add
  src/Http/Http.Abstractions/src/PathString.cs
Labels: area-servers

#28712 Switch to the new Server20H2 queue
  eng/targets/Helix.Common.props
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Http2Tests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/MaxRequestBodySizeTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/ShutdownTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/StartupTests.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISDeployer.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISExpressDeployer.cs
Labels: area-infrastructure

#28772 HTTP/3: Update alt-svc value to h3-29 and add unit test
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Servers/Kestrel/Transport.Quic/src/QuicConnectionFactory.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/TestTransport/TestServer.cs
Labels: area-servers

#28815 Enable nullable on HealthChecks.EntityFrameworkCore
  src/Middleware/HealthChecks.EntityFrameworkCore/src/DbContextHealthCheckOptions.cs
  src/Middleware/HealthChecks.EntityFrameworkCore/src/DependencyInjection/EntityFrameworkCoreHealthChecksBuilderExtensions.cs
  src/Middleware/HealthChecks.EntityFrameworkCore/src/Microsoft.Extensions.Diagnostics.HealthChecks.EntityFrameworkCore.csproj
  src/Middleware/HealthChecks.EntityFrameworkCore/src/PublicAPI.Shipped.txt
Labels: area-middleware

#28873 Add docs for more HTTP items
  src/Http/Http.Extensions/src/HeaderDictionaryTypeExtensions.cs
  src/Http/Http.Extensions/src/HttpContextServerVariableExtensions.cs
  src/Http/Http.Extensions/src/HttpRequestJsonExtensions.cs
  src/Http/Http.Extensions/src/HttpRequestMultipartExtensions.cs
  src/Http/Http.Extensions/src/HttpResponseJsonExtensions.cs
  src/Http/Http.Extensions/src/JsonOptions.cs
  src/Http/Http.Extensions/src/Microsoft.AspNetCore.Http.Extensions.csproj
  src/Http/Http.Extensions/src/QueryBuilder.cs
  src/Http/Http.Extensions/src/RequestHeaders.cs
  src/Http/Http.Extensions/src/ResponseExtensions.cs
  src/Http/Http.Extensions/src/ResponseHeaders.cs
  src/Http/Http.Extensions/src/SessionExtensions.cs
  src/Http/Http.Extensions/src/StreamCopyOperation.cs
  src/Http/Http.Features/src/FeatureCollection.cs
  src/Http/Http.Features/src/FeatureReference.cs
  src/Http/Http.Features/src/FeatureReferences.cs
  src/Http/Http.Features/src/IHttpBufferingFeature.cs
  src/Http/Http.Features/src/IHttpRequestLifetimeFeature.cs
  src/Http/Http.Features/src/IHttpResponseTrailersFeature.cs
  src/Http/Http.Features/src/IHttpUpgradeFeature.cs
  src/Http/Http.Features/src/IHttpWebSocketFeature.cs
  src/Http/Http.Features/src/Microsoft.AspNetCore.Http.Features.csproj
  src/Http/Http.Features/src/WebSocketAcceptContext.cs
Labels: area-servers, auto-merge

#28902 Correct broken link in Components README.md
  src/Components/README.md
Labels: area-blazor

#28890 Remove obsolete IHttpBufferingFeature, IHttpSendFileFeature
  src/Http/Http.Features/src/IHttpBufferingFeature.cs
  src/Http/Http.Features/src/IHttpSendFileFeature.cs
  src/Http/Http.Features/src/PublicAPI.Shipped.txt
  src/Servers/testassets/ServerComparison.TestSites/StartupResponseCompression.cs
Labels: area-servers, auto-merge

#28910 Add more doc comments
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/AuthenticatedEncryptorFactory.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/CngCbcAuthenticatedEncryptorFactory.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/CngGcmAuthenticatedEncryptorFactory.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/AlgorithmConfiguration.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/AuthenticatedEncryptorConfiguration.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/AuthenticatedEncryptorDescriptor.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/CngCbcAuthenticatedEncryptorConfiguration.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/CngCbcAuthenticatedEncryptorDescriptor.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/CngGcmAuthenticatedEncryptorConfiguration.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/CngGcmAuthenticatedEncryptorDescriptor.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/ManagedAuthenticatedEncryptorConfiguration.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/ManagedAuthenticatedEncryptorDescriptor.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/XmlExtensions.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/IAuthenticatedEncryptorFactory.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ManagedAuthenticatedEncryptorFactory.cs
  src/DataProtection/DataProtection/src/DataProtectionUtilityExtensions.cs
  src/DataProtection/DataProtection/src/EphemeralDataProtectionProvider.cs
  src/DataProtection/DataProtection/src/KeyManagement/Internal/ICacheableKeyRingProvider.cs
  src/DataProtection/DataProtection/src/KeyManagement/Internal/IInternalXmlKeyManager.cs
  src/DataProtection/DataProtection/src/KeyManagement/Internal/IKeyRingProvider.cs
  src/DataProtection/DataProtection/src/KeyManagement/KeyManagementOptions.cs
  src/DataProtection/DataProtection/src/KeyManagement/XmlKeyManager.cs
  src/DataProtection/DataProtection/src/Microsoft.AspNetCore.DataProtection.csproj
  src/DataProtection/DataProtection/src/Repositories/FileSystemXmlRepository.cs
  src/DataProtection/DataProtection/src/Repositories/RegistryXmlRepository.cs
  src/Http/WebUtilities/src/Base64UrlTextEncoder.cs
  src/Http/WebUtilities/src/FileBufferingReadStream.cs
  src/Http/WebUtilities/src/FileBufferingWriteStream.cs
  src/Http/WebUtilities/src/FormPipeReader.cs
  src/Http/WebUtilities/src/FormReader.cs
  src/Http/WebUtilities/src/HttpRequestStreamReader.cs
  src/Http/WebUtilities/src/HttpResponseStreamWriter.cs
  src/Http/WebUtilities/src/KeyValueAccumulator.cs
  src/Http/WebUtilities/src/Microsoft.AspNetCore.WebUtilities.csproj
  src/Http/WebUtilities/src/MultipartReader.cs
  src/Http/WebUtilities/src/MultipartSection.cs
  src/Http/WebUtilities/src/ReasonPhrases.cs
  src/Http/WebUtilities/src/StreamHelperExtensions.cs
  src/JSInterop/Microsoft.JSInterop/src/JSInProcessObjectReferenceExtensions.cs
  src/JSInterop/Microsoft.JSInterop/src/Microsoft.JSInterop.csproj
  src/ObjectPool/src/DefaultObjectPool.cs
  src/ObjectPool/src/DefaultPooledObjectPolicy.cs
  src/ObjectPool/src/LeakTrackingObjectPool.cs
  src/ObjectPool/src/LeakTrackingObjectPoolProvider.cs
  src/ObjectPool/src/Microsoft.Extensions.ObjectPool.csproj
  src/ObjectPool/src/ObjectPoolProviderExtensions.cs
  src/ObjectPool/src/PooledObjectPolicy.cs
  src/ObjectPool/src/StringBuilderPooledObjectPolicy.cs
Labels: auto-merge

#28814 Enable nullable on Diagnostics.EntityFrameworkCore
  src/Middleware/Diagnostics.EntityFrameworkCore/src/DatabaseDeveloperPageExceptionFilter.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/src/DatabaseDeveloperPageExceptionFilterServiceExtensions.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/src/DatabaseErrorPageMiddleware.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/src/DiagnosticsEntityFrameworkCoreLoggerExtensions.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/src/HttpContextDatabaseContextDetailsExtensions.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/src/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.csproj
  src/Middleware/Diagnostics.EntityFrameworkCore/src/MigrationsEndPointMiddleware.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/src/PublicAPI.Shipped.txt
  src/Middleware/Diagnostics.EntityFrameworkCore/src/Views/DatabaseErrorPage.Designer.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/src/Views/DatabaseErrorPage.cshtml
Labels: area-middleware

#28893 Remove obsolete StaticFileResponseContext constructor
  src/Middleware/StaticFiles/src/PublicAPI.Shipped.txt
  src/Middleware/StaticFiles/src/StaticFileResponseContext.cs
Labels: area-middleware

#28941 Fix MVC null reference build error
  src/Mvc/Mvc.Core/src/Routing/ActionEndpointFactory.cs
Labels: area-mvc, auto-merge

#28913 Use better check for detecting UTF7 encoding.
  src/Http/Http/src/Features/FormFeature.cs
  src/Http/WebUtilities/src/FormPipeReader.cs
  src/Http/WebUtilities/src/MultipartSectionStreamExtensions.cs
Labels: area-servers, auto-merge

#28942 Fix typo in EndpointRoutingMiddleware.cs
  src/Http/Routing/src/EndpointRoutingMiddleware.cs
Labels: area-servers

#28946 Use Environment.ProcessId instead of Process.GetCurrentProcess().Id
  src/Servers/Kestrel/Core/src/Systemd/KestrelServerOptionsSystemdExtensions.cs
Labels: area-servers, auto-merge

#28912 [SignalR] Follow HTTP redirects TS client
  src/SignalR/clients/ts/FunctionalTests/Startup.cs
  src/SignalR/clients/ts/FunctionalTests/ts/ConnectionTests.ts
  src/SignalR/clients/ts/signalr/src/FetchHttpClient.ts
Labels: area-signalr

#28909 [SignalR] Remove reference to Buffer in TS client
  src/SignalR/clients/ts/signalr-protocol-msgpack/package.json
  src/SignalR/clients/ts/signalr-protocol-msgpack/src/MessagePackHubProtocol.ts
  src/SignalR/clients/ts/signalr-protocol-msgpack/webpack.config.js
  src/SignalR/clients/ts/signalr-protocol-msgpack/yarn.lock
  src/SignalR/clients/ts/signalr/src/HandshakeProtocol.ts
  src/SignalR/clients/ts/signalr/src/IHubProtocol.ts
  src/SignalR/clients/ts/signalr/webpack.config.js
Labels: area-signalr
