Repository dotnet/aspnetcore, pull requests merged in 2020-10, with the labels that each got.

#26470 API docs for WebSockets
  src/Middleware/WebSockets/src/ExtendedWebSocketAcceptContext.cs
  src/Middleware/WebSockets/src/Microsoft.AspNetCore.WebSockets.csproj
  src/Middleware/WebSockets/src/WebSocketMiddleware.cs
  src/Middleware/WebSockets/src/WebSocketOptions.cs
  src/Middleware/WebSockets/src/WebSocketsDependencyInjectionExtensions.cs
Labels: area-middleware, area-websockets, tell-mode

#26064 Generate non-stable version for installer
  src/Installers/Windows/SharedFrameworkBundle/Bundle.wxs
  src/Installers/Windows/WindowsHostingBundle/Bundle.wxs
  src/Installers/Windows/Wix.targets
Labels: area-installers

#26497 Update Selenium.WebDriver.ChromeDriver package version
  eng/Versions.props
Labels: area-infrastructure

#26508 Update area-owners.md
  docs/area-owners.md
Labels: auto-merge

#26253 Remove photo from showprofile
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Pages/ShowProfile.razor
Labels: Servicing-approved, area-blazor

#26519 Use assertion library more consistently
  src/Components/test/E2ETest/Infrastructure/WebDriverExtensions/BasicTestAppWebDriverExtensions.cs
  src/Components/test/E2ETest/ServerExecutionTests/CircuitGracefulTerminationTests.cs
  src/Components/test/E2ETest/ServerExecutionTests/ComponentWithParametersTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/MultipleRootComponentsTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/PrerenderingTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/ProtectedBrowserStorageUsageTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/ServerGlobalizationTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/ServerInteropTestDefaultExceptionsBehavior.cs
  src/Components/test/E2ETest/ServerExecutionTests/ServerInteropTestJsInvocationsTimeoutsBehavior.cs
  src/Components/test/E2ETest/ServerExecutionTests/ServerLocalizationTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/ServerReconnectionTest.cs
  src/Components/test/E2ETest/Tests/BinaryHttpClientTest.cs
  src/Components/test/E2ETest/Tests/BindTest.cs
  src/Components/test/E2ETest/Tests/CascadingValueTest.cs
  src/Components/test/E2ETest/Tests/ClientRenderingMultpleComponentsTest.cs
  src/Components/test/E2ETest/Tests/ClientSideHostingTest.cs
  src/Components/test/E2ETest/Tests/ComponentRenderingTest.cs
  src/Components/test/E2ETest/Tests/ErrorNotificationTest.cs
  src/Components/test/E2ETest/Tests/EventBubblingTest.cs
  src/Components/test/E2ETest/Tests/EventCallbackTest.cs
  src/Components/test/E2ETest/Tests/EventTest.cs
  src/Components/test/E2ETest/Tests/GlobalizationTest.cs
  src/Components/test/E2ETest/Tests/HttpClientTest.cs
  src/Components/test/E2ETest/Tests/InputFileTest.cs
  src/Components/test/E2ETest/Tests/InteropTest.cs
  src/Components/test/E2ETest/Tests/JsonSerializationTest.cs
  src/Components/test/E2ETest/Tests/PerformanceTest.cs
  src/Components/test/E2ETest/Tests/ProtectedBrowserStorageInjectionTest.cs
  src/Components/test/E2ETest/Tests/RoutingTest.cs
  src/Components/test/E2ETest/Tests/SignalRClientTest.cs
  src/Components/test/E2ETest/Tests/StandaloneAppTest.cs
  src/Components/test/E2ETest/Tests/VirtualizationTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyAuthenticationTests.cs
  src/Components/test/E2ETest/Tests/WebAssemblyLazyLoadTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyLocalizationTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyLoggingTest.cs
Labels: area-blazor, tell-mode

#26513 Add documentation for Routing surface area
  src/Http/Http.Abstractions/src/StatusCodes.cs
  src/Http/Routing.Abstractions/src/IRouteHandler.cs
  src/Http/Routing.Abstractions/src/IRouter.cs
  src/Http/Routing/perf/Matching/MatcherBuilderMultipleEntryBenchmark.cs
  src/Http/Routing/src/Builder/EndpointRoutingApplicationBuilderExtensions.cs
  src/Http/Routing/src/CompositeEndpointDataSource.cs
  src/Http/Routing/src/Constraints/OptionalRouteConstraint.cs
  src/Http/Routing/src/Constraints/RegexRouteConstraint.cs
  src/Http/Routing/src/DataTokensMetadata.cs
  src/Http/Routing/src/INamedRouter.cs
  src/Http/Routing/src/IRouteCollection.cs
  src/Http/Routing/src/InlineRouteParameterParser.cs
  src/Http/Routing/src/Internal/DfaGraphWriter.cs
  src/Http/Routing/src/Matching/EndpointMetadataComparer.cs
  src/Http/Routing/src/Matching/HostMatcherPolicy.cs
  src/Http/Routing/src/Matching/INodeBuilderPolicy.cs
  src/Http/Routing/src/Matching/PolicyJumpTable.cs
  src/Http/Routing/src/Matching/PolicyJumpTableEdge.cs
  src/Http/Routing/src/Matching/PolicyNodeEdge.cs
  src/Http/Routing/src/Microsoft.AspNetCore.Routing.csproj
  src/Http/Routing/src/RequestDelegateRouteBuilderExtensions.cs
  src/Http/Routing/src/Route.cs
  src/Http/Routing/src/RouteBase.cs
  src/Http/Routing/src/RouteBuilder.cs
  src/Http/Routing/src/RouteCollection.cs
  src/Http/Routing/src/RouteConstraintMatcher.cs
  src/Http/Routing/src/RouteEndpointBuilder.cs
  src/Http/Routing/src/RouteHandler.cs
  src/Http/Routing/src/RouteOptions.cs
  src/Http/Routing/src/RouteValueEqualityComparer.cs
  src/Http/Routing/src/RouterMiddleware.cs
  src/Http/Routing/src/RoutingFeature.cs
  src/Http/Routing/src/Template/InlineConstraint.cs
  src/Http/Routing/src/Template/RoutePrecedence.cs
  src/Http/Routing/src/Template/RouteTemplate.cs
  src/Http/Routing/src/Template/TemplateBinder.cs
  src/Http/Routing/src/Template/TemplateMatcher.cs
  src/Http/Routing/src/Template/TemplateParser.cs
  src/Http/Routing/src/Template/TemplatePart.cs
  src/Http/Routing/src/Template/TemplateSegment.cs
  src/Http/Routing/src/Tree/TreeRouter.cs
Labels: area-servers, tell-mode

#26445 API docs for SignalR
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnectionBuilder.cs
  src/SignalR/clients/csharp/Client.Core/src/Microsoft.AspNetCore.SignalR.Client.Core.csproj
  src/SignalR/clients/csharp/Client/src/Microsoft.AspNetCore.SignalR.Client.csproj
  src/SignalR/clients/csharp/Http.Connections.Client/src/Microsoft.AspNetCore.Http.Connections.Client.csproj
  src/SignalR/clients/csharp/Http.Connections.Client/src/NoTransportSupportedException.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/TransportFailedException.cs
  src/SignalR/common/Http.Connections.Common/src/AvailableTransport.cs
  src/SignalR/common/Http.Connections.Common/src/Microsoft.AspNetCore.Http.Connections.Common.csproj
  src/SignalR/common/Http.Connections.Common/src/NegotiateProtocol.cs
  src/SignalR/common/Http.Connections.Common/src/NegotiationResponse.cs
  src/SignalR/common/Http.Connections/src/ConnectionEndpointRouteBuilderExtensions.cs
  src/SignalR/common/Http.Connections/src/ConnectionOptions.cs
  src/SignalR/common/Http.Connections/src/ConnectionOptionsSetup.cs
  src/SignalR/common/Http.Connections/src/Features/IHttpContextFeature.cs
  src/SignalR/common/Http.Connections/src/Features/IHttpTransportFeature.cs
  src/SignalR/common/Http.Connections/src/HttpConnectionContextExtensions.cs
  src/SignalR/common/Http.Connections/src/Microsoft.AspNetCore.Http.Connections.csproj
  src/SignalR/common/Http.Connections/src/WebSocketOptions.cs
  src/SignalR/common/Protocols.Json/src/Microsoft.AspNetCore.SignalR.Protocols.Json.csproj
  src/SignalR/common/Protocols.MessagePack/src/MessagePackHubProtocolOptions.cs
  src/SignalR/common/Protocols.MessagePack/src/Microsoft.AspNetCore.SignalR.Protocols.MessagePack.csproj
  src/SignalR/common/Protocols.NewtonsoftJson/src/Microsoft.AspNetCore.SignalR.Protocols.NewtonsoftJson.csproj
  src/SignalR/common/SignalR.Common/src/IInvocationBinder.cs
  src/SignalR/common/SignalR.Common/src/Microsoft.AspNetCore.SignalR.Common.csproj
  src/SignalR/common/SignalR.Common/src/Protocol/CancelInvocationMessage.cs
  src/SignalR/common/SignalR.Common/src/Protocol/CompletionMessage.cs
  src/SignalR/common/SignalR.Common/src/Protocol/HandshakeProtocol.cs
  src/SignalR/common/SignalR.Common/src/Protocol/PingMessage.cs
  src/SignalR/common/SignalR.Common/src/Protocol/StreamItemMessage.cs
  src/SignalR/server/Core/src/HubConnectionContext.cs
  src/SignalR/server/Core/src/HubConnectionStore.cs
  src/SignalR/server/Core/src/HubMetadata.cs
  src/SignalR/server/Core/src/HubOptionsSetup.cs
  src/SignalR/server/Core/src/HubOptionsSetup`T.cs
  src/SignalR/server/Core/src/Microsoft.AspNetCore.SignalR.Core.csproj
  src/SignalR/server/SignalR/src/HubEndpointRouteBuilderExtensions.cs
  src/SignalR/server/SignalR/src/Microsoft.AspNetCore.SignalR.csproj
  src/SignalR/server/StackExchangeRedis/src/Microsoft.AspNetCore.SignalR.StackExchangeRedis.csproj
  src/SignalR/server/StackExchangeRedis/src/RedisHubLifetimeManager.cs
Labels: area-signalr, tell-mode

#26531 Api docs for ResponseCaching
  src/Middleware/HostFiltering/src/Microsoft.AspNetCore.HostFiltering.csproj
  src/Middleware/HttpsPolicy/src/Microsoft.AspNetCore.HttpsPolicy.csproj
  src/Middleware/ResponseCaching.Abstractions/src/Microsoft.AspNetCore.ResponseCaching.Abstractions.csproj
  src/Middleware/ResponseCaching/src/Microsoft.AspNetCore.ResponseCaching.csproj
  src/Middleware/ResponseCaching/src/ResponseCachingFeature.cs
  src/Middleware/ResponseCaching/src/ResponseCachingOptions.cs
  src/Middleware/StaticFiles/src/Microsoft.AspNetCore.StaticFiles.csproj
Labels: area-middleware, auto-merge, tell-mode

#26503 Add docs for Auth, Auth.Cookies, Auth.Certificate
  src/Security/Authentication/Certificate/src/CertificateAuthenticationExtensions.cs
  src/Security/Authentication/Certificate/src/CertificateAuthenticationOptions.cs
  src/Security/Authentication/Certificate/src/CertificateValidationCache.cs
  src/Security/Authentication/Certificate/src/CertificateValidationCacheOptions.cs
  src/Security/Authentication/Certificate/src/Microsoft.AspNetCore.Authentication.Certificate.csproj
  src/Security/Authentication/Cookies/src/CookieAuthenticationEvents.cs
  src/Security/Authentication/Cookies/src/CookieAuthenticationHandler.cs
  src/Security/Authentication/Cookies/src/CookieExtensions.cs
  src/Security/Authentication/Cookies/src/Microsoft.AspNetCore.Authentication.Cookies.csproj
  src/Security/Authentication/Cookies/src/PostConfigureCookieAuthenticationOptions.cs
  src/Security/Authentication/Core/src/AuthenticationBuilder.cs
  src/Security/Authentication/Core/src/AuthenticationHandler.cs
  src/Security/Authentication/Core/src/AuthenticationMiddleware.cs
  src/Security/Authentication/Core/src/AuthenticationServiceCollectionExtensions.cs
  src/Security/Authentication/Core/src/Events/AccessDeniedContext.cs
  src/Security/Authentication/Core/src/Events/HandleRequestContext.cs
  src/Security/Authentication/Core/src/Events/RemoteAuthenticationContext.cs
  src/Security/Authentication/Core/src/Events/RemoteAuthenticationEvents.cs
  src/Security/Authentication/Core/src/Events/RemoteFailureContext.cs
  src/Security/Authentication/Core/src/Events/ResultContext.cs
  src/Security/Authentication/Core/src/Events/TicketReceivedContext.cs
  src/Security/Authentication/Core/src/HandleRequestResult.cs
  src/Security/Authentication/Core/src/IDataSerializer.cs
  src/Security/Authentication/Core/src/ISecureDataFormat.cs
  src/Security/Authentication/Core/src/ISystemClock.cs
  src/Security/Authentication/Core/src/JsonDocumentAuthExtensions.cs
  src/Security/Authentication/Core/src/Microsoft.AspNetCore.Authentication.csproj
  src/Security/Authentication/Core/src/PolicySchemeHandler.cs
  src/Security/Authentication/Core/src/PropertiesDataFormat.cs
  src/Security/Authentication/Core/src/PropertiesSerializer.cs
  src/Security/Authentication/Core/src/RemoteAuthenticationHandler.cs
  src/Security/Authentication/Core/src/RemoteAuthenticationOptions.cs
  src/Security/Authentication/Core/src/RequestPathBaseCookieBuilder.cs
  src/Security/Authentication/Core/src/SecureDataFormat.cs
  src/Security/Authentication/Core/src/SignInAuthenticationHandler.cs
  src/Security/Authentication/Core/src/SignOutAuthenticationHandler.cs
  src/Security/Authentication/Core/src/TextEncoder.cs
  src/Security/Authentication/Core/src/TicketDataFormat.cs
  src/Security/Authentication/Core/src/TicketSerializer.cs
  src/Security/Authentication/JwtBearer/src/AuthenticationFailedContext.cs
  src/Security/Authentication/JwtBearer/src/ForbiddenContext.cs
  src/Security/Authentication/JwtBearer/src/JwtBearerChallengeContext.cs
  src/Security/Authentication/JwtBearer/src/JwtBearerEvents.cs
  src/Security/Authentication/JwtBearer/src/JwtBearerExtensions.cs
  src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs
  src/Security/Authentication/JwtBearer/src/JwtBearerOptions.cs
  src/Security/Authentication/JwtBearer/src/MessageReceivedContext.cs
  src/Security/Authentication/JwtBearer/src/Microsoft.AspNetCore.Authentication.JwtBearer.csproj
  src/Security/Authentication/JwtBearer/src/TokenValidatedContext.cs
  src/Shared/ChunkingCookieManager/ChunkingCookieManager.cs
Labels: area-security, tell-mode

#26505 API docs for Components
  src/Components/Analyzers/src/Microsoft.AspNetCore.Components.Analyzers.csproj
  src/Components/Authorization/src/AuthorizeRouteView.cs
  src/Components/Authorization/src/Microsoft.AspNetCore.Components.Authorization.csproj
  src/Components/Components/src/Microsoft.AspNetCore.Components.csproj
  src/Components/Components/src/RouteView.cs
  src/Components/Components/src/Routing/NavigationContext.cs
  src/Components/Forms/src/Microsoft.AspNetCore.Components.Forms.csproj
  src/Components/Server/src/Microsoft.AspNetCore.Components.Server.csproj
  src/Components/Web/src/ElementReferenceExtensions.cs
  src/Components/Web/src/Forms/InputBase.cs
  src/Components/Web/src/Forms/InputFile.cs
  src/Components/Web/src/Forms/ValidationMessage.cs
  src/Components/Web/src/Forms/ValidationSummary.cs
  src/Components/Web/src/Microsoft.AspNetCore.Components.Web.csproj
  src/Components/Web/src/Routing/NavLink.cs
  src/Components/Web/src/WebElementReferenceContext.cs
  src/Components/WebAssembly/Authentication.Msal/src/Microsoft.Authentication.WebAssembly.Msal.csproj
  src/Components/WebAssembly/DevServer/src/Microsoft.AspNetCore.Components.WebAssembly.DevServer.csproj
  src/Components/WebAssembly/JSInterop/src/Microsoft.JSInterop.WebAssembly.csproj
  src/Components/WebAssembly/JSInterop/src/WebAssemblyJSRuntime.cs
  src/Components/WebAssembly/Sdk/src/Microsoft.NET.Sdk.BlazorWebAssembly.csproj
  src/Components/WebAssembly/Server/src/Microsoft.AspNetCore.Components.WebAssembly.Server.csproj
  src/Components/WebAssembly/Server/src/TargetPickerUi.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/IRemoteAuthenticationBuilder.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Microsoft.AspNetCore.Components.WebAssembly.Authentication.csproj
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/AccountClaimsPrincipalFactory.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/ExpiredTokenException.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/SignOutSessionStateManager.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostEnvironmentExtensions.cs
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.csproj
  src/Components/WebAssembly/WebAssembly/src/Services/LazyAssemblyLoader.cs
Labels: area-blazor, tell-mode

#26530 Api docs for HttpOverrides
  src/Middleware/HttpOverrides/src/ForwardedHeaders.cs
  src/Middleware/HttpOverrides/src/ForwardedHeadersExtensions.cs
  src/Middleware/HttpOverrides/src/ForwardedHeadersMiddleware.cs
  src/Middleware/HttpOverrides/src/ForwardedHeadersOptions.cs
  src/Middleware/HttpOverrides/src/HttpMethodOverrideExtensions.cs
  src/Middleware/HttpOverrides/src/HttpMethodOverrideMiddleware.cs
  src/Middleware/HttpOverrides/src/HttpMethodOverrideOptions.cs
  src/Middleware/HttpOverrides/src/IPNetwork.cs
  src/Middleware/HttpOverrides/src/Microsoft.AspNetCore.HttpOverrides.csproj
  src/Middleware/HttpOverrides/test/IPNetworkTest.cs
Labels: area-middleware, auto-merge, tell-mode

#26511 Update to Identity.Web RTM versions
  eng/Versions.props
Labels: Servicing-approved, area-infrastructure

#26525 Api docs for Diagnostics middlewares
  src/Middleware/Diagnostics.Abstractions/src/DiagnosticMessage.cs
  src/Middleware/Diagnostics.Abstractions/src/IExceptionHandlerFeature.cs
  src/Middleware/Diagnostics.Abstractions/src/IStatusCodeReExecuteFeature.cs
  src/Middleware/Diagnostics.Abstractions/src/Microsoft.AspNetCore.Diagnostics.Abstractions.csproj
  src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerExtensions.cs
  src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerFeature.cs
  src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerMiddleware.cs
  src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerOptions.cs
  src/Middleware/Diagnostics/src/Microsoft.AspNetCore.Diagnostics.csproj
  src/Middleware/Diagnostics/src/StatusCodePage/StatusCodeContext.cs
  src/Middleware/Diagnostics/src/StatusCodePage/StatusCodePagesExtensions.cs
  src/Middleware/Diagnostics/src/StatusCodePage/StatusCodePagesFeature.cs
  src/Middleware/Diagnostics/src/StatusCodePage/StatusCodePagesMiddleware.cs
  src/Middleware/Diagnostics/src/StatusCodePage/StatusCodePagesOptions.cs
  src/Middleware/Diagnostics/src/StatusCodePage/StatusCodeReExecuteFeature.cs
Labels: area-middleware, auto-merge, tell-mode

#26480 Fix WebSockets Negotiate Auth in Kestrel
  src/Security/Authentication/Negotiate/test/Negotiate.FunctionalTest/Microsoft.AspNetCore.Authentication.Negotiate.FunctionalTest.csproj
  src/Security/Authentication/Negotiate/test/Negotiate.FunctionalTest/NegotiateHandlerFunctionalTests.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1ChunkedEncodingMessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1ContentLengthMessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1UpgradeMessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/Http1ReadingBenchmark.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/UpgradeTests.cs
Labels: Servicing-approved, area-servers, servers-kestrel

#26549 Fixing log message for ANCM debug logs
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/HostFxrResolver.cpp
Labels: area-servers

#26395 [release/5.0] Preserve client order of activity baggage items (#26302)
  src/Hosting/Hosting/src/Internal/HostingApplicationDiagnostics.cs
  src/Hosting/Hosting/test/HostingApplicationDiagnosticsTests.cs
Labels: Servicing-approved, area-hosting

#26620 Reenable e2e template tests
  src/Shared/E2ETesting/E2ETesting.props
Labels: auto-merge

#26158 Force english lang for selenium
  src/Components/test/testassets/TestServer/AuthenticationStartup.cs
  src/Components/test/testassets/TestServer/Components.TestServer.csproj
  src/Components/test/testassets/TestServer/CorsStartup.cs
  src/Components/test/testassets/TestServer/MultipleComponents.cs
  src/Components/test/testassets/TestServer/PrerenderedStartup.cs
  src/Components/test/testassets/TestServer/ServerStartup.cs
  src/Components/test/testassets/TestServer/Startup.cs
  src/Components/test/testassets/TestServer/StartupWithMapFallbackToClientSideBlazor.cs
  src/Shared/E2ETesting/BrowserFixture.cs
Labels: area-mvc, auto-merge

#26610 Add docs for Negotiate, OAuth, OpenIdConnect
  src/Security/Authentication/MicrosoftAccount/src/Microsoft.AspNetCore.Authentication.MicrosoftAccount.csproj
  src/Security/Authentication/Negotiate/src/Events/AuthenticatedContext.cs
  src/Security/Authentication/Negotiate/src/Events/AuthenticationFailedContext.cs
  src/Security/Authentication/Negotiate/src/Events/ChallengeContext.cs
  src/Security/Authentication/Negotiate/src/Events/LdapContext.cs
  src/Security/Authentication/Negotiate/src/LdapSettings.cs
  src/Security/Authentication/Negotiate/src/Microsoft.AspNetCore.Authentication.Negotiate.csproj
  src/Security/Authentication/Negotiate/src/NegotiateExtensions.cs
  src/Security/Authentication/Negotiate/src/NegotiateHandler.cs
  src/Security/Authentication/Negotiate/src/NegotiateOptions.cs
  src/Security/Authentication/OAuth/src/ClaimAction.cs
  src/Security/Authentication/OAuth/src/ClaimActionCollection.cs
  src/Security/Authentication/OAuth/src/ClaimActionCollectionMapExtensions.cs
  src/Security/Authentication/OAuth/src/Events/OAuthCreatingTicketContext.cs
  src/Security/Authentication/OAuth/src/MapAllClaimsAction.cs
  src/Security/Authentication/OAuth/src/Microsoft.AspNetCore.Authentication.OAuth.csproj
  src/Security/Authentication/OAuth/src/OAuthChallengeProperties.cs
  src/Security/Authentication/OAuth/src/OAuthDefaults.cs
  src/Security/Authentication/OAuth/src/OAuthExtensions.cs
  src/Security/Authentication/OAuth/src/OAuthHandler.cs
  src/Security/Authentication/OAuth/src/OAuthOptions.cs
  src/Security/Authentication/OAuth/src/OAuthPostConfigureOptions.cs
  src/Security/Authentication/OAuth/src/OAuthTokenResponse.cs
  src/Security/Authentication/OpenIdConnect/src/ClaimActionCollectionUniqueExtensions.cs
  src/Security/Authentication/OpenIdConnect/src/Events/AuthenticationFailedContext.cs
  src/Security/Authentication/OpenIdConnect/src/Events/AuthorizationCodeReceivedContext.cs
  src/Security/Authentication/OpenIdConnect/src/Events/MessageReceivedContext.cs
  src/Security/Authentication/OpenIdConnect/src/Events/OpenIdConnectEvents.cs
  src/Security/Authentication/OpenIdConnect/src/Events/RedirectContext.cs
  src/Security/Authentication/OpenIdConnect/src/Events/RemoteSignoutContext.cs
  src/Security/Authentication/OpenIdConnect/src/Events/TokenResponseReceivedContext.cs
  src/Security/Authentication/OpenIdConnect/src/Events/TokenValidatedContext.cs
  src/Security/Authentication/OpenIdConnect/src/Events/UserInformationReceivedContext.cs
  src/Security/Authentication/OpenIdConnect/src/Microsoft.AspNetCore.Authentication.OpenIdConnect.csproj
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectChallengeProperties.cs
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectExtensions.cs
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectHandler.cs
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectPostConfigureOptions.cs
Labels: area-security, tell-mode

#26614 Cast ByteBuffer to Buffer before calling position(int)
  src/SignalR/clients/java/signalr/messagepack/src/main/java/com/microsoft/signalr/messagepack/MessagePackHubProtocol.java
Labels: Servicing-approved, area-signalr

#26567 Add an option to allow 404 responses from ExceptionHandlers
  src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerMiddleware.cs
  src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerOptions.cs
  src/Middleware/Diagnostics/test/UnitTests/ExceptionHandlerTest.cs
Labels: Servicing-approved, area-middleware

#26621 5.0: Update gRPC template package to 2.32.0
  eng/Versions.props
Labels: Servicing-approved, area-grpc, area-infrastructure

#26507 Enable test logging for ProjectTemplate tests
  src/Components/test/E2ETest/Infrastructure/AssemblyInfo.AssemblyFixtures.cs
  src/Components/test/E2ETest/Microsoft.AspNetCore.Components.E2ETests.csproj
  src/ProjectTemplates/BlazorTemplates.Tests/AssemblyInfo.AssemblyFixtures.cs
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorTemplates.Tests.csproj
  src/ProjectTemplates/Shared/ProjectFactoryFixture.cs
  src/ProjectTemplates/Shared/TestOutputLogger.cs
  src/ProjectTemplates/test/AssemblyInfo.AssemblyFixtures.cs
  src/ProjectTemplates/test/BaselineTest.cs
  src/ProjectTemplates/test/ByteOrderMarkTest.cs
  src/ProjectTemplates/test/EmptyWebTemplateTest.cs
  src/ProjectTemplates/test/GrpcTemplateTest.cs
  src/ProjectTemplates/test/IdentityUIPackageTest.cs
  src/ProjectTemplates/test/MvcTemplateTest.cs
  src/ProjectTemplates/test/ProjectTemplates.Tests.csproj
  src/ProjectTemplates/test/RazorClassLibraryTemplateTest.cs
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
  src/ProjectTemplates/test/WebApiTemplateTest.cs
  src/ProjectTemplates/test/WorkerTemplateTest.cs
  src/Shared/E2ETesting/XUnitExtensions/AssemblyFixtureAttribute.cs
  src/Shared/E2ETesting/XUnitExtensions/XUnitTestCollectionRunnerWIthAssemblyFixture.cs
  src/Shared/E2ETesting/XUnitExtensions/XunitTestAssemblyRunnerWithAssemblyFixture.cs
  src/Shared/E2ETesting/XUnitExtensions/XunitTestFrameworkExecutorWithAssemblyFixture.cs
  src/Shared/E2ETesting/XUnitExtensions/XunitTestFrameworkWithAssemblyFixture.cs
Labels: area-mvc, tell-mode

#26630 Fixed potential torn reads in EventCounters
  src/Hosting/Hosting/src/Internal/HostingEventSource.cs
  src/Middleware/ConcurrencyLimiter/src/ConcurrencyLimiterEventSource.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelEventSource.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionsEventSource.cs
Labels: area-servers, community-contribution

#26649 Add API ref docs for HTTPSys
  src/Servers/HttpSys/src/AuthenticationSchemes.cs
  src/Servers/HttpSys/src/DelegationRule.cs
  src/Servers/HttpSys/src/HttpSysDefaults.cs
  src/Servers/HttpSys/src/HttpSysException.cs
  src/Servers/HttpSys/src/HttpSysOptions.cs
  src/Servers/HttpSys/src/IHttpSysRequestDelegationFeature.cs
  src/Servers/HttpSys/src/IServerDelegationFeature.cs
  src/Servers/HttpSys/src/Microsoft.AspNetCore.Server.HttpSys.csproj
  src/Servers/HttpSys/src/UrlPrefix.cs
  src/Servers/HttpSys/src/UrlPrefixCollection.cs
Labels: area-servers

#26642 Resolve issue with readLazyAssembly returning stale value
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/test/E2ETest/Tests/WebAssemblyLazyLoadTest.cs
  src/Components/test/testassets/BasicTestApp/RouterTest/Links.razor
Labels: Servicing-approved, area-blazor

#26654 Write HTTP/3 settings to client based on Kestrel settings
  src/Servers/Kestrel/Core/src/Http3Limits.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3ControlStream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3ControlStreamOfT.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3PeerSetting.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3PeerSettings.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3SettingType.cs
  src/Servers/Kestrel/Core/src/Internal/Http3StreamContext.cs
  src/Servers/Kestrel/Core/test/Http3FrameWriterTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TestBase.cs
  src/Shared/ServerInfrastructure/Http2/Http2PeerSettings.cs
Labels: area-servers

#26684 Remove KestrelEventSource events with broken ActivityId tracking
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelEventSource.cs
  src/Servers/Kestrel/test/FunctionalTests/Http2/HandshakeTests.cs
  src/Servers/Kestrel/test/FunctionalTests/Http2/ShutdownTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/EventSourceTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/TlsTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/ChromeTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Utilities.cs
Labels: Servicing-approved, area-servers, bug, servers-kestrel

#26718 Enable windows tests in helix nightly
  eng/targets/Helix.Common.props
Labels: area-infrastructure, auto-merge

#26622 Fix path data in FrameworkList.xml
  eng/helix/content/RunTests/TestRunner.cs
  eng/tools/RepoTasks/CreateFrameworkListFile.cs
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Framework/test/SharedFxTests.cs
  src/Framework/test/TargetingPackTests.cs
Labels: area-platform

#26037 Use 201H1 all the time
  eng/targets/Helix.Common.props
  src/Servers/IIS/IIS/test/IIS.NewHandler.FunctionalTests/IIS.NewHandler.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IIS.NewShim.FunctionalTests/IIS.NewShim.FunctionalTests.csproj
Labels: area-infrastructure

#26707 Spruce up BuildFromSource docs based on feedback
  docs/BuildFromSource.md
Labels: area-infrastructure

#26720 Add docs for Session, Diagnostics.EntityFrameworkCore, MiddlewareAnalysis and HeaderPropagation
  src/Http/Http.Features/src/ISession.cs
  src/Http/Http.Features/src/ISessionFeature.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/src/DatabaseDeveloperPageExceptionFilter.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/src/DatabaseDeveloperPageExceptionFilterServiceExtensions.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/src/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.csproj
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/DeveloperExceptionPageExtensions.cs
  src/Middleware/HeaderPropagation/src/DependencyInjection/HeaderPropagationApplicationBuilderExtensions.cs
  src/Middleware/HeaderPropagation/src/DependencyInjection/HeaderPropagationHttpClientBuilderExtensions.cs
  src/Middleware/HeaderPropagation/src/DependencyInjection/HeaderPropagationServiceCollectionExtensions.cs
  src/Middleware/HeaderPropagation/src/HeaderPropagationMiddleware.cs
  src/Middleware/HeaderPropagation/src/Microsoft.AspNetCore.HeaderPropagation.csproj
  src/Middleware/MiddlewareAnalysis/src/AnalysisBuilder.cs
  src/Middleware/MiddlewareAnalysis/src/AnalysisMiddleware.cs
  src/Middleware/MiddlewareAnalysis/src/AnalysisServiceCollectionExtensions.cs
  src/Middleware/MiddlewareAnalysis/src/AnalysisStartupFilter.cs
  src/Middleware/MiddlewareAnalysis/src/Microsoft.AspNetCore.MiddlewareAnalysis.csproj
  src/Middleware/Session/src/DistributedSession.cs
  src/Middleware/Session/src/DistributedSessionStore.cs
  src/Middleware/Session/src/ISessionStore.cs
  src/Middleware/Session/src/Microsoft.AspNetCore.Session.csproj
  src/Middleware/Session/src/SessionFeature.cs
  src/Middleware/SpaServices.Extensions/src/Microsoft.AspNetCore.SpaServices.Extensions.csproj
Labels: area-middleware, tell-mode

#26743 Add table of contents to documentation directory
  docs/PackageArchives.md
  docs/README.md
Labels: area-infrastructure

#26797 !!! Correct condition controlling `public` API analysis !!!
  eng/targets/CSharp.Common.targets
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Server/src/PublicAPI.Unshipped.txt
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/DataProtection/EntityFrameworkCore/src/PublicAPI.Unshipped.txt
  src/FileProviders/Manifest.MSBuildTask/src/PublicAPI.Shipped.txt
  src/FileProviders/Manifest.MSBuildTask/src/PublicAPI.Unshipped.txt
  src/Http/Authentication.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Features/src/PublicAPI.Unshipped.txt
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/JSInterop/Microsoft.JSInterop/src/PublicAPI.Unshipped.txt
  src/Middleware/Diagnostics/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Core/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.RazorPages/src/PublicAPI.Unshipped.txt
  src/ObjectPool/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/Core/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/Negotiate/src/PublicAPI.Unshipped.txt
  src/SignalR/server/Core/src/PublicAPI.Unshipped.txt
Labels: area-infrastructure, tell-mode

#26779 Fix VS crash with malformed tag helpers
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/TagHelperParseTreeRewriter.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/Legacy/TagHelperParseTreeRewriterTest.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/TagHelperParseTreeRewriterTest/RequiredAttributeDescriptorsCreateMalformedTagHelperBlocksCorrectly11.cspans.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/TagHelperParseTreeRewriterTest/RequiredAttributeDescriptorsCreateMalformedTagHelperBlocksCorrectly11.diag.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/TagHelperParseTreeRewriterTest/RequiredAttributeDescriptorsCreateMalformedTagHelperBlocksCorrectly11.stree.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/ParserTests/TagHelperParseTreeRewriterTest/RequiredAttributeDescriptorsCreateMalformedTagHelperBlocksCorrectly11.tspans.txt
Labels: area-mvc

#24983 Update branding to 6.0.0 Alpha1
  Directory.Build.props
  eng/AfterSolutionBuild.targets
  eng/Versions.props
  src/Components/Components/src/Microsoft.AspNetCore.Components.csproj
  src/Components/WebAssembly/DevServer/src/Microsoft.AspNetCore.Components.WebAssembly.DevServer.csproj
  src/Components/WebAssembly/Sdk/testassets/Directory.Build.props
  src/Framework/Directory.Build.props
  src/Framework/test/Microsoft.AspNetCore.App.UnitTests.csproj
  src/Framework/test/SharedFxTests.cs
  src/Framework/test/TargetingPackTests.cs
  src/Framework/test/TestData.cs
  src/Identity/UI/src/Microsoft.AspNetCore.Identity.UI.csproj
  src/Middleware/SpaServices.Extensions/src/Microsoft.AspNetCore.SpaServices.Extensions.csproj
  src/ProjectTemplates/Shared/TemplatePackageInstaller.cs
  src/ProjectTemplates/scripts/Run-Angular-Locally.ps1
  src/ProjectTemplates/scripts/Run-Blazor-Locally.ps1
  src/ProjectTemplates/scripts/Run-EmptyWeb-Locally.ps1
  src/ProjectTemplates/scripts/Run-Razor-Locally.ps1
  src/ProjectTemplates/scripts/Run-React-Locally.ps1
  src/ProjectTemplates/scripts/Run-ReactRedux-Locally.ps1
  src/ProjectTemplates/scripts/Run-Starterweb-Locally.ps1
  src/ProjectTemplates/scripts/Run-Worker-Locally.ps1
  src/ProjectTemplates/test/IdentityUIPackageTest.cs
  src/ProjectTemplates/test/MvcTemplateTest.cs
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
  src/Razor/test/testassets/Directory.Build.props
  src/Servers/Connections.Abstractions/src/Microsoft.AspNetCore.Connections.Abstractions.csproj
  src/SignalR/clients/csharp/Client.Core/src/Microsoft.AspNetCore.SignalR.Client.Core.csproj
Labels: area-infrastructure

#26627 Quarantine flaky test
  src/Servers/Kestrel/test/BindTests/AddressRegistrationTests.cs
Labels: area-servers, tell-mode

#26650 Stabilize package Versions for 5.0.0
  eng/Versions.props
Labels: area-infrastructure, area-platform, tell-mode

#26834 Fix casing in test data in HtmlGenerationWebSite_GeneratesExpectedResults
  src/Mvc/test/Mvc.FunctionalTests/HtmlGenerationTest.cs
Labels: area-mvc, auto-merge

#26852 Remove outdated TODO in ComponentBase
  src/Components/Components/src/ComponentBase.cs
Labels: area-blazor, auto-merge

#26814 Update branding to 3.1.10
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure

#26566 [SignalR] Copy cookies from negotiate to WebSockets (#24572)
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubConnectionTests.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/Startup.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnection.Log.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnection.cs
Labels: Servicing-approved, area-signalr

#26398 [release/3.1] Preserve client order of activity baggage items (#26302)
  src/Hosting/Hosting/src/Internal/HostingApplicationDiagnostics.cs
  src/Hosting/Hosting/test/HostingApplicationDiagnosticsTests.cs
Labels: Servicing-approved, area-hosting

#26328 Fix MaxRequestBodySize in IIS for 3.1
  src/Servers/IIS/IIS/src/Core/IISConfigurationData.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContextOfT.cs
  src/Servers/IIS/IIS/src/IISServerOptions.cs
  src/Servers/IIS/IIS/src/WebHostBuilderIISExtensions.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/MaxRequestBodySizeTests.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
Labels: Servicing-approved, area-servers

#26157 [release/3.1] Include commit SHA in `[AssemblyInformationalVersion]` value
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#26146 Include all .xml files in targeting pack
  Directory.Build.props
  eng/Versions.props
  src/Framework/App.Ref/src/Microsoft.AspNetCore.App.Ref.csproj
Labels: area-platform, tell-mode

#26065 [release/3.1] Generate non-stable version for installer
  src/Installers/Windows/SharedFrameworkBundle/Bundle.wxs
  src/Installers/Windows/WindowsHostingBundle/Bundle.wxs
  src/Installers/Windows/Wix.targets
Labels: area-installers, tell-mode

#26825 Fix baseline templates tests
  src/ProjectTemplates/test/BaselineTest.cs
  src/ProjectTemplates/test/template-baselines.json
Labels: area-mvc, auto-merge

#26848 [Blazor] Missing IAsyncDisposable implementation on renderer
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Components/test/RendererTest.cs
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHost.cs
Labels: Servicing-approved, area-blazor, ask-mode

#26254 [release/3.1] Allow BaselineGenerator to build after updating version
  eng/targets/Packaging.targets
Labels: area-infrastructure, tell-mode

#26644 Improve control stream handling with HTTP/3
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3ControlStream.cs
Labels: area-servers

#26769 Fix 16840: Navigate to special URLs without throwing errors
  src/Components/Server/src/ComponentHub.cs
  src/Components/test/E2ETest/Tests/RoutingTest.cs
Labels: area-blazor, community-contribution

#26506 [release/5.0] Fix some post-build signing issues
  .azure/pipelines/ci.yml
  eng/AfterSigning.targets
  eng/Publishing.props
  eng/Signing.props
  eng/targets/Cpp.Common.targets
  eng/targets/Wix.Common.targets
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMIISExpressV2/AncmIISExpressV2.wixproj
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMV2/AncmV2.wixproj
  src/Installers/Windows/SharedFrameworkLib/SharedFrameworkLib.wixproj
  src/Installers/Windows/Wix.props
  src/Installers/Windows/Wix.targets
Labels: area-infrastructure

#26889 XML docs for Middleware: Localization, Localization.Routing, ResponseCompression
  src/Middleware/Localization.Routing/src/Microsoft.AspNetCore.Localization.Routing.csproj
  src/Middleware/Localization/src/ApplicationBuilderExtensions.cs
  src/Middleware/Localization/src/Microsoft.AspNetCore.Localization.csproj
  src/Middleware/Localization/src/RequestLocalizationServiceCollectionExtensions.cs
  src/Middleware/ResponseCompression/src/BrotliCompressionProvider.cs
  src/Middleware/ResponseCompression/src/GzipCompressionProvider.cs
  src/Middleware/ResponseCompression/src/IResponseCompressionProvider.cs
  src/Middleware/ResponseCompression/src/Microsoft.AspNetCore.ResponseCompression.csproj
  src/Middleware/ResponseCompression/src/ResponseCompressionMiddleware.cs
  src/Middleware/ResponseCompression/src/ResponseCompressionProvider.cs
  src/Middleware/ResponseCompression/src/ResponseCompressionServicesExtensions.cs
Labels: area-middleware, tell-mode

#26840 Fix some issues causing aspnetcore-helix-matrix failures
  eng/targets/Helix.Common.props
  src/DataProtection/Extensions/test/DataProtectionProviderTests.cs
  src/Security/Authentication/Negotiate/test/Negotiate.FunctionalTest/NegotiateHandlerFunctionalTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/RequestResponseTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/EventSourceTests.cs
Labels: area-infrastructure

#26827 Add docs for remaining security items
  src/Security/Authentication/Certificate/src/CertificateAuthenticationExtensions.cs
  src/Security/Authentication/Facebook/src/FacebookDefaults.cs
  src/Security/Authentication/Facebook/src/FacebookExtensions.cs
  src/Security/Authentication/Facebook/src/FacebookHandler.cs
  src/Security/Authentication/Facebook/src/FacebookOptions.cs
  src/Security/Authentication/Facebook/src/Microsoft.AspNetCore.Authentication.Facebook.csproj
  src/Security/Authentication/Google/src/GoogleChallengeProperties.cs
  src/Security/Authentication/Google/src/GoogleDefaults.cs
  src/Security/Authentication/Google/src/GoogleExtensions.cs
  src/Security/Authentication/Google/src/GoogleHandler.cs
  src/Security/Authentication/Google/src/GoogleOptions.cs
  src/Security/Authentication/Google/src/Microsoft.AspNetCore.Authentication.Google.csproj
  src/Security/Authentication/MicrosoftAccount/src/Microsoft.AspNetCore.Authentication.MicrosoftAccount.csproj
  src/Security/Authentication/MicrosoftAccount/src/MicrosoftAccountDefaults.cs
  src/Security/Authentication/MicrosoftAccount/src/MicrosoftAccountExtensions.cs
  src/Security/Authentication/MicrosoftAccount/src/MicrosoftAccountHandler.cs
  src/Security/Authentication/MicrosoftAccount/src/MicrosoftChallengeProperties.cs
  src/Security/Authorization/Core/src/AssertionRequirement.cs
  src/Security/Authorization/Core/src/AuthorizationPolicyBuilder.cs
  src/Security/Authorization/Core/src/AuthorizationResult.cs
  src/Security/Authorization/Core/src/ClaimsAuthorizationRequirement.cs
  src/Security/Authorization/Core/src/DefaultAuthorizationHandlerProvider.cs
  src/Security/Authorization/Core/src/DenyAnonymousAuthorizationRequirement.cs
  src/Security/Authorization/Core/src/Microsoft.AspNetCore.Authorization.csproj
  src/Security/Authorization/Core/src/NameAuthorizationRequirement.cs
  src/Security/Authorization/Core/src/OperationAuthorizationRequirement.cs
  src/Security/Authorization/Core/src/RolesAuthorizationRequirement.cs
  src/Security/Authorization/Policy/src/AuthorizationAppBuilderExtensions.cs
  src/Security/Authorization/Policy/src/AuthorizationEndpointConventionBuilderExtensions.cs
  src/Security/Authorization/Policy/src/AuthorizationMiddleware.cs
  src/Security/Authorization/Policy/src/AuthorizationMiddlewareResultHandler.cs
  src/Security/Authorization/Policy/src/IAuthorizationMiddlewareResultHandler.cs
  src/Security/Authorization/Policy/src/Microsoft.AspNetCore.Authorization.Policy.csproj
  src/Security/Authorization/Policy/src/PolicyAuthorizationResult.cs
  src/Security/Authorization/Policy/src/PolicyEvaluator.cs
  src/Security/Authorization/Policy/src/PolicyServiceCollectionExtensions.cs
Labels: area-security, tell-mode

#26891 [Blazor] CSS isolation fix UpToDateCheck in Visual Studio
  src/Razor/Microsoft.NET.Sdk.Razor/src/build/netstandard2.0/Microsoft.NET.Sdk.Razor.ScopedCss.targets
Labels: Servicing-approved, area-mvc, ask-mode

#26912 Re-enable assertion for pdbs during WASM publish
  src/Components/WebAssembly/Sdk/integrationtests/WasmPublishIntegrationTest.cs
Labels: area-blazor, tell-mode

#26652 Update Microsoft.Identity.Web packages to pick up bugfixes
  eng/Versions.props
Labels: Servicing-approved, area-infrastructure

#26894 Revert "Disconnect circuit on 'beforeunload' event" (#26297)
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/src/Boot.Server.ts
  src/Components/test/E2ETest/ServerExecutionTests/CircuitGracefulTerminationTests.cs
  src/Components/test/testassets/BasicTestApp/GracefulTermination.razor
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/TestServer/Controllers/DownloadController.cs
  src/Components/test/testassets/TestServer/ServerStartup.cs
Labels: Servicing-approved, area-blazor

#26938 Obsolete ResponseMode in MicrosoftChallengeProperties
  src/Security/Authentication/MicrosoftAccount/src/MicrosoftAccountHandler.cs
  src/Security/Authentication/MicrosoftAccount/src/MicrosoftChallengeProperties.cs
  src/Security/Authentication/test/MicrosoftAccountTests.cs
Labels: area-security, auto-merge

#26910 Use latest chrome in Blazor benchmarks
  src/Components/benchmarkapps/Wasm.Performance/dockerfile
  src/Components/benchmarkapps/Wasm.Performance/local.dockerfile
Labels: area-blazor

#26575 Rearrange health check log messages to bring status forward
  src/HealthChecks/HealthChecks/src/DefaultHealthCheckService.cs
Labels: area-healthchecks, community-contribution

#26933 Make Virtualize recover from having incorrect ItemSize info. Fixes #25915
  src/Components/Web/src/Virtualization/Virtualize.cs
  src/Components/test/E2ETest/Tests/VirtualizationTest.cs
  src/Components/test/testassets/BasicTestApp/VirtualizationComponent.razor
Labels: Servicing-approved, area-blazor

#26931 Ensure ReadRequest type can be loaded on server. Fixes #26882
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/InputFile.ts
  src/Components/Web/src/Forms/InputFile/ReadRequest.cs
  src/Components/Web/test/Forms/InputFileChangeEventArgsTest.cs
Labels: Servicing-approved, area-blazor

#25744 fix SequrityStampNotEquals typo
  src/Identity/Core/src/DataProtectorTokenProvider.cs
  src/Identity/Core/src/LoggingExtensions.cs
Labels: area-identity, auto-merge, community-contribution

#26962 Unquarantine temp cookie tests
  src/Mvc/test/Mvc.FunctionalTests/TempDataInCookiesUsingCookieConsentTest.cs
Labels: area-mvc

#26972 Update SiteExtensions package version
  eng/Versions.props
Labels: area-infrastructure

#26914 Prevent WebSockets from throwing during graceful shutdown
  src/Servers/Kestrel/Core/src/Internal/Http/Http1UpgradeMessageBody.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/UpgradeTests.cs
Labels: Servicing-approved, area-servers, servers-kestrel

#26948 Update branding to 2.1.24
  build/dependencies.props
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/PatchConfig.props
  src/PackageArchive/Archive.CiServer.Patch.Compat/ArchiveBaseline.2.1.23.txt
  src/PackageArchive/Archive.CiServer.Patch/ArchiveBaseline.2.1.23.txt
  version.props
Labels: area-infrastructure, tell-mode

#26961 Unquarantine 2 build and publish template tests
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorServerTemplateTest.cs
  src/ProjectTemplates/test/MvcTemplateTest.cs
Labels: area-mvc

#27011 Move PackageOverrides.txt out of project folder
  src/Framework/App.Ref/src/Microsoft.AspNetCore.App.Ref.csproj
Labels: area-infrastructure, area-platform

#26904 Add additional validation for Virtualization test
  src/Components/test/E2ETest/Tests/VirtualizationTest.cs
  src/Components/test/testassets/BasicTestApp/VirtualizationComponent.razor
Labels: area-blazor, auto-merge

#27026 Remove unused SignInManager.CreateIdentity
  src/Identity/Core/src/SignInManager.cs
Labels: area-identity

#27010 Use `--ci` for both source-build builds
  eng/scripts/ci-source-build.sh
Labels: area-infrastructure

#27043 Use EphemeralDataProtection for identity tests
  src/Identity/Specification.Tests/src/IdentitySpecificationTestBase.cs
  src/Identity/Specification.Tests/src/UserManagerSpecificationTests.cs
Labels: area-identity

#26204 [Java] Fix concurrent access to TestLogger
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/TestLogger.java
Labels: area-signalr

#27056 Do not add empty `Cookie` header
  src/Mvc/Mvc.Testing/src/Handlers/CookieContainerHandler.cs
Labels: area-mvc

#27069 Simplify GetString() call
  src/Localization/Localization/src/ResourceManagerStringLocalizer.cs
Labels: 6.0-candidate

#27057 [Kestrel] Add missing XML docs to public APIs
  src/Servers/Connections.Abstractions/src/BaseConnectionContext.cs
  src/Servers/Connections.Abstractions/src/ConnectionBuilder.cs
  src/Servers/Connections.Abstractions/src/ConnectionBuilderExtensions.cs
  src/Servers/Connections.Abstractions/src/ConnectionItems.cs
  src/Servers/Connections.Abstractions/src/DefaultConnectionContext.cs
  src/Servers/Connections.Abstractions/src/Exceptions/AddressInUseException.cs
  src/Servers/Connections.Abstractions/src/Exceptions/ConnectionAbortedException.cs
  src/Servers/Connections.Abstractions/src/Exceptions/ConnectionResetException.cs
  src/Servers/Connections.Abstractions/src/Features/IConnectionEndpointFeature.cs
  src/Servers/Connections.Abstractions/src/Features/IConnectionHeartbeatFeature.cs
  src/Servers/Connections.Abstractions/src/Features/IConnectionIdFeature.cs
  src/Servers/Connections.Abstractions/src/Features/IConnectionInherentKeepAliveFeature.cs
  src/Servers/Connections.Abstractions/src/Features/IConnectionItemsFeature.cs
  src/Servers/Connections.Abstractions/src/Features/IConnectionLifetimeFeature.cs
  src/Servers/Connections.Abstractions/src/Features/IConnectionLifetimeNotificationFeature.cs
  src/Servers/Connections.Abstractions/src/Features/IConnectionTransportFeature.cs
  src/Servers/Connections.Abstractions/src/Features/IConnectionUserFeature.cs
  src/Servers/Connections.Abstractions/src/Features/IMemoryPoolFeature.cs
  src/Servers/Connections.Abstractions/src/Features/IProtocolErrorCodeFeature.cs
  src/Servers/Connections.Abstractions/src/Features/IStreamDirectionFeature.cs
  src/Servers/Connections.Abstractions/src/Features/IStreamIdFeature.cs
  src/Servers/Connections.Abstractions/src/Features/ITlsHandshakeFeature.cs
  src/Servers/Connections.Abstractions/src/Features/ITransferFormatFeature.cs
  src/Servers/Connections.Abstractions/src/FileHandleEndPoint.cs
  src/Servers/Connections.Abstractions/src/TransferFormat.cs
  src/Servers/Kestrel/Core/src/BadHttpRequestException.cs
  src/Servers/Kestrel/Core/src/CertificateLoader.cs
  src/Servers/Kestrel/Core/src/EndpointConfiguration.cs
  src/Servers/Kestrel/Core/src/Features/IHttp2StreamIdFeature.cs
  src/Servers/Kestrel/Core/src/Features/ITlsApplicationProtocolFeature.cs
  src/Servers/Kestrel/Core/src/Http3Limits.cs
  src/Servers/Kestrel/Core/src/HttpProtocols.cs
  src/Servers/Kestrel/Core/src/KestrelConfigurationLoader.cs
  src/Servers/Kestrel/Core/src/KestrelServer.cs
  src/Servers/Kestrel/Core/src/KestrelServerLimits.cs
  src/Servers/Kestrel/Core/src/ListenOptions.cs
  src/Servers/Kestrel/Core/src/Middleware/ListenOptionsConnectionLoggingExtensions.cs
  src/Servers/Kestrel/Core/src/MinDataRate.cs
  src/Servers/Kestrel/Core/src/Systemd/KestrelServerOptionsSystemdExtensions.cs
  src/Servers/Kestrel/Kestrel/src/WebHostBuilderKestrelExtensions.cs
  src/Servers/Kestrel/Transport.Libuv/src/WebHostBuilderLibuvExtensions.cs
  src/Servers/Kestrel/Transport.Quic/src/QuicTransportOptions.cs
  src/Servers/Kestrel/Transport.Quic/src/WebHostBuilderMsQuicExtensions.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketTransportFactory.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketTransportOptions.cs
Labels: area-servers

#26774 fix: replace ToLower with ToLowerInvariant
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Managed/PseudoLoc/PseudoLocalizer.cs
  src/Mvc/benchmarkapps/BasicApi/Startup.cs
  src/Mvc/benchmarkapps/BasicViews/Startup.cs
Labels: area-mvc, area-security, area-servers

#27094 Allow dumps to be captured for SDK integration tests
  eng/QuarantinedTests.BeforeArcade.props
  eng/Workarounds.props
  src/Components/WebAssembly/Sdk/integrationtests/Directory.Build.props
  src/Components/WebAssembly/Sdk/integrationtests/WasmBuildIntegrationTest.cs
  src/Components/WebAssembly/Sdk/integrationtests/WasmBuildLazyLoadTest.cs
  src/Components/WebAssembly/Sdk/integrationtests/WasmCompressionTests.cs
  src/Components/WebAssembly/Sdk/integrationtests/WasmPublishIntegrationTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/Directory.Build.props
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/Microsoft.NET.Sdk.Razor.IntegrationTests.csproj
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/MvcBuildIntegrationTest21.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/MvcBuildIntegrationTestLegacy.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/StaticWebAssetsIntegrationTest.cs
  src/Shared/MSBuild.Testing/MSBuildProcessManager.cs
Labels: area-mvc

#27091 Spelling mistake in doc comment
  src/SignalR/clients/csharp/Client.Core/src/IRetryPolicy.cs
Labels: area-signalr

#26991 Update TFM workaround to reference 5.0 instead of 3.1
  eng/Workarounds.targets
Labels: area-infrastructure

#27108 Fix WriteAsJsonAsync docs
  src/Http/Http.Extensions/src/HttpResponseJsonExtensions.cs
Labels: area-servers

#26615 Add more mvc/view features API docs
  src/Mvc/Mvc.ViewFeatures/src/AntiforgeryExtensions.cs
  src/Mvc/Mvc.ViewFeatures/src/CookieTempDataProvider.cs
  src/Mvc/Mvc.ViewFeatures/src/DefaultHtmlGenerator.cs
  src/Mvc/Mvc.ViewFeatures/src/DefaultHtmlGeneratorExtensions.cs
  src/Mvc/Mvc.ViewFeatures/src/DependencyInjection/MvcViewFeaturesMvcCoreBuilderExtensions.cs
  src/Mvc/Mvc.ViewFeatures/src/Diagnostics/MvcDiagnostics.cs
  src/Mvc/Mvc.ViewFeatures/src/HtmlHelper.cs
  src/Mvc/Mvc.ViewFeatures/src/HtmlHelperOfT.cs
  src/Mvc/Mvc.ViewFeatures/src/IHtmlGenerator.cs
  src/Mvc/Mvc.ViewFeatures/src/InputType.cs
  src/Mvc/Mvc.ViewFeatures/src/Microsoft.AspNetCore.Mvc.ViewFeatures.csproj
  src/Mvc/Mvc.ViewFeatures/src/RemoteAttributeBase.cs
  src/Mvc/Mvc.ViewFeatures/src/Rendering/FormMethod.cs
  src/Mvc/Mvc.ViewFeatures/src/Rendering/MultiSelectList.cs
  src/Mvc/Mvc.ViewFeatures/src/Rendering/SelectList.cs
  src/Mvc/Mvc.ViewFeatures/src/Rendering/TagBuilder.cs
  src/Mvc/Mvc.ViewFeatures/src/Rendering/TagRenderMode.cs
  src/Mvc/Mvc.ViewFeatures/src/Rendering/ViewContext.cs
  src/Mvc/Mvc.ViewFeatures/src/SaveTempDataAttribute.cs
  src/Mvc/Mvc.ViewFeatures/src/SessionStateTempDataProvider.cs
  src/Mvc/Mvc.ViewFeatures/src/TempDataDictionary.cs
  src/Mvc/Mvc.ViewFeatures/src/TemplateInfo.cs
  src/Mvc/Mvc.ViewFeatures/src/TryGetValueDelegate.cs
  src/Mvc/Mvc.ViewFeatures/src/TryGetValueProvider.cs
  src/Mvc/Mvc.ViewFeatures/src/ViewComponent.cs
  src/Mvc/Mvc.ViewFeatures/src/ViewComponentResultExecutor.cs
  src/Mvc/Mvc.ViewFeatures/src/ViewComponents/IViewComponentInvokerFactory.cs
  src/Mvc/Mvc.ViewFeatures/src/ViewComponents/ViewComponentConventions.cs
  src/Mvc/Mvc.ViewFeatures/src/ViewDataDictionary.cs
  src/Mvc/Mvc.ViewFeatures/src/ViewDataDictionaryControllerPropertyActivator.cs
  src/Mvc/Mvc.ViewFeatures/src/ViewDataDictionaryOfT.cs
  src/Mvc/Mvc.ViewFeatures/src/ViewDataEvaluator.cs
  src/Mvc/Mvc.ViewFeatures/src/ViewDataInfo.cs
  src/Mvc/Mvc.ViewFeatures/src/ViewEngines/ViewEngineResult.cs
  src/Mvc/Mvc/src/Microsoft.AspNetCore.Mvc.csproj
Labels: area-mvc, auto-merge

#26983 Fix null ref in UrlGroup.Dispose due to logger not set
  src/Servers/HttpSys/src/NativeInterop/RequestQueue.cs
  src/Servers/HttpSys/src/NativeInterop/UrlGroup.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.cs
Labels: area-servers, auto-merge

#26098 Add nullability to remaining middleware
  src/Http/Http.Abstractions/src/PathString.cs
  src/Http/Http.Features/src/ISession.cs
  src/Http/Http.Features/src/PublicAPI.Unshipped.txt
  src/Middleware/ResponseCompression/src/IResponseCompressionProvider.cs
  src/Middleware/ResponseCompression/src/Microsoft.AspNetCore.ResponseCompression.csproj
  src/Middleware/ResponseCompression/src/PublicAPI.Unshipped.txt
  src/Middleware/ResponseCompression/src/ResponseCompressionBody.cs
  src/Middleware/ResponseCompression/src/ResponseCompressionLoggingExtensions.cs
  src/Middleware/ResponseCompression/src/ResponseCompressionOptions.cs
  src/Middleware/ResponseCompression/src/ResponseCompressionProvider.cs
  src/Middleware/Rewrite/src/ApacheModRewriteOptionsExtensions.cs
  src/Middleware/Rewrite/src/IISUrlRewriteOptionsExtensions.cs
  src/Middleware/Rewrite/src/IRule.cs
  src/Middleware/Rewrite/src/PublicAPI.Unshipped.txt
  src/Middleware/Rewrite/src/RewriteBuilderExtensions.cs
  src/Middleware/Rewrite/src/RewriteContext.cs
  src/Middleware/Rewrite/src/RewriteMiddleware.cs
  src/Middleware/Rewrite/src/RewriteOptions.cs
  src/Middleware/Rewrite/src/RewriteOptionsExtensions.cs
  src/Middleware/Session/src/CookieProtection.cs
  src/Middleware/Session/src/DefaultDistributedSessionStore.cs
  src/Middleware/Session/src/DistributedSession.cs
  src/Middleware/Session/src/EncodedKey.cs
  src/Middleware/Session/src/IDistributedSessionStore.cs
  src/Middleware/Session/src/LoggingExtensions.cs
  src/Middleware/Session/src/Microsoft.AspNetCore.Session.csproj
  src/Middleware/Session/src/NoOpSessionStore.cs
  src/Middleware/Session/src/PublicAPI.Unshipped.txt
  src/Middleware/Session/src/SessionFeature.cs
  src/Middleware/Session/src/SessionMiddleware.cs
  src/Middleware/Session/test/SessionTests.cs
  src/Middleware/StaticFiles/src/DirectoryBrowserOptions.cs
  src/Middleware/StaticFiles/src/FileExtensionContentTypeProvider.cs
  src/Middleware/StaticFiles/src/Helpers.cs
  src/Middleware/StaticFiles/src/HtmlDirectoryFormatter.cs
  src/Middleware/StaticFiles/src/IContentTypeProvider.cs
  src/Middleware/StaticFiles/src/Infrastructure/SharedOptions.cs
  src/Middleware/StaticFiles/src/LoggerExtensions.cs
  src/Middleware/StaticFiles/src/Microsoft.AspNetCore.StaticFiles.csproj
  src/Middleware/StaticFiles/src/PublicAPI.Unshipped.txt
  src/Middleware/StaticFiles/src/StaticFileContext.cs
  src/Middleware/StaticFiles/src/StaticFileMiddleware.cs
  src/Middleware/StaticFiles/src/StaticFileOptions.cs
  src/Middleware/StaticFiles/src/StaticFileResponseContext.cs
  src/Middleware/StaticFiles/src/StaticFilesEndpointRouteBuilderExtensions.cs
  src/Middleware/WebSockets/src/ExtendedWebSocketAcceptContext.cs
  src/Middleware/WebSockets/src/HandshakeHelpers.cs
  src/Middleware/WebSockets/src/Microsoft.AspNetCore.WebSockets.csproj
  src/Middleware/WebSockets/src/PublicAPI.Unshipped.txt
  src/Middleware/WebSockets/src/WebSocketMiddleware.cs
  src/Middleware/WebSockets/src/WebSocketsDependencyInjectionExtensions.cs
  src/Shared/RangeHelper/RangeHelper.cs
Labels: area-middleware

#27114 Fix E2E test use of logs
  src/Components/WebAssembly/testassets/HostedInAspNet.Client/wwwroot/index.html
  src/Components/WebAssembly/testassets/HostedInAspNet.Client/wwwroot/seleniumworkaround.js
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/wwwroot/index.html
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/wwwroot/seleniumworkaround.js
  src/Components/test/E2ETest/ServerExecutionTests/MultipleRootComponentsTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/ServerReconnectionTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyAuthenticationTests.cs
  src/Components/test/E2ETest/Tests/WebAssemblyICUShardingTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyLazyLoadTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyLoggingTest.cs
  src/Components/test/testassets/BasicTestApp/wwwroot/index.html
  src/Components/test/testassets/BasicTestApp/wwwroot/js/seleniumworkaround.js
  src/Components/test/testassets/TestServer/Pages/PrerenderedHost.cshtml
  src/Components/test/testassets/TestServer/Pages/_ServerHost.cshtml
  src/Shared/E2ETesting/BrowserFixture.cs
  src/Shared/E2ETesting/WaitAssert.cs
Labels: area-mvc

#27116 Extend timeout for BootResourceCachingTest
  src/Components/test/E2ETest/Tests/BootResourceCachingTest.cs
Labels: area-blazor

#25427 remove unused oidc-client import WebStorageStateStore
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/api-authorization/authorize.service.ts
Labels: area-mvc, community-contribution

#27123 Prevent WebSockets from throwing during graceful shutdown
  src/Servers/Kestrel/Core/src/Internal/Http/Http1UpgradeMessageBody.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/UpgradeTests.cs
Labels: Servicing-consider, area-servers, servers-kestrel

#24839 Fix invalid path in CODEOWNERS
  .github/CODEOWNERS
Labels: area-infrastructure, community-contribution

#27079 Correct bundle upgrade behavior for 2.1
  src/Installers/Windows/SharedFrameworkBundle/Bundle.wxs
  src/Installers/Windows/SharedFrameworkBundle/Product.props
  src/Installers/Windows/WindowsHostingBundle/Bundle.wxs
  src/Installers/Windows/WindowsHostingBundle/Product.props
  src/Installers/Windows/Wix.props
  src/Installers/Windows/Wix.targets
Labels: area-installers

#27172 Unquarantined Http/2 interop tests
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
Labels: area-servers, auto-merge

#27177 Revert "[master] Update dependencies from dotnet/arcade (#27034)"
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/SetupNugetSources.sh
  eng/common/cross/build-rootfs.sh
  eng/common/cross/toolchain.cmake
  eng/common/performance/crossgen_perf.proj
  eng/common/performance/performance-setup.sh
  eng/common/post-build/sourcelink-validation.ps1
  eng/common/templates/job/job.yml
  eng/common/templates/post-build/common-variables.yml
  eng/common/templates/post-build/post-build.yml
  eng/common/tools.ps1
  global.json
Labels: area-infrastructure, auto-merge

#27160 Quarantine tests
  src/Components/test/E2ETest/Tests/GlobalizationTest.cs
  src/Components/test/E2ETest/Tests/SignalRClientTest.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/Extensions/DefaultTagHelperOptimizationPassTest.cs
  src/Servers/Kestrel/test/FunctionalTests/RequestTests.cs
Labels: area-infrastructure, auto-merge

#27107 Enable debugging when using embedded PDBs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Platform/Mono/MonoDebugger.ts
Labels: area-blazor, auto-merge

#27179 Quarantine CheckStdoutWithLargeWrites_TestSink
  src/Servers/IIS/IIS/test/Common.FunctionalTests/StartupTests.cs
Labels: area-servers

#27184 Skip TlsHandshakeRejectsTlsLessThan12 on linux
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/TlsTests.cs
Labels: area-servers, auto-merge

#27255 Unflake CheckOversizedStdErrWrites in IIS
  src/Servers/IIS/IIS/test/Common.FunctionalTests/StartupTests.cs
Labels: area-servers

#27261 Automatically assign `design-proposal` label to these issues
  .github/ISSUE_TEMPLATE/design_proposal.md
Labels: auto-merge

#27256 IdentityUI - add aria-required to inputs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/ForgotPassword.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Login.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/ChangePassword.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/DeletePersonalData.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/Email.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Register.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/ResendEmailConfirmation.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/ResetPassword.cshtml
Labels: area-identity

#27264 Add initial support for Apple Silicon
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
  Directory.Build.props
  eng/Dependencies.props
Labels: auto-merge

#27282 Remove redundant DefineConstants from Bundles
  src/Installers/Windows/SharedFrameworkBundle/Product.props
  src/Installers/Windows/WindowsHostingBundle/Product.props
Labels: area-installers, tell-mode

#27186 Add Json.NET to THIRD-PARTY-NOTICES.txt
  THIRD-PARTY-NOTICES.txt
Labels: area-infrastructure

#26823 Reenable individual auth tests
  src/ProjectTemplates/test/IdentityUIPackageTest.cs
  src/ProjectTemplates/test/MvcTemplateTest.cs
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
Labels: area-mvc

#27104 Ignore anchor tag with the download attribute when intercepting click…
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Services/NavigationManager.ts
  src/Components/test/E2ETest/Tests/DownloadAnchorTest.cs
  src/Components/test/testassets/BasicTestApp/RouterTest/Links.razor
  src/Components/test/testassets/TestServer/ResourceRequestLog.cs
  src/Components/test/testassets/TestServer/ServerStartup.cs
Labels: area-blazor, auto-merge, community-contribution

#27238 Log more to test logger in HTTP/2 Kestrel tests
  src/Servers/Kestrel/shared/test/TestApplicationErrorLoggerLoggedTest.cs
  src/Servers/Kestrel/test/BindTests/AddressRegistrationTests.cs
  src/Servers/Kestrel/test/FunctionalTests/Http2/ShutdownTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ConnectionMiddlewareTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpProtocolSelectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseDrainingTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseTests.cs
Labels: area-servers

#27294 Cleanup some Kestrel tests
  src/Servers/Kestrel/test/FunctionalTests/RequestTests.cs
Labels: area-servers

#27262 Add test automation for Alpine
  eng/targets/Helix.Common.props
  eng/targets/Helix.targets
  src/ProjectTemplates/test/GrpcTemplateTest.cs
  src/Servers/Kestrel/Transport.Libuv/test/Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv.Tests.csproj
  src/Servers/Kestrel/test/Interop.FunctionalTests/Interop.FunctionalTests.csproj
  src/SignalR/clients/java/signalr/test/signalr.client.java.Tests.javaproj
  src/Testing/src/xunit/SkipOnHelixAttribute.cs
Labels: area-infrastructure

#27274 Update http2 tests for new windows changes
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Http2Tests.cs
Labels: area-servers

#27355 Unquarantine fixed tests
  src/Middleware/Diagnostics/test/UnitTests/ExceptionHandlerTest.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseTests.cs
Labels: auto-merge

#27309 Handle object disposed race on shutdown in IIS
  src/Servers/IIS/IIS/src/Core/IISNativeApplication.cs
Labels: area-servers

#27201 Normalize all the line endings
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/appsettings.Development.json
Labels: area-mvc, community-contribution, pr: pending author input

#27320 Switch to Windows.10.Arm64v8.Open Helix queue
  .azure/pipelines/helix-matrix.yml
  .azure/pipelines/quarantined-tests.yml
  eng/targets/Helix.Common.props
  src/DataProtection/Extensions/test/DataProtectionProviderTests.cs
  src/Servers/Kestrel/test/Libuv.BindTests/Libuv.BindTests.csproj
  src/Servers/Kestrel/test/Libuv.FunctionalTests/Libuv.FunctionalTests.csproj
  src/Tools/dotnet-watch/test/AppWithDepsTests.cs
  src/Tools/dotnet-watch/test/DotNetWatcherTests.cs
  src/Tools/dotnet-watch/test/NoDepsAppTests.cs
Labels: area-infrastructure
