Repository dotnet/aspnetcore, pull requests merged in 2021-03, with the labels that each got.

#30251 Remove dependency on System.Console in Blazor WASM app
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyConsoleLogger.cs
Labels: area-blazor

#30481 Add an application part factory for an assembly that contains controllers and views.
  src/Mvc/Mvc.Razor/src/ApplicationParts/ConsolidatedAssemblyApplicationPartFactory.cs
  src/Mvc/Mvc.Razor/src/PublicAPI.Unshipped.txt
Labels: api-approved, area-mvc

#30556 Add new "MapAction" overloads
  src/Http/Routing/src/Builder/MapActionEndpointConventionBuilder.cs
  src/Http/Routing/src/Builder/MapActionEndpointRouteBuilderExtensions.cs
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/test/FunctionalTests/MapActionTest.cs
  src/Http/Routing/test/UnitTests/Builder/MapActionEndpointRouteBuilderExtensionsTest.cs
  src/Http/Routing/test/UnitTests/Internal/MapActionExpressionTreeBuilderTest.cs
  src/Http/Routing/test/UnitTests/TestObjects/CustomRouteMetadataAttribute.cs
Labels: area-mvc, auto-merge, feature-map-action

#30571 React to runtimes master->main branch change
  .github/workflows/runtime-sync.yml
Labels: auto-merge

#30563 Remove MapAction overload
  src/Http/Routing/samples/MapActionSample/Startup.cs
  src/Http/Routing/src/Builder/MapActionEndpointRouteBuilderExtensions.cs
  src/Http/Routing/src/IRouteOrderMetadata.cs
  src/Http/Routing/src/IRoutePatternMetadata.cs
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/test/FunctionalTests/MapActionTest.cs
  src/Http/Routing/test/UnitTests/Builder/MapActionEndpointRouteBuilderExtensionsTest.cs
  src/Http/Routing/test/UnitTests/Builder/MapEndpointEndpointDataSourceBuilderExtensionsTest.cs
  src/Http/Routing/test/UnitTests/TestObjects/CustomRouteMetadataAttribute.cs
  src/Mvc/Mvc.Core/src/AcceptVerbsAttribute.cs
  src/Mvc/Mvc.Core/src/Routing/HttpMethodAttribute.cs
  src/Mvc/Mvc.Core/src/Routing/IRouteTemplateProvider.cs
Labels: area-mvc

#30540 Log as Information when failing to bind on localhost for Kestrel.
  src/Servers/Kestrel/Core/src/LocalhostListenOptions.cs
Labels: area-servers, community-contribution

#30574 [Java] Fix skip negotiate null ref
  src/SignalR/build.cmd
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/HttpHubConnectionBuilder.java
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/HubConnectionTest.java
Labels: area-signalr, signalr-client-java

#30560 Use IAssemblySymbol for tag helper discovery
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/ViewComponentTagHelperDescriptorProvider.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/src/BindTagHelperDescriptorProvider.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/src/ComponentTagHelperDescriptorProvider.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/src/DefaultTagHelperDescriptorProvider.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/src/EventHandlerTagHelperDescriptorProvider.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/src/KeyTagHelperDescriptorProvider.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/src/RefTagHelperDescriptorProvider.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/src/SplatTagHelperDescriptorProvider.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/src/TagHelperTargetAssemblyExtensions.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/test/ComponentTagHelperDescriptorProviderTest.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/test/DefaultTagHelperDescriptorProviderTest.cs
Labels: area-mvc, area-razor.compiler

#30576 Update selenium version
  eng/Dependencies.props
  eng/Versions.props
  src/Shared/E2ETesting/selenium-config.json
Labels: area-infrastructure, auto-merge

#30463 Enable ARM64 installers build. (#25579)
  .azure/pipelines/ci.yml
  Directory.Build.props
  Directory.Build.targets
  eng/Build.props
  eng/Versions.props
  src/Installers/Windows/SharedFramework/Product.wxs
  src/Installers/Windows/SharedFramework/SharedFramework.wixproj
  src/Installers/Windows/SharedFrameworkBundle/Bundle.wxs
  src/Installers/Windows/SharedFrameworkBundle/SharedFrameworkBundle.wixproj
  src/Installers/Windows/SharedFrameworkLib/Library.wxs
  src/Installers/Windows/TargetingPack/Product.wxs
  src/Installers/Windows/TargetingPack/TargetingPack.wixproj
  src/Installers/Windows/Wix.targets
Labels: area-infrastructure, tell-mode

#30604 Run SetupPrivateFeedCredentials in win-arm64 job
  .azure/pipelines/ci.yml
Labels: area-infrastructure, tell-mode

#30189 Use cached ReasonPhrase for default values
  src/Servers/Kestrel/Core/src/Internal/Http/ReasonPhrases.cs
  src/Servers/Kestrel/Core/test/ReasonPhrasesTests.cs
Labels: area-servers, auto-merge, community-contribution

#30634 Move artifacts block to bottom of win-arm64 leg
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#30113 Playwright + helix
  eng/helix/content/RunTests/Program.cs
  eng/helix/content/RunTests/RunTests.csproj
  eng/helix/content/RunTests/RunTestsOptions.cs
  eng/helix/content/RunTests/TestRunner.cs
  eng/helix/content/installPlaywrightReqs.ps1
  eng/helix/content/runtests.ps1
  eng/helix/content/runtests.sh
  eng/targets/Helix.Common.props
  eng/targets/Helix.targets
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorServerTemplateTest.cs
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorTemplates.Tests.csproj
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorWasmTemplateTest.cs
  src/ProjectTemplates/Shared/Project.cs
  src/Servers/IIS/IIS/test/Directory.Build.props
  src/Shared/BrowserTesting/src/BrowserManager.cs
  src/Shared/BrowserTesting/src/PageInformation.cs
Labels: area-mvc, auto-merge

#30509 Respect user set Type for client errors via ProducesResponseType
  src/Mvc/Mvc.ApiExplorer/src/ApiResponseTypeProvider.cs
  src/Mvc/Mvc.Core/src/ProducesResponseTypeAttribute.cs
  src/Mvc/test/Mvc.FunctionalTests/ApiExplorerTest.cs
  src/Mvc/test/WebSites/ApiExplorerWebSite/Controllers/ApiExplorerSystemVoid.cs
Labels: area-mvc

#30583 Quarantine failing test
  src/Hosting/Hosting/test/WebHostBuilderTests.cs
Labels: area-servers, auto-merge

#30621 Backport selenium fix dotnet/aspnetcore#30576 to 5.0
  eng/Dependencies.props
  eng/Versions.props
  src/Shared/E2ETesting/selenium-config.json
Labels: area-infrastructure

#30637 Record har and video to helix upload dir
  src/Shared/BrowserTesting/src/ContextInformation.cs
Labels: area-infrastructure, auto-merge

#30644 HTTP/3: Validate request frame order and support request trailers
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/InMemory.FunctionalTests.csproj
Labels: area-servers, auto-merge

#30581 Avoid LINQ allocations
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/TagHelperBinder.cs
Labels: area-mvc

#30671 Mark E2ETest as test project
  src/Components/test/E2ETest/Microsoft.AspNetCore.Components.E2ETests.csproj
  src/ProjectTemplates/test/ProjectTemplates.Tests.csproj
Labels: area-blazor, auto-merge

#30672 Skip conflicting test and re-enable WebHostBuilder test
  src/Hosting/Hosting/test/HostingApplicationDiagnosticsTests.cs
  src/Hosting/Hosting/test/WebHostBuilderTests.cs
Labels: area-servers

#30702 Quarantining tests
  src/Hosting/Hosting/test/WebHostBuilderTests.cs
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorWasmTemplateTest.cs
Labels: area-blazor, area-servers

#30686 Point to correct documentation link
  src/HttpClientFactory/README.md
Labels: area-servers, auto-merge

#30715 Use newer method overloads in auth handlers
  src/Security/Authentication/Core/src/AuthenticationHandler.cs
  src/Security/Authentication/Facebook/src/FacebookHandler.cs
  src/Security/Authentication/Google/src/GoogleHandler.cs
  src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs
  src/Security/Authentication/MicrosoftAccount/src/MicrosoftAccountHandler.cs
  src/Security/Authentication/OAuth/src/OAuthHandler.cs
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectHandler.cs
  src/Security/Authentication/Twitter/src/TwitterHandler.cs
  src/Security/Authentication/WsFederation/src/WsFederationHandler.cs
  src/Security/Authentication/test/GoogleTests.cs
Labels: area-security, auto-merge

#30710 Remove erroneous line from Microsoft.AspNetCore.Components.Server.csproj
  src/Components/Server/src/Microsoft.AspNetCore.Components.Server.csproj
Labels: area-blazor

#30606 Prevent LayoutComponentBase properties from being trimmed.
  src/Components/Components/src/LayoutComponentBase.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Shared/src/WebEventData.cs
Labels: area-blazor

#30762 Quarantine BlazorServerTemplateWorks_NoAuth
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorServerTemplateTest.cs
Labels: area-mvc

#30755 Quarantine test
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
Labels: area-servers

#30742 Clean up WebView comments
  src/Components/WebView/Platforms/WebView2/src/WebView2WebViewManager.cs
  src/Components/WebView/WebView/src/IpcReceiver.cs
  src/Components/WebView/WebView/src/IpcSender.cs
  src/Components/WebView/WebView/src/WebViewManager.cs
Labels: area-blazor, feature-blazor-desktop

#30769 Remove per connection PipeOptions
  src/Servers/Kestrel/Transport.Sockets/src/Client/SocketConnectionFactory.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketConnectionListener.cs
Labels: area-servers

#30439 [release/3.1] Make sure SharedFx & TargetingPack msi names match
  eng/targets/Wix.Common.targets
  src/Installers/Windows/SharedFramework/SharedFramework.wixproj
  src/Installers/Windows/TargetingPack/TargetingPack.wixproj
Labels: area-infrastructure, tell-mode

#30400 [release/3.1] Clear disabled package sources
  NuGet.config
Labels: area-infrastructure, tell-mode

#30516 [release/3.1] Fix spelling of property
  eng/Versions.props
  eng/targets/Packaging.targets
Labels: area-infrastructure, tell-mode

#30783 Update Node dependencies in Web.JS
  src/Components/Web.JS/package.json
  src/Components/Web.JS/yarn.lock
Labels: area-blazor

#30785 Update Node dependencies for Authentication.Msal project
  src/Components/WebAssembly/Authentication.Msal/src/Interop/package.json
  src/Components/WebAssembly/Authentication.Msal/src/Interop/webpack.config.js
  src/Components/WebAssembly/Authentication.Msal/src/Interop/yarn.lock
Labels: area-blazor

#30779 [2.1] Update baseline and SDK
  build/dependencies.props
  build/external-dependencies.props
  eng/Baseline.Designer.props
  eng/Baseline.xml
  korebuild-lock.txt
  src/Hosting/Hosting/test/Microsoft.AspNetCore.Hosting.Tests.csproj
  src/Servers/Kestrel/Core/test/Microsoft.AspNetCore.Server.Kestrel.Core.Tests.csproj
  src/Servers/Kestrel/Transport.Libuv/test/Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv.Tests.csproj
  version.props
Labels: area-infrastructure

#30781 [release/5.0] Merge, update baselines, SDK and runtimes
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  eng/tools/BaselineGenerator/Program.cs
  global.json
  src/Razor/test/testassets/AppWithP2PReference/AppWithP2PReference.csproj
  src/Razor/test/testassets/ClassLibrary/ClassLibrary.csproj
  src/Razor/test/testassets/ClassLibrary2/ClassLibrary2.csproj
  src/Razor/test/testassets/LargeProject/LargeProject.csproj
  src/Razor/test/testassets/MvcWithComponents/MvcWithComponents.csproj
  src/Razor/test/testassets/PackageLibraryDirectDependency/PackageLibraryDirectDependency.csproj
  src/Razor/test/testassets/PackageLibraryTransitiveDependency/PackageLibraryTransitiveDependency.csproj
  src/Razor/test/testassets/SimpleMvc/SimpleMvc.csproj
  src/Razor/test/testassets/SimpleMvcFSharp/SimpleMvcFSharp.fsproj
  src/Razor/test/testassets/SimplePages/SimplePages.csproj
Labels: area-infrastructure, tell-mode

#30401 [release/5.0] Clear disabled package sources
  NuGet.config
Labels: area-infrastructure, tell-mode

#30482 [Java] Fix skip negotiate null ref
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/HubConnectionTest.java
Labels: Servicing-approved, area-signalr, signalr-client-java

#30271 2.1 SignalR npm readme
  eng/PatchConfig.props
  src/SignalR/clients/ts/signalr-protocol-msgpack/README.md
  src/SignalR/clients/ts/signalr/README.md
Labels: Servicing-approved, area-signalr

#30790 Update Node dependencies for WebAssembly.Authentication project
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/package.json
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/webpack.config.js
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/yarn.lock
Labels: area-blazor

#30808 Quarantine BlazorServerTemplateWorks_IndividualAuth test
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorServerTemplateTest.cs
Labels: area-mvc

#30810 Update SDK to 6.0.100-preview.3.21160.5
  global.json
  src/Components/WebAssembly/testassets/WasmLinkerTest/WasmLinkerTest.csproj
Labels: area-infrastructure

#30847 Fix MSBuild errors when referencing Microsoft.AspNetCore.Mvc.Testing
  src/Mvc/Mvc.Testing/src/Microsoft.AspNetCore.Mvc.Testing.targets
  src/Mvc/Mvc.Testing/src/buildTransitive/Microsoft.AspNetCore.Mvc.Testing.targets
Labels: area-mvc, auto-merge

#30514 [release/5.0] Fix spelling of property
  eng/Versions.props
  eng/targets/Packaging.targets
Labels: area-infrastructure, auto-merge, tell-mode

#30821 Quarantine BlazorWasmHostedTemplate_IndividualAuth_Works_WithOutLocalDB
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorWasmTemplateTest.cs
Labels: area-mvc

#30296 Adding a new API Proposal Issue Template
  .github/ISSUE_TEMPLATE/10_bug_report.md
  .github/ISSUE_TEMPLATE/20_feature_request.md
  .github/ISSUE_TEMPLATE/25_api_proposal.md
  .github/ISSUE_TEMPLATE/30_razor_tooling.md
Labels: area-infrastructure

#30859 Update TagHelperDescriptor's GetHashCode to consider metadata.
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptorComparer.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptorComparer.cs
Labels: area-mvc, auto-merge

#30863 Use zero byte reads for incoming TLS frames
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
Labels: area-servers

#30883 Quarantine various Blazor Template tests
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorServerTemplateTest.cs
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorWasmTemplateTest.cs
Labels: area-mvc

#30639 [release/2.1] Include transitive refs in meta-package .nuspec files
  .azure/pipelines/ci.yml
  build/dependencies.props
  build/external-dependencies.props
Labels: area-infrastructure, tell-mode

#30895 Add a bit more to Microsoft.AspNetCore.App.nuspec
  build/external-dependencies.props
Labels: area-infrastructure, tell-mode

#30894 Avoid capturing allocation in ViewComponentTypeVisitor.AttributeIsDefined
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/src/ViewComponentTypeVisitor.cs
Labels: area-mvc

#30916 Remove the thread hop from the https middleware
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
Labels: area-servers

#30845 BlazorWebView code review for WPF/WinForms and sample update
  src/Components/WebView/Platforms/WindowsForms/src/BlazorWebView.cs
  src/Components/WebView/Platforms/Wpf/src/BlazorWebView.cs
  src/Components/WebView/Samples/BlazorWinFormsApp/AppState.cs
  src/Components/WebView/Samples/BlazorWinFormsApp/Form1.cs
  src/Components/WebView/Samples/BlazorWinFormsApp/Form1.designer.cs
  src/Components/WebView/Samples/BlazorWinFormsApp/Pages/Index.razor
  src/Components/WebView/Samples/BlazorWpfApp/AppState.cs
  src/Components/WebView/Samples/BlazorWpfApp/MainWindow.xaml
  src/Components/WebView/Samples/BlazorWpfApp/MainWindow.xaml.cs
  src/Components/WebView/Samples/BlazorWpfApp/Pages/Index.razor
Labels: area-blazor

#30800 HTTP/3: Use HTTPS options from listener
  src/Servers/Connections.Abstractions/src/IMulitplexedConnectionListener.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/TransportManager.cs
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Servers/Kestrel/Core/src/ListenOptions.cs
  src/Servers/Kestrel/Core/src/ListenOptionsHttpsExtensions.cs
  src/Servers/Kestrel/Core/src/LocalhostListenOptions.cs
  src/Servers/Kestrel/Core/src/Properties/AssemblyInfo.cs
  src/Servers/Kestrel/Transport.Quic/src/AssemblyInfo.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionListener.cs
  src/Servers/Kestrel/Transport.Quic/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Transport.Quic/src/QuicTransportFactory.cs
  src/Servers/Kestrel/Transport.Quic/src/QuicTransportOptions.cs
  src/Servers/Kestrel/Transport.Quic/test/Microsoft.AspNetCore.Server.Kestrel.Transport.Quic.Tests.csproj
  src/Servers/Kestrel/Transport.Quic/test/QuicTransportFactoryTests.cs
  src/Servers/Kestrel/samples/Http3SampleApp/Program.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/TestTransport/MockMultiplexedConnectionListenerFactory.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/TestTransport/TestServer.cs
Labels: area-servers

#30931 Prefer empty values from ValueFilter over request's header value in HeaderPropagation
  src/Middleware/HeaderPropagation/src/HeaderPropagationMiddleware.cs
  src/Middleware/HeaderPropagation/test/HeaderPropagationMiddlewareTest.cs
Labels: area-servers, community-contribution

#30764 Fix User-Agent usage in SignalR
  src/Components/test/E2ETest/Tests/SignalRClientTest.cs
  src/Components/test/testassets/BasicTestApp/SignalRClientComponent.razor
  src/Components/test/testassets/TestServer/ChatHub.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnection.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/Constants.cs
Labels: area-signalr

#30855 Remove regex use in DataProtection
  src/DataProtection/DataProtection/src/TypeForwardingActivator.cs
Labels: area-dataprotection

#30978 Fix null ref in SyntaxTokenCache
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Syntax/InternalSyntax/SyntaxFactory.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Syntax/InternalSyntax/SyntaxTokenCache.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/Syntax/SyntaxTokenCacheTest.cs
Labels: area-mvc, auto-merge

#30771 Pool SocketSenders
  src/Servers/Kestrel/Kestrel.slnf
  src/Servers/Kestrel/Transport.Sockets/src/Client/SocketConnectionFactory.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketAwaitableEventArgs.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketReceiver.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketSender.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketSenderPool.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketSenderReceiverBase.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketConnectionListener.cs
Labels: area-servers

#30976 Add Consolidated view classifier to make view types internal
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/ConsolidatedMvcViewDocumentClassifierPass.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/PublicAPI.Unshipped.txt
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/RazorExtensions.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/ConsolidatedMvcViewDocumentClassifierPassTest.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/RazorConfiguration.cs
Labels: api-ready-for-review, area-mvc, auto-merge

#30987 Fix nullability of TypeNameHelper.GetTypeDisplayName parameter
  src/Shared/TypeNameHelper/TypeNameHelper.cs
Labels: area-mvc, auto-merge

#30676 helix + pw + linux/osx
  eng/Versions.props
  eng/helix/content/RunTests/Program.cs
  eng/helix/content/RunTests/RunTests.csproj
  eng/helix/content/RunTests/TestRunner.cs
  eng/helix/content/runtests.ps1
  eng/helix/content/runtests.sh
  eng/targets/Helix.Common.props
  eng/targets/Helix.targets
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorServerTemplateTest.cs
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorTemplates.Tests.csproj
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorWasmTemplateTest.cs
  src/ProjectTemplates/BlazorTemplates.Tests/playwrightSettings.json
  src/Shared/BrowserTesting/src/BrowserManager.cs
  src/Shared/BrowserTesting/src/ContextInformation.cs
Labels: area-infrastructure

#30974 Adding support for custom JsonConverter(s) when deserializing JSON Patch value object
  src/Features/JsonPatch/src/Internal/ConversionResultProvider.cs
  src/Features/JsonPatch/src/Internal/ListAdapter.cs
  src/Features/JsonPatch/src/PublicAPI.Unshipped.txt
  src/Features/JsonPatch/test/IntegrationTests/HeterogenousCollectionTests.cs
  src/Features/JsonPatch/test/Internal/ListAdapterTest.cs
  src/Features/JsonPatch/test/TestObjectModels/HeterogenousCollection.cs
Labels: api-ready-for-review, area-mvc, community-contribution

#30995 Dispose streams that don't fit in pool
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
Labels: area-servers, auto-merge

#31000 Update NodeJS dependency in build instructions
  docs/BuildFromSource.md
Labels: area-infrastructure, auto-merge

#31008 Respect consolidated views in all document classifiers
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/ConsolidatedMvcViewDocumentClassifierPass.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/MvcViewDocumentClassifierPass.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/PublicAPI.Unshipped.txt
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/RazorExtensions.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/RazorPageDocumentClassifierPass.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/ConsolidatedMvcViewDocumentClassifierPassTest.cs
Labels: area-mvc, auto-merge

#30884 Add API to Renderer to trigger a UI refresh on hot reload
  src/Components/Components/src/ComponentBase.cs
  src/Components/Components/src/HotReload/HotReloadContext.cs
  src/Components/Components/src/HotReload/HotReloadEnvironment.cs
  src/Components/Components/src/HotReload/HotReloadManager.cs
  src/Components/Components/src/HotReload/IReceiveHotReloadContext.cs
  src/Components/Components/src/Microsoft.AspNetCore.Components.csproj
  src/Components/Components/src/ParameterView.cs
  src/Components/Components/src/Properties/AssemblyInfo.cs
  src/Components/Components/src/Properties/ILLink.Substitutions.xml
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/RenderTree/RenderTreeDiffBuilder.cs
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Components/test/ParameterViewTest.cs
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/WebAssembly/WebAssembly/src/Infrastructure/JSInteropMethods.cs
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.WarningSuppressions.xml
  src/Components/WebAssembly/WebAssembly/src/PublicAPI.Unshipped.txt
  src/Components/test/E2ETest/ServerExecutionTests/HotReloadTest.cs
  src/Components/test/testassets/BasicTestApp/HotReload/ComponentWithParameter.razor
  src/Components/test/testassets/BasicTestApp/HotReload/ComponentWithShouldRender.razor
  src/Components/test/testassets/BasicTestApp/HotReload/RenderOnHotReload.razor
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/TestServer/Controllers/ReloadController.cs
  src/Components/test/testassets/TestServer/HotReloadStartup.cs
  src/Components/test/testassets/TestServer/Program.cs
Labels: api-ready-for-review, area-blazor

#31029 Remove uninitialized RazorPageDocumentClassifierPass addition
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/RazorExtensions.cs
Labels: area-mvc, auto-merge

#30337 Fix credscan issues in aspnetcore
  src/Components/test/E2ETest/Tests/WebAssemblyAuthenticationTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/AuthenticatedEncryptorDescriptorDeserializerTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/AuthenticatedEncryptorDescriptorTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/CngCbcAuthenticatedEncryptorDescriptorDeserializerTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/CngCbcAuthenticatedEncryptorDescriptorTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/CngGcmAuthenticatedEncryptorDescriptorDeserializerTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/CngGcmAuthenticatedEncryptorDescriptorTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/ManagedAuthenticatedEncryptorDescriptorDeserializerTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/ManagedAuthenticatedEncryptorDescriptorTests.cs
  src/Identity/EntityFrameworkCore/test/EF.Test/DefaultPocoTest.cs
  src/Identity/EntityFrameworkCore/test/EF.Test/UserOnlyCustomContextTest.cs
  src/Identity/EntityFrameworkCore/test/EF.Test/UserOnlyTest.cs
  src/Identity/test/Identity.FunctionalTests/LoginTests.cs
  src/Identity/test/Identity.FunctionalTests/ManagementTests.cs
  src/Identity/test/Identity.FunctionalTests/RegistrationTests.cs
  src/Identity/test/Identity.Test/SignInManagerTest.cs
  src/Identity/test/InMemory.Test/ControllerTest.cs
  src/Identity/test/InMemory.Test/FunctionalTest.cs
Labels: area-dataprotection, area-identity

#31050 Support ElementReference.Focus in WebView
  src/Components/WebView/WebView/src/PageContext.cs
  src/Components/WebView/WebView/src/Services/WebViewJSRuntime.cs
  src/Components/WebView/WebView/src/Services/WebViewRenderer.cs
Labels: area-blazor, feature-blazor-desktop

#31049 Support InputFile in WebView
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Boot.WebView.ts
Labels: area-blazor, feature-blazor-desktop

#31043 Bring back working DevServer packaging setup
  src/Components/WebAssembly/DevServer/src/runtimeconfig.template.json
Labels: area-blazor

#31045 Quarantine one failing test
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
Labels: area-mvc

#31039 Update SDK to bring unified assembly changes
  global.json
  src/Azure/AzureAD/Authentication.AzureAD.UI/src/AzureADAuthenticationBuilderExtensions.cs
  src/Azure/AzureAD/Authentication.AzureAD.UI/src/Microsoft.AspNetCore.Authentication.AzureAD.UI.csproj
  src/Azure/AzureAD/Authentication.AzureADB2C.UI/src/Microsoft.AspNetCore.Authentication.AzureADB2C.UI.csproj
  src/Azure/AzureAD/test/FunctionalTests/WebAuthenticationTests.cs
  src/Identity/UI/src/IdentityBuilderUIExtensions.cs
  src/Identity/UI/src/Microsoft.AspNetCore.Identity.UI.csproj
  src/Identity/UI/src/Properties/AssemblyInfo.ApplicationParts.cs
  src/Identity/test/Identity.FunctionalTests/Infrastructure/ServerFactory.cs
  src/Mvc/test/Mvc.FunctionalTests/RazorPagesNamespaceTest.cs
  src/Mvc/test/Mvc.FunctionalTests/RazorPagesTest.cs
  src/Mvc/test/WebSites/ControllersFromServicesWebSite/Startup.cs
  src/SignalR/clients/ts/yarn.lock
Labels: area-razor.compiler, auto-merge

#31060 Update launchSettings to indicate hotReload is to be used
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Properties/launchSettings.json
Labels: area-mvc, auto-merge

#31061 Fix race in FrameAfterTrailers_UnexpectedFrameError
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
Labels: area-servers, auto-merge

#31054 Fix JS interop cases in WebView
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Platform/WebView/WebViewIpcReceiver.ts
  src/Components/WebView/Platforms/WindowsForms/testassets/WinFormsTestApp/wwwroot/webviewhost.html
  src/Components/WebView/Platforms/Wpf/testassets/WpfTestApp/wwwroot/webviewhost.html
  src/Components/WebView/WebView/src/IpcReceiver.cs
Labels: area-blazor, feature-blazor-desktop

#31012 Template tests: Create dev cert only once
  src/ProjectTemplates/Shared/AspNetProcess.cs
  src/ProjectTemplates/Shared/Project.cs
Labels: area-mvc

#31033 Simplify Razor bug reports.
  .github/ISSUE_TEMPLATE/30_razor_tooling.md
Labels: area-infrastructure, auto-merge

#31035 [Blazor][Desktop] Mark packages as shipping
  eng/tools/RepoTasks/RepoTasks.csproj
  global.json
  src/Components/WebView/Platforms/WebView2/src/Microsoft.AspNetCore.Components.WebView.WebView2.csproj
  src/Components/WebView/Platforms/WebView2/src/PublicAPI.Shipped.txt
  src/Components/WebView/Platforms/WebView2/src/PublicAPI.Unshipped.txt
  src/Components/WebView/Platforms/WindowsForms/src/Microsoft.AspNetCore.Components.WebView.WindowsForms.csproj
  src/Components/WebView/Platforms/WindowsForms/src/PublicAPI.Shipped.txt
  src/Components/WebView/Platforms/WindowsForms/src/PublicAPI.Unshipped.txt
  src/Components/WebView/Platforms/Wpf/src/Microsoft.AspNetCore.Components.WebView.Wpf.csproj
  src/Components/WebView/Platforms/Wpf/src/PublicAPI.Shipped.txt
  src/Components/WebView/Platforms/Wpf/src/PublicAPI.Unshipped.txt
Labels: area-blazor

#31071 Remove WebView dependency to AspNetCore.App
  src/Components/WebView/WebView/src/FileExtensionContentTypeProvider.cs
  src/Components/WebView/WebView/src/IContentTypeProvider.cs
  src/Components/WebView/WebView/src/Microsoft.AspNetCore.Components.WebView.csproj
  src/Components/WebView/WebView/src/PathString.cs
  src/Components/WebView/WebView/src/PathStringHelper.cs
  src/Components/WebView/WebView/src/QueryString.cs
  src/Components/WebView/WebView/src/Resources.resx
  src/Components/WebView/WebView/src/StaticContentProvider.cs
  src/Components/WebView/WebView/src/StaticWebAssetsLoader.cs
Labels: area-blazor, auto-merge

#31072 Use longer delay in test
  src/Testing/test/TaskExtensionsTest.cs
Labels: auto-merge

#30948 [SignalR TS] Fix permanent Disconnecting state
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
  src/SignalR/clients/ts/signalr/src/HubConnection.ts
  src/SignalR/clients/ts/signalr/tests/HttpConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/HubConnection.Reconnect.test.ts
  src/SignalR/clients/ts/signalr/tests/TestWebSocket.ts
Labels: area-signalr, signalr-client-javascript

#29405 Changed LogLevel to Information instead of warning for EphemeralDataProtectionProvider
  src/DataProtection/DataProtection/src/LoggingExtensions.cs
Labels: area-dataprotection, community-contribution

#31073 [Blazor][Desktop] Fixes nullable annotations on the public API baselines
  src/Components/WebView/Platforms/WebView2/src/PublicAPI.Shipped.txt
  src/Components/WebView/Platforms/WebView2/src/PublicAPI.Unshipped.txt
  src/Components/WebView/Platforms/WindowsForms/src/PublicAPI.Shipped.txt
  src/Components/WebView/Platforms/WindowsForms/src/PublicAPI.Unshipped.txt
  src/Components/WebView/Platforms/Wpf/src/PublicAPI.Shipped.txt
  src/Components/WebView/Platforms/Wpf/src/PublicAPI.Unshipped.txt
  src/Components/WebView/WebView/src/PublicAPI.Shipped.txt
  src/Components/WebView/WebView/src/PublicAPI.Unshipped.txt
Labels: area-blazor, auto-merge

#28357 Implements shadow copying for ASP.NET Core + IIS
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/AppOfflineHandler.h
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/ApplicationFactory.h
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/HandlerResolver.cpp
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/HandlerResolver.h
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/ShimOptions.cpp
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/ShimOptions.h
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/applicationinfo.cpp
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/applicationinfo.h
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/applicationmanager.cpp
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/dllmain.cpp
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/proxymodule.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/Environment.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/Environment.h
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/HostFxr.h
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/PollingAppOfflineApplication.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/application.h
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/aspnetcore_msg.mc
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/resources.h
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/sttimer.h
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/InProcessApplicationBase.cpp
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocessapplication.cpp
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocessapplication.h
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/outprocessapplication.cpp
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/AppOfflineTrackingApplication.cpp
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/AppOfflineTrackingApplication.h
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/filewatcher.cpp
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/filewatcher.h
  src/Servers/IIS/IIS/perf/Microbenchmarks/Properties/launchSettings.json
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Infrastructure/EventLogHelpers.cs
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/ShadowCopyTests.cs
  src/Servers/IIS/IISIntegration.slnf
Labels: area-servers

#31089 Suppress generating source checksums when configured
  src/Mvc/Mvc.Razor.RuntimeCompilation/src/targets/Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation.targets
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/AllowedChildTagDescriptor.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorCodeGenerationOptionsBuilder.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Extensions/MetadataAttributePass.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/RazorCodeGenerationOptions.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/RazorCodeGenerationOptionsBuilder.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/Extensions/MetadataAttributePassTest.cs
Labels: area-mvc, auto-merge

#31018 Caching Redis: Add option to register profiling session
  src/Caching/StackExchangeRedis/src/PublicAPI.Unshipped.txt
  src/Caching/StackExchangeRedis/src/RedisCache.cs
  src/Caching/StackExchangeRedis/src/RedisCacheOptions.cs
Labels: area-servers, community-contribution, feature-caching

#31059 Quarantine and fix RequestTrailers_CanReadTrailersFromRequest
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
Labels: area-servers, auto-merge

#31042 Revert "Remove ANCM shim and outofprocess handler from Runtime SiteEx…
  src/Servers/IIS/build/assets.props
  src/SiteExtensions/Runtime/Microsoft.AspNetCore.Runtime.SiteExtension.pkgproj
  src/SiteExtensions/Runtime/applicationHost.xdt
Labels: area-servers, auto-merge

#31098 Follow ups for Blazor AOT
  src/Components/WebAssembly/BlazorManifest/acquire/Program.cs
Labels: area-blazor, auto-merge

#31107 [Blazor] [Desktop] Exclude Resources.resx from the embedded file manifest
  src/Components/WebView/WebView/src/Microsoft.AspNetCore.Components.WebView.csproj
Labels: area-blazor, auto-merge

#31115 Fix some low hanging allocation fruit
  src/Middleware/WebSockets/src/HandshakeHelpers.cs
  src/SignalR/SignalR.slnf
  src/SignalR/common/Http.Connections/src/HttpConnectionDispatcherOptions.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionContext.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
Labels: area-signalr

#31108 Fix issues preventing hot reload for Blazor WASM
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/src/Platform/BootConfig.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/WebAssembly/WebAssembly/src/Infrastructure/JSInteropMethods.cs
Labels: area-blazor

#28283 Add new Polly DI extension method for HttpClientFactory
  src/HttpClientFactory/Polly/src/DependencyInjection/PollyServiceCollectionExtensions.cs
  src/HttpClientFactory/Polly/src/PublicAPI.Unshipped.txt
  src/HttpClientFactory/Polly/test/DependencyInjection/PollyHttpClientBuilderExtensionsTest.cs
Labels: area-servers, community-contribution, feature-httpclientfactory

#31064 Update nuget & msbuild versions
  eng/Versions.props
  eng/tools/RepoTasks/RepoTasks.csproj
  src/Tools/Extensions.ApiDescription.Client/test/GetOpenApiReferenceMetadataTest.cs
  src/Tools/Extensions.ApiDescription.Client/test/MetadataSerializerTest.cs
Labels: area-infrastructure

#31149 Added missing event ids for hosting events
  AspNetCore.sln
  src/Hosting/Hosting.slnf
  src/Hosting/Hosting/src/GenericHost/GenericWebHostedService.cs
  src/Hosting/Hosting/src/Internal/HostingLoggerExtensions.cs
  src/Hosting/Hosting/src/Internal/LoggerEventIds.cs
  src/Hosting/Hosting/src/Internal/WebHost.cs
Labels: area-servers

#31153 Update branding to 6.0.0-preview4
  eng/Versions.props
Labels: area-infrastructure

#31158 Don't separately build arm64 installers
  Directory.Build.targets
  eng/Build.props
Labels: area-infrastructure

#31170 Dispose the DiagnosticListener
  src/Hosting/Hosting/src/GenericHost/GenericWebHostBuilder.cs
  src/Hosting/Hosting/src/WebHostBuilder.cs
Labels: area-servers

#31174 Fixed grammar on `SessionOptions.IOTimeout` XML
  src/Middleware/Session/src/SessionOptions.cs
Labels: area-servers, auto-merge, community-contribution

#31161 Default to Kestrel over IISExpress
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/Properties/launchSettings.json
Labels: area-mvc, feature-templates

#31167 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: area-infrastructure, auto-merge

#31202 Add tracing to templates process launch for debugging
  src/ProjectTemplates/Shared/Project.cs
Labels: area-mvc, feature-templates

#31201 Remove unsafe from BytesOrdinalEqualsStringAndAscii
  src/Servers/Kestrel/Core/test/AsciiDecoding.cs
  src/Shared/ServerInfrastructure/StringUtilities.cs
Labels: area-servers

#31197 Add hotReloadProfile to Razor Pages template
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Properties/launchSettings.json
Labels: area-mvc

#30907 BlazorTemplate test improvements
  src/ProjectTemplates/BlazorTemplates.Tests/AssemblyInfo.AssemblyFixtures.cs
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorServerTemplateTest.cs
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorTemplateTest.cs
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorWasmTemplateTest.cs
  src/ProjectTemplates/BlazorTemplates.Tests/PriorityOrderer.cs
  src/ProjectTemplates/BlazorTemplates.Tests/TestPriorityAttribute.cs
  src/ProjectTemplates/Shared/ProjectFactoryFixture.cs
  src/Testing/src/LoggedTest/LoggedTestBase.cs
Labels: area-blazor

#31210 Split the HPackEncoder partial class
  src/Servers/Kestrel/Core/src/Internal/Http2/HPackHeaderWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/Core/test/Http2HPackEncoderTests.cs
  src/Servers/Kestrel/perf/Microbenchmarks/HPackHeaderWriterBenchmark.cs
  src/Servers/Kestrel/perf/Microbenchmarks/Http2ConnectionBenchmarkBase.cs
  src/Servers/Kestrel/shared/test/PipeWriterHttp2FrameExtensions.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Shared/Hpack/DynamicHPackEncoder.cs
Labels: area-servers

#30398 Creates script command for sql-cache-tool
  src/Tools/dotnet-sql-cache/src/Program.cs
Labels: area-commandlinetools, auto-merge, community-contribution, feature-caching

#31223 Revert "BlazorTemplate test improvements"
  src/ProjectTemplates/BlazorTemplates.Tests/AssemblyInfo.AssemblyFixtures.cs
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorServerTemplateTest.cs
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorTemplateTest.cs
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorWasmTemplateTest.cs
  src/ProjectTemplates/BlazorTemplates.Tests/PriorityOrderer.cs
  src/ProjectTemplates/BlazorTemplates.Tests/TestPriorityAttribute.cs
  src/ProjectTemplates/Shared/ProjectFactoryFixture.cs
  src/Testing/src/LoggedTest/LoggedTestBase.cs
Labels: auto-merge

#31154 Unquarantine BootResourceCachingTest
  src/Components/test/E2ETest/Tests/BootResourceCachingTest.cs
Labels: area-blazor, blazor-wasm

#31196 Resolve final credscan bug
  .config/CredScanSuppressions.json
Labels: area-infrastructure

#31207 READMEs for Servers
  src/Servers/HttpSys/README.md
  src/Servers/IIS/README.md
  src/Servers/Kestrel/README.md
  src/Servers/README.md
Labels: area-servers, auto-merge

#31156 Components test parole for good behavior
  src/Components/test/E2ETest/ServerExecutionTests/ServerEventTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/ServerGlobalizationTest.cs
  src/Components/test/E2ETest/Tests/ComponentRenderingTest.cs
  src/Components/test/E2ETest/Tests/EventBubblingTest.cs
  src/Components/test/E2ETest/Tests/EventTest.cs
  src/Components/test/E2ETest/Tests/FormsTest.cs
  src/Components/test/E2ETest/Tests/GlobalizationTest.cs
  src/Components/test/E2ETest/Tests/PerformanceTest.cs
  src/Components/test/E2ETest/Tests/RoutingTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyLazyLoadTest.cs
Labels: area-blazor

#31216 Add hotReloadProfile to Razor Pages template
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Properties/launchSettings.json
Labels: area-mvc

#31250 Readmes for HTTP and Site Extensions
  src/Http/README.md
  src/SiteExtensions/README.md
Labels: area-servers, auto-merge

#31221 Enable CA2012 (Use ValueTask Correctly)
  .editorconfig
  src/Components/Components/src/Routing/Router.cs
  src/Components/Server/src/Circuits/RemoteNavigationManager.cs
  src/Hosting/Hosting/src/Internal/WebHost.cs
  src/Http/Http/src/Features/RequestServicesFeature.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/FlowControl/StreamInputFlowControl.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3OutputProducer.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionContext.cs
  src/Shared/ServerInfrastructure/DuplexPipeStream.cs
  src/SignalR/samples/ClientSample/Tcp/TcpConnection.cs
  src/SignalR/server/Core/src/HubConnectionContext.cs
Labels: area-infrastructure

#31213 Unquarantine a couple servers tests
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TimeoutTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
Labels: area-servers

#31259 Use Emscripten SDKs in WASM workload
  eng/Version.Details.xml
  eng/Versions.props
  src/Components/WebAssembly/BlazorManifest/src/BlazorManifest.csproj
  src/Components/WebAssembly/BlazorManifest/src/WorkloadManifest.json.in
  src/Components/WebAssembly/BlazorManifest/src/WorkloadManifest.targets
Labels: Servicing-approved, area-blazor, blazor-wasm

#31262 Clean up verbiage on build scripts
  docs/BuildFromSource.md
Labels: area-infrastructure, auto-merge

#31230 Enable nullable on more authentication projects
  src/Security/Authentication/Core/src/Events/RemoteAuthenticationContext.cs
  src/Security/Authentication/Core/src/HandleRequestResult.cs
  src/Security/Authentication/Core/src/IDataSerializer.cs
  src/Security/Authentication/Core/src/ISecureDataFormat.cs
  src/Security/Authentication/Core/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/Core/src/RemoteAuthenticationHandler.cs
  src/Security/Authentication/Core/src/SecureDataFormat.cs
  src/Security/Authentication/Facebook/src/FacebookHandler.cs
  src/Security/Authentication/Facebook/src/Microsoft.AspNetCore.Authentication.Facebook.csproj
  src/Security/Authentication/Facebook/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/Google/src/GoogleChallengeProperties.cs
  src/Security/Authentication/Google/src/GoogleHandler.cs
  src/Security/Authentication/Google/src/GoogleOptions.cs
  src/Security/Authentication/Google/src/Microsoft.AspNetCore.Authentication.Google.csproj
  src/Security/Authentication/Google/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/OpenIdConnect/src/Events/AuthenticationFailedContext.cs
  src/Security/Authentication/OpenIdConnect/src/Events/AuthorizationCodeReceivedContext.cs
  src/Security/Authentication/OpenIdConnect/src/Events/MessageReceivedContext.cs
  src/Security/Authentication/OpenIdConnect/src/Events/RedirectContext.cs
  src/Security/Authentication/OpenIdConnect/src/Events/RemoteSignoutContext.cs
  src/Security/Authentication/OpenIdConnect/src/Events/TokenResponseReceivedContext.cs
  src/Security/Authentication/OpenIdConnect/src/Events/TokenValidatedContext.cs
  src/Security/Authentication/OpenIdConnect/src/Events/UserInformationReceivedContext.cs
  src/Security/Authentication/OpenIdConnect/src/LoggingExtensions.cs
  src/Security/Authentication/OpenIdConnect/src/Microsoft.AspNetCore.Authentication.OpenIdConnect.csproj
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectChallengeProperties.cs
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectHandler.cs
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectOptions.cs
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectPostConfigureOptions.cs
  src/Security/Authentication/OpenIdConnect/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/Twitter/src/LoggingExtensions.cs
  src/Security/Authentication/Twitter/src/Messages/AccessToken.cs
  src/Security/Authentication/Twitter/src/Messages/RequestToken.cs
  src/Security/Authentication/Twitter/src/Messages/RequestTokenSerializer.cs
  src/Security/Authentication/Twitter/src/Microsoft.AspNetCore.Authentication.Twitter.csproj
  src/Security/Authentication/Twitter/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/Twitter/src/TwitterError.cs
  src/Security/Authentication/Twitter/src/TwitterErrorResponse.cs
  src/Security/Authentication/Twitter/src/TwitterHandler.cs
  src/Security/Authentication/Twitter/src/TwitterOptions.cs
  src/Security/Authentication/Twitter/src/TwitterPostConfigureOptions.cs
  src/Security/Authentication/WsFederation/src/AuthenticationFailedContext.cs
  src/Security/Authentication/WsFederation/src/LoggingExtensions.cs
  src/Security/Authentication/WsFederation/src/MessageReceivedContext.cs
  src/Security/Authentication/WsFederation/src/Microsoft.AspNetCore.Authentication.WsFederation.csproj
  src/Security/Authentication/WsFederation/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/WsFederation/src/RedirectContext.cs
  src/Security/Authentication/WsFederation/src/SecurityTokenReceivedContext.cs
  src/Security/Authentication/WsFederation/src/SecurityTokenValidatedContext.cs
  src/Security/Authentication/WsFederation/src/WsFederationHandler.cs
  src/Security/Authentication/WsFederation/src/WsFederationOptions.cs
  src/Security/Authentication/WsFederation/src/WsFederationPostConfigureOptions.cs
Labels: area-security

#31298 Enable nullable on Azure projects
  src/Azure/AzureAD/Authentication.AzureAD.UI/src/Microsoft.AspNetCore.Authentication.AzureAD.UI.csproj
  src/Azure/AzureAD/Authentication.AzureADB2C.UI/src/Microsoft.AspNetCore.Authentication.AzureADB2C.UI.csproj
  src/Azure/AzureAppServices.HostingStartup/src/Microsoft.AspNetCore.AzureAppServices.HostingStartup.csproj
  src/Azure/AzureAppServices.HostingStartup/src/PublicAPI.Unshipped.txt
  src/Azure/AzureAppServicesIntegration/src/Microsoft.AspNetCore.AzureAppServicesIntegration.csproj
  src/Azure/AzureAppServicesIntegration/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectExtensions.cs
  src/Security/Authentication/OpenIdConnect/src/PublicAPI.Unshipped.txt
Labels: area-servers, auto-merge

#31258 Reduce allocations for Cookies.
  src/Http/Headers/src/CookieHeaderParser.cs
  src/Http/Headers/src/CookieHeaderValue.cs
  src/Http/Headers/src/Microsoft.Net.Http.Headers.csproj
  src/Http/Headers/src/SetCookieHeaderValue.cs
  src/Http/Http/perf/Microbenchmarks/RequestCookieCollectionBenchmarks.cs
  src/Http/Http/perf/Microbenchmarks/RouteValueDictionaryBenchmark.cs
  src/Http/Http/src/Features/RequestCookiesFeature.cs
  src/Http/Http/src/Internal/RequestCookieCollection.cs
  src/Http/Http/src/Microsoft.AspNetCore.Http.csproj
  src/Http/Http/src/Properties/AssemblyInfo.cs
  src/Http/Shared/CookieHeaderParserShared.cs
  src/Http/Shared/HttpParseResult.cs
  src/Http/Shared/HttpRuleParser.cs
Labels: area-servers

#31326 Fix comment grammar
  src/Http/Authentication.Abstractions/src/IAuthenticationHandler.cs
Labels: area-servers, community-contribution

#31333 Use LoggerMessage.Define in HttpSys
  src/Servers/HttpSys/src/HttpSysListener.Log.cs
  src/Servers/HttpSys/src/HttpSysListener.cs
  src/Servers/HttpSys/src/LoggerEventIds.cs
  src/Servers/HttpSys/src/MessagePump.Log.cs
  src/Servers/HttpSys/src/MessagePump.cs
  src/Servers/HttpSys/src/NativeInterop/DisconnectListener.Log.cs
  src/Servers/HttpSys/src/NativeInterop/DisconnectListener.cs
  src/Servers/HttpSys/src/NativeInterop/RequestQueue.cs
  src/Servers/HttpSys/src/NativeInterop/UrlGroup.Log.cs
  src/Servers/HttpSys/src/NativeInterop/UrlGroup.cs
  src/Servers/HttpSys/src/RequestProcessing/ClientCertLoader.Log.cs
  src/Servers/HttpSys/src/RequestProcessing/ClientCertLoader.cs
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.Log.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContextOfT.Log.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContextOfT.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestStream.Log.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestStream.cs
  src/Servers/HttpSys/src/RequestProcessing/ResponseStreamAsyncResult.Log.cs
  src/Servers/HttpSys/src/RequestProcessing/ResponseStreamAsyncResult.cs
Labels: area-servers, community-contribution

#31308 Reduce the per connection overhead in SocketConnection
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketAwaitableEventArgs.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketReceiver.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketSender.cs
Labels: area-servers

#31322 Faster strongly typed features for server FeatureCollection
  src/Servers/Kestrel/Core/src/Internal/Http/Http1Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.FeatureCollection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/perf/Microbenchmarks/HttpProtocolFeatureCollection.cs
  src/Servers/Kestrel/shared/TransportConnection.FeatureCollection.cs
  src/Servers/Kestrel/shared/TransportConnection.Generated.cs
  src/Servers/Kestrel/shared/TransportMultiplexedConnection.FeatureCollection.cs
  src/Servers/Kestrel/shared/TransportMultiplexedConnection.Generated.cs
  src/Servers/Kestrel/tools/CodeGenerator/FeatureCollectionGenerator.cs
  src/Servers/Kestrel/tools/CodeGenerator/HttpProtocolFeatureCollection.cs
  src/Servers/Kestrel/tools/CodeGenerator/TransportConnectionFeatureCollection.cs
  src/Servers/Kestrel/tools/CodeGenerator/TransportMultiplexedConnectionFeatureCollection.cs
Labels: area-servers, community-contribution, servers-kestrel

#31345 Move RequestContextOfT logging to separate class
  src/Servers/HttpSys/src/RequestProcessing/RequestContextLog.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContextOfT.Log.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContextOfT.cs
Labels: area-servers, community-contribution

#31341 Badges, badges! (Licence, Help wanted, Good first issue, Chat)
  README.md
Labels: community-contribution

#31246 Fix WebView header APIs and behavior
  src/Components/WebView/Platforms/WebView2/src/WebView2WebViewManager.cs
  src/Components/WebView/Samples/BlazorWpfApp/Pages/Index.razor
  src/Components/WebView/WebView/src/PublicAPI.Unshipped.txt
  src/Components/WebView/WebView/src/StaticContentProvider.cs
  src/Components/WebView/WebView/src/WebViewManager.cs
  src/Components/WebView/WebView/test/StaticContentProviderTests.cs
Labels: area-blazor

#31364 Refactor logging in generic classes
  src/Servers/HttpSys/src/RequestProcessing/RequestContextOfT.cs
  src/SignalR/server/Core/src/HubConnectionHandler.cs
  src/SignalR/server/Core/src/HubConnectionHandlerLog.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.Log.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcherLog.cs
Labels: community-contribution

#31171 Make RequestDelegateFactory public (was MapActionExpressionTreeBuilder)
  src/Http/Http.Extensions/src/Microsoft.AspNetCore.Http.Extensions.csproj
  src/Http/Http.Extensions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Routing/src/Builder/MapActionEndpointRouteBuilderExtensions.cs
  src/Http/Routing/src/Microsoft.AspNetCore.Routing.csproj
Labels: api-approved, area-servers, auto-merge, feature-HttpAbstractions

#31267 [Http] Remove some unsafe code and save a string allocation
  src/Http/Headers/src/ContentDispositionHeaderValue.cs
  src/Http/Headers/src/HeaderUtilities.cs
  src/Http/Headers/src/MediaTypeHeaderValue.cs
  src/Http/Headers/src/Microsoft.Net.Http.Headers.csproj
  src/Http/Routing/src/Matching/SingleEntryAsciiJumpTable.cs
  src/Http/Routing/src/Microsoft.AspNetCore.Routing.csproj
Labels: Perf, area-servers

#31200 Use one shot pbkdf2
  src/DataProtection/Cryptography.KeyDerivation/src/PBKDF2/NetCorePbkdf2Provider.cs
Labels: area-dataprotection, auto-merge

#31311 Use interned Header Names for known headers not in the pre-allocated block
  src/Http/Headers/src/HeaderNames.cs
  src/Http/Headers/src/PublicAPI.Unshipped.txt
  src/Middleware/WebSockets/src/Constants.cs
  src/Middleware/WebSockets/src/HandshakeHelpers.cs
  src/Middleware/WebSockets/src/WebSocketMiddleware.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.FeatureCollection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpRequestHeaders.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpResponseHeaders.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpResponseTrailers.cs
  src/Servers/Kestrel/Core/test/HttpHeadersTests.cs
  src/Servers/Kestrel/shared/KnownHeaders.cs
Labels: area-servers, auto-merge, community-contribution

#31281 Remove IReceiveHotReloadContext and HotReloadContext
  src/Components/Components/src/ComponentBase.cs
  src/Components/Components/src/HotReload/HotReloadContext.cs
  src/Components/Components/src/HotReload/IReceiveHotReloadContext.cs
  src/Components/Components/src/Properties/ILLink.Substitutions.xml
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/RenderHandle.cs
  src/Components/Components/src/RenderTree/RenderTreeDiffBuilder.cs
  src/Components/Components/src/RenderTree/Renderer.cs
Labels: area-blazor, auto-merge

#31377 Flow CancellationTokens to BindAsync
  src/Servers/Kestrel/Core/src/AnyIPListenOptions.cs
  src/Servers/Kestrel/Core/src/Internal/AddressBindContext.cs
  src/Servers/Kestrel/Core/src/Internal/AddressBinder.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/TransportManager.cs
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Servers/Kestrel/Core/src/ListenOptions.cs
  src/Servers/Kestrel/Core/src/LocalhostListenOptions.cs
  src/Servers/Kestrel/Core/test/AddressBinderTests.cs
  src/Servers/Kestrel/shared/test/TestContextFactory.cs
Labels: area-servers, servers-kestrel

#31389 Quarantine flaky test
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
Labels: area-servers

#31391 Clean up NetCore PBKDF2 provider
  src/DataProtection/Cryptography.KeyDerivation/src/PBKDF2/NetCorePbkdf2Provider.cs
Labels: area-dataprotection, community-contribution

#31211 Allow Razor generated documents to respect tabs/spaces settings
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/CodeWriter.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/CodeWriterExtensions.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/DefaultDocumentWriter.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorCodeGenerationOptions.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/PublicAPI.Unshipped.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/CodeGeneration/CSharpCodeWriterTest.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_WithCssScope/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/Component_WithCssScope/TestComponent.mappings.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/SingleLineControlFlowStatements_InCodeBlock/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/SingleLineControlFlowStatements_InCodeBlock/TestComponent.mappings.txt
Labels: area-razor.compiler

#31381 Add a FeaturesCollection constructor that supports initial capacity
  src/Http/Http.Features/src/FeatureCollection.cs
  src/Http/Http.Features/src/PublicAPI.Unshipped.txt
  src/Http/Http/src/DefaultHttpContext.cs
Labels: area-servers, community-contribution

#31370 Raise authenticationFailed event when cert validation fails
  src/Security/Authentication/Certificate/src/CertificateAuthenticationHandler.cs
  src/Security/Authentication/JwtBearer/src/JwtBearerEvents.cs
  src/Security/Authentication/test/CertificateTests.cs
Labels: area-security

#31297 Unquarantine UseStartupFactoryWorks
  src/Hosting/Hosting/test/WebHostBuilderTests.cs
Labels: area-servers

#31257 Fix generated CSS scopes in layout views and update templates
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Views/Shared/_Layout.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Views/Shared/_Layout.cshtml.css
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/wwwroot/css/site.css
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/Views/Shared/_Layout.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/Views/Shared/_Layout.cshtml.css
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/wwwroot/css/site.css
  src/ProjectTemplates/test/MvcTemplateTest.cs
  src/ProjectTemplates/test/template-baselines.json
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/IntegrationTests/CodeGenerationIntegrationTest.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/TestFiles/IntegrationTests/CodeGenerationIntegrationTest/RazorView_Layout_WithCssScope.codegen.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/TestFiles/IntegrationTests/CodeGenerationIntegrationTest/RazorView_Layout_WithCssScope.ir.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Extensions/ViewCssScopePass.cs
Labels: area-mvc, auto-merge

#31405 Quarantine ClosesAfterDataSent
  src/Servers/IIS/IIS/test/IIS.Tests/ResponseAbortTests.cs
Labels: area-servers

#31371 Fix contribution guide paragraph about first time contributors
  CONTRIBUTING.md
Labels: area-infrastructure, community-contribution

#31403 Update Microsoft.Net.Compilers.Toolset
  eng/Versions.props
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/RenderTree/RenderTreeEdit.cs
  src/Components/Ignitor/src/ElementHive.cs
  src/DataProtection/DataProtection/src/KeyManagement/IKeyManager.cs
  src/DataProtection/DataProtection/src/Managed/ManagedAuthenticatedEncryptor.cs
  src/DataProtection/DataProtection/src/PublicAPI.Unshipped.txt
  src/Hosting/TestHost/src/TestWebSocket.cs
  src/Http/Headers/src/BaseHeaderParser.cs
  src/Http/Headers/src/HttpHeaderParser.cs
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/TaskGenericsUtil.cs
  src/Mvc/test/Mvc.IntegrationTests/ValidationWithRecordIntegrationTests.cs
Labels: area-infrastructure
