Repository dotnet/aspnetcore, pull requests merged in 2021-09, with the labels that each got.

#35779 Add analyzer for detecting misplaced attributes on delegates
  src/Framework/Analyzer/src/DelegateEndpoints/DelegateEndpointAnalyzer.cs
  src/Framework/Analyzer/src/DelegateEndpoints/DetectMisplacedLambdaAttribute.cs
  src/Framework/Analyzer/src/DelegateEndpoints/DiagnosticDescriptors.cs
  src/Framework/Analyzer/test/MinimalActions/DetectMisplacedLambdaAttributeTest.cs
Labels: area-web-frameworks

#35672 Add support for WithTags extension method
  src/Http/Http.Abstractions/src/Metadata/ITagsMetadata.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/src/TagsAttribute.cs
  src/Http/Http/src/PublicAPI.Unshipped.txt
  src/Http/Routing/src/Builder/OpenApiDelegateEndpointConventionBuilderExtensions.cs
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/test/UnitTests/Builder/DelegateEndpointRouteBuilderExtensionsTest.cs
Labels: feature-minimal-actions, area-web-frameworks

#35978 Quarantine `LinkedApplicationTests.LinkedApplicationWorks`
  src/Hosting/test/FunctionalTests/LinkedApplicationTests.cs
Labels: area-runtime

#35872 Fix null-ref for MSAL WASM Auth
  src/Components/WebAssembly/Authentication.Msal/src/Interop/AuthenticationService.ts
Labels: area-blazor

#36000 Add .NET Dev Certs to DevContainer By Default
  .devcontainer/scripts/container-creation.sh
Labels: area-infrastructure

#36034 Revert "release/6.0 Upgrade Selenium Driver"
  eng/Versions.props
Labels: area-infrastructure

#35955 Don't generate Action links to non-Action named endpoints
  src/Http/Routing/src/RouteCollection.cs
  src/Http/Routing/src/RouteValuesAddressScheme.cs
  src/Http/Routing/test/UnitTests/RouteValuesAddressSchemeTest.cs
  src/Mvc/Mvc.Core/test/Routing/EndpointRoutingUrlHelperTest.cs
  src/Mvc/Mvc.Core/test/Routing/UrlHelperTest.cs
  src/Mvc/Mvc.Core/test/Routing/UrlHelperTestBase.cs
Labels: area-web-frameworks

#35997 RoleManager.RoleExistsAsync role name normalization issue
  src/Identity/Extensions.Core/src/RoleManager.cs
  src/Identity/test/Identity.Test/RoleManagerTest.cs
  src/Identity/test/Identity.Test/UserManagerTest.cs
  src/Identity/test/Shared/MockHelpers.cs
Labels: area-identity, community-contribution

#36033 Revert "Upgrade Selenium Version"
  eng/Versions.props
Labels: area-infrastructure

#35631 Fix ambiguous Map method with minimal APIs
  src/Http/Http.Abstractions/src/Extensions/MapExtensions.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Abstractions/test/MapPathMiddlewareTests.cs
  src/Http/Http.Abstractions/test/Microsoft.AspNetCore.Http.Abstractions.Tests.csproj
Labels: area-runtime

#35934 HTTP/3 with IIS
  src/Servers/HttpSys/test/FunctionalTests/Http3Tests.cs
  src/Servers/HttpSys/test/FunctionalTests/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests.csproj
  src/Servers/IIS/Directory.Build.props
  src/Servers/IIS/IIS/src/Core/IISHttpContextOfT.cs
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/Http3Tests.cs
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/IIS.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
  src/Servers/Kestrel/shared/test/TransportTestHelpers/HttpSysHttp3SupportedAttribute.cs
Labels: area-runtime

#36047 Improve the errors around UseStartup/Configure
  src/DefaultBuilder/src/ConfigureHostBuilder.cs
  src/DefaultBuilder/src/ConfigureWebHostBuilder.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
  src/Hosting/Hosting/src/GenericHost/GenericWebHostBuilder.cs
  src/Hosting/Hosting/src/GenericHost/HostingStartupWebHostBuilder.cs
  src/Hosting/Hosting/src/Infrastructure/ISupportsStartup.cs
  src/Hosting/Hosting/src/PublicAPI.Unshipped.txt
  src/Hosting/Hosting/src/WebHostBuilderExtensions.cs
  src/Hosting/Hosting/test/Fakes/GenericWebHostBuilderWrapper.cs
Labels: area-runtime, feature-minimal-hosting, area-web-frameworks

#36037 Capture Endpoint and Routes Values in IStatusCodeReExecuteFeature
  src/Middleware/Diagnostics.Abstractions/src/IStatusCodeReExecuteFeature.cs
  src/Middleware/Diagnostics.Abstractions/src/PublicAPI.Unshipped.txt
  src/Middleware/Diagnostics/src/PublicAPI.Unshipped.txt
  src/Middleware/Diagnostics/src/StatusCodePage/StatusCodePagesExtensions.cs
  src/Middleware/Diagnostics/src/StatusCodePage/StatusCodeReExecuteFeature.cs
  src/Middleware/Diagnostics/test/UnitTests/StatusCodeMiddlewareTest.cs
Labels: area-runtime, community-contribution

#36044 [release/6.0] Fix ambiguous Map method with minimal APIs
  src/Http/Http.Abstractions/src/Extensions/MapExtensions.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Abstractions/test/MapPathMiddlewareTests.cs
  src/Http/Http.Abstractions/test/Microsoft.AspNetCore.Http.Abstractions.Tests.csproj
Labels: area-runtime

#35715 Big-endian fixes: Guid handling in KeyRingBasedDataProtector.cs
  src/DataProtection/DataProtection/src/KeyManagement/KeyRingBasedDataProtector.cs
Labels: area-dataprotection, community-contribution

#35863 Log time-taken more precisely
  src/Middleware/HttpLogging/src/Microsoft.AspNetCore.HttpLogging.csproj
  src/Middleware/HttpLogging/src/W3CLogger.cs
  src/Middleware/HttpLogging/src/W3CLoggingMiddleware.cs
  src/Middleware/HttpLogging/test/W3CLoggerTests.cs
  src/Middleware/HttpLogging/test/W3CLoggingMiddlewareTests.cs
Labels: area-runtime

#36055 Fix issues with hosting startups
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/DefaultBuilder/src/WebApplicationOptions.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
Labels: area-runtime

#36026 Add support for WithTags extension method (#35672)
  src/Http/Http.Abstractions/src/Metadata/ITagsMetadata.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/src/TagsAttribute.cs
  src/Http/Http/src/PublicAPI.Unshipped.txt
  src/Http/Routing/src/Builder/OpenApiDelegateEndpointConventionBuilderExtensions.cs
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/test/UnitTests/Builder/DelegateEndpointRouteBuilderExtensionsTest.cs
Labels: area-runtime

#36076 [release/6.0] Backport Fix issues with hosting startups
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/DefaultBuilder/src/WebApplicationOptions.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
Labels: area-runtime

#36004 Throw for bad requests intended for minimal route handlers in development
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
  src/Http/Http.Extensions/src/Microsoft.AspNetCore.Http.Extensions.csproj
  src/Http/Http.Extensions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/src/RequestDelegateFactoryOptions.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Routing/src/Builder/DelegateEndpointRouteBuilderExtensions.cs
  src/Http/Routing/src/ConfigureRouteHandlerOptions.cs
  src/Http/Routing/src/DependencyInjection/RoutingServiceCollectionExtensions.cs
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/src/RouteHandlerOptions.cs
  src/Http/Routing/test/UnitTests/Builder/DelegateEndpointRouteBuilderExtensionsTest.cs
  src/Http/Routing/test/UnitTests/Microsoft.AspNetCore.Routing.Tests.csproj
  src/Http/Routing/test/UnitTests/RouteHandlerOptionsTests.cs
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/DeveloperExceptionPageMiddleware.cs
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/Views/CompilationErrorPage.Designer.cs
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/Views/CompilationErrorPage.cshtml
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/Views/ErrorPage.Designer.cs
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/Views/ErrorPage.cshtml
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/Views/ErrorPageModel.cs
  src/Middleware/Diagnostics/src/README.md
  src/Middleware/Diagnostics/src/WelcomePage/Views/WelcomePage.Designer.cs
  src/Middleware/Diagnostics/test/UnitTests/DeveloperExceptionPageMiddlewareTest.cs
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
  src/Mvc/Mvc/test/MvcServiceCollectionExtensionsTest.cs
Labels: area-runtime

#36067 PersonalDataAttribute should only apply to properties
  src/Identity/Extensions.Core/src/PersonalDataAttribute.cs
Labels: breaking-change, area-identity

#36080 Quarantine `LoggingConfigurationSectionPassedToLoggerByDefault`
  src/DefaultBuilder/test/Microsoft.AspNetCore.FunctionalTests/WebHostFunctionalTests.cs
Labels: area-runtime

#35982 Fix root '<PageTitle>' not working when a default, static '<title>' is provided
  src/Components/Components/src/Sections/SectionContent.cs
  src/Components/Components/src/Sections/SectionRegistry.cs
  src/Components/Web/src/Head/HeadOutlet.cs
Labels: area-blazor

#35976 Properly reject non-json FromBody parameter binding
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
Labels: area-runtime, feature-minimal-actions, area-web-frameworks

#36005 Fix frame type exception message in Http3InMemory
  src/Servers/Kestrel/shared/test/Http3/Http3InMemory.cs
Labels: area-runtime

#36017 HTTP/3: Support canceling requests that aren't reading a body
  src/Servers/Connections.Abstractions/src/Features/IProtocolErrorCodeFeature.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/IQuicTrace.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionContext.FeatureCollection.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.FeatureCollection.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicTrace.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionContextTests.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionListenerTests.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicStreamContextTests.cs
  src/Servers/Kestrel/shared/test/Http3/Http3InMemory.cs
  src/Servers/Kestrel/shared/test/StreamExtensions.cs
  src/Servers/Kestrel/shared/test/TestContextFactory.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TimeoutTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/HttpEventSourceListener.cs
Labels: area-runtime

#36072 [release/6.0] Throw for bad requests intended for minimal route handlers in development
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
  src/Http/Http.Extensions/src/Microsoft.AspNetCore.Http.Extensions.csproj
  src/Http/Http.Extensions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/src/RequestDelegateFactoryOptions.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Routing/src/Builder/DelegateEndpointRouteBuilderExtensions.cs
  src/Http/Routing/src/ConfigureRouteHandlerOptions.cs
  src/Http/Routing/src/DependencyInjection/RoutingServiceCollectionExtensions.cs
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/src/RouteHandlerOptions.cs
  src/Http/Routing/test/UnitTests/Builder/DelegateEndpointRouteBuilderExtensionsTest.cs
  src/Http/Routing/test/UnitTests/Microsoft.AspNetCore.Routing.Tests.csproj
  src/Http/Routing/test/UnitTests/RouteHandlerOptionsTests.cs
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/DeveloperExceptionPageMiddleware.cs
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/Views/CompilationErrorPage.Designer.cs
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/Views/CompilationErrorPage.cshtml
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/Views/ErrorPage.Designer.cs
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/Views/ErrorPage.cshtml
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/Views/ErrorPageModel.cs
  src/Middleware/Diagnostics/src/README.md
  src/Middleware/Diagnostics/src/WelcomePage/Views/WelcomePage.Designer.cs
  src/Middleware/Diagnostics/test/UnitTests/DeveloperExceptionPageMiddlewareTest.cs
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
  src/Mvc/Mvc/test/MvcServiceCollectionExtensionsTest.cs
Labels: area-web-frameworks

#36122 Run user defined hosted services before the server starts.
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/DefaultBuilder/src/WebApplicationServiceCollection.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
Labels: area-runtime

#36102 Store and reuse health status for health checks
  src/Middleware/HealthChecks/src/HealthCheckResponseWriters.cs
Labels: area-runtime, community-contribution

#36109 [release/6.0] HTTP/3: Support canceling requests that aren't reading a body
  src/Servers/Connections.Abstractions/src/Features/IProtocolErrorCodeFeature.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/IQuicTrace.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionContext.FeatureCollection.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.FeatureCollection.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicTrace.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionContextTests.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionListenerTests.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicStreamContextTests.cs
  src/Servers/Kestrel/shared/test/Http3/Http3InMemory.cs
  src/Servers/Kestrel/shared/test/StreamExtensions.cs
  src/Servers/Kestrel/shared/test/TestContextFactory.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TimeoutTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/HttpEventSourceListener.cs
Labels: area-runtime

#36110 New Hosted build pools
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#36094 Create .rpm's for Linux Mariner
  src/Installers/Rpm/Directory.Build.targets
  src/Installers/Rpm/Runtime/Rpm.Runtime.rpmproj
  src/Installers/Rpm/TargetingPack/Rpm.TargetingPack.rpmproj
Labels: area-infrastructure

#36146 Handle ERROR_CONNECTION_INVALID after ERROR_MORE_DATA
  src/Servers/HttpSys/src/AsyncAcceptContext.cs
Labels: area-runtime

#36107 Update ChromeDriver version
  eng/Versions.props
  src/Components/test/E2ETest/package.json
  src/Components/test/E2ETest/yarn.lock
  src/ProjectTemplates/BlazorTemplates.Tests/package.json
  src/ProjectTemplates/BlazorTemplates.Tests/yarn.lock
  src/ProjectTemplates/test/package.json
  src/ProjectTemplates/test/yarn.lock
  src/Shared/E2ETesting/E2ETesting.targets
Labels: area-infrastructure

#35875 Add support for stating accepts/consumes metadata is required or not
  src/Http/Http.Abstractions/src/Metadata/IAcceptsMetadata.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Routing/test/UnitTests/Builder/DelegateEndpointRouteBuilderExtensionsTest.cs
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
  src/Mvc/Mvc.Core/src/Builder/OpenApiEndpointConventionBuilderExtensions.cs
  src/Mvc/Mvc.Core/src/ConsumesAttribute.cs
  src/Mvc/Mvc.Core/src/PublicAPI.Unshipped.txt
  src/Shared/RoutingMetadata/AcceptsMetadata.cs
Labels: area-web-frameworks

#35805 Add an analyzer that warns about non-literal sequence numbers
  src/Framework/Analyzer/src/DelegateEndpoints/DiagnosticDescriptors.cs
  src/Framework/Analyzer/src/DiagnosticDescriptors.cs
  src/Framework/Analyzer/src/RenderTreeBuilder/RenderTreeBuilderAnalyzer.cs
  src/Framework/Analyzer/src/RenderTreeBuilder/WellKnownTypes.cs
  src/Framework/Analyzer/test/Components/DisallowNonLiteralSequenceNumbersTest.cs
Labels: area-infrastructure

#36163 Unquarantine tests
  src/Middleware/HttpLogging/test/FileLoggerProcessorTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ConnectionMiddlewareTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TimeoutTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTests.cs
Labels: area-runtime

#36114 Add nullable support to BindAsync
  src/Http/Http.Extensions/src/Microsoft.AspNetCore.Http.Extensions.csproj
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/ParameterBindingMethodCacheTests.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/src/Microsoft.AspNetCore.Mvc.ApiExplorer.csproj
  src/Shared/ParameterBindingMethodCache.cs
Labels: area-web-frameworks

#36152 Honor ThrowOnBadRequest setting for wrong content type log
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
Labels: area-runtime, area-web-frameworks

#36128 [release/6.0] Add nullable support to BindAsync
  src/Http/Http.Extensions/src/Microsoft.AspNetCore.Http.Extensions.csproj
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/ParameterBindingMethodCacheTests.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/src/Microsoft.AspNetCore.Mvc.ApiExplorer.csproj
  src/Shared/ParameterBindingMethodCache.cs
Labels: area-web-frameworks

#35714 Big-endian fixes: binary data in RenderBatch
  src/Components/Ignitor/src/RenderBatchReader.cs
  src/Components/Ignitor/test/RenderBatchReaderTest.cs
  src/Components/Server/test/Circuits/RenderBatchWriterTest.cs
Labels: area-blazor, community-contribution

#36220 Don't log status messages for debug proxy. Fixes #35292
  src/Components/WebAssembly/Server/src/DebugProxyLauncher.cs
Labels: area-blazor

#35719 Use ArrayPool as default pool fallback
  src/Servers/Kestrel/Core/src/Internal/Http/Http1OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/PipeWriterHelpers/ConcurrentPipeWriter.cs
  src/Servers/Kestrel/Core/test/Http1OutputProducerTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
Labels: area-runtime

#36027 Update templates to use scoped CSS (#35658)
  src/ProjectTemplates/Shared/AspNetProcess.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Pages/Shared/_Layout.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Pages/Shared/_Layout.cshtml.css
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/wwwroot/css/site.css
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Views/Shared/_Layout.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Views/Shared/_Layout.cshtml.css
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/wwwroot/css/site.css
  src/ProjectTemplates/test/template-baselines.json
Labels: area-mvc

#36186 Fix how host configuration is handled in WebApplicationBuilder
  src/DefaultBuilder/src/BootstrapHostBuilder.cs
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
Labels: feature-minimal-hosting, area-web-frameworks

#36155 [release/6.0] React to dotnet/runtime#57816
  eng/Dependencies.props
  eng/Version.Details.xml
  eng/Versions.props
  src/Framework/App.Ref/src/Microsoft.AspNetCore.App.Ref.csproj
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-infrastructure

#36068 Add minimal option to webapi template
  src/ProjectTemplates/Shared/TemplatePackageInstaller.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/dotnetcli.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Controllers/WeatherForecastController.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Program.MinimalAPIs.OrgOrIndividualB2CAuth.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Program.MinimalAPIs.WindowsOrNoAuth.cs
  src/ProjectTemplates/scripts/.gitignore
  src/ProjectTemplates/scripts/Run-WebApiMinimal-Locally.ps1
  src/ProjectTemplates/test/BaselineTest.cs
  src/ProjectTemplates/test/template-baselines.json
Labels: area-mvc

#36233 [release/6.0]: Fix how host configuration is handled in WebApplicationBuilder
  src/DefaultBuilder/src/BootstrapHostBuilder.cs
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
Labels: area-runtime, feature-minimal-hosting

#36207 Make E2E tests work on Linux, support retries, and have new Azure pipeline
  .azure/pipelines/ci.yml
  .azure/pipelines/components-e2e-tests.yml
  src/Components/test/E2ETest/AssemblyInfo.cs
  src/Components/test/E2ETest/Infrastructure/ServerFixtures/BlazorWasmTestAppFixture.cs
  src/Components/test/E2ETest/ServerExecutionTests/CircuitGracefulTerminationTests.cs
  src/Components/test/E2ETest/Tests/FormsTest.cs
  src/Components/test/E2ETest/Tests/GlobalizationTest.cs
  src/Components/test/E2ETest/Tests/InputFileTest.cs
  src/Components/test/testassets/GlobalizationWasmApp/GlobalizationWasmApp.csproj
  src/Shared/E2ETesting/BrowserFixture.cs
  src/Shared/E2ETesting/E2ETesting.props
  src/Shared/E2ETesting/SeleniumStandaloneServer.cs
  src/Testing/src/xunit/AspNetTestInvoker.cs
  src/Testing/src/xunit/AspNetTestRunner.cs
  src/Testing/test/RetryTest.cs
Labels: area-blazor

#36201 Adding test coverage for host builder properties
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
Labels: area-web-frameworks

#36009 Fix sample usage for --format argument
  src/Tools/dotnet-dev-certs/src/Program.cs
Labels: area-commandlinetools, community-contribution

#36257 Update sdk to 6.0.100-rc.2.21457.23
  global.json
Labels: area-infrastructure

#36088 [Blazor] Update npm dependencies
  .azure/pipelines/jobs/default-build.yml
  eng/targets/Helix.props
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/package.json
  src/Components/Web.JS/src/Boot.Server.ts
  src/Components/Web.JS/src/Platform/Circuits/CircuitStreamingInterop.ts
  src/Components/Web.JS/src/Platform/Circuits/DefaultReconnectDisplay.ts
  src/Components/Web.JS/src/Platform/Circuits/DefaultReconnectionHandler.ts
  src/Components/Web.JS/src/Platform/Circuits/RenderQueue.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/Web.JS/src/Platform/WebView/WebViewIpcReceiver.ts
  src/Components/Web.JS/src/Rendering/BrowserRenderer.ts
  src/Components/Web.JS/src/Rendering/LogicalElements.ts
  src/Components/Web.JS/yarn.lock
  src/Components/WebAssembly/Authentication.Msal/src/Interop/AuthenticationService.ts
  src/Components/WebAssembly/Authentication.Msal/src/Interop/babel.config.json
  src/Components/WebAssembly/Authentication.Msal/src/Interop/dist/.gitignore
  src/Components/WebAssembly/Authentication.Msal/src/Interop/package.json
  src/Components/WebAssembly/Authentication.Msal/src/Interop/webpack.config.js
  src/Components/WebAssembly/Authentication.Msal/src/Interop/yarn.lock
  src/Components/WebAssembly/Authentication.Msal/src/Microsoft.Authentication.WebAssembly.Msal.csproj
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/babel.config.json
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/dist/.gitignore
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/package.json
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/webpack.config.js
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/yarn.lock
  src/Components/WebAssembly/WebAssembly.Authentication/src/Microsoft.AspNetCore.Components.WebAssembly.Authentication.csproj
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Shared/RedirectToLogin.razor
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Data/Migrations/20200818132003_IdentityServer4.Designer.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Data/Migrations/20200818132003_IdentityServer4.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Data/Migrations/20210902111722_Initial.Designer.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Data/Migrations/20210902111722_Initial.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Data/Migrations/ApplicationDbContextModelSnapshot.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Wasm.Authentication.Server.csproj
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorServerTemplateTest.cs
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorWasmTemplateTest.cs
  src/Shared/BrowserTesting/src/BrowserTestOutputLogger.cs
Labels: area-blazor

#36255 Fix templates
  eng/Versions.props
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/NavMenu.CallsMicrosoftGraph.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/NavMenu.CallsWebApi.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/NavMenu.NoGraphOrApi.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/appsettings.json
Labels: community-contribution

#36247 Backport #36207 to 6.0
  .azure/pipelines/ci.yml
  .azure/pipelines/components-e2e-tests.yml
  src/Components/test/E2ETest/AssemblyInfo.cs
  src/Components/test/E2ETest/Infrastructure/ServerFixtures/BlazorWasmTestAppFixture.cs
  src/Components/test/E2ETest/ServerExecutionTests/CircuitGracefulTerminationTests.cs
  src/Components/test/E2ETest/Tests/FormsTest.cs
  src/Components/test/E2ETest/Tests/GlobalizationTest.cs
  src/Components/test/E2ETest/Tests/InputFileTest.cs
  src/Components/test/testassets/GlobalizationWasmApp/GlobalizationWasmApp.csproj
  src/Shared/E2ETesting/BrowserFixture.cs
  src/Shared/E2ETesting/E2ETesting.props
  src/Shared/E2ETesting/SeleniumStandaloneServer.cs
  src/Testing/src/xunit/AspNetTestInvoker.cs
  src/Testing/src/xunit/AspNetTestRunner.cs
  src/Testing/test/RetryTest.cs
Labels: area-blazor

#36166 Have kestrel filter out pseudo headers
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/shared/KnownHeaders.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
Labels: area-runtime

#36285 Update sdk to 7.0.100-alpha.1.21457.7
  global.json
Labels: area-infrastructure

#36235 Update branding for 3.1.20
  .azure/pipelines/ci.yml
  eng/Versions.props
  eng/docker/alpine.Dockerfile
  eng/docker/bionic.Dockerfile
Labels: area-infrastructure

#36284 Update facebook oauth to v11.0
  src/Security/Authentication/Facebook/src/FacebookDefaults.cs
  src/Security/Authentication/test/FacebookTests.cs
Labels: area-security

#36174 Make DataProtection warnings mention aka.ms/dataprotectionwarning
  src/DataProtection/DataProtection/src/Resources.resx
  src/DataProtection/Extensions/src/Resources.resx
Labels: area-dataprotection

#35916 Support platforms where crossgen2 is not available
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-infrastructure, community-contribution

#36161 Move OpenAPI extensions to routing assembly
  src/Http/Http.Abstractions/src/Metadata/IProducesResponseTypeMetadata.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Routing/src/Builder/OpenApiDelegateEndpointConventionBuilderExtensions.cs
  src/Http/Routing/src/Microsoft.AspNetCore.Routing.csproj
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/test/UnitTests/Microsoft.AspNetCore.Routing.Tests.csproj
  src/Mvc/Mvc.ApiExplorer/src/ApiResponseTypeProvider.cs
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
  src/Mvc/Mvc.Core/src/Builder/OpenApiEndpointConventionBuilderExtensions.cs
  src/Mvc/Mvc.Core/src/PublicAPI.Unshipped.txt
  src/Shared/ApiExplorerTypes/ProducesResponseTypeMetadata.cs
Labels: api-approved, area-web-frameworks

#33197 [release/3.1] Expose all references when not restoring
  eng/targets/ResolveReferences.targets
  src/Components/Components/src/Microsoft.AspNetCore.Components.csproj
  src/Components/Forms/src/Microsoft.AspNetCore.Components.Forms.csproj
  src/Components/Ignitor/src/Ignitor.csproj
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Wasm.Authentication.Server.csproj
  src/DataProtection/AzureKeyVault/test/Microsoft.AspNetCore.DataProtection.AzureKeyVault.Tests.csproj
  src/DataProtection/AzureStorage/test/Microsoft.AspNetCore.DataProtection.AzureStorage.Tests.csproj
  src/DataProtection/DataProtection/src/Microsoft.AspNetCore.DataProtection.csproj
  src/DataProtection/EntityFrameworkCore/test/Microsoft.AspNetCore.DataProtection.EntityFrameworkCore.Test.csproj
  src/DataProtection/StackExchangeRedis/test/Microsoft.AspNetCore.DataProtection.StackExchangeRedis.Tests.csproj
  src/DataProtection/samples/AzureBlob/AzureBlob.csproj
  src/DataProtection/samples/EntityFrameworkCoreSample/EntityFrameworkCoreSample.csproj
  src/DataProtection/samples/Redis/Redis.csproj
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Identity/ApiAuthorization.IdentityServer/samples/ApiAuthSample/ApiAuthSample.csproj
  src/Identity/EntityFrameworkCore/test/EF.InMemory.Test/Microsoft.AspNetCore.Identity.EntityFrameworkCore.InMemory.Test.csproj
  src/Identity/EntityFrameworkCore/test/EF.Test/Microsoft.AspNetCore.Identity.EntityFrameworkCore.Test.csproj
  src/Identity/samples/IdentitySample.DefaultUI/IdentitySample.DefaultUI.csproj
  src/Identity/samples/IdentitySample.Mvc/IdentitySample.Mvc.csproj
  src/Identity/testassets/Identity.DefaultUI.WebSite/Identity.DefaultUI.WebSite.csproj
  src/Middleware/Diagnostics.EntityFrameworkCore/test/FunctionalTests/Diagnostics.EFCore.FunctionalTests.csproj
  src/Middleware/Diagnostics.EntityFrameworkCore/test/UnitTests/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.Tests.csproj
  src/Middleware/Diagnostics/test/testassets/DatabaseErrorPageSample/DatabaseErrorPageSample.csproj
  src/Middleware/HealthChecks.EntityFrameworkCore/test/Microsoft.Extensions.Diagnostics.HealthChecks.EntityFrameworkCore.Tests.csproj
  src/Middleware/HealthChecks/test/testassets/HealthChecksSample/HealthChecksSample.csproj
  src/Security/samples/Identity.ExternalClaims/Identity.ExternalClaims.csproj
  src/Servers/Connections.Abstractions/src/Microsoft.AspNetCore.Connections.Abstractions.csproj
  src/SignalR/clients/csharp/Client.Core/src/Microsoft.AspNetCore.SignalR.Client.Core.csproj
  src/SignalR/clients/ts/FunctionalTests/SignalR.Client.FunctionalTestApp.csproj
  src/SignalR/common/Http.Connections.Common/src/Microsoft.AspNetCore.Http.Connections.Common.csproj
  src/SignalR/common/SignalR.Common/src/Microsoft.AspNetCore.SignalR.Common.csproj
  src/SignalR/common/testassets/Tests.Utils/Microsoft.AspNetCore.SignalR.Tests.Utils.csproj
  src/SignalR/samples/ClientSample/ClientSample.csproj
  src/SignalR/samples/JwtClientSample/JwtClientSample.csproj
  src/SignalR/samples/SignalRSamples/SignalRSamples.csproj
  src/SignalR/server/Specification.Tests/src/Microsoft.AspNetCore.SignalR.Specification.Tests.csproj
Labels: area-infrastructure, tell-mode

#36162 Dispose the prior response on retry
  src/HttpClientFactory/Polly/src/PolicyHttpMessageHandler.cs
  src/HttpClientFactory/Polly/test/PolicyHttpMessageHandlerTest.cs
Labels: area-runtime, feature-httpclientfactory

#36297 Unquarantine test
  src/Hosting/test/FunctionalTests/LinkedApplicationTests.cs
Labels: area-runtime

#36178 Add build troubleshooting suggestion
  docs/BuildErrors.md
Labels: area-infrastructure

#36301 Correct the docs on ISession.IsAvailable
  src/Http/Http.Features/src/ISession.cs
Labels: area-runtime

#36236 Update branding for 5.0.11
  .azure/pipelines/ci.yml
  eng/Versions.props
  eng/docker/bionic.Dockerfile
  eng/scripts/install-nginx-mac.sh
  src/Components/benchmarkapps/Wasm.Performance/Driver/Selenium.cs
  src/Components/test/E2ETest/package.json
  src/Components/test/E2ETest/yarn.lock
  src/ProjectTemplates/BlazorTemplates.Tests/package.json
  src/ProjectTemplates/BlazorTemplates.Tests/yarn.lock
  src/ProjectTemplates/test/package.json
  src/ProjectTemplates/test/yarn.lock
  src/Shared/E2ETesting/BrowserFixture.cs
  src/Shared/E2ETesting/E2ETesting.targets
  src/Shared/E2ETesting/selenium-config.json
Labels: area-infrastructure

#36325 [release/6.0] Support platforms where crossgen2 is not available
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-infrastructure, community-contribution

#36248 [release/6.0 Cleanup remaining SSP references
  src/Framework/App.Ref/src/Microsoft.AspNetCore.App.Ref.csproj
Labels: area-infrastructure

#35950 [release/3.1] Align CODEOWNERS with 'main'
  .github/CODEOWNERS
Labels: area-infrastructure, tell-mode

#35953 [release/5.0] Align CODEOWNERS with 'main'
  .github/CODEOWNERS
Labels: area-infrastructure, tell-mode

#36307 Un-redact safe request/response headers in HttpLoggingMiddleware
  src/Middleware/HttpLogging/src/HttpLoggingOptions.cs
Labels: area-runtime

#36337 Fixed duplicate metadata in ModelDataSource
  src/Http/Routing/src/Builder/RoutingEndpointConventionBuilderExtensions.cs
  src/Http/Routing/src/DefaultEndpointConventionBuilder.cs
  src/Http/Routing/test/UnitTests/Builder/DelegateEndpointRouteBuilderExtensionsTest.cs
  src/Http/Routing/test/UnitTests/Builder/MapEndpointEndpointDataSourceBuilderExtensionsTest.cs
Labels: feature-routing, area-web-frameworks

#36040 Add Win11 helix-matrix/quarantine queue, remove win7/8
  .azure/pipelines/helix-matrix.yml
  .azure/pipelines/quarantined-pr.yml
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#36171 Handle shortened JSON file in `dotnet openapi`
  src/Tools/Microsoft.dotnet-openapi/src/Commands/BaseCommand.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiAddFileTests.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiAddURLTests.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiRefreshTests.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiRemoveTests.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiTestBase.cs
Labels: area-commandlinetools, feature-openapi

#36350 [release/5.0] Fix component governance bugs
  src/Components/Web.JS/package.json
  src/Components/Web.JS/yarn.lock
  src/Components/test/E2ETest/package.json
  src/Components/test/E2ETest/yarn.lock
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/package.json
  src/SignalR/clients/ts/FunctionalTests/package.json
  src/SignalR/clients/ts/FunctionalTests/yarn.lock
  src/SignalR/clients/ts/common/package.json
  src/SignalR/clients/ts/common/yarn.lock
  src/SignalR/clients/ts/signalr-protocol-msgpack/package.json
  src/SignalR/clients/ts/signalr-protocol-msgpack/yarn.lock
Labels: tell-mode

#36346 Remove `dotnet-core` feed
  build/sources.props
Labels: area-infrastructure, tell-mode

#36354 Remove WebView path/query code that isn't used anymore
  src/Components/WebView/WebView/src/PathString.cs
  src/Components/WebView/WebView/src/PathStringHelper.cs
  src/Components/WebView/WebView/src/QueryString.cs
Labels: area-blazor

#36374 Fix polycheck issues
  src/Http/Routing/perf/Matching/MatcherAzureBenchmarkBase.generated.cs
  src/Middleware/SpaServices/src/npm/aspnet-webpack/src/LoadViaWebpack.ts
Labels: area-runtime

#36154 Add analyzer for detecting mismatched endpoint parameter optionality
  AspNetCore.sln
  eng/Dependencies.props
  eng/Versions.props
  src/Framework/App.Ref/src/Microsoft.AspNetCore.App.Ref.csproj
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DelegateEndpointAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DetectMismatchedParameterOptionality.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DetectMisplacedLambdaAttribute.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DiagnosticDescriptors.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DisallowMvcBindArgumentsOnParameters.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DisallowReturningActionResultFromMapMethods.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Microsoft.AspNetCore.App.Analyzers.csproj
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/WellKnownTypes.cs
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/DetectMismatchedParameterOptionalityFixer.cs
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/Microsoft.AspNetCore.App.CodeFixes.csproj
  src/Framework/AspNetCoreAnalyzers/test/Microsoft.AspNetCore.App.Analyzers.Test.csproj
  src/Framework/AspNetCoreAnalyzers/test/MinimalActions/DetectMismatchedParameterOptionalityTest.cs
  src/Framework/AspNetCoreAnalyzers/test/MinimalActions/DetectMisplacedLambdaAttributeTest.cs
  src/Framework/AspNetCoreAnalyzers/test/MinimalActions/DisallowMvcBindArgumentsOnParametersTest.cs
  src/Framework/AspNetCoreAnalyzers/test/MinimalActions/DisallowReturningActionResultsFromMapMethodsTest.cs
  src/Framework/AspNetCoreAnalyzers/test/TestDiagnosticAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/test/Verifiers/CSharpDelegateEndpointsAnalyzerVerifier.cs
  src/Framework/AspNetCoreAnalyzers/test/Verifiers/CSharpDelegateEndpointsCodeFixVerifier.cs
  src/Framework/AspNetCoreAnalyzers/test/xunit.runner.json
  src/Framework/Framework.slnf
  src/Shared/Roslyn/CodeAnalysisExtensions.cs
Labels: area-web-frameworks

#36064 Improve error messages for missing body and services
  src/Http/Http.Extensions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/src/RequestDelegateFactoryOptions.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Routing/src/Builder/DelegateEndpointRouteBuilderExtensions.cs
  src/Http/Routing/test/UnitTests/Builder/DelegateEndpointRouteBuilderExtensionsTest.cs
Labels: area-runtime, api-approved, area-web-frameworks

#36377 Remove WebView path/query code that isn't used anymore (#36354) (port from 6.0 branch)
  src/Components/WebView/WebView/src/PathString.cs
  src/Components/WebView/WebView/src/PathStringHelper.cs
  src/Components/WebView/WebView/src/QueryString.cs
Labels: area-blazor

#36358 Invalidate Cached WASM Auth Token on Authentication State Change
  src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticatorViewCore.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/AuthorizationMessageHandler.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Properties/launchSettings.json
Labels: area-blazor

#36385 Capture `dotnet` dumps
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#36365 Set initial capacity for headers HashSet
  src/Middleware/HttpLogging/src/HttpLoggingOptions.cs
Labels: area-runtime, community-contribution

#36168 Implement 100 Continue for HTTP/3
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3OutputProducer.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3ConnectionTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3Helpers.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
Labels: area-runtime

#36400 Ensure _Dumps artifacts aren't empty
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#36078 [SignalR] Add Http options to Negotiate endpoint metadata
  src/SignalR/common/Http.Connections/src/ConnectionEndpointRouteBuilderExtensions.cs
  src/SignalR/common/Http.Connections/src/NegotiateMetadata.cs
  src/SignalR/common/Http.Connections/test/MapConnectionHandlerTests.cs
Labels: area-signalr

#36362 [release/3.1] Handle shortened JSON file in `dotnet openapi`
  src/Tools/Microsoft.dotnet-openapi/src/Commands/BaseCommand.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiRefreshTests.cs
Labels: Servicing-consider, area-commandlinetools, feature-openapi

#36363 [release/5.0] Handle shortened JSON file in dotnet openapi
  src/Tools/Microsoft.dotnet-openapi/src/Commands/BaseCommand.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiRefreshTests.cs
Labels: Servicing-consider, area-commandlinetools, feature-openapi

#36368 Use one-shot static hash methods
  src/Mvc/shared/Mvc.Views.TestCommon/TestRazorCompiledItem.cs
  src/Security/Authentication/Facebook/src/FacebookHandler.cs
  src/Security/Authentication/Facebook/src/FacebookOptions.cs
  src/Security/Authentication/Twitter/src/TwitterHandler.cs
  src/Security/Authentication/test/FacebookTests.cs
  src/Security/Authentication/test/TwitterTests.cs
  src/Servers/IIS/IIS/test/testassets/shared/WebSockets/HandshakeHelpers.cs
Labels: area-security, community-contribution

#36367 [SignalR TS] Fix typo in Errors.ts
  src/SignalR/clients/ts/signalr/src/Errors.ts
Labels: area-signalr, community-contribution

#36430 Unquarantine Caching_SendFileWithFullContentLength_Cached
  src/Servers/HttpSys/test/FunctionalTests/ResponseCachingTests.cs
Labels: area-runtime

#36330 Stop using unencrypted git protocol in build.gradle
  src/SignalR/clients/java/signalr/core/build.gradle
  src/SignalR/clients/java/signalr/messagepack/build.gradle
Labels: area-signalr

#36420 Remove Dependabot `reviewers`
  .github/dependabot.yml
Labels: area-infrastructure

#36424 Test in manual internal builds
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#36409 Unquarantine Settings_MaxConcurrentStreamsPost_Server
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
Labels: area-runtime

#36441 Use HttpMethods.IsGet
  src/Mvc/Mvc.Core/src/ApplicationModels/DefaultApplicationModelProvider.cs
Labels: area-mvc, community-contribution

#36500 Disable OSX10.14 Helix jobs for now
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#36489 Backport `Fix Blazor Server Reconnection Mechanism` (#36126)
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/src/Boot.Server.ts
  src/Components/Web.JS/src/Platform/Circuits/DefaultReconnectDisplay.ts
  src/Components/Web.JS/src/Platform/Circuits/DefaultReconnectionHandler.ts
  src/Components/Web.JS/yarn.lock
  src/SignalR/clients/ts/signalr/src/Errors.ts
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
Labels: area-blazor

#36504 [release/5.0] Disable OSX10.14 Helix jobs for now
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#36470 Update SDK
  global.json
Labels: area-infrastructure

#36394 Honor sliding expiration in the security stamp validator
  src/Identity/Core/src/SecurityStampValidator.cs
  src/Identity/test/Identity.Test/SecurityStampValidatorTest.cs
  src/Security/Authentication/test/CookieTests.cs
Labels: area-identity

#36126 Fix Blazor Server Reconnection Mechanism
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/src/Boot.Server.ts
  src/Components/Web.JS/src/Platform/Circuits/DefaultReconnectDisplay.ts
  src/Components/Web.JS/src/Platform/Circuits/DefaultReconnectionHandler.ts
  src/Components/Web.JS/yarn.lock
  src/SignalR/clients/ts/signalr/src/Errors.ts
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
Labels: area-signalr, area-blazor

#36379 Cherry-pick mismatched parameter optionality analyzer and clean up directories
  AspNetCore.sln
  eng/Dependencies.props
  eng/Versions.props
  src/Framework/App.Ref/src/Microsoft.AspNetCore.App.Ref.csproj
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DelegateEndpoints/DelegateEndpointAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DelegateEndpoints/DetectMismatchedParameterOptionality.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DelegateEndpoints/DetectMisplacedLambdaAttribute.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DelegateEndpoints/DisallowMvcBindArgumentsOnParameters.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DelegateEndpoints/DisallowReturningActionResultFromMapMethods.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DelegateEndpoints/WellKnownTypes.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DiagnosticDescriptors.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Microsoft.AspNetCore.App.Analyzers.csproj
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RenderTreeBuilder/RenderTreeBuilderAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RenderTreeBuilder/WellKnownTypes.cs
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/DetectMismatchedParameterOptionalityFixer.cs
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/Microsoft.AspNetCore.App.CodeFixes.csproj
  src/Framework/AspNetCoreAnalyzers/test/Components/DisallowNonLiteralSequenceNumbersTest.cs
  src/Framework/AspNetCoreAnalyzers/test/DelegateEndpoints/DetectMismatchedParameterOptionalityTest.cs
  src/Framework/AspNetCoreAnalyzers/test/DelegateEndpoints/DetectMisplacedLambdaAttributeTest.cs
  src/Framework/AspNetCoreAnalyzers/test/DelegateEndpoints/DisallowMvcBindArgumentsOnParametersTest.cs
  src/Framework/AspNetCoreAnalyzers/test/DelegateEndpoints/DisallowReturningActionResultsFromMapMethodsTest.cs
  src/Framework/AspNetCoreAnalyzers/test/Microsoft.AspNetCore.App.Analyzers.Test.csproj
  src/Framework/AspNetCoreAnalyzers/test/TestDiagnosticAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/test/Verifiers/CSharpDelegateEndpointsAnalyzerVerifier.cs
  src/Framework/AspNetCoreAnalyzers/test/Verifiers/CSharpDelegateEndpointsCodeFixVerifier.cs
  src/Framework/AspNetCoreAnalyzers/test/xunit.runner.json
  src/Framework/Framework.slnf
  src/Shared/Roslyn/CodeAnalysisExtensions.cs
Labels: area-web-frameworks

#36442 Improve error message
  src/Tools/dotnet-dev-certs/src/Program.cs
Labels: area-commandlinetools

#36501 Clarify InvokeHandlersAfterFailure
  src/Security/Authorization/Core/src/AuthorizationHandlerContext.cs
  src/Security/Authorization/Core/src/AuthorizationOptions.cs
Labels: area-security

#36479 Identity UI fix razor content
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/Login.cshtml
  src/Identity/UI/src/Microsoft.AspNetCore.Identity.UI.csproj
Labels: area-identity

#36492 Make DelegateEndpointConventionBuilder constructors public
  src/Http/Routing/src/Builder/DelegateEndpointConventionBuilder.cs
  src/Http/Routing/src/PublicAPI.Unshipped.txt
Labels: area-runtime

#36518 Revert setting endpoint name automatically
  src/Http/Routing/src/Builder/DelegateEndpointRouteBuilderExtensions.cs
  src/Http/Routing/test/UnitTests/Builder/DelegateEndpointRouteBuilderExtensionsTest.cs
Labels: area-web-frameworks

#36473 Quarantine failing test
  src/Hosting/Hosting/test/HostingApplicationTests.cs
Labels: area-runtime

#36485 Don't ignore XML doc warnings for Polly
  src/HttpClientFactory/Polly/src/Microsoft.Extensions.Http.Polly.csproj
Labels: area-runtime

#36439 Expose ParameterInfo for Minimal Actions API Explorer
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/src/EndpointParameterDescriptor.cs
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
Labels: community-contribution, feature-openapi, area-web-frameworks

#36512 Avoid using TargetFramework in build targets
  src/Mvc/Mvc.Testing/src/buildTransitive/Microsoft.AspNetCore.Mvc.Testing.targets
Labels: area-mvc

#36353 Check for duplicate endpoint names on startup
  src/Http/Routing/src/Matching/DataSourceDependentMatcher.cs
  src/Http/Routing/test/UnitTests/Matching/DataSourceDependentMatcherTest.cs
Labels: area-runtime

#36383 Fix up solution file
  AspNetCore.sln
  src/Framework/Framework.slnf
Labels: area-infrastructure

#36563 Revert "Disable OSX10.14 Helix jobs for now"
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#36516 Merging internal commits for release/5.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  eng/tools/BaselineGenerator/Program.cs
  global.json
Labels: area-infrastructure

#36570 Avoid building the configuration sources twice
  src/DefaultBuilder/DefaultBuilder.slnf
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
Labels: area-runtime

#36548 Revert setting endpoint name automatically (#36518)
  src/Http/Routing/src/Builder/DelegateEndpointRouteBuilderExtensions.cs
  src/Http/Routing/test/UnitTests/Builder/DelegateEndpointRouteBuilderExtensionsTest.cs
Labels: area-web-frameworks

#36562 Revert "[release/6.0] Disable OSX10.14 Helix jobs for now"
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#36547 [release/6.0] Expose ParameterInfo for Minimal Actions API Explorer (#36439)
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/src/EndpointParameterDescriptor.cs
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
Labels: area-web-frameworks

#36549 Make DelegateEndpointConventionBuilder constructors public (#36492)
  src/Http/Routing/src/Builder/DelegateEndpointConventionBuilder.cs
  src/Http/Routing/src/PublicAPI.Unshipped.txt
Labels: area-runtime

#36449 Dougbu/check.solution.filters
  AspNetCore.sln
  eng/scripts/CodeCheck.ps1
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/reftrace/reftrace.vcxproj
  src/Installers/Windows/Installers.slnf
  src/Localization/Localization.slnf
  src/Middleware/ConcurrencyLimiter/ConcurrencyLimiter.slnf
  src/Middleware/Diagnostics/Diagnostics.slnf
  src/Middleware/Middleware.slnf
  src/Middleware/Session/Session.slnf
  src/Middleware/StaticFiles/StaticFiles.slnf
  src/ProjectTemplates/ProjectTemplates.slnf
  src/Security/Security.slnf
  src/Servers/test/FunctionalTests/FunctionalTests.slnf
Labels: area-infrastructure

#36526 Fixup OpenAPI displayed param type when using TryParse
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
Labels: area-mvc, area-web-frameworks

#36565 [main] Update SiteExtension versions
  eng/Versions.props
Labels: area-infrastructure

#36558 [release/6.0] Update SiteExtension versions
  eng/Versions.props
Labels: area-infrastructure

#36505 Add support for BindAsync without ParameterInfo
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/ParameterBindingMethodCacheTests.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Shared/ParameterBindingMethodCache.cs
Labels: area-web-frameworks

#36571 Stabilize versions for 6.0.0 RTM
  eng/Versions.props
Labels: area-infrastructure

#36100 Retarget DOTNETHOME when installing x64 on ARM64
  src/Installers/Windows/Common/dotnethome_x64.wxs
  src/Installers/Windows/SharedFramework/Product.wxs
  src/Installers/Windows/SharedFramework/SharedFramework.wixproj
  src/Installers/Windows/TargetingPack/Product.wxs
  src/Installers/Windows/TargetingPack/TargetingPack.wixproj
Labels: area-infrastructure

#36587 [release/5.0] Fixup feeds
  src/Components/benchmarkapps/BlazingPizza.Server/NuGet.config
  src/Mvc/benchmarkapps/NuGet.config
  src/Servers/Kestrel/NuGet.config
Labels: area-infrastructure

#36613 Revert "New Hosted build pools"
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure, tell-mode

#36617 Avoid using invalid content type for ValidationProblemDetails
  src/Http/Routing/src/Builder/OpenApiDelegateEndpointConventionBuilderExtensions.cs
  src/Mvc/Mvc.ApiExplorer/test/ApiResponseTypeProviderTest.cs
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
Labels: area-web-frameworks

#36625 Use a fake clock in the test
  src/Identity/test/Identity.Test/SecurityStampValidatorTest.cs
  src/Identity/test/Shared/TestClock.cs
Labels: area-identity

#36589 Handle JsonExceptions in RequestDelegateFactory
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
Labels: area-runtime

#36627 [release/6.0-rc2] Handle JsonExceptions in RequestDelegateFactory
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
Labels: Servicing-approved, area-runtime, area-web-frameworks

#35833 Use minimal APIs for F# project templates
  src/ProjectTemplates/Web.ProjectTemplates/StarterWeb-FSharp.fsproj.in
  src/ProjectTemplates/Web.ProjectTemplates/WebApi-FSharp.fsproj.in
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/Program.fs
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/Startup.fs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/Program.fs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/Startup.fs
  src/ProjectTemplates/test/template-baselines.json
Labels: area-mvc

#36628 Throw for invalid TryParse and BindAsync
  src/Http/Http.Extensions/test/ParameterBindingMethodCacheTests.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Shared/ParameterBindingMethodCache.cs
Labels: area-web-frameworks

#36403 Simplify Guid reading/writing code in DataProtection
  src/DataProtection/DataProtection/src/KeyManagement/KeyRingBasedDataProtector.cs
Labels: area-dataprotection

#36496 Improve documentation
  src/Components/WebAssembly/WebAssembly.Authentication/src/Options/OidcProviderOptions.cs
Labels: area-blazor, community-contribution

#36679 Add test for BoundAttributDescriptor HashCode
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptorComparer.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/BoundAttributeDescriptorTest.cs
Labels: area-mvc

#36559 [release/5.0] Use ArrayPool as default pool fallback
  src/Servers/Kestrel/Core/src/Internal/Http/Http1OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3OutputProducer.cs
  src/Servers/Kestrel/Core/test/Http1OutputProducerTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
Labels: Servicing-approved, area-runtime

#36656 Revert Enforce WebSockets Transport for Blazor
  src/Components/Server/src/Builder/ComponentEndpointRouteBuilderExtensions.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Boot.Server.ts
  src/Components/Web.JS/src/BootErrors.ts
  src/Components/test/E2ETest/ServerExecutionTests/ServerTransportsTest.cs
  src/Components/test/testassets/TestServer/Pages/Transports.cshtml
  src/Components/test/testassets/TestServer/ServerStartup.cs
  src/Components/test/testassets/TestServer/TransportsServerStartup.cs
Labels: Servicing-consider, area-blazor

#36684 Update BlazorServerApp Sample Project
  src/Components/Samples/BlazorServerApp/Pages/_Layout.cshtml
Labels: area-blazor

#36683 open DI in F# webapi project template
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/Program.fs
Labels: area-mvc, area-web-frameworks

#36702 Use SslApplicationProtocol.Http3
  src/Identity/Specification.Tests/src/UserManagerSpecificationTests.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicTestHelpers.cs
Labels: area-runtime, community-contribution

#36688 Find inherited TryParse and BindAsync
  src/Http/Http.Extensions/test/ParameterBindingMethodCacheTests.cs
  src/Shared/ParameterBindingMethodCache.cs
Labels: area-web-frameworks

#35846 onBoard package validation
  Directory.Build.targets
  src/Caching/SqlServer/src/CompatibilitySuppressions.xml
  src/DataProtection/DataProtection/src/CompatibilitySuppressions.xml
  src/DataProtection/Extensions/src/CompatibilitySuppressions.xml
  src/DataProtection/StackExchangeRedis/src/CompatibilitySuppressions.xml
  src/Features/JsonPatch/src/CompatibilitySuppressions.xml
  src/FileProviders/Embedded/src/CompatibilitySuppressions.xml
  src/SignalR/common/Protocols.MessagePack/src/CompatibilitySuppressions.xml
  src/SignalR/common/Protocols.NewtonsoftJson/src/CompatibilitySuppressions.xml
Labels: area-infrastructure

#36747 Pin analyzers that ship in the SDK (#36690)
  eng/Versions.props
  src/Analyzers/Analyzers/src/Microsoft.AspNetCore.Analyzers.csproj
  src/Analyzers/Analyzers/test/MinimalStartupTest.cs
  src/Components/Analyzers/src/Microsoft.AspNetCore.Components.Analyzers.csproj
  src/Mvc/Mvc.Analyzers/src/Microsoft.AspNetCore.Mvc.Analyzers.csproj
  src/Mvc/Mvc.Api.Analyzers/src/Microsoft.AspNetCore.Mvc.Api.Analyzers.csproj
Labels: area-infrastructure
