Repository dotnet/aspnetcore, pull requests merged in 2021-02, with the labels that each got.

#29791 Fix doc comment typo in ControllerModel.cs
  src/Mvc/Mvc.Core/src/ApplicationModels/ControllerModel.cs
Labels: area-mvc, community-contribution

#29713 Analyzer: Fix valid NotFound(null) parsing edge case
  src/Mvc/Mvc.Api.Analyzers/src/ActualApiResponseMetadataFactory.cs
  src/Mvc/Mvc.Api.Analyzers/test/ApiConventionAnalyzerIntegrationTest.cs
Labels: area-mvc, community-contribution

#29827 Use docker image with cert fix
  src/Components/benchmarkapps/Wasm.Performance/dockerfile
Labels: area-blazor, auto-merge

#29292 Update ApiControllerAttribute with link to more info
  src/Mvc/Mvc.Core/src/ApiControllerAttribute.cs
Labels: area-mvc, auto-merge

#29742 RazorPage: Allow IgnoreSection to specify sections that do not exist
  src/Mvc/Mvc.Razor/src/RazorPage.cs
  src/Mvc/Mvc.Razor/test/RazorPageTest.cs
Labels: area-mvc, auto-merge, community-contribution

#29748 Add DefaultHttpContext._active for debugging
  src/Http/Http/src/DefaultHttpContext.cs
  src/Http/Http/test/DefaultHttpContextTests.cs
Labels: area-servers

#29845 Remove WebAssembly SDK test asset files from merge
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.FirstClient/App.razor
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.FirstClient/BlazorMultipleApps.FirstClient.csproj
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.FirstClient/Program.cs
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.FirstClient/wwwroot/css/app.css
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.FirstClient/wwwroot/index.html
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.SecondClient/App.razor
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.SecondClient/BlazorMultipleApps.SecondClient.csproj
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.SecondClient/Program.cs
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.SecondClient/wwwroot/css/app.css
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.SecondClient/wwwroot/index.html
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.Server/BlazorMultipleApps.Server.csproj
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.Server/Program.cs
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.Shared/BlazorMultipleApps.Shared.csproj
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.Shared/WeatherForecast.cs
Labels: area-blazor, auto-merge

#29847 Fix IIS Integration build with VS
  AspNetCore.sln
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/AspNetCore.vcxproj
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/CommonLib.vcxproj
  src/Servers/IIS/AspNetCoreModuleV2/CommonLibTests/CommonLibTests.vcxproj
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/IISLib.vcxproj
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/InProcessRequestHandler.vcxproj
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/OutOfProcessRequestHandler.vcxproj
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/RequestHandlerLib.vcxproj
  src/Servers/IIS/AspNetCoreModuleV2/gtest/gtest.vcxproj
  src/Servers/IIS/IIS/benchmarks/IIS.Performance/IIS.Performance.csproj
  src/Servers/IIS/IIS/src/Microsoft.AspNetCore.Server.IIS.csproj
  src/Servers/IIS/IIS/test/IIS.NewShim.FunctionalTests/IIS.NewShim.FunctionalTests.csproj
  src/Servers/IIS/IISIntegration.slnf
  src/Servers/IIS/IntegrationTesting.IIS/src/Microsoft.AspNetCore.Server.IntegrationTesting.IIS.csproj
Labels: area-servers

#29310 Small code refactor in DefaultUserConfirmation.cs
  src/Identity/Extensions.Core/src/DefaultUserConfirmation.cs
Labels: area-identity, community-contribution

#29410 Handle null values when applying JSON Patch to a JObject
  src/Features/JsonPatch/src/Internal/JObjectAdapter.cs
  src/Features/JsonPatch/test/JsonPatchDocumentJObjectTest.cs
Labels: area-mvc, auto-merge, community-contribution

#29842 Add retries to helix installer commands
  eng/helix/content/runtests.cmd
  eng/helix/content/runtests.ps1
  src/Middleware/SpaServices.Extensions/test/SpaServicesExtensionsTests.cs
Labels: area-infrastructure

#29881 [Blazor] Update JavaScript dependencies, target modern JS
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/package.json
  src/Components/Web.JS/tsconfig.json
  src/Components/Web.JS/yarn.lock
  src/Components/WebAssembly/Authentication.Msal/src/Interop/package.json
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/package.json
Labels: area-blazor

#29897 Fix cref for AddRazorPagesOptions
  src/Mvc/Mvc.RazorPages/src/DependencyInjection/MvcRazorPagesMvcBuilderExtensions.cs
Labels: area-mvc, auto-merge

#29901 Remove accidental files
  src/Components/ProtectedBrowserStorage/src/PublicAPI.Shipped.txt
  src/Components/ProtectedBrowserStorage/src/PublicAPI.Unshipped.txt
Labels: area-blazor, auto-merge

#27975 Faster iteration in TagHelpersRunner
  src/Razor/Razor.Runtime/src/Runtime/TagHelpers/TagHelperExecutionContext.cs
  src/Razor/Razor.Runtime/src/Runtime/TagHelpers/TagHelperRunner.cs
Labels: area-mvc, community-contribution

#29882 [Blazor] Disable caching the response whenever we render a server-side blazor component
  src/Mvc/Mvc.ViewFeatures/src/RazorComponents/ComponentRenderer.cs
  src/Mvc/Mvc.ViewFeatures/test/RazorComponents/ComponentRendererTest.cs
Labels: area-mvc

#29857 Arguments incorrectly ordered in `ArgumentException` constructors (and two other minor analyzer message removals)
  src/Middleware/ConcurrencyLimiter/src/ConcurrencyLimiterEventSource.cs
  src/Middleware/ConcurrencyLimiter/src/QueuePolicies/QueuePolicy.cs
Labels: area-servers, community-contribution, feature-middleware

#29912 Remove use of Any, Single, and LastOrDefault from JSInterop
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/DotNetDispatcher.cs
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/TaskGenericsUtil.cs
  src/JSInterop/Microsoft.JSInterop/src/JSRuntime.cs
Labels: auto-merge

#29941 Bump JS dependencies with security warnings
  src/Components/Web.JS/yarn.lock
Labels: area-blazor, auto-merge

#29916 Add support for source generators in Razor compiler
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Ignitor/src/Ignitor.csproj
  src/Components/Ignitor/src/PublicAPI.Shipped.txt
  src/Components/Ignitor/src/PublicAPI.Unshipped.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Properties/AssemblyInfo.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/RazorProjectItem.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/RazorSourceDocument.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/src/Properties/AssemblyInfo.cs
Labels: area-mvc

#29908 Add nullablePublicOnly Roslyn Feature
  eng/targets/CSharp.Common.props
  src/Mvc/Mvc.DataAnnotations/test/Microsoft.AspNetCore.Mvc.DataAnnotations.Test.csproj
  src/Mvc/test/Mvc.IntegrationTests/Microsoft.AspNetCore.Mvc.IntegrationTests.csproj
Labels: area-infrastructure

#29909 Use normal mechanism to install `dotnet-format`
  .config/dotnet-tools.json
  build.ps1
Labels: area-infrastructure

#27421 Add AllowSystemTextJsonInputFormatterExceptionMessages to JsonOptions
  src/Mvc/Mvc.Core/src/Formatters/SystemTextJsonInputFormatter.cs
  src/Mvc/Mvc.Core/src/JsonOptions.cs
  src/Mvc/Mvc.Core/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Core/test/Formatters/JsonInputFormatterTestBase.cs
  src/Mvc/Mvc.Core/test/Formatters/SystemTextJsonInputFormatterTest.cs
  src/Mvc/Mvc.NewtonsoftJson/test/NewtonsoftJsonInputFormatterTest.cs
Labels: affected-medium, api-approved, area-mvc, community-contribution, enhancement, severity-minor

#29906 Experimenting with what hangs on shutdown on what OS for IIS
  src/Servers/IIS/IIS/test/Common.FunctionalTests/FrebTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/GlobalVersionTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Http2Tests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/MaxRequestBodySizeTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/LoggingTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/MaxRequestBodySizeTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/MultiApplicationTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/RequestResponseTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/ShutdownTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/StartupTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/InProcess/IISExpressShutdownTests.cs
Labels: area-servers

#29828 Make it easier to add certs to the extra store
  src/Security/Authentication/Certificate/src/CertificateAuthenticationHandler.cs
  src/Security/Authentication/Certificate/src/CertificateAuthenticationOptions.cs
  src/Security/Authentication/Certificate/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/test/CertificateTests.cs
Labels: area-security

#29999 Fixes flaky HTTP/3 test
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
Labels: area-servers

#30011 Add missing testassets to Components E2E
  src/Components/Components.slnf
Labels: area-blazor, auto-merge

#30004 Duplicate productVersion.txt with repo-specific name
  eng/Publishing.props
Labels: area-infrastructure

#30012 Skip AddressRegistrationTests Hostname tests on macOS
  src/Servers/Kestrel/shared/test/TransportTestHelpers/HostNameIsReachableAttribute.cs
  src/Servers/Kestrel/test/BindTests/AddressRegistrationTests.cs
Labels: area-servers

#30019 Check for expected event id in HttpsConnectionFilterLogger
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsTests.cs
Labels: area-servers

#30023 Don't check stdout for entire string contents
  src/Servers/IIS/IIS/test/Common.FunctionalTests/StartupTests.cs
Labels: area-servers

#29571 Refactored IIS native code
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/AppOfflineApplication.h
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/AppOfflineHandler.cpp
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/AppOfflineHandler.h
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/DisconnectHandler.cpp
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/HandlerResolver.cpp
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/HandlerResolver.h
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/applicationinfo.cpp
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/applicationinfo.h
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/applicationmanager.cpp
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/applicationmanager.h
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/dllmain.cpp
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/globalmodule.cpp
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/proxymodule.cpp
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/acache.cpp
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/acache.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/ahutil.cpp
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/ahutil.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/base64.cpp
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/base64.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/datetime.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/multisz.cpp
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/multisz.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/multisza.cpp
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/multisza.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/percpu.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/reftrace.c
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/stringa.cpp
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/stringa.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/stringu.cpp
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/stringu.h
Labels: area-servers, community-contribution

#30022 Update helix installation retry logic
  .azure/pipelines/helix-matrix.yml
  eng/helix/content/runtests.ps1
Labels: area-infrastructure

#30046 Update branding to 3.1.13
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  src/Components/benchmarkapps/BlazingPizza.Server/NuGet.config
  src/Mvc/benchmarkapps/NuGet.config
  src/Servers/Kestrel/perf/PlatformBenchmarks/NuGet.config
Labels: area-infrastructure

#29879 [release/3.1] Update WixVersion
  eng/targets/Wix.Common.props
Labels: area-infrastructure, tell-mode

#29831 [release/3.1] Update Node dependencies for Angular template
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package.json
Labels: area-mvc, tell-mode

#29368 Fix Server_RegisterUnavailablePrefix_ThrowsActionableHttpSysException
  src/Servers/HttpSys/test/FunctionalTests/Listener/ServerTests.cs
Labels: area-servers, blocked

#29610 Update appSettings.json to have a comment for org auth cases
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/appsettings.json
Labels: Servicing-approved, area-mvc, tell-mode

#29833 [release/5.0] Update Node dependencies for Angular template
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package.json
Labels: area-mvc, tell-mode

#29037 [release/2.1] Add `@(ProjectReference)` items for patched projects
  eng/targets/ResolveReferences.targets
Labels: area-infrastructure, tell-mode

#29737 [release/2.1] Clean up YAML slightly
  .azure/pipelines/jobs/default-build.yml
  .azure/pipelines/project-ci.yml
Labels: area-infrastructure, tell-mode

#29731 Delete pr-validation-temp.yml
  .azure/pipelines/pr-validation-temp.yml
Labels: area-infrastructure, tell-mode

#29880 [release/2.1] Update WixVersion
  eng/targets/Wix.Common.props
Labels: area-infrastructure, tell-mode

#30077 Don't run helix matrix for PRs
  .azure/pipelines/helix-matrix.yml
Labels: area-infrastructure, auto-merge

#30073 Revert "Skip AddressRegistrationTests Hostname tests on macOS (#30012)"
  src/Servers/Kestrel/shared/test/TransportTestHelpers/HostNameIsReachableAttribute.cs
  src/Servers/Kestrel/test/BindTests/AddressRegistrationTests.cs
Labels: area-servers, auto-merge

#30074 [release/5.0] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
Labels: area-infrastructure

#29832 [release/2.1] Update Node dependencies for Angular template
  src/Templating/src/Microsoft.DotNet.Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package-lock.json
  src/Templating/src/Microsoft.DotNet.Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package.json
Labels: area-mvc, tell-mode

#30059 Fix a couple of minor infra issues
  eng/Dependencies.props
  eng/Versions.props
  eng/targets/ResolveReferences.targets
Labels: area-infrastructure

#30084 Remove old unused docker files
  src/Servers/Kestrel/samples/Http2SampleApp/Dockerfile
  src/Servers/Kestrel/samples/Http2SampleApp/scripts/build-docker.ps1
  src/Servers/Kestrel/samples/Http2SampleApp/scripts/build-docker.sh
  src/Servers/Kestrel/samples/Http2SampleApp/scripts/run-docker.ps1
  src/Servers/Kestrel/samples/Http2SampleApp/scripts/run-docker.sh
Labels: area-servers

#30054 [release/5.0] Update JavaScript dependencies for Web.JS project
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/yarn.lock
Labels: area-blazor, tell-mode

#29873 [Blazor][Templates] Replaces selenium with playwright for our E2E Tests
  .config/dotnet-tools.json
  AspNetCore.sln
  eng/Dependencies.props
  eng/Versions.props
  src/ProjectTemplates/BlazorTemplates.Tests/AssemblyInfo.AssemblyFixtures.cs
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorServerTemplateTest.cs
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorTemplateTest.cs
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorTemplates.Tests.csproj
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorWasmTemplateTest.cs
  src/ProjectTemplates/BlazorTemplates.Tests/PlaywrightFixture.cs
  src/ProjectTemplates/BlazorTemplates.Tests/e2eTestSettings.ci.json
  src/ProjectTemplates/BlazorTemplates.Tests/e2eTestSettings.json
  src/ProjectTemplates/BlazorTemplates.Tests/playwrightSettings.ci.json
  src/ProjectTemplates/BlazorTemplates.Tests/playwrightSettings.ci.linux.json
  src/ProjectTemplates/BlazorTemplates.Tests/playwrightSettings.ci.osx.json
  src/ProjectTemplates/BlazorTemplates.Tests/playwrightSettings.ci.win.json
  src/ProjectTemplates/BlazorTemplates.Tests/playwrightSettings.debug.json
  src/ProjectTemplates/BlazorTemplates.Tests/playwrightSettings.json
  src/ProjectTemplates/BlazorTemplates.Tests/playwrightSettings.linux.json
  src/ProjectTemplates/BlazorTemplates.Tests/playwrightSettings.osx.json
  src/ProjectTemplates/BlazorTemplates.Tests/playwrightSettings.win.json
  src/ProjectTemplates/ProjectTemplates.slnf
  src/ProjectTemplates/ProjectTemplatesNoDeps.slnf
  src/ProjectTemplates/Shared/AspNetProcess.cs
  src/ProjectTemplates/Shared/ProjectFactoryFixture.cs
  src/ProjectTemplates/test/AssemblyInfo.AssemblyFixtures.cs
  src/ProjectTemplates/test/ProjectTemplates.Tests.csproj
  src/ProjectTemplates/xunit.runner.json
  src/Shared/BrowserTesting/src/BrowserKind.cs
  src/Shared/BrowserTesting/src/BrowserManager.cs
  src/Shared/BrowserTesting/src/BrowserManagerConfiguration.cs
  src/Shared/BrowserTesting/src/ContextInformation.cs
  src/Shared/BrowserTesting/src/Directory.Build.props
  src/Shared/BrowserTesting/src/Microsoft.AspNetCore.BrowserTesting.csproj
  src/Shared/BrowserTesting/src/PageInformation.cs
  src/Shared/E2ETesting/E2ETesting.props
  src/Shared/Shared.slnf
  src/Testing/src/xunit/AspNetTestAssemblyRunner.cs
Labels: area-mvc

#30106 Remove unnecessary NuGet.config file
  src/Servers/Kestrel/NuGet.config
Labels: area-infrastructure, area-servers, auto-merge

#30108 [release/5.0] Add Custom UI strings for en-us bundle
  src/Installers/Windows/SharedFrameworkBundle/1033/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1033/thm.wxl
Labels: area-infrastructure, tell-mode

#30107 [release/3.1] Add Custom UI strings for en-us bundle
  src/Installers/Windows/SharedFrameworkBundle/1033/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1033/thm.wxl
Labels: area-infrastructure, tell-mode

#29970 [Blazor] Correct case of *.js paths and fail fast w/o NodeJS
  AspNetCore.sln
  build.sh
  src/Components/Directory.Build.targets
  src/Components/Server/src/Microsoft.AspNetCore.Components.Server.csproj
  src/Components/Web.JS/Microsoft.AspNetCore.Components.Web.JS.npmproj
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.csproj
  src/Razor/tools/Microsoft.AspNetCore.Razor.Internal.Transport/Microsoft.AspNetCore.Razor.Internal.Transport.csproj
Labels: area-blazor

#27166 Fix E2E test use of logs (#27114)
  src/Components/WebAssembly/testassets/HostedInAspNet.Client/wwwroot/index.html
  src/Components/WebAssembly/testassets/HostedInAspNet.Client/wwwroot/seleniumworkaround.js
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/wwwroot/index.html
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/wwwroot/seleniumworkaround.js
  src/Components/test/E2ETest/ServerExecutionTests/MultipleRootComponentsTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/ServerReconnectionTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyAuthenticationTests.cs
  src/Components/test/E2ETest/Tests/WebAssemblyICUShardingTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyLazyLoadTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyLoggingTest.cs
  src/Components/test/testassets/BasicTestApp/wwwroot/index.html
  src/Components/test/testassets/BasicTestApp/wwwroot/js/seleniumworkaround.js
  src/Components/test/testassets/TestServer/Pages/PrerenderedHost.cshtml
  src/Components/test/testassets/TestServer/Pages/_ServerHost.cshtml
  src/Shared/E2ETesting/BrowserFixture.cs
  src/Shared/E2ETesting/WaitAssert.cs
Labels: area-mvc, task, tell-mode

#30035 [release/3.1] Update Node dependencies for SignalR
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/yarn.lock
  src/SignalR/clients/ts/FunctionalTests/ts/HubConnectionTests.ts
  src/SignalR/clients/ts/FunctionalTests/ts/Utils.ts
  src/SignalR/clients/ts/FunctionalTests/yarn.lock
  src/SignalR/clients/ts/common/yarn.lock
  src/SignalR/clients/ts/signalr-protocol-msgpack/package.json
  src/SignalR/clients/ts/signalr-protocol-msgpack/yarn.lock
Labels: area-signalr, tell-mode

#30036 [release/5.0] Update Node dependencies for SignalR
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/webpack.config.js
  src/Components/Web.JS/yarn.lock
  src/SignalR/clients/ts/FunctionalTests/ts/HubConnectionTests.ts
  src/SignalR/clients/ts/FunctionalTests/ts/Utils.ts
  src/SignalR/clients/ts/FunctionalTests/yarn.lock
  src/SignalR/clients/ts/common/yarn.lock
  src/SignalR/clients/ts/signalr-protocol-msgpack/package.json
  src/SignalR/clients/ts/signalr-protocol-msgpack/yarn.lock
Labels: area-signalr, tell-mode

#30105 Add build triggers to pipeline
  .azure/pipelines/ci.yml
Labels: area-infrastructure, tell-mode

#30005 [release/2.1] Update Node dependencies for SignalR
  eng/PatchConfig.props
  src/SignalR/clients/ts/FunctionalTests/package-lock.json
  src/SignalR/clients/ts/FunctionalTests/selenium/run-ci-tests.ts
  src/SignalR/clients/ts/common/package-lock.json
  src/SignalR/clients/ts/common/package.json
  src/SignalR/clients/ts/package.json
  src/SignalR/clients/ts/signalr-protocol-msgpack/package-lock.json
  src/SignalR/clients/ts/signalr-protocol-msgpack/package.json
  src/SignalR/clients/ts/signalr-protocol-msgpack/src/MessagePackHubProtocol.ts
  src/SignalR/clients/ts/signalr-protocol-msgpack/src/Utils.ts
  src/SignalR/clients/ts/signalr/src/HandshakeProtocol.ts
  src/SignalR/clients/ts/signalr/src/Utils.ts
  src/SignalR/clients/ts/signalr/tests/HttpConnection.test.ts
  src/SignalR/clients/ts/webdriver-tap-runner/lib.ts
  src/SignalR/clients/ts/webdriver-tap-runner/package-lock.json
  src/SignalR/clients/ts/webdriver-tap-runner/package.json
Labels: area-signalr, tell-mode

#30124 Port duplication of productVersion.txt to release/5.0
  eng/Publishing.props
Labels: area-infrastructure

#30125 Skip component governance
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure, auto-merge

#30121 Move APIs added in 5.0.1 patch to Unshipped
  src/Components/Components/src/PublicAPI.Shipped.txt
  src/Components/Components/src/PublicAPI.Unshipped.txt
Labels: area-blazor, area-infrastructure, auto-merge

#30130 Fixup stage dependencies for PBSign scenarios
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#30145 Disable dotnet-format hook. Fixes #29768
  .githooks/pre-commit
  build.ps1
Labels: area-infrastructure

#30152 Limit CallStopAsyncOnRequestThread_DoesNotHangIndefinitely
  src/Servers/IIS/IIS/test/Common.FunctionalTests/ShutdownTests.cs
Labels: area-servers, auto-merge

#30087 Reenable functional test on arm
  src/Azure/AzureAD/test/FunctionalTests/Microsoft.AspNetCore.Authentication.AzureAD.FunctionalTests.csproj
  src/Identity/test/Identity.FunctionalTests/Microsoft.AspNetCore.Identity.FunctionalTests.csproj
Labels: area-infrastructure, auto-merge

#27799 Make sure Angular CLI middleware supports "ng serve --ssl"
  src/Middleware/SpaServices.Extensions/src/AngularCli/AngularCliMiddleware.cs
Labels: area-mvc, community-contribution

#29899 [Mvc] Add Razor compiler support for CSS isolation for Views and Razor pages
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/IntegrationTests/CodeGenerationIntegrationTest.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/TestFiles/IntegrationTests/CodeGenerationIntegrationTest/RazorPage_WithCssScope.codegen.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/TestFiles/IntegrationTests/CodeGenerationIntegrationTest/RazorPage_WithCssScope.ir.txt
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/TestFiles/IntegrationTests/CodeGenerationIntegrationTest/RazorView_WithCssScope.codegen.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/TestFiles/IntegrationTests/CodeGenerationIntegrationTest/RazorView_WithCssScope.ir.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Extensions/ViewCssScopePass.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/RazorProjectEngine.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/RazorProjectEngineTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/IntegrationTestBase.cs
Labels: area-mvc

#30220 Make SignalR build script consistent with repo
  src/SignalR/build.cmd
Labels: area-signalr, auto-merge

#30150 Reduce overheads in KestrelEventSource
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelEventSource.cs
Labels: area-servers

#30141 Fix CA1063 for RenderTreeBuilder
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/Rendering/RenderTreeBuilder.cs
Labels: api-ready-for-review, area-blazor

#29905 Update Node dependencies for SignalR
  src/SignalR/clients/ts/FunctionalTests/func.jest.config.js
  src/SignalR/clients/ts/FunctionalTests/ts/ConnectionTests.ts
  src/SignalR/clients/ts/FunctionalTests/ts/Utils.ts
  src/SignalR/clients/ts/FunctionalTests/yarn.lock
  src/SignalR/clients/ts/common/package.json
  src/SignalR/clients/ts/common/yarn.lock
  src/SignalR/clients/ts/jest.config.js
  src/SignalR/clients/ts/signalr-protocol-msgpack/yarn.lock
  src/SignalR/clients/ts/signalr/src/HandshakeProtocol.ts
  src/SignalR/clients/ts/signalr/src/HubConnection.ts
  src/SignalR/clients/ts/signalr/src/ServerSentEventsTransport.ts
  src/SignalR/clients/ts/signalr/src/Utils.ts
  src/SignalR/clients/ts/signalr/tests/HttpConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/HubConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/LongPollingTransport.test.ts
  src/SignalR/clients/ts/signalr/tests/ServerSentEventsTransport.test.ts
  src/SignalR/clients/ts/signalr/tests/TestEventSource.ts
  src/SignalR/clients/ts/signalr/tests/TestWebSocket.ts
  src/SignalR/clients/ts/signalr/tests/Utils.ts
  src/SignalR/clients/ts/signalr/yarn.lock
Labels: area-signalr

#30225 Update wilson to 6.8.0 for perf gains in jwt auth
  eng/Versions.props
Labels: Perf, area-infrastructure, area-security

#30229 Update helix-matrix.yml
  .azure/pipelines/helix-matrix.yml
Labels: area-infrastructure, auto-merge

#30179 Added details about community-submitted PRs related policy
  docs/IssueManagementPolicies.md
Labels: area-infrastructure

#30180 Added guidance about community contribution PRs
  CONTRIBUTING.md
Labels: area-infrastructure

#30253 Only install nginx if not already installed
  eng/scripts/install-nginx-mac.sh
Labels: area-infrastructure

#30256 Fix slnf for kestrel
  src/Servers/Kestrel/Kestrel.slnf
Labels: area-servers, auto-merge

#30230 Produce a manifest for Blazor SDK
  eng/Version.Details.xml
  eng/Versions.props
  src/Components/WebAssembly/BlazorManifest/acquire/Program.cs
  src/Components/WebAssembly/BlazorManifest/acquire/dotnet-install-blazoraot.csproj
  src/Components/WebAssembly/BlazorManifest/src/BlazorManifest.csproj
  src/Components/WebAssembly/BlazorManifest/src/WorkloadManifest.json.in
  src/Components/WebAssembly/BlazorManifest/src/WorkloadManifest.targets
  src/Components/WebAssembly/BlazorManifest/src/_._
Labels: area-blazor

#29878 MapAction MVP
  AspNetCore.sln
  src/Http/Http.Abstractions/src/IResult.cs
  src/Http/Http.Abstractions/src/Metadata/IFromBodyMetadata.cs
  src/Http/Http.Abstractions/src/Metadata/IFromFormMetadata.cs
  src/Http/Http.Abstractions/src/Metadata/IFromHeaderMetadata.cs
  src/Http/Http.Abstractions/src/Metadata/IFromQueryMetadata.cs
  src/Http/Http.Abstractions/src/Metadata/IFromRouteMetadata.cs
  src/Http/Http.Abstractions/src/Metadata/IFromServiceMetadata.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http/src/QueryCollection.cs
  src/Http/HttpAbstractions.slnf
  src/Http/Routing/samples/MapActionSample/MapActionSample.csproj
  src/Http/Routing/samples/MapActionSample/Program.cs
  src/Http/Routing/samples/MapActionSample/Properties/launchSettings.json
  src/Http/Routing/samples/MapActionSample/Startup.cs
  src/Http/Routing/samples/MapActionSample/Todo.cs
  src/Http/Routing/samples/MapActionSample/appsettings.Development.json
  src/Http/Routing/samples/MapActionSample/appsettings.json
  src/Http/Routing/src/Builder/MapActionEndpointConventionBuilder.cs
  src/Http/Routing/src/Builder/MapActionEndpointRouteBuilderExtensions.cs
  src/Http/Routing/src/IRouteOrderMetadata.cs
  src/Http/Routing/src/IRoutePatternMetadata.cs
  src/Http/Routing/src/Internal/MapActionExpressionTreeBuilder.cs
  src/Http/Routing/src/Microsoft.AspNetCore.Routing.csproj
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/test/FunctionalTests/MapActionTest.cs
  src/Http/Routing/test/FunctionalTests/Microsoft.AspNetCore.Routing.FunctionalTests.csproj
  src/Http/Routing/test/UnitTests/Builder/MapActionEndpointRouteBuilderExtensionsTest.cs
  src/Http/Routing/test/UnitTests/Internal/MapActionExpressionTreeBuilderTest.cs
  src/Http/Routing/test/UnitTests/TestObjects/CustomRouteMetadataAttribute.cs
  src/Mvc/Mvc.Core/src/AcceptVerbsAttribute.cs
  src/Mvc/Mvc.Core/src/FromBodyAttribute.cs
  src/Mvc/Mvc.Core/src/FromFormAttribute.cs
  src/Mvc/Mvc.Core/src/FromHeaderAttribute.cs
  src/Mvc/Mvc.Core/src/FromQueryAttribute.cs
  src/Mvc/Mvc.Core/src/FromRouteAttribute.cs
  src/Mvc/Mvc.Core/src/FromServicesAttribute.cs
  src/Mvc/Mvc.Core/src/JsonResult.cs
  src/Mvc/Mvc.Core/src/Routing/HttpMethodAttribute.cs
  src/Mvc/Mvc.Core/src/Routing/IRouteTemplateProvider.cs
  src/Mvc/Mvc.Core/src/StatusCodeResult.cs
  src/Mvc/Mvc.Core/test/ApplicationModels/ControllerActionDescriptorProviderTests.cs
  src/Mvc/Mvc.slnf
Labels: area-mvc

#30156 Living on the edge
  eng/Dependencies.props
  eng/Versions.props
  global.json
  src/Identity/UI/src/Microsoft.AspNetCore.Identity.UI.csproj
  src/Tools/Microsoft.dotnet-openapi/test/dotnet-microsoft.openapi.Tests.csproj
Labels: area-infrastructure

#30274 Support visiting types in target assembly in Razor
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/ViewComponentTagHelperDescriptorProvider.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/ViewComponentTagHelperDescriptorProviderTest.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/src/ComponentTagHelperDescriptorProvider.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/src/DefaultTagHelperDescriptorProvider.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/src/EventHandlerTagHelperDescriptorProvider.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/src/TagHelperDiscoveryFilter.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/src/TagHelperDiscoveryFilterExtensions.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/src/TagHelperTargetReferenceExtensions.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/test/ComponentTagHelperDescriptorProviderTest.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/test/DefaultTagHelperDescriptorProviderTest.cs
Labels: area-mvc

#30138 Use NetAnalyzers from SDK instead of FxCopAnalyzers
  .editorconfig
  .globalconfig
  Directory.Build.props
  eng/AllRulesDisabled.ruleset
  eng/Dependencies.props
  eng/Versions.props
  eng/targets/CSharp.Common.props
  eng/tools/RepoTasks/.editorconfig
  eng/tools/RepoTasks/Uuid.cs
  src/Analyzers/Analyzers/src/OptionsAnalyzer.cs
  src/Azure/AzureAD/AzureAD.ruleset
  src/Azure/AzureAD/Directory.Build.props
  src/HealthChecks/HealthChecks/src/HealthCheckPublisherHostedService.cs
  src/Mvc/.editorconfig
  src/Mvc/Directory.Build.props
  src/Mvc/Mvc.Api.Analyzers/src/AddResponseTypeAttributeCodeFixAction.cs
  src/Mvc/MvcTests.globalconfig
  src/Mvc/MvcTests.ruleset
  src/Razor/.editorconfig
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X/src/ViewComponentTypeVisitor.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/src/AssemblyAttributeInjectionPass.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/src/ViewComponentTypeVisitor.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/ViewComponentTypeVisitor.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentBindLoweringPass.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentMarkupEncodingPass.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/DefaultAllowedChildTagDescriptorBuilder.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/DefaultBoundAttributeDescriptorBuilder.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorIntermediateNodeLoweringPhase.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/DefaultRequiredAttributeDescriptorBuilder.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Extensions/DefaultMetadataIdentifierFeature.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Extensions/MetadataAttributePass.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/CSharpCodeParser.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/HtmlMarkupParser.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/TagHelperBlockRewriter.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/TagHelperParseTreeRewriter.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/RazorCodeDocumentExtensions.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/SourceSpan.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Syntax/InternalSyntax/SyntaxListOfT.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/src/BindTagHelperDescriptorProvider.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/IntegrationTestBase.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/IntermediateNodeVerifier.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/IntermediateNodeWriter.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/RazorIntegrationTestBase.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Language/Legacy/SyntaxNodeVerifier.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/HttpsTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Infrastructure/Helpers.cs
  src/Servers/Kestrel/Core/test/MessageBodyTests.cs
  src/Testing/src/AssemblyTestLog.cs
  src/Testing/src/HttpClientSlim.cs
  src/Testing/src/Logging/XunitLoggerProvider.cs
  src/Testing/src/TestFileOutputContext.cs
  src/Testing/src/xunit/SkipOnHelixAttribute.cs
Labels: area-infrastructure, community-contribution

#30292 Make Ignitor test more strongly typed, and fix failure introduced with custom event args change
  src/Components/Components/src/RenderTree/EventFieldInfo.cs
  src/Components/Ignitor/src/ElementNode.cs
  src/Components/Ignitor/src/Ignitor.csproj
  src/Components/Ignitor/src/RenderBatchReader.cs
  src/Components/Web/src/WebEventDescriptor.cs
Labels: area-blazor

#30270 Get M.A.Mvc.Testing assembly from correct location
  src/Mvc/Mvc.Testing/src/Microsoft.AspNetCore.Mvc.Testing.csproj
  src/Mvc/Mvc.Testing/src/Microsoft.AspNetCore.Mvc.Testing.targets
Labels: area-mvc

#30310 Quarantine flaky test
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-servers

#30311 Support CancellationToken in MapAction
  src/Http/Routing/src/Internal/MapActionExpressionTreeBuilder.cs
  src/Http/Routing/test/UnitTests/Internal/MapActionExpressionTreeBuilderTest.cs
Labels: area-servers, auto-merge

#30317 Remove dotnet-format from dotnet-tools
  .config/dotnet-tools.json
Labels: area-infrastructure, auto-merge

#29926 Add buildTransitive targets for Mvc.Testing
  src/Mvc/Mvc.Testing/src/Microsoft.AspNetCore.Mvc.Testing.csproj
  src/Mvc/Mvc.Testing/src/buildTransitive/Microsoft.AspNetCore.Mvc.Testing.targets
Labels: area-mvc, community-contribution

#30350 Fix Generic Task and ValueTask for MapAction
  src/Http/Routing/src/Internal/MapActionExpressionTreeBuilder.cs
  src/Http/Routing/test/UnitTests/Internal/MapActionExpressionTreeBuilderTest.cs
Labels: area-servers

#30360 Corrected spelling implictly > implicitly
  src/Mvc/Mvc.Core/src/ActionResultOfT.cs
Labels: area-mvc

#30374 Skip flaky Http2Spec test
  src/Servers/Kestrel/test/Interop.FunctionalTests/H2SpecTests.cs
Labels: area-servers, servers-kestrel

#30355 Fix Task of IResult for MapAction
  src/Http/Routing/src/Internal/MapActionExpressionTreeBuilder.cs
  src/Http/Routing/test/UnitTests/Internal/MapActionExpressionTreeBuilderTest.cs
Labels: area-servers, community-contribution

#30367 Media type application/problem+json lost in combination with ProducesAttribute #19510
  src/Mvc/Mvc.Core/src/Infrastructure/ObjectResultExecutor.cs
  src/Mvc/Mvc.Core/test/Infrastructure/ObjectResultExecutorTest.cs
Labels: area-mvc, auto-merge, community-contribution

#30378 Add workaround for dotnet watch in npmproj
  src/Components/Web.JS/Microsoft.AspNetCore.Components.Web.JS.npmproj
Labels: area-blazor, auto-merge

#30376 [main] Clear disabled package sources
  NuGet.config
Labels: area-infrastructure

#30395 Disable parallelism on BootResourceCachingTest
  src/Components/test/E2ETest/Tests/BootResourceCachingTest.cs
Labels: area-blazor

#30385 Update branding to 6.0.0-preview3
  eng/Versions.props
Labels: area-infrastructure

#30154 Don't log a stack trace for AddressInUseException
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Servers/Kestrel/Core/test/KestrelServerTests.cs
  src/Servers/Kestrel/shared/test/TestApplicationErrorLoggerLoggedTest.cs
  src/Servers/Kestrel/test/BindTests/AddressRegistrationTests.cs
Labels: area-servers, community-contribution

#30369 Remove serialization of Task<string> in MapAction
  src/Http/Routing/src/Internal/MapActionExpressionTreeBuilder.cs
  src/Http/Routing/test/UnitTests/Internal/MapActionExpressionTreeBuilderTest.cs
Labels: area-mvc

#30414 Make parameter for ParseQuery and ParseNullableQuery nullable
  src/Http/WebUtilities/src/PublicAPI.Unshipped.txt
  src/Http/WebUtilities/src/QueryHelpers.cs
  src/Http/WebUtilities/test/QueryHelpersTests.cs
Labels: area-servers, auto-merge

#30416 Don't close connection with user-settable Pipes
  src/Servers/Kestrel/Transport.Libuv/src/Internal/LibuvConnection.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs
  src/Servers/Kestrel/test/FunctionalTests/ConnectionMiddlewareTests.cs
Labels: area-servers, auto-merge

#30375 Support value type in MapAction
  src/Http/Routing/src/Internal/MapActionExpressionTreeBuilder.cs
  src/Http/Routing/test/UnitTests/Internal/MapActionExpressionTreeBuilderTest.cs
Labels: area-servers, auto-merge

#29704 Add connection logging for multiplexed connections
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/src/Middleware/ListenOptionsConnectionLoggingExtensions.cs
  src/Servers/Kestrel/Core/src/Middleware/LoggingConnectionMiddleware.cs
  src/Servers/Kestrel/Core/src/Middleware/LoggingDuplexPipe.cs
  src/Servers/Kestrel/Core/src/Middleware/LoggingMultiplexedConnectionMiddleware.cs
  src/Servers/Kestrel/samples/Http3SampleApp/Program.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TestBase.cs
Labels: area-servers, auto-merge

#30314 Remove Razor components workaround
  eng/Workarounds.targets
Labels: area-infrastructure, auto-merge

#30409 Run SignalR npm unit tests on CI
  src/SignalR/clients/ts/client-ts.npmproj
Labels: area-signalr

#29814 DataProtection use built in AesGcm where available
  src/DataProtection/Cryptography.Internal/src/CryptoUtil.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/AuthenticatedEncryptorFactory.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/CngGcmAuthenticatedEncryptorFactory.cs
  src/DataProtection/DataProtection/src/Cng/CngGcmAuthenticatedEncryptor.cs
  src/DataProtection/DataProtection/src/Managed/AesGcmAuthenticatedEncryptor.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/CngGcmAuthenticatedEncryptorFactoryTest.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/AuthenticatedEncryptorDescriptorTests.cs
  src/DataProtection/DataProtection/test/Cng/GcmAuthenticatedEncryptorTests.cs
Labels: area-dataprotection

#30437 Remove xunit xml configuration
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X/test/xunit.runner.json
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/test/xunit.runner.json
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/xunit.runner.json
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/xunit.runner.json
  src/Razor/Microsoft.CodeAnalysis.Razor/test/xunit.runner.json
  src/Razor/Razor.Runtime/test/xunit.runner.json
  src/Razor/Razor/test/xunit.runner.json
  src/Servers/Kestrel/xunit.runner.json
Labels: area-infrastructure

#30089 Migrate to ActivitySource
  src/Hosting/Hosting/src/Internal/HostingApplicationDiagnostics.cs
  src/Hosting/Hosting/test/HostingApplicationDiagnosticsTests.cs
Labels: area-servers, auto-merge

#30221 Following up on API baseline check and documentation
  docs/APIBaselines.md
  eng/scripts/CodeCheck.ps1
Labels: area-infrastructure

#30446 Avoid capturing allocations in TagHelperMatchingConventions.SatisfiesAttributes
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Extensions/IReadOnlyListExtensions.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/TagHelperMatchingConventions.cs
Labels: area-mvc

#26822 Add Rich Nav specific pipeline, temporarily add to ci for testing
  .azure/pipelines/jobs/default-build.yml
  .azure/pipelines/richnav.yml
  NuGet.config
Labels: area-infrastructure

#30467 Mark Blazor WASM as trimmable
  eng/targets/CSharp.Common.targets
  src/Components/Authorization/src/Microsoft.AspNetCore.Components.Authorization.csproj
  src/Components/Components/src/Microsoft.AspNetCore.Components.csproj
  src/Components/Forms/src/Microsoft.AspNetCore.Components.Forms.csproj
  src/Components/Web/src/Microsoft.AspNetCore.Components.Web.csproj
  src/Components/WebAssembly/JSInterop/src/Microsoft.JSInterop.WebAssembly.csproj
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.csproj
  src/Http/Metadata/src/Microsoft.AspNetCore.Metadata.csproj
  src/JSInterop/Microsoft.JSInterop/src/Microsoft.JSInterop.csproj
  src/Security/Authorization/Core/src/Microsoft.AspNetCore.Authorization.csproj
Labels: auto-merge

#30462 Don't verify baselines in CodeCheck when not in a PR build
  eng/scripts/CodeCheck.ps1
Labels: area-infrastructure, auto-merge

#30464 Update branding to 5.0.5
  eng/Versions.props
  eng/targets/Packaging.targets
Labels: area-infrastructure

#30469 Update branding to 3.1.14
  eng/Versions.props
  eng/scripts/install-nginx-mac.sh
  eng/targets/Packaging.targets
Labels: area-infrastructure

#30405 React to dotnet/runtime#47684, a new transport package
  eng/Dependencies.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/targets/ResolveReferences.targets
  eng/tools/RepoTasks/RepoTasks.csproj
  src/Components/Components/test/Routing/RouteTableFactoryTests.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyHostBuilderTest.cs
  src/Framework/App.Ref/src/Microsoft.AspNetCore.App.Ref.csproj
Labels: area-infrastructure

#30461 [release/6.0-preview2] React to Microsoft.Extensions.Internal.Transport package name change
  eng/Dependencies.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/targets/ResolveReferences.targets
  eng/tools/RepoTasks/RepoTasks.csproj
  src/Components/Components/test/Routing/RouteTableFactoryTests.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyHostBuilderTest.cs
  src/Framework/App.Ref/src/Microsoft.AspNetCore.App.Ref.csproj
Labels: area-infrastructure

#30475 Remove Range usage in LegacyRouteEntry
  src/Components/Components/src/Routing/LegacyRouteMatching/LegacyRouteEntry.cs
Labels: area-blazor

#30434 Support optional input for MapAction
  src/Http/Routing/src/Internal/MapActionExpressionTreeBuilder.cs
  src/Http/Routing/test/UnitTests/Internal/MapActionExpressionTreeBuilderTest.cs
Labels: area-servers, auto-merge, community-contribution

#30497 Update sdk to 6.0.100-preview.3.21126.8
  global.json
Labels: area-infrastructure

#30412 Add tests for SVG scenarios
  src/Components/test/E2ETest/Tests/ComponentRenderingTest.cs
  src/Components/test/E2ETest/Tests/SvgTest.cs
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/SvgComponent.razor
  src/Components/test/testassets/BasicTestApp/SvgComponent.razor.css
  src/Components/test/testassets/BasicTestApp/SvgWithChildComponent.razor
  src/Components/test/testassets/BasicTestApp/wwwroot/images/circle.svg
Labels: area-blazor, auto-merge

#30490 [Blazor] Fixes serialization issue when preserving app state as JSON
  src/Components/Components/src/Lifetime/ComponentApplicationState.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/test/Lifetime/ComponentApplicationLifetimeTest.cs
  src/Components/Components/test/Lifetime/ComponentApplicationStateTest.cs
  src/Components/WebAssembly/Samples/HostedBlazorWebassemblyApp/Client/Pages/FetchData.razor
  src/Components/WebAssembly/Samples/HostedBlazorWebassemblyApp/Server/Pages/_Host.cshtml
  src/Components/test/testassets/BasicTestApp/PreserveStateComponent.razor
  src/Components/test/testassets/BasicTestApp/PreserveStateService.cs
Labels: area-blazor, auto-merge

#30474 Update branding to 2.1.27
  eng/PatchConfig.props
  eng/targets/Packaging.targets
  src/Identity/UI/src/Microsoft.AspNetCore.Identity.UI.csproj
  src/PackageArchive/Archive.CiServer.Patch.Compat/ArchiveBaseline.2.1.26.txt
  src/PackageArchive/Archive.CiServer.Patch/ArchiveBaseline.2.1.26.txt
  version.props
Labels: area-infrastructure
