Repository dotnet/aspnetcore, pull requests merged in 2021-04, with the labels that each got.

#31431 Fix project path in slnf
  src/Components/Components.slnf
Labels: area-blazor, community-contribution

#31438 Fix trailing comma in Caching.slnf
  src/Caching/Caching.slnf
Labels: auto-merge, community-contribution

#31439 Fix file headers in src/Caching
  src/Caching/SqlServer/src/Columns.cs
  src/Caching/SqlServer/src/DatabaseOperations.cs
  src/Caching/SqlServer/src/IDatabaseOperations.cs
  src/Caching/SqlServer/src/MonoDatabaseOperations.cs
  src/Caching/SqlServer/src/MonoSqlParameterCollectionExtensions.cs
  src/Caching/SqlServer/src/PlatformHelper.cs
  src/Caching/SqlServer/src/SqlParameterCollectionExtensions.cs
  src/Caching/SqlServer/src/SqlQueries.cs
  src/Caching/SqlServer/src/SqlServerCache.cs
  src/Caching/SqlServer/src/SqlServerCacheOptions.cs
  src/Caching/SqlServer/src/SqlServerCachingServicesExtensions.cs
  src/Caching/SqlServer/test/CacheItemInfo.cs
  src/Caching/SqlServer/test/SqlServerCacheServicesExtensionsTest.cs
  src/Caching/SqlServer/test/SqlServerCacheWithDatabaseTest.cs
  src/Caching/SqlServer/test/TestClock.cs
  src/Caching/SqlServer/test/TestOptions.cs
  src/Caching/StackExchangeRedis/src/RedisCache.cs
  src/Caching/StackExchangeRedis/src/RedisCacheOptions.cs
  src/Caching/StackExchangeRedis/src/RedisExtensions.cs
  src/Caching/StackExchangeRedis/src/StackExchangeRedisCacheServiceCollectionExtensions.cs
  src/Caching/StackExchangeRedis/test/CacheServiceExtensionsTests.cs
  src/Caching/StackExchangeRedis/test/Infrastructure/RedisTestConfig.cs
  src/Caching/StackExchangeRedis/test/Infrastructure/RedisXunitTestExecutor.cs
  src/Caching/StackExchangeRedis/test/Infrastructure/RedisXunitTestFramework.cs
  src/Caching/StackExchangeRedis/test/RedisCacheSetAndRemoveTests.cs
  src/Caching/StackExchangeRedis/test/TimeExpirationTests.cs
Labels: auto-merge, community-contribution

#31426 [SignalR Java] Update to RxJava3
  src/SignalR/clients/java/signalr/core/build.gradle
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/DefaultHttpClient.java
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/HttpClient.java
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/HttpHubConnectionBuilder.java
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/InvocationRequest.java
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/LongPollingTransport.java
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/OkHttpWebSocketWrapper.java
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/Transport.java
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/WebSocketTransport.java
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/WebSocketWrapper.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/HubConnectionTest.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/LongPollingTransportTest.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/MockTransport.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/TestHttpClient.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/WebSocketTransportTest.java
Labels: area-signalr, signalr-client-java

#31440 Fixed de-duping hosting startup assemblies
  src/Hosting/Hosting/src/GenericHost/GenericWebHostBuilder.cs
  src/Hosting/Hosting/src/WebHostBuilder.cs
  src/Hosting/Hosting/test/WebHostBuilderTests.cs
  src/Hosting/test/testassets/TestStartupAssembly1/TestHostingStartup1.cs
Labels: area-runtime, area-servers

#31420 Trim down framework references for Blazor dev server
  eng/Versions.props
  src/Components/WebAssembly/DevServer/src/Microsoft.AspNetCore.Components.WebAssembly.DevServer.csproj
  src/Components/WebAssembly/DevServer/src/Microsoft.AspNetCore.Components.WebAssembly.DevServer.nuspec
  src/Components/WebAssembly/DevServer/src/blazor-devserver.runtimeconfig.json.in
  src/Components/WebAssembly/DevServer/src/runtimeconfig.template.json
Labels: area-blazor

#31239 Cross-target last few projects to DefaultNetCoreTargetFramework
  src/Caching/SqlServer/src/Microsoft.Extensions.Caching.SqlServer.csproj
  src/Caching/StackExchangeRedis/src/Microsoft.Extensions.Caching.StackExchangeRedis.csproj
  src/DataProtection/StackExchangeRedis/src/Microsoft.AspNetCore.DataProtection.StackExchangeRedis.csproj
  src/Features/JsonPatch/src/Microsoft.AspNetCore.JsonPatch.csproj
  src/Logging.AzureAppServices/src/BlobLoggerProvider.cs
  src/Logging.AzureAppServices/src/Microsoft.Extensions.Logging.AzureAppServices.csproj
Labels: area-infrastructure

#31442 Use integer division trick to get exact base64 length
  src/Http/Headers/src/ContentDispositionHeaderValue.cs
Labels: area-servers, community-contribution

#31458 Update assembly check on EventHandlerTagHelperDescriptorProvider
  src/Razor/Microsoft.CodeAnalysis.Razor/src/EventHandlerTagHelperDescriptorProvider.cs
Labels: area-mvc, auto-merge

#31295 Remove legacy routing
  src/Components/Components/src/Routing/IRouteTable.cs
  src/Components/Components/src/Routing/LegacyRouteMatching/LegacyOptionalTypeRouteConstraint.cs
  src/Components/Components/src/Routing/LegacyRouteMatching/LegacyRouteConstraint.cs
  src/Components/Components/src/Routing/LegacyRouteMatching/LegacyRouteEntry.cs
  src/Components/Components/src/Routing/LegacyRouteMatching/LegacyRouteTable.cs
  src/Components/Components/src/Routing/LegacyRouteMatching/LegacyRouteTableFactory.cs
  src/Components/Components/src/Routing/LegacyRouteMatching/LegacyRouteTemplate.cs
  src/Components/Components/src/Routing/LegacyRouteMatching/LegacyTemplateParser.cs
  src/Components/Components/src/Routing/LegacyRouteMatching/LegacyTemplateSegment.cs
  src/Components/Components/src/Routing/LegacyRouteMatching/LegacyTypeRouteConstraint.cs
  src/Components/Components/src/Routing/RouteTable.cs
  src/Components/Components/src/Routing/Router.cs
  src/Components/Components/test/LegacyRouteMatching/LegacyRouteConstraintTest.cs
  src/Components/Components/test/LegacyRouteMatching/LegacyRouteTableFactoryTests.cs
  src/Components/Components/test/LegacyRouteMatching/LegacyTemplateParserTests.cs
  src/Components/Components/test/Routing/RouterTest.cs
  src/Components/Samples/BlazorServerApp/App.razor
  src/Components/WebAssembly/Samples/HostedBlazorWebassemblyApp/Client/App.razor
  src/Components/WebAssembly/testassets/StandaloneApp/App.razor
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/App.razor
  src/Components/WebView/Samples/BlazorWinFormsApp/Main.razor
  src/Components/WebView/Samples/BlazorWpfApp/Main.razor
  src/Components/benchmarkapps/BlazingPizza.Server/App.razor
  src/Components/benchmarkapps/Wasm.Performance/TestApp/App.razor
  src/Components/test/testassets/BasicTestApp/AuthTest/AuthRouter.razor
  src/Components/test/testassets/BasicTestApp/RouterTest/TestRouter.razor
  src/Components/test/testassets/BasicTestApp/RouterTest/TestRouterWithAdditionalAssembly.razor
  src/Components/test/testassets/BasicTestApp/RouterTest/TestRouterWithLazyAssembly.razor
  src/Components/test/testassets/BasicTestApp/RouterTest/TestRouterWithOnNavigate.razor
  src/Components/test/testassets/ComponentsApp.App/App.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/App.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/App.razor
Labels: area-mvc

#31435 Fix project paths in Azure.slnf
  src/Azure/Azure.slnf
Labels: area-infrastructure, auto-merge, community-contribution

#31482 Update IdentityModel versions to 6.10.0
  eng/Versions.props
Labels: area-infrastructure, auto-merge

#31483 Removed static activity source from hosting
  src/Hosting/Hosting/src/GenericHost/GenericWebHostBuilder.cs
  src/Hosting/Hosting/src/GenericHost/GenericWebHostedService.cs
  src/Hosting/Hosting/src/Internal/HostingApplication.cs
  src/Hosting/Hosting/src/Internal/HostingApplicationDiagnostics.cs
  src/Hosting/Hosting/src/Internal/WebHost.cs
  src/Hosting/Hosting/src/WebHostBuilder.cs
  src/Hosting/Hosting/test/HostingApplicationDiagnosticsTests.cs
  src/Hosting/Hosting/test/HostingApplicationTests.cs
Labels: area-runtime

#31453 Use Random.Shared property
  src/Components/Samples/BlazorServerApp/Data/WeatherForecastService.cs
  src/Components/WebAssembly/Samples/HostedBlazorWebassemblyApp/Server/Data/WeatherForecastService.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Controllers/WeatherForecastController.cs
  src/Components/benchmarkapps/BlazingPizza.Server/Pages/Map.razor
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Pages/TimerComponent.razor
  src/Components/test/testassets/BasicTestApp/ReorderingFocusComponent.razor
  src/DataProtection/DataProtection/src/KeyManagement/KeyRingProvider.cs
  src/Http/Routing/test/UnitTests/RouteCollectionTest.cs
  src/Identity/Specification.Tests/src/UserManagerSpecificationTests.cs
  src/Middleware/HeaderPropagation/samples/HeaderPropagationSample/Startup.cs
  src/Mvc/perf/Microbenchmarks/Microsoft.AspNetCore.Mvc/HelperPerformanceBenchmark.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Data/WeatherForecastService.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Controllers/WeatherForecastController.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/Controllers/WeatherForecastController.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/Controllers/WeatherForecastController.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/Controllers/WeatherForecastController.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/AspNetCorePortTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/RequestResponseTests.cs
  src/Servers/Kestrel/shared/test/MockSystemClock.cs
  src/Servers/Kestrel/stress/Program.cs
  src/SignalR/common/SignalR.Common/test/Internal/Protocol/MemoryBufferWriterTests.cs
  src/SignalR/perf/Microbenchmarks/MessageParserBenchmark.cs
  src/SignalR/samples/JwtClientSample/Program.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTestUtils/MockSystemClock.cs
  src/Testing/test/HttpClientSlimTest.cs
Labels: area-blazor, area-mvc, area-runtime, auto-merge, community-contribution

#29934 Remove baseline suppressions from 5.0
  eng/Baseline.Designer.props
  eng/tools/BaselineGenerator/BaselineGenerator.csproj
  eng/tools/BaselineGenerator/Program.cs
  src/Components/Components/src/Microsoft.AspNetCore.Components.csproj
  src/Identity/UI/src/Microsoft.AspNetCore.Identity.UI.csproj
  src/Middleware/SpaServices.Extensions/src/Microsoft.AspNetCore.SpaServices.Extensions.csproj
  src/Servers/Connections.Abstractions/src/Microsoft.AspNetCore.Connections.Abstractions.csproj
  src/SignalR/clients/csharp/Client.Core/src/Microsoft.AspNetCore.SignalR.Client.Core.csproj
Labels: area-infrastructure

#31493 Remove DNT from pre-reserved headers
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.Generated.cs
  src/Servers/Kestrel/shared/KnownHeaders.cs
Labels: area-runtime, auto-merge, community-contribution

#31466 Reuse HttpProtocol CTS
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
Labels: area-runtime, servers-kestrel

#31460 Change Router _emptyParametersDictionary to a regular Dictionary
  src/Components/Components/src/Routing/Router.cs
Labels: area-blazor, auto-merge

#31511 Clean up some MVC code
  src/Mvc/Mvc.Core/src/Controllers/ControllerBinderDelegateProvider.cs
  src/Mvc/Mvc.Razor/src/TagHelpers/UrlResolutionTagHelper.cs
  src/Mvc/Mvc.TagHelpers/src/AttributeMatcher.cs
  src/Mvc/Mvc.ViewFeatures/src/DefaultDisplayTemplates.cs
  src/Mvc/Mvc.ViewFeatures/src/DefaultEditorTemplates.cs
  src/Mvc/Mvc.ViewFeatures/src/ModelExplorer.cs
  src/Mvc/Mvc.ViewFeatures/src/ModelExplorerExtensions.cs
  src/Mvc/MvcNoDeps.slnf
  src/Shared/ChunkingCookieManager/ChunkingCookieManager.cs
Labels: auto-merge

#31510 Do not throwing on InputBase.Dispose() if not in EditContext.
  src/Components/Web/src/Forms/InputBase.cs
Labels: area-blazor, community-contribution

#31513 Cache filters between requests in the ordinary case
  src/Mvc/Mvc.Abstractions/src/Abstractions/ActionDescriptor.cs
  src/Mvc/Mvc.Core/src/Filters/FilterFactory.cs
Labels: area-mvc

#31502 Flaky tests
  src/Servers/Kestrel/Core/test/AsciiDecoding.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
Labels: area-runtime, auto-merge

#31530 Revert "Update assembly check on EventHandlerTagHelperDescriptorProvider"
  src/Razor/Microsoft.CodeAnalysis.Razor/src/EventHandlerTagHelperDescriptorProvider.cs
Labels: area-mvc, auto-merge

#31413 Ability to deactivate DataAnnotationsValidation dynamically. Fixes #31027
  src/Components/Forms/src/DataAnnotationsValidator.cs
  src/Components/Forms/src/EditContextDataAnnotationsExtensions.cs
  src/Components/Forms/src/Microsoft.AspNetCore.Components.Forms.WarningSuppressions.xml
  src/Components/Forms/src/PublicAPI.Unshipped.txt
  src/Components/Forms/test/EditContextDataAnnotationsExtensionsTest.cs
  src/Components/test/E2ETest/Tests/FormsTest.cs
  src/Components/test/testassets/BasicTestApp/FormsTest/NotifyPropertyChangedValidationComponent.razor
  src/Components/test/testassets/BasicTestApp/FormsTest/TypicalValidationComponent.razor
  src/Shared/E2ETesting/BrowserFixture.cs
Labels: api-approved, area-blazor

#28899 Use UriHelper.BuildAbsolute for RedirectToHttpsRule
  src/Middleware/Rewrite/src/RedirectToHttpsRule.cs
  src/Middleware/Rewrite/test/MiddlewareTests.cs
Labels: area-runtime, community-contribution, feature-middleware

#28903 Use UriHelper.BuildAbsolute and UriHelper.BuildRelative for RedirectRule
  src/Middleware/Rewrite/src/RedirectRule.cs
  src/Middleware/Rewrite/test/MiddlewareTests.cs
Labels: area-runtime, community-contribution, feature-middleware

#31543 Still send 100 Continue with null MinRequestBodyDataRate
  src/Servers/Kestrel/Core/src/Internal/Http/MessageBody.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTests.cs
Labels: area-runtime

#31497 Update Selenium/Playwright
  eng/Versions.props
  eng/helix/content/RunTests/RunTests.csproj
Labels: area-infrastructure

#29486 Added VSCode debugging (for MvcSandbox) & code analysis support
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  docs/BuildFromSource.md
  omnisharp.json
  src/Antiforgery/startvscode.cmd
  src/Azure/.vscode/launch.json
  src/Azure/.vscode/tasks.json
  src/Azure/startvscode.cmd
  src/Caching/startvscode.cmd
  src/Components/.vscode/launch.json
  src/Components/.vscode/tasks.json
  src/Components/startvscode.cmd
  src/DataProtection/.vscode/launch.json
  src/DataProtection/.vscode/tasks.json
  src/DataProtection/startvscode.cmd
  src/Mvc/.vscode/launch.json
  src/Mvc/.vscode/tasks.json
  src/Mvc/omnisharp.json
  src/Mvc/startvscode.cmd
  startvscode.cmd
Labels: area-infrastructure, area-mvc, community-contribution

#31360 Implement new SmallCapacityDictionary for dictionaries with a small amount of values.
  src/Http/Http.Abstractions/src/Routing/RouteValueDictionary.cs
  src/Http/Http/perf/Microbenchmarks/AdaptiveCapacityDictionaryBenchmark.cs
  src/Http/Http/perf/Microbenchmarks/Microsoft.AspNetCore.Http.Microbenchmarks.csproj
  src/Http/Http/src/Internal/RequestCookieCollection.cs
  src/Http/Http/src/Microsoft.AspNetCore.Http.csproj
  src/Http/Shared/CookieHeaderParserShared.cs
  src/Shared/Dictionary/AdaptiveCapacityDictionary.cs
  src/Shared/test/Shared.Tests/AdaptiveCapacityDictionaryTests.cs
  src/Shared/test/Shared.Tests/Microsoft.AspNetCore.Shared.Tests.csproj
Labels: area-runtime

#31554 Fix duplicated event names in KestrelTrace logger
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.cs
Labels: area-runtime, auto-merge, community-contribution

#31512 Data Protection minor tidying
  src/DataProtection/DataProtection/src/EphemeralDataProtectionProvider.cs
  src/DataProtection/DataProtection/src/Managed/ManagedAuthenticatedEncryptor.cs
  src/DataProtection/DataProtection/src/SimpleActivator.cs
  src/DataProtection/DataProtection/src/XmlEncryption/EncryptedXmlDecryptor.cs
  src/Shared/WebEncoders/WebEncoders.cs
Labels: area-dataprotection, auto-merge, community-contribution

#31402 [SignalR TS] Improve connection error messages
  src/SignalR/clients/ts/FunctionalTests/Startup.cs
  src/SignalR/clients/ts/FunctionalTests/ts/ConnectionTests.ts
  src/SignalR/clients/ts/FunctionalTests/ts/HubConnectionTests.ts
  src/SignalR/clients/ts/signalr/src/Errors.ts
  src/SignalR/clients/ts/signalr/src/FetchHttpClient.ts
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
  src/SignalR/clients/ts/signalr/src/ServerSentEventsTransport.ts
  src/SignalR/clients/ts/signalr/src/WebSocketTransport.ts
  src/SignalR/clients/ts/signalr/src/XhrHttpClient.ts
  src/SignalR/clients/ts/signalr/tests/HttpConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/HubConnection.Reconnect.test.ts
  src/SignalR/clients/ts/signalr/tests/ServerSentEventsTransport.test.ts
  src/SignalR/clients/ts/signalr/tests/WebSocketTransport.test.ts
Labels: area-signalr, signalr-client-javascript

#31066 Fix MSB4186 error referencing Microsoft.AspNetCore.Mvc.Testing
  src/Mvc/Mvc.Testing/src/Microsoft.AspNetCore.Mvc.Testing.targets
Labels: area-mvc, auto-merge, community-contribution

#31528 Re-use cancellation tokens in the https middleware
  src/Servers/Kestrel/Core/src/Internal/CancellationTokenSourcePool.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
Labels: area-runtime, servers-kestrel

#31573 Fix IPNetwork.Contains behavior for prefixes which are not at start of subnet range
  src/Middleware/HttpOverrides/src/IPNetwork.cs
  src/Middleware/HttpOverrides/test/IPNetworkTest.cs
Labels: area-runtime, auto-merge, community-contribution

#31563 Update branding to 5.0.6
  eng/Versions.props
Labels: area-infrastructure

#31562 Use skipEnabledCheck for LoggerMessage.Define
  src/Components/Components/src/RenderTree/Renderer.Log.cs
  src/Hosting/Hosting/src/Internal/HostingLoggerExtensions.cs
  src/Http/Routing/src/DefaultLinkGenerator.cs
  src/Http/Routing/src/DefaultLinkParser.cs
  src/Http/Routing/src/Matching/DfaMatcher.cs
  src/Middleware/HostFiltering/src/LoggerExtensions.cs
  src/Middleware/Session/src/LoggingExtensions.cs
  src/Mvc/Mvc.Core/src/Infrastructure/ObjectResultExecutor.cs
  src/Mvc/Mvc.Core/src/Infrastructure/SystemTextJsonResultExecutor.cs
  src/Mvc/Mvc.Core/src/MvcCoreLoggerExtensions.cs
  src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonResultExecutor.cs
  src/Mvc/Mvc.Razor.RuntimeCompilation/src/RazorRuntimeCompilationLoggerExtensions.cs
  src/Mvc/Mvc.Razor/src/MvcRazorLoggerExtensions.cs
  src/Mvc/Mvc.RazorPages/src/PageLoggerExtensions.cs
  src/Mvc/Mvc.ViewFeatures/src/MvcViewFeaturesLoggerExtensions.cs
  src/Servers/HttpSys/src/LoggerEventIds.cs
  src/Servers/HttpSys/src/MessagePump.Log.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/IQuicTrace.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicTrace.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/ISocketsTrace.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketsTrace.cs
  src/Servers/Kestrel/shared/TransportConnection.cs
  src/Servers/Kestrel/shared/TransportMultiplexedConnection.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.Log.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnection.Log.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/LongPollingTransport.Log.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcherLog.cs
  src/SignalR/server/StackExchangeRedis/src/Internal/RedisLog.cs
Labels: area-runtime, community-contribution

#31580 Fix up typo in Blazor Server launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Properties/launchSettings.json
Labels: area-mvc, auto-merge

#31590 Rename 'Blazor component' to 'component' to be more generic
  src/Components/WebView/Samples/WebviewAppShared/SharedComponent.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorClassLibrary-CSharp/Component1.razor
Labels: auto-merge, community-contribution

#31577 Update branding to 3.1.15
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
  eng/Versions.props
  src/Mvc/build/Key.snk
  src/Mvc/build/buildpipeline/linux.groovy
  src/Mvc/build/buildpipeline/osx.groovy
  src/Mvc/build/buildpipeline/pipeline.groovy
  src/Mvc/build/buildpipeline/windows.groovy
Labels: area-infrastructure

#31490 [release/5.0] Update nuget versions
  eng/Baseline.Designer.props
  eng/Versions.props
  eng/tools/BaselineGenerator/BaselineGenerator.csproj
  eng/tools/BaselineGenerator/Program.cs
  eng/tools/RepoTasks/RepoTasks.csproj
Labels: area-infrastructure, tell-mode

#30975 Set cab name for TargetingPack.wixproj
  src/Installers/Windows/TargetingPack/TargetingPack.wixproj
Labels: area-infrastructure, tell-mode

#31588 Added IConnectionSocketFeature
  src/Servers/Connections.Abstractions/src/Features/IConnectionSocketFeature.cs
  src/Servers/Connections.Abstractions/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.FeatureCollection.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs
  src/Servers/Kestrel/shared/TransportConnection.Generated.cs
  src/Servers/Kestrel/test/Sockets.FunctionalTests/SocketTranspotTests.cs
  src/Servers/Kestrel/tools/CodeGenerator/TransportConnectionFeatureCollection.cs
Labels: area-runtime, servers-kestrel

#30988 Fix null ref in SyntaxTokenCache (#30978)
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Syntax/InternalSyntax/SyntaxFactory.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Syntax/InternalSyntax/SyntaxTokenCache.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/Syntax/SyntaxTokenCacheTest.cs
Labels: Servicing-approved, area-mvc

#31568 [5.0] Still send 100 Continue with null MinRequestBodyDataRate
  src/Servers/Kestrel/Core/src/Internal/Http/MessageBody.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTests.cs
Labels: Servicing-approved, area-runtime

#31284 Still send 100 Continue given null MinRequestBodyDataRate
  src/Servers/Kestrel/Core/src/Internal/Http/MessageBody.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTests.cs
Labels: Servicing-approved, area-runtime, servers-kestrel

#31253 [SignalR TS] Fix permanent Disconnecting state (#30948)
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
  src/SignalR/clients/ts/signalr/src/HubConnection.ts
  src/SignalR/clients/ts/signalr/tests/HttpConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/HubConnection.Reconnect.test.ts
  src/SignalR/clients/ts/signalr/tests/TestWebSocket.ts
Labels: Servicing-approved, area-signalr

#31251 [SignalR TS] Fix permanent Disconnecting state (#30948)
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
  src/SignalR/clients/ts/signalr/src/HubConnection.ts
  src/SignalR/clients/ts/signalr/tests/HttpConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/HubConnection.Reconnect.test.ts
  src/SignalR/clients/ts/signalr/tests/TestWebSocket.ts
Labels: Servicing-approved, area-signalr

#31080 [Backport] Fix arguments order for call of HeartbeatSlow (#28698)
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.cs
  src/Servers/Kestrel/Core/test/HeartbeatTests.cs
Labels: Servicing-approved, area-runtime, servers-kestrel

#31296 Quarantine one failing test backport
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
Labels: area-mvc, tell-mode

#30874 Error boundaries
  src/Components/Components/src/ErrorBoundaryBase.cs
  src/Components/Components/src/IErrorBoundary.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Components/src/Rendering/ComponentState.cs
  src/Components/Components/test/RendererTest.cs
  src/Components/Server/src/Circuits/RemoteErrorBoundaryLogger.cs
  src/Components/Server/src/Circuits/RemoteJSRuntime.cs
  src/Components/Server/src/DependencyInjection/ComponentServiceCollectionExtensions.cs
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/Web/src/Web/ErrorBoundary.cs
  src/Components/Web/src/Web/IErrorBoundaryLogger.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyErrorBoundaryLogger.cs
  src/Components/test/E2ETest/ServerExecutionTests/TestSubclasses.cs
  src/Components/test/E2ETest/Tests/ErrorBoundaryTest.cs
  src/Components/test/testassets/BasicTestApp/ErrorBoundaryTest/CustomErrorBoundary.razor
  src/Components/test/testassets/BasicTestApp/ErrorBoundaryTest/DelayedErrorCausingChild.razor
  src/Components/test/testassets/BasicTestApp/ErrorBoundaryTest/ErrorBoundaryCases.razor
  src/Components/test/testassets/BasicTestApp/ErrorBoundaryTest/ErrorBoundaryContainer.razor
  src/Components/test/testassets/BasicTestApp/ErrorBoundaryTest/ErrorCausingChild.razor
  src/Components/test/testassets/BasicTestApp/ErrorBoundaryTest/ErrorCausingCounter.razor
  src/Components/test/testassets/BasicTestApp/ErrorBoundaryTest/ErrorIgnorer.razor
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/wwwroot/style.css
  src/Mvc/Mvc.ViewFeatures/src/DependencyInjection/MvcViewFeaturesMvcCoreBuilderExtensions.cs
  src/Mvc/Mvc.ViewFeatures/src/RazorComponents/PrerenderingErrorBoundaryLogger.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/wwwroot/css/site.css
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/css/app.css
Labels: area-blazor

#31484 Remove unused ADAL dependency
  AspNetCore.sln
  eng/Dependencies.props
  eng/Versions.props
  src/Security/Authentication/OpenIdConnect/samples/OpenIdConnect.AzureAdSample/AuthPropertiesTokenCache.cs
  src/Security/Authentication/OpenIdConnect/samples/OpenIdConnect.AzureAdSample/OpenIdConnect.AzureAdSample.csproj
  src/Security/Authentication/OpenIdConnect/samples/OpenIdConnect.AzureAdSample/Program.cs
  src/Security/Authentication/OpenIdConnect/samples/OpenIdConnect.AzureAdSample/Properties/launchSettings.json
  src/Security/Authentication/OpenIdConnect/samples/OpenIdConnect.AzureAdSample/Readme.md
  src/Security/Authentication/OpenIdConnect/samples/OpenIdConnect.AzureAdSample/Startup.cs
Labels: area-infrastructure

#31620 Use Ubuntu18.04
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#31591 Custom event args: support receiving IJSObjectReference
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/Server/src/Circuits/RemoteJSRuntime.cs
  src/Components/Shared/src/WebEventData.cs
  src/Components/WebAssembly/WebAssembly/src/Infrastructure/JSInteropMethods.cs
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.WarningSuppressions.xml
  src/Components/WebAssembly/WebAssembly/src/Services/DefaultWebAssemblyJSRuntime.cs
  src/Components/WebView/WebView/src/IpcReceiver.cs
  src/Components/WebView/WebView/src/Services/WebViewJSRuntime.cs
  src/Components/test/E2ETest/Tests/EventCustomArgsTest.cs
  src/Components/test/testassets/BasicTestApp/EventCustomArgsComponent.razor
  src/Components/test/testassets/BasicTestApp/EventCustomArgsTypes.cs
Labels: area-blazor

#31300 [SignalR TS] Set keep alive timer in receive loop
  src/SignalR/clients/ts/signalr/src/HubConnection.ts
  src/SignalR/clients/ts/signalr/tests/HubConnection.test.ts
Labels: area-signalr

#31614 Unskip some fixed E2E tests
  src/Components/test/E2ETest/Tests/BindTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyICUShardingTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyStringComparisonTest.cs
Labels: area-blazor

#31612 Fix "no event handler" in simultaneous blur+removal case
  src/Components/WebAssembly/WebAssembly/src/Rendering/WebAssemblyRenderer.cs
  src/Components/test/E2ETest/Tests/EventTest.cs
  src/Components/test/testassets/BasicTestApp/FocusEventComponent.razor
Labels: area-blazor

#31564 [Templates] SPA template proxy approach update
  AspNetCore.sln
  eng/ProjectReferences.props
  src/Middleware/Middleware.slnf
  src/Middleware/Spa/SpaProxy/src/Microsoft.AspNetCore.SpaProxy.csproj
  src/Middleware/Spa/SpaProxy/src/SpaHostingStartup.cs
  src/Middleware/Spa/SpaProxy/src/SpaProxyLaunchManager.cs
  src/Middleware/Spa/SpaProxy/src/build/Microsoft.AspNetCore.SpaProxy.targets
  src/Middleware/Spa/SpaServices.Extensions/src/AngularCli/AngularCliBuilder.cs
  src/Middleware/Spa/SpaServices.Extensions/src/AngularCli/AngularCliMiddleware.cs
  src/Middleware/Spa/SpaServices.Extensions/src/AngularCli/AngularCliMiddlewareExtensions.cs
  src/Middleware/Spa/SpaServices.Extensions/src/DefaultSpaBuilder.cs
  src/Middleware/Spa/SpaServices.Extensions/src/ISpaBuilder.cs
  src/Middleware/Spa/SpaServices.Extensions/src/Microsoft.AspNetCore.SpaServices.Extensions.csproj
  src/Middleware/Spa/SpaServices.Extensions/src/Npm/NodeScriptRunner.cs
  src/Middleware/Spa/SpaServices.Extensions/src/Prerendering/ISpaPrerendererBuilder.cs
  src/Middleware/Spa/SpaServices.Extensions/src/Prerendering/SpaPrerenderingOptions.cs
  src/Middleware/Spa/SpaServices.Extensions/src/Proxying/ConditionalProxyMiddleware.cs
  src/Middleware/Spa/SpaServices.Extensions/src/Proxying/SpaProxy.cs
  src/Middleware/Spa/SpaServices.Extensions/src/Proxying/SpaProxyingExtensions.cs
  src/Middleware/Spa/SpaServices.Extensions/src/PublicAPI.Shipped.txt
  src/Middleware/Spa/SpaServices.Extensions/src/PublicAPI.Unshipped.txt
  src/Middleware/Spa/SpaServices.Extensions/src/ReactDevelopmentServer/ReactDevelopmentServerMiddleware.cs
  src/Middleware/Spa/SpaServices.Extensions/src/ReactDevelopmentServer/ReactDevelopmentServerMiddlewareExtensions.cs
  src/Middleware/Spa/SpaServices.Extensions/src/SpaApplicationBuilderExtensions.cs
  src/Middleware/Spa/SpaServices.Extensions/src/SpaDefaultPageMiddleware.cs
  src/Middleware/Spa/SpaServices.Extensions/src/SpaOptions.cs
  src/Middleware/Spa/SpaServices.Extensions/src/StaticFiles/DefaultSpaStaticFileProvider.cs
  src/Middleware/Spa/SpaServices.Extensions/src/StaticFiles/ISpaStaticFileProvider.cs
  src/Middleware/Spa/SpaServices.Extensions/src/StaticFiles/SpaStaticFilesExtensions.cs
  src/Middleware/Spa/SpaServices.Extensions/src/StaticFiles/SpaStaticFilesOptions.cs
  src/Middleware/Spa/SpaServices.Extensions/src/Util/EventedStreamReader.cs
  src/Middleware/Spa/SpaServices.Extensions/src/Util/EventedStreamStringReader.cs
  src/Middleware/Spa/SpaServices.Extensions/src/Util/LoggerFinder.cs
  src/Middleware/Spa/SpaServices.Extensions/src/Util/TaskTimeoutExtensions.cs
  src/Middleware/Spa/SpaServices.Extensions/src/Util/TcpPortFinder.cs
  src/Middleware/Spa/SpaServices.Extensions/test/ListLoggerFactory.cs
  src/Middleware/Spa/SpaServices.Extensions/test/Microsoft.AspNetCore.SpaServices.Extensions.Tests.csproj
  src/Middleware/Spa/SpaServices.Extensions/test/SpaServicesExtensionsTests.cs
  src/Middleware/Spa/SpaServices.Extensions/test/package.json
  src/ProjectTemplates/BlazorTemplates.Tests/template-baselines.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/.gitignore
  src/ProjectTemplates/Web.Spa.ProjectTemplates/Angular-CSharp.csproj.in
  src/ProjectTemplates/Web.Spa.ProjectTemplates/Microsoft.DotNet.Web.Spa.ProjectTemplates.csproj
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/angular.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/aspnetcore-https.js
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/proxy.conf.js
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/Startup.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/appsettings.Development.json
  src/ProjectTemplates/test/template-baselines.json
Labels: area-mvc

#31603 Infer default sources for parameters of minimal actions
  AspNetCore.sln
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/HttpAbstractions.slnf
  src/Http/Routing/samples/MapActionSample/Program.cs
  src/Http/Routing/samples/MapActionSample/Startup.cs
  src/Http/Routing/samples/MapActionSample/Todo.cs
  src/Http/samples/MapActionSample/MapActionSample.csproj
  src/Http/samples/MapActionSample/Program.cs
  src/Http/samples/MapActionSample/Properties/launchSettings.json
  src/Http/samples/MapActionSample/appsettings.Development.json
  src/Http/samples/MapActionSample/appsettings.json
Labels: area-runtime, feature-map-action

#31649 Set locale for ubuntu 18.04
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure, auto-merge

#31646 Remove form support from minimal APIs
  AspNetCore.sln
  src/Http/Http.Abstractions/src/Metadata/IFromFormMetadata.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/HttpAbstractions.slnf
  src/Http/samples/MinimalSample/MinimalSample.csproj
  src/Http/samples/MinimalSample/Program.cs
  src/Http/samples/MinimalSample/Properties/launchSettings.json
  src/Http/samples/MinimalSample/appsettings.Development.json
  src/Http/samples/MinimalSample/appsettings.json
  src/Mvc/Mvc.Core/src/FromFormAttribute.cs
  src/Mvc/Mvc.slnf
Labels: area-runtime, auto-merge

#31652 [Templates] Update the react template to use the CLI proxy instead of our proxy
  src/Middleware/Spa/SpaProxy/src/SpaProxyLaunchManager.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/Angular-CSharp.csproj.in
  src/ProjectTemplates/Web.Spa.ProjectTemplates/React-CSharp.csproj.in
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/Startup.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/.env.development
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/aspnetcore-https.js
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/aspnetcore-react.js
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/setupProxy.js
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/Startup.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/appsettings.Development.json
  src/ProjectTemplates/test/template-baselines.json
Labels: area-mvc, auto-merge

#31661 [SignalR] Allocate HubCallerClients once per connection
  src/SignalR/server/Core/src/HubConnectionContext.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
Labels: Perf, area-signalr

#31627 [SignalR TS] Set keep alive timer in receive loop (#31300)
  src/SignalR/clients/ts/signalr/src/HubConnection.ts
  src/SignalR/clients/ts/signalr/tests/HubConnection.test.ts
Labels: Servicing-approved, area-signalr

#31626 [SignalR TS] Set keep alive timer in receive loop (#31300)
  src/SignalR/clients/ts/signalr/src/HubConnection.ts
  src/SignalR/clients/ts/signalr/tests/HubConnection.test.ts
Labels: Servicing-approved, area-signalr

#31651 Copy runtimeconfig.json to output directory
  src/Components/WebAssembly/DevServer/src/Microsoft.AspNetCore.Components.WebAssembly.DevServer.csproj
  src/Components/WebAssembly/DevServer/src/Microsoft.AspNetCore.Components.WebAssembly.DevServer.nuspec
Labels: area-blazor

#31242 Blazor Template improvements Take 2
  eng/helix/content/RunTests/TestRunner.cs
  src/ProjectTemplates/BlazorTemplates.Tests/AssemblyInfo.AssemblyFixtures.cs
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorServerTemplateTest.cs
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorTemplateTest.cs
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorWasmTemplateTest.cs
  src/ProjectTemplates/Shared/ProjectFactoryFixture.cs
  src/Testing/src/LoggedTest/LoggedTestBase.cs
Labels: area-blazor

#31457 Remove RelatedBundle codes for pre-2.1.7 bundles
  src/Installers/Windows/SharedFrameworkBundle/Bundle.wxs
  src/Installers/Windows/WindowsHostingBundle/Bundle.wxs
Labels: 2.1.28, area-infrastructure

#31660 [SignalR] Allocate one StreamItemMessage per stream
  src/SignalR/common/SignalR.Common/src/Protocol/StreamItemMessage.cs
  src/SignalR/common/SignalR.Common/src/PublicAPI.Unshipped.txt
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
Labels: Perf, api-approved, area-signalr

#31722 Update docker image to 18.04
  eng/docker/ubuntu-alpine37.Dockerfile
Labels: area-infrastructure

#31727 Add "hotReloadProfile" to hosted Blazor template
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Properties/launchSettings.json
Labels: area-mvc, auto-merge

#31707 Fix UnexpectedFrameError flaky tests
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
Labels: area-runtime

#31730 Quarantine RazorPagesTemplate_IdentityWeb_BuildsAndPublishes
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
Labels: area-mvc

#31658 Infer that interface parameters are services
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Routing/src/Builder/MinimalActionEndpointConventionBuilder.cs
  src/Http/Routing/src/Builder/MinimalActionEndpointRouteBuilderExtensions.cs
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/test/FunctionalTests/MinimalActionTest.cs
  src/Http/Routing/test/UnitTests/Builder/MinimalActionEndpointRouteBuilderExtensionsTest.cs
Labels: area-runtime, feature-minimal-actions

#31743 HTTP/3: Unskip ContentLength_Received_NoDataFrames_Reset
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
Labels: area-runtime, auto-merge

#31773 Update Site extensions versions
  eng/Versions.props
Labels: area-infrastructure, auto-merge

#31775 Fix spacing in appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/appsettings.json
Labels: area-mvc, auto-merge

#31774 Code merge, Baseline and SDK updates
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  src/Installers/Windows/TargetingPack/TargetingPack.wixproj
  src/SignalR/clients/ts/FunctionalTests/yarn.lock
Labels: area-infrastructure

#31650 Stop doing sync over async in Produce100Continue
  src/Servers/Kestrel/Core/src/Internal/Http/Http1ChunkedEncodingMessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1ContentLengthMessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http/IHttpResponseControl.cs
  src/Servers/Kestrel/Core/src/Internal/Http/MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3MessageBody.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
Labels: area-runtime

#31761 Make the Python pack optional on Linux
  src/Components/WebAssembly/BlazorManifest/acquire/Program.cs
  src/Components/WebAssembly/BlazorManifest/src/WorkloadManifest.json.in
  src/Components/WebAssembly/BlazorManifest/src/WorkloadManifest.targets
Labels: area-blazor

#31752 Rename SlabMemoryPool #31609
  src/Servers/HttpSys/src/HttpSysListener.cs
  src/Servers/IIS/IIS/src/Core/IISHttpServer.cs
  src/Servers/Kestrel/Core/test/ConcurrentPipeWriterTests.cs
  src/Servers/Kestrel/Core/test/DiagnosticMemoryPoolTests.cs
  src/Servers/Kestrel/Core/test/Http1ConnectionTests.cs
  src/Servers/Kestrel/Core/test/HttpResponseHeadersTests.cs
  src/Servers/Kestrel/Core/test/OutputProducerTests.cs
  src/Servers/Kestrel/Core/test/PinnedBlockMemoryPoolTests.cs
  src/Servers/Kestrel/Core/test/PipelineExtensionTests.cs
  src/Servers/Kestrel/Core/test/StartLineTests.cs
  src/Servers/Kestrel/Core/test/TestHelpers/TestInput.cs
  src/Servers/Kestrel/Transport.Libuv/src/Internal/LibuvConnection.cs
  src/Servers/Kestrel/Transport.Libuv/src/LibuvTransportOptions.cs
  src/Servers/Kestrel/Transport.Libuv/test/LibuvOutputConsumerTests.cs
  src/Servers/Kestrel/Transport.Quic/src/QuicTransportOptions.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketTransportOptions.cs
  src/Servers/Kestrel/perf/Microbenchmarks/ChunkWriterBenchmark.cs
  src/Servers/Kestrel/perf/Microbenchmarks/Http1ConnectionBenchmark.cs
  src/Servers/Kestrel/perf/Microbenchmarks/Http1ConnectionParsingOverheadBenchmark.cs
  src/Servers/Kestrel/perf/Microbenchmarks/Http1LargeWritingBenchmark.cs
  src/Servers/Kestrel/perf/Microbenchmarks/Http1ReadingBenchmark.cs
  src/Servers/Kestrel/perf/Microbenchmarks/Http1WritingBenchmark.cs
  src/Servers/Kestrel/perf/Microbenchmarks/Http2ConnectionBenchmarkBase.cs
  src/Servers/Kestrel/perf/Microbenchmarks/Http2FrameWriterBenchmark.cs
  src/Servers/Kestrel/perf/Microbenchmarks/HttpProtocolFeatureCollection.cs
  src/Servers/Kestrel/perf/Microbenchmarks/PipeThroughputBenchmark.cs
  src/Servers/Kestrel/perf/Microbenchmarks/RequestParsingBenchmark.cs
  src/Servers/Kestrel/perf/Microbenchmarks/ResponseHeaderCollectionBenchmark.cs
  src/Servers/Kestrel/shared/test/TestContextFactory.cs
  src/Servers/Kestrel/shared/test/TestServiceContext.cs
  src/Servers/Kestrel/shared/test/TransportTestHelpers/DiagnosticMemoryPoolFactory.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TestBase.cs
  src/Shared/Buffers.MemoryPool/MemoryPoolBlock.cs
  src/Shared/Buffers.MemoryPool/MemoryPoolFactory.cs
  src/Shared/Buffers.MemoryPool/PinnedBlockMemoryPool.cs
Labels: area-runtime, community-contribution

#31797 IApiDescriptionVisibilityProvider.IgnoreApi description
  src/Mvc/Mvc.Core/src/ApiExplorer/IApiDescriptionVisibilityProvider.cs
Labels: area-mvc, community-contribution

#31781 Merge 2.1.27 changes et cetera
  build/dependencies.props
  eng/Baseline.Designer.props
  eng/Baseline.xml
  korebuild-lock.txt
  src/PackageArchive/Archive.CiServer.Patch.Compat/ArchiveBaseline.2.1.27.txt
  src/PackageArchive/Archive.CiServer.Patch/ArchiveBaseline.2.1.27.txt
  src/Razor/test/testassets/Razor.Test.Common/Microsoft.AspNetCore.Razor.Test.Common.csproj
  version.props
Labels: area-infrastructure, tell-mode

#31708 Update Polly and support IConcurrentPolicyRegistry<string>
  eng/Versions.props
  src/HttpClientFactory/Polly/src/DependencyInjection/PollyServiceCollectionExtensions.cs
  src/HttpClientFactory/Polly/test/DependencyInjection/PollyHttpClientBuilderExtensionsTest.cs
Labels: area-runtime, community-contribution, feature-httpclientfactory

#31739 Produce more efficient TryParse code gen for minimal actions
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
Labels: area-runtime, auto-merge, feature-minimal-actions

#31780 Switch to serviced dotnet/sdk tag
  src/Components/benchmarkapps/Wasm.Performance/dockerfile
Labels: area-blazor, auto-merge

#31809 Fixup site extensions 3.1 versions
  eng/Versions.props
Labels: area-infrastructure, auto-merge

#31670 Add support for WASM hot reload on app start
  src/Components/Components/src/Microsoft.AspNetCore.Components.WarningSuppressions.xml
  src/Components/Components/src/Microsoft.AspNetCore.Components.csproj
  src/Components/Shared/src/HotReloadEnvironment.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/src/Platform/BootConfig.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/WebAssembly/Server/src/ComponentsWebAssemblyApplicationBuilderExtensions.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHost.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/WebAssemblyHotReload.cs
  src/Components/WebAssembly/WebAssembly/src/Infrastructure/JSInteropMethods.cs
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.WarningSuppressions.xml
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.csproj
  src/Components/WebAssembly/WebAssembly/src/Properties/ILLink.Substitutions.xml
  src/Components/WebAssembly/WebAssembly/src/PublicAPI.Unshipped.txt
Labels: area-blazor

#31811 Update SiteExtensions 3.1 version
  eng/Versions.props
Labels: area-infrastructure

#31823 Testing out automatic milestone assignment for PRs
  docs/README.md
Labels: INTERNAL: Debug

#31418 Always use oneshot pbdkf2 in netcoreapp
  src/DataProtection/Cryptography.KeyDerivation/src/PBKDF2/Pbkdf2Util.cs
Labels: area-dataprotection

#29354 [HealthChecks] Service Scope by healthcheck
  src/HealthChecks/HealthChecks/src/DefaultHealthCheckService.cs
  src/HealthChecks/HealthChecks/test/DefaultHealthCheckServiceTest.cs
Labels: area-healthchecks, community-contribution

#31794 Fix AuthorizeViewCore.cs invalid rendering logic
  src/Components/Authorization/src/AuthorizeViewCore.cs
  src/Components/Authorization/test/AuthorizeViewTest.cs
  src/Components/Authorization/test/TestAsyncAuthorizationService.cs
Labels: area-blazor, community-contribution

#31787 Fix flaky test ContentLength_Received_NoDataFrames_Reset
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
Labels: area-runtime

#31855 Quarantine auth test
  src/Components/Authorization/test/AuthorizeViewTest.cs
Labels: area-blazor, auto-merge

#31847 disable on_demand_gc until AOT issues are identified
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
Labels: area-blazor, auto-merge

#31853 Update WorkloadManifest.json.in
  src/Components/WebAssembly/BlazorManifest/src/WorkloadManifest.json.in
Labels: area-blazor, auto-merge

#31845 Update the database error page to use the design-time model.
  src/Middleware/Diagnostics.EntityFrameworkCore/src/HttpContextDatabaseContextDetailsExtensions.cs
Labels: area-runtime

#31856 Update Alpine ARM docker image
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#31862 [Blazor] Don't invoke when connection closed
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/src/Platform/Circuits/CircuitManager.ts
Labels: area-blazor

#31858 Allow missing platforms in alias packs
  src/Components/WebAssembly/BlazorManifest/acquire/Program.cs
Labels: area-blazor, auto-merge

#31738 Add template for reporting test failures
  .github/ISSUE_TEMPLATE/50_test_failure.md
Labels: area-infrastructure

#31817 Use MetadataUpdateHandlerAttribute in Blazor
  eng/Workarounds.targets
  src/Components/Components/src/HotReload/HotReloadManager.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/WebAssemblyHotReload.cs
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.WarningSuppressions.xml
Labels: area-blazor, auto-merge

#31522 JsonPatch refactoring
  src/Features/JsonPatch/src/Adapters/AdapterFactory.cs
  src/Features/JsonPatch/src/Adapters/ObjectAdapter.cs
  src/Features/JsonPatch/src/Converters/JsonPatchDocumentConverter.cs
  src/Features/JsonPatch/src/Converters/TypedJsonPatchDocumentConverter.cs
  src/Features/JsonPatch/src/Internal/DictionaryAdapterOfTU.cs
  src/Features/JsonPatch/src/Internal/JObjectAdapter.cs
  src/Features/JsonPatch/src/Internal/ObjectVisitor.cs
  src/Features/JsonPatch/src/JsonPatchDocument.cs
  src/Features/JsonPatch/src/JsonPatchDocumentOfT.cs
Labels: area-mvc, auto-merge, community-contribution, feature-JSONPatch

#31874 Used TaskToApm everywhere
  src/Middleware/ResponseCaching/src/Microsoft.AspNetCore.ResponseCaching.csproj
  src/Middleware/ResponseCaching/src/Streams/ResponseCachingStream.cs
  src/Middleware/ResponseCaching/src/Streams/SegmentWriteStream.cs
  src/Middleware/ResponseCaching/src/Streams/StreamUtilities.cs
  src/Middleware/ResponseCompression/src/Microsoft.AspNetCore.ResponseCompression.csproj
  src/Middleware/ResponseCompression/src/ResponseCompressionBody.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestStream.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestStreamAsyncResult.cs
  src/Servers/HttpSys/src/ResponseStream.cs
Labels: area-runtime, community-contribution

#31851 Update to 6.0.0-preview5
  eng/Versions.props
Labels: area-infrastructure

#31888 Add log for unsupported protocol with Negotiate auth
  src/Security/Authentication/Negotiate/src/Internal/NegotiateLoggingExtensions.cs
  src/Security/Authentication/Negotiate/src/NegotiateHandler.cs
Labels: area-security

#25383 [dotnet-dev-certs] Report logs from CertificateManager on stdout/stderr
  src/Shared/CertificateGeneration/CertificateManager.cs
  src/Shared/CertificateGeneration/MacOSCertificateManager.cs
  src/Shared/CertificateGeneration/UnixCertificateManager.cs
  src/Shared/CertificateGeneration/WindowsCertificateManager.cs
  src/Tools/dotnet-dev-certs/src/Program.cs
  src/Tools/dotnet-dev-certs/src/ReporterEventListener.cs
Labels: area-commandlinetools, community-contribution

#24559 Improve various messages for the dotnet-dev-certs https command
  src/Tools/dotnet-dev-certs/src/Program.cs
Labels: area-commandlinetools, community-contribution

#31918 Use `https` link for `launchSettings.json` schema
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/Properties/launchSettings.json
Labels: area-mvc, community-contribution

#31448 Use new helix sdk/runtime functionality
  eng/helix/content/RunTests/Program.cs
  eng/helix/content/RunTests/TestRunner.cs
  eng/helix/content/runtests.ps1
  eng/helix/content/runtests.sh
  eng/helix/helix.proj
  eng/targets/Helix.props
  eng/targets/Helix.targets
  src/Framework/test/Microsoft.AspNetCore.App.UnitTests.csproj
  src/Framework/test/SharedFxTests.cs
  src/Grpc/test/InteropTests/InteropTests.csproj
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorTemplates.Tests.csproj
  src/ProjectTemplates/test/ProjectTemplates.Tests.csproj
Labels: area-infrastructure

#31894 Use System.Text.Json's IAsyncEnumerable support
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  src/Components/WebAssembly/testassets/WasmLinkerTest/WasmLinkerTest.csproj
  src/Mvc/Mvc.Core/src/Infrastructure/ObjectResultExecutor.cs
  src/Mvc/Mvc.Core/src/Infrastructure/SystemTextJsonResultExecutor.cs
  src/Mvc/Mvc.Core/test/Formatters/SystemTextJsonOutputFormatterTest.cs
  src/Mvc/Mvc.Core/test/Infrastructure/AsyncEnumerableReaderTest.cs
  src/Mvc/Mvc.Core/test/Infrastructure/JsonResultExecutorTestBase.cs
  src/Mvc/Mvc.Core/test/Infrastructure/ObjectResultExecutorTest.cs
  src/Mvc/Mvc.Formatters.Xml/src/XmlDataContractSerializerOutputFormatter.cs
  src/Mvc/Mvc.Formatters.Xml/src/XmlSerializerOutputFormatter.cs
  src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonOutputFormatter.cs
  src/Mvc/test/Mvc.FunctionalTests/ErrorPageTests.cs
  src/ProjectTemplates/Shared/TemplatePackageInstaller.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/StartupTests.cs
  src/Servers/Kestrel/Transport.Quic/src/AssemblyInfo.cs
Labels: Servicing-approved, area-mvc, breaking-change

#30559 Quic transport is no longer experimental in .NET 6
  AspNetCore.sln
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/ProjectReferences.props
  src/Servers/Connections.Abstractions/src/IMulitplexedConnectionListener.cs
  src/Servers/Connections.Abstractions/src/IMultiplexedConnectionBuilder.cs
  src/Servers/Connections.Abstractions/src/IMultiplexedConnectionFactory.cs
  src/Servers/Connections.Abstractions/src/IMultiplexedConnectionListenerFactory.cs
  src/Servers/Connections.Abstractions/src/MultiplexedConnectionBuilder.cs
  src/Servers/Connections.Abstractions/src/MultiplexedConnectionContext.cs
  src/Servers/Connections.Abstractions/src/MultiplexedConnectionDelegate.cs
  src/Servers/Connections.Abstractions/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3ConnectionContext.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/TransportManager.cs
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Servers/Kestrel/Core/src/ListenOptions.cs
  src/Servers/Kestrel/Core/src/Middleware/Http3ConnectionMiddleware.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpConnectionBuilderExtensions.cs
  src/Servers/Kestrel/Core/src/Middleware/ListenOptionsConnectionLoggingExtensions.cs
  src/Servers/Kestrel/Core/src/Middleware/LoggingMultiplexedConnectionMiddleware.cs
  src/Servers/Kestrel/Kestrel.slnf
  src/Servers/Kestrel/Transport.Quic/src/Internal/FakeTlsConnectionFeature.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/IQuicTrace.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionListener.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicTrace.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicTransportContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Quic.csproj
  src/Servers/Kestrel/Transport.Quic/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Transport.Quic/src/QuicConnectionFactory.cs
  src/Servers/Kestrel/Transport.Quic/src/QuicTransportFactory.cs
  src/Servers/Kestrel/Transport.Quic/src/QuicTransportOptions.cs
  src/Servers/Kestrel/Transport.Quic/src/WebHostBuilderQuicExtensions.cs
  src/Servers/Kestrel/Transport.Quic/test/Microsoft.AspNetCore.Server.Kestrel.Transport.Quic.Tests.csproj
  src/Servers/Kestrel/Transport.Quic/test/QuicTransportFactoryTests.cs
  src/Servers/Kestrel/samples/Http3SampleApp/Http3SampleApp.csproj
  src/Servers/Kestrel/shared/TransportMultiplexedConnection.cs
  src/Servers/Kestrel/shared/test/TestContextFactory.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/TestTransport/MockMultiplexedConnectionListenerFactory.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/TestTransport/TestServer.cs
Labels: api-approved, area-runtime

#31928 HTTP/3: Header limits and validation
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TestBase.cs
  src/Shared/runtime/Http3/Helpers/VariableLengthIntegerHelper.cs
  src/Shared/runtime/Http3/QPack/HeaderField.cs
Labels: area-runtime

#31949 Unskip auth samples test
  src/Security/test/AuthSamples.FunctionalTests/IdentityExternalClaimsTests.cs
Labels: area-security

#30822 Test with trimming enabled in CI and in release builds.
  src/Components/Shared/src/WebEventData.cs
  src/Components/Web/src/Microsoft.AspNetCore.Components.Web.csproj
  src/Components/test/E2ETest/Infrastructure/ServerFixtures/BlazorWasmTestAppFixture.cs
  src/Components/test/E2ETest/Infrastructure/ServerFixtures/DevHostServerFixture.cs
  src/Components/test/E2ETest/Infrastructure/ServerFixtures/StaticSiteServerFixture.cs
  src/Components/test/E2ETest/Infrastructure/ServerFixtures/ToggleExecutionModeServerFixture.cs
  src/Components/test/E2ETest/Microsoft.AspNetCore.Components.E2ETests.csproj
  src/Components/test/E2ETest/Tests/BinaryHttpClientTest.cs
  src/Components/test/E2ETest/Tests/HttpClientTest.cs
  src/Components/test/E2ETest/Tests/PerformanceTest.cs
  src/Components/test/E2ETest/Tests/SaveStateTest.cs
  src/Components/test/E2ETest/Tests/SignalRClientTest.cs
  src/Components/test/E2ETest/Tests/StandaloneAppTest.cs
  src/Components/test/E2ETest/Tests/StartupErrorNotificationTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyConfigurationTest.cs
  src/Components/test/testassets/BasicTestApp/BasicTestApp.csproj
  src/Components/test/testassets/GlobalizationWasmApp/GlobalizationWasmApp.csproj
Labels: area-blazor

#31822 Fix dotnetRunMessages incorrect bool value
  src/Http/samples/MinimalSample/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/Properties/launchSettings.json
Labels: area-mvc, community-contribution

#31848 Fix HttpSys, setting HttpRequest.ContentLength causes two headers to be enumerated
  src/Servers/HttpSys/test/FunctionalTests/RequestBodyTests.cs
  src/Shared/HttpSys/RequestProcessing/RequestHeaders.cs
Labels: area-runtime, auto-merge, community-contribution

#31955 Update to latest .NET SDK
  global.json
Labels: area-infrastructure

#31965 Remove ExecutionContext suppression
  src/Http/Routing/src/EndpointRoutingMiddleware.cs
Labels: area-runtime

#31951 Preserve JSON deserialized types from being trimmed away
  src/Components/Shared/src/WebEventData.cs
Labels: Servicing-approved, area-blazor

#31956 Blazor WebAssembly hot reload does not cause UI refresh
  src/Components/Components/src/HotReload/HotReloadManager.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/WebAssemblyHotReload.cs
  src/Components/WebAssembly/WebAssembly/test/WebAssemblyHotReloadTest.cs
Labels: Servicing-approved, area-blazor

#31981 Add some quips about trimmed testing
  src/Components/README.md
Labels: area-blazor, auto-merge

#31625 Optimizing ChunkingCookieManager
  src/Http/Http.Features/src/IResponseCookies.cs
  src/Http/Http.Features/src/Microsoft.AspNetCore.Http.Features.csproj
  src/Http/Http.Features/src/PublicAPI/net461/PublicAPI.Shipped.txt
  src/Http/Http.Features/src/PublicAPI/net461/PublicAPI.Unshipped.txt
  src/Http/Http.Features/src/PublicAPI/net6.0/PublicAPI.Shipped.txt
  src/Http/Http.Features/src/PublicAPI/net6.0/PublicAPI.Unshipped.txt
  src/Http/Http.Features/src/PublicAPI/netstandard2.0/PublicAPI.Shipped.txt
  src/Http/Http.Features/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/Http/Http/src/Internal/ResponseCookies.cs
  src/Mvc/Mvc.ViewFeatures/test/CookieTempDataProviderTest.cs
  src/Security/CookiePolicy/src/ResponseCookiesWrapper.cs
  src/Security/CookiePolicy/test/CookieChunkingTests.cs
  src/Security/perf/Microbenchmarks/ChunkingCookieManagerBenchmark.cs
  src/Security/perf/Microbenchmarks/Microsoft.AspNetCore.Security.Microbenchmarks.csproj
  src/Shared/ChunkingCookieManager/ChunkingCookieManager.cs
Labels: api-ready-for-review, area-mvc, area-runtime, area-security, auto-merge, community-contribution

#31982 Ignore Unshipped.txt in previews
  eng/scripts/CodeCheck.ps1
Labels: area-infrastructure, tell-mode

#31816 Adds HttpLogging middleware
  AspNetCore.sln
  eng/ProjectReferences.props
  eng/SharedFramework.Local.props
  src/Framework/test/TestData.cs
  src/Middleware/HttpLogging/samples/HttpLogging.Sample/HttpLogging.Sample.csproj
  src/Middleware/HttpLogging/samples/HttpLogging.Sample/Program.cs
  src/Middleware/HttpLogging/samples/HttpLogging.Sample/Properties/launchSettings.json
  src/Middleware/HttpLogging/samples/HttpLogging.Sample/Startup.cs
  src/Middleware/HttpLogging/samples/HttpLogging.Sample/appsettings.Development.json
  src/Middleware/HttpLogging/samples/HttpLogging.Sample/appsettings.json
  src/Middleware/HttpLogging/src/BufferingStream.cs
  src/Middleware/HttpLogging/src/HttpLoggingBuilderExtensions.cs
  src/Middleware/HttpLogging/src/HttpLoggingExtensions.cs
  src/Middleware/HttpLogging/src/HttpLoggingFields.cs
  src/Middleware/HttpLogging/src/HttpLoggingMiddleware.cs
  src/Middleware/HttpLogging/src/HttpLoggingOptions.cs
  src/Middleware/HttpLogging/src/HttpLoggingServicesExtensions.cs
  src/Middleware/HttpLogging/src/HttpRequestLog.cs
  src/Middleware/HttpLogging/src/HttpResponseLog.cs
  src/Middleware/HttpLogging/src/MediaTypeHelpers.cs
  src/Middleware/HttpLogging/src/MediaTypeOptions.cs
  src/Middleware/HttpLogging/src/Microsoft.AspNetCore.HttpLogging.csproj
  src/Middleware/HttpLogging/src/Properties/AssemblyInfo.cs
  src/Middleware/HttpLogging/src/PublicAPI.Shipped.txt
  src/Middleware/HttpLogging/src/PublicAPI.Unshipped.txt
  src/Middleware/HttpLogging/src/RequestBufferingStream.cs
  src/Middleware/HttpLogging/src/ResponseBufferingStream.cs
  src/Middleware/HttpLogging/test/HttpLoggingMiddlewareTests.cs
  src/Middleware/HttpLogging/test/HttpLoggingOptionsTests.cs
  src/Middleware/HttpLogging/test/Microsoft.AspNetCore.HttpLogging.Tests.csproj
  src/Middleware/HttpsPolicy/src/HttpsRedirectionOptions.cs
  src/Middleware/Middleware.slnf
  src/Servers/Kestrel/Core/src/Microsoft.AspNetCore.Server.Kestrel.Core.csproj
  src/Shared/Buffers/BufferSegment.cs
  src/Shared/Buffers/BufferSegmentStack.cs
Labels: api-approved, area-runtime

#31974 HTTP/3: Handle request stream ending without headers
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TestBase.cs
Labels: area-runtime, auto-merge

#31825 Minimal hosting
  src/DefaultBuilder/DefaultBuilder.slnf
  src/DefaultBuilder/samples/SampleApp/Program.cs
  src/DefaultBuilder/src/BootstrapHostBuilder.cs
  src/DefaultBuilder/src/Configuration.cs
  src/DefaultBuilder/src/ConfigureHostBuilder.cs
  src/DefaultBuilder/src/ConfigureWebHostBuilder.cs
  src/DefaultBuilder/src/PublicAPI.Unshipped.txt
  src/DefaultBuilder/src/WebApplication.cs
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/DefaultBuilder/src/WebHostEnvironment.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.FunctionalTests/WebApplicationFunctionalTests.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
  src/Http/samples/MinimalSample/Program.cs
Labels: Servicing-approved, area-runtime, feature-minimal-hosting

#31784 Add new Use middleware extension method
  src/Components/WebAssembly/DevServer/src/Server/Startup.cs
  src/Components/WebAssembly/Server/src/ComponentsWebAssemblyApplicationBuilderExtensions.cs
  src/Components/WebAssembly/Server/src/WebAssemblyNetDebugProxyAppBuilderExtensions.cs
  src/Components/WebAssembly/testassets/HostedInAspNet.Server/Startup.cs
  src/Components/test/testassets/TestServer/ServerStartup.cs
  src/Hosting/TestHost/test/TestServerTests.cs
  src/Http/Http.Abstractions/src/Extensions/UseExtensions.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Abstractions/test/UseExtensionsTests.cs
  src/Http/Http/test/ApplicationBuilderTests.cs
  src/Http/Routing/test/testassets/RoutingSandbox/UseRouterStartup.cs
  src/Http/Routing/test/testassets/RoutingWebSite/UseRouterStartup.cs
  src/Identity/test/InMemory.Test/FunctionalTest.cs
  src/Middleware/CORS/test/UnitTests/CorsMiddlewareTests.cs
  src/Middleware/Diagnostics/test/UnitTests/ExceptionHandlerTest.cs
  src/Middleware/Diagnostics/test/UnitTests/StatusCodeMiddlewareTest.cs
  src/Middleware/Diagnostics/test/testassets/DeveloperExceptionPageSample/Startup.cs
  src/Middleware/Diagnostics/test/testassets/StatusCodePagesSample/Startup.cs
  src/Middleware/HostFiltering/test/HostFilteringMiddlewareTests.cs
  src/Middleware/HttpOverrides/test/CertificateForwardingTest.cs
  src/Middleware/Localization/sample/Startup.cs
  src/Middleware/MiddlewareAnalysis/samples/MiddlewareAnalysisSample/Startup.cs
  src/Middleware/ResponseCompression/test/ResponseCompressionMiddlewareTest.cs
  src/Middleware/Session/test/SessionTests.cs
  src/Middleware/Spa/SpaServices.Extensions/src/Proxying/SpaProxyingExtensions.cs
  src/Middleware/Spa/SpaServices.Extensions/src/SpaDefaultPageMiddleware.cs
  src/Middleware/StaticFiles/test/FunctionalTests/StaticFileMiddlewareTests.cs
  src/Middleware/StaticFiles/test/UnitTests/StaticFileMiddlewareTests.cs
  src/Middleware/WebSockets/samples/EchoApp/Startup.cs
  src/Middleware/WebSockets/test/ConformanceTests/AutobahnTestApp/Startup.cs
  src/Middleware/WebSockets/test/UnitTests/KestrelWebSocketHelpers.cs
  src/Mvc/Mvc.Core/test/Filters/MiddlewareFilterAttributeTest.cs
  src/Mvc/Mvc.Core/test/Filters/MiddlewareFilterBuilderTest.cs
  src/Mvc/Mvc.Core/test/Filters/MiddlewareFilterTest.cs
  src/Mvc/test/WebSites/BasicWebSite/StartupRequestLimitSize.cs
  src/Mvc/test/WebSites/BasicWebSite/StartupWhereReadingRequestBodyThrows.cs
  src/Security/Authentication/JwtBearer/samples/JwtBearerSample/Startup.cs
  src/Security/Authentication/test/CertificateTests.cs
  src/Security/Authentication/test/CookieTests.cs
  src/Security/Authentication/test/DynamicSchemeTests.cs
  src/Security/Authentication/test/FacebookTests.cs
  src/Security/Authentication/test/GoogleTests.cs
  src/Security/Authentication/test/JwtBearerTests.cs
  src/Security/Authentication/test/MicrosoftAccountTests.cs
  src/Security/Authentication/test/OAuthTests.cs
  src/Security/Authentication/test/OpenIdConnect/TestServerBuilder.cs
  src/Security/Authentication/test/PolicyTests.cs
  src/Security/Authentication/test/RemoteAuthenticationTests.cs
  src/Security/Authentication/test/TwitterTests.cs
  src/Security/samples/StaticFilesAuth/Startup.cs
  src/Servers/HttpSys/samples/HotAddSample/Startup.cs
  src/Servers/Kestrel/samples/SampleApp/Startup.cs
  src/Servers/testassets/ServerComparison.TestSites/StartupNtlmAuthentication.cs
  src/SignalR/clients/ts/FunctionalTests/Startup.cs
Labels: Servicing-approved, area-runtime, feature-HttpAbstractions

#31963 HTTP/3: Add unit test for MaxRequestLineSize limit
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/src/KestrelServerLimits.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
Labels: area-runtime, auto-merge

#32006 HTTP/3: Thread-safe access of connection's highest stream ID
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
Labels: area-runtime, auto-merge

#31988 [Razor] Parse razor language 6.0 correctly
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/RazorLanguageVersion.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/RazorLanguageVersionTest.cs
Labels: area-mvc, auto-merge

#32013 SignalR.Common.csproj description typo fixed.
  src/SignalR/common/SignalR.Common/src/Microsoft.AspNetCore.SignalR.Common.csproj
Labels: area-signalr, community-contribution

#31978 Remove await for WASM `platform.callEntryPoint`
  src/Components/Web.JS/src/Boot.WebAssembly.ts
Labels: Servicing-approved, area-blazor

#31997 Remove await for WASM `platform.callEntryPoint`
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/WebAssembly/testassets/StandaloneApp/wwwroot/index.html
  src/Components/test/E2ETest/Tests/StandaloneAppTest.cs
Labels: area-blazor

#31779 [Java] Safely call onError on Subjects
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/HubConnectionTest.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/RxJavaUnhandledExceptionsExtensions.java
Labels: area-signalr, signalr-client-java

#32010 Update Program.cs
  src/Identity/samples/IdentitySample.Mvc/Program.cs
Labels: area-identity, auto-merge, community-contribution

#29459 Added request size limit value to exception message in case of request body large exception for Kestrel
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Internal/Http/Http1ContentLengthMessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3MessageBody.cs
  src/Servers/Kestrel/Core/src/KestrelBadHttpRequestException.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/MaxRequestBodySizeTests.cs
Labels: area-runtime, community-contribution

#31596 Create subcategories for better filtering Kestrel logs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.cs
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Servers/Kestrel/perf/Microbenchmarks/Microsoft.AspNetCore.Server.Kestrel.Microbenchmarks.csproj
  src/Servers/Kestrel/shared/test/TestKestrelTrace.cs
  src/Servers/Kestrel/shared/test/TestServiceContext.cs
  src/Servers/Kestrel/test/FunctionalTests/Http2/ShutdownTests.cs
  src/Servers/Kestrel/test/FunctionalTests/RequestTests.cs
  src/Servers/Kestrel/test/FunctionalTests/ResponseTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpConnectionManagerTests.cs
Labels: area-runtime, community-contribution

#31850 Removed unsafe string mutation
  src/DataProtection/Cryptography.Internal/src/SafeHandles/BCryptAlgorithmHandle.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/HttpUtilities.cs
  src/Shared/Http2cat/Http2Utilities.cs
  src/Shared/ServerInfrastructure/StringUtilities.cs
Labels: area-dataprotection, area-runtime, community-contribution, servers-kestrel

#32053 [Razor] Update the razor compiler to only enable generic type constraints in 6.0 and later
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/RazorProjectEngine.cs
Labels: area-mvc

#32059 Fix duplicate LANG variables in ci.yml
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#32015 WASM PWA: Don't cache in service-worker
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/service-worker.published.js
Labels: area-blazor

#32017 Fix event during onafterrender
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyCallQueue.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHost.cs
  src/Components/WebAssembly/WebAssembly/src/Rendering/WebAssemblyRenderer.cs
  src/Components/WebAssembly/WebAssembly/src/Services/DefaultWebAssemblyJSRuntime.cs
  src/Components/test/E2ETest/Tests/ComponentRenderingTest.cs
  src/Components/test/testassets/BasicTestApp/ElementFocusComponent.razor
Labels: area-blazor, blazor-wasm

#32064 [release/6.0-preview4] Move 'System.Net.Experimental.MsQuic' reference
  src/Servers/Kestrel/Transport.Quic/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Experimental.Quic.csproj
  src/Servers/Kestrel/Transport.Quic/test/Microsoft.AspNetCore.Server.Kestrel.Transport.Quic.Tests.csproj
  src/Servers/Kestrel/samples/Http3SampleApp/Http3SampleApp.csproj
Labels: Servicing-approved, area-runtime

#32073 Update sync script area label
  .github/workflows/runtime-sync.yml
Labels: auto-merge

#32070 Suggest customers to upvote existing issues rather than file a new one
  CONTRIBUTING.md
Labels: area-infrastructure

#32016 Localization Update
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/.template.config/ko-KR/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/ko-KR/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/ko-KR/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/.template.config/ko-KR/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/ko-KR/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorClassLibrary-CSharp/.template.config/es-ES/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorClassLibrary-CSharp/.template.config/it-IT/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorClassLibrary-CSharp/.template.config/pt-BR/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorClassLibrary-CSharp/.template.config/ru-RU/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/ko-KR/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/ko-KR/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/ko-KR/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/.template.config/ko-KR/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/ko-KR/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/ko-KR/strings.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/.template.config/ko-KR/strings.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/.template.config/ko-KR/strings.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/.template.config/ko-KR/strings.json
Labels: area-mvc

#32003 Update "empty" web project templates to use minimal hostinng and routing
  AspNetCore.sln
  global.json
  src/Http/HttpAbstractions.slnf
  src/Http/samples/MinimalSample/Program.cs
  src/Http/samples/MinimalSampleFSharp/MinimalSampleFSharp.fsproj
  src/Http/samples/MinimalSampleFSharp/Program.fs
  src/Http/samples/MinimalSampleFSharp/Properties/launchSettings.json
  src/Http/samples/MinimalSampleFSharp/appsettings.Development.json
  src/Http/samples/MinimalSampleFSharp/appsettings.json
  src/ProjectTemplates/Shared/Project.cs
  src/ProjectTemplates/Shared/TemplatePackageInstaller.cs
  src/ProjectTemplates/Web.ProjectTemplates/EmptyWeb-FSharp.fsproj.in
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/Program.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/Startup.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/Program.fs
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/Startup.fs
  src/ProjectTemplates/test/template-baselines.json
Labels: api-approved, area-runtime, feature-minimal-hosting, feature-templates
