Repository dotnet/aspnetcore, pull requests merged in 2021-05, with the labels that each got.

#32239 Update StackExchange.Redis version
  eng/Versions.props
Labels: area-infrastructure, community-contribution

#31990 New E2E Migration (PW) test project
  eng/targets/Helix.targets
  src/Components/Components.slnf
  src/Components/ComponentsNoDeps.slnf
  src/Components/test/E2ETestMigration/Infrastructure/PlaywrightTestBase.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/AspNetEnvironment.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/AspNetSiteServerFixture.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/BasicTestAppServerSiteFixture.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/DevHostServerFixture.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/ServerFixture.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/StaticSiteServerFixture.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/ToggleExecutionModeServerFixture.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/WebHostServerFixture.cs
  src/Components/test/E2ETestMigration/Infrastructure/TestOutputLogger.cs
  src/Components/test/E2ETestMigration/Microsoft.AspNetCore.Components.Migration.E2ETests.csproj
  src/Components/test/E2ETestMigration/TestJsonSerializerOptionsProvider.cs
  src/Components/test/E2ETestMigration/Tests/BinaryHttpClientTest.cs
  src/Components/test/E2ETestMigration/playwrightSettings.ci.json
  src/Components/test/E2ETestMigration/playwrightSettings.ci.linux.json
  src/Components/test/E2ETestMigration/playwrightSettings.ci.osx.json
  src/Components/test/E2ETestMigration/playwrightSettings.ci.win.json
  src/Components/test/E2ETestMigration/playwrightSettings.debug.json
  src/Components/test/E2ETestMigration/playwrightSettings.json
  src/Components/test/E2ETestMigration/playwrightSettings.linux.json
  src/Components/test/E2ETestMigration/playwrightSettings.osx.json
  src/Components/test/E2ETestMigration/playwrightSettings.win.json
  src/Components/test/E2ETestMigration/xunit.runner.json
  src/Components/test/testassets/TestServer/Components.TestServer.csproj
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorTemplates.Tests.csproj
Labels: area-blazor

#31711 Add last class last
  src/Mvc/Mvc.ViewFeatures/src/Rendering/TagBuilder.cs
  src/Mvc/Mvc.ViewFeatures/test/Rendering/HtmlHelperHiddenTest.cs
  src/Mvc/Mvc.ViewFeatures/test/Rendering/HtmlHelperPasswordTest.cs
  src/Mvc/Mvc.ViewFeatures/test/Rendering/HtmlHelperValidationSummaryTest.cs
  src/Mvc/Mvc.ViewFeatures/test/Rendering/TagBuilderTest.cs
  src/Mvc/test/Mvc.FunctionalTests/compiler/resources/BasicWebSite.Area1.RemoteAttribute_Home.Create.html
  src/Mvc/test/Mvc.FunctionalTests/compiler/resources/BasicWebSite.Root.RemoteAttribute_Home.Create.html
  src/Mvc/test/Mvc.FunctionalTests/compiler/resources/HtmlGenerationWebSite.HtmlGeneration_Home.OrderUsingHtmlHelpers.Encoded.html
  src/Mvc/test/Mvc.FunctionalTests/compiler/resources/HtmlGenerationWebSite.HtmlGeneration_Home.OrderUsingHtmlHelpers.html
Labels: area-mvc, community-contribution, pr: pending author input

#32364 Fix UriHelper length calculation when path is empty
  src/Http/Http.Extensions/src/UriHelper.cs
  src/Http/Http.Extensions/test/UriHelperTests.cs
Labels: area-runtime, bug

#32358 Fixup SignalR.slnf
  src/SignalR/SignalR.slnf
Labels: area-signalr

#32394 Add a modification policy to HeaderNames
  src/Http/Headers/src/HeaderNames.cs
Labels: area-runtime

#32266 Add option to RedisCacheOptions to allow custom creation of IConnectionMultiplexer
  src/Caching/StackExchangeRedis/src/PublicAPI.Unshipped.txt
  src/Caching/StackExchangeRedis/src/RedisCache.cs
  src/Caching/StackExchangeRedis/src/RedisCacheOptions.cs
Labels: area-runtime, community-contribution, feature-caching

#32395 Update branding to 3.1.16
  eng/Versions.props
Labels: area-infrastructure

#32403 [release/5.0] Update branding to v5.0.7
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#32398 Ensure TouchPoint is not trimmed away
  src/Components/Shared/src/WebEventData.cs
Labels: area-blazor

#32399 Update branding to 2.1.29
  eng/PatchConfig.props
  version.props
Labels: area-infrastructure

#32026 [Backport] [Java] Safely call onError on Subjects (#31779)
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/HubConnectionTest.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/RxJavaUnhandledExceptionsExtensions.java
Labels: Servicing-approved, area-signalr, signalr-client-java

#31758 [3.1] Mark components assemblies as non shipping
  src/Components/WebAssembly/Authentication.Msal/src/Microsoft.Authentication.WebAssembly.Msal.csproj
  src/Components/WebAssembly/Build/src/Microsoft.AspNetCore.Components.WebAssembly.Build.csproj
  src/Components/WebAssembly/DebugProxy/src/Microsoft.AspNetCore.Components.WebAssembly.DebugProxy.csproj
  src/Components/WebAssembly/DevServer/src/Microsoft.AspNetCore.Components.WebAssembly.DevServer.csproj
  src/Components/WebAssembly/Directory.Build.props
  src/Components/WebAssembly/JSInterop/src/Microsoft.JSInterop.WebAssembly.csproj
  src/Components/WebAssembly/Server/src/Microsoft.AspNetCore.Components.WebAssembly.Server.csproj
  src/Components/WebAssembly/WebAssembly.Authentication/src/Microsoft.AspNetCore.Components.WebAssembly.Authentication.csproj
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.csproj
  src/Components/WebAssembly/WebAssemblyHttpHandler/src/Microsoft.AspNetCore.Components.WebAssembly.HttpHandler.csproj
Labels: area-blazor, area-infrastructure, tell-mode

#32412 Update selenium version
  eng/Versions.props
Labels: area-infrastructure, auto-merge

#32416 Quarantine flaky test
  src/ProjectTemplates/test/BaselineTest.cs
Labels: area-mvc, auto-merge

#32343 Make the transport send timeout configurable
  src/SignalR/common/Http.Connections/src/HttpConnectionDispatcherOptions.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionContext.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionManager.cs
  src/SignalR/common/Http.Connections/src/PublicAPI.Unshipped.txt
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionManagerTests.cs
  src/SignalR/common/Http.Connections/test/WebSocketsTests.cs
Labels: api-approved, area-signalr

#32417 Fix rendering of `foreignObject` in SVGs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Rendering/BrowserRenderer.ts
  src/Components/Web.JS/src/Rendering/LogicalElements.ts
  src/Components/test/E2ETest/Tests/SvgTest.cs
  src/Components/test/testassets/BasicTestApp/SvgComponent.razor
Labels: area-blazor

#32436 Temporarily disable RSG for Wasm.Performance.TestApp
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Wasm.Performance.TestApp.csproj
Labels: area-blazor

#32440 Use unique directory for parallel tests
  src/Components/test/testassets/TestServer/ServerStartup.cs
Labels: area-blazor

#32449 HTTP/2: Ignore additional RST_STREAM frames sent to stream
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-runtime

#32182 Upgrade to angular 11
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/.browserslistrc
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/.editorconfig
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/.eslintrc.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/angular.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/browserslist
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/e2e/protractor.conf.js
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/e2e/tsconfig.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/karma.conf.js
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/api-authorization/authorize.interceptor.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/api-authorization/authorize.service.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/api-authorization/login-menu/login-menu.component.html
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/api-authorization/login-menu/login-menu.component.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/api-authorization/login/login.component.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/api-authorization/logout/logout.component.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/app/fetch-data/fetch-data.component.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/karma.conf.js
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/test.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/tsconfig.app.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/tsconfig.server.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/tsconfig.spec.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/tslint.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/tsconfig.app.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/tsconfig.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/tsconfig.spec.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/tslint.json
  src/ProjectTemplates/test/template-baselines.json
Labels: area-mvc, feature-spa

#32469 Remove hotReloadProfile from launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Properties/launchSettings.json
Labels: area-mvc

#32468 Move `System.ComponentModel.Annotations` To Manual Dependency Update
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#32453 Remove System.Security.Cryptography.Cng Dependency
  eng/Dependencies.props
  eng/SharedFramework.External.props
  eng/Version.Details.xml
  eng/Versions.props
  src/Servers/Kestrel/Core/src/Microsoft.AspNetCore.Server.Kestrel.Core.csproj
  src/Shared/test/Shared.Tests/Microsoft.AspNetCore.Shared.Tests.csproj
  src/Tools/dotnet-dev-certs/src/dotnet-dev-certs.csproj
Labels: area-infrastructure

#32480 Quarantining `Server_SetConnectionLimitChangeAfterStarted_Success`
  src/Servers/HttpSys/test/FunctionalTests/ServerTests.cs
Labels: area-runtime

#32484 Downgrade System.ComponentModel.Annotations to 5.0.0
  eng/Versions.props
Labels: area-infrastructure

#32045 Update to react 17.0
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/package.json
Labels: area-mvc

#32299 Warn that TokenValidated is not the last step of validation
  src/Security/Authentication/OpenIdConnect/src/Events/OpenIdConnectEvents.cs
Labels: area-security

#32504 Unquarantine Settings_MaxConcurrentStreamsGet_Server
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
Labels: area-runtime

#32470 Backport #32277 to 5.0
  src/Mvc/Mvc.ViewFeatures/src/Buffers/ViewBufferTextWriter.cs
  src/Mvc/Mvc.ViewFeatures/test/Buffers/ViewBufferTextWriterTest.cs
Labels: Servicing-approved, area-mvc

#32510 Execute interop and template tests on latest Fx
  eng/targets/Helix.props
  eng/targets/Helix.targets
  src/Components/Web.JS/Microsoft.AspNetCore.Components.Web.JS.npmproj
  src/Grpc/test/InteropTests/InteropTests.csproj
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorTemplates.Tests.csproj
  src/ProjectTemplates/test/ProjectTemplates.Tests.csproj
  src/SignalR/clients/ts/client-ts.npmproj
Labels: feature-templates

#32511 DataProtection: Move away from soon to be obsolete APIs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ManagedAuthenticatedEncryptorFactory.cs
  src/DataProtection/DataProtection/test/XmlEncryption/CertificateXmlEncryptionTests.cs
Labels: area-dataprotection

#32552 Correct direct builds e.g. `msbuild`
  Directory.Build.props
  eng/targets/Helix.targets
Labels: area-infrastructure

#32298 Update SDK
  eng/Versions.props
  global.json
Labels: area-infrastructure

#32582 Clean up ILLink.Substitutions.xml
  src/Components/Components/src/Properties/ILLink.Substitutions.xml
Labels: area-blazor

#32583 [release/3.1] code-merge, baseline/SDK update
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  src/Components/WebAssembly/WebAssembly.Authentication/test/Microsoft.AspNetCore.Components.WebAssembly.Authentication.Tests.csproj
  src/Components/WebAssembly/WebAssembly/test/Microsoft.AspNetCore.Components.WebAssembly.Tests.csproj
Labels: area-infrastructure

#32599 [main] Update site extension versions
  eng/Versions.props
Labels: area-infrastructure

#32589 [release/5.0] Merge et cetera
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure, tell-mode

#32564 Fix Microsoft.AspNetCore.Testing not writing to output in VS
  src/Testing/src/xunit/AspNetTestInvoker.cs
  src/Testing/src/xunit/AspNetTestRunner.cs
Labels: area-infrastructure

#32578 Update Selenium.WebDriver.ChromeDriver version
  eng/Versions.props
Labels: area-infrastructure

#32499 Migrate DownloadFileFromAnchor test to Playwright
  src/Components/test/E2ETest/Tests/DownloadAnchorTest.cs
  src/Components/test/E2ETestMigration/Tests/DownloadAnchorTest.cs
Labels: area-blazor

#32593 Quarantine ComponentDiscovery_CanFindComponent_WithTypeParameter
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentDiscoveryIntegrationTest.cs
Labels: area-mvc

#32509 Clear caches from more places on a hot reload event
  src/Components/Components/src/ComponentFactory.cs
  src/Components/Components/src/Microsoft.AspNetCore.Components.WarningSuppressions.xml
  src/Components/Components/src/Reflection/ComponentProperties.cs
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Components/src/Routing/RouteTableFactory.cs
  src/Components/Components/src/Routing/Router.cs
  src/Components/Forms/src/EditContextDataAnnotationsExtensions.cs
  src/Components/Forms/src/Microsoft.AspNetCore.Components.Forms.csproj
  src/Components/Forms/src/Properties/ILLink.Substitutions.xml
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/DotNetDispatcher.cs
Labels: area-blazor

#32577 Update JS dependencies to latest version in semver range
  src/Components/Web.JS/yarn.lock
  src/JSInterop/Microsoft.JSInterop.JS/src/yarn.lock
  src/SignalR/clients/ts/FunctionalTests/yarn.lock
  src/SignalR/clients/ts/common/package.json
  src/SignalR/clients/ts/common/yarn.lock
  src/SignalR/clients/ts/signalr-protocol-msgpack/yarn.lock
  src/SignalR/clients/ts/signalr/package.json
  src/SignalR/clients/ts/signalr/yarn.lock
Labels: area-blazor, area-signalr

#32281 Unquarantine CanSendAndReceiveBytes
  src/Components/test/E2ETest/Tests/BinaryHttpClientTest.cs
  src/Components/test/E2ETest/Tests/PerformanceTest.cs
Labels: area-blazor

#32567 SkipLocalsInit on methods with stackalloc
  src/DataProtection/Abstractions/src/Microsoft.AspNetCore.DataProtection.Abstractions.csproj
  src/Http/Routing/src/Matching/DfaMatcher.cs
  src/Http/Routing/src/Microsoft.AspNetCore.Routing.csproj
  src/Http/WebUtilities/src/FormPipeReader.cs
  src/Http/WebUtilities/src/Microsoft.AspNetCore.WebUtilities.csproj
  src/Servers/Kestrel/Core/src/Internal/Http/HttpRequestHeaders.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelEventSource.cs
  src/Shared/WebEncoders/WebEncoders.cs
  src/SignalR/common/Http.Connections/src/Microsoft.AspNetCore.Http.Connections.csproj
Labels: area-runtime, auto-merge

#32627 Fix commands for opening browsers on macOS
  src/Components/WebAssembly/Server/src/TargetPickerUi.cs
Labels: area-blazor

#32633 Make trailers safer in TestHost
  src/Hosting/TestHost/src/ClientHandler.cs
  src/Hosting/TestHost/src/HttpContextBuilder.cs
Labels: area-runtime

#32601 Enable Redis unit tests
  src/SignalR/server/Specification.Tests/src/HubLifetimeManagerTestBase.cs
  src/SignalR/server/StackExchangeRedis/test/RedisHubLifetimeManagerTests.cs
  src/SignalR/server/StackExchangeRedis/test/TestConnectionMultiplexer.cs
Labels: area-signalr

#32604 Fix web root for WebApplication
  src/DefaultBuilder/samples/SampleApp/Program.cs
  src/DefaultBuilder/src/ConfigureHostBuilder.cs
  src/DefaultBuilder/src/Properties/AssemblyInfo.cs
  src/DefaultBuilder/src/WebHostEnvironment.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebHostEnvironmentTests.cs
Labels: area-runtime, feature-minimal-hosting

#32657 Update HotReloadAgent.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/HotReloadAgent.cs
Labels: area-blazor

#32090 Removing CancelableAsyncEnumerable
  src/SignalR/common/Shared/AsyncEnumerableAdapters.cs
  src/SignalR/common/testassets/Tests.Utils/TestClient.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/Core/src/Internal/HubMethodDescriptor.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTestUtils/Hubs.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-signalr, community-contribution

#32654 Update yarn.lock files
  src/Components/Web.JS/yarn.lock
  src/SignalR/clients/ts/FunctionalTests/yarn.lock
  src/SignalR/clients/ts/signalr-protocol-msgpack/yarn.lock
  src/SignalR/clients/ts/signalr/yarn.lock
Labels: auto-merge

#32665 Updated build.sh
  eng/build.sh
Labels: area-infrastructure, auto-merge, community-contribution

#32680 Remove inner `<RepoRoot/>` element
  src/Testing/src/build/Microsoft.AspNetCore.Testing.props
Labels: area-infrastructure, auto-merge

#32636 Increase KestrelServerLimits.KeepAliveTimeout to 130 seconds
  src/Servers/Kestrel/Core/src/KestrelServerLimits.cs
  src/Servers/Kestrel/Core/test/KestrelServerLimitsTests.cs
Labels: area-runtime, auto-merge, enhancement

#32439 Migrate TS SignalR client to ESLint
  src/SignalR/clients/ts/FunctionalTests/.eslintrc.js
  src/SignalR/clients/ts/FunctionalTests/package.json
  src/SignalR/clients/ts/FunctionalTests/ts/Common.ts
  src/SignalR/clients/ts/FunctionalTests/ts/ConnectionTests.ts
  src/SignalR/clients/ts/FunctionalTests/ts/HubConnectionTests.ts
  src/SignalR/clients/ts/FunctionalTests/ts/Utils.ts
  src/SignalR/clients/ts/FunctionalTests/ts/WebSocketTests.ts
  src/SignalR/clients/ts/common/.eslintrc.json
  src/SignalR/clients/ts/common/package.json
  src/SignalR/clients/ts/common/yarn.lock
  src/SignalR/clients/ts/package.json
  src/SignalR/clients/ts/signalr-protocol-msgpack/.eslintrc.js
  src/SignalR/clients/ts/signalr-protocol-msgpack/package.json
  src/SignalR/clients/ts/signalr-protocol-msgpack/tests/.eslintrc.js
  src/SignalR/clients/ts/signalr/.eslintrc.js
  src/SignalR/clients/ts/signalr/package.json
  src/SignalR/clients/ts/signalr/src/AbortController.ts
  src/SignalR/clients/ts/signalr/src/Errors.ts
  src/SignalR/clients/ts/signalr/src/HandshakeProtocol.ts
  src/SignalR/clients/ts/signalr/src/HeaderNames.ts
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
  src/SignalR/clients/ts/signalr/src/HubConnection.ts
  src/SignalR/clients/ts/signalr/src/HubConnectionBuilder.ts
  src/SignalR/clients/ts/signalr/src/Loggers.ts
  src/SignalR/clients/ts/signalr/src/LongPollingTransport.ts
  src/SignalR/clients/ts/signalr/src/Utils.ts
  src/SignalR/clients/ts/signalr/src/WebSocketTransport.ts
  src/SignalR/clients/ts/signalr/src/browser-index.ts
  src/SignalR/clients/ts/signalr/tests/.eslintrc.js
  src/SignalR/clients/ts/signalr/tests/Common.ts
  src/SignalR/clients/ts/signalr/tests/HttpConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/HubConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/HubConnectionBuilder.test.ts
  src/SignalR/clients/ts/signalr/tests/MessageSize.test.ts
  src/SignalR/clients/ts/signalr/tests/TestConnection.ts
  src/SignalR/clients/ts/signalr/tests/TestEventSource.ts
  src/SignalR/clients/ts/signalr/tests/TestTransport.ts
  src/SignalR/clients/ts/signalr/tests/TestWebSocket.ts
  src/SignalR/clients/ts/signalr/tests/Utils.ts
  src/SignalR/clients/ts/tslint.json
Labels: area-signalr, community-contribution

#32581 Bump SDK and disable RSG for BasicTestApp
  eng/tools/RepoTasks/Uuid.cs
  global.json
  src/Components/WebAssembly/testassets/WasmLinkerTest/WasmLinkerTest.csproj
  src/Components/test/testassets/BasicTestApp/BasicTestApp.csproj
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiAddFileTests.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiAddURLTests.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiRefreshTests.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiRemoveTests.cs
Labels: area-blazor

#32684 Remove win7 from daily builds
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#32679 `IResult` Implementation For `ContentResult`
  src/Mvc/Mvc.Core/src/ContentResult.cs
  src/Mvc/Mvc.Core/test/ContentResultTest.cs
Labels: area-mvc, community-contribution

#32662 Further simplify empty project template
  src/Http/samples/MinimalSample/Program.cs
  src/Http/samples/MinimalSampleFSharp/Program.fs
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/Program.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/Program.fs
Labels: area-runtime, feature-minimal-hosting

#32736 Add CancellationSupport to ITIcketStore
  src/Security/Authentication/Cookies/src/CookieAuthenticationHandler.cs
  src/Security/Authentication/Cookies/src/ITicketStore.cs
  src/Security/Authentication/Cookies/src/PublicAPI.Unshipped.txt
Labels: area-security, community-contribution

#32738 More IResult Implementations
  src/Mvc/Mvc.Core/src/ChallengeResult.cs
  src/Mvc/Mvc.Core/src/ForbidResult.cs
  src/Mvc/Mvc.Core/src/SignInResult.cs
  src/Mvc/Mvc.Core/src/SignOutResult.cs
  src/Mvc/Mvc.Core/test/ChallengeResultTest.cs
  src/Mvc/Mvc.Core/test/SignInResultTest.cs
  src/Mvc/Mvc.Core/test/SignOutResultTest.cs
Labels: area-mvc, community-contribution

#32735 ContentResult IResult Implementation Improvement
  src/Mvc/Mvc.Core/src/ContentResult.cs
Labels: area-mvc, community-contribution

#32709 Avoid adding CSS scope to elements in HEAD
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/TestFiles/IntegrationTests/CodeGenerationIntegrationTest/RazorView_Layout_WithCssScope.codegen.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/TestFiles/IntegrationTests/CodeGenerationIntegrationTest/RazorView_Layout_WithCssScope.ir.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Extensions/ViewCssScopePass.cs
Labels: area-mvc

#32768 JSInterop: refactor JSON result deserialization
  src/Components/Server/src/Circuits/RemoteJSRuntime.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Boot.Server.ts
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/Web.JS/src/Platform/Platform.ts
  src/Components/Web.JS/src/Platform/WebView/WebViewIpcReceiver.ts
  src/Components/WebAssembly/JSInterop/src/WebAssemblyJSRuntime.cs
  src/Components/WebView/WebView/src/Services/WebViewJSRuntime.cs
  src/JSInterop/Microsoft.JSInterop.JS/src/src/Microsoft.JSInterop.ts
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/DotNetDispatcher.cs
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/DotNetInvocationResult.cs
  src/JSInterop/Microsoft.JSInterop/src/Microsoft.JSInterop.WarningSuppressions.xml
  src/JSInterop/Microsoft.JSInterop/src/PublicAPI.Unshipped.txt
  src/JSInterop/Microsoft.JSInterop/test/Infrastructure/DotNetDispatcherTest.cs
  src/JSInterop/Microsoft.JSInterop/test/JSRuntimeTest.cs
Labels: area-blazor

#32570 Improvements to IIS IO
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
  src/Servers/IIS/IIS/src/IISServerOptions.cs
  src/Servers/IIS/IIS/src/PublicAPI.Unshipped.txt
Labels: api-approved, area-runtime, servers-iis

#32787 Add reference to E2E to prevent race
  src/Components/test/E2ETestMigration/Microsoft.AspNetCore.Components.Migration.E2ETests.csproj
Labels: area-blazor

#32774 Helix: Retire runtests.ps1
  eng/helix/content/runtests.cmd
  eng/helix/content/runtests.ps1
Labels: area-infrastructure

#32752 Fix nullable annotations for JSRuntimeExtensions methods
  src/JSInterop/Microsoft.JSInterop/src/JSInProcessObjectReferenceExtensions.cs
  src/JSInterop/Microsoft.JSInterop/src/JSInProcessRuntimeExtensions.cs
  src/JSInterop/Microsoft.JSInterop/src/JSObjectReferenceExtensions.cs
  src/JSInterop/Microsoft.JSInterop/src/JSRuntimeExtensions.cs
  src/JSInterop/Microsoft.JSInterop/src/PublicAPI.Unshipped.txt
Labels: area-blazor, community-contribution

#32743 Cleanup the dev server
  eng/scripts/CodeCheck.ps1
  src/Components/Directory.Build.targets
  src/Components/WebAssembly/DevServer/src/Commands/ServeCommand.cs
  src/Components/WebAssembly/DevServer/src/Microsoft.AspNetCore.Components.WebAssembly.DevServer.csproj
  src/Components/WebAssembly/DevServer/src/Program.cs
  src/Components/WebAssembly/DevServer/src/PublicAPI.Shipped.txt
  src/Components/WebAssembly/DevServer/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/DevServer/src/Server/Program.cs
  src/Components/WebAssembly/DevServer/src/build/Microsoft.AspNetCore.Components.WebAssembly.DevServer.targets
Labels: area-blazor

#32812 Update cert that became valid and broke tests
  src/Security/Authentication/test/CertificateTests.cs
  src/Security/Authentication/test/TestCertificates/selfSignedNoEkuCertificateExpired.cer
  src/Security/Authentication/test/TestCertificates/selfSignedNoEkuCertificateNotValidYet.cer
  src/Security/Authentication/test/TestCertificates/validSelfSignedClientEkuCertificate.cer
  src/Security/Authentication/test/TestCertificates/validSelfSignedNoEkuCertificate.cer
  src/Security/Authentication/test/TestCertificates/validSelfSignedPrimaryRootCertificate.cer
  src/Security/Authentication/test/TestCertificates/validSelfSignedServerEkuCertificate.cer
  src/Security/Authentication/test/TestCertificates/validSignedClientCertificate.cer
  src/Security/Authentication/test/TestCertificates/validSignedSecondaryRootCertificate.cer
  src/Shared/test/Certificates/selfSignedNoEkuCertificateNotValidYet.cer
Labels: area-security

#32817 Skip PW E2E migration project for now (race cond)
  eng/Build.props
Labels: area-infrastructure

#32816 Update CODEOWNERS
  .github/CODEOWNERS
Labels: area-infrastructure

#32747 Add option to the JSON.NET output formatter
  src/Http/WebUtilities/src/FileBufferingReadStream.cs
  src/Http/WebUtilities/src/FileBufferingWriteStream.cs
  src/Http/WebUtilities/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Core/test/Formatters/JsonOutputFormatterTestBase.cs
  src/Mvc/Mvc.NewtonsoftJson/src/DependencyInjection/NewtonsoftJsonMvcOptionsSetup.cs
  src/Mvc/Mvc.NewtonsoftJson/src/MvcNewtonsoftJsonOptions.cs
  src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonOutputFormatter.cs
  src/Mvc/Mvc.NewtonsoftJson/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.NewtonsoftJson/test/NewtonsoftJsonOutputFormatterTest.cs
  src/Mvc/test/WebSites/BasicWebSite/Controllers/ContentNegotiation/NormalController.cs
  src/Mvc/test/WebSites/FormatterWebSite/Controllers/JsonFormatterController.cs
Labels: api-approved, area-mvc

#32831 Add nullable annotations to M.A.Components.Authorization
  src/Components/Authorization/src/AttributeAuthorizeDataCache.cs
  src/Components/Authorization/src/AuthenticationStateProvider.cs
  src/Components/Authorization/src/AuthorizeDataAdapter.cs
  src/Components/Authorization/src/AuthorizeRouteView.cs
  src/Components/Authorization/src/AuthorizeView.cs
  src/Components/Authorization/src/AuthorizeViewCore.cs
  src/Components/Authorization/src/CascadingAuthenticationState.razor
  src/Components/Authorization/src/Microsoft.AspNetCore.Components.Authorization.csproj
  src/Components/Authorization/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/CascadingValue.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
Labels: area-blazor

#32806 Update Startup.cs
  src/Servers/Kestrel/samples/SampleApp/Startup.cs
Labels: area-runtime, community-contribution

#32819 Allow POST/PUT without Content-Length or chunked
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Internal/Http/Http1MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/RequestRejectionReason.cs
  src/Servers/Kestrel/Core/src/KestrelBadHttpRequestException.cs
  src/Servers/Kestrel/Core/test/MessageBodyTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/BadHttpRequestTests.cs
Labels: area-runtime, community-contribution

#32785 Revert SDK update
  eng/Build.props
  global.json
  src/Components/Authorization/src/CascadingAuthenticationState.razor
  src/Components/test/E2ETest/Microsoft.AspNetCore.Components.E2ETests.csproj
  src/Components/test/E2ETest/Tests/PerformanceTest.cs
Labels: area-infrastructure

#32854 Quarantine `Caching_SendFileWithFullContentLength_Cached()`
  src/Servers/HttpSys/test/FunctionalTests/ResponseCachingTests.cs
Labels: area-runtime, servers-httpsys

#32852 Update branding to 6.0.0-preview6
  eng/Versions.props
Labels: area-infrastructure

#32801 Iterate on Dependabot configuration
  .github/dependabot.yml
Labels: area-infrastructure

#32777 Add github action for backporting PRs
  .github/workflows/backport.yml
  eng/actions/backport/action.yml
  eng/actions/backport/index.js
Labels: area-infrastructure

#32753 Add Guid to the list of immutableTypes
  src/Components/Components/src/ChangeDetection.cs
  src/Components/Components/test/RenderTreeDiffBuilderTest.cs
Labels: area-blazor, community-contribution

#32025 Update `///` comments to help consumers of the API
  src/DefaultBuilder/src/GenericHostBuilderExtensions.cs
Labels: area-runtime

#32655 [release/3.1] Resolve credscan bugs
  .config/CredScanSuppressions.json
  src/Components/test/E2ETest/Tests/WebAssemblyAuthenticationTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/AuthenticatedEncryptorDescriptorDeserializerTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/AuthenticatedEncryptorDescriptorTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/CngCbcAuthenticatedEncryptorDescriptorDeserializerTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/CngCbcAuthenticatedEncryptorDescriptorTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/CngGcmAuthenticatedEncryptorDescriptorDeserializerTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/CngGcmAuthenticatedEncryptorDescriptorTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/ManagedAuthenticatedEncryptorDescriptorDeserializerTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/ManagedAuthenticatedEncryptorDescriptorTests.cs
  src/Http/Headers/test/CacheControlHeaderValueTest.cs
  src/Identity/EntityFrameworkCore/test/EF.Test/DefaultPocoTest.cs
  src/Identity/EntityFrameworkCore/test/EF.Test/UserOnlyCustomContextTest.cs
  src/Identity/EntityFrameworkCore/test/EF.Test/UserOnlyTest.cs
  src/Identity/test/Identity.FunctionalTests/LoginTests.cs
  src/Identity/test/Identity.FunctionalTests/ManagementTests.cs
  src/Identity/test/Identity.FunctionalTests/RegistrationTests.cs
  src/Identity/test/Identity.Test/SignInManagerTest.cs
  src/Identity/test/InMemory.Test/ControllerTest.cs
  src/Identity/test/InMemory.Test/FunctionalTest.cs
  src/Security/Authentication/test/FacebookTests.cs
  src/Security/Authentication/test/TwitterTests.cs
  src/Servers/HttpSys/samples/TestClient/Program.cs
Labels: area-dataprotection, area-identity, area-security

#32656 [release/5.0] Resolve credscan bugs
  .config/CredScanSuppressions.json
  src/Components/test/E2ETest/Tests/WebAssemblyAuthenticationTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/AuthenticatedEncryptorDescriptorDeserializerTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/AuthenticatedEncryptorDescriptorTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/CngCbcAuthenticatedEncryptorDescriptorDeserializerTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/CngCbcAuthenticatedEncryptorDescriptorTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/CngGcmAuthenticatedEncryptorDescriptorDeserializerTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/CngGcmAuthenticatedEncryptorDescriptorTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/ManagedAuthenticatedEncryptorDescriptorDeserializerTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/ManagedAuthenticatedEncryptorDescriptorTests.cs
  src/Http/Headers/test/CacheControlHeaderValueTest.cs
  src/Identity/EntityFrameworkCore/test/EF.Test/DefaultPocoTest.cs
  src/Identity/EntityFrameworkCore/test/EF.Test/UserOnlyCustomContextTest.cs
  src/Identity/EntityFrameworkCore/test/EF.Test/UserOnlyTest.cs
  src/Identity/test/Identity.FunctionalTests/LoginTests.cs
  src/Identity/test/Identity.FunctionalTests/ManagementTests.cs
  src/Identity/test/Identity.FunctionalTests/RegistrationTests.cs
  src/Identity/test/Identity.Test/SignInManagerTest.cs
  src/Identity/test/InMemory.Test/ControllerTest.cs
  src/Identity/test/InMemory.Test/FunctionalTest.cs
  src/Security/Authentication/test/FacebookTests.cs
  src/Security/Authentication/test/TwitterTests.cs
Labels: area-dataprotection, area-identity, area-security

#32869 Make CancelsOutdatedRefreshes_Async test hopefully not flaky
  src/Components/test/E2ETest/Tests/VirtualizationTest.cs
Labels: area-blazor

#32718 Expose all references when not restoring
  eng/targets/ResolveReferences.targets
  src/Components/Ignitor/src/Ignitor.csproj
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Wasm.Authentication.Server.csproj
  src/DataProtection/DataProtection/src/Microsoft.AspNetCore.DataProtection.csproj
  src/DataProtection/EntityFrameworkCore/test/Microsoft.AspNetCore.DataProtection.EntityFrameworkCore.Test.csproj
  src/DataProtection/StackExchangeRedis/test/Microsoft.AspNetCore.DataProtection.StackExchangeRedis.Tests.csproj
  src/DataProtection/samples/EntityFrameworkCoreSample/EntityFrameworkCoreSample.csproj
  src/DataProtection/samples/Redis/Redis.csproj
  src/Identity/ApiAuthorization.IdentityServer/samples/ApiAuthSample/ApiAuthSample.csproj
  src/Identity/EntityFrameworkCore/test/EF.InMemory.Test/Microsoft.AspNetCore.Identity.EntityFrameworkCore.InMemory.Test.csproj
  src/Identity/EntityFrameworkCore/test/EF.Test/Microsoft.AspNetCore.Identity.EntityFrameworkCore.Test.csproj
  src/Identity/Extensions.Core/src/Microsoft.Extensions.Identity.Core.csproj
  src/Identity/samples/IdentitySample.DefaultUI/IdentitySample.DefaultUI.csproj
  src/Identity/samples/IdentitySample.Mvc/IdentitySample.Mvc.csproj
  src/Identity/testassets/Identity.DefaultUI.WebSite/Identity.DefaultUI.WebSite.csproj
  src/Logging.AzureAppServices/src/Microsoft.Extensions.Logging.AzureAppServices.csproj
  src/Middleware/Diagnostics.EntityFrameworkCore/test/FunctionalTests/Diagnostics.EFCore.FunctionalTests.csproj
  src/Middleware/Diagnostics.EntityFrameworkCore/test/UnitTests/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.Tests.csproj
  src/Middleware/Diagnostics/test/testassets/DatabaseErrorPageSample/DatabaseErrorPageSample.csproj
  src/Middleware/HealthChecks.EntityFrameworkCore/test/Microsoft.Extensions.Diagnostics.HealthChecks.EntityFrameworkCore.Tests.csproj
  src/Middleware/HealthChecks/test/testassets/HealthChecksSample/HealthChecksSample.csproj
  src/Security/samples/Identity.ExternalClaims/Identity.ExternalClaims.csproj
  src/Servers/Connections.Abstractions/src/Microsoft.AspNetCore.Connections.Abstractions.csproj
  src/SignalR/clients/csharp/Http.Connections.Client/src/Microsoft.AspNetCore.Http.Connections.Client.csproj
  src/SignalR/clients/ts/FunctionalTests/SignalR.Client.FunctionalTestApp.csproj
  src/SignalR/common/Http.Connections.Common/src/Microsoft.AspNetCore.Http.Connections.Common.csproj
  src/SignalR/common/SignalR.Common/src/Microsoft.AspNetCore.SignalR.Common.csproj
  src/SignalR/common/testassets/Tests.Utils/Microsoft.AspNetCore.SignalR.Tests.Utils.csproj
  src/SignalR/samples/ClientSample/ClientSample.csproj
  src/SignalR/samples/JwtClientSample/JwtClientSample.csproj
  src/SignalR/samples/SignalRSamples/SignalRSamples.csproj
  src/SignalR/server/Specification.Tests/src/Microsoft.AspNetCore.SignalR.Specification.Tests.csproj
  src/Testing/src/Microsoft.AspNetCore.Testing.csproj
  src/Testing/test/Microsoft.AspNetCore.Testing.Tests.csproj
  src/WebEncoders/src/Microsoft.Extensions.WebEncoders.csproj
Labels: area-infrastructure

#32859 [preview5] Revert SDK update (#32785)
  eng/Build.props
  global.json
  src/Components/Authorization/src/CascadingAuthenticationState.razor
  src/Components/test/E2ETest/Microsoft.AspNetCore.Components.E2ETests.csproj
  src/Components/test/E2ETest/Tests/PerformanceTest.cs
Labels: area-infrastructure, tell-mode

#32846 chore (Badge) : Add .NET foundation badge
  README.md
Labels: area-infrastructure, community-contribution

#32659 [release/2.1] Resolve credscan bugs
  .config/CredScanSuppressions.json
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/AuthenticatedEncryptorDescriptorTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/CngCbcAuthenticatedEncryptorDescriptorTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/CngGcmAuthenticatedEncryptorDescriptorDeserializerTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/CngGcmAuthenticatedEncryptorDescriptorTests.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/ManagedAuthenticatedEncryptorDescriptorTests.cs
  src/Http/Headers/test/CacheControlHeaderValueTest.cs
  src/Security/Authentication/test/FacebookTests.cs
  src/Security/Authentication/test/TwitterTests.cs
  src/Servers/HttpSys/samples/TestClient/Program.cs
Labels: area-dataprotection, area-identity, area-security

#32876 Update AuthenticatorTokenProvider.cs
  src/Identity/Extensions.Core/src/AuthenticatorTokenProvider.cs
Labels: area-identity, community-contribution

#32872 Update BenchmarkDotNet
  NuGet.config
  eng/Versions.props
Labels: area-infrastructure

#32927 Fix the backport bot
  eng/actions/backport/index.js
Labels: area-infrastructure

#32894 Clean out Ubuntu 16.04 testing
  .azure/pipelines/jobs/default-build.yml
  .azure/pipelines/quarantined-pr.yml
  docs/Helix.md
  eng/scripts/RunHelix.ps1
  eng/targets/Helix.Common.props
  eng/targets/Helix.targets
  src/Identity/test/Identity.Test/IdentityUIScriptsTest.cs
Labels: area-infrastructure

#32892 Reduce some allocations in Razor
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentMetadata.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Components/TagHelperBoundAttributeDescriptorExtensions.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Components/TagHelperDescriptorExtensions.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/DefaultDirectiveSyntaxTreePass.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorTagHelperBinderPhase.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/LegacySyntaxNodeExtensions.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/TagHelperParseTreeRewriter.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/StringSegment.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Syntax/SyntaxNodeExtensions.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/TagHelperBinder.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/TagHelperDocumentContext.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/TagHelperMatchingConventions.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/DefaultRazorTagHelperBinderPhaseTest.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/StringSegmentTest.cs
Labels: area-mvc

#32908 Quarantining CanFocusDuringOnAfterRenderAsyncWithFocusInEvent
  src/Components/test/E2ETest/Tests/ComponentRenderingTest.cs
Labels: area-blazor

#32897 Delete multiple cookie with same-key when Path is different but Domain is specified
  src/Http/Http/src/Internal/ResponseCookies.cs
  src/Http/Http/test/ResponseCookiesTest.cs
Labels: area-runtime, community-contribution

#32778 Include platform in SharedFx bundle name
  src/Installers/Windows/SharedFrameworkBundle/SharedFrameworkBundle.wixproj
Labels: area-infrastructure

#32950 Attempt some low hanging perf optimizations in Razor
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/ParserHelpers.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/SeekableTextReader.cs
Labels: area-mvc

#32930 Fix another bug in the backport action
  eng/actions/backport/index.js
Labels: area-infrastructure

#32508 Enable compiling with `crossgen2`
  .azure/pipelines/helix-matrix.yml
  eng/Dependencies.props
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-infrastructure, auto-merge

#32965 Fix error level for win7 helix runs
  eng/helix/content/runtests.cmd
Labels: area-infrastructure

#32901 Prevent JS interop after circuit disposal. Fixes #32808
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/Server/src/Circuits/RemoteJSRuntime.cs
  src/Components/Server/test/Circuits/CircuitHostTest.cs
  src/Components/Web/src/Virtualization/VirtualizeJsInterop.cs
  src/JSInterop/Microsoft.JSInterop/src/JSDisconnectedException.cs
  src/JSInterop/Microsoft.JSInterop/src/PublicAPI.Unshipped.txt
Labels: api-approved, area-blazor

#32870 Make image file upload test wait for image to load before trying to read it
  src/Components/test/E2ETest/Tests/InputFileTest.cs
  src/Components/test/testassets/BasicTestApp/FormsTest/InputFileComponent.razor
Labels: area-blazor

#32998 Further attempt to fix CancelsOutdatedRefreshes_Async in CI
  src/Components/test/E2ETest/Tests/VirtualizationTest.cs
Labels: area-blazor

#32985 Stop running template tests on azdo job (already helix-ified)
  .azure/pipelines/ci.yml
  .azure/pipelines/quarantined-pr.yml
Labels: area-infrastructure

#33002 Stop running quarantined template tests on mac/OS
  .azure/pipelines/quarantined-pr.yml
Labels: area-infrastructure

#32929 Further reduce string allocations
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X/src/NamespaceDirective.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/Microsoft.AspNetCore.Mvc.Razor.Extensions.csproj
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/MvcViewDocumentClassifierPass.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/RazorPageDocumentClassifierPass.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/CSharpIdentifier.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/CodeGeneration/CodeWriter.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentBindLoweringPass.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentDesignTimeNodeWriter.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentMarkupEncodingPass.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentPageDirectivePass.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentRuntimeNodeWriter.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Components/RouteAttributeExtensionNode.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/DefaultBoundAttributeDescriptorBuilder.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorIntermediateNodeLoweringPhase.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Extensions/DefaultTagHelperTargetExtension.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Extensions/PreallocatedAttributeTargetExtension.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Intermediate/ComponentAttributeIntermediateNode.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Intermediate/IntermediateNodeFormatterBase.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/HtmlMarkupParser.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/ImplicitExpressionEditHandler.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/SourceLocationTracker.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/TagHelperParseTreeRewriter.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/RazorCodeDocumentExtensions.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/StreamSourceDocument.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/StringSegment.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/StringTokenizer.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/TagHelperMatchingConventions.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/Legacy/SourceLocationTrackerTest.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/StringSegmentTest.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/StringTokenizerTest.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Language/IntegrationTests/IntermediateNodeWriter.cs
  src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/Language/SyntaxTreeVerifier.cs
Labels: area-mvc

#33019 Update Chrome driver
  src/Shared/E2ETesting/selenium-config.json
Labels: area-infrastructure

#33007 Some additional optimizations to ComponentDirectiveVisitor
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentMetadata.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Components/TagHelperDescriptorExtensions.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/DefaultDocumentClassifierPass.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorTagHelperBinderPhase.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/DocumentClassifierPassBase.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Extensions/MetadataAttributePass.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/RazorEngine.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/RazorEngineFeatureBase.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/TagHelperBinder.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptor.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/TagMatchingRuleDescriptor.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/DefaultRazorTagHelperBinderPhaseTest.cs
  src/Razor/perf/Microbenchmarks/RazorTagHelperParsingBenchmark.cs
Labels: area-mvc

#33010 Fix installPlaywright variable in runtests.cmd
  eng/helix/content/runtests.cmd
Labels: area-infrastructure

#33017 [blazor][wasm] Remove Wasm AOT Manifest and tool
  eng/Version.Details.xml
  eng/Versions.props
  src/Components/WebAssembly/BlazorManifest/acquire/Program.cs
  src/Components/WebAssembly/BlazorManifest/acquire/dotnet-install-blazoraot.csproj
  src/Components/WebAssembly/BlazorManifest/src/BlazorManifest.csproj
  src/Components/WebAssembly/BlazorManifest/src/WorkloadManifest.json.in
  src/Components/WebAssembly/BlazorManifest/src/WorkloadManifest.targets
  src/Components/WebAssembly/BlazorManifest/src/_._
Labels: area-blazor, blazor-wasm

#33042 [SPA] Fix start script on Linux/Mac
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package.json
Labels: area-mvc

#33018 Bump the SDK back up again
  .azure/pipelines/ci.yml
  AspNetCore.sln
  eng/Build.props
  global.json
  src/Components/Authorization/src/CascadingAuthenticationState.razor
  src/Components/test/E2ETest/Microsoft.AspNetCore.Components.E2ETests.csproj
  src/Components/test/E2ETest/Tests/PerformanceTest.cs
Labels: area-infrastructure

#33043 Update selenium chrome driver
  eng/Versions.props
Labels: area-infrastructure

#33044 [SPA] Typo in package.json causes new SPA projects to fail at startup
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package.json
Labels: Servicing-approved, area-mvc, ask-mode, feature-templates

#27209 [Helix] dmp/crash tweaks
  eng/helix/content/RunTests/TestRunner.cs
Labels: area-infrastructure

#32600 Add WebSocket compression support
  src/Http/Headers/src/HeaderNames.cs
  src/Http/Headers/src/PublicAPI.Unshipped.txt
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Abstractions/src/WebSocketManager.cs
  src/Http/Http.Features/src/IHeaderDictionary.Keyed.cs
  src/Http/Http.Features/src/PublicAPI.Unshipped.txt
  src/Http/Http.Features/src/WebSocketAcceptContext.cs
  src/Http/Http/src/Internal/DefaultWebSocketManager.cs
  src/Middleware/WebSockets/src/ExtendedWebSocketAcceptContext.cs
  src/Middleware/WebSockets/src/HandshakeHelpers.cs
  src/Middleware/WebSockets/src/Microsoft.AspNetCore.WebSockets.csproj
  src/Middleware/WebSockets/src/WebSocketDeflateConstants.cs
  src/Middleware/WebSockets/src/WebSocketMiddleware.cs
  src/Middleware/WebSockets/test/ConformanceTests/AutobahnTestApp/Startup.cs
  src/Middleware/WebSockets/test/UnitTests/HandshakeTests.cs
  src/Middleware/WebSockets/test/UnitTests/WebSocketCompressionMiddlewareTests.cs
  src/Middleware/WebSockets/test/UnitTests/WebSocketMiddlewareTests.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.Generated.cs
  src/Shared/ValueStringBuilder/ValueStringBuilder.cs
Labels: api-approved, area-runtime, feature-websockets

#33016 Add a new OnCheckSlidingExpiration event to control renewal
  src/Security/Authentication/Cookies/samples/CookieSample/CookieSample.csproj
  src/Security/Authentication/Cookies/samples/CookieSample/Program.cs
  src/Security/Authentication/Cookies/samples/CookieSample/Properties/launchSettings.json
  src/Security/Authentication/Cookies/samples/CookieSample/Startup.cs
  src/Security/Authentication/Cookies/samples/CookieSessionSample/Properties/launchSettings.json
  src/Security/Authentication/Cookies/samples/CookieSessionSample/Startup.cs
  src/Security/Authentication/Cookies/src/CookieAuthenticationEvents.cs
  src/Security/Authentication/Cookies/src/CookieAuthenticationHandler.cs
  src/Security/Authentication/Cookies/src/CookieSlidingExpirationContext.cs
  src/Security/Authentication/Cookies/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/test/CookieTests.cs
Labels: api-approved, area-security

#33086 Structured log in HttpLoggingMiddleware
  src/Middleware/HttpLogging/src/HttpLoggingMiddleware.cs
  src/Middleware/HttpLogging/src/HttpRequestLog.cs
  src/Middleware/HttpLogging/src/HttpResponseLog.cs
Labels: area-runtime, community-contribution

#32827 Add support for customising the creation of Kestrel listen sockets
  src/Servers/Kestrel/Transport.Sockets/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Transport.Sockets/src/SocketConnectionListener.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketTransportOptions.cs
  src/Servers/Kestrel/test/Sockets.BindTests/SocketTransportOptionsTests.cs
Labels: * NO MERGE *, api-approved, area-runtime, community-contribution

#33104 Byte Array Interop in WASM
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/Boot.WebView.ts
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/Web.JS/src/Platform/Platform.ts
  src/Components/Web.JS/src/Platform/WebView/WebViewIpcReceiver.ts
  src/Components/Web.JS/src/Platform/WebView/WebViewIpcSender.ts
  src/Components/WebAssembly/JSInterop/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/JSInterop/src/WebAssemblyJSRuntime.cs
  src/Components/WebAssembly/WebAssembly/src/Services/DefaultWebAssemblyJSRuntime.cs
Labels: area-blazor

#32979 Add support for default parameter values in ViewComponent tag helper
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/ViewComponentTagHelperDescriptorFactory.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/ViewComponentTagHelperTargetExtension.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/IntegrationTests/CodeGenerationIntegrationTest.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/TestFiles/IntegrationTests/CodeGenerationIntegrationTest/ViewComponentTagHelperOptionalParam.cshtml
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/TestFiles/IntegrationTests/CodeGenerationIntegrationTest/ViewComponentTagHelperOptionalParam_Runtime.codegen.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/TestFiles/IntegrationTests/CodeGenerationIntegrationTest/ViewComponentTagHelperOptionalParam_Runtime.ir.txt
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/TestFiles/IntegrationTests/CodeGenerationIntegrationTest/ViewComponentTagHelper_DesignTime.codegen.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/ViewComponentTagHelperDescriptorFactoryTest.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/ViewComponentTagHelperTargetExtensionTest.cs
Labels: area-mvc

#33135 Set accept header on HttpClient used in SpaProxyLaunchManager to unblock Vite frontend build tool
  src/Middleware/Spa/SpaProxy/src/SpaProxyLaunchManager.cs
Labels: area-runtime, community-contribution
