Repository dotnet/aspnetcore, pull requests merged in 2021-11, with the labels that each got.

#37873 feat (Codespaces) - Added Commonly used tasks to `tasks.json` for VSCode users.
  .devcontainer/devcontainer.json
  .vscode/tasks.json
  docs/BuildFromSource.md
Labels: area-infrastructure, community-contribution

#37934 Update StartupAnalyzers to use Analyzer.Testing library
  AspNetCore.sln
  eng/Dependencies.props
  eng/Versions.props
  src/Analyzers/Analyzers/test/AnalyzerTestBase.cs
  src/Analyzers/Analyzers/test/AnalyzersDiagnosticAnalyzerRunner.cs
  src/Analyzers/Analyzers/test/CompilationFeatureDetectorTest.cs
  src/Analyzers/Analyzers/test/ConfigureMethodVisitorTest.cs
  src/Analyzers/Analyzers/test/Microsoft.AspNetCore.Analyzers.Test.csproj
  src/Analyzers/Analyzers/test/MinimalStartupTest.cs
  src/Analyzers/Analyzers/test/StartupAnalyzerTest.cs
  src/Analyzers/Analyzers/test/StartupAnalyzerTestBase.cs
  src/Analyzers/Analyzers/test/StartupCSharpAnalyzerTest.cs
  src/Analyzers/Analyzers/test/StartupFactsTest.cs
  src/Analyzers/Analyzers/test/TestCompilation.cs
  src/Analyzers/Analyzers/test/TestFiles/CompilationFeatureDetectorTest/StartupWithMapBlazorHub.cs
  src/Analyzers/Analyzers/test/TestFiles/CompilationFeatureDetectorTest/StartupWithMapHub.cs
  src/Analyzers/Analyzers/test/TestFiles/CompilationFeatureDetectorTest/StartupWithNoFeatures.cs
  src/Analyzers/Analyzers/test/TestFiles/ConfigureMethodVisitorTest/Startup.cs
  src/Analyzers/Analyzers/test/TestFiles/StartupAnalyzerTest/ConfigureServices_BuildServiceProvider.cs
  src/Analyzers/Analyzers/test/TestFiles/StartupAnalyzerTest/MvcOptions_UseMvc.cs
  src/Analyzers/Analyzers/test/TestFiles/StartupAnalyzerTest/MvcOptions_UseMvcAndConfiguredRoutes.cs
  src/Analyzers/Analyzers/test/TestFiles/StartupAnalyzerTest/MvcOptions_UseMvcMultiple.cs
  src/Analyzers/Analyzers/test/TestFiles/StartupAnalyzerTest/MvcOptions_UseMvcWithDefaultRoute.cs
  src/Analyzers/Analyzers/test/TestFiles/StartupAnalyzerTest/MvcOptions_UseMvcWithDefaultRouteAndAddMvcOptionsEndpointRoutingDisabled.cs
  src/Analyzers/Analyzers/test/TestFiles/StartupAnalyzerTest/MvcOptions_UseMvcWithDefaultRouteAndEndpointRoutingDisabled.cs
  src/Analyzers/Analyzers/test/TestFiles/StartupAnalyzerTest/MvcOptions_UseMvcWithOtherMiddleware.cs
  src/Analyzers/Analyzers/test/TestFiles/StartupAnalyzerTest/StartupSignatures_MoreVariety.cs
  src/Analyzers/Analyzers/test/TestFiles/StartupAnalyzerTest/StartupSignatures_Standard.cs
  src/Analyzers/Analyzers/test/TestFiles/StartupAnalyzerTest/UseAuthAfterUseEndpoints.cs
  src/Analyzers/Analyzers/test/TestFiles/StartupAnalyzerTest/UseAuthBeforeUseRouting.cs
  src/Analyzers/Analyzers/test/TestFiles/StartupAnalyzerTest/UseAuthBeforeUseRoutingChained.cs
  src/Analyzers/Analyzers/test/TestFiles/StartupAnalyzerTest/UseAuthConfiguredCorrectly.cs
  src/Analyzers/Analyzers/test/TestFiles/StartupAnalyzerTest/UseAuthConfiguredCorrectlyChained.cs
  src/Analyzers/Analyzers/test/TestFiles/StartupAnalyzerTest/UseAuthFallbackPolicy.cs
  src/Analyzers/Analyzers/test/TestFiles/StartupAnalyzerTest/UseAuthMultipleTimes.cs
  src/Analyzers/Analyzers/test/TestFiles/StartupFactsTest/BasicStartup.cs
  src/Analyzers/Analyzers/test/TestFiles/StartupFactsTest/EnvironmentStartup.cs
  src/Analyzers/Analyzers/test/TestFiles/StartupFactsTest/NotAStartupClass.cs
  src/Analyzers/Analyzers/test/TestReferences.cs
Labels: area-infrastructure

#37998 Run Sockets.BindTests in sequence
  src/Servers/Kestrel/test/BindTests/Properties/AssemblyInfo.cs
Labels: area-runtime

#38000 Hide test infrastructure from the solution explorer
  eng/targets/CSharp.Common.props
  eng/targets/Helix.targets
Labels: area-infrastructure

#38001 Update SDK
  global.json
Labels: area-infrastructure

#38009 Quarantine flaky tests
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
Labels: area-runtime

#36890 [release/2.1] Include SharedFx bundle in Hosting Bundle, instead of SharedFx .msi
  src/Installers/Windows/SharedFrameworkBundle/Bundle.wxs
  src/Installers/Windows/WindowsHostingBundle/Bundle.wxs
  src/Installers/Windows/WindowsHostingBundle/Product.targets
  src/Installers/Windows/WindowsHostingBundle/SharedFramework.wxs
  src/Installers/Windows/WindowsHostingBundle/WindowsHostingBundle.wixproj
Labels: area-infrastructure

#37948 Make in-memory HTTP/2 tests more deterministic
  src/Servers/Kestrel/Core/src/Internal/Http2/FlowControl/StreamOutputFlowControl.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2KeepAliveTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TimeoutTests.cs
Labels: area-runtime

#38006 Add warning when targeting release/* branches
  .azuredevops/pull_request_template/branches/release.md
Labels: area-infrastructure

#38014 Improve linker friendliness for RouteOptions
  src/Http/HttpAbstractions.slnf
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/src/RouteOptions.cs
  src/Http/Routing/test/UnitTests/DefaultInlineConstraintResolverTest.cs
Labels: area-runtime

#38026 Unquarantine shared tests
  src/Servers/Kestrel/test/FunctionalTests/RequestTests.cs
  src/Servers/Kestrel/test/FunctionalTests/ResponseTests.cs
Labels: area-runtime

#38030 Update branding for 3.1.22
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#37159 [release/2.1] Use new Hosted build pools
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
  build/dependencies.props
  src/SignalR/clients/ts/webdriver-tap-runner/package-lock.json
  src/SignalR/clients/ts/webdriver-tap-runner/package.json
Labels: area-infrastructure, tell-mode

#37819 [release/3.1] Only dispose WindowsIdentity in LongPolling
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionContext.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
Labels: Servicing-approved, area-signalr

#38031 Update branding for 5.0.13
  eng/Versions.props
  src/Grpc/test/testassets/InteropWebsite/Directory.Build.props
  src/Grpc/test/testassets/InteropWebsite/Directory.Build.targets
  src/Shared/E2ETesting/selenium-config.json
Labels: area-infrastructure, tell-mode

#38018 Add default value to documentation
  src/Components/WebAssembly/Authentication.Msal/src/Models/MsalProviderOptions.cs
Labels: area-blazor, community-contribution

#38017 Add default values to the documentation
  src/Components/WebAssembly/WebAssembly.Authentication/src/Options/OidcProviderOptions.cs
Labels: area-blazor, community-contribution

#37776 [SPA] Updates npm dependencies
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/package.json
Labels: area-mvc, tell-mode

#37881 Use frozen lockfiles with Yarn
  eng/targets/Npm.Common.targets
  src/Components/Web.JS/package.json
  src/Components/WebAssembly/Authentication.Msal/src/Microsoft.Authentication.WebAssembly.Msal.csproj
  src/Components/WebAssembly/WebAssembly.Authentication/src/Microsoft.AspNetCore.Components.WebAssembly.Authentication.csproj
  src/Middleware/NodeServices/src/Microsoft.AspNetCore.NodeServices.csproj
  src/Middleware/SpaServices/src/Microsoft.AspNetCore.SpaServices.csproj
  src/Shared/E2ETesting/E2ETesting.targets
  src/SignalR/clients/ts/FunctionalTests/package.json
  src/SignalR/clients/ts/signalr-protocol-msgpack/package.json
  src/SignalR/clients/ts/signalr/package.json
Labels: area-infrastructure, tell-mode

#37879 Use frozen lockfiles with Yarn
  eng/targets/Npm.Common.targets
  src/Components/Web.JS/package.json
  src/Components/WebAssembly/Authentication.Msal/src/Microsoft.Authentication.WebAssembly.Msal.csproj
  src/Components/WebAssembly/WebAssembly.Authentication/src/Microsoft.AspNetCore.Components.WebAssembly.Authentication.csproj
  src/JSInterop/Microsoft.JSInterop.JS/src/package.json
  src/Shared/E2ETesting/E2ETesting.targets
  src/SignalR/clients/ts/FunctionalTests/package.json
  src/SignalR/clients/ts/signalr-protocol-msgpack/package.json
  src/SignalR/clients/ts/signalr/package.json
Labels: area-infrastructure, tell-mode

#37818 [release/5.0] Only dispose WindowsIdentity in LongPolling
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionContext.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
Labels: Servicing-approved, area-signalr

#38027 Update branding to 6.0.1
  eng/Versions.props
  eng/targets/ResolveReferences.targets
  eng/tools/GenerateFiles/Directory.Build.targets.in
  eng/tools/GenerateFiles/GenerateFiles.csproj
  src/Grpc/test/testassets/InteropWebsite/Directory.Build.props
  src/Grpc/test/testassets/InteropWebsite/Directory.Build.targets
Labels: area-infrastructure, tell-mode

#37717 Unquarantine `AuthorizeViewCases_RequirePolicy_Authorized`
  src/Components/test/E2ETest/Tests/AuthTest.cs
Labels: area-blazor

#37739 [SPA] Update NPM dependencies
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/tsconfig.json
Labels: area-mvc, tell-mode

#38024 Update Chrome and Selenium Versions
  eng/Versions.props
  src/Shared/E2ETesting/selenium-config.json
Labels: area-infrastructure

#38047 [main] Special case X.Y.1 in Directory.Build.targets.in
  eng/tools/GenerateFiles/Directory.Build.targets.in
  eng/tools/GenerateFiles/GenerateFiles.csproj
Labels: area-infrastructure

#38061 Make RoleStore protected virtual
  src/Identity/EntityFrameworkCore/src/PublicAPI.Unshipped.txt
  src/Identity/EntityFrameworkCore/src/RoleStore.cs
Labels: area-identity

#32144 Remove MinimalSampleFSharp.fsproj from sln
  AspNetCore.sln
  src/Http/HttpAbstractions.slnf
Labels: area-infrastructure

#38042 [release/2.1] Allow Hosting Bundle to be upgraded by MU
  src/Installers/Windows/HostOptions/HostOptions.wixproj
  src/Installers/Windows/HostOptions/Product.wxs
  src/Installers/Windows/SharedFrameworkLib/Library.wxs
  src/Installers/Windows/WindowsHostingBundle/ANCM.wxs
  src/Installers/Windows/WindowsHostingBundle/Bundle.wxs
  src/Installers/Windows/WindowsHostingBundle/DotNetCore.wxs
  src/Installers/Windows/WindowsHostingBundle/SharedFramework.wxs
  src/Installers/Windows/WindowsHostingBundle/WindowsHostingBundle.wixproj
  src/Installers/Windows/Wix.props
  src/Installers/Windows/Wix.targets
Labels: Servicing-approved, area-infrastructure, feature-installers

#38068 Guard access failed calls
  src/Identity/Core/src/SignInManager.cs
  src/Identity/test/Identity.Test/SignInManagerTest.cs
Labels: area-identity

#38091 Stop Building Components/E2E tests in the main pipeline
  src/Components/test/E2ETest/Microsoft.AspNetCore.Components.E2ETests.csproj
  src/Components/test/E2ETestMigration/Microsoft.AspNetCore.Components.Migration.E2ETests.csproj
Labels: area-infrastructure, area-blazor

#38095 Unquarantine RedisEndToEnd tests
  src/SignalR/server/StackExchangeRedis/test/RedisEndToEnd.cs
Labels: area-signalr

#37966 Allow Hosting Bundle to be upgraded by MU
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMV2/aspnetcoremodulev2.wxs
  src/Installers/Windows/HostOptions/HostOptions.wixproj
  src/Installers/Windows/HostOptions/Product.wxs
  src/Installers/Windows/SharedFrameworkLib/Library.wxs
  src/Installers/Windows/WindowsHostingBundle/ANCM.wxs
  src/Installers/Windows/WindowsHostingBundle/Bundle.wxs
  src/Installers/Windows/WindowsHostingBundle/DotNetCore.wxs
  src/Installers/Windows/WindowsHostingBundle/SharedFramework.wxs
  src/Installers/Windows/WindowsHostingBundle/WindowsHostingBundle.wixproj
  src/Installers/Windows/Wix.props
  src/Installers/Windows/Wix.targets
Labels: area-runtime

#37967 [release/6.0] Allow Hosting Bundle to be upgraded by MU
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMV2/aspnetcoremodulev2.wxs
  src/Installers/Windows/HostOptions/HostOptions.wixproj
  src/Installers/Windows/HostOptions/Product.wxs
  src/Installers/Windows/SharedFrameworkLib/Library.wxs
  src/Installers/Windows/WindowsHostingBundle/ANCM.wxs
  src/Installers/Windows/WindowsHostingBundle/Bundle.wxs
  src/Installers/Windows/WindowsHostingBundle/DotNetCore.wxs
  src/Installers/Windows/WindowsHostingBundle/SharedFramework.wxs
  src/Installers/Windows/WindowsHostingBundle/WindowsHostingBundle.wixproj
  src/Installers/Windows/Wix.props
  src/Installers/Windows/Wix.targets
Labels: Servicing-approved, area-infrastructure

#38088 Quarantine recently failing tests
  src/Servers/Kestrel/test/InMemory.FunctionalTests/LoggingConnectionMiddlewareTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
Labels: area-runtime

#38073 Add Components E2E Test Execution Instructions
  src/Components/README.md
Labels: Docs, area-blazor

#38137 Un-quarantine `CanHandleErrorsInlineInErrorBoundaryContent`
  src/Components/test/E2ETest/Tests/ErrorBoundaryTest.cs
Labels: area-blazor

#38179 Update SDK to 7.0.100-alpha.1.21555.1
  global.json
Labels: area-infrastructure

#38177 fix - Add the `KestrelServerOptionsSetup` service in `ConfigureKestrel()`
  src/Servers/Kestrel/Kestrel/src/WebHostBuilderKestrelExtensions.cs
Labels: area-runtime, community-contribution

#38138 Unskip HtmlGeneration tests
  src/Mvc/test/Mvc.FunctionalTests/HtmlGenerationTest.cs
  src/Mvc/test/Mvc.FunctionalTests/Infrastructure/ResourceFile.cs
  src/Mvc/test/Mvc.FunctionalTests/Microsoft.AspNetCore.Mvc.FunctionalTests.csproj
  src/Mvc/test/Mvc.FunctionalTests/compiler/resources/HtmlGenerationWebSite.HtmlGeneration_Home.Image.html
  src/Mvc/test/WebSites/Directory.Build.props
  src/Mvc/test/WebSites/HtmlGenerationWebSite/Views/HtmlGeneration_Home/Image.cshtml
Labels: area-mvc

#38225 [release/5.0] Update to latest
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure, tell-mode

#38184 Update SDK and baseline
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure, tell-mode

#34598 Update RazorPage template to be able to be SxS with previous version
  src/ProjectTemplates/Web.ItemTemplates/Microsoft.DotNet.Web.ItemTemplates.csproj
  src/ProjectTemplates/Web.ItemTemplates/content/Protobuf/.template.config/template.json
  src/ProjectTemplates/Web.ItemTemplates/content/RazorComponent/.template.config/template.json
  src/ProjectTemplates/Web.ItemTemplates/content/RazorPage/.template.config/template.json
  src/ProjectTemplates/Web.ItemTemplates/content/RazorPage/Index.cshtml.cs
  src/ProjectTemplates/Web.ItemTemplates/content/ViewImports/.template.config/template.json
  src/ProjectTemplates/Web.ItemTemplates/content/ViewStart/.template.config/template.json
Labels: Servicing-approved, area-mvc

#37760 [release/6.0] Fix AppHost pack prebuilt usage in source-build
  Directory.Build.props
  src/Framework/App.Ref/src/Microsoft.AspNetCore.App.Ref.csproj
Labels: area-infrastructure, tell-mode

#38261 Quarantine ExpandEnvironmentVariableInWebConfig
  src/Servers/IIS/IIS/test/Common.FunctionalTests/StartupTests.cs
Labels: area-runtime

#38062 Add WebApi-CSharp Template Toggle Description (#37367)
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/cs-CZ/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/de-DE/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/es-ES/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/fr-FR/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/it-IT/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/ja-JP/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/ko-KR/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/pl-PL/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/pt-BR/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/ru-RU/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/tr-TR/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/zh-CN/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/zh-TW/strings.json
Labels: Servicing-approved, area-web-frameworks

#38059 Use the RawConnectionId for HttpSys
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Shared/HttpSys/RequestProcessing/NativeRequestContext.cs
Labels: Servicing-approved, area-runtime

#37919 Fix groupIdentity in protobuf template
  src/ProjectTemplates/Web.ItemTemplates/content/Protobuf/.template.config/template.json
Labels: Servicing-approved, area-mvc

#37914 Fix typo in Web API template option description (#37780)
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/template.json
Labels: Servicing-approved, area-mvc

#37848 [release/6.0] Use frozen lockfiles with Yarn
  eng/targets/Npm.Common.targets
  src/Components/Web.JS/package.json
  src/Components/WebAssembly/Authentication.Msal/src/Interop/package.json
  src/Components/WebAssembly/Authentication.Msal/src/Microsoft.Authentication.WebAssembly.Msal.csproj
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/package.json
  src/Components/WebAssembly/WebAssembly.Authentication/src/Microsoft.AspNetCore.Components.WebAssembly.Authentication.csproj
  src/JSInterop/Microsoft.JSInterop.JS/src/package.json
  src/Shared/E2ETesting/E2ETesting.targets
  src/SignalR/clients/ts/FunctionalTests/package.json
  src/SignalR/clients/ts/signalr-protocol-msgpack/package.json
  src/SignalR/clients/ts/signalr/package.json
Labels: area-signalr, tell-mode

#37816 [release/6.0] Only dispose WindowsIdentity in LongPolling
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionContext.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
Labels: Servicing-approved, area-signalr

#38264 Avoid null ref in TagHelperMatchingConvention when attribute name is null
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/StringSegment.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/StringSegmentTest.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TagHelperMatchingConventionsTest.cs
Labels: area-mvc

#38262 SignOut 2fa remember me cookie when validation fails
  src/Identity/Core/src/IdentityCookiesBuilderExtensions.cs
  src/Identity/Core/src/SecurityStampValidator.cs
  src/Identity/test/Identity.Test/SecurityStampValidatorTest.cs
  src/Identity/test/InMemory.Test/FunctionalTest.cs
Labels: area-identity

#38263 Update Test Failure Template
  .github/ISSUE_TEMPLATE/50_test_failure.md
Labels: area-infrastructure

#38270 Let VS update our solution
  AspNetCore.sln
Labels: area-infrastructure

#38182 Fix Visual Studio 2019 components configuration file
  docs/BuildFromSource.md
Labels: area-infrastructure, community-contribution

#38279 [release/6.0] Let VS update our solution
  AspNetCore.sln
Labels: area-infrastructure, tell-mode

#38190 Enable TrackLinkedCacheEntries for cache tag helpers
  src/Mvc/Mvc.TagHelpers/src/CacheTagHelperMemoryCacheFactory.cs
  src/Mvc/Mvc.TagHelpers/test/CacheTagHelperTest.cs
  src/Mvc/test/Mvc.FunctionalTests/HtmlGenerationTest.cs
  src/Mvc/test/WebSites/HtmlGenerationWebSite/Startup.cs
Labels: area-mvc

#38271 Avoid null ref in TagHelperMatchingConvention when attribute name is null
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/StringSegment.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/StringSegmentTest.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TagHelperMatchingConventionsTest.cs
Labels: Servicing-approved, area-mvc

#38280 [main] Update to latest
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/PackageOverrides.txt
  eng/PlatformManifest.txt
  eng/Versions.props
  global.json
Labels: area-infrastructure

#38092 Fix EmptyBodyBehavior with empty content-type
  src/Mvc/Mvc.Core/src/ModelBinding/Binders/BodyModelBinder.cs
  src/Mvc/Mvc.Core/test/ModelBinding/Binders/BodyModelBinderTests.cs
  src/Mvc/test/Mvc.FunctionalTests/InputFormatterTests.cs
Labels: area-mvc, feature-Model-Binding

#38344 Remove Blazor Playwright Component E2E Tests in E2ETestMigration
  AspNetCore.sln
  src/Components/Components.slnf
  src/Components/ComponentsNoDeps.slnf
  src/Components/test/E2ETestMigration/Infrastructure/ComponentTestBase.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/AspNetEnvironment.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/AspNetSiteServerFixture.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/BasicTestAppServerSiteFixture.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/BlazorWasmTestAppFixture.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/ServerFixture.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/StaticSiteServerFixture.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/ToggleExecutionModeServerFixture.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/WebHostServerFixture.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerTestBase.cs
  src/Components/test/E2ETestMigration/Microsoft.AspNetCore.Components.Migration.E2ETests.csproj
  src/Components/test/E2ETestMigration/Properties/AssemblyInfo.cs
  src/Components/test/E2ETestMigration/TestJsonSerializerOptionsProvider.cs
  src/Components/test/E2ETestMigration/Tests/BinaryHttpClientTest.cs
  src/Components/test/E2ETestMigration/Tests/BindTest.cs
  src/Components/test/E2ETestMigration/Tests/DownloadAnchorTest.cs
  src/Components/test/E2ETestMigration/Tests/InputFileTest.cs
  src/Components/test/E2ETestMigration/playwrightSettings.ci.json
  src/Components/test/E2ETestMigration/playwrightSettings.ci.linux.json
  src/Components/test/E2ETestMigration/playwrightSettings.ci.osx.json
  src/Components/test/E2ETestMigration/playwrightSettings.ci.win.json
  src/Components/test/E2ETestMigration/playwrightSettings.debug.json
  src/Components/test/E2ETestMigration/playwrightSettings.json
  src/Components/test/E2ETestMigration/playwrightSettings.linux.json
  src/Components/test/E2ETestMigration/playwrightSettings.osx.json
  src/Components/test/E2ETestMigration/playwrightSettings.win.json
  src/Components/test/E2ETestMigration/xunit.runner.json
Labels: area-blazor

#38399 Clean up signinmanager tests
  src/Identity/test/Identity.Test/SignInManagerTest.cs
Labels: area-identity

#38142 Verify DI trimming in unit tests
  eng/targets/CSharp.Common.targets
Labels: area-infrastructure

#38403 Bump the Microsoft.NET.Test.Sdk version
  eng/Versions.props
Labels: area-infrastructure

#38406 Remove set-value
  src/Components/Web.JS/package.json
Labels: area-blazor

#38418 Update yarn.lock
  src/Components/Web.JS/yarn.lock
Labels: area-blazor

#38420 [main] Grant GitHub actions explicit permissions
  .github/workflows/backport.yml
  .github/workflows/runtime-sync.yml
Labels: area-infrastructure

#38421 [release/6.0] Grant GitHub actions explicit permissions
  .github/workflows/ReportDiff.ps1
  .github/workflows/backport.yml
  .github/workflows/runtime-sync.yml
Labels: area-infrastructure, tell-mode

#38388 Let VS Code do its thing
  .vscode/settings.json
Labels: area-infrastructure

#38422 [release/5.0] Grant GitHub actions explicit permissions
  .github/workflows/ReportDiff.ps1
  .github/workflows/backport.yml
  .github/workflows/runtime-sync.yml
  eng/actions/backport/action.yml
  eng/actions/backport/index.js
Labels: area-infrastructure, tell-mode

#38417 Update SDK to 7.0.100-alpha.1.21558.2
  global.json
Labels: area-infrastructure

#38441 Remove remaining System.Net.Http 4.1.0 reference
  src/Servers/IIS/IntegrationTesting.IIS/src/Microsoft.AspNetCore.Server.IntegrationTesting.IIS.csproj
Labels: area-runtime

#38387 Override base implementations of WriteLineAsync in HttpResponseStreamWriter
  src/Http/WebUtilities/src/HttpResponseStreamWriter.cs
  src/Http/WebUtilities/src/PublicAPI.Unshipped.txt
  src/Http/WebUtilities/test/HttpResponseStreamWriterTest.cs
Labels: area-runtime, community-contribution

#38473 Run InputDate E2E tests on WebAssembly only. Fixes #35018, #34884
  src/Components/test/E2ETest/Tests/FormsInputDateTest.cs
  src/Components/test/E2ETest/Tests/FormsTest.cs
Labels: area-blazor

#37940 Create ReleasePlanning.md
  docs/ReleasePlanning.md
  docs/TriageProcess.md
Labels: Docs, area-infrastructure

#38487 fix - Error message rename `[FromService]` -> `[FromServices]`
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Routing/test/UnitTests/Builder/RouteHandlerEndpointRouteBuilderExtensionsTest.cs
Labels: area-runtime, community-contribution

#38427 [main] Update Docker images, queues, etc.
  .azure/pipelines/benchmarks.yml
  .azure/pipelines/ci.yml
  .azure/pipelines/quarantined-pr.yml
  docs/Helix.md
  eng/scripts/RunHelix.ps1
  eng/targets/Helix.Common.props
  eng/targets/Helix.targets
  src/Identity/test/Identity.Test/IdentityUIScriptsTest.cs
  src/ProjectTemplates/test/GrpcTemplateTest.cs
  src/Testing/src/xunit/HelixConstants.cs
  src/Testing/src/xunit/SkipOnHelixAttribute.cs
Labels: area-infrastructure

#38574 Fix a tiny typo
  src/Mvc/Mvc.Core/src/Infrastructure/VirtualFileResultExecutor.cs
Labels: area-mvc, community-contribution

#38564 Remove Arm64-specific jobs in matrix pipelines
  .azure/pipelines/ci.yml
  .azure/pipelines/helix-matrix.yml
  .azure/pipelines/quarantined-pr.yml
  .azure/pipelines/quarantined-tests.yml
  eng/helix/helix.proj
  eng/scripts/RunHelix.ps1
  eng/targets/Helix.Common.props
  eng/targets/Helix.props
  eng/targets/Helix.targets
Labels: area-infrastructure

#38559 HTTP/3: Remove AsTask allocations
  src/Hosting/Hosting/src/Internal/WebHost.cs
  src/Http/Http.Abstractions/src/Extensions/HttpResponseWritingExtensions.cs
  src/Http/Http.Abstractions/src/Microsoft.AspNetCore.Http.Abstractions.csproj
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
Labels: area-runtime

#38560 HTTP/3: Remove TCS allocation with resettable value source
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
Labels: area-runtime

#38509 Support SkipStatusCodePages on endpoints and authorized routes
  src/Http/Http.Abstractions/src/Metadata/IStatusCodePagesMetadata.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Middleware/Diagnostics/src/StatusCodePage/StatusCodePagesMiddleware.cs
  src/Middleware/Diagnostics/test/UnitTests/Microsoft.AspNetCore.Diagnostics.Tests.csproj
  src/Middleware/Diagnostics/test/UnitTests/StatusCodeMiddlewareTest.cs
  src/Mvc/Mvc.ViewFeatures/src/SkipStatusCodePagesAttribute.cs
Labels: area-web-frameworks

#38340 Use window.document for React-Native
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
  src/SignalR/clients/ts/signalr/src/HubConnection.ts
  src/SignalR/clients/ts/signalr/src/Utils.ts
Labels: area-signalr

#38585 Fix Kestrel psuedo header reuse
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpRequestHeaders.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/test/HttpRequestHeadersTests.cs
  src/Servers/Kestrel/shared/KnownHeaders.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3ConnectionTests.cs
Labels: area-runtime

#38610 HTTP/3: Remove request-only headers from enumerator
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2HeadersEnumerator.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3HeadersEnumerator.cs
Labels: area-runtime

#38592 Visual Studio 2022 Release installation
  docs/BuildFromSource.md
  eng/scripts/InstallVisualStudio.ps1
  eng/scripts/vs.17.buildtools.json
  eng/scripts/vs.17.json
Labels: area-infrastructure

#37474 [ANCM] Add disableRotatationOnConfig flag to handler settings
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/HandlerResolver.cpp
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/HandlerResolver.h
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/ShimOptions.cpp
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/ShimOptions.h
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/applicationmanager.h
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/globalmodule.cpp
  src/Servers/IIS/IIS/test/Common.FunctionalTests/ShutdownTests.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISDeployer.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISDeployerBase.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISExpressDeployer.cs
Labels: servers-iis, area-runtime

#38619 [Blazor] Fix flaky test RendersAuthorizingUntilAuthorizationCompletedAsync
  src/Components/Authorization/test/AuthorizeViewTest.cs
Labels: area-blazor

#38623 Fix UniqueJsonKeyClaimAction key comparison
  src/Security/Authentication/OpenIdConnect/src/UniqueJsonKeyClaimAction.cs
  src/Security/Authentication/test/OpenIdConnect/UniqueJsonKeyClaimActionTests.cs
Labels: area-security

#35158 Support binding to form and form file parameters in minimal actions
  src/Http/Http.Abstractions/src/Metadata/IFromFormMetadata.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
  src/Mvc/Mvc.Core/src/FromFormAttribute.cs
  src/Mvc/test/Mvc.FunctionalTests/SimpleWithWebApplicationBuilderTests.cs
  src/Mvc/test/WebSites/SimpleWebSiteWithWebApplicationBuilder/Program.cs
Labels: api-suggestion, community-contribution, feature-minimal-actions, area-web-frameworks

#38605 HTTP/3: Use all static status values
  src/Servers/Kestrel/Core/src/Internal/Http2/HPackHeaderWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/QPackHeaderWriter.cs
  src/Servers/Kestrel/Core/test/Http3/Http3QPackEncoderTests.cs
  src/Shared/runtime/Http2/Hpack/H2StaticTable.Http2.cs
  src/Shared/runtime/Http2/Hpack/HPackEncoder.cs
  src/Shared/runtime/Http3/QPack/H3StaticTable.Http3.cs
Labels: area-runtime

#38696 typo fix: it's
  src/Mvc/Mvc.Abstractions/src/ModelBinding/ModelMetadata.cs
Labels: area-mvc, community-contribution

#38661 Fix grammar in XML docs
  src/Http/Http.Extensions/src/HttpRequestJsonExtensions.cs
  src/Http/Http.Extensions/src/HttpResponseJsonExtensions.cs
  src/Http/Http.Results/src/Results.cs
Labels: area-runtime, community-contribution

#38693 Support Quarantined Tests in the `Components-E2E` Pipeline & Quarantine CanAddAndDisposeRootComponents
  .azure/pipelines/components-e2e-tests.yml
  src/Components/test/E2ETest/Tests/JSRootComponentsTest.cs
Labels: area-blazor

#38670 HTTP/3: Unit tests for QPACK and validate end
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/QPack/EncoderStreamReader.cs
  src/Servers/Kestrel/Core/test/Http3/Http3QPackEncoderTests.cs
  src/Servers/Kestrel/Core/test/Microsoft.AspNetCore.Server.Kestrel.Core.Tests.csproj
  src/Servers/Kestrel/shared/test/Http3/Http3InMemory.cs
  src/Shared/runtime/Http3/QPack/H3StaticTable.Http3.cs
  src/Shared/runtime/Http3/QPack/QPackDecoder.cs
  src/Shared/test/Shared.Tests/runtime/Http3/QPackDecoderTest.cs
Labels: area-runtime

#38681 HTTP/3: Improve static table compression to include values
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3HeadersEnumerator.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/QPackHeaderWriter.cs
  src/Servers/Kestrel/Core/test/Http3/Http3HeadersEnumeratorTests.cs
  src/Servers/Kestrel/Core/test/Http3/Http3QPackEncoderTests.cs
  src/Servers/Kestrel/shared/KnownHeaders.cs
  src/Servers/Kestrel/tools/CodeGenerator/CodeGenerator.csproj
Labels: area-runtime

#38729 ViewEngineResult doc: see cref="IViewEngine"
  src/Mvc/Mvc.ViewFeatures/src/ViewEngines/ViewEngineResult.cs
Labels: area-mvc, community-contribution

#38731 DisplayFor doc: what if template file is not found
  src/Mvc/Mvc.ViewFeatures/src/Rendering/IHtmlHelperOfT.cs
Labels: area-mvc, community-contribution

#38733 Quarantine LogsStartupExceptionExitError
  src/Servers/IIS/IIS/test/Common.LongTests/StartupTests.cs
Labels: area-runtime

#38704 Fix `components-e2e` Pipeline
  .azure/pipelines/components-e2e-tests.yml
Labels: area-infrastructure
