Repository dotnet/aspnetcore, pull requests merged in 2021-08, with the labels that each got.

#34943 Update SDK to 6.0.100-rc.1.21401.2
  global.json
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ConnectionMiddlewareTests.cs
Labels: area-infrastructure

#34910 Update Kestrel logs to use LoggerMessage
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.cs
  src/Servers/Kestrel/Core/src/Internal/LoggerExtensions.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Servers/Kestrel/Transport.Libuv/src/Internal/LibuvTrace.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicTrace.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketsTrace.cs
Labels: area-runtime

#34935 Support overriding host settings using args
  src/DefaultBuilder/src/BootstrapHostBuilder.cs
  src/DefaultBuilder/src/ConfigureHostBuilder.cs
  src/DefaultBuilder/src/ConfigureWebHostBuilder.cs
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
Labels: area-runtime, feature-minimal-hosting

#34883 Add member 'Principal' and 'Properties' to MemberNotNullWhenAttribute
  src/Http/Authentication.Abstractions/src/AuthenticateResult.cs
Labels: area-runtime, community-contribution

#34853 Enable client cert renegotiation tests on linux
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
Labels: area-runtime

#34409 HTTP/3: Add IStreamAbortFeature
  src/Servers/Connections.Abstractions/src/BaseConnectionContext.cs
  src/Servers/Connections.Abstractions/src/ConnectionContext.cs
  src/Servers/Connections.Abstractions/src/Features/IStreamAbortFeature.cs
  src/Servers/Connections.Abstractions/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/IQuicTrace.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.FeatureCollection.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicTrace.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicStreamContextTests.cs
  src/Servers/Kestrel/shared/TransportConnection.Generated.cs
  src/Servers/Kestrel/shared/test/Http3/Http3InMemory.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
  src/Servers/Kestrel/tools/CodeGenerator/TransportConnectionFeatureCollection.cs
Labels: api-approved, area-runtime

#34836 HTTP/3: Refactor alt-svc upgrade
  src/Servers/Kestrel/Core/src/Internal/BaseHttpConnectionContext.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2StreamContext.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3StreamContext.cs
  src/Servers/Kestrel/Core/src/Internal/HttpConnection.cs
  src/Servers/Kestrel/Core/src/Internal/HttpConnectionContext.cs
  src/Servers/Kestrel/Core/src/Internal/HttpMultiplexedConnectionContext.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/HttpUtilities.cs
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Servers/Kestrel/Core/src/ListenOptions.cs
  src/Servers/Kestrel/Core/src/LocalhostListenOptions.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpConnectionBuilderExtensions.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpConnectionMiddleware.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpMultiplexedConnectionMiddleware.cs
  src/Servers/Kestrel/Core/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Core/test/PooledStreamStackTests.cs
  src/Servers/Kestrel/Transport.Libuv/test/LibuvTransportTests.cs
  src/Servers/Kestrel/Transport.Quic/test/WebHostTests.cs
  src/Servers/Kestrel/samples/Http3SampleApp/Program.cs
  src/Servers/Kestrel/shared/KnownHeaders.cs
  src/Servers/Kestrel/shared/test/Http3/Http3InMemory.cs
  src/Servers/Kestrel/shared/test/StreamBackedTestConnection.cs
  src/Servers/Kestrel/shared/test/TestContextFactory.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseTests.cs
Labels: api-approved, area-runtime

#34942 Quarantine recently failing components tests
  src/Components/test/E2ETest/Tests/AuthTest.cs
  src/Components/test/E2ETest/Tests/BootResourceCachingTest.cs
  src/Components/test/E2ETest/Tests/ComponentRenderingTestBase.cs
  src/Components/test/E2ETest/Tests/SvgTest.cs
Labels: area-blazor

#34813 New Blazor querystring building APIs.
  src/Components/Components/src/NavigationManagerExtensions.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/Routing/QueryParameterNameComparer.cs
  src/Components/Components/src/Routing/QueryParameterValueSupplier.cs
  src/Components/Components/test/NavigationManagerTest.cs
Labels: api-ready-for-review, area-blazor

#34956 Add logging to flaky Kestrel connection middleware test
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ConnectionMiddlewareTests.cs
Labels: area-runtime

#34983 Quarantine FileLoggerProcessorTests
  src/Middleware/HttpLogging/test/FileLoggerProcessorTests.cs
Labels: area-runtime

#34993 Quarantine Http10KeepAliveNotHonoredIfResponseContentLengthNotSet
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTests.cs
Labels: area-runtime

#34997 Revert "Enable client cert renegotiation tests on linux"
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
Labels: area-runtime

#34998 Change display name of OSX test job to 10.15
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#34877 Refactor quic setup
  AspNetCore.sln
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/TransportManager.cs
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Servers/Kestrel/Kestrel.slnf
  src/Servers/Kestrel/Kestrel/src/Microsoft.AspNetCore.Server.Kestrel.csproj
  src/Servers/Kestrel/Kestrel/src/WebHostBuilderKestrelExtensions.cs
  src/Servers/Kestrel/Kestrel/test/KestrelConfigurationLoaderTests.cs
  src/Servers/Kestrel/Transport.Quic/src/AssemblyInfo.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionListener.cs
  src/Servers/Kestrel/Transport.Quic/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Quic.csproj
  src/Servers/Kestrel/Transport.Quic/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Transport.Quic/src/QuicConnectionFactory.cs
  src/Servers/Kestrel/Transport.Quic/src/QuicTransportOptions.cs
  src/Servers/Kestrel/Transport.Quic/src/WebHostBuilderQuicExtensions.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicTestHelpers.cs
  src/Servers/Kestrel/Transport.Quic/test/WebHostTests.cs
  src/Servers/Kestrel/samples/Http3SampleApp/Program.cs
  src/Servers/Kestrel/samples/Http3SampleApp/Properties/launchSettings.json
  src/Servers/Kestrel/samples/Http3SampleApp/Startup.cs
  src/Servers/Kestrel/samples/HttpClientApp/HttpClientApp.csproj
  src/Servers/Kestrel/samples/HttpClientApp/Program.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
Labels: area-runtime

#35003 Always fill passed in buffer in StreamFillBufferExtensions
  src/Servers/Kestrel/Core/src/Internal/Http/Http1OutputProducer.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionContextTests.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicStreamContextTests.cs
  src/Servers/Kestrel/shared/test/StreamExtensions.cs
  src/Servers/Kestrel/shared/test/StreamFillBufferExtensions.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/UpgradeTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Interop.FunctionalTests.csproj
Labels: area-runtime, test-fixed

#34958 Update branding for 3.1.19
  eng/Versions.props
Labels: area-infrastructure

#34959 Update branding for 5.0.10
  eng/Versions.props
Labels: area-infrastructure, community-contribution

#34897 [release/3.1] Backport #22406
  eng/targets/CSharp.Common.props
  src/Shared/test/SuccessfulTests.cs
Labels: area-infrastructure, tell-mode

#34996 Quarantine `AuthenticatedUser_ProfileIncludesDetails_And_AccessToken`
  src/Components/test/E2ETest/Tests/WebAssemblyAuthenticationTests.cs
Labels: area-blazor

#34981 Throw IOE if service collection is read-only
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/DefaultBuilder/src/WebApplicationServiceCollection.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
Labels: area-runtime, area-web-frameworks, feature-minimal-hosting

#35014 Separate stream extensions for filling buffers and getting data
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionContextTests.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicStreamContextTests.cs
  src/Servers/Kestrel/shared/test/StreamExtensions.cs
  src/Servers/Kestrel/shared/test/StreamFillBufferExtensions.cs
  src/Servers/Kestrel/shared/test/TestApp.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/UpgradeTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Interop.FunctionalTests.csproj
Labels: area-runtime

#35022 Use strongly typed headers in CorsMiddleware
  src/Middleware/CORS/src/Infrastructure/CorsService.cs
Labels: area-runtime

#35023 Update yarn msgpack references
  src/Components/Web.JS/yarn.lock
  src/SignalR/clients/ts/FunctionalTests/yarn.lock
Labels: area-signalr

#35019 Quarantining `InputDateInteractsWithEditContext_TimeInput`
  src/Components/test/E2ETest/Tests/FormsTest.cs
Labels: area-blazor

#34912 HTTP/3: Fix stream reuse when CompleteAsync followed by Reset
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionContextTests.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicStreamContextTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3ConnectionTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
Labels: area-runtime

#34804 [blazor] Fix InvariantGlobalization startup without AOT
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
Labels: area-blazor

#35037 Fix blazor templates test
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorTemplateTest.cs
Labels: area-mvc

#34972 Added overload of WebApplication.CreateBuilder
  src/DefaultBuilder/src/PublicAPI.Unshipped.txt
  src/DefaultBuilder/src/WebApplication.cs
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/DefaultBuilder/src/WebApplicationOptions.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
Labels: area-runtime, feature-minimal-hosting

#34207 [SignalR TS] Pass timeout when invoking http requests
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
  src/SignalR/clients/ts/signalr/src/IHttpConnectionOptions.ts
  src/SignalR/clients/ts/signalr/src/LongPollingTransport.ts
  src/SignalR/clients/ts/signalr/src/ServerSentEventsTransport.ts
  src/SignalR/clients/ts/signalr/src/Utils.ts
  src/SignalR/clients/ts/signalr/tests/HttpConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/LongPollingTransport.test.ts
  src/SignalR/clients/ts/signalr/tests/ServerSentEventsTransport.test.ts
Labels: api-approved, area-signalr, signalr-client-javascript

#35024 Source build patches necessary for tarball build
  .azure/pipelines/ci.yml
  eng/SourceBuild.props
  eng/Tools.props
  eng/tools/GenerateFiles/GenerateFiles.csproj
  eng/tools/RepoTasks/RepoTasks.csproj
Labels: area-infrastructure

#34863 Throw from extension methods not supported by WebApplicationBuilder
  src/DefaultBuilder/src/ConfigureHostBuilder.cs
  src/DefaultBuilder/src/ConfigureWebHostBuilder.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
  src/Hosting/Hosting/src/GenericHost/GenericWebHostBuilder.cs
  src/Hosting/Hosting/src/GenericHost/HostingStartupWebHostBuilder.cs
  src/Hosting/Hosting/src/GenericHost/ISupportsStartup.cs
  src/Hosting/Hosting/src/GenericHostWebHostBuilderExtensions.cs
  src/Hosting/Hosting/src/Infrastructure/ISupportsConfigureWebHost.cs
  src/Hosting/Hosting/src/Infrastructure/ISupportsStartup.cs
  src/Hosting/Hosting/src/PublicAPI.Unshipped.txt
  src/Hosting/Hosting/src/WebHostBuilderExtensions.cs
  src/Hosting/Hosting/test/Fakes/GenericWebHostBuilderWrapper.cs
Labels: api-ready-for-review, area-runtime, feature-minimal-hosting

#35058 Bind to "port 0" again in project template tests
  src/ProjectTemplates/Shared/AspNetProcess.cs
  src/ProjectTemplates/Shared/Project.cs
Labels: area-mvc

#33712 [Routing] Proactively checks constraints and complex parameters when building the DFA tree to trim unnecessary nodes
  src/Http/Routing.Abstractions/src/Properties/AssemblyInfo.cs
  src/Http/Routing.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Routing/src/Constraints/BoolRouteConstraint.cs
  src/Http/Routing/src/Constraints/CompositeRouteConstraint.cs
  src/Http/Routing/src/Constraints/DateTimeRouteConstraint.cs
  src/Http/Routing/src/Constraints/DecimalRouteConstraint.cs
  src/Http/Routing/src/Constraints/DoubleRouteConstraint.cs
  src/Http/Routing/src/Constraints/FileNameRouteConstraint.cs
  src/Http/Routing/src/Constraints/FloatRouteConstraint.cs
  src/Http/Routing/src/Constraints/GuidRouteConstraint.cs
  src/Http/Routing/src/Constraints/IntRouteConstraint.cs
  src/Http/Routing/src/Constraints/LengthRouteConstraint.cs
  src/Http/Routing/src/Constraints/LongRouteConstraint.cs
  src/Http/Routing/src/Constraints/MaxLengthRouteConstraint.cs
  src/Http/Routing/src/Constraints/MaxRouteConstraint.cs
  src/Http/Routing/src/Constraints/MinLengthRouteConstraint.cs
  src/Http/Routing/src/Constraints/MinRouteConstraint.cs
  src/Http/Routing/src/Constraints/NonFileNameRouteConstraint.cs
  src/Http/Routing/src/Constraints/RangeRouteConstraint.cs
  src/Http/Routing/src/Constraints/RegexRouteConstraint.cs
  src/Http/Routing/src/Constraints/StringRouteConstraint.cs
  src/Http/Routing/src/Matching/DfaMatcherBuilder.cs
  src/Http/Routing/src/Matching/IParameterLiteralNodeMatchingPolicy.cs
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/test/UnitTests/Matching/DfaMatcherBuilderTest.cs
  src/Http/Routing/test/UnitTests/Matching/DfaMatcherConformanceTest.cs
  src/Http/Routing/test/UnitTests/Matching/DfaMatcherTest.cs
  src/Http/Routing/test/UnitTests/Matching/HttpMethodMatcherPolicyIntegrationTestBase.cs
Labels: area-runtime

#35016 Support getting client certificate in Http/3
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionContext.FeatureCollection.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionContextTests.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicTestHelpers.cs
Labels: area-runtime

#32428 Playwright: Run some real tests in Migration.E2E.Tests
  AspNetCore.sln
  eng/Build.props
  eng/targets/Helix.targets
  src/Components/Components.slnf
  src/Components/test/E2ETest/Tests/DownloadAnchorTest.cs
  src/Components/test/E2ETestMigration/Infrastructure/ComponentTestBase.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/BlazorWasmTestAppFixture.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/DevHostServerFixture.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/ServerFixture.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/ToggleExecutionModeServerFixture.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerTestBase.cs
  src/Components/test/E2ETestMigration/Microsoft.AspNetCore.Components.Migration.E2ETests.csproj
  src/Components/test/E2ETestMigration/Properties/AssemblyInfo.cs
  src/Components/test/E2ETestMigration/Tests/BinaryHttpClientTest.cs
  src/Components/test/E2ETestMigration/Tests/BindTest.cs
  src/Components/test/E2ETestMigration/Tests/DownloadAnchorTest.cs
  src/Components/test/E2ETestMigration/Tests/InputFileTest.cs
  src/Components/test/E2ETestMigration/playwrightSettings.ci.json
  src/Components/test/E2ETestMigration/playwrightSettings.ci.linux.json
  src/Components/test/E2ETestMigration/playwrightSettings.json
  src/Components/test/E2ETestMigration/playwrightSettings.linux.json
  src/Components/test/E2ETestMigration/playwrightSettings.win.json
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorTemplateTest.cs
  src/ProjectTemplates/BlazorTemplates.Tests/PlaywrightFixture.cs
  src/Shared/BrowserTesting/src/BrowserManager.cs
  src/Shared/BrowserTesting/src/BrowserTestBase.cs
  src/Shared/BrowserTesting/src/BrowserTestOutputLogger.cs
  src/Shared/BrowserTesting/src/Microsoft.AspNetCore.BrowserTesting.csproj
Labels: area-blazor

#35063 Remove GetCallingAssembly usage
  src/DefaultBuilder/DefaultBuilder.slnf
  src/DefaultBuilder/src/WebApplication.cs
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
Labels: area-runtime, feature-minimal-hosting

#35045 Quarantine `InputDateInteractsWithEditContext_NonNullableDateTime`
  src/Components/test/E2ETest/Tests/FormsTest.cs
Labels: area-blazor

#35050 Use Fedora queue that supports msquic
  eng/targets/Helix.Common.props
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionContextTests.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionListenerTests.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicStreamContextTests.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicTransportFactoryTests.cs
  src/Servers/Kestrel/Transport.Quic/test/WebHostTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
Labels: area-infrastructure

#34067 Remove redundant comments
  src/Mvc/Mvc.Core/src/ApplicationModels/ApplicationModelFactory.cs
  src/Mvc/Mvc.Core/src/ApplicationModels/DefaultApplicationModelProvider.cs
Labels: area-mvc, community-contribution

#34592 Do not overwrite NoWarn in Mvc.Testing
  src/Identity/ApiAuthorization.IdentityServer/src/Microsoft.AspNetCore.ApiAuthorization.IdentityServer.csproj
  src/Mvc/Mvc.Testing/src/Microsoft.AspNetCore.Mvc.Testing.csproj
  src/Shared/test/Shared.Tests/Microsoft.AspNetCore.Shared.Tests.csproj
Labels: area-mvc, community-contribution

#35085 Do not generate hot reload attributes on Blazor components
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/CreateNewOnMetadataUpdateAttributePass.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/CreateNewOnMetadataUpdateAttributePassTest.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/TestFiles/IntegrationTests/CodeGenerationIntegrationTest/BasicComponent_DesignTime.codegen.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/TestFiles/IntegrationTests/CodeGenerationIntegrationTest/BasicComponent_DesignTime.ir.txt
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/TestFiles/IntegrationTests/CodeGenerationIntegrationTest/BasicComponent_DesignTime.mappings.txt
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/TestFiles/IntegrationTests/CodeGenerationIntegrationTest/BasicComponent_Runtime.codegen.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/TestFiles/IntegrationTests/CodeGenerationIntegrationTest/BasicComponent_Runtime.ir.txt
Labels: area-mvc

#35101 Set the application name in the WebApplicationFactory
  src/Mvc/Mvc.Testing/src/WebApplicationFactory.cs
  src/Mvc/test/Mvc.FunctionalTests/SimpleWithWebApplicationBuilderTests.cs
  src/Mvc/test/WebSites/SimpleWebSiteWithWebApplicationBuilder/Program.cs
  src/Mvc/test/WebSites/SimpleWebSiteWithWebApplicationBuilder/SimpleWebSiteWithWebApplicationBuilder.csproj
Labels: area-mvc

#35080 Fixes that Blazor focus extension could not focus SVG elements
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/DomWrapper.ts
  src/Components/test/E2ETest/Tests/ComponentRenderingTestBase.cs
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/SvgFocusComponent.razor
Labels: area-blazor, community-contribution

#34817 .NET to JS Streaming Interop
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/Server/src/Circuits/RemoteJSRuntime.cs
  src/Components/Server/src/ComponentHub.cs
  src/Components/Shared/src/TransmitDataStreamToJS.cs
  src/Components/Web.JS/src/Boot.Server.ts
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/Web.JS/src/Platform/WebView/WebViewIpcReceiver.ts
  src/Components/Web.JS/src/StreamingInterop.ts
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.csproj
  src/Components/WebAssembly/WebAssembly/src/Services/DefaultWebAssemblyJSRuntime.cs
  src/Components/WebView/WebView/src/Microsoft.AspNetCore.Components.WebView.csproj
  src/Components/WebView/WebView/src/Services/WebViewJSRuntime.cs
  src/Components/test/E2ETest/Tests/InteropTest.cs
  src/Components/test/testassets/BasicTestApp/InteropComponent.razor
  src/Components/test/testassets/BasicTestApp/InteropTest/DotNetStreamReferenceInterop.cs
  src/Components/test/testassets/BasicTestApp/wwwroot/js/jsinteroptests.js
  src/JSInterop/Microsoft.JSInterop.JS/src/src/Microsoft.JSInterop.ts
  src/JSInterop/Microsoft.JSInterop/src/DotNetStreamReference.cs
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/DotNetStreamReferenceJsonConverter.cs
  src/JSInterop/Microsoft.JSInterop/src/JSRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/PublicAPI.Unshipped.txt
  src/JSInterop/Microsoft.JSInterop/test/Infrastructure/DotNetStreamReferenceJsonConverterTest.cs
  src/JSInterop/Microsoft.JSInterop/test/JSRuntimeTest.cs
  src/JSInterop/Microsoft.JSInterop/test/TestJSRuntime.cs
Labels: area-blazor

#35089 Quarantine `WebAssemblyAuthenticationTests.CanPreserveApplicationState_DuringLogIn`
  src/Components/test/E2ETest/Tests/WebAssemblyAuthenticationTests.cs
Labels: area-blazor

#35072 Unquarantine Reset_PriorOSVersions_NotSupported
  src/Servers/HttpSys/test/FunctionalTests/Http2Tests.cs
Labels: area-runtime

#35098 Use a weak reference list to store server options
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelEventSource.cs
Labels: area-runtime

#35090 Make sure route binding isn't case sensitive
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Routing/test/UnitTests/Builder/MinimalActionEndpointRouteBuilderExtensionsTest.cs
Labels: feature-minimal-actions, area-web-frameworks

#34945 Exit after container creation script
  .devcontainer/scripts/container-creation.sh
Labels: area-infrastructure

#34906 Improve support for OpenAPI in minimal actions
  src/Http/Routing/src/Builder/RoutingEndpointConventionBuilderExtensions.cs
  src/Http/Routing/src/EndpointGroupNameAttribute.cs
  src/Http/Routing/src/EndpointNameAttribute.cs
  src/Http/Routing/src/ExcludeFromDescriptionAttribute.cs
  src/Http/Routing/src/IEndpointGroupNameMetadata.cs
  src/Http/Routing/src/IExcludeFromDescriptionMetadata.cs
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/test/UnitTests/Builder/RoutingEndpointConventionBuilderExtensionsTest.cs
  src/Mvc/Mvc.ApiExplorer/src/ApiResponseTypeProvider.cs
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/test/ApiResponseTypeProviderTest.cs
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
  src/Mvc/Mvc.Core/src/Builder/OpenApiEndpointConventionBuilderExtensions.cs
  src/Mvc/Mvc.Core/src/ProducesResponseTypeAttribute.cs
  src/Mvc/Mvc.Core/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Core/src/Resources.resx
  src/Mvc/Mvc.Core/test/ProducesResponseTypeAttributeTests.cs
  src/Mvc/test/Mvc.FunctionalTests/ApiExplorerTest.cs
  src/Mvc/test/WebSites/ApiExplorerWebSite/Controllers/ApiExplorerResponseTypeOverrideOnActionController.cs
Labels: api-approved, area-web-frameworks

#35083 Bump Swashbuckle.AspNetCore version used in templates
  eng/Versions.props
Labels: area-infrastructure, area-web-frameworks

#35079 Guard against null BrowserManager
  src/Shared/BrowserTesting/src/BrowserTestBase.cs
Labels: area-blazor

#35122 Update fedora queue for skipping
  eng/targets/Helix.targets
Labels: area-infrastructure

#35135 Enable implicit usings feature in new projects by default
  src/ProjectTemplates/Web.ProjectTemplates/BlazorServerWeb-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/ComponentsWebAssembly-CSharp.Client.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/ComponentsWebAssembly-CSharp.Server.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/ComponentsWebAssembly-CSharp.Shared.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/EmptyWeb-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/GrpcService-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/RazorClassLibrary-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/RazorPagesWeb-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/StarterWeb-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/WebApi-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/Worker-CSharp.csproj.in
Labels: area-mvc

#35121 Add support for building 2.1 Razor projects using the RazorSDK
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/CSharpCodeParser.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/Legacy/CSharpCodeParserTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/BuildPerformanceTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/MvcBuildIntegrationTest21NetFx.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/SdkRazorGenerate.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/SdkRazorTagHelper.cs
  src/Razor/Microsoft.NET.Sdk.Razor/src/build/netstandard2.0/Microsoft.NET.Sdk.Razor.CodeGeneration.targets
  src/Razor/Microsoft.NET.Sdk.Razor/src/build/netstandard2.0/Microsoft.NET.Sdk.Razor.Component.targets
  src/Razor/Microsoft.NET.Sdk.Razor/src/build/netstandard2.0/Sdk.Razor.CurrentVersion.targets
  src/Razor/test/testassets/ClassLibraryMvc21/ClassLibraryMvc21.csproj
  src/Razor/test/testassets/RestoreTestProjects/RestoreTestProjects.csproj
  src/Razor/test/testassets/SimpleMvc21/SimpleMvc21.csproj
  src/Razor/test/testassets/SimpleMvc21NetFx/Models/ErrorViewModel.cs
  src/Razor/test/testassets/SimpleMvc21NetFx/Program.cs
  src/Razor/test/testassets/SimpleMvc21NetFx/SimpleMvc21NetFx.csproj
  src/Razor/test/testassets/SimpleMvc21NetFx/SimpleTagHelper.cs
  src/Razor/test/testassets/SimpleMvc21NetFx/Views/Home/Index.cshtml
  src/Razor/test/testassets/SimpleMvc21NetFx/Views/Shared/_Layout.cshtml
  src/Razor/test/testassets/SimpleMvc21NetFx/Views/_ViewImports.cshtml
  src/Razor/test/testassets/SimpleMvc21NetFx/Views/_ViewStart.cshtml
  src/Razor/test/testassets/SimpleMvc22/SimpleMvc22.csproj
Labels: Servicing-approved, area-mvc

#35141 HTTP/3: Only add alt-svc header if environment supports QUIC
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/TestTransport/TestServer.cs
Labels: area-runtime

#34968 HTTP/3: Connection shutdown improvements
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3ControlStream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Formatting.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/IKestrelTrace.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/TransportManager.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/IQuicTrace.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.FeatureCollection.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicTrace.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionContextTests.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionListenerTests.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicStreamContextTests.cs
  src/Servers/Kestrel/perf/Microbenchmarks/Mocks/MockTrace.cs
  src/Servers/Kestrel/shared/TransportConnection.Generated.cs
  src/Servers/Kestrel/shared/TransportConnection.cs
  src/Servers/Kestrel/shared/test/CompositeKestrelTrace.cs
  src/Servers/Kestrel/shared/test/Http3/Http3InMemory.cs
  src/Servers/Kestrel/shared/test/StreamExtensions.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TimeoutTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
  src/Servers/Kestrel/tools/CodeGenerator/FeatureCollectionGenerator.cs
  src/Servers/Kestrel/tools/CodeGenerator/TransportConnectionFeatureCollection.cs
Labels: area-runtime

#35146 HTTP/3: Fix missing await in test
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionContextTests.cs
Labels: area-runtime

#35159 Remove unused methods from FormFeature
  src/Http/Http/src/Features/FormFeature.cs
Labels: area-runtime, community-contribution

#35110 Enforce Chunk Size on Incoming Data Stream
  src/Components/Server/src/Circuits/RemoteJSDataStream.cs
  src/Components/Server/src/ComponentHub.cs
  src/Components/Server/test/Circuits/RemoteJSDataStreamTest.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
Labels: area-blazor

#35181 correct wrong cache document link
  src/Caching/README.md
Labels: community-contribution

#35124 Support struct FromBody parameters in minimal actions
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
Labels: area-runtime, feature-minimal-actions, area-web-frameworks

#35167 Fix NativeAOT with minimal actions
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/TryParseMethodCacheTests.cs
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Shared/TryParseMethodCache.cs
Labels: feature-minimal-actions, area-web-frameworks

#35168 HTTP/3: Fix flakey pooling test
  src/Servers/Kestrel/shared/test/Http3/Http3InMemory.cs
  src/Servers/Kestrel/shared/test/TestContextFactory.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TimeoutTests.cs
Labels: area-runtime

#35139 Templates enable EF SQL command logging in development
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/appsettings.json
Labels: area-mvc

#35107 Added the ability to configure the buffer sizes on the client
  src/SignalR/clients/csharp/Client/test/UnitTests/HttpConnectionFactoryTests.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HttpConnectionTests.ConnectionLifecycle.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HttpConnectionTests.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/LongPollingTransportTests.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/ServerSentEventsTransportTests.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnectionFactory.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnectionOptions.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/DefaultTransportFactory.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/LongPollingTransport.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/ServerSentEventsTransport.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/WebSocketsTransport.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/PublicAPI.Unshipped.txt
  src/SignalR/common/Http.Connections/src/HttpConnectionDispatcherOptions.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionManagerTests.cs
Labels: area-signalr

#35217 Dispatch dispose to sync context. Fixes #32411
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Components/test/RendererTest.cs
Labels: area-blazor

#35127 Remove unnecessary try-catch in Worker template
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/Worker.cs
Labels: area-mvc

#34783 Add feature and DiagnosticSource event for rejected request info
  src/Http/Http.Features/src/IBadRequestExceptionFeature.cs
  src/Http/Http.Features/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.FeatureCollection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Servers/Kestrel/Core/src/Internal/ServiceContext.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/BadHttpRequestTests.cs
  src/Servers/Kestrel/tools/CodeGenerator/HttpProtocolFeatureCollection.cs
Labels: area-runtime, servers-kestrel, api-approved

#35137 Removed option for Razor runtime compilation from C# templates
  src/ProjectTemplates/Web.ProjectTemplates/RazorPagesWeb-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/StarterWeb-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/dotnetcli.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/cs-CZ/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/de-DE/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/dotnetcli.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/es-ES/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/fr-FR/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/it-IT/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/ja-JP/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/ko-KR/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/pl-PL/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/pt-BR/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/ru-RU/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/tr-TR/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/zh-CN/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/zh-TW/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/test/MvcTemplateTest.cs
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
Labels: area-mvc

#35211 Slightly better support for NativeAOT and trimming
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Shared/TryParseMethodCache.cs
Labels: feature-minimal-actions, area-web-frameworks

#35241 Clean up logging
  src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs
Labels: area-security

#35242 Update SiteExtension versions
  eng/Versions.props
Labels: area-infrastructure

#35210 HTTP/3: Improve QUIC stream and HTTP/3 conn completion errors
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3ControlStream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicStreamContextTests.cs
  src/Servers/Kestrel/shared/test/Http3/Http3InMemory.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
Labels: area-runtime

#35084 Re-Enable client cert renegotiation tests on linux
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
  src/Testing/src/xunit/HelixConstants.cs
Labels: area-runtime

#35243 Enable ServerCertificateSelector for HTTP/3
  src/Servers/Kestrel/Core/src/HttpsConnectionAdapterOptions.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/TransportManager.cs
  src/Servers/Kestrel/Core/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Transport.Quic/src/QuicTransportFactory.cs
  src/Servers/Kestrel/samples/Http3SampleApp/Program.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3Helpers.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3TlsTests.cs
Labels: area-runtime

#35207 Differentiate namespaces in IIS functionals
  src/Servers/IIS/IIS/test/Common.FunctionalTests/AspNetCorePortTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/BasicAuthTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/CompressionTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/FrebTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/GlobalVersionTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Http2Tests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/HttpsTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/MaxRequestBodySizeTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Latin1Tests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/LoggingTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/MaxRequestBodySizeTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/MultiApplicationTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/RequestResponseTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/ShutdownTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/StartupTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/WindowsAuthTests.cs
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/IIS.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IIS.NewHandler.FunctionalTests/IIS.NewHandler.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IIS.NewHandler.FunctionalTests/NewHandlerTests.cs
  src/Servers/IIS/IIS/test/IIS.NewShim.FunctionalTests/IIS.NewShim.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IIS.NewShim.FunctionalTests/NewShimTests.cs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/ApplicationInitializationTests.cs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/StdOutRedirectionTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/IISExpress.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/InProcess/AppOfflineIISExpressTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/InProcess/AuthenticationTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/InProcess/IISExpressShutdownTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/InProcess/WebSocketTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/OutOfProcess/MultipleAppTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/OutOfProcess/NtlmAuthentationTest.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/UpgradeFeatureDetectionTests.cs
Labels: area-runtime

#35132 Make HubConnection methods virtual
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client.Core/src/PublicAPI.Unshipped.txt
  src/SignalR/clients/csharp/Client/test/UnitTests/HubConnectionTests.cs
Labels: area-signalr

#35244 Add sockets/libuv to kestrel test namespaces
  src/Servers/Kestrel/test/FunctionalTests/ConnectionMiddlewareTests.cs
  src/Servers/Kestrel/test/FunctionalTests/Http2/HandshakeTests.cs
  src/Servers/Kestrel/test/FunctionalTests/Http2/ShutdownTests.cs
  src/Servers/Kestrel/test/FunctionalTests/ListenHandleTests.cs
  src/Servers/Kestrel/test/FunctionalTests/MaxRequestBufferSizeTests.cs
  src/Servers/Kestrel/test/FunctionalTests/RequestTests.cs
  src/Servers/Kestrel/test/FunctionalTests/ResponseTests.cs
  src/Servers/Kestrel/test/FunctionalTests/UnixDomainSocketsTests.cs
  src/Servers/Kestrel/test/Sockets.FunctionalTests/SocketTranspotTests.cs
  src/Servers/Kestrel/test/Sockets.FunctionalTests/Sockets.FunctionalTests.csproj
Labels: area-runtime

#35248 Blazor WASM Hot reload updates
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHost.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/HotReloadAgent.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/UpdateDelta.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/WebAssemblyHotReload.cs
Labels: area-blazor

#35270 Use strongly typed headers
  src/Middleware/ResponseCaching/src/ResponseCachingMiddleware.cs
  src/Middleware/ResponseCaching/src/ResponseCachingPolicyProvider.cs
  src/Mvc/Mvc.Core/src/Filters/ResponseCacheFilterExecutor.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
  src/Shared/ChunkingCookieManager/ChunkingCookieManager.cs
Labels: community-contribution

#35271 private static methods in DistributedSession
  src/Middleware/Session/src/DistributedSession.cs
Labels: area-runtime, community-contribution

#35136 Upgrade Newtonsoft to v13.0
  eng/Versions.props
  src/Mvc/Mvc.NewtonsoftJson/src/BsonTempDataSerializer.cs
  src/Mvc/Mvc.NewtonsoftJson/src/JsonArrayPool.cs
  src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonInputFormatter.cs
  src/Mvc/Mvc.NewtonsoftJson/src/ProblemDetailsConverter.cs
  src/Mvc/Mvc.NewtonsoftJson/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.NewtonsoftJson/src/ValidationProblemDetailsConverter.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/Microsoft.AspNetCore.Razor.Language.Test.csproj
  src/SignalR/common/Protocols.NewtonsoftJson/src/Protocol/NewtonsoftJsonHubProtocol.cs
  src/SignalR/common/Shared/JsonUtils.cs
Labels: area-infrastructure

#35233 Set IsRequired on ApiDescriptions for endpoints
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
  src/Mvc/Mvc.ApiExplorer/test/Microsoft.AspNetCore.Mvc.ApiExplorer.Test.csproj
Labels: area-mvc, feature-minimal-actions, area-web-frameworks

#35258 HTTP/3: QUIC connection listener fixes
  src/Servers/Kestrel/Core/test/KestrelServerTests.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionListener.cs
  src/Servers/Kestrel/Transport.Quic/src/QuicTransportFactory.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicTransportFactoryTests.cs
  src/Servers/Kestrel/Transport.Quic/test/WebHostTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
Labels: area-runtime

#35284 Revert "Delay socket receive/send until first read/flush (#34458)"
  src/Servers/Kestrel/Transport.Sockets/src/Client/SocketConnectionFactory.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.DuplexPipe.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.PipeReader.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.PipeWriter.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketConnectionListener.cs
  src/Servers/Kestrel/test/Sockets.FunctionalTests/SocketTranspotTests.cs
Labels: area-runtime, servers-kestrel

#35294 Restore debugging support in WebAssembly hosted template
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Program.cs
Labels: area-mvc, area-blazor

#35299 Add a test to verify HotReload events are not subscribed to as part o…
  src/Components/Components/src/HotReload/HotReloadManager.cs
  src/Components/test/E2ETest/ServerExecutionTests/PrerenderingTest.cs
  src/Components/test/testassets/TestServer/Controllers/ReloadController.cs
  src/Components/test/testassets/TestServer/PrerenderedStartup.cs
Labels: area-blazor

#35296 Fix template css issues
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Shared/NavMenu.CallsMicrosoftGraph.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Shared/NavMenu.CallsWebApi.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Shared/NavMenu.NoGraphOrApi.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Shared/SurveyPrompt.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Pages/FetchData.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/MainLayout.NoAuth.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/MainLayout.razor.css
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/NavMenu.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/SurveyPrompt.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Program.cs
Labels: area-blazor, auto-merge

#35247 Reduce allocations in Razor scenarios
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptorComparer.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/DefaultRazorIntermediateNodeLoweringPhase.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Intermediate/LazyIntermediateToken.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/CSharpCodeParser.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/HtmlMarkupParser.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Legacy/TokenizerBackedParser.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptorComparer.cs
Labels: area-mvc

#35206 Dynamic root components 'EventCallback' parameter support
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Rendering/JSRootComponents.ts
  src/Components/Web.JS/src/Rendering/WebRendererInteropMethods.ts
  src/Components/Web/src/JSComponents/JSComponentConfigurationStore.cs
  src/Components/Web/src/JSComponents/JSComponentInterop.cs
  src/Components/Web/src/WebRenderer.cs
  src/Components/test/E2ETest/Tests/JSRootComponentsTest.cs
  src/Components/test/testassets/BasicTestApp/DynamicallyAddedRootComponent.razor
  src/Components/test/testassets/BasicTestApp/JavaScriptRootComponents.razor
Labels: area-blazor

#35307 Mark public Quic API as preview
  src/Servers/Kestrel/Transport.Quic/src/QuicTransportOptions.cs
  src/Servers/Kestrel/Transport.Quic/src/WebHostBuilderQuicExtensions.cs
Labels: area-runtime

#35208 Reduce some allocations in Razor
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/DefaultBoundAttributeDescriptor.cs
  src/Shared/HashCodeCombiner/HashCodeCombiner.cs
Labels: area-razor.compiler

#35288 Package r2rmap files in crossgened SFX symbol package
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-infrastructure

#35312 Add Backlog to QuicTransportOptions
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionListener.cs
  src/Servers/Kestrel/Transport.Quic/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Transport.Quic/src/QuicTransportOptions.cs
Labels: area-runtime

#34769 Add ISocketConnectionContextFactory
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs
  src/Servers/Kestrel/Transport.Sockets/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Transport.Sockets/src/SocketConnectionContextFactory.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketConnectionFactoryOptions.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketConnectionListener.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketTransportFactory.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketTransportOptions.cs
  src/Servers/Kestrel/test/Sockets.BindTests/SocketTransportFactoryTests.cs
  src/Servers/Kestrel/test/Sockets.FunctionalTests/SocketTransportTests.cs
Labels: area-runtime

#35331 Remove broken link to dotnet-watch as it moved to SDK repo 7 months ago
  src/Tools/README.md
Labels: area-commandlinetools, community-contribution

#35316 Enable HTTP/3 for HttpSys (and IIS?)
  src/Servers/HttpSys/src/RequestProcessing/RequestContextOfT.cs
  src/Servers/HttpSys/test/FunctionalTests/Http3SupportedAttribute.cs
  src/Servers/HttpSys/test/FunctionalTests/Http3Tests.cs
  src/Servers/HttpSys/test/FunctionalTests/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests.csproj
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionContextTests.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionListenerTests.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicStreamContextTests.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicTransportFactoryTests.cs
  src/Servers/Kestrel/Transport.Quic/test/WebHostTests.cs
  src/Servers/Kestrel/shared/test/TransportTestHelpers/MsQuicSupportedAttribute.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3TlsTests.cs
  src/Shared/HttpSys/NativeInterop/HttpApiTypes.cs
  src/Shared/HttpSys/RequestProcessing/NativeRequestContext.cs
Labels: area-runtime

#35325 Allow DefaultPageLoader.LoadAsync to work with CompiledPageActionDesriptor
  src/Mvc/Mvc.RazorPages/src/Infrastructure/DefaultPageLoader.cs
  src/Mvc/Mvc.RazorPages/test/Infrastructure/DefaultPageLoaderTest.cs
  src/Mvc/test/Mvc.FunctionalTests/RazorBuildTest.cs
  src/Mvc/test/WebSites/RazorBuildWebSite/Pages/Fallback.cshtml
  src/Mvc/test/WebSites/RazorBuildWebSite/Startup.cs
Labels: area-mvc

#35342 Fixed page title in Blazor Server project templates
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Pages/_Layout.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Shared/MainLayout.Auth.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Shared/MainLayout.NoAuth.razor
Labels: area-mvc

#35317 Change route and query fallback semantics
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Routing/test/UnitTests/Builder/MinimalActionEndpointRouteBuilderExtensionsTest.cs
Labels: feature-minimal-actions, area-web-frameworks

#35373 Update API name in obsolete message
  src/Components/Web/src/Forms/InputFile/RemoteBrowserFileStreamOptions.cs
Labels: area-blazor, community-contribution

#35229 Update SDK to 6.0.100-rc.1.21410.3
  eng/targets/CSharp.Common.targets
  eng/tools/Directory.Build.props
  eng/tools/RepoTasks/CreateFrameworkListFile.cs
  eng/tools/RepoTasks/GenerateGuid.cs
  eng/tools/RepoTasks/GenerateSharedFrameworkDepsFile.cs
  eng/tools/RepoTasks/GetMsiProperty.cs
  eng/tools/RepoTasks/RemoveSharedFrameworkDependencies.cs
  global.json
  src/Components/Authorization/src/Microsoft.AspNetCore.Components.Authorization.WarningSuppressions.xml
  src/Components/Components/src/Microsoft.AspNetCore.Components.WarningSuppressions.xml
  src/Components/Components/src/NavigationManagerExtensions.cs
  src/Components/Server/src/Circuits/RemoteRenderer.cs
  src/Components/Server/src/Circuits/ServerComponentDeserializer.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web/src/Microsoft.AspNetCore.Components.Web.WarningSuppressions.xml
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.WarningSuppressions.xml
  src/Components/WebAssembly/WebAssembly/test/PullFromJSDataStreamTest.cs
  src/Components/WebView/Samples/PhotinoPlatform/src/BlazorWindowRootComponents.cs
  src/Components/benchmarkapps/Wasm.Performance/Driver/Selenium.cs
  src/Components/benchmarkapps/Wasm.Performance/Driver/Wasm.Performance.Driver.csproj
  src/Components/test/E2ETest/ServerExecutionTests/PrerenderingTest.cs
  src/Hosting/Hosting/src/StaticWebAssets/StaticWebAssetsFileProvider.cs
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Identity/UI/src/Areas/Identity/Filters/ExternalLoginsPageFilter.cs
  src/Middleware/Diagnostics.EntityFrameworkCore/src/DiagnosticsEntityFrameworkCoreLoggerExtensions.cs
  src/Mvc/Mvc.Core/src/Infrastructure/ConfigureCompatibilityOptions.cs
  src/Mvc/Mvc.Razor/src/ApplicationParts/RazorCompiledItemFeatureProvider.cs
  src/Mvc/Mvc.Razor/src/RazorHotReload.cs
  src/Servers/HttpSys/test/FunctionalTests/Http3Tests.cs
  src/Servers/IIS/IIS/test/testassets/InProcessNewShimWebSite/InProcessNewShimWebSite.csproj
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/TransportManager.cs
  src/Servers/Kestrel/shared/test/Http3/Http3InMemory.cs
  src/Shared/HttpSys/NativeInterop/HttpApiTypes.cs
Labels: area-infrastructure

#35385 Fix typo in method summary
  src/Components/Components/src/NavigationManager.cs
Labels: area-blazor, community-contribution

#35305 Fix FileLoggerProcessorTests
  src/Middleware/HttpLogging/test/FileLoggerProcessorTests.cs
Labels: area-runtime

#35391 Enable RazorSourceGenerator all the time
  eng/Workarounds.props
Labels: area-infrastructure

#35390 Update SDK
  global.json
Labels: area-infrastructure

#35394 Avoid _settingsIndex overflow
  src/Servers/Kestrel/Transport.Sockets/src/SocketConnectionContextFactory.cs
Labels: area-runtime, servers-kestrel

#35361 Adapted test case to set Authority to an http address
  src/Security/Authentication/test/OpenIdConnect/OpenIdConnectConfigurationTests.cs
Labels: area-security, community-contribution

#35388 Set route name metadata in WithName
  src/Http/Routing/src/Builder/RoutingEndpointConventionBuilderExtensions.cs
  src/Http/Routing/test/UnitTests/Builder/RoutingEndpointConventionBuilderExtensionsTest.cs
Labels: area-runtime

#35397 Remove some low hanging allocations
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/CreateNewOnMetadataUpdateAttributePass.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/ModelExpressionPass.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/ViewComponentTagHelperPass.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/ModelExpressionPassTest.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/DefaultAllowedChildTagDescriptorBuilder.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/DefaultBoundAttributeDescriptorBuilder.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/DefaultBoundAttributeParameterDescriptorBuilder.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/DefaultRequiredAttributeDescriptorBuilder.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/DefaultTagMatchingRuleDescriptorBuilder.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/HtmlConventions.cs
Labels: area-mvc

#34798 [Blazor] Custom JS initializers
  src/Components/Authorization/src/AuthorizeRouteView.cs
  src/Components/Server/src/Builder/ComponentEndpointConventionBuilder.cs
  src/Components/Server/src/Builder/ComponentEndpointRouteBuilderExtensions.cs
  src/Components/Server/src/CircuitJavaScriptInitializationMiddleware.cs
  src/Components/Server/src/CircuitOptions.cs
  src/Components/Server/src/Circuits/CircuitOptionsJavaScriptInitializersConfiguration.cs
  src/Components/Server/src/ComponentHub.cs
  src/Components/Server/src/DependencyInjection/ComponentServiceCollectionExtensions.cs
  src/Components/Server/test/ComponentEndpointRouteBuilderExtensionsTest.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Boot.Server.ts
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/Boot.WebView.ts
  src/Components/Web.JS/src/JSInitializers/JSInitializers.Server.ts
  src/Components/Web.JS/src/JSInitializers/JSInitializers.WebAssembly.ts
  src/Components/Web.JS/src/JSInitializers/JSInitializers.WebView.ts
  src/Components/Web.JS/src/JSInitializers/JSInitializers.ts
  src/Components/Web.JS/src/Platform/BootConfig.ts
  src/Components/Web.JS/src/Platform/WebAssemblyStartOptions.ts
  src/Components/Web.JS/tsconfig.json
  src/Components/Web/src/JSComponents/JSComponentInterop.cs
  src/Components/Web/src/WebEventData/WebEventData.cs
  src/Components/WebAssembly/Samples/HostedBlazorWebassemblyApp/Server/Properties/launchSettings.json
  src/Components/WebAssembly/WebAssembly/src/HotReload/HotReloadAgent.cs
  src/Components/WebView/Samples/PhotinoPlatform/testassets/PhotinoTestApp/PhotinoTestApp.csproj
  src/Components/WebView/WebView/src/Microsoft.AspNetCore.Components.WebView.csproj
  src/Components/WebView/WebView/src/StaticWebAssetsLoader.cs
  src/Components/WebView/WebView/src/WebViewManager.cs
  src/Components/WebView/WebView/src/blazor.modules.json
  src/Components/WebView/WebView/src/buildTransitive/any/Microsoft.AspNetCore.Components.WebView.props
  src/Components/test/E2ETest/ServerExecutionTests/JsInitializersTest.cs
  src/Components/test/E2ETest/Tests/JsInitializersTest.cs
  src/Components/test/testassets/BasicTestApp/wwwroot/BasicTestApp.lib.module.js
  src/Components/test/testassets/TestContentPackage/ComponentFromPackage.razor
  src/Components/test/testassets/TestContentPackage/ComponentFromPackage.razor.js
  src/Hosting/Hosting/src/Microsoft.AspNetCore.Hosting.csproj
  src/Hosting/Hosting/src/StaticWebAssets/StaticWebAssetsLoader.cs
  src/Hosting/Hosting/src/StaticWebAssets/StaticWebAssetsReader.cs
  src/Hosting/Hosting/test/StaticWebAssets/ManifestStaticWebAssetsFileProviderTests.cs
  src/Hosting/Hosting/test/StaticWebAssets/StaticWebAssetsFileProviderTests.cs
  src/Hosting/Hosting/test/StaticWebAssets/StaticWebAssetsLoaderTests.cs
  src/Identity/test/Identity.FunctionalTests/Infrastructure/ServerFactory.cs
  src/Shared/StaticWebAssets/StaticWebAssetsFileProvider.cs
Labels: area-blazor

#35133 Fixes for internal runtime usage in build and PRs
  eng/SourceBuild.props
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#35401 Fix the HttpSys client disconnect race condition
  src/Servers/HttpSys/HttpSysServer.slnf
  src/Servers/HttpSys/src/RequestProcessing/RequestStreamAsyncResult.cs
  src/Servers/HttpSys/src/RequestProcessing/Response.cs
  src/Servers/HttpSys/test/FunctionalTests/ResponseTests.cs
Labels: area-runtime

#34882 Use AbortController polyfill even when global fetch is available
  src/SignalR/clients/ts/signalr/src/FetchHttpClient.ts
  src/SignalR/clients/ts/signalr/tests/FetchHttpClient.test.ts
Labels: area-signalr, community-contribution, pr: pending author input

#34427 [Spa] Try additional hooks to kill the application
  src/Middleware/Spa/SpaProxy/src/SpaProxyLaunchManager.cs
Labels: area-runtime

#35336 Add ability to modify UseRouting/UseEndpoint behavior for WebApplicationBuilder
  src/DefaultBuilder/src/WebApplication.cs
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
  src/Http/Routing/src/Builder/EndpointRoutingApplicationBuilderExtensions.cs
  src/Http/Routing/test/UnitTests/Builder/EndpointRoutingApplicationBuilderExtensionsTest.cs
Labels: area-runtime, feature-minimal-hosting, area-web-frameworks

#35011 Use PoolingAsyncValueTaskMethodBuilder on various ReadAsync methods.
  src/Servers/Kestrel/Core/src/Internal/Http/Http1ContentLengthMessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1UpgradeMessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3MessageBody.cs
  src/Shared/ServerInfrastructure/DuplexPipeStream.cs
Labels: area-runtime

#35188 Improve error messages for implicit and explicit FromBody attribute in Minimal API #35086
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
Labels: feature-minimal-actions, area-web-frameworks

#35425 Add FailureReasons
  src/Security/Authorization/Core/src/AuthorizationFailure.cs
  src/Security/Authorization/Core/src/AuthorizationFailureReason.cs
  src/Security/Authorization/Core/src/AuthorizationHandlerContext.cs
  src/Security/Authorization/Core/src/DefaultAuthorizationEvaluator.cs
  src/Security/Authorization/Core/src/PublicAPI.Unshipped.txt
  src/Security/Authorization/test/DefaultAuthorizationServiceTests.cs
  src/Security/Authorization/test/DenyAnonymousAuthorizationRequirementTests.cs
  src/Security/Authorization/test/NameAuthorizationRequirementTests.cs
  src/Security/Authorization/test/OperationAuthorizationRequirementTests.cs
  src/Security/Authorization/test/RolesAuthorizationRequirementTests.cs
  src/Security/samples/CustomAuthorizationFailureResponse/Authorization/Handlers/SampleWithFailureReasonRequirementHandler.cs
  src/Security/samples/CustomAuthorizationFailureResponse/Authorization/Requirements/SampleFailReasonRequirement.cs
  src/Security/samples/CustomAuthorizationFailureResponse/Authorization/SampleAuthorizationMiddlewareResultHandler.cs
  src/Security/samples/CustomAuthorizationFailureResponse/Authorization/SamplePolicyNames.cs
  src/Security/samples/CustomAuthorizationFailureResponse/Controllers/SampleController.cs
  src/Security/samples/CustomAuthorizationFailureResponse/Startup.cs
Labels: area-security

#35422 Fix SignalR TS unit tests not running on CI
  src/SignalR/clients/ts/client-ts.npmproj
  src/SignalR/clients/ts/jest.config.js
  src/SignalR/clients/ts/signalr/src/FetchHttpClient.ts
  src/SignalR/clients/ts/signalr/src/Utils.ts
  src/SignalR/clients/ts/signalr/tests/HttpConnection.test.ts
Labels: area-signalr, signalr-client-javascript

#35434 HTTP/3: Fix incorrectly pooling aborted streams
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionListenerTests.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicStreamContextTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
Labels: area-runtime

#35322 HTTP/3: Response drain timeout
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3ControlStream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/IHttp3Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/ITimeoutControl.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/TimeoutControl.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.FeatureCollection.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Quic.csproj
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionContextTests.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicStreamContextTests.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicTestHelpers.cs
  src/Servers/Kestrel/perf/Microbenchmarks/Microsoft.AspNetCore.Server.Kestrel.Microbenchmarks.csproj
  src/Servers/Kestrel/perf/Microbenchmarks/Mocks/MockTimeoutControl.cs
  src/Servers/Kestrel/shared/ConnectionCompletion.cs
  src/Servers/Kestrel/shared/test/Http3/Http3InMemory.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TimeoutTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TimeoutTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/InMemory.FunctionalTests.csproj
Labels: area-runtime

#35442 HTTP/3: Add tests for issue and unskip fixed tests
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
Labels: area-runtime

#35439 Set EndpointName and DisplayName given method name in endpoints
  src/Http/Routing/src/Builder/MinimalActionEndpointRouteBuilderExtensions.cs
  src/Http/Routing/src/Microsoft.AspNetCore.Routing.csproj
  src/Http/Routing/test/UnitTests/Builder/MinimalActionEndpointRouteBuilderExtensionsTest.cs
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/src/Microsoft.AspNetCore.Mvc.ApiExplorer.csproj
  src/Shared/RoslynUtils/GeneratedNameParser.cs
  src/Shared/RoslynUtils/TypeHelper.cs
Labels: Servicing-approved, ask-mode, area-web-frameworks

#35318 Binding support for 'bool' values with InputRadioGroup and InputSelect
  src/Components/Components.slnf
  src/Components/Web/src/Forms/InputExtensions.cs
  src/Components/Web/src/Forms/InputSelect.cs
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/test/E2ETest/Tests/FormsTest.cs
  src/Components/test/testassets/BasicTestApp/FormsTest/TypicalValidationComponent.razor
Labels: area-blazor

#35514 Fix AsyncEnumerableTest to actually test GetAllProjectsAsTask endpoint
  src/Mvc/test/Mvc.FunctionalTests/AsyncEnumerableTestBase.cs
Labels: area-mvc, community-contribution

#35480 Add an analyzer that complains when using using model binding attributes with a minimal action delegate (#35359)
  AspNetCore.sln
  eng/Versions.props
  src/Analyzers/Analyzers/src/StartupAnalysisBuilder.cs
  src/Analyzers/Analyzers/src/StartupAnalyzer.Diagnostics.cs
  src/Analyzers/Microsoft.AspNetCore.Analyzer.Testing/src/TestSource.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Framework/Analyzer/src/Microsoft.AspNetCore.App.Analyzers.csproj
  src/Framework/Analyzer/src/MinimalActions/DiagnosticDescriptors.cs
  src/Framework/Analyzer/src/MinimalActions/DisallowMvcBindArgumentsOnParameters.cs
  src/Framework/Analyzer/src/MinimalActions/MinimalActionAnalyzer.cs
  src/Framework/Analyzer/src/MinimalActions/WellKnownTypes.cs
  src/Framework/Analyzer/test/Microsoft.AspNetCore.App.Analyzers.Test.csproj
  src/Framework/Analyzer/test/MinimalActions/DisallowMvcBindArgumentsOnParametersTest.cs
  src/Framework/Analyzer/test/TestDiagnosticAnalyzer.cs
  src/Framework/Analyzer/test/xunit.runner.json
  src/Framework/App.Ref/src/Microsoft.AspNetCore.App.Ref.csproj
  src/Framework/Framework.slnf
  src/Mvc/Mvc.Analyzers/src/DiagnosticDescriptors.cs
  src/Mvc/Mvc.Analyzers/src/Microsoft.AspNetCore.Mvc.Analyzers.csproj
  src/Mvc/Mvc.Api.Analyzers/src/ApiDiagnosticDescriptors.cs
  src/Mvc/Mvc.Api.Analyzers/src/Microsoft.AspNetCore.Mvc.Api.Analyzers.csproj
  src/Shared/Roslyn/CodeAnalysisExtensions.cs
Labels: Servicing-approved

#35512 Exclude identityserver readme.txt when not used
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/template.json
Labels: area-mvc

#35496 Added support for type based parameter binding
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Http.Extensions/test/TryParseMethodCacheTests.cs
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
  src/Shared/TryParseMethodCache.cs
Labels: feature-minimal-actions, area-web-frameworks

#35537 Set HttpSys read error log levels to debug
  src/Servers/HttpSys/src/RequestProcessing/RequestStream.Log.cs
Labels: area-runtime

#35535 Added support for type based parameter binding (#35496)
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Http.Extensions/test/TryParseMethodCacheTests.cs
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
  src/Shared/TryParseMethodCache.cs
Labels: Servicing-approved, feature-minimal-actions

#35534 Merge internal commits for 2.1.30
  eng/PatchConfig.props
  src/Azure/AzureAD/Authentication.AzureAD.UI/test/Microsoft.AspNetCore.Authentication.AzureAD.UI.Test.csproj
  src/Azure/AzureAD/Authentication.AzureADB2C.UI/test/Microsoft.AspNetCore.Authentication.AzureADB2C.UI.Test.csproj
  src/Azure/AzureAD/test/FunctionalTests/Microsoft.AspNetCore.Authentication.AzureAD.FunctionalTests.csproj
  src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs
Labels: area-infrastructure

#35532 Throw when unsupported HTTPS options are set for HTTP/3
  src/Servers/Kestrel/Core/src/ListenOptionsHttpsExtensions.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3TlsTests.cs
Labels: area-runtime, HTTP3

#35526 [release/6.0-rc1] Treat reference type parameters in oblivious nullability context as optional
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
Labels: Servicing-approved, ask-mode, area-web-frameworks

#35559 Paint it green
  .azure/pipelines/components-e2e-tests.yml
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#35418 Cancel the token when it's created after an Abort/Disconnect
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.cs
  src/Servers/HttpSys/test/FunctionalTests/RequestTests.cs
Labels: area-runtime

#35563 Treat reference type parameters in oblivious nullability context as optional (#35526)
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
Labels: area-web-frameworks

#35523 [release/6.0-rc1] Binding support for 'bool' values with InputRadioGroup and InputSelect
  eng/scripts/CodeCheck.ps1
  src/Components/Components.slnf
  src/Components/Web/src/Forms/InputExtensions.cs
  src/Components/Web/src/Forms/InputSelect.cs
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/test/E2ETest/Tests/FormsTest.cs
  src/Components/test/testassets/BasicTestApp/FormsTest/TypicalValidationComponent.razor
Labels: Servicing-approved, area-blazor

#35557 Fix SignalR TS unit test that was hitting the network
  src/SignalR/clients/ts/signalr/tests/HttpConnection.test.ts
Labels: area-signalr, signalr-client-javascript

#35230 Improve Minimal APIs support for request media types #35082
  src/Http/Http.Abstractions/src/Metadata/IAcceptsMetadata.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Abstractions/src/RequestDelegateResult.cs
  src/Http/Http.Extensions/src/Microsoft.AspNetCore.Http.Extensions.csproj
  src/Http/Http.Extensions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Routing/src/Builder/MinimalActionEndpointRouteBuilderExtensions.cs
  src/Http/Routing/src/DependencyInjection/RoutingServiceCollectionExtensions.cs
  src/Http/Routing/src/Matching/AcceptsMatcherPolicy.cs
  src/Http/Routing/src/Microsoft.AspNetCore.Routing.csproj
  src/Http/Routing/test/UnitTests/Matching/AcceptsMatcherPolicyTest.cs
  src/Http/Routing/test/UnitTests/Microsoft.AspNetCore.Routing.Tests.csproj
  src/Mvc/Mvc.ApiExplorer/src/DefaultApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
  src/Mvc/Mvc.Core/src/ApiExplorer/IApiRequestMetadataProvider.cs
  src/Mvc/Mvc.Core/src/Builder/OpenApiEndpointConventionBuilderExtensions.cs
  src/Mvc/Mvc.Core/src/ConsumesAttribute.cs
  src/Mvc/Mvc.Core/src/DependencyInjection/MvcCoreServiceCollectionExtensions.cs
  src/Mvc/Mvc.Core/src/Formatters/AcceptHeaderParser.cs
  src/Mvc/Mvc.Core/src/Formatters/HttpParseResult.cs
  src/Mvc/Mvc.Core/src/Formatters/HttpTokenParsingRules.cs
  src/Mvc/Mvc.Core/src/Formatters/MediaType.cs
  src/Mvc/Mvc.Core/src/Microsoft.AspNetCore.Mvc.Core.csproj
  src/Mvc/Mvc.Core/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Core/src/Routing/ActionEndpointFactory.cs
  src/Mvc/Mvc.Core/src/Routing/ConsumesMatcherPolicy.cs
  src/Mvc/Mvc.Core/src/Routing/ConsumesMetadata.cs
  src/Mvc/Mvc.Core/src/Routing/IConsumesMetadata.cs
  src/Mvc/Mvc.Core/test/DependencyInjection/MvcCoreServiceCollectionExtensionsTest.cs
  src/Mvc/test/Mvc.FunctionalTests/SimpleWithWebApplicationBuilderTests.cs
  src/Mvc/test/WebSites/SimpleWebSiteWithWebApplicationBuilder/Program.cs
  src/Shared/MediaType/HttpTokenParsingRule.cs
  src/Shared/MediaType/ReadOnlyMediaTypeHeaderValue.cs
  src/Shared/RoutingMetadata/AcceptsMetadata.cs
Labels: feature-minimal-actions, area-web-frameworks

#35570 Minimal APIs naming cleanup
  src/Framework/Analyzer/src/DelegateEndpoints/DelegateEndpointAnalyzer.cs
  src/Framework/Analyzer/src/DelegateEndpoints/DiagnosticDescriptors.cs
  src/Framework/Analyzer/src/DelegateEndpoints/DisallowMvcBindArgumentsOnParameters.cs
  src/Framework/Analyzer/src/DelegateEndpoints/WellKnownTypes.cs
  src/Http/Http.Extensions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Routing/src/Builder/DelegateEndpointConventionBuilder.cs
  src/Http/Routing/src/Builder/DelegateEndpointRouteBuilderExtensions.cs
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/test/FunctionalTests/DelegateEndpointTest.cs
  src/Http/Routing/test/FunctionalTests/Microsoft.AspNetCore.Routing.FunctionalTests.csproj
  src/Http/Routing/test/UnitTests/Builder/DelegateEndpointRouteBuilderExtensionsTest.cs
  src/Mvc/Mvc.Core/src/Builder/OpenApiEndpointConventionBuilderExtensions.cs
  src/Mvc/Mvc.Core/src/PublicAPI.Unshipped.txt
Labels: area-runtime

#35579 Improve Minimal APIs support for request media types #35082 (#35230)
  src/Http/Http.Abstractions/src/Metadata/IAcceptsMetadata.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Abstractions/src/RequestDelegateResult.cs
  src/Http/Http.Extensions/src/Microsoft.AspNetCore.Http.Extensions.csproj
  src/Http/Http.Extensions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Routing/src/Builder/MinimalActionEndpointRouteBuilderExtensions.cs
  src/Http/Routing/src/DependencyInjection/RoutingServiceCollectionExtensions.cs
  src/Http/Routing/src/Matching/AcceptsMatcherPolicy.cs
  src/Http/Routing/src/Microsoft.AspNetCore.Routing.csproj
  src/Http/Routing/test/UnitTests/Matching/AcceptsMatcherPolicyTest.cs
  src/Http/Routing/test/UnitTests/Microsoft.AspNetCore.Routing.Tests.csproj
  src/Mvc/Mvc.ApiExplorer/src/DefaultApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
  src/Mvc/Mvc.Core/src/ApiExplorer/IApiRequestMetadataProvider.cs
  src/Mvc/Mvc.Core/src/Builder/OpenApiEndpointConventionBuilderExtensions.cs
  src/Mvc/Mvc.Core/src/ConsumesAttribute.cs
  src/Mvc/Mvc.Core/src/DependencyInjection/MvcCoreServiceCollectionExtensions.cs
  src/Mvc/Mvc.Core/src/Formatters/AcceptHeaderParser.cs
  src/Mvc/Mvc.Core/src/Formatters/HttpParseResult.cs
  src/Mvc/Mvc.Core/src/Formatters/HttpTokenParsingRules.cs
  src/Mvc/Mvc.Core/src/Formatters/MediaType.cs
  src/Mvc/Mvc.Core/src/Microsoft.AspNetCore.Mvc.Core.csproj
  src/Mvc/Mvc.Core/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Core/src/Routing/ActionEndpointFactory.cs
  src/Mvc/Mvc.Core/src/Routing/ConsumesMatcherPolicy.cs
  src/Mvc/Mvc.Core/src/Routing/ConsumesMetadata.cs
  src/Mvc/Mvc.Core/src/Routing/IConsumesMetadata.cs
  src/Mvc/Mvc.Core/test/DependencyInjection/MvcCoreServiceCollectionExtensionsTest.cs
  src/Mvc/test/Mvc.FunctionalTests/SimpleWithWebApplicationBuilderTests.cs
  src/Mvc/test/WebSites/SimpleWebSiteWithWebApplicationBuilder/Program.cs
  src/Shared/MediaType/HttpTokenParsingRule.cs
  src/Shared/MediaType/ReadOnlyMediaTypeHeaderValue.cs
  src/Shared/RoutingMetadata/AcceptsMetadata.cs
Labels: Servicing-approved

#35581 Remove null check for HttpContext
  src/Middleware/HttpLogging/src/W3CLoggingMiddleware.cs
Labels: area-runtime, community-contribution

#35572 Complain when returning IActionResult from MinimalAction
  src/Framework/Analyzer/src/DelegateEndpoints/DelegateEndpointAnalyzer.cs
  src/Framework/Analyzer/src/DelegateEndpoints/DiagnosticDescriptors.cs
  src/Framework/Analyzer/src/DelegateEndpoints/DisallowReturningActionResultFromMapMethods.cs
  src/Framework/Analyzer/src/DelegateEndpoints/WellKnownTypes.cs
  src/Framework/Analyzer/test/Microsoft.AspNetCore.App.Analyzers.Test.csproj
  src/Framework/Analyzer/test/MinimalActions/DisallowMvcBindArgumentsOnParametersTest.cs
  src/Framework/Analyzer/test/MinimalActions/DisallowReturningActionResultsFromMapMethodsTest.cs
  src/Framework/Analyzer/test/TestDiagnosticAnalyzer.cs
  src/Framework/Framework.slnf
Labels: feature-minimal-actions, area-web-frameworks

#35505 Reliability improvement for input date E2E tests
  src/Components/test/E2ETest/ServerExecutionTests/CircuitGracefulTerminationTests.cs
  src/Components/test/E2ETest/Tests/ComponentRenderingTestBase.cs
  src/Components/test/E2ETest/Tests/FormsTest.cs
  src/Components/test/testassets/BasicTestApp/ElementFocusComponent.razor
Labels: area-blazor

#35571 Add support for Results extension point
  src/Http/Http.Extensions/test/Microsoft.AspNetCore.Http.Extensions.Tests.csproj
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Http.Results/src/IResultExtensions.cs
  src/Http/Http.Results/src/PublicAPI.Unshipped.txt
  src/Http/Http.Results/src/ResultExtensions.cs
  src/Http/Http.Results/src/Results.cs
Labels: area-runtime

#35620 Apply API feedback for authorization failure
  src/Security/Authorization/Core/src/AuthorizationFailure.cs
  src/Security/Authorization/Core/src/AuthorizationFailureReason.cs
  src/Security/Authorization/Core/src/PublicAPI.Unshipped.txt
  src/Security/Authorization/test/DefaultAuthorizationServiceTests.cs
  src/Security/samples/CustomAuthorizationFailureResponse/Authorization/SampleAuthorizationMiddlewareResultHandler.cs
Labels: area-security, community-contribution

#35623 Update docker container to mcr
  eng/docker/bionic.Dockerfile
Labels: area-infrastructure
