Repository dotnet/aspnetcore, pull requests merged in 2021-06, with the labels that each got.

#32602 Remove static content.
  src/Razor/perf/Microbenchmarks/MSN.cshtml
Labels: area-mvc

#33184 Update SeleniumWebDriverChromeDriverVersion
  eng/Versions.props
Labels: area-infrastructure

#33131 Get App.Runtime builds working better in VS
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-infrastructure

#33186 Quarantine failing test ThrowsWhenBindingLocalhostToIPv4AddressInUse
  src/Servers/Kestrel/test/BindTests/AddressRegistrationTests.cs
Labels: area-runtime

#33178 Update repo root relative path in build.cmd and build.sh
  src/FileProviders/Embedded/build.cmd
  src/FileProviders/Embedded/build.sh
Labels: area-infrastructure, community-contribution

#33189 Update comments in AddPolicyRegistry methods
  src/HttpClientFactory/Polly/src/DependencyInjection/PollyServiceCollectionExtensions.cs
Labels: area-runtime, community-contribution

#33198 [release/5.0] Rebrand for v5.0.8 and get builds working
  eng/Versions.props
  src/Security/Authentication/test/CertificateTests.cs
  src/Security/Authentication/test/TestCertificates/selfSignedNoEkuCertificateExpired.cer
  src/Security/Authentication/test/TestCertificates/selfSignedNoEkuCertificateNotValidYet.cer
  src/Security/Authentication/test/TestCertificates/validSelfSignedClientEkuCertificate.cer
  src/Security/Authentication/test/TestCertificates/validSelfSignedNoEkuCertificate.cer
  src/Security/Authentication/test/TestCertificates/validSelfSignedPrimaryRootCertificate.cer
  src/Security/Authentication/test/TestCertificates/validSelfSignedServerEkuCertificate.cer
  src/Security/Authentication/test/TestCertificates/validSignedClientCertificate.cer
  src/Security/Authentication/test/TestCertificates/validSignedSecondaryRootCertificate.cer
  src/Shared/E2ETesting/selenium-config.json
  src/Shared/test/Certificates/selfSignedNoEkuCertificateNotValidYet.cer
Labels: area-infrastructure, tell-mode

#32478 [5.0] HTTP/2: Ignore additional RST_STREAM frames sent to stream
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: Servicing-approved, area-runtime

#32475 Explicitly set packable for spec tests
  src/Identity/Specification.Tests/src/Microsoft.AspNetCore.Identity.Specification.Tests.csproj
Labels: Servicing-approved, area-identity

#33202 Update E2E testing error message
  src/Shared/E2ETesting/E2ETesting.targets
Labels: area-infrastructure

#33205 Quarantine AddressRegistrationTests
  src/Servers/Kestrel/test/BindTests/AddressRegistrationTests.cs
Labels: area-runtime

#33059 Add nullable annotations to more MVC projects
  src/Mvc/Mvc.Abstractions/src/ApiExplorer/ApiDescription.cs
  src/Mvc/Mvc.Abstractions/src/Microsoft.AspNetCore.Mvc.Abstractions.csproj
  src/Mvc/Mvc.Abstractions/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Analyzers/src/Microsoft.AspNetCore.Mvc.Analyzers.csproj
  src/Mvc/Mvc.Api.Analyzers/src/Microsoft.AspNetCore.Mvc.Api.Analyzers.csproj
  src/Mvc/Mvc.ApiExplorer/src/ApiDescriptionExtensions.cs
  src/Mvc/Mvc.ApiExplorer/src/ApiDescriptionGroup.cs
  src/Mvc/Mvc.ApiExplorer/src/ApiDescriptionGroupCollectionProvider.cs
  src/Mvc/Mvc.ApiExplorer/src/ApiResponseTypeProvider.cs
  src/Mvc/Mvc.ApiExplorer/src/DefaultApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/src/Microsoft.AspNetCore.Mvc.ApiExplorer.csproj
  src/Mvc/Mvc.ApiExplorer/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Formatters.Xml/src/DelegatingEnumerable.cs
  src/Mvc/Mvc.Formatters.Xml/src/DelegatingEnumerator.cs
  src/Mvc/Mvc.Formatters.Xml/src/EnumerableWrapperProvider.cs
  src/Mvc/Mvc.Formatters.Xml/src/EnumerableWrapperProviderFactory.cs
  src/Mvc/Mvc.Formatters.Xml/src/IWrapperProvider.cs
  src/Mvc/Mvc.Formatters.Xml/src/IWrapperProviderFactory.cs
  src/Mvc/Mvc.Formatters.Xml/src/Microsoft.AspNetCore.Mvc.Formatters.Xml.csproj
  src/Mvc/Mvc.Formatters.Xml/src/ModelBinding/DataMemberRequiredBindingMetadataProvider.cs
  src/Mvc/Mvc.Formatters.Xml/src/ProblemDetailsWrapper.cs
  src/Mvc/Mvc.Formatters.Xml/src/ProblemDetailsWrapperProviderFactory.cs
  src/Mvc/Mvc.Formatters.Xml/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Formatters.Xml/src/SerializableErrorWrapper.cs
  src/Mvc/Mvc.Formatters.Xml/src/SerializableErrorWrapperProvider.cs
  src/Mvc/Mvc.Formatters.Xml/src/SerializableErrorWrapperProviderFactory.cs
  src/Mvc/Mvc.Formatters.Xml/src/WrapperProviderFactoriesExtensions.cs
  src/Mvc/Mvc.Formatters.Xml/src/XmlDataContractSerializerInputFormatter.cs
  src/Mvc/Mvc.Formatters.Xml/src/XmlDataContractSerializerOutputFormatter.cs
  src/Mvc/Mvc.Formatters.Xml/src/XmlSerializerInputFormatter.cs
  src/Mvc/Mvc.Formatters.Xml/src/XmlSerializerOutputFormatter.cs
  src/Mvc/Mvc.Localization/src/Microsoft.AspNetCore.Mvc.Localization.csproj
  src/Mvc/Mvc/src/DesignTimeMvcServiceCollectionProvider.cs
  src/Mvc/Mvc/src/Microsoft.AspNetCore.Mvc.csproj
  src/Mvc/Mvc/src/MvcServiceCollectionExtensions.cs
  src/Mvc/Mvc/src/PublicAPI.Unshipped.txt
Labels: area-mvc

#33207 Fewer static Sockets
  src/Servers/Kestrel/test/Sockets.BindTests/SocketTransportOptionsTests.cs
Labels: area-runtime, auto-merge

#33219 Update FileBufferingReadStream.Length documentation
  src/Http/WebUtilities/src/FileBufferingReadStream.cs
Labels: area-runtime, community-contribution

#33127 Update the Blazor WebAssembly app name to match the server
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/template.json
Labels: area-blazor, area-mvc, blazor-wasm

#33120 Refactor TLS result reporting
  src/Servers/Kestrel/Core/src/Internal/TlsConnectionFeature.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
Labels: area-runtime

#32818 Unquarantine `SignalRClientWorksWithLongPolling`
  src/Components/test/E2ETest/Tests/SignalRClientTest.cs
Labels: area-blazor

#33236 Add Bash scripts for launching VS Code with activated env
  src/Antiforgery/startvscode.sh
  src/Azure/startvscode.sh
  src/Caching/startvscode.sh
  src/Components/startvscode.sh
  src/DataProtection/startvscode.sh
  src/Mvc/startvscode.sh
  startvscode.sh
Labels: area-infrastructure

#33238 Use UnsafeAllocateNativeOverlapped to avoid execution context capture
  src/Servers/HttpSys/src/NativeInterop/DisconnectListener.cs
Labels: area-runtime

#32849 Switch to CreateAsyncScope
  src/Components/Components/src/OwningComponentBase.cs
  src/Components/Server/src/Circuits/CircuitFactory.cs
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/Server/test/Circuits/CircuitHostTest.cs
  src/Components/Server/test/Circuits/TestCircuitHost.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHost.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/WebView/WebView/src/PageContext.cs
  src/Components/WebView/WebView/src/WebViewManager.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionContext.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
Labels: area-blazor, area-signalr

#33249 fix: typo - BuildRequstDelegate => BuildRequestDelegate
  src/DefaultBuilder/src/WebApplication.cs
  src/DefaultBuilder/src/WebApplicationBuilder.cs
Labels: area-runtime, community-contribution

#33256 Fix build break
  src/Components/Server/test/Circuits/CircuitHostTest.cs
Labels: area-blazor

#32790 Arcade powered source build
  .azure/pipelines/ci.yml
  Directory.Build.props
  eng/Build.props
  eng/Common.props
  eng/SourceBuild.props
  eng/Versions.props
  eng/build.sh
  eng/scripts/ci-source-build.sh
  eng/scripts/prepare-sourcebuild-globaljson.sh
  eng/source-build-patches/0002-Conditionally-set-PackAsToolShimRID.patch
  eng/source-build-patches/0003-Exclude-some-projects-from-source-build.patch
  eng/source-build-patches/0004-Remove-Yarn-dependency-not-used-in-source-build.patch
  eng/source-build-patches/0005-Revert-to-reference-versions-of-source-built-package.patch
  eng/source-build-patches/0006-Add-FreeBSD.patch
  eng/source-build-patches/0007-Support-global.json-on-arm64-as-well.patch
  eng/source-build-patches/0008-use-sourcebuildRID-to-find-clrjit.patch
  eng/source-build-patches/0011-Fix-a-couple-issues.patch
  eng/source-build-patches/0012-Don-t-warn-on-CA1416.patch
  eng/source-build-patches/0013-Use-source-built-NuGet-for-repo-tasks.patch
  eng/source-build-patches/0017-Emit-RepoTasks.binlog.patch
  eng/tools/RepoTasks/RepoTasks.csproj
Labels: area-infrastructure

#32887 Raise Change Events on data change in KeyPerFileConfigurationProvider
  src/Configuration.KeyPerFile/src/KeyPerFileConfigurationProvider.cs
  src/Configuration.KeyPerFile/test/KeyPerFileTests.cs
Labels: area-runtime, community-contribution

#33253 Use longer timeouts in some Kestrel functional tests
  src/Servers/Kestrel/test/FunctionalTests/ResponseTests.cs
Labels: area-runtime, auto-merge

#33267 Remove ServerComponentRenderingTest.CanDispatchAsyncWorkToSyncContext
  src/Components/test/E2ETest/ServerExecutionTests/ServerComponentRenderingTest.cs
  src/Components/test/E2ETest/Tests/ComponentRenderingTest.cs
  src/Components/test/E2ETest/Tests/ComponentRenderingTestBase.cs
Labels: area-blazor

#33263 Avoid null refs in HotReloadAgent when accessing Assembly.Modules
  src/Components/WebAssembly/WebAssembly/src/HotReload/HotReloadAgent.cs
Labels: area-blazor

#33098 Added instructions to the documentation for forking the main repo.
  docs/BuildFromSource.md
Labels: area-infrastructure, community-contribution

#33201 [release/5.0] Expose all references when not restoring
  eng/targets/ResolveReferences.targets
  src/Components/Ignitor/src/Ignitor.csproj
  src/Components/Ignitor/test/Ignitor.Test.csproj
  src/Components/WebAssembly/testassets/HostedInAspNet.Server/HostedInAspNet.Server.csproj
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Wasm.Authentication.Server.csproj
  src/DataProtection/DataProtection/src/Microsoft.AspNetCore.DataProtection.csproj
  src/DataProtection/EntityFrameworkCore/test/Microsoft.AspNetCore.DataProtection.EntityFrameworkCore.Test.csproj
  src/DataProtection/StackExchangeRedis/test/Microsoft.AspNetCore.DataProtection.StackExchangeRedis.Tests.csproj
  src/DataProtection/samples/EntityFrameworkCoreSample/EntityFrameworkCoreSample.csproj
  src/DataProtection/samples/Redis/Redis.csproj
  src/Identity/ApiAuthorization.IdentityServer/samples/ApiAuthSample/ApiAuthSample.csproj
  src/Identity/EntityFrameworkCore/test/EF.InMemory.Test/Microsoft.AspNetCore.Identity.EntityFrameworkCore.InMemory.Test.csproj
  src/Identity/EntityFrameworkCore/test/EF.Test/Microsoft.AspNetCore.Identity.EntityFrameworkCore.Test.csproj
  src/Identity/Extensions.Core/src/Microsoft.Extensions.Identity.Core.csproj
  src/Identity/samples/IdentitySample.DefaultUI/IdentitySample.DefaultUI.csproj
  src/Identity/samples/IdentitySample.Mvc/IdentitySample.Mvc.csproj
  src/Identity/testassets/Identity.DefaultUI.WebSite/Identity.DefaultUI.WebSite.csproj
  src/JSInterop/Microsoft.JSInterop/src/Microsoft.JSInterop.csproj
  src/Logging.AzureAppServices/src/Microsoft.Extensions.Logging.AzureAppServices.csproj
  src/Middleware/Diagnostics.EntityFrameworkCore/test/FunctionalTests/Diagnostics.EFCore.FunctionalTests.csproj
  src/Middleware/Diagnostics.EntityFrameworkCore/test/UnitTests/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.Tests.csproj
  src/Middleware/Diagnostics/test/testassets/DatabaseErrorPageSample/DatabaseErrorPageSample.csproj
  src/Middleware/HealthChecks.EntityFrameworkCore/test/Microsoft.Extensions.Diagnostics.HealthChecks.EntityFrameworkCore.Tests.csproj
  src/Middleware/HealthChecks/test/testassets/HealthChecksSample/HealthChecksSample.csproj
  src/Razor/Microsoft.NET.Sdk.Razor/src/Microsoft.NET.Sdk.Razor.csproj
  src/Security/samples/Identity.ExternalClaims/Identity.ExternalClaims.csproj
  src/Servers/Connections.Abstractions/src/Microsoft.AspNetCore.Connections.Abstractions.csproj
  src/SignalR/clients/csharp/Http.Connections.Client/src/Microsoft.AspNetCore.Http.Connections.Client.csproj
  src/SignalR/clients/ts/FunctionalTests/SignalR.Client.FunctionalTestApp.csproj
  src/SignalR/common/Http.Connections.Common/src/Microsoft.AspNetCore.Http.Connections.Common.csproj
  src/SignalR/common/SignalR.Common/src/Microsoft.AspNetCore.SignalR.Common.csproj
  src/SignalR/common/testassets/Tests.Utils/Microsoft.AspNetCore.SignalR.Tests.Utils.csproj
  src/SignalR/samples/ClientSample/ClientSample.csproj
  src/SignalR/samples/JwtClientSample/JwtClientSample.csproj
  src/SignalR/samples/SignalRSamples/SignalRSamples.csproj
  src/SignalR/server/Specification.Tests/src/Microsoft.AspNetCore.SignalR.Specification.Tests.csproj
  src/Testing/src/Microsoft.AspNetCore.Testing.csproj
  src/Testing/test/Microsoft.AspNetCore.Testing.Tests.csproj
  src/WebEncoders/src/Microsoft.Extensions.WebEncoders.csproj
Labels: area-infrastructure, blocked, tell-mode

#33164 Harmonize HttpClient creation in SpaProxyLaunchManager
  src/Middleware/Spa/SpaProxy/src/SpaProxyLaunchManager.cs
Labels: area-runtime, community-contribution

#33272 Remove reactredux template baseline
  src/ProjectTemplates/test/template-baselines.json
Labels: area-mvc

#33125 Create WebView2 abstraction for sharing code between ASP.NET Core and .NET MAUI
  src/Components/WebView/Platforms/WebView2/src/CoreWebView2WebResourceContextWrapper.cs
  src/Components/WebView/Platforms/WebView2/src/ICoreWebView2AcceleratorKeyPressedEventArgsWrapper.cs
  src/Components/WebView/Platforms/WebView2/src/ICoreWebView2SettingsWrapper.cs
  src/Components/WebView/Platforms/WebView2/src/ICoreWebView2WebResourceRequestWrapper.cs
  src/Components/WebView/Platforms/WebView2/src/ICoreWebView2WebResourceRequestedEventArgsWrapper.cs
  src/Components/WebView/Platforms/WebView2/src/ICoreWebView2Wrapper.cs
  src/Components/WebView/Platforms/WebView2/src/IWebView2Wrapper.cs
  src/Components/WebView/Platforms/WebView2/src/Microsoft.AspNetCore.Components.WebView.WebView2.csproj
  src/Components/WebView/Platforms/WebView2/src/PublicAPI.Unshipped.txt
  src/Components/WebView/Platforms/WebView2/src/WebMessageReceivedEventArgs.cs
  src/Components/WebView/Platforms/WebView2/src/WebView2WebViewManager.cs
  src/Components/WebView/Platforms/WindowsForms/src/Microsoft.AspNetCore.Components.WebView.WindowsForms.csproj
  src/Components/WebView/Platforms/WindowsForms/src/RootComponent.cs
  src/Components/WebView/Platforms/WindowsForms/src/WindowsFormsCoreWebView2AcceleratorKeyPressedEventArgsWrapper.cs
  src/Components/WebView/Platforms/WindowsForms/src/WindowsFormsCoreWebView2SettingsWrapper.cs
  src/Components/WebView/Platforms/WindowsForms/src/WindowsFormsCoreWebView2WebResourceRequestWrapper.cs
  src/Components/WebView/Platforms/WindowsForms/src/WindowsFormsCoreWebView2WebResourceRequestedEventArgsWrapper.cs
  src/Components/WebView/Platforms/WindowsForms/src/WindowsFormsCoreWebView2Wrapper.cs
  src/Components/WebView/Platforms/WindowsForms/src/WindowsFormsWebView2Wrapper.cs
  src/Components/WebView/Platforms/Wpf/src/BlazorWebView.cs
  src/Components/WebView/Platforms/Wpf/src/Microsoft.AspNetCore.Components.WebView.Wpf.csproj
  src/Components/WebView/Platforms/Wpf/src/WpfCoreWebView2AcceleratorKeyPressedEventArgsWrapper.cs
  src/Components/WebView/Platforms/Wpf/src/WpfCoreWebView2SettingsWrapper.cs
  src/Components/WebView/Platforms/Wpf/src/WpfCoreWebView2WebResourceRequestWrapper.cs
  src/Components/WebView/Platforms/Wpf/src/WpfCoreWebView2WebResourceRequestedEventArgsWrapper.cs
  src/Components/WebView/Platforms/Wpf/src/WpfCoreWebView2Wrapper.cs
  src/Components/WebView/Platforms/Wpf/src/WpfWebView2Wrapper.cs
Labels: area-blazor

#33015 Blazor Byte Array Interop Support
  src/Components/Server/src/BlazorPack/BlazorPackHubProtocolWorker.cs
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/Server/src/Circuits/RemoteJSRuntime.cs
  src/Components/Server/src/ComponentHub.cs
  src/Components/Server/test/Circuits/CircuitHostTest.cs
  src/Components/Server/test/Circuits/TestCircuitHost.cs
  src/Components/Shared/src/ArrayBuilder.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Boot.Server.ts
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/Boot.WebView.ts
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/Web.JS/src/InputFile.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/Web.JS/src/Platform/Platform.ts
  src/Components/Web.JS/src/Platform/WebView/WebViewIpcReceiver.ts
  src/Components/Web.JS/src/Platform/WebView/WebViewIpcSender.ts
  src/Components/WebAssembly/JSInterop/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/JSInterop/src/WebAssemblyJSRuntime.cs
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.WarningSuppressions.xml
  src/Components/WebAssembly/WebAssembly/src/Services/DefaultWebAssemblyJSRuntime.cs
  src/Components/test/E2ETest/Tests/InputFileTest.cs
  src/Components/test/E2ETest/Tests/InteropTest.cs
  src/Components/test/testassets/BasicTestApp/FormsTest/InputFileComponent.razor
  src/Components/test/testassets/BasicTestApp/InteropComponent.razor
  src/Components/test/testassets/BasicTestApp/InteropTest/ByteArrayInterop.cs
  src/Components/test/testassets/BasicTestApp/wwwroot/js/jsinteroptests.js
  src/JSInterop/Microsoft.JSInterop.JS/src/src/Microsoft.JSInterop.ts
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/ByteArrayJsonConverter.cs
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/DotNetDispatcher.cs
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/DotNetObjectReferenceJsonConverter.cs
  src/JSInterop/Microsoft.JSInterop/src/JSInProcessRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/JSRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/Microsoft.JSInterop.WarningSuppressions.xml
  src/JSInterop/Microsoft.JSInterop/src/Microsoft.JSInterop.csproj
  src/JSInterop/Microsoft.JSInterop/src/PublicAPI.Unshipped.txt
  src/JSInterop/Microsoft.JSInterop/test/Infrastructure/ByteArrayJsonConverterTest.cs
  src/JSInterop/Microsoft.JSInterop/test/Infrastructure/DotNetDispatcherTest.cs
  src/JSInterop/Microsoft.JSInterop/test/Infrastructure/DotNetObjectReferenceJsonConverterTest.cs
  src/JSInterop/Microsoft.JSInterop/test/JSRuntimeTest.cs
  src/JSInterop/Microsoft.JSInterop/test/TestJSRuntime.cs
Labels: area-blazor

#33289 Quarantine flaky test
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/InProcess/AppOfflineIISExpressTests.cs
Labels: area-runtime, auto-merge

#33271 Change the log level of JwtBearer TokenValidationSucceeded to Debug
  src/Security/Authentication/JwtBearer/src/LoggingExtensions.cs
Labels: area-security, community-contribution

#31180 Add IActivityFeature
  src/Hosting/Hosting/src/Internal/ActivityFeature.cs
  src/Hosting/Hosting/src/Internal/HostingApplication.cs
  src/Hosting/Hosting/src/Internal/HostingApplicationDiagnostics.cs
  src/Hosting/Hosting/test/HostingApplicationTests.cs
  src/Http/Http/src/Features/IHttpActivityFeature.cs
  src/Http/Http/src/PublicAPI.Unshipped.txt
  src/Servers/IIS/IIS/src/Core/IISHttpContext.FeatureCollection.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.Features.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.Generated.cs
  src/Servers/Kestrel/tools/CodeGenerator/HttpProtocolFeatureCollection.cs
Labels: api-approved, area-runtime

#33277 Removed an invalid statement about VS for macOS.
  docs/BuildFromSource.md
Labels: area-infrastructure, community-contribution

#33299 Unquarantine test
  src/Components/test/E2ETest/Tests/FormsTest.cs
Labels: area-blazor, auto-merge

#33322 Replace links to dotnet/extentions with link to dotnet/runtime
  CONTRIBUTING.md
  README.md
Labels: area-infrastructure, community-contribution

#33329 Fix several typos in code comments.
  src/Components/WebAssembly/WebAssembly/src/Services/LazyAssemblyLoader.cs
  src/DataProtection/DataProtection/src/Internal/ContainerUtils.cs
  src/Hosting/Hosting/src/Internal/WebHostLifetime.cs
  src/Http/Headers/src/HeaderUtilities.cs
  src/Http/Http.Abstractions/src/ICorsMetadata.cs
  src/Http/Http.Abstractions/src/QueryString.cs
  src/Http/Http.Abstractions/src/Routing/IRouteValuesFeature.cs
  src/Http/Http.Extensions/src/UriHelper.cs
  src/Http/Http.Features/src/WebSocketAcceptContext.cs
  src/Http/Http/src/StreamResponseBodyFeature.cs
  src/Http/Routing.Abstractions/src/IRouter.cs
  src/Http/Routing/src/ISuppressLinkGenerationMetadata.cs
  src/Http/Routing/src/ISuppressMatchingMetadata.cs
  src/Http/Routing/src/InlineRouteParameterParser.cs
  src/Http/Routing/src/Matching/Candidate.cs
  src/Http/Routing/src/Matching/CandidateSet.cs
  src/Http/Routing/src/Matching/DfaMatcherBuilder.cs
  src/Http/Routing/src/Matching/HttpMethodMatcherPolicy.cs
  src/Http/Routing/src/Matching/ILEmitTrieFactory.cs
  src/Http/Routing/src/PathTokenizer.cs
  src/Http/Routing/src/Patterns/RouteParameterParser.cs
  src/Http/Routing/src/Patterns/RoutePatternFactory.cs
  src/Http/Routing/src/Patterns/RoutePatternMatcher.cs
  src/Http/Routing/src/Patterns/RoutePatternParser.cs
  src/Http/Routing/src/RouteBase.cs
  src/Http/Routing/src/SuppressMatchingMetadata.cs
  src/Http/Routing/src/Template/RoutePrecedence.cs
  src/Http/Routing/src/Template/TemplateBinder.cs
  src/Http/WebUtilities/src/FileBufferingWriteStream.cs
Labels: area-blazor, area-dataprotection, area-runtime, community-contribution

#32084 Add long running activity tag for SignalR connections
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
Labels: area-signalr

#32374 Use System.Text.Json's source generated code to deserialize WebEvents
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/Server/src/Microsoft.AspNetCore.Components.Server.csproj
  src/Components/Shared/src/WebEventData.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Rendering/Events/EventTypes.ts
  src/Components/Web/src/Microsoft.AspNetCore.Components.Web.csproj
  src/Components/WebAssembly/WebAssembly/src/Infrastructure/JSInteropMethods.cs
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.WarningSuppressions.xml
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.csproj
  src/Components/WebView/WebView/src/IpcReceiver.cs
  src/Components/test/E2ETest/Tests/EventTest.cs
  src/Components/test/testassets/BasicTestApp/TouchEventComponent.razor
Labels: area-blazor

#33301 WebView Byte Array Interop
  src/Components/Shared/src/JsonSerializerOptionsProvider.cs
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Platform/WebView/WebViewIpcReceiver.ts
  src/Components/Web.JS/src/Platform/WebView/WebViewIpcSender.ts
  src/Components/WebView/WebView/src/IpcCommon.cs
  src/Components/WebView/WebView/src/IpcReceiver.cs
  src/Components/WebView/WebView/src/IpcSender.cs
  src/Components/WebView/WebView/src/Services/WebViewJSRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/ByteArrayJsonConverter.cs
Labels: area-blazor

#32520 More efficient header use
  src/Http/Http.Extensions/src/HeaderDictionaryTypeExtensions.cs
  src/Http/Http.Extensions/src/RequestHeaders.cs
  src/Http/Http.Extensions/src/ResponseHeaders.cs
  src/Http/Http/src/Internal/ResponseCookies.cs
  src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerMiddleware.cs
  src/Middleware/HealthChecks/src/HealthCheckMiddleware.cs
  src/Middleware/Localization/src/RequestLocalizationMiddleware.cs
  src/Middleware/ResponseCaching/src/ResponseCachingMiddleware.cs
  src/Middleware/ResponseCaching/src/ResponseCachingPolicyProvider.cs
  src/Middleware/ResponseCompression/src/ResponseCompressionBody.cs
  src/Middleware/Session/src/SessionMiddleware.cs
  src/Servers/Kestrel/perf/Microbenchmarks/ResponseHeaderCollectionBenchmark.cs
Labels: Perf, area-runtime, community-contribution

#33081 Fix WebApplication to read environment specific logging configuration
  src/DefaultBuilder/DefaultBuilder.slnf
  src/DefaultBuilder/src/BootstrapHostBuilder.cs
  src/DefaultBuilder/src/Configuration.cs
  src/DefaultBuilder/src/ConfigureHostBuilder.cs
  src/DefaultBuilder/src/ConfigureWebHostBuilder.cs
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/DefaultBuilder/src/WebHostEnvironment.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.FunctionalTests/WebApplicationFunctionalTests.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/ConfigurationTests.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebHostEnvironmentTests.cs
Labels: area-runtime, feature-minimal-hosting

#33298 Quarantine flaky test
  src/Components/test/E2ETest/Tests/GlobalizationTest.cs
Labels: area-blazor, auto-merge

#32834 Move ComponentHubReliability tests to unit and E2E tests
  src/Components/Server/src/Circuits/CircuitFactory.cs
  src/Components/Server/src/Circuits/CircuitHandleRegistry.cs
  src/Components/Server/src/Circuits/ICircuitFactory.cs
  src/Components/Server/src/Circuits/ICircuitHandleRegistry.cs
  src/Components/Server/src/Circuits/IServerComponentDeserializer.cs
  src/Components/Server/src/Circuits/ServerComponentDeserializer.cs
  src/Components/Server/src/ComponentHub.cs
  src/Components/Server/src/DependencyInjection/ComponentServiceCollectionExtensions.cs
  src/Components/Server/test/Circuits/ComponentHubTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/ComponentHubReliabilityTest.cs
  src/Components/test/E2ETest/Tests/CircuitTests.cs
  src/Components/test/testassets/BasicTestApp/NavigationFailureComponent.razor
Labels: area-blazor

#33359 Remove redundant double caching of OperatingSystem.IsBrowser
  src/Components/Components/src/ElementReference.cs
  src/Components/Components/src/PlatformInfo.cs
Labels: area-blazor

#33280 Add HTTP/0.9 to Microsoft.AspNetCore.Http.HttpProtocol
  src/Http/Http.Abstractions/src/HttpProtocol.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Abstractions/test/HttpProtocolTests.cs
Labels: api-approved, area-runtime, community-contribution

#33353 SPA Angular 11->12 updates
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/.eslintrc.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/README.md
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/angular.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/e2e/protractor.conf.js
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/e2e/src/app.e2e-spec.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/e2e/src/app.po.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/e2e/tsconfig.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/api-authorization/login/login.component.spec.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/api-authorization/logout/logout.component.spec.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/environments/environment.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/polyfills.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/src/test.ts
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/tsconfig.json
  src/ProjectTemplates/test/template-baselines.json
Labels: area-mvc

#33374 Quarantine Http2StreamTests .ContentLength_Received_MultipleDataFramesOverSize_Reset
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
Labels: area-runtime

#33376 Merging internal commits for release/5.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocesshandler.cpp
Labels: Type: Merge Forward :fast_forward:, area-infrastructure, area-runtime, community-contribution

#33375 Merging internal commits for release/3.1
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocesshandler.cpp
Labels: area-infrastructure, community-contribution

#33385 [main] Merged PR 14745: Call RaiseEvent later
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocesshandler.cpp
Labels: area-runtime

#33390 Add mariner queue to helix matrix
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#32645 Async dispose
  src/Mvc/Mvc.Testing/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Testing/src/WebApplicationFactory.cs
  src/Mvc/test/Mvc.FunctionalTests/TestingInfrastructureInheritanceTests.cs
Labels: area-mvc, community-contribution

#33246 RedirectHandler follows HTTP status code 303 See other
  src/Mvc/Mvc.Testing/src/Handlers/RedirectHandler.cs
  src/Mvc/test/Mvc.FunctionalTests/TestingInfrastructureTests.cs
  src/Mvc/test/WebSites/BasicWebSite/Controllers/TestingController.cs
  src/Mvc/test/WebSites/GenericHostWebSite/Controllers/TestingController.cs
Labels: area-mvc, community-contribution

#33079 Add null check on Task, Task<IResult>, ValueTask, ValueTask<IResult>
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
Labels: area-runtime, community-contribution

#32096 Close connection
  src/Http/Http.Abstractions/src/ConnectionInfo.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http/src/Features/DefaultConnectionLifetimeNotificationFeature.cs
  src/Http/Http/src/Internal/DefaultConnectionInfo.cs
  src/Http/Http/src/Microsoft.AspNetCore.Http.csproj
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.FeatureCollection.cs
  src/Servers/HttpSys/src/StandardFeatureCollection.cs
  src/Servers/HttpSys/test/FunctionalTests/Http2Tests.cs
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/managedexports.cpp
  src/Servers/IIS/IIS/src/Core/IISHttpContext.FeatureCollection.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.Features.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContextOfT.cs
  src/Servers/IIS/IIS/src/NativeMethods.cs
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/Http2TrailersResetTests.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
Labels: api-approved, area-runtime, community-contribution

#33187 Update SDK
  .editorconfig
  global.json
  src/Components/WebView/WebView/src/QueryString.cs
  src/Hosting/test/testassets/BasicLinkedApp/BasicLinkedApp.csproj
  src/Http/Http.Abstractions/src/QueryString.cs
  src/Http/Http.Abstractions/test/MapPathMiddlewareTests.cs
  src/Http/Routing/src/Patterns/RoutePatternParser.cs
  src/Identity/test/InMemory.Test/FunctionalTest.cs
  src/Logging.AzureAppServices/src/BlobAppendReferenceWrapper.cs
  src/Middleware/ResponseCompression/src/ResponseCompressionProvider.cs
  src/Middleware/tools/RazorPageGenerator/Program.cs
  src/Mvc/Mvc.Core/src/Routing/ViewEnginePath.cs
  src/Mvc/Mvc.Razor.RuntimeCompilation/src/FileProviderRazorProjectFileSystem.cs
  src/Mvc/Mvc.RazorPages/src/DependencyInjection/RazorPagesRazorViewEngineOptionsSetup.cs
  src/Security/samples/CustomPolicyProvider/Authorization/MinimumAgeAuthorizeAttribute.cs
  src/Servers/Kestrel/samples/LargeResponseApp/Startup.cs
  src/Shared/CommandLineUtils/CommandLine/AnsiConsole.cs
  src/Testing/src/AssemblyTestLog.cs
  src/WebEncoders/src/Testing/HtmlTestEncoder.cs
  src/WebEncoders/src/Testing/JavaScriptTestEncoder.cs
  src/WebEncoders/src/Testing/UrlTestEncoder.cs
Labels: area-infrastructure

#33431 Update to public UseRazorSourceGenerator property
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Wasm.Performance.TestApp.csproj
  src/Components/test/testassets/BasicTestApp/BasicTestApp.csproj
Labels: area-blazor

#31331 Use request culture to deserialize JSON body
  src/Mvc/Mvc.NewtonsoftJson/src/MvcNewtonsoftJsonOptions.cs
  src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonInputFormatter.cs
  src/Mvc/Mvc.NewtonsoftJson/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.NewtonsoftJson/test/NewtonsoftJsonInputFormatterTest.cs
Labels: api-approved, area-mvc, community-contribution

#33419 [release/3.1] Minor cleanup
  eng/Build.props
  eng/CodeGen.proj
  eng/scripts/CodeCheck.ps1
  eng/targets/ResolveReferences.targets
  src/Components/Ignitor/src/Ignitor.csproj
  src/DataProtection/Cryptography.KeyDerivation/Directory.Build.props
Labels: area-infrastructure, tell-mode

#33423 [release/3.1] Adjust `#line` directives a bit
  src/Shared/ErrorPage/ErrorPage.Designer.cs
Labels: area-infrastructure, tell-mode

#33444 Move CA1845 analyzer back to warning level
  .editorconfig
  src/ProjectTemplates/Shared/AspNetProcess.cs
Labels: area-infrastructure

#33416 Add an HttpRequestException type to Java client
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/HttpRequestException.java
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/HubConnectionTest.java
Labels: area-signalr, signalr-client-java

#33470 Improve accessibility in Blazor templates
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorServerTemplateTest.cs
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorWasmTemplateTest.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/App.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Pages/Counter.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Shared/MainLayout.Auth.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Shared/MainLayout.NoAuth.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Shared/MainLayout.razor.css
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Shared/NavMenu.CallsMicrosoftGraph.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Shared/NavMenu.CallsWebApi.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Shared/NavMenu.NoGraphOrApi.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Shared/SurveyPrompt.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/App.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Pages/Counter.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/MainLayout.Auth.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/MainLayout.NoAuth.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/MainLayout.razor.css
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/NavMenu.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/SurveyPrompt.razor
Labels: area-mvc

#33469 Audit and fix Blazor's PWA manifest
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/icon-192.png
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/icon-512.png
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/manifest.json
Labels: area-mvc, community-contribution

#33296 Track JSON perf with source generation
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Pages/Json.razor
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Person.cs
  src/Components/benchmarkapps/Wasm.Performance/TestApp/PersonJsonContext.cs
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Wasm.Performance.TestApp.csproj
  src/Components/benchmarkapps/Wasm.Performance/TestApp/wwwroot/benchmarks/jsonHandling.js
Labels: area-blazor

#33481 Mark directive types as static when necessary
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentConstrainedTypeParamDirective.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentInjectDirective.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentTypeParamDirective.cs
Labels: area-mvc, area-razor.compiler

#33413 Blazor WebView alternate runtime platform
  AspNetCore.sln
  eng/Dependencies.props
  eng/Versions.props
  src/Components/ComponentsNoDeps.slnf
  src/Components/WebView/Samples/PhotinoPlatform/src/BlazorWindow.cs
  src/Components/WebView/Samples/PhotinoPlatform/src/Microsoft.AspNetCore.Components.WebView.Photino.csproj
  src/Components/WebView/Samples/PhotinoPlatform/src/PhotinoDispatcher.cs
  src/Components/WebView/Samples/PhotinoPlatform/src/PhotinoSynchronizationContext.cs
  src/Components/WebView/Samples/PhotinoPlatform/src/PhotinoWebViewManager.cs
  src/Components/WebView/Samples/PhotinoPlatform/testassets/PhotinoTestApp/PhotinoTestApp.csproj
  src/Components/WebView/Samples/PhotinoPlatform/testassets/PhotinoTestApp/Program.cs
  src/Components/WebView/Samples/PhotinoPlatform/testassets/PhotinoTestApp/wwwroot/css/app.css
  src/Components/WebView/Samples/PhotinoPlatform/testassets/PhotinoTestApp/wwwroot/webviewhost.html
Labels: area-blazor, feature-blazor-desktop

#33462 Support the new top level statements with WebApplicationFactory
  AspNetCore.sln
  src/Mvc/Mvc.Testing/src/DeferredHostBuilder.cs
  src/Mvc/Mvc.Testing/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Testing/src/WebApplicationFactory.cs
  src/Mvc/Mvc.slnf
  src/Mvc/test/Mvc.FunctionalTests/Microsoft.AspNetCore.Mvc.FunctionalTests.csproj
  src/Mvc/test/Mvc.FunctionalTests/SimpleWithWebApplicationBuilderTests.cs
  src/Mvc/test/WebSites/SimpleWebSiteWithWebApplicationBuilder/FakeEntryPoint.cs
  src/Mvc/test/WebSites/SimpleWebSiteWithWebApplicationBuilder/Program.cs
  src/Mvc/test/WebSites/SimpleWebSiteWithWebApplicationBuilder/Properties/launchSettings.json
  src/Mvc/test/WebSites/SimpleWebSiteWithWebApplicationBuilder/SimpleWebSiteWithWebApplicationBuilder.csproj
  src/Mvc/test/WebSites/SimpleWebSiteWithWebApplicationBuilder/readme.md
Labels: area-mvc

#33449 Remove dependency on Internal.AspNetCore.BuildTasks
  eng/Version.Details.xml
  eng/Versions.props
  eng/Workarounds.targets
  eng/tools/GenerateFiles/GenerateFiles.csproj
  src/Components/WebAssembly/DevServer/src/Microsoft.AspNetCore.Components.WebAssembly.DevServer.csproj
  src/Installers/Debian/Directory.Build.targets
  src/Installers/Rpm/Directory.Build.targets
  src/ProjectTemplates/GenerateContent.targets
Labels: area-infrastructure, auto-merge

#33386 Clear some caches from MVC on hot reload event
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Mvc/Mvc.Core/src/Controllers/DefaultControllerPropertyActivator.cs
  src/Mvc/Mvc.Core/src/DependencyInjection/MvcCoreServiceCollectionExtensions.cs
  src/Mvc/Mvc.Core/src/HotReload/HotReloadService.cs
  src/Mvc/Mvc.Core/src/ModelBinding/Metadata/DefaultModelMetadataProvider.cs
  src/Mvc/Mvc.Core/test/DependencyInjection/MvcCoreServiceCollectionExtensionsTest.cs
  src/Mvc/samples/MvcSandbox/Components/App.razor
  src/Mvc/samples/MvcSandbox/Components/Pages/Index.razor
  src/Mvc/samples/MvcSandbox/Components/Shared/MainLayout.razor
  src/Mvc/samples/MvcSandbox/Components/Shared/NavMenu.razor
  src/Mvc/samples/MvcSandbox/Components/_Imports.razor
  src/Mvc/samples/MvcSandbox/MvcSandbox.csproj
  src/Mvc/samples/MvcSandbox/Pages/Components.cshtml
  src/Mvc/samples/MvcSandbox/SlugifyParameterTransformer.cs
  src/Mvc/samples/MvcSandbox/Startup.cs
  src/Mvc/samples/MvcSandbox/Views/Shared/_Layout.cshtml
  src/Mvc/test/Mvc.FunctionalTests/Microsoft.AspNetCore.Mvc.FunctionalTests.csproj
  src/Shared/PropertyHelper/PropertyHelper.cs
Labels: area-mvc

#33498 Optimize [BLAZOR][WASM] project template for `PWA` applications.
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/index.html
Labels: area-mvc, community-contribution

#32737 Detect services based on service provider
  src/Http/Http.Extensions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Routing/src/Builder/MinimalActionEndpointRouteBuilderExtensions.cs
  src/Http/Routing/test/UnitTests/Builder/MinimalActionEndpointRouteBuilderExtensionsTest.cs
Labels: api-approved, area-runtime

#33393 Remove the cast from the empty web project template
  eng/tools/GenerateFiles/Directory.Build.targets.in
  eng/tools/GenerateFiles/GenerateFiles.csproj
  src/ProjectTemplates/Web.ProjectTemplates/EmptyWeb-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/Program.cs
Labels: area-mvc

#33507 Append version to app/site CSS
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Pages/Error.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Pages/Error.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Pages/Shared/_Layout.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Views/Shared/_Layout.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/Views/Shared/_Layout.cshtml
Labels: area-mvc, community-contribution

#33512 Fix typo: CopyProperitesTo => CopyPropertiesTo
  src/DefaultBuilder/src/WebHostEnvironment.cs
Labels: area-runtime, community-contribution

#33415 Stop incorrect TaskCanceledExceptions from HttpRequestPipeReader
  src/Servers/Kestrel/Core/src/Internal/Http/HttpRequestPipeReader.cs
Labels: area-runtime

#33474 Accessible navigation
  src/Components/Samples/BlazorServerApp/App.razor
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/DomWrapper.ts
  src/Components/Web/src/DomWrapperInterop.cs
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/Web/src/Routing/FocusOnNavigate.cs
  src/Components/WebAssembly/testassets/StandaloneApp/App.razor
  src/Components/test/E2ETest/Tests/RoutingTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyLazyLoadTest.cs
  src/Components/test/testassets/BasicTestApp/RouterTest/TestRouter.razor
  src/Components/test/testassets/BasicTestApp/RouterTest/TestRouterWithLazyAssembly.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/App.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/App.razor
Labels: api-ready-for-review, area-blazor, auto-merge

#33516 [SPA] Remove tests that verify the server is shut down
  src/Middleware/Spa/SpaServices.Extensions/test/SpaServicesExtensionsTests.cs
Labels: area-runtime

#33475 Add barebones devcontainer setup for repo
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/scripts/container-creation.sh
Labels: area-infrastructure

#33476 Update Test-Template.ps1
  src/ProjectTemplates/scripts/Test-Template.ps1
Labels: area-mvc

#33450 Allow Blazor WebAssembly to return update capabilities
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/WebAssembly/WebAssembly/src/HotReload/WebAssemblyHotReload.cs
  src/Components/WebAssembly/WebAssembly/src/PublicAPI.Unshipped.txt
Labels: area-blazor

#33502 SpaProxy: Don't forward HTTP/1.1 only headers
  src/Middleware/Spa/SpaServices.Extensions/src/Proxying/SpaProxy.cs
Labels: area-mvc, community-contribution

#33525 Update SDK
  global.json
Labels: area-infrastructure

#33529 Quarantine CanHandleMultipleAsyncErrorsFromDescendants
  src/Components/test/E2ETest/Tests/ErrorBoundaryTest.cs
Labels: area-blazor

#33531 Quarantine CanUpdateValuesMatchedByName
  src/Components/test/E2ETest/Tests/CascadingValueTest.cs
Labels: area-blazor

#33533 Fix HeadFile_HeadersButNotBodyServed
  src/Middleware/StaticFiles/test/FunctionalTests/StaticFileMiddlewareTests.cs
Labels: area-runtime, test-failure

#33548 Preserve quote style when rendering markup content
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/Components/ComponentMarkupBlockPass.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/Components/ComponentMarkupBlockPassTest.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/IntegrationTests/ComponentCodeGenerationTestBase.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentDesignTimeCodeGenerationTest/EventHandlerTagHelper_EscapeQuotes/TestComponent.ir.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ChildComponent_WithChildContent/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/ChildComponent_WithChildContent/TestComponent.ir.txt
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/EventHandlerTagHelper_EscapeQuotes/TestComponent.codegen.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/EventHandlerTagHelper_EscapeQuotes/TestComponent.ir.txt
Labels: area-razor.compiler

#33553 Use IsEditorRequired in Equality checks
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/BoundAttributeDescriptorComparer.cs
  src/Razor/Microsoft.AspNetCore.Razor.Language/src/TagHelperDescriptorComparer.cs
Labels: area-mvc

#33558 Update build pipeline to publish source-build packages
  .azure/pipelines/ci.yml
  eng/Publishing.props
Labels: area-infrastructure

#33264 Support client cert negotation
  src/Servers/Kestrel/Core/src/ClientCertificateMode.cs
  src/Servers/Kestrel/Core/src/Internal/SniOptionsSelector.cs
  src/Servers/Kestrel/Core/src/Internal/TlsConnectionFeature.cs
  src/Servers/Kestrel/Core/src/ListenOptionsHttpsExtensions.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Servers/Kestrel/Core/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Core/test/SniOptionsSelectorTests.cs
  src/Servers/Kestrel/samples/SampleApp/ClientCertBufferingFeature.cs
  src/Servers/Kestrel/samples/SampleApp/Startup.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
Labels: api-ready-for-review, area-runtime

#33563 Make `System.Net.Http.HPack.IntegerDecoder` a struct.
  src/Servers/Kestrel/Core/src/Internal/Http3/QPack/DecoderStreamReader.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/QPack/EncoderStreamReader.cs
  src/Servers/Kestrel/perf/Microbenchmarks/IntegerDecoderBenchmark.cs
  src/Shared/runtime/Http2/Hpack/HPackDecoder.cs
  src/Shared/runtime/Http2/Hpack/IntegerDecoder.cs
  src/Shared/runtime/Http3/QPack/QPackDecoder.cs
Labels: area-runtime, community-contribution

#33562 Rebrand for 6.0.0-preview7
  eng/Versions.props
Labels: area-infrastructure

#33497 !fixup! Remove more WebAssembly template mentions
  eng/common/tools.ps1
  global.json
  src/ProjectTemplates/ProjectTemplatesNoDeps.slnf
  src/ProjectTemplates/test/ProjectTemplates.Tests.csproj
Labels: area-infrastructure, area-mvc, tell-mode

#33505 adds DynamicComponent.Instance property
  src/Components/Components/src/DynamicComponent.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/test/DynamicComponentTest.cs
Labels: api-ready-for-review, area-blazor, community-contribution

#33565 Avoid having duplicate project references
  src/Components/test/E2ETest/Microsoft.AspNetCore.Components.E2ETests.csproj
  src/Components/test/E2ETestMigration/Microsoft.AspNetCore.Components.Migration.E2ETests.csproj
Labels: area-blazor

#33581 Add a missing quote in ClientComponentParameterDeserializer.cs
  src/Components/WebAssembly/WebAssembly/src/Prerendering/ClientComponentParameterDeserializer.cs
Labels: area-blazor, community-contribution

#33614 Improve Codespaces + C# extension interaction
  .devcontainer/devcontainer.json
  .devcontainer/scripts/container-creation.sh
Labels: area-infrastructure

#33610 Update runtime-sync.yml
  .github/workflows/runtime-sync.yml
Labels: area-infrastructure

#32829 Continue work for QueryCollection
  src/Http/Http/perf/Microbenchmarks/QueryCollectionBenchmarks.cs
  src/Http/Http/perf/Microbenchmarks/RequestCookieCollectionBenchmarks.cs
  src/Http/Http/perf/Microbenchmarks/RouteValueDictionaryBenchmark.cs
  src/Http/Http/src/Features/QueryFeature.cs
  src/Http/Http/src/QueryCollectionInternal.cs
  src/Http/Http/test/Features/QueryFeatureTests.cs
  src/Shared/Dictionary/AdaptiveCapacityDictionary.cs
Labels: area-runtime, community-contribution

#33564 Refactor LongPolling in Java to avoid stackoverflow
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/LongPollingTransport.java
Labels: area-signalr, signalr-client-java

#33500 Handle more cases with the new entry point pattern
  AspNetCore.sln
  src/Mvc/Mvc.Testing/src/DeferredHostBuilder.cs
  src/Mvc/Mvc.Testing/src/WebApplicationFactory.cs
  src/Mvc/test/Mvc.FunctionalTests/Microsoft.AspNetCore.Mvc.FunctionalTests.csproj
  src/Mvc/test/Mvc.FunctionalTests/SimpleWithWebApplicationBuilderExceptionTests.cs
  src/Mvc/test/WebSites/SimpleWebSiteWithWebApplicationBuilderException/FakeEntryPoint.cs
  src/Mvc/test/WebSites/SimpleWebSiteWithWebApplicationBuilderException/Program.cs
  src/Mvc/test/WebSites/SimpleWebSiteWithWebApplicationBuilderException/Properties/launchSettings.json
  src/Mvc/test/WebSites/SimpleWebSiteWithWebApplicationBuilderException/SimpleWebSiteWithWebApplicationBuilderException.csproj
  src/Mvc/test/WebSites/SimpleWebSiteWithWebApplicationBuilderException/readme.md
Labels: area-runtime

#33621 Try 3 retries on components tests
  src/Components/test/E2ETest/AssemblyInfo.cs
Labels: area-blazor

#33213 Use Random.Shared in Web API template
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Controllers/WeatherForecastController.cs
Labels: area-mvc, community-contribution

#33588 Propogate repair commands to inner bundles in Hosting Bundle
  src/Installers/Windows/WindowsHostingBundle/DotNetCore.wxs
Labels: area-infrastructure

#33595 Add IHttpUpgradeFeature to TestServer for SignalR WebSocket support
  src/Hosting/Hosting.slnf
  src/Hosting/TestHost/src/HttpContextBuilder.cs
  src/Hosting/TestHost/src/UpgradeFeature.cs
  src/Hosting/TestHost/test/Microsoft.AspNetCore.TestHost.Tests.csproj
  src/Hosting/TestHost/test/TestClientTests.cs
  src/Hosting/TestHost/test/WebSocketClientTests.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/Microsoft.AspNetCore.SignalR.Client.Tests.csproj
  src/SignalR/clients/csharp/Client/test/UnitTests/TestServerTests.cs
Labels: area-runtime

#33433 Add OpenAPI/Swagger support for minimal actions
  src/Http/Http.Extensions/src/Microsoft.AspNetCore.Http.Extensions.csproj
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Routing/src/Builder/MinimalActionEndpointRouteBuilderExtensions.cs
  src/Http/Routing/test/UnitTests/Builder/MinimalActionEndpointRouteBuilderExtensionsTest.cs
  src/Mvc/Mvc.ApiExplorer/src/ApiResponseTypeProvider.cs
  src/Mvc/Mvc.ApiExplorer/src/DefaultApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/src/DependencyInjection/EndpointMethodInfoApiExplorerServiceCollectionExtensions.cs
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/src/EndpointModelMetadata.cs
  src/Mvc/Mvc.ApiExplorer/src/Microsoft.AspNetCore.Mvc.ApiExplorer.csproj
  src/Mvc/Mvc.ApiExplorer/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
  src/Mvc/Mvc.ApiExplorer/test/Microsoft.AspNetCore.Mvc.ApiExplorer.Test.csproj
  src/Mvc/Mvc.slnf
  src/Shared/TryParseMethodCache.cs
Labels: api-ready-for-review, area-runtime, feature-minimal-actions

#33648 Add IHttpUpgradeFeature to TestServer for SignalR WebSocket support (…
  src/Hosting/Hosting.slnf
  src/Hosting/TestHost/src/HttpContextBuilder.cs
  src/Hosting/TestHost/src/UpgradeFeature.cs
  src/Hosting/TestHost/test/Microsoft.AspNetCore.TestHost.Tests.csproj
  src/Hosting/TestHost/test/TestClientTests.cs
  src/Hosting/TestHost/test/WebSocketClientTests.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/Microsoft.AspNetCore.SignalR.Client.Tests.csproj
  src/SignalR/clients/csharp/Client/test/UnitTests/TestServerTests.cs
Labels: area-runtime

#33401 Unescape query parameter name
  src/Http/Http/src/Features/QueryFeature.cs
  src/Http/Http/test/Features/QueryFeatureTests.cs
  src/Http/WebUtilities/src/QueryHelpers.cs
  src/Http/WebUtilities/test/QueryHelpersTests.cs
Labels: area-runtime, community-contribution

#33627 HTTP/3: Split Kestrel QPack methods out of shared code
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/QPackHeaderWriter.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TestBase.cs
  src/Shared/runtime/Http3/QPack/QPackEncoder.cs
Labels: area-runtime

#33607 Fix a typo in XML docs of FallbackEndpointRouteBuilderExtensions
  src/Http/Routing/src/Builder/FallbackEndpointRouteBuilderExtensions.cs
Labels: area-runtime, community-contribution

#33596 HTTP/3: Use max field section size setting
  src/Servers/Kestrel/Core/src/Http2Limits.cs
  src/Servers/Kestrel/Core/src/Http3Limits.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3ControlStream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3PeerSettings.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/QPackHeaderWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http3StreamContext.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/IKestrelTrace.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.cs
  src/Servers/Kestrel/Core/test/Http3FrameWriterTests.cs
  src/Servers/Kestrel/perf/Microbenchmarks/Mocks/MockTrace.cs
  src/Servers/Kestrel/shared/test/CompositeKestrelTrace.cs
  src/Servers/Kestrel/shared/test/TestContextFactory.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TestBase.cs
  src/Shared/runtime/Http3/QPack/HeaderField.cs
Labels: area-runtime

#33578 HTTP/3: Handle request completes with unread body content
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
Labels: area-runtime

#33716 Quarantining CanUpdateValuesMatchedByType
  src/Components/test/E2ETest/Tests/CascadingValueTest.cs
Labels: area-blazor

#33699 Don't infer interfaces as services anymore
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
Labels: area-runtime, feature-minimal-actions

#33727 Don't add service parameters to an endpoint ApiDescriptions
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
Labels: area-mvc, area-runtime, feature-minimal-actions

#33718 Add UnsafePreferInlineScheduling to Http.sys server
  src/Servers/HttpSys/src/HttpSysOptions.cs
  src/Servers/HttpSys/src/MessagePump.cs
  src/Servers/HttpSys/src/PublicAPI.Unshipped.txt
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContextOfT.cs
  src/Servers/HttpSys/test/FunctionalTests/ServerTests.cs
Labels: area-runtime, community-contribution

#33737 Update WebAssemblyHostConfiguration.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostConfiguration.cs
Labels: area-blazor, community-contribution

#33725 [SPA] Fix angular package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package-lock.json
Labels: area-mvc

#33759 Update Components.slnf
  src/Components/Components.slnf
Labels: area-blazor

#33761 Quarantine Http3StreamTests.ContentLength_Received_NoDataFrames_Reset
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
Labels: area-runtime

#33734 Quarantine CanRenderComponentDynamically
  src/Components/test/E2ETest/Tests/DynamicComponentRenderingTest.cs
Labels: area-blazor

#33674 HTTP/3: End incoming stream loop when app doesn't read to end
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TestBase.cs
Labels: area-runtime

#33764 Allow base64 encoded strings to be deserialized as byte arrays in JSI…
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/ByteArrayJsonConverter.cs
  src/JSInterop/Microsoft.JSInterop/test/Infrastructure/ByteArrayJsonConverterTest.cs
Labels: Servicing-approved, area-blazor, feature-blazor-jsinterop

#33768 Allow base64 encoded strings to be deserialized as byte arrays in JSI…
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/ByteArrayJsonConverter.cs
  src/JSInterop/Microsoft.JSInterop/test/Infrastructure/ByteArrayJsonConverterTest.cs
Labels: area-blazor

#33766 Switch test projects to use Razor SDK (instead of Web)
  src/Components/test/testassets/LazyTestContentPackage/LazyTestContentPackage.csproj
  src/Components/test/testassets/TestContentPackage/TestContentPackage.csproj
Labels: area-blazor

#33773 Update BuildFromSource.md
  docs/BuildFromSource.md
Labels: area-infrastructure, community-contribution

#33651 Fix JWT DateTimeOffset handling with DateTime.MinValue
  src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs
  src/Security/Authentication/test/JwtBearerTests.cs
Labels: area-security

#33443 Add base interface for IHubContext
  src/SignalR/server/Core/src/IHubContext.cs
  src/SignalR/server/Core/src/PublicAPI.Unshipped.txt
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-signalr

#33808 Set copyOnly on static resources in Blazor templates
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/template.json
Labels: area-blazor

#33822 Remove Utf8EncodingSealed from Kestrel
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/HttpUtilities.cs
Labels: area-runtime, community-contribution

#33658 Quarantine an `AuthTest`
  src/Components/test/E2ETest/Tests/AuthTest.cs
Labels: area-blazor

#33800 Added endpoint API explorer to default webhost
  src/DefaultBuilder/DefaultBuilder.slnf
  src/DefaultBuilder/src/Microsoft.AspNetCore.csproj
  src/DefaultBuilder/src/WebHost.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebHostTests.cs
Labels: area-runtime, feature-minimal-actions

#33719 Update SDK version
  global.json
  src/ProjectTemplates/Shared/Project.cs
  src/ProjectTemplates/Shared/TemplatePackageInstaller.cs
Labels: area-infrastructure

#33844 Apply copyOnly to CSS assets only
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/template.json
Labels: area-mvc

#33831 Fix attribute order sensitivity for range input
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Rendering/BrowserRenderer.ts
  src/Components/test/E2ETest/Tests/FormsTest.cs
  src/Components/test/testassets/BasicTestApp/FormsTest/InputRangeComponent.razor
  src/Components/test/testassets/BasicTestApp/Index.razor
Labels: area-blazor

#33408 Add a feature for accessing the AuthenticateResult
  src/Http/Authentication.Abstractions/src/IAuthenticateResultFeature.cs
  src/Http/Authentication.Abstractions/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/Core/src/AuthenticationFeatures.cs
  src/Security/Authentication/Core/src/AuthenticationMiddleware.cs
  src/Security/Authentication/test/AuthenticationMiddlewareTests.cs
  src/Security/Authorization/Policy/src/AuthenticationFeatures.cs
  src/Security/Authorization/Policy/src/AuthorizationMiddleware.cs
  src/Security/Authorization/Policy/src/PolicyEvaluator.cs
  src/Security/Authorization/test/AuthorizationMiddlewareTests.cs
Labels: api-approved, area-security

#33888 Add missing project to Mvc.slnf
  src/Mvc/Mvc.slnf
Labels: area-mvc, community-contribution

#33884 Fix BuildFromSource typo
  docs/BuildFromSource.md
Labels: community-contribution

#33491 Blazor Streaming Interop | `JS` to `DotNet`
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/Server/src/Circuits/RemoteJSDataStream.cs
  src/Components/Server/src/Circuits/RemoteJSRuntime.cs
  src/Components/Server/src/ComponentHub.cs
  src/Components/Server/test/Circuits/RemoteJSDataStreamTest.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Boot.Server.ts
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/Web.JS/src/InputFile.ts
  src/Components/Web.JS/src/Platform/Circuits/CircuitStreamingInterop.ts
  src/Components/Web/src/Forms/InputFile.cs
  src/Components/Web/src/Forms/InputFile/BrowserFile.cs
  src/Components/Web/src/Forms/InputFile/RemoteBrowserFileStream.cs
  src/Components/WebAssembly/JSInterop/src/WebAssemblyJSRuntime.cs
  src/Components/test/E2ETest/Tests/InputFileTest.cs
  src/Components/test/E2ETest/Tests/InteropTest.cs
  src/Components/test/testassets/BasicTestApp/InteropComponent.razor
  src/Components/test/testassets/BasicTestApp/InteropTest/JSStreamReferenceInterop.cs
  src/Components/test/testassets/BasicTestApp/wwwroot/js/jsinteroptests.js
  src/JSInterop/Microsoft.JSInterop.JS/src/src/Microsoft.JSInterop.ts
  src/JSInterop/Microsoft.JSInterop/src/IJSStreamReference.cs
  src/JSInterop/Microsoft.JSInterop/src/Implementation/JSObjectReferenceJsonWorker.cs
  src/JSInterop/Microsoft.JSInterop/src/Implementation/JSStreamReference.cs
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/JSStreamReferenceJsonConverter.cs
  src/JSInterop/Microsoft.JSInterop/src/JSCallResultType.cs
  src/JSInterop/Microsoft.JSInterop/src/JSRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/PublicAPI.Unshipped.txt
  src/JSInterop/Microsoft.JSInterop/test/Infrastructure/JSStreamReferenceJsonConverterTest.cs
  src/JSInterop/Microsoft.JSInterop/test/JSRuntimeTest.cs
  src/Shared/JSInterop/JSCallResultTypeHelper.cs
Labels: area-blazor

#33891 Style and analyzer fixes
  src/Mvc/Mvc.Testing/src/DeferredHostBuilder.cs
  src/Mvc/Mvc.Testing/src/WebApplicationFactory.cs
  src/Mvc/test/Mvc.FunctionalTests/RoutingEndpointRoutingTest.cs
  src/Mvc/test/Mvc.FunctionalTests/SimpleWithWebApplicationBuilderExceptionTests.cs
  src/Mvc/test/WebSites/SimpleWebSiteWithWebApplicationBuilder/FakeEntryPoint.cs
  src/Mvc/test/WebSites/SimpleWebSiteWithWebApplicationBuilderException/FakeEntryPoint.cs
Labels: area-mvc, community-contribution

#33833 Update SDK to pick up incremental Razor source generator
  global.json
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Wasm.Performance.TestApp.csproj
  src/Components/test/testassets/BasicTestApp/BasicTestApp.csproj
Labels: area-infrastructure

#33917 Streaming CI Debugging
  src/Components/Server/src/Circuits/RemoteJSDataStream.cs
  src/Components/Server/test/Circuits/RemoteJSDataStreamTest.cs
Labels: area-blazor

#33910 QueryStringEnumerable API
  src/Http/Http/src/Features/QueryFeature.cs
  src/Http/WebUtilities/src/Microsoft.AspNetCore.WebUtilities.csproj
  src/Http/WebUtilities/src/PublicAPI.Unshipped.txt
  src/Http/WebUtilities/src/QueryHelpers.cs
  src/Shared/QueryStringEnumerable.cs
  src/Shared/test/Shared.Tests/Microsoft.AspNetCore.Shared.Tests.csproj
  src/Shared/test/Shared.Tests/QueryStringEnumerableTest.cs
Labels: api-approved, area-runtime, auto-merge

#33940 Removed ExceptionHandleMiddleware registration
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/Startup.cs
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/Startup.cs
Labels: area-mvc, feature-spa

#33926 HTTP/3: Fix flakey Http3StreamTests.ContentLength_Received_NoDataFrames_Reset
  src/Servers/Kestrel/Transport.Quic/src/QuicTransportFactory.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TestBase.cs
Labels: area-runtime

#33251 Add W3CLogger
  AspNetCore.sln
  src/Middleware/HttpLogging/samples/Logging.W3C.Sample/.gitignore
  src/Middleware/HttpLogging/samples/Logging.W3C.Sample/Logging.W3C.Sample.csproj
  src/Middleware/HttpLogging/samples/Logging.W3C.Sample/Program.cs
  src/Middleware/HttpLogging/samples/Logging.W3C.Sample/Properties/launchSettings.json
  src/Middleware/HttpLogging/samples/Logging.W3C.Sample/Startup.cs
  src/Middleware/HttpLogging/samples/Logging.W3C.Sample/appsettings.Development.json
  src/Middleware/HttpLogging/samples/Logging.W3C.Sample/appsettings.json
  src/Middleware/HttpLogging/src/FileLoggerProcessor.cs
  src/Middleware/HttpLogging/src/HttpLoggingBuilderExtensions.cs
  src/Middleware/HttpLogging/src/HttpLoggingServicesExtensions.cs
  src/Middleware/HttpLogging/src/Microsoft.AspNetCore.HttpLogging.csproj
  src/Middleware/HttpLogging/src/PublicAPI.Unshipped.txt
  src/Middleware/HttpLogging/src/W3CLogger.cs
  src/Middleware/HttpLogging/src/W3CLoggerOptions.cs
  src/Middleware/HttpLogging/src/W3CLoggerProcessor.cs
  src/Middleware/HttpLogging/src/W3CLoggingFields.cs
  src/Middleware/HttpLogging/src/W3CLoggingMiddleware.cs
  src/Middleware/HttpLogging/test/FileLoggerProcessorTests.cs
  src/Middleware/HttpLogging/test/Helpers.cs
  src/Middleware/HttpLogging/test/HttpLoggingServicesExtensionsTests.cs
  src/Middleware/HttpLogging/test/OptionsWrapperMonitor.cs
  src/Middleware/HttpLogging/test/TestW3CLogger.cs
  src/Middleware/HttpLogging/test/TestW3CLoggerProcessor.cs
  src/Middleware/HttpLogging/test/W3CLoggerOptionsTests.cs
  src/Middleware/HttpLogging/test/W3CLoggerTests.cs
  src/Middleware/HttpLogging/test/W3CLoggingMiddlewareTests.cs
  src/Middleware/Middleware.slnf
Labels: api-approved, area-runtime
