Repository dotnet/aspnetcore, pull requests merged in 2021-01, with the labels that each got.

#28981 Fix typo in TreeRouter.cs
  src/Http/Routing/src/Tree/TreeRouter.cs
Labels: area-servers, community-contribution

#28100 [SignalR] Remove obsolete APIs
  src/SignalR/common/Http.Connections.Common/src/NegotiateProtocol.cs
  src/SignalR/common/Http.Connections.Common/src/PublicAPI.Shipped.txt
  src/SignalR/server/Core/src/HubInvocationContext.cs
  src/SignalR/server/Core/src/PublicAPI.Shipped.txt
Labels: api-approved, area-signalr

#28995 Quarantine flaky tests
  src/Servers/HttpSys/test/FunctionalTests/MessagePumpTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/InProcess/IISExpressShutdownTests.cs
Labels: area-servers

#29021 Enable verbose logging for install scripts
  eng/common/tools.ps1
  eng/common/tools.sh
Labels: area-infrastructure

#29026 Release pins before disposal for refused requests
  src/Servers/HttpSys/src/MessagePump.cs
  src/Servers/HttpSys/test/FunctionalTests/Listener/Utilities.cs
Labels: area-servers, auto-merge

#29027 [quick fix] Remove default.NuGet.config
  eng/helix/content/RunTests/TestRunner.cs
  eng/helix/content/default.NuGet.config
Labels: area-infrastructure

#28960 Add mappings for API Review team
  .github/CODEOWNERS
Labels: area-infrastructure

#28990 Added servicing PR template to simplify the process of preparing patches
  .github/PULL_REQUEST_TEMPLATE/servicing.md
Labels: area-infrastructure

#28947 Add OWIN docs
  src/Http/Owin/src/IOwinEnvironmentFeature.cs
  src/Http/Owin/src/Microsoft.AspNetCore.Owin.csproj
  src/Http/Owin/src/OwinEnvironment.cs
  src/Http/Owin/src/OwinEnvironmentFeature.cs
  src/Http/Owin/src/OwinExtensions.cs
  src/Http/Owin/src/OwinFeatureCollection.cs
  src/Http/Owin/src/WebSockets/OwinWebSocketAcceptAdapter.cs
  src/Http/Owin/src/WebSockets/OwinWebSocketAcceptContext.cs
  src/Http/Owin/src/WebSockets/OwinWebSocketAdapter.cs
  src/Http/Owin/src/WebSockets/WebSocketAcceptAdapter.cs
  src/Http/Owin/src/WebSockets/WebSocketAdapter.cs
Labels: area-servers

#26638 Fix graceful shutdown of connection close in HTTP/3
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Http3Limits.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3ConnectionException.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3ControlStream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3ControlStreamOfT.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3PeerSetting.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3PeerSettings.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3SettingType.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3StreamContext.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/IKestrelTrace.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/StreamCloseAwaitable.cs
  src/Servers/Kestrel/Core/src/Middleware/Http3ConnectionMiddleware.cs
  src/Servers/Kestrel/Core/src/PublicAPI.Shipped.txt
  src/Servers/Kestrel/Core/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Core/test/Http3FrameWriterTests.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionListener.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/Mocks/MockTrace.cs
  src/Servers/Kestrel/shared/test/CompositeKestrelTrace.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TestBase.cs
  src/Shared/ServerInfrastructure/Http2/Http2PeerSettings.cs
  src/Shared/runtime/Http3/Helpers/VariableLengthIntegerHelper.cs
Labels: area-servers

#28844 HMSET is deprecated, but used by Microsoft.Extensions.Caching.StackExchangeRedis
  src/Caching/StackExchangeRedis/src/RedisCache.cs
Labels: area-caching

#28763 HTTP/3: Add trailers and reset features
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.FeatureCollection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.FeatureCollection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TestBase.cs
  src/Shared/runtime/Http3/QPack/QPackDecoder.cs
Labels: area-servers

#28945 Add API docs for Caching and WebEncoders
  src/Caching/SqlServer/src/Microsoft.Extensions.Caching.SqlServer.csproj
  src/Caching/SqlServer/src/SqlServerCache.cs
  src/Caching/StackExchangeRedis/src/Microsoft.Extensions.Caching.StackExchangeRedis.csproj
  src/Caching/StackExchangeRedis/src/RedisCache.cs
  src/WebEncoders/src/Microsoft.Extensions.WebEncoders.csproj
  src/WebEncoders/src/Testing/HtmlTestEncoder.cs
  src/WebEncoders/src/Testing/JavaScriptTestEncoder.cs
  src/WebEncoders/src/Testing/UrlTestEncoder.cs
Labels: area-caching

#29052 Increase wait for npm in spa services tests
  src/Middleware/SpaServices.Extensions/test/SpaServicesExtensionsTests.cs
Labels: area-middleware, auto-merge

#29063 Skip broken test instead of quarantining
  src/Components/test/E2ETest/ServerExecutionTests/CircuitGracefulTerminationTests.cs
Labels: area-blazor, auto-merge

#28679 Prevent SetDoNotCacheHeaders from overwriting valid cache headers
  src/Antiforgery/src/Internal/DefaultAntiforgery.cs
  src/Antiforgery/test/DefaultAntiforgeryTest.cs
Labels: area-mvc, auto-merge, community-contribution

#29074 Revert "Automatically assign `Servicing-consider` label to servicing …
  .github/PULL_REQUEST_TEMPLATE/servicing.md
Labels: area-infrastructure

#28940 HTTP/3: Add CompleteAsync tests and fix various bugs
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/IKestrelTrace.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/Mocks/MockTrace.cs
  src/Servers/Kestrel/shared/test/CompositeKestrelTrace.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TestBase.cs
  src/Shared/runtime/Http3/QPack/QPackEncoder.cs
Labels: area-servers

#29022 Enable internal testing on Windows Previews
  .azure/pipelines/helix-matrix.yml
  eng/targets/Helix.Common.props
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Servers/HttpSys/test/FunctionalTests/Http2Tests.cs
  src/Servers/HttpSys/test/FunctionalTests/HttpsTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Http2Tests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/HttpsTests.cs
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/Http2TrailersResetTests.cs
  src/Testing/src/xunit/WindowsVersions.cs
Labels: area-infrastructure, area-servers

#29067 Re-enable tests that require VS 16.8
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/BuildIntegrationTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/BuildServerIntegrationTest.cs
  src/Razor/Microsoft.NET.Sdk.Razor/integrationtests/BuildWithComponentsIntegrationTest.cs
Labels: area-mvc

#29083 HTTP/3: Log frames and remove frame max size
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3ControlStream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3FrameReader.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/IKestrelTrace.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.cs
  src/Servers/Kestrel/Core/test/Http3FrameWriterTests.cs
  src/Servers/Kestrel/perf/Kestrel.Performance/Mocks/MockTrace.cs
  src/Servers/Kestrel/shared/test/CompositeKestrelTrace.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TestBase.cs
Labels: area-servers

#28963 Add API docs for AzureAppServices and SignalR.Specification
  src/Azure/AzureAppServicesIntegration/src/AppServicesWebHostBuilderExtensions.cs
  src/Azure/AzureAppServicesIntegration/src/Microsoft.AspNetCore.AzureAppServicesIntegration.csproj
  src/SignalR/server/SignalR/test/DefaultHubLifetimeManagerTests.cs
  src/SignalR/server/Specification.Tests/src/HubLifetimeManagerTestBase.cs
  src/SignalR/server/Specification.Tests/src/Microsoft.AspNetCore.SignalR.Specification.Tests.csproj
  src/SignalR/server/Specification.Tests/src/ScaleoutHubLifetimeManagerTests.cs
  src/SignalR/server/StackExchangeRedis/test/RedisHubLifetimeManagerTests.cs
Labels: area-signalr

#29102 Fix incorrect Kestrel logging IDs and names
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.cs
Labels: area-servers

#29104 Fix flaky test: Pass_thru_when_exception_in_logic
  src/Middleware/Diagnostics.EntityFrameworkCore/test/FunctionalTests/Helpers/TestLoggerProvider.cs
Labels: area-middleware

#29101 Fix padding in Kestrel connection logs
  src/Servers/Kestrel/Core/src/Middleware/Internal/LoggingStream.cs
  src/Servers/Kestrel/Core/test/LoggingStreamTests.cs
Labels: area-servers, servers-kestrel

#29091 Make IncrementallyUpdatesCache and CachesResourcesAfterFirstLoad tests more robust. Hopefully fixes #20154
  src/Components/WebAssembly/testassets/HostedInAspNet.Server/BootResourceRequestLog.cs
  src/Components/test/E2ETest/Tests/BootResourceCachingTest.cs
Labels: area-blazor

#29115 Fix typos in MvcOptions.cs
  src/Mvc/Mvc.Core/src/MvcOptions.cs
Labels: area-mvc

#29127 Quarantine httpsys test
  src/Servers/HttpSys/test/FunctionalTests/Http2Tests.cs
  src/Servers/HttpSys/test/FunctionalTests/Utilities.cs
Labels: area-servers

#28944 Avoid referencing WASM types from blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/src/Boot.Server.ts
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/Web.JS/src/InputFile.ts
  src/Components/Web.JS/src/WasmInputFile.ts
Labels: area-blazor

#29097 Fix issue with cert being finalized in data protection test
  src/DataProtection/Extensions/test/DataProtectionProviderTests.cs
Labels: area-dataprotection, auto-merge

#28698 Fix arguments order for call of HeartbeatSlow
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.cs
  src/Servers/Kestrel/Core/test/HeartbeatTests.cs
Labels: area-servers, community-contribution

#29122 Add TestServerOptions
  src/Hosting/TestHost/src/PublicAPI.Unshipped.txt
  src/Hosting/TestHost/src/TestServer.cs
  src/Hosting/TestHost/src/TestServerOptions.cs
  src/Hosting/TestHost/src/WebHostBuilderExtensions.cs
  src/Hosting/TestHost/test/TestServerTests.cs
Labels: area-hosting, auto-merge

#29131 Stop building RHEL rpm installer
  src/Installers/Rpm/Runtime.Rhel/Rpm.Runtime.Rhel.rpmproj
Labels: area-infrastructure, area-installers, auto-merge

#29137 [AuthZ] Switch to debug logging to cut down on noise
  src/Security/Authorization/Core/src/LoggingExtensions.cs
Labels: area-security, auto-merge

#28184 Improve API documentation of FilterCollection on filter order
  src/Mvc/Mvc.Core/src/Filters/FilterCollection.cs
Labels: area-mvc, community-contribution

#29160 Fix special character usage in doc comments
  src/Mvc/Mvc.Core/src/MvcOptions.cs
Labels: area-mvc

#28966 Remove async void in KestrelServerImpl
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
Labels: area-servers, community-contribution

#29198 Update EndpointHttpContextExtensionsTests.cs
  src/Http/Http.Abstractions/test/EndpointHttpContextExtensionsTests.cs
Labels: area-servers

#28858 ApiExplorer breaks nested names when defined [FomQuery] on nested properties #26271
  src/Mvc/Mvc.ApiExplorer/src/DefaultApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/test/DefaultApiDescriptionProviderTest.cs
Labels: area-mvc, community-contribution

#29166 Make HttpsRedirectionMiddleware throw if there are multiple ports
  src/Middleware/HttpsPolicy/src/HttpsLoggingExtensions.cs
  src/Middleware/HttpsPolicy/src/HttpsRedirectionMiddleware.cs
  src/Middleware/HttpsPolicy/test/HttpsRedirectionMiddlewareTests.cs
Labels: area-middleware, breaking-change

#29098 [wasm] Enable on demand GC again
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
Labels: area-blazor, auto-merge

#29056 Fix up ComponentHubReliabilityTest and IgnitorTests
  src/Components/test/E2ETest/ServerExecutionTests/ComponentHubInvalidEventTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/ComponentHubReliabilityTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/IgnitorTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/InteropReliabilityTests.cs
  src/Components/test/E2ETest/ServerExecutionTests/RemoteRendererBufferLimitTest.cs
Labels: area-blazor

#29239 Update the servicing PR template
  docs/Servicing.md
Labels: area-infrastructure

#29142 Implement Twitter API error handling
  src/Security/Authentication/Twitter/src/TwitterError.cs
  src/Security/Authentication/Twitter/src/TwitterErrorResponse.cs
  src/Security/Authentication/Twitter/src/TwitterHandler.cs
  src/Security/Authentication/test/TwitterTests.cs
Labels: area-security, auto-merge

#28829 Enable 2.1 official builds in AzDO
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
  build/dependencies.props
  build/repo.props
  build/repo.targets
  dockerbuild.sh
  korebuild-lock.txt
  run.ps1
  run.sh
  src/Installers/Windows/AspNetCoreModule-Setup/build/settings/common.props
  src/Installers/Windows/WindowsInstallers.proj
  src/Installers/Windows/Wix.props
  src/Installers/Windows/build.ps1
Labels: area-infrastructure

#29234 [SPA] Updates outdated npm dependencies
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/package.json
Labels: Servicing-consider, area-mvc, tell-mode

#29226 Update @azure/msal-browser dependency to v2.8.0
  src/Components/WebAssembly/Authentication.Msal/src/Interop/AuthenticationService.ts
  src/Components/WebAssembly/Authentication.Msal/src/Interop/package.json
  src/Components/WebAssembly/Authentication.Msal/src/Interop/yarn.lock
Labels: Servicing-approved, area-blazor

#29231 Update user tag in GetLoginsAsync method XML documentation
  src/Identity/Extensions.Stores/src/UserStoreBase.cs
Labels: area-identity, community-contribution

#29230 Fixed spelling of "associated" in UserStoreBase CreateUserLogin method
  src/Identity/Extensions.Stores/src/UserStoreBase.cs
Labels: area-identity, community-contribution

#29241 Update branding to 3.1.12
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  src/Components/Web.JS/package.json
  src/Components/Web.JS/yarn.lock
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/TimeoutControl.cs
Labels: area-infrastructure

#28908 [2.1] Allow/ignore upgrades with bodies
  eng/PatchConfig.props
  src/Servers/Kestrel/Core/src/BadHttpRequestException.cs
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Internal/Http/Http1MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/RequestRejectionReason.cs
  src/Servers/Kestrel/test/FunctionalTests/UpgradeTests.cs
Labels: Servicing-approved, area-servers

#28907 [3.1] Allow/ignore upgrades with bodies
  src/Servers/Kestrel/Core/src/BadHttpRequestException.cs
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Internal/Http/Http1MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/RequestRejectionReason.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/UpgradeTests.cs
Labels: Servicing-approved, area-servers

#28896 [5.0] Allow/ignore upgrades with bodies
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Internal/Http/Http1MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http/RequestRejectionReason.cs
  src/Servers/Kestrel/Core/src/KestrelBadHttpRequestException.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/UpgradeTests.cs
Labels: Servicing-approved, area-servers

#28324 Update dependencies in SPA templates (#27219)
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/package-lock.json
Labels: * NO MERGE *, Servicing-approved, area-mvc

#29066 [release/5.0] Include Portugese loc resources in bundles
  src/Installers/Windows/SharedFrameworkBundle/Bundle.wxs
  src/Installers/Windows/WindowsHostingBundle/Bundle.wxs
Labels: area-installers, tell-mode

#29065 [release/3.1] Include Portugese loc resources in bundles
  src/Installers/Windows/SharedFrameworkBundle/Bundle.wxs
  src/Installers/Windows/WindowsHostingBundle/Bundle.wxs
Labels: area-installers, tell-mode

#29024 [release/5.0] Add option to `RazorPageGenerator` for `#line` preprocessor directives (#27765)
  src/Middleware/tools/RazorPageGenerator/Program.cs
  src/Shared/ErrorPage/ErrorPage.Designer.cs
  src/Shared/ErrorPage/GeneratePage.ps1
  src/Shared/ErrorPage/README.md
Labels: area-infrastructure, tell-mode

#28682 [release/5.0] Change bundle branding from '.Net Core' to '.Net'
  src/Installers/Windows/SharedFrameworkBundle/SharedFrameworkBundle.wixproj
  src/Installers/Windows/WindowsHostingBundle/WindowsHostingBundle.wixproj
Labels: area-installers, tell-mode

#29109 [release/5.0] Don't include RuntimeList.xml in sharedFx archive
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-platform, tell-mode

#29276 [release/5.0] Update to 1.0.2 SDK
  global.json
Labels: area-infrastructure, ask-mode

#29273 Update pull request template with more details
  .github/pull_request_template.md
Labels: area-infrastructure

#27187 Removes the "sort" parameter from being passed to VS Where
  eng/scripts/InstallVisualStudio.ps1
Labels: area-infrastructure, community-contribution

#29293 Produce correct blazor.boot.json when using StaticWebAssetBasePath
  src/Components/WebAssembly/Sdk/integrationtests/WasmPublishIntegrationTest.cs
  src/Components/WebAssembly/Sdk/src/targets/Microsoft.NET.Sdk.BlazorWebAssembly.Current.targets
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.FirstClient/App.razor
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.FirstClient/BlazorMultipleApps.FirstClient.csproj
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.FirstClient/Program.cs
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.FirstClient/wwwroot/css/app.css
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.FirstClient/wwwroot/index.html
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.SecondClient/App.razor
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.SecondClient/BlazorMultipleApps.SecondClient.csproj
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.SecondClient/Program.cs
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.SecondClient/wwwroot/css/app.css
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.SecondClient/wwwroot/index.html
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.Server/BlazorMultipleApps.Server.csproj
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.Server/Program.cs
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.Shared/BlazorMultipleApps.Shared.csproj
  src/Components/WebAssembly/Sdk/testassets/BlazorMultipleApps.Shared/WeatherForecast.cs
  src/Components/WebAssembly/Sdk/testassets/RestoreBlazorWasmTestProjects/RestoreBlazorWasmTestProjects.csproj
Labels: Servicing-approved, area-blazor

#29315 Remove SignCheck package version override
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#29321 Mostly revert "Do not trigger CI builds for changes to doc files (#27484)"
  .azure/pipelines/ci.yml
  .azure/pipelines/quarantined-pr.yml
Labels: area-infrastructure, auto-merge

#29323 Quarantine Reset_DurringRequestBody_Resets, Reset_BeforeRequestBody_Resets
  src/Servers/HttpSys/test/FunctionalTests/Http2Tests.cs
Labels: area-servers, auto-merge

#29328 Quarantine CannotInvokeJSInteropBeforeInitialization
  src/Components/test/E2ETest/ServerExecutionTests/ComponentHubReliabilityTest.cs
Labels: area-blazor, auto-merge

#29240 QUIC transport logging clean up
  src/Servers/Kestrel/Transport.Quic/src/Internal/IQuicTrace.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicTrace.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketsTrace.cs
Labels: area-servers

#29258 Enable nullable on Auth.Certificate and Auth.JwtBearer
  src/Security/Authentication/Certificate/src/CertificateAuthenticationExtensions.cs
  src/Security/Authentication/Certificate/src/CertificateAuthenticationHandler.cs
  src/Security/Authentication/Certificate/src/CertificateAuthenticationOptions.cs
  src/Security/Authentication/Certificate/src/CertificateValidationCache.cs
  src/Security/Authentication/Certificate/src/Events/CertificateAuthenticationFailedContext.cs
  src/Security/Authentication/Certificate/src/Events/CertificateValidatedContext.cs
  src/Security/Authentication/Certificate/src/ICertificateValidationCache.cs
  src/Security/Authentication/Certificate/src/LoggingExtensions.cs
  src/Security/Authentication/Certificate/src/Microsoft.AspNetCore.Authentication.Certificate.csproj
  src/Security/Authentication/Certificate/src/PublicAPI.Shipped.txt
  src/Security/Authentication/JwtBearer/src/AuthenticationFailedContext.cs
  src/Security/Authentication/JwtBearer/src/JwtBearerChallengeContext.cs
  src/Security/Authentication/JwtBearer/src/JwtBearerExtensions.cs
  src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs
  src/Security/Authentication/JwtBearer/src/JwtBearerOptions.cs
  src/Security/Authentication/JwtBearer/src/LoggingExtensions.cs
  src/Security/Authentication/JwtBearer/src/MessageReceivedContext.cs
  src/Security/Authentication/JwtBearer/src/Microsoft.AspNetCore.Authentication.JwtBearer.csproj
  src/Security/Authentication/JwtBearer/src/PublicAPI.Shipped.txt
  src/Security/Authentication/JwtBearer/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/JwtBearer/src/TokenValidatedContext.cs
  src/Security/Authentication/WsFederation/src/Microsoft.AspNetCore.Authentication.WsFederation.csproj
Labels: area-security

#29251 Enable nullable on CookiePolicy and Authentication.OAuth
  src/Analyzers/Microsoft.AspNetCore.Analyzer.Testing/src/Microsoft.AspNetCore.Analyzer.Testing.csproj
  src/Http/Owin/src/Microsoft.AspNetCore.Owin.csproj
  src/Security/Authentication/OAuth/src/ClaimAction.cs
  src/Security/Authentication/OAuth/src/ClaimActionCollectionMapExtensions.cs
  src/Security/Authentication/OAuth/src/Events/OAuthCreatingTicketContext.cs
  src/Security/Authentication/OAuth/src/JsonKeyClaimAction.cs
  src/Security/Authentication/OAuth/src/JsonSubKeyClaimAction.cs
  src/Security/Authentication/OAuth/src/LoggingExtensions.cs
  src/Security/Authentication/OAuth/src/MapAllClaimsAction.cs
  src/Security/Authentication/OAuth/src/Microsoft.AspNetCore.Authentication.OAuth.csproj
  src/Security/Authentication/OAuth/src/OAuthChallengeProperties.cs
  src/Security/Authentication/OAuth/src/OAuthHandler.cs
  src/Security/Authentication/OAuth/src/OAuthOptions.cs
  src/Security/Authentication/OAuth/src/OAuthPostConfigureOptions.cs
  src/Security/Authentication/OAuth/src/OAuthTokenResponse.cs
  src/Security/Authentication/OAuth/src/PublicAPI.Shipped.txt
  src/Security/CookiePolicy/src/CookiePolicyOptions.cs
  src/Security/CookiePolicy/src/LoggingExtensions.cs
  src/Security/CookiePolicy/src/Microsoft.AspNetCore.CookiePolicy.csproj
  src/Security/CookiePolicy/src/PublicAPI.Shipped.txt
  src/Security/CookiePolicy/src/ResponseCookiesWrapper.cs
  src/Servers/Kestrel/Transport.Libuv/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv.csproj
  src/Testing/src/Microsoft.AspNetCore.Testing.csproj
Labels: area-security

#29336 Fix WebSocket test port
  src/Middleware/WebSockets/test/UnitTests/KestrelWebSocketHelpers.cs
  src/Middleware/WebSockets/test/UnitTests/WebSocketMiddlewareTests.cs
Labels: area-middleware, area-websockets

#29329 Enable nullable on ConcurrencyLimiter, SpaServices.Extensions
  src/Middleware/ConcurrencyLimiter/src/ConcurrencyLimiterEventSource.cs
  src/Middleware/ConcurrencyLimiter/src/ConcurrencyLimiterMiddleware.cs
  src/Middleware/ConcurrencyLimiter/src/Microsoft.AspNetCore.ConcurrencyLimiter.csproj
  src/Middleware/ConcurrencyLimiter/src/PublicAPI.Shipped.txt
  src/Middleware/ConcurrencyLimiter/src/QueuePolicies/ResettableBooleanCompletionSource.cs
  src/Middleware/ConcurrencyLimiter/src/QueuePolicies/StackPolicy.cs
  src/Middleware/SpaServices.Extensions/src/Microsoft.AspNetCore.SpaServices.Extensions.csproj
  src/Middleware/SpaServices.Extensions/src/Npm/NodeScriptRunner.cs
  src/Middleware/SpaServices.Extensions/src/Prerendering/SpaPrerenderingOptions.cs
  src/Middleware/SpaServices.Extensions/src/Proxying/SpaProxy.cs
  src/Middleware/SpaServices.Extensions/src/Proxying/SpaProxyingExtensions.cs
  src/Middleware/SpaServices.Extensions/src/PublicAPI.Shipped.txt
  src/Middleware/SpaServices.Extensions/src/SpaApplicationBuilderExtensions.cs
  src/Middleware/SpaServices.Extensions/src/SpaDefaultPageMiddleware.cs
  src/Middleware/SpaServices.Extensions/src/SpaOptions.cs
  src/Middleware/SpaServices.Extensions/src/StaticFiles/DefaultSpaStaticFileProvider.cs
  src/Middleware/SpaServices.Extensions/src/StaticFiles/ISpaStaticFileProvider.cs
  src/Middleware/SpaServices.Extensions/src/StaticFiles/SpaStaticFilesExtensions.cs
  src/Middleware/SpaServices.Extensions/src/StaticFiles/SpaStaticFilesOptions.cs
  src/Middleware/SpaServices.Extensions/src/Util/EventedStreamReader.cs
  src/Middleware/StaticFiles/src/Infrastructure/SharedOptions.cs
  src/Middleware/StaticFiles/src/Infrastructure/SharedOptionsBase.cs
  src/Middleware/StaticFiles/src/PublicAPI.Shipped.txt
  src/Middleware/StaticFiles/src/PublicAPI.Unshipped.txt
Labels: area-middleware

#29346 [Blazor] Unquarantine CanRenderMarkupBlocks
  src/Components/test/E2ETest/Tests/ComponentRenderingTest.cs
Labels: area-blazor

#29345 [Blazor] Unquarantine PreventDefaultCanBlockKeyStrokes
  src/Components/test/E2ETest/Tests/EventBubblingTest.cs
Labels: area-blazor

#29275 Update Servers' Obsolete messages and comments
  src/Servers/IIS/IIS/src/BadHttpRequestException.cs
  src/Servers/IIS/IIS/src/Core/IISServerAuthenticationHandler.cs
  src/Servers/IIS/IIS/src/Core/ThrowingWasUpgradedWriteOnlyStream.cs
  src/Servers/IIS/IIS/src/Core/WrappingStream.cs
  src/Servers/IIS/IIS/src/Core/WriteOnlyStream.cs
  src/Servers/IIS/IIS/src/HttpContextExtensions.cs
  src/Servers/Kestrel/Core/src/BadHttpRequestException.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/WrappingStream.cs
  src/Servers/Kestrel/Transport.Libuv/src/LibuvTransportOptions.cs
  src/Servers/Kestrel/Transport.Libuv/src/WebHostBuilderLibuvExtensions.cs
Labels: area-servers

#29249 [Java] Catch exceptions from users and change close state correctly
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/OkHttpWebSocketWrapper.java
Labels: Servicing-approved, area-signalr

#29331 Make ProdCon args to run.ps1 conditional
  run.ps1
Labels: area-infrastructure

#29253 Enable nullable on Authentication.MicrosoftAccount
  src/Security/Authentication/MicrosoftAccount/src/Microsoft.AspNetCore.Authentication.MicrosoftAccount.csproj
  src/Security/Authentication/MicrosoftAccount/src/MicrosoftAccountHandler.cs
  src/Security/Authentication/MicrosoftAccount/src/MicrosoftChallengeProperties.cs
  src/Security/Authentication/MicrosoftAccount/src/PublicAPI.Shipped.txt
  src/Security/Authentication/OAuth/src/ClaimActionCollectionMapExtensions.cs
  src/Security/Authentication/OAuth/src/CustomJsonClaimAction.cs
  src/Security/Authentication/OAuth/src/PublicAPI.Shipped.txt
Labels: area-security

#29389 Fixed nullable annotation.
  src/Security/Authentication/Cookies/src/ITicketStore.cs
  src/Security/Authentication/Cookies/src/PublicAPI.Shipped.txt
Labels: area-security

#29252 Enable nullable on Authentication.Negotiate
  src/Security/Authentication/Negotiate/src/Events/AuthenticationFailedContext.cs
  src/Security/Authentication/Negotiate/src/Internal/INegotiateState.cs
  src/Security/Authentication/Negotiate/src/Internal/LdapAdapter.cs
  src/Security/Authentication/Negotiate/src/Internal/NegotiateLoggingExtensions.cs
  src/Security/Authentication/Negotiate/src/Internal/ReflectedNegotiateState.cs
  src/Security/Authentication/Negotiate/src/LdapSettings.cs
  src/Security/Authentication/Negotiate/src/Microsoft.AspNetCore.Authentication.Negotiate.csproj
  src/Security/Authentication/Negotiate/src/NegotiateExtensions.cs
  src/Security/Authentication/Negotiate/src/NegotiateHandler.cs
  src/Security/Authentication/Negotiate/src/NegotiateOptions.cs
  src/Security/Authentication/Negotiate/src/PostConfigureNegotiateOptions.cs
  src/Security/Authentication/Negotiate/src/PublicAPI.Shipped.txt
Labels: area-security

#29028 Unify publish/test mvc.testing functionality + switch to helix for mvc functional tests
  src/Mvc/Mvc.Testing/src/Microsoft.AspNetCore.Mvc.Testing.targets
  src/Mvc/Mvc.Testing/src/WebApplicationFactory.cs
  src/Mvc/samples/MvcSandbox/MvcSandbox.csproj
  src/Mvc/test/Mvc.FunctionalTests/BasicTests.cs
  src/Mvc/test/Mvc.FunctionalTests/ErrorPageTests.cs
  src/Mvc/test/Mvc.FunctionalTests/HtmlGenerationTest.cs
  src/Mvc/test/Mvc.FunctionalTests/Infrastructure/ResourceFile.cs
  src/Mvc/test/Mvc.FunctionalTests/LinkGenerationTests.cs
  src/Mvc/test/Mvc.FunctionalTests/Microsoft.AspNetCore.Mvc.FunctionalTests.csproj
  src/Mvc/test/Mvc.FunctionalTests/RazorPagesTest.cs
  src/Mvc/test/Mvc.FunctionalTests/RemoteAttributeValidationTest.cs
  src/Mvc/test/Mvc.FunctionalTests/TagHelperComponentTagHelperTest.cs
  src/Mvc/test/Mvc.FunctionalTests/TagHelpersTest.cs
  src/Mvc/test/Mvc.FunctionalTests/UrlResolutionTest.cs
  src/Mvc/test/Mvc.FunctionalTests/ViewEngineTests.cs
  src/Mvc/test/WebSites/ErrorPageMiddlewareWebSite/ErrorPageMiddlewareWebSite.csproj
  src/Mvc/test/WebSites/RazorBuildWebSite/RazorBuildWebSite.csproj
  src/Mvc/test/WebSites/RazorPagesWebSite/RazorPagesWebSite.csproj
  src/Mvc/test/WebSites/RoutingWebSite/Mvc.RoutingWebSite.csproj
Labels: area-mvc

#29403 Update BuildFromSource.md
  docs/BuildFromSource.md
Labels: area-infrastructure, community-contribution

#29361 Update precedence of templates for 6.0
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorClassLibrary-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/template.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/.template.config/template.json
Labels: area-mvc

#27712 Added dotnet-format pre commit hook.
  .githooks/pre-commit
  build.ps1
Labels: area-infrastructure, community-contribution

#29429 Quarantine IIS test, fix Kestrel test
  src/Servers/IIS/IIS/test/Common.FunctionalTests/FrebTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/UpgradeTests.cs
Labels: area-servers

#29313 [Mvc] Support IAsyncDisposable for controllers and pages
  src/Mvc/Mvc.Core/src/Controllers/ControllerActivatorProvider.cs
  src/Mvc/Mvc.Core/src/Controllers/ControllerFactoryProvider.cs
  src/Mvc/Mvc.Core/src/Controllers/DefaultControllerActivator.cs
  src/Mvc/Mvc.Core/src/Controllers/DefaultControllerFactory.cs
  src/Mvc/Mvc.Core/src/Controllers/IControllerActivator.cs
  src/Mvc/Mvc.Core/src/Controllers/IControllerActivatorProvider.cs
  src/Mvc/Mvc.Core/src/Controllers/IControllerFactory.cs
  src/Mvc/Mvc.Core/src/Controllers/IControllerFactoryProvider.cs
  src/Mvc/Mvc.Core/src/Infrastructure/ControllerActionInvoker.cs
  src/Mvc/Mvc.Core/src/Infrastructure/ControllerActionInvokerCache.cs
  src/Mvc/Mvc.Core/src/Infrastructure/ControllerActionInvokerCacheEntry.cs
  src/Mvc/Mvc.Core/src/Infrastructure/ResourceInvoker.cs
  src/Mvc/Mvc.Core/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Core/src/Resources.resx
  src/Mvc/Mvc.Core/test/Controllers/ControllerFactoryProviderTest.cs
  src/Mvc/Mvc.Core/test/Controllers/DefaultControllerActivatorTest.cs
  src/Mvc/Mvc.Core/test/Controllers/DefaultControllerFactoryTest.cs
  src/Mvc/Mvc.Core/test/Filters/MiddlewareFilterTest.cs
  src/Mvc/Mvc.Core/test/Infrastructure/ControllerActionInvokerTest.cs
  src/Mvc/Mvc.Razor/src/RazorViewEngine.cs
  src/Mvc/Mvc.Razor/src/Resources.resx
  src/Mvc/Mvc.RazorPages/src/IPageActivatorProvider.cs
  src/Mvc/Mvc.RazorPages/src/IPageFactoryProvider.cs
  src/Mvc/Mvc.RazorPages/src/IPageModelActivatorProvider.cs
  src/Mvc/Mvc.RazorPages/src/IPageModelFactoryProvider.cs
  src/Mvc/Mvc.RazorPages/src/Infrastructure/DefaultPageActivatorProvider.cs
  src/Mvc/Mvc.RazorPages/src/Infrastructure/DefaultPageFactoryProvider.cs
  src/Mvc/Mvc.RazorPages/src/Infrastructure/DefaultPageModelActivatorProvider.cs
  src/Mvc/Mvc.RazorPages/src/Infrastructure/DefaultPageModelFactoryProvider.cs
  src/Mvc/Mvc.RazorPages/src/Infrastructure/PageActionInvoker.cs
  src/Mvc/Mvc.RazorPages/src/Infrastructure/PageActionInvokerCache.cs
  src/Mvc/Mvc.RazorPages/src/Infrastructure/PageActionInvokerCacheEntry.cs
  src/Mvc/Mvc.RazorPages/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.RazorPages/test/Infrastructure/DefaultPageActivatorProviderTest.cs
  src/Mvc/Mvc.RazorPages/test/Infrastructure/DefaultPageFactoryProviderTest.cs
  src/Mvc/Mvc.RazorPages/test/Infrastructure/DefaultPageModelActivatorProviderTest.cs
  src/Mvc/Mvc.RazorPages/test/Infrastructure/DefaultPageModelFactoryProviderTest.cs
  src/Mvc/Mvc.RazorPages/test/Infrastructure/PageActionInvokerProviderTest.cs
  src/Mvc/Mvc.RazorPages/test/Infrastructure/PageActionInvokerTest.cs
  src/Mvc/Mvc.ViewFeatures/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.ViewFeatures/src/Resources.resx
  src/Mvc/Mvc.ViewFeatures/src/ViewComponents/DefaultViewComponentActivator.cs
  src/Mvc/Mvc.ViewFeatures/src/ViewComponents/DefaultViewComponentFactory.cs
  src/Mvc/Mvc.ViewFeatures/src/ViewComponents/DefaultViewComponentInvoker.cs
  src/Mvc/Mvc.ViewFeatures/src/ViewComponents/IViewComponentActivator.cs
  src/Mvc/Mvc.ViewFeatures/src/ViewComponents/IViewComponentFactory.cs
  src/Mvc/Mvc.ViewFeatures/src/ViewEngines/CompositeViewEngine.cs
  src/Mvc/Mvc.ViewFeatures/test/ViewComponents/DefaultViewComponentActivatorTests.cs
  src/Mvc/Mvc.ViewFeatures/test/ViewComponents/DefaultViewComponentFactoryTest.cs
  src/Mvc/test/Mvc.FunctionalTests/AsyncDisposalTest.cs
  src/Mvc/test/Mvc.FunctionalTests/Infrastructure/MvcTestFixture.cs
  src/Mvc/test/Mvc.FunctionalTests/PageAsyncDisposalTest.cs
  src/Mvc/test/WebSites/BasicWebSite/Controllers/AsyncDisposableController.cs
  src/Mvc/test/WebSites/RazorPagesWebSite/AsyncDisposable.cshtml
  src/Mvc/test/WebSites/RazorPagesWebSite/PageTestDisposeAsync.cs
Labels: area-mvc

#29434 Update Helix.md to include process for updating helix matrix
  docs/Helix.md
Labels: auto-merge

#29404 Stop the host first and then dispose it!
  src/Mvc/Mvc.Testing/src/WebApplicationFactory.cs
  src/Mvc/test/Mvc.FunctionalTests/TestingInfrastructureInheritanceTests.cs
Labels: area-mvc, community-contribution

#29386 remove 'text/javascript' from scriptElements
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
Labels: area-blazor

#29473 Add API docs to twitter auth
  src/Security/Authentication/Twitter/src/Messages/RequestToken.cs
  src/Security/Authentication/Twitter/src/Microsoft.AspNetCore.Authentication.Twitter.csproj
  src/Security/Authentication/Twitter/src/TwitterDefaults.cs
  src/Security/Authentication/Twitter/src/TwitterExtensions.cs
  src/Security/Authentication/Twitter/src/TwitterHandler.cs
  src/Security/Authentication/Twitter/src/TwitterPostConfigureOptions.cs
Labels: area-security

#29247 Enable SpaServices tests on helix
  eng/helix/content/InstallNode.ps1
  eng/helix/content/runtests.cmd
  eng/targets/Helix.targets
  src/Middleware/SpaServices.Extensions/test/Microsoft.AspNetCore.SpaServices.Extensions.Tests.csproj
  src/Middleware/SpaServices.Extensions/test/SpaServicesExtensionsTests.cs
Labels: area-mvc, auto-merge

#29505 Add triggers for 'main' branch
  .azure/pipelines/ci.yml
  .azure/pipelines/helix-matrix.yml
  .azure/pipelines/quarantined-pr.yml
Labels: area-infrastructure

#29511 Mention 'main' instead of 'master'
  .azure/pipelines/helix-matrix.yml
  .azure/pipelines/quarantined-pr.yml
  .azure/pipelines/quarantined-tests.yml
  .github/pull_request_template.md
  .github/workflows/runtime-sync.yml
  README.md
  build.ps1
  docs/BuildFromSource.md
  docs/Helix.md
  docs/ReferenceResolution.md
  docs/TriageProcess.md
  eng/scripts/CodeCheck.ps1
  eng/scripts/InstallVisualStudio.ps1
  src/Components/benchmarkapps/Wasm.Performance/benchmarks.compose.json
  src/Components/benchmarkapps/Wasm.Performance/dockerfile
  src/Http/Routing/test/testassets/Benchmarks/benchmarks.json
  src/JSInterop/Microsoft.JSInterop.JS/src/package.json
  src/Localization/README.md
  src/Mvc/README.md
  src/Mvc/benchmarkapps/BasicApi/benchmarks.json
  src/Mvc/benchmarkapps/BasicViews/benchmarks.json
  src/Razor/README.md
  src/Shared/runtime/ReadMe.SharedCode.md
  src/SignalR/README.md
  src/SignalR/clients/java/signalr/core/build.gradle
  src/SignalR/clients/java/signalr/messagepack/build.gradle
  src/SignalR/clients/ts/signalr-protocol-msgpack/package.json
  src/SignalR/clients/ts/signalr/package.json
Labels: area-infrastructure, auto-merge

#29515 Guard more logging calls in CertificateManager
  src/Shared/CertificateGeneration/CertificateManager.cs
Labels: auto-merge

#29480 Enable nullable on HttpSys
  src/Servers/HttpSys/src/ApplicationRequestContextFactory.cs
  src/Servers/HttpSys/src/AsyncAcceptContext.cs
  src/Servers/HttpSys/src/AuthenticationHandler.cs
  src/Servers/HttpSys/src/AuthenticationManager.cs
  src/Servers/HttpSys/src/HttpSysListener.cs
  src/Servers/HttpSys/src/HttpSysOptions.cs
  src/Servers/HttpSys/src/MessagePump.cs
  src/Servers/HttpSys/src/Microsoft.AspNetCore.Server.HttpSys.csproj
  src/Servers/HttpSys/src/NativeInterop/HttpApi.cs
  src/Servers/HttpSys/src/NativeInterop/HttpSysSettings.cs
  src/Servers/HttpSys/src/NativeInterop/RequestQueue.cs
  src/Servers/HttpSys/src/NativeInterop/SafeLibraryHandle.cs
  src/Servers/HttpSys/src/NativeInterop/TokenBindingUtil.cs
  src/Servers/HttpSys/src/NativeInterop/UrlGroup.cs
  src/Servers/HttpSys/src/PublicAPI.Shipped.txt
  src/Servers/HttpSys/src/RequestProcessing/ClientCertLoader.cs
  src/Servers/HttpSys/src/RequestProcessing/HttpReasonPhrase.cs
  src/Servers/HttpSys/src/RequestProcessing/OpaqueStream.cs
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.FeatureCollection.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContextOfT.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestStream.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestStreamAsyncResult.cs
  src/Servers/HttpSys/src/RequestProcessing/Response.cs
  src/Servers/HttpSys/src/RequestProcessing/ResponseBody.cs
  src/Servers/HttpSys/src/RequestProcessing/ResponseStreamAsyncResult.cs
  src/Servers/HttpSys/src/ResponseStream.cs
  src/Servers/HttpSys/src/StandardFeatureCollection.cs
  src/Servers/HttpSys/src/TimeoutManager.cs
  src/Servers/HttpSys/src/UrlPrefix.cs
  src/Servers/HttpSys/src/UrlPrefixCollection.cs
  src/Servers/HttpSys/src/ValidationHelper.cs
  src/Shared/HttpSys/NativeInterop/CookedUrl.cs
  src/Shared/HttpSys/NativeInterop/HeapAllocHandle.cs
  src/Shared/HttpSys/NativeInterop/HttpApiTypes.cs
  src/Shared/HttpSys/NativeInterop/HttpSysRequestHeader.cs
  src/Shared/HttpSys/NativeInterop/HttpSysResponseHeader.cs
  src/Shared/HttpSys/NativeInterop/NclUtilities.cs
  src/Shared/HttpSys/NativeInterop/SafeLocalFreeChannelBinding.cs
  src/Shared/HttpSys/NativeInterop/SafeLocalMemHandle.cs
  src/Shared/HttpSys/NativeInterop/SafeNativeOverlapped.cs
  src/Shared/HttpSys/NativeInterop/SocketAddress.cs
  src/Shared/HttpSys/NativeInterop/UnsafeNativeMethods.cs
  src/Shared/HttpSys/RequestProcessing/HeaderCollection.cs
  src/Shared/HttpSys/RequestProcessing/HeaderEncoding.cs
  src/Shared/HttpSys/RequestProcessing/HeaderParser.cs
  src/Shared/HttpSys/RequestProcessing/HttpKnownHeaderNames.cs
  src/Shared/HttpSys/RequestProcessing/NativeRequestContext.cs
  src/Shared/HttpSys/RequestProcessing/PathNormalizer.cs
  src/Shared/HttpSys/RequestProcessing/RawUrlHelper.cs
  src/Shared/HttpSys/RequestProcessing/RequestHeaders.cs
  src/Shared/HttpSys/RequestProcessing/RequestUriBuilder.cs
  src/Shared/HttpSys/RequestProcessing/SslStatus.cs
Labels: area-servers

#28894 [SignalR] Ignore ODE with AsyncEnumerables
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HubConnectionTests.cs
Labels: area-signalr

#29512 Update branding to `6.0.0-preview1`
  eng/Versions.props
Labels: area-infrastructure, auto-merge

#29551 Remove System.Text.Json from blazor-wasm
  src/ProjectTemplates/Web.ProjectTemplates/ComponentsWebAssembly-CSharp.Client.csproj.in
Labels: area-mvc, auto-merge

#29359 Fix test flakiness with OnTimeout
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/PipeWriterHelpers/TimingPipeFlusher.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TimeoutTests.cs
Labels: area-servers

#29552 Alway skip failing UseSpa tests on Alpine
  src/Middleware/SpaServices.Extensions/test/SpaServicesExtensionsTests.cs
  src/ProjectTemplates/test/GrpcTemplateTest.cs
  src/Testing/src/xunit/SkipOnAlpineAttribute.cs
Labels: area-mvc

#29543 Update Worker template to not throw unexpectedly
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/Worker.cs
Labels: area-mvc

#29554 Quarantine flaky CanInvokeDotNetMethods test
  src/Components/test/E2ETest/Tests/InteropTest.cs
Labels: area-blazor, auto-merge

#29514 Update to the dotnet6 feed
  docs/DailyBuilds.md
Labels: area-infrastructure

#29557 Fixed a Typo in `CookieAuthenticationOptions.cs`.
  src/Security/Authentication/Cookies/src/CookieAuthenticationOptions.cs
Labels: area-security, auto-merge

#29516 Remove triggers for 'master' branch
  .azure/pipelines/ci.yml
  .azure/pipelines/helix-matrix.yml
  .azure/pipelines/quarantined-pr.yml
  .azure/pipelines/quarantined-tests.yml
Labels: area-infrastructure

#29444 Removes unnecessary object array allocation
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
Labels: area-signalr, community-contribution

#29449 FunctionalTests - Clean up publish of deps.json
  AspNetCore.sln
  src/Azure/AzureAD/test/FunctionalTests/Microsoft.AspNetCore.Authentication.AzureAD.FunctionalTests.csproj
  src/Identity/test/Identity.FunctionalTests/Microsoft.AspNetCore.Identity.FunctionalTests.csproj
  src/Mvc/Mvc.Testing.Tasks/src/GenerateMvcTestManifestTask.cs
  src/Mvc/Mvc.Testing/src/Microsoft.AspNetCore.Mvc.Testing.targets
  src/Mvc/Mvc.Testing/src/WebApplicationFactory.cs
  src/Mvc/Mvc.slnf
  src/Mvc/MvcNoDeps.slnf
  src/Mvc/test/Mvc.FunctionalTests/Microsoft.AspNetCore.Mvc.FunctionalTests.csproj
  src/Security/test/AuthSamples.FunctionalTests/AuthSamples.FunctionalTests.csproj
Labels: area-identity, area-mvc

#29568 Remove unused code from testassets
  src/Components/WebAssembly/testassets/CustomBasePathApp/CustomBasePathApp.csproj
  src/Components/WebAssembly/testassets/StandaloneApp/StandaloneApp.csproj
Labels: area-blazor, auto-merge

#28444 Get rid of 2 pass razor pages logic in the default case
  src/Mvc/Mvc.Razor.RuntimeCompilation/src/DependencyInjection/RazorRuntimeCompilationMvcCoreBuilderExtensions.cs
  src/Mvc/Mvc.Razor.RuntimeCompilation/src/PageLoaderMatcherPolicy.cs
  src/Mvc/Mvc.Razor.RuntimeCompilation/test/DependencyInjection/RazorRuntimeCompilationMvcCoreBuilderExtensionsTest.cs
  src/Mvc/Mvc.Razor.RuntimeCompilation/test/PageLoaderMatcherPolicyTest.cs
  src/Mvc/Mvc.RazorPages/src/DependencyInjection/MvcRazorPagesMvcCoreBuilderExtensions.cs
  src/Mvc/Mvc.RazorPages/src/Infrastructure/CompiledPageActionDescriptorFactory.cs
  src/Mvc/Mvc.RazorPages/src/Infrastructure/CompiledPageActionDescriptorProvider.cs
  src/Mvc/Mvc.RazorPages/src/Infrastructure/DefaultPageLoader.cs
  src/Mvc/Mvc.RazorPages/src/Infrastructure/DynamicPageEndpointMatcherPolicy.cs
  src/Mvc/Mvc.RazorPages/src/Infrastructure/DynamicPageEndpointSelectorCache.cs
  src/Mvc/Mvc.RazorPages/src/Infrastructure/PageActionInvokerProvider.cs
  src/Mvc/Mvc.RazorPages/src/Infrastructure/PageLoader.cs
  src/Mvc/Mvc.RazorPages/src/Properties/AssemblyInfo.cs
  src/Mvc/Mvc.RazorPages/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.RazorPages/test/Infrastructure/CompiledPageActionDescriptorFactoryTest.cs
  src/Mvc/Mvc.RazorPages/test/Infrastructure/DefaultPageLoaderTest.cs
  src/Mvc/Mvc.RazorPages/test/Infrastructure/DynamicPageEndpointMatcherPolicyTest.cs
  src/Mvc/Mvc.RazorPages/test/Infrastructure/PageActionInvokerProviderTest.cs
  src/Mvc/Mvc.slnf
  src/Mvc/Mvc/test/MvcServiceCollectionExtensionsTest.cs
  src/Mvc/test/WebSites/RoutingWebSite/Program.cs
Labels: api-approved, area-mvc

#29555 Expose "InputElement" on qualified classes
  src/Components/Components/src/EventCallbackFactoryBinderExtensions.cs
  src/Components/Web/src/Forms/InputCheckbox.cs
  src/Components/Web/src/Forms/InputDate.cs
  src/Components/Web/src/Forms/InputFile.cs
  src/Components/Web/src/Forms/InputNumber.cs
  src/Components/Web/src/Forms/InputRadio.cs
  src/Components/Web/src/Forms/InputSelect.cs
  src/Components/Web/src/Forms/InputText.cs
  src/Components/Web/src/Forms/InputTextArea.cs
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/Web/test/Forms/InputDateTest.cs
  src/Components/Web/test/Forms/InputNumberTest.cs
  src/Components/Web/test/Forms/InputSelectTest.cs
  src/Components/Web/test/Forms/InputTextAreaTest.cs
  src/Components/Web/test/Forms/InputTextTest.cs
  src/Components/test/E2ETest/Tests/InputActionsTest.cs
  src/Components/test/testassets/BasicTestApp/FormsTest/InputFocusComponent.razor
  src/Components/test/testassets/BasicTestApp/Index.razor
Labels: api-approved, area-blazor, community-contribution

#29546 Add link to another user store in list of community maintained store providers
  src/Identity/README.md
Labels: area-identity, community-contribution

#29467 Switch to using new fedora helix 33 docker image
  eng/targets/Helix.Common.props
  src/Testing/src/HelixQueues.cs
  src/Tools/dotnet-watch/test/GlobbingAppTests.cs
Labels: area-infrastructure

#29580 removed unnecessary null check
  src/Identity/Core/src/SignInManager.cs
Labels: area-identity

#16879 Add log event name for Identity
  src/Identity/ApiAuthorization.IdentityServer/src/Configuration/ConfigureApiResources.cs
  src/Identity/ApiAuthorization.IdentityServer/src/Configuration/ConfigureClientScopes.cs
  src/Identity/ApiAuthorization.IdentityServer/src/Configuration/ConfigureClients.cs
  src/Identity/ApiAuthorization.IdentityServer/src/Configuration/ConfigureSigningCredentials.cs
  src/Identity/ApiAuthorization.IdentityServer/src/Extensions/AutoRedirectEndSessionEndpoint.cs
  src/Identity/ApiAuthorization.IdentityServer/src/LoggerEventIds.cs
  src/Identity/Core/src/EventIds.cs
  src/Identity/Core/src/SecurityStampValidator.cs
  src/Identity/Core/src/SignInManager.cs
  src/Identity/Extensions.Core/src/LoggerEventIds.cs
  src/Identity/Extensions.Core/src/RoleManager.cs
  src/Identity/Extensions.Core/src/UserManager.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/ExternalLogin.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Login.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/LoginWith2fa.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/LoginWithRecoveryCode.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Logout.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/ChangePassword.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/DeletePersonalData.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/Disable2fa.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/DownloadPersonalData.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/EnableAuthenticator.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/GenerateRecoveryCodes.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/ResetAuthenticator.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Register.cshtml.cs
  src/Identity/UI/src/LoggerEventIds.cs
  src/Identity/UI/src/PublicAPI.Unshipped.txt
Labels: area-identity, community-contribution

#29245 Fix typo in RequestImageFileAsync argument name
  src/Components/Web/src/Forms/InputFile/BrowserFileExtensions.cs
  src/Components/Web/src/PublicAPI.Shipped.txt
Labels: api-approved, area-blazor, auto-merge, breaking-change, community-contribution

#29625 When looking up the async entry point also look for "<Main>$"
  src/Components/WebAssembly/WebAssembly/src/Hosting/EntrypointInvoker.cs
Labels: area-blazor, blazor-wasm

#29618 Update Kestrel logs about overridden endpoints
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Internal/AddressBinder.cs
  src/Servers/Kestrel/Core/test/AddressBinderTests.cs
  src/Servers/Kestrel/test/BindTests/AddressRegistrationTests.cs
Labels: area-servers, servers-kestrel

#29448 Use string.Create to build absolute URI
  src/Http/Http.Extensions/src/UriHelper.cs
  src/Http/Http.Extensions/test/UriHelperTests.cs
Labels: area-servers, auto-merge, community-contribution

#29631 Set all environment variables as UPPERCASE in pipeline
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#29616 Make RegisterForDispose handle objects that implement IAsyncDisposable
  src/Http/Http.Abstractions/src/HttpResponse.cs
  src/Http/Http/test/Internal/DefaultHttpResponseTests.cs
Labels: area-servers

#29640 Update branding to 6.0.0-preview2
  eng/Versions.props
Labels: area-infrastructure

#29667 Run all tests on quarantine runs to mimic ci runs
  eng/helix/content/RunTests/TestRunner.cs
Labels: area-infrastructure

#29652 Requarantine component tests
  src/Components/test/E2ETest/ServerExecutionTests/ServerEventTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/ServerGlobalizationTest.cs
  src/Components/test/E2ETest/Tests/BinaryHttpClientTest.cs
  src/Components/test/E2ETest/Tests/ComponentRenderingTest.cs
  src/Components/test/E2ETest/Tests/EventBubblingTest.cs
  src/Components/test/E2ETest/Tests/EventTest.cs
  src/Components/test/E2ETest/Tests/FormsTest.cs
  src/Components/test/E2ETest/Tests/InputFileTest.cs
  src/Components/test/E2ETest/Tests/PerformanceTest.cs
  src/Components/test/E2ETest/Tests/VirtualizationTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyLazyLoadTest.cs
Labels: area-blazor

#29658 Remove extra thread hop
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs
Labels: area-servers

#29638 Make SemaphoreAwaited in QueuePolicy static
  src/Middleware/ConcurrencyLimiter/src/QueuePolicies/QueuePolicy.cs
Labels: area-middleware, community-contribution

#29701 Correct Download.ps1 path for mssql downloads
  eng/helix/content/mssql/InstallSqlServerLocalDB.ps1
Labels: area-infrastructure

#29654 Add IHttpMinRequestBodyDataRateFeature to Http3Stream
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.FeatureCollection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.FeatureCollection.cs
  src/Servers/Kestrel/Core/test/Http3HttpProtocolFeatureCollectionTests.cs
  src/Servers/Kestrel/shared/test/TestContextFactory.cs
Labels: area-servers, auto-merge

#29660 Consume ValueTask in DefaultHubLifetimeManager
  src/SignalR/server/Core/src/DefaultHubLifetimeManager.cs
  src/SignalR/server/Core/src/HubConnectionContext.cs
Labels: area-signalr, community-contribution

#29707 Remove Skip Windows.10.Amd64.Server20H1.Open Helix Queue
  src/Middleware/Diagnostics/test/FunctionalTests/Diagnostics.FunctionalTests.csproj
Labels: area-middleware

#29710 Consume ValueTask with GetAwaiter().GetResult()
  src/Components/Components/src/Rendering/ComponentState.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
Labels: area-blazor, area-servers, community-contribution

#29696 Revert "Run all tests on quarantine runs to mimic ci runs"
  eng/helix/content/RunTests/TestRunner.cs
Labels: area-infrastructure, auto-merge

#29724 Dispose X509Chain in CertificateAuthenticationHandler
  src/Security/Authentication/Certificate/src/CertificateAuthenticationHandler.cs
  src/Security/test/AuthSamples.FunctionalTests/CustomPolicyProviderTests.cs
Labels: area-security, auto-merge, community-contribution

#29760 Remove references to WebSocketProtocol
  eng/Dependencies.props
  eng/Version.Details.xml
  eng/Versions.props
  src/Servers/IIS/IIS/test/IIS.NewHandler.FunctionalTests/IIS.NewHandler.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/testassets/InProcessNewShimWebSite/InProcessNewShimWebSite.csproj
Labels: area-servers, auto-merge

#29688 Add an option to tag helper providers to allow filtering
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/src/ViewComponentTagHelperDescriptorProvider.cs
  src/Razor/Microsoft.AspNetCore.Mvc.Razor.Extensions/test/ViewComponentTagHelperDescriptorProviderTest.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/src/ComponentTagHelperDescriptorProvider.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/src/DefaultTagHelperDescriptorProvider.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/src/EventHandlerTagHelperDescriptorProvider.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/src/Properties/AssemblyInfo.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/src/TagHelperDiscoveryFilter.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/src/TagHelperDiscoveryFilterExtensions.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/test/ComponentTagHelperDescriptorProviderTest.cs
  src/Razor/Microsoft.CodeAnalysis.Razor/test/DefaultTagHelperDescriptorProviderTest.cs
Labels: area-mvc

#29740 Quarantine E2E Test DownloadFileFromAnchor
  src/Components/test/E2ETest/Tests/DownloadAnchorTest.cs
Labels: area-mvc, test-failure

#29706 Fix h1-4 in identity ui for accessibility
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/ConfirmEmailChange.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/ExternalLogin.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/ForgotPassword.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Login.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/ChangePassword.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/DeletePersonalData.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/Disable2fa.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/DownloadPersonalData.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/Email.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/EnableAuthenticator.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/ExternalLogins.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/GenerateRecoveryCodes.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/Index.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/PersonalData.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/ResetAuthenticator.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/SetPassword.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/ShowRecoveryCodes.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/TwoFactorAuthentication.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/_Layout.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Register.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/ResendEmailConfirmation.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/ResetPassword.cshtml
Labels: area-identity

#29764 Update Blazor Server App template name to `BlazorApp`
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/.template.config/template.json
Labels: area-blazor
