Repository dotnet/aspnetcore, pull requests merged in 2022-08, with the labels that each got.

#42995 Cleanup u8 workarounds
  src/DataProtection/Abstractions/test/DataProtectionCommonExtensionsTests.cs
  src/DataProtection/Extensions/test/DataProtectionAdvancedExtensionsTests.cs
  src/DataProtection/Extensions/test/DataProtectionProviderTests.cs
  src/Shared/CertificateGeneration/CertificateManager.cs
Labels: area-infrastructure

#43027 Update Selenium ChromeDriver version
  eng/Versions.props
  src/Shared/E2ETesting/selenium-config.json
Labels: area-infrastructure

#42978 Add comment about RequestQuery
  src/Middleware/HttpLogging/src/HttpLoggingFields.cs
Labels: area-runtime

#42999 Updated to jquery.validate.unobtrusive v4.0.0
  src/Identity/UI/src/Areas/Identity/Pages/V4/_ValidationScriptsPartial.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V5/_ValidationScriptsPartial.cshtml
  src/Identity/UI/src/assets/V4/lib/jquery-validation-unobtrusive/LICENSE.txt
  src/Identity/UI/src/assets/V4/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
  src/Identity/UI/src/assets/V4/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
  src/Identity/UI/src/assets/V5/lib/jquery-validation-unobtrusive/LICENSE.txt
  src/Identity/UI/src/assets/V5/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
  src/Identity/UI/src/assets/V5/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
  src/Identity/samples/IdentitySample.DefaultUI/Views/Shared/_ValidationScriptsPartial.cshtml
  src/Identity/samples/IdentitySample.Mvc/Views/Shared/_ValidationScriptsPartial.cshtml
  src/Identity/testassets/Identity.DefaultUI.WebSite/Pages/_ValidationScriptsPartial.cshtml
  src/Identity/testassets/Identity.DefaultUI.WebSite/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
  src/Identity/testassets/Identity.DefaultUI.WebSite/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
  src/Identity/testassets/Identity.DefaultUI.WebSite/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
  src/Mvc/test/WebSites/BasicWebSite/_bower.json
  src/Mvc/test/WebSites/BasicWebSite/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
  src/Mvc/test/WebSites/GenericHostWebSite/_bower.json
  src/Mvc/test/WebSites/GenericHostWebSite/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
  src/Security/samples/ClaimsTransformation/Views/Shared/_ValidationScriptsPartial.cshtml
  src/Security/samples/ClaimsTransformation/bower.json
  src/Security/samples/ClaimsTransformation/wwwroot/lib/jquery-validation-unobtrusive/.bower.json
  src/Security/samples/ClaimsTransformation/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
  src/Security/samples/ClaimsTransformation/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
  src/Security/samples/Cookies/Views/Shared/_ValidationScriptsPartial.cshtml
  src/Security/samples/Cookies/bower.json
  src/Security/samples/Cookies/wwwroot/lib/jquery-validation-unobtrusive/.bower.json
  src/Security/samples/Cookies/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
  src/Security/samples/Cookies/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
  src/Security/samples/DynamicSchemes/Pages/_ValidationScriptsPartial.cshtml
  src/Security/samples/DynamicSchemes/wwwroot/lib/jquery-validation-unobtrusive/.bower.json
  src/Security/samples/DynamicSchemes/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
  src/Security/samples/DynamicSchemes/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
  src/Security/samples/Identity.ExternalClaims/Pages/_ValidationScriptsPartial.cshtml
  src/Security/samples/Identity.ExternalClaims/wwwroot/lib/jquery-validation-unobtrusive/.bower.json
  src/Security/samples/Identity.ExternalClaims/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
  src/Security/samples/Identity.ExternalClaims/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
  src/Security/samples/PathSchemeSelection/Views/Shared/_ValidationScriptsPartial.cshtml
  src/Security/samples/PathSchemeSelection/bower.json
  src/Security/samples/PathSchemeSelection/wwwroot/lib/jquery-validation-unobtrusive/.bower.json
  src/Security/samples/PathSchemeSelection/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
  src/Security/samples/PathSchemeSelection/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
  src/Security/samples/StaticFilesAuth/Views/Shared/_ValidationScriptsPartial.cshtml
  src/Security/samples/StaticFilesAuth/wwwroot/lib/jquery-validation-unobtrusive/.bower.json
  src/Security/samples/StaticFilesAuth/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
  src/Security/samples/StaticFilesAuth/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
Labels: area-mvc

#42760 HTTP/3: ValueTask pooling
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs
Labels: area-runtime

#42992 Try to capture more helix logs for IIS errors
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Infrastructure/FunctionalTestsBase.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISDeployer.cs
  src/Testing/src/HelixHelper.cs
  src/Testing/src/xunit/SkipNonHelix.cs
  src/Testing/src/xunit/SkipOnCIAttribute.cs
  src/Testing/src/xunit/SkipOnHelixAttribute.cs
Labels: area-runtime

#41239 Http Response fails when writing more than 255MB
  src/Servers/IIS/IIS/src/Core/IISHttpContext.IO.cs
  src/Servers/IIS/IIS/src/Core/IO/AsyncIOEngine.cs
  src/Servers/IIS/IIS/test/IIS.Tests/ResponseBodySizeTests.cs
Labels: area-runtime, community-contribution

#43039 HTTP/3: Disable HTTP/3 when multiple protocols used on dynamic port
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Servers/Kestrel/Core/test/KestrelServerTests.cs
  src/Servers/Kestrel/Transport.Quic/test/Microsoft.AspNetCore.Server.Kestrel.Transport.Quic.Tests.csproj
  src/Servers/Kestrel/Transport.Quic/test/WebHostTests.cs
  src/Servers/Kestrel/shared/test/ServerRetryHelper.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3TlsTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Interop.FunctionalTests.csproj
Labels: area-runtime

#43012 Add alt-used to known headers
  src/Servers/HttpSys/test/FunctionalTests/Http2Tests.cs
  src/Servers/HttpSys/test/FunctionalTests/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Http2Tests.cs
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/Http2TrailersResetTests.cs
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/IIS.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IIS.LongTests/IIS.LongTests.csproj
  src/Servers/IIS/IIS/test/IIS.NewHandler.FunctionalTests/IIS.NewHandler.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IIS.NewShim.FunctionalTests/IIS.NewShim.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/IISExpress.FunctionalTests.csproj
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.Generated.cs
  src/Servers/Kestrel/Core/src/Microsoft.AspNetCore.Server.Kestrel.Core.csproj
  src/Servers/Kestrel/Core/test/HttpRequestHeadersTests.cs
  src/Servers/Kestrel/perf/Microbenchmarks/Http2/Http2ConnectionBenchmarkBase.cs
  src/Servers/Kestrel/perf/Microbenchmarks/Http3/Http3ConnectionBenchmarkBase.cs
  src/Servers/Kestrel/samples/http2cat/http2cat.csproj
  src/Servers/Kestrel/shared/KnownHeaders.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TimeoutTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2WebSocketTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TimeoutTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/WebTransport/WebTransportHandshakeTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/WebTransport/WebTransportTestUtilities.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
  src/Servers/Kestrel/tools/CodeGenerator/CodeGenerator.csproj
  src/Shared/Http2cat/Http2Utilities.cs
  src/Shared/InternalHeaderNames.cs
Labels: area-runtime

#43057 Update branding to 6.0.9
  .azure/pipelines/jobs/default-build.yml
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#42940 [release/6.0] Add missing ConfigureAwait(false) to PolicyHttpMessageHandler
  src/HttpClientFactory/Polly/src/PolicyHttpMessageHandler.cs
Labels: Servicing-approved, area-runtime

#43001 [release/6.0] Set WebApplication.New().ServerFeatures
  src/DefaultBuilder/src/WebApplication.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
Labels: Servicing-approved, area-runtime

#43050 Update branding to 3.1.29
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#43048 Fix `GET_MultipleRequests_RequestVersionOrHigher_UpgradeToHttp3()`
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
Labels: area-runtime

#42983 HTTP/3: QUIC address in use
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionListener.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicLog.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionListenerTests.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicTestHelpers.cs
Labels: area-runtime

#42812 Disallowing `nullable` with `AsParameters` attribute
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Shared/PropertyAsParameterInfo.cs
Labels: area-web-frameworks

#43055 Remove call to .Any() from ProblemDetailsDefaultWriter
  src/Http/Http.Extensions/src/DefaultProblemDetailsWriter.cs
Labels: area-runtime

#42674 [dotnet user-jwts] Move signing key details to top-level property
  src/Security/Authentication/JwtBearer/src/JwtBearerConfigureOptions.cs
  src/Security/Authentication/test/JwtBearerTests.cs
  src/Tools/dotnet-user-jwts/src/Commands/CreateCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/KeyCommand.cs
  src/Tools/dotnet-user-jwts/src/Helpers/DevJwtCliHelpers.cs
  src/Tools/dotnet-user-jwts/src/Helpers/DevJwtDefaults.cs
  src/Tools/dotnet-user-jwts/src/Helpers/SigningKey.cs
  src/Tools/dotnet-user-jwts/src/Helpers/SigningKeysHandler.cs
  src/Tools/dotnet-user-jwts/src/Resources.resx
  src/Tools/dotnet-user-jwts/test/UserJwtsTestFixture.cs
  src/Tools/dotnet-user-jwts/test/UserJwtsTests.cs
Labels: area-web-frameworks, feature-userjwts

#42757 Cleanup AspNetCoreAnalyzers
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RenderTreeBuilder/RenderTreeBuilderAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/DetectMismatchedParameterOptionality.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/DetectMisplacedLambdaAttribute.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/DisallowReturningActionResultFromMapMethods.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/RouteHandlerAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/WebApplicationBuilder/WebApplicationBuilderAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/DetectMismatchedParameterOptionalityFixer.cs
Labels: area-infrastructure, community-contribution, area-web-frameworks

#40503 Default to 3 local retries
  eng/test-configuration.json
Labels: area-infrastructure

#43065 HTTP/3: Fix accepting simultaneous connections
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionListener.cs
  src/Servers/Kestrel/Transport.Quic/test/Microsoft.AspNetCore.Server.Kestrel.Transport.Quic.Tests.csproj
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionListenerTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
Labels: area-runtime

#43082 RequestAbort token stays the same after abort
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/test/FunctionalTests/RequestTests.cs
Labels: area-runtime

#43088 Quarantine FrameworkNotFoundExceptionLogged_File
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/StdOutRedirectionTests.cs
Labels: area-runtime

#43058 IISDeployer: Harden stop/start and dump sites
  src/Servers/IIS/IntegrationTesting.IIS/src/IISDeployer.cs
Labels: area-runtime

#43079 Follow-up for cancellation of navigation events in Blazor
  src/Components/Components/src/NavigationManager.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/Routing/LocationChangingContext.cs
  src/Components/Components/test/NavigationManagerTest.cs
  src/Components/Server/src/Circuits/RemoteNavigationManager.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web/src/Routing/NavigationLock.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyNavigationManager.cs
  src/Components/WebView/WebView/src/Services/WebViewNavigationManager.cs
Labels: area-blazor

#42720 Mark SignalR SourceGen as not shipping for RC and RTM
  src/SignalR/clients/csharp/Client.SourceGenerator/src/GeneratorHelpers.cs
  src/SignalR/clients/csharp/Client.SourceGenerator/src/HubClientProxyGenerator.Emitter.cs
  src/SignalR/clients/csharp/Client.SourceGenerator/src/HubServerProxyGenerator.Emitter.cs
  src/SignalR/clients/csharp/Client.SourceGenerator/src/Microsoft.AspNetCore.SignalR.Client.SourceGenerator.csproj
  src/SignalR/clients/csharp/Client/test/UnitTests/HubClientProxyGeneratorTests.cs
Labels: area-signalr

#42795 [release/2.1] Move builds to MacOS 11
  .azure/pipelines/e2e-tests.yml
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure, tell-mode

#43105 Update CODEOWNERS to catch more API updates
  .github/CODEOWNERS
Labels: area-infrastructure

#42447 Throw from OnConnected and OnDisconnected when using client results
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/Core/src/Internal/HubCallerClients.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTestUtils/Hubs.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.ClientResult.cs
Labels: area-signalr

#43103 Kestrel Content-Length handling changes
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2WebSocketTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTargetProcessingTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseTests.cs
Labels: area-runtime

#42857 Suppress downgrade error in SharedFx bundle
  src/Installers/Windows/SharedFrameworkBundle/Bundle.wxs
Labels: area-infrastructure

#43120 macOS dev-certs - Handle keychain paths with spaces
  src/Shared/CertificateGeneration/MacOSCertificateManager.cs
Labels: area-commandlinetools, feature-devcerts

#42827 Remove RequestDelegateFactory call from RouteEndpointBuilder
  src/Http/Routing/src/Builder/EndpointRouteBuilderExtensions.cs
  src/Http/Routing/src/Builder/RouteHandlerBuilder.cs
  src/Http/Routing/src/ConfigureRouteHandlerOptions.cs
  src/Http/Routing/src/Microsoft.AspNetCore.Routing.csproj
  src/Http/Routing/src/ModelEndpointDataSource.cs
  src/Http/Routing/src/RouteEndpointBuilder.cs
  src/Http/Routing/src/RouteEndpointDataSource.cs
  src/Http/Routing/test/UnitTests/Builder/EndpointRoutingApplicationBuilderExtensionsTest.cs
  src/Http/Routing/test/UnitTests/Builder/RequestDelegateEndpointRouteBuilderExtensionsTest.cs
  src/Http/Routing/test/UnitTests/RouteEndpointBuilderTest.cs
  src/Http/Routing/test/UnitTests/RouteHandlerOptionsTests.cs
  src/Middleware/Rewrite/test/MiddlewareTests.cs
  src/Shared/RoslynUtils/GeneratedNameParser.cs
  src/Shared/RoslynUtils/TypeHelper.cs
Labels: area-runtime

#41761 Add test for assembly versions in our packages
  src/Framework/test/Microsoft.AspNetCore.App.UnitTests.csproj
  src/Framework/test/PackageTests.cs
  src/Framework/test/TestData.cs
Labels: area-infrastructure

#43106 Obsolete LeakTrackingObjectPool and LeakTrackingObjectPoolProvider
  src/ObjectPool/src/LeakTrackingObjectPool.cs
  src/ObjectPool/src/LeakTrackingObjectPoolProvider.cs
Labels: area-runtime

#43107 Fix route handler analyzer test culture warnings
  src/Framework/AspNetCoreAnalyzers/test/RouteHandlers/DisallowReturningActionResultsFromMapMethodsTest.cs
Labels: area-infrastructure, area-web-frameworks

#42937 Add analyzer to suggest top level route registration
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DiagnosticDescriptors.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/WebApplicationBuilder/WebApplicationBuilderAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/WebApplicationBuilder/WellKnownTypes.cs
  src/Framework/AspNetCoreAnalyzers/test/WebApplicationBuilder/UseTopLevelRouteRegistrationInsteadOfUseEndpointsTest.cs
Labels: area-infrastructure

#43148 [6.0] macOS dev-certs - Handle keychain paths with spaces
  src/Shared/CertificateGeneration/MacOSCertificateManager.cs
Labels: Servicing-approved, area-commandlinetools, feature-devcerts

#43167 Register authz middleware where services not added
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Program.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Program.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Program.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Program.cs
Labels: area-mvc

#43169 Merging internal commits for release/3.1
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure, tell-mode

#43059 Remove IsAvailable check on CommitAsync.
  src/Middleware/Session/src/DistributedSession.cs
Labels: area-runtime

#43168 Merging internal commits for release/6.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: tell-mode

#43164 Fix some Kestrel test indenting
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TimeoutTests.cs
Labels: area-runtime

#43172 Update downlevel SiteExtension versions
  eng/Versions.props
Labels: area-infrastructure

#43153 Delete StartupExceptionHandler
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/StartupExceptionHandler.h
Labels: area-runtime

#43184 ApplicationBuilder server features defaults to empty collection
  src/Http/Http.Abstractions/src/IApplicationBuilder.cs
  src/Http/Http/src/Builder/ApplicationBuilder.cs
  src/Http/Http/test/ApplicationBuilderTests.cs
Labels: area-runtime

#43177 Accessibility focus fixes
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/wwwroot/css/site.css
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/css/app.css
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/wwwroot/css/site.css
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/wwwroot/css/site.css
Labels: area-mvc

#43179 Add comment about QueryString in more places
  src/Middleware/HttpLogging/src/HttpLoggingFields.cs
Labels: area-runtime

#43100 Add more info to UnrecognizedMediaType
  src/Middleware/HttpLogging/src/BufferingStream.cs
  src/Middleware/HttpLogging/src/HttpLoggingExtensions.cs
  src/Middleware/HttpLogging/src/HttpLoggingMiddleware.cs
  src/Middleware/HttpLogging/test/HttpLoggingMiddlewareTests.cs
Labels: area-runtime

#43173 Update baseline, merge from internal
  eng/Baseline.Designer.props
  eng/Baseline.xml
  src/PackageArchive/Archive.CiServer.Patch.Compat/ArchiveBaseline.2.1.36.txt
  src/PackageArchive/Archive.CiServer.Patch/ArchiveBaseline.2.1.36.txt
  version.props
Labels: area-infrastructure, tell-mode

#43198 Store Task of IAuthorizationHandler
  src/Security/Authorization/Core/src/DefaultAuthorizationHandlerProvider.cs
Labels: area-security, community-contribution

#43199 Revert Dispose in IIS tests
  src/Hosting/Server.IntegrationTesting/src/Common/DeploymentResult.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/AspNetCorePortTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/GlobalVersionTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Infrastructure/FunctionalTestsBase.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Infrastructure/IISFunctionalTestBase.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/MaxRequestBodySizeTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Latin1Tests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/LoggingTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/MultiApplicationTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/WindowsAuthTests.cs
  src/Servers/IIS/IIS/test/Common.LongTests/ShutdownTests.cs
  src/Servers/IIS/IIS/test/Common.LongTests/StartupTests.cs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/ApplicationInitializationTests.cs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/StdOutRedirectionTests.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISDeployer.cs
Labels: area-runtime

#43204 Dynamic include DataProtectionKey.Id
  src/DataProtection/EntityFrameworkCore/src/DataProtectionKey.cs
Labels: area-dataprotection, area-runtime

#43170 Consolidate error pages used by ANCM and improve link
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/AspNetCore.vcxproj
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/HtmlResponses.rc
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/InProcessShimStaticHtml.htm
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/OutOfProcessShimStaticHtml.htm
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/ancm_error_page.htm
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/applicationinfo.cpp
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/resource.h
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/file_utility.h
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/HtmlResponses.rc
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/InProcessRequestHandler.vcxproj
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/dllmain.cpp
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/resource.h
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/HtmlResponses.rc
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/OutOfProcessRequestHandler.vcxproj
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/OutOfProcessRhStaticHtml.htm
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/forwardinghandler.cpp
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/resource.h
Labels: area-runtime

#43205 Fix check for auth services in middleware auto-registration
  src/DefaultBuilder/src/Microsoft.AspNetCore.csproj
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/Security/Authorization/test/AuthorizationMiddlewareTests.cs
  src/Security/Authorization/test/Microsoft.AspNetCore.Authorization.Test.csproj
Labels: area-web-frameworks

#43196 Fixed the license value for the jquery-validation-unobtrusive repo
  src/Security/samples/ClaimsTransformation/wwwroot/lib/jquery-validation-unobtrusive/.bower.json
  src/Security/samples/Cookies/wwwroot/lib/jquery-validation-unobtrusive/.bower.json
  src/Security/samples/DynamicSchemes/wwwroot/lib/jquery-validation-unobtrusive/.bower.json
  src/Security/samples/Identity.ExternalClaims/wwwroot/lib/jquery-validation-unobtrusive/.bower.json
  src/Security/samples/PathSchemeSelection/wwwroot/lib/jquery-validation-unobtrusive/.bower.json
  src/Security/samples/StaticFilesAuth/wwwroot/lib/jquery-validation-unobtrusive/.bower.json
Labels: area-security

#43207 Update DataProtectionKey to use DynamicDependency
  src/DataProtection/EntityFrameworkCore/src/DataProtectionKey.cs
  src/DataProtection/EntityFrameworkCore/src/EntityFrameworkCoreXmlRepository.cs
Labels: area-dataprotection

#42724 Add Web Application Builder analyzers/fixers and tests
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DiagnosticDescriptors.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/WebApplicationBuilder/WebApplicationBuilderAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/WebApplicationBuilderFixer.cs
  src/Framework/AspNetCoreAnalyzers/test/Verifiers/CSharpWebApplicationBuilderCodeFixVerifier.cs
  src/Framework/AspNetCoreAnalyzers/test/WebApplicationBuilder/DisallowConfigureAppConfigureHostBuilderTest.cs
  src/Framework/AspNetCoreAnalyzers/test/WebApplicationBuilder/DisallowConfigureHostBuilderConfigureWebHostTest.cs
  src/Framework/AspNetCoreAnalyzers/test/WebApplicationBuilder/DisallowConfigureHostLoggingTest.cs
  src/Framework/AspNetCoreAnalyzers/test/WebApplicationBuilder/DisallowConfigureServicesTest.cs
Labels: area-web-frameworks

#43045 Add missing "Blazor" project type tag for empty Blazor project templates
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyBlazorServerWeb-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/.template.config/ide.host.json
Labels: area-mvc

#42557 Make route handler filters work for MVC controllers
  src/Http/Http.Abstractions/src/Extensions/EndpointBuilder.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Routing/src/Builder/EndpointFilterExtensions.cs
  src/Http/Routing/src/Patterns/RoutePatternFactory.cs
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/src/RouteEndpointBuilder.cs
  src/Http/Routing/src/RouteEndpointDataSource.cs
  src/Http/Routing/test/UnitTests/RouteEndpointBuilderTest.cs
  src/Mvc/Mvc.Core/src/Controllers/ControllerActionDescriptor.cs
  src/Mvc/Mvc.Core/src/Infrastructure/ActionMethodExecutor.cs
  src/Mvc/Mvc.Core/src/Infrastructure/ControllerActionInvoker.cs
  src/Mvc/Mvc.Core/src/Infrastructure/ControllerActionInvokerCache.cs
  src/Mvc/Mvc.Core/src/Infrastructure/ControllerActionInvokerCacheEntry.cs
  src/Mvc/Mvc.Core/src/Infrastructure/ControllerEndpointFilterInvocationContext.cs
  src/Mvc/Mvc.Core/src/Routing/ActionEndpointDataSourceBase.cs
  src/Mvc/Mvc.Core/src/Routing/ActionEndpointFactory.cs
  src/Mvc/Mvc.Core/src/Routing/ControllerActionEndpointDataSource.cs
  src/Mvc/Mvc.Core/test/Filters/MiddlewareFilterTest.cs
  src/Mvc/Mvc.Core/test/Infrastructure/ActionMethodExecutorTest.cs
  src/Mvc/Mvc.Core/test/Infrastructure/ControllerActionInvokerTest.cs
  src/Mvc/Mvc.Core/test/Routing/ActionEndpointDataSourceBaseTest.cs
  src/Mvc/Mvc.Core/test/Routing/ActionEndpointFactoryTest.cs
  src/Mvc/Mvc.Core/test/Routing/ControllerActionEndpointDataSourceTest.cs
  src/Mvc/Mvc.RazorPages/src/Infrastructure/DefaultPageLoader.cs
  src/Mvc/Mvc.RazorPages/src/Infrastructure/PageActionEndpointDataSource.cs
  src/Mvc/Mvc.RazorPages/test/Infrastructure/DefaultPageLoaderTest.cs
  src/Mvc/Mvc.RazorPages/test/Infrastructure/PageActionEndpointDataSourceTest.cs
  src/Mvc/perf/Microbenchmarks/Microsoft.AspNetCore.Mvc/ControllerActionEndpointDatasourceBenchmark.cs
  src/Mvc/test/Mvc.FunctionalTests/ControllerEndpointFiltersTest.cs
  src/Mvc/test/Mvc.FunctionalTests/RoutingGroupsTest.cs
  src/Mvc/test/Mvc.FunctionalTests/RoutingGroupsWithMetadataTest.cs
  src/Mvc/test/WebSites/RoutingWebSite/Controllers/ConventionalControllerWithMetadata.cs
  src/Mvc/test/WebSites/RoutingWebSite/Controllers/ItemsController.cs
  src/Mvc/test/WebSites/RoutingWebSite/Infrastructure/ManualControllerFeatureProvider.cs
  src/Mvc/test/WebSites/RoutingWebSite/Infrastructure/MetadataAttribute.cs
  src/Mvc/test/WebSites/RoutingWebSite/StartupForEndpointFilters.cs
  src/Mvc/test/WebSites/RoutingWebSite/StartupForRouteGroupsWithMetadata.cs
Labels: area-mvc

#42876 Fix UsePathBase with WAB
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/Http/Http.Abstractions/src/Extensions/UsePathBaseExtensions.cs
  src/Http/Http.Abstractions/src/Microsoft.AspNetCore.Http.Abstractions.csproj
  src/Http/Http.Abstractions/test/Microsoft.AspNetCore.Http.Abstractions.Tests.csproj
  src/Http/Http.Abstractions/test/UsePathBaseExtensionsTests.cs
  src/Http/Routing/src/Builder/EndpointRoutingApplicationBuilderExtensions.cs
  src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerExtensions.cs
  src/Middleware/Diagnostics/src/Microsoft.AspNetCore.Diagnostics.csproj
  src/Middleware/Diagnostics/src/StatusCodePage/StatusCodePagesExtensions.cs
  src/Middleware/Rewrite/src/Microsoft.AspNetCore.Rewrite.csproj
  src/Middleware/Rewrite/src/RewriteBuilderExtensions.cs
  src/Shared/Reroute.cs
Labels: area-runtime

#42671 [SignalR] [.NET Client] Retry HTTP request on auth failure
  src/SignalR/clients/csharp/Client/test/UnitTests/HttpConnectionTests.Transport.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnection.Log.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnection.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/AccessTokenHttpMessageHandler.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/SendUtils.cs
Labels: area-signalr

#43228 Skip empty lines between requests
  src/Servers/Kestrel/Core/src/Internal/Http/Http1Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpParser.cs
  src/Servers/Kestrel/Core/test/StartLineTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/BadHttpRequestTests.cs
Labels: area-runtime

#43224 Retry tests
  eng/test-configuration.json
Labels: area-infrastructure

#43226 Exclude some .wxl files from localization
  eng/Localize/LocExclusions.json
Labels: area-infrastructure

#42692 [Blazor] Dynamic authentication requests
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/AuthenticationService.ts
  src/Components/WebAssembly/WebAssembly.Authentication/src/Microsoft.AspNetCore.Components.WebAssembly.Authentication.csproj
  src/Components/WebAssembly/WebAssembly.Authentication/src/Models/InteractionType.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Models/InteractiveRequestOptions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Models/RemoteAuthenticationContext.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/NavigationManagerExtensions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticatorViewCore.Log.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticatorViewCore.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/AccessTokenResult.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/ExpiredTokenException.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/RemoteAuthenticationService.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/SignOutSessionStateManager.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/WebAssemblyAuthenticationServiceCollectionExtensions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/AuthorizationMessageHandlerTests.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/RemoteAuthenticationServiceTests.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/RemoteAuthenticatorCoreTests.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Pages/Token.razor
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Pages/UserPreferences.razor
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Program.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Shared/LoginDisplay.razor
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Shared/NavMenu.razor
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Shared/RedirectToLogin.razor
  src/Components/WebAssembly/testassets/Wasm.Authentication.Client/wwwroot/appsettings.json
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Controllers/OidcConfigurationController.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Startup.cs
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Wasm.Authentication.Server.csproj
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/create-db.cmd
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/create-db.sh
  src/Components/test/E2ETest/Tests/WebAssemblyAuthenticationTests.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/LoginDisplay.IndividualLocalAuth.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/LoginDisplay.IndividualMsalAuth.razor
  src/Shared/QueryStringEnumerable.cs
Labels: area-blazor, feature-blazor-wasm-auth

#43077 Updating HttpMethodMetadata based on ICorsMetadata
  src/Http/Routing/src/HttpMethodMetadata.cs
  src/Http/Routing/src/IHttpMethodMetadata.cs
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/src/RouteEndpointBuilder.cs
  src/Http/Routing/test/FunctionalTests/EndpointRoutingIntegrationTest.cs
  src/Http/Routing/test/UnitTests/RouteEndpointBuilderTest.cs
  src/Mvc/Mvc.Cors/src/CorsApplicationModelProvider.cs
  src/Mvc/Mvc.Cors/test/CorsApplicationModelProviderTest.cs
Labels: area-web-frameworks

#43210 Reuse PolicyAuthorizationResult
  src/Security/Authorization/Policy/src/PolicyAuthorizationResult.cs
Labels: area-security, community-contribution

#43219 Fix typo in trimmer annotation
  src/Http/Routing/src/RouteOptions.cs
Labels: area-runtime, community-contribution

#43229 [6.0] Skip empty lines between requests
  src/Servers/Kestrel/Core/src/Internal/Http/Http1Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpParser.cs
  src/Servers/Kestrel/Core/test/StartLineTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/BadHttpRequestTests.cs
Labels: Servicing-approved, area-runtime

#41719 Remove support for some Tasks and ValueTasks declared as objects in RDF
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
Labels: area-runtime

#43200 Reduce state machine in AuthorizationMiddlewareResultHandler
  src/Security/Authorization/Policy/src/AuthorizationMiddlewareResultHandler.cs
Labels: area-security, community-contribution

#43247 Add another testcase for ExtraLinesBetweenRequestsIgnored
  src/Servers/Kestrel/test/InMemory.FunctionalTests/BadHttpRequestTests.cs
Labels: area-runtime

#43037 HTTP/3: Support QUIC idle timeout more cleanly
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3ControlStream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/IHttp3Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/StreamCompletionFlags.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicLog.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs
  src/Servers/Kestrel/shared/test/Http3/Http3InMemory.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TimeoutTests.cs
Labels: area-runtime

#43267 Removing .NET Core from documentation and updating it to the .NET as Core has been removed from .NET 5 onwards.
  README.md
Labels: community-contribution

#41944 Kestrel: Support full cert chain
  src/Security/Authorization/Policy/src/AuthorizationEndpointConventionBuilderExtensions.cs
  src/Servers/Kestrel/Core/src/HttpsConnectionAdapterOptions.cs
  src/Servers/Kestrel/Core/src/Internal/Certificates/CertificateConfigLoader.cs
  src/Servers/Kestrel/Core/src/Internal/Certificates/ICertificateConfigLoader.cs
  src/Servers/Kestrel/Core/src/Internal/SniOptionsSelector.cs
  src/Servers/Kestrel/Core/src/KestrelConfigurationLoader.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Servers/Kestrel/Core/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Core/test/SniOptionsSelectorTests.cs
  src/Servers/Kestrel/Kestrel/test/KestrelConfigurationLoaderTests.cs
  src/Servers/Kestrel/shared/test/CertHelper.cs
  src/Servers/Kestrel/shared/test/CertificateAuthority.cs
  src/Servers/Kestrel/shared/test/RevocationResponder.cs
  src/Servers/Kestrel/shared/test/TestCertificates/intermediate2_ca.crt
  src/Servers/Kestrel/shared/test/TestCertificates/intermediate2_ca.key
  src/Servers/Kestrel/shared/test/TestCertificates/intermediate_ca.crt
  src/Servers/Kestrel/shared/test/TestCertificates/intermediate_ca.key
  src/Servers/Kestrel/shared/test/TestCertificates/leaf.com.crt
  src/Servers/Kestrel/shared/test/TestCertificates/leaf.com.key
  src/Servers/Kestrel/shared/test/TestCertificates/root_ca.crt
  src/Servers/Kestrel/shared/test/TestCertificates/root_ca.key
  src/Servers/Kestrel/shared/test/TestResources.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
Labels: area-runtime

#43275 Add credscan stuff
  .config/CredScanSuppressions.json
Labels: area-infrastructure

#43263 Kestrel sample: only enable delayed client cert negotiation on non-macOS
  src/Servers/Kestrel/samples/SampleApp/Startup.cs
Labels: area-runtime

#43053 RateLimitingMiddleware updates
  src/Middleware/RateLimiting/samples/RateLimitingSample/Program.cs
  src/Middleware/RateLimiting/src/DefaultKeyType.cs
  src/Middleware/RateLimiting/src/DisableRateLimitingAttribute.cs
  src/Middleware/RateLimiting/src/EnableRateLimitingAttribute.cs
  src/Middleware/RateLimiting/src/IRateLimiterMetadata.cs
  src/Middleware/RateLimiting/src/Microsoft.AspNetCore.RateLimiting.csproj
  src/Middleware/RateLimiting/src/PublicAPI.Unshipped.txt
  src/Middleware/RateLimiting/src/RateLimiterEndpointConventionBuilderExtensions.cs
  src/Middleware/RateLimiting/src/RateLimiterMetadata.cs
  src/Middleware/RateLimiting/src/RateLimiterOptions.cs
  src/Middleware/RateLimiting/src/RateLimiterOptionsExtensions.cs
  src/Middleware/RateLimiting/src/RateLimiterServiceCollectionExtensions.cs
  src/Middleware/RateLimiting/src/RateLimitingMiddleware.cs
  src/Middleware/RateLimiting/test/RateLimiterEndpointConventionBuilderExtensionsTests.cs
  src/Middleware/RateLimiting/test/RateLimitingMiddlewareTests.cs
Labels: area-runtime, blog-candidate

#43121 Sync output cache with API review
  src/Middleware/OutputCaching/src/CacheVaryByRules.cs
  src/Middleware/OutputCaching/src/LoggerExtensions.cs
  src/Middleware/OutputCaching/src/OutputCacheAttribute.cs
  src/Middleware/OutputCaching/src/OutputCacheContext.cs
  src/Middleware/OutputCaching/src/OutputCacheKeyProvider.cs
  src/Middleware/OutputCaching/src/OutputCacheMiddleware.cs
  src/Middleware/OutputCaching/src/OutputCachePolicyBuilder.cs
  src/Middleware/OutputCaching/src/Policies/DefaultPolicy.cs
  src/Middleware/OutputCaching/src/Policies/NamedPolicy.cs
  src/Middleware/OutputCaching/src/Policies/TypedPolicy.cs
  src/Middleware/OutputCaching/src/Policies/VaryByHeaderPolicy.cs
  src/Middleware/OutputCaching/src/Policies/VaryByRouteValuePolicy.cs
  src/Middleware/OutputCaching/src/PublicAPI.Unshipped.txt
  src/Middleware/OutputCaching/test/OutputCacheAttributeTests.cs
  src/Middleware/OutputCaching/test/OutputCacheKeyProviderTests.cs
  src/Middleware/OutputCaching/test/OutputCacheMiddlewareTests.cs
  src/Middleware/OutputCaching/test/OutputCachePoliciesTests.cs
  src/Middleware/OutputCaching/test/OutputCachePolicyBuilderTests.cs
  src/Middleware/OutputCaching/test/OutputCachePolicyProviderTests.cs
  src/Middleware/OutputCaching/test/TestUtils.cs
Labels: area-runtime

#43182 Fix MVC form data binding localization
  src/Mvc/Mvc.Core/src/ModelBinding/FormValueProvider.cs
  src/Mvc/Mvc.Core/src/ModelBinding/JQueryFormValueProvider.cs
  src/Mvc/Mvc.Core/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Core/test/ModelBinding/FormValueProviderTest.cs
  src/Mvc/Mvc.Core/test/ModelBinding/JQueryFormValueProviderTest.cs
  src/Mvc/Mvc.TagHelpers/src/InputTagHelper.cs
  src/Mvc/Mvc.TagHelpers/test/InputTagHelperTest.cs
  src/Mvc/Mvc.ViewFeatures/src/DefaultHtmlGenerator.cs
  src/Mvc/Mvc.ViewFeatures/src/FormContext.cs
  src/Mvc/Mvc.ViewFeatures/src/HtmlHelperOptions.cs
  src/Mvc/Mvc.ViewFeatures/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.ViewFeatures/src/Rendering/FormInputRenderMode.cs
  src/Mvc/Mvc.ViewFeatures/src/ViewDataDictionary.cs
  src/Mvc/Mvc.ViewFeatures/test/DefaultHtmlGeneratorTest.cs
  src/Mvc/test/Mvc.FunctionalTests/HtmlGenerationTest.cs
  src/Mvc/test/Mvc.FunctionalTests/compiler/resources/HtmlGenerationWebSite.HtmlGeneration_Customer.Index.html
  src/Mvc/test/Mvc.FunctionalTests/compiler/resources/HtmlGenerationWebSite.HtmlGeneration_Home.Customer.html
  src/Mvc/test/Mvc.FunctionalTests/compiler/resources/HtmlGenerationWebSite.HtmlGeneration_Home.EmployeeList.html
  src/Mvc/test/Mvc.FunctionalTests/compiler/resources/HtmlGenerationWebSite.HtmlGeneration_Home.Order.Encoded.html
  src/Mvc/test/Mvc.FunctionalTests/compiler/resources/HtmlGenerationWebSite.HtmlGeneration_Home.Order.html
  src/Mvc/test/Mvc.FunctionalTests/compiler/resources/HtmlGenerationWebSite.HtmlGeneration_Home.Product.Encoded.html
  src/Mvc/test/Mvc.FunctionalTests/compiler/resources/HtmlGenerationWebSite.HtmlGeneration_Home.ProductList.html
  src/Mvc/test/Mvc.FunctionalTests/compiler/resources/HtmlGenerationWebSite.HtmlGeneration_Home.ProductListUsingTagHelpers.html
  src/Mvc/test/Mvc.FunctionalTests/compiler/resources/HtmlGenerationWebSite.HtmlGeneration_Home.ProductListUsingTagHelpersWithNullModel.html
  src/Mvc/test/Mvc.FunctionalTests/compiler/resources/HtmlGenerationWebSite.HtmlGeneration_Home.Warehouse.html
  src/Mvc/test/Mvc.FunctionalTests/compiler/resources/TagHelpersWebSite.Employee.Create.Invalid.html
  src/Mvc/test/Mvc.FunctionalTests/compiler/resources/TagHelpersWebSite.Employee.Create.html
Labels: area-mvc

#43245 Retry BidirectionalStream_ServerReadsDataAndCompletes_GracefullyClosed
  eng/test-configuration.json
Labels: area-infrastructure

#43212 Avoid failed authN log when the endpoint has IAllowAnonymous metadata
  src/Security/Authentication/Core/src/RemoteAuthenticationHandler.cs
  src/Security/Authentication/test/GoogleTests.cs
Labels: breaking-change, area-security, community-contribution

#43250 Remove QuicTransportOptions.IdleTimeout
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionListener.cs
  src/Servers/Kestrel/Transport.Quic/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Transport.Quic/src/QuicTransportOptions.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicTestHelpers.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TimeoutTests.cs
Labels: area-runtime

#43269 Reuse failed auth results in AuthN
  src/Security/Authentication/Certificate/src/AuthenticateResults.cs
  src/Security/Authentication/Certificate/src/CertificateAuthenticationHandler.cs
  src/Security/Authentication/Cookies/src/AuthenticateResults.cs
  src/Security/Authentication/Cookies/src/CookieAuthenticationHandler.cs
  src/Security/Authentication/Core/src/HandleRequestResult.cs
  src/Security/Authentication/JwtBearer/src/AuthenticateResults.cs
  src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs
  src/Security/Authentication/OAuth/src/HandleRequestResults.cs
  src/Security/Authentication/OAuth/src/OAuthHandler.cs
  src/Security/Authentication/OpenIdConnect/src/HandleRequestResults.cs
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectHandler.cs
  src/Security/Authentication/Twitter/src/HandleRequestResults.cs
  src/Security/Authentication/Twitter/src/TwitterHandler.cs
  src/Security/Authentication/WsFederation/src/HandleRequestResults.cs
  src/Security/Authentication/WsFederation/src/WsFederationHandler.cs
Labels: area-security, community-contribution

#43311 Fix missing using in Http3TimeoutTests
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TimeoutTests.cs
Labels: area-runtime

#43307 Update branding to 8.0.0-alpha1
  .github/fabricbot.json
  eng/Versions.props
  src/Framework/test/SharedFxTests.cs
  src/Framework/test/TargetingPackTests.cs
  src/Framework/test/TestData.cs
  src/ProjectTemplates/Shared/TemplatePackageInstaller.cs
Labels: area-infrastructure

#43285 Improve code using pattern matching
  src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs
Labels: area-security, community-contribution

#43240 Update branding to 7.0.0-rc2
  .github/fabricbot.json
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#43303 Exclusively use Azure (public) feeds
  .azure/pipelines/components-e2e-tests.yml
  eng/targets/Npm.Common.targets
  src/Components/CustomElements/src/js/.npmrc
  src/Components/Web.JS/.npmrc
  src/Components/Web.JS/@types/dotnet/.npmrc
  src/Components/WebAssembly/Authentication.Msal/src/Interop/.npmrc
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/.npmrc
  src/Components/benchmarkapps/BlazingPizza.Server/NuGet.config
  src/Components/test/E2ETest/.npmrc
  src/Components/test/E2ETest/yarn.lock
  src/JSInterop/Microsoft.JSInterop.JS/src/.npmrc
  src/Middleware/Spa/SpaServices.Extensions/test/.npmrc
  src/Mvc/perf/benchmarkapps/NuGet.config
  src/ProjectTemplates/test/Templates.Blazor.Tests/.npmrc
  src/ProjectTemplates/test/Templates.Blazor.Tests/package.json
  src/ProjectTemplates/test/Templates.Tests/.npmrc
  src/ProjectTemplates/test/Templates.Tests/package.json
  src/SignalR/clients/ts/.npmrc
  src/SignalR/clients/ts/FunctionalTests/.npmrc
  src/SignalR/clients/ts/common/.npmrc
  src/SignalR/clients/ts/signalr-protocol-msgpack/.npmrc
  src/SignalR/clients/ts/signalr/.npmrc
Labels: area-infrastructure

#43281 Add QUIC event source logging to flakey test
  src/Servers/Kestrel/Transport.Quic/test/QuicStreamContextTests.cs
Labels: area-runtime

#43282 Remove enable HTTP/3 client option
  src/Servers/HttpSys/test/FunctionalTests/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/IIS.FunctionalTests.csproj
  src/Servers/Kestrel/Transport.Quic/test/Microsoft.AspNetCore.Server.Kestrel.Transport.Quic.Tests.csproj
  src/Servers/Kestrel/samples/HttpClientApp/HttpClientApp.csproj
  src/Servers/Kestrel/test/Interop.FunctionalTests/Interop.FunctionalTests.csproj
Labels: area-runtime

#43357 Backport parts of 48a81a70597f
  .azure/pipelines/components-e2e-tests.yml
  eng/targets/Npm.Common.targets
  src/ProjectTemplates/test/Templates.Blazor.Tests/package.json
  src/ProjectTemplates/test/Templates.Tests/package.json
Labels: area-infrastructure

#43323 [release/7.0-rc1] Fix resolving method declaration in separate file
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/RouteHandlerAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteHandlers/DisallowReturningActionResultsFromMapMethodsTest.cs
Labels: Servicing-approved, area-infrastructure, area-web-frameworks

#43332 Fix SocketTransportOptions doc comment reference
  src/Servers/Kestrel/Transport.Sockets/src/SocketTransportOptions.cs
Labels: area-runtime

#43359 Adjust shared framework and targeting pack tests to check _all_ assembly versions
  src/Framework/test/SharedFxTests.cs
  src/Framework/test/TargetingPackTests.cs
  src/Framework/test/TestData.cs
Labels: area-infrastructure

#43329 [release/7.0-rc1] Don't run publish-specific Mvc.Testing tasks if project is not publishable
  src/Mvc/Mvc.Testing/src/Microsoft.AspNetCore.Mvc.Testing.targets
Labels: Servicing-approved, area-web-frameworks

#43360 Stop setting content length 0 on 204s in MVC
  src/Mvc/Mvc.Core/src/Formatters/HttpNoContentOutputFormatter.cs
  src/Mvc/Mvc.Core/test/Formatters/NoContentFormatterTests.cs
Labels: area-web-frameworks

#43225 [release/7.0-rc1] Add support for running final conventions during build
  src/Components/Server/src/Builder/ComponentEndpointConventionBuilder.cs
  src/Components/Server/src/PublicAPI.Unshipped.txt
  src/Components/Server/test/ComponentEndpointRouteBuilderExtensionsTest.cs
  src/Http/Http.Abstractions/src/Extensions/IEndpointConventionBuilder.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Routing/src/Builder/RouteHandlerBuilder.cs
  src/Http/Routing/src/DefaultEndpointConventionBuilder.cs
  src/Http/Routing/src/EndpointDataSource.cs
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/src/RouteEndpointDataSource.cs
  src/Http/Routing/src/RouteGroupBuilder.cs
  src/Http/Routing/src/RouteGroupContext.cs
  src/Http/Routing/test/UnitTests/Builder/RequestDelegateEndpointRouteBuilderExtensionsTest.cs
  src/Http/Routing/test/UnitTests/Builder/RouteHandlerEndpointRouteBuilderExtensionsTest.cs
  src/Http/Routing/test/UnitTests/Builder/RoutingEndpointConventionBuilderExtensionsTest.cs
  src/Http/Routing/test/UnitTests/CompositeEndpointDataSourceTest.cs
  src/Http/Routing/test/UnitTests/RoutingEndpointConventionBuilderExtensionsTests.cs
  src/Http/Routing/test/testassets/RoutingSandbox/Framework/FrameworkEndpointDataSource.cs
  src/Mvc/Mvc.Core/src/Builder/ControllerActionEndpointConventionBuilder.cs
  src/Mvc/Mvc.Core/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Core/src/Routing/ActionEndpointDataSourceBase.cs
  src/Mvc/Mvc.Core/src/Routing/ActionEndpointFactory.cs
  src/Mvc/Mvc.Core/src/Routing/ControllerActionEndpointDataSource.cs
  src/Mvc/Mvc.Core/src/Routing/ConventionalRouteEntry.cs
  src/Mvc/Mvc.Core/test/Routing/ActionEndpointFactoryTest.cs
  src/Mvc/Mvc.Core/test/Routing/ControllerActionEndpointDataSourceTest.cs
  src/Mvc/Mvc.RazorPages/src/Builder/PageActionEndpointConventionBuilder.cs
  src/Mvc/Mvc.RazorPages/src/Infrastructure/DefaultPageLoader.cs
  src/Mvc/Mvc.RazorPages/src/Infrastructure/PageActionEndpointDataSource.cs
  src/Mvc/Mvc.RazorPages/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.RazorPages/test/Infrastructure/PageActionEndpointDataSourceTest.cs
  src/OpenApi/src/OpenApiEndpointConventionBuilderExtensions.cs
  src/OpenApi/test/OpenApiRouteHandlerBuilderExtensionTests.cs
  src/SignalR/common/Http.Connections/src/ConnectionEndpointRouteBuilder.cs
  src/SignalR/common/Http.Connections/src/ConnectionEndpointRouteBuilderExtensions.cs
  src/SignalR/common/Http.Connections/src/PublicAPI.Unshipped.txt
  src/SignalR/server/SignalR/src/HubEndpointConventionBuilder.cs
  src/SignalR/server/SignalR/src/PublicAPI.Unshipped.txt
Labels: Servicing-approved, area-web-frameworks

#43270 Store and reuse client certificate task
  src/Middleware/HttpOverrides/src/CertificateForwardingFeature.cs
Labels: area-runtime, community-contribution

#43268 Perf-up the AuthZ!
  src/Http/Authentication.Abstractions/src/AuthenticateResult.cs
  src/Security/Authorization/Core/src/AuthorizationFailure.cs
  src/Security/Authorization/Core/src/AuthorizationOptions.cs
  src/Security/Authorization/Core/src/AuthorizationPolicyBuilder.cs
  src/Security/Authorization/Core/src/AuthorizationResult.cs
  src/Security/Authorization/Core/src/ClaimsAuthorizationRequirement.cs
  src/Security/Authorization/Core/src/DefaultAuthorizationPolicyProvider.cs
  src/Security/Authorization/Core/src/NameAuthorizationRequirement.cs
  src/Security/Authorization/Core/src/RolesAuthorizationRequirement.cs
Labels: community-contribution

#43183 HTTP/3: Test abort at end of request
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpHelpers.cs
Labels: area-runtime

#43382 [release/7.0-rc1] Fix GET_ConnectionsMakingMultipleRequests_AllSuccess
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3ControlStream.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
Labels: area-runtime

#43375 [release/7.0-rc1] Register authz middleware for Blazor Server IndAuth
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Program.cs
Labels: area-mvc, area-web-frameworks

#43372 Code cleanup: Removing a superfluous switch block
  src/Servers/Kestrel/Core/src/Internal/HttpConnection.cs
Labels: area-runtime, community-contribution

#43402 Copy invocation handler list in Java client
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/CallbackMap.java
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/Subscription.java
Labels: area-signalr, signalr-client-java

#43202 Support LF request line terminator in HttpParser
  src/Servers/Kestrel/Core/src/Internal/Http/HttpParser.cs
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Servers/Kestrel/Core/test/HttpParserTests.cs
  src/Servers/Kestrel/shared/test/HttpParsingData.cs
  src/Servers/Kestrel/shared/test/TestServiceContext.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/BadHttpRequestTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTests.cs
Labels: area-runtime

#43249 Require CancellationToken for client results (and fix cancel closing connection)
  src/Components/Server/src/Microsoft.AspNetCore.Components.Server.csproj
  src/Servers/Kestrel/Core/src/Microsoft.AspNetCore.Server.Kestrel.Core.csproj
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Shared/CancellationTokenSourcePool.cs
  src/SignalR/clients/ts/FunctionalTests/Startup.cs
  src/SignalR/common/Protocols.Json/src/Microsoft.AspNetCore.SignalR.Protocols.Json.csproj
  src/SignalR/common/Protocols.Json/src/Protocol/JsonHubProtocol.cs
  src/SignalR/common/Protocols.MessagePack/src/Microsoft.AspNetCore.SignalR.Protocols.MessagePack.csproj
  src/SignalR/common/Protocols.MessagePack/src/Protocol/MessagePackHubProtocolWorker.cs
  src/SignalR/common/Protocols.NewtonsoftJson/src/Microsoft.AspNetCore.SignalR.Protocols.NewtonsoftJson.csproj
  src/SignalR/common/Protocols.NewtonsoftJson/src/Protocol/NewtonsoftJsonHubProtocol.cs
  src/SignalR/common/Shared/ClientResultsManager.cs
  src/SignalR/common/Shared/TryGetReturnType.cs
  src/SignalR/common/SignalR.Common/test/Internal/Protocol/JsonHubProtocolTestsBase.cs
  src/SignalR/common/SignalR.Common/test/Internal/Protocol/MessagePackHubProtocolTests.cs
  src/SignalR/server/Core/src/ClientProxyExtensions.cs
  src/SignalR/server/Core/src/DefaultHubLifetimeManager.cs
  src/SignalR/server/Core/src/HubLifetimeManager.cs
  src/SignalR/server/Core/src/ISingleClientProxy.cs
  src/SignalR/server/Core/src/Internal/HubConnectionBinder.cs
  src/SignalR/server/Core/src/PublicAPI.Unshipped.txt
  src/SignalR/server/SignalR/test/ClientProxyTests.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTestUtils/Hubs.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.ClientResult.cs
  src/SignalR/server/Specification.Tests/src/HubLifetimeManagerTestBase.cs
  src/SignalR/server/Specification.Tests/src/ScaleoutHubLifetimeManagerTests.cs
  src/SignalR/server/StackExchangeRedis/src/PublicAPI.Unshipped.txt
  src/SignalR/server/StackExchangeRedis/src/RedisHubLifetimeManager.cs
Labels: area-signalr

#42796 [SignalR] Avoid blocking common InvokeAsync usage
  src/SignalR/server/Core/src/HubConnectionContext.cs
  src/SignalR/server/Core/src/HubConnectionHandler.cs
  src/SignalR/server/Core/src/Internal/ChannelBasedSemaphore.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/Core/src/Internal/HubCallerClients.cs
  src/SignalR/server/Core/src/Internal/SemaphoreSlimExtensions.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTestUtils/Hubs.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.ClientResult.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-signalr

#43417 Strip Content-Length: 0 from responses that should not have a Content-Length
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseTests.cs
Labels: area-runtime

#42817 Better support for HTTP/2 in SignalR .NET client
  src/Shared/SignalR/FunctionalTestBase.cs
  src/Shared/SignalR/InProcessTestServer.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubConnectionTests.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/Hubs.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/Microsoft.AspNetCore.SignalR.Client.FunctionalTests.csproj
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnection.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnectionOptions.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/AccessTokenHttpMessageHandler.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/DefaultTransportFactory.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/LoggingHttpMessageHandler.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/LongPollingTransport.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/SendUtils.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/ServerSentEventsTransport.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/WebSocketsTransport.cs
  src/SignalR/clients/ts/FunctionalTests/Program.cs
  src/SignalR/clients/ts/FunctionalTests/SignalR.Client.FunctionalTestApp.csproj
  src/SignalR/common/Shared/TestCertificates.cs
  src/SignalR/common/Shared/testCert.pfx
  src/SignalR/common/Shared/testCertECC.pfx
  src/SignalR/server/SignalR/test/WebSocketsTransportTests.cs
Labels: area-signalr, signalr-client-net, blog-candidate

#43422 Retry a few tests
  eng/test-configuration.json
Labels: area-infrastructure

#43419 WebTransport interfaces require preview features
  src/Http/Http.Features/src/IHttpWebTransportFeature.cs
  src/Http/Http.Features/src/IWebTransportSession.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/src/Internal/WebTransport/WebTransportSession.cs
  src/Servers/Kestrel/Core/test/Http1/Http1HttpProtocolFeatureCollectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/WebTransport/WebTransportHandshakeTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/WebTransport/WebTransportTestUtilities.cs
  src/Servers/Kestrel/tools/CodeGenerator/HttpProtocolFeatureCollection.cs
Labels: area-runtime

#43470 Skip component governance in public builds
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#43384 [release/7.0-rc1] Make Microsoft.AspNetCore.Grpc.Swagger experimental
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.Swagger/Microsoft.AspNetCore.Grpc.Swagger.csproj
Labels: area-grpc

#43320 Don't throw TaskCanceledException in RateLimitingMiddleware
  src/Middleware/RateLimiting/src/LeaseContext.cs
  src/Middleware/RateLimiting/src/RateLimitingMiddleware.cs
  src/Middleware/RateLimiting/test/RateLimitingMiddlewareTests.cs
Labels: Servicing-approved, area-runtime

#43479 CanCachePolicy=>AllowsCachingPolicies
  src/Security/Authorization/Core/src/DefaultAuthorizationPolicyProvider.cs
  src/Security/Authorization/Core/src/IAuthorizationPolicyProvider.cs
  src/Security/Authorization/Core/src/PublicAPI/net7.0/PublicAPI.Unshipped.txt
  src/Security/Authorization/Policy/src/AuthorizationMiddleware.cs
  src/Security/Authorization/test/AuthorizationMiddlewareTests.cs
Labels: area-security, ask-mode

#43497 Update CredScanSuppressions.json
  .config/CredScanSuppressions.json
Labels: area-infrastructure

#43505 Update test-configuration.json
  eng/test-configuration.json
Labels: area-infrastructure

#43502 Use ArgumentNullException.ThrowIfNull in Servers
  src/Servers/HttpSys/src/HttpSysListener.cs
  src/Servers/HttpSys/src/MessagePump.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.FeatureCollection.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestStream.cs
  src/Servers/HttpSys/src/RequestProcessing/ResponseBody.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.FeatureCollection.cs
  src/Servers/IIS/IIS/src/WebHostBuilderIISExtensions.cs
  src/Servers/IIS/IIS/test/testassets/shared/WebSockets/HandshakeHelpers.cs
  src/Servers/IIS/IISIntegration/src/IISMiddleware.cs
  src/Servers/IIS/IISIntegration/src/WebHostBuilderIISExtensions.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/ApplicationDeployerFactory.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpRequestStream.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.FeatureCollection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.FeatureCollection.cs
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Servers/Kestrel/Core/src/KestrelConfigurationLoader.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Servers/Kestrel/Core/src/ListenOptionsHttpsExtensions.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Servers/Kestrel/Kestrel/src/WebHostBuilderKestrelExtensions.cs
  src/Servers/Kestrel/Transport.Quic/src/QuicTransportFactory.cs
  src/Servers/Kestrel/Transport.Sockets/src/Client/SocketConnectionFactory.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketConnectionContextFactory.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketTransportFactory.cs
  src/Servers/Kestrel/tools/CodeGenerator/HttpUtilities/HttpUtilities.cs
Labels: area-runtime

#43529 Move to -Svc pool provider (release/7.0)
  .azure/pipelines/azure-pipelines-mirror-within-azdo.yml
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#43449 Remove the double dispatch on Windows for IO
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketConnectionContextFactory.cs
Labels: area-runtime

#43423 [release/7.0-rc1] HTTP/3 flaky test retries and logging
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionContextTests.cs
  src/Servers/Kestrel/shared/test/ServerRetryHelper.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
Labels: area-runtime

#43551 Quarantine OnAuthenticate_Available_Throws
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3TlsTests.cs
Labels: area-runtime

#43570 Workaround Xunit bug casting InlineData
  src/Middleware/StaticFiles/test/UnitTests/RangeHelperTests.cs
  src/Servers/Kestrel/Core/test/KestrelServerLimitsTests.cs
  src/Shared/ResultsTests/FileContentResultTestBase.cs
  src/Shared/ResultsTests/FileStreamResultTestBase.cs
  src/Shared/ResultsTests/PhysicalFileResultTestBase.cs
  src/Shared/ResultsTests/VirtualFileResultTestBase.cs
Labels: area-runtime

#43521 Update Microsoft.Web.Xdt version
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#43477 Make skipComponentGovernanceDetection a variable
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#43232 Support more ProblemDetails Titles out-of-the-box
  src/Http/Headers/src/HeaderUtilities.cs
  src/Http/Http.Abstractions/test/HttpValidationProblemDetailsJsonConverterTest.cs
  src/Http/Http.Abstractions/test/ProblemDetailsJsonConverterTest.cs
  src/Http/Http.Extensions/src/Microsoft.AspNetCore.Http.Extensions.csproj
  src/Http/Http.Extensions/test/ProblemDetailsDefaultWriterTest.cs
  src/Http/Http.Results/test/JsonResultTests.cs
  src/Http/Http.Results/test/OkResultTests.cs
  src/Http/Http.Results/test/ProblemResultTests.cs
  src/Http/Http.Results/test/ResultsTests.cs
  src/Http/Http.Results/test/TypedResultsTests.cs
  src/Http/Http.Results/test/ValidationProblemResultTests.cs
  src/Mvc/Mvc.Core/test/ControllerBaseTest.cs
  src/Mvc/Mvc.Core/test/DependencyInjection/ApiBehaviorOptionsSetupTest.cs
  src/Mvc/Mvc.Core/test/Infrastructure/DefaultApiProblemDetailsWriterTest.cs
  src/Mvc/Mvc.Core/test/Infrastructure/ProblemDetailsFactoryTest.cs
  src/Mvc/Mvc.Core/test/Infrastructure/ValidationProblemDetailsJsonConverterTest.cs
  src/Mvc/test/Mvc.FunctionalTests/ApiBehaviorTest.cs
  src/Mvc/test/Mvc.FunctionalTests/JsonOutputFormatterTestBase.cs
  src/Mvc/test/Mvc.FunctionalTests/XmlDataContractSerializerFormattersWrappingTest.cs
  src/Mvc/test/Mvc.FunctionalTests/XmlSerializerFormattersWrappingTest.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1Connection.cs
  src/Shared/ProblemDetails/ProblemDetailsDefaults.cs
Labels: community-contribution, area-web-frameworks

#43483 Cover release/7.0 in our pipelines
  .azure/pipelines/helix-matrix.yml
  .azure/pipelines/quarantined-pr.yml
  .github/dependabot.yml
Labels: area-infrastructure

#43558 fix #43523 Content-Length and Transfer-Encoding conflicts
  src/Servers/Kestrel/Core/src/Internal/Http/Http1MessageBody.cs
  src/Servers/Kestrel/Core/test/Http1/Http1ConnectionTests.cs
Labels: area-runtime, community-contribution

#43575 docs: Remove syntax error in xml docs for `AuthenticationBuilder`
  src/Security/Authentication/Core/src/AuthenticationBuilder.cs
Labels: area-security, community-contribution

#43629 Pin language version in release branch
  eng/targets/CSharp.Common.props
Labels: area-infrastructure, tell-mode

#43028 Update SDK
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
  Directory.Build.props
  global.json
  src/Components/WebAssembly/testassets/Wasm.Authentication.Server/Wasm.Authentication.Server.csproj
  src/Components/WebAssembly/testassets/WasmLinkerTest/WasmLinkerTest.csproj
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/AuthenticatedEncryptorFactory.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/ManagedAlgorithmHelpers.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/ManagedAuthenticatedEncryptorConfiguration.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/ManagedAuthenticatedEncryptorDescriptor.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/ManagedAuthenticatedEncryptorDescriptorDeserializer.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ManagedAuthenticatedEncryptorFactory.cs
  src/DataProtection/DataProtection/src/RegistryPolicyResolver.cs
  src/DataProtection/DataProtection/test/AuthenticatedEncryption/ConfigurationModel/ManagedAuthenticatedEncryptorDescriptorDeserializerTests.cs
  src/DataProtection/DataProtection/test/RegistryPolicyResolverTests.cs
  src/Identity/ApiAuthorization.IdentityServer/samples/ApiAuthSample/ApiAuthSample.csproj
  src/Identity/ApiAuthorization.IdentityServer/test/Microsoft.AspNetCore.ApiAuthorization.IdentityServer.Tests.csproj
  src/Tools/LinkabilityChecker/LinkabilityChecker.csproj
Labels: blocked, area-infrastructure

#43597 Use normal `$(_BuildArgs)` in internal jobs w/ binlogs
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#43644 [release/7.0] Set `MSBUILDLOGALLENVIRONMENTVARIABLES` in most CI jobs
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure, tell-mode

#43557 [release/7.0] Improve port search retry logic
  src/Servers/Kestrel/shared/test/ServerRetryHelper.cs
Labels: area-runtime
