Repository dotnet/aspnetcore, pull requests merged in 2022-09, with the labels that each got.

#43676 Update public pool names
  .azure/pipelines/jobs/default-build.yml
  eng/common/templates/job/source-build.yml
  eng/common/templates/job/source-index-stage1.yml
Labels: area-infrastructure

#43681 Update public pool names
  .azure/pipelines/jobs/default-build.yml
  eng/common/templates/job/source-build.yml
  eng/common/templates/job/source-index-stage1.yml
Labels: area-infrastructure, tell-mode

#43627 Update UpdatingMajorVersionAndTFM.md
  docs/UpdatingMajorVersionAndTFM.md
Labels: area-infrastructure

#43639 Require preview features for most quic options
  src/Servers/Kestrel/Transport.Quic/src/QuicTransportOptions.cs
Labels: Servicing-approved, area-runtime

#43537 Unquarantine ClientCertificate_Allow_NotAvailable_Optional
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3TlsTests.cs
Labels: area-runtime

#43536 Unquarantine ClientCertificate_Required_NotSent_AcceptedViaCallback
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionListenerTests.cs
Labels: area-runtime

#43535 Unquarantine WebHostTests.UseUrls_HelloWorld_ClientSuccess
  src/Servers/Kestrel/Transport.Quic/test/WebHostTests.cs
Labels: area-runtime

#43630 [release/7.0] QUIC: Don't complete writes on abort
  src/Servers/Kestrel/Kestrel.slnf
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs
Labels: area-runtime

#43542 Add pointerenter/leave to nonBubblingEvents
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Rendering/Events/EventDelegator.ts
  src/Components/test/E2ETest/Tests/EventTest.cs
  src/Components/test/testassets/BasicTestApp/MouseEventComponent.razor
Labels: area-blazor, community-contribution

#43418 [release/7.0] Hot reload: Acknowledge Blazor component parameter removal
  src/Components/Components/src/ParameterView.cs
  src/Components/Components/src/RenderTree/RenderTreeDiffBuilder.cs
  src/Components/Components/test/ParameterViewTest.cs
Labels: area-blazor, feature-hot-reload

#43669 [7.0] Handle Transfer-Encoding edge cases
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.cs
  src/Servers/Kestrel/Core/test/HttpHeadersTests.cs
Labels: Servicing-approved, area-runtime

#43718 Cleanup retry list
  eng/test-configuration.json
Labels: area-infrastructure

#43722 Update Nightly Installer Link ++ `dotnet8` nuget feed
  docs/DailyBuilds.md
Labels: area-infrastructure

#43553 Skip output caching for keys with delimiters
  src/Middleware/OutputCaching/src/OutputCacheKeyProvider.cs
  src/Middleware/OutputCaching/src/OutputCacheMiddleware.cs
  src/Middleware/OutputCaching/test/OutputCacheKeyProviderTests.cs
  src/Middleware/OutputCaching/test/OutputCacheMiddlewareTests.cs
Labels: area-runtime, feature-output-caching

#43717 Unquarantine ClientAbortingConnectionImmediatelyIsNotLoggedHigherThanDebug
  src/Servers/Kestrel/test/FunctionalTests/ResponseTests.cs
Labels: area-runtime

#43764 Fixed summary for FileStream property.
  src/Http/Http.Results/src/FileStreamHttpResult.cs
Labels: area-runtime, community-contribution

#43775 Remove aspnetcore submodule workaround
  .azure/pipelines/ci.yml
  eng/SourceBuild.props
Labels: area-infrastructure

#43667 Unskip tests now that Runtime bug is fixed
  src/Tools/dotnet-user-secrets/test/SecretManagerTests.cs
Labels: area-commandlinetools

#43729 Don't cache Endpoints if a source throws
  src/Http/Routing/src/CompositeEndpointDataSource.cs
  src/Http/Routing/test/UnitTests/CompositeEndpointDataSourceTest.cs
Labels: Servicing-approved, area-runtime, feature-routing, area-web-frameworks

#43777 Update branding to 6.0.10
  .azure/pipelines/jobs/default-build.yml
  eng/Versions.props
  eng/common/templates/job/source-build.yml
Labels: area-infrastructure

#43554 [release/6.0] Remove Windows.10.Amd64.Server20H2.Open
  eng/targets/Helix.Common.props
Labels: area-infrastructure, tell-mode

#43576 [Backport] [SignalR] Fix WebSocket client close when network disappears
  src/SignalR/clients/csharp/Client/test/UnitTests/WebSocketsTransportTests.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/WebSocketsTransport.cs
Labels: Servicing-approved, area-signalr

#43628 Pin language version in release branch
  eng/targets/CSharp.Common.props
Labels: area-infrastructure, tell-mode

#43671 [6.0] Handle Transfer-Encoding edge cases
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.cs
  src/Servers/Kestrel/Core/test/HttpHeadersTests.cs
Labels: Servicing-approved, area-runtime

#43733 [release/7.0]: Throw if a by ref type is returned to avoid making invalid IL
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
Labels: area-runtime

#43776 Update branding to 3.1.30
  .azure/pipelines/jobs/default-build.yml
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#43788 Enable fast publishing
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#43711 Fix summary formatting
  docs/BuildFromSource.md
Labels: area-infrastructure, community-contribution

#43704 [6.0] Allow spaces between the url and http version
  src/Servers/Kestrel/Core/src/Internal/Http/HttpParser.cs
  src/Servers/Kestrel/shared/test/HttpParsingData.cs
Labels: Servicing-approved, area-runtime

#43730 [release/7.0] Fix auth exception stopping QUIC connection listener
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionListener.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicLog.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionListenerTests.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicTestHelpers.cs
Labels: area-runtime

#43706 [7.0-rc2] Allow spaces between the url and http version #43704
  src/Servers/Kestrel/Core/src/Internal/Http/HttpParser.cs
  src/Servers/Kestrel/shared/test/HttpParsingData.cs
Labels: Servicing-approved, area-runtime

#43768 [release/7.0] Add default error response to gRPC transcoding
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/JsonRequestHelpers.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Protos/errors.proto
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Microsoft.AspNetCore.Grpc.JsonTranscoding.csproj
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.Swagger/Internal/GrpcJsonTranscodingDescriptionProvider.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.Swagger/Microsoft.AspNetCore.Grpc.Swagger.csproj
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/ServerStreamingServerCallHandlerTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/UnaryServerCallHandlerTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/GrpcSwaggerServiceExtensionsTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/XmlComments/XmlDocumentationIntegrationTests.cs
Labels: area-grpc

#43716 Avoid client result invocation ID collisions
  src/SignalR/common/Shared/ClientResultsManager.cs
  src/SignalR/server/Specification.Tests/src/ScaleoutHubLifetimeManagerTests.cs
  src/SignalR/server/StackExchangeRedis/src/Internal/RedisChannels.cs
  src/SignalR/server/StackExchangeRedis/src/RedisHubLifetimeManager.cs
Labels: area-signalr

#43745 [release/7.0] Cleanup and tests around gRPC transcoding error handling
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/GrpcServerLog.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/JsonTranscodingServerCallContext.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/ServerStreamingServerCallHandlerTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/UnaryServerCallHandlerTests.cs
Labels: area-grpc

#43806 Update fabricbot.json
  .github/fabricbot.json
Labels: area-infrastructure

#43784 Fix non-shared framework packages referencing transport package
  eng/Workarounds.targets
  eng/targets/ResolveReferences.targets
  src/Identity/ApiAuthorization.IdentityServer/src/Microsoft.AspNetCore.ApiAuthorization.IdentityServer.csproj
  src/Security/Authentication/Negotiate/src/Microsoft.AspNetCore.Authentication.Negotiate.csproj
  src/Shared/BrowserTesting/src/Microsoft.AspNetCore.BrowserTesting.csproj
  src/Tools/dotnet-user-jwts/src/dotnet-user-jwts.csproj
Labels: area-commandlinetools

#43817 [release/7.0] Fix gRPC transcoding tests from bad merge
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/ServerStreamingServerCallHandlerTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/UnaryServerCallHandlerTests.cs
Labels: area-grpc

#42612 Fix Typos
  src/Mvc/Mvc.Core/src/ModelBinding/Binders/DoubleModelBinder.cs
  src/Mvc/Mvc.Core/src/ModelBinding/Binders/FloatModelBinder.cs
Labels: community-contribution, area-web-frameworks

#43746 Add framework to gRPC template's dotnetcli.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/dotnetcli.host.json
Labels: area-mvc, area-grpc

#43802 Update SDK
  global.json
  src/ProjectTemplates/Shared/TemplatePackageInstaller.cs
Labels: area-infrastructure

#43701 Update dotnet-getdocument to support minimal APIs
  src/Tools/GetDocumentInsider/src/Commands/GetDocumentCommand.cs
  src/Tools/GetDocumentInsider/src/Commands/GetDocumentCommandWorker.cs
  src/Tools/GetDocumentInsider/src/GetDocument.Insider.csproj
  src/Tools/dotnet-getdocument/src/Commands/InvokeCommand.cs
  src/Tools/dotnet-getdocument/src/dotnet-getdocument.csproj
Labels: area-commandlinetools, area-web-frameworks

#43811 Default install Playwright to false
  eng/targets/Helix.targets
Labels: area-infrastructure, tell-mode

#43807 Update json-schema to 0.4.0
  src/SignalR/clients/ts/common/package.json
  src/SignalR/clients/ts/common/yarn.lock
Labels: area-signalr

#43838 [release/7.0] Turn in-build signing on
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#43545 [SignalR] Avoid unobserved tasks in the .NET client
  eng/targets/CSharp.Common.targets
  src/Shared/Nullable/NullableAttributes.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.Log.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HubConnectionTests.cs
Labels: area-signalr, signalr-client-net

#43812 [release/6.0] Backport LF line terminator support in HttpParser
  src/Servers/Kestrel/Core/src/Internal/Http/HttpParser.cs
  src/Servers/Kestrel/Core/test/HttpParserTests.cs
  src/Servers/Kestrel/shared/test/TestServiceContext.cs
  src/Servers/Kestrel/test/FunctionalTests/RequestTests.cs
Labels: Servicing-approved, area-runtime

#43827 SocketTransportOptions: don't own handle to avoid close side-effects.
  src/Servers/Kestrel/Transport.Sockets/src/SocketTransportOptions.cs
Labels: area-runtime, community-contribution

#43850 notin -> eq for PostBuildSign conditional
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#43672 Serialize output caching entries to binary
  src/Middleware/OutputCaching/src/OutputCacheEntryFormatter.cs
  src/Middleware/OutputCaching/src/Serialization/FormatterEntrySerializerContext.cs
  src/Middleware/OutputCaching/test/OutputCacheEntryFormatterTests.cs
Labels: area-runtime, ask-mode

#43751 [release/7.0] Add query parameters to gRPC transcoding OpenAPI
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Binding/JsonTranscodingProviderServiceBinder.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/CallHandlers/CallHandlerDescriptorInfo.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/JsonRequestHelpers.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.Swagger/Internal/GrpcJsonTranscodingDescriptionProvider.cs
  src/Grpc/JsonTranscoding/src/Shared/HttpRoutePattern.cs
  src/Grpc/JsonTranscoding/src/Shared/ServiceDescriptorHelpers.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.IntegrationTests/Infrastructure/TestHelpers.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/Infrastructure/TestHelpers.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/JsonTranscodingServerCallContextTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/ServerStreamingServerCallHandlerTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/UnaryServerCallHandlerTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/GrpcSwaggerServiceExtensionsTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/Infrastructure/OpenApiTestHelpers.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/Infrastructure/TestWebHostEnvironment.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/Microsoft.AspNetCore.Grpc.Swagger.Tests.csproj
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/Parameters/ParametersTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/Proto/parameters.proto
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/Services/ParametersService.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/XmlComments/XmlDocumentationIntegrationTests.cs
Labels: area-grpc

#43820 [release/7.0] HTTP/3: Improve handling of connection timeout
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionContext.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionContextTests.cs
Labels: area-runtime

#43695 [SignalR][TS client] Send ping on connection start
  src/SignalR/clients/ts/FunctionalTests/ts/HubConnectionTests.ts
  src/SignalR/clients/ts/signalr/src/HubConnection.ts
  src/SignalR/clients/ts/signalr/tests/HubConnection.test.ts
Labels: area-signalr, signalr-client-javascript

#43670 [SignalR] Handle wrong type from client result
  src/SignalR/common/Protocols.Json/src/Protocol/JsonHubProtocol.cs
  src/SignalR/common/Protocols.MessagePack/src/Protocol/MessagePackHubProtocolWorker.cs
  src/SignalR/common/Protocols.NewtonsoftJson/src/Protocol/NewtonsoftJsonHubProtocol.cs
  src/SignalR/common/SignalR.Common/test/Internal/Protocol/JsonHubProtocolTestsBase.cs
  src/SignalR/common/SignalR.Common/test/Internal/Protocol/MessagePackHubProtocolTestBase.cs
  src/SignalR/common/SignalR.Common/test/Internal/Protocol/MessagePackHubProtocolTests.cs
  src/SignalR/server/Specification.Tests/src/ScaleoutHubLifetimeManagerTests.cs
  src/SignalR/server/StackExchangeRedis/src/Internal/RedisLog.cs
  src/SignalR/server/StackExchangeRedis/src/RedisHubLifetimeManager.cs
Labels: area-signalr

#43552 [SignalR] Fix bug when combining streaming and client results
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/Core/src/Internal/HubCallerClients.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTestUtils/Hubs.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.ClientResult.cs
Labels: area-signalr

#43842 [release/7.0] Improve error message for ByRef parameter exception
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Mvc/Mvc.Abstractions/src/ModelBinding/ModelMetadata.cs
  src/Mvc/Mvc.Core/test/ModelBinding/Metadata/DefaultModelMetadataTest.cs
Labels: area-web-frameworks

#43844 [release/7.0] Fix Blazor RemoteAuthenticatorView processing the same action multiple times
  src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticatorViewCore.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/RemoteAuthenticatorCoreTests.cs
Labels: area-blazor

#43888 Use same language set for .wxl and .json files
  eng/common/generate-locproject.ps1
Labels: area-infrastructure

#43854 [SignalR] [JS Client] Retry HTTP request on auth failure
  src/SignalR/clients/ts/signalr/src/AccessTokenHttpClient.ts
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
  src/SignalR/clients/ts/signalr/src/LongPollingTransport.ts
  src/SignalR/clients/ts/signalr/src/ServerSentEventsTransport.ts
  src/SignalR/clients/ts/signalr/src/Utils.ts
  src/SignalR/clients/ts/signalr/tests/HttpConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/LongPollingTransport.test.ts
  src/SignalR/clients/ts/signalr/tests/ServerSentEventsTransport.test.ts
Labels: area-signalr, signalr-client-javascript

#43785 [release/7.0] Fix NavigationLock prerendering
  src/Components/Web/src/Routing/NavigationLock.cs
  src/Components/test/E2ETest/ServerExecutionTests/NavigationLockPrerenderingTest.cs
  src/Components/test/testassets/BasicTestApp/RouterTest/LockNavigationOnPageLoad.razor
  src/Components/test/testassets/TestServer/LockedNavigationStartup.cs
  src/Components/test/testassets/TestServer/Pages/LockedNavigationHost.cshtml
  src/Components/test/testassets/TestServer/Program.cs
Labels: area-blazor

#43728 [release/7.0] Remove tagged keys as entries are evicted
  src/Middleware/OutputCaching/src/Memory/MemoryOutputCacheStore.cs
  src/Middleware/OutputCaching/src/Resources.resx
  src/Middleware/OutputCaching/test/MemoryOutputCacheStoreTests.cs
Labels: area-runtime, ask-mode, feature-output-caching

#43930 Use same language set for .wxl and .json files (#43888)
  eng/common/generate-locproject.ps1
Labels: area-infrastructure

#43929 SDK Upgrade
  global.json
Labels: area-infrastructure

#43520 [Blazor] Fix redirect to login
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/RedirectToLogin.razor
Labels: area-mvc

#43851 [7.0, Test only] Add Http/2 WebSocket HttpClient interop tests
  src/Servers/Kestrel/Kestrel.slnf
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http2WebSocketInteropTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Interop.FunctionalTests.csproj
Labels: area-runtime

#43814 [7.0] Disable body streams for H2 CONNECT requests
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.FeatureCollection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/BodyControl.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/StatusCheckPipeWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/StatusCheckWriteStream.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/ThrowingPipeWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/WrappingPipeWriter.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2WebSocketTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/UpgradeTests.cs
Labels: Servicing-approved, area-runtime

#43352 Fix endpoints in StaticFileAuth sample
  src/Security/samples/StaticFilesAuth/Startup.cs
Labels: area-security

#43892 [release/7.0] Improve Output Caching public API
  src/Middleware/OutputCaching/samples/OutputCachingSample/Startup.cs
  src/Middleware/OutputCaching/src/CacheVaryByRules.cs
  src/Middleware/OutputCaching/src/OutputCacheAttribute.cs
  src/Middleware/OutputCaching/src/OutputCacheKeyProvider.cs
  src/Middleware/OutputCaching/src/OutputCacheOptions.cs
  src/Middleware/OutputCaching/src/OutputCachePolicyBuilder.cs
  src/Middleware/OutputCaching/src/Policies/EmptyPolicy.cs
  src/Middleware/OutputCaching/src/Policies/OutputCacheConventionBuilderExtensions.cs
  src/Middleware/OutputCaching/src/Policies/VaryByHeaderPolicy.cs
  src/Middleware/OutputCaching/src/Policies/VaryByHostPolicy.cs
  src/Middleware/OutputCaching/src/Policies/VaryByQueryPolicy.cs
  src/Middleware/OutputCaching/src/Policies/VaryByRouteValuePolicy.cs
  src/Middleware/OutputCaching/src/PublicAPI.Unshipped.txt
  src/Middleware/OutputCaching/test/MemoryOutputCacheStoreTests.cs
  src/Middleware/OutputCaching/test/OutputCacheKeyProviderTests.cs
  src/Middleware/OutputCaching/test/OutputCacheMiddlewareTests.cs
  src/Middleware/OutputCaching/test/OutputCachePoliciesTests.cs
  src/Middleware/OutputCaching/test/OutputCachePolicyBuilderTests.cs
  src/Middleware/OutputCaching/test/OutputCacheTests.cs
Labels: breaking-change, Servicing-approved, area-runtime

#43931 Fix double dispatch on linux
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketSenderPool.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketConnectionContextFactory.cs
Labels: area-runtime

#43848 Fix `Path` and `Exception` content in the Problem Details Json
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/DeveloperExceptionPageMiddlewareImpl.cs
Labels: area-web-frameworks

#43946 [release/7.0] Tweak publishing to avoid clearing ItemsToPush during SB
  eng/Publishing.props
Labels: area-infrastructure

#43809 [release/7.0] Add a JS initializer for the Blazor custom elements package
  src/Components/CustomElements/src/Microsoft.AspNetCore.Components.CustomElements.csproj
  src/Components/CustomElements/src/js/webpack.config.js
  src/Components/test/testassets/BasicTestApp/wwwroot/index.html
Labels: area-blazor

#43948 [release/7.0] Stop building / testing on Ubuntu 18.04
  .azure/pipelines/jobs/default-build.yml
  eng/scripts/RunHelix.ps1
  eng/targets/Helix.Common.props
Labels: area-infrastructure, tell-mode

#43882 [Backport] [SignalR] Avoid unobserved tasks in the .NET client
  eng/targets/CSharp.Common.targets
  src/Shared/Nullable/NullableAttributes.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.Log.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HubConnectionTests.cs
Labels: Servicing-approved, area-signalr, signalr-client-net

#43952 Merging internal commits for release/6.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  src/Mvc/Mvc.Abstractions/src/ModelBinding/ModelStateDictionary.cs
  src/Mvc/Mvc.Abstractions/src/Resources.resx
  src/Mvc/Mvc.Abstractions/test/ModelBinding/ModelStateDictionaryTest.cs
  src/Mvc/Mvc.Core/src/Infrastructure/ControllerActionInvokerProvider.cs
  src/Mvc/Mvc.Core/src/Routing/ControllerRequestDelegateFactory.cs
  src/Mvc/Mvc.Core/test/Infrastructure/ControllerActionInvokerProviderTest.cs
Labels: area-infrastructure, tell-mode

#43921 Explains that AddJsonOptions will use web defaults
  src/Http/Http.Extensions/src/HttpJsonServiceExtensions.cs
  src/Mvc/Mvc.Core/src/DependencyInjection/MvcCoreMvcBuilderExtensions.cs
Labels: community-contribution, area-web-frameworks

#43947 [release/6.0] Stop building / testing on Ubuntu 18.04
  .azure/pipelines/jobs/default-build.yml
  eng/scripts/RunHelix.ps1
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#43961 [release/7.0] Infer response metadata in RequestDelegateFactory
  src/Http/Http.Extensions/src/Microsoft.AspNetCore.Http.Extensions.csproj
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/OpenApi/src/OpenApiGenerator.cs
  src/OpenApi/test/OpenApiRouteHandlerBuilderExtensionTests.cs
  src/Shared/ApiExplorerTypes/ProducesResponseTypeMetadata.cs
Labels: Servicing-consider, feature-minimal-actions, area-web-frameworks

#43954 [Blazor] MSAL updates
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/WebAssembly/Authentication.Msal/src/ILLink.Descriptors.xml
  src/Components/WebAssembly/Authentication.Msal/src/Interop/AuthenticationService.ts
  src/Components/WebAssembly/Authentication.Msal/src/Interop/package.json
  src/Components/WebAssembly/Authentication.Msal/src/Interop/yarn.lock
  src/Components/WebAssembly/Authentication.Msal/src/Microsoft.Authentication.WebAssembly.Msal.csproj
Labels: area-blazor

#43958 [7.0] Close connections on client cert failures
  src/Servers/Kestrel/Core/src/Internal/TlsConnectionFeature.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
Labels: Servicing-approved, area-runtime

#43990 [release/7.0] Continue using typeof(void) for empty TypedResults
  src/Http/Http.Results/test/AcceptedAtRouteResultTests.cs
  src/Http/Http.Results/test/AcceptedResultTests.cs
  src/Http/Http.Results/test/BadRequestResultTests.cs
  src/Http/Http.Results/test/ConflictResultTests.cs
  src/Http/Http.Results/test/CreatedAtRouteResultTests.cs
  src/Http/Http.Results/test/CreatedResultTests.cs
  src/Http/Http.Results/test/NoContentResultTests.cs
  src/Http/Http.Results/test/NotFoundResultTests.cs
  src/Http/Http.Results/test/OkResultTests.cs
  src/Http/Http.Results/test/UnprocessableEntityResultTests.cs
  src/Shared/ApiExplorerTypes/ProducesResponseTypeMetadata.cs
Labels: Servicing-consider, area-web-frameworks

#43971 ARMv6 dotnet doesn't support Crossgen2, so in order to compile as Release it must be disabled for this platform
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-infrastructure, community-contribution

#43988 Merge internal commits from RC1
  src/Mvc/Mvc.Abstractions/src/ModelBinding/ModelStateDictionary.cs
  src/Mvc/Mvc.Abstractions/src/Resources.resx
  src/Mvc/Mvc.Abstractions/test/ModelBinding/ModelStateDictionaryTest.cs
  src/Mvc/Mvc.Core/src/Infrastructure/ControllerActionInvokerProvider.cs
  src/Mvc/Mvc.Core/src/Routing/ControllerRequestDelegateFactory.cs
  src/Mvc/Mvc.Core/test/Infrastructure/ControllerActionInvokerProviderTest.cs
Labels: tell-mode, area-web-frameworks

#43951 Merging internal commits for release/3.1
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  src/Mvc/Mvc.Abstractions/ref/Microsoft.AspNetCore.Mvc.Abstractions.Manual.cs
  src/Mvc/Mvc.Abstractions/src/ModelBinding/ModelStateDictionary.cs
  src/Mvc/Mvc.Abstractions/src/Resources.resx
  src/Mvc/Mvc.Abstractions/test/ModelBinding/ModelStateDictionaryTest.cs
  src/Mvc/Mvc.Core/src/Infrastructure/ControllerActionInvokerProvider.cs
  src/Mvc/Mvc.Core/test/Infrastructure/ControllerActionInvokerProviderTest.cs
Labels: area-infrastructure, tell-mode

#43982 Update facebook OAuth API version to 14, google to v3
  src/Security/Authentication/Facebook/src/FacebookDefaults.cs
  src/Security/Authentication/Google/src/GoogleDefaults.cs
  src/Security/Authentication/Google/src/GoogleOptions.cs
  src/Security/Authentication/MicrosoftAccount/src/MicrosoftAccountDefaults.cs
  src/Security/Authentication/test/FacebookTests.cs
  src/Security/Authentication/test/GoogleTests.cs
Labels: area-security

#43984 Improve file fallback routing behavior when using ConsumesAttribute
  src/Middleware/StaticFiles/src/StaticFilesEndpointRouteBuilderExtensions.cs
  src/Mvc/test/Mvc.FunctionalTests/RoutingFallbackTest.cs
  src/Mvc/test/WebSites/RoutingWebSite/Controllers/ConsumesAttributeController.cs
  src/Mvc/test/WebSites/RoutingWebSite/StartupForFallback.cs
Labels: area-runtime

#43960 Changing to use the non-generic WriteAsJsonAsync
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Http.Results/src/HttpResultsHelper.cs
  src/Http/Http.Results/test/HttpResultsHelperTests.cs
Labels: area-web-frameworks

#43721 Add Error Logging for the Blazor DebugProxyLauncher
  src/Components/WebAssembly/Server/src/DebugProxyLauncher.cs
Labels: area-blazor, blazor-wasm, feature-blazor-debugging

#44018 Quarantine ClosingTheBrowserWindow_GracefullyDisconnects_TheCurrentCi…
  src/Components/test/E2ETest/ServerExecutionTests/CircuitGracefulTerminationTests.cs
Labels: area-blazor

#44011 Remove unneeded generic params from test case
  src/Middleware/RateLimiting/test/RateLimiterEndpointConventionBuilderExtensionsTests.cs
Labels: area-runtime

#44030 Adding WebApplicationBuilderSettingInvalidApplicationDoesNotThrowWhen…
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
Labels: area-runtime

#43407 Fix URL building for SPA proxying
  src/Middleware/Spa/SpaServices.Extensions/src/Microsoft.AspNetCore.SpaServices.Extensions.csproj
  src/Middleware/Spa/SpaServices.Extensions/src/Proxying/SpaProxy.cs
  src/Middleware/Spa/SpaServices.Extensions/test/Microsoft.AspNetCore.SpaServices.Extensions.Tests.csproj
  src/Middleware/Spa/SpaServices.Extensions/test/SpaProxyTests.cs
Labels: area-mvc, feature-spa, community-contribution

#44021 Only add MethodInfo to route handler endpoints
  src/Http/Routing/src/RouteEndpointDataSource.cs
  src/Http/Routing/test/UnitTests/Builder/RequestDelegateEndpointRouteBuilderExtensionsTest.cs
Labels: Servicing-approved, area-runtime, area-web-frameworks

#43992 Update versions for 7.0.0 RTM
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#43666 [release/3.1] Stop building on Ubuntu 18.04
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/TlsTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsTests.cs
Labels: area-infrastructure

#44042 Fix the name of the maestro-bot user.
  .github/fabricbot.json
Labels: area-infrastructure

#44032 Get template error codes from the right processes
  src/ProjectTemplates/Shared/BlazorTemplateTest.cs
  src/ProjectTemplates/Shared/Project.cs
  src/ProjectTemplates/test/Templates.Blazor.Tests/BlazorTemplateTest.cs
  src/ProjectTemplates/test/Templates.Blazor.Tests/BlazorWasmTemplateTest.cs
  src/ProjectTemplates/test/Templates.Blazor.WebAssembly.Auth.Tests/BlazorWasmTemplateAuthTest.cs
  src/ProjectTemplates/test/Templates.Mvc.Tests/MvcTemplateTest.cs
  src/ProjectTemplates/test/Templates.Mvc.Tests/RazorPagesTemplateTest.cs
  src/ProjectTemplates/test/Templates.Mvc.Tests/WebApiTemplateTest.cs
  src/ProjectTemplates/test/Templates.Tests/BaselineTest.cs
  src/ProjectTemplates/test/Templates.Tests/EmptyWebTemplateTest.cs
  src/ProjectTemplates/test/Templates.Tests/GrpcTemplateTest.cs
  src/ProjectTemplates/test/Templates.Tests/IdentityUIPackageTest.cs
  src/ProjectTemplates/test/Templates.Tests/ItemTemplateTests/BlazorServerTests.cs
  src/ProjectTemplates/test/Templates.Tests/RazorClassLibraryTemplateTest.cs
  src/ProjectTemplates/test/Templates.Tests/SpaTemplatesTest.cs
  src/ProjectTemplates/test/Templates.Tests/WorkerTemplateTest.cs
Labels: area-mvc, feature-templates

#44073 [7.0] Revert Ubuntu.1804.Armarch.Open change
  eng/targets/Helix.Common.props
Labels: area-infrastructure, tell-mode

#43431 Triggering IConnectionLifetimeNotificationFeature on GoAway
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3ControlStream.cs
  src/Servers/Kestrel/shared/test/Http3/Http3InMemory.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3ConnectionTests.cs
Labels: area-runtime, community-contribution

#44074 [6.0] Revert Ubuntu.1804.Armarch.Open change
  eng/targets/Helix.Common.props
Labels: area-infrastructure, tell-mode

#44099 Implement OwinEnvironment.CopyTo and add Tests - Fixes #44082
  src/Http/Owin/src/OwinEnvironment.cs
  src/Http/Owin/test/OwinEnvironmentTests.cs
Labels: community-contribution

#44087 Updating the SDK, hopefully fixing template tests
  global.json
Labels: area-infrastructure

#44120 [release/7.0-rc2] Fix item template `groupIdentity` and `identity` values
  src/ProjectTemplates/Web.Client.ItemTemplates/content/Less/.template.config/template.json
  src/ProjectTemplates/Web.Client.ItemTemplates/content/Scss/.template.config/template.json
  src/ProjectTemplates/Web.Client.ItemTemplates/content/TypeScript/.template.config/template.json
  src/ProjectTemplates/Web.ItemTemplates/content/Protobuf/.template.config/template.json
  src/ProjectTemplates/Web.ItemTemplates/content/RazorComponent/.template.config/template.json
  src/ProjectTemplates/Web.ItemTemplates/content/RazorPage/.template.config/template.json
  src/ProjectTemplates/Web.ItemTemplates/content/ViewImports/.template.config/template.json
  src/ProjectTemplates/Web.ItemTemplates/content/ViewStart/.template.config/template.json
Labels: Servicing-approved, area-mvc, area-grpc, feature-templates

#44126 Unquarantine IIS tests affected by reverted dispose fix
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/ApplicationInitializationTests.cs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/StdOutRedirectionTests.cs
Labels: area-runtime

#44061 Fix DetectMisplacedLambdaAttribute analyzer and tests
  eng/Build.props
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/DetectMisplacedLambdaAttribute.cs
  src/Framework/AspNetCoreAnalyzers/test/Verifiers/CSharpWebApplicationBuilderCodeFixVerifier.cs
Labels: Servicing-approved, area-infrastructure

#44136 Fix up packaging for Extensions.ApiDescription.Server
  src/Tools/Extensions.ApiDescription.Server/src/Microsoft.Extensions.ApiDescription.Server.csproj
  src/Tools/Extensions.ApiDescription.Server/src/Microsoft.Extensions.ApiDescription.Server.nuspec
  src/Tools/GetDocumentInsider/src/GetDocument.Insider.csproj
Labels: Servicing-approved, area-commandlinetools, area-web-frameworks

#44127 Update BuildFromSource docs to be more scenario focused
  docs/BuildFromSource.md
Labels: Docs, area-infrastructure

#44145 Retry template tests on helix
  eng/test-configuration.json
Labels: area-infrastructure, tell-mode

#44147 Try DOTNET_CLI_DO_NOT_USE_MSBUILD_SERVER
  eng/tools/HelixTestRunner/TestRunner.cs
Labels: area-infrastructure

#44161 [release/7.0] Remove Kevin from CodeOwners
  .github/CODEOWNERS
Labels: area-infrastructure, tell-mode

#44142 Add comment to WebAssembly empty template about scoped CSS. Fixes #43975
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Client/wwwroot/index.html
Labels: Servicing-approved, area-blazor, blazor-wasm

#43957 Remove attributes from SVG elements
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Rendering/BrowserRenderer.ts
  src/Components/test/E2ETest/Tests/SvgTest.cs
  src/Components/test/testassets/BasicTestApp/SvgComponent.razor
Labels: Servicing-approved, area-blazor, community-contribution

#44173 [release/7.0] Use Ubuntu 20.04 a bit more
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure, tell-mode

#44186 [release/7.0] Quarantine `ClosingTheBrowserWindow_GracefullyDisconnects_TheCurrentCircuit`
  .azure/pipelines/components-e2e-tests.yml
  src/Components/test/E2ETest/ServerExecutionTests/CircuitGracefulTerminationTests.cs
Labels: test-failure, tell-mode

#44123 Add header dictionary analyzer and fixer
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DiagnosticDescriptors.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Http/HeaderDictionaryIndexerAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/Http/HeaderDictionaryIndexerFixer.cs
  src/Framework/AspNetCoreAnalyzers/test/Http/HeaderDictionaryIndexerAnalyzerTests.cs
  src/Framework/AspNetCoreAnalyzers/test/Http/HeaderDictionaryIndexerFixerTests.cs
  src/Framework/AspNetCoreAnalyzers/test/Microsoft.AspNetCore.App.Analyzers.Test.csproj
  src/Framework/AspNetCoreAnalyzers/test/RouteHandlers/DetectMismatchedParameterOptionalityTest.cs
  src/Framework/AspNetCoreAnalyzers/test/Verifiers/CSharpAnalyzerVerifier.cs
  src/Framework/AspNetCoreAnalyzers/test/Verifiers/CSharpCodeFixVerifier.cs
  src/Framework/AspNetCoreAnalyzers/test/Verifiers/CSharpRouteHandlerAnalyzerVerifier.cs
  src/Framework/AspNetCoreAnalyzers/test/Verifiers/CSharpRouteHandlerCodeFixVerifier.cs
  src/Framework/AspNetCoreAnalyzers/test/Verifiers/CSharpWebApplicationBuilderCodeFixVerifier.cs
  src/Framework/AspNetCoreAnalyzers/test/WebApplicationBuilder/DisallowConfigureAppConfigureHostBuilderTest.cs
  src/Framework/AspNetCoreAnalyzers/test/WebApplicationBuilder/DisallowConfigureHostLoggingTest.cs
  src/Framework/AspNetCoreAnalyzers/test/WebApplicationBuilder/DisallowConfigureServicesTest.cs
Labels: area-infrastructure, area-runtime

#44055 [release/7.0] Change gRPC JSON to only accept top-level field as request body
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/GrpcJsonSettings.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Binding/JsonTranscodingProviderServiceBinder.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/CallHandlers/CallHandlerDescriptorInfo.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/JsonRequestHelpers.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.Swagger/Internal/GrpcJsonTranscodingDescriptionProvider.cs
  src/Grpc/JsonTranscoding/src/Shared/ServiceDescriptorHelpers.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.IntegrationTests/Infrastructure/TestHelpers.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/Infrastructure/TestHelpers.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/JsonTranscodingServiceMethodProviderTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/Proto/httpbody.proto
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/Proto/transcoding.proto
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/TestObjects/Services/JsonTranscodingInvalidNestedBodyGreeterService.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/TestObjects/Services/JsonTranscodingInvalidNestedResponseBodyGreeterService.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/UnaryServerCallHandlerTests.cs
Labels: Servicing-approved, area-grpc

#43709 [release/7.0] Update gRPC and Protobuf dependencies
  eng/Versions.props
  src/Grpc/Interop/test/testassets/InteropClient/InteropClient.csproj
  src/Grpc/Interop/test/testassets/InteropWebsite/InteropWebsite.csproj
  src/Grpc/JsonTranscoding/perf/Microsoft.AspNetCore.Grpc.Microbenchmarks/Microsoft.AspNetCore.Grpc.Microbenchmarks.csproj
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Microsoft.AspNetCore.Grpc.JsonTranscoding.csproj
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests.csproj
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/Microsoft.AspNetCore.Grpc.Swagger.Tests.csproj
  src/Grpc/JsonTranscoding/test/testassets/IntegrationTestsWebsite/IntegrationTestsWebsite.csproj
  src/Grpc/JsonTranscoding/test/testassets/Sandbox/Sandbox.csproj
  src/SignalR/samples/SocialWeather/Protobuf/WeatherReport.cs
  src/SignalR/samples/SocialWeather/SocialWeather.csproj
Labels: Servicing-approved, area-infrastructure, area-grpc

#44170 Add loc comments and fix Windows installer bug
  .azure/pipelines/localization.yml
  src/Installers/Windows/SharedFrameworkBundle/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/thm.wxl
Labels: area-infrastructure, feature-installers, feature-localization

#44205 Update docker tag to latest schema
  .azure/pipelines/ci.yml
  eng/docker/rhel.Dockerfile
  eng/targets/Helix.Common.props
  src/Installers/Rpm/Directory.Build.targets
Labels: area-infrastructure

#44206 Fix printing signing key in user-jwts tool
  src/Tools/dotnet-user-jwts/src/Commands/KeyCommand.cs
  src/Tools/dotnet-user-jwts/test/UserJwtsTests.cs
Labels: Servicing-approved, area-commandlinetools, area-web-frameworks

#44048 Add RequestDelegate analyzer
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DiagnosticDescriptors.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Http/RequestDelegateReturnTypeAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/test/Http/RequestDelegateReturnTypeAnalyzerTests.cs
  src/Framework/AspNetCoreAnalyzers/test/Verifiers/CSharpAnalyzerVerifier.cs
Labels: area-infrastructure, area-runtime

#44213 Fix junit output test file on timeout
  src/SignalR/clients/ts/FunctionalTests/func.jest.config.js
Labels: area-signalr

#44207 [7.0] Fix ANCM hosting bundle conditions for older OS
  src/Installers/Windows/WindowsHostingBundle/ANCM.wxs
  src/Installers/Windows/WindowsHostingBundle/DotNetCore.wxs
  src/Installers/Windows/WindowsHostingBundle/SharedFramework.wxs
Labels: Servicing-approved, area-infrastructure

#43937 source-build: support building aspnetcore using non-portable runtime packages.
  Directory.Build.props
  eng/Common.props
  eng/Dependencies.props
  eng/tools/GenerateFiles/Directory.Build.targets.in
  src/Components/benchmarkapps/Wasm.Performance/Driver/Wasm.Performance.Driver.csproj
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Tools/Directory.Build.targets
Labels: area-infrastructure, community-contribution

#44194 Read HTTP_PORTS and HTTPS_PORTS into IServerAddresses
  src/Hosting/Abstractions/src/PublicAPI.Unshipped.txt
  src/Hosting/Abstractions/src/WebHostDefaults.cs
  src/Hosting/Hosting/src/GenericHost/GenericWebHostService.cs
  src/Hosting/Hosting/src/Internal/HostingLoggerExtensions.cs
  src/Hosting/Hosting/src/Internal/LoggerEventIds.cs
  src/Hosting/Hosting/test/GenericWebHostBuilderTests.cs
Labels: area-runtime

#44148 [release/7.0] Update Roslyn Versions
  eng/Versions.props
Labels: Servicing-approved, area-infrastructure

#44229 Upgrade Microsoft.OpenApi dependency to 1.4.3
  eng/Versions.props
  src/OpenApi/test/OpenApiRouteHandlerBuilderExtensionTests.cs
Labels: Servicing-approved, area-infrastructure, area-web-frameworks

#44263 Update CODEOWNERS
  .github/CODEOWNERS
Labels: area-infrastructure

#44233 [release/7.0] Move to an RTM SDK
  global.json
  src/ProjectTemplates/Shared/TemplatePackageInstaller.cs
Labels: area-infrastructure, tell-mode

#44234 Move to an 8.0.100-alpha SDK
  global.json
  src/Servers/HttpSys/test/FunctionalTests/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/IIS.FunctionalTests.csproj
  src/Servers/Kestrel/Transport.Quic/test/Microsoft.AspNetCore.Server.Kestrel.Transport.Quic.Tests.csproj
  src/Servers/Kestrel/samples/WebTransportInteractiveSampleApp/WebTransportInteractiveSampleApp.csproj
  src/Servers/Kestrel/samples/WebTransportSampleApp/WebTransportSampleApp.csproj
Labels: area-infrastructure

#44273 Use ReadOnlySpan<char> to avoid Substring allocation
  src/Http/WebUtilities/src/QueryHelpers.cs
Labels: area-runtime, community-contribution

#44230 [release/7.0] Remove VS nupkg push
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#44268 Avoid occasional local build errors
  src/BuildAfterTargetingPack/BuildAfterTargetingPack.csproj
Labels: area-infrastructure

#44291 Fix WXL typo
  src/Installers/Windows/SharedFrameworkBundle/thm.wxl
Labels: area-infrastructure, feature-installers
