Repository dotnet/aspnetcore, pull requests merged in 2022-07, with the labels that each got.

#42519 Remove RequiresUnreferencedCode from low-level endpoint map methods
  src/Http/HttpAbstractions.slnf
  src/Http/Routing/src/Builder/EndpointRouteBuilderExtensions.cs
  src/Http/Routing/test/UnitTests/Builder/RequestDelegateEndpointRouteBuilderExtensionsTest.cs
Labels: area-runtime

#42526 [Blazor] Replace old navigation APIs with the existing API equivalents
  src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticatorViewCore.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/RemoteAuthenticatorCoreTests.cs
Labels: area-blazor

#42512 Annotate hosting diagnostic events with DynamicDependency
  src/Hosting/Hosting/src/Internal/HostingApplicationDiagnostics.cs
Labels: area-runtime

#42532 [Blazor] Get rid of the custom QueryStringHelper implementation
  src/Components/WebAssembly/WebAssembly.Authentication/src/Microsoft.AspNetCore.Components.WebAssembly.Authentication.csproj
  src/Components/WebAssembly/WebAssembly.Authentication/src/QueryStringHelper.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticatorViewCore.cs
  src/Shared/QueryStringEnumerable.cs
Labels: area-blazor

#42536 Add use of onelocbuild.yml
  .azure/pipelines/localization.yml
Labels: area-infrastructure

#42419 Small test assert changes for flaky tests
  src/DefaultBuilder/test/Microsoft.AspNetCore.FunctionalTests/WebHostFunctionalTests.cs
  src/Hosting/Hosting/test/HostingApplicationTests.cs
Labels: area-runtime

#42535 Selenium Upgrade (v`4.3.0`, Chrome `103`)
  eng/Versions.props
  src/Components/benchmarkapps/Wasm.Performance/dockerfile
Labels: area-infrastructure

#42464 Change QUIC transport to use multiple calls to QuicStream.WriteAsync
  src/Servers/Kestrel/Kestrel.slnf
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicStreamContextTests.cs
Labels: area-runtime

#42573 [Blazor] Cleanup remote authentication service serialization
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/AuthenticationService.ts
  src/Components/WebAssembly/WebAssembly.Authentication/src/Models/RemoteAuthenticationStatus.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/RemoteAuthenticationService.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/RemoteAuthenticationServiceTests.cs
Labels: area-blazor

#42562 Fixed typo for ArgumentNullException.ThrowIfNull
  src/Shared/PropertyAsParameterInfo.cs
Labels: community-contribution, area-web-frameworks

#42582 Update branding to 3.1.28
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#42578 Remove support for setting default scheme from user-jwts
  src/Http/Authentication.Core/src/AuthenticationService.cs
  src/Security/Authentication/Core/src/AuthenticationConfigureOptions.cs
  src/Security/Authentication/Core/src/AuthenticationServiceCollectionExtensions.cs
  src/Security/Authentication/test/JwtBearerTests.cs
  src/Security/Authentication/test/SharedAuthenticationTests.cs
  src/Tools/dotnet-user-jwts/src/Helpers/JwtAuthenticationSchemeSettings.cs
  src/Tools/dotnet-user-jwts/test/UserJwtsTestFixture.cs
  src/Tools/dotnet-user-jwts/test/UserJwtsTests.cs
Labels: area-web-frameworks, feature-authentication

#42245 [release/2.1] Remove old unused Docker files
  src/Servers/Kestrel/samples/Http2SampleApp/Dockerfile
  src/Servers/Kestrel/samples/Http2SampleApp/scripts/build-docker.ps1
  src/Servers/Kestrel/samples/Http2SampleApp/scripts/build-docker.sh
  src/Servers/Kestrel/samples/Http2SampleApp/scripts/run-docker.ps1
  src/Servers/Kestrel/samples/Http2SampleApp/scripts/run-docker.sh
  src/Servers/Kestrel/test/SystemdActivation/Dockerfile
  src/Servers/Kestrel/test/SystemdActivation/docker-entrypoint.sh
  src/Servers/Kestrel/test/SystemdActivation/docker.sh
Labels: area-infrastructure, area-runtime, tell-mode

#42246 [release/3.1] Remove old unused Docker files
  src/Servers/Kestrel/samples/Http2SampleApp/Dockerfile
  src/Servers/Kestrel/samples/Http2SampleApp/scripts/build-docker.ps1
  src/Servers/Kestrel/samples/Http2SampleApp/scripts/build-docker.sh
  src/Servers/Kestrel/samples/Http2SampleApp/scripts/run-docker.ps1
  src/Servers/Kestrel/samples/Http2SampleApp/scripts/run-docker.sh
  src/Servers/Kestrel/test/SystemdActivation/Dockerfile
  src/Servers/Kestrel/test/SystemdActivation/docker-entrypoint.sh
  src/Servers/Kestrel/test/SystemdActivation/docker.sh
Labels: area-infrastructure, area-runtime, tell-mode

#42377 Update newtonsoft.json dependency
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#42587 Slightly clean up template README
  src/ProjectTemplates/README.md
Labels: area-infrastructure

#42542 Reduce console spew when creating secrets in user-jwts
  src/Tools/dotnet-user-jwts/src/Helpers/DevJwtCliHelpers.cs
  src/Tools/dotnet-user-jwts/test/UserJwtsTests.cs
Labels: area-commandlinetools

#42428 Add message type resolver
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/AnyConverter.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/JsonConverterFactoryForMessage.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/JsonConverterFactoryForWellKnownTypes.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/JsonConverterHelper.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/MessageConverter.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/MessageTypeInfoResolver.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/JsonRequestHelpers.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/ConverterTests/JsonConverterReadTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/ConverterTests/JsonConverterWriteTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/Proto/transcoding.proto
Labels: area-grpc

#42583 Update branding to 6.0.8
  .azure/pipelines/jobs/default-build.yml
  eng/Versions.props
Labels: area-infrastructure

#42591 Include DefaultHttpContext.HttpContext for diagnostic activities
  src/Hosting/Hosting/src/Internal/HostingApplicationDiagnostics.cs
Labels: area-runtime

#42590 !fixup! Correct condition in localization.yml
  .azure/pipelines/localization.yml
Labels: area-infrastructure

#42478 [release/6.0] Fix newtonsoft alerts
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#42602 Retry flaky `AttributeRouting_RouteNameTokenReplace_Reachable`
  eng/test-configuration.json
Labels: area-infrastructure

#42555 Trim Microsoft.AspNetCore
  eng/TrimmableProjects.props
  src/DefaultBuilder/src/ConfigureWebHostBuilder.cs
  src/DefaultBuilder/src/Microsoft.AspNetCore.csproj
  src/DefaultBuilder/src/StartupLinkerOptions.cs
  src/DefaultBuilder/src/WebHost.cs
  src/Tools/Tools.slnf
Labels: area-runtime

#42604 Make ResultsOfTGenerator non-packable
  src/Http/Http.Results/tools/ResultsOfTGenerator/ResultsOfTGenerator.csproj
Labels: area-infrastructure

#42585 Remove Authentication property from WebApplicationBuilder and fix up middleware auto-registration
  src/DefaultBuilder/src/PublicAPI.Unshipped.txt
  src/DefaultBuilder/src/WebApplicationAuthenticationBuilder.cs
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
  src/Security/Authentication/JwtBearer/samples/MinimalJwtBearerSample/Program.cs
  src/Security/Authentication/test/AuthenticationMiddlewareTests.cs
  src/Security/Authorization/Policy/src/AuthorizationAppBuilderExtensions.cs
Labels: area-web-frameworks, feature-authentication

#42606 Cookie Auth: Fix bug with ticket store
  src/Security/Authentication/Cookies/src/CookieAuthenticationHandler.cs
  src/Security/Authentication/test/CookieTests.cs
Labels: area-security

#42497 AuthN: Use single scheme as DefaultScheme
  src/Http/Authentication.Abstractions/src/AuthenticationOptions.cs
  src/Http/Authentication.Abstractions/src/Properties/AssemblyInfo.cs
  src/Http/Authentication.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Authentication.Core/src/AuthenticationSchemeProvider.cs
  src/Http/Authentication.Core/test/AuthenticationSchemeProviderTests.cs
  src/Security/Authentication/Negotiate/test/Negotiate.Test/EventTests.cs
  src/Security/Authentication/Negotiate/test/Negotiate.Test/NegotiateHandlerTests.cs
  src/Security/Authentication/Negotiate/test/Negotiate.Test/ServerDeferralTests.cs
  src/Security/Authentication/test/CertificateTests.cs
  src/Security/Authentication/test/FacebookTests.cs
  src/Security/Authentication/test/OAuthTests.cs
  src/Security/Authentication/test/SharedAuthenticationTests.cs
Labels: breaking-change, area-security

#41283 Dispose httpclient in IIS tests
  src/Hosting/Server.IntegrationTesting/src/Common/DeploymentResult.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/AspNetCorePortTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/GlobalVersionTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Infrastructure/FunctionalTestsBase.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Infrastructure/IISFunctionalTestBase.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/MaxRequestBodySizeTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Latin1Tests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/LoggingTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/MultiApplicationTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/WindowsAuthTests.cs
  src/Servers/IIS/IIS/test/Common.LongTests/ShutdownTests.cs
  src/Servers/IIS/IIS/test/Common.LongTests/StartupTests.cs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/ApplicationInitializationTests.cs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/StdOutRedirectionTests.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISDeployer.cs
Labels: area-runtime

#42603 Fix up signing key handling in user-jwts and runtime
  src/Security/Authentication/JwtBearer/src/JwtBearerConfigureOptions.cs
  src/Tools/dotnet-user-jwts/src/Commands/CreateCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/KeyCommand.cs
  src/Tools/dotnet-user-jwts/src/Helpers/DevJwtCliHelpers.cs
  src/Tools/dotnet-user-jwts/src/Helpers/DevJwtDefaults.cs
  src/Tools/dotnet-user-jwts/src/Resources.resx
  src/Tools/dotnet-user-jwts/test/UserJwtsTests.cs
Labels: area-commandlinetools

#42619 Update custom marshallers for source-generated interop to the V2 shapes.
  src/Servers/IIS/IIS/src/Core/IISConfigurationData.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISExpressDeployer.cs
Labels: area-runtime

#42586 Remove Auth validation when Form File upload
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
Labels: area-runtime

#42668 Bump SDK version to 7.0.100-preview.7.22361.1
  global.json
Labels: area-infrastructure

#42496 Remove Pseudo-Headers From Public API
  src/Http/Headers/src/HeaderNames.cs
  src/Http/Headers/src/PublicAPI.Unshipped.txt
  src/Middleware/HttpLogging/src/HttpLoggingOptions.cs
  src/Servers/HttpSys/test/FunctionalTests/Http2Tests.cs
  src/Servers/HttpSys/test/FunctionalTests/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Http2Tests.cs
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/Http2TrailersResetTests.cs
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/IIS.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IIS.LongTests/IIS.LongTests.csproj
  src/Servers/IIS/IIS/test/IIS.NewHandler.FunctionalTests/IIS.NewHandler.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IIS.NewShim.FunctionalTests/IIS.NewShim.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/IISExpress.FunctionalTests.csproj
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/src/Microsoft.AspNetCore.Server.Kestrel.Core.csproj
  src/Servers/Kestrel/perf/Microbenchmarks/Http2/Http2ConnectionBenchmarkBase.cs
  src/Servers/Kestrel/perf/Microbenchmarks/Http3/Http3ConnectionBenchmarkBase.cs
  src/Servers/Kestrel/samples/http2cat/http2cat.csproj
  src/Servers/Kestrel/shared/KnownHeaders.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TimeoutTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2WebSocketTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TimeoutTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/WebTransportTests.cs
  src/Servers/Kestrel/tools/CodeGenerator/CodeGenerator.csproj
  src/Shared/Http2cat/Http2Utilities.cs
  src/Shared/PseudoHeaderNames.cs
Labels: area-runtime

#42648 Reuse Http3MessageBody
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
Labels: area-runtime

#42678 Rename RouteHandlerFilter to EndpointFilter
  AspNetCore.sln
  src/Http/Http.Abstractions/src/DefaultEndpointFilterInvocationContext.cs
  src/Http/Http.Abstractions/src/EndpointFilterDelegate.cs
  src/Http/Http.Abstractions/src/EndpointFilterFactoryContext.cs
  src/Http/Http.Abstractions/src/EndpointFilterInvocationContext.cs
  src/Http/Http.Abstractions/src/EndpointFilterInvocationContextOfT.Generated.cs
  src/Http/Http.Abstractions/src/EndpointFilterInvocationContextOfT.Generated.tt
  src/Http/Http.Abstractions/src/IEndpointFilter.cs
  src/Http/Http.Abstractions/src/Microsoft.AspNetCore.Http.Abstractions.csproj
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Abstractions/test/EndpointFilterInvocationContextOfTTests.cs
  src/Http/Http.Abstractions/test/Microsoft.AspNetCore.Http.Abstractions.Tests.csproj
  src/Http/Http.Extensions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/src/RequestDelegateFactoryOptions.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Routing/src/Builder/EndpointFilterExtensions.cs
  src/Http/Routing/src/CompositeEndpointDataSource.cs
  src/Http/Routing/src/EndpointDataSource.cs
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/src/RouteEndpointBuilder.cs
  src/Http/Routing/src/RouteEndpointDataSource.cs
  src/Http/Routing/src/RouteGroupBuilder.cs
  src/Http/Routing/src/RouteGroupContext.cs
  src/Http/Routing/test/UnitTests/Builder/RequestDelegateEndpointRouteBuilderExtensionsTest.cs
  src/Http/Routing/test/UnitTests/Builder/RouteHandlerEndpointRouteBuilderExtensionsTest.cs
  src/Http/Routing/test/UnitTests/CompositeEndpointDataSourceTest.cs
  src/Http/samples/MinimalSample/Program.cs
Labels: area-web-frameworks

#42694 Merging internal commits for release/6.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  src/Servers/IIS/IIS/test/Common.FunctionalTests/StartupTests.cs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/StdOutRedirectionTests.cs
Labels: area-infrastructure, tell-mode

#42417 Make RateLimitingMiddleware endpoint aware
  AspNetCore.sln
  eng/Versions.props
  src/Middleware/Middleware.slnf
  src/Middleware/RateLimiting/samples/RateLimitingSample/Program.cs
  src/Middleware/RateLimiting/samples/RateLimitingSample/Properties/launchSettings.json
  src/Middleware/RateLimiting/samples/RateLimitingSample/RateLimitingSample.csproj
  src/Middleware/RateLimiting/samples/RateLimitingSample/SampleRateLimiterPolicy.cs
  src/Middleware/RateLimiting/samples/RateLimitingSample/appsettings.Development.json
  src/Middleware/RateLimiting/samples/RateLimitingSample/appsettings.json
  src/Middleware/RateLimiting/src/DefaultCombinedLease.cs
  src/Middleware/RateLimiting/src/DefaultKeyType.cs
  src/Middleware/RateLimiting/src/DefaultKeyTypeEqualityComparer.cs
  src/Middleware/RateLimiting/src/DefaultRateLimiterPolicy.cs
  src/Middleware/RateLimiting/src/IRateLimiterMetadata.cs
  src/Middleware/RateLimiting/src/IRateLimiterPolicy.cs
  src/Middleware/RateLimiting/src/LeaseContext.cs
  src/Middleware/RateLimiting/src/NoLimiter.cs
  src/Middleware/RateLimiting/src/OnRejectedContext.cs
  src/Middleware/RateLimiting/src/PolicyNameKey.cs
  src/Middleware/RateLimiting/src/PublicAPI.Unshipped.txt
  src/Middleware/RateLimiting/src/RateLimiterApplicationBuilderExtensions.cs
  src/Middleware/RateLimiting/src/RateLimiterEndpointConventionBuilderExtensions.cs
  src/Middleware/RateLimiting/src/RateLimiterMetadata.cs
  src/Middleware/RateLimiting/src/RateLimiterOptions.cs
  src/Middleware/RateLimiting/src/RateLimiterOptionsExtensions.cs
  src/Middleware/RateLimiting/src/RateLimitingMiddleware.cs
  src/Middleware/RateLimiting/test/RateLimitingApplicationBuilderExtensionsTests.cs
  src/Middleware/RateLimiting/test/RateLimitingMiddlewareTests.cs
  src/Middleware/RateLimiting/test/RateLimitingOptionsTests.cs
  src/Middleware/RateLimiting/test/TestPartitionedRateLimiter.cs
  src/Middleware/RateLimiting/test/TestRateLimiterPolicy.cs
Labels: area-runtime

#42677 Add `CreateHandler` method that allows additonal configuration
  src/Hosting/TestHost/src/ClientHandler.cs
  src/Hosting/TestHost/src/PublicAPI.Unshipped.txt
  src/Hosting/TestHost/src/TestServer.cs
  src/Hosting/TestHost/test/ClientHandlerTests.cs
Labels: area-runtime, community-contribution

#42682 Update branding to 7.0.0-rc1
  .github/fabricbot.json
  eng/Versions.props
Labels: area-infrastructure

#42695 Merging internal commits for release/3.1
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure, tell-mode

#42537 Yarn Housekeeping for Blazor/JSInterop
  src/Components/Web.JS/yarn.lock
  src/JSInterop/Microsoft.JSInterop.JS/src/yarn.lock
Labels: area-infrastructure, area-blazor

#42717 Fix TreatSpecificWarningsAsErrors elements
  src/Installers/Windows/AspNetCoreModule-Setup/build/settings/common.props
  src/Servers/IIS/build/Build.Common.Settings
Labels: area-infrastructure

#42689 Updated documentation for ASP.NET Identity Community Providers
  src/Identity/README.md
Labels: area-identity, community-contribution

#42708 HTTP/3: Avoid ConnectionAbortedException allocations
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs
Labels: area-runtime

#42723 Rename EmptyServiceProvicer => EmptyServiceProvider
  src/Http/Http.Abstractions/src/Extensions/EndpointBuilder.cs
Labels: area-runtime, community-contribution

#42722 Uniquify `$(TestPackageRestorePath)` values
  AspNetCore.sln
  src/ProjectTemplates/ProjectTemplates.slnf
  src/ProjectTemplates/ProjectTemplatesNoDeps.slnf
  src/ProjectTemplates/README.md
  src/ProjectTemplates/TestInfrastructure/PrepareForTest.targets
  src/ProjectTemplates/test/Templates.Blazor.Server.Tests/Templates.Blazor.Server.Tests.csproj
  src/ProjectTemplates/test/Templates.Blazor.Tests/.gitattributes
  src/ProjectTemplates/test/Templates.Blazor.Tests/BlazorServerTemplateTest.cs
  src/ProjectTemplates/test/Templates.Blazor.Tests/BlazorTemplateTest.cs
  src/ProjectTemplates/test/Templates.Blazor.Tests/BlazorWasmTemplateTest.cs
  src/ProjectTemplates/test/Templates.Blazor.Tests/PlaywrightFixture.cs
  src/ProjectTemplates/test/Templates.Blazor.Tests/Templates.Blazor.Tests.csproj
  src/ProjectTemplates/test/Templates.Blazor.Tests/package.json
  src/ProjectTemplates/test/Templates.Blazor.Tests/playwrightSettings.ci.json
  src/ProjectTemplates/test/Templates.Blazor.Tests/playwrightSettings.ci.linux.json
  src/ProjectTemplates/test/Templates.Blazor.Tests/playwrightSettings.ci.osx.json
  src/ProjectTemplates/test/Templates.Blazor.Tests/playwrightSettings.ci.win.json
  src/ProjectTemplates/test/Templates.Blazor.Tests/playwrightSettings.debug.json
  src/ProjectTemplates/test/Templates.Blazor.Tests/playwrightSettings.json
  src/ProjectTemplates/test/Templates.Blazor.Tests/playwrightSettings.linux.json
  src/ProjectTemplates/test/Templates.Blazor.Tests/playwrightSettings.osx.json
  src/ProjectTemplates/test/Templates.Blazor.Tests/playwrightSettings.win.json
  src/ProjectTemplates/test/Templates.Blazor.Tests/template-baselines.json
  src/ProjectTemplates/test/Templates.Blazor.Tests/yarn.lock
  src/ProjectTemplates/test/Templates.Blazor.WebAssembly.Tests/Templates.Blazor.WebAssembly.Tests.csproj
  src/ProjectTemplates/test/Templates.Mvc.Tests/Templates.Mvc.Tests.csproj
  src/ProjectTemplates/test/Templates.Tests/Templates.Tests.csproj
Labels: area-infrastructure, area-mvc, feature-templates

#42737 Change to summary for IEndpointConventionBuilder.WithName method
  src/Http/Routing/src/Builder/RoutingEndpointConventionBuilderExtensions.cs
Labels: community-contribution, area-web-frameworks

#42681 HTTP/3: Add end-to-end test for stream and header reuse
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicLog.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
Labels: area-runtime

#42679 Support loading OIDC options from configuration
  AspNetCore.sln
  src/Security/Authentication/JwtBearer/samples/MinimalJwtBearerSample/appsettings.Development.json
  src/Security/Authentication/JwtBearer/src/JwtBearerConfigureOptions.cs
  src/Security/Authentication/JwtBearer/src/Microsoft.AspNetCore.Authentication.JwtBearer.csproj
  src/Security/Authentication/OpenIdConnect/samples/MinimalOpenIdConnectSample/MinimalOpenIdConnectSample.csproj
  src/Security/Authentication/OpenIdConnect/samples/MinimalOpenIdConnectSample/Program.cs
  src/Security/Authentication/OpenIdConnect/samples/MinimalOpenIdConnectSample/Properties/launchSettings.json
  src/Security/Authentication/OpenIdConnect/samples/MinimalOpenIdConnectSample/appsettings.Development.json
  src/Security/Authentication/OpenIdConnect/samples/MinimalOpenIdConnectSample/appsettings.json
  src/Security/Authentication/OpenIdConnect/src/Microsoft.AspNetCore.Authentication.OpenIdConnect.csproj
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectConfigureOptions.cs
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectExtensions.cs
  src/Security/Authentication/test/AuthenticationMiddlewareTests.cs
  src/Security/Authentication/test/JwtBearerTests.cs
  src/Security/Authentication/test/OpenIdConnect/OpenIdConnectTests.cs
  src/Security/Security.slnf
  src/Shared/StringHelpers.cs
  src/Tools/dotnet-user-jwts/src/Helpers/JwtAuthenticationSchemeSettings.cs
Labels: area-security, area-web-frameworks

#42613 refactor : use new `ThrowIf` overload of `ObjectDisposedException`
  src/Components/Components/src/OwningComponentBase.cs
  src/Components/Shared/src/ArrayBuilder.cs
  src/Hosting/TestHost/src/TestServer.cs
  src/Hosting/TestHost/src/TestWebSocket.cs
  src/Http/Http/src/Internal/ReferenceReadStream.cs
  src/Http/WebUtilities/src/BufferedReadStream.cs
  src/Http/WebUtilities/src/FileBufferingReadStream.cs
  src/Http/WebUtilities/src/FileBufferingWriteStream.cs
  src/Http/WebUtilities/src/HttpRequestStreamReader.cs
  src/Http/WebUtilities/src/HttpResponseStreamWriter.cs
  src/Http/WebUtilities/src/PagedByteBuffer.cs
  src/Identity/EntityFrameworkCore/src/RoleStore.cs
  src/JSInterop/Microsoft.JSInterop/src/DotNetObjectReferenceOfT.cs
  src/JSInterop/Microsoft.JSInterop/src/Implementation/JSObjectReference.cs
  src/Middleware/Spa/SpaServices.Extensions/test/ListLoggerFactory.cs
  src/Middleware/WebSockets/test/UnitTests/BufferStream.cs
  src/Servers/HttpSys/src/HttpSysListener.cs
  src/Servers/HttpSys/src/NativeInterop/RequestQueue.cs
  src/Servers/HttpSys/src/NativeInterop/UrlGroup.cs
  src/Servers/HttpSys/src/RequestProcessing/ResponseBody.cs
  src/Servers/IIS/IIS/src/Core/WrappingStream.cs
Labels: area-blazor, community-contribution, area-web-frameworks

#42548 Improve Default Blazor WebAssembly Loading Experience
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/css/app.css
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/index.html
  src/ProjectTemplates/test/Templates.Blazor.WebAssembly.Tests/Templates.Blazor.WebAssembly.Tests.csproj
Labels: Servicing-approved, area-blazor

#42777 Update DefaultChunkSize comment in ChunkingCookieManager
  src/Shared/ChunkingCookieManager/ChunkingCookieManager.cs
Labels: area-runtime, community-contribution

#42753 Correct a typo in the code comment
  src/Middleware/OutputCaching/src/Policies/DefaultPolicy.cs
Labels: area-runtime, community-contribution

#42771 Support loading OIDC options from configuration (#42679)
  AspNetCore.sln
  src/Security/Authentication/JwtBearer/samples/MinimalJwtBearerSample/appsettings.Development.json
  src/Security/Authentication/JwtBearer/src/JwtBearerConfigureOptions.cs
  src/Security/Authentication/JwtBearer/src/Microsoft.AspNetCore.Authentication.JwtBearer.csproj
  src/Security/Authentication/OpenIdConnect/samples/MinimalOpenIdConnectSample/MinimalOpenIdConnectSample.csproj
  src/Security/Authentication/OpenIdConnect/samples/MinimalOpenIdConnectSample/Program.cs
  src/Security/Authentication/OpenIdConnect/samples/MinimalOpenIdConnectSample/Properties/launchSettings.json
  src/Security/Authentication/OpenIdConnect/samples/MinimalOpenIdConnectSample/appsettings.Development.json
  src/Security/Authentication/OpenIdConnect/samples/MinimalOpenIdConnectSample/appsettings.json
  src/Security/Authentication/OpenIdConnect/src/Microsoft.AspNetCore.Authentication.OpenIdConnect.csproj
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectConfigureOptions.cs
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectExtensions.cs
  src/Security/Authentication/test/AuthenticationMiddlewareTests.cs
  src/Security/Authentication/test/JwtBearerTests.cs
  src/Security/Authentication/test/OpenIdConnect/OpenIdConnectTests.cs
  src/Security/Security.slnf
  src/Shared/StringHelpers.cs
  src/Tools/dotnet-user-jwts/src/Helpers/JwtAuthenticationSchemeSettings.cs
Labels: Servicing-approved, area-web-frameworks

#42783 HTTP/3: Enable client cert tests on non-Windows OSes
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3TlsTests.cs
Labels: area-runtime

#42747 Rename ConfigureRouteHandlerJsonOptions to ConfigureHttpJsonOptions
  src/Http/Http.Extensions/src/HttpJsonServiceExtensions.cs
  src/Http/Http.Extensions/src/PublicAPI.Unshipped.txt
Labels: area-web-frameworks

#42748 Avoid always setting request body parameter
  src/OpenApi/src/OpenApiGenerator.cs
  src/OpenApi/test/OpenApiGeneratorTests.cs
Labels: feature-openapi, area-web-frameworks

#42816 Allowing explicit `FromBody` for raw body (`PipeReader` and `Stream`)
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
Labels: area-runtime, area-web-frameworks

#42797 Clean up localization files
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/iisca/wix/setupstrings.wxl
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/loc/CHS/misc/setupstrings.wxl
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/loc/CHT/misc/setupstrings.wxl
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/loc/CSY/misc/setupstrings.wxl
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/loc/DEU/misc/setupstrings.wxl
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/loc/ESN/misc/setupstrings.wxl
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/loc/FRA/misc/setupstrings.wxl
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/loc/ITA/misc/setupstrings.wxl
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/loc/JPN/misc/setupstrings.wxl
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/loc/KOR/misc/setupstrings.wxl
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/loc/PLK/misc/setupstrings.wxl
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/loc/PTB/misc/setupstrings.wxl
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/loc/RUS/misc/setupstrings.wxl
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/loc/TRK/misc/setupstrings.wxl
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/en/strings.json
Labels: area-infrastructure

#42819 Remove 20H2 from the test matrix
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#42826 Do not treat warnings as errors for `SendHelixJob`
  eng/helix/helix.proj
Labels: area-infrastructure

#42821 Quarantine EnableCoreHostTraceLogging_FileCaptureNativeLogs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/StdOutRedirectionTests.cs
Labels: area-runtime

#42814 [blazor] Obsolete InvokeUnmarshalled
  src/Components/Web.JS/@types/dotnet/dotnet.d.ts
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/WebAssembly/JSInterop/src/WebAssemblyJSObjectReference.cs
  src/Components/WebAssembly/JSInterop/src/WebAssemblyJSRuntime.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyCultureProvider.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/WebAssemblyHotReload.cs
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.csproj
  src/Components/WebAssembly/WebAssembly/src/Rendering/WebAssemblyRenderer.cs
  src/Components/WebAssembly/WebAssembly/src/Services/DefaultWebAssemblyJSRuntime.cs
  src/Components/WebAssembly/WebAssembly/src/Services/LazyAssemblyLoader.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyConsoleLogger.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyCultureProviderTest.cs
  src/Components/test/testassets/BasicTestApp/InteropComponent.razor
  src/JSInterop/Microsoft.JSInterop/src/IJSUnmarshalledObjectReference.cs
  src/JSInterop/Microsoft.JSInterop/src/IJSUnmarshalledRuntime.cs
Labels: area-blazor, blazor-wasm

#42791 Move builds to MacOS 11
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#42803 Update SDK to 7.0.100-rc.1.22368.21
  global.json
  src/Analyzers/Microsoft.AspNetCore.Analyzer.Testing/src/CodeFixRunner.cs
  src/Components/Analyzers/test/Verifiers/DiagnosticVerifier.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/HotReloadAgent.cs
  src/Http/Headers/src/HeaderUtilities.cs
  src/Http/Headers/src/SetCookieHeaderValue.cs
  src/Middleware/WebSockets/src/HandshakeHelpers.cs
  src/Mvc/Mvc.Razor.RuntimeCompilation/src/CompilationFailedExceptionFactory.cs
  src/Shared/ParameterBindingMethodCache.cs
  src/Testing/src/AssemblyTestLog.cs
  src/Tools/SDK-Analyzers/Components/test/Verifiers/DiagnosticVerifier.cs
Labels: area-infrastructure

#42823 Fix typo
  src/Security/samples/Identity.ExternalClaims/Pages/Account/Register.cshtml.cs
Labels: area-security, community-contribution

#42822 Add dotnet-sourcebuild-externals reference for user-jwts dependencies
  eng/Dependencies.props
  eng/Version.Details.xml
  eng/Versions.props
  src/Tools/dotnet-user-jwts/src/dotnet-user-jwts.csproj
Labels: area-infrastructure

#42675 Trim identity
  eng/TrimmableProjects.props
  src/Identity/Core/src/IdentityBuilderExtensions.cs
  src/Identity/Core/src/IdentityServiceCollectionExtensions.cs
  src/Identity/Core/src/Microsoft.AspNetCore.Identity.csproj
  src/Identity/EntityFrameworkCore/src/UserStore.cs
  src/Identity/Extensions.Core/src/IdentityBuilder.cs
  src/Identity/Extensions.Core/src/Microsoft.Extensions.Identity.Core.csproj
  src/Identity/Extensions.Stores/src/Microsoft.Extensions.Identity.Stores.csproj
  src/Identity/Extensions.Stores/src/RoleStoreBase.cs
  src/Identity/Extensions.Stores/src/UserStoreBase.cs
  src/Localization/Abstractions/src/Microsoft.Extensions.Localization.Abstractions.csproj
  src/Tools/Tools.slnf
Labels: area-identity

#42843 Fixed variable name typo in DisposableObjectPool
  src/ObjectPool/src/DisposableObjectPool.cs
Labels: community-contribution

#42840 IdentityUI: Accessability Fix focus contrast
  src/Identity/UI/src/assets/V5/css/site.css
Labels: area-identity

#42824 Allow Collection Default Value binding
  src/Mvc/Mvc.Core/src/ModelBinding/Binders/CollectionModelBinder.cs
  src/Mvc/Mvc.Core/test/ModelBinding/Binders/CollectionModelBinderTest.cs
Labels: area-web-frameworks

#42867 Issue #42810 : Changes `StringBuilder` to `ValueStringBuilder` in QueryBuilder.cs
  src/Http/Http.Extensions/src/Microsoft.AspNetCore.Http.Extensions.csproj
  src/Http/Http.Extensions/src/QueryBuilder.cs
Labels: area-runtime, community-contribution

#42638 Allow cancellation of navigation events in Blazor
  src/Components/Components/src/NavigationManager.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/Routing/LocationChangingContext.cs
  src/Components/Components/test/NavigationManagerTest.cs
  src/Components/Server/src/Circuits/CircuitFactory.cs
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/Server/src/Circuits/RemoteNavigationManager.cs
  src/Components/Server/src/ComponentHub.cs
  src/Components/Server/test/Circuits/ComponentHubTest.cs
  src/Components/Server/test/Circuits/TestCircuitHost.cs
  src/Components/Shared/src/BrowserNavigationManagerInterop.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Boot.Server.ts
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/Boot.WebView.ts
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/Web.JS/src/NavigationLock.ts
  src/Components/Web.JS/src/Platform/WebView/WebViewIpcReceiver.ts
  src/Components/Web.JS/src/Platform/WebView/WebViewIpcSender.ts
  src/Components/Web.JS/src/Services/NavigationManager.ts
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/Web/src/Routing/NavigationLock.cs
  src/Components/Web/src/Routing/NavigationLockInterop.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHost.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/WebAssembly/WebAssembly/src/Infrastructure/JSInteropMethods.cs
  src/Components/WebAssembly/WebAssembly/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyNavigationManager.cs
  src/Components/WebView/WebView/src/IpcCommon.cs
  src/Components/WebView/WebView/src/IpcReceiver.cs
  src/Components/WebView/WebView/src/IpcSender.cs
  src/Components/WebView/WebView/src/Services/WebViewNavigationManager.cs
  src/Components/test/E2ETest/Tests/RoutingTest.cs
  src/Components/test/testassets/BasicTestApp/RouterTest/ConfigurableNavigationLock.razor
  src/Components/test/testassets/BasicTestApp/RouterTest/NavigationManagerComponent.razor
Labels: area-blazor

#41789 Allow binding to StringValues? with Minimal APIs
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
Labels: community-contribution, area-web-frameworks

#42863 Updating _AddContentRootForProjectReferences target
  src/Mvc/Mvc.Testing/src/Microsoft.AspNetCore.Mvc.Testing.targets
Labels: area-web-frameworks

#42621 Log a warning when using an untrusted developer certificate
  src/Servers/Kestrel/Core/src/Internal/LoggerExtensions.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Shared/CertificateGeneration/WindowsCertificateManager.cs
Labels: area-runtime

#42506 [Migrated] - Generate Composite Images Redistributable
  .azure/pipelines/ci.yml
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-infrastructure

#42685 HTTP/3: Avoid per-request cancellation token allocations
  src/Servers/Connections.Abstractions/src/Features/IStreamClosedFeature.cs
  src/Servers/Connections.Abstractions/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3ControlStream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/test/Http3/Http3HttpProtocolFeatureCollectionTests.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.FeatureCollection.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs
  src/Servers/Kestrel/shared/TransportConnection.Generated.cs
  src/Servers/Kestrel/shared/test/Http3/Http3InMemory.cs
  src/Servers/Kestrel/tools/CodeGenerator/HttpProtocolFeatureCollection.cs
  src/Servers/Kestrel/tools/CodeGenerator/TransportConnectionFeatureCollection.cs
Labels: area-runtime

#42907 Update SDK
  global.json
Labels: area-infrastructure

#42860 Fix up project search scenarios when no option is provided
  src/Tools/dotnet-user-jwts/src/Commands/CreateCommand.cs
  src/Tools/dotnet-user-jwts/src/Helpers/DevJwtCliHelpers.cs
  src/Tools/dotnet-user-jwts/src/Resources.resx
  src/Tools/dotnet-user-jwts/test/UserJwtsTests.cs
Labels: area-commandlinetools, area-web-frameworks, feature-userjwts

#42802 Update templates to incorporate net7 changes
  eng/Versions.props
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/.template.config/localize/templatestrings.en.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Program.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/localize/templatestrings.en.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Program.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/localize/templatestrings.en.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/localize/templatestrings.en.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/localize/templatestrings.en.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Program.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/localize/templatestrings.en.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Program.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/localize/templatestrings.en.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Program.MinimalAPIs.OrgOrIndividualB2CAuth.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Program.MinimalAPIs.WindowsOrNoAuth.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Program.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/localize/templatestrings.en.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/template.json
Labels: Servicing-approved, area-mvc

#41247 Consider registering the authentication state provider conditionally
  src/Components/Server/src/DependencyInjection/ComponentServiceCollectionExtensions.cs
Labels: area-blazor, community-contribution

#40006 Error when Http/1.0 attempts to upgrade
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.cs
  src/Servers/HttpSys/test/FunctionalTests/OpaqueUpgradeTests.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.FeatureCollection.cs
  src/Servers/IIS/IIS/src/CoreStrings.resx
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/InProcess/WebSocketTests.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.WebSockets.cs
Labels: area-runtime

#42925 Update retry list for helix-matrix failures
  eng/test-configuration.json
Labels: area-infrastructure

#42872 Add Description to OpenApiResponseBody
  src/OpenApi/src/OpenApiGenerator.cs
  src/OpenApi/test/OpenApiGeneratorTests.cs
Labels: area-web-frameworks

#42935 Add flaky test to retry
  eng/test-configuration.json
Labels: area-infrastructure

#42251 macOS dev-certs overhaul
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Shared/CertificateGeneration/CertificateManager.cs
  src/Shared/CertificateGeneration/EnsureCertificateResult.cs
  src/Shared/CertificateGeneration/MacOSCertificateManager.cs
  src/Tools/FirstRunCertGenerator/test/CertificateManagerTests.cs
  src/Tools/dotnet-dev-certs/src/Program.cs
  src/Tools/dotnet-dev-certs/src/dotnet-dev-certs.csproj
Labels: area-commandlinetools, feature-devcerts, blog-candidate

#42914 Quarantine EnableCoreHostTraceLogging_PipeCaptureNativeLogs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/StdOutRedirectionTests.cs
Labels: area-runtime

#42932 Unquarantine some IIS tests
  src/Servers/IIS/IIS/test/Common.FunctionalTests/MaxRequestBodySizeTests.cs
  src/Servers/IIS/IIS/test/Common.LongTests/ShutdownTests.cs
  src/Servers/IIS/IIS/test/Common.LongTests/StartupTests.cs
  src/Servers/IIS/IIS/test/IIS.ShadowCopy.Tests/ShadowCopyTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/ClientDisconnectTests.cs
Labels: area-runtime

#42878 Fix the code to ignore parameters from incorrect locations
  src/OpenApi/src/OpenApiGenerator.cs
  src/OpenApi/test/OpenApiGeneratorTests.cs
Labels: area-web-frameworks

#42944 Rename AddEndpointFilter to AddEndpointFilterFactory
  src/Http/Routing/src/Builder/EndpointFilterExtensions.cs
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/test/UnitTests/Builder/RequestDelegateEndpointRouteBuilderExtensionsTest.cs
  src/Http/Routing/test/UnitTests/Builder/RouteHandlerEndpointRouteBuilderExtensionsTest.cs
  src/Http/samples/MinimalSample/Program.cs
Labels: area-web-frameworks

#42915 HTTP/3: Add QUIC default error code configuration
  src/Servers/Kestrel/Kestrel/src/WebHostBuilderKestrelExtensions.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionListener.cs
  src/Servers/Kestrel/Transport.Quic/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Transport.Quic/src/QuicTransportOptions.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionContextTests.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicTestHelpers.cs
Labels: area-runtime

#42683 HTTP/3: Don't wait for writes to complete in sends
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs
Labels: area-runtime

#42774 HTTP/3: Complete support for UseHttps
  src/Servers/Connections.Abstractions/src/Microsoft.AspNetCore.Connections.Abstractions.csproj
  src/Servers/Connections.Abstractions/src/PublicAPI/net462/PublicAPI.Shipped.txt
  src/Servers/Connections.Abstractions/src/PublicAPI/net462/PublicAPI.Unshipped.txt
  src/Servers/Connections.Abstractions/src/PublicAPI/net7.0/PublicAPI.Shipped.txt
  src/Servers/Connections.Abstractions/src/PublicAPI/net7.0/PublicAPI.Unshipped.txt
  src/Servers/Connections.Abstractions/src/PublicAPI/netstandard2.0/PublicAPI.Shipped.txt
  src/Servers/Connections.Abstractions/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/Servers/Connections.Abstractions/src/PublicAPI/netstandard2.1/PublicAPI.Shipped.txt
  src/Servers/Connections.Abstractions/src/PublicAPI/netstandard2.1/PublicAPI.Unshipped.txt
  src/Servers/Connections.Abstractions/src/TlsConnectionCallbackContext.cs
  src/Servers/Connections.Abstractions/src/TlsConnectionCallbackOptions.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/TransportManager.cs
  src/Servers/Kestrel/Core/src/ListenOptions.cs
  src/Servers/Kestrel/Core/src/ListenOptionsHttpsExtensions.cs
  src/Servers/Kestrel/Core/src/LocalhostListenOptions.cs
  src/Servers/Kestrel/Kestrel.slnf
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionListener.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicLog.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.FeatureCollection.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs
  src/Servers/Kestrel/Transport.Quic/src/QuicTransportFactory.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionListenerTests.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicTestHelpers.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicTransportFactoryTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3TlsTests.cs
Labels: area-runtime

#42929 Wrap Columns that are too long in the Console Table
  src/Tools/dotnet-user-jwts/src/Helpers/ConsoleTable.cs
Labels: area-commandlinetools

#42918 Replace incorrect wasm compilation fallback logic. Fixes #42055 partly
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
Labels: area-blazor

#42979 Unquarantine ServerReset_AfterEndStream_NoError
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
Labels: area-runtime, servers-kestrel

#42968 Quarantine failing HTTP3 tests
  eng/test-configuration.json
  src/Mvc/test/WebSites/RoutingWebSite/TestParameterTransformer.cs
Labels: area-runtime

#42977 Observe exception instead of hanging in HTTP2 test
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
Labels: area-runtime, servers-kestrel

#42955 Fix missing "Install PWA" button for published empty Blazor WebAssembly app
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Client/wwwroot/service-worker.published.js
Labels: area-mvc, area-blazor
