Repository dotnet/aspnetcore, pull requests merged in 2022-11, with the labels that each got.

#44799 Enable CA1854
  .editorconfig
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.Swagger/Internal/XmlComments/GrpcXmlCommentsOperationFilter.cs
  src/Http/Authentication.Core/src/AuthenticationSchemeProvider.cs
  src/Mvc/Mvc.Core/src/Formatters/TextOutputFormatter.cs
  src/Mvc/shared/Mvc.Views.TestCommon/TestFileProvider.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISDeployer.cs
  src/Tools/Microsoft.dotnet-openapi/src/Commands/BaseCommand.cs
Labels: community-contribution

#44809 !fixup! Correct CodeQL3000 setup
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#44808 Remove DOTNET_CLI_DO_NOT_USE_MSBUILD_SERVER workaround
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
  eng/tools/HelixTestRunner/TestRunner.cs
Labels: area-infrastructure

#44342 [AuthZ] Add IRequirementData
  src/Security/Authorization/Core/src/IAuthorizationRequirementData.cs
  src/Security/Authorization/Core/src/PublicAPI/net462/PublicAPI.Unshipped.txt
  src/Security/Authorization/Core/src/PublicAPI/net7.0/PublicAPI.Unshipped.txt
  src/Security/Authorization/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/Security/Authorization/Policy/src/AuthorizationMiddleware.cs
  src/Security/Authorization/test/AuthorizationMiddlewareTests.cs
Labels: area-security, blog-candidate

#44657 Support side-by-side transports in Kestrel
  src/Servers/Connections.Abstractions/src/IConnectionListenerFactorySelector.cs
  src/Servers/Connections.Abstractions/src/PublicAPI/net462/PublicAPI.Unshipped.txt
  src/Servers/Connections.Abstractions/src/PublicAPI/net7.0/PublicAPI.Unshipped.txt
  src/Servers/Connections.Abstractions/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/Servers/Connections.Abstractions/src/PublicAPI/netstandard2.1/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/TransportManager.cs
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Servers/Kestrel/Core/test/KestrelServerTests.cs
Labels: area-runtime

#44826 Update branding to 3.1.32
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#44827 Update branding to 6.0.12
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#44602 [release/3.1] Skip test that times out in CI
  src/Servers/Kestrel/test/FunctionalTests/RequestTests.cs
Labels: area-runtime, tell-mode

#44621 [release/3.1] Update Grpc.AspNetCore dependency for template
  eng/Versions.props
Labels: Servicing-approved, area-infrastructure, area-grpc

#44719 [release/6.0] Add CodeQL3000 run to aspnetcore-ci-official
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
  .config/tsaoptions.json
Labels: area-infrastructure, tell-mode

#44752 [release/6.0] source-build: support building aspnetcore using non-portable runtime packages (backport #43937)
  Directory.Build.props
  eng/Common.props
  eng/Dependencies.props
  eng/tools/GenerateFiles/Directory.Build.targets.in
  src/Components/benchmarkapps/Wasm.Performance/Driver/Wasm.Performance.Driver.csproj
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Tools/Directory.Build.targets
Labels: area-infrastructure, tell-mode, community-contribution

#44610 [6.0] Remove IsAvailable check on CommitAsync.
  src/Middleware/Session/src/DistributedSession.cs
Labels: Servicing-approved, area-runtime

#44645 [6.0] Limit the hpack buffer resize
  src/Shared/runtime/Http2/Hpack/HPackDecoder.cs
  src/Shared/test/Shared.Tests/runtime/Http2/HPackDecoderTest.cs
Labels: Servicing-approved, area-runtime

#44718 [release/6.0] Backport 'Fix Blazor RemoteAuthenticatorView processing the same action multiple times'
  src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticatorViewCore.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/RemoteAuthenticatorCoreTests.cs
  src/Components/test/E2ETest/Infrastructure/WebDriverExtensions/BasicTestAppAuthenticationWebDriverExtensions.cs
Labels: Servicing-approved, area-blazor

#44771 [release/6.0] Send 431 when HTTP/2&3 headers are too large or many #33622
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/test/Http1ConnectionTests.cs
  src/Servers/Kestrel/shared/test/Http3/Http3InMemory.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TestBase.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
Labels: Servicing-approved, area-runtime

#44801 [Templates] Fix links to http://useiconic.com
  src/Components/Samples/BlazorServerApp/wwwroot/css/open-iconic/README.md
  src/Components/THIRD-PARTY-NOTICES.txt
  src/Components/WebAssembly/Samples/HostedBlazorWebassemblyApp/Client/wwwroot/css/open-iconic/README.md
  src/Components/WebAssembly/testassets/StandaloneApp/wwwroot/css/open-iconic/README.md
  src/Components/test/testassets/ComponentsApp.Server/wwwroot/css/open-iconic/README.md
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/wwwroot/css/open-iconic/README.md
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/css/open-iconic/README.md
Labels: Servicing-approved, area-mvc

#44605 [release/6.0] Get rid of IsPublicRuntime, use AdditionalDotNetPackageFeed
  eng/helix/helix.proj
Labels: area-infrastructure, tell-mode

#44647 Produce arch-specific ANCM redist packages
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMIISExpressV2/AncmIISExpressV2.nuspec
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMV2/AncmV2.nuspec
Labels: area-infrastructure

#44798 Update for more accessible colors in dev exception page
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/Views/CompilationErrorPage.Designer.cs
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/Views/CompilationErrorPage.cshtml
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/Views/ErrorPage.Designer.cs
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/Views/ErrorPage.cshtml
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/Views/ErrorPage.css
Labels: area-runtime, community-contribution

#44435 Fix invalid redirection after 2FA sign-in (#44395)
  src/Identity/Core/src/IdentityCookiesBuilderExtensions.cs
  src/Identity/Core/src/IdentityServiceCollectionExtensions.cs
Labels: area-identity, community-contribution

#44864 Remove unnecessary ToArray call
  src/Http/WebUtilities/src/BufferedReadStream.cs
Labels: Perf, area-runtime

#44768 Update branding to 7.0.1
  eng/PackageOverrides.txt
  eng/PlatformManifest.txt
  eng/Versions.props
  eng/tools/GenerateFiles/Directory.Build.targets.in
Labels: area-infrastructure

#44717 [release/7.0] Add CodeQL3000 run to aspnetcore-ci-official
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
  .config/tsaoptions.json
Labels: area-infrastructure, tell-mode

#44644 [7.0] Limit the hpack buffer resize
  src/Shared/runtime/Http2/Hpack/HPackDecoder.cs
  src/Shared/test/Shared.Tests/runtime/Http2/HPackDecoderTest.cs
Labels: Servicing-approved, area-runtime

#44806 Backport 'Fix NavigationLock throwing a JSDisconnectedException on browser close in Blazor Server'
  src/Components/Web/src/Routing/NavigationLock.cs
Labels: Servicing-approved, area-blazor

#44583 [release/7.0] add ppc64le arch to crossgen2 not available list #44536
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-infrastructure, tell-mode, community-contribution

#44865 Use backport workflow from arcade repo
  .github/workflows/backport.yml
  eng/actions/backport/action.yml
  eng/actions/backport/index.js
Labels: area-infrastructure

#44884 [feature/green-threads] Update dependencies
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#44883 Create repro.md
  .github/ISSUE_TEMPLATE/10_bug_report.yml
  docs/repro.md
Labels: area-infrastructure

#44747 Set ApiParameterDescription.Type to `string` for Simple Types
  src/Mvc/Mvc.ApiExplorer/src/DefaultApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/src/EndpointModelMetadata.cs
  src/Mvc/Mvc.ApiExplorer/test/DefaultApiDescriptionProviderTest.cs
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
  src/OpenApi/src/OpenApiGenerator.cs
Labels: area-web-frameworks

#44889 Update bug template for razor-compiler migration
  .github/ISSUE_TEMPLATE/config.yml
Labels: area-infrastructure

#44653 Initial Form-binding support
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/src/RequestDelegateFactoryContext.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
Labels: feature-minimal-actions, area-web-frameworks

#44868 [main] Use new Arm64 Helix queues
  eng/helix/content/runtests.cmd
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#44913 refactor(NavLink): render aria-current attribute
  src/Components/Web/src/Routing/NavLink.cs
Labels: area-blazor, community-contribution

#44877 [release/6.0] Remove experimental and dotnet5 feeds
  NuGet.config
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#44879 [release/7.0] Remove experimental and downlevel feeds
  NuGet.config
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#44882 [main] Remove feeds, add to SiteExtension bundle
  NuGet.config
  eng/Dependencies.props
  eng/Versions.props
  src/SiteExtensions/LoggingAggregate/src/Microsoft.AspNetCore.AzureAppServices.SiteExtension/Microsoft.AspNetCore.AzureAppServices.SiteExtension.csproj
Labels: area-infrastructure

#44720 [release/2.1] Add CodeQL3000 run to aspnetcore-ci-official
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
  .config/tsaoptions.json
  src/Servers/Kestrel/test/FunctionalTests/HttpsTests.cs
Labels: area-infrastructure, tell-mode

#44891 [release/3.1] nit: Update `$(RepositoryUrl)`
  Directory.Build.props
Labels: area-infrastructure, tell-mode

#44842 source-build: don't use crossgen when building for mono runtime.
  eng/SourceBuild.props
Labels: area-infrastructure, community-contribution

#44887 Fix SiteExtension loading on App Service
  src/SiteExtensions/Microsoft.Web.Xdt.Extensions/src/Microsoft.Web.Xdt.Extensions.csproj
Labels: Servicing-approved, area-runtime

#44968 Fixed a concatenation issue in special URIs.
  src/JSInterop/Microsoft.JSInterop.JS/src/src/Microsoft.JSInterop.ts
Labels: area-blazor, community-contribution

#44941 Remove workaround for crashing analyzer in globalconfig
  .globalconfig
Labels: area-runtime, community-contribution

#44994 [release/2.1] nit: Update `$(RepositoryUrl)`
  Directory.Build.props
  src/AzureIntegration/Directory.Build.props
  src/Templating/Directory.Build.props
Labels: area-infrastructure, tell-mode

#44989 Fix `Excepted` -> `Expected` typos in repo
  src/Http/Http.Extensions/test/HttpRequestJsonExtensionsTests.cs
  src/JSInterop/Microsoft.JSInterop/src/Implementation/JSObjectReferenceJsonWorker.cs
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/JSStreamReferenceJsonConverter.cs
  src/JSInterop/Microsoft.JSInterop/test/Infrastructure/JSObjectReferenceJsonConverterTest.cs
  src/JSInterop/Microsoft.JSInterop/test/Infrastructure/JSStreamReferenceJsonConverterTest.cs
  src/Mvc/Mvc.Core/src/Resources.resx
  src/Mvc/test/Mvc.FunctionalTests/Infrastructure/HttpClientExtensions.cs
  src/Shared/ProblemDetails/HttpValidationProblemDetailsJsonConverter.cs
  src/Shared/ProblemDetails/ProblemDetailsJsonConverter.cs
Labels: area-blazor

#44753 [6.0] Match strangely formatted PathBase #42751
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Servers/HttpSys/test/FunctionalTests/Listener/RequestTests.cs
  src/Servers/HttpSys/test/FunctionalTests/RequestTests.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
  src/Servers/IIS/IIS/src/Core/IISHttpServer.cs
  src/Servers/IIS/IIS/src/Core/IISServerSetupFilter.cs
  src/Servers/IIS/IIS/src/WebHostBuilderIISExtensions.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Infrastructure/IIS.SubApp.config
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Infrastructure/IISSubAppSiteCollection.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Infrastructure/IISSubAppSiteFixture.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/RequestPathBaseTests.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/Http.SubApp.config
  src/Servers/IIS/IntegrationTesting.IIS/src/Microsoft.AspNetCore.Server.IntegrationTesting.IIS.csproj
Labels: Servicing-approved, area-runtime

#45005 Revert init-nuget workaround
  .azure/pipelines/ci.yml
  eng/build.sh
Labels: area-infrastructure

#44951 Update branding to 2.1.39, merge internal commits
  build/dependencies.props
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Dependencies.props
  eng/PatchConfig.props
  src/Mvc/Directory.Build.props
  src/Mvc/Mvc.Abstractions/src/Microsoft.AspNetCore.Mvc.Abstractions.csproj
  src/Mvc/Mvc.Abstractions/src/ModelBinding/ModelStateDictionary.cs
  src/Mvc/Mvc.Abstractions/src/Properties/Resources.Designer.cs
  src/Mvc/Mvc.Abstractions/src/Resources.resx
  src/Mvc/Mvc.Abstractions/test/Microsoft.AspNetCore.Mvc.Abstractions.Test.csproj
  src/Mvc/Mvc.Abstractions/test/ModelBinding/ModelStateDictionaryTest.cs
  src/Mvc/Mvc.Core/src/Internal/DefaultModelBindingContext.cs
  src/Mvc/Mvc.Core/src/Internal/DefaultObjectValidator.cs
  src/Mvc/Mvc.Core/src/Microsoft.AspNetCore.Mvc.Core.csproj
  src/Mvc/Mvc.Core/src/ModelBinding/Binders/CollectionModelBinder.cs
  src/Mvc/Mvc.Core/src/ModelBinding/Validation/ValidationVisitor.cs
  src/Mvc/Mvc.Core/src/Properties/Resources.Designer.cs
  src/Mvc/Mvc.Core/src/Resources.resx
  src/Mvc/Mvc.Core/test/Internal/DefaultObjectValidatorTests.cs
  src/Mvc/Mvc.Core/test/Microsoft.AspNetCore.Mvc.Core.Test.csproj
  src/Mvc/Mvc.Core/test/ModelBinding/Binders/CollectionModelBinderTest.cs
  src/Mvc/Mvc.Core/test/ModelBinding/DefaultModelBindingContextTest.cs
  src/Mvc/shared/ModelBindingSwitches.cs
  src/Mvc/test/Mvc.FunctionalTests/InputObjectValidationTests.cs
  src/Mvc/test/Mvc.FunctionalTests/Microsoft.AspNetCore.Mvc.FunctionalTests.csproj
  src/Mvc/test/Mvc.IntegrationTests/ArrayModelBinderIntegrationTest.cs
  src/Mvc/test/Mvc.IntegrationTests/CollectionModelBinderIntegrationTest.cs
  src/Mvc/test/Mvc.IntegrationTests/ComplexTypeModelBinderIntegrationTest.cs
  src/Mvc/test/Mvc.IntegrationTests/DictionaryModelBinderIntegrationTest.cs
  src/Mvc/test/Mvc.IntegrationTests/Microsoft.AspNetCore.Mvc.IntegrationTests.csproj
  src/Mvc/test/Mvc.IntegrationTests/ModelBindingTestHelper.cs
  src/Mvc/test/Mvc.IntegrationTests/Models/SuccessfulModel.cs
  src/Mvc/test/Mvc.IntegrationTests/SuccessfulModelBinder.cs
  src/Mvc/test/WebSites/FormatterWebSite/Controllers/ValidationController.cs
  src/Mvc/test/WebSites/FormatterWebSite/Models/InfinitelyRecursiveModel.cs
  src/Mvc/test/WebSites/FormatterWebSite/Models/RecursiveIdentifier.cs
  src/PackageArchive/Archive.CiServer.Patch.Compat/ArchiveBaseline.2.1.37.txt
  src/PackageArchive/Archive.CiServer.Patch.Compat/ArchiveBaseline.2.1.38.txt
  src/PackageArchive/Archive.CiServer.Patch/ArchiveBaseline.2.1.37.txt
  src/PackageArchive/Archive.CiServer.Patch/ArchiveBaseline.2.1.38.txt
  src/Security/Interop/src/ChunkingCookieManager.cs
  src/Security/Interop/src/Microsoft.Owin.Security.Interop.csproj
  src/Security/Interop/test/CookieChunkingTests.cs
  src/Shared/ChunkingCookieManager/ChunkingCookieManager.cs
  version.props
Labels: tell-mode

#45009 Add template for analyzer/codefixer proposals
  .github/ISSUE_TEMPLATE/60_analyzer_proposal.md
Labels: area-infrastructure

#45013 Fix predicate evaluation in OutputCacheAttribute
  src/Middleware/OutputCaching/src/OutputCacheAttribute.cs
  src/Middleware/OutputCaching/test/OutputCacheAttributeTests.cs
Labels: area-runtime

#45028 [Blazor] Workaround linker regression
  src/Components/WebAssembly/WebAssembly.Authentication/src/ILLink.Descriptors.xml
  src/Components/WebAssembly/WebAssembly.Authentication/src/Microsoft.AspNetCore.Components.WebAssembly.Authentication.csproj
  src/Components/WebAssembly/WebAssembly.Authentication/src/Models/InteractiveRequestOptions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticatorViewCore.Log.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticatorViewCore.cs
Labels: Servicing-approved, area-blazor

#45008 [7.0] Match strangely formatted PathBase in HttpSys & IIS #42751
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Servers/HttpSys/test/FunctionalTests/Listener/RequestTests.cs
  src/Servers/HttpSys/test/FunctionalTests/RequestTests.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
  src/Servers/IIS/IIS/src/Core/IISHttpServer.cs
  src/Servers/IIS/IIS/src/Core/IISServerSetupFilter.cs
  src/Servers/IIS/IIS/src/WebHostBuilderIISExtensions.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Infrastructure/IIS.SubApp.config
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Infrastructure/IISSubAppSiteCollection.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Infrastructure/IISSubAppSiteFixture.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/RequestPathBaseTests.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/Http.SubApp.config
  src/Servers/IIS/IntegrationTesting.IIS/src/Microsoft.AspNetCore.Server.IntegrationTesting.IIS.csproj
Labels: Servicing-approved, area-runtime

#45091 [release/7.0] Add init-nuget workaround back
  .azure/pipelines/ci.yml
  eng/build.sh
Labels: area-infrastructure, tell-mode

#45036 [6.0] Restore IISServerSetupFilter server type check
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
  src/Servers/IIS/IIS/src/Core/IISServerSetupFilter.cs
  src/Servers/IIS/IIS/src/WebHostBuilderIISExtensions.cs
Labels: area-runtime

#45095 Don't require configuration for Auth
  src/Security/Authentication/Core/src/DefaultAuthenticationConfigurationProvider.cs
  src/Security/Authentication/test/TestExtensions.cs
Labels: area-security

#45090 Fixed docs in NavigationManagerExtensions suggesting login operations perform logouts
  src/Components/WebAssembly/WebAssembly.Authentication/src/NavigationManagerExtensions.cs
Labels: area-blazor, community-contribution

#43442 Annotate WebAssembly.Authentication for nullability
  src/Components/Components/src/NavigationManager.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/WebAssembly.Authentication/src/Microsoft.AspNetCore.Components.WebAssembly.Authentication.csproj
  src/Components/WebAssembly/WebAssembly.Authentication/src/Models/AccessToken.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Models/InteractiveRequestOptions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Models/RemoteAuthenticationContext.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Models/RemoteAuthenticationResult.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Models/RemoteAuthenticationState.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Models/RemoteUserAccount.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/NavigationManagerExtensions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Options/ApiAuthorizationProviderOptions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Options/DefaultApiAuthorizationOptionsConfiguration.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Options/DefaultOidcProviderOptionsConfiguration.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Options/OidcProviderOptions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Options/RemoteAuthenticationApplicationPathsOptions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Options/RemoteAuthenticationUserOptions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/PublicAPI.Shipped.txt
  src/Components/WebAssembly/WebAssembly.Authentication/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticatorViewCore.Log.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticatorViewCore.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/AccessTokenProviderAccessor.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/AccessTokenRequestOptions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/AccessTokenResult.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/AccountClaimsPrincipalFactory.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/AuthorizationMessageHandler.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/ExpiredTokenException.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/RemoteAuthenticationService.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/WebAssemblyAuthenticationServiceCollectionExtensions.cs
Labels: area-blazor

#43451 Nullable cleanup
  src/HttpClientFactory/Polly/src/HttpRequestMessageExtensions.cs
  src/HttpClientFactory/Polly/src/Microsoft.Extensions.Http.Polly.csproj
  src/HttpClientFactory/Polly/src/PublicAPI.Shipped.txt
  src/HttpClientFactory/Polly/src/PublicAPI.Unshipped.txt
  src/SiteExtensions/Microsoft.Web.Xdt.Extensions/src/Microsoft.Web.Xdt.Extensions.csproj
  src/Tools/GetDocumentInsider/src/GetDocument.Insider.csproj
Labels: area-web-frameworks

#45073 Endpoint filter pipeline now returns EmptyHttpResult in case of 400 BadRequest
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
Labels: community-contribution, area-web-frameworks

#44987 Fix SiteExtension loading on App Service
  src/SiteExtensions/Microsoft.Web.Xdt.Extensions/src/Microsoft.Web.Xdt.Extensions.csproj
Labels: area-runtime

#45113 Update 7.0 SiteExtension version
  eng/Versions.props
Labels: area-infrastructure

#45116 Update Microsoft.Build.* dependencies to 17.4
  eng/Versions.props
Labels: area-infrastructure

#45117 [release/6.0] Use simpler Docker tags
  .azure/pipelines/ci.yml
  eng/docker/rhel.Dockerfile
  eng/targets/Helix.Common.props
Labels: area-infrastructure, tell-mode

#45115 [release/7.0] Use simpler Docker tags
  .azure/pipelines/ci.yml
  eng/docker/rhel.Dockerfile
  eng/targets/Helix.Common.props
  src/Installers/Rpm/Directory.Build.targets
Labels: area-infrastructure, tell-mode

#45099 Support max-age negative value
  src/Http/Headers/src/HeaderUtilities.cs
  src/Http/Headers/src/SetCookieHeaderValue.cs
  src/Http/Headers/test/HeaderUtilitiesTest.cs
  src/Http/Headers/test/SetCookieHeaderValueTest.cs
Labels: area-runtime, community-contribution

#45118 [release/3.1] Use simpler Docker tags
  .azure/pipelines/ci.yml
  eng/docker/rhel.Dockerfile
  eng/docker/ubuntu-alpine37.Dockerfile
Labels: area-infrastructure, tell-mode

#45134 Re-enable Blazor touch event test
  src/Components/test/E2ETest/Tests/EventTest.cs
Labels: area-blazor

#45044 Remove array allocation from multi-span header parsing
  src/Servers/Kestrel/Core/src/Internal/Http/HttpParser.cs
  src/Servers/Kestrel/Core/test/HttpParserTests.cs
  src/Servers/Kestrel/perf/Microbenchmarks/HttpParserBenchmark.cs
Labels: Perf, area-runtime, servers-kestrel

#45177 [feature/green-threads] Update dependencies from runtimelab
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#45146 Add route string syntax to more APIs
  src/Middleware/HealthChecks/src/Builder/HealthCheckEndpointRouteBuilderExtensions.cs
  src/Mvc/Mvc.RazorPages/src/Builder/RazorPagesEndpointRouteBuilderExtensions.cs
  src/SignalR/common/Http.Connections/src/ConnectionEndpointRouteBuilderExtensions.cs
  src/SignalR/server/SignalR/src/HubEndpointRouteBuilderExtensions.cs
Labels: area-runtime

#45202 Use TryAddSingleton for PolicyCache
  src/Security/Authorization/Policy/src/PolicyServiceCollectionExtensions.cs
Labels: area-security

#44663 Add more StringSyntaxAttrbute syntaxes
  src/Components/Components/src/BindConverter.cs
Labels: area-blazor, community-contribution

#45211 Update @types/Webpack
  src/SignalR/clients/ts/FunctionalTests/ts/HubConnectionTests.ts
  src/SignalR/clients/ts/common/package.json
  src/SignalR/clients/ts/common/yarn.lock
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
  src/SignalR/clients/ts/signalr/src/HubConnection.ts
  src/SignalR/clients/ts/signalr/src/IConnection.ts
  src/SignalR/clients/ts/signalr/src/LongPollingTransport.ts
  src/SignalR/clients/ts/signalr/src/ServerSentEventsTransport.ts
  src/SignalR/clients/ts/signalr/src/WebSocketTransport.ts
  src/SignalR/clients/ts/signalr/tests/HttpConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/ServerSentEventsTransport.test.ts
  src/SignalR/clients/ts/signalr/tests/TestEventSource.ts
  src/SignalR/clients/ts/signalr/tests/TestWebSocket.ts
  src/SignalR/clients/ts/signalr/tests/Utils.ts
Labels: area-signalr

#44860 HttpSys request header dictionary does not remove headers when Remove() is called
  src/Servers/HttpSys/src/RequestProcessing/RequestHeaders.Generated.tt
  src/Servers/HttpSys/test/FunctionalTests/Listener/RequestHeaderTests.cs
  src/Shared/HttpSys/RequestProcessing/NativeRequestContext.cs
  src/Shared/HttpSys/RequestProcessing/RequestHeaders.Generated.cs
  src/Shared/HttpSys/RequestProcessing/RequestHeaders.cs
Labels: area-runtime, community-contribution

#45241 [feature/green-threads] Update dependencies
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#45185 Add support for comment syntax to route detector
  src/Framework/AspNetCoreAnalyzers/samples/WebAppSample/Pages/Index.cshtml.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/EmbeddedLanguageCommentDetector.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/EmbeddedLanguageCommentOptions.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/RouteStringSyntaxDetector.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/RouteStringSyntaxDetectorDocument.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RouteOptions.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternCompletionProvider.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteEmbeddedLanguage/RoutePatternAnalyzerTests.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteEmbeddedLanguage/RoutePatternClassifierTests.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteEmbeddedLanguage/RoutePatternCompletionProviderTests.cs
  src/Framework/AspNetCoreAnalyzers/test/TestDiagnosticAnalyzer.cs
Labels: area-infrastructure, area-web-frameworks

#45247 Fix NonceCookie/CorrelationCookie
  src/Security/Authentication/Core/src/RemoteAuthenticationOptions.cs
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectOptions.cs
  src/Security/Authentication/test/OpenIdConnect/OpenIdConnectTests.cs
Labels: area-security, community-contribution

#45062 Add OnPrepareResponseAsync
  src/Middleware/StaticFiles/src/PublicAPI.Unshipped.txt
  src/Middleware/StaticFiles/src/StaticFileContext.cs
  src/Middleware/StaticFiles/src/StaticFileOptions.cs
  src/Middleware/StaticFiles/test/UnitTests/StaticFileMiddlewareTests.cs
Labels: area-runtime, community-contribution

#45250 Enable TT generation in VS, update SLNF
  src/Servers/HttpSys/HttpSysServer.slnf
  src/Servers/HttpSys/src/Microsoft.AspNetCore.Server.HttpSys.csproj
  src/Servers/HttpSys/src/RequestProcessing/RequestHeaders.Generated.tt
  src/Shared/HttpSys/RequestProcessing/RequestHeaders.Generated.cs
  src/Shared/HttpSys/RequestProcessing/RequestHeaders.Generated.tt
Labels: area-runtime

#45144 HTTP/3: Throw AddressInUseException for used port in the same process
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionListener.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionListenerTests.cs
Labels: area-runtime

#45173 Infer parameter source from ElementType for IEnumerable
  src/Mvc/Mvc.Core/src/ApplicationModels/InferParameterBindingInfoConvention.cs
  src/Mvc/Mvc.Core/test/ApplicationModels/InferParameterBindingInfoConventionTest.cs
  src/SignalR/server/Core/src/Internal/HubMethodDescriptor.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTestUtils/Hubs.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-web-frameworks

#45255 Fix AzDO area path for policy violations reporting
  .config/tsaoptions.json
  eng/sdl-tsa-vars.config
Labels: area-infrastructure

#45254 Improved Bot Response for investigation issue
  .github/fabricbot.json
Labels: area-infrastructure

#45235 Enable `UsePkce` by default for Google and Facebook auth
  src/Security/Authentication/Facebook/src/FacebookOptions.cs
  src/Security/Authentication/Google/src/GoogleHandler.cs
  src/Security/Authentication/Google/src/GoogleOptions.cs
  src/Security/Authentication/test/FacebookTests.cs
  src/Security/Authentication/test/GoogleTests.cs
Labels: area-security, community-contribution

#45232 Spa proxy enhancements
  src/Middleware/Spa/SpaProxy/src/SpaDevelopmentServerOptions.cs
  src/Middleware/Spa/SpaProxy/src/SpaProxyLaunchManager.cs
  src/Middleware/Spa/SpaProxy/src/SpaProxyStartupFilter.cs
  src/Middleware/Spa/SpaProxy/src/build/Microsoft.AspNetCore.SpaProxy.targets
Labels: area-runtime

#45269 Adding id to manifest.json files
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/manifest.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Client/wwwroot/manifest.json
Labels: area-mvc, community-contribution

#44999 gRPC JSON transcoding - msbuild includes proto dependencies
  THIRD-PARTY-NOTICES.txt
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Microsoft.AspNetCore.Grpc.JsonTranscoding.csproj
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/build/Microsoft.AspNetCore.Grpc.JsonTranscoding.targets
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/protos/google/api/annotations.proto
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/protos/google/api/http.proto
Labels: area-grpc

#45308 [Blazor][debugging] Support Debug on Chromium
  src/Components/Web.JS/src/Platform/Mono/MonoDebugger.ts
  src/Components/WebAssembly/Server/src/TargetPickerUi.cs
Labels: area-blazor

#45346 Update branding to 7.0.2
  eng/Versions.props
Labels: area-infrastructure

#45156 HttpSys request headers Keys and Count both allocate
  AspNetCore.sln
  src/Servers/HttpSys/HttpSysServer.slnf
  src/Servers/HttpSys/perf/Microbenchmarks/AssemblyInfo.cs
  src/Servers/HttpSys/perf/Microbenchmarks/Microsoft.AspNetCore.Server.HttpSys.Microbenchmarks.csproj
  src/Servers/HttpSys/perf/Microbenchmarks/README.md
  src/Servers/HttpSys/perf/Microbenchmarks/RequestHeaderBenchmarks.cs
  src/Servers/HttpSys/src/Microsoft.AspNetCore.Server.HttpSys.csproj
  src/Servers/HttpSys/test/FunctionalTests/RequestHeaderTests.cs
  src/Servers/HttpSys/test/Tests/Microsoft.AspNetCore.Server.HttpSys.Tests.csproj
  src/Servers/HttpSys/test/Tests/RequestHeaderTests.cs
  src/Shared/HttpSys/RequestProcessing/NativeRequestContext.cs
  src/Shared/HttpSys/RequestProcessing/RequestHeaders.Generated.cs
  src/Shared/HttpSys/RequestProcessing/RequestHeaders.Generated.tt
  src/Shared/HttpSys/RequestProcessing/RequestHeaders.cs
Labels: Perf, area-runtime, servers-httpsys, community-contribution

#45345 Update branding to 6.0.13
  eng/Versions.props
Labels: area-infrastructure

#45314 Centralize well known types across analyzers
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Http/RequestDelegateReturnTypeAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/BoundedCacheWithFactory.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/WellKnownTypes.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RenderTreeBuilder/RenderTreeBuilderAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RenderTreeBuilder/WellKnownTypes.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/FrameworkParametersCompletionProvider.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/MvcDetector.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/RoutePatternParametersDetector.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/RoutePatternUsageDetector.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/RouteWellKnownTypes.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternBraceMatcher.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternClassifier.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternCompletionProvider.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternHighlighter.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/WellKnownTypes.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/DisallowMvcBindArgumentsOnParameters.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/DisallowReturningActionResultFromMapMethods.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/RouteHandlerAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/WellKnownTypes.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/WebApplicationBuilder/WebApplicationBuilderAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/WebApplicationBuilder/WellKnownTypes.cs
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/RouteParameterUnusedParameterFixer.cs
  src/Framework/AspNetCoreAnalyzers/test/Infrastructure/WellKnownTypesTests.cs
Labels: area-infrastructure, area-web-frameworks

#45121 [release/7.0] Use new Arm64 Helix queues
  .azure/pipelines/helix-matrix.yml
  eng/helix/content/runtests.cmd
  eng/targets/Helix.Common.props
Labels: area-infrastructure, tell-mode

#44463 Add analyzer and code fix to recommend against IHeaderDictionary.Add
  src/Analyzers/Analyzers/test/Microsoft.AspNetCore.Analyzers.Test.csproj
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DiagnosticDescriptors.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Http/HeaderDictionaryAddAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Resources.resx
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/Http/HeaderDictionaryAddFixer.cs
  src/Framework/AspNetCoreAnalyzers/test/Http/HeaderDictionaryAddTest.cs
  src/Framework/AspNetCoreAnalyzers/test/Verifiers/CSharpCodeFixVerifier.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/JsonTranscodingServerCallContextTests.cs
Labels: area-runtime, community-contribution

#45356 Automate setting milestone for servicing PRs when merged
  .github/fabricbot.json
Labels: area-infrastructure
