Repository dotnet/aspnetcore, pull requests merged in 2022-05, with the labels that each got.

#41454 Minor TagHelper refactoring
  src/Mvc/Mvc.Razor/src/TagHelpers/TagHelperComponentPropertyActivator.cs
  src/Mvc/Mvc.Razor/src/TagHelpers/TagHelperComponentTagHelper.cs
  src/Mvc/Mvc.Razor/src/TagHelpers/UrlResolutionTagHelper.cs
  src/Mvc/Mvc.TagHelpers/src/CacheTagHelper.cs
  src/Mvc/Mvc.TagHelpers/src/CurrentValues.cs
  src/Mvc/Mvc.TagHelpers/src/FileProviderGlobbingDirectory.cs
  src/Mvc/Mvc.TagHelpers/src/FileProviderGlobbingFile.cs
  src/Mvc/Mvc.TagHelpers/src/GlobbingUrlBuilder.cs
  src/Mvc/Mvc.TagHelpers/src/InputTagHelper.cs
  src/Mvc/Mvc.TagHelpers/src/TagHelperOutputExtensions.cs
Labels: area-mvc, community-contribution

#41375 Determine next log file number from directory on first run
  src/Middleware/HttpLogging/src/FileLoggerProcessor.cs
  src/Middleware/HttpLogging/test/FileLoggerProcessorTests.cs
Labels: area-runtime, community-contribution

#41413 !fixup! Reference Html.Abstractions projects
  AspNetCore.sln
  eng/Build.props
  src/Html.Abstractions/Html.Abstractions.slnf
  src/Html.Abstractions/startvs.cmd
  src/Html.Abstractions/startvscode.cmd
  src/Html.Abstractions/startvscode.sh
  src/Html.Abstractions/test/HtmlContentBuilderExtensionsTest.cs
  src/Html.Abstractions/test/HtmlContentBuilderTest.cs
  src/Html.Abstractions/test/HtmlFormattableStringTest.cs
Labels: area-infrastructure

#41452 Added overloads on Results/TypedResults for Content/Text with status code
  src/Http/Http.Results/src/PublicAPI.Unshipped.txt
  src/Http/Http.Results/src/Results.cs
  src/Http/Http.Results/src/TypedResults.cs
  src/Http/Http.Results/test/ResultsTests.cs
  src/Http/Http.Results/test/TypedResultsTests.cs
Labels: area-runtime

#41333 Unify initialization in DefaultHttpContextFactory
  src/Hosting/Hosting/src/Http/DefaultHttpContextFactory.cs
  src/Hosting/Hosting/test/Http/DefaultHttpContextFactoryTests.cs
  src/Http/Http/src/Properties/AssemblyInfo.cs
Labels: area-runtime

#41495 Update branding to 3.1.26
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#41496 Update branding to 6.0.6
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#41406 Add support for RouteHandlerInvocationContext<> overloads
  src/Http/Http.Abstractions/src/DefaultRouteHandlerInvocationContext.cs
  src/Http/Http.Abstractions/src/Microsoft.AspNetCore.Http.Abstractions.csproj
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Abstractions/src/RouteHandlerInvocationContext.cs
  src/Http/Http.Abstractions/src/RouteHandlerInvocationContextOfT.Generated.cs
  src/Http/Http.Abstractions/src/RouteHandlerInvocationContextOfT.Generated.tt
  src/Http/Http.Abstractions/test/Microsoft.AspNetCore.Http.Abstractions.Tests.csproj
  src/Http/Http.Abstractions/test/RouteHandlerInvocationContextOfTTests.cs
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Routing/test/UnitTests/Builder/RouteHandlerEndpointRouteBuilderExtensionsTest.cs
Labels: area-web-frameworks

#41182 [release/6.0] Fix diff checks for ContentRoot and WebRoot
  src/DefaultBuilder/src/ConfigureHostBuilder.cs
  src/DefaultBuilder/src/ConfigureWebHostBuilder.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
Labels: Servicing-approved, area-runtime

#41487 Only load bcrypt.dll on Windows
  src/DataProtection/Cryptography.Internal/src/Cng/OSVersionUtil.cs
  src/DataProtection/Cryptography.Internal/src/UnsafeNativeMethods.cs
Labels: area-dataprotection

#41410 Zero byte reads support for EnableBuffering/FileBufferingReadStream
  src/Http/WebUtilities/src/FileBufferingReadStream.cs
  src/Http/WebUtilities/test/FileBufferingReadStreamTests.cs
Labels: Servicing-approved, area-runtime

#38094 Remove SocketException usage
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketAwaitableEventArgs.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketOperationResult.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketReceiver.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketSender.cs
Labels: area-runtime

#41402 Allow Multiple Wildcard Prefix Server Names of the Same Length in SNI Configuration
  src/Servers/Kestrel/Core/src/Internal/SniOptionsSelector.cs
  src/Servers/Kestrel/Core/test/SniOptionsSelectorTests.cs
Labels: Servicing-approved, area-runtime

#41360 release/6.0 port of abort handling
  src/Servers/IIS/IIS/src/Core/IISHttpContext.IO.cs
  src/Servers/IIS/IIS/src/Core/OutputProducer.cs
  src/Servers/IIS/IIS/test/IIS.Tests/ResponseAbortTests.cs
Labels: Servicing-approved, area-runtime

#41034 Handle arm64 in ANCMIISExpress msi
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMIISExpressV2/ancm_iis_expressv2.wxs
Labels: area-infrastructure

#41499 Support minimal APIs & program/main together in Web API template
  src/ProjectTemplates/Shared/Project.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Program.MinimalAPIs.OrgOrIndividualB2CAuth.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Program.MinimalAPIs.WindowsOrNoAuth.cs
  src/ProjectTemplates/scripts/Run-WebApiProgamMainMinimal-Locally.ps1
  src/ProjectTemplates/test/ArgConstants.cs
  src/ProjectTemplates/test/BlazorServerTemplateTest.cs
  src/ProjectTemplates/test/BlazorWasmTemplateTest.cs
  src/ProjectTemplates/test/EmptyWebTemplateTest.cs
  src/ProjectTemplates/test/GrpcTemplateTest.cs
  src/ProjectTemplates/test/MvcTemplateTest.cs
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
  src/ProjectTemplates/test/WebApiTemplateTest.cs
  src/ProjectTemplates/test/WorkerTemplateTest.cs
Labels: area-mvc

#41382 Fix MapPath and UsePathBase's use of implicit PathStrings
  src/Http/Http.Abstractions/src/Extensions/MapMiddleware.cs
  src/Http/Http.Abstractions/src/Extensions/UsePathBaseExtensions.cs
  src/Http/Http.Abstractions/src/Extensions/UsePathBaseMiddleware.cs
  src/Http/Http.Abstractions/test/MapPathMiddlewareTests.cs
  src/Http/Http.Abstractions/test/UsePathBaseExtensionsTests.cs
Labels: Servicing-approved, area-runtime

#41179 [release/5.0] Fix CompGov bugs
  .azure/pipelines/jobs/default-build.yml
  eng/Dependencies.props
  eng/Versions.props
  src/Components/Web.JS/package.json
  src/Components/Web.JS/yarn.lock
  src/Components/WebAssembly/Authentication.Msal/src/Interop/package.json
  src/Components/WebAssembly/Authentication.Msal/src/Interop/yarn.lock
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/package.json
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/yarn.lock
  src/Components/test/E2ETest/package.json
  src/Components/test/E2ETest/yarn.lock
  src/Components/test/testassets/BasicTestApp/BasicTestApp.csproj
  src/ProjectTemplates/BlazorTemplates.Tests/package.json
  src/ProjectTemplates/BlazorTemplates.Tests/yarn.lock
  src/ProjectTemplates/test/package.json
  src/ProjectTemplates/test/yarn.lock
  src/Servers/IIS/IIS/samples/NativeIISSample/NativeIISSample.csproj
  src/Servers/IIS/IIS/test/IIS.Tests/IIS.Tests.csproj
  src/Servers/IIS/IIS/test/testassets/InProcessNewShimWebSite/InProcessNewShimWebSite.csproj
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/InProcessWebSite.csproj
  src/Servers/IIS/IntegrationTesting.IIS/src/Microsoft.AspNetCore.Server.IntegrationTesting.IIS.csproj
  src/SignalR/clients/ts/FunctionalTests/package.json
  src/SignalR/clients/ts/FunctionalTests/yarn.lock
  src/SignalR/clients/ts/common/package.json
  src/SignalR/clients/ts/common/yarn.lock
  src/SignalR/clients/ts/signalr-protocol-msgpack/package.json
  src/SignalR/clients/ts/signalr-protocol-msgpack/yarn.lock
  src/Tools/Microsoft.dotnet-openapi/src/Microsoft.dotnet-openapi.csproj
  src/Tools/dotnet-sql-cache/src/dotnet-sql-cache.csproj
Labels: area-infrastructure

#41484 Give `$(DotnetEfVersion)` readable casing
  eng/Versions.props
  eng/helix/helix.proj
  eng/scripts/CodeCheck.ps1
  eng/tools/GenerateFiles/GenerateFiles.csproj
  eng/tools/GenerateFiles/dotnet-tools.json.in
Labels: area-infrastructure

#41500 Allow HttpSys zero-byte reads
  src/Servers/HttpSys/src/RequestProcessing/RequestStream.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestStreamAsyncResult.cs
  src/Servers/HttpSys/test/FunctionalTests/RequestBodyTests.cs
Labels: Servicing-approved, area-runtime

#41541 Remove release/5.0 Dependabot config
  .github/dependabot.yml
Labels: area-infrastructure

#41492 Determine next log file number from directory on first run
  src/Middleware/HttpLogging/src/FileLoggerProcessor.cs
  src/Middleware/HttpLogging/test/FileLoggerProcessorTests.cs
Labels: Servicing-approved, area-runtime, community-contribution

#41194 Try new docker image
  eng/docker/rhel.Dockerfile
Labels: area-infrastructure

#41160 [release/3.1] Fix component government bugs
  .azure/pipelines/jobs/default-build.yml
  eng/Dependencies.props
  eng/Versions.props
  eng/targets/CSharp.Common.props
  src/Components/Web.JS/package.json
  src/Components/Web.JS/yarn.lock
  src/Components/WebAssembly/Authentication.Msal/src/Interop/package.json
  src/Components/WebAssembly/Authentication.Msal/src/Interop/yarn.lock
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/package.json
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/yarn.lock
  src/Components/test/E2ETest/package.json
  src/Components/test/E2ETest/yarn.lock
  src/Components/test/testassets/BasicTestApp/BasicTestApp.csproj
  src/Middleware/NodeServices/src/package.json
  src/Middleware/NodeServices/src/yarn.lock
  src/Middleware/SpaServices/src/npm/aspnet-webpack/package.json
  src/Middleware/SpaServices/src/npm/aspnet-webpack/yarn.lock
  src/Middleware/SpaServices/src/package.json
  src/Middleware/SpaServices/src/yarn.lock
  src/ProjectTemplates/test/package.json
  src/ProjectTemplates/test/yarn.lock
  src/Servers/IIS/IIS/samples/NativeIISSample/NativeIISSample.csproj
  src/Servers/IIS/IIS/test/IIS.Tests/IIS.Tests.csproj
  src/Servers/IIS/IIS/test/testassets/InProcessNewShimWebSite/InProcessNewShimWebSite.csproj
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/InProcessWebSite.csproj
  src/Servers/IIS/IntegrationTesting.IIS/src/Microsoft.AspNetCore.Server.IntegrationTesting.IIS.csproj
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/TlsTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsTests.cs
  src/SignalR/clients/ts/FunctionalTests/package.json
  src/SignalR/clients/ts/FunctionalTests/yarn.lock
  src/SignalR/clients/ts/common/package.json
  src/SignalR/clients/ts/common/yarn.lock
  src/Tools/Microsoft.dotnet-openapi/src/Microsoft.dotnet-openapi.csproj
  src/Tools/dotnet-sql-cache/src/dotnet-sql-cache.csproj
Labels: area-infrastructure

#41514 Update SPA template JS dependencies
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/package.json
Labels: area-mvc, tell-mode

#41549 Port template test fixes from release/6.0
  src/ProjectTemplates/Shared/ProjectFactoryFixture.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/Program.Main.cs
  src/ProjectTemplates/test/BaselineTest.cs
  src/ProjectTemplates/test/template-baselines.json
Labels: area-mvc

#41542 Implemented test to monitor issue 4754
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseHeaderTests.cs
Labels: area-runtime, community-contribution

#41543 Fix description for MultipartReader.BodyLengthLimit #41479
  src/Http/WebUtilities/src/MultipartReader.cs
Labels: area-runtime, community-contribution

#41534 Fix failing test on machine using en-GB
  src/Security/samples/CustomPolicyProvider/Controllers/AccountController.cs
Labels: area-security, community-contribution

#41547 Use 1es-windows-2019 again
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#41525 Update Grpc.Core.Api to 2.45.0 and support write cancellation
  eng/Versions.props
  src/Grpc/Grpc.slnf
  src/Grpc/Interop/test/testassets/InteropWebsite/TestServiceImpl.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Binding/JsonTranscodingProviderServiceBinder.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Binding/JsonTranscodingServiceMethodProvider.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/CallHandlers/UnaryServerCallHandler.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/HttpContextStreamWriter.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/JsonRequestHelpers.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/JsonTranscodingServerCallContext.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.Swagger/Internal/GrpcJsonTranscodingDescriptionProvider.cs
  src/Grpc/JsonTranscoding/src/Shared/AuthContextHelpers.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.IntegrationTests/ServerStreamingTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/GrpcJsonTranscodingServiceExtensionsTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/Infrastructure/JsonTranscodingGreeterService.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/JsonTranscodingServerCallContextTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/JsonTranscodingServiceMethodProviderTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/TestObjects/Services/JsonTranscodingGreeterService.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/TestObjects/Services/JsonTranscodingInvalidBodyGreeterService.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/TestObjects/Services/JsonTranscodingInvalidPatternGreeterService.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/TestObjects/Services/JsonTranscodingInvalidResponseBodyGreeterService.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/TestObjects/Services/JsonTranscodingStreamingService.cs
Labels: area-grpc

#41570 Add a no-op IServerAddressesFeature implementation to TestServer.Features
  src/Hosting/TestHost/src/TestServer.cs
  src/Hosting/TestHost/test/TestServerTests.cs
  src/Mvc/test/WebSites/SimpleWebSiteWithWebApplicationBuilder/Program.cs
Labels: community-contribution, area-web-frameworks

#41590 Revert "Use 1es-windows-2019 again"
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#41588 Bump SDK to latest nightly
  global.json
Labels: area-infrastructure

#41062 Allow sidebar to scroll for tall menus
  src/Components/Samples/BlazorServerApp/Shared/NavMenu.razor
  src/Components/Samples/BlazorServerApp/wwwroot/css/site.css
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Shared/NavMenu.CallsMicrosoftGraph.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Shared/NavMenu.CallsWebApi.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Shared/NavMenu.NoGraphOrApi.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Shared/NavMenu.razor.css
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/NavMenu.CallsMicrosoftGraph.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/NavMenu.CallsWebApi.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/NavMenu.NoGraphOrApi.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/NavMenu.razor.css
Labels: area-mvc, community-contribution, pr: pending author input

#41565 Fix documentation for the property displayName in the UserLoginInfo Constructor
  src/Identity/Extensions.Core/src/UserLoginInfo.cs
Labels: area-identity, community-contribution

#41531 Pass through CancellationToken
  src/Security/Authentication/OAuth/src/OAuthHandler.cs
Labels: area-security, community-contribution

#41468 Spruce up OpenApiSchema generation
  src/OpenApi/src/OpenApiGenerator.cs
  src/OpenApi/src/OpenApiSchemaGenerator.cs
  src/OpenApi/src/SchemaGenerator.cs
  src/OpenApi/test/OpenApiGeneratorTests.cs
  src/OpenApi/test/OpenApiSchemaGeneratorTests.cs
Labels: area-web-frameworks

#41597 Handle unexpected errors
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs
Labels: area-runtime

#41615 Update downlevel SiteExtensions versions
  eng/Versions.props
Labels: area-infrastructure

#41599 Run tests on Windows again
  eng/helix/content/runtests.cmd
  eng/scripts/RunHelix.ps1
  src/ProjectTemplates/test/MvcTemplateTest.cs
Labels: area-infrastructure

#41616 Count forms with invalid content-disposition in FormFeature
  src/Http/Http/src/Features/FormFeature.cs
  src/Http/Http/test/Features/FormFeatureTests.cs
Labels: area-runtime

#41465 Don't allocate method name strings in protocol
  src/SignalR/SignalR.slnf
  src/SignalR/common/Protocols.Json/src/Protocol/JsonHubProtocol.cs
  src/SignalR/common/Protocols.MessagePack/src/Protocol/MessagePackHubProtocolWorker.cs
  src/SignalR/common/SignalR.Common/src/IInvocationBinder.cs
  src/SignalR/common/SignalR.Common/src/Microsoft.AspNetCore.SignalR.Common.csproj
  src/SignalR/common/SignalR.Common/src/PublicAPI/net462/PublicAPI.Shipped.txt
  src/SignalR/common/SignalR.Common/src/PublicAPI/net462/PublicAPI.Unshipped.txt
  src/SignalR/common/SignalR.Common/src/PublicAPI/net7.0/PublicAPI.Shipped.txt
  src/SignalR/common/SignalR.Common/src/PublicAPI/net7.0/PublicAPI.Unshipped.txt
  src/SignalR/common/SignalR.Common/src/PublicAPI/netstandard2.0/PublicAPI.Shipped.txt
  src/SignalR/common/SignalR.Common/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/Core/src/Internal/HubConnectionBinder.cs
  src/SignalR/server/Core/src/Internal/HubDispatcher.cs
  src/SignalR/server/Core/src/Internal/Utf8HashLookup.cs
Labels: area-signalr

#41533 Add CancellationToken overloads for reading multipart form sections
  src/Http/Http/src/Features/FormFeature.cs
  src/Http/WebUtilities/src/FormMultipartSection.cs
  src/Http/WebUtilities/src/MultipartSectionStreamExtensions.cs
  src/Http/WebUtilities/src/PublicAPI.Unshipped.txt
Labels: area-runtime, community-contribution

#41630 Quarantine GetWithRouteParameter_WriteMultiple_CancellationBefore_CallCanceled
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.IntegrationTests/Infrastructure/TaskExtensions.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.IntegrationTests/ServerStreamingTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.IntegrationTests/UnaryTests.cs
Labels: area-grpc

#41613 Merging internal commits for release/3.1
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  src/Http/Http/src/Features/FormFeature.cs
  src/Http/Http/test/Features/FormFeatureTests.cs
  src/Security/CookiePolicy/test/CookieChunkingTests.cs
  src/Shared/ChunkingCookieManager/ChunkingCookieManager.cs
Labels: area-infrastructure, tell-mode

#41648 Fix GetWithRouteParameter_WriteMultiple_CancellationBefore_CallCanceled
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.IntegrationTests/ServerStreamingTests.cs
Labels: area-grpc

#41669 Fix usage of 'navigator.userAgentData.platform'
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Platform/Mono/MonoDebugger.ts
Labels: area-blazor

#41325 Surrogate argument list in Minimal APIs
  src/Http/Http.Abstractions/src/AsParametersAttribute.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/src/Microsoft.AspNetCore.Http.Extensions.csproj
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/ParameterBindingMethodCacheTests.cs
  src/Http/Http.Extensions/test/PropertyAsParameterInfoTests.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/src/Microsoft.AspNetCore.Mvc.ApiExplorer.csproj
  src/Mvc/Mvc.ApiExplorer/test/DefaultApiDescriptionProviderTest.cs
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
  src/Mvc/Mvc.Core/src/FromServicesAttribute.cs
  src/Mvc/Mvc.Core/test/ApplicationModels/DefaultApplicationModelProviderTest.cs
  src/Mvc/Mvc.RazorPages/test/ApplicationModels/DefaultPageApplicationModelProviderTest.cs
  src/Mvc/Mvc.RazorPages/test/Infrastructure/PageBinderFactoryTest.cs
  src/Mvc/test/Mvc.FunctionalTests/RequestServicesTestBase.cs
  src/Mvc/test/Mvc.IntegrationTests/ServicesModelBinderIntegrationTest.cs
  src/Mvc/test/WebSites/BasicWebSite/Controllers/RequestScopedServiceController.cs
  src/OpenApi/src/Microsoft.AspNetCore.OpenApi.csproj
  src/OpenApi/src/OpenApiGenerator.cs
  src/OpenApi/test/OpenApiGeneratorTests.cs
  src/Shared/ParameterBindingMethodCache.cs
  src/Shared/PropertyAsParameterInfo.cs
Labels: area-web-frameworks

#41612 Merging internal commits for release/5.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  src/Components/test/E2ETest/package.json
  src/Components/test/E2ETest/xunit.runner.json
  src/Components/test/E2ETest/yarn.lock
  src/Http/Http/src/Features/FormFeature.cs
  src/Http/Http/test/Features/FormFeatureTests.cs
  src/ProjectTemplates/BlazorTemplates.Tests/package.json
  src/ProjectTemplates/BlazorTemplates.Tests/yarn.lock
  src/ProjectTemplates/test/package.json
  src/ProjectTemplates/test/yarn.lock
  src/Security/CookiePolicy/test/CookieChunkingTests.cs
  src/Shared/ChunkingCookieManager/ChunkingCookieManager.cs
  src/Shared/E2ETesting/E2ETesting.targets
  src/Shared/E2ETesting/selenium-config.json
Labels: area-infrastructure

#41563 HELIX failures investigations
  eng/tools/HelixTestRunner/ProcessUtil.cs
  eng/tools/HelixTestRunner/Program.cs
  eng/tools/HelixTestRunner/TestRunner.cs
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorServerTemplateTest.cs
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorTemplateTest.cs
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorWasmTemplateTest.cs
  src/ProjectTemplates/README.md
  src/ProjectTemplates/Shared/Project.cs
  src/ProjectTemplates/Shared/ProjectFactoryFixture.cs
  src/ProjectTemplates/Shared/TemplatePackageInstaller.cs
  src/ProjectTemplates/test/ArgConstants.cs
  src/ProjectTemplates/test/AssemblyInfo.AssemblyFixtures.cs
  src/ProjectTemplates/test/BaselineTest.cs
  src/ProjectTemplates/test/BlazorServerTemplateTest.cs
  src/ProjectTemplates/test/BlazorTemplateTest.cs
  src/ProjectTemplates/test/BlazorWasmTemplateTest.cs
  src/ProjectTemplates/test/EmptyWebTemplateTest.cs
  src/ProjectTemplates/test/GrpcTemplateTest.cs
  src/ProjectTemplates/test/IdentityUIPackageTest.cs
  src/ProjectTemplates/test/ItemTemplateTests/BlazorServerTests.cs
  src/ProjectTemplates/test/MvcTemplateTest.cs
  src/ProjectTemplates/test/ProjectTemplates.Tests.csproj
  src/ProjectTemplates/test/RazorClassLibraryTemplateTest.cs
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
  src/ProjectTemplates/test/SpaTemplatesTest.cs
  src/ProjectTemplates/test/WebApiTemplateTest.cs
  src/ProjectTemplates/test/WorkerTemplateTest.cs
Labels: area-mvc, * NO MERGE *

#41670 Using WriteJsonAsync<object?> operation for ProblemHttpResult
  src/Http/Http.Results/src/ProblemHttpResult.cs
  src/Http/Http.Results/test/ProblemResultTests.cs
Labels: area-runtime

#41650 Refactor DataProtection trimming
  src/DataProtection/Abstractions/src/DataProtectionCommonExtensions.cs
  src/DataProtection/Abstractions/src/IDataProtector.cs
  src/DataProtection/DataProtection/src/ActivatorExtensions.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/AuthenticatedEncryptorDescriptorDeserializer.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/CngCbcAuthenticatedEncryptorDescriptorDeserializer.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/CngGcmAuthenticatedEncryptorDescriptorDeserializer.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/IAuthenticatedEncryptorDescriptorDeserializer.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/ManagedAuthenticatedEncryptorDescriptorDeserializer.cs
  src/DataProtection/DataProtection/src/EphemeralDataProtectionProvider.cs
  src/DataProtection/DataProtection/src/IPersistedDataProtector.cs
  src/DataProtection/DataProtection/src/IRegistryPolicyResolver.cs
  src/DataProtection/DataProtection/src/Internal/IActivator.cs
  src/DataProtection/DataProtection/src/KeyManagement/DeferredKey.cs
  src/DataProtection/DataProtection/src/KeyManagement/IKeyManager.cs
  src/DataProtection/DataProtection/src/KeyManagement/Internal/ICacheableKeyRingProvider.cs
  src/DataProtection/DataProtection/src/KeyManagement/Internal/IInternalXmlKeyManager.cs
  src/DataProtection/DataProtection/src/KeyManagement/Internal/IKeyRingProvider.cs
  src/DataProtection/DataProtection/src/KeyManagement/KeyRingBasedDataProtector.cs
  src/DataProtection/DataProtection/src/KeyManagement/KeyRingProvider.cs
  src/DataProtection/DataProtection/src/KeyManagement/XmlKeyManager.cs
  src/DataProtection/DataProtection/src/RegistryPolicyResolver.cs
  src/DataProtection/DataProtection/src/SimpleActivator.cs
  src/DataProtection/DataProtection/src/TypeExtensions.cs
  src/DataProtection/DataProtection/src/TypeForwardingActivator.cs
  src/DataProtection/DataProtection/src/XmlEncryption/XmlEncryptionExtensions.cs
  src/DataProtection/DataProtection/test/RegistryPolicyResolverTests.cs
  src/DataProtection/Extensions/src/DataProtectionAdvancedExtensions.cs
  src/DataProtection/Extensions/src/ITimeLimitedDataProtector.cs
  src/DataProtection/Extensions/src/TimeLimitedDataProtector.cs
  src/DataProtection/shared/src/TrimmerWarning.cs
Labels: area-dataprotection

#41591 Merge HTTP/2 and HTTP/3 request cookies on Kestrel
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpRequestHeaders.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/perf/Microbenchmarks/Http2/Http2ConnectionBenchmarkBase.cs
  src/Servers/Kestrel/perf/Microbenchmarks/Http2/Http2ConnectionEmptyBenchmark.cs
  src/Servers/Kestrel/shared/KnownHeaders.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3ConnectionTests.cs
Labels: area-runtime

#41644 Avoid repeatedly encoding method name strings in protocol
  src/SignalR/server/Core/src/Internal/Utf8HashLookup.cs
Labels: area-signalr

#41688 Enable trimming on remaining middleware and security projects
  eng/TrimmableProjects.props
  src/Antiforgery/src/Microsoft.AspNetCore.Antiforgery.csproj
  src/Middleware/Session/src/Microsoft.AspNetCore.Session.csproj
  src/Security/Authentication/Certificate/src/Microsoft.AspNetCore.Authentication.Certificate.csproj
  src/Security/Authentication/Cookies/src/Microsoft.AspNetCore.Authentication.Cookies.csproj
  src/Security/Authentication/Core/src/AuthenticationBuilder.cs
  src/Security/Authentication/Core/src/Microsoft.AspNetCore.Authentication.csproj
  src/Security/Authentication/Facebook/src/Microsoft.AspNetCore.Authentication.Facebook.csproj
  src/Security/Authentication/Google/src/Microsoft.AspNetCore.Authentication.Google.csproj
  src/Security/Authentication/JwtBearer/src/Microsoft.AspNetCore.Authentication.JwtBearer.csproj
  src/Security/Authentication/MicrosoftAccount/src/Microsoft.AspNetCore.Authentication.MicrosoftAccount.csproj
  src/Security/Authentication/Negotiate/src/Internal/INegotiateStateFactory.cs
  src/Security/Authentication/Negotiate/src/Internal/ReflectedNegotiateState.cs
  src/Security/Authentication/Negotiate/src/Internal/ReflectedNegotiateStateFactory.cs
  src/Security/Authentication/Negotiate/src/Microsoft.AspNetCore.Authentication.Negotiate.csproj
  src/Security/Authentication/Negotiate/src/NegotiateExtensions.cs
  src/Security/Authentication/Negotiate/src/NegotiateHandler.cs
  src/Security/Authentication/OAuth/src/Microsoft.AspNetCore.Authentication.OAuth.csproj
  src/Security/Authentication/OpenIdConnect/src/Microsoft.AspNetCore.Authentication.OpenIdConnect.csproj
  src/Security/Authentication/Twitter/src/Microsoft.AspNetCore.Authentication.Twitter.csproj
  src/Security/Authentication/Twitter/src/TwitterHandler.cs
  src/Security/Authentication/WsFederation/src/Microsoft.AspNetCore.Authentication.WsFederation.csproj
  src/Security/Authorization/Policy/src/Microsoft.AspNetCore.Authorization.Policy.csproj
  src/Security/CookiePolicy/src/Microsoft.AspNetCore.CookiePolicy.csproj
  src/Tools/Tools.slnf
Labels: area-security, area-runtime

#41714 Update ApiExplorer area owners
  .github/CODEOWNERS
Labels: area-infrastructure

#41699 Handle multiple response annotations for the same status code in OpenApi
  src/OpenApi/src/OpenApiGenerator.cs
  src/OpenApi/test/OpenApiGeneratorTests.cs
Labels: area-web-frameworks

#41697 Update SDK
  global.json
  src/Grpc/Interop/test/testassets/InteropClient/InteropClient.csproj
  src/Grpc/Interop/test/testassets/InteropWebsite/InteropWebsite.csproj
  src/Grpc/JsonTranscoding/perf/Microsoft.AspNetCore.Grpc.Microbenchmarks/Microsoft.AspNetCore.Grpc.Microbenchmarks.csproj
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Microsoft.AspNetCore.Grpc.JsonTranscoding.csproj
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests.csproj
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/Microsoft.AspNetCore.Grpc.Swagger.Tests.csproj
  src/Grpc/JsonTranscoding/test/testassets/IntegrationTestsWebsite/IntegrationTestsWebsite.csproj
  src/Grpc/JsonTranscoding/test/testassets/Sandbox/Sandbox.csproj
  src/ProjectTemplates/test/GrpcTemplateTest.cs
  src/SignalR/samples/SocialWeather/SocialWeather.csproj
Labels: area-infrastructure

#41701 Favor parameter name in route pattern when available
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
  src/OpenApi/src/OpenApiGenerator.cs
  src/OpenApi/test/OpenApiGeneratorTests.cs
  src/Shared/PropertyAsParameterInfo.cs
Labels: area-web-frameworks

#41715 Add script to mirror one internal branch to another
  .azure/pipelines/azure-pipelines-mirror-within-azdo.yml
Labels: area-infrastructure

#41733 Add installer artifacts to source build intermediate
  eng/SourceBuild.props
Labels: area-infrastructure

#41735 Quarantine StreamPool_MultipleStreamsConcurrent_StreamsReturnedToPool
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-runtime

#41740 Use Array.Empty for parameterless filters
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
Labels: area-runtime

#41720 Update Trimming.md
  docs/Trimming.md
Labels: area-infrastructure

#41370 Update duende versions to 6.0.4
  eng/Versions.props
  src/Identity/ApiAuthorization.IdentityServer/src/Authentication/IdentityServerJwtBearerOptionsConfiguration.cs
  src/Identity/ApiAuthorization.IdentityServer/src/Extensions/DefaultClientRequestParametersProvider.cs
  src/Identity/ApiAuthorization.IdentityServer/test/Authentication/IdentityServerJwtBearerConfigurationTest.cs
  src/Identity/ApiAuthorization.IdentityServer/test/Extensions/DefaultClientRequestParametersProviderTests.cs
Labels: area-infrastructure

#41736 Allow explicit manual runs of mirror pipeline
  .azure/pipelines/azure-pipelines-mirror-within-azdo.yml
Labels: area-infrastructure

#41745 Make RedirectRule honor specified scheme
  src/Middleware/Rewrite/src/RedirectRule.cs
  src/Middleware/Rewrite/test/MiddlewareTests.cs
Labels: area-runtime

#41747 Remove unused code from ANCM setup and enable more MSVC warnings for SDL
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Include/acache.h
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Include/base64.hxx
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Include/datetime.h
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Include/debugutil.h
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Include/hashfn.h
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Include/hashtable.h
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Include/http_xp.h
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Include/httpserv_xp.h
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Include/hybrid_array.h
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Include/listentry.h
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Include/macros.h
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Include/multisz.hxx
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Include/multisza.hxx
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Include/normalize.h
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Include/percpu.h
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Include/prime.h
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Include/reftrace.h
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Include/rwlock.h
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Include/statichash.h
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Include/stdtypes.h
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Include/stringa.h
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Include/sttimer.h
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Include/tracelog.h
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Include/treehash.h
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/lib/IISSetup.CommonLib.vcxproj
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/lib/acache.cxx
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/lib/ahutil.cpp
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/lib/base64.cxx
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/lib/datetime.cxx
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/lib/multisz.cxx
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/lib/multisza.cxx
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/lib/normalize.cxx
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/lib/precomp.h
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/lib/stringa.cpp
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/lib/stringu.cpp
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/lib/ulparse.cxx
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/lib/util.cxx
  src/Installers/Windows/AspNetCoreModule-Setup/build/settings/common.props
  src/Servers/IIS/build/Build.Common.Settings
Labels: area-infrastructure, area-runtime

#41649 Fall back to using old command when GetServer isn't supported
  src/Caching/StackExchangeRedis/src/RedisCache.cs
Labels: area-runtime

#41568 Initialize Activity with parent ID
  src/Hosting/Hosting/src/Internal/HostingApplicationDiagnostics.cs
  src/Hosting/Hosting/test/HostingApplicationDiagnosticsTests.cs
Labels: area-runtime

#41108 fix allocation issue caused by ordering of MVC result executors for Task results
  src/Mvc/Mvc.Core/src/Infrastructure/ActionMethodExecutor.cs
  src/Mvc/Mvc.Core/test/Infrastructure/ActionMethodExecutorTest.cs
Labels: area-mvc

#41763 Fix client results with Hub<T> IHubContext
  src/SignalR/server/Core/src/Internal/HubClients`T.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTestUtils/Hubs.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.ClientResult.cs
Labels: area-signalr

#41757 Fix Integer Overflow in Header Processing
  src/Servers/Kestrel/Core/src/Internal/Http/Http1Connection.cs
  src/Servers/Kestrel/Core/test/Http1/Http1ConnectionTests.cs
Labels: area-runtime, community-contribution

#41564 Make SignalR Redis test thread-safe
  src/SignalR/server/StackExchangeRedis/test/TestConnectionMultiplexer.cs
Labels: area-signalr

#41778 Remove outdated comments HostingApplicationDiagnostics
  src/Hosting/Hosting/src/Internal/HostingApplicationDiagnostics.cs
Labels: area-runtime

#41523 Improve gRPC JSON transcoding request binding and support HttpBody
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/CallHandlers/UnaryServerCallHandler.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/HttpContextStreamWriter.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/MessageConverter.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/JsonRequestHelpers.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/JsonTranscodingServerCallContext.cs
  src/Grpc/JsonTranscoding/src/Shared/ServiceDescriptorHelpers.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests.csproj
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/Proto/httpbody.proto
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/ServerStreamingServerCallHandlerTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/TestObjects/Services/HttpBodyService.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/UnaryServerCallHandlerTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/google/api/httpbody.proto
Labels: area-grpc

#41787 Mark `OpenApi` PRs with `area-web-frameworks`
  .github/fabricbot.json
Labels: area-infrastructure

#41779 Support multiple calls to WithTags in WithOpenApi
  src/OpenApi/src/OpenApiGenerator.cs
  src/OpenApi/test/OpenApiGeneratorTests.cs
Labels: area-web-frameworks

#41817 Fix line endings for SPA proxy script on MacOS
  src/Middleware/Spa/SpaProxy/src/SpaProxyLaunchManager.cs
Labels: area-runtime

#41816 Cache Array.Empty<object>() in RequestDelegateFactory
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
Labels: area-runtime

#41805 Update branding to 7.0.0-preview6
  .github/fabricbot.json
  eng/Versions.props
Labels: area-infrastructure

#41822 Rename GroupRouteBuilder to RouteGroupBuilder
  src/Http/Routing/src/Builder/EndpointRouteBuilderExtensions.cs
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/src/RouteGroupBuilder.cs
Labels: area-runtime

#41783 Refactor "Routing/Builder" methods pre conditions
  src/Http/Routing/src/Builder/EndpointRouteBuilderExtensions.cs
  src/Http/Routing/src/Builder/EndpointRoutingApplicationBuilderExtensions.cs
  src/Http/Routing/src/Builder/FallbackEndpointRouteBuilderExtensions.cs
  src/Http/Routing/src/Builder/RoutingBuilderExtensions.cs
  src/Http/Routing/src/Builder/RoutingEndpointConventionBuilderExtensions.cs
Labels: area-runtime, community-contribution

#41635 Adding API convention to contribute to Endpoint Metadata
  src/Mvc/Mvc.ApiExplorer/src/ApiResponseTypeProvider.cs
  src/Mvc/Mvc.ApiExplorer/src/DefaultApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/test/DefaultApiDescriptionProviderTest.cs
  src/Mvc/Mvc.Core/src/ApplicationModels/ApiBehaviorApplicationModelProvider.cs
  src/Mvc/Mvc.Core/src/ApplicationModels/EndpointMetadataConvention.cs
  src/Mvc/Mvc.Core/test/ApplicationModels/ApiBehaviorApplicationModelProviderTest.cs
  src/Mvc/Mvc.Core/test/ApplicationModels/ControllerActionDescriptorProviderTests.cs
  src/Mvc/Mvc.Core/test/ApplicationModels/EndpointMetadataConventionTest.cs
Labels: area-web-frameworks

#41769 Add logging to M.E.Caching.StackExchangeRedis
  src/Caching/StackExchangeRedis/src/Microsoft.Extensions.Caching.StackExchangeRedis.csproj
  src/Caching/StackExchangeRedis/src/RedisCache.Log.cs
  src/Caching/StackExchangeRedis/src/RedisCache.cs
  src/Caching/StackExchangeRedis/src/RedisCacheImpl.cs
  src/Caching/StackExchangeRedis/src/StackExchangeRedisCacheServiceCollectionExtensions.cs
  src/Caching/StackExchangeRedis/test/CacheServiceExtensionsTests.cs
Labels: area-runtime, community-contribution

#41844 Quarantine ServerReset_AfterEndStream_NoError
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
Labels: area-runtime

#41838 Blazor router handle base URLs without trailing slash plus query/hash
  src/Components/Components/src/NavigationManager.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Services/NavigationManager.ts
  src/Components/test/E2ETest/Tests/RoutingTest.cs
  src/Components/test/testassets/BasicTestApp/NavigateOnSubmit.razor
  src/Components/test/testassets/BasicTestApp/RouterTest/Links.razor
Labels: area-blazor

#41857 Quarantine InvalidProcessPath_ExpectServerError
  src/Servers/IIS/IIS/test/Common.LongTests/StartupTests.cs
Labels: area-runtime

#41868 Fix time/datetime-local binding with seconds when there's no step attribute
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Rendering/BrowserRenderer.ts
  src/Components/test/E2ETest/Tests/BindTest.cs
  src/Components/test/testassets/BasicTestApp/BindCasesComponent.razor
Labels: area-blazor, Status:InProgress

#41851 Quarantine ClientAbortingConnectionImmediatelyIsNotLoggedHigherThanDebug
  src/Servers/Kestrel/test/FunctionalTests/ResponseTests.cs
Labels: area-runtime

#41742 Fix the RedirectHandler (in Mvc.Testing) for relative URIs
  src/Mvc/Mvc.Testing/src/Handlers/RedirectHandler.cs
  src/Mvc/test/Mvc.FunctionalTests/TestingInfrastructureTests.cs
  src/Mvc/test/WebSites/BasicWebSite/Controllers/TestingController.cs
  src/Mvc/test/WebSites/GenericHostWebSite/Controllers/TestingController.cs
Labels: area-mvc, community-contribution

#41876 Windows.11.Amd64.ClientPre.Open is leaving in June, switch to non-preview
  eng/scripts/RunHelix.ps1
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#41901 Add a new route to sample app that display OS and .NET versions
  src/Http/samples/MinimalSample/Program.cs
Labels: area-runtime

#41940 Add a rule to mention the `aspnet-build` team on infrastructure issues
  .github/fabricbot.json
Labels: area-infrastructure

#41573 Convert all possible `DllImport`s to `LibraryImport` for .NET 7+
  .editorconfig
  eng/tools/HelixTestRunner/HelixTestRunner.csproj
  eng/tools/HelixTestRunner/ProcessUtil.cs
  src/DataProtection/Cryptography.Internal/src/SafeHandles/SafeLibraryHandle.cs
  src/DataProtection/Cryptography.Internal/src/UnsafeNativeMethods.cs
  src/DataProtection/DataProtection/src/Cng/DpapiSecretSerializerHelper.cs
  src/Servers/HttpSys/src/NativeInterop/HttpApi.cs
  src/Servers/HttpSys/src/NativeInterop/RequestQueue.cs
  src/Servers/HttpSys/src/NativeInterop/SafeLibraryHandle.cs
  src/Servers/HttpSys/test/FunctionalTests/Listener/ServerOnExistingQueueTests.cs
  src/Servers/HttpSys/test/FunctionalTests/ServerTests.cs
  src/Servers/IIS/IIS/src/Core/IISConfigurationData.cs
  src/Servers/IIS/IIS/src/NativeMethods.cs
  src/Servers/IIS/IIS/test/IIS.Tests/IIS.Tests.csproj
  src/Servers/IIS/IIS/test/IIS.Tests/Utilities/TestServer.cs
  src/Servers/IIS/IIS/test/testassets/InProcessNewShimWebSite/InProcessNewShimWebSite.csproj
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/InProcessWebSite.csproj
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
  src/Servers/IIS/IISIntegration/src/NativeMethods.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISExpressDeployer.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/Microsoft.AspNetCore.Server.IntegrationTesting.IIS.csproj
  src/Servers/IIS/IntegrationTesting.IIS/src/ProcessTracker.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/H2SpecCommands.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Interop.FunctionalTests.csproj
  src/Shared/HttpSys/NativeInterop/UnsafeNativeMethods.cs
  src/Testing/src/DumpCollector/DumpCollector.Windows.cs
Labels: area-runtime

#41520 Add dotnet user-jwts tool and runtime support
  AspNetCore.sln
  eng/Signing.props
  src/Azure/AzureAD/Authentication.AzureAD.UI/test/AzureADAuthenticationBuilderExtensionsTests.cs
  src/Azure/AzureAD/Authentication.AzureADB2C.UI/test/AzureAdB2CAuthenticationBuilderExtensionsTests.cs
  src/DefaultBuilder/src/Microsoft.AspNetCore.csproj
  src/DefaultBuilder/src/PublicAPI.Unshipped.txt
  src/DefaultBuilder/src/WebApplicationAuthenticationBuilder.cs
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/Http/Authentication.Abstractions/src/IAuthenticationConfigurationProvider.cs
  src/Http/Authentication.Abstractions/src/PublicAPI.Unshipped.txt
  src/Middleware/HttpOverrides/test/CertificateForwardingTest.cs
  src/Security/Authentication/Core/src/AuthAppBuilderExtensions.cs
  src/Security/Authentication/Core/src/AuthenticationServiceCollectionExtensions.cs
  src/Security/Authentication/Core/src/DefaultAuthenticationConfigurationProvider.cs
  src/Security/Authentication/JwtBearer/samples/MinimalJwtBearerSample/MinimalJwtBearerSample.csproj
  src/Security/Authentication/JwtBearer/samples/MinimalJwtBearerSample/Program.cs
  src/Security/Authentication/JwtBearer/samples/MinimalJwtBearerSample/Properties/launchSettings.json
  src/Security/Authentication/JwtBearer/samples/MinimalJwtBearerSample/appsettings.Development.json
  src/Security/Authentication/JwtBearer/samples/MinimalJwtBearerSample/appsettings.json
  src/Security/Authentication/JwtBearer/src/JwtBearerConfigureOptions.cs
  src/Security/Authentication/JwtBearer/src/JwtBearerExtensions.cs
  src/Security/Authentication/JwtBearer/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/test/AuthenticationMiddlewareTests.cs
  src/Security/Authentication/test/CertificateTests.cs
  src/Security/Authentication/test/Microsoft.AspNetCore.Authentication.Test.csproj
  src/Security/Authentication/test/SharedAuthenticationTests.cs
  src/Security/Security.slnf
  src/Shared/test/Certificates/Certificates.cs
  src/Tools/Tools.slnf
  src/Tools/dotnet-user-jwts/src/Commands/ClearCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/CreateCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/DeleteCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/KeyCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/ListCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/PrintCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/ProjectCommandLineApplication.cs
  src/Tools/dotnet-user-jwts/src/Helpers/ConsoleTable.cs
  src/Tools/dotnet-user-jwts/src/Helpers/DevJwtCliHelpers.cs
  src/Tools/dotnet-user-jwts/src/Helpers/DevJwtDefaults.cs
  src/Tools/dotnet-user-jwts/src/Helpers/Jwt.cs
  src/Tools/dotnet-user-jwts/src/Helpers/JwtAuthenticationSchemeSettings.cs
  src/Tools/dotnet-user-jwts/src/Helpers/JwtCreatorOptions.cs
  src/Tools/dotnet-user-jwts/src/Helpers/JwtIssuer.cs
  src/Tools/dotnet-user-jwts/src/Helpers/JwtStore.cs
  src/Tools/dotnet-user-jwts/src/Program.cs
  src/Tools/dotnet-user-jwts/src/dotnet-user-jwts.csproj
  src/Tools/dotnet-user-jwts/test/UserJwtsTestFixture.cs
  src/Tools/dotnet-user-jwts/test/UserJwtsTests.cs
  src/Tools/dotnet-user-jwts/test/dotnet-user-jwts.Tests.csproj
Labels: area-commandlinetools

#41943 Modify /problem with switch statements.
  src/Http/samples/MinimalSample/Program.cs
Labels: area-runtime
