Repository dotnet/aspnetcore, pull requests merged in 2022-06, with the labels that each got.

#41957 Remove unused and incorrect P/Invoke
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
Labels: area-runtime

#41979 Fix dependabot.yml formatting
  .github/dependabot.yml
Labels: area-infrastructure

#41846 Quarantines SetIISLimitMaxRequestBodySizeE2EWorksWithIntMaxValue
  src/Servers/IIS/IIS/test/Common.FunctionalTests/MaxRequestBodySizeTests.cs
Labels: area-runtime

#41956 Add dotnet user-jwts tool and runtime support (#41520)
  AspNetCore.sln
  eng/Signing.props
  src/Azure/AzureAD/Authentication.AzureAD.UI/test/AzureADAuthenticationBuilderExtensionsTests.cs
  src/Azure/AzureAD/Authentication.AzureADB2C.UI/test/AzureAdB2CAuthenticationBuilderExtensionsTests.cs
  src/DefaultBuilder/src/Microsoft.AspNetCore.csproj
  src/DefaultBuilder/src/PublicAPI.Unshipped.txt
  src/DefaultBuilder/src/WebApplicationAuthenticationBuilder.cs
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/Http/Authentication.Abstractions/src/IAuthenticationConfigurationProvider.cs
  src/Http/Authentication.Abstractions/src/PublicAPI.Unshipped.txt
  src/Middleware/HttpOverrides/test/CertificateForwardingTest.cs
  src/Security/Authentication/Core/src/AuthAppBuilderExtensions.cs
  src/Security/Authentication/Core/src/AuthenticationServiceCollectionExtensions.cs
  src/Security/Authentication/Core/src/DefaultAuthenticationConfigurationProvider.cs
  src/Security/Authentication/JwtBearer/samples/MinimalJwtBearerSample/MinimalJwtBearerSample.csproj
  src/Security/Authentication/JwtBearer/samples/MinimalJwtBearerSample/Program.cs
  src/Security/Authentication/JwtBearer/samples/MinimalJwtBearerSample/Properties/launchSettings.json
  src/Security/Authentication/JwtBearer/samples/MinimalJwtBearerSample/appsettings.Development.json
  src/Security/Authentication/JwtBearer/samples/MinimalJwtBearerSample/appsettings.json
  src/Security/Authentication/JwtBearer/src/JwtBearerConfigureOptions.cs
  src/Security/Authentication/JwtBearer/src/JwtBearerExtensions.cs
  src/Security/Authentication/JwtBearer/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/test/AuthenticationMiddlewareTests.cs
  src/Security/Authentication/test/CertificateTests.cs
  src/Security/Authentication/test/Microsoft.AspNetCore.Authentication.Test.csproj
  src/Security/Authentication/test/SharedAuthenticationTests.cs
  src/Security/Security.slnf
  src/Shared/test/Certificates/Certificates.cs
  src/Tools/Tools.slnf
  src/Tools/dotnet-user-jwts/src/Commands/ClearCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/CreateCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/DeleteCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/KeyCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/ListCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/PrintCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/ProjectCommandLineApplication.cs
  src/Tools/dotnet-user-jwts/src/Helpers/ConsoleTable.cs
  src/Tools/dotnet-user-jwts/src/Helpers/DevJwtCliHelpers.cs
  src/Tools/dotnet-user-jwts/src/Helpers/DevJwtDefaults.cs
  src/Tools/dotnet-user-jwts/src/Helpers/Jwt.cs
  src/Tools/dotnet-user-jwts/src/Helpers/JwtAuthenticationSchemeSettings.cs
  src/Tools/dotnet-user-jwts/src/Helpers/JwtCreatorOptions.cs
  src/Tools/dotnet-user-jwts/src/Helpers/JwtIssuer.cs
  src/Tools/dotnet-user-jwts/src/Helpers/JwtStore.cs
  src/Tools/dotnet-user-jwts/src/Program.cs
  src/Tools/dotnet-user-jwts/src/dotnet-user-jwts.csproj
  src/Tools/dotnet-user-jwts/test/UserJwtsTestFixture.cs
  src/Tools/dotnet-user-jwts/test/UserJwtsTests.cs
  src/Tools/dotnet-user-jwts/test/dotnet-user-jwts.Tests.csproj
Labels: Servicing-approved, area-web-frameworks

#41141 Add redis startup error handling
  src/SignalR/server/StackExchangeRedis/src/Internal/RedisLog.cs
  src/SignalR/server/StackExchangeRedis/src/RedisHubLifetimeManager.cs
  src/SignalR/server/StackExchangeRedis/test/RedisHubLifetimeManagerTests.cs
Labels: area-signalr

#41981 Mark changes in `.github` folder with `area-infrastructure` label
  .github/fabricbot.json
Labels: area-infrastructure

#41270 [SignalR] Update some npm deps
  src/Components/Web.JS/package.json
  src/Components/Web.JS/yarn.lock
  src/SignalR/clients/ts/FunctionalTests/package.json
  src/SignalR/clients/ts/FunctionalTests/ts/ConnectionTests.ts
  src/SignalR/clients/ts/FunctionalTests/yarn.lock
  src/SignalR/clients/ts/signalr/package.json
  src/SignalR/clients/ts/signalr/yarn.lock
Labels: area-signalr

#41683 Enable trim analyzer
  eng/Workarounds.props
  src/Components/Components/src/BindConverter.cs
  src/Components/Components/src/CascadingParameterState.cs
  src/Components/Components/src/DynamicComponent.cs
  src/Components/Components/src/LayoutAttribute.cs
  src/Components/Components/src/LayoutView.cs
  src/Components/Components/src/RouteView.cs
  src/Components/Components/src/Routing/RouteTableFactory.cs
  src/Components/Forms/src/EditContextDataAnnotationsExtensions.cs
  src/Components/Shared/src/ComponentParametersTypeCache.cs
  src/Components/Shared/src/RootComponentTypeCache.cs
  src/Components/Web/src/JSComponents/JSComponentInterop.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/HotReloadAgent.cs
  src/Components/WebAssembly/WebAssembly/src/Prerendering/ClientComponentParameterDeserializer.cs
  src/Hosting/Hosting/src/WebHostBuilder.cs
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/DotNetDispatcher.cs
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/DotNetObjectReferenceJsonConverterFactory.cs
  src/JSInterop/Microsoft.JSInterop/src/JSRuntime.cs
  src/Middleware/Spa/SpaProxy/src/SpaHostingStartup.cs
  src/Shared/ParameterBindingMethodCache.cs
  src/Shared/runtime/NetEventSource.Common.cs
Labels: area-infrastructure

#41991 Blazor Make Default Template Favicon Blazor Logo
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Pages/_Host.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/wwwroot/favicon.ico
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/wwwroot/favicon.png
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/favicon.ico
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/favicon.png
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/index.html
  src/ProjectTemplates/test/template-baselines.json
Labels: area-mvc

#41877 Adding WebTransport Handshake to Kestrel
  src/Http/Headers/src/HeaderNames.cs
  src/Http/Headers/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3ControlStream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3PeerSettings.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3SettingType.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Servers/Kestrel/samples/Http3SampleApp/Http3SampleApp.csproj
  src/Servers/Kestrel/samples/Http3SampleApp/Program.cs
  src/Servers/Kestrel/shared/KnownHeaders.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/WebTransportTests.cs
  src/Shared/runtime/Http3/Http3SettingType.cs
Labels: area-runtime

#40279 Add Request Decompression middleware
  AspNetCore.sln
  eng/ProjectReferences.props
  eng/SharedFramework.Local.props
  src/Framework/test/TestData.cs
  src/Http/Http.Abstractions/src/Metadata/IRequestSizeLimitMetadata.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Middleware/Middleware.slnf
  src/Middleware/RequestDecompression/perf/Microbenchmarks/AssemblyInfo.cs
  src/Middleware/RequestDecompression/perf/Microbenchmarks/Microsoft.AspNetCore.RequestDecompression.Microbenchmarks.csproj
  src/Middleware/RequestDecompression/perf/Microbenchmarks/RequestDecompressionMiddlewareBenchmark.cs
  src/Middleware/RequestDecompression/sample/CustomDecompressionProvider.cs
  src/Middleware/RequestDecompression/sample/Properties/launchsettings.json
  src/Middleware/RequestDecompression/sample/RequestDecompressionSample.csproj
  src/Middleware/RequestDecompression/sample/Startup.cs
  src/Middleware/RequestDecompression/src/BrotliDecompressionProvider.cs
  src/Middleware/RequestDecompression/src/DefaultRequestDecompressionProvider.cs
  src/Middleware/RequestDecompression/src/DeflateDecompressionProvider.cs
  src/Middleware/RequestDecompression/src/GZipDecompressionProvider.cs
  src/Middleware/RequestDecompression/src/IDecompressionProvider.cs
  src/Middleware/RequestDecompression/src/IRequestDecompressionProvider.cs
  src/Middleware/RequestDecompression/src/Microsoft.AspNetCore.RequestDecompression.csproj
  src/Middleware/RequestDecompression/src/PublicAPI.Shipped.txt
  src/Middleware/RequestDecompression/src/PublicAPI.Unshipped.txt
  src/Middleware/RequestDecompression/src/RequestDecompressionBuilderExtensions.cs
  src/Middleware/RequestDecompression/src/RequestDecompressionMiddleware.cs
  src/Middleware/RequestDecompression/src/RequestDecompressionOptions.cs
  src/Middleware/RequestDecompression/src/RequestDecompressionServiceExtensions.cs
  src/Middleware/RequestDecompression/src/SizeLimitedStream.cs
  src/Middleware/RequestDecompression/test/DefaultRequestDecompressionProviderTests.cs
  src/Middleware/RequestDecompression/test/Microsoft.AspNetCore.RequestDecompression.Tests.csproj
  src/Middleware/RequestDecompression/test/RequestDecompressionBuilderExtensionsTests.cs
  src/Middleware/RequestDecompression/test/RequestDecompressionMiddlewareTests.cs
  src/Middleware/RequestDecompression/test/RequestDecompressionOptionsTests.cs
  src/Middleware/RequestDecompression/test/RequestDecompressionServiceExtensionsTests.cs
  src/Middleware/RequestDecompression/test/SizeLimitedStreamTests.cs
  src/Mvc/Mvc.Core/src/DisableRequestSizeLimitAttribute.cs
  src/Mvc/Mvc.Core/src/RequestSizeLimitAttribute.cs
Labels: area-runtime, community-contribution

#41849 DataProtection use 6.0 app discriminator trailing slash format
  src/DataProtection/DataProtection/src/Internal/HostingApplicationDiscriminator.cs
  src/DataProtection/DataProtection/test/DataProtectionUtilityExtensionsTests.cs
  src/DataProtection/DataProtection/test/HostingTests.cs
Labels: area-dataprotection

#42029 Define `$(HelixTestConfigurationFilePath)`
  eng/helix/helix.proj
Labels: area-infrastructure

#42023 Update TFM for reference assemblies in analyzer tests
  docs/UpdatingMajorVersionAndTFM.md
  eng/Versions.props
  src/Framework/AspNetCoreAnalyzers/test/Verifiers/CSharpRouteHandlerCodeFixVerifier.cs
Labels: area-infrastructure, analyzer, area-web-frameworks

#41753 Add support for logging additional request headers
  src/Middleware/HttpLogging/samples/Logging.W3C.Sample/Startup.cs
  src/Middleware/HttpLogging/src/FileLoggerProcessor.cs
  src/Middleware/HttpLogging/src/HttpLoggingOptions.cs
  src/Middleware/HttpLogging/src/PublicAPI.Unshipped.txt
  src/Middleware/HttpLogging/src/W3CLogger.cs
  src/Middleware/HttpLogging/src/W3CLoggerOptions.cs
  src/Middleware/HttpLogging/src/W3CLoggerProcessor.cs
  src/Middleware/HttpLogging/src/W3CLoggingMiddleware.cs
  src/Middleware/HttpLogging/test/FileLoggerProcessorTests.cs
  src/Middleware/HttpLogging/test/W3CLoggerTests.cs
  src/Middleware/HttpLogging/test/W3CLoggingMiddlewareTests.cs
Labels: area-runtime, community-contribution

#41830 Add TBuilder overloads to WithTags and others
  src/Http/Routing/src/Builder/OpenApiRouteHandlerBuilderExtensions.cs
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/test/UnitTests/Builder/OpenApiRouteHandlerBuilderExtensionsTest.cs
  src/Http/samples/MinimalSample/Program.cs
Labels: area-runtime

#42039 Update the cookies authentication handler to always honor AuthenticationProperties.RedirectUri
  src/Security/Authentication/Cookies/src/CookieAuthenticationHandler.cs
  src/Security/Authentication/test/CookieTests.cs
Labels: area-security, community-contribution

#42056 Identity UI: Tweak styles for floating identity forms
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/ForgotPassword.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/Login.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/Register.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/ResendEmailConfirmation.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/ResetPassword.cshtml
Labels: area-identity

#42063 Add HttpContext to ITicketStore (#41908)
  src/Security/Authentication/Cookies/src/CookieAuthenticationHandler.cs
  src/Security/Authentication/Cookies/src/ITicketStore.cs
  src/Security/Authentication/Cookies/src/PublicAPI.Unshipped.txt
Labels: area-security, community-contribution

#42062 Retry on IIS startup failures
  eng/test-configuration.json
Labels: area-infrastructure

#42077 Update branding to 3.1.27
  eng/Versions.props
Labels: area-infrastructure

#42061 Localize strings in user-jwts tool
  src/Tools/dotnet-user-jwts/src/Commands/ClearCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/CreateCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/KeyCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/ListCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/PrintCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/ProjectCommandLineApplication.cs
  src/Tools/dotnet-user-jwts/src/Commands/RemoveCommand.cs
  src/Tools/dotnet-user-jwts/src/Helpers/DevJwtCliHelpers.cs
  src/Tools/dotnet-user-jwts/src/Program.cs
  src/Tools/dotnet-user-jwts/src/Resources.resx
  src/Tools/dotnet-user-jwts/test/UserJwtsTests.cs
Labels: area-commandlinetools, area-web-frameworks, feature-userjwts

#42033 Fix IRequestCookieCollection.TryGetValue() possible null reference
  src/Http/Http.Features/src/IRequestCookieCollection.cs
  src/Http/Http/src/Internal/RequestCookieCollection.cs
Labels: area-security, community-contribution

#42021 Did the first task of issue #42016: removing the default address (https://localhost:5001) for https
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Internal/AddressBinder.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/Constants.cs
  src/Servers/Kestrel/Core/test/AddressBinderTests.cs
  src/Servers/Kestrel/test/BindTests/AddressRegistrationTests.cs
Labels: area-runtime

#42078 Update branding to 6.0.7
  eng/Versions.props
  eng/scripts/RunHelix.ps1
  eng/targets/Helix.Common.props
  src/Mvc/test/Mvc.FunctionalTests/SimpleWithWebApplicationBuilderTests.cs
  src/ProjectTemplates/test/IdentityUIPackageTest.cs
  src/ProjectTemplates/test/MvcTemplateTest.cs
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
  src/ProjectTemplates/test/WebApiTemplateTest.cs
Labels: area-infrastructure

#41760 [release/6.0] Backport branch mirror pipeline
  .azure/pipelines/azure-pipelines-mirror-within-azdo.yml
Labels: area-infrastructure, tell-mode

#41823 Handle spaces after request line
  src/Servers/Kestrel/Core/src/Internal/Http/HttpParser.cs
  src/Servers/Kestrel/Core/test/HttpParserTests.cs
Labels: Servicing-approved, area-runtime

#41870 Backport 41868 to release/6.0
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Rendering/BrowserRenderer.ts
  src/Components/test/E2ETest/Tests/BindTest.cs
  src/Components/test/testassets/BasicTestApp/BindCasesComponent.razor
Labels: Servicing-approved, area-blazor

#41738 release/6.0 Quarantine all but pri 0 shadow copy test
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/ShadowCopyTests.cs
Labels: area-runtime, tell-mode

#41558 Implement Http/2 WebSockets
  src/Hosting/TestHost/src/RequestFeature.cs
  src/Http/Http.Features/src/IHttpExtendedConnectFeature.cs
  src/Http/Http.Features/src/PublicAPI.Unshipped.txt
  src/Middleware/WebSockets/samples/EchoApp/Properties/launchSettings.json
  src/Middleware/WebSockets/samples/EchoApp/Startup.cs
  src/Middleware/WebSockets/src/HandshakeHelpers.cs
  src/Middleware/WebSockets/src/WebSocketMiddleware.cs
  src/Middleware/WebSockets/test/UnitTests/Http2WebSocketTests.cs
  src/Middleware/WebSockets/test/UnitTests/Microsoft.AspNetCore.WebSockets.Tests.csproj
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.FeatureCollection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Servers/Kestrel/Core/test/Http1/Http1HttpProtocolFeatureCollectionTests.cs
  src/Servers/Kestrel/Kestrel/test/GeneratedCodeTests.cs
  src/Servers/Kestrel/Kestrel/test/Microsoft.AspNetCore.Server.Kestrel.Tests.csproj
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2WebSocketTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpProtocolSelectionTests.cs
  src/Servers/Kestrel/tools/CodeGenerator/CodeGenerator.csproj
  src/Servers/Kestrel/tools/CodeGenerator/Http2Connection.cs
  src/Servers/Kestrel/tools/CodeGenerator/HttpProtocolFeatureCollection.cs
  src/Servers/Kestrel/tools/CodeGenerator/Program.cs
  src/Servers/Kestrel/tools/CodeGenerator/ReadOnlySpanStaticDataGenerator.cs
  src/Shared/ServerInfrastructure/Http2/Http2PeerSettings.cs
  src/Shared/ServerInfrastructure/Http2/Http2SettingsParameter.cs
  src/SignalR/clients/ts/FunctionalTests/Startup.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
Labels: area-runtime

#41993 Backport 39275 to release/6.0
  src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonInputFormatter.cs
  src/Mvc/Mvc.NewtonsoftJson/test/NewtonsoftJsonInputFormatterTest.cs
Labels: Servicing-approved, area-web-frameworks

#42098 Reset Upgraded state for re-used streams
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2WebSocketTests.cs
Labels: area-runtime

#41949 Added a new doc for adding projects to the repo
  docs/AddingNewProjects.md
  docs/README.md
Labels: area-infrastructure

#42006 [user-jwts] Read and generate secrets ID with SecretsManager
  src/Tools/Shared/SecretsHelpers/MsBuildProjectFinder.cs
  src/Tools/Shared/SecretsHelpers/ProjectIdResolver.cs
  src/Tools/Shared/SecretsHelpers/SecretsHelpersResources.resx
  src/Tools/Shared/SecretsHelpers/UserSecretsCreator.cs
  src/Tools/Shared/SecretsHelpers/assets/SecretManager.targets
  src/Tools/dotnet-user-jwts/src/Helpers/DevJwtCliHelpers.cs
  src/Tools/dotnet-user-jwts/src/Program.cs
  src/Tools/dotnet-user-jwts/src/dotnet-user-jwts.csproj
  src/Tools/dotnet-user-jwts/test/UserJwtsTests.cs
  src/Tools/dotnet-user-jwts/test/dotnet-user-jwts.Tests.csproj
  src/Tools/dotnet-user-secrets/src/Internal/InitCommand.cs
  src/Tools/dotnet-user-secrets/src/Program.cs
  src/Tools/dotnet-user-secrets/src/dotnet-user-secrets.csproj
  src/Tools/dotnet-user-secrets/test/dotnet-user-secrets.Tests.csproj
Labels: area-commandlinetools, area-web-frameworks, feature-userjwts

#42099 modify the route to display username and date
  src/Http/samples/MinimalSample/Program.cs
Labels: area-runtime

#42074 Clean up test retry list
  eng/test-configuration.json
  src/Testing/test/QuarantinedTestAttributeTest.cs
Labels: area-infrastructure

#42115 [release/6.0] Make tests for FileLoggerProcessor system time independent
  src/Middleware/HttpLogging/src/FileLoggerProcessor.cs
  src/Middleware/HttpLogging/src/ISystemDateTime.cs
  src/Middleware/HttpLogging/src/SystemDateTime.cs
  src/Middleware/HttpLogging/test/FileLoggerProcessorTests.cs
  src/Middleware/HttpLogging/test/MockSystemDateTime.cs
Labels: area-runtime

#41992 [release/6.0] Backport Blazor boot config fix
  src/Components/Web.JS/src/Platform/BootConfig.ts
Labels: Servicing-approved, area-blazor

#41821 [release/6.0] Fix line endings for SPA proxy script on MacOS
  src/Middleware/Spa/SpaProxy/src/SpaProxyLaunchManager.cs
Labels: Servicing-approved, area-runtime

#42031 [release/6.0] Define `$(HelixTestConfigurationFilePath)`
  eng/helix/helix.proj
Labels: area-infrastructure, tell-mode

#42026 Remove explicit parameterName
  src/Http/Http.Results/src/ResultsOfT.Generated.cs
  src/Http/Http.Results/src/ValidationProblem.cs
  src/Http/Http.Results/tools/ResultsOfTGenerator/Program.cs
  src/Middleware/RateLimiting/src/RateLimitingApplicationBuilderExtensions.cs
Labels: area-runtime, community-contribution

#42121 Fix branch name in mirror pipeline
  .azure/pipelines/azure-pipelines-mirror-within-azdo.yml
Labels: area-infrastructure

#42117 Fix AddToGroupAsync race with OnDisconnectedAsync
  src/SignalR/server/Core/src/DefaultHubLifetimeManager.cs
  src/SignalR/server/StackExchangeRedis/src/Internal/RedisSubscriptionManager.cs
  src/SignalR/server/StackExchangeRedis/src/RedisHubLifetimeManager.cs
Labels: area-signalr

#42134 Quarantine HEADERS_Received_SecondRequest_Accepted
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2WebSocketTests.cs
Labels: area-runtime

#42136 Unquarantine GetWithRouteParameter_WriteMultiple_CancellationBefore_CallCanceled
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.IntegrationTests/ServerStreamingTests.cs
Labels: area-grpc

#41100 Introduce IBindableFromHttpContext<TSelf>
  src/Http/Http.Abstractions/src/IBindableFromHttpContextOfT.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/test/ParameterBindingMethodCacheTests.cs
  src/Http/samples/MinimalSample/Program.cs
  src/Shared/ParameterBindingMethodCache.cs
Labels: area-web-frameworks

#42131 Fix branch names again
  .azure/pipelines/azure-pipelines-mirror-within-azdo.yml
Labels: area-infrastructure

#42140 [main] Work around #41937 and stop skipping tests
  eng/helix/content/runtests.cmd
  eng/helix/content/runtests.sh
  src/Mvc/test/Mvc.FunctionalTests/SimpleWithWebApplicationBuilderTests.cs
  src/ProjectTemplates/test/IdentityUIPackageTest.cs
  src/ProjectTemplates/test/MvcTemplateTest.cs
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
  src/ProjectTemplates/test/WebApiTemplateTest.cs
Labels: area-infrastructure

#42139 [release/6.0] Work around #41937 and stop skipping tests
  eng/helix/content/runtests.cmd
  eng/helix/content/runtests.sh
  src/Mvc/test/Mvc.FunctionalTests/SimpleWithWebApplicationBuilderTests.cs
  src/ProjectTemplates/test/IdentityUIPackageTest.cs
  src/ProjectTemplates/test/MvcTemplateTest.cs
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
  src/ProjectTemplates/test/WebApiTemplateTest.cs
Labels: area-infrastructure, tell-mode

#42148 Remove unneeded + sign
  .azure/pipelines/azure-pipelines-mirror-within-azdo.yml
Labels: area-infrastructure

#42060 [release/3.1] Update SPA template JS dependencies
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/App.js
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/components/api-authorization/ApiAuthorizationRoutes.js
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/package-lock.json
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/App.tsx
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/components/Counter.tsx
  src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/components/FetchData.tsx
Labels: area-mvc, tell-mode

#42084 Update project templates to replace DateTime with DateOnly
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Data/WeatherForecast.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Data/WeatherForecastService.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Pages/FetchData.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Pages/FetchData.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Controllers/WeatherForecastController.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Shared/WeatherForecast.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Controllers/WeatherForecastController.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Program.MinimalAPIs.OrgOrIndividualB2CAuth.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Program.MinimalAPIs.WindowsOrNoAuth.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/WeatherForecast.cs
Labels: area-mvc, area-blazor, feature-templates

#41987 Add support for reading default scheme from config
  src/Azure/AzureAD/Authentication.AzureAD.UI/test/AzureADAuthenticationBuilderExtensionsTests.cs
  src/Azure/AzureAD/Authentication.AzureADB2C.UI/test/AzureAdB2CAuthenticationBuilderExtensionsTests.cs
  src/DefaultBuilder/src/WebApplicationAuthenticationBuilder.cs
  src/Http/Authentication.Abstractions/src/IAuthenticationConfigurationProvider.cs
  src/Http/Authentication.Abstractions/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/Core/src/AuthenticationBuilder.cs
  src/Security/Authentication/Core/src/AuthenticationConfigurationProviderExtensions.cs
  src/Security/Authentication/Core/src/AuthenticationConfigureOptions.cs
  src/Security/Authentication/Core/src/AuthenticationServiceCollectionExtensions.cs
  src/Security/Authentication/Core/src/DefaultAuthenticationConfigurationProvider.cs
  src/Security/Authentication/Core/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/JwtBearer/samples/MinimalJwtBearerSample/Program.cs
  src/Security/Authentication/JwtBearer/samples/MinimalJwtBearerSample/appsettings.Development.json
  src/Security/Authentication/JwtBearer/src/JwtBearerConfigureOptions.cs
  src/Security/Authentication/test/AuthenticationMiddlewareTests.cs
  src/Security/Authentication/test/CertificateTests.cs
  src/Security/Authentication/test/JwtBearerTests.cs
  src/Security/Authentication/test/OpenIdConnect/OpenIdConnectConfigurationTests.cs
  src/Security/Authentication/test/PolicyTests.cs
  src/Security/Authentication/test/RemoteAuthenticationTests.cs
  src/Security/Authentication/test/SharedAuthenticationTests.cs
  src/Security/Authentication/test/TestExtensions.cs
  src/Security/Authentication/test/WsFederation/WsFederationTest.cs
Labels: area-security

#42177 [release/6.0] Redo yarn install
  src/Components/Web.JS/package.json
  src/Components/Web.JS/yarn.lock
  src/SignalR/clients/ts/FunctionalTests/package.json
  src/SignalR/clients/ts/FunctionalTests/yarn.lock
  src/SignalR/clients/ts/signalr-protocol-msgpack/package.json
  src/SignalR/clients/ts/signalr-protocol-msgpack/yarn.lock
  src/SignalR/clients/ts/signalr/package.json
  src/SignalR/clients/ts/signalr/yarn.lock
Labels: area-infrastructure

#42076 Add `razor-compiler` cross-link on `issues` page
  .github/ISSUE_TEMPLATE/config.yml
Labels: area-infrastructure

#42194 Update downlevel SiteExtensions versions
  eng/Versions.props
Labels: area-infrastructure

#42179 Add `Route` string syntax attribute
  src/Http/Routing/src/Builder/EndpointRouteBuilderExtensions.cs
  src/Http/Routing/src/Builder/FallbackEndpointRouteBuilderExtensions.cs
  src/Http/Routing/src/MapRouteRouteBuilderExtensions.cs
  src/Http/Routing/src/Patterns/RoutePatternException.cs
  src/Http/Routing/src/Patterns/RoutePatternFactory.cs
  src/Http/Routing/src/RequestDelegateRouteBuilderExtensions.cs
  src/Http/Routing/src/Route.cs
  src/Http/Routing/src/RouteBase.cs
  src/Middleware/StaticFiles/src/StaticFilesEndpointRouteBuilderExtensions.cs
  src/Mvc/Mvc.Core/src/AcceptVerbsAttribute.cs
  src/Mvc/Mvc.Core/src/ApplicationModels/AttributeRouteModel.cs
  src/Mvc/Mvc.Core/src/Builder/ControllerEndpointRouteBuilderExtensions.cs
  src/Mvc/Mvc.Core/src/Builder/MvcAreaRouteBuilderExtensions.cs
  src/Mvc/Mvc.Core/src/HttpDeleteAttribute.cs
  src/Mvc/Mvc.Core/src/HttpGetAttribute.cs
  src/Mvc/Mvc.Core/src/HttpHeadAttribute.cs
  src/Mvc/Mvc.Core/src/HttpOptionsAttribute.cs
  src/Mvc/Mvc.Core/src/HttpPatchAttribute.cs
  src/Mvc/Mvc.Core/src/HttpPostAttribute.cs
  src/Mvc/Mvc.Core/src/HttpPutAttribute.cs
  src/Mvc/Mvc.Core/src/RouteAttribute.cs
  src/Mvc/Mvc.Core/src/Routing/HttpMethodAttribute.cs
  src/Mvc/Mvc.Core/src/Routing/IRouteTemplateProvider.cs
  src/Mvc/Mvc.RazorPages/src/DependencyInjection/PageConventionCollectionExtensions.cs
Labels: area-mvc, area-runtime, area-web-frameworks

#42185 Merging internal commits for release/6.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure, tell-mode

#41855 (Corrected) Generate Full Composite Images of .NET and ASP.NET Bundled Together
  .azure/pipelines/ci.yml
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-infrastructure

#42219 Fix doc comment typo in WebApplicationBuilder
  src/DefaultBuilder/src/WebApplicationBuilder.cs
Labels: area-runtime

#42214 Diff TestGroupName for project templates tests
  eng/Build.props
  src/ProjectTemplates/BlazorTemplates.Tests/BlazorTemplates.Tests.csproj
  src/ProjectTemplates/test/Templates.Blazor.Tests/Templates.Blazor.Tests.csproj
  src/ProjectTemplates/test/Templates.Mvc.Tests/Templates.Mvc.Tests.csproj
  src/ProjectTemplates/test/Templates.Tests/BaselineTest.cs
  src/ProjectTemplates/test/Templates.Tests/Templates.Tests.csproj
Labels: area-mvc

#42217 Support binding parameters to type Uri in Minimal Actions
  src/Http/Http.Extensions/test/ParameterBindingMethodCacheTests.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Shared/ParameterBindingMethodCache.cs
Labels: community-contribution

#42151 W3CLogger follow-ups
  src/Middleware/HttpLogging/src/HttpLoggingServicesExtensions.cs
  src/Middleware/HttpLogging/src/StatusCodeHelper.cs
  src/Middleware/HttpLogging/src/W3CLogger.cs
  src/Middleware/HttpLogging/src/W3CLoggingMiddleware.cs
  src/Middleware/HttpLogging/test/FileLoggerProcessorTests.cs
  src/Middleware/HttpLogging/test/Helpers.cs
  src/Middleware/HttpLogging/test/TestW3CLogger.cs
  src/Middleware/HttpLogging/test/W3CLoggerTests.cs
  src/Middleware/HttpLogging/test/W3CLoggingMiddlewareTests.cs
Labels: area-runtime, community-contribution

#42233 TestHost delay reading request content
  src/Hosting/TestHost/src/ClientHandler.cs
  src/Hosting/TestHost/src/HttpContextBuilder.cs
  src/Hosting/TestHost/test/ClientHandlerTests.cs
  src/Hosting/TestHost/test/TestClientTests.cs
Labels: area-runtime, community-contribution

#42125 Fix up user-jwts interactions
  src/Tools/dotnet-user-jwts/src/Commands/CreateCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/ListCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/PrintCommand.cs
  src/Tools/dotnet-user-jwts/src/Helpers/DevJwtCliHelpers.cs
  src/Tools/dotnet-user-jwts/src/Helpers/Jwt.cs
  src/Tools/dotnet-user-jwts/src/Program.cs
  src/Tools/dotnet-user-jwts/src/Resources.resx
  src/Tools/dotnet-user-jwts/test/UserJwtsTests.cs
Labels: area-commandlinetools, area-web-frameworks, feature-userjwts

#41916 catch JS exceptions when using InvokeAsync and throw them in .NET
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/WebAssembly/WebAssembly/test/JSObjectReferenceJsonConverterTest.cs
  src/Components/test/E2ETest/Tests/InteropTest.cs
  src/Components/test/testassets/BasicTestApp/InteropComponent.razor
  src/Components/test/testassets/BasicTestApp/wwwroot/js/jsinteroptests.js
  src/JSInterop/Microsoft.JSInterop.JS/src/src/Microsoft.JSInterop.ts
Labels: area-blazor, community-contribution

#42249 Add support for --output option in user-jwts create
  src/Tools/dotnet-user-jwts/src/Commands/CreateCommand.cs
  src/Tools/dotnet-user-jwts/src/Resources.resx
  src/Tools/dotnet-user-jwts/test/UserJwtsTests.cs
Labels: area-web-frameworks, feature-userjwts

#42030 Fix flakyServerReset_AfterEndStream_NoError test
  AspNetCore.sln
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs
  src/Servers/Kestrel/Kestrel.slnf
  src/Servers/Kestrel/stress/Program.cs
Labels: area-runtime

#41959 Fix nullability of TryUpdateModelAsync
  src/Mvc/Mvc.Core/src/ControllerBase.cs
  src/Mvc/Mvc.Core/src/ModelBinding/DefaultPropertyFilterProvider.cs
  src/Mvc/Mvc.Core/src/ModelBinding/ModelBindingHelper.cs
  src/Mvc/Mvc.Core/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Core/test/ControllerBaseTest.cs
  src/Mvc/Mvc.RazorPages/src/PageBase.cs
  src/Mvc/Mvc.RazorPages/src/PageModel.cs
  src/Mvc/Mvc.RazorPages/src/PublicAPI.Unshipped.txt
Labels: feature-Model-Binding, area-web-frameworks

#41790 Use Vector instead of direct Intrinsics
  src/Shared/QueryStringEnumerable.cs
Labels: area-runtime, community-contribution

#42250 Fix auto-registeration of authN and authZ middlewares
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/Microsoft.AspNetCore.Tests.csproj
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
Labels: area-web-frameworks

#42263 Update fabricbot with new schema and blog-candidate rule
  .github/fabricbot.json
Labels: area-infrastructure

#42237 Partition more ConcurrentQueues in Kestrel
  src/Servers/Kestrel/Transport.Sockets/src/SocketConnectionContextFactory.cs
Labels: area-runtime, blog-candidate

#42270 Add missing @-sign on bot comment
  .github/fabricbot.json
Labels: area-infrastructure

#42173 [release/3.1] Redo `yarn install`
  src/Components/Ignitor/src/Ignitor.csproj
  src/Components/Ignitor/test/Ignitor.Test.csproj
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/package.json
  src/Components/Web.JS/yarn.lock
  src/SignalR/clients/csharp/Client/test/FunctionalTests/Microsoft.AspNetCore.SignalR.Client.FunctionalTests.csproj
  src/SignalR/clients/csharp/Client/test/UnitTests/Microsoft.AspNetCore.SignalR.Client.Tests.csproj
  src/SignalR/clients/ts/FunctionalTests/package.json
  src/SignalR/clients/ts/FunctionalTests/yarn.lock
  src/SignalR/clients/ts/signalr-protocol-msgpack/package.json
  src/SignalR/clients/ts/signalr-protocol-msgpack/yarn.lock
  src/SignalR/clients/ts/signalr/package.json
  src/SignalR/clients/ts/signalr/yarn.lock
  src/SignalR/perf/Microbenchmarks/Microsoft.AspNetCore.SignalR.Microbenchmarks.csproj
  src/SignalR/samples/ClientSample/ClientSample.csproj
  src/SignalR/samples/JwtClientSample/JwtClientSample.csproj
  src/SignalR/server/SignalR/test/Microsoft.AspNetCore.SignalR.Tests.csproj
  src/SignalR/server/StackExchangeRedis/test/Microsoft.AspNetCore.SignalR.StackExchangeRedis.Tests.csproj
Labels: area-infrastructure

#42272 Fix support for native AOT in minimal
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
Labels: area-runtime

#42295 Remove incorrect RequiresUnreferencedCode from WriteJsonAsync
  src/Http/Http.Extensions/src/HttpResponseJsonExtensions.cs
Labels: area-runtime

#42296 Move Composite files to easily-found folder
  .azure/pipelines/ci.yml
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-infrastructure

#42269 Make H2 WebSockets ignore MaxRequestBodySize and MinRequestBodyDataRate
  src/Middleware/WebSockets/samples/EchoApp/EchoApp.csproj
  src/Middleware/WebSockets/samples/EchoApp/Program.cs
  src/Middleware/WebSockets/samples/EchoApp/Startup.cs
  src/Middleware/WebSockets/samples/EchoApp/appsettings.json
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.FeatureCollection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http/MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2WebSocketTests.cs
Labels: area-runtime

#42309 Improve missing/malformed file handling in user-jwts
  src/Tools/dotnet-user-jwts/src/Commands/CreateCommand.cs
  src/Tools/dotnet-user-jwts/src/Helpers/DevJwtCliHelpers.cs
  src/Tools/dotnet-user-jwts/src/Resources.resx
  src/Tools/dotnet-user-jwts/src/dotnet-user-jwts.csproj
  src/Tools/dotnet-user-jwts/test/UserJwtsTestFixture.cs
  src/Tools/dotnet-user-jwts/test/UserJwtsTests.cs
Labels: area-web-frameworks, feature-userjwts

#42290 Remove non-final HTTP/3 ALPN
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
Labels: area-runtime

#42195 [Route Groups] Support AddFilter, WithOpenApi and other additive conventions
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
  src/Http/Http.Abstractions/src/Extensions/EndpointBuilder.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Abstractions/src/RequestDelegateResult.cs
  src/Http/Http.Abstractions/src/RouteHandlerContext.cs
  src/Http/Http.Extensions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/src/RequestDelegateFactoryOptions.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Routing/src/Builder/EndpointRouteBuilderExtensions.cs
  src/Http/Routing/src/Builder/FallbackEndpointRouteBuilderExtensions.cs
  src/Http/Routing/src/Builder/RouteHandlerBuilder.cs
  src/Http/Routing/src/Builder/RouteHandlerFilterExtensions.cs
  src/Http/Routing/src/CompositeEndpointDataSource.cs
  src/Http/Routing/src/DefaultEndpointConventionBuilder.cs
  src/Http/Routing/src/DefaultEndpointDataSource.cs
  src/Http/Routing/src/EndpointDataSource.cs
  src/Http/Routing/src/EndpointRoutingMiddleware.cs
  src/Http/Routing/src/Patterns/RoutePatternFactory.cs
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/src/Resources.resx
  src/Http/Routing/src/RouteEndpointBuilder.cs
  src/Http/Routing/src/RouteEndpointDataSource.cs
  src/Http/Routing/src/RouteGroupBuilder.cs
  src/Http/Routing/src/RouteGroupContext.cs
  src/Http/Routing/test/FunctionalTests/RouteHandlerTest.cs
  src/Http/Routing/test/UnitTests/Builder/GroupTest.cs
  src/Http/Routing/test/UnitTests/Builder/RequestDelegateEndpointRouteBuilderExtensionsTest.cs
  src/Http/Routing/test/UnitTests/Builder/RouteHandlerEndpointRouteBuilderExtensionsTest.cs
  src/Http/Routing/test/UnitTests/CompositeEndpointDataSourceTest.cs
  src/Http/Routing/test/UnitTests/EndpointRoutingMiddlewareTest.cs
  src/Http/samples/MinimalSample/Program.cs
  src/Middleware/HealthChecks/src/Builder/HealthCheckEndpointRouteBuilderExtensions.cs
  src/Middleware/StaticFiles/src/StaticFilesEndpointRouteBuilderExtensions.cs
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
  src/OpenApi/src/OpenApiRouteHandlerBuilderExtensions.cs
  src/OpenApi/src/PublicAPI.Unshipped.txt
  src/OpenApi/test/OpenApiRouteHandlerBuilderExtensionTests.cs
Labels: area-runtime, feature-minimal-actions, feature-minimal-hosting

#42311 Cleanup project template ide.host.json files
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorClassLibrary-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/ide.host.json
  src/ProjectTemplates/scripts/Test-Template.ps1
Labels: area-mvc

#42223 HttpSys log correct statuscode when application throws
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContextOfT.cs
  src/Servers/test/FunctionalTests/HelloWorldTest.cs
  src/Servers/testassets/ServerComparison.TestSites/Startup.cs
Labels: area-runtime, community-contribution

#42119 Expose cookie extensions, consolidate cookie handling
  src/Http/Headers/src/CacheControlHeaderValue.cs
  src/Http/Headers/src/SetCookieHeaderValue.cs
  src/Http/Http.Abstractions/src/CookieBuilder.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Abstractions/test/CookieBuilderTests.cs
  src/Http/Http.Features/src/CookieOptions.cs
  src/Http/Http.Features/src/PublicAPI.Unshipped.txt
  src/Http/Http/src/Internal/ResponseCookies.cs
  src/Http/Http/test/CookieOptionsTests.cs
  src/Http/Http/test/ResponseCookiesTest.cs
  src/Security/Authentication/test/CookieTests.cs
  src/Security/Authentication/test/OpenIdConnect/OpenIdConnectTests.cs
  src/Security/CookiePolicy/src/ResponseCookiesWrapper.cs
  src/Security/CookiePolicy/test/CookieChunkingTests.cs
  src/Security/CookiePolicy/test/CookieConsentTests.cs
  src/Security/CookiePolicy/test/CookiePolicyTests.cs
  src/Shared/ChunkingCookieManager/ChunkingCookieManager.cs
Labels: area-security, area-runtime

#42248 [main] Remove more unused Docker files
  src/Servers/Kestrel/test/SystemdActivation/Dockerfile
  src/Servers/Kestrel/test/SystemdActivation/docker-entrypoint.sh
  src/Servers/Kestrel/test/SystemdActivation/docker.sh
Labels: area-infrastructure, area-runtime

#40143 [Blazor] Compiler runtime APIs needed for bind:get, bind:set, bind:after
  src/Components/Components/src/CompilerServices/RuntimeHelpers.cs
  src/Components/Components/src/EventCallbackFactoryBinderExtensions.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/test/RendererTest.cs
Labels: area-blazor

#42176 Add generic method overloads to Microsoft.AspNetCore.Http.Results static class
  src/Http/Http.Results/src/HttpResultsHelper.cs
  src/Http/Http.Results/src/ProblemHttpResult.cs
  src/Http/Http.Results/src/PublicAPI.Unshipped.txt
  src/Http/Http.Results/src/Results.cs
  src/Http/Http.Results/test/ResultsTests.cs
Labels: area-web-frameworks

#42283 Log error when exception occurs during streaming
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcherLog.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTestUtils/Hubs.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-signalr, community-contribution

#42315 Add support for multi-segment parameters to gRPC JSON transcoding
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Binding/JsonTranscodingProviderServiceBinder.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/CallHandlers/CallHandlerDescriptorInfo.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/CallHandlers/ServerCallHandlerBase.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/JsonRequestHelpers.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/JsonTranscodingRouteAdapter.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Microsoft.AspNetCore.Grpc.JsonTranscoding.csproj
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.Swagger/Internal/GrpcJsonTranscodingDescriptionProvider.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.Swagger/Microsoft.AspNetCore.Grpc.Swagger.csproj
  src/Grpc/JsonTranscoding/src/Shared/HttpRoutePattern.cs
  src/Grpc/JsonTranscoding/src/Shared/HttpRoutePatternParser.cs
  src/Grpc/JsonTranscoding/src/Shared/ServiceDescriptorHelpers.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.IntegrationTests/Infrastructure/TestHelpers.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.IntegrationTests/RouteTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/HttpRoutePatternParserTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/Infrastructure/TestHelpers.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/JsonTranscodingRouteAdapterTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/JsonTranscodingServerCallContextTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/JsonTranscodingServiceMethodProviderTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/UnaryServerCallHandlerTests.cs
  src/Grpc/JsonTranscoding/test/testassets/IntegrationTestsWebsite/Protos/greet.proto
Labels: area-grpc

#42215 Empty Blazor WebAssembly Project Template
  src/ProjectTemplates/Web.ProjectTemplates/EmptyComponentsWebAssembly-CSharp.Client.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/EmptyComponentsWebAssembly-CSharp.Server.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/EmptyComponentsWebAssembly-CSharp.Shared.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/Microsoft.DotNet.Web.ProjectTemplates.csproj
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/.template.config/dotnetcli.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/.template.config/ide/icon.png
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/.template.config/localize/templatestrings.cs.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/.template.config/localize/templatestrings.de.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/.template.config/localize/templatestrings.en.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/.template.config/localize/templatestrings.es.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/.template.config/localize/templatestrings.fr.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/.template.config/localize/templatestrings.it.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/.template.config/localize/templatestrings.ja.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/.template.config/localize/templatestrings.ko.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/.template.config/localize/templatestrings.pl.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/.template.config/localize/templatestrings.pt-BR.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/.template.config/localize/templatestrings.ru.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/.template.config/localize/templatestrings.tr.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/.template.config/localize/templatestrings.zh-Hans.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/.template.config/localize/templatestrings.zh-Hant.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Client/App.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Client/MainLayout.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Client/Pages/Index.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Client/Program.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Client/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Client/_Imports.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Client/wwwroot/css/app.css
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Client/wwwroot/icon-512.png
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Client/wwwroot/index.html
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Client/wwwroot/manifest.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Client/wwwroot/service-worker.js
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Client/wwwroot/service-worker.published.js
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/EmptyComponentsWebAssembly-CSharp.sln
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Server/Program.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Server/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Server/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Server/appsettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Shared/SharedClass.cs
  src/ProjectTemplates/test/Templates.Blazor.Tests/EmptyBlazorWasmTemplateTest.cs
  src/ProjectTemplates/test/Templates.Tests/template-baselines.json
Labels: area-mvc, area-blazor, feature-templates

#42350 Fix up parsing of IIS settings in user-jwts
  src/Tools/dotnet-user-jwts/src/Helpers/DevJwtCliHelpers.cs
  src/Tools/dotnet-user-jwts/test/UserJwtsTestFixture.cs
Labels: area-commandlinetools, area-web-frameworks, feature-userjwts

#42346 Fix H3 Client Cert tests
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionListenerTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3TlsTests.cs
Labels: area-runtime

#42381 Quarantine ServerComparison.FunctionalTests.HelloWorldTests.ApplicationException
  src/Servers/test/FunctionalTests/HelloWorldTest.cs
Labels: area-runtime

#42382 Split Blazor templates into 2 projects
  AspNetCore.sln
  src/ProjectTemplates/ProjectTemplates.slnf
  src/ProjectTemplates/ProjectTemplatesNoDeps.slnf
  src/ProjectTemplates/Shared/BlazorTemplateTest.cs
  src/ProjectTemplates/test/Templates.Blazor.Server.Tests/.gitattributes
  src/ProjectTemplates/test/Templates.Blazor.Server.Tests/BlazorServerTemplateTest.cs
  src/ProjectTemplates/test/Templates.Blazor.Server.Tests/EmptyBlazorServerTemplateTest.cs
  src/ProjectTemplates/test/Templates.Blazor.Server.Tests/Templates.Blazor.Server.Tests.csproj
  src/ProjectTemplates/test/Templates.Blazor.WebAssembly.Tests/BlazorWasmTemplateTest.cs
  src/ProjectTemplates/test/Templates.Blazor.WebAssembly.Tests/EmptyBlazorWasmTemplateTest.cs
  src/ProjectTemplates/test/Templates.Blazor.WebAssembly.Tests/Templates.Blazor.WebAssembly.Tests.csproj
Labels: area-blazor

#41798 Update SDK
  .azure/pipelines/jobs/default-build.yml
  eng/targets/Cpp.Common.props
  global.json
  src/Components/Authorization/src/AuthorizeRouteView.cs
  src/Components/Components/src/RouteView.cs
  src/Components/Components/src/Routing/RouteTableFactory.cs
  src/Components/Web/src/JSComponents/JSComponentConfigurationStore.cs
  src/Components/Web/src/JSComponents/JSComponentInterop.cs
  src/Identity/UI/src/Microsoft.AspNetCore.Identity.UI.csproj
  src/Installers/Windows/AspNetCoreModule-Setup/CustomAction/aspnetcoreCA.vcxproj
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/lib/IISSetup.CommonLib.vcxproj
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/iisca/lib/iisca.vcxproj
  src/Middleware/OutputCaching/test/MemoryOutputCacheStoreTests.cs
  src/Middleware/OutputCaching/test/OutputCacheEntryFormatterTests.cs
  src/Servers/IIS/AspNetCoreModuleV2/CommonLibTests/CommonLibTests.vcxproj
  src/Servers/IIS/build/Build.Common.Settings
Labels: area-infrastructure

#42386 Missing checked in code for templates
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyBlazorServerWeb-CSharp/.template.config/localize/templatestrings.cs.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyBlazorServerWeb-CSharp/.template.config/localize/templatestrings.de.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyBlazorServerWeb-CSharp/.template.config/localize/templatestrings.en.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyBlazorServerWeb-CSharp/.template.config/localize/templatestrings.es.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyBlazorServerWeb-CSharp/.template.config/localize/templatestrings.fr.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyBlazorServerWeb-CSharp/.template.config/localize/templatestrings.it.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyBlazorServerWeb-CSharp/.template.config/localize/templatestrings.ja.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyBlazorServerWeb-CSharp/.template.config/localize/templatestrings.ko.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyBlazorServerWeb-CSharp/.template.config/localize/templatestrings.pl.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyBlazorServerWeb-CSharp/.template.config/localize/templatestrings.pt-BR.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyBlazorServerWeb-CSharp/.template.config/localize/templatestrings.ru.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyBlazorServerWeb-CSharp/.template.config/localize/templatestrings.tr.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyBlazorServerWeb-CSharp/.template.config/localize/templatestrings.zh-Hans.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyBlazorServerWeb-CSharp/.template.config/localize/templatestrings.zh-Hant.json
Labels: area-mvc

#42379 Update `dotnet new blazorwasm --exclude-launch-settings` to exclude launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/.template.config/template.json
  src/ProjectTemplates/test/Templates.Tests/template-baselines.json
Labels: area-blazor

#42375 Update nuget dependencies
  eng/Versions.props
Labels: area-infrastructure

#42412 Unquarantine WorkerTemplate test
  src/ProjectTemplates/test/Templates.Tests/WorkerTemplateTest.cs
Labels: area-mvc

#42414 Fix event name for the shutdown event in hosting
  src/Hosting/Hosting/src/Internal/WebHost.cs
Labels: area-runtime

#41494 [Blazor] Unquarantine component E2E tests that were quarantined because of an SDK issue
  src/Components/test/E2ETest/Tests/BindTest.cs
  src/Components/test/E2ETest/Tests/FormsInputDateTest.cs
  src/Components/test/E2ETest/Tests/GlobalizationTest.cs
  src/Components/test/E2ETest/Tests/RoutingTest.cs
Labels: area-blazor

#42455 Update SDK to 7.0.100-preview.7.22327.3
  global.json
Labels: area-infrastructure

#42459 [release/7.0-preview6] Backport split Blazor templates into 2 projects
  AspNetCore.sln
  src/ProjectTemplates/ProjectTemplates.slnf
  src/ProjectTemplates/ProjectTemplatesNoDeps.slnf
  src/ProjectTemplates/Shared/BlazorTemplateTest.cs
  src/ProjectTemplates/test/Templates.Blazor.Server.Tests/.gitattributes
  src/ProjectTemplates/test/Templates.Blazor.Server.Tests/BlazorServerTemplateTest.cs
  src/ProjectTemplates/test/Templates.Blazor.Server.Tests/EmptyBlazorServerTemplateTest.cs
  src/ProjectTemplates/test/Templates.Blazor.Server.Tests/Templates.Blazor.Server.Tests.csproj
  src/ProjectTemplates/test/Templates.Blazor.WebAssembly.Tests/BlazorWasmTemplateTest.cs
  src/ProjectTemplates/test/Templates.Blazor.WebAssembly.Tests/EmptyBlazorWasmTemplateTest.cs
  src/ProjectTemplates/test/Templates.Blazor.WebAssembly.Tests/Templates.Blazor.WebAssembly.Tests.csproj
Labels: tell-mode

#42383 [release/7.0-preview6] Backport custom HTML elements rendering Blazor components
  AspNetCore.sln
  eng/ProjectReferences.props
  eng/TrimmableProjects.props
  src/Components/Components.slnf
  src/Components/CustomElements/src/JSComponentConfigurationExtensions.cs
  src/Components/CustomElements/src/Microsoft.AspNetCore.Components.CustomElements.csproj
  src/Components/CustomElements/src/PublicAPI.Shipped.txt
  src/Components/CustomElements/src/PublicAPI.Unshipped.txt
  src/Components/CustomElements/src/js/BlazorCustomElements.ts
  src/Components/CustomElements/src/js/babel.config.json
  src/Components/CustomElements/src/js/dist/.gitignore
  src/Components/CustomElements/src/js/package.json
  src/Components/CustomElements/src/js/tsconfig.json
  src/Components/CustomElements/src/js/webpack.config.js
  src/Components/CustomElements/src/js/yarn.lock
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/test/E2ETest/Tests/CustomElementsTest.cs
  src/Components/test/testassets/BasicTestApp/BasicTestApp.csproj
  src/Components/test/testassets/BasicTestApp/CustomElementParameterTypes.razor
  src/Components/test/testassets/BasicTestApp/CustomElementsComponent.razor
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/Program.cs
  src/Components/test/testassets/BasicTestApp/wwwroot/index.html
  src/Components/test/testassets/BasicTestApp/wwwroot/js/customElementTests.js
  src/ProjectTemplates/ProjectTemplates.slnf
  src/ProjectTemplates/ProjectTemplatesNoDeps.slnf
  src/ProjectTemplates/Shared/BlazorTemplateTest.cs
  src/ProjectTemplates/test/Templates.Blazor.Server.Tests/.gitattributes
  src/ProjectTemplates/test/Templates.Blazor.Server.Tests/BlazorServerTemplateTest.cs
  src/ProjectTemplates/test/Templates.Blazor.Server.Tests/EmptyBlazorServerTemplateTest.cs
  src/ProjectTemplates/test/Templates.Blazor.Server.Tests/Templates.Blazor.Server.Tests.csproj
  src/ProjectTemplates/test/Templates.Blazor.WebAssembly.Tests/BlazorWasmTemplateTest.cs
  src/ProjectTemplates/test/Templates.Blazor.WebAssembly.Tests/EmptyBlazorWasmTemplateTest.cs
  src/ProjectTemplates/test/Templates.Blazor.WebAssembly.Tests/Templates.Blazor.WebAssembly.Tests.csproj
Labels: Servicing-approved, area-blazor

#42458 Allow file middlewares to run if there's an endpoint with a null request delegate
  src/Http/Routing/src/EndpointMiddleware.cs
  src/Http/Routing/test/UnitTests/EndpointMiddlewareTest.cs
  src/Middleware/StaticFiles/src/DefaultFilesMiddleware.cs
  src/Middleware/StaticFiles/src/DirectoryBrowserMiddleware.cs
  src/Middleware/StaticFiles/src/StaticFileMiddleware.cs
  src/Middleware/StaticFiles/test/UnitTests/DefaultFilesMiddlewareTests.cs
  src/Middleware/StaticFiles/test/UnitTests/DirectoryBrowserMiddlewareTests.cs
  src/Middleware/StaticFiles/test/UnitTests/StaticFileMiddlewareTests.cs
Labels: area-runtime

#42469 Move OpenAPI extension methods to M.A.Builder namespace
  src/OpenApi/build.sh
  src/OpenApi/src/OpenApiEndpointConventionBuilderExtensions.cs
  src/OpenApi/src/PublicAPI.Unshipped.txt
Labels: area-web-frameworks

#42457 Updated VS workload manifests to Windows SDK 19041
  .vsconfig
  eng/scripts/vs.17.buildtools.intpreview.json
  eng/scripts/vs.17.buildtools.json
  eng/scripts/vs.17.buildtools.preview.json
  eng/scripts/vs.17.intpreview.json
  eng/scripts/vs.17.json
  eng/scripts/vs.17.preview.json
  eng/targets/Cpp.Common.props
  src/Installers/Windows/AspNetCoreModule-Setup/build/settings/common.props
  src/Servers/IIS/AspNetCoreModuleV2/CommonLibTests/CommonLibTests.vcxproj
Labels: area-infrastructure

#42456 Fix logging conditions for additional request headers
  src/Middleware/HttpLogging/src/W3CLoggingMiddleware.cs
  src/Middleware/HttpLogging/test/W3CLoggingMiddlewareTests.cs
Labels: area-runtime, community-contribution

#42420 Add `blazorwasm` Template Baseline Tests
  src/ProjectTemplates/test/Templates.Tests/template-baselines.json
Labels: area-mvc

#42460 Specify the current agent demands and VS version
  .azure/pipelines/jobs/default-build.yml
  global.json
  src/Installers/Windows/AspNetCoreModule-Setup/build/settings/common.props
  src/Servers/IIS/AspNetCoreModuleV2/CommonLibTests/CommonLibTests.vcxproj
Labels: area-infrastructure

#42354 Implement analyzer to favor using builder.Logging over ConfigureLogging
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DiagnosticDescriptors.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/WebApplicationBuilder/WebApplicationBuilderAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/WebApplicationBuilder/WellKnownTypes.cs
  src/Framework/AspNetCoreAnalyzers/test/WebApplicationBuilder/DisallowConfigureHostLoggingTest.cs
Labels: area-infrastructure

#42356 Implement analyzer that suggests using builder.Services to ConfigureServices method
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DiagnosticDescriptors.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/WebApplicationBuilder/WebApplicationBuilderAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/test/WebApplicationBuilder/DisallowConfigureServicesTest.cs
Labels: area-infrastructure

#42264 Add AuthorizationBuilder
  src/Security/Authorization/Core/src/AuthorizationBuilder.cs
  src/Security/Authorization/Core/src/AuthorizationOptions.cs
  src/Security/Authorization/Core/src/PublicAPI.Unshipped.txt
  src/Security/Authorization/Policy/src/PolicyServiceCollectionExtensions.cs
  src/Security/Authorization/Policy/src/PublicAPI.Unshipped.txt
  src/Security/Authorization/test/AuthorizationBuilderTests.cs
  src/Security/Authorization/test/DefaultAuthorizationServiceTests.cs
Labels: area-security

#42075 Identity UI: Input forms' `form-floating` broken styles fixed.
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/ExternalLogin.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/Login.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/LoginWith2fa.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/LoginWithRecoveryCode.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/Manage/ChangePassword.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/Manage/DeletePersonalData.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/Manage/Email.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/Manage/EnableAuthenticator.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/Manage/Index.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/Manage/SetPassword.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/ResetPassword.cshtml
Labels: area-identity, community-contribution

#42476 Cleanup CommonLibTests.vcxproj
  src/Servers/IIS/AspNetCoreModuleV2/CommonLibTests/CommonLibTests.vcxproj
Labels: area-runtime
