Repository dotnet/aspnetcore, pull requests merged in 2022-10, with the labels that each got.

#44275 Fix route parameter completion provider including names that are already used
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternCompletionProvider.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteEmbeddedLanguage/RoutePatternCompletionProviderTests.cs
Labels: area-infrastructure, area-web-frameworks

#44308 Fix typo link in aspnetcore docs readme
  docs/README.md
Labels: community-contribution

#44334 Add <title> to empty wasm template index.html
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Client/wwwroot/index.html
Labels: Servicing-approved, area-mvc

#44337 Replace -latest docker tags with new schema
  .azure/pipelines/ci.yml
  eng/docker/rhel.Dockerfile
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#44310 Use string.StartsWith(char) and string.EndsWith(char) where applicable
  src/Components/test/E2ETest/Infrastructure/WebDriverExtensions/BasicTestAppAuthenticationWebDriverExtensions.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/JsonTranscodingRouteAdapter.cs
  src/Http/Headers/src/ContentDispositionHeaderValue.cs
  src/Http/Http.Abstractions/src/Extensions/MapExtensions.cs
  src/Http/Http.Results/src/VirtualFileHttpResult.cs
  src/Http/Routing.Abstractions/src/VirtualPathData.cs
  src/Http/Routing/src/ParameterPolicyActivator.cs
  src/Http/Routing/src/Patterns/RoutePatternParser.cs
  src/Http/Routing/src/RouteCollection.cs
  src/Middleware/StaticFiles/src/Infrastructure/SharedOptions.cs
  src/Mvc/Mvc.Core/src/ApplicationModels/AttributeRouteModel.cs
  src/Mvc/Mvc.Core/src/Formatters/FormatterMappings.cs
  src/Mvc/Mvc.Core/src/Infrastructure/VirtualFileResultExecutor.cs
  src/Mvc/Mvc.Core/src/Routing/UrlHelperBase.cs
  src/Mvc/Mvc.Razor.RuntimeCompilation/src/FileProviderRazorProjectFileSystem.cs
  src/Mvc/Mvc.RazorPages/src/ApplicationModels/PageRouteModelFactory.cs
  src/Mvc/Mvc.RazorPages/src/DependencyInjection/RazorPagesRazorViewEngineOptionsSetup.cs
  src/Mvc/Mvc.ViewFeatures/src/NameAndIdProvider.cs
  src/Mvc/Mvc.ViewFeatures/src/TemplateInfo.cs
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectHandler.cs
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectPostConfigureOptions.cs
  src/Security/Authentication/WsFederation/src/WsFederationHandler.cs
  src/Servers/HttpSys/src/UrlPrefix.cs
Labels: Perf, area-mvc, area-runtime, community-contribution, area-web-frameworks

#44344 Update SDK
  global.json
Labels: area-infrastructure

#44217 Turn HTTP/3 on by default in Kestrel
  src/Servers/Kestrel/Core/src/ListenOptions.cs
  src/Servers/Kestrel/Core/test/KestrelServerOptionsTests.cs
  src/Servers/Kestrel/Core/test/ListenOptionsTests.cs
  src/Servers/Kestrel/Kestrel/test/KestrelConfigurationLoaderTests.cs
Labels: area-runtime

#44276 Route tooling: Add Minimal API or MVC parameter fixer
  src/Framework/AspNetCoreAnalyzers/samples/WebAppSample/Controllers/TodoController.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DiagnosticDescriptors.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Resources.resx
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/RoutePatternParametersDetector.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/RoutePatternUsageDetector.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePattern/RoutePatternParser.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePattern/RoutePatternTree.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternCompletionProvider.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternHighlighter.cs
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/RouteParameterUnusedParameterFixer.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteEmbeddedLanguage/RouteParameterUnusedParameterFixerTest.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteEmbeddedLanguage/RoutePatternAnalyzerTests.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteEmbeddedLanguage/RoutePatternParserTests.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteEmbeddedLanguage/RoutePatternParserTests_BasicTests.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteEmbeddedLanguage/RoutePatternParserTests_ConformanceTests.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteEmbeddedLanguage/RoutePatternParserTests_ReplacementTests.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteHandlers/DetectMismatchedParameterOptionalityTest.cs
  src/Framework/AspNetCoreAnalyzers/test/Verifiers/CSharpAnalyzerVerifier.cs
  src/Framework/AspNetCoreAnalyzers/test/Verifiers/CSharpCodeFixVerifier.cs
Labels: area-infrastructure, area-web-frameworks

#44354 Update StatusCodes.cs
  src/Http/Http.Abstractions/src/StatusCodes.cs
Labels: area-runtime, community-contribution

#44350 [release/7.0] Switch to consolidated Windows build images
  .azure/pipelines/azure-pipelines-mirror-within-azdo.yml
  .azure/pipelines/ci.yml
Labels: area-infrastructure, tell-mode

#44351 [main] Switch to consolidated Windows build images
  .azure/pipelines/azure-pipelines-mirror-within-azdo.yml
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#44358 Update branding to 3.1.31
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#44359 Update branding to 6.0.11
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#44227 [release/6.0] Add support for minimal APIs in ApiDescription.Server
  .azure/pipelines/components-e2e-tests.yml
  src/Components/test/E2ETest/ServerExecutionTests/CircuitGracefulTerminationTests.cs
  src/Tools/Extensions.ApiDescription.Server/src/Microsoft.Extensions.ApiDescription.Server.csproj
  src/Tools/Extensions.ApiDescription.Server/src/Microsoft.Extensions.ApiDescription.Server.nuspec
  src/Tools/GetDocumentInsider/src/Commands/GetDocumentCommand.cs
  src/Tools/GetDocumentInsider/src/Commands/GetDocumentCommandWorker.cs
  src/Tools/GetDocumentInsider/src/GetDocument.Insider.csproj
  src/Tools/dotnet-getdocument/src/Commands/InvokeCommand.cs
  src/Tools/dotnet-getdocument/src/dotnet-getdocument.csproj
Labels: Servicing-approved, area-commandlinetools

#44159 [release/3.1] Remove Kevin from CodeOwners
  .github/CODEOWNERS
Labels: area-infrastructure, tell-mode

#44158 [release/2.1] Remove Kevin from CodeOwners
  .github/CODEOWNERS
Labels: area-infrastructure, tell-mode

#44020 [6.0] Allow zero byte reads on the test server response body
  src/Hosting/TestHost/src/ResponseBodyReaderStream.cs
  src/Hosting/TestHost/test/ResponseBodyTests.cs
Labels: Servicing-approved, area-runtime

#44349 [release/6.0] Switch to consolidated Windows build images and Svc pool
  .azure/pipelines/azure-pipelines-mirror-within-azdo.yml
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure, tell-mode

#44347 [release/2.1] Switch to consolidated Windows build images
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
  src/Servers/Kestrel/test/FunctionalTests/HttpsConnectionAdapterTests.cs
  src/Servers/Kestrel/test/FunctionalTests/HttpsTests.cs
Labels: area-infrastructure, tell-mode

#44380 Introduced correct descriptions in HttpSysOptions
  src/Servers/HttpSys/src/HttpSysOptions.cs
Labels: area-runtime, community-contribution

#44294 Add Azure README, update slnf
  src/Azure/Azure.slnf
  src/Azure/README.md
Labels: area-runtime

#44144 fix dotnet#43523 HttpSys Content-Length and Transfer-Encoding conflicts
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Servers/HttpSys/test/FunctionalTests/RequestHeaderTests.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/RequestResponseTests.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
Labels: area-runtime, community-contribution

#44313 Optimize some string.Substring usages
  src/Security/samples/Identity.ExternalClaims/Pages/Account/Manage/EnableAuthenticator.cshtml.cs
  src/Servers/HttpSys/src/UrlPrefix.cs
Labels: area-runtime, community-contribution

#44388 Assert test result #44249
  src/Servers/HttpSys/test/FunctionalTests/RequestHeaderTests.cs
Labels: area-runtime

#44393 Analyzer clean up
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DiagnosticDescriptors.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Resources.resx
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/RoutePatternUsageDetector.cs
  src/Framework/AspNetCoreAnalyzers/test/Http/HeaderDictionaryIndexerAnalyzerTests.cs
  src/Framework/AspNetCoreAnalyzers/test/Http/RequestDelegateReturnTypeAnalyzerTests.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteEmbeddedLanguage/RouteParameterUnusedParameterFixerTest.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteEmbeddedLanguage/RoutePatternAnalyzerTests.cs
Labels: area-infrastructure, area-runtime, area-web-frameworks

#44402 Fix components-e2e pipeline
  src/Components/test/E2ETest/Infrastructure/WebDriverExtensions/BasicTestAppAuthenticationWebDriverExtensions.cs
  src/Shared/E2ETesting/selenium-config.json
Labels: area-infrastructure

#44370 Improve documentation of ConnectionInfo.RemoteIpAddress
  src/Http/Http.Abstractions/src/ConnectionInfo.cs
Labels: area-runtime

#44405 Standard stream argument validation
  src/Components/Shared/src/ArrayBuilderMemoryStream.cs
  src/Hosting/TestHost/src/ResponseBodyReaderStream.cs
  src/Hosting/TestHost/test/ResponseBodyTests.cs
  src/Http/WebUtilities/src/BufferedReadStream.cs
  src/Http/WebUtilities/src/FileBufferingWriteStream.cs
  src/Middleware/OutputCaching/src/Streams/SegmentWriteStream.cs
  src/Middleware/ResponseCaching/src/Streams/SegmentWriteStream.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestStream.cs
  src/Servers/HttpSys/test/FunctionalTests/RequestBodyTests.cs
Labels: area-runtime

#43862 Better logs in AuthorizationMiddleware
  src/Security/Authorization/Policy/src/AuthorizationMiddleware.cs
  src/Security/Authorization/Policy/src/PublicAPI.Unshipped.txt
  src/Security/Authorization/test/AuthorizationMiddlewareTests.cs
  src/Security/perf/Microbenchmarks/AuthorizationMiddlewareBenchmark.cs
Labels: area-security, community-contribution

#44407 Remove CookieNameEncoding
  src/Http/Http/src/Internal/RequestCookieCollection.cs
  src/Http/Http/src/Internal/ResponseCookies.cs
  src/Http/Http/test/RequestCookiesCollectionTests.cs
  src/Http/Http/test/ResponseCookiesTest.cs
  src/Http/Shared/CookieHeaderParserShared.cs
Labels: area-runtime

#44417 Quarantine OutputFlowControl_ConnectionAndRequestAborted_NoException
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-runtime

#44451 [7.0] Update protobuf version
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#44452 [3.1] Update protobuf version
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#39140 Generate VS.Redist package for ANCM
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMIISExpressV2/AncmIISExpressV2.nuspec
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMIISExpressV2/AncmIISExpressV2.wixproj
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMV2/AncmV2.nuspec
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMV2/AncmV2.wixproj
  src/Installers/Windows/SharedFramework/SharedFramework.nuspec
  src/Installers/Windows/SharedFramework/SharedFramework.wixproj
  src/Installers/Windows/TargetingPack/TargetingPack.nuspec
  src/Installers/Windows/TargetingPack/TargetingPack.wixproj
Labels: area-infrastructure

#44409 Avoid double dispatch by default on HTTP.sys
  src/Servers/HttpSys/src/MessagePump.cs
Labels: Perf, area-runtime

#44465 Always run inline for socket callbacks
  src/Servers/Kestrel/Transport.Sockets/src/SocketConnectionContextFactory.cs
Labels: area-runtime

#44459 [release/6.0] Add VS.Redist project for ANCM
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMIISExpressV2/AncmIISExpressV2.nuspec
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMIISExpressV2/AncmIISExpressV2.wixproj
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMV2/AncmV2.nuspec
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMV2/AncmV2.wixproj
  src/Installers/Windows/SharedFramework/SharedFramework.nuspec
  src/Installers/Windows/SharedFramework/SharedFramework.wixproj
  src/Installers/Windows/TargetingPack/TargetingPack.nuspec
  src/Installers/Windows/TargetingPack/TargetingPack.wixproj
Labels: Servicing-approved, area-infrastructure

#44412 [Blazor] Update bind:set,after runtime apis
  src/Components/Components/src/CompilerServices/RuntimeHelpers.cs
  src/Components/Components/src/EventCallbackFactoryBinderExtensions.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/test/RendererTest.cs
Labels: Servicing-approved, area-blazor

#44429 Fixing XML documentation issues for Microsoft.AspNetCore.Http.Results' methods
  src/Http/Http.Results/src/Results.cs
Labels: area-runtime, community-contribution

#44479 Update project template precedence values
  src/ProjectTemplates/Web.Client.ItemTemplates/content/Less/.template.config/template.json
  src/ProjectTemplates/Web.Client.ItemTemplates/content/Scss/.template.config/template.json
  src/ProjectTemplates/Web.Client.ItemTemplates/content/TypeScript/.template.config/template.json
  src/ProjectTemplates/Web.ItemTemplates/content/Protobuf/.template.config/template.json
  src/ProjectTemplates/Web.ItemTemplates/content/RazorComponent/.template.config/template.json
  src/ProjectTemplates/Web.ItemTemplates/content/RazorPage/.template.config/template.json
  src/ProjectTemplates/Web.ItemTemplates/content/ViewImports/.template.config/template.json
  src/ProjectTemplates/Web.ItemTemplates/content/ViewStart/.template.config/template.json
Labels: Servicing-approved, area-mvc

#44502 Don't package Microsoft.Aspnetcore.Ratelimiting
  eng/SharedFramework.Local.props
  src/Middleware/RateLimiting/src/Microsoft.AspNetCore.RateLimiting.csproj
Labels: area-runtime

#44295 Add schema in launchSettings.json files
  src/Middleware/RateLimiting/samples/RateLimitingSample/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/Properties/launchSettings.json
  src/Security/Authentication/JwtBearer/samples/MinimalJwtBearerSample/Properties/launchSettings.json
Labels: area-mvc

#44501 Don't package Microsoft.Aspnetcore.Ratelimiting
  eng/SharedFramework.Local.props
  src/Middleware/RateLimiting/src/Microsoft.AspNetCore.RateLimiting.csproj
Labels: Servicing-consider

#43789 Fix ProjectTemplate test failure logs on helix
  src/ProjectTemplates/Shared/Project.cs
Labels: area-mvc

#44485 [release/7.0] Stabilize versions
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#44528 Write manual Parallel.For to await test result
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTests.cs
Labels: area-runtime

#44534 Fix request delegate analyzer error on null return type
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Http/RequestDelegateReturnTypeAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/test/Http/RequestDelegateReturnTypeAnalyzerTests.cs
Labels: area-runtime, area-web-frameworks

#44549 Increase timeouts for template tests
  src/ProjectTemplates/test/Templates.Blazor.Server.Tests/Templates.Blazor.Server.Tests.csproj
  src/ProjectTemplates/test/Templates.Blazor.WebAssembly.Auth.Tests/Templates.Blazor.WebAssembly.Auth.Tests.csproj
  src/ProjectTemplates/test/Templates.Mvc.Tests/Templates.Mvc.Tests.csproj
  src/ProjectTemplates/test/Templates.Tests/Templates.Tests.csproj
Labels: area-infrastructure

#44550 Override Send in TestHost.ClientHandler
  src/Hosting/TestHost/src/ClientHandler.cs
  src/Hosting/TestHost/test/ClientHandlerTests.cs
Labels: area-runtime, community-contribution

#44555 Add CompositeFormat StringSyntaxAttribute syntaxes
  src/Html.Abstractions/src/HtmlContentBuilderExtensions.cs
  src/Html.Abstractions/src/HtmlFormattableString.cs
  src/Razor/Razor/src/TagHelpers/TagHelperContent.cs
Labels: community-contribution

#44576 [release/7.0] Backport loc fixes
  src/Installers/Windows/SharedFrameworkBundle/1028/thm.wxl
  src/Installers/Windows/SharedFrameworkBundle/1029/thm.wxl
  src/Installers/Windows/SharedFrameworkBundle/1031/thm.wxl
  src/Installers/Windows/SharedFrameworkBundle/1033/thm.wxl
  src/Installers/Windows/SharedFrameworkBundle/1036/thm.wxl
  src/Installers/Windows/SharedFrameworkBundle/1040/thm.wxl
  src/Installers/Windows/SharedFrameworkBundle/1041/thm.wxl
  src/Installers/Windows/SharedFrameworkBundle/1042/thm.wxl
  src/Installers/Windows/SharedFrameworkBundle/1045/thm.wxl
  src/Installers/Windows/SharedFrameworkBundle/1046/thm.wxl
  src/Installers/Windows/SharedFrameworkBundle/1049/thm.wxl
  src/Installers/Windows/SharedFrameworkBundle/1055/thm.wxl
  src/Installers/Windows/SharedFrameworkBundle/2052/thm.wxl
  src/Installers/Windows/SharedFrameworkBundle/3082/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1028/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/1028/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1029/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/1029/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1031/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/1031/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1033/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/1033/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1036/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/1036/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1040/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/1040/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1041/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/1041/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1042/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/1042/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1045/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/1045/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1046/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/1046/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1049/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/1049/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1055/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/1055/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/2052/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/2052/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/3082/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/3082/thm.wxl
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/.template.config/localize/templatestrings.de.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/localize/templatestrings.de.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyBlazorServerWeb-CSharp/.template.config/localize/templatestrings.de.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/.template.config/localize/templatestrings.de.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/localize/templatestrings.de.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/.template.config/localize/templatestrings.de.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/localize/templatestrings.de.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorClassLibrary-CSharp/.template.config/localize/templatestrings.de.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/localize/templatestrings.de.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/localize/templatestrings.de.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/.template.config/localize/templatestrings.de.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/localize/templatestrings.de.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/zh-Hans/strings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/.template.config/localize/templatestrings.de.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/localize/templatestrings.de.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.de.json
Labels: Servicing-approved, area-infrastructure, feature-installers, feature-templates

#44536 add ppc64le arch to crossgen2 not available list
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-infrastructure, community-contribution

#44597 [Templates] Fix links to http://useiconic.com
  src/Components/Samples/BlazorServerApp/wwwroot/css/open-iconic/README.md
  src/Components/THIRD-PARTY-NOTICES.txt
  src/Components/WebAssembly/Samples/HostedBlazorWebassemblyApp/Client/wwwroot/css/open-iconic/README.md
  src/Components/WebAssembly/testassets/StandaloneApp/wwwroot/css/open-iconic/README.md
  src/Components/test/testassets/ComponentsApp.Server/wwwroot/css/open-iconic/README.md
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/wwwroot/css/open-iconic/README.md
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/css/open-iconic/README.md
Labels: Servicing-approved, area-mvc

#44500 Adds dialog form method to FormMethod enum
  src/Mvc/Mvc.ViewFeatures/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.ViewFeatures/src/Rendering/FormMethod.cs
Labels: area-mvc, community-contribution

#44609 Quarantine SignalR functional test "closed with error or start fails if hub cannot be created"
  src/SignalR/clients/ts/FunctionalTests/ts/HubConnectionTests.ts
Labels: area-infrastructure, area-signalr

#44573 Add IPNetwork.Parse and TryParse
  src/Middleware/HttpOverrides/src/IPNetwork.cs
  src/Middleware/HttpOverrides/src/PublicAPI.Unshipped.txt
  src/Middleware/HttpOverrides/test/IPNetworkTest.cs
Labels: area-runtime, community-contribution, blog-candidate

#44631 Fix Blazor Wasm performance benchmarks
  src/Components/benchmarkapps/Wasm.Performance/Driver/Selenium.cs
Labels: area-infrastructure, area-blazor, area-perf

#44604 Add AdditionalDotNetPackageFeed for helix
  .azure/pipelines/jobs/default-build.yml
  eng/helix/helix.proj
Labels: area-infrastructure

#44641 Add Json StringSyntaxAttribute syntaxes
  src/Components/WebAssembly/JSInterop/src/WebAssemblyJSRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/DotNetDispatcher.cs
  src/JSInterop/Microsoft.JSInterop/src/JSInProcessRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/JSRuntime.cs
Labels: community-contribution, area-web-frameworks

#44654 [8.0] Limit the hpack buffer resize #44643
  src/Servers/Kestrel/Transport.Quic/test/WebHostTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3TlsTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpHelpers.cs
  src/Shared/runtime/Http2/Hpack/HPackDecoder.cs
  src/Shared/test/Shared.Tests/runtime/Http2/HPackDecoderTest.cs
Labels: area-runtime

#42910 Route tooling: Add framework route parameter completion
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/FrameworkParametersCompletionProvider.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/WellKnownTypes.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteEmbeddedLanguage/FrameworkParametersCompletionProviderTests.cs
  src/Shared/ParameterBindingMethodCache.cs
Labels: area-infrastructure, area-web-frameworks

#44698 fixed minor typos
  README.md
Labels: community-contribution

#44561 Remove some `GCHandle`s from `SendHeaders()`
  src/Servers/HttpSys/src/Helpers.cs
  src/Servers/HttpSys/src/HttpSysListener.cs
  src/Servers/HttpSys/src/RequestProcessing/Response.cs
  src/Servers/HttpSys/src/RequestProcessing/ResponseBody.cs
  src/Servers/HttpSys/src/RequestProcessing/ResponseStreamAsyncResult.cs
  src/Shared/Buffers.MemoryPool/UnmanagedBufferAllocator.cs
  src/Shared/HttpSys/RequestProcessing/HeaderEncoding.cs
Labels: Perf, area-runtime, servers-httpsys

#44674 Fixed bug #19641 Routing ArgumentOutOfRangeException
  src/Http/Routing/src/Patterns/RoutePatternMatcher.cs
  src/Http/Routing/test/UnitTests/Matching/DfaMatcherTest.cs
Labels: area-runtime

#44282 Add option to use system culture in RequestLocalizationOptions
  src/Middleware/Localization/src/PublicAPI.Unshipped.txt
  src/Middleware/Localization/src/RequestLocalizationOptions.cs
Labels: area-runtime, community-contribution

#44687 Use IndexOfAny(char, char) when possible
  src/Components/Components/src/NavigationManager.cs
  src/Middleware/OutputCaching/src/OutputCacheKeyProvider.cs
  src/Mvc/Mvc.Core/src/ModelBinding/PrefixContainer.cs
  src/Mvc/Mvc.Core/test/ModelBinding/PrefixContainerTest.cs
  src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonInputFormatter.cs
  src/Mvc/Mvc.NewtonsoftJson/test/NewtonsoftJsonInputFormatterTest.cs
Labels: Perf

#44705 Reference ConnectionId always using same casing in log messages
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
Labels: area-runtime, community-contribution

#44688 Add CodeQL3000 run to aspnetcore-ci-official
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
  .config/tsaoptions.json
Labels: area-infrastructure

#44691 Improve StringBuilder usage
  src/Mvc/Mvc.Core/src/Infrastructure/ResourceInvoker.Log.cs
  src/Security/Authentication/Facebook/src/FacebookHandler.cs
  src/Security/Authentication/Twitter/src/TwitterHandler.cs
  src/Servers/Kestrel/Core/src/Middleware/Internal/LoggingStream.cs
Labels: Perf

#44711 Improved the docs for the RedisCacheOptions.InstanceName property
  src/Caching/StackExchangeRedis/src/RedisCacheOptions.cs
Labels: area-runtime, community-contribution

#44601 Update SDK
  eng/Versions.props
  global.json
  src/Features/JsonPatch/src/Operations/Operation.cs
  src/Features/JsonPatch/src/Operations/OperationBase.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
Labels: area-infrastructure

#44731 Fix the tooltip for the `SupportPagesAndViews` option
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorClassLibrary-CSharp/.template.config/template.json
Labels: area-mvc

#44735 Add a rule for servicing PR authors to get a notification about who will be merging those PRs
  .github/fabricbot.json
Labels: area-infrastructure

#44738 Remove trim attributes from AddEndpointFilter extensions
  src/Http/Routing/src/Builder/EndpointFilterExtensions.cs
Labels: area-runtime

#44745 Adding `init-nuget` to Linux ARM64
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#44668 Send 431 when HTTP/2&3 headers are too large or many
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/test/Http1/Http1ConnectionTests.cs
  src/Servers/Kestrel/shared/test/Http3/Http3InMemory.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TestBase.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
Labels: area-runtime

#44689 Raise field size limit to 32kb
  src/Servers/Kestrel/Core/src/Http2Limits.cs
  src/Servers/Kestrel/Core/src/Http3Limits.cs
  src/Servers/Kestrel/Core/test/KestrelServerLimitsTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
Labels: area-runtime

#44728 Added a guide to build src\Components\Web.JS
  docs/BuildFromSource.md
  src/Components/README.md
Labels: area-blazor

#44775 Improve some large XML comments
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/JsonTranscodingRouteAdapter.cs
  src/Http/Http.Features/src/IHttpRequestBodyDetectionFeature.cs
Labels: community-contribution

#44574 Add more granular tests for HeaderUtilities.TryParseQualityDouble
  src/Http/Headers/test/HeaderUtilitiesTest.cs
Labels: area-runtime, community-contribution

#44780 Build public redist for source-build
  eng/SourceBuild.props
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-infrastructure

#44797 Update SDK to 8.0.100-alpha.1.22531.1
  global.json
Labels: area-infrastructure

#44791 Use TryGetValue() for dictionary lookup
  src/Features/JsonPatch/src/Internal/DictionaryAdapterOfTU.cs
  src/Http/Authentication.Core/src/AuthenticationSchemeProvider.cs
  src/Identity/Core/src/SignInManager.cs
Labels: Perf, area-identity, community-contribution

#44800 Fix NavigationLock throwing a JSDisconnectedException on browser close in Blazor Server
  src/Components/Web/src/Routing/NavigationLock.cs
Labels: area-blazor
