Repository dotnet/aspnetcore, pull requests merged in 2022-12, with the labels that each got.

#45379 Quarantine HelloWorld
  src/Servers/test/FunctionalTests/HelloWorldTest.cs
Labels: area-runtime

#45362 Fix w3c Issue with unit test
  src/Middleware/HttpLogging/src/W3CLoggingMiddleware.cs
  src/Middleware/HttpLogging/test/W3CLoggingMiddlewareTests.cs
Labels: area-runtime, community-contribution

#45375 Add Logging to AuthenticationService Scripts
  src/Components/WebAssembly/Authentication.Msal/src/Interop/AuthenticationService.ts
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/AuthenticationService.ts
Labels: area-blazor

#45127 Fix CookieHeaderParserShared throws exception when last cookie contains invalid character #45014
  src/Http/Http/test/RequestCookiesCollectionTests.cs
  src/Http/Shared/CookieHeaderParserShared.cs
Labels: area-runtime, community-contribution

#45273 gRPC JSON transcoding: Support deserializing non-nested enum from string
  src/Grpc/JsonTranscoding/perf/Microsoft.AspNetCore.Grpc.Microbenchmarks/Json/JsonReading.cs
  src/Grpc/JsonTranscoding/perf/Microsoft.AspNetCore.Grpc.Microbenchmarks/Json/JsonWriting.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/GrpcJsonTranscodingOptions.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/GrpcJsonTranscodingServiceExtensions.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Binding/JsonTranscodingProviderServiceBinder.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Binding/JsonTranscodingServiceMethodProvider.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/DescriptorRegistry.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/EnumConverter.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/JsonContext.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.IntegrationTests/Infrastructure/DynamicGrpcServiceRegistry.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.IntegrationTests/UnaryTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/ConverterTests/JsonConverterReadTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/ConverterTests/JsonConverterWriteTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/JsonTranscodingServiceMethodProviderTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests.csproj
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/Proto/Issue045270/country.proto
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/Proto/Issue045270/hello.proto
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/ServerStreamingServerCallHandlerTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/UnaryServerCallHandlerTests.cs
  src/Grpc/JsonTranscoding/test/testassets/IntegrationTestsWebsite/Protos/greet.proto
Labels: area-grpc

#45423 [feature/green-threads] Update dependencies
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#45383 Add support for JSON output to more commands
  src/Tools/dotnet-user-jwts/src/Commands/CreateCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/ListCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/PrintCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/ProjectCommandLineApplication.cs
  src/Tools/dotnet-user-jwts/src/Helpers/DevJwtCliHelpers.cs
  src/Tools/dotnet-user-jwts/test/UserJwtsTests.cs
Labels: area-commandlinetools

#45430 Fix typos in `docs/EventSourceAndCounters.md`
  docs/EventSourceAndCounters.md
Labels: community-contribution

#45404 Do not generate Content for request parameters in OpenAPI
  src/OpenApi/src/OpenApiGenerator.cs
  src/OpenApi/test/OpenApiGeneratorTests.cs
Labels: area-web-frameworks

#45426 Use built in methods
  src/Http/Headers/src/ContentDispositionHeaderValue.cs
  src/Mvc/Mvc.ViewFeatures/src/Rendering/TagBuilder.cs
Labels: Perf

#45406 Fix Http3ConnectionEmptyBenchmark
  src/Servers/Kestrel/perf/Microbenchmarks/Http3/Http3ConnectionBenchmarkBase.cs
Labels: area-runtime

#45352 Warn the user if they're specifying protocols that won't be used
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.General.cs
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Servers/Kestrel/Core/src/ListenOptions.cs
  src/Servers/Kestrel/Core/src/LocalhostListenOptions.cs
  src/Servers/Kestrel/Core/test/KestrelServerTests.cs
  src/Servers/Kestrel/Core/test/ListenOptionsTests.cs
Labels: area-runtime

#45460 Fix endpoint Middlweware
  src/Http/Routing/src/EndpointMiddleware.cs
Labels: area-runtime, community-contribution

#45391 Update CODEOWNERS
  .github/CODEOWNERS
Labels: area-infrastructure

#45470 Regenerating src/SignalR/clients/ts/common/yarn.lock
  src/SignalR/clients/ts/common/yarn.lock
Labels: area-signalr

#45454 Enable nullable reference types in analyzer projects
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DiagnosticDescriptors.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Http/HeaderDictionaryAddAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Http/HeaderDictionaryIndexerAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Http/RequestDelegateReturnTypeAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/AnalyzerDebug.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/WellKnownTypes.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Microsoft.AspNetCore.App.Analyzers.csproj
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RenderTreeBuilder/RenderTreeBuilderAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/FrameworkParametersCompletionProvider.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/EmbeddedSyntax/EmbeddedDiagnostic.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/EmbeddedSyntax/EmbeddedSeparatedSyntaxNodeList.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/EmbeddedSyntax/EmbeddedSyntaxHelpers.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/EmbeddedSyntax/EmbeddedSyntaxToken.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/MvcDetector.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/RoutePatternParametersDetector.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/RoutePatternUsageDetector.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/RouteStringSyntaxDetector.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePattern/RoutePatternHelpers.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePattern/RoutePatternLexer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePattern/RoutePatternParser.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePattern/RoutePatternTree.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternCompletionProvider.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternHighlighter.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/DetectMismatchedParameterOptionality.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/DisallowMvcBindArgumentsOnParameters.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/RouteHandlerAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/WebApplicationBuilder/WebApplicationBuilderAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/Http/HeaderDictionaryAddFixer.cs
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/Http/HeaderDictionaryIndexerFixer.cs
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/Microsoft.AspNetCore.App.CodeFixes.csproj
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/RouteParameterUnusedParameterFixer.cs
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/WebApplicationBuilderFixer.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteEmbeddedLanguage/RoutePatternParserTests_BasicTests.cs
  src/Shared/Roslyn/CodeAnalysisExtensions.cs
Labels: area-web-frameworks

#45472 Remove framework boxing in Minimal when writing Json
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
Labels: Perf, area-runtime, area-web-frameworks

#45436 gRPC JSON transcoding: Resolve all descriptors from registry
  src/Grpc/JsonTranscoding/perf/Microsoft.AspNetCore.Grpc.Microbenchmarks/Json/JsonReading.cs
  src/Grpc/JsonTranscoding/perf/Microsoft.AspNetCore.Grpc.Microbenchmarks/Json/JsonWriting.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/DescriptorRegistry.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/AnyConverter.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/EnumConverter.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/JsonConverterFactoryForWellKnownTypes.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/JsonConverterFactoryForWrappers.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/JsonConverterHelper.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/MessageTypeInfoResolver.cs
  src/Grpc/JsonTranscoding/src/Shared/ServiceDescriptorHelpers.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.IntegrationTests/Infrastructure/DynamicGrpcServiceRegistry.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/ConverterTests/JsonConverterReadTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/ConverterTests/JsonConverterWriteTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/Infrastructure/TestHelpers.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/ServerStreamingServerCallHandlerTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/UnaryServerCallHandlerTests.cs
Labels: area-grpc

#42754 Cleanup Mvc Analyzers
  src/Mvc/Mvc.Analyzers/src/AttributesShouldNotBeAppliedToPageModelAnalyzer.cs
  src/Mvc/Mvc.Analyzers/src/AvoidHtmlPartialAnalyzer.cs
  src/Mvc/Mvc.Analyzers/src/TagHelpersInCodeBlocksAnalyzer.cs
  src/Mvc/Mvc.Analyzers/src/TopLevelParameterNameAnalyzer.cs
  src/Mvc/Mvc.Analyzers/src/ViewFeatureAnalyzerBase.cs
  src/Mvc/Mvc.Api.Analyzers/src/ActualApiResponseMetadataFactory.cs
  src/Mvc/Mvc.Api.Analyzers/src/AddResponseTypeAttributeCodeFixProvider.cs
  src/Mvc/Mvc.Api.Analyzers/src/ApiActionsDoNotRequireExplicitModelValidationCheckAnalyzer.cs
  src/Mvc/Mvc.Api.Analyzers/src/ApiActionsDoNotRequireExplicitModelValidationCodeFixProvider.cs
  src/Mvc/Mvc.Api.Analyzers/src/ApiConventionAnalyzer.cs
Labels: community-contribution, area-web-frameworks

#45467 Fix scheme nullability in link generation methods
  src/Http/Routing.Abstractions/src/LinkGenerator.cs
  src/Http/Routing.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Routing/src/DefaultLinkGenerator.cs
  src/Mvc/Mvc.Core/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Core/src/Routing/ControllerLinkGeneratorExtensions.cs
  src/Mvc/Mvc.Core/test/Routing/ControllerLinkGeneratorExtensionsTest.cs
Labels: area-mvc, community-contribution

#45480 Remove allocation of logger name from constructor of Renderer
  src/Components/Components/src/RenderTree/Renderer.Log.cs
  src/Components/Components/src/RenderTree/Renderer.cs
Labels: area-blazor

#45488 Fix SignInAsync docs to reference DefaultSignInScheme
  src/Http/Authentication.Abstractions/src/AuthenticationHttpContextExtensions.cs
Labels: area-runtime, community-contribution

#45412 [main] Use non-localized 8.0.x links in installer
  src/Installers/Windows/WindowsHostingBundle/1028/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1029/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1031/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1033/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1036/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1040/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1041/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1042/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1045/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1046/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1049/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1055/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/2052/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/3082/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/thm.wxl
Labels: area-infrastructure, feature-installers, feature-localization

#45253 [Hosting] Add {OriginalFormat} to start & stop log state objects
  src/Hosting/Hosting/src/Internal/HostingRequestFinishedLog.cs
  src/Hosting/Hosting/src/Internal/HostingRequestStartingLog.cs
  src/Hosting/Hosting/test/Internal/HostingRequestStartLogTests.cs
Labels: area-runtime, community-contribution

#45300 Vectorized HttpCharacters (and used IndexOfAnyValues in other places found)
  src/Components/Components/src/Routing/TemplateParser.cs
  src/Http/Routing/src/Patterns/RoutePatternFactory.cs
  src/Http/Routing/src/Patterns/RoutePatternParser.cs
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Shared/HttpSys/RequestProcessing/HeaderCollection.cs
  src/Shared/ServerInfrastructure/HttpCharacters.cs
Labels: Perf, blocked, area-runtime, community-contribution, blog-candidate

#45286 Code analyzer to detect if route parameters are parsable
  eng/Versions.props
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DiagnosticDescriptors.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/Bindability.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/Parsability.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/ParsabilityHelper.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/WellKnownTypes.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/FrameworkParametersCompletionProvider.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/RouteWellKnownTypes.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/SyntaxNodeExtensions.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/SyntaxTokenExtensions.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/VirtualChars/CSharpVirtualCharService.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/DisallowNonParsableComplexTypesOnParameters.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/RouteHandlerAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteHandlers/DisallowNonParsableComplexTypesOnParametersTest.cs
Labels: area-infrastructure

#45486 Analyzers: Cache route model and reuse in RouteHandlerAnalyzer
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/EmbeddedSyntax/EmbeddedDiagnostic.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/EmbeddedSyntax/EmbeddedSeparatedSyntaxNodeList.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/EmbeddedSyntax/EmbeddedSyntaxHelpers.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/EmbeddedSyntax/EmbeddedSyntaxNode.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/EmbeddedSyntax/EmbeddedSyntaxNodeOrToken.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/EmbeddedSyntax/EmbeddedSyntaxToken.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/EmbeddedSyntax/EmbeddedSyntaxTree.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/EmbeddedSyntax/EmbeddedSyntaxTrivia.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/EmbeddedSyntax/README.md
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/RoutePattern/IRoutePatternNodeVisitor.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/RoutePattern/RoutePatternHelpers.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/RoutePattern/RoutePatternKind.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/RoutePattern/RoutePatternLexer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/RoutePattern/RoutePatternNode.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/RoutePattern/RoutePatternNodes.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/RoutePattern/RoutePatternParser.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/RoutePattern/RoutePatternTree.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/RouteUsageCache.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/RouteUsageModel.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/VirtualChars/AbstractVirtualCharService.ITextInfo.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/VirtualChars/AbstractVirtualCharService.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/VirtualChars/CSharpVirtualCharService.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/VirtualChars/IVirtualCharService.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/VirtualChars/README.md
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/VirtualChars/RuneExtensions.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/VirtualChars/System.Text/Rune.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/VirtualChars/System.Text/UnicodeDebug.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/VirtualChars/System.Text/UnicodeUtility.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/VirtualChars/System.Text/Utf16Utility.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/VirtualChars/TextLineExtensions.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/VirtualChars/VirtualChar.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/VirtualChars/VirtualCharSequence.Chunks.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/VirtualChars/VirtualCharSequence.Enumerator.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/VirtualChars/VirtualCharSequence.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/WellKnownTypes.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/FrameworkParametersCompletionProvider.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/RoutePatternParametersDetector.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/RouteUsageDetector.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternBraceMatcher.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternClassifier.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternCompletionProvider.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternHighlighter.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/DetectMismatchedParameterOptionality.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/DetectMisplacedLambdaAttribute.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/DisallowNonParsableComplexTypesOnParameters.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/RouteHandlerAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/RouteParameterUnusedParameterFixer.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteEmbeddedLanguage/RoutePatternParserTests.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteEmbeddedLanguage/RoutePatternParserTests_ConformanceTests.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteHandlers/DetectMismatchedParameterOptionalityTest.cs
Labels: area-infrastructure, area-web-frameworks

#45198 Support `sub` as `ExternalLoginInfo.ProviderKey`
  src/Identity/Core/src/SignInManager.cs
  src/Identity/test/Identity.Test/SignInManagerTest.cs
Labels: area-identity, community-contribution

#42576 CreatedResult should accept null location
  src/Http/Http.Results/src/Created.cs
  src/Http/Http.Results/src/CreatedOfT.cs
  src/Http/Http.Results/src/PublicAPI.Unshipped.txt
  src/Http/Http.Results/src/Results.cs
  src/Http/Http.Results/src/TypedResults.cs
  src/Http/Http.Results/test/ResultsTests.cs
  src/Http/Http.Results/test/TypedResultsTests.cs
  src/Mvc/Mvc.Core/src/ControllerBase.cs
  src/Mvc/Mvc.Core/src/CreatedResult.cs
  src/Mvc/Mvc.Core/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Core/test/ControllerBaseTest.cs
  src/Mvc/Mvc.Core/test/CreatedResultTests.cs
  src/Mvc/Mvc.ViewFeatures/test/ControllerUnitTestabilityTests.cs
Labels: community-contribution, area-web-frameworks

#45496 Run code analysis on generated code to support Razor routes
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternAnalyzer.cs
Labels: area-infrastructure, area-web-frameworks

#44832 Add transport selector interface to Kestrel sockets and QUIC transports
  src/Servers/Kestrel/Transport.Quic/src/QuicTransportFactory.cs
  src/Servers/Kestrel/Transport.Quic/test/WebHostTests.cs
  src/Servers/Kestrel/Transport.Sockets/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Transport.Sockets/src/SocketTransportFactory.cs
Labels: area-runtime

#44656 Route tooling: Support component routes
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/EmbeddedSyntax/EmbeddedSyntaxHelpers.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/RoutePattern/RoutePatternLexer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/RoutePattern/RoutePatternOptions.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/RoutePattern/RoutePatternParser.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/RouteUsageCache.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/FrameworkParametersCompletionProvider.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/RouteStringSyntaxDetectorDocument.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/RouteUsageDetector.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternClassifier.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternCompletionProvider.cs
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/DetectMismatchedParameterOptionalityFixer.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteEmbeddedLanguage/RoutePatternParserTests.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteEmbeddedLanguage/RoutePatternParserTests_ComponentsTests.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteEmbeddedLanguage/RoutePatternParserTests_ReplacementTests.cs
  src/Framework/AspNetCoreAnalyzers/test/TestDiagnosticAnalyzer.cs
Labels: area-infrastructure, area-blazor

#45541 Improved rate limiting tests
  src/Middleware/Middleware.slnf
  src/Middleware/RateLimiting/test/RateLimiterEndpointConventionBuilderExtensionsTests.cs
  src/Middleware/RateLimiting/test/RateLimitingMiddlewareTests.cs
  src/Middleware/RateLimiting/test/TestEndpointBuilder.cs
Labels: area-runtime, community-contribution

#45169 [TS Client] Fix CompletionMessage result when passing false or null
  src/SignalR/clients/ts/signalr-protocol-msgpack/src/MessagePackHubProtocol.ts
  src/SignalR/clients/ts/signalr-protocol-msgpack/tests/MessagePackHubProtocol.test.ts
Labels: area-signalr, signalr-client-javascript

#45562 Correct XML Doc spelling mistake
  src/Security/Authentication/OpenIdConnect/src/Events/AuthenticationFailedContext.cs
Labels: area-security, community-contribution

#45572 Fix support for parameter names sourced from attributes
  src/OpenApi/src/OpenApiGenerator.cs
  src/OpenApi/test/OpenApiGeneratorTests.cs
Labels: area-web-frameworks

#45573 Try running Diagnostics.FunctionalTests in Helix
  src/Middleware/Diagnostics/test/FunctionalTests/Diagnostics.FunctionalTests.csproj
Labels: area-runtime

#45575 remove duplicate null check
  src/Components/Components/src/PersistentComponentState.cs
Labels: area-blazor, community-contribution

#45251 Reimplement the default object pool for improved performance
  src/ObjectPool/perf/Microbenchmarks/DrainRefillMultiTheaded.cs
  src/ObjectPool/perf/Microbenchmarks/DrainRefillSingleThreaded.cs
  src/ObjectPool/perf/Microbenchmarks/Foo.cs
  src/ObjectPool/perf/Microbenchmarks/GetReturnMultiThreaded.cs
  src/ObjectPool/perf/Microbenchmarks/GetReturnSingleThreaded.cs
  src/ObjectPool/perf/Microbenchmarks/Microsoft.Extensions.ObjectPool.Microbenchmark.csproj
  src/ObjectPool/perf/Microbenchmarks/README.md
  src/ObjectPool/src/DefaultObjectPool.cs
  src/ObjectPool/src/DisposableObjectPool.cs
Labels: Perf, area-runtime, community-contribution

#45611 [blazor] remove custom loader for .wasm file
  src/Components/Web.JS/@types/dotnet/dotnet.d.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
Labels: area-blazor

#44290 Update documentation for default CookieBuilder options
  src/Antiforgery/src/AntiforgeryOptions.cs
  src/Http/Http.Abstractions/src/CookieBuilder.cs
  src/Middleware/Session/src/SessionOptions.cs
  src/Mvc/Mvc.ViewFeatures/src/CookieTempDataProviderOptions.cs
  src/Security/Authentication/Cookies/src/CookieAuthenticationOptions.cs
  src/Security/Authentication/Core/src/RemoteAuthenticationOptions.cs
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectOptions.cs
  src/Security/Authentication/Twitter/src/TwitterOptions.cs
  src/Security/CookiePolicy/src/CookiePolicyOptions.cs
Labels: Docs, area-security

#45466 Remove obsolete classes
  src/Servers/IIS/IIS/src/Core/IISServerAuthenticationHandler.cs
  src/Servers/IIS/IIS/src/Core/ThrowingWasUpgradedWriteOnlyStream.cs
  src/Servers/IIS/IIS/src/Core/WriteOnlyStream.cs
  src/Servers/IIS/IIS/src/PublicAPI.Unshipped.txt
Labels: area-runtime, community-contribution

#45529 Harden IPv6Any error handling
  src/Servers/Kestrel/Core/src/AnyIPListenOptions.cs
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/shared/test/ServerRetryHelper.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3TlsTests.cs
Labels: area-runtime

#45587 Add support for {**catch-all routes} in Blazor
  src/Components/Components/src/Routing/TemplateSegment.cs
  src/Components/Components/test/Routing/TemplateParserTests.cs
Labels: area-blazor

#45616 Add a default value for SpaProxyKeepRunning
  src/Middleware/Spa/SpaProxy/src/build/Microsoft.AspNetCore.SpaProxy.targets
Labels: area-runtime

#44925 Bump SDK to 8.0.100-alpha.1.22616.4
  global.json
  src/Components/WebAssembly/WebAssembly/src/HotReload/HotReloadAgent.cs
  src/Servers/IIS/IIS/test/IIS.Tests/MaxRequestBodySizeTests.cs
Labels: area-infrastructure

#45631 [Servers] Fix test broken by Hosting log message format change
  src/Servers/test/FunctionalTests/HelloWorldTest.cs
Labels: area-runtime, community-contribution

#45647 Fix documentation comments typo in Twitter authentication.
  src/Security/Authentication/Twitter/src/TwitterExtensions.cs
Labels: area-security, community-contribution

#45664 Don't set the status code if the response has started
  src/Http/Http/src/Builder/ApplicationBuilder.cs
  src/Http/Http/test/ApplicationBuilderTests.cs
Labels: area-runtime

#45677 PR feedback
  src/Http/Http/src/Builder/ApplicationBuilder.cs
Labels: area-runtime

#45646 [AOT] Fixing the problems with ProblemDetails
  src/Http/Http.Abstractions/src/ProblemDetails/ProblemDetails.cs
  src/Http/Http.Abstractions/test/HttpValidationProblemDetailsJsonConverterTest.cs
  src/Http/Http.Extensions/src/DefaultProblemDetailsWriter.cs
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/DeveloperExceptionPageMiddlewareImpl.cs
  src/Middleware/Diagnostics/test/FunctionalTests/DeveloperExceptionPageSampleTest.cs
  src/Mvc/Mvc.Core/test/Infrastructure/ValidationProblemDetailsJsonConverterTest.cs
  src/Shared/ProblemDetails/HttpValidationProblemDetailsJsonConverter.cs
  src/Shared/ProblemDetails/ProblemDetailsJsonConverter.cs
Labels: area-web-frameworks

#44426 Add Kestrel named pipes transport
  AspNetCore.sln
  eng/ProjectReferences.props
  eng/SharedFramework.Local.props
  eng/TrimmableProjects.props
  src/Framework/test/TestData.cs
  src/Http/Http/src/BindingAddress.cs
  src/Http/Http/src/PublicAPI.Unshipped.txt
  src/Servers/Connections.Abstractions/src/Features/IConnectionNamedPipeFeature.cs
  src/Servers/Connections.Abstractions/src/NamedPipeEndPoint.cs
  src/Servers/Connections.Abstractions/src/PublicAPI/net462/PublicAPI.Unshipped.txt
  src/Servers/Connections.Abstractions/src/PublicAPI/net8.0/PublicAPI.Unshipped.txt
  src/Servers/Connections.Abstractions/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/Servers/Connections.Abstractions/src/PublicAPI/netstandard2.1/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Core/src/Internal/AddressBinder.cs
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Servers/Kestrel/Core/src/ListenOptions.cs
  src/Servers/Kestrel/Core/src/Properties/AssemblyInfo.cs
  src/Servers/Kestrel/Core/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Core/test/AddressBinderTests.cs
  src/Servers/Kestrel/Core/test/KestrelServerTests.cs
  src/Servers/Kestrel/Kestrel.slnf
  src/Servers/Kestrel/Kestrel/src/Microsoft.AspNetCore.Server.Kestrel.csproj
  src/Servers/Kestrel/Kestrel/src/WebHostBuilderKestrelExtensions.cs
  src/Servers/Kestrel/Kestrel/test/WebHostBuilderKestrelExtensionsTests.cs
  src/Servers/Kestrel/Transport.NamedPipes/src/Internal/NamedPipeConnection.cs
  src/Servers/Kestrel/Transport.NamedPipes/src/Internal/NamedPipeConnectionListener.cs
  src/Servers/Kestrel/Transport.NamedPipes/src/Internal/NamedPipeLog.cs
  src/Servers/Kestrel/Transport.NamedPipes/src/Internal/NamedPipeTransportFactory.cs
  src/Servers/Kestrel/Transport.NamedPipes/src/Microsoft.AspNetCore.Server.Kestrel.Transport.NamedPipes.csproj
  src/Servers/Kestrel/Transport.NamedPipes/src/NamedPipeTransportOptions.cs
  src/Servers/Kestrel/Transport.NamedPipes/src/PublicAPI.Shipped.txt
  src/Servers/Kestrel/Transport.NamedPipes/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Transport.NamedPipes/src/WebHostBuilderNamedPipeExtensions.cs
  src/Servers/Kestrel/Transport.NamedPipes/test/Microsoft.AspNetCore.Server.Kestrel.Transport.NamedPipes.Tests.csproj
  src/Servers/Kestrel/Transport.NamedPipes/test/NamedPipeConnectionListenerTests.cs
  src/Servers/Kestrel/Transport.NamedPipes/test/NamedPipeConnectionTests.cs
  src/Servers/Kestrel/Transport.NamedPipes/test/NamedPipeTestHelpers.cs
  src/Servers/Kestrel/Transport.NamedPipes/test/WebHostTests.cs
  src/Servers/Kestrel/shared/test/TransportTestHelpers/TestServer.cs
Labels: area-runtime, blog-candidate

#45722 Add support for TLS to Kestrel on macOS
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/Program.cs
  src/ProjectTemplates/test/Templates.Tests/GrpcTemplateTest.cs
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/TlsAlpn.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Servers/Kestrel/Kestrel/test/KestrelConfigurationLoaderTests.cs
  src/Servers/Kestrel/Transport.NamedPipes/test/Microsoft.AspNetCore.Server.Kestrel.Transport.NamedPipes.Tests.csproj
  src/Servers/Kestrel/Transport.NamedPipes/test/WebHostTests.cs
  src/Servers/Kestrel/shared/test/TransportTestHelpers/TlsAlpnSupportedAttribute.cs
  src/Servers/Kestrel/test/FunctionalTests/Http2/HandshakeTests.cs
  src/Servers/Kestrel/test/FunctionalTests/Http2/ShutdownTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/EventSourceTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/TlsTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/InMemory.FunctionalTests.csproj
  src/Servers/Kestrel/test/Interop.FunctionalTests/ChromeTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Interop.FunctionalTests.csproj
  src/Servers/Kestrel/test/Interop.FunctionalTests/Utilities.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubConnectionTests.cs
Labels: area-runtime, blog-candidate

#45720 Resolve parameter name with FromRouteAttribute in tooling
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/WellKnownTypes.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/RoutePatternParametersDetector.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/RouteUsageDetector.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/SymbolExtensions.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternCompletionProvider.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternHighlighter.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteEmbeddedLanguage/RoutePatternAnalyzerTests.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteEmbeddedLanguage/RoutePatternCompletionProviderTests.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteEmbeddedLanguage/RoutePatternHighlighterTests.cs
Labels: area-infrastructure, area-web-frameworks

#45158 DefaultProblemDetailsWriter.CanWrite without Accept header
  src/Http/Http.Extensions/src/DefaultProblemDetailsWriter.cs
  src/Http/Http.Extensions/test/ProblemDetailsDefaultWriterTest.cs
  src/Middleware/Diagnostics/test/FunctionalTests/StatusCodeSampleTest.cs
Labels: area-web-frameworks

#45737 Update Helix.Common.props
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#45778 Fix ReasonPhrases doc reference
  src/Http/Http.Abstractions/src/StatusCodes.cs
Labels: area-runtime, community-contribution

#45789 Unquarantine OnAuthenticate_Available_Throws
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3TlsTests.cs
Labels: area-runtime

#45784 Updated the ownership of the Mvc area path
  .github/CODEOWNERS
Labels: area-infrastructure
