Repository dotnet/aspnetcore, pull requests merged in 2023-08, with the labels that each got.

#49764 Use Https instead of Http in InstallNode scripts
  eng/helix/content/InstallNode.ps1
  eng/helix/content/installnode.sh
Labels: area-infrastructure

#49716 Fix Microsoft.Bcl.AsyncInterfaces references
  src/HealthChecks/HealthChecks/src/Microsoft.Extensions.Diagnostics.HealthChecks.csproj
  src/Servers/Connections.Abstractions/src/Microsoft.AspNetCore.Connections.Abstractions.csproj
Labels: area-infrastructure

#49353 Improve MVC and RazorPages debugging
  src/Http/Routing.Abstractions/src/RouteData.cs
  src/Http/Routing/src/DefaultLinkGenerator.cs
  src/Mvc/Mvc.Abstractions/src/ModelBinding/ModelStateDictionary.cs
  src/Mvc/Mvc.Core/src/ControllerBase.cs
  src/Mvc/Mvc.Core/src/ControllerContext.cs
  src/Mvc/Mvc.Core/src/Controllers/ControllerActionDescriptor.cs
  src/Mvc/Mvc.Core/src/Infrastructure/CopyOnWriteList.cs
  src/Mvc/Mvc.Core/src/Routing/EndpointRoutingUrlHelper.cs
  src/Mvc/Mvc.Core/src/Routing/UrlHelperFactory.cs
  src/Mvc/Mvc.Razor/src/RazorPageBase.cs
  src/Mvc/Mvc.Razor/src/RazorView.cs
  src/Mvc/Mvc.RazorPages/src/PageBase.cs
  src/Mvc/Mvc.RazorPages/src/PageContext.cs
  src/Mvc/Mvc.ViewFeatures/src/DynamicViewData.cs
  src/Mvc/Mvc.ViewFeatures/src/FormContext.cs
  src/Mvc/Mvc.ViewFeatures/src/Rendering/ViewContext.cs
  src/Mvc/Mvc.ViewFeatures/src/TempDataDictionary.cs
  src/Mvc/Mvc.ViewFeatures/src/ViewDataDictionary.cs
  src/Servers/Kestrel/Core/src/Internal/ServerAddressesCollection.cs
  src/Servers/Kestrel/Core/src/Internal/ServerAddressesFeature.cs
Labels: area-mvc, pending-ci-rerun

#48460 Introduce KestrelServerOptions.AllowUnsafeHostHeaderOverride
  src/Servers/Kestrel/Core/src/Internal/Http/Http1Connection.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Servers/Kestrel/Core/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/test/InMemory.FunctionalTests/BadHttpRequestTests.cs
Labels: area-networking

#49395 [wasm][debugger] Support NO_PROXY": "localhost" in launchSettings.json
  src/Components/WebAssembly/Server/src/DebugProxyLauncher.cs
Labels: area-blazor, pending-ci-rerun

#49249 Support for X-Forwarded-Prefix in ForwardedHeadersMiddleware
  src/Middleware/HttpOverrides/src/ForwardedHeaders.cs
  src/Middleware/HttpOverrides/src/ForwardedHeadersDefaults.cs
  src/Middleware/HttpOverrides/src/ForwardedHeadersMiddleware.cs
  src/Middleware/HttpOverrides/src/ForwardedHeadersOptions.cs
  src/Middleware/HttpOverrides/src/PublicAPI.Unshipped.txt
  src/Middleware/HttpOverrides/test/ForwardedHeadersMiddlewareTest.cs
Labels: area-runtime, community-contribution, pending-ci-rerun

#49700 Remove standard keyword
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorClassLibrary-CSharp/.template.config/template.json
Labels: area-mvc, community-contribution

#49732 Re-run routing for implicit middlewares that require endpoints
  src/Antiforgery/src/AntiforgeryApplicationBuilderExtensions.cs
  src/Antiforgery/src/Microsoft.AspNetCore.Antiforgery.csproj
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Security/Authentication/Core/src/AuthAppBuilderExtensions.cs
  src/Security/Authentication/Core/src/Microsoft.AspNetCore.Authentication.csproj
  src/Security/Authorization/Policy/src/AuthorizationAppBuilderExtensions.cs
  src/Security/Authorization/Policy/src/Microsoft.AspNetCore.Authorization.Policy.csproj
Labels: area-security, area-minimal, area-middleware

#49787 Unquarantine WebSocket_Abort_Interrupts_Pending_ReceiveAsync
  src/Middleware/WebSockets/test/UnitTests/WebSocketMiddlewareTests.cs
Labels: area-runtime, area-middleware

#49779 Update branding to 7.0.11
  eng/Versions.props
Labels: area-infrastructure

#49796 Dispose CancellationTokenSource
  src/Middleware/Spa/SpaServices.Extensions/src/AngularCli/AngularCliMiddleware.cs
Labels: area-runtime, community-contribution

#49778 Update branding to 6.0.22
  eng/Versions.props
Labels: area-infrastructure

#49811 Fix IIS test build
  src/Servers/IIS/build/testsite.props
Labels: area-runtime

#49729 Add Keyed DI support to SignalR
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/Core/src/Internal/HubMethodDescriptor.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTestUtils/Hubs.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-signalr

#49786 Unquarantine UnauthorizedDirectWebSocketsConnectionDoesNotConnect
  src/SignalR/server/SignalR/test/EndToEndTests.cs
Labels: area-signalr

#49805 [RDG] Fix mismatched nullability for structs and HTTP method whitespace
  src/Http/Http.Extensions/gen/RequestDelegateGeneratorSources.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Model/EndpointParameterExtensions.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/VerifyAsParametersBaseline.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.AsParameters.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.BindAsync.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/SharedTypes.cs
Labels: feature-rdg, area-minimal

#49367 [release/6.0] Move to MacOS 13
  eng/targets/Helix.Common.props
  src/Identity/test/Identity.Test/IdentityUIScriptsTest.cs
Labels: area-infrastructure, tell-mode

#49802 Add VS Feedback link to bug report template list
  .github/ISSUE_TEMPLATE/config.yml
Labels: area-infrastructure

#49696 Improve ANCM file watcher thread management
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/filewatcher.cpp
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/filewatcher.h
Labels: feature-iis, area-networking

#49843 Update Nuget reference (by updating CodeAnalysis)
  eng/Versions.props
  src/Framework/AspNetCoreAnalyzers/test/Verifiers/CSharpCodeFixVerifier.cs
Labels: area-infrastructure

#49813 Update template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/.template.config/template.json
Labels: area-mvc

#49747 Rename Kestrel metrics to be consistent with OpenTelemetry
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2StreamOfT.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3StreamOfT.cs
  src/Servers/Kestrel/Core/src/Internal/HttpConnection.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelMetrics.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpMultiplexedConnectionMiddleware.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ConnectionLimitTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/KestrelMetricsTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http2/Http2RequestTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
Labels: area-runtime

#49749 Rename rate limiting middleware metrics to be consistent with OpenTelemetry
  src/Middleware/RateLimiting/src/RateLimitingMetrics.cs
  src/Middleware/RateLimiting/test/RateLimitingMetricsTests.cs
Labels: area-middleware

#49766 Rename SignalR transport metrics to be consistent with OpenTelemetry
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionsMetrics.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
Labels: area-signalr

#49743 Rename hosting, routing and error handling metrics to be consistent with OpenTelemetry
  src/Hosting/Hosting/src/Internal/HostingApplicationDiagnostics.cs
  src/Hosting/Hosting/src/Internal/HostingMetrics.cs
  src/Hosting/Hosting/test/HostingApplicationDiagnosticsTests.cs
  src/Hosting/Hosting/test/HostingMetricsTests.cs
  src/Http/Routing/src/RoutingMetrics.cs
  src/Http/Routing/test/UnitTests/RoutingMetricsTests.cs
  src/Middleware/Diagnostics/src/DiagnosticsMetrics.cs
  src/Middleware/Diagnostics/src/DiagnosticsTelemetry.cs
  src/Middleware/Diagnostics/test/UnitTests/DeveloperExceptionPageMiddlewareTest.cs
  src/Middleware/Diagnostics/test/UnitTests/ExceptionHandlerMiddlewareTest.cs
  src/Middleware/Diagnostics/test/UnitTests/ExceptionHandlerTest.cs
  src/Middleware/Middleware.slnf
Labels: area-hosting

#49875 Tweak configuration of JsonSerializerOptions
  src/Http/Http.Extensions/gen/RequestDelegateGeneratorSources.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointJsonPreparationEmitter.cs
  src/Http/Http.Extensions/src/JsonOptions.cs
  src/Http/Http.Extensions/test/JsonOptionsTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/HandlesEndpointsWithAndWithoutDiagnostics.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_BindAsync_NullableReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_BindAsync_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitBodyParam_ComplexReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_ComplexTypeArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_NullableStringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_StringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_ComplexTypeArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_NullableStringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_StringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitServiceParam_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitSource_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_ComplexTypeArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam_EmptyQueryValues.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam_QueryNotPresent.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_StringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_JsonBodyOrService_HandlesBothJsonAndService.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleSpecialTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleStringParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_NoParam_StringReturn_WithFilter.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ReturnsString_Has_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ReturnsTodo_Has_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ReturnsValidationProblemResult_Has_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ReturnsVoid_Has_No_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleComplexTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleEnumParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleNullableStringParam_WithEmptyQueryStringValueProvided_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_TakesCustomMetadataEmitter_Has_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_Get_WithArrayQueryString_AndBody_ShouldUseQueryString.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_PostAndGet_WithArrayQueryString_AndBody_ShouldUseQueryString.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_PostAndPut_WithArrayQueryString_AndBody_ShouldUseBody.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_Post_WithArrayQueryString_AndBody_ShouldUseBody.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapPost_WithArrayQueryString_AndBody_ShouldUseBody.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapPost_WithArrayQueryString_ShouldFail.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_NoParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_WithParams_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/RequestDelegateValidateGeneratedFormCode.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/SupportsDifferentInterceptorsFromSameLocation.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/SupportsSameInterceptorsFromDifferentFiles.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/VerifyAsParametersBaseline.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/CompileTimeCreationTests.cs
  src/Mvc/Mvc.Core/src/Formatters/SystemTextJsonOutputFormatter.cs
  src/Mvc/Mvc.Core/src/JsonOptions.cs
  src/Mvc/Mvc.Core/test/Formatters/SystemTextJsonOutputFormatterTest.cs
  src/Mvc/Mvc.Core/test/JsonOptionsTest.cs
  src/Shared/Json/JsonSerializerExtensions.cs
Labels: area-mvc, area-minimal

#49872 Update NuGet
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#49846 Don't pack Microsoft.Aspnetcore.Testing
  src/Testing/src/Microsoft.AspNetCore.Testing.csproj
Labels: area-infrastructure

#49861 Improve debugger display in Microsoft.AspNetCore.Http
  src/Http/Http.Abstractions/src/HttpResponse.cs
  src/Http/Http/src/HeaderDictionary.cs
  src/Http/Http/test/DefaultHttpContextTests.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.cs
  src/Shared/Debugger/HttpContextDebugFormatter.cs
Labels: area-runtime

#49337 Return LockedOut from TwoFactorSignInAsync
  src/Identity/Core/src/SignInManager.cs
  src/Identity/test/Identity.Test/SignInManagerTest.cs
Labels: area-identity, community-contribution, pending-ci-rerun

#49860 Support view buffer-based rendering in Blazor
  src/Components/Endpoints/src/RazorComponentEndpointInvoker.cs
  src/Components/Endpoints/src/Rendering/ViewBufferTextWriter/MemoryPoolViewBuffer.cs
  src/Components/Endpoints/src/Rendering/ViewBufferTextWriter/MemoryPoolViewBufferScope.cs
  src/Components/Endpoints/src/Rendering/ViewBufferTextWriter/ViewBufferPage.cs
  src/Components/Endpoints/src/Rendering/ViewBufferTextWriter/ViewBufferTextWriter.cs
  src/Components/Endpoints/src/Rendering/ViewBufferTextWriter/ViewBufferValue.cs
  src/Components/test/E2ETest/ServerRenderingTests/RenderingTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/StreamingRenderingTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Components/NotEnabledStreamingRenderingComponent.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Rendering/LargeComponent.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Rendering/LargeHtml.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/StreamingRendering/LargeStreamRendering.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Shared/EnhancedNavLayout.razor
Labels: area-blazor

#49922 Merging internal commits for release/2.1
  eng/PatchConfig.props
  src/Middleware/WebSockets/test/UnitTests/Microsoft.AspNetCore.WebSockets.Tests.csproj
  src/Servers/Kestrel/Kestrel/src/Microsoft.AspNetCore.Server.Kestrel.csproj
  src/Servers/Kestrel/Kestrel/test/Microsoft.AspNetCore.Server.Kestrel.Tests.csproj
  src/Servers/Kestrel/Transport.Libuv/src/Internal/ILibuvTrace.cs
  src/Servers/Kestrel/Transport.Libuv/src/Internal/LibuvConnection.cs
  src/Servers/Kestrel/Transport.Libuv/src/Internal/LibuvTrace.cs
  src/Servers/Kestrel/Transport.Libuv/src/Internal/LibuvTransport.cs
  src/Servers/Kestrel/Transport.Libuv/src/Internal/ListenerContext.cs
  src/Servers/Kestrel/Transport.Libuv/src/Internal/ListenerPrimary.cs
  src/Servers/Kestrel/Transport.Libuv/src/Internal/Networking/LibuvFunctions.cs
  src/Servers/Kestrel/Transport.Libuv/src/LibuvTransportOptions.cs
  src/Servers/Kestrel/Transport.Libuv/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv.csproj
  src/Servers/Kestrel/Transport.Libuv/src/Properties/AssemblyInfo.cs
  src/Servers/Kestrel/Transport.Libuv/test/ListenerPrimaryTests.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/ISocketsTrace.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketsTrace.cs
  src/Servers/Kestrel/Transport.Sockets/src/Properties/AssemblyInfo.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketTransport.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketTransportFactory.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketTransportOptions.cs
  src/Servers/Kestrel/test/FunctionalTests/HttpsTests.cs
  src/Servers/Kestrel/test/FunctionalTests/RequestTests.cs
  src/Servers/Kestrel/test/FunctionalTests/ResponseTests.cs
  src/Servers/Kestrel/test/FunctionalTests/TestHelpers/FinOnErrorHelpers.cs
  src/Servers/Kestrel/test/FunctionalTests/TestHelpers/TestServer.cs
  src/SignalR/common/testassets/Tests.Utils/TestConnectionMultiplexer.cs
  src/SignalR/server/Redis/src/Internal/RedisChannels.cs
  src/SignalR/server/Redis/src/RedisHubLifetimeManager.cs
  src/SignalR/server/Redis/test/RedisEndToEnd.cs
  src/SignalR/server/Redis/test/RedisHubLifetimeManagerTests.cs
Labels: area-runtime

#49923 Merging internal commits for release/6.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  src/Servers/IIS/IIS/test/Common.FunctionalTests/ShutdownTests.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Servers/Kestrel/Transport.Libuv/src/Internal/ILibuvTrace.cs
  src/Servers/Kestrel/Transport.Libuv/src/Internal/LibuvConnection.cs
  src/Servers/Kestrel/Transport.Libuv/src/Internal/LibuvConnectionListener.cs
  src/Servers/Kestrel/Transport.Libuv/src/Internal/LibuvTrace.cs
  src/Servers/Kestrel/Transport.Libuv/src/Internal/ListenerContext.cs
  src/Servers/Kestrel/Transport.Libuv/src/Internal/ListenerPrimary.cs
  src/Servers/Kestrel/Transport.Libuv/src/LibuvTransportOptions.cs
  src/Servers/Kestrel/Transport.Libuv/test/ListenerPrimaryTests.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/ISocketsTrace.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketsTrace.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketConnectionContextFactory.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketConnectionFactoryOptions.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketTransportOptions.cs
  src/Servers/Kestrel/shared/test/StreamBackedTestConnection.cs
  src/Servers/Kestrel/shared/test/TransportTestHelpers/TestServer.cs
  src/Servers/Kestrel/test/FunctionalTests/Http2/ShutdownTests.cs
  src/Servers/Kestrel/test/FunctionalTests/RequestTests.cs
  src/Servers/Kestrel/test/FunctionalTests/ResponseTests.cs
  src/SignalR/server/StackExchangeRedis/src/Internal/RedisChannels.cs
  src/SignalR/server/StackExchangeRedis/src/RedisHubLifetimeManager.cs
  src/SignalR/server/StackExchangeRedis/test/RedisEndToEnd.cs
  src/SignalR/server/StackExchangeRedis/test/RedisHubLifetimeManagerTests.cs
  src/SignalR/server/StackExchangeRedis/test/TestConnectionMultiplexer.cs
Labels: area-infrastructure, area-runtime

#49925 Merging internal commits for release/7.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  src/Servers/IIS/IIS/test/Common.LongTests/ShutdownTests.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketsLog.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketConnectionContextFactory.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketConnectionFactoryOptions.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketTransportOptions.cs
  src/Servers/Kestrel/shared/test/StreamBackedTestConnection.cs
  src/Servers/Kestrel/shared/test/TransportTestHelpers/TestServer.cs
  src/Servers/Kestrel/test/FunctionalTests/Http2/ShutdownTests.cs
  src/Servers/Kestrel/test/FunctionalTests/RequestTests.cs
  src/Servers/Kestrel/test/FunctionalTests/ResponseTests.cs
  src/SignalR/server/StackExchangeRedis/src/Internal/RedisChannels.cs
  src/SignalR/server/StackExchangeRedis/src/RedisHubLifetimeManager.cs
  src/SignalR/server/StackExchangeRedis/test/RedisEndToEnd.cs
  src/SignalR/server/StackExchangeRedis/test/RedisHubLifetimeManagerTests.cs
  src/SignalR/server/StackExchangeRedis/test/TestConnectionMultiplexer.cs
Labels: area-infrastructure, area-runtime

#49927 Forcibly close socket on abort
  src/Servers/IIS/IIS/test/Common.LongTests/ShutdownTests.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketsLog.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketConnectionContextFactory.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketConnectionFactoryOptions.cs
  src/Servers/Kestrel/Transport.Sockets/src/SocketTransportOptions.cs
  src/Servers/Kestrel/shared/test/StreamBackedTestConnection.cs
  src/Servers/Kestrel/shared/test/TransportTestHelpers/TestServer.cs
  src/Servers/Kestrel/test/FunctionalTests/Http2/ShutdownTests.cs
  src/Servers/Kestrel/test/FunctionalTests/RequestTests.cs
  src/Servers/Kestrel/test/FunctionalTests/ResponseTests.cs
Labels: area-infrastructure, area-runtime

#49879 Remove internal archives
  Directory.Build.props
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Installers/Windows/SharedFramework/SharedFramework.wixproj
  src/Installers/Windows/SharedFrameworkLib/SharedFrameworkLib.wixproj
Labels: area-infrastructure

#49858 [Blazor] Improve auto render mode selection strategy
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/src/Boot.Server.Common.ts
  src/Components/Web.JS/src/Boot.Server.ts
  src/Components/Web.JS/src/Boot.Web.ts
  src/Components/Web.JS/src/Boot.WebAssembly.Common.ts
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/Web.JS/src/Platform/Circuits/CircuitManager.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/Web.JS/src/Platform/Platform.ts
  src/Components/Web.JS/src/Platform/WebAssemblyComponentAttacher.ts
  src/Components/Web.JS/src/Services/ComponentDescriptorDiscovery.ts
  src/Components/Web.JS/src/Services/InitialRootComponentsList.ts
  src/Components/Web.JS/src/Services/RootComponentManager.ts
  src/Components/Web.JS/src/Services/WebRootComponentManager.ts
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/WebAssembly/WebAssembly/src/Services/IInternalJSImportMethods.cs
  src/Components/WebAssembly/WebAssembly/src/Services/InternalJSImportMethods.cs
  src/Components/WebAssembly/WebAssembly/test/TestInternalJSImportMethods.cs
  src/Components/test/E2ETest/ServerRenderingTests/InteractivityTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/App.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Components/InteractiveStreamingRenderingComponent.razor
Labels: area-blazor

#49935 Add support for options in form-binding and anti-forgery
  src/Http/Http.Abstractions/src/Metadata/FormMappingOptionsMetadata.cs
  src/Http/Http.Abstractions/src/Metadata/IFormOptionsMetadata.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.FormMapping.cs
  src/Http/Http/src/Features/FormFeature.cs
  src/Http/Http/src/Microsoft.AspNetCore.Http.csproj
  src/Http/Routing/perf/Microbenchmarks/EndpointRoutingShortCircuitBenchmark.cs
  src/Http/Routing/src/Builder/RoutingEndpointConventionBuilderExtensions.cs
  src/Http/Routing/src/EndpointRoutingMiddleware.cs
  src/Http/Routing/src/Internal/FormOptionsMetadata.cs
  src/Http/Routing/src/Internal/FormOptionsMetadataExtensions.cs
  src/Http/Routing/src/Microsoft.AspNetCore.Routing.csproj
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/test/FunctionalTests/MinimalFormTests.cs
  src/Http/Routing/test/UnitTests/Builder/EndpointRoutingApplicationBuilderExtensionsTest.cs
  src/Http/Routing/test/UnitTests/EndpointRoutingMiddlewareFormOptionsTest.cs
  src/Http/Routing/test/UnitTests/EndpointRoutingMiddlewareTest.cs
  src/Http/Routing/test/UnitTests/RoutingMetricsTests.cs
  src/Http/Routing/test/UnitTests/TestObjects/TestServiceProvider.cs
  src/Mvc/Mvc.Core/src/RequestFormLimitsAttribute.cs
  src/Mvc/test/Mvc.FunctionalTests/AntiforgeryMiddlewareTest.cs
  src/Mvc/test/Mvc.FunctionalTests/Microsoft.AspNetCore.Mvc.FunctionalTests.csproj
Labels: area-mvc, area-minimal

#49890 Fix some trim warnings in Components.Endpoints
  src/Components/Endpoints/src/Builder/ComponentTypeMetadata.cs
  src/Components/Endpoints/src/Builder/RazorComponentEndpointDataSource.cs
  src/Components/Endpoints/src/Builder/RazorComponentEndpointDataSourceFactory.cs
  src/Components/Endpoints/src/Builder/RazorComponentEndpointFactory.cs
  src/Components/Endpoints/src/Builder/RazorComponentsEndpointRouteBuilderExtensions.cs
  src/Components/Endpoints/src/Builder/RenderModeEndpointProvider.cs
  src/Components/Endpoints/src/Builder/RootComponentMetadata.cs
  src/Components/Endpoints/src/DependencyInjection/IComponentPrerenderer.cs
  src/Components/Endpoints/src/Discovery/PageComponentBuilder.cs
  src/Components/Endpoints/src/Discovery/PageComponentInfo.cs
  src/Components/Endpoints/src/Microsoft.AspNetCore.Components.Endpoints.csproj
  src/Components/Endpoints/src/RazorComponentEndpointHost.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Prerendering.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.cs
  src/Components/Endpoints/src/Rendering/SSRRenderModeBoundary.cs
  src/Components/Endpoints/src/Results/RazorComponentResult.cs
  src/Components/Endpoints/src/Results/RazorComponentResultExecutor.cs
  src/Components/Endpoints/src/Results/RazorComponentResultOfT.cs
Labels: area-blazor

#49942 Make stdout/stderr redirection thread timeout configurable
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/StandardStreamRedirection.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/StandardStreamRedirection.h
Labels: area-runtime

#49093 Add WithOrder to IEndpointConventionBuilder
  src/Http/Routing/src/Builder/RoutingEndpointConventionBuilderExtensions.cs
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/test/UnitTests/Builder/RoutingEndpointConventionBuilderExtensionsTest.cs
Labels: area-runtime, community-contribution, pending-ci-rerun

#49958 [Blazor] Fix WebView renderer not correctly dispatching browser events
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Platform/WebView/WebViewIpcReceiver.ts
  src/Components/Web.JS/src/Rendering/Renderer.ts
Labels: area-blazor

#49968 Quarantine `InteractivityTest.AutoRenderMode_UsesBlazorServerOnFirstLoad_ThenWebAssemblyOnSuccessiveLoads`
  src/Components/test/E2ETest/ServerRenderingTests/InteractivityTest.cs
Labels: area-infrastructure, area-blazor

#49944 Remove code handling cases where NSI API isn't supported
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/dllmain.cpp
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/serverprocess.cpp
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/stdafx.h
Labels: area-runtime

#49976 Quarantine CanRenderLargeComponentsWithServerRenderMode
  src/Components/test/E2ETest/ServerRenderingTests/RenderingTest.cs
Labels: area-blazor

#49768 Enable navigation when RenderModeServer
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Services/NavigationEnhancement.ts
  src/Components/Web.JS/src/Services/NavigationManager.ts
  src/Components/Web.JS/src/Services/NavigationUtils.ts
  src/Components/test/E2ETest/ServerRenderingTests/EnhancedNavigationTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/EnhancedNav/PageWithInteractiveComponentsThatNavigate.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Shared/EnhancedNavLayout.razor
  src/Components/test/testassets/TestContentPackage/InteractiveNavigationComponent.razor
Labels: area-blazor

#49969 Create transport package for API docs
  Directory.Build.props
  Directory.Build.targets
  eng/CodeGen.proj
  eng/RequiresDelayedBuildProjects.props
  eng/ShippingAssemblies.props
  eng/targets/ResolveReferences.targets
  src/Framework/App.Ref/src/CompatibilitySuppressions.xml
  src/Framework/App.Runtime/src/CompatibilitySuppressions.xml
  src/Framework/Microsoft.Internal.Aspnetcore.DotNetApiDocs.Transport/src/Microsoft.Internal.Aspnetcore.DotNetApiDocs.Transport.csproj
Labels: area-infrastructure

#49970 Add tests for null response scenarios to RDG
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/StaticRouteHandlerModel.Emitter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitBodyParam_ComplexReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ReturnsValidationProblemResult_Has_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_NoParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/CompileTimeCreationTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.Responses.cs
Labels: feature-rdg, area-minimal

#49996 Remove redundant semicolon
  src/Http/Http.Abstractions/test/ProblemDetailsJsonConverterTest.cs
Labels: area-mvc, community-contribution, feature-problem-details

#49897 Support NativeAOT in PropertySetter
  src/Components/Components/src/Reflection/PropertySetter.cs
  src/Components/Components/test/ParameterViewTest.Assignment.cs
Labels: area-blazor

#49938 Avoid Redis pattern matching
  src/SignalR/server/StackExchangeRedis/test/RedisEndToEnd.cs
  src/SignalR/server/StackExchangeRedis/test/RedisHubLifetimeManagerTests.cs
  src/SignalR/server/StackExchangeRedis/test/TestConnectionMultiplexer.cs
Labels: area-signalr

#49995 Fix a typo in EndpointRoutingApplicationBuilderExtensions
  src/Http/Routing/src/Builder/EndpointRoutingApplicationBuilderExtensions.cs
Labels: area-runtime

#49983 Add tests and fix exception handling in form binding
  src/Components/Endpoints/src/FormMapping/FormDataReader.cs
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.FormMapping.cs
Labels: area-minimal, feature-rdf

#50015 Clean up more of SERVER_PROCESS
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/serverprocess.cpp
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/serverprocess.h
Labels: area-runtime

#50013 Use pre-boxed values in diagnostics
  src/Http/Routing/src/RoutingMetrics.cs
  src/Mvc/Mvc.ViewFeatures/src/Diagnostics/MvcDiagnostics.cs
Labels: area-mvc

#49323 fix: Account for form attribute on checkbox tag input helper #49201
  src/Mvc/Mvc.TagHelpers/src/InputTagHelper.cs
  src/Mvc/Mvc.TagHelpers/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.TagHelpers/test/InputTagHelperTest.cs
Labels: area-mvc, community-contribution, pending-ci-rerun

#48277 explicitly identifying button type in QuickGrid columnbase
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Columns/ColumnBase.razor
Labels: area-blazor, community-contribution

#49979 Watch file-based certificates for changes
  eng/test-configuration.json
  src/Servers/Kestrel/Core/src/Internal/CertificatePathWatcher.cs
  src/Servers/Kestrel/Core/src/Internal/CertificatePathWatcherLoggerExtensions.cs
  src/Servers/Kestrel/Core/src/Internal/ConfigurationReader.cs
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Servers/Kestrel/Core/src/KestrelConfigurationLoader.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Servers/Kestrel/Core/test/CertificatePathWatcherTests.cs
  src/Servers/Kestrel/Core/test/KestrelServerTests.cs
  src/Servers/Kestrel/Core/test/Microsoft.AspNetCore.Server.Kestrel.Core.Tests.csproj
  src/Servers/Kestrel/Kestrel/test/KestrelConfigurationLoaderTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
Labels: area-runtime

#49964 Synchronize KestrelTrace next-id comments
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.BadRequests.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.Connections.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.General.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.Http2.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.Http3.cs
Labels: area-runtime

#49757 [Blazor] Manual reflection based page discovery
  src/Components/ComponentsNoDeps.slnf
  src/Components/Endpoints/src/Builder/ComponentTypeMetadata.cs
  src/Components/Endpoints/src/Builder/RazorComponentApplicationAttribute.cs
  src/Components/Endpoints/src/Builder/RazorComponentDataSourceOptions.cs
  src/Components/Endpoints/src/Builder/RazorComponentEndpointDataSource.cs
  src/Components/Endpoints/src/Builder/RazorComponentEndpointDataSourceFactory.cs
  src/Components/Endpoints/src/Builder/RazorComponentsEndpointConventionBuilder.cs
  src/Components/Endpoints/src/Builder/RazorComponentsEndpointConventionBuilderExtensions.cs
  src/Components/Endpoints/src/Builder/RazorComponentsEndpointRouteBuilderExtensions.cs
  src/Components/Endpoints/src/Builder/RenderModeEndpointProvider.cs
  src/Components/Endpoints/src/Builder/RootComponentMetadata.cs
  src/Components/Endpoints/src/DependencyInjection/IRazorComponentsBuilder.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentOptions.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsEndpointOptions.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsEndpointsDetailedErrorsConfiguration.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsServiceCollectionExtensions.cs
  src/Components/Endpoints/src/Discovery/AssemblyComponentLibraryDescriptor.cs
  src/Components/Endpoints/src/Discovery/ComponentApplicationBuilder.cs
  src/Components/Endpoints/src/Discovery/ComponentBuilder.cs
  src/Components/Endpoints/src/Discovery/ComponentInfo.cs
  src/Components/Endpoints/src/Discovery/DefaultRazorComponentApplication.cs
  src/Components/Endpoints/src/Discovery/IRazorComponentApplication.cs
  src/Components/Endpoints/src/Discovery/PageComponentBuilder.cs
  src/Components/Endpoints/src/FormMapping/HttpContextFormValueMapper.cs
  src/Components/Endpoints/src/PublicAPI.Unshipped.txt
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Streaming.cs
  src/Components/Endpoints/test/HttpContextFormValueMapperTest.cs
  src/Components/Endpoints/test/RazorComponentEndpointDataSourceTest.cs
  src/Components/Server/src/DependencyInjection/IServerSideBlazorBuilder.cs
  src/Components/Server/src/DependencyInjection/ServerRazorComponentsBuilderExtensions.cs
  src/Components/Server/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/Server/src/Builder/WebAssemblyComponentsEndpointOptions.cs
  src/Components/WebAssembly/Server/src/Builder/WebAssemblyRazorComponentsEndpointConventionBuilderExtensions.cs
  src/Components/WebAssembly/Server/src/Builder/WebAssemblyRenderModeWithOptions.cs
  src/Components/WebAssembly/Server/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/Server/src/WebAssemblyRazorComponentsBuilderExtensions.cs
  src/Components/test/testassets/Components.TestServer/RazorComponentEndpointsStartup.cs
Labels: area-blazor

#48698 Add EditContext.IsValid(..) to determine if a field has any associated validation messages
  src/Components/Forms/src/EditContext.cs
  src/Components/Forms/src/PublicAPI.Unshipped.txt
  src/Components/Forms/test/EditContextTest.cs
Labels: area-blazor, community-contribution, pending-ci-rerun

#49898 Update debugger display to use a consistent format
  src/Components/Components/src/Rendering/ComponentState.cs
  src/Components/Components/src/Rendering/RenderQueueEntry.cs
  src/Components/Endpoints/src/Discovery/AssemblyComponentLibraryDescriptor.cs
  src/Components/Endpoints/src/Discovery/ComponentInfo.cs
  src/Components/Endpoints/src/Discovery/PageComponentBuilder.cs
  src/Components/Endpoints/src/Discovery/PageComponentInfo.cs
  src/Components/Endpoints/src/Discovery/RazorComponentApplication.cs
  src/Components/Endpoints/src/RazorComponentEndpointInvoker.cs
  src/Components/Server/src/BlazorPack/SequenceOfT.cs
  src/Http/Http.Abstractions/src/Metadata/AcceptsMetadata.cs
  src/Http/Http.Abstractions/src/Metadata/ProducesResponseTypeMetadata.cs
  src/Http/Http.Extensions/src/TagsAttribute.cs
  src/Http/Routing/src/Patterns/RoutePatternLiteralPart.cs
  src/Http/Routing/src/UriBuildingContext.cs
  src/Mvc/Mvc.Abstractions/src/Filters/FilterItem.cs
  src/Mvc/Mvc.Abstractions/src/ModelBinding/BindingSource.cs
  src/Mvc/Mvc.Core/src/ApplicationModels/ApplicationModel.cs
  src/Mvc/Mvc.Core/src/ApplicationModels/ParameterModel.cs
  src/Mvc/Mvc.Core/src/ApplicationModels/PropertyModel.cs
  src/Mvc/Mvc.Core/src/ServiceFilterAttribute.cs
  src/Mvc/Mvc.Core/src/ServiceFilterOfTAttribute.cs
  src/Mvc/Mvc.Core/src/TypeFilterAttribute.cs
  src/Mvc/Mvc.RazorPages/src/ApplicationModels/PageHandlerModel.cs
  src/Mvc/Mvc.RazorPages/src/ApplicationModels/PageParameterModel.cs
  src/Mvc/Mvc.RazorPages/src/ApplicationModels/PagePropertyModel.cs
  src/Mvc/Mvc.ViewFeatures/src/ModelExplorer.cs
Labels: area-mvc

#48720 Reduce RendererSynchronizationContext overheads
  src/Components/Components/src/Rendering/RendererSynchronizationContext.cs
  src/Components/Components/test/RendererTest.cs
  src/Components/Components/test/Rendering/RendererSynchronizationContextTest.cs
Labels: area-blazor, pending-ci-rerun

#50051 Pass through arbitrary attributes to QuickGrid
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Microsoft.AspNetCore.Components.QuickGrid.csproj
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/PublicAPI.Unshipped.txt
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/QuickGrid.razor
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/QuickGrid.razor.cs
  src/Components/Shared/src/AttributeUtilities.cs
  src/Components/Web/src/Microsoft.AspNetCore.Components.Web.csproj
  src/Components/test/E2ETest/Tests/QuickGridTest.cs
  src/Components/test/testassets/BasicTestApp/QuickGridTest/SampleQuickGridComponent.razor
Labels: area-blazor

#50016 Set form options for form-based request types
  src/Antiforgery/src/AntiforgeryMiddleware.cs
  src/Antiforgery/src/Microsoft.AspNetCore.Antiforgery.csproj
  src/Http/Routing/src/EndpointRoutingMiddleware.cs
  src/Http/Routing/src/Microsoft.AspNetCore.Routing.csproj
  src/Http/Routing/test/UnitTests/EndpointRoutingMiddlewareFormOptionsTest.cs
  src/Shared/HttpExtensions.cs
  src/Shared/HttpMethodExtensions.cs
Labels: area-middleware

#50027 Add benchmarking documentation
  docs/Benchmarks.md
  docs/README.md
Labels: Docs, needs-area-label

#50064 [RDG] Account of parameter name in signature comparison
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointParameter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitBodyParam_ComplexReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitSource_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/CompileTimeCreationTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.JsonBody.cs
Labels: area-runtime

#49978 Add buffer limit option for SignalR Stateful Reconnect
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnectionOptions.cs
  src/SignalR/clients/csharp/Client.Core/src/PublicAPI.Unshipped.txt
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubConnectionTests.cs
  src/SignalR/common/Http.Connections.Common/src/NegotiationResponse.cs
  src/SignalR/common/Shared/MessageBuffer.cs
  src/SignalR/common/SignalR.Common/src/Protocol/AckMessage.cs
  src/SignalR/common/SignalR.Common/src/Protocol/SequenceMessage.cs
  src/SignalR/common/testassets/Tests.Utils/TestClient.cs
  src/SignalR/server/Core/src/HubConnectionContext.cs
  src/SignalR/server/Core/src/HubConnectionContextOptions.cs
  src/SignalR/server/Core/src/HubConnectionHandler.cs
  src/SignalR/server/Core/src/HubOptions.cs
  src/SignalR/server/Core/src/PublicAPI.Unshipped.txt
  src/SignalR/server/SignalR/test/AddSignalRTests.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
  src/SignalR/server/SignalR/test/Internal/MessageBufferTests.cs
Labels: area-signalr

#50059 Add warning if user changes during Stateful Reconnect
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubConnectionTests.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/Startup.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.Log.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
Labels: area-signalr

#50067 React to MapIdentityApi HTTP endpoints API review feedback
  src/Identity/Core/src/IdentityApiEndpointRouteBuilderExtensions.cs
  src/Identity/test/Identity.FunctionalTests/MapIdentityApiTests.cs
  src/Security/Authentication/BearerToken/src/BearerTokenConfigureJsonOptions.cs
  src/Security/Authentication/BearerToken/src/BearerTokenExtensions.cs
  src/Security/Authentication/BearerToken/src/BearerTokenHandler.cs
  src/Security/Authentication/BearerToken/src/DTO/BearerTokenJsonSerializerContext.cs
  src/Shared/BearerToken/DTO/AccessTokenResponse.cs
Labels: area-identity

#50063 Update branding to 9.0-alpha1
  .github/fabricbot.json
  docs/UpdatingMajorVersionAndTFM.md
  eng/Versions.props
  src/ProjectTemplates/Shared/TemplatePackageInstaller.cs
Labels: area-infrastructure

#50021 [blazor][E2E test] BootResourceCachingTest.IncrementallyUpdatesCache faster
  src/Components/WebAssembly/testassets/HostedInAspNet.Client/wwwroot/index.html
  src/Components/test/E2ETest/Tests/BootResourceCachingTest.cs
Labels: area-blazor, feature-blazor-wasm

#50114 Fix typo in src/Security/Authentication/Core/src/AuthenticationHandle…
  src/Security/Authentication/Core/src/AuthenticationHandler.cs
Labels: area-security, community-contribution

#50116 Move Symreader dependency to ToolsetDependencies
  eng/Version.Details.xml
Labels: area-infrastructure

#50123 Update Helix to Fedora 38
  eng/targets/Helix.Common.props
  eng/targets/Helix.targets
Labels: area-infrastructure

#50068 [Blazor] Add APIs for "enhanced refresh"
  src/Components/Components/src/NavigationManager.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Server/src/Circuits/RemoteNavigationManager.cs
  src/Components/Shared/src/BrowserNavigationManagerInterop.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Platform/WebView/WebViewIpcReceiver.ts
  src/Components/Web.JS/src/Services/NavigationEnhancement.ts
  src/Components/Web.JS/src/Services/NavigationManager.ts
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyNavigationManager.cs
  src/Components/WebView/WebView/src/IpcCommon.cs
  src/Components/WebView/WebView/src/IpcSender.cs
  src/Components/WebView/WebView/src/Services/WebViewNavigationManager.cs
  src/Components/test/E2ETest/ServerRenderingTests/EnhancedNavigationTest.cs
  src/Components/test/E2ETest/Tests/RoutingTest.cs
  src/Components/test/testassets/BasicTestApp/RouterTest/NavigationManagerComponent.razor
  src/Components/test/testassets/TestContentPackage/InteractiveNavigationComponent.razor
Labels: area-blazor

#50095 Support resolving keyed services from DI in RDF and RDG
  src/Http/Http.Extensions/gen/DiagnosticDescriptors.cs
  src/Http/Http.Extensions/gen/Resources.resx
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointParameterEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointParameter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointParameterSource.cs
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_BindAsync_NullableReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_BindAsync_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitBodyParam_ComplexReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_ComplexTypeArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_NullableStringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_StringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_ComplexTypeArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_NullableStringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_StringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitServiceParam_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitSource_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_ComplexTypeArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam_EmptyQueryValues.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam_QueryNotPresent.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_StringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_JsonBodyOrService_HandlesBothJsonAndService.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleSpecialTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleStringParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_NoParam_StringReturn_WithFilter.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ReturnsString_Has_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ReturnsTodo_Has_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ReturnsValidationProblemResult_Has_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ReturnsVoid_Has_No_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleComplexTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleEnumParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleNullableStringParam_WithEmptyQueryStringValueProvided_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_TakesCustomMetadataEmitter_Has_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_Get_WithArrayQueryString_AndBody_ShouldUseQueryString.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_PostAndGet_WithArrayQueryString_AndBody_ShouldUseQueryString.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_PostAndPut_WithArrayQueryString_AndBody_ShouldUseBody.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_Post_WithArrayQueryString_AndBody_ShouldUseBody.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapPost_WithArrayQueryString_AndBody_ShouldUseBody.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapPost_WithArrayQueryString_ShouldFail.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_NoParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_WithParams_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/RequestDelegateValidateGeneratedFormCode.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/SupportsDifferentInterceptorsFromSameLocation.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/SupportsSameInterceptorsFromDifferentFiles.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/VerifyAsParametersBaseline.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTestBase.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.KeyServices.cs
  src/Shared/RoslynUtils/SymbolExtensions.cs
  src/Shared/RoslynUtils/WellKnownTypeData.cs
Labels: Servicing-approved, feature-rdg, area-minimal, feature-rdf

#50186 Correct download location of internal runtimes
  .azure/pipelines/ci.yml
  eng/helix/helix.proj
Labels: area-infrastructure

#50166 Resolve FormOptionsMetadata to FormOptions when reading form
  src/Http/Http/src/Features/FormFeature.cs
  src/Http/Http/src/Internal/DefaultHttpRequest.cs
  src/Http/Http/src/Internal/FormOptionsMetadataExtensions.cs
  src/Http/Http/src/Internal/MutableFormOptionsMetadata.cs
  src/Http/Http/src/Microsoft.AspNetCore.Http.csproj
  src/Http/Routing/perf/Microbenchmarks/EndpointRoutingShortCircuitBenchmark.cs
  src/Http/Routing/src/Builder/RoutingEndpointConventionBuilderExtensions.cs
  src/Http/Routing/src/EndpointRoutingMiddleware.cs
  src/Http/Routing/src/Internal/FormOptionsMetadataExtensions.cs
  src/Http/Routing/test/UnitTests/EndpointRoutingMiddlewareFormOptionsTest.cs
  src/Http/Routing/test/UnitTests/EndpointRoutingMiddlewareTest.cs
  src/Http/Routing/test/UnitTests/Microsoft.AspNetCore.Routing.Tests.csproj
  src/Http/Routing/test/UnitTests/RoutingMetricsTests.cs
Labels: feature-http-abstractions, Servicing-approved, area-infrastructure, area-middleware

#50190 Add internal queues to skip list for AOT
  src/Testing/src/xunit/HelixConstants.cs
Labels: area-infrastructure

#50145 Support Keyed Services in MVC
  src/Mvc/Mvc.Abstractions/src/ModelBinding/BindingInfo.cs
  src/Mvc/Mvc.Abstractions/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Abstractions/test/ModelBinding/BindingInfoTest.cs
  src/Mvc/Mvc.Core/src/ModelBinding/Binders/KeyedServicesModelBinder.cs
  src/Mvc/Mvc.Core/src/ModelBinding/Binders/ServicesModelBinderProvider.cs
  src/Mvc/test/Mvc.FunctionalTests/KeyedServicesTests.cs
  src/Mvc/test/WebSites/BasicWebSite/Controllers/CustomServiceApiController.cs
  src/Mvc/test/WebSites/BasicWebSite/CustomService.cs
  src/Mvc/test/WebSites/BasicWebSite/StartupWithoutEndpointRouting.cs
Labels: Servicing-approved, area-mvc

#50169 SignInManager.AuthenticationScheme rename
  src/Identity/Core/src/IdentityApiEndpointRouteBuilderExtensions.cs
  src/Identity/Core/src/PublicAPI.Unshipped.txt
  src/Identity/Core/src/SignInManager.cs
Labels: area-identity

#50243 Make Kestrel default to HTTP/1 and /2
  src/Servers/Kestrel/Core/src/ListenOptions.cs
Labels: Servicing-approved, area-runtime

#50092 Stateful Reconnect API changes
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client/src/HubConnectionBuilderHttpExtensions.cs
  src/SignalR/clients/csharp/Client/src/PublicAPI.Unshipped.txt
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubConnectionTests.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/Startup.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HttpConnectionFactoryTests.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnection.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnectionFactory.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnectionOptions.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/WebSocketsTransport.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/PublicAPI.Unshipped.txt
  src/SignalR/common/Http.Connections.Common/src/NegotiateProtocol.cs
  src/SignalR/common/Http.Connections.Common/src/NegotiationResponse.cs
  src/SignalR/common/Http.Connections.Common/src/PublicAPI.Unshipped.txt
  src/SignalR/common/Http.Connections/src/HttpConnectionDispatcherOptions.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionContext.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
  src/SignalR/common/Http.Connections/src/PublicAPI.Unshipped.txt
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
  src/SignalR/perf/Microbenchmarks/DefaultHubDispatcherBenchmark.cs
  src/SignalR/server/Core/src/HubConnectionContext.cs
  src/SignalR/server/Core/src/HubConnectionHandler.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
Labels: Servicing-approved, area-signalr

#50249 Update to string_decoder@1.3.0 in repo
  src/Components/test/E2ETest/package.json
  src/Components/test/E2ETest/yarn.lock
  src/ProjectTemplates/test/Templates.Tests/package.json
  src/ProjectTemplates/test/Templates.Tests/yarn.lock
  src/SignalR/clients/ts/FunctionalTests/package.json
  src/SignalR/clients/ts/FunctionalTests/yarn.lock
  src/SignalR/clients/ts/common/package.json
  src/SignalR/clients/ts/common/yarn.lock
Labels: area-signalr

#50245 Resolve interceptor location using identifier name
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Endpoint.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/CompileTimeCreationTests.cs
Labels: feature-rdg, area-minimal

#49650 [SignalR] Pass new App to Transport Pipe to App layer
  src/Servers/Connections.Abstractions/src/Features/IReconnectFeature.cs
  src/Servers/Connections.Abstractions/src/Features/IStatefulReconnectFeature.cs
  src/Servers/Connections.Abstractions/src/PublicAPI/net462/PublicAPI.Unshipped.txt
  src/Servers/Connections.Abstractions/src/PublicAPI/net8.0/PublicAPI.Unshipped.txt
  src/Servers/Connections.Abstractions/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/Servers/Connections.Abstractions/src/PublicAPI/netstandard2.1/PublicAPI.Unshipped.txt
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HubConnectionTests.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnection.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/WebSocketsTransport.cs
  src/SignalR/common/Http.Connections.Common/src/NegotiationResponse.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionContext.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.Log.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
  src/SignalR/common/Http.Connections/test/TestWebSocketConnectionFeature.cs
  src/SignalR/common/Http.Connections/test/WebSocketsTests.cs
  src/SignalR/common/Shared/MessageBuffer.cs
  src/SignalR/server/Core/src/HubConnectionContext.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
  src/SignalR/server/SignalR/test/Internal/MessageBufferTests.cs
Labels: Servicing-approved, area-signalr

#49940 [SignalR][TS client] Stateful reconnect
  src/SignalR/clients/ts/signalr-protocol-msgpack/src/MessagePackHubProtocol.ts
  src/SignalR/clients/ts/signalr-protocol-msgpack/tests/MessagePackHubProtocol.test.ts
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
  src/SignalR/clients/ts/signalr/src/HubConnection.ts
  src/SignalR/clients/ts/signalr/src/HubConnectionBuilder.ts
  src/SignalR/clients/ts/signalr/src/IHttpConnectionOptions.ts
  src/SignalR/clients/ts/signalr/src/IHubProtocol.ts
  src/SignalR/clients/ts/signalr/src/IStatefulReconnectOptions.ts
  src/SignalR/clients/ts/signalr/src/JsonHubProtocol.ts
  src/SignalR/clients/ts/signalr/src/MessageBuffer.ts
  src/SignalR/clients/ts/signalr/src/WebSocketTransport.ts
  src/SignalR/clients/ts/signalr/src/index.ts
  src/SignalR/clients/ts/signalr/tests/Common.ts
  src/SignalR/clients/ts/signalr/tests/HttpConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/HubConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/HubConnectionBuilder.test.ts
  src/SignalR/clients/ts/signalr/tests/JsonHubProtocol.test.ts
  src/SignalR/clients/ts/signalr/tests/OutputSize.test.ts
Labels: area-signalr, feature-client-javascript

#49680 [Blazor] Fix flaky tests CanCacheRouteTable
  src/Components/Components/src/Routing/RouteTableFactory.cs
  src/Components/Components/src/Routing/Router.cs
  src/Components/Components/test/Routing/RouteTableFactoryTests.cs
Labels: area-blazor, pending-ci-rerun

#50264 Update to tough-cookie@4.1.3 in repo
  src/Components/Web.JS/package.json
  src/Components/Web.JS/yarn.lock
  src/SignalR/clients/ts/FunctionalTests/package.json
  src/SignalR/clients/ts/FunctionalTests/yarn.lock
  src/SignalR/clients/ts/signalr-protocol-msgpack/package.json
  src/SignalR/clients/ts/signalr-protocol-msgpack/yarn.lock
  src/SignalR/clients/ts/signalr/package.json
  src/SignalR/clients/ts/signalr/yarn.lock
Labels: area-infrastructure

#50266 Add benchmarks for RDG
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator.csproj
  src/Http/Http/perf/Microbenchmarks/GlobalUsings.cs
  src/Http/Http/perf/Microbenchmarks/Microsoft.AspNetCore.Http.Microbenchmarks.csproj
  src/Http/Http/perf/Microbenchmarks/RequestDelegateGeneratorBenchmarks.cs
Labels: feature-rdg, area-minimal

#50110 Fix IndexOutOfRangeException when an added/removed attribute spans a buffer size boundary
  src/Components/Components/src/RenderTree/RenderTreeDiffBuilder.cs
  src/Components/Components/test/RenderTreeDiffBuilderTest.cs
Labels: area-blazor

#50272 Remove reflection from KestrelServer constructor
  src/Servers/Kestrel/Core/src/KestrelServer.cs
Labels: area-runtime

#50279 Unquarantine tests as part of blops.
  src/Servers/Kestrel/Transport.Quic/test/WebHostTests.cs
  src/SignalR/server/SignalR/test/EndToEndTests.cs
Labels: area-signalr

#50253 In SSR, supply HttpContext as cascading value
  src/Components/Components/src/CascadingParameterAttribute.cs
  src/Components/Components/src/CascadingParameterAttributeBase.cs
  src/Components/Components/src/CascadingValueServiceCollectionExtensions.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/Reflection/ComponentProperties.cs
  src/Components/Components/src/SupplyParameterFromQueryAttribute.cs
  src/Components/Components/src/SupplyParameterFromQueryProviderServiceCollectionExtensions.cs
  src/Components/Components/test/CascadingParameterStateTest.cs
  src/Components/Components/test/CascadingParameterTest.cs
  src/Components/Components/test/ParameterViewTest.Assignment.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsServiceCollectionExtensions.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.cs
  src/Components/Endpoints/test/RazorComponentsServiceCollectionExtensionsTest.cs
  src/Components/Web/src/Forms/Mapping/SupplyParameterFromFormValueProvider.cs
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/Web/src/SupplyParameterFromFormAttribute.cs
  src/Components/test/E2ETest/ServerRenderingTests/RenderingTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/AccessHttpContext.razor
  src/Mvc/Mvc/test/MvcServiceCollectionExtensionsTest.cs
Labels: area-blazor

#50181 API review followups
  src/Components/Components/src/CascadingValueServiceCollectionExtensions.cs
  src/Components/Components/src/CascadingValueSource.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/RenderModeAttribute.cs
  src/Components/Components/src/RenderTree/RenderTreeFrameArrayBuilder.cs
  src/Components/Components/src/Rendering/RenderTreeBuilder.cs
  src/Components/Components/src/StreamRenderingAttribute.cs
  src/Components/Components/test/ComponentFactoryTest.cs
  src/Components/Components/test/RenderTreeDiffBuilderTest.cs
  src/Components/Components/test/RendererTest.cs
  src/Components/Components/test/Rendering/RenderTreeBuilderTest.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsServiceCollectionExtensions.cs
  src/Components/Endpoints/src/PublicAPI.Unshipped.txt
  src/Components/Endpoints/src/Results/RazorComponentResult.cs
  src/Components/Endpoints/src/Results/RazorComponentResultExecutor.cs
  src/Components/Endpoints/src/Results/RazorComponentResultOfT.cs
  src/Components/Endpoints/test/EndpointHtmlRendererTest.cs
  src/Components/Endpoints/test/RazorComponentResultExecutorTest.cs
  src/Components/Endpoints/test/RazorComponentResultTest.cs
  src/Components/Endpoints/test/TestComponents/DoubleRenderingStreamingAsyncComponent.razor
  src/Components/Endpoints/test/TestComponents/EnableStreaming.razor
  src/Components/Endpoints/test/TestComponents/StreamingAsyncLoadingComponent.razor
  src/Components/Endpoints/test/TestComponents/StreamingComponentThatRedirectsAsynchronously.razor
  src/Components/Endpoints/test/TestComponents/StreamingComponentThatThrowsAsynchronously.razor
  src/Components/Endpoints/test/TestComponents/StreamingComponentWithChild.razor
  src/Components/Shared/test/AssertFrame.cs
  src/Components/Web/src/Forms/EditForm.cs
  src/Components/Web/src/Forms/Mapping/FormMappingError.cs
  src/Components/Web/src/Forms/Mapping/FormValueMappingContext.cs
  src/Components/Web/src/Forms/Mapping/SupplyParameterFromFormValueProvider.cs
  src/Components/Web/src/HtmlRendering/HtmlRootComponent.cs
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/Web/src/SupplyParameterFromFormAttribute.cs
  src/Components/Web/test/Forms/Mapping/SupplyParameterFromFormTest.cs
  src/Components/Web/test/HtmlRendering/HtmlRendererTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Components/ComponentWithFormBoundParameter.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Components/EnableStreaming.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/EnhancedNav/PageForScrollingToHash.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/EnhancedNav/PageThatRedirectsWhileStreaming.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/EnhancedNav/PageThatThrowsWhileStreaming.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/ErrorInErrorBoundaryStreaming.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/ErrorOutsideErrorBoundaryStreaming.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/FormAntiforgeryAfterResponseStarted.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/FormThatBindsGuid.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/FormThatBindsInteger.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/ModifyHttpContextForm.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/NamedFormBoundParameter.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/NamedFormBoundPrimitiveParameter.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/NamedFormBoundPrimitiveParameterValidatorIntegration.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/PlainForm.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/PostRedirectGetStreaming.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/StreamingRenderingForm.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/StreamingRendering/LargeStreamRendering.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/StreamingRendering/StreamingRendering.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/StreamingRendering/StreamingWithInteractivity.razor
Labels: area-blazor

#50031 Support hot reload for Blazor component endpoints
  src/Components/Endpoints/src/Builder/RazorComponentEndpointDataSource.cs
  src/Components/Endpoints/src/Builder/RazorComponentEndpointDataSourceFactory.cs
  src/Components/Endpoints/src/DependencyInjection/HotReloadService.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsServiceCollectionExtensions.cs
  src/Components/Endpoints/test/HotReloadServiceTests.cs
  src/Components/Endpoints/test/RazorComponentEndpointDataSourceTest.cs
  src/Components/Samples/BlazorUnitedApp/Program.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/src/Boot.Web.ts
  src/Components/Web.JS/src/GlobalExports.ts
Labels: area-blazor

#50276 [release/8.0] Update SDK
  Directory.Build.targets
  eng/CodeGen.proj
  eng/tools/GenerateFiles/Directory.Build.props.in
  global.json
  src/Http/Routing/src/Template/TemplatePart.cs
Labels: area-infrastructure

#50311 Give a useful error if rendermode endpoints aren't mapped
  src/Components/Endpoints/src/Builder/ConfiguredRenderModesMetadata.cs
  src/Components/Endpoints/src/Builder/RazorComponentEndpointDataSource.cs
  src/Components/Endpoints/src/Builder/RazorComponentEndpointFactory.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Prerendering.cs
  src/Components/Endpoints/src/Rendering/SSRRenderModeBoundary.cs
  src/Components/Endpoints/test/RazorComponentEndpointFactoryTest.cs
  src/Components/Endpoints/test/SSRRenderModeBoundaryTest.cs
Labels: area-blazor

#50299 Start using the .NET 9 Planning milestone in issue response automation
  .github/fabricbot.json
Labels: area-infrastructure

#50302 Remove more setup overhead in RDG benchmarks
  src/Http/Http/perf/Microbenchmarks/RequestDelegateGeneratorBenchmarks.cs
Labels: area-runtime

#50251 Use polling to watch certificate paths
  eng/test-configuration.json
  src/Servers/Kestrel/Core/src/Internal/CertificatePathWatcher.cs
  src/Servers/Kestrel/Core/src/Internal/CertificatePathWatcherLoggerExtensions.cs
  src/Servers/Kestrel/Core/test/CertificatePathWatcherTests.cs
  src/Servers/Kestrel/Kestrel/test/KestrelConfigurationLoaderTests.cs
Labels: area-runtime

#50326 Cache parsable and bindable type info in RDG
  src/Shared/RoslynUtils/ParsabilityHelper.cs
Labels: feature-rdg, area-minimal

#50327 Update area-owners.md
  docs/area-owners.md
Labels: area-infrastructure

#50297 Use absolute URLs for confirmation emails
  src/Identity/Core/src/IdentityApiEndpointRouteBuilderExtensions.cs
  src/Identity/test/Identity.FunctionalTests/MapIdentityApiTests.cs
Labels: area-identity

#50170 [release/8.0] [Blazor] Close the circuit when all Blazor Server components are disposed
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Boot.Server.Common.ts
  src/Components/Web.JS/src/Boot.Server.ts
  src/Components/Web.JS/src/Boot.Web.ts
  src/Components/Web.JS/src/Boot.WebAssembly.Common.ts
  src/Components/Web.JS/src/Platform/Circuits/CircuitManager.ts
  src/Components/Web.JS/src/Platform/Circuits/RenderQueue.ts
  src/Components/Web.JS/src/Platform/SsrStartOptions.ts
  src/Components/Web.JS/src/Rendering/BrowserRenderer.ts
  src/Components/Web.JS/src/Rendering/DomMerging/DomSync.ts
  src/Components/Web.JS/src/Rendering/Renderer.ts
  src/Components/Web.JS/src/Rendering/WebRendererInteropMethods.ts
  src/Components/Web.JS/src/Services/RootComponentManager.ts
  src/Components/Web.JS/src/Services/WebRootComponentManager.ts
  src/Components/Web.JS/src/Virtualize.ts
  src/Components/WebAssembly/WebAssembly/src/Rendering/WebAssemblyRenderer.cs
  src/Components/test/E2ETest/ServerRenderingTests/InteractivityTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/VirtualizationRenderModesTest.cs
  src/Components/test/testassets/BasicTestApp/BasicTestApp.csproj
  src/Components/test/testassets/Components.TestServer/RazorComponents/App.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Interactivity/VirtualizationTransitionToInteractivity.razor
  src/Components/test/testassets/TestContentPackage/Counter.razor
  src/Components/test/testassets/TestContentPackage/VirtualizedItemList.razor
  src/Components/test/testassets/TestContentPackage/wwwroot/counterInterop.js
Labels: area-blazor

#50218 Update Microsoft.Identity.Model to 7.0.0-preview3
  eng/Version.Details.xml
  eng/Versions.props
  src/Security/Authentication/WsFederation/src/WsFederationHandler.cs
  src/Security/Authentication/test/JwtBearerTests_Handler.cs
Labels: area-infrastructure, community-contribution

#50149 Make it clear in the bot comment that repros must be GitHub repos and not ZIPs
  .github/fabricbot.json
Labels: area-infrastructure

#50339 Update area-owners.md
  docs/area-owners.md
Labels: area-infrastructure

#50194 Update NavMenu.razor to use project name
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Layout/NavMenu.razor
Labels: area-mvc

#50378 Quarantine error notification tests
  src/Components/test/E2ETest/Tests/ErrorNotificationTest.cs
Labels: area-infrastructure, area-blazor

#50375 Fix error message in CodeCheck file
  eng/scripts/CodeCheck.ps1
Labels: area-infrastructure

#50381 [release/8.0] [Blazor] Don't display the reconnection dialog after an error occurs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/src/Platform/Circuits/CircuitManager.ts
Labels: area-blazor

#50168 Call AddMetrics inside AddRouting
  src/Http/Routing/src/DependencyInjection/RoutingServiceCollectionExtensions.cs
  src/Http/Routing/src/Microsoft.AspNetCore.Routing.csproj
  src/Http/Routing/test/UnitTests/EndpointRoutingMiddlewareTest.cs
Labels: area-networking, area-routing

#50416 Fix typo in method name StopTrasnsportTracking -> StopTransportTracking
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/ConnectionManager.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/ConnectionReference.cs
Labels: community-contribution, area-networking, area-runtime

#50128 Add feature to expose IIS hosting details
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/AspNetCore.vcxproj
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/ModuleEnvironment.cpp
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/ModuleEnvironment.h
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/applicationinfo.cpp
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/dllmain.cpp
  src/Servers/IIS/IIS/samples/NativeIISSample/Startup.cs
  src/Servers/IIS/IIS/src/Core/IISEnvironmentFeature.cs
  src/Servers/IIS/IIS/src/Core/IISHttpServer.cs
  src/Servers/IIS/IIS/src/IIISEnvironmentFeature.cs
  src/Servers/IIS/IIS/src/PublicAPI.Unshipped.txt
  src/Servers/IIS/IIS/test/Common.FunctionalTests/RequestResponseTests.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISDeployer.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISDeploymentResult.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/IISExpressDeployer.cs
Labels: area-networking

#50415 Update Microsoft.IdentityModel to 7.0.0-preview4
  eng/Version.Details.xml
  eng/Versions.props
  src/Security/Authentication/WsFederation/src/WsFederationHandler.cs
  src/Security/Authentication/test/JwtBearerTests_Handler.cs
Labels: area-infrastructure

#49911 Update SDK to 9.0.100-alpha.1.23421.9
  global.json
  src/Middleware/WebSockets/test/UnitTests/WebSocketMiddlewareTests.cs
Labels: area-infrastructure

#50463 Update milestones for October servicing
  .github/fabricbot.json
Labels: area-infrastructure

#50462 Update branding to 7.0.12
  eng/Versions.props
Labels: area-infrastructure

#50460 Rename area-runtime in fabricbot
  .github/fabricbot.json
Labels: area-infrastructure

#50461 Update branding to 6.0.23
  eng/Versions.props
Labels: area-infrastructure

#50163 HttpLogging redaction and enrichment
  src/Middleware/HttpLogging/samples/HttpLogging.Sample/SampleHttpLoggingInterceptor.cs
  src/Middleware/HttpLogging/samples/HttpLogging.Sample/Startup.cs
  src/Middleware/HttpLogging/src/BufferingStream.cs
  src/Middleware/HttpLogging/src/HttpLog.cs
  src/Middleware/HttpLogging/src/HttpLoggingExtensions.cs
  src/Middleware/HttpLogging/src/HttpLoggingFields.cs
  src/Middleware/HttpLogging/src/HttpLoggingInterceptorContext.cs
  src/Middleware/HttpLogging/src/HttpLoggingMiddleware.cs
  src/Middleware/HttpLogging/src/HttpLoggingOptions.cs
  src/Middleware/HttpLogging/src/HttpLoggingServicesExtensions.cs
  src/Middleware/HttpLogging/src/HttpRequestLog.cs
  src/Middleware/HttpLogging/src/IHttpLoggingInterceptor.cs
  src/Middleware/HttpLogging/src/MediaTypeHelpers.cs
  src/Middleware/HttpLogging/src/Microsoft.AspNetCore.HttpLogging.csproj
  src/Middleware/HttpLogging/src/PublicAPI.Unshipped.txt
  src/Middleware/HttpLogging/src/RequestBufferingStream.cs
  src/Middleware/HttpLogging/src/ResponseBufferingStream.cs
  src/Middleware/HttpLogging/src/UpgradeFeatureLoggingDecorator.cs
  src/Middleware/HttpLogging/test/FileLoggerProcessorTests.cs
  src/Middleware/HttpLogging/test/HttpLoggingMiddlewareTests.cs
Labels: area-middleware
