Repository dotnet/aspnetcore, pull requests merged in 2023-11, with the labels that each got.

#51797 Backport quarantine of ServerWithOldProtocolVersionClientWithNewProtocolVersionWorksDoesNotAllowStatefulReconnect
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubConnectionTests.cs
Labels: area-signalr, tell-mode

#51796 Fix radio button reset after submitting enhanced form
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Rendering/DomMerging/DomSync.ts
  src/Components/Web.JS/test/DomSync.test.ts
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/FormWithCheckboxAndRadioButton.razor
Labels: Servicing-consider, area-blazor

#51660 Optimize CancellationToken handling
  src/Hosting/Hosting/src/GenericHost/GenericWebHostBuilder.cs
  src/Hosting/Hosting/src/Internal/ApplicationLifetime.cs
  src/Hosting/Hosting/src/Internal/HostedServiceExecutor.cs
  src/Hosting/Hosting/src/Internal/WebHost.cs
  src/Hosting/Hosting/src/Startup/ConventionBasedStartup.cs
  src/Hosting/Hosting/src/WebHostBuilderExtensions.cs
  src/Hosting/Hosting/src/WebHostExtensions.cs
  src/Http/Http/src/Timeouts/RequestTimeoutsMiddleware.cs
  src/Middleware/Session/src/DistributedSession.cs
  src/Middleware/Spa/SpaProxy/src/SpaProxyLaunchManager.cs
  src/Servers/Kestrel/Core/src/Internal/AddressBinder.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1Connection.cs
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionContext.cs
Labels: community-contribution, area-networking

#51647 Update area-owners.md
  docs/area-owners.md
Labels: area-infrastructure, pending-ci-rerun

#51816 Update eslint js doc plugin
  src/JSInterop/Microsoft.JSInterop.JS/src/package.json
  src/JSInterop/Microsoft.JSInterop.JS/src/yarn.lock
  src/SignalR/clients/ts/common/package.json
  src/SignalR/clients/ts/common/yarn.lock
Labels: area-blazor

#51815 Remove Boyer-Moore in favor of IndexOf
  src/Http/WebUtilities/src/MultipartBoundary.cs
  src/Http/WebUtilities/src/MultipartReader.cs
  src/Http/WebUtilities/src/MultipartReaderStream.cs
Labels: Perf, area-networking

#51559 Update HubConnection.ts to provide a easier to read order of SignalR params
  src/SignalR/clients/ts/signalr/src/HubConnection.ts
Labels: area-signalr, community-contribution

#51900 Update build docs and AspNetCore.sln
  AspNetCore.sln
  docs/BuildFromSource.md
Labels: area-infrastructure

#51811 Update JS dependencies for `WebAssembly.Authentication`
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/yarn.lock
Labels: area-infrastructure, area-blazor

#51762 Use working directory as relative directory for project file resolution
  src/Tools/dotnet-user-jwts/src/Commands/CreateCommand.cs
  src/Tools/dotnet-user-jwts/src/Helpers/DevJwtCliHelpers.cs
  src/Tools/dotnet-user-jwts/test/UserJwtsTests.cs
Labels: area-commandlinetools, pending-ci-rerun

#51916 Update branding to 6.0.26
  eng/Versions.props
Labels: area-infrastructure

#51917 Update branding to 7.0.15
  eng/Versions.props
Labels: area-infrastructure

#51935 ResourceManagerStringLocalizerTest: support running tests under the invariant culture.
  src/Localization/Localization/test/Microsoft.Extensions.Localization.Tests/ResourceManagerStringLocalizerTest.cs
Labels: community-contribution, area-ui-rendering

#51817 [release/6.0] Update JS dependencies for `WebAssembly.Authentication`
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/yarn.lock
Labels: area-infrastructure, area-blazor, tell-mode

#51813 [release/7.0] Update JS dependencies for `WebAssembly.Authentication`
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/package.json
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/yarn.lock
Labels: area-infrastructure, area-blazor, tell-mode

#51918 Update branding to 8.0.1
  eng/PackageOverrides.txt
  eng/PlatformManifest.txt
  eng/Versions.props
Labels: area-infrastructure

#51311 [release/6.0] Skip failing template tests on Win11-arm64
  src/ProjectTemplates/test/BlazorWasmTemplateTest.cs
  src/ProjectTemplates/test/EmptyWebTemplateTest.cs
  src/ProjectTemplates/test/GrpcTemplateTest.cs
  src/ProjectTemplates/test/IdentityUIPackageTest.cs
  src/ProjectTemplates/test/MvcTemplateTest.cs
  src/ProjectTemplates/test/RazorClassLibraryTemplateTest.cs
  src/ProjectTemplates/test/RazorPagesTemplateTest.cs
  src/ProjectTemplates/test/WebApiTemplateTest.cs
  src/Testing/src/xunit/HelixConstants.cs
Labels: area-infrastructure

#51612 [Component governance] Bump the Azure.Identity dependency
  eng/Dependencies.props
  eng/Versions.props
  src/Caching/SqlServer/src/Microsoft.Extensions.Caching.SqlServer.csproj
  src/Tools/dotnet-sql-cache/src/dotnet-sql-cache.csproj
Labels: area-infrastructure, tell-mode, * NO MERGE *, pending-ci-rerun

#51616 [Component governance] Bump the Azure.Identity dependency
  eng/Dependencies.props
  eng/Versions.props
  src/Caching/SqlServer/src/Microsoft.Extensions.Caching.SqlServer.csproj
  src/Tools/dotnet-sql-cache/src/dotnet-sql-cache.csproj
Labels: area-infrastructure, tell-mode

#51535 Improve path search in Kestrel parsing
  src/Servers/Kestrel/Core/src/Internal/Http/HttpParser.cs
Labels: Perf, feature-kestrel, area-networking

#51881 Fix ambiguous route analyzer false positive with switch
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/DetectAmbiguousRoutes.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteHandlers/DetectAmbiguousMappedRoutesTest.cs
Labels: area-infrastructure

#51942 Fix "Blazor enhanced form handling doesn't honor button `formmethod` attribute"
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/src/Services/NavigationEnhancement.ts
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/FormSubmitButtonWithFormmethod.razor
Labels: area-blazor

#51808 Quarantine another one of the CanRenderComponentWithPersistedState cases
  src/Components/test/E2ETest/Tests/StatePersistenceTest.cs
Labels: area-blazor, pending-ci-rerun

#51880 Fix ambiguous route analyzer false positive with action replacement
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Mvc/DetectAmbiguousActionRoutes.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Mvc/MvcAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/test/Mvc/DetectAmbiguousActionRoutesTest.cs
Labels: area-infrastructure, area-mvc, analyzer

#51967 Update HelpWantedProcess.md
  docs/HelpWantedProcess.md
Labels: area-infrastructure

#51253 Dispose secret instances
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/CngCbcAuthenticatedEncryptorFactory.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/CngGcmAuthenticatedEncryptorFactory.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/AuthenticatedEncryptorConfiguration.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/CngCbcAuthenticatedEncryptorConfiguration.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/CngGcmAuthenticatedEncryptorConfiguration.cs
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ConfigurationModel/ManagedAuthenticatedEncryptorConfiguration.cs
  src/DataProtection/DataProtection/src/Cng/DpapiSecretSerializerHelper.cs
Labels: area-dataprotection, community-contribution

#51490 Update DenyAnonymousAuthorizationRequirement doc comment
  src/Security/Authorization/Core/src/DenyAnonymousAuthorizationRequirement.cs
Labels: community-contribution, pending-ci-rerun, area-security

#51982 Rename label `help-wanted` to `help wanted`
  docs/HelpWantedProcess.md
Labels: area-infrastructure, community-contribution

#52002 Automatically comment when `help wanted` label is added
  .github/fabricbot.json
Labels: area-infrastructure

#52050 Update baselines, SiteExtensions for 8.0 RTM
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Dependencies.props
  eng/Versions.props
  eng/tools/RepoTasks/RepoTasks.csproj
  eng/tools/RepoTasks/RepoTasks.tasks
  src/Servers/HttpSys/perf/Microbenchmarks/Microsoft.AspNetCore.Server.HttpSys.Microbenchmarks.csproj
  src/SiteExtensions/LoggingAggregate/src/Microsoft.AspNetCore.AzureAppServices.SiteExtension/Microsoft.AspNetCore.AzureAppServices.SiteExtension.csproj
Labels: area-infrastructure

#52047 Merging internal commits for release/6.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  src/Components/Components/src/ComponentBase.cs
  src/Components/Components/src/RenderHandle.cs
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Web/src/Forms/EditForm.cs
  src/Components/test/E2ETest/Tests/FormsTest.cs
  src/Components/test/testassets/BasicTestApp/FormsTest/SimpleValidationComponent.razor
Labels: area-infrastructure

#52056 Fix canceled requests in IIS
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocesshandler.cpp
Labels: area-infrastructure, area-networking

#52055 Merging internal commits for release/8.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  src/Components/Components/src/RenderTree/RenderTreeDiffBuilder.cs
  src/Components/Components/src/RenderTree/Renderer.Log.cs
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Components/test/RendererTest.cs
  src/Components/test/E2ETest/Tests/FormsTest.cs
  src/Components/test/testassets/BasicTestApp/FormsTest/SimpleValidationComponent.razor
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocesshandler.cpp
  src/Servers/IIS/IIS/test/Common.FunctionalTests/AspNetCorePortTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/BasicAuthTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/CompressionTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/FrebTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/GlobalVersionTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Http2Tests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/HttpsTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Latin1Tests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/LoggingTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/MaxRequestBodySizeTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/MultiApplicationTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/RequestPathBaseTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/RequestResponseTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/WindowsAuthTests.cs
  src/Servers/IIS/IIS/test/Common.LongTests/ShutdownTests.cs
  src/Servers/IIS/IIS/test/Common.LongTests/StartupTests.cs
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/Http2TrailersResetTests.cs
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/Http3Tests.cs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/ApplicationInitializationTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/ClientDisconnectTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/ConnectionIdFeatureTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/HttpBodyControlFeatureTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/InProcess/AppOfflineIISExpressTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/InProcess/IISExpressShutdownTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/InProcess/WebSocketTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/OutOfProcess/MultipleAppTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/OutOfProcess/NtlmAuthentationTest.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/UpgradeFeatureDetectionTests.cs
  src/Servers/IIS/IISIntegration/test/Tests/IISExtensionTests.cs
Labels: area-infrastructure

#52057 Prevent delivery of events to disposed components
  src/Components/Components/src/RenderTree/RenderTreeDiffBuilder.cs
  src/Components/Components/src/RenderTree/Renderer.Log.cs
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Components/test/RendererTest.cs
  src/Components/test/E2ETest/Tests/FormsTest.cs
  src/Components/test/testassets/BasicTestApp/FormsTest/SimpleValidationComponent.razor
Labels: area-infrastructure, area-blazor

#51728 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: area-infrastructure, pending-ci-rerun

#52045 Merging internal commits for release/7.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  eng/helix/content/runtests.cmd
  eng/helix/content/runtests.sh
  eng/targets/Helix.targets
  eng/tools/HelixTestRunner/HelixTestRunnerOptions.cs
  eng/tools/HelixTestRunner/TestRunner.cs
  global.json
  src/Components/Components/src/ComponentBase.cs
  src/Components/Components/src/RenderHandle.cs
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Web/src/Forms/EditForm.cs
  src/Components/test/E2ETest/Tests/FormsTest.cs
  src/Components/test/testassets/BasicTestApp/FormsTest/SimpleValidationComponent.razor
Labels: area-infrastructure

#51803 Optimize HTTP method lookup in routing jumptable
  src/Http/Routing/perf/Microbenchmarks/Matching/HttpMethodMatcherPolicyBenchmark.cs
  src/Http/Routing/perf/Microbenchmarks/Matching/HttpMethodPolicyJumpTableBenchmark.cs
  src/Http/Routing/perf/Microbenchmarks/readme.md
  src/Http/Routing/src/Matching/HttpMethodDestinationsLookup.cs
  src/Http/Routing/src/Matching/HttpMethodDictionaryPolicyJumpTable.cs
  src/Http/Routing/src/Matching/HttpMethodMatcherPolicy.cs
  src/Http/Routing/test/UnitTests/Matching/HttpMethodMatcherPolicyIntegrationTestBase.cs
Labels: community-contribution, area-networking

#52108 Update CODEOWNERS
  .github/CODEOWNERS
Labels: area-infrastructure

#50969 Disambiguate type names by containing assembly in WellKnownTypes
  src/Framework/AspNetCoreAnalyzers/test/Infrastructure/WellKnownTypesTests.cs
  src/Shared/RoslynUtils/WellKnownTypes.cs
Labels: area-mvc, analyzer, area-minimal

#52134 Update milestones for December
  .github/fabricbot.json
Labels: area-infrastructure

#52105 [release/8.0] [Blazor] Fix the `::after` root component element selector
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Rendering/BrowserRenderer.ts
  src/Components/test/E2ETest/Tests/HeadModificationTest.cs
Labels: Servicing-approved, area-blazor

#52106 Fallback to ArrayPool in Kestrel
  src/Servers/Kestrel/Core/src/Internal/Http/Http1OutputProducer.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ChunkedResponseTests.cs
Labels: Perf, feature-kestrel, area-networking

#52034 [release/8.0] Fix ambiguous route analyzer false positive with action replacement
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Mvc/DetectAmbiguousActionRoutes.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Mvc/MvcAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/test/Mvc/DetectAmbiguousActionRoutesTest.cs
Labels: Servicing-approved, area-infrastructure

#52035 [release/8.0] Fix ambiguous route analyzer false positive with switch
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/DetectAmbiguousRoutes.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteHandlers/DetectAmbiguousMappedRoutesTest.cs
Labels: Servicing-approved, area-infrastructure

#52133 [Blazor] do not enhance form when method = "dialog" or target != "_self"
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/src/Services/NavigationEnhancement.ts
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/FormSubmitButtonWithFormmethod.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/FormWithMethodAndSubmitButtonWithFormmethod.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/FormWithTargetAndSubmitButtonWithFormtarget.razor
Labels: area-blazor

#52235 Unskip HelixPlatform_QuicListenerIsSupported on debian 12
  src/Servers/Kestrel/Transport.Quic/test/WebHostTests.cs
Labels: area-networking

#52236 Unquarantine GET_ConnectionsMakingMultipleRequests_AllSuccess
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
Labels: area-networking

#52237 Unquarantine ClientCertificate_NoOrDelayed_Available_Ignored
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3TlsTests.cs
Labels: area-networking

#52239 Unquarantine PersistentState_StreamsReused_StatePersisted
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionContextTests.cs
Labels: area-networking

#52240 Unquarantine HttpClientHttp2InteropTests
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
Labels: area-networking

#52224 Update SDK (9.0.100-alpha.1.23568.4)
  global.json
Labels: area-infrastructure

#52220 [release/8.0] Fix "Blazor enhanced form handling doesn't honor button formaction attribute"
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/src/Services/NavigationEnhancement.ts
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponentEndpointsStartup.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/FormSubmitButtonWithFormaction.razor
Labels: Servicing-approved, area-blazor

#52259 Don't explicitly retry WebConfigAppendsHostingStartup_OutOfProcess
  eng/test-configuration.json
Labels: area-infrastructure

#52258 Stop retrying entire HTTP/3 test classes
  eng/test-configuration.json
Labels: area-infrastructure

#52233 [Blazor] Fix the `::after` root component element selector
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Rendering/BrowserRenderer.ts
  src/Components/test/E2ETest/Tests/HeadModificationTest.cs
Labels: area-blazor

#52232 [Blazor] Fix type name hashing when the type has multibyte characters
  src/Components/Endpoints/src/Rendering/SSRRenderModeBoundary.cs
  src/Components/Endpoints/src/Rendering/TypeNameHash.cs
  src/Components/Endpoints/test/TypeNameHashTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/MultibyteComponentTypeNameTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Rendering/PageRenderingComponentWithMultibyteTypeName.razor
  src/Components/test/testassets/TestContentPackage/MûltibyteÇharacterCompoñent.razor
Labels: area-blazor

#52267 Support NavigateTo when enhanced nav is disabled
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Boot.Web.ts
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/Web.JS/src/Services/NavigationManager.ts
  src/Components/test/E2ETest/ServerRenderingTests/EnhancedNavigationTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/EnhancedNavigationTestUtil.cs
  src/Components/test/E2ETest/ServerRenderingTests/InteractivityTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Interactivity/InteractiveNavigateTo.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Shared/EnhancedNavLayout.razor
Labels: Servicing-approved, area-blazor

#52219 [release/8.0] Fix radio button reset after submitting enhanced form
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/src/Rendering/DomMerging/DomSync.ts
  src/Components/Web.JS/test/DomSync.test.ts
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/FormWithCheckboxAndRadioButton.razor
Labels: Servicing-approved, area-blazor

#52331 [Blazor] Try to load the assembly when finding out a root component or a parameter in webassembly
  AspNetCore.sln
  src/Components/ComponentsNoDeps.slnf
  src/Components/Shared/src/ComponentParametersTypeCache.cs
  src/Components/Shared/src/RootComponentTypeCache.cs
  src/Components/test/E2ETest/ServerRenderingTests/InteractivityTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/RenderComponentWasmFromRazorClassLibrary.razor
  src/Components/test/testassets/Components.WasmMinimal/Components.WasmMinimal.csproj
  src/Components/test/testassets/Components.WasmMinimal/Program.cs
  src/Components/test/testassets/NotReferencedInWasmCodePackage/NotExplicitlyLoadedFromWasmCode.razor
  src/Components/test/testassets/NotReferencedInWasmCodePackage/NotReferencedInWasmCodePackage.csproj
Labels: area-blazor

#52391 Fixed a typo in AddDbContextCheck comment
  src/Middleware/HealthChecks.EntityFrameworkCore/src/DependencyInjection/EntityFrameworkCoreHealthChecksBuilderExtensions.cs
Labels: community-contribution, area-networking, area-middleware

#52260 [Blazor] Update MSBuild targets so they get imported correctly (6.0).
  src/Components/WebView/Samples/PhotinoPlatform/testassets/PhotinoTestApp/PhotinoTestApp.csproj
  src/Components/WebView/WebView/src/Microsoft.AspNetCore.Components.WebView.csproj
  src/Components/WebView/WebView/src/build/Microsoft.AspNetCore.Components.WebView.props
  src/Components/WebView/WebView/src/buildMultiTargeting/Microsoft.AspNetCore.Components.WebView.props
  src/Components/WebView/WebView/src/buildTransitive/Microsoft.AspNetCore.Components.WebView.props
Labels: Servicing-approved, area-blazor

#46898 Add support for F# `Async<'T>` as an awaitable type in minimal APIs
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/Microsoft.AspNetCore.Http.Extensions.Tests.csproj
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/CompileTimeCreationTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RuntimeCreationTests.cs
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Mvc/Mvc.Core/test/ApplicationModels/EndpointMetadataProviderTest.cs
  src/Mvc/Mvc.Core/test/Microsoft.AspNetCore.Mvc.Core.Test.csproj
  src/OpenApi/src/OpenApiGenerator.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests.csproj
  src/OpenApi/test/OpenApiGeneratorTests.cs
  src/Shared/EndpointMetadataPopulator.cs
  src/Shared/ObjectMethodExecutor/CoercedAwaitableInfo.cs
  src/Shared/ObjectMethodExecutor/ObjectMethodExecutorFSharpSupport.cs
  src/Shared/test/Shared.Tests/ObjectMethodExecutorTest.cs
Labels: community-contribution, area-minimal

#52300 [Blazor] Update MSBuild targets so they get imported correctly (8.0)
  src/Components/WebView/Samples/PhotinoPlatform/testassets/PhotinoTestApp/PhotinoTestApp.csproj
  src/Components/WebView/WebView/src/Microsoft.AspNetCore.Components.WebView.csproj
  src/Components/WebView/WebView/src/build/Microsoft.AspNetCore.Components.WebView.props
  src/Components/WebView/WebView/src/buildMultiTargeting/Microsoft.AspNetCore.Components.WebView.props
  src/Components/WebView/WebView/src/buildTransitive/Microsoft.AspNetCore.Components.WebView.props
Labels: Servicing-approved, area-infrastructure

#52301 [Blazor] Update MSBuild targets so they get imported correctly (main)
  src/Components/WebView/Samples/PhotinoPlatform/testassets/PhotinoTestApp/PhotinoTestApp.csproj
  src/Components/WebView/WebView/src/Microsoft.AspNetCore.Components.WebView.csproj
  src/Components/WebView/WebView/src/build/Microsoft.AspNetCore.Components.WebView.props
  src/Components/WebView/WebView/src/buildMultiTargeting/Microsoft.AspNetCore.Components.WebView.props
  src/Components/WebView/WebView/src/buildTransitive/Microsoft.AspNetCore.Components.WebView.props
Labels: area-blazor

#52398 Fix deserializing null properties to Protobuf types
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/JsonConverterHelper.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/MessageTypeInfoResolver.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/ConverterTests/JsonConverterReadTests.cs
Labels: area-grpc

#52234 Improve Blazor project template
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp.Client/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/AccessDenied.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/App.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Routes.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Program.cs
  src/ProjectTemplates/test/Templates.Tests/template-baselines.json
Labels: Servicing-approved, area-blazor

#52359 Fix enhanced form handling use defalt enctype, honor enctype and formenctype
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/src/Services/NavigationEnhancement.ts
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/FormWithEnctypeAndSubmitButtonWithFormenctype.razor
Labels: area-blazor

#52428 Remove InvariantGlobalization in templates
  src/ProjectTemplates/Web.ProjectTemplates/WebApi-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/WebApi-FSharp.fsproj.in
  src/ProjectTemplates/Web.ProjectTemplates/Worker-FSharp.fsproj.in
Labels: area-mvc

#50204 Add ProblemDetials.Extensions to ControllerBase.Problem and ControllerBase.ValidationProblem
  src/Mvc/Mvc.Core/src/ControllerBase.cs
  src/Mvc/Mvc.Core/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Core/test/ControllerBaseTest.cs
Labels: area-mvc, community-contribution

#52272 Delete Stale Chunks
  src/Mvc/Mvc.ViewFeatures/test/CookieTempDataProviderTest.cs
  src/Security/CookiePolicy/test/CookieChunkingTests.cs
  src/Shared/ChunkingCookieManager/ChunkingCookieManager.cs
Labels: area-auth

#52402 gRPC JSON transcoding — Fixed parsing string values into enum when provided string is not valid enum value
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/EnumConverter.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/ConverterTests/JsonConverterReadTests.cs
Labels: area-grpc, community-contribution

#52442 Fix reading null struct property value in gRPC JSON transcoding
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/ValueConverter.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/ConverterTests/JsonConverterReadTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/ConverterTests/JsonConverterWriteTests.cs
Labels: area-grpc

#52443 Fix auto import of proto files when gRPC JSON transcoding is a transitive reference
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Microsoft.AspNetCore.Grpc.JsonTranscoding.csproj
Labels: area-grpc

#51394 Respect "grpc-status-details-bin" trailer on error response
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/JsonRequestHelpers.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/JsonTranscodingServerCallContext.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/UnaryServerCallHandlerTests.cs
Labels: area-grpc, community-contribution

#51359 ApiConventionAnalyzer: support switch expressions
  src/Mvc/Mvc.Api.Analyzers/src/ActualApiResponseMetadataFactory.cs
  src/Mvc/Mvc.Api.Analyzers/src/ApiActionsDoNotRequireExplicitModelValidationCheckAnalyzer.cs
  src/Mvc/Mvc.Api.Analyzers/test/ActualApiResponseMetadataFactoryTest.cs
  src/Mvc/Mvc.Api.Analyzers/test/ApiConventionAnalyzerIntegrationTest.cs
  src/Mvc/Mvc.Api.Analyzers/test/TestFiles/ActualApiResponseMetadataFactoryTest/InspectReturnExpressionTestsForSwitchExpression.cs
Labels: area-mvc, community-contribution, pending-ci-rerun

#52449 Fix generating enum schema in gRPC JSON transcoding OpenAPI
  src/Grpc/JsonTranscoding/perf/Microsoft.AspNetCore.Grpc.Microbenchmarks/Json/JsonReading.cs
  src/Grpc/JsonTranscoding/perf/Microsoft.AspNetCore.Grpc.Microbenchmarks/Json/JsonWriting.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/GrpcJsonTranscodingOptions.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/GrpcJsonTranscodingServiceExtensions.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Binding/JsonTranscodingProviderServiceBinder.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/JsonContext.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/MessageTypeInfoResolver.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Microsoft.AspNetCore.Grpc.JsonTranscoding.csproj
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.Swagger/GrpcSwaggerServiceExtensions.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.Swagger/Internal/GrpcDataContractResolver.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.Swagger/Internal/GrpcJsonTranscodingDescriptionProvider.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.Swagger/Internal/MessageDescriptorHelpers.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.Swagger/Microsoft.AspNetCore.Grpc.Swagger.csproj
  src/Grpc/JsonTranscoding/src/Shared/DescriptorRegistry.cs
  src/Grpc/JsonTranscoding/src/Shared/ServiceDescriptorHelpers.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.IntegrationTests/Infrastructure/DynamicGrpcServiceRegistry.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/ConverterTests/JsonConverterReadTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/ConverterTests/JsonConverterWriteTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/ConverterTests/MessageTypeInfoResolverTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/Binding/ResponseBodyTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/Microsoft.AspNetCore.Grpc.Swagger.Tests.csproj
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/Proto/messages.proto
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/Proto/responsebody.proto
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/SchemaGeneratorIntegrationTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/Services/ResponseBodyService.cs
  src/Grpc/JsonTranscoding/test/testassets/Sandbox/transcoding.proto
Labels: area-grpc
