Repository dotnet/aspnetcore, pull requests merged in 2023-03, with the labels that each got.

#46819 Tidy up some irregularities in certificate reloading
  src/Servers/Kestrel/Core/src/KestrelConfigurationLoader.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Servers/Kestrel/Core/src/ListenOptionsHttpsExtensions.cs
  src/Servers/Kestrel/Core/test/KestrelServerTests.cs
  src/Servers/Kestrel/Kestrel/test/KestrelConfigurationLoaderTests.cs
  src/Servers/Kestrel/test/BindTests/AddressRegistrationTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsTests.cs
Labels: area-runtime

#46921 Add TryParse support for route parameters.
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointParameterEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointParameter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitBodyParam_ComplexReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitServiceParam_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitSource_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleSpecialTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleStringParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_NoParam_StringReturn_WithFilter.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleComplexTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleEnumParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleNullableStringParam_WithEmptyQueryStringValueProvided_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleTimeOnlyParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_NoParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_WithParams_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateGeneratorTests.cs
Labels: area-runtime

#46716 Remove JsonSerializerOptions copy in ProblemDetailsJsonOptionsSetup
  src/Http/Http.Extensions/src/ProblemDetailsJsonOptionsSetup.cs
  src/Http/Http.Extensions/test/ProblemDetailsServiceCollectionExtensionsTest.cs
Labels: area-runtime

#46916 Avoid trying to use _hotReloadAgent variable before it is initialized
  src/Components/WebAssembly/WebAssembly/src/HotReload/WebAssemblyHotReload.cs
Labels: area-blazor

#46946 Update sourceIndexPackageVersion
  .azure/pipelines/ci.yml
  global.json
Labels: area-infrastructure

#46573 Productize QuickGrid
  AspNetCore.sln
  eng/ProjectReferences.props
  eng/TrimmableProjects.props
  src/Components/Components.slnf
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.EntityFrameworkAdapter/src/EntityFrameworkAdapterServiceCollectionExtensions.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.EntityFrameworkAdapter/src/EntityFrameworkAsyncQueryExecutor.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.EntityFrameworkAdapter/src/Microsoft.AspNetCore.Components.QuickGrid.EntityFrameworkAdapter.csproj
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.EntityFrameworkAdapter/src/PublicAPI.Shipped.txt
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.EntityFrameworkAdapter/src/PublicAPI.Unshipped.txt
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Columns/Align.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Columns/ColumnBase.razor
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Columns/ColumnBase.razor.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Columns/ColumnBase.razor.css
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Columns/GridSort.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Columns/PropertyColumn.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Columns/SortedProperty.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Columns/TemplateColumn.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/GridItemsProvider.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/GridItemsProviderRequest.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/GridItemsProviderResult.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/IAsyncQueryExecutor.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Infrastructure/AsyncQueryExecutorSupplier.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Infrastructure/ColumnsCollectedNotifier.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Infrastructure/Defer.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Infrastructure/EventCallbackSubscribable.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Infrastructure/EventCallbackSubscriber.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Infrastructure/EventHandlers.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Infrastructure/InternalGridContext.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Microsoft.AspNetCore.Components.QuickGrid.csproj
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Pagination/PaginationState.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Pagination/Paginator.razor
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Pagination/Paginator.razor.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Pagination/Paginator.razor.css
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/PublicAPI.Shipped.txt
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/PublicAPI.Unshipped.txt
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/QuickGrid.razor
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/QuickGrid.razor.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/QuickGrid.razor.css
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/QuickGrid.razor.js
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/SortDirection.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Themes/Default.css
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/test/E2ETest/Tests/QuickGridTest.cs
  src/Components/test/testassets/BasicTestApp/BasicTestApp.csproj
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/QuickGridTest/SampleQuickGridComponent.razor
Labels: area-blazor

#46910 Fail client result if client can't parse invocation argument(s)
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HubConnectionTests.Protocol.cs
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/HubConnection.ReturnResultTest.java
Labels: area-signalr

#45855 Try OSX 13 again
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#47006 Fix warnings about dependabot.yml errors
  .github/dependabot.yml
Labels: area-infrastructure

#47002 Enable linux-musl composite artifact and rename to match the Blob convention
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-infrastructure

#46226 Consistently return StringValues.Empty instead of default for missing headers
  src/Http/Http/src/HeaderDictionary.cs
  src/Http/Http/test/HeaderDictionaryTests.cs
  src/Http/Http/test/QueryCollectionTests.cs
  src/Servers/HttpSys/test/FunctionalTests/RequestBodyTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/RequestResponseTests.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.cs
  src/Servers/Kestrel/Core/test/HttpRequestHeadersTests.cs
  src/Servers/Kestrel/shared/KnownHeaders.cs
  src/Shared/HttpSys/RequestProcessing/RequestHeaders.Generated.cs
  src/Shared/HttpSys/RequestProcessing/RequestHeaders.Generated.tt
  src/Shared/HttpSys/RequestProcessing/RequestHeaders.cs
Labels: area-runtime

#46965 Call Yarn Install a second time if first one fails
  .azure/pipelines/components-e2e-tests.yml
  eng/targets/Npm.Common.targets
  src/Components/CustomElements/src/Microsoft.AspNetCore.Components.CustomElements.csproj
  src/Components/CustomElements/src/js/package.json
  src/Components/Web.JS/package.json
  src/Components/WebAssembly/Authentication.Msal/src/Interop/package.json
  src/Components/WebAssembly/Authentication.Msal/src/Microsoft.Authentication.WebAssembly.Msal.csproj
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/package.json
  src/Components/WebAssembly/WebAssembly.Authentication/src/Microsoft.AspNetCore.Components.WebAssembly.Authentication.csproj
  src/JSInterop/Microsoft.JSInterop.JS/src/package.json
  src/SignalR/clients/ts/FunctionalTests/package.json
  src/SignalR/clients/ts/signalr-protocol-msgpack/package.json
  src/SignalR/clients/ts/signalr/package.json
Labels: area-infrastructure

#46972 Move route or query resolution to startup
  src/Http/Http.Extensions/gen/RequestDelegateGenerator.cs
  src/Http/Http.Extensions/gen/RequestDelegateGeneratorSources.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointParameterEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/StaticRouteHandlerModel.Emitter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitBodyParam_ComplexReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitServiceParam_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitSource_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleSpecialTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleStringParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_NoParam_StringReturn_WithFilter.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleComplexTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleEnumParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleNullableStringParam_WithEmptyQueryStringValueProvided_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleNullableStringParam_WithQueryStringValueProvided_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleNullableStringParam_WithoutQueryStringValueProvided_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleStringParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleTimeOnlyParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_NoParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_WithParams_StringReturn.generated.txt
  src/Shared/RoslynUtils/CodeWriter.cs
Labels: area-web-frameworks

#46975 Backport QuickGrid to preview 2
  AspNetCore.sln
  eng/ProjectReferences.props
  eng/TrimmableProjects.props
  src/Components/Components.slnf
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.EntityFrameworkAdapter/src/EntityFrameworkAdapterServiceCollectionExtensions.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.EntityFrameworkAdapter/src/EntityFrameworkAsyncQueryExecutor.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.EntityFrameworkAdapter/src/Microsoft.AspNetCore.Components.QuickGrid.EntityFrameworkAdapter.csproj
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.EntityFrameworkAdapter/src/PublicAPI.Shipped.txt
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.EntityFrameworkAdapter/src/PublicAPI.Unshipped.txt
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Columns/Align.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Columns/ColumnBase.razor
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Columns/ColumnBase.razor.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Columns/ColumnBase.razor.css
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Columns/GridSort.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Columns/PropertyColumn.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Columns/SortedProperty.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Columns/TemplateColumn.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/GridItemsProvider.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/GridItemsProviderRequest.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/GridItemsProviderResult.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/IAsyncQueryExecutor.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Infrastructure/AsyncQueryExecutorSupplier.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Infrastructure/ColumnsCollectedNotifier.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Infrastructure/Defer.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Infrastructure/EventCallbackSubscribable.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Infrastructure/EventCallbackSubscriber.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Infrastructure/EventHandlers.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Infrastructure/InternalGridContext.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Microsoft.AspNetCore.Components.QuickGrid.csproj
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Pagination/PaginationState.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Pagination/Paginator.razor
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Pagination/Paginator.razor.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Pagination/Paginator.razor.css
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/PublicAPI.Shipped.txt
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/PublicAPI.Unshipped.txt
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/QuickGrid.razor
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/QuickGrid.razor.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/QuickGrid.razor.css
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/QuickGrid.razor.js
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/SortDirection.cs
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Themes/Default.css
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/test/E2ETest/Tests/QuickGridTest.cs
  src/Components/test/testassets/BasicTestApp/BasicTestApp.csproj
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/QuickGridTest/SampleQuickGridComponent.razor
Labels: area-blazor

#46911 Correct a few nullable annotations
  src/Http/Headers/src/ContentRangeHeaderValue.cs
  src/Http/Headers/src/EntityTagHeaderValue.cs
  src/Http/Headers/src/PublicAPI.Unshipped.txt
  src/Http/Headers/src/RangeHeaderValue.cs
  src/Http/Headers/src/StringWithQualityHeaderValue.cs
  src/Http/Headers/test/RangeItemHeaderValueTest.cs
  src/Middleware/ResponseCaching/src/ResponseCachingMiddleware.cs
Labels: area-runtime

#46824 Expose the SslStream and Cipher Suite on ITlsHandshakeFeature
  src/Servers/Connections.Abstractions/src/Features/ITlsHandshakeFeature.cs
  src/Servers/Connections.Abstractions/src/PublicAPI/net8.0/PublicAPI.Unshipped.txt
  src/Servers/Connections.Abstractions/src/TlsConnectionCallbackContext.cs
  src/Servers/Connections.Abstractions/src/TlsConnectionCallbackOptions.cs
  src/Servers/Kestrel/Core/src/Features/ISslStreamFeature.cs
  src/Servers/Kestrel/Core/src/Internal/TlsConnectionFeature.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Servers/Kestrel/Core/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
Labels: area-runtime

#46951 Remove extra English installer files
  src/Installers/Windows/SharedFrameworkBundle/Bundle.wxs
  src/Installers/Windows/SharedFrameworkBundle/SharedFrameworkBundle.wixproj
  src/Installers/Windows/SharedFrameworkBundle/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/Bundle.wxs
  src/Installers/Windows/WindowsHostingBundle/WindowsHostingBundle.wixproj
  src/Installers/Windows/WindowsHostingBundle/thm.wxl
Labels: area-infrastructure, feature-installers

#46791 [RDG] Support serializing polymorphic response types with STJ
  src/Http/Http.Extensions/gen/RequestDelegateGenerator.cs
  src/Http/Http.Extensions/gen/RequestDelegateGeneratorSources.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointJsonResponseEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointResponse.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/StaticRouteHandlerModel.Emitter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitBodyParam_ComplexReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitServiceParam_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitSource_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleSpecialTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleStringParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_NoParam_StringReturn_WithFilter.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleComplexTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleEnumParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleNullableStringParam_WithEmptyQueryStringValueProvided_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleTimeOnlyParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_NoParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_WithParams_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateGeneratorTests.cs
  src/Http/samples/MinimalSample/Program.cs
Labels: area-web-frameworks

#46539 Expose the original status code in StatusCodeReExecuteFeature
  src/Middleware/Diagnostics.Abstractions/src/IStatusCodeReExecuteFeature.cs
  src/Middleware/Diagnostics.Abstractions/src/PublicAPI.Unshipped.txt
  src/Middleware/Diagnostics/src/PublicAPI.Unshipped.txt
  src/Middleware/Diagnostics/src/StatusCodePage/StatusCodePagesExtensions.cs
  src/Middleware/Diagnostics/src/StatusCodePage/StatusCodeReExecuteFeature.cs
Labels: area-runtime

#47017 Set up TryParse blocks for explicit header parameters.
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointParameter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateGeneratorTests.cs
Labels: area-runtime

#46675 Update servicing milestones for April servicing
  .github/fabricbot.json
Labels: blocked, area-infrastructure

#47055 Remove Doug from codeowners, area-owners
  .github/CODEOWNERS
  docs/area-owners.md
Labels: area-infrastructure

#46693 Eliminate framework use of 'IJSUnmarshalledRuntime'
  src/Components/Shared/src/BrowserNavigationManagerInterop.cs
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/Web.JS/src/Platform/WebAssemblyConfigLoader.ts
  src/Components/Web/src/Forms/InputFile.cs
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/JSInterop/src/InternalCalls.cs
  src/Components/WebAssembly/JSInterop/src/Microsoft.JSInterop.WebAssembly.csproj
  src/Components/WebAssembly/JSInterop/src/WebAssemblyJSRuntime.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/Microsoft.AspNetCore.Components.WebAssembly.Authentication.Tests.csproj
  src/Components/WebAssembly/WebAssembly.Authentication/test/WebAssemblyAuthenticationServiceCollectionExtensionsTests.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyCultureProvider.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/WebAssemblyHotReload.cs
  src/Components/WebAssembly/WebAssembly/src/Rendering/WebAssemblyRenderer.cs
  src/Components/WebAssembly/WebAssembly/src/Services/DefaultWebAssemblyJSRuntime.cs
  src/Components/WebAssembly/WebAssembly/src/Services/IInternalJSImportMethods.cs
  src/Components/WebAssembly/WebAssembly/src/Services/InternalJSImportMethods.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyNavigationInterception.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyNavigationManager.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyCultureProviderTest.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyHostBuilderTest.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyHostTest.cs
  src/Components/WebAssembly/WebAssembly/test/TestInternalJSImportMethods.cs
  src/Components/WebAssembly/WebAssembly/test/TestJSUnmarshalledRuntime.cs
  src/Components/test/E2ETest/Tests/InteropTest.cs
  src/JSInterop/Microsoft.JSInterop/src/Implementation/JSInProcessObjectReference.cs
  src/JSInterop/Microsoft.JSInterop/src/Microsoft.JSInterop.csproj
Labels: area-blazor, blazor-wasm

#47067 Add captainsafia to Http codeowners
  .github/CODEOWNERS
Labels: area-infrastructure

#46953 Make BlazingPizza.Server sample work again
  AspNetCore.sln
  src/Components/Components.slnf
  src/Components/benchmarkapps/BlazingPizza.Server/BlazingPizza.Server.csproj
  src/Components/benchmarkapps/BlazingPizza.Server/Directory.Build.props
  src/Components/benchmarkapps/BlazingPizza.Server/Directory.Build.targets
  src/Components/benchmarkapps/BlazingPizza.Server/JSRuntimeExtensions.cs
  src/Components/benchmarkapps/BlazingPizza.Server/Model/Address.cs
  src/Components/benchmarkapps/BlazingPizza.Server/Model/LatLong.cs
  src/Components/benchmarkapps/BlazingPizza.Server/Model/Order.cs
  src/Components/benchmarkapps/BlazingPizza.Server/Model/OrderState.cs
  src/Components/benchmarkapps/BlazingPizza.Server/Model/Pizza.cs
  src/Components/benchmarkapps/BlazingPizza.Server/Model/PizzaSpecial.cs
  src/Components/benchmarkapps/BlazingPizza.Server/Model/PizzaTopping.cs
  src/Components/benchmarkapps/BlazingPizza.Server/Model/Point.cs
  src/Components/benchmarkapps/BlazingPizza.Server/Model/SpecialsService.cs
  src/Components/benchmarkapps/BlazingPizza.Server/Model/Topping.cs
  src/Components/benchmarkapps/BlazingPizza.Server/Model/ToppingsService.cs
  src/Components/benchmarkapps/BlazingPizza.Server/Model/UserInfo.cs
  src/Components/benchmarkapps/BlazingPizza.Server/NuGet.config
  src/Components/benchmarkapps/BlazingPizza.Server/OrderState.cs
  src/Components/benchmarkapps/BlazingPizza.Server/Pages/Checkout.razor
  src/Components/benchmarkapps/BlazingPizza.Server/Pages/Index.razor
  src/Components/benchmarkapps/BlazingPizza.Server/Pages/_Host.cshtml
  src/Components/benchmarkapps/BlazingPizza.Server/Program.cs
  src/Components/benchmarkapps/BlazingPizza.Server/Properties/launchSettings.json
  src/Components/benchmarkapps/BlazingPizza.Server/Shared/MainLayout.razor
  src/Components/benchmarkapps/BlazingPizza.Server/SpecialsService.cs
  src/Components/benchmarkapps/BlazingPizza.Server/Startup.cs
  src/Components/benchmarkapps/BlazingPizza.Server/ToppingsService.cs
  src/Components/benchmarkapps/BlazingPizza.Server/_Imports.razor
Labels: area-blazor

#47064 Fix MapAction_SingleTimeOnlyParam_StringReturn
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateGeneratorTests.cs
Labels: area-runtime

#47062 Update SDK to 8.0.100-preview.3.23156.3
  global.json
Labels: area-infrastructure

#47073 Update CompatibilitySuppressions.xml files
  src/Framework/App.Ref/src/CompatibilitySuppressions.xml
  src/Framework/App.Runtime/src/CompatibilitySuppressions.xml
Labels: area-infrastructure

#47072 Skip HelixPlatform_QuickListenerIsSupported on win-arm64
  src/Servers/Kestrel/Transport.Quic/test/WebHostTests.cs
Labels: area-runtime

#47077 Update branding to 7.0.5
  eng/Versions.props
Labels: area-infrastructure

#47076 Update branding to 6.0.16
  eng/Versions.props
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
Labels: area-infrastructure

#47057 [release/6.0] Remove Doug from Codeowners
  .github/CODEOWNERS
Labels: area-infrastructure, tell-mode

#47056 [release/7.0] Remove Doug from CODEOWNERS
  .github/CODEOWNERS
Labels: area-infrastructure, tell-mode

#46564 Prevent NRE when body is not set
  src/Middleware/OutputCaching/src/OutputCacheEntry.cs
  src/Middleware/OutputCaching/src/OutputCacheMiddleware.cs
  src/Middleware/OutputCaching/test/OutputCacheMiddlewareTests.cs
Labels: area-runtime, pending-ci-rerun

#47061 [release/2.1] Remove doug from codeowners
  .github/CODEOWNERS
Labels: area-infrastructure, tell-mode

#47068 Add the standard set of TryParsable tests to implicity route/query.
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointParameter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateGeneratorTests.cs
Labels: area-runtime

#47082 [release/7.0] Use new Chromium headless mode to fix E2E test timeouts (#46812)
  src/Components/test/E2ETest/Tests/CircuitTests.cs
  src/Components/test/E2ETest/Tests/ComponentRenderingTestBase.cs
  src/Shared/E2ETesting/BrowserFixture.cs
  src/Shared/E2ETesting/selenium-config.json
Labels: area-infrastructure, tell-mode

#47084 [release/6.0] Use new Chromium headless mode to fix E2E test timeouts (#46812)
  src/Components/test/E2ETest/Tests/CircuitTests.cs
  src/Components/test/E2ETest/Tests/ComponentRenderingTestBase.cs
  src/Shared/E2ETesting/BrowserFixture.cs
  src/Shared/E2ETesting/selenium-config.json
Labels: area-infrastructure, tell-mode

#47079 Add support for JSON body vs. service inference
  src/Http/Http.Extensions/gen/RequestDelegateGenerator.cs
  src/Http/Http.Extensions/gen/RequestDelegateGeneratorSources.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointParameterEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointParameter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_BindAsync_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitBodyParam_ComplexReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitServiceParam_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitSource_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleSpecialTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleStringParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_NoParam_StringReturn_WithFilter.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleComplexTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleEnumParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleNullableStringParam_WithEmptyQueryStringValueProvided_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleTimeOnlyParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_NoParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_WithParams_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/CompileTimeGeneratorTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateGeneratorTestBase.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateGeneratorTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RuntimeGeneratorTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/SharedTypes.cs
Labels: area-runtime

#47004 Remove some Linq usages from Routing
  src/Http/Routing/src/EndpointNameAddressScheme.cs
  src/Http/Routing/src/Matching/AcceptsMatcherPolicy.cs
  src/Http/Routing/src/Matching/HostMatcherPolicy.cs
  src/Http/Routing/src/ParameterPolicyActivator.cs
  src/Http/Routing/src/Template/RouteTemplate.cs
  src/Http/Routing/src/Template/TemplateBinder.cs
  src/Http/Routing/test/UnitTests/DefaultParameterPolicyFactoryTest.cs
Labels: area-runtime

#47083 Fix SkipHelixArm condition
  eng/targets/Helix.targets
  src/Servers/Kestrel/test/Libuv.BindTests/Libuv.BindTests.csproj
  src/Servers/Kestrel/test/Libuv.FunctionalTests/Libuv.FunctionalTests.csproj
Labels: area-infrastructure

#47081 Fix HRESULT check for IIS file watcher
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/filewatcher.cpp
Labels: servers-iis, area-runtime

#47011 Consolidate RDF and RDG tests (part 1)
  src/Http/Http.Extensions/gen/RequestDelegateGeneratorSources.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_BindAsync_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitBodyParam_ComplexReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitServiceParam_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitSource_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleSpecialTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleStringParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_NoParam_StringReturn_WithFilter.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleComplexTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleEnumParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleNullableStringParam_WithEmptyQueryStringValueProvided_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_NoParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_WithParams_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/CompileTimeCreationTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/CompileTimeIncrementalityTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTestBase.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.JsonBody.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.QueryParameters.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.Responses.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.RouteParameter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.TryParse.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateGeneratorTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RuntimeCreationTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/SharedTypes.cs
Labels: area-runtime

#47101 Trim away netframework targets in source-build
  eng/SourceBuild.props
Labels: area-infrastructure

#46870 Fix canceling flush of CancelInvocation when canceling server-to-client stream
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HubConnectionTests.cs
Labels: area-signalr

#47012 Remove some Linq usages from Kestrel.Core
  src/Servers/Kestrel/Core/src/Internal/AddressBinder.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/TransportManager.cs
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Servers/Kestrel/Core/src/KestrelConfigurationLoader.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Servers/Kestrel/Core/test/AddressBinderTests.cs
  src/Servers/Kestrel/Kestrel/test/KestrelConfigurationLoaderTests.cs
  src/Servers/Kestrel/shared/test/TransportTestHelpers/TestServer.cs
  src/Servers/Kestrel/test/BindTests/AddressRegistrationTests.cs
Labels: area-runtime

#47106 Fix ambiguous route detection for [Route] with HTTP methods
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Mvc/MvcAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/test/Mvc/DetectAmbiguousActionRoutesTest.cs
Labels: area-web-frameworks

#47023 Razor Component IResult
  src/Mvc/Mvc.TagHelpers/src/ComponentTagHelper.cs
  src/Mvc/Mvc.TagHelpers/src/PersistComponentStateTagHelper.cs
  src/Mvc/Mvc.TagHelpers/test/PersistComponentStateTagHelperTest.cs
  src/Mvc/Mvc.ViewFeatures/src/Buffers/ViewBuffer.cs
  src/Mvc/Mvc.ViewFeatures/src/DependencyInjection/MvcViewFeaturesMvcCoreBuilderExtensions.cs
  src/Mvc/Mvc.ViewFeatures/src/MvcViewFeaturesDiagnosticListenerExtensions.cs
  src/Mvc/Mvc.ViewFeatures/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.ViewFeatures/src/RazorComponents/ComponentPrerenderer.cs
  src/Mvc/Mvc.ViewFeatures/src/RazorComponents/IHtmlAsyncContent.cs
  src/Mvc/Mvc.ViewFeatures/src/RazorComponents/RazorComponentResult.cs
  src/Mvc/Mvc.ViewFeatures/src/RazorComponents/RazorComponentResultExecutor.cs
  src/Mvc/Mvc.ViewFeatures/src/RazorComponents/RazorComponentResultHost.cs
  src/Mvc/Mvc.ViewFeatures/src/RazorComponents/RazorComponentResultOfT.cs
  src/Mvc/Mvc.ViewFeatures/src/Rendering/HtmlHelperComponentExtensions.cs
  src/Mvc/Mvc.ViewFeatures/test/RazorComponents/ComponentPrerendererTest.cs
  src/Mvc/Mvc.ViewFeatures/test/RazorComponents/RazorComponentResultTest.cs
Labels: area-mvc, area-blazor

#46760 Templates.Blazor.Tests: skip Playwright based tests when Playwright is not available.
  src/Shared/BrowserTesting/src/BrowserManager.cs
  src/Shared/BrowserTesting/src/Microsoft.AspNetCore.BrowserTesting.csproj
Labels: area-blazor, community-contribution, pending-ci-rerun

#47104 Fix Linux-Musl Composite Artifacts not being built
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-infrastructure

#47085 Initial implementation of filtered full composite image
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Framework/App.Runtime/src/PartialCompositeAssemblyList.txt
Labels: area-infrastructure

#47118 Log unsupported parameter binding scenarios for RDG
  src/Http/Http.Extensions/gen/DiagnosticDescriptors.cs
  src/Http/Http.Extensions/gen/RequestDelegateGenerator.cs
  src/Http/Http.Extensions/gen/Resources.resx
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Endpoint.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointParameter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/CompileTimeCreationTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.cs
  src/Shared/RoslynUtils/WellKnownTypeData.cs
Labels: area-web-frameworks

#47117 Razor Component endpoint implementation
  src/Components/Analyzers/test/Microsoft.AspNetCore.Components.Analyzers.Tests.csproj
  src/Components/Components.slnf
  src/Components/Endpoints/src/Builder/RazorComponentEndpointDataSource.cs
  src/Components/Endpoints/src/DependencyInjection/ComponentPrerenderer.cs
  src/Components/Endpoints/src/DependencyInjection/HttpNavigationManager.cs
  src/Components/Endpoints/src/DependencyInjection/IComponentPrerenderer.cs
  src/Components/Endpoints/src/DependencyInjection/IRazorComponentsBuilder.cs
  src/Components/Endpoints/src/DependencyInjection/InvokedRenderModes.cs
  src/Components/Endpoints/src/DependencyInjection/PersistedStateSerializationMode.cs
  src/Components/Endpoints/src/DependencyInjection/PrerenderingErrorBoundaryLogger.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsMarkerService.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsServiceCollectionExtensions.cs
  src/Components/Endpoints/src/DependencyInjection/RenderMode.cs
  src/Components/Endpoints/src/DependencyInjection/ServerComponentInvocationSequence.cs
  src/Components/Endpoints/src/DependencyInjection/ServerComponentSerializer.cs
  src/Components/Endpoints/src/DependencyInjection/UnsupportedJavaScriptRuntime.cs
  src/Components/Endpoints/src/DependencyInjection/UnsupportedNavigationInterception.cs
  src/Components/Endpoints/src/DependencyInjection/WebAssemblyComponentSerializer.cs
  src/Components/Endpoints/src/Microsoft.AspNetCore.Components.Endpoints.csproj
  src/Components/Endpoints/src/PublicAPI.Unshipped.txt
  src/Components/Endpoints/src/RazorComponentEndpoint.cs
  src/Components/Endpoints/src/RazorComponentEndpointHost.cs
  src/Components/Endpoints/src/Resources.resx
  src/Components/Endpoints/src/Results/RazorComponentResult.cs
  src/Components/Endpoints/src/Results/RazorComponentResultExecutor.cs
  src/Components/Endpoints/src/Results/RazorComponentResultOfT.cs
  src/Components/Endpoints/test/ComponentPrerendererTest.cs
  src/Components/Endpoints/test/Microsoft.AspNetCore.Components.Endpoints.Tests.csproj
  src/Components/Endpoints/test/RazorComponentResultTest.cs
  src/Components/Samples/BlazorUnitedApp/Shared/MainLayout.razor
  src/Components/Server/test/Circuits/ServerComponentDeserializerTest.cs
  src/Components/Server/test/Microsoft.AspNetCore.Components.Server.Tests.csproj
  src/Html.Abstractions/src/IHtmlAsyncContent.cs
  src/Html.Abstractions/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.TagHelpers/src/ComponentTagHelper.cs
  src/Mvc/Mvc.TagHelpers/src/PersistComponentStateTagHelper.cs
  src/Mvc/Mvc.TagHelpers/src/Resources.resx
  src/Mvc/Mvc.TagHelpers/test/ComponentTagHelperTest.cs
  src/Mvc/Mvc.TagHelpers/test/PersistComponentStateTagHelperTest.cs
  src/Mvc/Mvc.ViewFeatures/src/Buffers/ViewBuffer.cs
  src/Mvc/Mvc.ViewFeatures/src/DependencyInjection/MvcViewFeaturesMvcCoreBuilderExtensions.cs
  src/Mvc/Mvc.ViewFeatures/src/Microsoft.AspNetCore.Mvc.ViewFeatures.csproj
  src/Mvc/Mvc.ViewFeatures/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.ViewFeatures/src/RazorComponents/IHtmlAsyncContent.cs
  src/Mvc/Mvc.ViewFeatures/src/RazorComponents/RazorComponentResultExecutor.cs
  src/Mvc/Mvc.ViewFeatures/src/RazorComponents/RazorComponentResultHost.cs
  src/Mvc/Mvc.ViewFeatures/src/RazorComponents/UnsupportedJavaScriptRuntime.cs
  src/Mvc/Mvc.ViewFeatures/src/RazorComponents/UnsupportedNavigationInterception.cs
  src/Mvc/Mvc.ViewFeatures/src/Rendering/HtmlHelperComponentExtensions.cs
  src/Mvc/Mvc.ViewFeatures/src/Resources.resx
  src/Mvc/Mvc.slnf
  src/Shared/Components/ComponentParameter.cs
  src/Shared/Components/ProtectedPrerenderComponentApplicationStore.cs
  src/Shared/Components/ServerComponent.cs
  src/Shared/Components/ServerComponentMarker.cs
  src/Shared/Components/ServerComponentSerializationSettings.cs
  src/Shared/Components/WebAssemblyComponentMarker.cs
  src/Shared/Components/WebAssemblyComponentSerializationSettings.cs
Labels: area-blazor

#47102 Follow up on IParsable changes and update tests
  src/Http/Http.Extensions/gen/RequestDelegateGenerator.cs
  src/Http/Http.Extensions/gen/RequestDelegateGeneratorSources.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EmitterContext.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointJsonResponseEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointParameterEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Endpoint.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointParameter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/StaticRouteHandlerModel.Emitter.cs
  src/Http/Http.Extensions/test/Microsoft.AspNetCore.Http.Extensions.Tests.csproj
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_BindAsync_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitBodyParam_ComplexReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitServiceParam_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitSource_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleSpecialTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleStringParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_NoParam_StringReturn_WithFilter.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleComplexTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleEnumParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleNullableStringParam_WithEmptyQueryStringValueProvided_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_NoParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_WithParams_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/CompileTimeCreationTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTestBase.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.BindAsync.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.JsonBodyOrService.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.TryParse.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/SharedTypes.cs
Labels: area-runtime

#46735 [release/6.0] Source-build: Allow setting KnownAppHostPack and KnownRuntimePack
  eng/tools/GenerateFiles/Directory.Build.targets.in
Labels: area-infrastructure, community-contribution, pending-ci-rerun

#46648 Backport SignalR test changes
  src/SignalR/clients/ts/FunctionalTests/func.jest.config.js
  src/SignalR/clients/ts/FunctionalTests/ts/HubConnectionTests.ts
Labels: area-signalr, tell-mode

#47066 Set InvariantGlobalization in api template
  src/ProjectTemplates/Shared/Project.cs
  src/ProjectTemplates/Web.ProjectTemplates/Api-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/GrpcService-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/WebApi-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/WebApi-FSharp.fsproj.in
  src/ProjectTemplates/Web.ProjectTemplates/Worker-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/Worker-FSharp.fsproj.in
  src/ProjectTemplates/test/Templates.Tests/ApiTemplateTest.cs
  src/ProjectTemplates/test/Templates.Tests/GrpcTemplateTest.cs
  src/ProjectTemplates/test/Templates.Tests/WorkerTemplateTest.cs
Labels: area-mvc

#47123 Fix verb in route template with gRPC transcoding
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/JsonTranscodingRouteAdapter.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.IntegrationTests/RouteTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/JsonTranscodingRouteAdapterTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/JsonTranscodingServiceMethodProviderTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/Proto/transcoding.proto
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/TestObjects/Services/JsonTranscodingColonRouteService.cs
  src/Grpc/JsonTranscoding/test/testassets/IntegrationTestsWebsite/Protos/greet.proto
Labels: area-grpc

#47174 Update SDK to 8.0.100-preview.3.23159.20
  global.json
Labels: area-infrastructure

#47144 Enable nullability in RDG and fix warnings
  eng/targets/CSharp.Common.targets
  src/Http/Http.Extensions/gen/DiagnosticDescriptors.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.Generators.csproj
  src/Http/Http.Extensions/gen/RequestDelegateGenerator.cs
  src/Http/Http.Extensions/gen/Resources.resx
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointJsonResponseEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Endpoint.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointResponse.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/InvocationOperationExtensions.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/StaticRouteHandlerModel.Emitter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitBodyParam_ComplexReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleTimeOnlyParam_StringReturn.generated.txt
  src/Shared/RoslynUtils/SymbolExtensions.cs
Labels: area-runtime

#47165 Include verb in gRPC JSON transcoding swagger path
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.Swagger/Internal/GrpcJsonTranscodingDescriptionProvider.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/Parameters/ParametersTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/Proto/parameters.proto
Labels: area-grpc

#47181 Added label mapping for area-hosting
  .github/fabricbot.json
Labels: area-infrastructure

#47190 Add link to known issues doc in diagnostic messages
  src/Http/Http.Extensions/gen/Resources.resx
Labels: area-runtime

#47203 Fix sending to another client from OnConnectedAsync
  src/SignalR/server/Core/src/Internal/HubCallerClients.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTestUtils/Hubs.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-signalr

#47195 Merging internal commits for release/6.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure

#47198 Merging internal commits for release/7.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  src/Framework/test/TargetingPackTests.cs
Labels: area-infrastructure

#47206 Add src/DefaultBuilder/ to area-hosting
  .github/fabricbot.json
Labels: area-infrastructure, area-runtime

#47207 More precise CPU instruction set specification for ASP.NET composite
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-infrastructure

#47234 Skip BlazorWasmStandaloneTemplate_Works
  src/ProjectTemplates/test/Templates.Blazor.Tests/BlazorWasmTemplateTest.cs
Labels: area-mvc

#47241 Remove unnecessary trimming workarounds
  src/Hosting/Hosting/src/GenericHost/GenericWebHostBuilder.cs
  src/Hosting/Hosting/src/Internal/UseStartupState.cs
  src/Hosting/Hosting/src/WebHostBuilderExtensions.cs
  src/Http/Authentication.Abstractions/src/AuthenticationOptions.cs
  src/Http/Http.Abstractions/src/Extensions/UseMiddlewareExtensions.cs
  src/Middleware/RateLimiting/src/RateLimiterOptions.cs
  src/Security/Authentication/Core/src/AuthenticationBuilder.cs
Labels: area-security

#47214 Update gRPC template to use 2.52.0
  eng/Versions.props
  src/Grpc/Interop/Directory.Build.props
  src/Grpc/JsonTranscoding/perf/Directory.Build.props
  src/Grpc/JsonTranscoding/perf/Microsoft.AspNetCore.Grpc.Microbenchmarks/Microsoft.AspNetCore.Grpc.Microbenchmarks.csproj
  src/Grpc/JsonTranscoding/test/Directory.Build.props
  src/ProjectTemplates/Web.ProjectTemplates/GrpcService-CSharp.csproj.in
Labels: area-grpc

#46115 Implement request timeout middleware
  src/Http/Http/perf/Microbenchmarks/Microsoft.AspNetCore.Http.Microbenchmarks.csproj
  src/Http/Http/perf/Microbenchmarks/RequestTimeoutsMiddlewareBenchmark.cs
  src/Http/Http/src/Microsoft.AspNetCore.Http.csproj
  src/Http/Http/src/PublicAPI.Unshipped.txt
  src/Http/Http/src/Timeouts/CancellationTokenLinker.cs
  src/Http/Http/src/Timeouts/DisableRequestTimeoutAttribute.cs
  src/Http/Http/src/Timeouts/HttpRequestTimeoutFeature.cs
  src/Http/Http/src/Timeouts/ICancellationTokenLinker.cs
  src/Http/Http/src/Timeouts/IHttpRequestTimeoutFeature.cs
  src/Http/Http/src/Timeouts/LoggerExtensions.cs
  src/Http/Http/src/Timeouts/RequestTimeoutAttribute.cs
  src/Http/Http/src/Timeouts/RequestTimeoutOptions.cs
  src/Http/Http/src/Timeouts/RequestTimeoutPolicy.cs
  src/Http/Http/src/Timeouts/RequestTimeoutsIApplicationBuilderExtensions.cs
  src/Http/Http/src/Timeouts/RequestTimeoutsIEndpointConventionBuilderExtensions.cs
  src/Http/Http/src/Timeouts/RequestTimeoutsIServiceCollectionExtensions.cs
  src/Http/Http/src/Timeouts/RequestTimeoutsMiddleware.cs
  src/Http/Http/test/Timeouts/RequestTimeoutOptionsTests.cs
  src/Http/Http/test/Timeouts/RequestTimeoutsMiddlewareTests.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.Generated.cs
  src/Servers/Kestrel/tools/CodeGenerator/HttpProtocolFeatureCollection.cs
Labels: area-runtime, community-contribution, blog-candidate

#47262 Add area-infrastructure label to wtgodbe's PRs
  .github/fabricbot.json
Labels: area-infrastructure

#47097 Only invoke 'IsService' check once in resolution
  src/Http/Http.Extensions/gen/RequestDelegateGenerator.cs
  src/Http/Http.Extensions/gen/RequestDelegateGeneratorSources.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointParameterEmitter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_JsonBodyOrService_HandlesBothJsonAndService.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.JsonBodyOrService.cs
Labels: area-runtime

#47272 Add LookupName to EndpointParameter.
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointParameterEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Endpoint.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointParameter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_JsonBodyOrService_HandlesBothJsonAndService.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapPost_WithArrayQueryString_AndBody_ShouldUseBody.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapPost_WithArrayQueryString_ShouldFail.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.QueryParameters.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.RouteParameter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.TryParse.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.cs
Labels: area-runtime

#47221 Add SectionName to SectionOutlet and SectionContent
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/Sections/SectionContent.cs
  src/Components/Components/src/Sections/SectionOutlet.cs
  src/Components/Components/src/Sections/SectionRegistry.cs
  src/Components/test/E2ETest/Tests/SectionsTest.cs
  src/Components/test/testassets/BasicTestApp/SectionsTest/ParentComponentWithTwoChildren.razor
Labels: area-blazor

#46968 Ability to monitor Blazor Server circuit activity
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/Server/src/Circuits/CircuitInboundActivityContext.cs
  src/Components/Server/src/Circuits/IHandleCircuitActivity.cs
  src/Components/Server/src/PublicAPI.Unshipped.txt
  src/Components/Server/test/Circuits/CircuitHostTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/CircuitContextTest.cs
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/wwwroot/index.html
  src/Components/test/testassets/BasicTestApp/wwwroot/js/circuitContextTest.js
  src/Components/test/testassets/TestServer/CircuitContextComponent.razor
  src/Components/test/testassets/TestServer/Pages/_ServerHost.cshtml
  src/Components/test/testassets/TestServer/ServerStartup.cs
  src/Components/test/testassets/TestServer/TestCircuitContextAccessor.cs
  src/Components/test/testassets/TestServer/_Imports.razor
Labels: area-blazor

#47100 Use IProblemDetailsService in ProblemHttpResult
  src/Http/Http.Results/src/ProblemHttpResult.cs
  src/Http/Http.Results/test/ProblemResultTests.cs
Labels: area-runtime, community-contribution

#47126 [Blazor] Endpoint discovery
  src/Components/Endpoints/src/Builder/ComponentTypeMetadata.cs
  src/Components/Endpoints/src/Builder/RazorComponentEndpointConventionBuilder.cs
  src/Components/Endpoints/src/Builder/RazorComponentEndpointDataSource.cs
  src/Components/Endpoints/src/Builder/RazorComponentEndpointDataSourceFactory.cs
  src/Components/Endpoints/src/Builder/RazorComponentEndpointFactory.cs
  src/Components/Endpoints/src/Builder/RazorComponentsEndpointRouteBuilderExtensions.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsServiceCollectionExtensions.cs
  src/Components/Endpoints/src/Discovery/ComponentApplicationBuilder.cs
  src/Components/Endpoints/src/Discovery/IRazorComponentApplication.cs
  src/Components/Endpoints/src/Discovery/PageCollection.cs
  src/Components/Endpoints/src/Discovery/PageDefinition.cs
  src/Components/Endpoints/src/Discovery/RazorComponentApplication.cs
  src/Components/Endpoints/src/PublicAPI.Unshipped.txt
  src/Components/Endpoints/test/RazorComponentEndpointDataSourceTest.cs
  src/Components/Endpoints/test/RazorComponentEndpointFactoryTest.cs
  src/Components/Samples/BlazorUnitedApp/Program.cs
  src/Components/Samples/BlazorUnitedApp/Shared/MainLayout.razor
Labels: area-blazor

#46713 Add short circuit in routing
  src/Http/Routing/perf/Microbenchmarks/EndpointRoutingShortCircuitBenchmark.cs
  src/Http/Routing/src/EndpointMiddleware.cs
  src/Http/Routing/src/EndpointRoutingMiddleware.cs
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/src/ShortCircuit/RouteShortCircuitEndpointConventionBuilderExtensions.cs
  src/Http/Routing/src/ShortCircuit/RouteShortCircuitEndpointRouteBuilderExtensions.cs
  src/Http/Routing/src/ShortCircuit/ShortCircuitMetadata.cs
  src/Http/Routing/test/FunctionalTests/ShortCircuitTests.cs
  src/Http/Routing/test/UnitTests/EndpointRoutingMiddlewareTest.cs
  src/Http/Routing/test/UnitTests/TestConstants.cs
  src/Http/Routing/test/UnitTests/TestObjects/TestMatcherFactory.cs
Labels: area-runtime, community-contribution

#47298 Fix ActionExecutingContext XML Doc
  src/Mvc/Mvc.Abstractions/src/Filters/ActionExecutingContext.cs
Labels: area-mvc, community-contribution, area-web-frameworks

#47295 Convert AspNetCoreAnalyzers strings to localizable strings
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DiagnosticDescriptors.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Resources.resx
Labels: area-infrastructure, community-contribution

#47302 Remove RDG Tests that were moved to the base creation tests.
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
Labels: area-runtime

#47282 Enable SingleFileAnalyzer
  Directory.Build.targets
  src/Hosting/Hosting/src/StaticWebAssets/StaticWebAssetsLoader.cs
Labels: area-infrastructure

#47285 Add TypedResults.Extensions
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTestBase.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.Responses.cs
  src/Http/Http.Results/src/PublicAPI.Unshipped.txt
  src/Http/Http.Results/src/TypedResults.cs
Labels: area-runtime, community-contribution

#47331 Add src/installers to codeowners
  .github/CODEOWNERS
Labels: area-infrastructure

#47335 Fix documentation for `user-jwts create --expires-on` option
  src/Tools/dotnet-user-jwts/src/Resources.resx
Labels: area-commandlinetools, community-contribution

#47333 Apply MIBC optimization data when building ASP.NET composite
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-infrastructure

#47332 Show new API project template in VS
  src/ProjectTemplates/Web.ProjectTemplates/content/Api-CSharp/.template.config/ide.host.json
Labels: area-mvc

#47341 Add parameterless RequireCors overload
  src/Middleware/CORS/src/Infrastructure/CorsEndpointConventionBuilderExtensions.cs
  src/Middleware/CORS/src/PublicAPI.Unshipped.txt
  src/Middleware/CORS/test/UnitTests/CorsEndpointConventionBuilderExtensionsTests.cs
Labels: area-mvc, area-runtime

#47322 Enable Trimming on FileProviders.Embedded
  eng/CodeGen.proj
  eng/TrimmableProjects.props
  src/FileProviders/Embedded/src/EmbeddedFileProvider.cs
  src/FileProviders/Embedded/src/ManifestEmbeddedFileProvider.cs
  src/FileProviders/Embedded/src/Microsoft.Extensions.FileProviders.Embedded.csproj
  src/Hosting/Hosting/src/StaticWebAssets/StaticWebAssetsLoader.cs
  src/Identity/Core/src/Microsoft.AspNetCore.Identity.csproj
  src/Tools/Tools.slnf
Labels: area-identity

#47342 Disable RequestTimeout middleware in SignalR and WebSockets
  src/Middleware/WebSockets/src/Microsoft.AspNetCore.WebSockets.csproj
  src/Middleware/WebSockets/src/WebSocketMiddleware.cs
  src/Middleware/WebSockets/test/UnitTests/WebSocketMiddlewareTests.cs
  src/SignalR/common/Http.Connections/src/ConnectionEndpointRouteBuilderExtensions.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
  src/SignalR/common/Http.Connections/test/MapConnectionHandlerTests.cs
Labels: feature-websockets, area-signalr

#47323 Update branding to preview4
  .github/fabricbot.json
  eng/Versions.props
Labels: area-infrastructure

#47328 Follow up 'Ability to monitor Blazor Server circuit activity'
  src/Components/Server/src/Circuits/CircuitHandler.cs
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/Server/src/Circuits/IHandleCircuitActivity.cs
  src/Components/Server/src/PublicAPI.Unshipped.txt
  src/Components/Server/test/Circuits/CircuitHostTest.cs
  src/Components/test/testassets/TestServer/TestCircuitContextAccessor.cs
Labels: area-blazor

#47211 Handle Task/ValueTask.CompletedTask return in RDG
  src/Http/Http.Extensions/gen/RequestDelegateGenerator.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointResponse.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/StaticRouteHandlerModel.Emitter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_BindAsync_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitBodyParam_ComplexReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_ComplexTypeArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_NullableStringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_StringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_ComplexTypeArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_NullableStringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_StringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitServiceParam_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitSource_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_ComplexTypeArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam_EmptyQueryValues.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam_QueryNotPresent.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_StringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_JsonBodyOrService_HandlesBothJsonAndService.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleSpecialTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleStringParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_NoParam_StringReturn_WithFilter.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleComplexTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleEnumParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleNullableStringParam_WithEmptyQueryStringValueProvided_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapPost_WithArrayQueryString_AndBody_ShouldUseBody.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapPost_WithArrayQueryString_ShouldFail.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_NoParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_WithParams_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.Responses.cs
Labels: area-runtime

#47334 Rename M.A.Http.Generators to M.A.Http.RequestDelegateGenerator
  AspNetCore.sln
  src/Framework/App.Ref/src/Microsoft.AspNetCore.App.Ref.csproj
  src/Http/Http.Extensions/gen/DiagnosticDescriptors.cs
  src/Http/Http.Extensions/gen/GeneratorSteps.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator.csproj
  src/Http/Http.Extensions/gen/RequestDelegateGenerator.cs
  src/Http/Http.Extensions/gen/RequestDelegateGeneratorSources.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EmitterConstants.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EmitterContext.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointJsonResponseEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointParameterEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Endpoint.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointDelegateComparer.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointParameter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointParameterSource.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointResponse.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/InvocationOperationExtensions.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/StaticRouteHandlerModel.Emitter.cs
  src/Http/Http.Extensions/test/Microsoft.AspNetCore.Http.Extensions.Tests.csproj
  src/Http/Http.Extensions/test/RequestDelegateGenerator/CompileTimeCreationTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTestBase.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.Arrays.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.BindAsync.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.QueryParameters.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.TryParse.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.cs
  src/Http/HttpAbstractions.slnf
  src/Http/samples/MinimalSample/MinimalSample.csproj
Labels: area-runtime

#47337 Skip gRPC template tests on macos 11 until external bug is fixed
  src/ProjectTemplates/test/Templates.Tests/GrpcTemplateTest.cs
Labels: area-mvc

#47168 Update service worker templates to prevent index.html being served when an offline resource is requested.
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/service-worker.published.js
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Client/wwwroot/service-worker.published.js
Labels: area-blazor, community-contribution, pending-ci-rerun

#47089 Resolve InvalidOperationException inside HandleForbiddenAsync
  src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs
  src/Security/Authentication/JwtBearer/src/LoggingExtensions.cs
  src/Security/Authentication/test/JwtBearerTests.cs
Labels: area-security, community-contribution

#47347 Move a few RDG tests across to shared infrastructure.
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.QueryParameters.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.RouteParameter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.TryParse.cs
Labels: area-runtime

#47180 Move SegmentWriteStream to shared resource
  src/Middleware/OutputCaching/src/Microsoft.AspNetCore.OutputCaching.csproj
  src/Middleware/OutputCaching/src/Streams/OutputCacheStream.cs
  src/Middleware/OutputCaching/src/Streams/SegmentWriteStream.cs
  src/Middleware/OutputCaching/test/SegmentWriteStreamTests.cs
  src/Middleware/ResponseCaching/src/Microsoft.AspNetCore.ResponseCaching.csproj
  src/Middleware/ResponseCaching/src/Streams/ResponseCachingStream.cs
  src/Shared/SegmentWriteStream.cs
  src/Shared/test/Shared.Tests/Microsoft.AspNetCore.Shared.Tests.csproj
  src/Shared/test/Shared.Tests/SegmentWriteStreamTests.cs
Labels: area-runtime, community-contribution

#47358 Update SDK to 8.0.100-preview.4.23171.22
  global.json
Labels: area-infrastructure

#47354 [release/8.0-preview3] Follow up 'Ability to monitor Blazor Server circuit activity'
  src/Components/Server/src/Circuits/CircuitHandler.cs
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/Server/src/Circuits/IHandleCircuitActivity.cs
  src/Components/Server/src/PublicAPI.Unshipped.txt
  src/Components/Server/test/Circuits/CircuitHostTest.cs
  src/Components/test/testassets/TestServer/TestCircuitContextAccessor.cs
Labels: Servicing-approved, area-blazor

#44855 Clarify some comments on RateLimiterOptionsExtensions
  src/Middleware/RateLimiting/src/RateLimiterOptionsExtensions.cs
Labels: area-runtime

#47277 [blazor] Configure mono runtime with startupMemoryCache and runtimeOptions
  src/Components/Web.JS/src/Platform/BootConfig.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
Labels: area-blazor, blazor-wasm

#47402 Run quarantined tests on release/8.0 branches
  .azure/pipelines/quarantined-pr.yml
Labels: area-infrastructure

#47403 Update Webpack in SignalR
  src/SignalR/clients/ts/FunctionalTests/func.jest.config.js
  src/SignalR/clients/ts/FunctionalTests/package.json
  src/SignalR/clients/ts/FunctionalTests/scripts/run-tests.ts
  src/SignalR/clients/ts/FunctionalTests/yarn.lock
  src/SignalR/clients/ts/common/package.json
  src/SignalR/clients/ts/common/yarn.lock
  src/SignalR/clients/ts/jest.config.js
Labels: area-signalr

#47385 Update gRPC JSON transcoding to prioritize JSON name
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/MessageTypeInfoResolver.cs
  src/Grpc/JsonTranscoding/src/Shared/ServiceDescriptorHelpers.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/ConverterTests/JsonConverterReadTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/ConverterTests/JsonConverterWriteTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests.csproj
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/Proto/Issue047349/message.proto
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/UnaryServerCallHandlerTests.cs
Labels: area-grpc

#47121 DbContextHealthCheck handles exceptions thrown by CustomTestQuery
  src/Middleware/HealthChecks.EntityFrameworkCore/src/DbContextHealthCheck.cs
  src/Middleware/HealthChecks.EntityFrameworkCore/test/DbContextHealthCheckTest.cs
Labels: area-healthchecks, community-contribution, pending-ci-rerun

#46049 EnumTypeModelBinder does not handle enum flags provided as a list
  src/Mvc/Mvc.Core/src/ModelBinding/Binders/SimpleTypeModelBinder.cs
  src/Mvc/Mvc.Core/test/ModelBinding/Binders/EnumTypeModelBinderTest.cs
Labels: community-contribution, area-web-frameworks

#47360 Move Returns400IfNoMatchingRouteValueForRequiredParam test case to shared RDG/RDF test infra.
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.RouteParameter.cs
Labels: area-runtime

#47377 Migrate some tests and fix fallback for empty optional bodies
  src/Http/Http.Extensions/gen/RequestDelegateGeneratorSources.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitBodyParam_ComplexReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_JsonBodyOrService_HandlesBothJsonAndService.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapPost_WithArrayQueryString_AndBody_ShouldUseBody.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapPost_WithArrayQueryString_ShouldFail.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTestBase.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.JsonBody.cs
Labels: area-runtime

#46637 Fallback using the `CultureInfo.Parent` instead of using hyphen
  src/Middleware/Localization/src/RequestLocalizationMiddleware.cs
  src/Middleware/Localization/test/UnitTests/RequestLocalizationMiddlewareTest.cs
Labels: area-runtime, community-contribution, pr: pending author input

#47419 Enable custom ICU loading.
  src/Components/Web.JS/src/Platform/BootConfig.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
Labels: area-blazor, Team:Runtime

#47404 Refactor HtmlRenderer layering
  src/Components/Endpoints/src/DependencyInjection/EndpointHtmlRenderer.PrerenderComponents.cs
  src/Components/Endpoints/src/DependencyInjection/EndpointHtmlRenderer.PrerenderState.cs
  src/Components/Endpoints/src/DependencyInjection/EndpointHtmlRenderer.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsServiceCollectionExtensions.cs
  src/Components/Endpoints/src/Microsoft.AspNetCore.Components.Endpoints.csproj
  src/Components/Endpoints/test/EndpointHtmlRendererTest.cs
  src/Components/Endpoints/test/RazorComponentResultTest.cs
  src/Components/Web/src/HtmlRendering/HtmlComponent.cs
  src/Components/Web/src/HtmlRendering/HtmlComponentWriter.cs
  src/Components/Web/src/HtmlRendering/HtmlRenderer.cs
  src/Components/Web/src/HtmlRendering/StaticHtmlRenderer.cs
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.TagHelpers/test/ComponentTagHelperTest.cs
  src/Mvc/Mvc.TagHelpers/test/PersistComponentStateTagHelperTest.cs
Labels: area-blazor

#47412 Added a reminder for the breaking-change process
  .github/fabricbot.json
Labels: area-infrastructure

#47392 Support populating cache without serving from it.
  src/Middleware/OutputCaching/src/OutputCacheMiddleware.cs
  src/Middleware/OutputCaching/test/OutputCacheMiddlewareTests.cs
Labels: area-runtime, feature-middleware, feature-output-caching

#47443 Fix misspelled type name in analyzer message
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Resources.resx
Labels: area-infrastructure

#47440 Clean up unnecessary suppressions
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/Server/src/Circuits/RemoteJSRuntime.cs
Labels: area-blazor

#47441 Update SDK
  global.json
Labels: area-infrastructure

#47451 Create Linux-Musl Redistributable Artifacts
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-infrastructure

#47459 Use IndexOfAnyValues in ForwardedHeadersMiddleware
  src/Middleware/HttpOverrides/src/ForwardedHeadersMiddleware.cs
Labels: Perf, area-runtime, feature-middleware

#47356 Fix unobserved JSDisconnectedException in NavigationManager
  src/Components/Server/src/Circuits/RemoteNavigationManager.cs
Labels: area-blazor

#47453 Bump gson to 2.8.9.
  src/SignalR/clients/java/signalr/core/build.gradle
Labels: area-signalr

#47450 Use Json TypeInfoResolverChain
  src/Http/Http.Extensions/src/JsonOptions.cs
  src/Http/Http.Extensions/src/ProblemDetailsJsonOptionsSetup.cs
  src/Http/Http.Extensions/src/ProblemDetailsServiceCollectionExtensions.cs
  src/Http/Http.Extensions/test/ProblemDetailsServiceCollectionExtensionsTest.cs
  src/Http/Http.Results/test/HttpResultsHelperTests.cs
  src/Mvc/Mvc.Core/src/JsonOptions.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/Api-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/Api-CSharp/Program.cs
Labels: area-web-frameworks

#47455 Bump okhttp to 4.10.0
  src/SignalR/clients/java/signalr/core/build.gradle
Labels: area-signalr

#47491 [cache] fix #38796 - fix inconsistent handling of empty byte[]
  src/Caching/StackExchangeRedis/src/RedisCache.cs
  src/Caching/StackExchangeRedis/test/RedisCacheSetAndRemoveTests.cs
Labels: area-runtime, feature-caching

#47421 Flow FullAssemblySigningSupported for source-build to repo tasks
  eng/SourceBuild.props
Labels: area-infrastructure, community-contribution

#47489 Treat 'Content-Range's with last-byte-pos equal to length as invalid
  src/Http/Headers/src/ContentRangeHeaderValue.cs
  src/Http/Headers/test/ContentRangeHeaderValueTest.cs
Labels: area-runtime

#47511 gRPC JSON transcoding: Fix body binding to repeated message or map
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/JsonRequestHelpers.cs
  src/Grpc/JsonTranscoding/src/Shared/ServiceDescriptorHelpers.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests.csproj
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/Proto/transcoding.proto
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/UnaryServerCallHandlerTests.cs
Labels: area-grpc

#47484 Initial streaming SSR mechanisms
  src/Components/Endpoints/src/DependencyInjection/EndpointHtmlRenderer.PrerenderComponents.cs
  src/Components/Endpoints/src/DependencyInjection/EndpointHtmlRenderer.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsEndpointsDetailedErrorsConfiguration.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsEndpointsOptions.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsServiceCollectionExtensions.cs
  src/Components/Endpoints/src/Microsoft.AspNetCore.Components.Endpoints.csproj
  src/Components/Endpoints/src/PublicAPI.Unshipped.txt
  src/Components/Endpoints/src/RazorComponentEndpoint.cs
  src/Components/Endpoints/src/Results/RazorComponentResult.cs
  src/Components/Endpoints/src/Results/RazorComponentResultExecutor.cs
  src/Components/Endpoints/test/EndpointHtmlRendererTest.cs
  src/Components/Endpoints/test/RazorComponentEndpointTest.cs
  src/Components/Endpoints/test/RazorComponentResultTest.cs
  src/Components/Web/src/HtmlRendering/HtmlComponent.cs
  src/Components/Web/src/HtmlRendering/HtmlComponentBase.cs
  src/Components/Web/src/HtmlRendering/HtmlComponentWriter.cs
  src/Components/Web/src/HtmlRendering/HtmlRenderer.cs
  src/Components/Web/src/HtmlRendering/StaticHtmlRenderer.cs
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/Web/test/HtmlRendering/HtmlRendererTest.cs
Labels: area-blazor, feature-blazor-united

#46878 JsonSubKeyClaim arrays
  src/Security/Authentication/OAuth/src/JsonKeyClaimAction.cs
  src/Security/Authentication/OAuth/src/JsonSubKeyClaimAction.cs
  src/Security/Authentication/test/ClaimActionTests.cs
Labels: area-security, community-contribution
