Repository dotnet/aspnetcore, pull requests merged in 2023-02, with the labels that each got.

#46366 Restrict named pipes transport to be Windows only
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/TransportManager.cs
  src/Servers/Kestrel/Kestrel/src/WebHostBuilderKestrelExtensions.cs
  src/Servers/Kestrel/Kestrel/test/WebHostBuilderKestrelExtensionsTests.cs
  src/Servers/Kestrel/Transport.NamedPipes/src/Internal/NamedPipeTransportFactory.cs
  src/Servers/Kestrel/Transport.NamedPipes/src/WebHostBuilderNamedPipeExtensions.cs
  src/Servers/Kestrel/Transport.NamedPipes/test/Microsoft.AspNetCore.Server.Kestrel.Transport.NamedPipes.Tests.csproj
  src/Servers/Kestrel/Transport.NamedPipes/test/NamedPipeConnectionListenerTests.cs
  src/Servers/Kestrel/Transport.NamedPipes/test/NamedPipeConnectionTests.cs
  src/Servers/Kestrel/Transport.NamedPipes/test/WebHostTests.cs
  src/Servers/Kestrel/shared/test/TransportTestHelpers/NamedPipesSupportedAttribute.cs
Labels: area-runtime

#46329 Fix casing in Api template
  src/ProjectTemplates/Web.ProjectTemplates/Api-CSharp.csproj.in
Labels: area-mvc

#46291 Add support for response writing to RequestDelegateGenerator
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Http/HeaderDictionaryAddAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Http/RequestDelegateReturnTypeAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/ParsabilityHelper.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/WellKnownTypeData.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/WellKnownTypes.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Microsoft.AspNetCore.App.Analyzers.csproj
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Mvc/DetectAmbiguousActionRoutes.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Mvc/MvcAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RenderTreeBuilder/RenderTreeBuilderAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/FrameworkParametersCompletionProvider.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/MvcDetector.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/RoutePatternParametersDetector.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/RouteUsageDetector.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/RouteWellKnownTypes.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/DetectAmbiguousRoutes.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/DisallowMvcBindArgumentsOnParameters.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/DisallowNonParsableComplexTypesOnParameters.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/DisallowReturningActionResultFromMapMethods.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/RouteHandlerAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/WebApplicationBuilder/WebApplicationBuilderAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/Http/HeaderDictionaryAddFixer.cs
  src/Framework/AspNetCoreAnalyzers/test/Infrastructure/WellKnownTypesTests.cs
  src/Http/Http.Extensions/gen/DiagnosticDescriptors.cs
  src/Http/Http.Extensions/gen/GeneratorSteps.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.Generators.csproj
  src/Http/Http.Extensions/gen/RequestDelegateGenerator.cs
  src/Http/Http.Extensions/gen/RequestDelegateGeneratorSources.cs
  src/Http/Http.Extensions/gen/Resources.resx
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Endpoint.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointDelegateComparer.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointResponse.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointRoute.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/InvocationOperationExtensions.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/StaticRouteHandlerModel.Emitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/StaticRouteHandlerModel.Parser.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/StaticRouteHandlerModel.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/WellKnownTypeData.cs
  src/Http/Http.Extensions/test/Microsoft.AspNetCore.Http.Extensions.Tests.csproj
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapGet_NoParam_StringReturn_WithFilter.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_NoParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateGeneratorIncrementalityTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateGeneratorTestBase.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateGeneratorTests.cs
  src/Http/samples/MinimalSample/MinimalSample.csproj
  src/Shared/RoslynUtils/BoundedCacheWithFactory.cs
  src/Shared/RoslynUtils/WellKnownTypes.cs
Labels: area-web-frameworks

#46425 Delete Interop.FunctionalTests.ChromeTests
  src/Servers/Kestrel/test/Interop.FunctionalTests/ChromeTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Interop.FunctionalTests.csproj
  src/Servers/Kestrel/test/Interop.FunctionalTests/SkipIfChromeUnavailableAttribute.cs
Labels: area-runtime

#46452 Unquarantined GrpcTemplate
  src/ProjectTemplates/test/Templates.Tests/GrpcTemplateTest.cs
Labels: area-mvc, area-grpc

#46259 Multiple accept loops in named pipes transport
  src/Servers/Kestrel/Transport.NamedPipes/src/Internal/NamedPipeConnectionListener.cs
  src/Servers/Kestrel/Transport.NamedPipes/src/NamedPipeTransportOptions.cs
  src/Servers/Kestrel/Transport.NamedPipes/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Transport.NamedPipes/test/NamedPipeConnectionListenerTests.cs
Labels: area-runtime

#46488 Add nullability warning checks to RequestDelegateGeneratorTests
  src/Http/Http.Extensions/test/Microsoft.AspNetCore.Http.Extensions.Tests.csproj
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateGeneratorIncrementalityTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateGeneratorTestBase.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateGeneratorTests.cs
Labels: area-runtime

#46365 Don't close connection on MacOS when getting client certificate
  src/Servers/Kestrel/Core/src/Internal/TlsConnectionFeature.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
Labels: area-runtime

#46447 Update gRPC template dependencies for AOT
  eng/Versions.props
  src/ProjectTemplates/Web.ProjectTemplates/GrpcService-CSharp.csproj.in
Labels: area-grpc

#46472 Add named pipes microbenchmark
  src/Servers/Kestrel/perf/Microbenchmarks/NamedPipesTransportBenchmark.cs
Labels: area-runtime

#46473 Cache and reuse NamedPipeServerStream instances
  src/Servers/Kestrel/Transport.NamedPipes/src/Internal/NamedPipeConnection.cs
  src/Servers/Kestrel/Transport.NamedPipes/src/Internal/NamedPipeConnectionListener.cs
  src/Servers/Kestrel/Transport.NamedPipes/src/Microsoft.AspNetCore.Server.Kestrel.Transport.NamedPipes.csproj
Labels: area-runtime

#46437 [blazor] Use JSImport for lazy loading assemblies
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/WebAssembly/WebAssembly/src/Services/LazyAssemblyLoader.cs
Labels: area-blazor, blazor-wasm

#46477 [blazor] Use JSImport for loading satellite assemblies
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyCultureProvider.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyCultureProviderTest.cs
Labels: area-blazor, blazor-wasm

#46497 Update project templates README.md
  src/ProjectTemplates/README.md
Labels: area-mvc

#46509 Update branding to 7.0.4
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#46462 Add aot option to gRPC template
  src/ProjectTemplates/Web.ProjectTemplates/GrpcService-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/dotnetcli.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/localize/templatestrings.cs.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/localize/templatestrings.de.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/localize/templatestrings.en.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/localize/templatestrings.es.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/localize/templatestrings.fr.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/localize/templatestrings.it.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/localize/templatestrings.ja.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/localize/templatestrings.ko.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/localize/templatestrings.pl.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/localize/templatestrings.pt-BR.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/localize/templatestrings.ru.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/localize/templatestrings.tr.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/localize/templatestrings.zh-Hans.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/localize/templatestrings.zh-Hant.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/template.json
  src/ProjectTemplates/scripts/Run-GrpcNativeAot-Locally.ps1
  src/ProjectTemplates/test/Templates.Tests/GrpcTemplateTest.cs
Labels: area-grpc

#46508 Update branding to 6.0.15
  eng/Versions.props
Labels: area-infrastructure

#46407 Add initial parameter support to RequestDelegateGenerator
  src/Http/Http.Extensions/gen/DiagnosticDescriptors.cs
  src/Http/Http.Extensions/gen/RequestDelegateGenerator.cs
  src/Http/Http.Extensions/gen/Resources.resx
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Endpoint.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointDelegateComparer.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointParameter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointParameterSource.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointResponse.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointRoute.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/InvocationOperationExtensions.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/StaticRouteHandlerModel.Emitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/WellKnownTypeData.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_NoParam_StringReturn_WithFilter.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_WithParams_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateGeneratorTestBase.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateGeneratorTests.cs
  src/Shared/RoslynUtils/WellKnownTypes.cs
Labels: area-web-frameworks

#42706 Remove 'max-age' in 'Cache-Control' Response Header when Location is None ('no-cache').
  src/Mvc/Mvc.Core/src/Filters/ResponseCacheFilterExecutor.cs
  src/Mvc/Mvc.Core/test/Filters/ResponseCacheFilterExecutorTest.cs
Labels: community-contribution, area-web-frameworks, pending-ci-rerun

#46514 Update milestone for servicing PRs
  .github/fabricbot.json
Labels: area-infrastructure

#46517 Add comment to gRPC template tests SkipOnAlpine attribute
  src/ProjectTemplates/test/Templates.Tests/GrpcTemplateTest.cs
Labels: area-mvc, area-grpc

#46443 Remove unnecessary code from F# templates
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/Program.fs
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/Controllers/HomeController.fs
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/Program.fs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/Controllers/WeatherForecastController.fs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/Program.fs
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/Program.fs
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/Worker.fs
Labels: area-mvc, community-contribution

#46493 Use Arcade's pool-providers.yml
  .azure/pipelines/azure-pipelines-mirror-within-azdo.yml
  .azure/pipelines/benchmarks.yml
  .azure/pipelines/blazor-daily-tests.yml
  .azure/pipelines/ci.yml
  .azure/pipelines/components-e2e-tests.yml
  .azure/pipelines/devBuilds.yml
  .azure/pipelines/helix-matrix.yml
  .azure/pipelines/jobs/default-build.yml
  .azure/pipelines/localization.yml
  .azure/pipelines/quarantined-pr.yml
  .azure/pipelines/quarantined-tests.yml
  .azure/pipelines/richnav.yml
  .azure/pipelines/signalr-daily-tests.yml
  .azure/pipelines/stress.yml
Labels: area-infrastructure

#46560 Avoid accessing RequestServices & creating a logger in Utf8ContentHttpResult if no logging is being performed
  src/Http/Http.Results/src/Utf8ContentHttpResult.cs
Labels: area-runtime

#46523 Add HTTP/3 test to verify platform support
  src/Servers/Kestrel/Transport.Quic/test/SkipOnMarinerAttribute.cs
  src/Servers/Kestrel/Transport.Quic/test/WebHostTests.cs
Labels: area-runtime

#46548 ProjectTemplates schema launch settings
  src/ProjectTemplates/Web.ProjectTemplates/content/Api-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyBlazorServerWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Client/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Server/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/Properties/launchSettings.json
Labels: area-mvc, community-contribution

#45555 Allow injection of Gson or JsonParser (or both) when constructing JsonHubProtocol
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/GsonHubProtocol.java
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/HttpHubConnectionBuilder.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/GsonHubProtocolTest.java
Labels: area-signalr, community-contribution, pending-ci-rerun

#46552 Updated Microsoft.AspNetCore.Identity.UserOptions.RequireUniqueEmail flag description.
  src/Identity/Extensions.Core/src/UserOptions.cs
Labels: area-identity, community-contribution

#46507 ServerComparison.FunctionalTests: extend nginx configuration so nginx starts on RHEL and Fedora.
  src/Servers/test/FunctionalTests/NoCompression.conf
  src/Servers/test/FunctionalTests/nginx.conf
Labels: area-runtime, community-contribution

#46540 fix typo in log message
  src/Middleware/RequestDecompression/src/RequestDecompressionMiddleware.cs
  src/Middleware/RequestDecompression/test/RequestDecompressionMiddlewareTests.cs
Labels: area-runtime, community-contribution

#46570 Avoid stream ID and client result ID collisions
  src/SignalR/server/Core/src/DefaultHubLifetimeManager.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.ClientResult.cs
Labels: area-signalr

#46578 Don't clobber non-default status codes in static files middleware
  src/Middleware/StaticFiles/src/StaticFileContext.cs
  src/Middleware/StaticFiles/test/UnitTests/StaticFileMiddlewareTests.cs
Labels: area-runtime

#46615 Skip test until Debian12 supports msquic
  src/Servers/Kestrel/Transport.Quic/test/WebHostTests.cs
Labels: area-runtime

#45682 Playwright 🎭 🛠️
  .azure/pipelines/ci.yml
  eng/RequiresDelayedBuildProjects.props
  eng/Versions.props
  eng/tools/GenerateFiles/Directory.Build.props.in
  eng/tools/GenerateFiles/GenerateFiles.csproj
  src/ProjectTemplates/README.md
  src/ProjectTemplates/Shared/TemplatePackageInstaller.cs
  src/ProjectTemplates/TestInfrastructure/Directory.Build.props.in
  src/ProjectTemplates/test/Templates.Blazor.Tests/BlazorServerTemplateTest.cs
  src/ProjectTemplates/test/Templates.Blazor.Tests/BlazorTemplateTest.cs
  src/ProjectTemplates/test/Templates.Blazor.Tests/BlazorWasmTemplateTest.cs
  src/ProjectTemplates/test/Templates.Blazor.Tests/Templates.Blazor.Tests.csproj
  src/ProjectTemplates/test/Templates.Blazor.Tests/package.json
  src/ProjectTemplates/test/Templates.Blazor.Tests/yarn.lock
  src/Shared/Process/ProcessEx.cs
Labels: area-blazor, feature-templates, playwright 🎭

#46432 Bump up the MIN_PORT for ANCM out of process
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/serverprocess.cpp
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/serverprocess.h
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/requesthandler_config.h
Labels: area-runtime, community-contribution

#46647 Update SiteExtensions versions
  eng/Versions.props
Labels: area-infrastructure

#46646 Merging internal commits for release/7.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
Labels: area-infrastructure, tell-mode

#46492 Removing custom ProblemDetails Converters
  src/Http/Http.Abstractions/src/Microsoft.AspNetCore.Http.Abstractions.csproj
  src/Http/Http.Abstractions/src/ProblemDetails/HttpValidationProblemDetails.cs
  src/Http/Http.Abstractions/src/ProblemDetails/ProblemDetails.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Abstractions/test/HttpValidationProblemDetailsJsonConverterTest.cs
  src/Http/Http.Abstractions/test/ProblemDetailsJsonConverterTest.cs
  src/Http/Http.Extensions/src/ProblemDetailsJsonContext.cs
  src/Http/Http.Extensions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/test/ProblemDetailsDefaultWriterTest.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Http.Results/test/JsonResultTests.cs
  src/Http/Http.Results/test/ProblemResultTests.cs
  src/Http/Http.Results/test/ValidationProblemResultTests.cs
  src/Mvc/Mvc.Core/src/Infrastructure/ValidationProblemDetailsJsonConverter.cs
  src/Mvc/Mvc.Core/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Core/src/ValidationProblemDetails.cs
  src/Mvc/Mvc.Core/test/Infrastructure/DefaultApiProblemDetailsWriterTest.cs
  src/Mvc/Mvc.Core/test/Infrastructure/ValidationProblemDetailsJsonConverterTest.cs
  src/Shared/ProblemDetails/HttpValidationProblemDetailsJsonConverter.cs
  src/Shared/ProblemDetails/ProblemDetailsJsonConverter.cs
Labels: area-web-frameworks

#46577 Prefer TypeConverter over TryParse
  src/Mvc/Mvc.Core/src/Infrastructure/MvcCoreMvcOptionsSetup.cs
  src/Mvc/Mvc.Core/src/ModelBinding/Binders/SimpleTypeModelBinderProvider.cs
  src/Mvc/Mvc/test/MvcOptionsSetupTest.cs
  src/Mvc/test/Mvc.IntegrationTests/SimpleTypeModelBinderIntegrationTest.cs
Labels: area-web-frameworks

#46672 Fix runtime sync script
  .github/workflows/runtime-sync.yml
Labels: area-infrastructure

#46679 Fix nullability on DefaultEndpointFilterInvocationContext constructor
  src/Http/Http.Abstractions/src/DefaultEndpointFilterInvocationContext.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
Labels: area-runtime

#46574 Tweak exception message for `TryParse` method not found
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
Labels: area-runtime, area-web-frameworks

#46695 Revert "Remove unnecessary code from F# templates"
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/Program.fs
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/Controllers/HomeController.fs
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/Program.fs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/Controllers/WeatherForecastController.fs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/Program.fs
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/Program.fs
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/Worker.fs
Labels: area-mvc, community-contribution

#46330 Added operation cancel operation
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Abstractions/src/StatusCodes.cs
  src/Http/Http.Extensions/test/ProblemDetailsDefaultWriterTest.cs
  src/Http/Http.Results/test/ResultsTests.cs
  src/Http/WebUtilities/src/ReasonPhrases.cs
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/DeveloperExceptionPageMiddlewareImpl.cs
  src/Middleware/Diagnostics/src/DiagnosticsLoggerExtensions.cs
  src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerMiddlewareImpl.cs
  src/Servers/HttpSys/src/LoggerEventIds.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContextLog.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContextOfT.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.Log.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContextOfT.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http/ReasonPhrases.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.General.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseTests.cs
Labels: area-runtime, community-contribution

#46579 Update CreateSlimBuilder to use Host.CreateEmptyApplicationBuilder.
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
Labels: area-web-frameworks

#46227 Exclude regex and alpha constraints when SlimBuilder is used.
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/DefaultBuilder/src/WebHost.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebHostTests.cs
  src/Http/Routing/src/Constraints/RegexErrorStubRouteConstraint.cs
  src/Http/Routing/src/DependencyInjection/RoutingServiceCollectionExtensions.cs
  src/Http/Routing/src/Microsoft.AspNetCore.Routing.csproj
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/src/RegexInlineRouteConstraintSetup.cs
  src/Http/Routing/src/Resources.resx
  src/Http/Routing/src/RouteOptions.cs
  src/Http/Routing/test/UnitTests/DefaultInlineConstraintResolverTest.cs
  src/Http/Routing/test/UnitTests/Matching/DfaMatcherBuilderTest.cs
  src/Http/Routing/test/UnitTests/Matching/RouteMatcherBuilder.cs
  src/Http/Routing/test/UnitTests/Matching/TreeRouterMatcherBuilder.cs
  src/Http/Routing/test/UnitTests/RouteTest.cs
  src/Http/Routing/test/UnitTests/RoutingServiceCollectionExtensionsTests.cs
  src/Http/Routing/test/UnitTests/TemplateParserDefaultValuesTests.cs
  src/Http/Routing/test/UnitTests/Tree/TreeRouterTest.cs
  src/Mvc/Mvc/test/MvcServiceCollectionExtensionsTest.cs
Labels: area-runtime

#46563 Update to Alpine 3.16
  eng/targets/Helix.Common.props
  eng/targets/Helix.targets
Labels: area-infrastructure

#46724 Fix AcceptedAtRoute link generation and add tests
  src/Http/Http.Results/src/AcceptedAtRoute.cs
  src/Http/Http.Results/src/AcceptedAtRouteOfT.cs
  src/Http/Http.Results/test/AcceptedAtRouteOfTResultTests.cs
  src/Http/Http.Results/test/AcceptedAtRouteResultTests.cs
  src/Http/Http.Results/test/CreatedAtRouteOfTResultTests.cs
  src/Http/Http.Results/test/CreatedAtRouteResultTests.cs
  src/Http/Http.Results/test/TestLinkGenerator.cs
Labels: area-runtime, area-web-frameworks

#46624 gRPC JSON transcoding: Fix not supporting JSON name in querystring names
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Binding/JsonTranscodingProviderServiceBinder.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/JsonRequestHelpers.cs
  src/Grpc/JsonTranscoding/src/Shared/ServiceDescriptorHelpers.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/ConverterTests/JsonConverterReadTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/Proto/transcoding.proto
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/UnaryServerCallHandlerTests.cs
Labels: area-grpc

#46662 Transport.Quic.Tests: don't fail on distros that don't have quic.
  src/Servers/Kestrel/Transport.Quic/test/WebHostTests.cs
Labels: area-runtime, community-contribution

#46515 Named pipe caching test
  src/Servers/Kestrel/Transport.NamedPipes/src/Internal/NamedPipeConnection.cs
  src/Servers/Kestrel/Transport.NamedPipes/src/Internal/NamedPipeConnectionListener.cs
  src/Servers/Kestrel/Transport.NamedPipes/src/Internal/NamedPipeTransportFactory.cs
  src/Servers/Kestrel/Transport.NamedPipes/src/WebHostBuilderNamedPipeExtensions.cs
  src/Servers/Kestrel/Transport.NamedPipes/test/NamedPipeConnectionListenerTests.cs
  src/Servers/Kestrel/Transport.NamedPipes/test/NamedPipeTestHelpers.cs
Labels: area-runtime

#46633 gRPC JSON transcoding: Fix known type messages in querystring values
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/DurationConverter.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/EnumConverter.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/FieldMaskConverter.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Internal/Json/TimestampConverter.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Microsoft.AspNetCore.Grpc.JsonTranscoding.csproj
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.Swagger/Internal/GrpcDataContractResolver.cs
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.Swagger/Microsoft.AspNetCore.Grpc.Swagger.csproj
  src/Grpc/JsonTranscoding/src/Shared/Legacy.cs
  src/Grpc/JsonTranscoding/src/Shared/ServiceDescriptorHelpers.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/UnaryServerCallHandlerTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/Parameters/ParametersTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/Proto/messages.proto
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/Proto/parameters.proto
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/SchemaGeneratorIntegrationTests.cs
Labels: area-grpc

#46532 [blazor] startup sequence unification
  src/Components/Web.JS/@types/dotnet/dotnet-legacy.d.ts
  src/Components/Web.JS/@types/dotnet/dotnet.d.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/test/E2ETest/Tests/WebAssemblyICUShardingTest.cs
Labels: area-blazor, blazor-wasm

#46777 CheckSlidingExpiration should use Events property
  src/Security/Authentication/Cookies/src/CookieAuthenticationHandler.cs
Labels: area-security, community-contribution

#46594 [AOT] Add Http.Results RouteValueDictionary overloads
  src/Http/Http.Results/src/AcceptedAtRoute.cs
  src/Http/Http.Results/src/AcceptedAtRouteOfT.cs
  src/Http/Http.Results/src/CreatedAtRoute.cs
  src/Http/Http.Results/src/CreatedAtRouteOfT.cs
  src/Http/Http.Results/src/PublicAPI.Unshipped.txt
  src/Http/Http.Results/src/RedirectToRouteHttpResult.cs
  src/Http/Http.Results/src/Results.cs
  src/Http/Http.Results/src/TypedResults.cs
  src/Http/Http.Results/test/ResultsTests.cs
  src/Http/Http.Results/test/TypedResultsTests.cs
Labels: area-runtime, area-web-frameworks

#46494 Greater than 1 FromBody analyzer.
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DiagnosticDescriptors.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Resources.resx
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/AtMostOneFromBodyAttribute.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/DisallowNonParsableComplexTypesOnParameters.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/RouteHandlerAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteHandlers/AtMostOneFromBodyAttributeTest.cs
Labels: area-web-frameworks

#46793 Refactor RoutePatternFactory to trim regex dependency where possible
  src/Http/Routing/src/Patterns/RoutePatternFactory.cs
Labels: area-runtime, area-web-frameworks

#46296 Defer search for dev cert until build bind time
  src/Servers/Kestrel/Core/src/HttpsConnectionAdapterOptions.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/TransportManager.cs
  src/Servers/Kestrel/Core/src/ListenOptions.cs
  src/Servers/Kestrel/Core/src/ListenOptionsHttpsExtensions.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Servers/Kestrel/Kestrel/test/KestrelConfigurationLoaderTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3TlsTests.cs
Labels: area-runtime

#46736 Dispose of old cancellationTokenSource instances during revalidation …
  src/Components/Server/src/Circuits/RevalidatingServerAuthenticationStateProvider.cs
Labels: area-blazor, community-contribution

#46562 Introduce 'RenderTreeBuilder.AddComponentParameter()'
  src/Components/Authorization/src/AuthorizeRouteView.cs
  src/Components/Authorization/test/AuthorizeRouteViewTest.cs
  src/Components/Authorization/test/AuthorizeViewTest.cs
  src/Components/Authorization/test/CascadingAuthenticationStateTest.cs
  src/Components/Components/src/DynamicComponent.cs
  src/Components/Components/src/LayoutView.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/Rendering/RenderTreeBuilder.cs
  src/Components/Components/src/RouteView.cs
  src/Components/Components/src/Routing/QueryParameterValueSupplier.cs
  src/Components/Components/test/CascadingParameterTest.cs
  src/Components/Components/test/ParameterViewTest.Assignment.cs
  src/Components/Components/test/RenderTreeDiffBuilderTest.cs
  src/Components/Components/test/RendererTest.cs
  src/Components/Components/test/Rendering/RenderTreeBuilderTest.cs
  src/Components/Web/src/Forms/EditForm.cs
  src/Components/Web/src/Forms/InputRadioGroup.cs
  src/Components/Web/src/Head/HeadContent.cs
  src/Components/Web/src/Head/HeadOutlet.cs
  src/Components/Web/src/Head/PageTitle.cs
  src/Components/Web/test/Forms/EditFormTest.cs
  src/Components/Web/test/Forms/InputRadioTest.cs
  src/Components/Web/test/Forms/TestInputHostComponent.cs
  src/Components/Web/test/Virtualization/VirtualizeTest.cs
Labels: area-blazor, pending-ci-rerun

#46813 Allow Regex engine to be trimmed
  src/Http/Routing/src/Constraints/RegexRouteConstraint.cs
Labels: area-runtime

#46812 Use new Chromium headless mode to fix E2E test timeouts
  src/Components/test/E2ETest/Tests/CircuitTests.cs
  src/Components/test/E2ETest/Tests/ComponentRenderingTestBase.cs
  src/Shared/E2ETesting/BrowserFixture.cs
  src/Shared/E2ETesting/selenium-config.json
Labels: area-blazor

#46176 Wait for Request to finish
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocesshandler.cpp
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocesshandler.h
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
Labels: servers-iis, area-runtime

#46644 Add WebViewManager.Dispatch() method
  src/Components/WebView/WebView/src/PageContext.cs
  src/Components/WebView/WebView/src/PublicAPI.Unshipped.txt
  src/Components/WebView/WebView/src/WebViewManager.cs
Labels: area-blazor

#46848 Suggest team members to run CI checks for long-standing PRs
  .github/fabricbot.json
Labels: area-infrastructure

#46781 Avoid more UnobservedTaskExceptions in SignalR .NET client
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.Log.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
Labels: area-signalr

#46718 Retry ServerReset_BeforeRequestBody_ClientBodyThrows test
  eng/test-configuration.json
Labels: area-infrastructure, pending-ci-rerun

#46790 Update Selenium versions
  eng/Versions.props
Labels: area-infrastructure

#46714 Add 'dotnet new' web item templates (razor view, api controller, mvc controller)
  src/ProjectTemplates/Web.ItemTemplates/content/ApiController/.template.config/dotnetcli.host.json
  src/ProjectTemplates/Web.ItemTemplates/content/ApiController/.template.config/localize/templatestrings.en.json
  src/ProjectTemplates/Web.ItemTemplates/content/ApiController/.template.config/template.json
  src/ProjectTemplates/Web.ItemTemplates/content/ApiController/ValueController.cs
  src/ProjectTemplates/Web.ItemTemplates/content/MvcController/.template.config/dotnetcli.host.json
  src/ProjectTemplates/Web.ItemTemplates/content/MvcController/.template.config/localize/templatestrings.en.json
  src/ProjectTemplates/Web.ItemTemplates/content/MvcController/.template.config/template.json
  src/ProjectTemplates/Web.ItemTemplates/content/MvcController/HomeController.cs
  src/ProjectTemplates/Web.ItemTemplates/content/RazorView/.template.config/dotnetcli.host.json
  src/ProjectTemplates/Web.ItemTemplates/content/RazorView/.template.config/localize/templatestrings.en.json
  src/ProjectTemplates/Web.ItemTemplates/content/RazorView/.template.config/template.json
  src/ProjectTemplates/Web.ItemTemplates/content/RazorView/Index.cshtml
Labels: area-mvc

#46328 SDK Bump to `8.0.100-preview.2.23113.1`
  global.json
Labels: area-infrastructure

#46868 Revert "Defer search for dev cert until build bind time (#46296)"
  src/Servers/Kestrel/Core/src/HttpsConnectionAdapterOptions.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/TransportManager.cs
  src/Servers/Kestrel/Core/src/ListenOptions.cs
  src/Servers/Kestrel/Core/src/ListenOptionsHttpsExtensions.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Servers/Kestrel/Kestrel/test/KestrelConfigurationLoaderTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3TlsTests.cs
Labels: area-runtime

#46863 Rebrand for 8.0.0-preview3
  .github/fabricbot.json
  eng/Versions.props
Labels: area-infrastructure

#46838 Add shared test infra for RDF and RDG
  src/Http/Http.Extensions/test/RequestDelegateGenerator/CompileTimeGeneratorTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/CompileTimeIncrementalityTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateGeneratorTestBase.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateGeneratorTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RuntimeGeneratorTests.cs
Labels: area-runtime

#46845 Add support for indented text writer to RDG
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.Generators.csproj
  src/Http/Http.Extensions/gen/RequestDelegateGenerator.cs
  src/Http/Http.Extensions/gen/RequestDelegateGeneratorSources.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointParameterEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/StaticRouteHandlerModel.Emitter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitBodyParam_ComplexReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitServiceParam_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitSource_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleSpecialTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleStringParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_NoParam_StringReturn_WithFilter.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleComplexTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleEnumParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleNullableStringParam_WithEmptyQueryStringValueProvided_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleNullableStringParam_WithQueryStringValueProvided_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleNullableStringParam_WithoutQueryStringValueProvided_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleStringParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleTimeOnlyParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_NoParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_WithParams_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateGeneratorTestBase.cs
  src/Shared/RoslynUtils/CodeWriter.cs
Labels: area-web-frameworks

#46919 Update SDK to 8.0.100-preview.3.23127.4
  global.json
Labels: area-infrastructure

#46943 Revert "Update SDK (#46919)"
  global.json
Labels: area-infrastructure
