Repository dotnet/aspnetcore, pull requests merged in 2023-06, with the labels that each got.

#48439 [Blazor] Cache LayoutAttribute lookup
  src/Components/Components/src/RouteView.cs
Labels: area-blazor

#48553 RDF test migration (part 3)
  src/Http/Http.Extensions/gen/RequestDelegateGenerator.cs
  src/Http/Http.Extensions/gen/RequestDelegateGeneratorSources.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/StaticRouteHandlerModel.Emitter.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitBodyParam_ComplexReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam_EmptyQueryValues.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam_QueryNotPresent.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_StringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_JsonBodyOrService_HandlesBothJsonAndService.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_TakesCustomMetadataEmitter_Has_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_Get_WithArrayQueryString_AndBody_ShouldUseQueryString.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_PostAndGet_WithArrayQueryString_AndBody_ShouldUseQueryString.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_PostAndPut_WithArrayQueryString_AndBody_ShouldUseBody.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_Post_WithArrayQueryString_AndBody_ShouldUseBody.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapPost_WithArrayQueryString_AndBody_ShouldUseBody.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapPost_WithArrayQueryString_ShouldFail.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_NoParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/VerifyAsParametersBaseline.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.AsParameters.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.Filters.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.JsonBodyOrService.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.SpecialTypes.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.cs
Labels: feature-rdg, area-minimal

#48594 [release/8.0-preview5] [Blazor] Fix WebView JavaScript boot bug
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Boot.WebView.ts
  src/Components/Web.JS/src/Platform/WebView/WebViewIpcReceiver.ts
Labels: Servicing-approved, area-blazor

#48592 [Blazor] Fix WebView JavaScript boot bug
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Boot.WebView.ts
  src/Components/Web.JS/src/Platform/WebView/WebViewIpcReceiver.ts
Labels: area-blazor

#48572 Expose SNI hostname in ITlsHandshakeFeature for Kestrel/HttpSys
  src/Servers/Connections.Abstractions/src/Features/ITlsHandshakeFeature.cs
  src/Servers/Connections.Abstractions/src/PublicAPI/net8.0/PublicAPI.Unshipped.txt
  src/Servers/HttpSys/src/NativeInterop/HttpApi.cs
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.FeatureCollection.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.cs
  src/Servers/HttpSys/test/FunctionalTests/HttpsTests.cs
  src/Servers/Kestrel/Core/src/Internal/TlsConnectionFeature.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
  src/Shared/HttpSys/NativeInterop/HttpApiTypes.cs
Labels: community-contribution, area-networking

#48632 Minor debugging visualizer cleanup
  src/Http/Http.Abstractions/src/ConnectionInfo.cs
  src/Http/Http.Abstractions/src/WebSocketManager.cs
Labels: area-runtime

#48432 [Blazor] Support for primitive types in [SupplyParameterFromForm]
  src/Components/Authorization/test/AuthorizeRouteViewTest.cs
  src/Components/Components/src/Binding/CascadingModelBinder.cs
  src/Components/Components/src/Binding/IFormValueSupplier.cs
  src/Components/Components/src/Binding/ModelBindingContext.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/test/CascadingModelBinderTest.cs
  src/Components/Components/test/CascadingParameterStateTest.cs
  src/Components/Components/test/ModelBindingContextTest.cs
  src/Components/Components/test/RouteViewTest.cs
  src/Components/Endpoints/src/Binding/Converters/NullableConverter.cs
  src/Components/Endpoints/src/Binding/Converters/ParsableConverter.cs
  src/Components/Endpoints/src/Binding/DefaultFormValuesSupplier.cs
  src/Components/Endpoints/src/Binding/Factories/NullableConverterFactory.cs
  src/Components/Endpoints/src/Binding/Factories/ParsableConverterFactory.cs
  src/Components/Endpoints/src/Binding/FormDataConverter.cs
  src/Components/Endpoints/src/Binding/FormDataConverterOfT.cs
  src/Components/Endpoints/src/Binding/FormDataMapper.cs
  src/Components/Endpoints/src/Binding/FormDataMapperOptions.cs
  src/Components/Endpoints/src/Binding/FormDataReader.cs
  src/Components/Endpoints/src/Binding/IFormDataConverterFactory.cs
  src/Components/Endpoints/src/Binding/ISingleValueConverter.cs
  src/Components/Endpoints/src/Binding/WellKnownConverters.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsEndpointsDetailedErrorsConfiguration.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsEndpointsOptions.cs
  src/Components/Endpoints/src/Microsoft.AspNetCore.Components.Endpoints.csproj
  src/Components/Endpoints/test/Binding/FormDataMapperTests.cs
  src/Components/Web/src/Binding/BindingEditContextExtensions.cs
  src/Components/Web/src/Forms/EditForm.cs
  src/Components/Web/src/Forms/ExpressionFormatting/ExpressionFormatter.cs
  src/Components/Web/src/Forms/InputBase.cs
  src/Components/Web/src/Forms/InputCheckbox.cs
  src/Components/Web/src/Microsoft.AspNetCore.Components.Web.csproj
  src/Components/Web/test/Forms/EditFormTest.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyFormValueSupplier.cs
  src/Components/WebView/WebView/src/Services/WebViewFormValueSupplier.cs
  src/Mvc/test/Mvc.FunctionalTests/ComponentRenderingFunctionalTests.cs
  src/Shared/ClosedGenericMatcher/ClosedGenericMatcher.cs
Labels: area-blazor

#48559 [Blazor] SupplyParameterFromForm primitive collections
  src/Components/Endpoints/src/Binding/Converters/CollectionAdapters/ArrayCollectionFactory.cs
  src/Components/Endpoints/src/Binding/Converters/CollectionAdapters/ArrayPoolBufferAdapter.cs
  src/Components/Endpoints/src/Binding/Converters/CollectionAdapters/ConcurrentBagBufferAdapter.cs
  src/Components/Endpoints/src/Binding/Converters/CollectionAdapters/ConcurrentQueueBufferAdapter.cs
  src/Components/Endpoints/src/Binding/Converters/CollectionAdapters/ConcurrentStackBufferAdapter.cs
  src/Components/Endpoints/src/Binding/Converters/CollectionAdapters/ICollectionBufferAdapter.cs
  src/Components/Endpoints/src/Binding/Converters/CollectionAdapters/ICollectionFactory.cs
  src/Components/Endpoints/src/Binding/Converters/CollectionAdapters/ImmutableArrayBufferAdapter.cs
  src/Components/Endpoints/src/Binding/Converters/CollectionAdapters/ImmutableHashSetBufferAdapter.cs
  src/Components/Endpoints/src/Binding/Converters/CollectionAdapters/ImmutableListBufferAdapter.cs
  src/Components/Endpoints/src/Binding/Converters/CollectionAdapters/ImmutableQueueBufferAdapter.cs
  src/Components/Endpoints/src/Binding/Converters/CollectionAdapters/ImmutableSortedSetBufferAdapter.cs
  src/Components/Endpoints/src/Binding/Converters/CollectionAdapters/ImmutableStackBufferAdapter.cs
  src/Components/Endpoints/src/Binding/Converters/CollectionAdapters/ImplementingCollectionBufferAdapter.cs
  src/Components/Endpoints/src/Binding/Converters/CollectionAdapters/QueueBufferAdapter.cs
  src/Components/Endpoints/src/Binding/Converters/CollectionAdapters/ReadOnlyCollectionBufferAdapter.cs
  src/Components/Endpoints/src/Binding/Converters/CollectionAdapters/StackBufferAdapter.cs
  src/Components/Endpoints/src/Binding/Converters/CollectionConverter.cs
  src/Components/Endpoints/src/Binding/Factories/CollectionConverterFactory.cs
  src/Components/Endpoints/src/Binding/Factories/Collections/CollectionLikeTypedCollectionConverterFactory.cs
  src/Components/Endpoints/src/Binding/Factories/Collections/TypedCollectionConverterFactory.cs
  src/Components/Endpoints/src/Binding/FormDataMapper.cs
  src/Components/Endpoints/src/Binding/FormDataMapperOptions.cs
  src/Components/Endpoints/src/Binding/FormDataReader.cs
  src/Components/Endpoints/test/Binding/FormDataMapperTests.cs
Labels: area-blazor

#48565 [Blazor] SupplyParameterFromForm dictionary support
  src/Components/Endpoints/src/Binding/Converters/DictionaryAdapters/DictionaryBufferAdapter.cs
  src/Components/Endpoints/src/Binding/Converters/DictionaryAdapters/DictionaryStaticCastAdapter.cs
  src/Components/Endpoints/src/Binding/Converters/DictionaryAdapters/IDictionaryBufferAdapter.cs
  src/Components/Endpoints/src/Binding/Converters/DictionaryAdapters/ImmutableDictionaryBufferAdapter.cs
  src/Components/Endpoints/src/Binding/Converters/DictionaryAdapters/ImmutableSortedDictionaryBufferAdapter.cs
  src/Components/Endpoints/src/Binding/Converters/DictionaryAdapters/ReadOnlyDictionaryBufferAdapter.cs
  src/Components/Endpoints/src/Binding/Converters/DictionaryConverter.cs
  src/Components/Endpoints/src/Binding/Factories/CollectionConverterFactory.cs
  src/Components/Endpoints/src/Binding/Factories/Collections/ConcreteTypeCollectionConverterFactory.cs
  src/Components/Endpoints/src/Binding/Factories/Collections/TypedCollectionConverterFactory.cs
  src/Components/Endpoints/src/Binding/Factories/Dictionary/ConcreteTypeDictionaryConverterFactory.cs
  src/Components/Endpoints/src/Binding/Factories/Dictionary/TypedDictionaryConverterFactory.cs
  src/Components/Endpoints/src/Binding/Factories/DictionaryConverterFactory.cs
  src/Components/Endpoints/src/Binding/FormDataMapperOptions.cs
  src/Components/Endpoints/src/Binding/FormDataReader.cs
  src/Components/Endpoints/test/Binding/FormDataMapperTests.cs
Labels: area-blazor

#48567 [Blazor] SupplyParameterFromForm complex type support.
  src/Components/Endpoints/src/Binding/Converters/CompiledComplexTypeConverter.cs
  src/Components/Endpoints/src/Binding/Factories/ComplexType/ComplexTypeExpressionConverterFactory.cs
  src/Components/Endpoints/src/Binding/Factories/ComplexType/ComplexTypeExpressionConverterFactoryOfT.cs
  src/Components/Endpoints/src/Binding/Factories/ComplexTypeConverterFactory.cs
  src/Components/Endpoints/src/Binding/FormDataMapperOptions.cs
  src/Components/Endpoints/test/Binding/FormDataMapperTests.cs
Labels: area-blazor

#48643 Update branding to 6.0.19
  eng/Versions.props
Labels: area-infrastructure

#48660 Update Milstones for July servicing
  .github/fabricbot.json
Labels: area-infrastructure

#48659 Update selenium
  eng/Versions.props
  src/Components/benchmarkapps/Wasm.Performance/dockerfile
  src/Shared/E2ETesting/selenium-config.json
Labels: area-infrastructure

#48661 Do not publish wixpacks when postbuild sign is not true
  eng/Publishing.props
Labels: area-infrastructure

#48663 Support IHttpSysRequestInfoFeature and IHttpSysRequestTimingFeature in IIS in proc server
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.FeatureCollection.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.FeatureCollection.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.Features.cs
  src/Servers/IIS/IIS/src/Microsoft.AspNetCore.Server.IIS.csproj
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/HttpSysRequestInfoTests.cs
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/IIS.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.HttpSysRequestInfo.cs
  src/Servers/IIS/IISIntegration.slnf
  src/Shared/HttpSys/RequestProcessing/NativeRequestContext.cs
  src/Shared/Shared.slnf
  src/Shared/test/Shared.Tests/Microsoft.AspNetCore.Shared.Tests.csproj
Labels: area-runtime, community-contribution

#48462 Avoid repetitive GCHandles in IIS WebSocket operations
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
  src/Servers/IIS/IIS/src/Core/IO/AsyncIOEngine.cs
  src/Servers/IIS/IIS/src/Core/IO/AsyncIOOperation.cs
  src/Servers/IIS/IIS/src/Core/IO/IAsyncIOEngine.cs
  src/Servers/IIS/IIS/src/Core/IO/WebSocketsAsyncIOEngine.Initialize.cs
  src/Servers/IIS/IIS/src/Core/IO/WebSocketsAsyncIOEngine.Read.cs
  src/Servers/IIS/IIS/src/Core/IO/WebSocketsAsyncIOEngine.Write.cs
  src/Servers/IIS/IIS/src/Core/IO/WebSocketsAsyncIOEngine.cs
Labels: feature-iis, area-networking

#48364 [release/6.0] Don't run publish-specific Mvc.Testing tasks if project is not publishable
  src/Mvc/Mvc.Testing/src/Microsoft.AspNetCore.Mvc.Testing.targets
Labels: Servicing-approved, area-infrastructure, area-mvc, feature-mvc-testing

#48648 Add diagnostics exception handling metrics
  src/Hosting/Hosting/src/Internal/HostingApplication.cs
  src/Hosting/Hosting/src/Internal/HttpMetricsTagsFeature.cs
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/DeveloperExceptionPageMiddleware.cs
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/DeveloperExceptionPageMiddlewareImpl.cs
  src/Middleware/Diagnostics/src/DiagnosticsMetrics.cs
  src/Middleware/Diagnostics/src/DummyMeterFactory.cs
  src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerExtensions.cs
  src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerMiddleware.cs
  src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerMiddlewareImpl.cs
  src/Middleware/Diagnostics/test/UnitTests/DeveloperExceptionPageMiddlewareTest.cs
  src/Middleware/Diagnostics/test/UnitTests/ExceptionHandlerMiddlewareTest.cs
Labels: area-middleware

#48611 RDF test migration for some response test cases.
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointJsonResponseEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointResponse.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/StaticRouteHandlerModel.Emitter.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_BindAsync_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_ComplexTypeArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_NullableStringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_StringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_ComplexTypeArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_NullableStringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_StringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitServiceParam_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitSource_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_ComplexTypeArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam_EmptyQueryValues.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam_QueryNotPresent.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_StringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_JsonBodyOrService_HandlesBothJsonAndService.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleSpecialTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleStringParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_NoParam_StringReturn_WithFilter.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ReturnsString_Has_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ReturnsTodo_Has_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleComplexTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleEnumParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleNullableStringParam_WithEmptyQueryStringValueProvided_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_Get_WithArrayQueryString_AndBody_ShouldUseQueryString.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_PostAndGet_WithArrayQueryString_AndBody_ShouldUseQueryString.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_PostAndPut_WithArrayQueryString_AndBody_ShouldUseBody.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_Post_WithArrayQueryString_AndBody_ShouldUseBody.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapPost_WithArrayQueryString_AndBody_ShouldUseBody.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapPost_WithArrayQueryString_ShouldFail.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_NoParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_WithParams_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/VerifyAsParametersBaseline.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/CompileTimeCreationTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTestBase.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.Responses.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/SharedTypes.cs
Labels: area-minimal

#48694 Retry failing helix test
  eng/test-configuration.json
Labels: area-infrastructure

#48103 Uses Fallback When Without Repository
  src/DataProtection/DataProtection/src/KeyManagement/XmlKeyManager.cs
  src/DataProtection/DataProtection/src/Resources.resx
  src/DataProtection/DataProtection/test/Microsoft.AspNetCore.DataProtection.Tests/KeyManagement/XmlKeyManagerTests.cs
  src/DataProtection/Extensions/test/DataProtectionProviderTests.cs
Labels: area-dataprotection, community-contribution

#48669 Add unhandled request log and metric to hosting
  src/Hosting/Hosting/src/Internal/HostingApplicationDiagnostics.cs
  src/Hosting/Hosting/src/Internal/HostingMetrics.cs
  src/Hosting/Hosting/src/Internal/HostingRequestUnhandledLog.cs
  src/Hosting/Hosting/src/Internal/LoggerEventIds.cs
  src/Hosting/Hosting/test/HostingApplicationDiagnosticsTests.cs
  src/Hosting/Hosting/test/HostingMetricsTests.cs
  src/Hosting/Hosting/test/Internal/HostingRequestStartLogTests.cs
  src/Http/Http/src/Builder/ApplicationBuilder.cs
  src/Http/Http/test/ApplicationBuilderTests.cs
Labels: area-hosting

#48637 Add routing metrics
  src/Http/Routing/perf/Microbenchmarks/EndpointRoutingShortCircuitBenchmark.cs
  src/Http/Routing/perf/Microbenchmarks/Microsoft.AspNetCore.Routing.Microbenchmarks.csproj
  src/Http/Routing/src/DependencyInjection/RoutingServiceCollectionExtensions.cs
  src/Http/Routing/src/EndpointRoutingMiddleware.cs
  src/Http/Routing/src/Microsoft.AspNetCore.Routing.csproj
  src/Http/Routing/src/RoutingMetrics.cs
  src/Http/Routing/test/UnitTests/Builder/EndpointRoutingApplicationBuilderExtensionsTest.cs
  src/Http/Routing/test/UnitTests/EndpointRoutingMiddlewareTest.cs
  src/Http/Routing/test/UnitTests/Microsoft.AspNetCore.Routing.Tests.csproj
  src/Http/Routing/test/UnitTests/RoutingMetricsTests.cs
  src/Mvc/Mvc/test/Microsoft.AspNetCore.Mvc.Test.csproj
  src/Mvc/Mvc/test/MvcServiceCollectionExtensionsTest.cs
Labels: area-middleware

#48730 Add test to Helix retry list
  eng/test-configuration.json
Labels: area-infrastructure

#48735 Update SDK to 8.0.100-preview.6.23312.4
  global.json
Labels: area-infrastructure

#48742 Deflake Http2WebSocket tests
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2WebSocketTests.cs
Labels: area-networking

#48723 Add TLS and HTTP protocol to kestrel-connection-duration counter
  src/Servers/Kestrel/Core/src/Internal/HttpConnection.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelConnectionOfT.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpMultiplexedConnectionMiddleware.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/KestrelMetricsTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http2/Http2RequestTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Interop.FunctionalTests.csproj
Labels: area-runtime

#48375 Rename ASP.NET Core metrics
  src/Hosting/Hosting/src/Internal/HostingMetrics.cs
  src/Hosting/Hosting/test/HostingApplicationDiagnosticsTests.cs
  src/Hosting/Hosting/test/HostingMetricsTests.cs
  src/Middleware/Diagnostics/test/UnitTests/DeveloperExceptionPageMiddlewareTest.cs
  src/Middleware/Diagnostics/test/UnitTests/ExceptionHandlerTest.cs
  src/Middleware/RateLimiting/src/RateLimitingMetrics.cs
  src/Middleware/RateLimiting/test/RateLimitingMetricsTests.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelMetrics.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ConnectionLimitTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/KestrelMetricsTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http2/Http2RequestTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionManager.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionsMetrics.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionManagerTests.cs
Labels: area-signalr, area-networking, area-middleware

#48743 Use ephemeral data protection in tests
  src/SignalR/clients/csharp/Client/test/FunctionalTests/VersionStartup.cs
  src/SignalR/clients/ts/FunctionalTests/Startup.cs
Labels: area-signalr

#48781 Update downlevel SiteExtension versions
  eng/Versions.props
Labels: area-infrastructure

#48779 Merging internal commits for release/7.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure

#48777 Merging internal commits for release/6.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure

#48787 Revert SDK update
  global.json
Labels: area-infrastructure

#48753 Move SignalR connection start telemetry to transport start
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionContext.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionManager.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionManagerTests.cs
Labels: area-signalr

#48606 Update WebHostOptions.ShutdownTimeout to 30 seconds
  src/Hosting/Hosting/src/Internal/WebHostOptions.cs
Labels: community-contribution, pending-ci-rerun, area-hosting

#48788 Update ITlsHandshakeFeature.HostName API + misc. improvements in HttpSys calls
  src/Servers/Connections.Abstractions/src/Features/ITlsHandshakeFeature.cs
  src/Servers/Connections.Abstractions/src/PublicAPI/net8.0/PublicAPI.Unshipped.txt
  src/Servers/HttpSys/src/NativeInterop/HttpApi.cs
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.FeatureCollection.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.cs
  src/Servers/HttpSys/test/FunctionalTests/HttpsTests.cs
  src/Servers/Kestrel/Core/src/Internal/TlsConnectionFeature.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Shared/HttpSys/NativeInterop/HttpApiTypes.cs
Labels: area-runtime

#48740 Make test template more explicit about helix logs
  .github/ISSUE_TEMPLATE/50_test_failure.md
Labels: area-infrastructure

#48795 Bump Polly to 7.2.4
  eng/Versions.props
Labels: area-infrastructure, community-contribution

#48573 Unify JSON handling across RDF and RDG
  src/Http/Http.Extensions/gen/RequestDelegateGenerator.cs
  src/Http/Http.Extensions/gen/RequestDelegateGeneratorSources.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EmitterContext.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointJsonPreparationEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointJsonResponseEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointParameterEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Endpoint.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/StaticRouteHandlerModel.Emitter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_BindAsync_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitBodyParam_ComplexReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_ComplexTypeArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_NullableStringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_StringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_ComplexTypeArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_NullableStringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_StringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitServiceParam_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitSource_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_ComplexTypeArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam_EmptyQueryValues.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam_QueryNotPresent.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_StringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_JsonBodyOrService_HandlesBothJsonAndService.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleSpecialTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleStringParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_NoParam_StringReturn_WithFilter.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ReturnsString_Has_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ReturnsTodo_Has_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ReturnsValidationProblemResult_Has_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ReturnsVoid_Has_No_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleComplexTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleEnumParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleNullableStringParam_WithEmptyQueryStringValueProvided_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_TakesCustomMetadataEmitter_Has_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_Get_WithArrayQueryString_AndBody_ShouldUseQueryString.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_PostAndGet_WithArrayQueryString_AndBody_ShouldUseQueryString.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_PostAndPut_WithArrayQueryString_AndBody_ShouldUseBody.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_Post_WithArrayQueryString_AndBody_ShouldUseBody.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapPost_WithArrayQueryString_AndBody_ShouldUseBody.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapPost_WithArrayQueryString_ShouldFail.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_NoParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_WithParams_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/RequestDelegateValidateGeneratedFormCode.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/VerifyAsParametersBaseline.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.Responses.cs
Labels: feature-rdg, area-minimal

#48718 Fixes #48627 NavLink component is active on wrong path
  src/Components/Web/src/Routing/NavLink.cs
  src/Components/test/E2ETest/Tests/RoutingTest.cs
  src/Components/test/testassets/BasicTestApp/RouterTest/Links.razor
  src/Components/test/testassets/BasicTestApp/RouterTest/Other.razor
Labels: area-blazor, community-contribution

#48820 Fix Blazor WebAssembly Benchmarks
  src/Components/benchmarkapps/Wasm.Performance/Driver/Wasm.Performance.Driver.csproj
Labels: area-blazor

#48722 Clean up some custom awaiters
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/ThreadPoolAwaitable.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/TaskExtensions.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
  src/SignalR/common/Http.Connections/src/Internal/TaskExtensions.cs
  src/SignalR/common/Shared/ForceAsyncAwaiter.cs
  src/SignalR/perf/Microbenchmarks/Microsoft.AspNetCore.SignalR.Microbenchmarks.csproj
  src/SignalR/perf/Microbenchmarks/Shared/TestPipeWriter.cs
Labels: area-signalr

#48822 Fix missing metadata for AsParameters parameter when using RDG.
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/StaticRouteHandlerModel.Emitter.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.Metadata.cs
Labels: area-runtime

#48775 Implement IHostApplicationBuilder on WebApplicationBuilder
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
Labels: area-runtime, area-hosting

#48566 add review comment to sb files
  .github/CODEOWNERS
  eng/SourceBuild.props
  eng/SourceBuildPrebuiltBaseline.xml
Labels: area-infrastructure

#47776 http.sys; add opt-in support for kernel-mode response buffering
  src/Servers/HttpSys/src/HttpSysOptions.cs
  src/Servers/HttpSys/src/PublicAPI.Unshipped.txt
  src/Servers/HttpSys/src/RequestProcessing/Response.cs
  src/Servers/HttpSys/src/RequestProcessing/ResponseBody.cs
  src/Servers/HttpSys/test/FunctionalTests/ResponseBodyTests.cs
Labels: feature-httpsys, area-perf, pending-ci-rerun, area-networking

#48664 [Blazor] Add `IRazorComponentsBuilder.AddWebAssemblyComponents()`
  AspNetCore.sln
  src/Components/Components.slnf
  src/Components/Endpoints/src/DependencyInjection/WebAssemblyComponentsEndpointOptions.cs
  src/Components/Endpoints/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/Server/src/Microsoft.AspNetCore.Components.WebAssembly.Server.csproj
  src/Components/WebAssembly/Server/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/Server/src/RazorComponentsBuilderExtensions.cs
  src/Components/test/E2ETest/ServerRenderingTests/InteractivityTest.cs
  src/Components/test/testassets/Components.TestServer/Components.TestServer.csproj
  src/Components/test/testassets/Components.TestServer/RazorComponentEndpointsStartup.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/App.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Components/ServerInteractiveCounter.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/InteractiveComponents.razor
  src/Components/test/testassets/Components.WasmMinimal/Components.WasmMinimal.csproj
  src/Components/test/testassets/Components.WasmMinimal/Program.cs
  src/Components/test/testassets/TestContentPackage/Counter.razor
  src/Components/test/testassets/TestContentPackage/ServerInteractiveCounter.razor
  src/Components/test/testassets/TestContentPackage/WebAssemblyInteractiveCounter.razor
  src/Framework/Framework.slnf
Labels: area-blazor

#48845 Remove Workstation GC from the API template
  src/ProjectTemplates/Web.ProjectTemplates/Api-CSharp.csproj.in
Labels: area-mvc

#48790 Add complex form binding support to RDF
  src/Components/Endpoints/src/Binding/Factories/CollectionConverterFactory.cs
  src/Components/Endpoints/src/Binding/Factories/Collections/ConcreteTypeCollectionConverterFactory.cs
  src/Components/Endpoints/src/Binding/Factories/Collections/TypedCollectionConverterFactory.cs
  src/Components/Endpoints/src/Binding/Factories/ComplexType/ComplexTypeExpressionConverterFactory.cs
  src/Components/Endpoints/src/Binding/Factories/ComplexType/ComplexTypeExpressionConverterFactoryOfT.cs
  src/Components/Endpoints/src/Binding/Factories/ComplexTypeConverterFactory.cs
  src/Components/Endpoints/src/Binding/Factories/Dictionary/ConcreteTypeDictionaryConverterFactory.cs
  src/Components/Endpoints/src/Binding/Factories/Dictionary/TypedDictionaryConverterFactory.cs
  src/Components/Endpoints/src/Binding/Factories/DictionaryConverterFactory.cs
  src/Components/Endpoints/src/Binding/Factories/NullableConverterFactory.cs
  src/Components/Endpoints/src/Binding/Factories/ParsableConverterFactory.cs
  src/Components/Endpoints/src/Binding/FormBindingHelpers.cs
  src/Components/Endpoints/src/Binding/FormDataMapperOptions.cs
  src/Components/Endpoints/src/Binding/IFormDataConverterFactory.cs
  src/Features/JsonPatch/src/Microsoft.AspNetCore.JsonPatch.csproj
  src/Http/Http.Extensions/src/Microsoft.AspNetCore.Http.Extensions.csproj
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RuntimeCreationTests.ComplexFormBinding.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RuntimeCreationTests.cs
  src/Shared/ClosedGenericMatcher/ClosedGenericMatcher.cs
Labels: area-minimal, feature-rdf

#48554 [Blazor] Take cascading parameter attribute type into account when supplying cascading values
  src/Components/Authorization/test/AuthorizeRouteViewTest.cs
  src/Components/Components/src/Binding/CascadingModelBinder.cs
  src/Components/Components/src/Binding/CascadingModelBindingProvider.cs
  src/Components/Components/src/Binding/CascadingQueryModelBindingProvider.cs
  src/Components/Components/src/Binding/IFormValueSupplier.cs
  src/Components/Components/src/CascadingParameterAttribute.cs
  src/Components/Components/src/CascadingParameterAttributeBase.cs
  src/Components/Components/src/CascadingParameterInfo.cs
  src/Components/Components/src/CascadingParameterState.cs
  src/Components/Components/src/CascadingValue.cs
  src/Components/Components/src/ICascadingValueComponent.cs
  src/Components/Components/src/ICascadingValueSupplier.cs
  src/Components/Components/src/IHostEnvironmentCascadingParameter.cs
  src/Components/Components/src/ParameterView.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/Reflection/ComponentProperties.cs
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Components/src/Rendering/ComponentState.cs
  src/Components/Components/src/RouteView.cs
  src/Components/Components/src/Routing/QueryParameterValueSupplier.cs
  src/Components/Components/src/SupplyParameterFromQueryAttribute.cs
  src/Components/Components/test/CascadingModelBinderTest.cs
  src/Components/Components/test/CascadingParameterStateTest.cs
  src/Components/Components/test/CascadingParameterTest.cs
  src/Components/Components/test/ParameterViewTest.Assignment.cs
  src/Components/Components/test/ParameterViewTest.cs
  src/Components/Components/test/RouteViewTest.cs
  src/Components/Components/test/Routing/QueryParameterValueSupplierTest.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsServiceCollectionExtensions.cs
  src/Components/Endpoints/test/RazorComponentsServiceCollectionExtensionsTest.cs
  src/Components/Web/src/Binding/CascadingFormModelBindingProvider.cs
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/Web/src/SupplyParameterFromFormAttribute.cs
  src/Components/Web/test/Forms/EditFormTest.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/WebView/WebView/src/ComponentsWebViewServiceCollectionExtensions.cs
  src/Components/test/E2ETest/Tests/RoutingTest.cs
  src/Components/test/testassets/BasicTestApp/RouterTest/NestedQueryParameters.razor
  src/Components/test/testassets/BasicTestApp/RouterTest/WithQueryParameters.razor
Labels: area-blazor

#48638 Added ppc64le architecture to support testcases on power machine.
  src/Hosting/Server.IntegrationTesting/src/Common/RuntimeArchitecture.cs
  src/Hosting/Server.IntegrationTesting/src/Common/RuntimeArchitectures.cs
Labels: community-contribution, pending-ci-rerun, area-hosting

#48862 Update NuGet client dependencies
  eng/SourceBuildPrebuiltBaseline.xml
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#48901 Update branding to 7.0.9
  eng/Versions.props
Labels: area-infrastructure

#48865 [release/7.0] Update NuGet client dependencies
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#48707 Remove route and method tags from rate limiting
  src/Middleware/RateLimiting/src/MetricsContext.cs
  src/Middleware/RateLimiting/src/RateLimitingMetrics.cs
  src/Middleware/RateLimiting/src/RateLimitingMiddleware.cs
  src/Middleware/RateLimiting/test/RateLimitingMetricsTests.cs
Labels: area-runtime, area-middleware

#48892 Call HttpContext.Abort() when WebSocket.Abort() is called.
  src/Middleware/WebSockets/src/ServerWebSocket.cs
  src/Middleware/WebSockets/src/WebSocketMiddleware.cs
  src/Middleware/WebSockets/test/UnitTests/WebSocketMiddlewareTests.cs
Labels: area-runtime

#48258 Retain DOM nodes during streaming SSR updates
  src/Components/Web.JS/.yarnrc
  src/Components/Web.JS/Microsoft.AspNetCore.Components.Web.JS.npmproj
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/jest.config.js
  src/Components/Web.JS/package.json
  src/Components/Web.JS/src/Boot.Web.ts
  src/Components/Web.JS/src/Platform/SsrStartOptions.ts
  src/Components/Web.JS/src/Platform/WebStartOptions.ts
  src/Components/Web.JS/src/Rendering/BrowserRenderer.ts
  src/Components/Web.JS/src/Rendering/DomMerging/AttributeSync.ts
  src/Components/Web.JS/src/Rendering/DomMerging/DomSync.ts
  src/Components/Web.JS/src/Rendering/DomMerging/EditScript.ts
  src/Components/Web.JS/src/Rendering/DomSpecialPropertyUtil.ts
  src/Components/Web.JS/src/Rendering/StreamingRendering.ts
  src/Components/Web.JS/test/DomSync.test.ts
  src/Components/Web.JS/test/EditDistance.test.ts
  src/Components/Web.JS/yarn.lock
  src/Components/test/E2ETest/ServerRenderingTests/StreamingRenderingTest.cs
Labels: area-blazor

#48527 [wasm][debugging] Enable debugging when Device Toolbar is enabled and Iphone is selected
  src/Components/Web.JS/src/Platform/Mono/MonoDebugger.ts
Labels: area-blazor, pending-ci-rerun

#48518 Sections with other features
  src/Components/Components/src/CascadingParameterState.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Components/src/Rendering/ComponentState.cs
  src/Components/Components/src/Sections/ISectionContentProvider.cs
  src/Components/Components/src/Sections/ISectionContentSubscriber.cs
  src/Components/Components/src/Sections/SectionContent.cs
  src/Components/Components/src/Sections/SectionOutlet.cs
  src/Components/Components/src/Sections/SectionRegistry.cs
  src/Components/Endpoints/src/Rendering/EndpointComponentState.cs
  src/Components/test/E2ETest/ServerRenderingTests/SectionsWithStreamingRenderingTest.cs
  src/Components/test/E2ETest/Tests/SectionsTest.cs
  src/Components/test/E2ETest/Tests/SectionsWithCascadingParametersTest.cs
  src/Components/test/E2ETest/Tests/SectionsWithErrorBoundaryTest.cs
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/SectionsTest/ComponentThatThrowsException.razor
  src/Components/test/testassets/BasicTestApp/SectionsTest/SectionsWithCascadingParameters.razor
  src/Components/test/testassets/BasicTestApp/SectionsTest/SectionsWithErrorBoundary.razor
  src/Components/test/testassets/BasicTestApp/SectionsTest/TextComponentWithCascadingParameter.razor
  src/Components/test/testassets/Components.TestServer/RazorComponentEndpointsStartup.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Components/DisableStreaming.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Components/EnableStreaming.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Components/NotEnabledStreamingRenderingComponent.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/SectionsWithStreamingRendering.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/StreamingRendering.razor
Labels: area-blazor

#48864 Allow non-NetFramework tests to be skipped with Mono
  src/Testing/src/xunit/FrameworkSkipConditionAttribute.cs
Labels: area-infrastructure, community-contribution

#48900 Update branding to 6.0.20
  eng/Versions.props
Labels: area-infrastructure

#48812 Improve GetAuthenticationStateAsync exception message
  src/Components/Server/src/Circuits/ServerAuthenticationStateProvider.cs
Labels: area-runtime, area-blazor

#47821 Updated the AddPolicyRegistry extension methods to use TryAdd and TryAddEnumerable internally
  src/HttpClientFactory/Polly/src/DependencyInjection/PollyServiceCollectionExtensions.cs
  src/HttpClientFactory/Polly/test/DependencyInjection/PollyHttpClientBuilderExtensionsTest.cs
Labels: area-runtime, community-contribution

#48899 Progressively enhanced navigation
  src/Components/Endpoints/src/RazorComponentEndpointInvoker.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Prerendering.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Streaming.cs
  src/Components/Endpoints/src/Results/RazorComponentResultExecutor.cs
  src/Components/Endpoints/test/RazorComponentResultExecutorTest.cs
  src/Components/Endpoints/test/TestComponents/StreamingComponentThatThrowsAsynchronously.razor
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Boot.Web.ts
  src/Components/Web.JS/src/Rendering/DomMerging/AttributeSync.ts
  src/Components/Web.JS/src/Rendering/DomMerging/DomSync.ts
  src/Components/Web.JS/src/Rendering/StreamingRendering.ts
  src/Components/Web.JS/src/Services/NavigationEnhancement.ts
  src/Components/Web.JS/src/Services/NavigationManager.ts
  src/Components/Web.JS/src/Services/NavigationUtils.ts
  src/Components/Web.JS/test/DomSync.test.ts
  src/Components/test/E2ETest/ServerRenderingTests/EnhancedNavigationTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/StreamingRenderingTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponentEndpointsStartup.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/App.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/PageForScrollingToHash.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/PageThatRedirects.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/PageThatRedirectsWhileStreaming.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/PageThatThrowsWhileStreaming.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Shared/MainLayout.razor
Labels: area-blazor

#48934 Quarantine WebSocket_Abort_Interrupts_Pending_ReceiveAsync
  src/Middleware/WebSockets/test/UnitTests/WebSocketMiddlewareTests.cs
Labels: area-runtime

#48827 Improve WebApplication debugging
  src/DefaultBuilder/src/WebApplication.cs
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
  src/Hosting/Hosting/src/Internal/ApplicationLifetime.cs
  src/Hosting/Hosting/src/Internal/HostingEnvironment.cs
  src/Http/Http.Abstractions/src/Extensions/UseMiddlewareExtensions.cs
  src/Http/Http/src/Builder/ApplicationBuilder.cs
  src/Http/Http/src/Internal/IDebugger.cs
  src/Http/Http/src/Microsoft.AspNetCore.Http.csproj
  src/Servers/Kestrel/Core/src/Internal/ServerAddressesCollection.cs
Labels: area-runtime

#48789 Add server option for seamless reconnect
  src/SignalR/clients/csharp/Client/test/FunctionalTests/Startup.cs
  src/SignalR/common/Http.Connections/src/HttpConnectionDispatcherOptions.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
  src/SignalR/common/Http.Connections/src/PublicAPI.Unshipped.txt
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
  src/SignalR/common/Protocols.Json/src/Protocol/JsonHubProtocol.cs
  src/SignalR/common/Protocols.MessagePack/src/Protocol/MessagePackHubProtocolWorker.cs
  src/SignalR/common/Protocols.NewtonsoftJson/src/Protocol/NewtonsoftJsonHubProtocol.cs
  src/SignalR/common/Shared/JsonUtils.cs
  src/SignalR/common/SignalR.Common/src/Protocol/HubProtocolConstants.cs
  src/SignalR/common/SignalR.Common/test/Internal/Protocol/JsonHubProtocolTests.cs
  src/SignalR/common/SignalR.Common/test/Internal/Protocol/JsonHubProtocolTestsBase.cs
  src/SignalR/common/SignalR.Common/test/Internal/Protocol/MessagePackHubProtocolTestBase.cs
  src/SignalR/common/SignalR.Common/test/Internal/Protocol/NewtonsoftJsonHubProtocolTests.cs
  src/SignalR/common/SignalR.Common/test/Internal/Protocol/TestHubMessageEqualityComparer.cs
  src/SignalR/docs/specs/HubProtocol.md
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-signalr

#48939 Progressively enhanced form posts
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/src/Rendering/StreamingRendering.ts
  src/Components/Web.JS/src/Services/NavigationEnhancement.ts
  src/Components/test/E2ETest/ServerRenderingTests/EnhancedNavigationTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithoutBindingContextTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/StreamingRenderingTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponentEndpointsStartup.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/App.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/FormWithDefaultContextApp.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/EnhancedNav/Index.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/EnhancedNav/PageForScrollingToHash.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/EnhancedNav/PageThatRedirects.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/EnhancedNav/PageThatRedirectsWhileStreaming.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/EnhancedNav/PageThatThrowsWhileStreaming.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/EnhancedNav/_Imports.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/_Imports.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/StreamingRendering/SectionsWithStreamingRendering.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/StreamingRendering/StreamingRendering.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/StreamingRendering/_Imports.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Shared/EnhancedNavLayout.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Shared/MainLayout.razor
Labels: area-blazor

#48838 Unhide server option in blazor web template
  src/ProjectTemplates/Shared/ArgConstants.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/Components-CSharp/.template.config/dotnetcli.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Components-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/test/Templates.Blazor.Tests/BlazorWebTemplateTest.cs
Labels: area-blazor

#48595 Add refresh token support to BearerTokenHandler
  src/Identity/Core/src/DTO/RefreshRequest.cs
  src/Identity/Core/src/IdentityApiEndpointRouteBuilderExtensions.cs
  src/Identity/Core/src/IdentityApiEndpointsIdentityBuilderExtensions.cs
  src/Identity/Core/src/IdentityApiEndpointsServiceCollectionExtensions.cs
  src/Identity/Core/src/IdentityAuthenticationBuilderExtensions.cs
  src/Identity/Core/src/IdentityBuilderExtensions.cs
  src/Identity/Core/src/IdentityServiceCollectionExtensions.cs
  src/Identity/Core/src/PublicAPI.Unshipped.txt
  src/Identity/Identity.slnf
  src/Identity/test/Identity.FunctionalTests/MapIdentityApiTests.cs
  src/Security/Authentication/BearerToken/src/BearerTokenConfigureOptions.cs
  src/Security/Authentication/BearerToken/src/BearerTokenEvents.cs
  src/Security/Authentication/BearerToken/src/BearerTokenExtensions.cs
  src/Security/Authentication/BearerToken/src/BearerTokenHandler.cs
  src/Security/Authentication/BearerToken/src/BearerTokenOptions.cs
  src/Security/Authentication/BearerToken/src/LoggingExtensions.cs
  src/Security/Authentication/BearerToken/src/PublicAPI.Unshipped.txt
  src/Shared/BearerToken/DTO/AccessTokenResponse.cs
Labels: area-identity

#48577 Send CloseMessage from client to server
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/Startup.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HubConnectionTests.Protocol.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HubConnectionTests.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/WebSocketsTransport.cs
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/CloseMessage.java
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/GsonHubProtocol.java
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/GsonHubProtocolTest.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/HubConnectionTest.java
  src/SignalR/clients/ts/signalr-protocol-msgpack/src/MessagePackHubProtocol.ts
  src/SignalR/clients/ts/signalr-protocol-msgpack/tests/MessagePackHubProtocol.test.ts
  src/SignalR/clients/ts/signalr/src/HubConnection.ts
  src/SignalR/clients/ts/signalr/src/LongPollingTransport.ts
  src/SignalR/clients/ts/signalr/tests/HubConnection.Reconnect.test.ts
  src/SignalR/clients/ts/signalr/tests/HubConnection.test.ts
  src/SignalR/clients/ts/signalr/tests/JsonHubProtocol.test.ts
  src/SignalR/docs/specs/HubProtocol.md
  src/SignalR/server/Core/src/HubConnectionContext.cs
  src/SignalR/server/Core/src/HubConnectionHandler.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
  src/SignalR/server/SignalR/test/Startup.cs
Labels: area-signalr, pending-ci-rerun

#48945 Give error if the root component is interactive. Fixes #48847
  src/Components/Endpoints/src/RazorComponentEndpointHost.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/src/Services/ComponentDescriptorDiscovery.ts
Labels: area-blazor

#48450 Implement output-cache store using redis
  src/Caching/Caching.slnf
  src/Caching/StackExchangeRedis/src/Microsoft.Extensions.Caching.StackExchangeRedis.csproj
  src/Caching/StackExchangeRedis/src/PublicAPI/net462/PublicAPI.Shipped.txt
  src/Caching/StackExchangeRedis/src/PublicAPI/net462/PublicAPI.Unshipped.txt
  src/Caching/StackExchangeRedis/src/PublicAPI/net8.0/PublicAPI.Shipped.txt
  src/Caching/StackExchangeRedis/src/PublicAPI/net8.0/PublicAPI.Unshipped.txt
  src/Caching/StackExchangeRedis/src/PublicAPI/netstandard2.0/PublicAPI.Shipped.txt
  src/Caching/StackExchangeRedis/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/Caching/StackExchangeRedis/src/RedisOutputCacheStore.cs
  src/Caching/StackExchangeRedis/src/RedisOutputCacheStoreImpl.cs
  src/Caching/StackExchangeRedis/src/StackExchangeRedisCacheServiceCollectionExtensions.cs
  src/Caching/StackExchangeRedis/test/OutputCache/OutputCacheGetSetTests.cs
  src/Caching/StackExchangeRedis/test/OutputCache/OutputCacheServiceExtensionsTests.cs
  src/Caching/StackExchangeRedis/test/OutputCache/RedisConnectionFixture.cs
  src/Middleware/OutputCaching/OutputCaching.slnf
  src/Middleware/OutputCaching/src/IOutputCacheStore.cs
  src/Middleware/OutputCaching/src/OutputCacheEntryFormatter.cs
  src/Middleware/OutputCaching/src/PublicAPI.Unshipped.txt
Labels: feature-output-caching, area-middleware

#48930 Don't resolve JsonTypeInfo for service parameters
  src/Http/Http.Extensions/gen/RequestDelegateGeneratorSources.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointJsonPreparationEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointParameterEmitter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam_EmptyQueryValues.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam_QueryNotPresent.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_StringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_JsonBodyOrService_HandlesBothJsonAndService.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_TakesCustomMetadataEmitter_Has_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_Get_WithArrayQueryString_AndBody_ShouldUseQueryString.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_PostAndGet_WithArrayQueryString_AndBody_ShouldUseQueryString.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_PostAndPut_WithArrayQueryString_AndBody_ShouldUseBody.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_Post_WithArrayQueryString_AndBody_ShouldUseBody.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapPost_WithArrayQueryString_AndBody_ShouldUseBody.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapPost_WithArrayQueryString_ShouldFail.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/VerifyAsParametersBaseline.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.JsonBodyOrService.cs
Labels: feature-rdg, area-minimal

#48946 Update branding to preview7
  .github/fabricbot.json
  eng/Versions.props
Labels: area-infrastructure

#48936 Fix 48934 test quarantine.
  src/Middleware/WebSockets/test/UnitTests/WebSocketMiddlewareTests.cs
Labels: area-runtime

#48931 Replace InstrumentRecorder with MetricCollector
  eng/Dependencies.props
  eng/Version.Details.xml
  eng/Versions.props
  src/Hosting/Hosting/test/HostingApplicationDiagnosticsTests.cs
  src/Hosting/Hosting/test/HostingMetricsTests.cs
  src/Hosting/Hosting/test/Microsoft.AspNetCore.Hosting.Tests.csproj
  src/Http/Routing/test/UnitTests/Microsoft.AspNetCore.Routing.Tests.csproj
  src/Http/Routing/test/UnitTests/RoutingMetricsTests.cs
  src/Middleware/Diagnostics/test/UnitTests/DeveloperExceptionPageMiddlewareTest.cs
  src/Middleware/Diagnostics/test/UnitTests/ExceptionHandlerMiddlewareTest.cs
  src/Middleware/Diagnostics/test/UnitTests/ExceptionHandlerTest.cs
  src/Middleware/Diagnostics/test/UnitTests/Microsoft.AspNetCore.Diagnostics.Tests.csproj
  src/Middleware/RateLimiting/test/Microsoft.AspNetCore.RateLimiting.Tests.csproj
  src/Middleware/RateLimiting/test/RateLimitingMetricsTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ConnectionLimitTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/InMemory.FunctionalTests.csproj
  src/Servers/Kestrel/test/InMemory.FunctionalTests/KestrelMetricsTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http2/Http2RequestTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Interop.FunctionalTests.csproj
  src/Shared/Metrics/TestMeterFactory.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
  src/SignalR/common/Http.Connections/test/Microsoft.AspNetCore.Http.Connections.Tests.csproj
Labels: area-runtime

#48963 Fix typo in OutputCacheAttribute xml doc.
  src/Middleware/OutputCaching/src/OutputCacheAttribute.cs
Labels: area-runtime, community-contribution

#48967 Callsite rendermodes
  src/Components/Authorization/test/AuthorizeRouteViewTest.cs
  src/Components/Components/src/ComponentFactory.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/RenderTree/ComponentFrameFlags.cs
  src/Components/Components/src/RenderTree/RenderTreeDiffBuilder.cs
  src/Components/Components/src/RenderTree/RenderTreeFrame.cs
  src/Components/Components/src/RenderTree/RenderTreeFrameArrayBuilder.cs
  src/Components/Components/src/RenderTree/RenderTreeFrameType.cs
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Components/src/Rendering/RenderTreeBuilder.cs
  src/Components/Components/test/ComponentFactoryTest.cs
  src/Components/Components/test/RendererTest.cs
  src/Components/Components/test/Rendering/RenderTreeBuilderTest.cs
  src/Components/Components/test/RouteViewTest.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Prerendering.cs
  src/Components/Endpoints/src/Rendering/SSRRenderModeBoundary.cs
  src/Components/Server/src/Circuits/RemoteRenderer.cs
  src/Components/Shared/test/AssertFrame.cs
  src/Components/WebAssembly/WebAssembly/src/Rendering/WebAssemblyRenderer.cs
  src/Components/test/E2ETest/ServerRenderingTests/InteractivityTest.cs
  src/Components/test/testassets/Components.TestServer/Components.TestServer.csproj
  src/Components/test/testassets/Components.TestServer/RazorComponents/App.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/CallSiteInteractiveComponents.razor
Labels: Servicing-approved, area-blazor

#48977 Don't warn on `app.UseEndpoints(e => {});`
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/WebApplicationBuilder/WebApplicationBuilderAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/test/WebApplicationBuilder/UseTopLevelRouteRegistrationInsteadOfUseEndpointsTest.cs
Labels: area-infrastructure, area-mvc, community-contribution

#48908 Update SDK
  eng/tools/GenerateFiles/Directory.Build.props.in
  global.json
  src/Middleware/Spa/SpaProxy/src/SpaHostingStartup.cs
Labels: area-infrastructure

#48981 Quarantine UnauthorizedDirectWebSocketsConnectionDoesNotConnect
  src/SignalR/server/SignalR/test/EndToEndTests.cs
Labels: area-signalr

#48999 Update minimal APIs form binding integration
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RuntimeCreationTests.ComplexFormBinding.cs
Labels: feature-rdg, area-minimal

#48814 [skip-ci] Add missing xml docs for ExceptionHandler
  src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerServiceCollectionExtensions.cs
  src/Middleware/Diagnostics/src/ExceptionHandler/IExceptionHandler.cs
Labels: community-contribution, area-middleware

#48957 Implement ITlsHandshakeFeature in IIS
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/managedexports.cpp
  src/Servers/IIS/IIS/src/Core/IISHttpContext.FeatureCollection.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.Features.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
  src/Servers/IIS/IIS/src/NativeMethods.cs
  src/Servers/IIS/IIS/test/IIS.Tests/TlsHandshakeFeatureTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/Utilities/TestServer.cs
  src/Shared/HttpSys/RequestProcessing/NativeRequestContext.cs
Labels: area-runtime, community-contribution

#48990 [Blazor] Form mapping error handling and validation integration for SSR Blazor
  src/Components/Authorization/test/AuthorizeRouteViewTest.cs
  src/Components/Components/src/Binding/BindingError.cs
  src/Components/Components/src/Binding/CascadingModelBinder.cs
  src/Components/Components/src/Binding/FormValueSupplierContext.cs
  src/Components/Components/src/Binding/IFormValueSupplier.cs
  src/Components/Components/src/Binding/ModelBindingContext.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/test/CascadingModelBinderTest.cs
  src/Components/Components/test/ModelBindingContextTest.cs
  src/Components/Components/test/RouteViewTest.cs
  src/Components/Endpoints/src/Binding/Converters/CollectionConverter.cs
  src/Components/Endpoints/src/Binding/Converters/DictionaryAdapters/ImmutableDictionaryBufferAdapter.cs
  src/Components/Endpoints/src/Binding/Converters/DictionaryAdapters/ReadOnlyDictionaryBufferAdapter.cs
  src/Components/Endpoints/src/Binding/Converters/DictionaryConverter.cs
  src/Components/Endpoints/src/Binding/Converters/ParsableConverter.cs
  src/Components/Endpoints/src/Binding/DefaultFormValuesSupplier.cs
  src/Components/Endpoints/src/Binding/Factories/ComplexType/ComplexTypeExpressionConverterFactoryOfT.cs
  src/Components/Endpoints/src/Binding/Factories/Dictionary/ConcreteTypeDictionaryConverterFactory.cs
  src/Components/Endpoints/src/Binding/Factories/Dictionary/TypedDictionaryConverterFactory.cs
  src/Components/Endpoints/src/Binding/FormDataMapperOptions.cs
  src/Components/Endpoints/src/Binding/FormDataMappingError.cs
  src/Components/Endpoints/src/Binding/FormDataMappingException.cs
  src/Components/Endpoints/src/Binding/FormDataReader.cs
  src/Components/Endpoints/src/Binding/FormDataResources.resx
  src/Components/Endpoints/src/Binding/FormKey.cs
  src/Components/Endpoints/src/Microsoft.AspNetCore.Components.Endpoints.csproj
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.cs
  src/Components/Endpoints/test/Binding/FormDataMapperTests.cs
  src/Components/Forms/src/FieldIdentifier.cs
  src/Components/Forms/src/Microsoft.AspNetCore.Components.Forms.csproj
  src/Components/Forms/test/ExpressionFormatterTest.cs
  src/Components/Forms/test/ReverseStringBuilderTest.cs
  src/Components/Shared/src/ExpressionFormatting/ExpressionFormatter.cs
  src/Components/Shared/src/ExpressionFormatting/ReverseStringBuilder.cs
  src/Components/Web/src/Binding/BindingEditContextExtensions.cs
  src/Components/Web/src/Binding/CascadingFormModelBindingProvider.cs
  src/Components/Web/src/Forms/EditContextModelBindingContextExtensions.cs
  src/Components/Web/src/Forms/EditForm.cs
  src/Components/Web/src/Forms/InputBase.cs
  src/Components/Web/src/Forms/ModelBindingContextValidator.cs
  src/Components/Web/src/Forms/ValidationMessage.cs
  src/Components/Web/src/Microsoft.AspNetCore.Components.Web.csproj
  src/Components/Web/test/Forms/EditFormTest.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyFormValueSupplier.cs
  src/Components/WebView/WebView/src/Services/WebViewFormValueSupplier.cs
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/ActionForm.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/CustomNumberInput.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/DefaultFormBoundCollectionParameter.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/DefaultFormBoundComplexTypeParameter.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/DefaultFormBoundDictionaryParameter.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/DefaultFormBoundDictionaryParameterErrors.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/DefaultFormBoundMultiplePrimitiveParameters.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/DefaultFormBoundPrimitiveParameter.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/NamedFormBoundPrimitiveParameter.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/NamedFormBoundPrimitiveParameterValidatorIntegration.razor
  src/Http/Http.Extensions/src/Microsoft.AspNetCore.Http.Extensions.csproj
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RuntimeCreationTests.ComplexFormBinding.cs
Labels: area-blazor

#48954 [Blazor] Allow properties marked with both `[Parameter]` and `[SupplyParameterFromQuery]` to receive values directly
  src/Components/Components/src/ParameterView.cs
  src/Components/Components/src/Reflection/ComponentProperties.cs
  src/Components/Components/src/Reflection/PropertySetter.cs
  src/Components/Components/test/ParameterViewTest.Assignment.cs
Labels: area-blazor

#49038 [release/8.0-preview6] [Blazor] Allow properties marked with both `[Parameter]` and `[SupplyParameterFromQuery]` to receive values directly
  src/Components/Components/src/ParameterView.cs
  src/Components/Components/src/Reflection/ComponentProperties.cs
  src/Components/Components/src/Reflection/PropertySetter.cs
  src/Components/Components/test/ParameterViewTest.Assignment.cs
Labels: Servicing-approved, area-infrastructure, area-blazor

#49040 Update IExceptionHandler.cs
  src/Middleware/Diagnostics/src/ExceptionHandler/IExceptionHandler.cs
Labels: area-middleware

#48821 Remove IIS settings from Core API template.
  src/ProjectTemplates/Web.ProjectTemplates/content/Api-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/test/Templates.Tests/ApiTemplateTest.cs
Labels: area-mvc

#48940 Clean up naming and layout for the new Blazor weather page
  src/ProjectTemplates/Web.ProjectTemplates/content/Components-CSharp/Pages/Index.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/Components-CSharp/Pages/Weather.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/Components-CSharp/Shared/NavMenu.razor
  src/ProjectTemplates/test/Templates.Blazor.Tests/BlazorWebTemplateTest.cs
  src/ProjectTemplates/test/Templates.Tests/template-baselines.json
Labels: area-mvc

#49052 Pass in parameter name
  src/Mvc/Mvc.Core/src/ModelBinding/Validation/DefaultComplexObjectValidationStrategy.cs
  src/Mvc/Mvc.Core/test/ModelBinding/Validation/DefaultComplexObjectValidationStrategyTest.cs
Labels: area-mvc, community-contribution, area-web-frameworks

#49044 Disable sendsCloseMessageOnStop() Java SignalR test
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/HubConnectionTest.java
Labels: area-signalr

#47855 [blazor] Set Cross-Origin-Policy headers for multi-threaded runtime
  src/Components/Directory.Build.targets
  src/Components/WebAssembly/DevServer/src/Server/Program.cs
  src/Components/WebAssembly/DevServer/src/Server/Startup.cs
  src/Components/WebAssembly/DevServer/src/build/Microsoft.AspNetCore.Components.WebAssembly.DevServer.targets
Labels: area-blazor, feature-blazor-wasm, pending-ci-rerun

#49076 [Blazor] Fix condition for including the service worker assets in the project
  src/ProjectTemplates/Web.ProjectTemplates/Components-CSharp.csproj.in
Labels: area-mvc, area-blazor

#49067 Ignore pings on sendsCloseMessageOnStop
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/HubConnectionTest.java
Labels: area-signalr

#49085 Use correct casing for WebAssembly in template text
  src/ProjectTemplates/Web.ProjectTemplates/content/Components-CSharp/.template.config/template.json
Labels: area-blazor

#49083 Remove IRoutingStateProvider from Router
  src/Components/Components/src/Routing/Router.cs
Labels: area-blazor

#49055 Callsite rendermodes (#48967)
  src/Components/Authorization/test/AuthorizeRouteViewTest.cs
  src/Components/Components/src/ComponentFactory.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/RenderTree/ComponentFrameFlags.cs
  src/Components/Components/src/RenderTree/RenderTreeDiffBuilder.cs
  src/Components/Components/src/RenderTree/RenderTreeFrame.cs
  src/Components/Components/src/RenderTree/RenderTreeFrameArrayBuilder.cs
  src/Components/Components/src/RenderTree/RenderTreeFrameType.cs
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Components/src/Rendering/RenderTreeBuilder.cs
  src/Components/Components/test/ComponentFactoryTest.cs
  src/Components/Components/test/RendererTest.cs
  src/Components/Components/test/Rendering/RenderTreeBuilderTest.cs
  src/Components/Components/test/RouteViewTest.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Prerendering.cs
  src/Components/Endpoints/src/Rendering/SSRRenderModeBoundary.cs
  src/Components/Server/src/Circuits/RemoteRenderer.cs
  src/Components/Shared/test/AssertFrame.cs
  src/Components/WebAssembly/WebAssembly/src/Rendering/WebAssemblyRenderer.cs
  src/Components/test/E2ETest/ServerRenderingTests/InteractivityTest.cs
  src/Components/test/testassets/Components.TestServer/Components.TestServer.csproj
  src/Components/test/testassets/Components.TestServer/RazorComponents/App.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/CallSiteInteractiveComponents.razor
Labels: area-blazor

#48962 [Blazor] Fixes a typo in the components template
  src/ProjectTemplates/Web.ProjectTemplates/content/Components-CSharp/Pages/Counter.razor
Labels: area-mvc, pending-ci-rerun

#48953 Set Hot Reload controlling headers DOTNET-MODIFIABLE-ASSEMBLIES and A…
  src/Components/WebAssembly/Server/src/ComponentsWebAssemblyApplicationBuilderExtensions.cs
Labels: area-blazor, pending-ci-rerun

#48863 Update ProjectTemplates to Id Web 2.12.2 + MS Graph v5 support
  eng/Versions.props
  src/Components/test/testassets/Components.WasmMinimal/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/Microsoft.DotNet.Web.ProjectTemplates.csproj
  src/ProjectTemplates/Web.ProjectTemplates/RazorPagesWeb-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/StarterWeb-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/WebApi-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Pages/Index.cshtml.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Controllers/HomeController.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Controllers/WeatherForecastController.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Program.MinimalAPIs.OrgOrIndividualB2CAuth.cs
Labels: area-mvc, community-contribution
