Repository dotnet/aspnetcore, pull requests merged in 2023-01, with the labels that each got.

#45828 [docs] BuildFromSource.md fixes + edit pass
  docs/BuildFromSource.md
Labels: community-contribution

#45812 Quarantine Settings_MaxHeaderListSize_Server
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
Labels: area-runtime

#45580 [AOT] Add RequiresDynamicCode annotation to Microsoft.AspNetCore.Routing
  src/Http/Routing/src/Matching/ILEmitTrieFactory.cs
  src/Http/Routing/src/Matching/ILEmitTrieJumpTable.cs
  src/Http/Routing/src/Matching/JumpTableBuilder.cs
Labels: area-blazor

#45856 Update branding to 6.0.14
  eng/Versions.props
Labels: area-infrastructure

#45597 Fix: Detect parsability when FromRoute attribute is used
  src/Framework/App.Ref/src/CompatibilitySuppressions.xml
  src/Framework/App.Runtime/src/CompatibilitySuppressions.xml
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/RoutePattern/RoutePatternTree.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/SymbolExtensions.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/DisallowNonParsableComplexTypesOnParameters.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteHandlers/DisallowNonParsableComplexTypesOnParametersTest.cs
Labels: area-infrastructure

#45604 [AOT] Fix runtime warnings
  Directory.Build.targets
  src/Components/Components/src/Microsoft.AspNetCore.Components.csproj
  src/Components/Web/src/Microsoft.AspNetCore.Components.Web.csproj
  src/Components/WebAssembly/JSInterop/src/Microsoft.JSInterop.WebAssembly.csproj
  src/Components/WebAssembly/WebAssembly.Authentication/src/Microsoft.AspNetCore.Components.WebAssembly.Authentication.csproj
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.csproj
  src/DataProtection/DataProtection/src/AuthenticatedEncryption/ManagedAuthenticatedEncryptorFactory.cs
  src/DataProtection/Extensions/src/DataProtectionProvider.cs
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/Hosting/Hosting/src/GenericHost/GenericWebHostBuilder.cs
  src/Hosting/Hosting/src/Internal/StartupLoader.cs
  src/Hosting/Hosting/src/Internal/WebHost.cs
  src/Hosting/Hosting/src/Startup/StartupBase.cs
  src/Hosting/Hosting/src/WebHostBuilder.cs
  src/Hosting/Hosting/src/WebHostBuilderExtensions.cs
  src/Hosting/Hosting/test/Internal/MyContainer.cs
  src/Http/Http.Abstractions/src/ProblemDetails/ProblemDetails.cs
  src/Http/Http.Abstractions/src/Routing/RouteValueDictionary.cs
  src/Http/Http.Abstractions/test/HttpValidationProblemDetailsJsonConverterTest.cs
  src/Http/Http.Extensions/src/DefaultProblemDetailsWriter.cs
  src/Http/Http.Extensions/src/HttpRequestJsonExtensions.cs
  src/Http/Http.Extensions/src/HttpResponseJsonExtensions.cs
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Routing/src/Builder/EndpointRouteBuilderExtensions.cs
  src/Http/Routing/src/Builder/FallbackEndpointRouteBuilderExtensions.cs
  src/Http/Routing/src/Matching/JumpTableBuilder.cs
  src/Http/Routing/src/RouteEndpointDataSource.cs
  src/Identity/Core/src/IdentityBuilderExtensions.cs
  src/Identity/Extensions.Core/src/IdentityBuilder.cs
  src/Identity/test/Identity.Test/IdentityBuilderTest.cs
  src/JSInterop/Microsoft.JSInterop/src/Microsoft.JSInterop.csproj
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/DeveloperExceptionPageMiddlewareImpl.cs
  src/Middleware/Diagnostics/test/FunctionalTests/DeveloperExceptionPageSampleTest.cs
  src/Middleware/HealthChecks/src/HealthCheckOptions.cs
  src/Middleware/Spa/SpaProxy/src/Microsoft.AspNetCore.SpaProxy.csproj
  src/Mvc/Mvc.Core/test/Infrastructure/ValidationProblemDetailsJsonConverterTest.cs
  src/Shared/EndpointMetadataPopulator.cs
  src/Shared/ObjectMethodExecutor/CoercedAwaitableInfo.cs
  src/Shared/ObjectMethodExecutor/ObjectMethodExecutor.cs
  src/Shared/ObjectMethodExecutor/ObjectMethodExecutorFSharpSupport.cs
  src/Shared/ParameterBindingMethodCache.cs
  src/Shared/ProblemDetails/HttpValidationProblemDetailsJsonConverter.cs
  src/Shared/ProblemDetails/ProblemDetailsJsonConverter.cs
  src/Shared/PropertyHelper/PropertyHelper.cs
Labels: area-runtime

#45816 Fix inconsistent casing of template parameters
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/.template.config/dotnetcli.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/dotnetcli.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/dotnetcli.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/template.json
Labels: area-mvc, community-contribution

#45403 [release/6.0] Use non-localized 6.0.x links in installer
  src/Installers/Windows/WindowsHostingBundle/1028/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1029/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1031/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1033/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1036/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1040/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1041/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1042/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1045/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1046/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1049/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1055/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/2052/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/3082/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/thm.wxl
Labels: Servicing-approved, area-infrastructure, feature-installers, feature-localization

#45410 [release/7.0] Use non-localized 7.0.x links in installer
  src/Installers/Windows/WindowsHostingBundle/1028/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1029/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1031/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1033/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1036/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1040/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1041/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1042/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1045/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1046/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1049/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1055/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/2052/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/3082/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/thm.wxl
Labels: Servicing-approved, area-infrastructure, feature-installers, feature-localization

#45538 [release/6.0] Use new Arm64 Helix queues
  .azure/pipelines/helix-matrix.yml
  eng/targets/Helix.Common.props
Labels: area-infrastructure, tell-mode

#45715 Fix cookie null regression
  src/Http/Http/test/RequestCookiesCollectionTests.cs
  src/Http/Shared/CookieHeaderParserShared.cs
Labels: Servicing-approved, area-runtime

#45681 Compatibility Suppressions
  src/DataProtection/DataProtection/src/CompatibilitySuppressions.xml
  src/DataProtection/Extensions/src/CompatibilitySuppressions.xml
  src/DataProtection/StackExchangeRedis/src/CompatibilitySuppressions.xml
  src/Features/JsonPatch/src/CompatibilitySuppressions.xml
  src/FileProviders/Embedded/src/CompatibilitySuppressions.xml
  src/Framework/App.Ref/src/CompatibilitySuppressions.xml
  src/Framework/App.Runtime/src/CompatibilitySuppressions.xml
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorClassLibrary-CSharp/.template.config/localize/templatestrings.en.json
  src/SignalR/common/Protocols.MessagePack/src/CompatibilitySuppressions.xml
  src/SignalR/common/Protocols.NewtonsoftJson/src/CompatibilitySuppressions.xml
Labels: area-infrastructure

#45881 Unset MicrosoftNetCompilersToolsetVersion
  eng/Versions.props
  src/SignalR/common/Shared/ClientResultsManager.cs
Labels: area-infrastructure

#45853 Updated the Third Party Notices for 8.0 project templates
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyBlazorServerWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/.template.config/template.json
Labels: area-mvc

#45702 Fix gRPC template tests
  src/ProjectTemplates/test/Templates.Tests/GrpcTemplateTest.cs
Labels: area-mvc, area-grpc

#45880 React to new HttpClient header size check #45811
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
Labels: area-runtime

#45870 Fixed bug in NavigationManager.GetUriWithQueryParameter(s) to include uri with hash string
  src/Components/Components/src/NavigationManagerExtensions.cs
  src/Components/Components/test/NavigationManagerTest.cs
Labels: area-blazor

#45898 Add build logs around crossgen
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-infrastructure

#45890 [AOT] Add middleware reflection fallback
  src/Http/Http.Abstractions/src/Extensions/UseMiddlewareExtensions.cs
Labels: area-runtime

#45907 Avoid deprecated `set-output` and bump action version
  .github/workflows/runtime-sync.yml
Labels: area-infrastructure

#45909 Remove cruft from Win bundle installers
  src/Installers/Windows/SharedFrameworkBundle/1033/thm.wxl
  src/Installers/Windows/SharedFrameworkBundle/thm.wxl
  src/Installers/Windows/SharedFrameworkBundle/thm.xml
  src/Installers/Windows/WindowsHostingBundle/1028/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/1029/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/1031/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/1033/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/1033/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/1036/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/1040/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/1041/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/1042/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/1045/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/1046/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/1049/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/1055/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/2052/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/3082/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/Bundle.wxs
  src/Installers/Windows/WindowsHostingBundle/Strings.wxl
  src/Installers/Windows/WindowsHostingBundle/thm.wxl
  src/Installers/Windows/WindowsHostingBundle/thm.xml
Labels: area-infrastructure, feature-installers

#45865 Use CachedFactoryContext
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/src/RequestDelegateFactoryContext.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
Labels: area-runtime, community-contribution

#45915 Add MVC ambiguous route analyzer
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DiagnosticDescriptors.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/WellKnownTypes.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Microsoft.AspNetCore.App.Analyzers.csproj
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Mvc/DetectAmbiguousActionRoutes.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Mvc/MvcAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/MvcDetector.cs
  src/Framework/AspNetCoreAnalyzers/test/Mvc/DetectAmbiguousActionRoutesTest.cs
  src/Framework/AspNetCoreAnalyzers/test/Verifiers/CSharpAnalyzerVerifier.cs
  src/Mvc/Mvc.Analyzers/src/Microsoft.AspNetCore.Mvc.Analyzers.csproj
  src/Mvc/Mvc.Analyzers/src/TopLevelParameterNameAnalyzer.cs
  src/Mvc/Mvc.Api.Analyzers/src/ApiControllerFacts.cs
  src/Mvc/Mvc.Api.Analyzers/src/Microsoft.AspNetCore.Mvc.Api.Analyzers.csproj
  src/Mvc/Mvc.Api.Analyzers/test/MvcFactsTest.cs
  src/Shared/Roslyn/MvcFacts.cs
Labels: area-infrastructure, area-web-frameworks

#45920 Update README.md
  README.md
Labels: community-contribution

#45946 [AOT] Audit dynamic code flags and add comments
  src/Hosting/Hosting/src/GenericHost/GenericWebHostBuilder.cs
  src/Hosting/Hosting/src/Internal/StartupLoader.cs
  src/Http/Http.Abstractions/src/Extensions/UseMiddlewareExtensions.cs
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Routing/src/Matching/JumpTableBuilder.cs
  src/Shared/PropertyHelper/PropertyHelper.cs
Labels: area-web-frameworks

#45897 Fixed bug - Passing options to UseStaticFiles breaks Blazor Server
  src/Components/Server/src/Builder/ComponentEndpointConventionBuilder.cs
  src/Components/Server/src/Builder/ComponentEndpointRouteBuilderExtensions.cs
  src/Components/Server/src/DependencyInjection/ComponentServiceCollectionExtensions.cs
  src/Components/Server/src/DependencyInjection/ConfigureStaticFilesOptions.cs
  src/Components/Server/test/ComponentEndpointRouteBuilderExtensionsTest.cs
Labels: area-blazor

#45593 Adding untyped JsonTypeInfo overloads
  src/Http/Http.Extensions/src/HttpRequestJsonExtensions.cs
  src/Http/Http.Extensions/src/HttpResponseJsonExtensions.cs
  src/Http/Http.Extensions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/test/HttpRequestExtensionsTests.cs
  src/Http/Http.Extensions/test/HttpRequestJsonExtensionsTests.cs
  src/Http/Http.Extensions/test/HttpResponseJsonExtensionsTests.cs
Labels: area-runtime, area-web-frameworks

#45879 Update to net8.0 SDK
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/templates/job/source-index-stage1.yml
  eng/common/tools.ps1
  eng/common/tools.sh
  eng/tools/GenerateFiles/Directory.Build.targets.in
  eng/tools/RepoTasks/RepoTasks.csproj
  eng/tools/RepoTasks/RepoTasks.tasks
  global.json
  src/Components/WebAssembly/testassets/WasmLinkerTest/WasmLinkerTest.csproj
  src/Servers/IIS/IIS/test/IIS.Tests/IIS.Tests.csproj
  src/SignalR/server/StackExchangeRedis/src/RedisHubLifetimeManager.cs
  src/Tools/LinkabilityChecker/LinkabilityChecker.csproj
Labels: area-infrastructure

#45933 Add Kestrel transports to solution filters
  src/Azure/Azure.slnf
  src/Components/Components.slnf
  src/DefaultBuilder/DefaultBuilder.slnf
  src/Framework/Framework.slnf
  src/Hosting/Hosting.slnf
  src/Http/HttpAbstractions.slnf
  src/Identity/Identity.slnf
  src/Middleware/ConcurrencyLimiter/ConcurrencyLimiter.slnf
  src/Middleware/Diagnostics/Diagnostics.slnf
  src/Middleware/Middleware.slnf
  src/Middleware/Session/Session.slnf
  src/Middleware/StaticFiles/StaticFiles.slnf
  src/Middleware/WebSockets/WebSockets.slnf
  src/Mvc/Mvc.slnf
  src/ProjectTemplates/ProjectTemplates.slnf
  src/Security/Security.slnf
  src/Servers/HttpSys/HttpSysServer.slnf
  src/Servers/IIS/IISIntegration.slnf
  src/SignalR/SignalR.slnf
  src/Tools/Tools.slnf
Labels: area-runtime

#45981 Unskip Microsoft.AspNetCore.Server.HttpSys.Microbenchmarks
  src/Servers/HttpSys/perf/Microbenchmarks/Microsoft.AspNetCore.Server.HttpSys.Microbenchmarks.csproj
Labels: area-runtime

#45982 Update sourceIndexPackageVersion
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#45405 Support STJ Polymorphism
  src/Http/Http.Extensions/src/JsonOptions.cs
  src/Http/Http.Extensions/src/Microsoft.AspNetCore.Http.Extensions.WarningSuppressions.xml
  src/Http/Http.Extensions/src/Microsoft.AspNetCore.Http.Extensions.csproj
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Mvc/Mvc.Core/src/Formatters/SystemTextJsonOutputFormatter.cs
  src/Mvc/Mvc.Core/src/JsonOptions.cs
  src/Mvc/Mvc.Core/src/Microsoft.AspNetCore.Mvc.Core.csproj
  src/Mvc/Mvc.Core/test/Formatters/JsonOutputFormatterTestBase.cs
  src/Mvc/Mvc.Core/test/Formatters/SystemTextJsonOutputFormatterTest.cs
  src/Mvc/test/Mvc.FunctionalTests/SystemTextJsonOutputFormatterTest.cs
  src/Mvc/test/WebSites/FormatterWebSite/Controllers/SystemTextJsonOutputFormatterController.cs
  src/Shared/Json/JsonSerializerExtensions.cs
Labels: area-web-frameworks

#45986 Use dotnet 6 instead of 3.1 for BinLogToSln
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#45847 Fix logout success log message (Blazor WebAssembly)
  src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticatorViewCore.Log.cs
Labels: area-blazor, community-contribution

#45628 [blazor][wasm] unify startup bit more
  src/Components/Web.JS/@types/dotnet/dotnet-legacy.d.ts
  src/Components/Web.JS/@types/dotnet/dotnet.d.ts
  src/Components/Web.JS/src/Platform/BootConfig.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/Web.JS/src/Platform/Platform.ts
  src/Components/Web.JS/src/Platform/WebAssemblyResourceLoader.ts
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyConsoleLogger.cs
Labels: area-blazor, blazor-wasm, arch-wasm

#45996 Use dotnet 6 for uploading indexable solution
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#46000 Make generated code classes file private
  src/Http/Http.Extensions/gen/RequestDelegateGenerator.cs
  src/Http/Http.Extensions/gen/RequestDelegateGeneratorSources.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/StaticRouteHandlerModel.Emitter.cs
Labels: area-runtime

#45932 Using `JsonTypeInfo` to read request body in RDF
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/src/RequestDelegateFactoryContext.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
Labels: area-web-frameworks

#45997 Force update of the npm package with dotnet.d.ts
  eng/targets/Npm.Common.targets
  src/Components/Web.JS/Microsoft.AspNetCore.Components.Web.JS.npmproj
Labels: blazor-wasm

#45985 [SignalR] Avoid Http2 when negotiate auth is used
  src/SignalR/SignalR.slnf
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubConnectionTests.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/Microsoft.AspNetCore.SignalR.Client.FunctionalTests.csproj
  src/SignalR/clients/csharp/Client/test/FunctionalTests/Startup.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnection.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/Http2HttpMessageHandler.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/LongPollingTransport.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/SendUtils.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/ServerSentEventsTransport.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/WebSocketsTransport.cs
Labels: area-signalr, signalr-client-net

#45843 Add Tags property to OutputCache property.
  src/Middleware/OutputCaching/src/OutputCacheAttribute.cs
  src/Middleware/OutputCaching/src/PublicAPI.Unshipped.txt
  src/Middleware/OutputCaching/test/OutputCacheAttributeTests.cs
Labels: area-runtime

#45983 Move to latest .NET SDK
  global.json
  src/Mvc/test/WebSites/TagHelpersWebSite/Views/Home/ViewComponentTagHelpers.cshtml
Labels: area-infrastructure

#45591 Fix support for parameter names sourced from attributes (#45572)
  src/OpenApi/src/OpenApiGenerator.cs
  src/OpenApi/test/OpenApiGeneratorTests.cs
Labels: Servicing-approved, area-web-frameworks

#45852 [release/6.0] Backport deletion of playwright tests
  AspNetCore.sln
  src/Components/Components.slnf
  src/Components/ComponentsNoDeps.slnf
  src/Components/test/E2ETestMigration/Infrastructure/ComponentTestBase.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/AspNetEnvironment.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/AspNetSiteServerFixture.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/BasicTestAppServerSiteFixture.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/BlazorWasmTestAppFixture.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/ServerFixture.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/StaticSiteServerFixture.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/ToggleExecutionModeServerFixture.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerFixtures/WebHostServerFixture.cs
  src/Components/test/E2ETestMigration/Infrastructure/ServerTestBase.cs
  src/Components/test/E2ETestMigration/Microsoft.AspNetCore.Components.Migration.E2ETests.csproj
  src/Components/test/E2ETestMigration/Properties/AssemblyInfo.cs
  src/Components/test/E2ETestMigration/TestJsonSerializerOptionsProvider.cs
  src/Components/test/E2ETestMigration/Tests/BinaryHttpClientTest.cs
  src/Components/test/E2ETestMigration/Tests/BindTest.cs
  src/Components/test/E2ETestMigration/Tests/DownloadAnchorTest.cs
  src/Components/test/E2ETestMigration/Tests/InputFileTest.cs
  src/Components/test/E2ETestMigration/playwrightSettings.ci.json
  src/Components/test/E2ETestMigration/playwrightSettings.ci.linux.json
  src/Components/test/E2ETestMigration/playwrightSettings.ci.osx.json
  src/Components/test/E2ETestMigration/playwrightSettings.ci.win.json
  src/Components/test/E2ETestMigration/playwrightSettings.debug.json
  src/Components/test/E2ETestMigration/playwrightSettings.json
  src/Components/test/E2ETestMigration/playwrightSettings.linux.json
  src/Components/test/E2ETestMigration/playwrightSettings.osx.json
  src/Components/test/E2ETestMigration/playwrightSettings.win.json
  src/Components/test/E2ETestMigration/xunit.runner.json
Labels: tell-mode

#46033 Remove legacy check to fix Runtime SiteExtension
  src/SiteExtensions/Runtime/Microsoft.AspNetCore.Runtime.SiteExtension.pkgproj
Labels: area-runtime

#46041 Update downlevel SiteExtensions versions
  eng/Versions.props
Labels: area-infrastructure

#46039 Use Arcade's DownloadFiles task
  eng/Versions.props
  eng/tools/RepoTasks/DownloadFile.cs
  eng/tools/RepoTasks/RepoTasks.tasks
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Installers/Windows/WindowsHostingBundle/Product.targets
Labels: area-infrastructure

#45878 Get EmptyHttpResult in RDF via reflection
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
Labels: area-runtime

#46043 Increase experimental version
  eng/Versions.props
Labels: area-infrastructure

#46056 Annotate QueryString.HasValue for nullability
  src/Http/Http.Abstractions/src/QueryString.cs
Labels: area-runtime

#46048 Get EmptyHttpResult in RDF via reflection (#45878)
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
Labels: Servicing-approved, area-runtime

#46058 [release/6.0] Remove legacy check to fix Runtime SiteExtension
  src/SiteExtensions/Runtime/Microsoft.AspNetCore.Runtime.SiteExtension.pkgproj
Labels: Servicing-approved, area-runtime

#45409 [release/2.1] Use non-localized 2.1.x links in installer
  src/Installers/Windows/WindowsHostingBundle/thm.xml
Labels: Servicing-approved, area-infrastructure, feature-installers, feature-localization

#46059 [Blazor] Update bind:set,after runtime apis (#44412)
  src/Components/Components/src/CompilerServices/RuntimeHelpers.cs
  src/Components/Components/src/EventCallbackFactoryBinderExtensions.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/test/RendererTest.cs
Labels: area-blazor

#45906 Fix DefaultProblemDetailsWriter polymorphism
  src/Http/Http.Extensions/src/DefaultProblemDetailsWriter.cs
  src/Http/Http.Extensions/src/JsonOptions.cs
  src/Http/Http.Extensions/src/ProblemDetailsJsonContext.cs
  src/Http/Http.Extensions/src/ProblemDetailsJsonOptionsSetup.cs
  src/Http/Http.Extensions/src/ProblemDetailsServiceCollectionExtensions.cs
  src/Http/Http.Extensions/test/ProblemDetailsDefaultWriterTest.cs
  src/Http/Http.Extensions/test/ProblemDetailsServiceCollectionExtensionsTest.cs
Labels: area-web-frameworks

#46020 [AOT] Add expression free request filter pipeline for RequestDelegate
  src/Http/Http.Extensions/src/Microsoft.AspNetCore.Http.Extensions.csproj
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/src/RequestDelegateMetadataResult.cs
  src/Http/Routing/src/Builder/EndpointRouteBuilderExtensions.cs
  src/Http/Routing/src/Builder/RouteHandlerBuilder.cs
  src/Http/Routing/src/Microsoft.AspNetCore.Routing.csproj
  src/Http/Routing/src/RequestDelegateFilterPipelineBuilder.cs
  src/Http/Routing/src/RouteEndpointDataSource.cs
  src/Http/Routing/test/UnitTests/Builder/RequestDelegateEndpointRouteBuilderExtensionsTest.cs
  src/Http/Routing/test/UnitTests/Microsoft.AspNetCore.Routing.Tests.csproj
  src/Shared/RouteHandlers/ExecuteHandlerHelper.cs
Labels: area-web-frameworks

#46070 Don't throw exception for unresolved type
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Routing/test/UnitTests/Microsoft.AspNetCore.Routing.Tests.csproj
Labels: area-runtime

#46077 Move EmptyHttpResult to Http.Abstractions
  src/Http/Http.Abstractions/src/HttpResults/EmptyHttpResult.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Results/src/Properties/AssemblyInfo.cs
  src/Http/Http.Results/src/PublicAPI.Unshipped.txt
  src/Http/Routing/src/RequestDelegateFilterPipelineBuilder.cs
Labels: area-runtime, area-web-frameworks

#46085 Set StaticFileOptions.OnPrepareResponse = CacheHeaderSettings.SetCacheHeaders for Blazor static files endpoint
  src/Components/Server/src/Builder/ComponentEndpointRouteBuilderExtensions.cs
Labels: area-blazor

#46092 Add nullable attribute to AuthorizationResult.Succeeded
  src/Security/Authorization/Core/src/AuthorizationResult.cs
  src/Security/Authorization/Core/src/DefaultAuthorizationService.cs
Labels: area-security, community-contribution

#46094 Adding a new rule for automating repro request comments
  .github/fabricbot.json
Labels: area-infrastructure

#46015 [AOT] Remove AOT warning suppressions
  src/DataProtection/Extensions/src/DataProtectionProvider.cs
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/Hosting/Hosting/src/GenericHost/GenericWebHostBuilder.cs
  src/Hosting/Hosting/src/Internal/StartupLoader.cs
  src/Hosting/Hosting/src/Internal/WebHost.cs
  src/Hosting/Hosting/src/Startup/StartupBase.cs
  src/Hosting/Hosting/src/WebHostBuilder.cs
  src/Hosting/Hosting/src/WebHostBuilderExtensions.cs
Labels: area-runtime

#46067 Wrong replication of resource names in embedded file provider
  src/FileProviders/Embedded/src/EmbeddedFileProvider.cs
  src/FileProviders/Embedded/test/EmbeddedFileProviderTests.cs
  src/FileProviders/Embedded/test/Microsoft.Extensions.FileProviders.Embedded.Tests.csproj
  src/FileProviders/Embedded/test/sub/sub-dir/File3.txt
  src/FileProviders/FileProviders.slnf
  src/FileProviders/startvs.cmd
Labels: area-mvc, community-contribution

#46109 Support SkipStatusCodePages when not using WebApplication builder and UseStatusCodePagesWithReExecute
  src/Middleware/Diagnostics/src/StatusCodePage/StatusCodePagesMiddleware.cs
  src/Middleware/Diagnostics/test/UnitTests/StatusCodeMiddlewareTest.cs
Labels: area-runtime, community-contribution

#46097 Fix Blazor PageContext disposal
  src/Components/WebView/WebView/src/PageContext.cs
Labels: area-blazor

#46150 Removed SurveyPrompt from blazor server and blazor wasm project templates
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Pages/Index.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Shared/SurveyPrompt.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Pages/Index.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/Shared/SurveyPrompt.razor
  src/ProjectTemplates/test/Templates.Tests/template-baselines.json
Labels: area-mvc

#46065 Enable setting ServerTimeout and KeepAliveInterval in HubConnectionBuilder
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnectionBuilderExtensions.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnectionOptions.cs
  src/SignalR/clients/csharp/Client.Core/src/PublicAPI.Unshipped.txt
  src/SignalR/clients/csharp/Client/test/UnitTests/HubConnectionBuilderTests.cs
  src/SignalR/clients/ts/signalr/src/HubConnection.ts
  src/SignalR/clients/ts/signalr/src/HubConnectionBuilder.ts
  src/SignalR/clients/ts/signalr/tests/HubConnectionBuilder.test.ts
Labels: area-signalr

#45612 ChecksumValidator: support SHA256
  src/Mvc/Mvc.Razor.RuntimeCompilation/src/ChecksumValidator.cs
  src/Mvc/Mvc.Razor.RuntimeCompilation/test/ChecksumValidatorTest.cs
  src/Mvc/shared/Mvc.Views.TestCommon/TestRazorCompiledItem.cs
Labels: area-mvc, community-contribution

#43969 [Blazor wasm] Use provided loadBootResource function to override how config is loaded
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/Platform/WebAssemblyConfigLoader.ts
  src/Components/Web.JS/src/Platform/WebAssemblyStartOptions.ts
Labels: area-blazor, community-contribution

#46160 Add token to Dependabot config
  .github/dependabot.yml
  .yarnrc
Labels: area-infrastructure

#46088 Add section to UpdatingMajorVersionAndTFM.md about marking APIs shipped
  docs/UpdatingMajorVersionAndTFM.md
Labels: area-infrastructure

#46174 [Mvc] Use ArgumentNullException.ThrowIfNull in ChecksumValidator
  src/Mvc/Mvc.Razor.RuntimeCompilation/src/ChecksumValidator.cs
Labels: area-mvc

#45779 Added copy parameters to enable parallel build
  src/Mvc/Mvc.Testing/src/Microsoft.AspNetCore.Mvc.Testing.targets
Labels: community-contribution, area-web-frameworks

#45642 Run test on Linux and Mac
  src/Framework/AspNetCoreAnalyzers/test/Http/HeaderDictionaryAddTest.cs
Labels: area-infrastructure, community-contribution

#46178 Update milestone assignments for PRs
  .github/fabricbot.json
Labels: area-infrastructure

#46190 Skip Source Build for now
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#46098 string.Split to Span.Split
  src/Http/Routing/src/Matching/HostMatcherPolicy.cs
  src/Identity/Extensions.Stores/src/UserStoreBase.cs
  src/Middleware/Localization/src/CookieRequestCultureProvider.cs
  src/Middleware/Rewrite/src/ApacheModRewrite/FileParser.cs
  src/Middleware/Rewrite/src/ApacheModRewrite/FlagParser.cs
  src/Middleware/Rewrite/src/ApacheModRewrite/RuleBuilder.cs
  src/Middleware/Rewrite/test/ApacheModRewrite/FlagParserTest.cs
  src/Middleware/StaticFiles/src/HtmlDirectoryFormatter.cs
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
Labels: Perf

#46195 Workaround fabricbot `addMielstone` task issue
  .github/fabricbot.json
Labels: area-infrastructure

#40589 feat : Add `StringSyntax` for regex parameters
  src/Http/Routing/src/Constraints/RegexInlineRouteConstraint.cs
  src/Middleware/Rewrite/src/RewriteOptionsExtensions.cs
Labels: area-mvc, community-contribution

#46074 Add DispatchExceptionAsync to ComponentBase
  src/Components/Components/src/ComponentBase.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/RenderHandle.cs
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Components/test/RendererTest.cs
  src/Components/test/E2ETest/Tests/ErrorBoundaryTest.cs
  src/Components/test/testassets/BasicTestApp/ErrorBoundaryTest/ErrorBoundaryCases.razor
Labels: area-blazor, feature-rendering

#46040 Allow minimal host to be created without default HostBuilder behavior
  src/DefaultBuilder/src/PublicAPI.Unshipped.txt
  src/DefaultBuilder/src/WebApplication.cs
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/DefaultBuilder/src/WebHost.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
  src/Hosting/Hosting/src/GenericHost/GenericWebHostBuilder.cs
  src/Hosting/Hosting/src/GenericHost/SlimWebHostBuilder.cs
  src/Hosting/Hosting/src/GenericHost/WebHostBuilderBase.cs
  src/Hosting/Hosting/src/GenericHostWebHostBuilderExtensions.cs
  src/Hosting/Hosting/src/PublicAPI.Unshipped.txt
  src/ProjectTemplates/Web.ProjectTemplates/content/Api-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/Api-CSharp/Program.cs
Labels: area-runtime

#46208 Fix route syntax highlighting parameter color
  src/Framework/App.Ref/src/CompatibilitySuppressions.xml
  src/Framework/App.Runtime/src/CompatibilitySuppressions.xml
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/RoutePatternClassifier.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteEmbeddedLanguage/RoutePatternClassifierTests.cs
Labels: area-infrastructure, area-web-frameworks

#46220 Don't depend on source-build job while it isn't running
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#46112 Move Kestrel shared source to src\Shared
  src/Servers/HttpSys/test/FunctionalTests/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/IIS.FunctionalTests.csproj
  src/Servers/Kestrel/Core/test/Microsoft.AspNetCore.Server.Kestrel.Core.Tests.csproj
  src/Servers/Kestrel/Kestrel/test/Microsoft.AspNetCore.Server.Kestrel.Tests.csproj
  src/Servers/Kestrel/Transport.NamedPipes/test/Microsoft.AspNetCore.Server.Kestrel.Transport.NamedPipes.Tests.csproj
  src/Servers/Kestrel/Transport.Quic/test/Microsoft.AspNetCore.Server.Kestrel.Transport.Quic.Tests.csproj
  src/Servers/Kestrel/samples/HttpClientApp/HttpClientApp.csproj
  src/Servers/Kestrel/test/InMemory.FunctionalTests/InMemory.FunctionalTests.csproj
  src/Servers/Kestrel/test/Interop.FunctionalTests/Interop.FunctionalTests.csproj
  src/Servers/Kestrel/test/Sockets.BindTests/Sockets.BindTests.csproj
  src/Servers/Kestrel/test/Sockets.FunctionalTests/Sockets.FunctionalTests.csproj
  src/Shared/TestCertificates/.gitattributes
  src/Shared/TestCertificates/aspnetdevcert.pfx
  src/Shared/TestCertificates/eku.client.ini
  src/Shared/TestCertificates/eku.client.pfx
  src/Shared/TestCertificates/eku.code_signing.ini
  src/Shared/TestCertificates/eku.code_signing.pfx
  src/Shared/TestCertificates/eku.multiple_usages.ini
  src/Shared/TestCertificates/eku.multiple_usages.pfx
  src/Shared/TestCertificates/eku.server.ini
  src/Shared/TestCertificates/eku.server.pfx
  src/Shared/TestCertificates/https-aspnet.crt
  src/Shared/TestCertificates/https-aspnet.key
  src/Shared/TestCertificates/https-aspnet.pub
  src/Shared/TestCertificates/https-dsa-protected.key
  src/Shared/TestCertificates/https-dsa.crt
  src/Shared/TestCertificates/https-dsa.key
  src/Shared/TestCertificates/https-dsa.pem
  src/Shared/TestCertificates/https-ecdsa-protected.key
  src/Shared/TestCertificates/https-ecdsa.crt
  src/Shared/TestCertificates/https-ecdsa.key
  src/Shared/TestCertificates/https-ecdsa.pem
  src/Shared/TestCertificates/https-rsa-protected.key
  src/Shared/TestCertificates/https-rsa.crt
  src/Shared/TestCertificates/https-rsa.key
  src/Shared/TestCertificates/https-rsa.pem
  src/Shared/TestCertificates/intermediate2_ca.crt
  src/Shared/TestCertificates/intermediate2_ca.key
  src/Shared/TestCertificates/intermediate_ca.crt
  src/Shared/TestCertificates/intermediate_ca.key
  src/Shared/TestCertificates/leaf.com.crt
  src/Shared/TestCertificates/leaf.com.key
  src/Shared/TestCertificates/make-test-certs.sh
  src/Shared/TestCertificates/no_extensions.ini
  src/Shared/TestCertificates/no_extensions.pfx
  src/Shared/TestCertificates/root_ca.crt
  src/Shared/TestCertificates/root_ca.key
  src/Shared/TestCertificates/testCert.pfx
  src/Shared/TestResources.cs
  src/Shared/TransportTestHelpers/HttpSysHttp3SupportedAttribute.cs
  src/Shared/TransportTestHelpers/MsQuicSupportedAttribute.cs
Labels: area-runtime, community-contribution

#46172 Added withServerTimeout and withKeepAliveInterval to HubConnectionBuilder for java client
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/HttpHubConnectionBuilder.java
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/HubConnectionTest.java
Labels: area-signalr

#46180 Implement RouteHandlerServices.Map and use in RequestDelegateGenerator
  src/Http/Http.Extensions/gen/RequestDelegateGenerator.cs
  src/Http/Http.Extensions/gen/RequestDelegateGeneratorSources.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/StaticRouteHandlerModel.Emitter.cs
  src/Http/Http.Extensions/test/Microsoft.AspNetCore.Http.Extensions.Tests.csproj
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapGet_NoParam_StringReturn_WithFilter.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateGeneratorTestBase.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateGeneratorTests.cs
  src/Http/Routing/src/Builder/EndpointRouteBuilderExtensions.cs
  src/Http/Routing/src/Builder/RouteHandlerServices.cs
  src/Http/Routing/src/PublicAPI.Unshipped.txt
Labels: area-runtime

#46086 Enumerate paramnames on startup
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/src/RequestDelegateFactoryContext.cs
  src/Http/Routing/src/RouteEndpointDataSource.cs
Labels: area-runtime, community-contribution

#46224 Update SDK
  global.json
Labels: area-infrastructure

#43532 [SignalR] [Java] Log 'WebSocket stopped' once
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/WebSocketTransport.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/HubConnectionTest.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/TestHttpClient.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/TestLogger.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/WebSocketTestHttpClient.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/WebSocketTransportTest.java
Labels: area-signalr, signalr-client-java

#46250 Update CredScanSuppression after Kestrel move
  .config/CredScanSuppressions.json
Labels: area-infrastructure

#43756 [Blazor WebAssembly] Change web app manifest extension to “webmanifest”
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/index.html
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/manifest.webmanifest
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Client/wwwroot/index.html
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyComponentsWebAssembly-CSharp/Client/wwwroot/manifest.webmanifest
  src/ProjectTemplates/test/Templates.Tests/template-baselines.json
Labels: area-mvc, community-contribution

#45515 Fix DictionaryModelBinder null reference issue
  src/Mvc/Mvc.Core/src/ModelBinding/Binders/CollectionModelBinder.cs
  src/Mvc/Mvc.Core/src/ModelBinding/Binders/DictionaryModelBinder.cs
  src/Mvc/Mvc.Core/test/ModelBinding/Binders/CollectionModelBinderTest.cs
  src/Mvc/Mvc.Core/test/ModelBinding/Binders/DictionaryModelBinderTest.cs
  src/Mvc/test/Mvc.IntegrationTests/DictionaryModelBinderIntegrationTest.cs
Labels: area-web-frameworks

#46230 [Named Pipe] Check for pipe broken on WaitConnectionAsync
  src/Servers/Kestrel/Transport.NamedPipes/src/Internal/NamedPipeConnectionListener.cs
  src/Servers/Kestrel/Transport.NamedPipes/src/Internal/NamedPipeLog.cs
Labels: area-runtime

#46177 Prevent merging PRs which have CI checks run a week+ ago
  .github/fabricbot.json
Labels: area-infrastructure

#46245 Convert UTF16 to UTF 8
  src/Razor/Razor/test/xunit.runner.json
Labels: area-mvc

#46192 Add RegexOptions.Compiled option to RegexRouteConstraint
  src/Http/Routing/src/Constraints/RegexRouteConstraint.cs
Labels: area-mvc, community-contribution

#45649 consider escaped commas in LDAP distinguished name
  src/Security/Authentication/Negotiate/src/Internal/LdapAdapter.cs
  src/Security/Authentication/Negotiate/test/Negotiate.Test/LdapAdapterTests.cs
Labels: area-security, community-contribution

#40885 [release/2.1] Turn on Component Governance
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
  build/dependencies.props
  eng/targets/ResolveReferences.targets
  src/DefaultBuilder/src/Microsoft.AspNetCore.csproj
  src/Hosting/TestHost/src/Microsoft.AspNetCore.TestHost.csproj
  src/Middleware/SpaServices.Extensions/src/Microsoft.AspNetCore.SpaServices.Extensions.csproj
  src/Middleware/SpaServices/src/npm/aspnet-webpack/package-lock.json
  src/Middleware/SpaServices/src/npm/aspnet-webpack/package.json
  src/Middleware/WebSockets/test/ConformanceTests/AutobahnTestApp/AutobahnTestApp.csproj
  src/Middleware/WebSockets/test/Directory.Build.props
  src/PackageArchive/Scenario.WebApp/Scenario.WebApp.csproj
  src/Servers/Connections.Abstractions/src/Microsoft.AspNetCore.Connections.Abstractions.csproj
  src/Servers/IIS/IISIntegration/src/Microsoft.AspNetCore.Server.IISIntegration.csproj
  src/Servers/Kestrel/Kestrel/src/Microsoft.AspNetCore.Server.Kestrel.csproj
  src/SignalR/clients/ts/FunctionalTests/package-lock.json
  src/SignalR/clients/ts/FunctionalTests/package.json
  src/SignalR/clients/ts/common/package-lock.json
  src/SignalR/clients/ts/common/package.json
  src/SignalR/server/SignalR/src/Microsoft.AspNetCore.SignalR.csproj
  src/Templating/build/dependencies.props
  src/Templating/test/Templates.Test/Templates.Test.csproj
Labels: blocked, area-infrastructure, tell-mode, pending-ci-rerun

#46271 Avoid a state machine allocation in EndpointMiddleware
  src/Http/Routing/src/EndpointMiddleware.cs
Labels: area-runtime

#46278 Support manual loc builds creating a PR
  .azure/pipelines/localization.yml
Labels: area-infrastructure

#46283 Tweak Dependabot configuration
  .github/dependabot.yml
Labels: area-infrastructure

#46082 [AOT] Enable analysis and annotate Http.Results
  eng/TrimmableProjects.props
  src/Http/Http.Abstractions/test/RouteValueDictionaryTests.cs
  src/Http/Http.Results/src/AcceptedAtRoute.cs
  src/Http/Http.Results/src/AcceptedAtRouteOfT.cs
  src/Http/Http.Results/src/CreatedAtRoute.cs
  src/Http/Http.Results/src/CreatedAtRouteOfT.cs
  src/Http/Http.Results/src/HttpResultsHelper.cs
  src/Http/Http.Results/src/Microsoft.AspNetCore.Http.Results.csproj
  src/Http/Http.Results/src/RedirectToRouteHttpResult.cs
  src/Http/Http.Results/src/Results.cs
  src/Http/Http.Results/src/ResultsOfT.Generated.cs
  src/Http/Http.Results/src/ResultsOfTHelper.cs
  src/Http/Http.Results/src/TypedResults.cs
  src/Http/Http.Results/test/ResultsOfTHelperTests.cs
  src/Http/Http.Results/tools/ResultsOfTGenerator/Program.cs
  src/Http/Routing/src/LinkGeneratorEndpointNameAddressExtensions.cs
  src/Http/Routing/src/LinkGeneratorRouteValuesAddressExtensions.cs
  src/Http/Routing/src/Microsoft.AspNetCore.Routing.csproj
  src/Http/Routing/src/Patterns/RoutePatternFactory.cs
  src/Shared/RouteValueDictionaryTrimmerWarning.cs
  src/Tools/Tools.slnf
Labels: area-web-frameworks

#46298 Update api template to use new Random APIs
  src/ProjectTemplates/Web.ProjectTemplates/content/Api-CSharp/Todo.cs
Labels: area-mvc

#45261 Caching.StackExchangeRedis: add "force reconnect" pattern
  eng/Versions.props
  src/Caching/StackExchangeRedis/src/RedisCache.cs
  src/Caching/StackExchangeRedis/src/RedisCacheOptions.cs
  src/Caching/StackExchangeRedis/src/RedisExtensions.cs
  src/DataProtection/StackExchangeRedis/src/RedisXmlRepository.cs
  src/SignalR/server/StackExchangeRedis/src/Internal/RedisLog.cs
  src/SignalR/server/StackExchangeRedis/src/RedisHubLifetimeManager.cs
  src/SignalR/server/StackExchangeRedis/test/TestConnectionMultiplexer.cs
Labels: area-runtime

#46258 Change IsTfaEnabled to IsTwoFactorEnabledAsync
  src/Identity/Core/src/PublicAPI.Unshipped.txt
  src/Identity/Core/src/SignInManager.cs
  src/Identity/test/Identity.Test/SignInManagerTest.cs
Labels: area-identity, community-contribution

#46282 Rebrand for 8.0.0-preview2
  eng/Versions.props
Labels: area-infrastructure

#46323 Improve DFA matcher builder startup perf with many constraints
  src/Http/Routing/perf/Microbenchmarks/Matching/CreateMatcherRegexConstraintBenchmark.cs
  src/Http/Routing/src/Constraints/AlphaRouteConstraint.cs
  src/Http/Routing/src/Constraints/BoolRouteConstraint.cs
  src/Http/Routing/src/Constraints/DateTimeRouteConstraint.cs
  src/Http/Routing/src/Constraints/DecimalRouteConstraint.cs
  src/Http/Routing/src/Constraints/DoubleRouteConstraint.cs
  src/Http/Routing/src/Constraints/FileNameRouteConstraint.cs
  src/Http/Routing/src/Constraints/FloatRouteConstraint.cs
  src/Http/Routing/src/Constraints/GuidRouteConstraint.cs
  src/Http/Routing/src/Constraints/IntRouteConstraint.cs
  src/Http/Routing/src/Constraints/LengthRouteConstraint.cs
  src/Http/Routing/src/Constraints/LongRouteConstraint.cs
  src/Http/Routing/src/Constraints/MaxLengthRouteConstraint.cs
  src/Http/Routing/src/Constraints/MaxRouteConstraint.cs
  src/Http/Routing/src/Constraints/MinLengthRouteConstraint.cs
  src/Http/Routing/src/Constraints/MinRouteConstraint.cs
  src/Http/Routing/src/Constraints/NonFileNameRouteConstraint.cs
  src/Http/Routing/src/Constraints/RangeRouteConstraint.cs
  src/Http/Routing/src/Constraints/RegexInlineRouteConstraint.cs
  src/Http/Routing/src/Constraints/RegexRouteConstraint.cs
  src/Http/Routing/src/Constraints/StringRouteConstraint.cs
  src/Http/Routing/src/Matching/DfaMatcherBuilder.cs
  src/Http/Routing/src/Matching/ICachableParameterPolicy.cs
  src/Http/Routing/src/ParameterPolicyActivator.cs
  src/Http/Routing/test/UnitTests/Matching/DfaMatcherBuilderTest.cs
Labels: Perf, area-mvc, blog-candidate

#46340 [release/8.0-preview1] Rebrand for release
  eng/Versions.props
Labels: area-infrastructure

#46262 Install VS Community by default
  eng/scripts/InstallVisualStudio.ps1
Labels: area-infrastructure, community-contribution

#46341 Update bot configuration for new Preview2 milestone
  .github/fabricbot.json
Labels: area-infrastructure

#46314 Update WebApplication XML comment punctuation.
  src/DefaultBuilder/src/WebApplication.cs
Labels: area-runtime, community-contribution

#46249 Improve IIS error when wrong application path
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/HandlerResolver.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/HostFxr.h
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/resources.h
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Infrastructure/EventLogHelpers.cs
  src/Servers/IIS/IIS/test/Common.LongTests/StartupTests.cs
Labels: servers-iis, area-runtime

#46198 Avoid UnobservedTaskExceptions when getting an error in server to client streaming
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnectionExtensions.StreamAsChannelAsync.cs
Labels: area-signalr, signalr-client-net, pending-ci-rerun

#46166 [Named pipes] Disconnect + delayed client read test cases
  src/Servers/Kestrel/Transport.NamedPipes/src/Internal/NamedPipeConnection.cs
  src/Servers/Kestrel/Transport.NamedPipes/test/NamedPipeConnectionTests.cs
Labels: area-runtime, community-contribution
