Repository dotnet/aspnetcore, pull requests merged in 2023-04, with the labels that each got.

#47513 gRPC JSON transcoding: Fix request body OpenAPI
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.Swagger/Internal/GrpcJsonTranscodingDescriptionProvider.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/Binding/BodyTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/Binding/ParametersTests.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/Microsoft.AspNetCore.Grpc.Swagger.Tests.csproj
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/Proto/body.proto
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/Services/BodyService.cs
Labels: area-grpc

#47506 Replace SpanHelper.ReplacePlusWithSpace
  src/Shared/QueryStringEnumerable.cs
Labels: area-runtime

#47547 Don't test for hard-coded ages in QuickGrid tests
  src/Components/test/E2ETest/Tests/QuickGridTest.cs
Labels: area-infrastructure, area-blazor

#47542 Pass /norestart to Hosting Bundle nested bundles
  src/Installers/Windows/WindowsHostingBundle/DotNetCore.wxs
  src/Installers/Windows/WindowsHostingBundle/SharedFramework.wxs
Labels: area-infrastructure

#47541 Update servicing milestones for May
  .github/fabricbot.json
Labels: area-infrastructure

#47549 Sanitize 0x7F in Content-Disposition filename
  src/Http/Headers/src/ContentDispositionHeaderValue.cs
  src/Http/Headers/test/ContentDispositionHeaderValueTest.cs
  src/Mvc/Mvc.Core/test/FileResultHelperTest.cs
Labels: area-runtime

#44372 Improve IFormCollection.Items documentation
  src/Http/Http.Abstractions/src/HttpRequest.cs
  src/Http/Http.Features/src/IFormCollection.cs
  src/Http/Http/src/Features/FormFeature.cs
Labels: area-runtime, pending-ci-rerun

#47562 Update branding to 7.0.6
  eng/Versions.props
Labels: area-infrastructure

#47561 Update branding to 6.0.17
  eng/Versions.props
Labels: area-infrastructure

#47545 [release/6.0] Pass /norestart to Hosting Bundle nested bundles
  src/Installers/Windows/WindowsHostingBundle/DotNetCore.wxs
  src/Installers/Windows/WindowsHostingBundle/SharedFramework.wxs
Labels: Servicing-approved, area-infrastructure

#47555 Control streaming SSR per subtree
  src/Components/Components/src/CascadingParameterState.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Components/src/Rendering/ComponentState.cs
  src/Components/Endpoints/src/Rendering/EndpointComponentState.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.PrerenderComponents.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.PrerenderState.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.cs
  src/Components/Endpoints/test/EndpointHtmlRendererTest.cs
  src/Components/Endpoints/test/Microsoft.AspNetCore.Components.Endpoints.Tests.csproj
  src/Components/Endpoints/test/RazorComponentEndpointDataSourceTest.cs
  src/Components/Endpoints/test/RazorComponentEndpointTest.cs
  src/Components/Endpoints/test/RazorComponentResultTest.cs
  src/Components/Endpoints/test/TestComponents/AsyncComponent.razor
  src/Components/Endpoints/test/TestComponents/ComponentThatRedirectsSynchronously.razor
  src/Components/Endpoints/test/TestComponents/ComponentThatThrowsSynchronously.razor
  src/Components/Endpoints/test/TestComponents/ComponentWithLayout.razor
  src/Components/Endpoints/test/TestComponents/DisableStreaming.razor
  src/Components/Endpoints/test/TestComponents/DoubleRenderingStreamingAsyncComponent.razor
  src/Components/Endpoints/test/TestComponents/EnableStreaming.razor
  src/Components/Endpoints/test/TestComponents/GreetingComponent.razor
  src/Components/Endpoints/test/TestComponents/SimpleComponent.razor
  src/Components/Endpoints/test/TestComponents/StreamingAsyncLoadingComponent.razor
  src/Components/Endpoints/test/TestComponents/StreamingComponentThatRedirectsAsynchronously.razor
  src/Components/Endpoints/test/TestComponents/StreamingComponentThatThrowsAsynchronously.razor
  src/Components/Endpoints/test/TestComponents/TestLayout.razor
  src/Components/Endpoints/test/TestComponents/TestParentLayout.razor
  src/Components/Endpoints/test/TestComponents/VaryStreamingScenarios.razor
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/Web/src/StreamRenderingAttribute.cs
Labels: area-blazor, feature-blazor-united

#47550 Signify bodylessness for HTTP/2 extended CONNECTs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/BodyControl.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2WebSocketTests.cs
Labels: area-runtime

#47571 Obsolete concurrency limiter middleware.
  src/Middleware/ConcurrencyLimiter/perf/Microbenchmarks/QueueEmptyOverhead.cs
  src/Middleware/ConcurrencyLimiter/perf/Microbenchmarks/QueueFullOverhead.cs
  src/Middleware/ConcurrencyLimiter/perf/Microbenchmarks/QueueRequestsOverwritten.cs
  src/Middleware/ConcurrencyLimiter/sample/Startup.cs
  src/Middleware/ConcurrencyLimiter/src/ConcurrencyLimiterExtensions.cs
  src/Middleware/ConcurrencyLimiter/src/ConcurrencyLimiterMiddleware.cs
  src/Middleware/ConcurrencyLimiter/src/ConcurrencyLimiterOptions.cs
  src/Middleware/ConcurrencyLimiter/test/TestUtils.cs
Labels: breaking-change, area-runtime, needs-breaking-change-announcement

#47582 Enable StripSymbols under API template when -aot is passed in.
  src/ProjectTemplates/Web.ProjectTemplates/Api-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/GrpcService-CSharp.csproj.in
Labels: area-grpc, area-minimal

#47560 [release/6.0] Try skipping tests with Japanese chars
  src/SignalR/common/SignalR.Common/test/Internal/Protocol/Utf8BufferTextWriterTests.cs
Labels: area-infrastructure, area-signalr, tell-mode

#47320 Hash routing to named element
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/Routing/IScrollToLocationHash.cs
  src/Components/Components/src/Routing/Router.cs
  src/Components/Components/test/Routing/RouterTest.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsServiceCollectionExtensions.cs
  src/Components/Endpoints/src/DependencyInjection/UnsupportedScrollToLocationHash.cs
  src/Components/Server/src/Circuits/CircuitFactory.cs
  src/Components/Server/src/Circuits/RemoteScrollToLocationHash.cs
  src/Components/Server/src/DependencyInjection/ComponentServiceCollectionExtensions.cs
  src/Components/Shared/src/BrowserNavigationManagerInterop.cs
  src/Components/Web.JS/src/DomWrapper.ts
  src/Components/Web.JS/src/Services/NavigationManager.ts
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/WebAssembly/WebAssembly/src/Services/IInternalJSImportMethods.cs
  src/Components/WebAssembly/WebAssembly/src/Services/InternalJSImportMethods.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyScrollToLocationHash.cs
  src/Components/WebAssembly/WebAssembly/test/TestInternalJSImportMethods.cs
  src/Components/WebView/Samples/PhotinoPlatform/src/BlazorWindow.cs
  src/Components/WebView/Samples/PhotinoPlatform/src/PhotinoWebViewManager.cs
  src/Components/WebView/Samples/PhotinoPlatform/testassets/PhotinoTestApp/Program.cs
  src/Components/WebView/Samples/PhotinoPlatform/testassets/PhotinoTestApp/wwwroot/webviewhost.html
  src/Components/WebView/WebView/src/ComponentsWebViewServiceCollectionExtensions.cs
  src/Components/WebView/WebView/src/PageContext.cs
  src/Components/WebView/WebView/src/Services/WebViewScrollToLocationHash.cs
  src/Components/test/E2ETest/Tests/RoutingTest.cs
  src/Components/test/testassets/BasicTestApp/RouterTest/Links.razor
  src/Components/test/testassets/BasicTestApp/RouterTest/LongPageWithHash.razor
  src/Components/test/testassets/BasicTestApp/RouterTest/LongPageWithHash2.razor
Labels: area-blazor

#47602 Fix interpretation of 'deflate' content-coding.
  src/Middleware/RequestDecompression/src/DeflateDecompressionProvider.cs
  src/Middleware/RequestDecompression/test/DefaultRequestDecompressionProviderTests.cs
  src/Middleware/RequestDecompression/test/RequestDecompressionMiddlewareTests.cs
Labels: area-runtime

#47580 Fix Heartbeat logging after disposal
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/Heartbeat.cs
  src/Servers/Kestrel/Core/test/HeartbeatTests.cs
Labels: area-runtime

#47653 Merging internal commits for release/7.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure

#47659 Don't generate RequestBody for parameters when disabledInferredBody is true
  src/OpenApi/src/OpenApiGenerator.cs
  src/OpenApi/test/OpenApiGeneratorTests.cs
Labels: area-web-frameworks

#47655 Update downlevel SiteExtension versions
  eng/Versions.props
Labels: area-infrastructure

#47664 Register AuthN/Z middleware automatically in CreateSlimBuilder
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
Labels: area-runtime, area-hosting

#47663 Add [RequiresUnreferencedCode] attribute to top level APIs.
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsServiceCollectionExtensions.cs
  src/Components/Server/src/DependencyInjection/ComponentServiceCollectionExtensions.cs
  src/Identity/Core/src/IdentityServiceCollectionExtensions.cs
  src/Middleware/Session/src/SessionServiceCollectionExtensions.cs
  src/Mvc/Mvc.RazorPages/src/DependencyInjection/MvcRazorPagesMvcCoreBuilderExtensions.cs
  src/Mvc/Mvc/src/MvcServiceCollectionExtensions.cs
  src/Security/Authentication/Core/src/AuthenticationServiceCollectionExtensions.cs
  src/SignalR/server/SignalR/src/SignalRDependencyInjectionExtensions.cs
Labels: needs-area-label

#47619 Use reset event in Kestrel heartbeat to quickly stop thread
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/Heartbeat.cs
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Servers/Kestrel/Core/test/DateHeaderValueManagerTests.cs
  src/Servers/Kestrel/Core/test/HeartbeatTests.cs
  src/Servers/Kestrel/Core/test/KestrelServerTests.cs
  src/Servers/Kestrel/shared/test/TestServiceContext.cs
Labels: area-runtime

#47584 Return 400 bad request when IOException is thrown when ready form.
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
Labels: area-runtime

#47670 [blazor] Configure mono runtime with startupMemoryCache and runtimeOptions
  src/Components/Web.JS/src/Platform/BootConfig.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
Labels: area-blazor, blazor-wasm

#47676 Add a .http file to API project template
  src/ProjectTemplates/Web.ProjectTemplates/content/Api-CSharp/Company.ApiApplication1.http
  src/ProjectTemplates/test/Templates.Tests/BaselineTest.cs
  src/ProjectTemplates/test/Templates.Tests/template-baselines.json
Labels: area-mvc

#47649 [Blazor] Specialize pipeline for MapRazorComponents
  src/Components/Endpoints/src/Builder/RazorComponentEndpointFactory.cs
  src/Components/Endpoints/src/RazorComponentEndpoint.cs
  src/Components/Endpoints/src/RazorComponentEndpointInvoker.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Prerendering.cs
  src/Components/Endpoints/src/Results/RazorComponentResultExecutor.cs
  src/Components/Endpoints/test/RazorComponentResultExecutorTest.cs
  src/Components/Endpoints/test/RazorComponentResultTest.cs
Labels: area-blazor

#47688 Make heartbeat test tolerant of odd wait times
  src/Servers/Kestrel/Core/test/HeartbeatTests.cs
Labels: area-runtime

#47641 Update README.md
  README.md
Labels: area-infrastructure, community-contribution

#47454 Make TLS & QUIC Pay-for-Play (Redux)
  src/DefaultBuilder/src/WebHost.cs
  src/ProjectTemplates/Shared/Project.cs
  src/ProjectTemplates/test/Templates.Tests/ApiTemplateTest.cs
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/HttpsConfigurationService.cs
  src/Servers/Kestrel/Core/src/HttpsConnectionAdapterOptions.cs
  src/Servers/Kestrel/Core/src/IHttpsConfigurationService.cs
  src/Servers/Kestrel/Core/src/Internal/AddressBinder.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/TransportManager.cs
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Servers/Kestrel/Core/src/Internal/SniOptionsSelector.cs
  src/Servers/Kestrel/Core/src/KestrelConfigurationLoader.cs
  src/Servers/Kestrel/Core/src/KestrelServer.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Servers/Kestrel/Core/src/ListenOptionsHttpsExtensions.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Servers/Kestrel/Core/src/TlsConfigurationLoader.cs
  src/Servers/Kestrel/Core/test/AddressBinderTests.cs
  src/Servers/Kestrel/Core/test/KestrelServerOptionsTests.cs
  src/Servers/Kestrel/Core/test/KestrelServerTests.cs
  src/Servers/Kestrel/Kestrel/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Kestrel/src/WebHostBuilderKestrelExtensions.cs
  src/Servers/Kestrel/Kestrel/test/HttpsConfigurationTests.cs
  src/Servers/Kestrel/Kestrel/test/KestrelConfigurationLoaderTests.cs
  src/Servers/Kestrel/shared/test/TransportTestHelpers/TestServer.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/TestTransport/TestServer.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3TlsTests.cs
Labels: area-runtime, blog-candidate

#47712 Update CSS parser commit
  eng/Versions.props
Labels: area-infrastructure

#47747 Workaround for ASP.NET composite image per #84860
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Framework/App.Runtime/src/PartialCompositeAssemblyList.txt
Labels: area-infrastructure

#47657 Add support for logging/throwing exceptions in RDG
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator.csproj
  src/Http/Http.Extensions/gen/RequestDelegateGenerator.cs
  src/Http/Http.Extensions/gen/RequestDelegateGeneratorSources.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EmitterContext.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EmitterExtensions.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointJsonResponseEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointParameterEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Endpoint.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointParameter.cs
  src/Http/Http.Extensions/src/Microsoft.AspNetCore.Http.Extensions.csproj
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_BindAsync_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitBodyParam_ComplexReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_ComplexTypeArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_NullableStringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_StringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_ComplexTypeArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_NullableStringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_StringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitServiceParam_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitSource_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_ComplexTypeArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam_EmptyQueryValues.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam_QueryNotPresent.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_StringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_JsonBodyOrService_HandlesBothJsonAndService.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleSpecialTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleStringParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_NoParam_StringReturn_WithFilter.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleComplexTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleEnumParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleNullableStringParam_WithEmptyQueryStringValueProvided_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapPost_WithArrayQueryString_AndBody_ShouldUseBody.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapPost_WithArrayQueryString_ShouldFail.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_NoParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_WithParams_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTestBase.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.BindAsync.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.JsonBody.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.JsonBodyOrService.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.Logging.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.QueryParameters.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RuntimeCreationTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/SharedTypes.cs
  src/Shared/RequestDelegateCreationMessages.cs
  src/Shared/RoslynUtils/SymbolExtensions.cs
Labels: area-runtime, feature-rdg

#47681 Log if request reaches the end of request pipeline
  src/Http/Http/src/Builder/ApplicationBuilder.cs
  src/Http/Http/test/ApplicationBuilderTests.cs
Labels: area-runtime

#47760 Add exception to problem details context
  src/Http/Http.Abstractions/src/ProblemDetails/ProblemDetailsContext.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/DeveloperExceptionPageMiddlewareImpl.cs
  src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerMiddlewareImpl.cs
  src/Middleware/Diagnostics/test/UnitTests/DeveloperExceptionPageMiddlewareTest.cs
  src/Middleware/Diagnostics/test/UnitTests/ExceptionHandlerMiddlewareTest.cs
Labels: area-runtime

#47721 Add AOT flag to worker template
  src/ProjectTemplates/Shared/AspNetProcess.cs
  src/ProjectTemplates/Shared/Project.cs
  src/ProjectTemplates/TestInfrastructure/Directory.Build.targets.in
  src/ProjectTemplates/Web.ProjectTemplates/Worker-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/Worker-FSharp.fsproj.in
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/dotnetcli.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/localize/templatestrings.cs.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/localize/templatestrings.de.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/localize/templatestrings.en.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/localize/templatestrings.es.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/localize/templatestrings.fr.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/localize/templatestrings.it.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/localize/templatestrings.ja.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/localize/templatestrings.ko.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/localize/templatestrings.pl.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/localize/templatestrings.pt-BR.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/localize/templatestrings.ru.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/localize/templatestrings.tr.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/localize/templatestrings.zh-Hans.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/localize/templatestrings.zh-Hant.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/dotnetcli.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.cs.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.de.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.en.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.es.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.fr.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.it.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.ja.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.ko.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.pl.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.pt-BR.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.ru.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.tr.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.zh-Hans.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.zh-Hant.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/template.json
  src/ProjectTemplates/scripts/Run-WorkerNativeAot-Locally.ps1
  src/ProjectTemplates/test/Templates.Tests/ApiTemplateTest.cs
  src/ProjectTemplates/test/Templates.Tests/WorkerTemplateTest.cs
Labels: area-mvc

#47770 Remove ASP.NET's JSON feature switch
  src/Http/Http.Extensions/src/JsonOptions.cs
  src/Http/Http.Extensions/src/Microsoft.AspNetCore.Http.Extensions.csproj
  src/Http/Http.Extensions/src/Properties/ILLink.Substitutions.xml
  src/Http/Http.Extensions/test/JsonOptionsTests.cs
  src/Mvc/Mvc.Core/src/JsonOptions.cs
  src/Mvc/Mvc.Core/src/Microsoft.AspNetCore.Mvc.Core.csproj
  src/Mvc/Mvc.Core/src/Properties/ILLink.Substitutions.xml
  src/Mvc/Mvc.Core/test/JsonOptionsTest.cs
  src/Shared/TrimmingAppContextSwitches.cs
Labels: area-mvc

#47768 Add support for binding from form body to RDG
  src/Http/Http.Extensions/gen/RequestDelegateGenerator.cs
  src/Http/Http.Extensions/gen/RequestDelegateGeneratorSources.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EmitterContext.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EmitterExtensions.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointParameterEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Endpoint.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointParameter.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/RequestDelegateValidateGeneratedFormCode.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/CompileTimeCreationTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.Forms.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.Logging.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RuntimeCreationTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/SharedTypes.cs
Labels: area-web-frameworks

#47782 small dev doc tweaks
  docs/BuildFromSource.md
  docs/Submodules.md
Labels: area-infrastructure

#47753 Replace ISystemClock with TimeProvider in OutputCaching, ResponseCaching
  src/Middleware/OutputCaching/src/ISystemClock.cs
  src/Middleware/OutputCaching/src/OutputCacheMiddleware.cs
  src/Middleware/OutputCaching/src/OutputCacheOptions.cs
  src/Middleware/OutputCaching/src/SystemClock.cs
  src/Middleware/OutputCaching/test/OutputCacheMiddlewareTests.cs
  src/Middleware/OutputCaching/test/TestUtils.cs
  src/Middleware/ResponseCaching/src/Interfaces/ISystemClock.cs
  src/Middleware/ResponseCaching/src/ResponseCachingMiddleware.cs
  src/Middleware/ResponseCaching/src/ResponseCachingOptions.cs
  src/Middleware/ResponseCaching/src/SystemClock.cs
  src/Middleware/ResponseCaching/test/ResponseCachingMiddlewareTests.cs
  src/Middleware/ResponseCaching/test/TestUtils.cs
Labels: area-runtime

#47660 Reset ConnectProtocol during reset
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2WebSocketTests.cs
Labels: area-runtime

#47720 Update the Worker template to use `Host.CreateApplicationBuilder`
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/Program.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/Program.fs
Labels: area-mvc

#47722 Update ReadMe.SharedCode.md to mention runtime-sync.yml
  src/Shared/runtime/ReadMe.SharedCode.md
Labels: area-runtime

#47752 [blazor] Boot handled by dotnet.js
  src/Components/Web.JS/@types/dotnet/dotnet.d.ts
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/JSInitializers/JSInitializers.WebAssembly.ts
  src/Components/Web.JS/src/Platform/BootConfig.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/Web.JS/src/Platform/Platform.ts
  src/Components/Web.JS/src/Platform/WebAssemblyConfigLoader.ts
  src/Components/Web.JS/src/Platform/WebAssemblyResourceLoader.ts
  src/Components/test/E2ETest/Tests/BootResourceCachingTest.cs
Labels: area-blazor, blazor-wasm

#47794 Fix RequestBody logging when zero byte read is used
  src/Middleware/HttpLogging/src/RequestBufferingStream.cs
  src/Middleware/HttpLogging/test/HttpLoggingMiddlewareTests.cs
Labels: area-runtime, feature-middleware

#47754 Blazor form model expression formatting
  src/Components/Forms/src/EditContext.cs
  src/Components/Forms/src/PublicAPI.Unshipped.txt
  src/Components/Web/src/Forms/ExpressionFormatting/ExpressionFormatter.cs
  src/Components/Web/src/Forms/ExpressionFormatting/ReverseStringBuilder.cs
  src/Components/Web/src/Forms/InputBase.cs
  src/Components/Web/src/Forms/InputCheckbox.cs
  src/Components/Web/src/Forms/InputDate.cs
  src/Components/Web/src/Forms/InputNumber.cs
  src/Components/Web/src/Forms/InputRadioGroup.cs
  src/Components/Web/src/Forms/InputSelect.cs
  src/Components/Web/src/Forms/InputText.cs
  src/Components/Web/src/Forms/InputTextArea.cs
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/Web/test/Forms/ExpressionFormatterTest.cs
  src/Components/Web/test/Forms/InputRadioTest.cs
  src/Components/Web/test/Forms/ReverseStringBuilderTest.cs
Labels: area-blazor

#47812 Exclude more problematic assemblies from the ASP.NET composite
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Framework/App.Runtime/src/PartialCompositeAssemblyList.txt
Labels: area-infrastructure

#46244 UseBlazorFrameworkFiles: add webcil mime type mapping
  src/Components/WebAssembly/Server/src/ComponentsWebAssemblyApplicationBuilderExtensions.cs
Labels: area-blazor, pending-ci-rerun

#47678 Log if a server certificate lacks the subjectAlternativeName extensions
  src/Servers/Kestrel/Core/src/CertificateLoader.cs
  src/Servers/Kestrel/Core/src/HttpsConfigurationService.cs
  src/Servers/Kestrel/Core/src/Internal/SniOptionsSelector.cs
  src/Servers/Kestrel/Core/src/KestrelServer.cs
  src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/CertificateLoaderTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
Labels: area-runtime

#47798 Write log message for matched fallback routes
  src/Http/Routing/src/Builder/FallbackEndpointRouteBuilderExtensions.cs
  src/Http/Routing/src/EndpointRoutingMiddleware.cs
  src/Http/Routing/src/FallbackMetadata.cs
  src/Http/Routing/src/RouteEndpointDataSource.cs
  src/Http/Routing/test/UnitTests/Builder/FallbackEndpointRouteBuilderExtensionsTest.cs
  src/Http/Routing/test/UnitTests/Builder/RouteHandlerEndpointRouteBuilderExtensionsTest.cs
  src/Http/Routing/test/UnitTests/EndpointRoutingMiddlewareTest.cs
  src/Http/Routing/test/UnitTests/TestObjects/TestMatcher.cs
  src/Http/Routing/test/UnitTests/TestObjects/TestMatcherFactory.cs
Labels: area-runtime

#47816 Add RequiresUnreferencedCode attribute to AddMvc calls.
  src/Mvc/Mvc/src/MvcServiceCollectionExtensions.cs
Labels: area-mvc, area-web-frameworks

#47817 Fix incorrect paragraph elements in XML docs
  src/Middleware/HttpLogging/src/HttpLoggingFields.cs
  src/Middleware/HttpLogging/src/HttpLoggingOptions.cs
  src/Middleware/HttpLogging/src/W3CLoggerOptions.cs
Labels: area-runtime

#47595 Make HttpLogging middleware endpoint aware
  src/Middleware/HttpLogging/src/HttpLoggingAttribute.cs
  src/Middleware/HttpLogging/src/HttpLoggingEndpointConventionBuilderExtensions.cs
  src/Middleware/HttpLogging/src/HttpLoggingMiddleware.cs
  src/Middleware/HttpLogging/src/PublicAPI.Unshipped.txt
  src/Middleware/HttpLogging/src/ResponseBufferingStream.cs
  src/Middleware/HttpLogging/src/UpgradeFeatureLoggingDecorator.cs
  src/Middleware/HttpLogging/test/HttpLoggingEndpointConventionBuilderTests.cs
  src/Middleware/HttpLogging/test/HttpLoggingMiddlewareTests.cs
  src/Middleware/HttpLogging/test/Microsoft.AspNetCore.HttpLogging.Tests.csproj
Labels: area-runtime, feature-middleware

#47828 Check for 'null' arguments in HttpContextServerVariableExtensions.GetServerVariable
  src/Http/Http.Extensions/src/HttpContextServerVariableExtensions.cs
Labels: area-runtime

#47716 [Blazor] Adds support for server side rendered forms (without a body)
  AspNetCore.sln
  src/Components/Authorization/test/AuthorizeRouteViewTest.cs
  src/Components/Components/perf/RenderTreeDiffBuilderBenchmark.cs
  src/Components/Components/src/Binding/CascadingModelBinder.cs
  src/Components/Components/src/Binding/ModelBindingContext.cs
  src/Components/Components/src/NavigationManagerExtensions.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/RenderTree/RenderTreeDiffBuilder.cs
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Components/src/Rendering/ComponentState.cs
  src/Components/Components/src/Rendering/RenderQueueEntry.cs
  src/Components/Components/src/Rendering/RenderTreeBuilder.cs
  src/Components/Components/src/RouteView.cs
  src/Components/Components/test/CascadingModelBinderTest.cs
  src/Components/Components/test/ModelBindingContextTest.cs
  src/Components/Components/test/RenderTreeDiffBuilderTest.cs
  src/Components/Components/test/RendererTest.cs
  src/Components/Components/test/RouteViewTest.cs
  src/Components/Endpoints/src/Builder/RazorComponentEndpointFactory.cs
  src/Components/Endpoints/src/RazorComponentEndpointInvoker.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Prerendering.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.PrerenderingState.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.cs
  src/Components/Endpoints/test/EndpointHtmlRendererTest.cs
  src/Components/Endpoints/test/Microsoft.AspNetCore.Components.Endpoints.Tests.csproj
  src/Components/Endpoints/test/RazorComponentEndpointFactoryTest.cs
  src/Components/Samples/BlazorUnitedApp/Pages/Index.razor
  src/Components/Shared/test/TestRenderer.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web/src/Forms/EditForm.cs
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/Web/test/Forms/EditFormTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/StreamingRenderingTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponentEndpointsStartup.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Components/ComponentWithFormInside.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Components/_Imports.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/AmbiguousForms.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/AsyncRenderedForm.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/DefaultForm.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/DisappearingForm.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/FormDefinedInsideComponent.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/FormOutsideBindingContextNoOps.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/ModifyHttpContextForm.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/NamedForm.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/NamedFormContextNoFormContextLayout.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/NestedNamedForm.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/NonStreamingRenderingForm.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/StreamingRenderingForm.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/SwitchingDispatchedComponentsDoesNotBind.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/_Imports.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Shared/FormsLayout.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Shared/NoFormContextLayout.razor
  src/Components/test/testassets/Components.TestServer/Services/AsyncOperationService.cs
Labels: area-blazor

#47797 Add default configuration and logging to CreateSlimBuilder
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/Api-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/Api-CSharp/Program.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/Api-CSharp/appsettings.Development.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Api-CSharp/appsettings.json
  src/ProjectTemplates/test/Templates.Tests/template-baselines.json
Labels: area-mvc

#47847 Update AOT friendly templates in reaction to SDK default changes & discussions
  src/ProjectTemplates/Shared/ArgConstants.cs
  src/ProjectTemplates/Web.ProjectTemplates/Api-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/GrpcService-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/Worker-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/content/Api-CSharp/.template.config/dotnetcli.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/dotnetcli.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/dotnetcli.host.json
  src/ProjectTemplates/test/Templates.Tests/template-baselines.json
Labels: area-mvc

#47775 Fix null property name handling logic in SystemTextJsonValidationMetadataProvider
  src/Mvc/Mvc.Core/src/ModelBinding/Metadata/SystemTextJsonValidationMetadataProvider.cs
  src/Mvc/Mvc.Core/test/ModelBinding/Metadata/SystemTextJsonValidationMetadataProviderTest.cs
Labels: area-mvc, area-web-frameworks

#47866 Automatically label AOT related issues with NativeAOT label
  .github/fabricbot.json
Labels: area-infrastructure

#47869 Remove the `empty milestone` condition from the AOT rule
  .github/fabricbot.json
Labels: area-infrastructure

#47858 Remove F# Worker AOT parameter.
  src/ProjectTemplates/Web.ProjectTemplates/Worker-FSharp.fsproj.in
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/dotnetcli.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.cs.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.de.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.en.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.es.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.fr.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.it.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.ja.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.ko.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.pl.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.pt-BR.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.ru.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.tr.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.zh-Hans.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/localize/templatestrings.zh-Hant.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/template.json
  src/ProjectTemplates/test/Templates.Tests/WorkerTemplateTest.cs
Labels: area-mvc

#47876 [blazor] Apply disableDotnet6Compatibility to fix hotreload
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
Labels: area-blazor, blazor-wasm

#47851 Change behavior of `<a href="#.."></a>`
  src/Components/Web.JS/src/Services/NavigationManager.ts
  src/Components/test/E2ETest/Tests/RoutingTest.cs
  src/Components/test/testassets/BasicTestApp/RouterTest/LongPageWithHash.razor
Labels: area-blazor

#47870 Fixed bug in Sections
  src/Components/Components/src/Sections/SectionContent.cs
  src/Components/Components/src/Sections/SectionOutlet.cs
  src/Components/test/E2ETest/Tests/SectionsTest.cs
  src/Components/test/testassets/BasicTestApp/SectionsTest/ParentComponentWithTwoChildren.razor
Labels: area-blazor

#47839 Fix platform detection for FreeBSD
  eng/build.sh
Labels: area-infrastructure, community-contribution

#47474 change 'ValuesController' to 'ValueController'
  src/ProjectTemplates/Web.ItemTemplates/content/ApiController/ValueController.cs
Labels: area-mvc, pending-ci-rerun

#47859 Stop Calling JSON GetTypeInfo with the runtime type
  src/Http/Http.Extensions/gen/RequestDelegateGeneratorSources.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointJsonResponseEmitter.cs
  src/Http/Http.Extensions/src/HttpResponseJsonExtensions.cs
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/src/RequestDelegateFactoryContext.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTestBase.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.Responses.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/SharedTypes.cs
  src/Http/Http.Results/src/HttpResultsHelper.cs
  src/Http/Http.Results/test/HttpResultsHelperTests.cs
  src/Http/Routing/src/RequestDelegateFilterPipelineBuilder.cs
  src/Mvc/Mvc.Core/src/Formatters/SystemTextJsonOutputFormatter.cs
  src/Mvc/Mvc.Core/test/Formatters/SystemTextJsonOutputFormatterTest.cs
  src/Mvc/test/WebSites/FormatterWebSite/Controllers/JsonOutputFormatterController.cs
  src/Shared/Json/JsonSerializerExtensions.cs
  src/Shared/RouteHandlers/ExecuteHandlerHelper.cs
Labels: area-web-frameworks

#47814 [Blazor] Add support for accessing the request body form parameters
  src/Components/Authorization/test/AuthorizeRouteViewTest.cs
  src/Components/Components/src/Binding/CascadingModelBinder.cs
  src/Components/Components/src/Binding/ModelBindingContext.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/RouteView.cs
  src/Components/Components/test/CascadingModelBinderTest.cs
  src/Components/Components/test/ModelBindingContextTest.cs
  src/Components/Components/test/RouteViewTest.cs
  src/Components/Endpoints/src/Binding/HttpContextFormDataProvider.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsServiceCollectionExtensions.cs
  src/Components/Endpoints/src/RazorComponentEndpointInvoker.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Prerendering.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.cs
  src/Components/Endpoints/test/EndpointHtmlRendererTest.cs
  src/Components/Endpoints/test/RazorComponentResultExecutorTest.cs
  src/Components/Server/src/DependencyInjection/ComponentServiceCollectionExtensions.cs
  src/Components/Server/src/Microsoft.AspNetCore.Components.Server.csproj
  src/Components/Shared/src/DefaultFormDataProvider.cs
  src/Components/Web/src/Forms/EditForm.cs
  src/Components/Web/src/Forms/FormDataProvider.cs
  src/Components/Web/src/Forms/IHostEnvironmentFormDataProvider.cs
  src/Components/Web/src/Microsoft.AspNetCore.Components.Web.csproj
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/Web/test/Forms/EditFormTest.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.csproj
  src/Components/WebView/WebView/src/ComponentsWebViewServiceCollectionExtensions.cs
  src/Components/WebView/WebView/src/Microsoft.AspNetCore.Components.WebView.csproj
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/DefaultFormWithBody.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/DefaultFormWithBodyOnInitialized.razor
  src/Mvc/Mvc.TagHelpers/test/ComponentTagHelperTest.cs
Labels: area-blazor

#47790 Update MessagePack version
  eng/Versions.props
  src/Components/Server/src/BlazorPack/BlazorPackHubProtocolWorker.cs
  src/SignalR/common/Protocols.MessagePack/src/Protocol/DefaultMessagePackHubProtocolWorker.cs
  src/SignalR/common/Protocols.MessagePack/src/Protocol/MessagePackHubProtocolWorker.cs
  src/SignalR/common/SignalR.Common/test/Internal/Protocol/MessagePackHubProtocolTestBase.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
  src/SignalR/server/StackExchangeRedis/src/Internal/RedisProtocol.cs
Labels: area-signalr

#47893 Add links to available REPLs
  docs/repro.md
Labels: needs-area-label

#47890 Update branding to preview5
  .github/fabricbot.json
  eng/Versions.props
Labels: area-infrastructure

#47901 [blazor] Drop explicit change of extension of assembly to lazy load
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
Labels: area-blazor, blazor-wasm

#47895 Replace ISystemClock in SignalR
  src/SignalR/common/Shared/ISystemClock.cs
  src/SignalR/common/Shared/SystemClock.cs
  src/SignalR/server/Core/src/HubConnectionContext.cs
  src/SignalR/server/Core/src/HubConnectionContextOptions.cs
  src/SignalR/server/Core/src/HubConnectionHandler.cs
  src/SignalR/server/Core/src/Microsoft.AspNetCore.SignalR.Core.csproj
  src/SignalR/server/SignalR/test/HubConnectionHandlerTestUtils/TestTimeProvider.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-signalr

#47880 Fixed Router renders component twice
  src/Components/Components/src/Routing/Router.cs
  src/Components/Components/test/Routing/RouterTest.cs
Labels: area-blazor

#47886 Fixing wrong condition in QuickGrid column header rendering
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Columns/ColumnBase.razor
Labels: area-blazor

#47887 [GenerateEmbeddedResourcesManifest] handle Items with empty LogicalName #29306
  src/FileProviders/Manifest.MSBuildTask/src/GenerateEmbeddedResourcesManifest.cs
  src/FileProviders/Manifest.MSBuildTask/test/GenerateEmbeddedResourcesManifestTest.cs
Labels: area-mvc, community-contribution

#47917 Fixes CI build failures after conflicting merge affecting RDG baselines.
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ReturnsString_Has_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ReturnsValidationProblemResult_Has_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ReturnsVoid_Has_No_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_TakesCustomMetadataEmitter_Has_Metadata.generated.txt
Labels: area-infrastructure, area-runtime

#47920 Quarantine BlazorWasmHostedTemplate_IndividualAuth_NoHttps_Works_With…
  src/ProjectTemplates/test/Templates.Blazor.WebAssembly.Auth.Tests/BlazorWasmTemplateAuthTest.cs
Labels: area-mvc

#47697 Fix F# starter web template.
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/Program.fs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/Program.fs
Labels: area-mvc

#47414 Add MapIdentityApi<TUser>()
  AspNetCore.sln
  eng/ProjectReferences.props
  eng/SharedFramework.Local.props
  eng/TrimmableProjects.props
  src/Framework/test/TestData.cs
  src/Identity/Core/src/DTO/IdentityEndpointsJsonSerializerContext.cs
  src/Identity/Core/src/DTO/LoginRequest.cs
  src/Identity/Core/src/DTO/RegisterRequest.cs
  src/Identity/Core/src/IdentityApiEndpointRouteBuilderExtensions.cs
  src/Identity/Core/src/IdentityApiEndpointsIdentityBuilderExtensions.cs
  src/Identity/Core/src/IdentityApiEndpointsServiceCollectionExtensions.cs
  src/Identity/Core/src/IdentityConstants.cs
  src/Identity/Core/src/IdentityEndpointsJsonOptionsSetup.cs
  src/Identity/Core/src/Microsoft.AspNetCore.Identity.csproj
  src/Identity/Core/src/PublicAPI.Unshipped.txt
  src/Identity/Extensions.Core/src/SignInResult.cs
  src/Identity/Identity.slnf
  src/Identity/UI/src/Microsoft.AspNetCore.Identity.UI.csproj
  src/Identity/samples/IdentitySample.ApiEndpoints/IdentitySample.ApiEndpoints.csproj
  src/Identity/samples/IdentitySample.ApiEndpoints/Program.cs
  src/Identity/samples/IdentitySample.ApiEndpoints/Properties/launchSettings.json
  src/Identity/samples/IdentitySample.DefaultUI/.config/dotnet-tools.json
  src/Identity/samples/IdentitySample.DefaultUI/Data/ApplicationDbContext.cs
  src/Identity/test/Identity.FunctionalTests/MapIdentityTests.cs
  src/Identity/test/Identity.FunctionalTests/Microsoft.AspNetCore.Identity.FunctionalTests.csproj
  src/Security/Authentication/BearerToken/src/BearerTokenDefaults.cs
  src/Security/Authentication/BearerToken/src/BearerTokenEvents.cs
  src/Security/Authentication/BearerToken/src/BearerTokenExtensions.cs
  src/Security/Authentication/BearerToken/src/BearerTokenHandler.cs
  src/Security/Authentication/BearerToken/src/BearerTokenJsonSerializerContext.cs
  src/Security/Authentication/BearerToken/src/BearerTokenOptions.cs
  src/Security/Authentication/BearerToken/src/MessageReceivedContext.cs
  src/Security/Authentication/BearerToken/src/Microsoft.AspNetCore.Authentication.BearerToken.csproj
  src/Security/Authentication/BearerToken/src/PublicAPI.Shipped.txt
  src/Security/Authentication/BearerToken/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/JwtBearer/src/JwtBearerDefaults.cs
  src/Security/Authentication/test/BearerTokenTests.cs
  src/Security/Authentication/test/Microsoft.AspNetCore.Authentication.Test.csproj
  src/Security/Security.slnf
  src/Shared/BearerToken/DTO/AccessTokenResponse.cs
  src/Tools/Tools.slnf
Labels: area-identity

#47894 Enable prebuilt detection
  eng/SourceBuild.props
  eng/SourceBuildPrebuiltBaseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  eng/Workarounds.targets
  eng/WorkaroundsImported.targets
  eng/targets/CSharp.Common.props
  eng/tools/RepoTasks/RepoTasks.csproj
Labels: area-infrastructure

#47935 Add comment about SourceBuildPrebuilt versions
  eng/Versions.props
Labels: area-infrastructure

#47540 Update SDK
  .globalconfig
  global.json
  src/Hosting/Server.IntegrationTesting/src/Deployers/RemoteWindowsDeployer/RemoteWindowsDeployer.cs
  src/ProjectTemplates/test/Templates.Blazor.WebAssembly.Auth.Tests/BlazorWasmTemplateAuthTest.cs
  src/Servers/IIS/IntegrationTesting.IIS/src/RetryHandler.cs
  src/SignalR/common/Http.Connections/src/HttpConnectionDispatcherOptions.cs
  src/Tools/dotnet-user-jwts/src/Commands/ListCommand.cs
Labels: area-infrastructure, area-signalr

#47927 [release/8.0-preview4] Add MapIdentityApi<TUser>()
  AspNetCore.sln
  eng/ProjectReferences.props
  eng/SharedFramework.Local.props
  eng/TrimmableProjects.props
  src/Framework/test/TestData.cs
  src/Identity/Core/src/DTO/IdentityEndpointsJsonSerializerContext.cs
  src/Identity/Core/src/DTO/LoginRequest.cs
  src/Identity/Core/src/DTO/RegisterRequest.cs
  src/Identity/Core/src/IdentityApiEndpointRouteBuilderExtensions.cs
  src/Identity/Core/src/IdentityApiEndpointsIdentityBuilderExtensions.cs
  src/Identity/Core/src/IdentityApiEndpointsServiceCollectionExtensions.cs
  src/Identity/Core/src/IdentityConstants.cs
  src/Identity/Core/src/IdentityEndpointsJsonOptionsSetup.cs
  src/Identity/Core/src/Microsoft.AspNetCore.Identity.csproj
  src/Identity/Core/src/PublicAPI.Unshipped.txt
  src/Identity/Extensions.Core/src/SignInResult.cs
  src/Identity/Identity.slnf
  src/Identity/UI/src/Microsoft.AspNetCore.Identity.UI.csproj
  src/Identity/samples/IdentitySample.ApiEndpoints/IdentitySample.ApiEndpoints.csproj
  src/Identity/samples/IdentitySample.ApiEndpoints/Program.cs
  src/Identity/samples/IdentitySample.ApiEndpoints/Properties/launchSettings.json
  src/Identity/samples/IdentitySample.DefaultUI/.config/dotnet-tools.json
  src/Identity/samples/IdentitySample.DefaultUI/Data/ApplicationDbContext.cs
  src/Identity/test/Identity.FunctionalTests/MapIdentityTests.cs
  src/Identity/test/Identity.FunctionalTests/Microsoft.AspNetCore.Identity.FunctionalTests.csproj
  src/Security/Authentication/BearerToken/src/BearerTokenDefaults.cs
  src/Security/Authentication/BearerToken/src/BearerTokenEvents.cs
  src/Security/Authentication/BearerToken/src/BearerTokenExtensions.cs
  src/Security/Authentication/BearerToken/src/BearerTokenHandler.cs
  src/Security/Authentication/BearerToken/src/BearerTokenJsonSerializerContext.cs
  src/Security/Authentication/BearerToken/src/BearerTokenOptions.cs
  src/Security/Authentication/BearerToken/src/MessageReceivedContext.cs
  src/Security/Authentication/BearerToken/src/Microsoft.AspNetCore.Authentication.BearerToken.csproj
  src/Security/Authentication/BearerToken/src/PublicAPI.Shipped.txt
  src/Security/Authentication/BearerToken/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/JwtBearer/src/JwtBearerDefaults.cs
  src/Security/Authentication/test/BearerTokenTests.cs
  src/Security/Authentication/test/Microsoft.AspNetCore.Authentication.Test.csproj
  src/Security/Security.slnf
  src/Shared/BearerToken/DTO/AccessTokenResponse.cs
  src/Tools/Tools.slnf
Labels: Servicing-approved, area-identity

#47931 Remove unused variable
  src/Tools/dotnet-user-jwts/src/Commands/ListCommand.cs
Labels: area-commandlinetools

#47247 Enable AOT template tests
  eng/targets/Helix.Common.props
  src/ProjectTemplates/test/Templates.Blazor.WebAssembly.Auth.Tests/BlazorWasmTemplateAuthTest.cs
  src/ProjectTemplates/test/Templates.Tests/ApiTemplateTest.cs
  src/ProjectTemplates/test/Templates.Tests/GrpcTemplateTest.cs
  src/Servers/HttpSys/test/FunctionalTests/Http2Tests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/AspNetCorePortTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/BasicAuthTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/CompressionTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/FrebTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/GlobalVersionTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Http2Tests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/HttpsTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Latin1Tests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/LoggingTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/MaxRequestBodySizeTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/MultiApplicationTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/RequestPathBaseTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/RequestResponseTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/WindowsAuthTests.cs
  src/Servers/IIS/IIS/test/Common.LongTests/ShutdownTests.cs
  src/Servers/IIS/IIS/test/Common.LongTests/StartupTests.cs
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/Http2TrailersResetTests.cs
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/Http3Tests.cs
  src/Servers/IIS/IIS/test/IIS.NewHandler.FunctionalTests/NewHandlerTests.cs
  src/Servers/IIS/IIS/test/IIS.NewShim.FunctionalTests/NewShimTests.cs
  src/Servers/IIS/IIS/test/IIS.ShadowCopy.Tests/ShadowCopyTests.cs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/ApplicationInitializationTests.cs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/StdOutRedirectionTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/ClientDisconnectTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/ConnectionIdFeatureTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/HttpBodyControlFeatureTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/MaxRequestBodySizeTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/ResponseAbortTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/ResponseBodySizeTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/TestServerTest.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/InProcess/AppOfflineIISExpressTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/InProcess/IISExpressShutdownTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/InProcess/WebSocketTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/OutOfProcess/MultipleAppTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/OutOfProcess/NtlmAuthentationTest.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/UpgradeFeatureDetectionTests.cs
  src/Servers/IIS/IISIntegration/test/Tests/IISExtensionTests.cs
  src/Servers/IIS/IISIntegration/test/Tests/IISMiddlewareTests.cs
  src/Servers/IIS/IISIntegration/test/Tests/Microsoft.AspNetCore.Server.IISIntegration.Tests.csproj
  src/Tools/dotnet-user-jwts/src/Commands/ListCommand.cs
Labels: area-mvc, area-web-frameworks

#47954 Remove support for name attribute when hash routing
  src/Components/Web.JS/src/Services/NavigationManager.ts
  src/Components/test/E2ETest/Tests/RoutingTest.cs
  src/Components/test/testassets/BasicTestApp/RouterTest/LongPageWithHash2.razor
Labels: area-blazor

#47936 Re-use base project for RDG tests
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTestBase.cs
Labels: feature-rdg, area-minimal

#47923 IExceptionHandler for exception handler middleware #46280
  src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerExtensions.cs
  src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerMiddleware.cs
  src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerMiddlewareImpl.cs
  src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerServiceCollectionExtensions.cs
  src/Middleware/Diagnostics/src/ExceptionHandler/IExceptionHandler.cs
  src/Middleware/Diagnostics/src/PublicAPI.Unshipped.txt
  src/Middleware/Diagnostics/test/UnitTests/ExceptionHandlerMiddlewareTest.cs
Labels: area-runtime, community-contribution

#47963 Fix failing routing tests
  src/Components/test/E2ETest/Tests/RoutingTest.cs
Labels: area-infrastructure, area-blazor

#47969 Fix the aot search regex
  .github/fabricbot.json
Labels: area-infrastructure

#47972 Remove debug check from fabric bot labeling automation
  .github/fabricbot.json
Labels: area-infrastructure

#47968 Quarantine E2E Component tests related to scrolling within page
  src/Components/test/E2ETest/Tests/RoutingTest.cs
Labels: area-blazor

#47970 Run helix matrix tests on AlmaLinux 8
  docs/Helix.md
  eng/scripts/RunHelix.ps1
  eng/targets/Helix.Common.props
  eng/targets/Helix.targets
  src/Security/Authentication/test/CertificateTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
  src/Testing/src/xunit/HelixConstants.cs
Labels: area-infrastructure
