Repository dotnet/aspnetcore, pull requests merged in 2023-09, with the labels that each got.

#50247 Make MapIdentityApi DTOs public
  src/Identity/Core/src/DTO/ForgotPasswordRequest.cs
  src/Identity/Core/src/DTO/InfoRequest.cs
  src/Identity/Core/src/DTO/InfoResponse.cs
  src/Identity/Core/src/DTO/LoginRequest.cs
  src/Identity/Core/src/DTO/RefreshRequest.cs
  src/Identity/Core/src/DTO/RegisterRequest.cs
  src/Identity/Core/src/DTO/ResendEmailRequest.cs
  src/Identity/Core/src/DTO/ResetPasswordRequest.cs
  src/Identity/Core/src/DTO/TwoFactorRequest.cs
  src/Identity/Core/src/DTO/TwoFactorResponse.cs
  src/Identity/Core/src/Data/ForgotPasswordRequest.cs
  src/Identity/Core/src/Data/IdentityEndpointsJsonSerializerContext.cs
  src/Identity/Core/src/Data/InfoRequest.cs
  src/Identity/Core/src/Data/InfoResponse.cs
  src/Identity/Core/src/Data/LoginRequest.cs
  src/Identity/Core/src/Data/RefreshRequest.cs
  src/Identity/Core/src/Data/RegisterRequest.cs
  src/Identity/Core/src/Data/ResendConfirmationEmailRequest.cs
  src/Identity/Core/src/Data/ResetPasswordRequest.cs
  src/Identity/Core/src/Data/TwoFactorRequest.cs
  src/Identity/Core/src/Data/TwoFactorResponse.cs
  src/Identity/Core/src/IdentityApiEndpointRouteBuilderExtensions.cs
  src/Identity/Core/src/IdentityEndpointsJsonOptionsSetup.cs
  src/Identity/Core/src/PublicAPI.Unshipped.txt
  src/Security/Authentication/BearerToken/src/AccessTokenResponse.cs
  src/Security/Authentication/BearerToken/src/BearerTokenConfigureJsonOptions.cs
  src/Security/Authentication/BearerToken/src/BearerTokenHandler.cs
  src/Security/Authentication/BearerToken/src/BearerTokenJsonSerializerContext.cs
  src/Security/Authentication/BearerToken/src/Microsoft.AspNetCore.Authentication.BearerToken.csproj
  src/Security/Authentication/BearerToken/src/PublicAPI.Unshipped.txt
Labels: area-identity

#50380 Fix corrupted streaming SSR output
  src/Components/Endpoints/src/RazorComponentEndpointInvoker.cs
  src/Components/Endpoints/src/Rendering/Buffering/BufferedTextWriter.cs
  src/Components/Endpoints/src/Rendering/Buffering/TextChunk.cs
  src/Components/Endpoints/src/Rendering/Buffering/TextChunkListBuilder.cs
  src/Components/Endpoints/src/Rendering/Buffering/TextChunkPage.cs
  src/Components/Endpoints/src/Rendering/ViewBufferTextWriter/MemoryPoolViewBuffer.cs
  src/Components/Endpoints/src/Rendering/ViewBufferTextWriter/MemoryPoolViewBufferScope.cs
  src/Components/Endpoints/src/Rendering/ViewBufferTextWriter/ViewBufferPage.cs
  src/Components/Endpoints/src/Rendering/ViewBufferTextWriter/ViewBufferTextWriter.cs
  src/Components/Endpoints/src/Rendering/ViewBufferTextWriter/ViewBufferValue.cs
  src/Components/Endpoints/test/Buffering/BufferedTextWriterTest.cs
  src/Components/Endpoints/test/Buffering/TextChunkListBuilderTest.cs
  src/Components/Endpoints/test/Buffering/TextChunkPageTest.cs
  src/Components/Endpoints/test/Buffering/TextChunkTest.cs
  src/Components/Web/src/HtmlRendering/HtmlRootComponent.cs
  src/Components/test/E2ETest/ServerRenderingTests/StreamingRenderingTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/StreamingRendering/OverlappingStreamRendering.razor
Labels: area-blazor

#50455 Fix outputcache bug when using IOutputCacheBufferStore
  src/Middleware/OutputCaching/src/OutputCacheEntryFormatter.cs
  src/Middleware/OutputCaching/src/RecyclableArrayBufferWriter.cs
  src/Middleware/OutputCaching/test/OutputCacheEntryFormatterTests.cs
  src/Middleware/OutputCaching/test/OutputCacheMiddlewareTests.cs
  src/Middleware/OutputCaching/test/TestUtils.cs
Labels: area-networking

#50447 Fix pRequestInfo INVALID_POINTER_READ caused by GCs (v6 backport)
  src/Shared/HttpSys/RequestProcessing/NativeRequestContext.cs
Labels: Servicing-approved, community-contribution, area-networking

#50448 Fix pRequestInfo INVALID_POINTER_READ caused by GCs (v7 backport)
  src/Shared/HttpSys/RequestProcessing/NativeRequestContext.cs
Labels: Servicing-approved, community-contribution, area-networking

#50453 Fix scripts in SSR updates
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Streaming.cs
  src/Components/Endpoints/test/RazorComponentResultTest.cs
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/src/Rendering/StreamingRendering.ts
  src/Components/Web/src/HtmlRendering/StaticHtmlRenderer.HtmlWriting.cs
  src/Components/Web/test/HtmlRendering/HtmlRendererTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/EnhancedNavigationTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/EnhancedNavigationTestUtil.cs
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/StreamingRenderingTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/StreamingRendering/StreamingWithDynamicScriptTags.razor
Labels: area-blazor

#50387 Fix local build file modification
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorClassLibrary-CSharp/.template.config/localize/templatestrings.en.json
Labels: area-mvc

#50444 Fix exception handling for complex form mapping in minimal APIs
  src/Components/Endpoints/src/FormMapping/FormDataResources.resx
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.FormMapping.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RuntimeCreationTests.ComplexFormBinding.cs
  src/Http/Routing/test/FunctionalTests/MinimalFormTests.cs
  src/Shared/RequestDelegateCreationMessages.cs
Labels: feature-rdg, area-minimal

#50410 Suppress nullability warning when resolving JSON body or service
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointParameterEmitter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_JsonBodyOrService_HandlesBothJsonAndService.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_TakesCustomMetadataEmitter_Has_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/VerifyAsParametersBaseline.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.AsParameters.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.JsonBodyOrService.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/SharedTypes.cs
Labels: feature-rdg, area-minimal

#50458 Merge property attributes with parameter attributes for AsParameters
  src/Http/Http.Extensions/gen/RequestDelegateGeneratorSources.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/VerifyAsParametersBaseline.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.AsParameters.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/SharedTypes.cs
  src/Shared/PropertyAsParameterInfo.cs
Labels: area-minimal

#50248 [SignalR] Error if multiple service attributes are on a single parameter
  src/SignalR/server/Core/src/Internal/HubMethodDescriptor.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTestUtils/Hubs.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-signalr

#50524 Update RemoteAuthenticationOptions.cs
  src/Security/Authentication/Core/src/RemoteAuthenticationOptions.cs
Labels: area-security, community-contribution

#50552 Fix grammar in doc comments (a vs an)
  src/Mvc/Mvc.Core/src/ControllerBase.cs
Labels: area-mvc, community-contribution, area-web-frameworks

#50556 Revert "[Blazor] Update selenium versions"
  eng/Versions.props
  src/Components/test/E2ETest/package.json
  src/Components/test/E2ETest/yarn.lock
  src/ProjectTemplates/test/Templates.Tests/package.json
  src/ProjectTemplates/test/Templates.Tests/yarn.lock
  src/Shared/E2ETesting/E2ETesting.targets
  src/Shared/E2ETesting/SeleniumStandaloneServer.cs
  src/Shared/E2ETesting/selenium-config.json
Labels: area-infrastructure

#50465 Tidy up aka.ms links in data protection error messages
  src/DataProtection/Abstractions/src/Resources.resx
  src/DataProtection/DataProtection/src/LoggingExtensions.cs
  src/DataProtection/DataProtection/src/Resources.resx
  src/DataProtection/Extensions/src/Resources.resx
Labels: area-dataprotection

#50538 Update Microsoft.IdentityModel to 7.0.0-preview5
  eng/Version.Details.xml
  eng/Versions.props
  src/Security/Authentication/test/JwtBearerTests.cs
Labels: area-infrastructure

#50542 Update help link and aka.ms references for RDG
  src/Http/Http.Extensions/gen/DiagnosticDescriptors.cs
  src/Http/Http.Extensions/gen/Resources.resx
  src/Http/Http.Extensions/test/RequestDelegateGenerator/CompileTimeCreationTests.AsParameters.cs
Labels: feature-rdg, area-minimal

#50572 Fix FileLoggerProcessorTests output path
  src/Middleware/HttpLogging/test/FileLoggerProcessorTests.cs
Labels: tell-mode, area-networking, area-middleware

#50565 Support independently enabling hosting event counters and metrics
  src/Hosting/Hosting/src/Internal/HostingApplication.cs
  src/Hosting/Hosting/src/Internal/HostingApplicationDiagnostics.cs
  src/Hosting/Hosting/test/HostingApplicationDiagnosticsTests.cs
Labels: area-hosting

#50535 Fix IIS OutOfProc sometimes creating multiple app instances after recycle
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/applicationmanager.cpp
Labels: feature-iis, area-networking

#50568 Update gRPC packages for .NET 8 templates
  eng/Versions.props
Labels: area-infrastructure, area-grpc

#50545 [Blazor] Obsolete Router.PreferExactMatches
  src/Components/Components/src/Routing/Router.cs
Labels: area-blazor

#50431 [Blazor] Form mapping support for select multiple, logging, DataMember and other improvements/cleanups
  src/Components/Components/src/Microsoft.AspNetCore.Components.csproj
  src/Components/Endpoints/src/DependencyInjection/DefaultRazorComponentsServiceOptionsConfiguration.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsEndpointOptions.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsEndpointsDetailedErrorsConfiguration.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsServiceCollectionExtensions.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsServiceOptions.cs
  src/Components/Endpoints/src/FormMapping/Converters/CollectionConverter.cs
  src/Components/Endpoints/src/FormMapping/Converters/EnumConverter.cs
  src/Components/Endpoints/src/FormMapping/Converters/NullableConverter.cs
  src/Components/Endpoints/src/FormMapping/Converters/ParsableConverter.cs
  src/Components/Endpoints/src/FormMapping/Factories/ComplexType/ComplexTypeExpressionConverterFactoryOfT.cs
  src/Components/Endpoints/src/FormMapping/Factories/ComplexTypeConverterFactory.cs
  src/Components/Endpoints/src/FormMapping/FormDataMapper.cs
  src/Components/Endpoints/src/FormMapping/FormDataMapperOptions.cs
  src/Components/Endpoints/src/FormMapping/FormDataReader.cs
  src/Components/Endpoints/src/FormMapping/HttpContextFormValueMapper.cs
  src/Components/Endpoints/src/FormMapping/ISingleValueConverter.cs
  src/Components/Endpoints/src/FormMapping/Metadata/FormDataMetadataFactory.cs
  src/Components/Endpoints/src/PublicAPI.Unshipped.txt
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Streaming.cs
  src/Components/Endpoints/test/Binding/FormDataMapperTests.cs
  src/Components/Endpoints/test/Binding/FormDataMetadataFactoryTests.cs
  src/Components/Endpoints/test/HttpContextFormValueMapperTest.cs
  src/Components/Endpoints/test/RazorComponentsServiceCollectionExtensionsTest.cs
  src/Components/Forms/src/FieldIdentifier.cs
  src/Components/Forms/src/Microsoft.AspNetCore.Components.Forms.csproj
  src/Components/Forms/test/ExpressionFormatterTest.cs
  src/Components/Forms/test/FieldIdentifierTest.cs
  src/Components/Shared/src/ExpressionFormatting/ExpressionFormatter.cs
  src/Components/Shared/src/HotReloadManager.cs
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/DefaultFormBoundParameterAnnotations.razor
  src/Mvc/Mvc/test/MvcServiceCollectionExtensionsTest.cs
Labels: area-blazor

#50573 Add release/8.0 to helix runs
  .azure/pipelines/helix-matrix.yml
Labels: area-infrastructure

#50606 Update HttpHeaders Keys
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.cs
  src/Servers/Kestrel/Core/test/HttpHeadersTests.cs
Labels: community-contribution, area-networking

#50571 [Blazor] Startup API cleanups
  src/Components/Endpoints/src/Builder/ComponentEndpointConventionBuilderHelper.cs
  src/Components/Endpoints/src/Builder/RazorComponentsEndpointConventionBuilder.cs
  src/Components/Endpoints/src/PublicAPI.Unshipped.txt
  src/Components/Server/src/Builder/InternalServerRenderMode.cs
  src/Components/Server/src/Builder/ServerRazorComponentsEndpointConventionBuilderExtensions.cs
  src/Components/Server/src/DependencyInjection/ServerRazorComponentsBuilderExtensions.cs
  src/Components/Server/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/Server/src/Builder/WebAssemblyRazorComponentsEndpointConventionBuilderExtensions.cs
  src/Components/WebAssembly/Server/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/Server/src/WebAssemblyRazorComponentsBuilderExtensions.cs
  src/Components/test/testassets/Components.TestServer/RazorComponentEndpointsStartup.cs
Labels: area-blazor

#50633 Add helix-matrix.yml to checklist for updating major version
  docs/UpdatingMajorVersionAndTFM.md
Labels: area-infrastructure

#50632 Update Microsoft.IdentityModel to 7.0.0
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#50345 [release/8.0] [Blazor] Delay component activation until the initial page loads completely
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/src/Boot.Web.ts
  src/Components/Web.JS/src/Services/NavigationEnhancement.ts
  src/Components/Web.JS/src/Services/WebRootComponentManager.ts
  src/Components/test/E2ETest/ServerRenderingTests/InteractivityTest.cs
Labels: area-blazor

#50644 Update SDK version
  global.json
Labels: area-infrastructure

#50651 Clean up route tooling for components
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/RoutePattern/RoutePatternOptions.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Infrastructure/RoutePattern/RoutePatternParser.cs
Labels: area-infrastructure, area-blazor

#49332 Simplify BoxedStatusCodes storage in HostingMetrics.cs
  src/Hosting/Hosting/src/Internal/HostingMetrics.cs
Labels: area-hosting

#50663 Hard-code CSharp version to 12.0
  eng/targets/CSharp.Common.props
Labels: area-infrastructure

#50664 Disable auto-injected CodeQl3000
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#50667 Update downlevel SiteExtension versions
  eng/Versions.props
Labels: area-infrastructure

#50661 Merging internal commits for release/6.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure

#50660 Merging internal commits for release/7.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure

#50582 Update Versions.props to latest Microsoft.Identity.Web
  eng/Versions.props
Labels: area-infrastructure, community-contribution

#50561 [release/8.0] [Blazor] Support injecting keyed services with `[Inject]`
  src/Components/Components/src/ComponentFactory.cs
  src/Components/Components/src/InjectAttribute.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/test/ComponentFactoryTest.cs
  src/Components/Components/test/DependencyInjectionTest.cs
  src/Components/Shared/test/TestServiceProvider.cs
  src/Components/test/E2ETest/Tests/PropertyInjectionTest.cs
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/Program.cs
  src/Components/test/testassets/BasicTestApp/PropertyInjection/InvalidKeyedServiceType.razor
  src/Components/test/testassets/BasicTestApp/PropertyInjection/InvalidServiceKey.razor
  src/Components/test/testassets/BasicTestApp/PropertyInjection/PropertyInjectionComponent.razor
  src/Components/test/testassets/BasicTestApp/PropertyInjection/TestKeyedService.cs
  src/Components/test/testassets/BasicTestApp/PropertyInjection/TestServiceKey.cs
  src/Components/test/testassets/Components.TestServer/ServerStartup.cs
  src/Mvc/Mvc.Razor/src/Internal/RazorInjectAttribute.cs
  src/Mvc/Mvc.Razor/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Razor/src/RazorPagePropertyActivator.cs
  src/Mvc/Mvc.Razor/test/RazorPageActivatorTest.cs
  src/Shared/PropertyActivator/PropertyActivator.cs
Labels: area-blazor

#50701 Blazor wasm template accessebility
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Components/Layout/MainLayout.razor.css
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Components/Layout/NavMenu.razor.css
Labels: area-blazor

#50407 Rename internal UseAck to UseStatefulReconnect
  src/SignalR/clients/csharp/Client/test/UnitTests/TestTransportFactory.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnection.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/DefaultTransportFactory.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/ITransportFactory.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/LongPollingTransport.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/ServerSentEventsTransport.cs
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
  src/SignalR/clients/ts/signalr/tests/HttpConnection.test.ts
  src/SignalR/common/Http.Connections.Common/src/NegotiateProtocol.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionManager.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
  src/SignalR/server/SignalR/test/DefaultTransportFactoryTests.cs
  src/SignalR/server/SignalR/test/EndToEndTests.cs
Labels: area-signalr

#50706 Fix 6.0 SiteExtensions version, turn SiteExtension build on in CI
  .azure/pipelines/ci.yml
  eng/Versions.props
Labels: area-infrastructure

#50708 [release/7.0] Fix 6.0 SiteExtension version
  eng/Versions.props
Labels: area-infrastructure

#50417 Fix incoming connections with same ID sometimes failing incorrectly
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionContext.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
Labels: area-signalr

#50442 Increment HubProtocol version for Stateful Reconnect
  src/Components/Server/src/BlazorPack/BlazorPackHubProtocol.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.Log.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubConnectionTests.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubProtocolVersionTests.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/WebSocketsTransport.cs
  src/SignalR/clients/ts/signalr-protocol-msgpack/src/MessagePackHubProtocol.ts
  src/SignalR/clients/ts/signalr/src/HubConnection.ts
  src/SignalR/clients/ts/signalr/src/JsonHubProtocol.ts
  src/SignalR/common/Protocols.Json/src/Protocol/JsonHubProtocol.cs
  src/SignalR/common/Protocols.MessagePack/src/Protocol/MessagePackHubProtocol.cs
  src/SignalR/common/Protocols.NewtonsoftJson/src/Protocol/NewtonsoftJsonHubProtocol.cs
  src/SignalR/server/Core/src/HubConnectionContext.Log.cs
  src/SignalR/server/Core/src/HubConnectionContext.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
Labels: area-signalr

#50315 SignalR MessageBuffer fixes
  eng/Dependencies.props
  eng/Version.Details.xml
  eng/Versions.props
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client.Core/src/Microsoft.AspNetCore.SignalR.Client.Core.csproj
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/WebSocketsTransport.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs
  src/SignalR/common/Http.Connections/src/Internal/Transports/WebSocketsServerTransport.cs
  src/SignalR/common/Shared/MessageBuffer.cs
  src/SignalR/server/Core/src/HubConnectionContext.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/SignalR/test/Internal/MessageBufferTests.cs
  src/SignalR/server/SignalR/test/Microsoft.AspNetCore.SignalR.Tests.csproj
Labels: area-signalr

#50409 Fix dropping messages on reconnect
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/common/Shared/MessageBuffer.cs
  src/SignalR/server/Core/src/HubConnectionContext.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/SignalR/test/Internal/MessageBufferTests.cs
Labels: area-signalr

#50717 Omit keyed services from OpenAPI definitions
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/test/DefaultApiDescriptionProviderTest.cs
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
  src/OpenApi/src/OpenApiGenerator.cs
  src/OpenApi/test/OpenApiGeneratorTests.cs
Labels: feature-openapi, area-minimal

#50716 Fix XML docs on Redis OutputCaching extensions
  src/Middleware/Microsoft.AspNetCore.OutputCaching.StackExchangeRedis/src/StackExchangeRedisCacheServiceCollectionExtensions.cs
Labels: area-networking, area-middleware

#50205 Enable build acceleration
  Directory.Build.props
  src/Installers/Debian/Directory.Build.props
  src/Installers/Rpm/Directory.Build.props
  src/Installers/Windows/Directory.Build.props
Labels: area-infrastructure, community-contribution

#50347 Add automated Blazor WebView test using Photino
  AspNetCore.sln
  eng/Versions.props
  src/Components/Components.slnf
  src/Components/WebView/Samples/PhotinoPlatform/src/BlazorWindow.cs
  src/Components/WebView/Samples/PhotinoPlatform/src/PhotinoSynchronizationContext.cs
  src/Components/WebView/Samples/PhotinoPlatform/testassets/PhotinoTestApp/PhotinoTestApp.csproj
  src/Components/WebView/Samples/PhotinoPlatform/testassets/PhotinoTestApp/Program.cs
  src/Components/WebView/Samples/PhotinoPlatform/testassets/PhotinoTestApp/_Imports.razor
  src/Components/WebView/WebView/test/Microsoft.AspNetCore.Components.WebView.Test.csproj
  src/Components/WebView/test/E2ETest/BasicBlazorHybridTest.cs
  src/Components/WebView/test/E2ETest/Microsoft.AspNetCore.Components.WebViewE2E.Test.csproj
  src/Components/WebView/test/E2ETest/Pages/TestPage.razor
  src/Components/WebView/test/E2ETest/Program.cs
  src/Components/WebView/test/E2ETest/WebViewManagerE2ETests.cs
  src/Components/WebView/test/E2ETest/_Imports.razor
  src/Components/WebView/test/E2ETest/wwwroot/css/app.css
  src/Components/WebView/test/E2ETest/wwwroot/webviewtesthost.html
Labels: area-blazor, pending-ci-rerun

#50727 Blazor: add support for onclose event
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Rendering/Events/EventDelegator.ts
  src/Components/Web.JS/src/Rendering/Events/EventTypes.ts
  src/Components/Web/src/Web/EventHandlers.cs
  src/Components/Web/src/WebEventData/WebEventData.cs
  src/Components/test/E2ETest/Tests/EventTest.cs
  src/Components/test/testassets/BasicTestApp/DialogEventsComponent.razor
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/ToggleEventComponent.razor
  src/Components/test/testassets/BasicTestApp/TouchEventComponent.razor
Labels: area-blazor

#50537 Support resolving form files in complex form mapping
  src/Components/Endpoints/src/FormMapping/BrowserFileFromFormFile.cs
  src/Components/Endpoints/src/FormMapping/Converters/FileConverter.cs
  src/Components/Endpoints/src/FormMapping/Factories/FileConverterFactory.cs
  src/Components/Endpoints/src/FormMapping/FormDataMapperOptions.cs
  src/Components/Endpoints/src/FormMapping/FormDataReader.cs
  src/Components/Endpoints/src/FormMapping/HttpContextFormDataProvider.cs
  src/Components/Endpoints/src/FormMapping/HttpContextFormValueMapper.cs
  src/Components/Endpoints/src/FormMapping/Metadata/FormDataMetadataFactory.cs
  src/Components/Endpoints/src/FormMapping/Metadata/FormDataTypeKind.cs
  src/Components/Endpoints/src/FormMapping/WellKnownConverters.cs
  src/Components/Endpoints/src/Microsoft.AspNetCore.Components.Endpoints.csproj
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.cs
  src/Components/Endpoints/test/Binding/FormDataMapperTests.cs
  src/Components/Endpoints/test/HttpContextFormValueMapperTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/FormsWithFiles.razor
  src/Http/Http.Extensions/src/Microsoft.AspNetCore.Http.Extensions.csproj
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/src/RequestDelegateFactoryContext.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.FormMapping.cs
Labels: area-blazor

#50437 [Blazor] APIs to preserve content between enhanced navigations
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/src/Boot.Server.ts
  src/Components/Web.JS/src/Boot.Web.ts
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/Web.JS/src/Rendering/DomMerging/DataPermanentElementSync.ts
  src/Components/Web.JS/src/Rendering/DomMerging/DomSync.ts
  src/Components/Web.JS/src/Services/JSEventRegistry.ts
  src/Components/Web.JS/src/Services/NavigationEnhancement.ts
  src/Components/Web.JS/src/Services/WebRootComponentManager.ts
  src/Components/Web.JS/test/DomSync.test.ts
  src/Components/test/E2ETest/ServerRenderingTests/EnhancedNavigationTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/EnhancedNav/PageThatPreservesContent.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Shared/EnhancedNavLayout.razor
Labels: area-blazor

#50743 Port Blazor Hybrid Photino test to release/net8
  AspNetCore.sln
  eng/Versions.props
  src/Components/Components.slnf
  src/Components/WebView/Samples/PhotinoPlatform/src/BlazorWindow.cs
  src/Components/WebView/Samples/PhotinoPlatform/src/PhotinoSynchronizationContext.cs
  src/Components/WebView/Samples/PhotinoPlatform/testassets/PhotinoTestApp/PhotinoTestApp.csproj
  src/Components/WebView/Samples/PhotinoPlatform/testassets/PhotinoTestApp/Program.cs
  src/Components/WebView/Samples/PhotinoPlatform/testassets/PhotinoTestApp/_Imports.razor
  src/Components/WebView/WebView/test/Microsoft.AspNetCore.Components.WebView.Test.csproj
  src/Components/WebView/test/E2ETest/BasicBlazorHybridTest.cs
  src/Components/WebView/test/E2ETest/Microsoft.AspNetCore.Components.WebViewE2E.Test.csproj
  src/Components/WebView/test/E2ETest/Pages/TestPage.razor
  src/Components/WebView/test/E2ETest/Program.cs
  src/Components/WebView/test/E2ETest/WebViewManagerE2ETests.cs
  src/Components/WebView/test/E2ETest/_Imports.razor
  src/Components/WebView/test/E2ETest/wwwroot/css/app.css
  src/Components/WebView/test/E2ETest/wwwroot/webviewtesthost.html
Labels: area-blazor

#50723 Resolve CVE-2021-43877
  eng/SourceBuildPrebuiltBaseline.xml
  eng/tools/RepoTasks/RepoTasks.csproj
Labels: area-infrastructure

#50776 Add explicit dependency on Microsoft.SourceBuild.Intermediate.runtime.linux-x64
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#50710 Update CSharp.Common.props
  eng/targets/CSharp.Common.props
Labels: area-infrastructure

#50742 [Blazor] Prerendered state
  src/Components/Components/src/IPersistentComponentStateStore.cs
  src/Components/Components/src/Infrastructure/ComponentStatePersistenceManager.cs
  src/Components/Components/src/PersistComponentStateRegistration.cs
  src/Components/Components/src/PersistentComponentState.cs
  src/Components/Components/src/PersistingComponentStateSubscription.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Components/test/Lifetime/ComponentApplicationStateTest.cs
  src/Components/Components/test/Lifetime/ComponentStatePersistenceManagerTest.cs
  src/Components/Endpoints/src/RazorComponentEndpointInvoker.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Prerendering.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.PrerenderingState.cs
  src/Components/Endpoints/src/Rendering/SSRRenderModeBoundary.cs
  src/Components/Endpoints/test/EndpointHtmlRendererTest.cs
  src/Components/Server/src/Circuits/CircuitFactory.cs
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/Server/src/Circuits/IServerComponentDeserializer.cs
  src/Components/Server/src/Circuits/RemoteRenderer.cs
  src/Components/Server/src/Circuits/ServerComponentDeserializer.cs
  src/Components/Server/src/ComponentHub.cs
  src/Components/Server/test/Circuits/CircuitHostTest.cs
  src/Components/Server/test/Circuits/ComponentHubTest.cs
  src/Components/Server/test/Circuits/RemoteRendererTest.cs
  src/Components/Server/test/Circuits/ServerComponentDeserializerTest.cs
  src/Components/Shared/src/DefaultAntiforgeryStateProvider.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/src/Boot.Server.Common.ts
  src/Components/Web.JS/src/Boot.WebAssembly.Common.ts
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/Web.JS/src/Platform/Circuits/CircuitManager.ts
  src/Components/Web.JS/src/Services/ComponentDescriptorDiscovery.ts
  src/Components/Web.JS/src/Services/WebRootComponentManager.ts
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/Web/src/WebRenderer.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHost.cs
  src/Components/WebAssembly/WebAssembly/src/Rendering/WebAssemblyRenderer.cs
  src/Components/WebAssembly/WebAssembly/src/Services/DefaultWebAssemblyJSRuntime.cs
  src/Components/WebAssembly/WebAssembly/src/Services/InternalJSImportMethods.cs
  src/Components/test/E2ETest/ServerRenderingTests/InteractivityTest.cs
  src/Components/test/E2ETest/Tests/SaveStateTest.cs
  src/Components/test/E2ETest/Tests/StatePersistenceTest.cs
  src/Components/test/testassets/BasicTestApp/PreserveStateService.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/PersistServerState.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/PersistStateComponents.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/PersistentState/EndStreamingPage.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/PersistentState/PageWithComponents.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/PersistentState/PageWithoutComponents.razor
  src/Components/test/testassets/Components.WasmMinimal/Pages/PersistWebAssemblyState.razor
  src/Components/test/testassets/Components.WasmMinimal/Program.cs
  src/Components/test/testassets/TestContentPackage/PersistStateComponent.razor
  src/Components/test/testassets/TestContentPackage/PersistentComponents/NonStreamingComponentWithPersistentState.razor
  src/Components/test/testassets/TestContentPackage/PersistentComponents/StreamingComponentWithPersistentState.razor
  src/Components/test/testassets/TestContentPackage/Services/AsyncOperationService.cs
  src/Mvc/Mvc.TagHelpers/test/PersistComponentStateTagHelperTest.cs
  src/Shared/Components/PrerenderComponentApplicationStore.cs
  src/Shared/Components/ProtectedPrerenderComponentApplicationStore.cs
  src/Shared/E2ETesting/BrowserFixture.cs
Labels: area-blazor

#50789 Fix DataProtection solution filter
  src/DataProtection/DataProtection.slnf
Labels: area-dataprotection

#50301 Make IEmailSender more customizable
  src/Identity/Core/src/IEmailSender.cs
  src/Identity/Core/src/IEmailSenderOfT.cs
  src/Identity/Core/src/IdentityApiEndpointRouteBuilderExtensions.cs
  src/Identity/Core/src/IdentityBuilderExtensions.cs
  src/Identity/Core/src/Microsoft.AspNetCore.Identity.csproj
  src/Identity/Core/src/NoOpEmailSender.cs
  src/Identity/Core/src/PublicAPI.Unshipped.txt
  src/Identity/Extensions.Core/src/PublicAPI.Unshipped.txt
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/ExternalLogin.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/ForgotPassword.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/Email.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Register.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/RegisterConfirmation.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V4/Account/ResendEmailConfirmation.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/ExternalLogin.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/ForgotPassword.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/Manage/Email.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/Register.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/RegisterConfirmation.cshtml.cs
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/ResendEmailConfirmation.cshtml.cs
  src/Identity/UI/src/IdentityBuilderUIExtensions.cs
  src/Identity/UI/src/Microsoft.AspNetCore.Identity.UI.csproj
  src/Identity/UI/src/PublicAPI.Unshipped.txt
  src/Identity/samples/IdentitySample.DefaultUI/Areas/Identity/Pages/Account/Register.cshtml.cs
  src/Identity/test/Identity.FunctionalTests/MapIdentityApiTests.cs
  src/Shared/DefaultMessageEmailSender.cs
Labels: area-identity

#50800 Update auto-milestones for 8.0
  .github/fabricbot.json
Labels: area-infrastructure

#50799 Update branding to RTM
  eng/Versions.props
Labels: area-infrastructure

#50801 Update SDK
  global.json
Labels: area-infrastructure

#50797 Handle obsolete InterceptorsPreview with .NET 8 RC2 SDK
  src/Identity/Core/src/Microsoft.AspNetCore.Identity.csproj
Labels: area-infrastructure, area-identity, tell-mode

#50811 Quarantine (actually comment out) one of the CanRenderComponentWithPersistedState cases
  src/Components/test/E2ETest/Tests/StatePersistenceTest.cs
Labels: area-infrastructure, area-blazor

#50814 Stop processing original response streaming content if user has started navigating away
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Streaming.cs
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/src/Rendering/StreamingRendering.ts
  src/Components/Web.JS/src/Services/NavigationEnhancement.ts
  src/Components/test/E2ETest/ServerRenderingTests/StreamingRenderingTest.cs
  src/Components/test/E2ETest/Tests/EventTest.cs
  src/Components/test/E2ETest/Tests/StatePersistenceTest.cs
Labels: Servicing-approved, area-blazor

#50843 Fix streaming into nonstreaming outlet
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Streaming.cs
  src/Components/test/E2ETest/ServerRenderingTests/StreamingRenderingTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/StreamingRendering/StreamingWithSections.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/StreamingRendering/StreamingWithSectionsContentSupplier.razor
Labels: Servicing-approved, area-blazor

#50550 [Blazor] Error page support for Server Side Rendered Razor Component Applications
  src/Components/Endpoints/src/Microsoft.AspNetCore.Components.Endpoints.csproj
  src/Components/Endpoints/src/RazorComponentEndpointInvoker.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Prerendering.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Streaming.cs
  src/Components/Endpoints/src/Results/RazorComponentResultExecutor.cs
  src/Components/Samples/BlazorUnitedApp/Pages/Error.razor
  src/Components/test/E2ETest/ServerRenderingTests/ErrorHandlingTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponentEndpointsStartup.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/App.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Error.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/ErrorLayout.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/PageThatThrows.razor
  src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerExtensions.cs
  src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerMiddlewareImpl.cs
  src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerOptions.cs
  src/Middleware/Diagnostics/src/PublicAPI.Unshipped.txt
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Pages/Error.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Program.cs
  src/ProjectTemplates/test/Templates.Tests/template-baselines.json
Labels: Servicing-approved, area-blazor

#50767 RequestQuery logging bug fix
  src/Middleware/HttpLogging/src/HttpLoggingMiddleware.cs
Labels: community-contribution, area-networking, area-middleware

#50803 Quarantine CanLaunchPhotinoWebViewAndClickButton
  src/Components/WebView/test/E2ETest/WebViewManagerE2ETests.cs
Labels: area-blazor

#50851 [release/8.0-rc2] [Blazor] Make auto components prefer the existing render mode
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/src/Services/WebRootComponentManager.ts
  src/Components/test/E2ETest/ServerRenderingTests/InteractivityTest.cs
Labels: Servicing-approved, area-blazor

#50863 Fix http2cat sample
  src/Servers/Kestrel/samples/http2cat/Program.cs
Labels: area-networking

#50883 Add logging to Http.Sys tests
  src/Servers/HttpSys/test/FunctionalTests/AuthenticationTests.cs
  src/Servers/HttpSys/test/FunctionalTests/DelegateTests.cs
  src/Servers/HttpSys/test/FunctionalTests/Http2Tests.cs
  src/Servers/HttpSys/test/FunctionalTests/Http3Tests.cs
  src/Servers/HttpSys/test/FunctionalTests/HttpsTests.cs
  src/Servers/HttpSys/test/FunctionalTests/MessagePumpTests.cs
  src/Servers/HttpSys/test/FunctionalTests/OpaqueUpgradeTests.cs
  src/Servers/HttpSys/test/FunctionalTests/RequestBodyLimitTests.cs
  src/Servers/HttpSys/test/FunctionalTests/RequestBodyTests.cs
  src/Servers/HttpSys/test/FunctionalTests/RequestHeaderTests.cs
  src/Servers/HttpSys/test/FunctionalTests/RequestTests.cs
  src/Servers/HttpSys/test/FunctionalTests/ResponseBodyTests.cs
  src/Servers/HttpSys/test/FunctionalTests/ResponseCachingTests.cs
  src/Servers/HttpSys/test/FunctionalTests/ResponseHeaderTests.cs
  src/Servers/HttpSys/test/FunctionalTests/ResponseSendFileTests.cs
  src/Servers/HttpSys/test/FunctionalTests/ResponseTests.cs
  src/Servers/HttpSys/test/FunctionalTests/ResponseTrailersTests.cs
  src/Servers/HttpSys/test/FunctionalTests/ServerTests.cs
  src/Servers/HttpSys/test/FunctionalTests/Utilities.cs
Labels: area-networking

#50864 Avoid re-running routing for implicit middlewares and remove implicit anti-forgery
  src/Antiforgery/src/AntiforgeryApplicationBuilderExtensions.cs
  src/Antiforgery/src/Microsoft.AspNetCore.Antiforgery.csproj
  src/DefaultBuilder/src/WebApplicationBuilder.cs
  src/DefaultBuilder/test/Microsoft.AspNetCore.Tests/WebApplicationTests.cs
  src/Mvc/test/WebSites/SimpleWebSiteWithWebApplicationBuilder/Program.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Program.cs
  src/Security/Authentication/Core/src/AuthAppBuilderExtensions.cs
  src/Security/Authentication/Core/src/Microsoft.AspNetCore.Authentication.csproj
  src/Security/Authorization/Policy/src/AuthorizationAppBuilderExtensions.cs
  src/Security/Authorization/Policy/src/Microsoft.AspNetCore.Authorization.Policy.csproj
Labels: Servicing-approved, area-middleware

#50929 Capture parsing errors in model state when binding convertible keys
  src/Mvc/Mvc.Core/src/ModelBinding/Binders/DictionaryModelBinder.cs
  src/Mvc/test/Mvc.IntegrationTests/DictionaryModelBinderIntegrationTest.cs
Labels: area-mvc, feature-model-binding

#50747 Update IAcceptsMetadata docs to reflect behavior of matcher policy
  src/Http/Http.Abstractions/src/Metadata/IAcceptsMetadata.cs
Labels: Docs, area-minimal

#50949 Update SDK to 9.0.100-alpha.1.23476.6
  global.json
Labels: area-infrastructure

#50854 Update editorconfig with naming rules
  .editorconfig
Labels: area-infrastructure

#50711 Replace ''return'' with lambda expression ''=>''.
  src/Identity/Core/src/DataProtectorTokenProvider.cs
Labels: area-identity, community-contribution, pending-ci-rerun

#50946 [Blazor] Antiforgery fix
  src/Components/Shared/src/DefaultAntiforgeryStateProvider.cs
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
  src/Components/test/testassets/Components.TestServer/Components.TestServer.csproj
  src/Components/test/testassets/Components.TestServer/RazorComponentEndpointsStartup.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/FormRunningOnWasmCanUseAntiforgeryToken.razor
  src/Components/test/testassets/TestContentPackage/WasmFormComponent.razor
Labels: Servicing-approved, area-blazor

#50603 Fix blocking call in FindByEmailAsync
  src/Identity/EntityFrameworkCore/src/UserOnlyStore.cs
Labels: area-identity, community-contribution

#50958 fix: cancellationTokenSource memory leak
  src/Components/WebAssembly/Server/src/DebugProxyLauncher.cs
Labels: area-blazor, community-contribution

#50991 Fix checkbox DOM sync
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/src/Rendering/DomMerging/DomSync.ts
  src/Components/Web.JS/test/DomSync.test.ts
Labels: Servicing-approved, area-blazor

#50426 Fix Set size in HttpLoggingOptions
  src/Middleware/HttpLogging/src/HttpLoggingOptions.cs
Labels: community-contribution, area-middleware

#50852 Fix Http/3 tests
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
Labels: area-networking
