Repository dotnet/aspnetcore, pull requests merged in 2023-10, with the labels that each got.

#50848 [release/8.0] [Blazor] Improvements to SSR component activation
  src/Components/Endpoints/src/DependencyInjection/ServerComponentSerializer.cs
  src/Components/Endpoints/src/Rendering/SSRRenderModeBoundary.cs
  src/Components/Endpoints/test/Microsoft.AspNetCore.Components.Endpoints.Tests.csproj
  src/Components/Endpoints/test/WebRootComponentParametersTest.cs
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/Server/src/Circuits/CircuitRootComponentOperation.cs
  src/Components/Server/src/Circuits/IServerComponentDeserializer.cs
  src/Components/Server/src/Circuits/RemoteRenderer.cs
  src/Components/Server/src/Circuits/ServerComponentDeserializer.cs
  src/Components/Server/src/Circuits/WebRootComponentDescriptor.cs
  src/Components/Server/src/Microsoft.AspNetCore.Components.Server.csproj
  src/Components/Server/test/Circuits/CircuitHostTest.cs
  src/Components/Server/test/Circuits/ComponentHubTest.cs
  src/Components/Server/test/Circuits/RemoteRendererTest.cs
  src/Components/Server/test/Circuits/ServerComponentDeserializerTest.cs
  src/Components/Shared/src/RootComponentOperation.cs
  src/Components/Shared/src/WebRootComponentManager.cs
  src/Components/Shared/src/WebRootComponentParameters.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Boot.WebAssembly.Common.ts
  src/Components/Web.JS/src/Platform/Circuits/CircuitManager.ts
  src/Components/Web.JS/src/Platform/WebAssemblyComponentAttacher.ts
  src/Components/Web.JS/src/Rendering/BrowserRenderer.ts
  src/Components/Web.JS/src/Rendering/Renderer.ts
  src/Components/Web.JS/src/Services/ComponentDescriptorDiscovery.ts
  src/Components/Web.JS/src/Services/InitialRootComponentsList.ts
  src/Components/Web.JS/src/Services/RootComponentManager.ts
  src/Components/Web.JS/src/Services/WebRootComponentManager.ts
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHost.cs
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.csproj
  src/Components/WebAssembly/WebAssembly/src/Rendering/WebAssemblyRenderer.cs
  src/Components/WebAssembly/WebAssembly/src/Services/DefaultWebAssemblyJSRuntime.cs
  src/Components/WebAssembly/WebAssembly/src/Services/InternalJSImportMethods.cs
  src/Components/test/E2ETest/ServerRenderingTests/InteractivityTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Components/InteractiveStreamingRenderingComponent.razor
  src/Shared/Components/ComponentMarker.cs
  src/Shared/Components/ServerComponent.cs
Labels: Servicing-approved, area-blazor

#51070 Use renamed Extensions package
  eng/Dependencies.props
  eng/Version.Details.xml
  eng/Versions.props
  src/Hosting/Hosting/test/Microsoft.AspNetCore.Hosting.Tests.csproj
  src/Http/Routing/test/UnitTests/Microsoft.AspNetCore.Routing.Tests.csproj
  src/Middleware/Diagnostics/test/UnitTests/Microsoft.AspNetCore.Diagnostics.Tests.csproj
  src/Middleware/RateLimiting/test/Microsoft.AspNetCore.RateLimiting.Tests.csproj
  src/Servers/Kestrel/test/InMemory.FunctionalTests/InMemory.FunctionalTests.csproj
  src/Servers/Kestrel/test/Interop.FunctionalTests/Interop.FunctionalTests.csproj
  src/SignalR/common/Http.Connections/test/Microsoft.AspNetCore.Http.Connections.Tests.csproj
Labels: area-infrastructure

#51034 Fix failing Kestrel test due to Pings
  src/Servers/Kestrel/test/FunctionalTests/Http2/ShutdownTests.cs
Labels: area-networking

#51032 [release/8.0] [Blazor] Fix Blazor WebAssembly PWA empty template
  src/Components/Web/src/Forms/InputDate.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/wwwroot/index.html
  src/ProjectTemplates/test/Templates.Tests/template-baselines.json
Labels: Servicing-approved, area-blazor

#51069 Update SDK version
  global.json
Labels: area-infrastructure

#51077 Fix typo
  docs/BuildFromSource.md
Labels: area-infrastructure, community-contribution

#51060 Rename bootstrap icons that are used in templates
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Layout/NavMenu.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Layout/NavMenu.razor.css
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Components/Layout/NavMenu.CallsWebApi.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Components/Layout/NavMenu.NoApi.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Components/Layout/NavMenu.razor.css
Labels: Servicing-approved, area-mvc, area-blazor

#51079 Test-fixed reactions
  eng/test-configuration.json
  src/Components/test/E2ETest/Tests/ErrorNotificationTest.cs
  src/Servers/Kestrel/Transport.Quic/test/WebHostTests.cs
Labels: area-infrastructure

#51020 Add SERVER_NAME variable to IISUrlRewrite
  src/Middleware/Rewrite/src/IISUrlRewrite/ServerVariables.cs
  src/Middleware/Rewrite/src/PatternSegments/ServerNameSegment.cs
  src/Middleware/Rewrite/test/IISUrlRewrite/ServerVariableTests.cs
  src/Middleware/Rewrite/test/PatternSegments/ServerNameSegmentTests.cs
Labels: community-contribution, area-networking

#51019 [Form data mapping] Support for mapping URIs from form data
  src/Components/Endpoints/src/FormMapping/Converters/UriFormDataConverter.cs
  src/Components/Endpoints/src/FormMapping/Metadata/FormDataMetadataFactory.cs
  src/Components/Endpoints/src/FormMapping/WellKnownConverters.cs
  src/Components/Endpoints/test/Binding/FormDataMapperTests.cs
Labels: Servicing-approved, area-blazor

#51086 Update SDK.
  global.json
Labels: area-infrastructure

#51115 Update branding to 6.0.24
  eng/Versions.props
Labels: area-infrastructure

#51116 Update branding to 7.0.13
  eng/Versions.props
Labels: area-infrastructure

#51117 Dispose CTS in HubConnection streaming
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
Labels: area-signalr, feature-client-net

#51013 Push history entry after enhanced submit with method=get
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/src/Services/NavigationEnhancement.ts
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/FormWithMethodGet.razor
Labels: Servicing-approved, area-blazor

#51141 [release/7.0] Fix `DragDrop_CanTrigger()` flakiness
  src/Components/test/E2ETest/Tests/EventTest.cs
Labels: area-blazor, tell-mode

#51144 Update milestones for November servicing
  .github/fabricbot.json
Labels: area-infrastructure

#51142 [release/6.0] Fix `DragDrop_CanTrigger()` flakiness
  src/Components/test/E2ETest/Tests/EventTest.cs
Labels: area-blazor

#51147 MockTimeProvider -> FakeTimeProvider
  src/Identity/test/Identity.FunctionalTests/MapIdentityApiTests.cs
  src/Identity/test/Identity.FunctionalTests/Microsoft.AspNetCore.Identity.FunctionalTests.csproj
  src/Identity/test/Identity.Test/Microsoft.AspNetCore.Identity.Test.csproj
  src/Identity/test/Identity.Test/SecurityStampValidatorTest.cs
  src/Identity/test/InMemory.Test/FunctionalTest.cs
  src/Identity/test/InMemory.Test/Microsoft.AspNetCore.Identity.InMemory.Test.csproj
  src/Middleware/OutputCaching/test/Microsoft.AspNetCore.OutputCaching.Tests.csproj
  src/Middleware/OutputCaching/test/OutputCacheMiddlewareTests.cs
  src/Middleware/ResponseCaching/test/Microsoft.AspNetCore.ResponseCaching.Tests.csproj
  src/Middleware/ResponseCaching/test/ResponseCachingMiddlewareTests.cs
  src/Security/Authentication/test/CertificateTests.cs
  src/Security/Authentication/test/CookieTests.cs
  src/Security/Authentication/test/Microsoft.AspNetCore.Authentication.Test.csproj
  src/Security/Authentication/test/SharedAuthenticationTests.cs
  src/Servers/Kestrel/Core/test/DateHeaderValueManagerTests.cs
  src/Servers/Kestrel/Core/test/HeartbeatTests.cs
  src/Servers/Kestrel/Core/test/KestrelServerTests.cs
  src/Servers/Kestrel/Core/test/Microsoft.AspNetCore.Server.Kestrel.Core.Tests.csproj
  src/Servers/Kestrel/Core/test/StartLineTests.cs
  src/Servers/Kestrel/Core/test/TimeoutControlTests.cs
  src/Servers/Kestrel/Transport.Quic/test/Microsoft.AspNetCore.Server.Kestrel.Transport.Quic.Tests.csproj
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionContextTests.cs
  src/Servers/Kestrel/perf/Microbenchmarks/Http3/Http3ConnectionBenchmarkBase.cs
  src/Servers/Kestrel/perf/Microbenchmarks/Microsoft.AspNetCore.Server.Kestrel.Microbenchmarks.csproj
  src/Servers/Kestrel/shared/test/Http3/Http3InMemory.cs
  src/Servers/Kestrel/shared/test/TestServiceContext.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TimeoutTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TestBase.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3TimeoutTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/InMemory.FunctionalTests.csproj
  src/Servers/Kestrel/test/InMemory.FunctionalTests/KeepAliveTimeoutTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestBodyTimeoutTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestHeadersTimeoutTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/RequestTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseDrainingTests.cs
  src/Servers/Kestrel/test/Sockets.BindTests/Sockets.BindTests.csproj
  src/Servers/Kestrel/test/Sockets.FunctionalTests/Sockets.FunctionalTests.csproj
  src/Shared/test/MockTimeProvider.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
  src/SignalR/server/SignalR/test/Microsoft.AspNetCore.SignalR.Tests.csproj
Labels: area-networking

#50860 [Blazor] Initializers fixes for Blazor Web
  src/Components/ComponentsNoDeps.slnf
  src/Components/Endpoints/src/DependencyInjection/DefaultRazorComponentsServiceOptionsConfiguration.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsServiceOptions.cs
  src/Components/Endpoints/src/RazorComponentEndpointInvoker.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Streaming.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.cs
  src/Components/Endpoints/test/RazorComponentsServiceCollectionExtensionsTest.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Boot.Server.Common.ts
  src/Components/Web.JS/src/Boot.Server.ts
  src/Components/Web.JS/src/Boot.Web.ts
  src/Components/Web.JS/src/Boot.WebAssembly.Common.ts
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/JSInitializers/JSInitializers.Server.ts
  src/Components/Web.JS/src/JSInitializers/JSInitializers.Web.ts
  src/Components/Web.JS/src/JSInitializers/JSInitializers.WebAssembly.ts
  src/Components/Web.JS/src/JSInitializers/JSInitializers.ts
  src/Components/Web.JS/src/Platform/Circuits/CircuitManager.ts
  src/Components/Web.JS/src/Platform/Circuits/CircuitStartOptions.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/Web.JS/src/Platform/WebAssemblyStartOptions.ts
  src/Components/Web.JS/src/Platform/WebStartOptions.ts
  src/Components/Web.JS/src/Rendering/WebRendererInteropMethods.ts
  src/Components/Web.JS/src/Services/ComponentDescriptorDiscovery.ts
  src/Components/test/E2ETest/ServerExecutionTests/JsInitializersTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/BlazorWebJsInitializersTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/InteractivityTest.cs
  src/Components/test/E2ETest/Tests/JsInitializersTest.cs
  src/Components/test/testassets/BasicTestApp/wwwroot/JSInitializers/Classic/BasicTestApp.lib.module.js
  src/Components/test/testassets/BasicTestApp/wwwroot/JSInitializers/ClassicAndModern/BasicTestApp.lib.module.js
  src/Components/test/testassets/BasicTestApp/wwwroot/JSInitializers/Modern/BasicTestApp.lib.module.js
  src/Components/test/testassets/BasicTestApp/wwwroot/index.html
  src/Components/test/testassets/Components.TestServer/Pages/_ServerHost.cshtml
  src/Components/test/testassets/Components.TestServer/RazorComponents/App.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Initializers/Initializers.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Initializers/InitializersNonStreamingRequest.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Initializers/InitializersStreamingRequest.razor
  src/Components/test/testassets/Components.WasmMinimal/Program.cs
  src/Components/test/testassets/TestContentPackage/Initializers/ServerComponent.razor
  src/Components/test/testassets/TestContentPackage/Initializers/WasmComponent.razor
  src/Mvc/Mvc/test/MvcServiceCollectionExtensionsTest.cs
Labels: Servicing-approved, area-blazor

#51157 Rename "ASP.NET Core Web App" to "ASP.NET Core Web App (Razor Pages)"
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/localize/templatestrings.en.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/template.json
Labels: Servicing-approved, area-mvc

#51173 [release/8.0] [Blazor] Fix default reconnect display not showing after enhanced navigation
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/src/Platform/Circuits/DefaultReconnectDisplay.ts
  src/Components/test/E2ETest/ServerRenderingTests/EndpointsServerReconnectionTest.cs
Labels: Servicing-approved, area-blazor

#51059 [release/8.0] Update SDK
  global.json
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Rendering/BrowserRenderer.ts
  src/OpenApi/src/OpenApiGenerator.cs
Labels: area-infrastructure, area-blazor

#51232 Fix disabling anti-forgery check on route groups
  src/Http/Routing/src/Builder/RoutingEndpointConventionBuilderExtensions.cs
  src/Http/Routing/test/FunctionalTests/MinimalFormTests.cs
Labels: area-minimal

#51206 Fix pluralization of 'scheme' in doc comments
  src/Mvc/Mvc.Core/src/ChallengeResult.cs
  src/Mvc/Mvc.Core/src/ForbidResult.cs
  src/Mvc/Mvc.Core/src/SignOutResult.cs
Labels: community-contribution, area-web-frameworks

#51245 Fix MaxRedirects check in RedirectHandler
  src/Mvc/Mvc.Testing/src/Handlers/RedirectHandler.cs
  src/Mvc/test/Mvc.FunctionalTests/TestingInfrastructureTests.cs
Labels: area-mvc

#51231 Blazor Web Template Accessibility
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/Pagination/Paginator.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Pages/Account/Login.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Pages/Account/Register.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/wwwroot/app.css
Labels: Servicing-approved, area-blazor

#51243 Add namespace and assembly check before interception
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/InvocationOperationExtensions.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/CompileTimeCreationTests.cs
Labels: area-networking

#51084 Rename metrics tag exception.type to error.type
  src/Hosting/Hosting/src/Internal/HostingMetrics.cs
  src/Hosting/Hosting/test/HostingMetricsTests.cs
  src/Middleware/Diagnostics/src/DiagnosticsMetrics.cs
  src/Middleware/Diagnostics/src/DiagnosticsTelemetry.cs
  src/Middleware/Diagnostics/test/UnitTests/DeveloperExceptionPageMiddlewareTest.cs
  src/Middleware/Diagnostics/test/UnitTests/ExceptionHandlerMiddlewareTest.cs
  src/Middleware/Diagnostics/test/UnitTests/ExceptionHandlerTest.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelMetrics.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/KestrelMetricsTests.cs
Labels: Servicing-approved, area-infrastructure, area-middleware

#51265 Merging internal commits for release/6.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/IKestrelTrace.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.cs
  src/Servers/Kestrel/perf/Microbenchmarks/Mocks/MockTrace.cs
  src/Servers/Kestrel/samples/Http2SampleApp/Http2SampleApp.csproj
  src/Servers/Kestrel/shared/test/CompositeKestrelTrace.cs
Labels: area-infrastructure

#51242 [release/8.0] [Blazor] Defer enhanced component updates until reconnection circuit completes
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/Server/src/Circuits/CircuitRootComponentOperation.cs
  src/Components/Server/src/Circuits/IServerComponentDeserializer.cs
  src/Components/Server/src/Circuits/ServerComponentDeserializer.cs
  src/Components/Server/src/Circuits/WebRootComponentDescriptor.cs
  src/Components/Server/src/Microsoft.AspNetCore.Components.Server.csproj
  src/Components/Server/test/Circuits/CircuitHostTest.cs
  src/Components/Server/test/Circuits/ComponentHubTest.cs
  src/Components/Server/test/Circuits/ServerComponentDeserializerTest.cs
  src/Components/Shared/src/RootComponentOperation.cs
  src/Components/Shared/src/RootComponentOperationBatch.cs
  src/Components/Shared/src/WebRootComponentManager.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Boot.WebAssembly.Common.ts
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/Web.JS/src/Platform/Circuits/CircuitManager.ts
  src/Components/Web.JS/src/Rendering/WebRendererInteropMethods.ts
  src/Components/Web.JS/src/Services/RootComponentManager.ts
  src/Components/Web.JS/src/Services/WebRootComponentManager.ts
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHost.cs
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.csproj
  src/Components/WebAssembly/WebAssembly/src/Rendering/WebAssemblyRenderer.cs
  src/Components/WebAssembly/WebAssembly/src/Services/DefaultWebAssemblyJSRuntime.cs
  src/Components/WebAssembly/WebAssembly/src/Services/InternalJSImportMethods.cs
  src/Components/test/E2ETest/ServerRenderingTests/EndpointsServerReconnectionTest.cs
  src/Shared/Components/ComponentMarker.cs
Labels: Servicing-approved, area-blazor

#51282 Update fabricbot.json
  .github/fabricbot.json
Labels: area-infrastructure

#51130 [Blazor] Emit action attribute when not explicit.
  src/Components/Samples/BlazorUnitedApp/Program.cs
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/src/Services/NavigationEnhancement.ts
  src/Components/Web/src/HtmlRendering/StaticHtmlRenderer.HtmlWriting.cs
  src/Components/Web/src/HtmlRendering/StaticHtmlRenderer.cs
  src/Components/Web/test/HtmlRendering/HtmlRendererTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponentEndpointsStartup.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/FormPostWhileEnhancedNavInProgress.razor
Labels: Servicing-approved, area-blazor

#51252 Remove temporary APIs now Razor compiler is updated
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/Rendering/RenderTreeBuilder.cs
  src/Components/Components/test/Rendering/RenderTreeBuilderTest.cs
  src/Components/Endpoints/test/HotReloadServiceTests.cs
  src/Components/Endpoints/test/RazorComponentEndpointDataSourceTest.cs
  src/Components/Endpoints/test/TestComponents/InteractiveGreetingServer.razor
  src/Components/Endpoints/test/TestComponents/InteractiveGreetingServerNonPrerendered.razor
  src/Components/Endpoints/test/TestComponents/InteractiveGreetingWebAssembly.razor
  src/Components/Endpoints/test/TestComponents/InteractiveGreetingWebAssemblyNonPrerendered.razor
  src/Components/Endpoints/test/TestComponents/InteractiveWithInteractiveChild.razor
  src/Components/Endpoints/test/TestRenderModeAttribute.cs
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/src/Services/NavigationEnhancement.ts
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/Web/src/RenderMode/TemporaryRenderModeAttributes.cs
  src/Components/test/E2ETest/ServerRenderingTests/EnhancedNavigationTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Components/ServerInteractiveCounter.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Auth/InteractiveAuthenticationState.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/PersistServerState.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Shared/EnhancedNavLayout.razor
  src/Components/test/testassets/Components.WasmMinimal/Pages/PersistWebAssemblyState.razor
  src/Components/test/testassets/TestContentPackage/Initializers/ServerComponent.razor
  src/Components/test/testassets/TestContentPackage/Initializers/WasmComponent.razor
  src/Components/test/testassets/TestContentPackage/ServerInteractiveCounter.razor
  src/Components/test/testassets/TestContentPackage/WasmFormComponent.razor
  src/Components/test/testassets/TestContentPackage/WebAssemblyInteractiveCounter.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp.Client/Pages/Auth.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp.Client/Pages/Counter.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp.Client/_Imports.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/App.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Pages/Counter.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/_Imports.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/App.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Layout/LoginDisplay.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Layout/MainLayout.Auth.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Layout/MainLayout.NoAuth.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Layout/MainLayout.razor.css
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Layout/NavMenu.CallsWebApi.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Layout/NavMenu.NoApi.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Layout/NavMenu.razor.css
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Layout/RedirectToLogin.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Pages/Authentication.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Pages/Counter.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Pages/Home.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Pages/Weather.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Program.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/_Imports.razor
  src/ProjectTemplates/test/Templates.Tests/template-baselines.json
Labels: Servicing-approved, area-blazor

#51303 [release/8.0] Track indicators of excessive stream resets
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.Http2.cs
  src/Servers/Kestrel/samples/Http2SampleApp/Http2SampleApp.csproj
Labels: area-networking

#51304 Track indicators of excessive stream resets
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.Http2.cs
  src/Servers/Kestrel/samples/Http2SampleApp/Http2SampleApp.csproj
Labels: area-networking

#51298 Add Overload for AddRateLimiter() Without Options Parameter
  src/Middleware/RateLimiting/src/PublicAPI.Unshipped.txt
  src/Middleware/RateLimiting/src/RateLimiterServiceCollectionExtensions.cs
  src/Middleware/RateLimiting/test/RateLimitingApplicationBuilderExtensionsTests.cs
Labels: community-contribution, area-networking, area-middleware

#51325 Add missing steps while building from source in VS
  docs/BuildFromSource.md
Labels: area-infrastructure, community-contribution

#51067 [8.0] Critical fix to output cache; remove OutputCacheEntry recycling
  src/Middleware/OutputCaching/src/OutputCacheEntry.cs
  src/Middleware/OutputCaching/src/OutputCacheMiddleware.cs
  src/Middleware/OutputCaching/src/RecyclableReadOnlySequenceSegment.cs
  src/Middleware/OutputCaching/test/OutputCacheTests.cs
Labels: Servicing-approved, feature-output-caching, area-networking, area-middleware

#51279 [release/8.0] [Blazor] Fix for URLs/querystrings not updating for interactive components when using SSR routing
  src/Components/Server/src/Circuits/RemoteNavigationInterception.cs
  src/Components/Server/src/Circuits/RemoteNavigationManager.cs
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Boot.Server.Common.ts
  src/Components/Web.JS/src/Boot.WebAssembly.Common.ts
  src/Components/Web.JS/src/Boot.WebView.ts
  src/Components/Web.JS/src/Platform/WebView/WebViewIpcReceiver.ts
  src/Components/Web.JS/src/Rendering/StreamingRendering.ts
  src/Components/Web.JS/src/Services/NavigationEnhancement.ts
  src/Components/Web.JS/src/Services/NavigationManager.ts
  src/Components/Web.JS/src/Services/NavigationUtils.ts
  src/Components/WebAssembly/WebAssembly/src/Services/IInternalJSImportMethods.cs
  src/Components/WebAssembly/WebAssembly/src/Services/InternalJSImportMethods.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyNavigationInterception.cs
  src/Components/WebAssembly/WebAssembly/src/Services/WebAssemblyNavigationManager.cs
  src/Components/WebAssembly/WebAssembly/test/TestInternalJSImportMethods.cs
  src/Components/test/E2ETest/ServerRenderingTests/EnhancedNavigationTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/EnhancedNav/PageWithLocationChangedComponents.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Shared/EnhancedNavLayout.razor
  src/Components/test/testassets/TestContentPackage/ComponentWithLocationChanged.razor
Labels: Servicing-approved, area-blazor

#51306 [Fix-up] Track indicators of excessive stream resets
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-networking

#51333 Fix streaming SSR timing issue
  src/Components/Endpoints/src/RazorComponentEndpointInvoker.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Streaming.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.cs
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/src/Services/NavigationEnhancement.ts
  src/Components/test/E2ETest/ServerRenderingTests/EnhancedNavigationTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/StreamingRenderingTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/StreamingRendering/VeryBriefStreaming.razor
Labels: Servicing-approved, area-blazor

#51193 Fix handling of default values in RDG
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.SpecialTypes.cs
  src/Shared/RoslynUtils/SymbolExtensions.cs
  src/Testing/src/UseCultureAttribute.cs
Labels: area-minimal

#51362 Quarantine and retry failing tests
  eng/test-configuration.json
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubConnectionTests.cs
Labels: area-signalr

#51403 Fix form actions for apps deployed behind reverse proxy
  src/Components/Web/src/HtmlRendering/StaticHtmlRenderer.HtmlWriting.cs
  src/Components/Web/test/HtmlRendering/HtmlRendererTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
Labels: Servicing-approved, area-blazor

#51418 Update template icons to higher resolution versions
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/icon.png
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/ide/icon.ico
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/icon.png
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/ide/icon.ico
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/ide/Empty.png
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/ide/icon.ico
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/.template.config/ide/Empty.png
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/.template.config/ide/icon.ico
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/ide/gRPC.png
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/.template.config/ide/icon.ico
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/ide/WebApplication.png
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/.template.config/ide/icon.ico
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/ide/WebApplication.png
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.template.config/ide/icon.ico
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/ide/WebAPI.png
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/.template.config/ide/icon.ico
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/.template.config/ide/WebAPI.png
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/.template.config/ide/icon.ico
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApiAot-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApiAot-CSharp/.template.config/ide/API.png
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApiAot-CSharp/.template.config/ide/icon.ico
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/ide/Worker.png
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/.template.config/ide/icon.ico
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/ide/Worker.png
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-FSharp/.template.config/ide/icon.ico
Labels: area-mvc

#51425 Add 8.0 PRs to servicing project
  .github/fabricbot.json
Labels: area-infrastructure

#50481 Add SetBrowserRequestStreamingEnabled extension method
  src/Components/WebAssembly/WebAssembly/src/Http/WebAssemblyHttpRequestMessageExtensions.cs
  src/Components/WebAssembly/WebAssembly/src/PublicAPI.Unshipped.txt
Labels: area-blazor, community-contribution

#51430 Update the Microsoft.IdentityModel.* and Microsoft.Identity.Web.* packages to the latest patch release (7.0.3 & 2.15.2)
  eng/Version.Details.xml
  eng/Versions.props
  src/ProjectTemplates/Web.ProjectTemplates/WebApi-CSharp.csproj.in
Labels: Servicing-approved, area-infrastructure, area-auth

#51479 Update branding to 7.0.14
  eng/Versions.props
Labels: area-infrastructure

#51478 Update branding to 6.0.25
  eng/Versions.props
Labels: area-infrastructure

#51477 Update Weather.razor to simplify [StreamRendering] attribute usage.
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Pages/Weather.razor
Labels: area-mvc

#51378 Use C# 12's collection expressions
  src/Http/Headers/src/MediaTypeHeaderValue.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/HttpConnection.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/HttpUtilities.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/HttpUtilities.cs
  src/Servers/Kestrel/shared/KnownHeaders.cs
  src/Servers/Kestrel/tools/CodeGenerator/HttpUtilities/HttpUtilities.cs
  src/Shared/HttpSys/NativeInterop/HttpSysRequestHeader.cs
  src/Shared/HttpSys/RequestProcessing/RequestHeaders.Generated.cs
  src/Shared/HttpSys/RequestProcessing/RequestHeaders.Generated.tt
  src/Shared/HttpSys/RequestProcessing/RequestHeaders.cs
  src/Shared/UrlDecoder/UrlDecoder.cs
  src/SignalR/common/Http.Connections.Common/src/NegotiateProtocol.cs
Labels: community-contribution, area-networking

#51506 51322: parameterless `AddHttpLogging`
  src/Middleware/HttpLogging/src/HttpLoggingBuilderExtensions.cs
  src/Middleware/HttpLogging/src/HttpLoggingServicesExtensions.cs
  src/Middleware/HttpLogging/src/PublicAPI.Unshipped.txt
  src/Middleware/HttpLogging/src/Resources.resx
  src/Middleware/HttpLogging/test/HttpLoggingServicesExtensionsTests.cs
Labels: community-contribution, area-networking, area-middleware

#51426 Improve MultipartReader performance
  src/Http/WebUtilities/perf/Microbenchmarks/Microsoft.AspNetCore.WebUtilities.Microbenchmarks.csproj
  src/Http/WebUtilities/perf/Microbenchmarks/MultipartReaderBenchmark.cs
  src/Http/WebUtilities/src/BufferedReadStream.cs
  src/Http/WebUtilities/src/MultipartReaderStream.cs
Labels: Perf, area-networking

#51240 Update SDK
  eng/SourceBuildPrebuiltBaseline.xml
  global.json
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Rendering/BrowserRenderer.ts
  src/OpenApi/src/OpenApiGenerator.cs
Labels: area-infrastructure

#51497 Fix Blazor template bug where a logged in user could appear to be unauthenticated
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp.Client/PersistentAuthenticationStateProvider.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/Login.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/LoginWithRecoveryCode.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/Manage/ExternalLogins.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/Manage/Index.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/Register.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/RegisterConfirmation.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/ResendEmailConfirmation.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/ResetPassword.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Shared/AccountLayout.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/App.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Layout/NavMenu.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Pages/Error.razor
Labels: Servicing-approved, area-blazor

#51498 [Component governance] Bump the Azure.Identity dependency
  eng/Dependencies.props
  eng/Versions.props
  src/Caching/SqlServer/src/Microsoft.Extensions.Caching.SqlServer.csproj
Labels: area-infrastructure

#51456 [release/8.0] Remove network.protocol.name from request duration metric
  src/Hosting/Hosting/src/Internal/HostingMetrics.cs
  src/Hosting/Hosting/test/HostingMetricsTests.cs
Labels: Servicing-approved, area-hosting

#51525 [Infrastructure] Add retries to the node install script
  eng/helix/content/InstallNode.ps1
Labels: area-infrastructure

#51494 Remove duplicate .sln from Blazor Web Template WebAssembly and Auto
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Pages/Weather.razor
Labels: Servicing-approved, area-blazor

#51524 [Component governance] Bump the Azure.Identity dependency from dotnet-sql-cache
  src/Tools/dotnet-sql-cache/src/dotnet-sql-cache.csproj
Labels: area-commandlinetools

#51527 [release/8.0] Update Roslyn Versions for .NET 8
  eng/Version.Details.xml
  eng/Versions.props
  src/Http/Http.Extensions/test/RequestDelegateGenerator/CompileTimeIncrementalityTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTestBase.cs
  src/Identity/Core/src/Microsoft.AspNetCore.Identity.csproj
Labels: area-infrastructure, tell-mode

#51591 Helix retry: ChangingUserNameDuringReconnectLogsWarning
  eng/test-configuration.json
Labels: area-infrastructure

#51543 add data-nosnippet attribute to MainLayout razor pages
  src/Components/Samples/BlazorServerApp/Shared/MainLayout.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Layout/MainLayout.razor
Labels: area-blazor, community-contribution

#51567 Use markup for documentation
  src/Http/Http/src/FormFile.cs
Labels: community-contribution, area-networking

#51534 Add table to README with links to nightly builds
  README.md
  docs/DailyBuilds.md
Labels: area-infrastructure

#51621 Add info about nightly builds table, plus .deb/.rpm installers
  README.md
Labels: area-infrastructure

#51582 Fix construction of AsParameters with default constructor
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointParameter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.AsParameters.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/SharedTypes.cs
Labels: area-networking

#51532 [release/8.0] Stabilize versions
  eng/Versions.props
Labels: area-infrastructure

#51645 Fix links in daily builds table
  README.md
Labels: area-infrastructure

#51588 Update SDK to 23523.1
  global.json
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/DotNetDispatcher.cs
  src/JSInterop/Microsoft.JSInterop/src/Microsoft.JSInterop.WarningSuppressions.xml
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
Labels: area-infrastructure

#51668 Unquarantined some HTTP/3 tests
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
Labels: area-networking

#51665 [release/8.0] Fix trimming issue affecting Blazor apps with WebAssembly interactivity
  src/Components/WebAssembly/WebAssembly/src/Services/DefaultWebAssemblyJSRuntime.cs
Labels: Servicing-approved, area-blazor

#51664 Documenting the new help-wanted process
  docs/HelpWantedIssueSummaryCommentTemplate.md
  docs/HelpWantedProcess.md
Labels: area-infrastructure

#51708 Add required first level titles in doc files
  docs/HelpWantedIssueSummaryCommentTemplate.md
  docs/HelpWantedProcess.md
Labels: area-infrastructure

#51710 Disable source index build step
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#51685 Remove extra quote.
  src/Tools/Extensions.ApiDescription.Client/src/buildMultiTargeting/Microsoft.Extensions.ApiDescription.Client.targets
Labels: area-commandlinetools, community-contribution

#51732 Use ArgumentNullException instead null coalescing
  src/Components/Authorization/src/AuthenticationState.cs
Labels: area-blazor, community-contribution

#51706 Fix Navigation for anchor inside <svg> element
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Services/NavigationEnhancement.ts
  src/Components/Web.JS/src/Services/NavigationUtils.ts
  src/Components/test/E2ETest/ServerRenderingTests/EnhancedNavigationTest.cs
  src/Components/test/E2ETest/Tests/RoutingTest.cs
  src/Components/test/testassets/BasicTestApp/RouterTest/AnchorInsideSVGElement.razor
  src/Components/test/testassets/BasicTestApp/RouterTest/Links.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Shared/EnhancedNavLayout.razor
Labels: area-blazor

#51775 Remove selenium-standalone; update Selenium.WebDriver
  eng/Versions.props
  src/Components/test/E2ETest/Infrastructure/AssemblyInfo.AssemblyFixtures.cs
  src/Components/test/E2ETest/package.json
  src/Components/test/E2ETest/scripts/sauce.ts
  src/Components/test/E2ETest/yarn.lock
  src/Shared/E2ETesting/BrowserFixture.cs
  src/Shared/E2ETesting/BrowserTestBase.cs
  src/Shared/E2ETesting/E2ETesting.props
  src/Shared/E2ETesting/E2ETesting.targets
  src/Shared/E2ETesting/SeleniumStandaloneServer.cs
  src/Shared/E2ETesting/selenium-config.json
Labels: area-infrastructure, tell-mode

#51771 Quarantine connection closed test
  src/Servers/Kestrel/test/FunctionalTests/Http2/ShutdownTests.cs
Labels: tell-mode, area-networking

#51761 Update SDK version
  global.json
Labels: area-infrastructure
