Repository dotnet/aspnetcore, pull requests merged in 2024-06, with the labels that each got.

#55948 Add nullable annotation to ResultContext<TOptions>.Result
  src/Security/Authentication/Core/src/Events/ResultContext.cs
  src/Security/Authentication/Core/src/PublicAPI.Unshipped.txt
Labels: community-contribution, area-security

#56010 Bump update-dotnet-sdk action
  .github/workflows/update-sdk.yml
Labels: area-infrastructure, community-contribution

#55940 Add test coverage for generic types
  src/OpenApi/src/Schemas/OpenApiJsonSchema.Helpers.cs
  src/OpenApi/src/Schemas/OpenApiSchemaKeywords.cs
  src/OpenApi/test/Services/OpenApiComponentService/OpenApiComponentService.ResponseSchemas.cs
  src/OpenApi/test/SharedTypes.cs
Labels: area-mvc, feature-openapi, area-minimal

#55811 [release/6.0] Switch to dynamic cert gen for tests
  AspNetCore.sln
  src/Middleware/HttpOverrides/test/CertificateForwardingTest.cs
  src/Middleware/HttpOverrides/test/Microsoft.AspNetCore.HttpOverrides.Tests.csproj
  src/Security/Authentication/test/CertificateTests.cs
  src/Security/Authentication/test/Microsoft.AspNetCore.Authentication.Test.csproj
  src/Shared/test/Certificates/Certificates.cs
  src/Shared/test/Certificates/selfSignedNoEkuCertificateExpired.cer
  src/Shared/test/Certificates/selfSignedNoEkuCertificateNotValidYet.cer
  src/Shared/test/Certificates/validSelfSignedClientEkuCertificate.cer
  src/Shared/test/Certificates/validSelfSignedNoEkuCertificate.cer
  src/Shared/test/Certificates/validSelfSignedPrimaryRootCertificate.cer
  src/Shared/test/Certificates/validSelfSignedServerEkuCertificate.cer
  src/Shared/test/Certificates/validSignedClientCertificate.cer
  src/Shared/test/Certificates/validSignedSecondaryRootCertificate.cer
  src/Testing/src/xunit/SkipOnHelixAttribute.cs
Labels: area-infrastructure, tell-mode

#56070 Update Selenium dependencies
  eng/Versions.props
Labels: area-infrastructure

#56078 Fix milestones for July servicing
  .github/policies/resourceManagement.yml
Labels: area-infrastructure

#56062 Fix SetLockoutEnabledAsync comments
  src/Identity/Extensions.Core/src/UserManager.cs
Labels: area-identity, community-contribution

#56084 Move schema store into service and add schema keys
  src/OpenApi/src/Extensions/OpenApiServiceCollectionExtensions.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaKey.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaService.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaStore.cs
  src/OpenApi/test/Extensions/OpenApiServiceCollectionExtensionsTests.cs
  src/OpenApi/test/Services/OpenApiDocumentServiceTestsBase.cs
  src/OpenApi/test/Services/OpenApiSchemaService/OpenApiComponentService.ParameterSchemas.cs
  src/OpenApi/test/Services/OpenApiSchemaService/OpenApiComponentService.RequestBodySchemas.cs
  src/OpenApi/test/Services/OpenApiSchemaService/OpenApiComponentService.ResponseSchemas.cs
Labels: area-mvc, feature-openapi, area-minimal

#55938 Quarantine the flakiest IIS tests
  src/Servers/IIS/IIS/test/Common.LongTests/ShutdownTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/ClientDisconnectTests.cs
Labels: area-networking

#55919 Update AuthenticationSchemeProvider.cs public constructor summary punctuation
  src/Http/Authentication.Core/src/AuthenticationSchemeProvider.cs
Labels: community-contribution, area-networking

#56091 Unquarantine `HeartbeatLoopRunsWithSpecifiedInterval`
  src/Servers/Kestrel/Core/test/HeartbeatTests.cs
Labels: area-infrastructure

#56097 Set content type for OpenAPI JSON document
  src/OpenApi/src/Extensions/OpenApiEndpointRouteBuilderExtensions.cs
Labels: area-web-frameworks

#56100 Remove references to obsolete storage account variables
  .azure/pipelines/blazor-daily-tests.yml
  .azure/pipelines/signalr-daily-tests.yml
Labels: area-infrastructure

#56101 [release/8.0] Remove references to obsolete storage account variables
  .azure/pipelines/blazor-daily-tests.yml
  .azure/pipelines/signalr-daily-tests.yml
Labels: area-infrastructure

#56102 [release/6.0] Remove references to obsolete storage account variables
  .azure/pipelines/blazor-daily-tests.yml
  .azure/pipelines/signalr-daily-tests.yml
Labels: area-infrastructure

#55955 Retry CanSendAndReceiveUserMessagesFromMultipleConnectionsWithSameUser
  eng/test-configuration.json
Labels: area-infrastructure

#56075 Remove dot that is added to URL
  src/Servers/Kestrel/Core/src/Internal/LoggerExtensions.cs
Labels: community-contribution, area-networking

#56085 Update sdk daily builds table url
  docs/DailyBuilds.md
Labels: area-infrastructure

#54247 Use constant values for CorsPolicy.cs and CorsPolicyBuilder.cs
  src/Middleware/CORS/src/Infrastructure/CorsConstants.cs
  src/Middleware/CORS/src/Infrastructure/CorsPolicy.cs
  src/Middleware/CORS/src/Infrastructure/CorsPolicyBuilder.cs
  src/Middleware/CORS/src/PublicAPI.Unshipped.txt
  src/Middleware/CORS/test/UnitTests/CorsServiceTests.cs
Labels: community-contribution, pending-ci-rerun, area-middleware

#56106 Update Components build and E2E testing instructions
  src/Components/README.md
Labels: area-blazor

#56093 Add support for OpenAPI schema transformers
  src/OpenApi/perf/Microbenchmarks/TransformersBenchmark.cs
  src/OpenApi/src/PublicAPI.Unshipped.txt
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/src/Services/OpenApiOptions.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaService.cs
  src/OpenApi/src/Transformers/OpenApiSchemaTransformerContext.cs
  src/OpenApi/test/Services/OpenApiDocumentServiceTestsBase.cs
  src/OpenApi/test/Transformers/SchemaTransformerTests.cs
Labels: area-mvc, feature-openapi, area-minimal

#56105 Fix Build From Source example
  docs/BuildFromSource.md
Labels: area-infrastructure

#56079 Annotate SignalR client for native AOT
  eng/TrimmableProjects.props
  src/DataProtection/Abstractions/src/Microsoft.AspNetCore.DataProtection.Abstractions.csproj
  src/DataProtection/DataProtection/src/Microsoft.AspNetCore.DataProtection.csproj
  src/DataProtection/Extensions/src/Microsoft.AspNetCore.DataProtection.Extensions.csproj
  src/FileProviders/Embedded/src/Microsoft.Extensions.FileProviders.Embedded.csproj
  src/HealthChecks/HealthChecks/src/Microsoft.Extensions.Diagnostics.HealthChecks.csproj
  src/Identity/Extensions.Core/src/Microsoft.Extensions.Identity.Core.csproj
  src/Identity/Extensions.Stores/src/Microsoft.Extensions.Identity.Stores.csproj
  src/Servers/Connections.Abstractions/src/Microsoft.AspNetCore.Connections.Abstractions.csproj
  src/Shared/CodeAnalysis/DynamicallyAccessedMemberTypes.cs
  src/Shared/CodeAnalysis/DynamicallyAccessedMembersAttribute.cs
  src/Shared/TrimmingAttributes.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client.Core/src/Microsoft.AspNetCore.SignalR.Client.Core.csproj
  src/SignalR/clients/csharp/Client/src/Microsoft.AspNetCore.SignalR.Client.csproj
  src/SignalR/clients/csharp/Http.Connections.Client/src/Microsoft.AspNetCore.Http.Connections.Client.csproj
  src/SignalR/common/Protocols.Json/src/Microsoft.AspNetCore.SignalR.Protocols.Json.csproj
  src/SignalR/common/Protocols.Json/src/Protocol/JsonHubProtocol.cs
  src/SignalR/common/Shared/ReflectionHelper.cs
Labels: area-signalr, NativeAOT

#56123 Don't require latest runtime patch for Blazor DevServer
  eng/Versions.props
  src/Components/WebAssembly/DevServer/src/Microsoft.AspNetCore.Components.WebAssembly.DevServer.csproj
  src/Components/WebAssembly/DevServer/src/blazor-devserver.runtimeconfig.json.in
  src/Middleware/ConcurrencyLimiter/sample/ConcurrencyLimiterSample.csproj
  src/Mvc/perf/benchmarkapps/BasicApi/BasicApi.csproj
  src/ProjectTemplates/GenerateContent.targets
  src/SiteExtensions/Sdk/SiteExtension.targets
Labels: area-infrastructure

#56116 ASP0022 - Fix false positive for groups without using intermediate variables
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/DetectAmbiguousRoutes.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteHandlers/DetectAmbiguousMappedRoutesTest.cs
Labels: area-infrastructure, community-contribution

#55858 Unquarantine HtmlGenerationWithCultureTest.CacheTagHelper_VaryByCultureComposesWithOtherVaryByOptions
  src/Mvc/test/Mvc.FunctionalTests/HtmlGenerationWithCultureTest.cs
Labels: area-mvc, pending-ci-rerun

#56187 [Infrastructure] Update the dependency management script to automatically install vsts-npm-auth and provision a PAT
  eng/scripts/update-npm-dependencies.ps1
Labels: area-infrastructure

#56192 Fix bullet points in components README
  src/Components/README.md
Labels: area-blazor

#56197 Exclude artifacts & .packages folders from CodeQL scans
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#56210 Update JDK
  global.json
Labels: area-infrastructure

#56214 [release/6.0] Remove unneeded publish args
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#56206 Use new System.Net.ServerSentEvents package in SignalR
  eng/Dependencies.props
  eng/Version.Details.xml
  eng/Versions.props
  src/SignalR/clients/csharp/Client/test/UnitTests/ServerSentEventsParserTests.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/ServerSentEventsTransportTests.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/ServerSentEventsMessageParser.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/ServerSentEventsTransport.Log.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/ServerSentEventsTransport.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Microsoft.AspNetCore.Http.Connections.Client.csproj
  src/SignalR/perf/Microbenchmarks/ServerSentEventsBenchmark.cs
Labels: area-signalr

#56211 Use 11.x version of JDK
  global.json
Labels: area-infrastructure

#56132 text fix: 'There' -> 'their' plus minor tweaks
  src/DefaultBuilder/src/WebApplicationBuilder.cs
Labels: community-contribution, area-networking

#56219 Add support for processing DefaultValueAttribute in OpenApi schemas
  src/OpenApi/src/Extensions/JsonObjectSchemaExtensions.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaService.cs
  src/OpenApi/test/Services/OpenApiSchemaService/OpenApiComponentService.ParameterSchemas.cs
  src/OpenApi/test/Services/OpenApiSchemaService/OpenApiComponentService.RequestBodySchemas.cs
  src/OpenApi/test/Services/OpenApiSchemaService/OpenApiComponentService.ResponseSchemas.cs
  src/OpenApi/test/SharedTypes.cs
Labels: area-mvc

#56225 Add support for processing RequiredAttribute on OpenApi schemas
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaService.cs
  src/OpenApi/test/Services/OpenApiSchemaService/OpenApiComponentService.ParameterSchemas.cs
  src/OpenApi/test/Services/OpenApiSchemaService/OpenApiComponentService.RequestBodySchemas.cs
  src/OpenApi/test/Services/OpenApiSchemaService/OpenApiComponentService.ResponseSchemas.cs
  src/OpenApi/test/SharedTypes.cs
Labels: area-mvc, area-minimal

#55963 Add codefixer and completion provider to install OpenAPI package from extension methods
  src/Analyzers/Microsoft.AspNetCore.Analyzer.Testing/src/DiagnosticProject.cs
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/Dependencies/AddPackageFixer.cs
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/Dependencies/ExtensionMethodsCache.cs
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/Dependencies/ExtensionMethodsCompletionProvider.cs
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/Dependencies/PackageSourceAndNamespace.cs
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/Dependencies/ThisAndExtensionMethod.cs
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/Microsoft.AspNetCore.App.CodeFixes.csproj
  src/Framework/AspNetCoreAnalyzers/test/Dependencies/AddPackageTests.cs
  src/Framework/AspNetCoreAnalyzers/test/Dependencies/ExtensionMethodsCompletionProviderTests.cs
  src/Framework/AspNetCoreAnalyzers/test/TestDiagnosticAnalyzer.cs
  src/Shared/RoslynUtils/WellKnownTypeData.cs
Labels: area-mvc, feature-openapi, area-minimal

#55945 Remove redundant check
  src/Components/Web.JS/src/Boot.Server.Common.ts
Labels: area-blazor, community-contribution, pending-ci-rerun

#56263 [Blazor] Rename ComponentPlatform to RendererInfo
  src/Components/Components/src/ComponentBase.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/RenderHandle.cs
  src/Components/Components/src/RenderTree/ComponentPlatform.cs
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Components/src/RenderTree/RendererInfo.cs
  src/Components/Server/src/Circuits/RemoteRenderer.cs
  src/Components/Web/src/HtmlRendering/StaticHtmlRenderer.cs
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/WebAssembly/src/Rendering/WebAssemblyRenderer.cs
  src/Components/WebView/WebView/src/Services/WebViewRenderer.cs
  src/Components/test/testassets/TestContentPackage/CascadingAuthenticationStateReader.razor
  src/Components/test/testassets/TestContentPackage/ComponentPlatformDetails.razor
  src/Components/test/testassets/TestContentPackage/ResourceCollectionSample.razor
Labels: area-blazor

#56196 Improve doc in IAuthenticationHandler
  src/Http/Authentication.Abstractions/src/IAuthenticationHandler.cs
Labels: area-networking

#56278 Use exact runtime for non-servicing builds of Blazor DevServer
  src/Components/WebAssembly/DevServer/src/Microsoft.AspNetCore.Components.WebAssembly.DevServer.csproj
  src/Components/WebAssembly/DevServer/src/blazor-devserver.runtimeconfig.json.in
Labels: area-infrastructure

#56175 Add support for reference-based schemas in OpenAPI document
  src/OpenApi/perf/Microbenchmarks/OpenApiSchemaComparerBenchmark.cs
  src/OpenApi/sample/Controllers/TestController.cs
  src/OpenApi/sample/Program.cs
  src/OpenApi/src/Comparers/OpenApiAnyComparer.cs
  src/OpenApi/src/Comparers/OpenApiDiscriminatorComparer.cs
  src/OpenApi/src/Comparers/OpenApiExternalDocsComparer.cs
  src/OpenApi/src/Comparers/OpenApiReferenceComparer.cs
  src/OpenApi/src/Comparers/OpenApiSchemaComparer.cs
  src/OpenApi/src/Comparers/OpenApiTagComparer.cs
  src/OpenApi/src/Comparers/OpenApiXmlComparer.cs
  src/OpenApi/src/Extensions/JsonObjectSchemaExtensions.cs
  src/OpenApi/src/Extensions/JsonTypeInfoExtensions.cs
  src/OpenApi/src/Schemas/OpenApiJsonSchema.Helpers.cs
  src/OpenApi/src/Schemas/OpenApiSchemaKeywords.cs
  src/OpenApi/src/Services/OpenApiConstants.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaService.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaStore.cs
  src/OpenApi/src/Transformers/Implementations/OpenApiSchemaReferenceTransformer.cs
  src/OpenApi/src/Transformers/Implementations/ScrubExtensionsTransformer.cs
  src/OpenApi/test/Comparers/OpenApiAnyComparerTests.cs
  src/OpenApi/test/Comparers/OpenApiDiscriminatorComparerTests.cs
  src/OpenApi/test/Comparers/OpenApiExternalDocsComparerTests.cs
  src/OpenApi/test/Comparers/OpenApiReferenceComparerTests.cs
  src/OpenApi/test/Comparers/OpenApiSchemaComparerTests.cs
  src/OpenApi/test/Comparers/OpenApiXmlComparerTests.cs
  src/OpenApi/test/Extensions/JsonTypeInfoExtensionsTests.cs
  src/OpenApi/test/Integration/OpenApiDocumentIntegrationTests.cs
  src/OpenApi/test/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=controllers.verified.txt
  src/OpenApi/test/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=forms.verified.txt
  src/OpenApi/test/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=responses.verified.txt
  src/OpenApi/test/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=schemas-by-ref.verified.txt
  src/OpenApi/test/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=v1.verified.txt
  src/OpenApi/test/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=v2.verified.txt
  src/OpenApi/test/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.RequestBody.cs
  src/OpenApi/test/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.Responses.cs
  src/OpenApi/test/Services/OpenApiSchemaService/OpenApiComponentService.RequestBodySchemas.cs
  src/OpenApi/test/Services/OpenApiSchemaService/OpenApiComponentService.ResponseSchemas.cs
  src/OpenApi/test/SharedTypes.cs
  src/OpenApi/test/Transformers/Implementations/OpenApiSchemaReferenceTransformerTests.cs
  src/OpenApi/test/Transformers/SchemaTransformerTests.cs
Labels: area-mvc, feature-openapi, area-minimal

#56308 Work around auth issues with new internal source changes
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#56316 Add mapping for .mjs files
  src/Components/WebAssembly/Server/src/ComponentsWebAssemblyApplicationBuilderExtensions.cs
Labels: area-blazor

#56244 Warn when [Authorize] is overridden by [AllowAnymous] from "farther" away
  src/Framework/AspNetCoreAnalyzers/samples/WebAppSample/WebAppSample.csproj
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DiagnosticDescriptors.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Mvc/DetectOverriddenAuthorizeAttribute.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Mvc/MvcAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Resources.resx
  src/Framework/AspNetCoreAnalyzers/test/Mvc/DetectOverriddenAuthorizeAttributeTest.cs
  src/Shared/Roslyn/CodeAnalysisExtensions.cs
  src/Shared/RoslynUtils/WellKnownTypeData.cs
Labels: area-infrastructure

#56333 [Blazor] Fix WebAssembly trimming issue
  src/Components/Shared/src/ResourceCollectionProvider.cs
Labels: area-blazor

#56292 Skip some Razor build tests to observe effect on test runner
  src/Mvc/test/Mvc.FunctionalTests/RazorBuildTest.cs
  src/Testing/src/xunit/HelixConstants.cs
Labels: area-mvc

#56122 SE.Redis DC backend / HybridCache : add net8.0 TFM
  docs/UpdatingMajorVersionAndTFM.md
  eng/Versions.props
  src/Caching/Hybrid/src/Microsoft.Extensions.Caching.Hybrid.csproj
  src/Caching/StackExchangeRedis/src/Microsoft.Extensions.Caching.StackExchangeRedis.csproj
  src/Caching/StackExchangeRedis/src/PublicAPI/net8.0/PublicAPI.Shipped.txt
  src/Caching/StackExchangeRedis/src/PublicAPI/net8.0/PublicAPI.Unshipped.txt
Labels: area-infrastructure, feature-caching, pending-ci-rerun

#56330 Re-plat on JsonExporter APIs and remove JsonSchemaMapper prototype
  src/OpenApi/src/Extensions/JsonNodeSchemaExtensions.cs
  src/OpenApi/src/Schemas/JsonSchemaMapper/JsonSchemaGenerationContext.cs
  src/OpenApi/src/Schemas/JsonSchemaMapper/JsonSchemaMapper.ReflectionHelpers.cs
  src/OpenApi/src/Schemas/JsonSchemaMapper/JsonSchemaMapper.cs
  src/OpenApi/src/Schemas/JsonSchemaMapper/JsonSchemaMapperConfiguration.cs
  src/OpenApi/src/Schemas/JsonSchemaMapper/NullabilityInfo.cs
  src/OpenApi/src/Schemas/JsonSchemaMapper/NullabilityInfoContext.cs
  src/OpenApi/src/Schemas/JsonSchemaMapper/NullabilityInfoHelpers.cs
  src/OpenApi/src/Schemas/JsonSchemaMapper/ReferenceTypeNullability.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaService.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaStore.cs
  src/OpenApi/test/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=responses.verified.txt
  src/OpenApi/test/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=schemas-by-ref.verified.txt
  src/OpenApi/test/Services/OpenApiSchemaService/OpenApiComponentService.ParameterSchemas.cs
  src/OpenApi/test/Services/OpenApiSchemaService/OpenApiComponentService.RequestBodySchemas.cs
Labels: area-mvc, feature-openapi, area-minimal

#55984 Fix urls in ProjectTemplates/README
  src/ProjectTemplates/README.md
Labels: area-mvc, pending-ci-rerun

#56350 Update milestones for August
  .github/policies/resourceManagement.yml
Labels: area-infrastructure

#56352 Update branding to preview7
  .github/policies/resourceManagement.yml
  eng/Versions.props
Labels: area-infrastructure

#56360 Remove incorrect suppressions from AwaitableInfo
  src/Shared/ObjectMethodExecutor/AwaitableInfo.cs
  src/Shared/ObjectMethodExecutor/CoercedAwaitableInfo.cs
  src/Shared/ObjectMethodExecutor/ObjectMethodExecutorFSharpSupport.cs
Labels: area-mvc

#51464 Use IProblemDetailService in ValidationProblem
  src/Http/Http.Results/src/ValidationProblem.cs
  src/Http/Http.Results/test/ProblemResultTests.cs
  src/Http/Http.Results/test/ValidationProblemResultTests.cs
Labels: community-contribution, pending-ci-rerun, area-networking

#56332 Fix check for form parameters that don't need complex binding in RDG
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointParameter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/CompileTimeCreationTests.cs
Labels: feature-rdg, area-minimal

#56343 Revert "Skip some Razor build tests to observe effect on test runner"
  src/Mvc/test/Mvc.FunctionalTests/RazorBuildTest.cs
  src/Testing/src/xunit/HelixConstants.cs
Labels: area-mvc

#56291 Skip Templates.Mvc.Tests in Helix on Debian12 and Mariner
  src/ProjectTemplates/test/Templates.Mvc.Tests/Templates.Mvc.Tests.csproj
Labels: area-mvc

#56455 Only enable SwaggerUI in development
  src/Grpc/JsonTranscoding/test/testassets/Sandbox/Startup.cs
Labels: area-grpc

#55595 Use JSON source generator in WebApplicationFactory
  src/Mvc/Mvc.Testing/src/WebApplicationFactory.cs
Labels: area-mvc, community-contribution

#56246 Quarantine RunAsync_CanFilterHealthChecks
  src/HealthChecks/HealthChecks/test/HealthCheckPublisherHostedServiceTest.cs
Labels: area-healthchecks

#56466 Set OpenAPI discriminators for JSON polymorphic types
  src/OpenApi/sample/Program.cs
  src/OpenApi/sample/Sample.csproj
  src/OpenApi/src/Extensions/JsonNodeSchemaExtensions.cs
  src/OpenApi/src/Schemas/OpenApiJsonSchema.Helpers.cs
  src/OpenApi/src/Schemas/OpenApiSchemaKeywords.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaService.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaStore.cs
  src/OpenApi/test/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=responses.verified.txt
  src/OpenApi/test/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=schemas-by-ref.verified.txt
  src/OpenApi/test/Services/OpenApiSchemaService/OpenApiSchemaService.ParameterSchemas.cs
  src/OpenApi/test/Services/OpenApiSchemaService/OpenApiSchemaService.PolymorphicSchemas.cs
  src/OpenApi/test/Services/OpenApiSchemaService/OpenApiSchemaService.RequestBodySchemas.cs
  src/OpenApi/test/Services/OpenApiSchemaService/OpenApiSchemaService.ResponseSchemas.cs
  src/OpenApi/test/Shared/SharedTypes.Polymorphism.cs
  src/OpenApi/test/Shared/SharedTypes.cs
Labels: area-mvc, feature-openapi, area-minimal

#55341 Set the baggage even when the trace id is not successfully extracted
  src/Hosting/Hosting/src/Internal/HostingApplicationDiagnostics.cs
  src/Hosting/Hosting/test/HostingApplicationDiagnosticsTests.cs
Labels: community-contribution, area-networking

#55347 Add support for updatedTypes in metadata updates
  src/Components/Web.JS/src/Boot.WebAssembly.Common.ts
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/WebAssembly/WebAssembly/src/HotReload/WebAssemblyHotReload.cs
  src/Components/WebAssembly/WebAssembly/src/PublicAPI.Unshipped.txt
Labels: area-blazor

#56489 Remove IIS launch profiles from templates
  src/ProjectTemplates/Shared/BlazorTemplateTest.cs
  src/ProjectTemplates/Shared/Project.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-FSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-FSharp/Properties/launchSettings.json
  src/ProjectTemplates/test/Templates.Mvc.Tests/BlazorTemplateTest.cs
  src/ProjectTemplates/test/Templates.Mvc.Tests/MvcTemplateTest.cs
  src/ProjectTemplates/test/Templates.Mvc.Tests/RazorPagesTemplateTest.cs
  src/ProjectTemplates/test/Templates.Mvc.Tests/WebApiTemplateTest.cs
  src/ProjectTemplates/test/Templates.Tests/EmptyWebTemplateTest.cs
Labels: area-mvc

#56500 Annotate histograms with bucket boundaries
  src/Hosting/Hosting/src/Internal/HostingMetrics.cs
  src/Hosting/Hosting/src/Microsoft.AspNetCore.Hosting.csproj
  src/Middleware/RateLimiting/src/Microsoft.AspNetCore.RateLimiting.csproj
  src/Middleware/RateLimiting/src/RateLimitingMetrics.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelMetrics.cs
  src/Servers/Kestrel/Core/src/Microsoft.AspNetCore.Server.Kestrel.Core.csproj
  src/Shared/Metrics/MetricsConstants.cs
  src/SignalR/common/Http.Connections/src/Internal/HttpConnectionsMetrics.cs
  src/SignalR/common/Http.Connections/src/Microsoft.AspNetCore.Http.Connections.csproj
Labels: area-networking
