Repository dotnet/aspnetcore, pull requests merged in 2024-05, with the labels that each got.

#55452 Don't publish version files in codesign jobs
  .azure/pipelines/jobs/codesign-xplat.yml
  eng/Publishing.props
Labels: area-infrastructure

#55444 Update Selenium
  eng/Versions.props
  src/Components/benchmarkapps/Wasm.Performance/dockerfile
Labels: area-infrastructure

#55460 Switch off of -pt images
  .azure/pipelines/ci.yml
  .azure/pipelines/signalr-daily-tests.yml
Labels: area-infrastructure

#55459 Exclude tests from CodeQL
  .CodeQL.yml
  .azure/pipelines/signalr-daily-tests.yml
Labels: area-infrastructure

#55469 Use incoming ILLinkPackVersion
  eng/tools/GenerateFiles/Directory.Build.targets.in
Labels: area-infrastructure

#55479 Set default devcontainer to 8 cores
  .devcontainer/devcontainer.json
Labels: area-infrastructure, community-contribution

#55475 Quarantine MultipleCallsShareExecution_MostCancel
  src/Caching/Hybrid/test/StampedeTests.cs
Labels: area-networking

#55470 Update branding to 6.0.31
  eng/Versions.props
Labels: area-infrastructure

#55472 Update branding to 8.0.6
  eng/Versions.props
Labels: area-infrastructure

#55489 Update milestones for June
  .github/policies/resourceManagement.yml
Labels: area-infrastructure

#55301 [release/8.0] Fix duplicate error.type tags in metrics
  src/Hosting/Hosting/src/Internal/HostingMetrics.cs
  src/Hosting/Hosting/src/Microsoft.AspNetCore.Hosting.csproj
  src/Middleware/Diagnostics/src/DiagnosticsTelemetry.cs
  src/Middleware/Diagnostics/src/Microsoft.AspNetCore.Diagnostics.csproj
  src/Middleware/Diagnostics/test/FunctionalTests/ExceptionHandlerSampleTest.cs
  src/Middleware/Diagnostics/test/UnitTests/ExceptionHandlerTest.cs
  src/Middleware/Diagnostics/test/testassets/ExceptionHandlerSample/ExceptionHandlerSample.csproj
  src/Middleware/Diagnostics/test/testassets/ExceptionHandlerSample/StartupWithWebSocket.cs
  src/Shared/Metrics/MetricsExtensions.cs
Labels: Servicing-approved, area-hosting

#55348 Add a key management simulator for data protection
  AspNetCore.sln
  src/DataProtection/DataProtection.slnf
  src/DataProtection/DataProtection/src/KeyManagement/KeyRing.cs
  src/DataProtection/DataProtection/src/KeyManagement/KeyRingProvider.cs
  src/DataProtection/DataProtection/src/KeyManagement/XmlKeyManager.cs
  src/DataProtection/DataProtection/src/Microsoft.AspNetCore.DataProtection.csproj
  src/DataProtection/samples/KeyManagementSimulator/KeyManagementSimulator.csproj
  src/DataProtection/samples/KeyManagementSimulator/Program.cs
Labels: area-dataprotection

#55495 Remove triggers for release/7.0
  .azure/pipelines/helix-matrix.yml
  .github/dependabot.yml
  .github/policies/resourceManagement.yml
Labels: area-infrastructure

#55500 Add internal pipeline for IdentityModel nightlies
  .azure/pipelines/helix-matrix.yml
  .azure/pipelines/identitymodel-helix-matrix.yml
  eng/scripts/SetupIdentitySources.ps1
Labels: area-infrastructure

#55282 [H/3] Fix code passed into QuicConnection.CloseAsync and QuicStream.Abort
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionContext.FeatureCollection.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.FeatureCollection.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs
  src/Servers/Kestrel/Transport.Quic/src/QuicTransportOptions.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicConnectionContextTests.cs
  src/Servers/Kestrel/Transport.Quic/test/QuicStreamContextTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
Labels: area-networking

#55494 Set status code on CreatedResult types
  src/Mvc/Mvc.Core/src/CreatedResult.cs
  src/Mvc/Mvc.Core/test/CreatedResultTests.cs
Labels: area-mvc

#55482 Fix generating XML doc comments for query parameters in gRPC JSON transcoding
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.Swagger/Internal/GrpcJsonTranscodingDescriptionProvider.cs
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/Proto/xmldoc.proto
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/XmlComments/XmlDocumentationIntegrationTests.cs
Labels: area-grpc

#55505 1es-ify IdentityModel test pipeline
  .azure/pipelines/identitymodel-helix-matrix.yml
Labels: area-infrastructure

#55465 Enable trimming for OpenAPI package
  eng/TrimmableProjects.props
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointParameter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/CompileTimeCreationTests.cs
  src/OpenApi/sample/Controllers/TestController.cs
  src/OpenApi/sample/Program.cs
  src/OpenApi/sample/Sample.csproj
  src/OpenApi/src/Extensions/JsonObjectSchemaExtensions.cs
  src/OpenApi/src/Extensions/OpenApiEndpointConventionBuilderExtensions.cs
  src/OpenApi/src/Extensions/OpenApiServiceCollectionExtensions.cs
  src/OpenApi/src/Microsoft.AspNetCore.OpenApi.csproj
  src/OpenApi/src/Schemas/OpenApiJsonSchema.Helpers.cs
  src/OpenApi/src/Schemas/OpenApiJsonSchemaContext.cs
  src/OpenApi/src/Schemas/OpenApiSchemaJsonOptions.cs
  src/OpenApi/src/Services/OpenApiComponentService.cs
  src/OpenApi/src/Services/OpenApiGenerator.cs
  src/OpenApi/src/Transformers/TypeBasedOpenApiDocumentTransformer.cs
  src/OpenApi/test/Extensions/OpenApiEndpointRouteBuilderExtensionsTests.cs
Labels: area-mvc, feature-openapi, area-minimal

#55527 Fix IdentityModel pipeline
  .azure/pipelines/identitymodel-helix-matrix.yml
  Directory.Build.props
  eng/Versions.props
  eng/helix/helix.proj
  eng/scripts/SetupIdentitySources.ps1
  eng/targets/Helix.targets
  src/ProjectTemplates/test/Templates.Blazor.Tests/Templates.Blazor.Tests.csproj
  src/ProjectTemplates/test/Templates.Blazor.WebAssembly.Auth.Tests/Templates.Blazor.WebAssembly.Auth.Tests.csproj
  src/ProjectTemplates/test/Templates.Blazor.WebAssembly.Tests/Templates.Blazor.WebAssembly.Tests.csproj
  src/ProjectTemplates/test/Templates.Mvc.Tests/Templates.Mvc.Tests.csproj
  src/ProjectTemplates/test/Templates.Tests/Templates.Tests.csproj
Labels: area-infrastructure

#55504 [release/8.0] Add internal pipeline to test IdentityModel nightlies
  .azure/pipelines/helix-matrix.yml
  .azure/pipelines/identitymodel-helix-matrix.yml
  Directory.Build.props
  eng/Versions.props
  eng/helix/helix.proj
  eng/scripts/SetupIdentitySources.ps1
  eng/targets/Helix.targets
  src/ProjectTemplates/test/Templates.Blazor.Tests/Templates.Blazor.Tests.csproj
  src/ProjectTemplates/test/Templates.Blazor.WebAssembly.Auth.Tests/Templates.Blazor.WebAssembly.Auth.Tests.csproj
  src/ProjectTemplates/test/Templates.Blazor.WebAssembly.Tests/Templates.Blazor.WebAssembly.Tests.csproj
  src/ProjectTemplates/test/Templates.Mvc.Tests/Templates.Mvc.Tests.csproj
  src/ProjectTemplates/test/Templates.Tests/Templates.Tests.csproj
Labels: area-infrastructure, tell-mode

#55170 Ensure OutputCaching generates a documentation file
  src/Middleware/OutputCaching/src/IOutputCacheBufferStore.cs
  src/Middleware/OutputCaching/src/IOutputCachePolicy.cs
  src/Middleware/OutputCaching/src/Microsoft.AspNetCore.OutputCaching.csproj
  src/Middleware/OutputCaching/src/OutputCacheContext.cs
  src/Middleware/OutputCaching/src/OutputCacheEntryFormatter.cs
  src/Middleware/OutputCaching/src/OutputCachePolicyBuilder.cs
  src/Middleware/OutputCaching/src/Policies/OutputCacheConventionBuilderExtensions.cs
Labels: area-middleware

#55304 Bump System.Security.Cryptography.Xml version to address CVE-2023-29331
  eng/Versions.props
  eng/tools/RepoTasks/RepoTasks.csproj
Labels: area-infrastructure, pending-ci-rerun

#55572 Update InternalServerError.cs
  src/Http/Http.Results/src/InternalServerError.cs
Labels: area-networking

#55547 Fix typo in IUserClaimStore.cs
  src/Identity/Extensions.Core/src/IUserClaimStore.cs
Labels: area-identity, community-contribution

#55604 [Blazor] Avoid validating antiforgery for non form data content types
  src/Components/Endpoints/src/RazorComponentEndpointInvoker.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Streaming.cs
  src/Components/Endpoints/test/RazorComponentEndpointInvokerTest.cs
Labels: area-blazor

#55619 Fix typos in multiple files of docs
  docs/ReleasePlanning.md
  docs/Servicing.md
  docs/TriageProcess.md
Labels: area-infrastructure, community-contribution

#55343 Use built-in OpenAPI support in templates
  src/ProjectTemplates/Web.ProjectTemplates/Microsoft.DotNet.Web.ProjectTemplates.csproj
  src/ProjectTemplates/Web.ProjectTemplates/WebApi-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Program.MinimalAPIs.OrgOrIndividualB2CAuth.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Program.MinimalAPIs.WindowsOrNoAuth.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Program.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Properties/launchSettings.json
  src/ProjectTemplates/test/Templates.Mvc.Tests/WebApiTemplateTest.cs
Labels: area-mvc, feature-openapi, area-minimal

#54841 Quarantine CanResetSharedKey
  src/Identity/test/Identity.FunctionalTests/MapIdentityApiTests.cs
Labels: area-identity, pending-ci-rerun

#55603 Fix flaky CanRenderComponentWithPersistedState test variations
  src/Components/test/E2ETest/Tests/StatePersistenceTest.cs
  src/Components/test/testassets/BasicTestApp/wwwroot/JSInitializers/Modern/BasicTestApp.lib.module.js
  src/Components/test/testassets/Components.TestServer/RazorComponents/App.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/PersistentState/PageWithoutComponents.razor
  src/Components/test/testassets/TestContentPackage/PersistentComponents/NonStreamingComponentWithPersistentState.razor
Labels: area-blazor

#55229 Revert "Remove __non_webpack_require__ workaround and split Node dependencies correctly (#48154)"
  src/SignalR/clients/ts/signalr/package.json
  src/SignalR/clients/ts/signalr/src/DynamicImports.browser.ts
  src/SignalR/clients/ts/signalr/src/DynamicImports.ts
  src/SignalR/clients/ts/signalr/src/FetchHttpClient.ts
  src/SignalR/clients/ts/signalr/src/HttpConnection.ts
Labels: Servicing-approved, area-signalr

#55577 [Blazor] Add an API to describe the render mode (if any) a component is running in
  src/Components/Components/src/ComponentBase.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/RenderHandle.cs
  src/Components/Components/src/RenderTree/ComponentPlatform.cs
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Server/src/Circuits/RemoteRenderer.cs
  src/Components/Web/src/HtmlRendering/StaticHtmlRenderer.cs
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/WebAssembly/src/Rendering/WebAssemblyRenderer.cs
  src/Components/WebView/WebView/src/Services/WebViewRenderer.cs
  src/Components/benchmarkapps/Wasm.Performance/ConsoleHost/Scenarios/GridScenario.cs
  src/Components/benchmarkapps/Wasm.Performance/TestApp/Pages/GridRendering.razor
  src/Components/test/E2ETest/Tests/InteractiveHostRendermodeTest.cs
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/ComponentPlatform.razor
  src/Components/test/testassets/TestContentPackage/ComponentPlatformDetails.razor
Labels: area-blazor

#55713 Merging internal commits for release/8.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs
Labels: area-infrastructure

#55715 Merging internal commits for release/6.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure

#55738 Fix Abort Lock
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs
Labels: area-networking

#55739 Undo RemoveSharedFrameworkDependencies workaround
  eng/tools/RepoTasks/RemoveSharedFrameworkDependencies.cs
Labels: area-infrastructure

#55463 [release/2.1] Stop using -pt images
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure, pending-ci-rerun

#55271 Adding accept header to callsites within SignalR
  src/SignalR/clients/csharp/Client/test/UnitTests/HttpConnectionTests.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/LongPollingTransportTests.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/SendUtilsTests.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/ServerSentEventsTransportTests.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnection.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/LongPollingTransport.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/SendUtils.cs
Labels: area-signalr, community-contribution

#55744 Unquarantine `LocationChangingHandlers_CannotCancelTheNavigationAsynchronously_UntilReturning`
  src/Components/Components/test/NavigationManagerTest.cs
Labels: area-infrastructure, area-blazor

#55290 Delete flaky test MultipleThreadsForceRefresh
  src/DataProtection/DataProtection/test/Microsoft.AspNetCore.DataProtection.Tests/KeyManagement/KeyRingProviderTests.cs
Labels: area-dataprotection

#55732 Fixup `HybridCache` public API
  src/Caching/Hybrid/src/HybridCacheBuilderExtensions.cs
  src/Caching/Hybrid/src/HybridCacheServiceExtensions.cs
  src/Caching/Hybrid/src/Internal/DefaultHybridCache.cs
  src/Caching/Hybrid/src/PublicAPI.Unshipped.txt
  src/Caching/Hybrid/src/Runtime/HybridCache.cs
  src/Caching/Hybrid/test/BufferReleaseTests.cs
  src/Caching/Hybrid/test/L2Tests.cs
  src/Caching/Hybrid/test/ServiceConstructionTests.cs
Labels: feature-caching, area-networking

#55680 Add .NET 9 nightly NuGet feed and remove .NET 7
  docs/DailyBuilds.md
Labels: area-infrastructure, community-contribution

#55747 Fix minor issues in `[Typed]Results` docs
  src/Http/Http.Results/src/Results.cs
  src/Http/Http.Results/src/TypedResults.cs
Labels: community-contribution, area-networking

#55524 Use DisposeAsync in FileStreamResultExecutor
  src/Mvc/Mvc.Core/src/Infrastructure/FileStreamResultExecutor.cs
  src/Mvc/Mvc.Core/test/Infrastructure/FileStreamResultExecutorTest.cs
  src/Shared/ResultsHelpers/FileResultHelper.cs
Labels: area-mvc, community-contribution

#55666 Make DefaultProblemDetailsFactory public
  src/Mvc/Mvc.Core/src/Infrastructure/DefaultProblemDetailsFactory.cs
  src/Mvc/Mvc.Core/src/PublicAPI.Unshipped.txt
Labels: area-mvc, community-contribution

#55724 Use span.Equals instead of string.Compare in JumpTables
  src/Http/Routing/src/Matching/LinearSearchJumpTable.cs
  src/Http/Routing/src/Matching/SingleEntryJumpTable.cs
Labels: Perf, community-contribution, area-routing

#55759 Update branding to 8.0.7
  eng/Versions.props
Labels: area-infrastructure

#55812 Comment out selenium/standalone-chrome container images.
  src/Components/benchmarkapps/Wasm.Performance/dockerfile
  src/Components/benchmarkapps/Wasm.Performance/local.dockerfile
Labels: area-infrastructure, area-blazor

#55814 Add default rules for setting operation ID
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/test/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.Operations.cs
  src/OpenApi/test/Services/OpenApiDocumentServiceTestsBase.cs
Labels: area-mvc, feature-openapi, area-minimal

#55090 Switch to dnceng pool for SDL tasks
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#55821 Build in AuthenticationStateProviders from project templates
  src/Components/Authorization/src/AuthenticationStateData.cs
  src/Components/Authorization/src/IHostEnvironmentAuthenticationStateProvider.cs
  src/Components/Authorization/src/PublicAPI.Unshipped.txt
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsServiceCollectionExtensions.cs
  src/Components/Endpoints/src/DependencyInjection/ServerAuthenticationStateProvider.cs
  src/Components/Endpoints/src/PublicAPI.Unshipped.txt
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.cs
  src/Components/Server/src/Properties/AssemblyInfo.cs
  src/Components/Server/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/Server/src/AuthenticationStateSerializationOptions.cs
  src/Components/WebAssembly/Server/src/AuthenticationStateSerializer.cs
  src/Components/WebAssembly/Server/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/Server/src/WebAssemblyRazorComponentsBuilderExtensions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Options/AuthenticationStateDeserializationOptions.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/AccessTokenNotAvailableException.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/DeserializedAuthenticationStateProvider.cs
  src/Components/WebAssembly/WebAssembly.Authentication/src/WebAssemblyAuthenticationServiceCollectionExtensions.cs
  src/Components/test/E2ETest/ServerRenderingTests/AuthTests/DefaultAuthenticationStateSerializationOptionsTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/AuthTests/ServerRenderedAuthenticationStateTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/NoInteractivityTest.cs
  src/Components/test/testassets/BasicTestApp/AuthTest/CascadingAuthenticationStateConsumer.razor
  src/Components/test/testassets/Components.TestServer/RazorComponentEndpointsNoInteractivityStartup.cs
  src/Components/test/testassets/Components.TestServer/RazorComponentEndpointsStartup.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/App.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Auth/InteractiveAuthenticationState.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Auth/ServerInteractiveAuthenticationState.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Auth/StaticAuthenticationState.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Auth/WebAssemblyInteractiveAuthenticationState.razor
  src/Components/test/testassets/Components.WasmMinimal/Components.WasmMinimal.csproj
  src/Components/test/testassets/Components.WasmMinimal/Program.cs
  src/Components/test/testassets/TestContentPackage/CascadingAuthenticationStateReader.razor
  src/Components/test/testassets/TestContentPackage/TestContentPackage.csproj
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp.Client/PersistentAuthenticationStateProvider.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp.Client/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp.Client/Program.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp.Client/UserInfo.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/PersistingRevalidatingAuthenticationStateProvider.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/PersistingServerAuthenticationStateProvider.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Program.cs
  src/ProjectTemplates/test/Templates.Tests/template-baselines.json
Labels: area-blazor

#55823 Support passing OpenAPI spec version and document name via dotnet-getdocument
  AspNetCore.sln
  src/OpenApi/src/Services/IDocumentProvider.cs
  src/OpenApi/src/Services/OpenApiDocumentProvider.cs
  src/Tools/GetDocumentInsider/sample/GetDocumentSample.csproj
  src/Tools/GetDocumentInsider/sample/Program.cs
  src/Tools/GetDocumentInsider/sample/Properties/launchSettings.json
  src/Tools/GetDocumentInsider/sample/appsettings.Development.json
  src/Tools/GetDocumentInsider/sample/appsettings.json
  src/Tools/GetDocumentInsider/src/Commands/GetDocumentCommand.cs
  src/Tools/GetDocumentInsider/src/Commands/GetDocumentCommandContext.cs
  src/Tools/GetDocumentInsider/src/Commands/GetDocumentCommandWorker.cs
  src/Tools/GetDocumentInsider/src/GetDocument.Insider.csproj
  src/Tools/GetDocumentInsider/src/ProgramBase.cs
  src/Tools/GetDocumentInsider/src/Resources.resx
  src/Tools/GetDocumentInsider/tests/GetDocumentInsider.Tests.csproj
  src/Tools/GetDocumentInsider/tests/GetDocumentTests.cs
  src/Tools/Tools.slnf
Labels: area-commandlinetools, feature-openapi

#55846 Update branding to preview6
  .github/policies/resourceManagement.yml
  eng/Versions.props
Labels: area-infrastructure

#55716 [browser] Support separation hybrid globalization JS code to es6 module
  src/Components/dotnet-runtime-js/dotnet.d.ts
Labels: area-blazor, arch-wasm, pending-ci-rerun

#55723 [Blazor] Updated Blazor Server reconnect UI
  src/Components/Components.slnf
  src/Components/Web.JS/src/Platform/Circuits/CircuitStartOptions.ts
  src/Components/Web.JS/src/Platform/Circuits/DefaultReconnectDisplay.ts
  src/Components/Web.JS/src/Platform/Circuits/DefaultReconnectionHandler.ts
  src/Components/Web.JS/src/Platform/Circuits/ReconnectDisplay.ts
  src/Components/Web.JS/src/Platform/Circuits/UserSpecifiedDisplay.ts
  src/Components/test/testassets/Components.TestServer/Pages/_ServerHost.cshtml
  src/Components/test/testassets/Components.TestServer/RazorComponents/App.razor
Labels: Servicing-approved, area-blazor

#55439 Add separate activities for Hub methods
  src/SignalR/server/Core/src/HubConnectionContext.cs
  src/SignalR/server/Core/src/HubConnectionHandler.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/Core/src/Internal/SignalRActivitySource.cs
  src/SignalR/server/Core/src/SignalRDependencyInjectionExtensions.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTestUtils/Hubs.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.Activity.cs
  src/SignalR/server/SignalR/test/HubConnectionHandlerTests.cs
Labels: area-signalr, pending-ci-rerun

#55810 Remove unnecessary pragmas
  src/Http/Http.Results/src/ResultsOfTHelper.cs
  src/Http/Routing/src/Matching/JumpTableBuilder.cs
  src/Shared/PropertyHelper/PropertyHelper.cs
Labels: pending-ci-rerun, area-networking

#55923 Retry ConnectionCanSendAndReceiveDifferentMessageSizesWebSocketsTransport
  eng/test-configuration.json
Labels: area-infrastructure

#55779 Fix AntiforgeryMiddlewareTest for non-US date formats
  src/Mvc/test/Mvc.FunctionalTests/AntiforgeryMiddlewareTest.cs
Labels: area-mvc, community-contribution, pending-ci-rerun

#55953 Revert "Retry ConnectionCanSendAndReceiveDifferentMessageSizesWebSock…
  eng/test-configuration.json
Labels: area-infrastructure

#55960 Call NuGetAuthenticate after SetupNuGetSources
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#55958 Use more specific MSBuild property name for dotnet-getdocument
  src/Tools/Extensions.ApiDescription.Server/src/build/Microsoft.Extensions.ApiDescription.Server.targets
Labels: area-commandlinetools, feature-openapi

#55935 Quarantine flaky MVC functional tests
  src/Mvc/test/Mvc.FunctionalTests/ClientValidationOptionsTests.cs
  src/Mvc/test/Mvc.FunctionalTests/ComponentRenderingFunctionalTests.cs
  src/Mvc/test/Mvc.FunctionalTests/ControllerEndpointFiltersTest.cs
  src/Mvc/test/Mvc.FunctionalTests/HtmlGenerationWithCultureTest.cs
  src/Mvc/test/Mvc.FunctionalTests/RoutingAcrossPipelineBranchesTest.cs
  src/Mvc/test/Mvc.FunctionalTests/RoutingDynamicOrderTest.cs
  src/Mvc/test/Mvc.FunctionalTests/RoutingGroupsTest.cs
  src/Mvc/test/Mvc.FunctionalTests/RoutingGroupsWithMetadataTest.cs
  src/Mvc/test/Mvc.FunctionalTests/TestingInfrastructureTests.cs
Labels: area-mvc

#55981 Update Templates.Mvc.Tests Helix Timeout
  src/ProjectTemplates/test/Templates.Mvc.Tests/Templates.Mvc.Tests.csproj
Labels: area-mvc

#55335 UnixCertificateManager: implement IsTrusted.
  src/Shared/CertificateGeneration/UnixCertificateManager.cs
Labels: area-commandlinetools, community-contribution

#55924 Update WithOpenApi docs and scrub description IDs
  src/OpenApi/src/Extensions/OpenApiEndpointConventionBuilderExtensions.cs
  src/OpenApi/src/Services/OpenApiConstants.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/src/Transformers/DelegateOpenApiDocumentTransformer.cs
  src/OpenApi/src/Transformers/Implementations/ScrubExtensionsTransformer.cs
  src/OpenApi/test/Integration/OpenApiDocumentIntegrationTests.cs
  src/OpenApi/test/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=forms.verified.txt
  src/OpenApi/test/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=responses.verified.txt
  src/OpenApi/test/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=v1.verified.txt
  src/OpenApi/test/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=v2.verified.txt
Labels: area-mvc, feature-openapi, area-minimal

#55941 Pass through CancellationToken
  src/Servers/Kestrel/Transport.Sockets/src/Client/SocketConnectionFactory.cs
Labels: community-contribution, area-networking

#55970 Update https://docs.microsoft.com to https://learn.microsoft.com
  .azure/pipelines/blazor-daily-tests.yml
  .azure/pipelines/ci-public.yml
  .azure/pipelines/ci.yml
  .azure/pipelines/components-e2e-tests.yml
  .azure/pipelines/devBuilds.yml
  .azure/pipelines/jobs/default-build.yml
  .azure/pipelines/localization.yml
  .azure/pipelines/quarantined-pr.yml
  .azure/pipelines/richnav.yml
  .azure/pipelines/signalr-daily-tests.yml
  .editorconfig
  .github/policies/resourceManagement.yml
  docs/AddingNewProjects.md
  docs/Trimming.md
  eng/DotNetBuild.props
  eng/common/core-templates/job/job.yml
  eng/common/core-templates/job/onelocbuild.yml
  eng/common/core-templates/job/publish-build-assets.yml
  eng/common/core-templates/jobs/codeql-build.yml
  eng/common/core-templates/jobs/jobs.yml
  eng/common/template-guidance.md
  eng/common/tools.ps1
  eng/helix/content/mssql/InstallSqlServerLocalDB.ps1
  eng/scripts/InstallVisualStudio.ps1
  src/Caching/README.md
  src/Caching/StackExchangeRedis/src/RedisCache.cs
  src/Components/Samples/BlazorServerApp/Shared/MainLayout.razor
  src/Components/Samples/BlazorUnitedApp/Shared/MainLayout.razor
  src/Components/Web/src/Web/BindAttributes.cs
  src/Framework/App.Ref/src/CompatibilitySuppressions.xml
  src/Framework/App.Runtime/src/CompatibilitySuppressions.xml
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.JsonTranscoding.Tests/ConverterTests/JsonElementComparer.cs
  src/Http/Http.Results/src/HttpResultsHelper.cs
  src/Http/Http/src/Features/FormFeature.cs
  src/Http/README.md
  src/Http/WebUtilities/src/FormPipeReader.cs
  src/Http/WebUtilities/src/MultipartSectionStreamExtensions.cs
  src/HttpClientFactory/README.md
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/include.wxi
  src/Installers/Windows/Common/dotnethome_x64.wxs
  src/Installers/Windows/Wix.targets
  src/Mvc/Mvc.NewtonsoftJson/src/PACKAGE.md
  src/Security/Authentication/Certificate/samples/Certificate.Optional.Sample/Program.cs
  src/Security/Authentication/JwtBearer/src/PACKAGE.md
  src/Security/Authentication/MicrosoftAccount/src/MicrosoftAccountDefaults.cs
  src/Servers/HttpSys/src/AuthenticationManager.cs
  src/Servers/HttpSys/src/IHttpSysRequestInfoFeature.cs
  src/Servers/HttpSys/src/IHttpSysRequestTimingFeature.cs
  src/Servers/IIS/IIS/src/Core/IO/AsyncIOEngine.cs
  src/Servers/IIS/IIS/test/IIS.ShadowCopy.Tests/ShadowCopyTests.cs
  src/Servers/IIS/README.md
  src/Shared/HttpSys/NativeInterop/HttpApiTypes.cs
  src/Shared/RouteHandlers/ExecuteHandlerHelper.cs
Labels: area-infrastructure, community-contribution
