Repository dotnet/aspnetcore, pull requests merged in 2024-08, with the labels that each got.

#55857 Unquarantine FrameworkParametersCompletionProviderTests
  src/Framework/AspNetCoreAnalyzers/test/RouteEmbeddedLanguage/FrameworkParametersCompletionProviderTests.cs
Labels: area-infrastructure

#56957 Fix up nullability and form schema handling in OpenAPI
  src/OpenApi/src/Extensions/JsonNodeSchemaExtensions.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaService.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=controllers.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=forms.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.RequestBody.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiSchemaService/OpenApiSchemaService.ParameterSchemas.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiSchemaService/OpenApiSchemaService.RequestBodySchemas.cs
Labels: feature-openapi, area-web-frameworks

#57118 Fix SignalR server activity name
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/Core/src/Internal/SignalRServerActivitySource.cs
  src/SignalR/server/Core/src/SignalRDependencyInjectionExtensions.cs
  src/SignalR/server/SignalR/test/Microsoft.AspNetCore.SignalR.Tests/HubConnectionHandlerTests.Activity.cs
Labels: area-signalr

#57049 Propagate trace parent to SignalR hub invocations
  src/Hosting/Hosting/src/Internal/HostingApplicationDiagnostics.cs
  src/Hosting/Hosting/src/Microsoft.AspNetCore.Hosting.csproj
  src/Shared/Diagnostics/ActivityCreator.cs
  src/Shared/SignalR/InProcessTestServer.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubConnectionTests.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HubConnectionTests.Protocol.cs
  src/SignalR/common/testassets/Tests.Utils/ChannelExtensions.cs
  src/SignalR/common/testassets/Tests.Utils/TestClient.cs
  src/SignalR/server/Core/src/HubConnectionHandler.cs
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/Core/src/Internal/SignalRServerActivitySource.cs
  src/SignalR/server/Core/src/Microsoft.AspNetCore.SignalR.Core.csproj
  src/SignalR/server/SignalR/test/Microsoft.AspNetCore.SignalR.Tests/HubConnectionHandlerTests.Activity.cs
Labels: area-signalr

#57154 Quarantine `CanBlockExternalNavigation` and friends
  src/Components/test/E2ETest/ServerExecutionTests/NavigationLockPrerenderingTest.cs
  src/Components/test/E2ETest/Tests/RoutingTest.cs
Labels: area-infrastructure, area-blazor

#57086 [Blazor] Add Blazor Web Endpoints to the endpoint data source
  src/Components/Endpoints/src/Builder/OpaqueRedirection.cs
  src/Components/Endpoints/src/Builder/RazorComponentEndpointDataSource.cs
  src/Components/Endpoints/src/Builder/RazorComponentsEndpointRouteBuilderExtensions.cs
  src/Components/Endpoints/test/Builder/RazorComponentsEndpointConventionBuilderExtensionsTest.cs
  src/Components/Endpoints/test/HotReloadServiceTests.cs
  src/Components/Endpoints/test/RazorComponentEndpointDataSourceTest.cs
  src/Components/Server/src/DependencyInjection/ServerRazorComponentsBuilderExtensions.cs
Labels: area-blazor

#57126 [Blazor][Accessibility] Display placeholders on form elements
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/wwwroot/app.css
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/wwwroot/css/app.css
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/wwwroot/css/site.css
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/wwwroot/css/site.css
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/wwwroot/css/site.css
Labels: area-mvc

#57142 [Blazor] Some of the default UI styling is not accessible in dark mode
  eng/Npm.Workspace.nodeproj
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/src/Platform/Circuits/DefaultReconnectDisplay.ts
Labels: area-blazor

#56805 Remove unsafe from PathNormalizer
  src/Servers/HttpSys/test/FunctionalTests/ResponseCachingTests.cs
  src/Servers/Kestrel/Core/src/Internal/Http/PathNormalizer.cs
  src/Servers/Kestrel/Core/test/PathNormalizerTests.cs
  src/Servers/Kestrel/perf/Microbenchmarks/DotSegmentRemovalBenchmark.cs
  src/Shared/HttpSys/RequestProcessing/PathNormalizer.cs
Labels: Perf, community-contribution, area-networking

#57156 Improve SignalR tests to use channel
  src/SignalR/server/SignalR/test/Microsoft.AspNetCore.SignalR.Tests/HubConnectionHandlerTests.Activity.cs
Labels: area-signalr

#57170 [MVC] Preserve type attribute when defined in Script tag helper
  src/Mvc/Mvc.TagHelpers/src/ScriptTagHelper.cs
  src/Mvc/Mvc.TagHelpers/test/ScriptTagHelperTest.cs
Labels: area-mvc

#57127 [Blazor][Accessibility] At reflow resolution "Hamburger" control is not visible clearly
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Layout/NavMenu.razor.css
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Layout/NavMenu.razor.css
Labels: area-mvc

#57173 [Blazor] Apply `color-scheme` to error UI
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Layout/MainLayout.razor.css
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/wwwroot/css/app.css
Labels: area-mvc, area-blazor

#57178 Sharing PathNormalizer Implementations
  src/Servers/HttpSys/src/Microsoft.AspNetCore.Server.HttpSys.csproj
  src/Servers/IIS/IIS/src/Microsoft.AspNetCore.Server.IIS.csproj
  src/Servers/Kestrel/Core/src/Internal/Http/Http1Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/PathDecoder.cs
  src/Servers/Kestrel/Core/src/Internal/Http/PathNormalizer.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/src/Microsoft.AspNetCore.Server.Kestrel.Core.csproj
  src/Servers/Kestrel/Core/test/PathNormalizerTests.cs
  src/Servers/Kestrel/perf/Microbenchmarks/DotSegmentRemovalBenchmark.cs
  src/Shared/HttpSys/RequestProcessing/RequestUriBuilder.cs
  src/Shared/PathNormalizer/PathNormalizer.cs
  src/Shared/test/Shared.Tests/Microsoft.AspNetCore.Shared.Tests.csproj
  src/Shared/test/Shared.Tests/PathNormalizerTests.cs
Labels: community-contribution, area-networking

#57196 Set requiredness for primitive and files in forms
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=controllers.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=forms.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.RequestBody.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiSchemaService/OpenApiSchemaService.RequestBodySchemas.cs
Labels: area-mvc, feature-openapi, area-minimal

#57201 Update to Microsoft.OpenApi 1.6.17
  eng/Versions.props
  eng/testing/linker/project.csproj.template
  src/OpenApi/src/Comparers/OpenApiAnyComparer.cs
  src/OpenApi/src/Comparers/OpenApiSchemaComparer.cs
  src/OpenApi/src/Extensions/OpenApiEndpointRouteBuilderExtensions.cs
  src/OpenApi/src/Schemas/OpenApiJsonSchema.Helpers.cs
  src/OpenApi/src/Services/OpenApiDocumentProvider.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaStore.cs
  src/OpenApi/src/Writers/ScrubbedOpenApiAny.cs
  src/OpenApi/src/Writers/ScrubbingOpenApiJsonWriter.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Comparers/OpenApiAnyComparerTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Comparers/OpenApiSchemaComparerTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/OpenApiDocumentIntegrationTests.cs
Labels: area-mvc, feature-openapi, area-web-frameworks, area-minimal

#57101 Add client span to SignalR .NET client
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client.Core/src/Internal/InvocationRequest.cs
  src/SignalR/clients/csharp/Client.Core/src/Internal/SignalRClientActivitySource.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubConnectionTests.Tracing.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/HubConnectionTests.cs
  src/SignalR/clients/csharp/Client/test/FunctionalTests/Hubs.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HttpConnectionTests.Negotiate.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HubConnectionTests.Helpers.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HubConnectionTests.Protocol.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HubConnectionTests.Tracing.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnection.cs
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/Utils.cs
  src/SignalR/common/testassets/Tests.Utils/ChannelExtensions.cs
Labels: area-signalr

#56578 Use Ascii.ToUtf16 in StringUtilities
  src/Servers/Kestrel/Core/src/Internal/Http/Http1Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpParser.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpRequestHeaders.cs
  src/Servers/Kestrel/Core/src/Internal/Http/PathDecoder.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/HttpUtilities.cs
  src/Servers/Kestrel/Core/test/AsciiDecoding.cs
  src/Servers/Kestrel/Core/test/Http1/Http1ConnectionTests.cs
  src/Servers/Kestrel/Core/test/HttpParserTests.cs
  src/Servers/Kestrel/perf/Microbenchmarks/BytesToStringBenchmark.cs
  src/Servers/Kestrel/shared/KnownHeaders.cs
  src/Servers/Kestrel/shared/test/Http3/Http3InMemory.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/BadHttpRequestTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
  src/Shared/Http2cat/Http2Utilities.cs
  src/Shared/HttpSys/RequestProcessing/HeaderEncoding.cs
  src/Shared/ServerInfrastructure/StringUtilities.cs
Labels: pending-ci-rerun, area-networking

#57198 Update branding to 8.0.9
  eng/Versions.props
Labels: area-infrastructure

#57197 Update branding to 6.0.34
  eng/Versions.props
Labels: area-infrastructure

#57208 Use TryGetValue for dictionary lookups in OpenAPI comparers
  src/OpenApi/src/Comparers/OpenApiAnyComparer.cs
  src/OpenApi/src/Comparers/OpenApiDiscriminatorComparer.cs
  src/OpenApi/src/Comparers/OpenApiExternalDocsComparer.cs
  src/OpenApi/src/Comparers/OpenApiSchemaComparer.cs
  src/OpenApi/src/Comparers/OpenApiXmlComparer.cs
Labels: area-mvc, community-contribution, feature-openapi, area-web-frameworks

#57222 Update milestones for September
  .github/policies/resourceManagement.yml
Labels: area-infrastructure

#56908 Use BaseTypeInfo API to fix up polymorphic schemas
  src/OpenApi/src/Extensions/JsonNodeSchemaExtensions.cs
  src/OpenApi/src/Schemas/OpenApiJsonSchema.Helpers.cs
  src/OpenApi/src/Schemas/OpenApiSchemaKeywords.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaService.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaStore.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiSchemaService/OpenApiSchemaService.PolymorphicSchemas.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Shared/SharedTypes.Polymorphism.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/SchemaTransformerTests.cs
Labels: area-mvc, feature-openapi, area-minimal

#57131 [Blazor] Allow `<FocusOnNavigate>` to work when rendered statically
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/src/Boot.Web.ts
  src/Components/Web.JS/src/DomWrapper.ts
  src/Components/Web.JS/src/Rendering/FocusOnNavigate.ts
  src/Components/Web.JS/src/Services/JSEventRegistry.ts
  src/Components/Web.JS/src/Services/NavigationEnhancement.ts
  src/Components/Web.JS/src/Services/NavigationUtils.ts
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/Web/src/Routing/FocusOnNavigate.cs
  src/Components/test/E2ETest/ServerRenderingTests/FocusOnNavigateTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/App.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Components/ComponentWithElementToFocus.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/FocusOnNavigate/Autofocus.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/FocusOnNavigate/FormSubmission.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/FocusOnNavigate/Index.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/FocusOnNavigate/StaticallyRendered.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/FocusOnNavigate/StaticallyRenderedWithOtherFocusedElement.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/FocusOnNavigate/StreamRendered.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/FocusOnNavigate/_Imports.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Shared/FocusOnNavigateLayout.razor
Labels: area-blazor

#57215 Update IdentityModel to 8.0.1
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#57186 Revert "Prefer keys old enough to have propagated (#54309)"
  src/DataProtection/DataProtection/src/KeyManagement/DefaultKeyResolver.cs
  src/DataProtection/DataProtection/test/Microsoft.AspNetCore.DataProtection.Tests/KeyManagement/DefaultKeyResolverTests.cs
Labels: area-dataprotection

#57108 [8.0] Add support for trusting dev certs on linux
  src/ProjectTemplates/Shared/DevelopmentCertificate.cs
  src/Servers/Kestrel/Core/src/Internal/LoggerExtensions.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Servers/Kestrel/Core/src/TlsConfigurationLoader.cs
  src/Shared/CertificateGeneration/CertificateManager.cs
  src/Shared/CertificateGeneration/EnsureCertificateResult.cs
  src/Shared/CertificateGeneration/MacOSCertificateManager.cs
  src/Shared/CertificateGeneration/UnixCertificateManager.cs
  src/Shared/CertificateGeneration/WindowsCertificateManager.cs
  src/Tools/FirstRunCertGenerator/test/CertificateManagerTests.cs
  src/Tools/dotnet-dev-certs/src/Program.cs
Labels: Servicing-approved, area-networking

#57006 [release/8.0] Update Microsoft.IO.Redist dependency
  eng/Versions.props
  eng/tools/RepoTasks/RepoTasks.csproj
Labels: area-infrastructure, tell-mode, pending-ci-rerun

#56677 [CG[ Update ws dep in release/8.0
  src/Components/Web.JS/yarn.lock
  src/SignalR/clients/ts/signalr/yarn.lock
Labels: area-infrastructure, area-signalr, pending-ci-rerun

#56266 [release/8.0] Update Swashbuckle.AspNetCore to 6.6.2
  eng/Versions.props
  src/Grpc/JsonTranscoding/test/Microsoft.AspNetCore.Grpc.Swagger.Tests/GrpcSwaggerServiceExtensionsTests.cs
Labels: Servicing-approved, area-infrastructure, community-contribution

#57223 Implement deep copy for OpenApiSchema instances
  src/OpenApi/perf/Microbenchmarks/OpenApiSchemaComparerBenchmark.cs
  src/OpenApi/src/Comparers/OpenApiReferenceComparer.cs
  src/OpenApi/src/Extensions/OpenApiSchemaExtensions.cs
  src/OpenApi/src/Transformers/Implementations/OpenApiSchemaReferenceTransformer.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Comparers/OpenApiSchemaComparerTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Extensions/OpenApiSchemaExtensionsTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/Implementations/OpenApiSchemaReferenceTransformerTests.cs
Labels: area-mvc, feature-openapi, area-minimal

#56978 [release/8.0] Skip timing out MVC template tests in 8.0
  src/ProjectTemplates/test/Templates.Mvc.Tests/Templates.Mvc.Tests.csproj
Labels: area-mvc, tell-mode, pending-ci-rerun

#56676 [CG] Update ws dep in release/6.0
  src/Components/Web.JS/yarn.lock
  src/SignalR/clients/ts/FunctionalTests/package.json
  src/SignalR/clients/ts/FunctionalTests/yarn.lock
  src/SignalR/clients/ts/signalr-protocol-msgpack/package.json
  src/SignalR/clients/ts/signalr-protocol-msgpack/yarn.lock
  src/SignalR/clients/ts/signalr/yarn.lock
Labels: area-infrastructure, pending-ci-rerun

#56457 Update azure-pipelines-mirror-within-azdo.yml for 8.0
  .azure/pipelines/azure-pipelines-mirror-within-azdo.yml
Labels: area-infrastructure, pending-ci-rerun

#57148 Use [DebuggerDisableUserUnhandledExceptions]
  src/Components/Endpoints/src/RazorComponentEndpointInvoker.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Prerendering.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Streaming.cs
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/DeveloperExceptionPageMiddlewareImpl.cs
Labels: area-blazor

#57237 [Blazor] Fix antiforgery not being available after first render
  src/Components/Samples/BlazorUnitedApp/BlazorUnitedApp.csproj
  src/Components/Server/src/Circuits/CircuitFactory.cs
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHost.cs
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/AntiforgeryTests.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/ServerAntiforgeryForm.razor
  src/Components/test/testassets/Components.WasmMinimal/Pages/WebAssemblyAntiforgeryForm.razor
  src/Components/test/testassets/TestContentPackage/InteractiveAntiforgery.razor
Labels: area-blazor

#57256 Add support for Chromium Snap cert trust
  src/Shared/CertificateGeneration/UnixCertificateManager.cs
Labels: area-commandlinetools

#57243 [Blazor] Allow cascading value subscribers to get added and removed during change notification
  src/Components/Components/src/CascadingValueSource.cs
  src/Components/Components/test/CascadingParameterTest.cs
Labels: area-blazor

#57260 Quarantine Hosting VerifyCountersFireWithCorrectValues and EventCountersAndMetricsValues tests
  src/Hosting/Hosting/test/HostingApplicationDiagnosticsTests.cs
  src/Hosting/Hosting/test/Internal/HostingEventSourceTests.cs
Labels: area-hosting

#56456 Update azure-pipelines-mirror-within-azdo.yml for 8.0
  .azure/pipelines/azure-pipelines-mirror-within-azdo.yml
Labels: area-infrastructure

#57286 [Blazor] Make multithreading APIs internal
  src/Components/WebAssembly/Server/src/Builder/WebAssemblyComponentsEndpointOptions.cs
  src/Components/WebAssembly/Server/src/Microsoft.AspNetCore.Components.WebAssembly.Server.csproj
  src/Components/WebAssembly/Server/src/PublicAPI.Unshipped.txt
Labels: area-blazor

#57280 Fixed documentation for Kestrel ListenOptions.Protocols
  src/Servers/Kestrel/Core/src/ListenOptions.cs
Labels: community-contribution, area-networking

#57182 [8.0] Optionally respect HTTP/1.0 keep-Alive for HTTP.sys
  src/Servers/HttpSys/src/HttpSysOptions.cs
  src/Servers/HttpSys/src/RequestProcessing/Response.cs
  src/Servers/HttpSys/test/FunctionalTests/Listener/ResponseHeaderTests.cs
  src/Servers/HttpSys/test/FunctionalTests/Listener/Utilities.cs
  src/Shared/HttpSys/Constants.cs
Labels: Servicing-approved, area-networking

#57203 [6.0] Optionally respect HTTP/1.0 keep-Alive for HTTP.sys
  src/Servers/HttpSys/src/HttpSysOptions.cs
  src/Servers/HttpSys/src/RequestProcessing/Response.cs
  src/Servers/HttpSys/test/FunctionalTests/Listener/ResponseHeaderTests.cs
  src/Servers/HttpSys/test/FunctionalTests/Listener/Utilities.cs
  src/Shared/HttpSys/Constants.cs
Labels: Servicing-approved, area-networking

#57151 Add some comments to various internal HTTP/2 types
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http/IHttpOutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/FlowControl/FlowControl.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/FlowControl/InputFlowControl.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/FlowControl/StreamInputFlowControl.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2KeepAlive.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2MessageBody.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2StreamOfT.cs
  src/Servers/Kestrel/Core/src/Internal/HttpConnection.cs
  src/Servers/Kestrel/shared/PooledStreamStack.cs
  src/Shared/ServerInfrastructure/Http2/Http2Frame.cs
  src/Shared/ServerInfrastructure/Http2/Http2FrameReader.cs
  src/Shared/ServerInfrastructure/Http2/Http2PeerSettings.cs
Labels: pending-ci-rerun, area-networking

#57253 Fix OpenAPI transformer lifetimes and disposal
  src/OpenApi/OpenApi.generated.sln
  src/OpenApi/perf/Microbenchmarks/GenerationBenchmarks.cs
  src/OpenApi/perf/Microbenchmarks/TransformersBenchmark.cs
  src/OpenApi/src/Extensions/OpenApiEndpointRouteBuilderExtensions.cs
  src/OpenApi/src/Services/OpenApiDocumentProvider.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaService.cs
  src/OpenApi/src/Transformers/TypeBasedOpenApiOperationTransformer.cs
  src/OpenApi/src/Transformers/TypeBasedOpenApiSchemaTransformer.cs
  src/OpenApi/src/Transformers/TypeBasedTransforrmerExtensions.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/OpenApiDocumentIntegrationTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.Info.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.Servers.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentServiceTestsBase.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/DocumentTransformerTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/OperationTransformerTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/SchemaTransformerTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/TypeBasedTransformerLifetimeTests.cs
Labels: area-mvc, feature-openapi, area-minimal

#56974 Support customizing filename in M.E.ApiDescription.Server tool
  src/Tools/GetDocumentInsider/src/Commands/GetDocumentCommand.cs
  src/Tools/GetDocumentInsider/src/Commands/GetDocumentCommandContext.cs
  src/Tools/GetDocumentInsider/src/Commands/GetDocumentCommandWorker.cs
  src/Tools/GetDocumentInsider/src/Resources.resx
  src/Tools/GetDocumentInsider/tests/GetDocumentTests.cs
Labels: area-mvc, area-commandlinetools, community-contribution

#57294 Delete src/OpenApi/OpenApi.generated.sln
  src/OpenApi/OpenApi.generated.sln
Labels: area-mvc, area-web-frameworks

#57296 Localize transformers list and throw from type-based transformers
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaService.cs
  src/OpenApi/src/Transformers/TypeBasedOpenApiOperationTransformer.cs
  src/OpenApi/src/Transformers/TypeBasedOpenApiSchemaTransformer.cs
Labels: area-mvc, feature-openapi, area-minimal

#57298 Avoid OrderedIterator when comparing OpenApiSchema.Required equality
  src/OpenApi/src/Comparers/OpenApiSchemaComparer.cs
Labels: area-mvc

#57269 Address flaky hosting event counters tests
  src/Hosting/Hosting/test/HostingApplicationDiagnosticsTests.cs
  src/Hosting/Hosting/test/Internal/AsyncEnumerableExtensions.cs
  src/Hosting/Hosting/test/Internal/HostingEventSourceTests.cs
  src/Middleware/ConcurrencyLimiter/test/ConcurrencyLimiterEventSourceTests.cs
  src/Shared/EventSource.Testing/TestCounterListener.cs
Labels: area-hosting

#57282 [Blazor] ImportMap fixes
  src/Components/Endpoints/src/Assets/ImportMap.cs
  src/Components/Endpoints/src/Assets/ImportMapDefinition.cs
  src/Components/Endpoints/src/PublicAPI.Unshipped.txt
  src/Components/Endpoints/test/Assets/ImportMapDefinitionTest.cs
  src/Components/Endpoints/test/ImportMapTest.cs
  src/Components/Samples/BlazorUnitedApp/App.razor
  src/Components/Samples/BlazorUnitedApp/appsettings.Development.json
Labels: area-blazor

#57293 Add KeepAliveTimeout support to WebSocketMiddleware
  src/Http/Http.Features/src/PublicAPI.Unshipped.txt
  src/Http/Http.Features/src/WebSocketAcceptContext.cs
  src/Middleware/WebSockets/src/AbortStream.cs
  src/Middleware/WebSockets/src/PublicAPI.Unshipped.txt
  src/Middleware/WebSockets/src/ServerWebSocket.cs
  src/Middleware/WebSockets/src/WebSocketMiddleware.cs
  src/Middleware/WebSockets/src/WebSocketOptions.cs
  src/Middleware/WebSockets/test/UnitTests/AddWebSocketsTests.cs
  src/Middleware/WebSockets/test/UnitTests/WebSocketMiddlewareTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http2WebSocketInteropTests.cs
Labels: feature-websockets, area-networking, area-middleware

#57315 Merging internal commits for release/8.0
  .azure/pipelines/ci-public.yml
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  src/Components/Web/src/Virtualization/Virtualize.cs
  src/Components/test/E2ETest/Tests/VirtualizationTest.cs
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/VirtualizationMaxItemCount.razor
  src/Servers/HttpSys/src/MessagePump.cs
Labels: area-infrastructure

#57319 Fix exit AcceptLoop in Http.Sys
  src/Servers/HttpSys/src/MessagePump.cs
Labels: area-networking

#57318 Log registered IApiDescriptionProvider implementations on load
  src/Mvc/Mvc.ApiExplorer/src/ApiDescriptionGroupCollectionProvider.cs
  src/Mvc/Mvc.ApiExplorer/src/DependencyInjection/EndpointMethodInfoApiExplorerServiceCollectionExtensions.cs
  src/Mvc/Mvc.ApiExplorer/src/DependencyInjection/MvcApiExplorerMvcCoreBuilderExtensions.cs
  src/Mvc/test/Mvc.FunctionalTests/ApiExplorerTest.cs
Labels: area-mvc, feature-openapi, area-minimal

#57320 [release/2.1] Update Wix to 3.14.1
  src/Installers/Windows/tasks/InstallerTasks.csproj
Labels: area-infrastructure

#57323 Remove LINQ usage for IEnumerable comparisons
  src/OpenApi/src/Comparers/ComparerHelpers.cs
  src/OpenApi/src/Comparers/OpenApiAnyComparer.cs
  src/OpenApi/src/Comparers/OpenApiDiscriminatorComparer.cs
  src/OpenApi/src/Comparers/OpenApiExternalDocsComparer.cs
  src/OpenApi/src/Comparers/OpenApiSchemaComparer.cs
  src/OpenApi/src/Comparers/OpenApiXmlComparer.cs
Labels: area-mvc, feature-openapi, area-minimal

#57328 Exclude some headers from OpenAPI parameters
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.Parameters.cs
Labels: area-mvc, community-contribution, feature-openapi, area-minimal

#57333 Enable auto-merges for 9.0 rel branches
  .github/workflows/inter-branch-merge-flow.yml
  github-merge-flow.jsonc
Labels: area-infrastructure

#57340 Update branding to 10.0
  .github/policies/resourceManagement.yml
  eng/Versions.props
  src/Grpc/JsonTranscoding/perf/Microsoft.AspNetCore.Grpc.Microbenchmarks/Microsoft.AspNetCore.Grpc.Microbenchmarks.csproj
  src/Mvc/test/Mvc.FunctionalTests/ApiExplorerTest.cs
  src/ProjectTemplates/Shared/TemplatePackageInstaller.cs
Labels: area-infrastructure

#57363 Add RedirectHttpResult.IsLocalUrl()
  src/Http/Http.Results/src/PublicAPI.Unshipped.txt
  src/Http/Http.Results/src/RedirectHttpResult.cs
  src/Http/Http.Results/test/RedirectResultTests.cs
Labels: area-minimal, area-networking

#57372 [Blazor] Fix navigation lock tests
  src/Components/test/E2ETest/ServerExecutionTests/NavigationLockPrerenderingTest.cs
  src/Components/test/E2ETest/Tests/RoutingTest.cs
  src/Shared/E2ETesting/BrowserFixture.cs
Labels: area-infrastructure

#57400 Forward-port the Virtualize MaxItemCount added in .NET 8 patch to .NET 9 RC1
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/Web/src/Virtualization/Virtualize.cs
  src/Components/test/E2ETest/Tests/VirtualizationTest.cs
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/VirtualizationMaxItemCount.razor
  src/Components/test/testassets/BasicTestApp/VirtualizationMaxItemCount_AppContext.razor
Labels: Servicing-approved, area-blazor, ask-mode

#57264 Propagate PropertyInfo for AsParameters parameters
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
Labels: area-mvc, community-contribution

#57369 Add `StringSyntax` to the `RouteAttribute`
  src/Components/Components/src/RouteAttribute.cs
Labels: area-blazor

#57414 Quarantine CanSendAndReceiveUserMessagesUserNameWithPatternIsTreatedAsLiteral
  src/SignalR/server/StackExchangeRedis/test/RedisEndToEnd.cs
Labels: area-signalr

#57374 Retry POST_Expect100Continue_Get100Continue
  eng/test-configuration.json
Labels: area-infrastructure, HTTP3, area-networking

#57428 Add explicit conversion for value-type returning handlers with filters
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.EndpointFilters.cs
Labels: area-minimal, feature-rdf, area-networking

#57444 Revert "Sync shared code from runtime (#57440)"
  src/Shared/test/Shared.Tests/runtime/Http2/HPackDecoderTest.cs
Labels: area-networking

#57431 [Templates] Generate single test HTTPS Certificate
  eng/Npm.Workspace.nodeproj
  eng/tools/RepoTasks/GenerateTestDevCert.cs
  eng/tools/RepoTasks/RepoTasks.csproj
  eng/tools/RepoTasks/RepoTasks.tasks
  eng/tools/RepoTasks/shared/CertificateGeneration/DevelopmentCertificate.cs
  eng/tools/RepoTasks/shared/CertificateGeneration/Global.cs
  src/ProjectTemplates/Shared/DevelopmentCertificate.cs
  src/ProjectTemplates/Shared/Project.cs
  src/ProjectTemplates/TestInfrastructure/PrepareForTest.targets
  src/ProjectTemplates/test/Templates.Tests/Templates.Tests.csproj
Labels: area-infrastructure

#57463 [release/9.0] Add references to new 9.0 branches in .yml files
  .azure/pipelines/helix-matrix.yml
  .azure/pipelines/identitymodel-helix-matrix.yml
  .github/dependabot.yml
  .github/policies/resourceManagement.yml
Labels: area-infrastructure, tell-mode

#57465 Fix ResultsOfTGenerated tests
  src/Http/Http.Results/test/ResultsOfTTests.Generated.cs
  src/Http/Http.Results/tools/ResultsOfTGenerator/Program.cs
Labels: area-minimal, area-networking

#57441 fix: Correct interface filename to match interface name for `ISkipStatusCodePagesMetadata`
  src/Http/Http.Abstractions/src/Metadata/ISkipStatusCodePagesMetadata.cs
Labels: community-contribution, area-networking

#54508 Add README to Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation package
  src/Mvc/Mvc.Razor.RuntimeCompilation/src/PACKAGE.md
Labels: area-mvc

#57470 Unquarantine ServerReset_BeforeRequestBody_ClientBodyThrows
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
Labels: area-networking

#57473 Fix StreamPool_MultipleStreamsConcurrent_StreamsReturnedToPool
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-networking

#57450 Fix race in RST_STREAM_IncompleteRequest_AdditionalWindowUpdateFrame_ConnectionAborted
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-networking

#57471 Unquarantine Frame_MultipleStreams_RequestsNotFinished_DefaultMaxStreamsPerConnection_EnhanceYourCalmAfterDoubleMaxStreams
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-networking

#57224 Middleware/Rewrite: Update XML comments for "AddRedirect" to indicate status code.
  src/Middleware/Rewrite/src/RewriteOptionsExtensions.cs
Labels: community-contribution, pending-ci-rerun, area-networking, area-middleware

#57533 Quarantine Http3RequestTests.POST_Expect100Continue_Get100Continue
  eng/test-configuration.json
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
Labels: area-networking

#57492 Validate local development scenarios in CI
  .azure/pipelines/ci-public.yml
  .azure/pipelines/ci.yml
  package-lock.json
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/ProjectTemplates/build.cmd
Labels: area-infrastructure

#57539 Remove some tests from helix retry list
  eng/test-configuration.json
Labels: area-infrastructure

#57553 Breaking change fix for IdentityRole.ConcurrencyStamp to initialize with new Guid.
  src/Identity/Extensions.Stores/src/IdentityRole.cs
Labels: area-identity, community-contribution

#57552 Retry `ComponentLifecycleMethodThrowsExceptionTerminatesTheCircuit`
  eng/test-configuration.json
Labels: area-infrastructure

#57548 Fix `BlazorWebJsInitializersTest`
  src/Components/test/E2ETest/ServerRenderingTests/BlazorWebJsInitializersTest.cs
Labels: area-blazor

#57554 Fix `InjectedStartup_DefaultApplicationNameIsEntryAssembly`
  src/Hosting/test/FunctionalTests/WebHostBuilderTests.cs
  src/Hosting/test/testassets/IStartupInjectionAssemblyName/Program.cs
Labels: area-hosting

#57376 Unquarantine EnhancedFormThatCallsNavigationManagerRefreshDoesNotPushHistoryEntry
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
Labels: area-blazor

#57540 Provide `Microsoft.AspNetCore.Diagnostics.EntityFramework` package README
  src/Middleware/Diagnostics.EntityFrameworkCore/src/PACKAGE.md
Labels: area-networking, area-middleware

#57555 Unquarantine `Microsoft.AspNetCore.Components.E2ETest.Tests.EventTest.Cancel_CanTrigger`
  src/Components/test/E2ETest/Tests/EventTest.cs
Labels: area-blazor

#57589 Quarantine two CircuitTests
  src/Components/test/E2ETest/Tests/CircuitTests.cs
Labels: area-blazor

#57536 bumping ws dependency to fix component vulnerability
  src/SignalR/clients/ts/signalr/package.json
Labels: area-signalr, community-contribution

#57600 Update branding to 6.0.35
  eng/Versions.props
Labels: area-infrastructure

#57537 Provide `Microsoft.AspNetCore.Identity.EntityFrameworkCore` package README
  src/Identity/EntityFrameworkCore/src/PACKAGE.md
Labels: area-identity

#57601 Update branding to 8.0.10
  eng/Versions.props
Labels: area-infrastructure

#57349 [release/8.0] Use 7.* IdentityModel package in val pipeline
  eng/Versions.props
Labels: area-infrastructure, pending-ci-rerun

#57625 Update Selenium version in Versions.props
  eng/Versions.props
Labels: area-infrastructure
