Repository dotnet/aspnetcore, pull requests merged in 2024-10, with the labels that each got.

#58171 Add note about perf to Http3SampleApp
  src/Servers/Kestrel/samples/Http3SampleApp/Program.cs
Labels: area-networking

#58189 Quarantine ResponseTests.ConnectionClosedWhenResponseDoesNotSatisfyMinimumDataRate
  src/Servers/Kestrel/test/FunctionalTests/ResponseTests.cs
Labels: area-networking

#58194 Use collection expression for ASP.NET Core Web API project template's WeatherForecastController.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Controllers/WeatherForecastController.cs
Labels: area-mvc, community-contribution

#58168 Fixed to not throw an exception when password is null.
  src/Identity/Extensions.Core/src/PasswordValidator.cs
  src/Identity/test/Identity.Test/PasswordValidatorTest.cs
Labels: area-identity, community-contribution

#58197 Update branding to 6.0.36
  eng/Versions.props
Labels: area-infrastructure

#58208 Update November milestones
  .github/policies/resourceManagement.yml
Labels: area-infrastructure

#58198 Update branding to 8.0.11
  eng/Versions.props
Labels: area-infrastructure

#57966 [release/8.0] Add explicit conversion for value-type returning handlers with filters
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.EndpointFilters.cs
Labels: Servicing-approved, area-minimal, feature-rdf

#58063 [release/8.0] Stop using Mac 11 in Helix
  eng/targets/Helix.Common.props
Labels: area-infrastructure, tell-mode, pending-ci-rerun

#57812 [Backport] Http.Sys: Clean up Request parsing errors
  src/Servers/HttpSys/src/LoggerEventIds.cs
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.FeatureCollection.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.Log.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContextOfT.cs
  src/Servers/HttpSys/test/FunctionalTests/Listener/RequestTests.cs
  src/Servers/HttpSys/test/FunctionalTests/RequestTests.cs
  src/Servers/HttpSys/test/FunctionalTests/ResponseSendFileTests.cs
Labels: Servicing-approved, area-networking

#58176 Avoid unnecessary HealthStatus comparison
  src/HealthChecks/Abstractions/src/HealthReport.cs
Labels: area-networking

#57213 Perf improvement: Fix Cumulative Layout Shift issue in blank Blazor templates
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/wwwroot/css/app.css
Labels: area-blazor, community-contribution, pending-ci-rerun

#57978 Unquarantine fixed tests that have not failed in 30 days
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
  src/Components/test/E2ETest/Tests/RoutingTest.cs
  src/Components/test/E2ETest/Tests/ThreadingAppTest.cs
Labels: area-blazor, pending-ci-rerun

#58243 Quarantine `ThreadingAppTest.CounterPageCanUseThreads`
  src/Components/test/E2ETest/Tests/ThreadingAppTest.cs
Labels: area-infrastructure

#57417 Removing unsafe code in BufferExtensions
  src/Servers/Kestrel/Core/test/PipelineExtensionTests.cs
  src/Shared/ServerInfrastructure/BufferExtensions.cs
Labels: community-contribution, area-networking

#55847 [OutputCaching] OutputCacheOptions.ApplicationServices is always null during initialization
  src/Middleware/OutputCaching/src/OutputCacheServiceCollectionExtensions.cs
  src/Middleware/OutputCaching/test/TestUtils.cs
Labels: community-contribution, area-middleware

#58229 [release/8.0] Update the Microsoft.Identity.Web versions used by project templates
  eng/Versions.props
Labels: Servicing-approved

#58245 [Blazor] Fix template nav menu styling
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Layout/NavMenu.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Layout/NavMenu.CallsWebApi.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Layout/NavMenu.NoApi.razor
Labels: area-blazor

#58298 Fix Http3 Pipe complete
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Transport.Sockets/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.csproj
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
  src/Shared/Buffers.MemoryPool/DiagnosticMemoryPool.cs
Labels: area-networking

#58300 Merging internal commits for release/8.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Transport.Sockets/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.csproj
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
  src/Shared/Buffers.MemoryPool/DiagnosticMemoryPool.cs
Labels: area-infrastructure

#58299 Merging internal commits for release/6.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  src/Tools/dotnet-user-secrets/src/dotnet-user-secrets.csproj
Labels: area-infrastructure

#58296 Merge RC2 changes into 9.0
  .azure/pipelines/jobs/default-build.yml
  eng/common/core-templates/steps/get-delegation-sas.yml
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Transport.Sockets/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.csproj
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
  src/Shared/Buffers.MemoryPool/DiagnosticMemoryPool.cs
Labels: area-networking

#58292 Remove ProviderKey from Hosting Bundle
  src/Installers/Windows/WindowsHostingBundle/Bundle.wxs
Labels: area-infrastructure

#58199 Add source generator to emit public Program class definition
  AspNetCore.sln
  eng/Dependencies.props
  eng/Versions.props
  src/Framework/App.Ref/src/Microsoft.AspNetCore.App.Ref.csproj
  src/Framework/AspNetCoreAnalyzers/src/SourceGenerators/Microsoft.AspNetCore.App.SourceGenerators.csproj
  src/Framework/AspNetCoreAnalyzers/src/SourceGenerators/PublicTopLevelProgramGenerator.cs
  src/Framework/AspNetCoreAnalyzers/test/Microsoft.AspNetCore.App.Analyzers.Test.csproj
  src/Framework/AspNetCoreAnalyzers/test/SourceGenerators/PublicTopLevelProgramGeneratorTests.cs
  src/Framework/AspNetCoreAnalyzers/test/Verifiers/CSharpSourceGeneratorVerifier.cs
  src/Framework/Framework.slnf
Labels: area-infrastructure, area-minimal

#58287 [Blazor] Apply CORS also to .mjs files
  src/Components/WebAssembly/DevServer/src/Server/Startup.cs
Labels: area-blazor

#58301 [Infrastructure] Updated npm packages 2024-10-08
  eng/scripts/update-npm-dependencies.ps1
  package-lock.json
  src/Components/Web.JS/package.json
  src/Components/Web.JS/src/Boot.WebAssembly.Common.ts
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/Web.JS/src/JSInitializers/JSInitializers.WebAssembly.ts
  src/Components/Web.JS/src/Platform/Mono/MonoDebugger.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/Web.JS/src/Platform/Platform.ts
  src/Components/Web.JS/src/Platform/WebAssemblyStartOptions.ts
  src/Components/Web.JS/src/Services/WebRootComponentManager.ts
  src/Components/dotnet-runtime-js/package.json
Labels: area-infrastructure

#58307 Validate scopes in OpenApiDocumentProvider tests and fix scope
  src/OpenApi/src/Services/OpenApiDocumentProvider.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentProviderTests.cs
Labels: area-mvc, feature-openapi

#58269 fix: Microsoft.AspNetCore.Mvc.Testing RedirectHandler HasBody doesn't work with PATCH
  src/Mvc/Mvc.Testing/src/Handlers/RedirectHandler.cs
Labels: area-mvc, community-contribution, feature-mvc-testing

#58101 Add additional ProblemDetails default types and titles
  src/Mvc/Mvc.Core/test/DependencyInjection/ApiBehaviorOptionsSetupTest.cs
  src/Shared/ProblemDetails/ProblemDetailsDefaults.cs
Labels: community-contribution, area-minimal

#58303 Fix #57232 potential CancellationTokenSource leak in HubConnection
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
Labels: area-signalr, community-contribution

#57795 Add a note about when to validate ping payloads
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs
Labels: area-networking

#58304 Enable code analysis and address initial set of issues.
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/applicationinfo.cpp
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/dllmain.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/Environment.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/EventLog.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/GlobalVersionUtility.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/HostFxrResolver.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/RegistryKey.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/ServerErrorHandler.h
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/StringHelpers.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/debugutil.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/file_utility.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/sttimer.h
  src/Servers/IIS/AspNetCoreModuleV2/CommonLibTests/CommonLibTests.vcxproj
  src/Servers/IIS/AspNetCoreModuleV2/DefaultRules.ruleset
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/ahutil.cpp
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/base64.cpp
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/base64.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/buffer.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/hashfn.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/hashtable.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/listentry.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/multisz.cpp
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/multisza.cpp
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/multisza.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/reftrace.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/rwlock.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/stringa.cpp
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/stringa.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/tracelog.c
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/util.cpp
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/StartupExceptionApplication.h
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/dllmain.cpp
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocessapplication.cpp
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocesshandler.cpp
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/managedexports.cpp
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/dllmain.cpp
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/forwarderconnection.cpp
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/forwarderconnection.h
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/forwardinghandler.cpp
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/forwardinghandler.h
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/outprocessapplication.cpp
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/processmanager.cpp
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/processmanager.h
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/responseheaderhash.h
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/serverprocess.cpp
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/url_utility.cpp
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/websockethandler.cpp
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/winhttphelper.cpp
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/winhttphelper.h
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/filewatcher.cpp
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/filewatcher.h
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/requesthandler_config.cpp
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/requesthandler_config.h
  src/Servers/IIS/AspNetCoreModuleV2/gtest/gtest.vcxproj
  src/Servers/IIS/Directory.Build.props
  src/Servers/IIS/build/Build.Common.Settings
Labels: area-networking

#58324 Update source-build team references
  .github/CODEOWNERS
  eng/DotNetBuild.props
  eng/SourceBuildPrebuiltBaseline.xml
Labels: area-infrastructure

#58350 Fix ModelMetadata for TryParse-parameters in ApiExplorer
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiSchemaService/OpenApiSchemaService.ParameterSchemas.cs
Labels: area-mvc

#58342 Use dependabot for Nuget instead of NPM
  .github/dependabot.yml
Labels: area-infrastructure

#57989 Simplifying TFA Validation Logic in MapIdentityApi
  src/Identity/Core/src/IdentityApiEndpointRouteBuilderExtensions.cs
Labels: area-identity, community-contribution

#58310 Fix missing bullet list items in InputDate documentation
  src/Components/Web/src/Forms/InputDate.cs
Labels: area-blazor, community-contribution

#58373 Remove dead code and clean up multisz/a and stringa
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/acache.cpp
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/multisz.cpp
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/multisz.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/multisza.cpp
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/multisza.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/stringa.cpp
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/stringa.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/treehash.h
Labels: area-networking

#58232 Add retry for test Microsoft.AspNetCore.Identity.EntityFrameworkCore.Test.ProtectedUserStoreTest.PhoneFactorFailsAfterSecurityStampChangeTest
  eng/test-configuration.json
Labels: pending-ci-rerun

#58423 ArcadeBuildFromSource -> DotNetBuildSourceOnly
  eng/DotNetBuild.props
Labels: area-infrastructure

#58430 Skip H2Spec 6.9.2/2
  src/Servers/Kestrel/test/Interop.FunctionalTests/H2SpecTests.cs
Labels: area-networking

#58372 [release/9.0] Fix ModelMetadata for TryParse-parameters in ApiExplorer
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiSchemaService/OpenApiSchemaService.ParameterSchemas.cs
Labels: Servicing-approved, area-mvc, feature-openapi, area-minimal

#58431 Remove Winforms reference
  eng/Dependencies.props
  eng/Version.Details.xml
  eng/Versions.props
  src/Tools/LinkabilityChecker/LinkabilityChecker.csproj
Labels: area-infrastructure

#58444 [release/9.0] Stabilize branding
  Directory.Build.props
  eng/Versions.props
  src/Grpc/JsonTranscoding/perf/Microsoft.AspNetCore.Grpc.Microbenchmarks/Microsoft.AspNetCore.Grpc.Microbenchmarks.csproj
Labels: area-infrastructure

#58428 Remove bulk disables of CA warnings
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/EventTracing.h
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/aspnetcore_event.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/acache.cpp
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/buffer.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/percpu.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/reftrace.c
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/stringu.cpp
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/stringu.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/tracelog.c
Labels: area-networking

#58448 Fix flaky Http2WebSocket Kestrel test
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2WebSocketTests.cs
Labels: area-networking

#58425 Update global.json to 10.0 sdk
  eng/SourceBuildPrebuiltBaseline.xml
  global.json
  src/Components/CustomElements/src/Microsoft.AspNetCore.Components.CustomElements.csproj
Labels: area-infrastructure

#58460 Move Windows.Amd64.VS2022.Pre.Open to Helix-Matrix
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#58469 [release/9.0] [Infrastructure] Updated npm packages
  eng/scripts/update-npm-dependencies.ps1
  package-lock.json
  src/Components/Web.JS/package.json
  src/Components/Web.JS/src/Boot.WebAssembly.Common.ts
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/Web.JS/src/JSInitializers/JSInitializers.WebAssembly.ts
  src/Components/Web.JS/src/Platform/Mono/MonoDebugger.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/Web.JS/src/Platform/Platform.ts
  src/Components/Web.JS/src/Platform/WebAssemblyStartOptions.ts
  src/Components/Web.JS/src/Services/WebRootComponentManager.ts
  src/Components/dotnet-runtime-js/package.json
Labels: area-infrastructure, tell-mode

#58470 [release/8.0] Improve dev-certs export error message
  src/Shared/CertificateGeneration/CertificateManager.cs
  src/Shared/CertificateGeneration/EnsureCertificateResult.cs
  src/Tools/FirstRunCertGenerator/test/CertificateManagerTests.cs
  src/Tools/dotnet-dev-certs/src/Program.cs
Labels: Servicing-approved, area-commandlinetools

#58272 Revert trimming test workarounds
  eng/testing/linker/ILLink.Descriptors.xml
  eng/testing/linker/project.csproj.template
  eng/testing/linker/trimmingTests.targets
  src/SignalR/server/Core/src/DynamicHub.cs
Labels: area-infrastructure

#58476 Add scope for internal npm packages
  package-lock.json
  package.json
  src/Components/CustomElements/src/js/package.json
  src/Components/Web.JS/package.json
  src/Components/WebAssembly/Authentication.Msal/src/Interop/package.json
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/package.json
  src/Middleware/Diagnostics/src/_package.json
  src/Mvc/Mvc.TagHelpers/src/_package.json
  src/Mvc/build/package-lock.json
  src/Mvc/build/package.json
  src/Mvc/test/WebSites/BasicWebSite/_package.json
  src/Mvc/test/WebSites/GenericHostWebSite/_package.json
  src/ProjectTemplates/Web.ProjectTemplates/package-lock.json
  src/ProjectTemplates/Web.ProjectTemplates/package.json
  src/ProjectTemplates/test/Templates.Tests/package.json
  src/SignalR/clients/ts/FunctionalTests/package.json
  src/SignalR/clients/ts/package.json
Labels: area-infrastructure

#58368 Unquarantine StreamPool_MultipleStreamsConcurrent_StreamsReturnedToPool
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-networking

#58481 Bump Microsoft.Data.SqlClient to latest released.
  eng/Versions.props
Labels: area-infrastructure

#58511 Add scope for internal npm packages (#58476)
  package-lock.json
  package.json
  src/Components/CustomElements/src/js/package.json
  src/Components/Web.JS/package.json
  src/Components/WebAssembly/Authentication.Msal/src/Interop/package.json
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/package.json
  src/Middleware/Diagnostics/src/_package.json
  src/Mvc/Mvc.TagHelpers/src/_package.json
  src/Mvc/build/package-lock.json
  src/Mvc/build/package.json
  src/Mvc/test/WebSites/BasicWebSite/_package.json
  src/Mvc/test/WebSites/GenericHostWebSite/_package.json
  src/ProjectTemplates/Web.ProjectTemplates/package-lock.json
  src/ProjectTemplates/Web.ProjectTemplates/package.json
  src/ProjectTemplates/test/Templates.Tests/package.json
  src/SignalR/clients/ts/FunctionalTests/package.json
  src/SignalR/clients/ts/package.json
Labels: area-mvc, tell-mode

#58548 [release/9.0] Turn non-stable dependency warning back on
  Directory.Build.props
Labels: area-infrastructure

#55914 Date only and time only is not supported in blazor change detection for parameters
  src/Components/Components/src/ChangeDetection.cs
  src/Components/Components/test/RenderTreeDiffBuilderTest.cs
Labels: area-blazor, community-contribution, pending-ci-rerun

#58552 Update xcopy-msbuild to minimum available version
  global.json
Labels: area-infrastructure

#58557 Fix InstallJdk script
  eng/scripts/InstallJdk.ps1
Labels: area-infrastructure

#58558 Update `HtmlAttributePropertyHelper` to correctly follow the `MetadataUpdateHandlerAttribute` contract
  src/Mvc/Mvc.ViewFeatures/src/HtmlAttributePropertyHelper.cs
Labels: feature-hot-reload, area-ui-rendering

#58514 use nameof for CallerArgumentExpression
  src/Shared/ThrowHelpers/ArgumentNullThrowHelper.cs
  src/Shared/ThrowHelpers/ArgumentThrowHelper.cs
Labels: community-contribution, area-networking

#58035 Rename SourceBuildUseMonoRuntime property, which is not SB specific
  eng/DotNetBuild.props
Labels: area-infrastructure, pending-ci-rerun

#55968 Ensuring cancellation of tokens when using GetLinkedCancellationToken(a,b)
  src/Components/Server/src/Circuits/RemoteJSDataStream.cs
  src/Components/Server/test/Circuits/RemoteJSDataStreamTest.cs
Labels: area-blazor, community-contribution, pending-ci-rerun

#58631 use JsonSerializerOptions.Web
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/SignOutSessionStateManager.cs
  src/Http/Http.Results/test/JsonResultTests.cs
  src/Http/Http.Results/test/ProblemResultTests.cs
  src/Http/Http.Results/test/ValidationProblemResultTests.cs
  src/Http/Routing/test/FunctionalTests/MinimalFormTests.cs
  src/Mvc/Mvc.Core/test/Formatters/SystemTextJsonOutputFormatterTest.cs
  src/Mvc/Mvc.Core/test/Infrastructure/DefaultApiProblemDetailsWriterTest.cs
Labels: area-blazor, community-contribution

#58575 if actual bytes to be written is negative, set to zero
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: community-contribution, area-networking

#58618 Use FullName in InstallJdk script
  eng/scripts/InstallJdk.ps1
Labels: area-infrastructure

#58642 Always use --apply-cop-headers in ThreadingAppTest
  src/Components/test/E2ETest/Infrastructure/ServerFixtures/BlazorWasmTestAppFixture.cs
  src/Components/test/E2ETest/Tests/ThreadingAppTest.cs
Labels: area-blazor

#58193 Add Description to ProducesResponseType (and others) for better OpenAPI document creation
  src/Http/Http.Abstractions/src/Metadata/IProducesResponseTypeMetadata.cs
  src/Http/Http.Abstractions/src/Metadata/ProducesResponseTypeMetadata.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Mvc/Mvc.Abstractions/src/ApiExplorer/ApiResponseType.cs
  src/Mvc/Mvc.Abstractions/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Api.Analyzers/test/TestFiles/SymbolApiResponseMetadataProviderTest/GetResponseMetadataTests.cs
  src/Mvc/Mvc.ApiExplorer/src/ApiResponseTypeProvider.cs
  src/Mvc/Mvc.ApiExplorer/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.ApiExplorer/test/DefaultApiDescriptionProviderTest.cs
  src/Mvc/Mvc.Core/src/ApiExplorer/IApiResponseMetadataProvider.cs
  src/Mvc/Mvc.Core/src/ProducesAttribute.cs
  src/Mvc/Mvc.Core/src/ProducesDefaultResponseTypeAttribute.cs
  src/Mvc/Mvc.Core/src/ProducesResponseTypeAttribute.cs
  src/Mvc/Mvc.Core/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Core/test/ProducesAttributeTests.cs
  src/Mvc/Mvc.Core/test/ProducesResponseTypeAttributeTests.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.Responses.cs
Labels: community-contribution, feature-openapi, area-networking

#58095 Add registry search for upgrade policy keys
  src/Installers/Windows/SharedFrameworkBundle/Bundle.wxs
  src/Installers/Windows/SharedFrameworkBundle/SharedFrameworkBundle.wixproj
  src/Installers/Windows/WindowsHostingBundle/Bundle.wxs
  src/Installers/Windows/WindowsHostingBundle/WindowsHostingBundle.wixproj
  src/Installers/Windows/Wix.targets
Labels: area-infrastructure

#58196 Add examples for attributes
  src/Mvc/Mvc.Core/src/FromBodyAttribute.cs
  src/Mvc/Mvc.Core/src/FromFormAttribute.cs
  src/Mvc/Mvc.Core/src/FromHeaderAttribute.cs
  src/Mvc/Mvc.Core/src/FromQueryAttribute.cs
  src/Mvc/Mvc.Core/src/FromRouteAttribute.cs
Labels: area-mvc

#58708 Correct typo in WebApplication.cs
  src/DefaultBuilder/src/WebApplication.cs
Labels: community-contribution, area-networking

#58482 Provide analyzer for removing unneeded public partial class Program
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DiagnosticDescriptors.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Resources.resx
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/WebApplicationBuilder/PublicPartialProgramClassAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/PublicPartialProgramClassFixer.cs
  src/Framework/AspNetCoreAnalyzers/test/WebApplicationBuilder/PublicPartialProgramClassTest.cs
Labels: analyzer, feature-mvc-testing, area-minimal
