Repository dotnet/aspnetcore, pull requests merged in 2024-11, with the labels that each got.

#58732 Replaced Deprecated str.substr with str.substring in All Relevant Files
  src/JSInterop/Microsoft.JSInterop.JS/src/src/Microsoft.JSInterop.ts
  src/SignalR/clients/ts/FunctionalTests/ts/HubConnectionTests.ts
  src/SignalR/clients/ts/signalr/src/Utils.ts
Labels: area-signalr, community-contribution

#58769 Fix compilation with latest roslyn
  src/Components/Server/test/Circuits/ServerComponentDeserializerTest.cs
  src/DataProtection/DataProtection/src/Internal/ContainerUtils.cs
  src/Framework/App.Runtime/src/CompatibilitySuppressions.xml
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/Infrastructure/SyntaxNodeExtensions.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/DetectMisplacedLambdaAttribute.cs
  src/Grpc/JsonTranscoding/src/Shared/Server/MethodOptions.cs
  src/Hosting/Hosting/src/GenericHost/GenericWebHostService.cs
  src/Hosting/Hosting/src/Internal/StartupLoader.cs
  src/Hosting/Hosting/src/Internal/WebHost.cs
  src/Http/Routing/test/UnitTests/Tree/TreeRouterTest.cs
  src/Http/WebUtilities/test/FileBufferingReadStreamTests.cs
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/DeveloperExceptionPageMiddlewareImpl.cs
  src/OpenApi/src/Extensions/JsonNodeSchemaExtensions.cs
  src/Servers/Connections.Abstractions/src/ConnectionBuilder.cs
  src/Servers/Connections.Abstractions/src/MultiplexedConnectionBuilder.cs
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Testing/src/xunit/DockerOnlyAttribute.cs
Labels: area-infrastructure, community-contribution

#58640 Fully qualify type names for services when resolving in RequestDelegateGenerator
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointParameterEmitter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitServiceParam_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTestBase.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.KeyServices.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/SharedTypes.Http.cs
Labels: community-contribution, feature-rdg, area-minimal

#58788 Unquarantine Http1Connection_ServerAbort_HasErrorType
  src/Servers/Kestrel/test/InMemory.FunctionalTests/KestrelMetricsTests.cs
Labels: area-networking

#58789 Unquarantine Http1Connection_RequestEndsWithIncompleteReadAsync
  src/Servers/Kestrel/test/InMemory.FunctionalTests/KestrelMetricsTests.cs
Labels: area-networking

#58738 Remove GET_RequestReturnsLargeData_GracefulShutdownDuringRequest_RequestGracefullyCompletes
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http2/Http2RequestTests.cs
Labels: area-networking

#58791 Update Selenium packages
  eng/Versions.props
Labels: area-infrastructure

#58790 Fixed the hot-keys for Blazor WebApp template options
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/template.json
Labels: area-blazor

#58799 [Blazor] Fix `ExpressionFormatter` sometimes generating malformed expression strings
  src/Components/Forms/test/ReverseStringBuilderTest.cs
  src/Components/Shared/src/ExpressionFormatting/ReverseStringBuilder.cs
Labels: area-blazor

#58800 Update branding to 8.0.12
  eng/Versions.props
Labels: area-infrastructure

#58512 Add scope for internal npm packages
  src/Components/Web.JS/package.json
  src/Middleware/Diagnostics/src/_package.json
  src/Mvc/Mvc.TagHelpers/src/_package.json
  src/Mvc/test/WebSites/BasicWebSite/_package.json
  src/Mvc/test/WebSites/GenericHostWebSite/_package.json
  src/ProjectTemplates/test/Templates.Tests/package.json
  src/SignalR/clients/ts/FunctionalTests/package.json
  src/SignalR/clients/ts/common/package.json
  src/SignalR/clients/ts/package.json
Labels: area-infrastructure, tell-mode, pending-ci-rerun

#58806 Update milestones for Dec/Jan
  .github/policies/resourceManagement.yml
Labels: area-infrastructure

#58466 [release/8.0] Upgrade `serialize-javascript` transient dependency
  src/Components/CustomElements/src/js/yarn.lock
  src/Components/Web.JS/yarn.lock
  src/Components/WebAssembly/Authentication.Msal/src/Interop/yarn.lock
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/yarn.lock
  src/SignalR/clients/ts/FunctionalTests/yarn.lock
  src/SignalR/clients/ts/common/yarn.lock
Labels: area-infrastructure, tell-mode, pending-ci-rerun

#58510 [release/6.0] Upgrade `serialize-javascript` transient dependency
  src/Components/WebAssembly/Authentication.Msal/src/Interop/yarn.lock
  src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/yarn.lock
  src/SignalR/clients/ts/FunctionalTests/yarn.lock
Labels: area-infrastructure, pending-ci-rerun

#58561 [release/6.0] Test on CentOS 7, not RedHat 7
  eng/helix/helix.proj
  eng/scripts/RunHelix.ps1
  eng/targets/Helix.Common.props
  eng/targets/Helix.targets
  src/Servers/Kestrel/test/InMemory.FunctionalTests/HttpsConnectionMiddlewareTests.cs
  src/Testing/src/xunit/HelixConstants.cs
Labels: area-infrastructure, tell-mode

#57559 Update Router.cs
  src/Components/Components/src/Routing/Router.cs
Labels: area-blazor, community-contribution, pending-ci-rerun

#58747 Fix local failure in GET_GracefulServerShutdown_AbortRequestsAfterHostTimeout
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpHelpers.cs
Labels: area-networking

#58820 Set up Windows installer build for the VMR
  Directory.Build.props
  eng/Build.props
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Installers/Windows/WindowsHostingBundle/Product.targets
  src/Installers/Windows/WindowsHostingBundle/WindowsHostingBundle.wixproj
Labels: area-infrastructure

#58808 Add examples to AddOpenApi extension method/overloads
  src/OpenApi/src/Extensions/OpenApiServiceCollectionExtensions.cs
  src/OpenApi/src/Microsoft.AspNetCore.OpenApi.csproj
Labels: feature-openapi, area-minimal

#58616 Support returning OpenAPI document in YAML from MapOpenApi
  src/OpenApi/sample/Program.cs
  src/OpenApi/src/Extensions/OpenApiEndpointRouteBuilderExtensions.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Extensions/OpenApiEndpointRouteBuilderExtensionsTests.cs
Labels: area-mvc, feature-openapi, area-minimal

#58847 Use the runtime->AspNetCore transport package as the sentinel package instead of the BrowserDebugHost package
  eng/helix/helix.proj
  global.json
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Installers/Windows/WindowsHostingBundle/Product.targets
Labels: area-infrastructure

#58849 chore: fixed missed conditional theory for testing named pipe
  src/Servers/Kestrel/Transport.NamedPipes/test/NamedPipeConnectionListenerTests.cs
Labels: community-contribution, area-networking

#58873 Fix remote asset url condition and look for the PGO'd archive when in a PGO vertical
  Directory.Build.props
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-infrastructure

#58881 [release/2.3] Fix package for Microsoft.Aspnetcore.Razor.Design
  build/dependencies.props
  src/Razor/Razor.Design/src/Microsoft.AspNetCore.Razor.Design.csproj
  src/Razor/Razor.Design/src/Microsoft.AspNetCore.Razor.Design.nuspec
Labels: area-infrastructure

#58872 feat: analyzer and codeFix for kestrel setup `ListenOptions.Listen(IPAddress.Any)` usage
  docs/list-of-diagnostics.md
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DiagnosticDescriptors.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Kestrel/ListenOnIPv6AnyAnalyzer.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Resources.resx
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/Kestrel/ListenOnIPv6AnyFixer.cs
  src/Framework/AspNetCoreAnalyzers/test/Kestrel/ListenOnIPv6AnyAnalyzerAndFixerTests.cs
  src/Framework/AspNetCoreAnalyzers/test/Verifiers/CSharpAnalyzerVerifier.cs
Labels: area-infrastructure, analyzer

#58898 Merging internal commits for release/8.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure

#58900 Merging internal commits for release/9.0
  .azure/pipelines/jobs/default-build.yml
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/PackageOverrides.txt
  eng/PlatformManifest.txt
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure

#58899 Merging internal commits for release/6.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure

#58573 [release/9.0] Prevent unnecessary debugger stops for user-unhandled exceptions in Blazor apps with Just My Code enabled
  src/Components/Components/src/ComponentBase.cs
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Components/src/Rendering/ComponentState.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Streaming.cs
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/DeveloperExceptionPageMiddlewareImpl.cs
Labels: Servicing-approved, area-blazor

#58846 Fix IIS outofprocess to remove WebSocket compression handshake
  src/Hosting/Server.IntegrationTesting/src/Common/DeploymentParameters.cs
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/forwardinghandler.cpp
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Infrastructure/IISTestSiteCollection.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Infrastructure/IISTestSiteFixture.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/RequestResponseTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/WebSocketInProcessTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/WebSocketOutOfProcessTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/WebSocketTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/IISExpress.FunctionalTests.csproj
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/InProcessWebSite.csproj
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.WebSockets.cs
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/Startup.cs
  src/Servers/IIS/IISIntegration.slnf
Labels: feature-iis, area-networking

#58929 Remove some references to release/6.0
  .azure/pipelines/helix-matrix.yml
  .azure/pipelines/quarantined-pr.yml
  .github/dependabot.yml
Labels: area-infrastructure

#58549 [release/8.0] Use MacOS-13 in CI
  .azure/pipelines/ci-public.yml
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/codesign-xplat.yml
  .azure/pipelines/jobs/default-build.yml
  eng/build.ps1
  eng/configure-toolset.sh
  eng/scripts/InstallJdk.ps1
  eng/targets/Java.Common.targets
  global.json
  src/SignalR/clients/java/signalr/build.gradle
  src/SignalR/clients/java/signalr/core/build.gradle
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/DefaultHttpClient.java
  src/SignalR/clients/java/signalr/gradle/wrapper/gradle-wrapper.properties
  src/SignalR/clients/java/signalr/messagepack/build.gradle
  src/SignalR/clients/java/signalr/test/build.gradle
  src/SignalR/clients/java/signalr/test/signalr.client.java.Tests.javaproj
Labels: area-infrastructure, tell-mode

#59031 Upload test logs for local validation job
  .azure/pipelines/ci-public.yml
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#58945 nit: doc comment typo
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteEmbeddedLanguage/FrameworkParametersCompletionProvider.cs
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectOptions.cs
Labels: community-contribution, area-security

#59037 ContinueOnError in windows local development job
  .azure/pipelines/ci-public.yml
Labels: area-infrastructure

#58904 Address variable initialization warnings in ANCM (C26494)
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/HostFxrResolver.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/StandardStreamRedirection.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/StdWrapper.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/WebConfigConfigurationSection.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/aspnetcore_event.h
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/config_utility.h
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/debugutil.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/sttimer.h
  src/Servers/IIS/AspNetCoreModuleV2/DefaultRules.ruleset
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/ahutil.cpp
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/base64.cpp
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/buffer.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/hashtable.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/listentry.h
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/reftrace.c
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/stringa.cpp
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/tracelog.c
  src/Servers/IIS/AspNetCoreModuleV2/IISLib/util.cpp
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocessapplication.cpp
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/managedexports.cpp
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/dllmain.cpp
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/forwardinghandler.cpp
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/processmanager.cpp
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/serverprocess.cpp
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/websockethandler.cpp
Labels: area-networking

#58895 Fix SignalR Java POM to include description
  src/SignalR/clients/java/signalr/core/build.gradle
  src/SignalR/clients/java/signalr/messagepack/build.gradle
Labels: area-signalr

#59035 Don't throw exception for parameters with custom binding source
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.Parameters.cs
Labels: area-mvc

#59041 Add `-sign` to build.sh
  eng/build.sh
Labels: area-infrastructure

#59036 Don't run IIS websocket tests on unsupported queue
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Infrastructure/IISTestSiteFixture.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/WebSocketTests.cs
Labels: area-networking

#59058 Undo RepoTasks workaround
  eng/tools/RepoTasks/RepoTasks.csproj
  eng/tools/RepoTasks/RepoTasks.tasks
Labels: area-infrastructure

#58305 Use new Dictionary AlternateLookup to avoid allocation in DictionaryJumpTable
  src/Http/Routing/perf/Microbenchmarks/Matching/JumpTableMultipleEntryBenchmark.cs
  src/Http/Routing/src/Matching/DictionaryJumpTable.cs
Labels: Perf, community-contribution, area-networking

#58925 Add 9.0 SiteExtension, remove some 6.0 bits
  .github/policies/resourceManagement.yml
  NuGet.config
  eng/Dependencies.props
  eng/Versions.props
  src/SiteExtensions/LoggingAggregate/src/Microsoft.AspNetCore.AzureAppServices.SiteExtension/Microsoft.AspNetCore.AzureAppServices.SiteExtension.csproj
Labels: area-infrastructure

#58333 Hot Reload agent improvements
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/src/Boot.WebAssembly.Common.ts
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/WebAssembly/WebAssembly/src/HotReload/AgentMessageSeverity.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/AgentReporter.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/HotReloadAgent.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/MetadataUpdateHandlerInvoker.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/ResponseLoggingLevel.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/UpdateDelta.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/WebAssemblyHotReload.cs
  src/Components/WebAssembly/WebAssembly/src/PublicAPI.Shipped.txt
  src/Components/WebAssembly/WebAssembly/test/WebAssemblyHotReloadTest.cs
Labels: area-blazor

#59043 Harden parsing of [Range] attribute values
  src/OpenApi/src/Extensions/JsonNodeSchemaExtensions.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiSchemaService/OpenApiSchemaService.ParameterSchemas.cs
Labels: area-mvc

#59079 Re-enable local development job
  .azure/pipelines/ci-public.yml
  global.json
Labels: area-infrastructure

#59082 Revert "Pass -sign and -publish switch to dotnet build only"
  eng/build.ps1
Labels: area-infrastructure

#58721 Add package for consuming Blazor framework assets
  AspNetCore.sln
  eng/Build.props
  eng/ProjectReferences.props
  eng/ShippingAssemblies.props
  eng/scripts/npm/update-dependency-versions.mjs
  eng/tools/GenerateFiles/Directory.Build.targets.in
  src/Assets/Microsoft.AspNetCore.App.Internal.Assets.csproj
  src/Assets/build.cmd
  src/Assets/build/Microsoft.AspNetCore.App.Internal.Assets.props
  src/Assets/build/Microsoft.AspNetCore.App.Internal.Assets.targets
  src/Assets/buildMultiTargeting/Microsoft.AspNetCore.App.Internal.Assets.targets
  src/Assets/buildTransitive/Microsoft.AspNetCore.App.Internal.Assets.targets
  src/Components/Components.slnf
  src/Components/Directory.Build.props
  src/Components/Directory.Build.targets
  src/Components/Endpoints/src/Builder/RazorComponentEndpointDataSource.cs
  src/Components/Endpoints/src/Directory.Build.targets
  src/Components/Endpoints/src/Microsoft.AspNetCore.Components.Endpoints.csproj
  src/Components/Endpoints/test/Builder/RazorComponentsEndpointConventionBuilderExtensionsTest.cs
  src/Components/Endpoints/test/RazorComponentEndpointDataSourceTest.cs
  src/Components/Samples/BlazorUnitedApp/App.razor
  src/Components/Server/src/Builder/ComponentEndpointConventionBuilder.cs
  src/Components/Server/src/Builder/ComponentEndpointRouteBuilderExtensions.cs
  src/Components/Server/src/Directory.Build.targets
  src/Components/Server/src/Microsoft.AspNetCore.Components.Server.csproj
  src/Components/Server/test/ComponentEndpointRouteBuilderExtensionsTest.cs
  src/Components/Web.JS/.gitignore
  src/Components/Web.JS/dist/Release/blazor.server.js
  src/Components/Web.JS/dist/Release/blazor.web.js
  src/Components/Web.JS/dist/Release/blazor.webassembly.js
  src/Components/Web.JS/dist/Release/blazor.webview.js
  src/Components/Web.JS/rollup.config.mjs
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.csproj
  src/Components/WebAssembly/WebAssembly/src/targets/Microsoft.AspNetCore.Components.WebAssembly.props
  src/Components/WebAssembly/testassets/ThreadingApp.Server/Components/App.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/App.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/GlobalInteractivityApp.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/NamedFormContextNoFormContextApp.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/RemoteAuthenticationApp.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Root.razor
  src/ProjectTemplates/TestInfrastructure/Directory.Build.props.in
  src/ProjectTemplates/TestInfrastructure/PrepareForTest.targets
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/App.razor
  src/ProjectTemplates/scripts/Run-BlazorWasm-Locally.ps1
  src/ProjectTemplates/scripts/Run-BlazorWeb-Locally.ps1
Labels: area-blazor, pending-ci-rerun

#59088 Fixing misspelling of Fahrenheit
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Pages/Weather.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Pages/Weather.razor
Labels: area-blazor, community-contribution

#59103 [Infrastructure] Update .NET SDK to 10.0.100-alpha.1.24572.2
  global.json
  src/Components/CustomElements/src/Microsoft.AspNetCore.Components.CustomElements.csproj
Labels: area-infrastructure

#59112 Skip WebSocketOutOfProcessTests on Windows.Amd64.Server2022.Open
  src/Servers/IIS/IIS/test/Common.FunctionalTests/WebSocketInProcessTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/WebSocketOutOfProcessTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/WebSocketTests.cs
Labels: area-networking

#58987 Build installers at the end of the repo build and allow building with desktop msbuild
  eng/AfterSolutionBuild.targets
  eng/Build.props
  eng/Npm.Workspace.FunctionalTests.nodeproj
  eng/Npm.Workspace.nodeproj
  eng/Tools.props
  eng/build.ps1
  eng/targets/ResolveReferences.targets
  eng/tools/GenerateFiles/GenerateFiles.csproj
  src/Installers/Windows/SharedFrameworkBundle/SharedFrameworkBundle.wixproj
Labels: area-infrastructure

#59164 Remove Inputs&Outputs from GenerateDirectoryBuildFiles
  eng/tools/GenerateFiles/GenerateFiles.csproj
Labels: area-infrastructure

#59160 Return 206 Partial Content on Valid Range for Static Assets
  src/StaticAssets/src/StaticAssetsInvoker.cs
  src/StaticAssets/test/StaticAssetsIntegrationTests.cs
Labels: area-blazor, community-contribution

#59170 Don't overbuild when the ProjectToBuild / -projects flag is passed in
  .azure/pipelines/ci-public.yml
  eng/build.ps1
Labels: area-infrastructure

#59174 Add empty Pack target to .wixproj
  src/Installers/Windows/Wix.targets
Labels: area-infrastructure

#59181 [release/8.0] Fix java discovery in helix-matrix
  .azure/pipelines/helix-matrix.yml
Labels: area-infrastructure, tell-mode

#59187 Add direct reference to System.Runtime.Caching in tools
  eng/Dependencies.props
  src/Tools/dotnet-sql-cache/src/dotnet-sql-cache.csproj
Labels: area-commandlinetools

#59183 [release/9.0] Update dependencies from roslyn
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#59184 [release/8.0] Update dependencies from dotnet/roslyn
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#59189 [release/9.0] Add direct reference to System.Drawing.Common in tools
  src/Tools/dotnet-sql-cache/src/dotnet-sql-cache.csproj
Labels: area-commandlinetools, tell-mode

#59182 Update dependencies from dotnet/roslyn
  .globalconfig
  eng/Version.Details.xml
  eng/Versions.props
  src/Framework/AspNetCoreAnalyzers/test/Infrastructure/WellKnownTypesTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTestBase.cs
Labels: area-infrastructure

#59194 Set target platform for wixproj and vcxproj correctly
  eng/Build.props
  src/Installers/Windows/SharedFrameworkBundle/SharedFrameworkBundle.wixproj
Labels: area-infrastructure

#59118 Fix source build when using `--no-build-js`
  .azure/pipelines/ci-public.yml
  .azure/pipelines/ci.yml
  src/Assets/Microsoft.AspNetCore.App.Internal.Assets.csproj
  src/Assets/build/Microsoft.AspNetCore.App.Internal.Assets.targets
  src/Components/WebView/Samples/PhotinoPlatform/testassets/PhotinoTestApp/PhotinoTestApp.csproj
  src/Components/WebView/WebView/src/Microsoft.AspNetCore.Components.WebView.csproj
  src/Components/WebView/WebView/src/StaticContentProvider.cs
  src/Components/WebView/WebView/src/build/Microsoft.AspNetCore.Components.WebView.props
Labels: area-blazor

#59219 fix: target current LTS framework for `Microsoft.AspNetCore.Connections.Abstractions`
  src/Servers/Connections.Abstractions/src/Microsoft.AspNetCore.Connections.Abstractions.csproj
Labels: area-networking
