Repository dotnet/aspnetcore, pull requests merged in 2024-12, with the labels that each got.

#59286 Set DefaultAppHostRuntimeIdentifier when building the product (i.e. i…
  eng/Common.props
Labels: area-infrastructure

#59296 Produce binlogs in internal builds
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#59309 Import Common.props after the Arcade.SDK in props file
  Directory.Build.props
Labels: area-infrastructure

#59310 Remove setting IsStableBuild in Directory.Build.props
  Directory.Build.props
Labels: area-infrastructure

#59268 [Infrastructure] Update Selenium versions
  eng/Versions.props
  src/Components/benchmarkapps/Wasm.Performance/dockerfile
Labels: area-infrastructure

#59340 [Blazor WebAssembly standalone] Don't cache `index.html` during development
  src/Assets/build/Microsoft.AspNetCore.App.Internal.Assets.targets
  src/Components/WebAssembly/DevServer/src/Server/Startup.cs
  src/Components/WebView/WebView/src/build/Microsoft.AspNetCore.Components.WebView.props
Labels: area-blazor, feature-blazor-wasm, feature-hot-reload

#59333 Update RequestLocalizationMiddleware.cs
  src/Middleware/Localization/src/RequestLocalizationMiddleware.cs
Labels: area-mvc, community-contribution

#59281 Use `NullLogger` instead of `NullLoggerFactory.CreateLogger`
  src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/WebSocketsTransport.cs
Labels: area-signalr, community-contribution

#59351 Remove the Shared Framework WixLib in favor of the MSI installer
  AspNetCore.sln
  eng/Build.props
  src/Installers/Windows/Installers.slnf
  src/Installers/Windows/SharedFrameworkBundle/Bundle.wxs
  src/Installers/Windows/SharedFrameworkBundle/SharedFrameworkBundle.wixproj
  src/Installers/Windows/SharedFrameworkLib/Library.wxs
  src/Installers/Windows/SharedFrameworkLib/SharedFrameworkLib.wixproj
  src/Installers/Windows/WindowsHostingBundle/WindowsHostingBundle.wixproj
  src/Installers/Windows/Wix.targets
Labels: area-infrastructure

#59398 Fix SFX issues causing sdk injestion failures
  .azure/pipelines/ci.yml
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.Composite.sfxproj
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.sfxproj
Labels: area-infrastructure

#59412 Fix publishing from new linux legs
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#59360 Fix MultipartReaderStream synchronous read when using buffer offset
  src/Http/WebUtilities/src/MultipartReaderStream.cs
  src/Http/WebUtilities/test/MultipartReaderTests.cs
Labels: area-networking

#59338 [Infrastructure] Script to automatically update Selenium and Playwright dependencies
  .github/workflows/update-selenium-and-playwright-dependencies.yml
  eng/scripts/update-selenium-and-playwright-versions.ps1
Labels: area-infrastructure

#59445 Upload binlogs in default build scenarios
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#59411 Fix EventCountersAndMetricsValues and VerifyCountersFireWithCorrectValues flaky tests
  src/Hosting/Hosting/test/HostingApplicationDiagnosticsTests.cs
  src/Hosting/Hosting/test/Internal/HostingEventSourceTests.cs
Labels: area-hosting

#59406 Use the Installers Arcade package to build the ref pack and targeting pack installers
  AspNetCore.sln
  Directory.Build.props
  eng/Build.props
  src/Framework/App.Ref/src/Microsoft.AspNetCore.App.Ref.sfxproj
  src/Framework/App.Runtime/bundle/aspnetcore-runtime-bundle.bundleproj
  src/Framework/App.Runtime/bundle/bundle.thm
  src/Framework/App.Runtime/bundle/theme/1028/bundle.wxl
  src/Framework/App.Runtime/bundle/theme/1029/bundle.wxl
  src/Framework/App.Runtime/bundle/theme/1031/bundle.wxl
  src/Framework/App.Runtime/bundle/theme/1033/bundle.wxl
  src/Framework/App.Runtime/bundle/theme/1036/bundle.wxl
  src/Framework/App.Runtime/bundle/theme/1040/bundle.wxl
  src/Framework/App.Runtime/bundle/theme/1041/bundle.wxl
  src/Framework/App.Runtime/bundle/theme/1042/bundle.wxl
  src/Framework/App.Runtime/bundle/theme/1045/bundle.wxl
  src/Framework/App.Runtime/bundle/theme/1046/bundle.wxl
  src/Framework/App.Runtime/bundle/theme/1049/bundle.wxl
  src/Framework/App.Runtime/bundle/theme/1055/bundle.wxl
  src/Framework/App.Runtime/bundle/theme/2052/bundle.wxl
  src/Framework/App.Runtime/bundle/theme/3082/bundle.wxl
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.sfxproj
  src/Installers/Windows/Common/dotnethome_x64.wxs
  src/Installers/Windows/Installers.slnf
  src/Installers/Windows/SharedFramework/DependencyProvider.wxs
  src/Installers/Windows/SharedFramework/Product.wxs
  src/Installers/Windows/SharedFramework/SharedFramework.nuspec
  src/Installers/Windows/SharedFramework/SharedFramework.wixproj
  src/Installers/Windows/SharedFramework/Strings.wxl
  src/Installers/Windows/SharedFrameworkBundle/Bundle.wxs
  src/Installers/Windows/SharedFrameworkBundle/DotNetLogo.bmp
  src/Installers/Windows/SharedFrameworkBundle/SharedFrameworkBundle.wixproj
  src/Installers/Windows/TargetingPack/DependencyProvider.wxs
  src/Installers/Windows/TargetingPack/Product.wxs
  src/Installers/Windows/TargetingPack/Strings.wxl
  src/Installers/Windows/TargetingPack/TargetingPack.nuspec
  src/Installers/Windows/TargetingPack/TargetingPack.wixproj
  src/Installers/Windows/WindowsHostingBundle/SharedFramework.wxs
  src/Installers/Windows/WindowsHostingBundle/WindowsHostingBundle.wixproj
Labels: blocked, area-infrastructure

#59231 Fix: Include .webmanifest in Offline Cache for Default PWA Service Worker
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/wwwroot/service-worker.published.js
Labels: area-mvc, community-contribution, pending-ci-rerun

#59463 Fix up publishing of installers built with shared tooling
  eng/Build.props
  eng/Publishing.props
Labels: area-infrastructure, feature-installers

#59207 Fix: Handle null event.submitter in enhanced form submission
  src/Components/Web.JS/src/Services/NavigationEnhancement.ts
Labels: area-blazor, community-contribution, pending-ci-rerun

#59425 Fix loading dotnet user-jwts config
  src/Security/Authentication/JwtBearer/src/JwtBearerConfigureOptions.cs
  src/Security/Authentication/test/JwtBearerTests_Handler.cs
  src/Tools/Tools.slnf
  src/Tools/dotnet-user-jwts/test/UserJwtsTests.cs
  src/Tools/dotnet-user-jwts/test/dotnet-user-jwts.Tests.csproj
Labels: area-commandlinetools

#59478 Update dependencies from dotnet/roslyn
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#59479 Do a few tricks to shorten the intermediate output paths for the runtime packs
  src/Framework/App.Ref/src/Directory.Build.props
  src/Framework/App.Runtime/src/Directory.Build.props
  src/Framework/test/Microsoft.AspNetCore.App.UnitTests.csproj
Labels: area-infrastructure

#59201 Prevent ArgumentOutOfRangeException when handling nested generic types
  src/OpenApi/src/Extensions/JsonTypeInfoExtensions.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Extensions/JsonTypeInfoExtensionsTests.cs
Labels: area-mvc, community-contribution, feature-openapi

#58864 remove redundant initializer in HttpValidationProblemDetails
  src/Http/Http.Abstractions/src/ProblemDetails/HttpValidationProblemDetails.cs
Labels: community-contribution, pending-ci-rerun, area-networking

#59199 Change OpenAPI document name resolution to be case-insensitive
  src/OpenApi/src/Extensions/OpenApiEndpointRouteBuilderExtensions.cs
  src/OpenApi/src/Extensions/OpenApiServiceCollectionExtensions.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Extensions/OpenApiEndpointRouteBuilderExtensionsTests.cs
Labels: community-contribution, feature-openapi, pending-ci-rerun, area-minimal

#59512 Fixed the area-blazor ownership
  docs/area-owners.md
Labels: area-infrastructure

#59535 Only generate specified document (#59097)
  src/Tools/GetDocumentInsider/src/Commands/GetDocumentCommandWorker.cs
  src/Tools/GetDocumentInsider/tests/GetDocumentTests.cs
Labels: area-commandlinetools, community-contribution, feature-openapi

#58664 Correct typo in ProtectedPersonalDataAttribute.cs & PersonalDataAttribute.cs
  src/Identity/Extensions.Core/src/PersonalDataAttribute.cs
  src/Identity/Extensions.Core/src/ProtectedPersonalDataAttribute.cs
Labels: area-identity, community-contribution

#59548 Removed unused areas
  docs/area-owners.md
Labels: area-infrastructure

#59556 Fixed ownership mapping for the routing area
  .github/CODEOWNERS
Labels: area-infrastructure

#55611 Improve performance of UriHelper.GetDisplayUrl
  src/Http/Http.Extensions/src/UriHelper.cs
Labels: Perf, community-contribution, pending-ci-rerun, area-networking

#59516 Update testing analyzers
  eng/Dependencies.props
  eng/SourceBuildPrebuiltBaseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  eng/tools/RepoTasks/RepoTasks.csproj
  src/Analyzers/Analyzers/test/Microsoft.AspNetCore.Analyzers.Test.csproj
  src/Analyzers/Analyzers/test/StartupCSharpAnalyzerTest.cs
  src/Framework/AspNetCoreAnalyzers/test/Microsoft.AspNetCore.App.Analyzers.Test.csproj
  src/Framework/AspNetCoreAnalyzers/test/Verifiers/CSharpAnalyzerVerifier.cs
  src/Framework/AspNetCoreAnalyzers/test/Verifiers/CSharpCodeFixVerifier.cs
  src/Framework/AspNetCoreAnalyzers/test/Verifiers/CSharpSourceGeneratorVerifier.cs
  src/Mvc/Mvc.Analyzers/test/AttributesShouldNotBeAppliedToPageModelAnalyzerTest.cs
  src/Mvc/Mvc.Analyzers/test/AvoidHtmlPartialAnalyzerTest.cs
  src/Mvc/Mvc.Analyzers/test/Mvc.Analyzers.Test.csproj
  src/Mvc/Mvc.Analyzers/test/TagHelpersInCodeBlocksAnalyzerTest.cs
  src/Mvc/Mvc.Analyzers/test/TopLevelParameterNameAnalyzerTest.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/localize/templatestrings.en.json
Labels: area-infrastructure

#59359 Retry `Microsoft.AspNetCore.Server.Kestrel.Core.Tests.Http2ConnectionTests.AbortSendsFinalGOAWAY`
  eng/test-configuration.json
Labels: area-infrastructure, pending-ci-rerun

#59131 [LoongArch64]: Enable the crossgen2 tool to optimize aspnetcore runtime
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.sfxproj
Labels: area-infrastructure, community-contribution, pending-ci-rerun

#59574 Skip tests on internal queues too
  src/Testing/src/xunit/SkipOnHelixAttribute.cs
Labels: area-infrastructure

#59575 [release/8.0] Update dotnetbuilds CDN to new endpoint
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Installers/Windows/WindowsHostingBundle/Product.targets
Labels: area-infrastructure

#59624 Update runtime download paths to directly point to the blob store
  Directory.Build.props
Labels: area-infrastructure
