Repository dotnet/aspnetcore, pull requests merged in 2024-04, with the labels that each got.

#54786 Added retry for CheckInvalidHostingModelParameter
  eng/test-configuration.json
Labels: area-infrastructure

#54884 1ES-ify SignalR Daily Tests pipeline
  .azure/pipelines/jobs/default-build.yml
  .azure/pipelines/signalr-daily-tests.yml
Labels: area-infrastructure

#54885 Bump helix-matrix timeout up to 5 hours
  .azure/pipelines/helix-matrix.yml
Labels: area-infrastructure

#54886 Skip CodeQL in public builds
  .azure/pipelines/ci-public.yml
Labels: area-infrastructure

#54887 Update test-configuration.json
  eng/test-configuration.json
Labels: area-infrastructure

#54601 update IdentityModel to latest
  eng/Versions.props
Labels: area-infrastructure, community-contribution, pending-ci-rerun

#54826 Handle JSON comments and trailing commas in user-jwts
  src/Tools/dotnet-user-jwts/src/Commands/CreateCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/ListCommand.cs
  src/Tools/dotnet-user-jwts/src/Helpers/DevJwtCliHelpers.cs
  src/Tools/dotnet-user-jwts/src/Helpers/JwtAuthenticationSchemeSettings.cs
  src/Tools/dotnet-user-jwts/src/Helpers/JwtSerializerOptions.cs
  src/Tools/dotnet-user-jwts/src/Helpers/JwtStore.cs
  src/Tools/dotnet-user-jwts/src/Helpers/SigningKeysHandler.cs
  src/Tools/dotnet-user-jwts/test/UserJwtsTestFixture.cs
  src/Tools/dotnet-user-jwts/test/UserJwtsTests.cs
Labels: area-commandlinetools, community-contribution

#54804 Use SearchValues throughout dotnet/aspnetcore (part 2)
  src/Http/Http/test/RequestCookiesCollectionTests.cs
  src/Http/Shared/CookieHeaderParserShared.cs
Labels: Perf, community-contribution, area-networking

#54910 Update milestones for May
  .github/policies/resourceManagement.yml
Labels: area-infrastructure

#54906 Update branding to 7.0.19
  eng/Versions.props
Labels: area-infrastructure

#54907 Update branding to 8.0.5
  eng/Versions.props
Labels: area-infrastructure

#54905 Update branding to 6.0.30
  eng/Versions.props
Labels: area-infrastructure

#54656 [release/6.0] Convert to 1ES templates
  .azure/pipelines/ci-public.yml
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/codesign-xplat.yml
  .azure/pipelines/jobs/default-build.yml
  eng/targets/Helix.Common.props
  eng/targets/Helix.targets
Labels: area-infrastructure, tell-mode

#54853 [release/7.0] Convert to 1es templates
  .azure/pipelines/ci-public.yml
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/codesign-xplat.yml
  .azure/pipelines/jobs/default-build.yml
  src/DataProtection/CreateTestCert.ps1
  src/Hosting/Server.IntegrationTesting/src/Deployers/RemoteWindowsDeployer/RemotePSSessionHelper.ps1
Labels: area-infrastructure, tell-mode

#54608 Increase logs and delays in CanLaunchPhotinoWebViewAndClickButton
  src/Components/WebView/test/E2ETest/BasicBlazorHybridTest.cs
  src/Components/WebView/test/E2ETest/WebViewManagerE2ETests.cs
Labels: area-blazor, tell-mode

#54655 [release/8.0] Preserve RemoteAuthenticationContext during trimming if used in JS interop
  AspNetCore.sln
  src/Components/Components.slnf
  src/Components/WebAssembly/WebAssembly.Authentication/src/Services/RemoteAuthenticationService.cs
  src/Components/test/E2ETest/Infrastructure/ServerFixtures/AspNetSiteServerFixture.cs
  src/Components/test/E2ETest/Microsoft.AspNetCore.Components.E2ETests.csproj
  src/Components/test/E2ETest/Tests/RemoteAuthenticationTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyPrerenderedTest.cs
  src/Components/test/testassets/Components.TestServer/Components.TestServer.csproj
  src/Components/test/testassets/Components.TestServer/Program.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/RemoteAuthenticationApp.razor
  src/Components/test/testassets/Components.TestServer/RemoteAuthenticationStartup.cs
  src/Components/test/testassets/Components.WasmRemoteAuthentication/Components.WasmRemoteAuthentication.csproj
  src/Components/test/testassets/Components.WasmRemoteAuthentication/Pages/Authentication.razor
  src/Components/test/testassets/Components.WasmRemoteAuthentication/Pages/TestRemoteAuthentication.razor
  src/Components/test/testassets/Components.WasmRemoteAuthentication/Program.cs
  src/Components/test/testassets/Components.WasmRemoteAuthentication/Properties/launchSettings.json
  src/Components/test/testassets/Components.WasmRemoteAuthentication/RedirectToLogin.razor
  src/Components/test/testassets/Components.WasmRemoteAuthentication/Routes.razor
Labels: Servicing-approved, area-blazor, pending-ci-rerun

#54913 [release/6.0] Don't build Node components in SourceBuild
  .azure/pipelines/ci.yml
Labels: area-infrastructure, tell-mode

#54915 [release/8.0] Suppress .ps1 SDL errors
  src/DataProtection/CreateTestCert.ps1
  src/Hosting/Server.IntegrationTesting/src/Deployers/RemoteWindowsDeployer/RemotePSSessionHelper.ps1
Labels: area-infrastructure, tell-mode

#54914 [release/6.0] Suppress .ps1 SDL errors
  src/DataProtection/CreateTestCert.ps1
  src/Hosting/Server.IntegrationTesting/src/Deployers/RemoteWindowsDeployer/RemotePSSessionHelper.ps1
Labels: area-infrastructure, tell-mode

#54912 [release/8.0] Backport test fixes
  eng/Versions.props
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
  src/Components/test/testassets/Components.WasmRemoteAuthentication/Program.cs
Labels: area-infrastructure, tell-mode

#54893 Fix developer exception page showing duplicate endpoint metadata
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/Views/ErrorPage.Designer.cs
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/Views/ErrorPage.cshtml
Labels: area-middleware

#54903 Support generating OpenAPI operation and associated fields
  src/OpenApi/sample/Program.cs
  src/OpenApi/src/Helpers/OpenApiTagComparer.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/test/Services/OpenApiDocumentServiceTests.Operations.cs
Labels: area-mvc, feature-openapi, area-minimal

#54931 Fix custom elements JS initializer not being included in build output
  src/Components/CustomElements/src/Microsoft.AspNetCore.Components.CustomElements.csproj
  src/Components/test/E2ETest/Tests/CustomElementsTest.cs
Labels: area-blazor

#54917 Enable fixed tests.
  src/Components/test/E2ETest/ServerRenderingTests/RenderingTest.cs
  src/Components/test/E2ETest/Tests/ComponentRenderingTestBase.cs
  src/Components/test/E2ETest/Tests/EventTest.cs
Labels: area-blazor

#54689 Implement Redis distributed cache without Lua
  src/Caching/StackExchangeRedis/src/RedisCache.cs
  src/Caching/StackExchangeRedis/test/TimeExpirationAsyncTests.cs
  src/Caching/StackExchangeRedis/test/TimeExpirationTests.cs
Labels: feature-caching, area-networking

#54877 Force full reload on popstate
  package-lock.json
  src/Components/Web.JS/src/Services/NavigationManager.ts
  src/Components/test/E2ETest/Tests/GlobalInteractivityTest.cs
  src/Components/test/testassets/Components.TestServer/Program.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/GlobalInteractivityApp.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Static.razor
  src/Components/test/testassets/Components.WasmMinimal/Pages/Dynamic.razor
  src/Components/test/testassets/Components.WasmMinimal/Routes.razor
Labels: area-blazor

#54927 fix: added missing webtransport check before establishing a session
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
Labels: community-contribution, area-networking

#54952 [release/8.0] Skip SpotBugs for now
  .azure/pipelines/ci.yml
Labels: area-infrastructure, tell-mode

#54947 Update Microsoft.CodeAnalysis.CSharp testing deps
  eng/Versions.props
Labels: area-infrastructure

#54965 Docs: changed to align with function behaviour.
  src/Mvc/Mvc.ViewFeatures/src/Rendering/IHtmlHelperOfT.cs
Labels: area-mvc, community-contribution, area-ui-rendering

#54760 Include ContentLength when enumerating HttpHeaders
  src/Servers/Kestrel/Core/src/Internal/Http/HttpHeaders.Generated.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpRequestHeaders.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpResponseHeaders.cs
  src/Servers/Kestrel/Core/test/HttpRequestHeadersTests.cs
  src/Servers/Kestrel/Core/test/HttpResponseHeadersTests.cs
  src/Servers/Kestrel/shared/KnownHeaders.cs
Labels: area-networking

#54878 Use SearchValues throughout dotnet/aspnetcore (part 3)
  src/Mvc/Mvc.Razor/src/TagHelpers/UrlResolutionTagHelper.cs
  src/Mvc/Mvc.Razor/test/TagHelpers/UrlResolutionTagHelperTest.cs
  src/Mvc/Mvc.ViewFeatures/src/Rendering/TagBuilder.cs
  src/Mvc/Mvc.ViewFeatures/test/Rendering/TagBuilderTest.cs
  src/Mvc/perf/Microbenchmarks/Microsoft.AspNetCore.Mvc/TagBuilderBenchmark.cs
Labels: area-mvc, community-contribution

#54937 Quarantine CanLaunchPhotinoWebViewAndClickButton
  src/Components/WebView/test/E2ETest/WebViewManagerE2ETests.cs
Labels: area-blazor

#54988 Fix static analysis HRESULT / bool conversion warnings
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/WebConfigConfigurationSource.cpp
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocessapplication.cpp
Labels: area-networking

#54935 Add APIs for OpenAPI document transformers
  AspNetCore.sln
  src/Http/Http.Extensions/test/RequestDelegateGenerator/SharedTypes.cs
  src/OpenApi/OpenApi.slnf
  src/OpenApi/perf/AssemblyInfo.cs
  src/OpenApi/perf/Microsoft.AspNetCore.OpenApi.Microbenchmarks.csproj
  src/OpenApi/perf/TransformersBenchmark.cs
  src/OpenApi/sample/Program.cs
  src/OpenApi/sample/Sample.csproj
  src/OpenApi/sample/Transformers/AddBearerSecuritySchemeTransformer.cs
  src/OpenApi/sample/Transformers/AddContactTransformer.cs
  src/OpenApi/sample/Transformers/OperationTransformers.cs
  src/OpenApi/src/Extensions/OpenApiEndpointRouteBuilderExtensions.cs
  src/OpenApi/src/Microsoft.AspNetCore.OpenApi.csproj
  src/OpenApi/src/PublicAPI.Unshipped.txt
  src/OpenApi/src/Services/OpenApiConstants.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/src/Services/OpenApiOptions.cs
  src/OpenApi/src/Transformers/DelegateOpenApiDocumentTransformer.cs
  src/OpenApi/src/Transformers/IOpenApiDocumentTransformer.cs
  src/OpenApi/src/Transformers/OpenApiDocumentTransformerContext.cs
  src/OpenApi/src/Transformers/OpenApiOperationTransformerContext.cs
  src/OpenApi/src/Transformers/TypeBasedOpenApiDocumentTransformer.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests.csproj
  src/OpenApi/test/Services/OpenApiDocumentServiceTests.Info.cs
  src/OpenApi/test/Services/OpenApiDocumentServiceTestsBase.cs
  src/OpenApi/test/Transformers/DocumentTransformerTests.cs
  src/OpenApi/test/Transformers/OpenApiOptionsTests.cs
  src/OpenApi/test/Transformers/OperationTransformerTests.cs
Labels: area-mvc, feature-openapi, area-minimal

#55041 Add support for generating OpenAPI parameters
  src/OpenApi/src/Extensions/ApiDescriptionExtensions.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/test/Services/OpenApiDocumentServiceTests.Parameters.cs
  src/OpenApi/test/SharedTypes.cs
Labels: area-mvc, feature-openapi, area-minimal

#55020 Add support for generating OpenAPI responses
  src/OpenApi/perf/GenerationBenchmarks.cs
  src/OpenApi/sample/Program.cs
  src/OpenApi/sample/Sample.csproj
  src/OpenApi/src/Services/OpenApiConstants.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/test/Services/OpenApiDocumentServiceTests.Responses.cs
Labels: area-mvc, feature-openapi, area-minimal

#54490 Reuse known keys in XmlKeyManager
  src/DataProtection/DataProtection/src/KeyManagement/DeferredKey.cs
  src/DataProtection/DataProtection/src/KeyManagement/Key.cs
  src/DataProtection/DataProtection/src/KeyManagement/KeyBase.cs
  src/DataProtection/DataProtection/src/KeyManagement/XmlKeyManager.cs
  src/DataProtection/DataProtection/test/Microsoft.AspNetCore.DataProtection.Tests/KeyManagement/DeferredKeyTests.cs
  src/DataProtection/DataProtection/test/Microsoft.AspNetCore.DataProtection.Tests/KeyManagement/XmlKeyManagerTests.cs
Labels: area-dataprotection, pending-ci-rerun

#55089 Add entry to aspnetcore to propagate EFCore into the VMR
  eng/Version.Details.xml
Labels: area-infrastructure

#55034 Merging internal commits for release/8.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure

#55037 Merging internal commits for release/6.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure

#55042 Improve the style for developer exception page
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/Views/CompilationErrorPage.Designer.cs
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/Views/ErrorPage.Designer.cs
  src/Middleware/Diagnostics/src/DeveloperExceptionPage/Views/ErrorPage.css
  src/Middleware/Diagnostics/src/WelcomePage/Views/WelcomePage.Designer.cs
Labels: community-contribution, blog-candidate, area-middleware

#54987 Fix code tags in docs
  src/Security/Authorization/Core/src/AuthorizationServiceExtensions.cs
  src/Security/Authorization/Core/src/DefaultAuthorizationService.cs
  src/Security/Authorization/Core/src/IAuthorizationService.cs
Labels: area-security

#55145 Enable building native projects for windows arm64
  eng/Build.props
  eng/build.ps1
  eng/scripts/RunHelix.ps1
Labels: area-infrastructure

#55163 Support enhanced nav updates to link tag integrity
  src/Components/Web.JS/src/Rendering/DomMerging/AttributeSync.ts
  src/Components/test/E2ETest/ServerRenderingTests/EnhancedNavigationTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/EnhancedNav/PageWithLinkTag1.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/EnhancedNav/PageWithLinkTag2.razor
  src/Components/test/testassets/Components.TestServer/wwwroot/css/.gitattributes
  src/Components/test/testassets/Components.TestServer/wwwroot/css/cssfile1.css
  src/Components/test/testassets/Components.TestServer/wwwroot/css/cssfile2.css
Labels: area-blazor

#55040 Add support for generating OpenAPI request bodies
  src/OpenApi/sample/Program.cs
  src/OpenApi/src/Extensions/ApiDescriptionExtensions.cs
  src/OpenApi/src/Services/OpenApiComponentService.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/test/Services/OpenApiDocumentServiceTests.Info.cs
  src/OpenApi/test/Services/OpenApiDocumentServiceTests.RequestBody.cs
  src/OpenApi/test/Services/OpenApiDocumentServiceTestsBase.cs
Labels: area-mvc, feature-openapi, area-minimal

#55088 Update Wix version
  eng/targets/Wix.Common.props
  eng/tools/RepoTasks/RepoTasks.csproj
Labels: area-infrastructure

#55084 Add HybridCache public API
  AspNetCore.sln
  eng/ProjectReferences.props
  eng/ShippingAssemblies.props
  src/Caching/Caching.slnf
  src/Caching/Hybrid/src/HybridCacheBuilderExtensions.cs
  src/Caching/Hybrid/src/HybridCacheOptions.cs
  src/Caching/Hybrid/src/HybridCacheServiceExtensions.cs
  src/Caching/Hybrid/src/IHybridCacheBuilder.cs
  src/Caching/Hybrid/src/Internal/DefaultHybridCache.cs
  src/Caching/Hybrid/src/Internal/DefaultJsonSerializerFactory.cs
  src/Caching/Hybrid/src/Internal/InbuiltTypeSerializer.cs
  src/Caching/Hybrid/src/Microsoft.Extensions.Caching.Hybrid.csproj
  src/Caching/Hybrid/src/PublicAPI.Shipped.txt
  src/Caching/Hybrid/src/PublicAPI.Unshipped.txt
  src/Caching/Hybrid/src/Runtime/HybridCache.cs
  src/Caching/Hybrid/src/Runtime/HybridCacheEntryFlags.cs
  src/Caching/Hybrid/src/Runtime/HybridCacheEntryOptions.cs
  src/Caching/Hybrid/src/Runtime/IBufferDistributedCache.cs
  src/Caching/Hybrid/src/Runtime/IHybridCacheSerializer.cs
  src/Caching/Hybrid/src/Runtime/IHybridCacheSerializerFactory.cs
  src/Caching/Hybrid/src/Runtime/readme.md
  src/Caching/Hybrid/test/BasicConfig.json
  src/Caching/Hybrid/test/Microsoft.Extensions.Caching.Hybrid.Tests.csproj
  src/Caching/Hybrid/test/ServiceConstructionTests.cs
Labels: feature-caching, area-runtime

#53946 Add missing TimeProvider registration
  src/Identity/Core/src/IdentityBuilderExtensions.cs
  src/Identity/Core/src/IdentityServiceCollectionExtensions.cs
  src/Identity/test/Identity.Test/IdentityBuilderTest.cs
Labels: area-identity, community-contribution

#55182 Merge feature/openapi to main
  AspNetCore.sln
  eng/Dependencies.props
  eng/Versions.props
  src/Http/Http.Extensions/test/RequestDelegateGenerator/SharedTypes.cs
  src/Mvc/Mvc.ApiExplorer/src/Microsoft.AspNetCore.Mvc.ApiExplorer.csproj
  src/OpenApi/OpenApi.slnf
  src/OpenApi/perf/Microbenchmarks/AssemblyInfo.cs
  src/OpenApi/perf/Microbenchmarks/GenerationBenchmarks.cs
  src/OpenApi/perf/Microbenchmarks/Microsoft.AspNetCore.OpenApi.Microbenchmarks.csproj
  src/OpenApi/perf/Microbenchmarks/TransformersBenchmark.cs
  src/OpenApi/sample/EndpointRouteBuilderExtensions.cs
  src/OpenApi/sample/Program.cs
  src/OpenApi/sample/Properties/launchSettings.json
  src/OpenApi/sample/Sample.csproj
  src/OpenApi/sample/Transformers/AddBearerSecuritySchemeTransformer.cs
  src/OpenApi/sample/Transformers/AddContactTransformer.cs
  src/OpenApi/sample/Transformers/OperationTransformers.cs
  src/OpenApi/sample/appsettings.Development.json
  src/OpenApi/sample/appsettings.json
  src/OpenApi/src/Extensions/ApiDescriptionExtensions.cs
  src/OpenApi/src/Extensions/OpenApiEndpointConventionBuilderExtensions.cs
  src/OpenApi/src/Extensions/OpenApiEndpointRouteBuilderExtensions.cs
  src/OpenApi/src/Extensions/OpenApiServiceCollectionExtensions.cs
  src/OpenApi/src/Helpers/OpenApiTagComparer.cs
  src/OpenApi/src/Microsoft.AspNetCore.OpenApi.csproj
  src/OpenApi/src/PublicAPI.Unshipped.txt
  src/OpenApi/src/Services/IDocumentProvider.cs
  src/OpenApi/src/Services/NamedService.cs
  src/OpenApi/src/Services/OpenApiComponentService.cs
  src/OpenApi/src/Services/OpenApiConstants.cs
  src/OpenApi/src/Services/OpenApiDocumentProvider.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/src/Services/OpenApiGenerator.cs
  src/OpenApi/src/Services/OpenApiOptions.cs
  src/OpenApi/src/Transformers/DelegateOpenApiDocumentTransformer.cs
  src/OpenApi/src/Transformers/IOpenApiDocumentTransformer.cs
  src/OpenApi/src/Transformers/OpenApiDocumentTransformerContext.cs
  src/OpenApi/src/Transformers/OpenApiOperationTransformerContext.cs
  src/OpenApi/src/Transformers/TypeBasedOpenApiDocumentTransformer.cs
  src/OpenApi/test/Extensions/ApiDescriptionExtensionsTests.cs
  src/OpenApi/test/Extensions/OpenApiEndpointRouteBuilderExtensionsTests.cs
  src/OpenApi/test/Extensions/OpenApiRouteHandlerBuilderExtensionTests.cs
  src/OpenApi/test/Extensions/OpenApiServiceCollectionExtensionsTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests.csproj
  src/OpenApi/test/Services/OpenApiDocumentProviderTests.cs
  src/OpenApi/test/Services/OpenApiDocumentServiceTests.Info.cs
  src/OpenApi/test/Services/OpenApiDocumentServiceTests.Operations.cs
  src/OpenApi/test/Services/OpenApiDocumentServiceTests.Parameters.cs
  src/OpenApi/test/Services/OpenApiDocumentServiceTests.Paths.cs
  src/OpenApi/test/Services/OpenApiDocumentServiceTests.RequestBody.cs
  src/OpenApi/test/Services/OpenApiDocumentServiceTests.Responses.cs
  src/OpenApi/test/Services/OpenApiDocumentServiceTestsBase.cs
  src/OpenApi/test/Services/OpenApiGeneratorTests.cs
  src/OpenApi/test/SharedTypes.cs
  src/OpenApi/test/Transformers/DocumentTransformerTests.cs
  src/OpenApi/test/Transformers/OpenApiOptionsTests.cs
  src/OpenApi/test/Transformers/OperationTransformerTests.cs
Labels: area-infrastructure, area-mvc, feature-openapi, area-minimal

#55188 Update locker.yml
  .github/workflows/locker.yml
Labels: area-infrastructure

#55200 [Blazor] Fix multiple CSP policies
  src/Components/Server/src/Builder/ServerRazorComponentsEndpointConventionBuilderExtensions.cs
  src/Components/test/E2ETest/ServerExecutionTests/WebSocketCompressionTests.cs
  src/Components/test/testassets/Components.TestServer/RazorComponentEndpointsStartup.cs
Labels: area-blazor

#55201 Fix exit code propagation when building inside the VMR
  eng/build.ps1
  eng/build.sh
Labels: area-infrastructure

#54675 Change how the key ring cache is updated
  src/DataProtection/DataProtection/src/Error.cs
  src/DataProtection/DataProtection/src/KeyManagement/KeyRingProvider.cs
  src/DataProtection/DataProtection/src/Resources.resx
  src/DataProtection/DataProtection/test/Microsoft.AspNetCore.DataProtection.Tests/KeyManagement/KeyRingProviderTests.cs
Labels: area-dataprotection, pending-ci-rerun

#55157 Per-page opt out from interactive routing
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/Routing/ExcludeFromInteractiveRoutingAttribute.cs
  src/Components/Components/src/Routing/RouteTableFactory.cs
  src/Components/Components/test/Routing/RouteTableFactoryTests.cs
  src/Components/Endpoints/src/Builder/RazorComponentsEndpointHttpContextExtensions.cs
  src/Components/Endpoints/src/PublicAPI.Unshipped.txt
  src/Components/Samples/BlazorUnitedApp/App.razor
  src/Components/Samples/BlazorUnitedApp/Pages/Counter.razor
  src/Components/Samples/BlazorUnitedApp/Program.cs
  src/Components/Samples/BlazorUnitedApp/Routes.razor
  src/Components/Samples/BlazorUnitedApp/Shared/MainLayout.razor
  src/Components/Samples/BlazorUnitedApp/_Imports.razor
  src/Components/test/E2ETest/Tests/GlobalInteractivityTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/GlobalInteractivityApp.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Static.razor
  src/Components/test/testassets/Components.WasmMinimal/Pages/Dynamic.razor
  src/Components/test/testassets/Components.WasmMinimal/Pages/GloballyInteractive_Default.razor
  src/Components/test/testassets/Components.WasmMinimal/Pages/GloballyInteractive_Links.razor
  src/Components/test/testassets/Components.WasmMinimal/Pages/GloballyInteractive_StaticViaAttribute.razor
  src/Components/test/testassets/Components.WasmMinimal/Pages/GloballyInteractive_StaticViaUrl.razor
  src/Components/test/testassets/Components.WasmMinimal/Pages/ShowExecutionMode.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/_Imports.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/App.razor
  src/ProjectTemplates/test/Templates.Mvc.Tests/BlazorTemplateTest.cs
Labels: area-blazor

#54956 [Blazor] Use JSON source generator during WebAssembly startup
  src/Components/Shared/src/JsonSerialization/JsonConverterFactoryTypeInfoResolver.cs
  src/Components/Web/src/Internal/IInternalWebJSInProcessRuntime.cs
  src/Components/Web/src/Microsoft.AspNetCore.Components.Web.csproj
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/Web/src/WebRenderer.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/WebAssemblyAuthenticationServiceCollectionExtensionsTests.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHost.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/WebAssembly/WebAssembly/src/Infrastructure/WebAssemblyJsonSerializerContext.cs
  src/Components/WebAssembly/WebAssembly/src/Prerendering/WebAssemblyComponentParameterDeserializer.cs
  src/Components/WebAssembly/WebAssembly/src/Rendering/WebAssemblyRenderer.cs
  src/Components/WebAssembly/WebAssembly/src/Services/DefaultWebAssemblyJSRuntime.cs
  src/Components/WebAssembly/WebAssembly/src/Services/IInternalJSImportMethods.cs
  src/Components/WebAssembly/WebAssembly/src/Services/InternalJSImportMethods.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyHostBuilderTest.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyHostTest.cs
  src/Components/WebAssembly/WebAssembly/test/TestInternalJSImportMethods.cs
  src/JSInterop/Microsoft.JSInterop/src/PublicAPI.Unshipped.txt
  src/Shared/Components/PrerenderComponentApplicationStore.cs
Labels: area-blazor

#55169 Ensuring deleted cookies are recognized by the browser by ensuring the MaxAge within CookieOptions is set to null.
  src/Http/Http/src/Internal/ResponseCookies.cs
  src/Shared/ChunkingCookieManager/ChunkingCookieManager.cs
Labels: community-contribution, area-networking

#54711 Allow retries in DefaultKeyResolver.CanCreateAuthenticatedEncryptor
  src/DataProtection/DataProtection/src/KeyManagement/DefaultKeyResolver.cs
  src/DataProtection/DataProtection/src/KeyManagement/Key.cs
  src/DataProtection/DataProtection/src/KeyManagement/KeyManagementOptions.cs
  src/DataProtection/DataProtection/src/LoggingExtensions.cs
  src/DataProtection/DataProtection/test/Microsoft.AspNetCore.DataProtection.Tests/KeyManagement/DefaultKeyResolverTests.cs
Labels: area-dataprotection, pending-ci-rerun

#55147 Implement minimal implementation of HybridCache
  AspNetCore.sln
  src/Caching/Caching.slnf
  src/Caching/Hybrid/src/HybridCacheOptions.cs
  src/Caching/Hybrid/src/HybridCacheServiceExtensions.cs
  src/Caching/Hybrid/src/Internal/BufferChunk.cs
  src/Caching/Hybrid/src/Internal/DefaultHybridCache.CacheItem.cs
  src/Caching/Hybrid/src/Internal/DefaultHybridCache.Debug.cs
  src/Caching/Hybrid/src/Internal/DefaultHybridCache.ImmutableCacheItem.cs
  src/Caching/Hybrid/src/Internal/DefaultHybridCache.L2.cs
  src/Caching/Hybrid/src/Internal/DefaultHybridCache.MutableCacheItem.cs
  src/Caching/Hybrid/src/Internal/DefaultHybridCache.Serialization.cs
  src/Caching/Hybrid/src/Internal/DefaultHybridCache.Stampede.cs
  src/Caching/Hybrid/src/Internal/DefaultHybridCache.StampedeKey.cs
  src/Caching/Hybrid/src/Internal/DefaultHybridCache.StampedeState.cs
  src/Caching/Hybrid/src/Internal/DefaultHybridCache.StampedeStateT.cs
  src/Caching/Hybrid/src/Internal/DefaultHybridCache.cs
  src/Caching/Hybrid/src/Internal/DefaultJsonSerializerFactory.cs
  src/Caching/Hybrid/src/Internal/RecyclableArrayBufferWriter.cs
  src/Caching/Hybrid/src/Internal/readme.md
  src/Caching/Hybrid/src/Microsoft.Extensions.Caching.Hybrid.csproj
  src/Caching/Hybrid/src/Runtime/HybridCache.cs
  src/Caching/Hybrid/src/Runtime/HybridCacheEntryOptions.cs
  src/Caching/Hybrid/test/BufferReleaseTests.cs
  src/Caching/Hybrid/test/DisposableValueTests.cs
  src/Caching/Hybrid/test/DistributedCacheTests.cs
  src/Caching/Hybrid/test/L2Tests.cs
  src/Caching/Hybrid/test/Microsoft.Extensions.Caching.Hybrid.Tests.csproj
  src/Caching/Hybrid/test/RedisTests.cs
  src/Caching/Hybrid/test/ServiceConstructionTests.cs
  src/Caching/Hybrid/test/SqlServerTests.cs
  src/Caching/Hybrid/test/StampedeTests.cs
  src/Caching/Hybrid/test/TypeTests.cs
  src/Caching/SqlServer/src/DatabaseOperations.cs
  src/Caching/SqlServer/src/IDatabaseOperations.cs
  src/Caching/SqlServer/src/Microsoft.Extensions.Caching.SqlServer.csproj
  src/Caching/SqlServer/src/SqlParameterCollectionExtensions.cs
  src/Caching/SqlServer/src/SqlServerCache.cs
  src/Caching/StackExchangeRedis/src/Microsoft.Extensions.Caching.StackExchangeRedis.csproj
  src/Caching/StackExchangeRedis/src/RedisCache.cs
  src/Caching/perf/MicroBenchmarks/Microsoft.Extensions.Caching.MicroBenchmarks/DistributedCacheBenchmarks.cs
  src/Caching/perf/MicroBenchmarks/Microsoft.Extensions.Caching.MicroBenchmarks/HybridCacheBenchmarks.cs
  src/Caching/perf/MicroBenchmarks/Microsoft.Extensions.Caching.MicroBenchmarks/Microsoft.Extensions.Caching.MicroBenchmarks.csproj
  src/Caching/perf/MicroBenchmarks/Microsoft.Extensions.Caching.MicroBenchmarks/Program.cs
Labels: area-networking

#55039 Using SearchValues in ContentDispositionHeaderValue
  src/Http/Headers/src/ContentDispositionHeaderValue.cs
  src/Http/Headers/test/ContentDispositionHeaderValueTest.cs
  src/Http/Http/perf/Microbenchmarks/ContentDispositionHeaderValueBenchmarks.cs
Labels: community-contribution, area-networking

#54492 Add readme for package Microsoft.AspNetCore.Authentication.JwtBearer
  src/Security/Authentication/JwtBearer/src/PACKAGE.md
Labels: community-contribution, pending-ci-rerun, area-security

#55143 Removing noReload argument from WebDriverExtensions.Nagivate
  src/Components/test/E2ETest/Infrastructure/ServerTestBase.cs
  src/Components/test/E2ETest/Infrastructure/WebDriverExtensions/BasicTestAppAuthenticationWebDriverExtensions.cs
  src/Components/test/E2ETest/Infrastructure/WebDriverExtensions/WebDriverExtensions.cs
  src/Components/test/E2ETest/ServerExecutionTests/CircuitContextTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/CircuitGracefulTerminationTests.cs
  src/Components/test/E2ETest/ServerExecutionTests/HotReloadTest.cs
  src/Components/test/E2ETest/ServerExecutionTests/ServerInteropTestDefaultExceptionsBehavior.cs
  src/Components/test/E2ETest/ServerExecutionTests/ServerInteropTestJsInvocationsTimeoutsBehavior.cs
  src/Components/test/E2ETest/ServerExecutionTests/ServerReconnectionTest.cs
  src/Components/test/E2ETest/Tests/BinaryHttpClientTest.cs
  src/Components/test/E2ETest/Tests/BindTest.cs
  src/Components/test/E2ETest/Tests/CascadingValueTest.cs
  src/Components/test/E2ETest/Tests/CircuitTests.cs
  src/Components/test/E2ETest/Tests/ComponentRenderingTestBase.cs
  src/Components/test/E2ETest/Tests/CustomElementsTest.cs
  src/Components/test/E2ETest/Tests/DynamicComponentRenderingTest.cs
  src/Components/test/E2ETest/Tests/ErrorBoundaryTest.cs
  src/Components/test/E2ETest/Tests/ErrorNotificationTest.cs
  src/Components/test/E2ETest/Tests/EventBubblingTest.cs
  src/Components/test/E2ETest/Tests/EventCallbackTest.cs
  src/Components/test/E2ETest/Tests/EventCustomArgsTest.cs
  src/Components/test/E2ETest/Tests/EventTest.cs
  src/Components/test/E2ETest/Tests/FormsInputDateTest.cs
  src/Components/test/E2ETest/Tests/FormsTest.cs
  src/Components/test/E2ETest/Tests/HeadModificationTest.cs
  src/Components/test/E2ETest/Tests/HostedInAlternativeBasePathTest.cs
  src/Components/test/E2ETest/Tests/HostedInAspNetTest.cs
  src/Components/test/E2ETest/Tests/HttpClientTest.cs
  src/Components/test/E2ETest/Tests/InputActionsTest.cs
  src/Components/test/E2ETest/Tests/InputFileTest.cs
  src/Components/test/E2ETest/Tests/InteropTest.cs
  src/Components/test/E2ETest/Tests/JSRootComponentsTest.cs
  src/Components/test/E2ETest/Tests/JsonSerializationTest.cs
  src/Components/test/E2ETest/Tests/KeyTest.cs
  src/Components/test/E2ETest/Tests/MultipleHostedAppTest.cs
  src/Components/test/E2ETest/Tests/PerformanceTest.cs
  src/Components/test/E2ETest/Tests/PropertyInjectionTest.cs
  src/Components/test/E2ETest/Tests/ProtectedBrowserStorageInjectionTest.cs
  src/Components/test/E2ETest/Tests/RoutingTest.cs
  src/Components/test/E2ETest/Tests/SectionsTest.cs
  src/Components/test/E2ETest/Tests/SectionsWithCascadingParametersTest.cs
  src/Components/test/E2ETest/Tests/SectionsWithErrorBoundaryTest.cs
  src/Components/test/E2ETest/Tests/StandaloneAppTest.cs
  src/Components/test/E2ETest/Tests/StartupErrorNotificationTest.cs
  src/Components/test/E2ETest/Tests/SvgTest.cs
  src/Components/test/E2ETest/Tests/ThreadingAppHostedTest.cs
  src/Components/test/E2ETest/Tests/ThreadingAppTest.cs
  src/Components/test/E2ETest/Tests/VirtualizationTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyConfigurationHostedTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyConfigurationTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyConfigureRuntimeTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyGlobalizationTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyICUShardingTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyLazyLoadTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyLocalizationTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyLoggingTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyPrerenderedTest.cs
Labels: area-blazor, community-contribution

#52807 Change how ANCM recycles app
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/HandlerResolver.cpp
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/HandlerResolver.h
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/ShimOptions.cpp
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/ShimOptions.h
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/applicationmanager.cpp
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/applicationmanager.h
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/dllmain.cpp
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/globalmodule.cpp
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/globalmodule.h
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/proxymodule.cpp
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/InProcessApplicationBase.cpp
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Infrastructure/EventLogHelpers.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Infrastructure/Helpers.cs
  src/Servers/IIS/IIS/test/Common.LongTests/ShutdownTests.cs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/ApplicationInitializationTests.cs
Labels: feature-iis, area-networking

#55231 Sleep in MultipleThreadsForceRefresh
  src/DataProtection/DataProtection/test/Microsoft.AspNetCore.DataProtection.Tests/KeyManagement/KeyRingProviderTests.cs
Labels: area-dataprotection

#55078 Add amendable OverscanCount parameter to the QuickGrid for virtualization.
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/PublicAPI.Unshipped.txt
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/QuickGrid.razor
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/QuickGrid.razor.cs
Labels: area-blazor, community-contribution

#55217 FlyBy typo fix in FeatureCollectionExtensions.cs
  src/Extensions/Features/src/FeatureCollectionExtensions.cs
  src/Extensions/Features/test/FeatureCollectionExtensionsTests.cs
Labels: community-contribution, area-networking

#55211 Fix duplicate error.type tags
  src/Hosting/Hosting/src/Internal/HostingMetrics.cs
  src/Hosting/Hosting/src/Microsoft.AspNetCore.Hosting.csproj
  src/Middleware/Diagnostics/src/DiagnosticsTelemetry.cs
  src/Middleware/Diagnostics/src/Microsoft.AspNetCore.Diagnostics.csproj
  src/Middleware/Diagnostics/test/FunctionalTests/ExceptionHandlerSampleTest.cs
  src/Middleware/Diagnostics/test/UnitTests/ExceptionHandlerTest.cs
  src/Middleware/Diagnostics/test/testassets/ExceptionHandlerSample/ExceptionHandlerSample.csproj
  src/Middleware/Diagnostics/test/testassets/ExceptionHandlerSample/StartupWithWebSocket.cs
  src/Shared/Metrics/MetricsExtensions.cs
Labels: area-hosting

#55172 Condition RIDs on which target RIDs are available when doing a VMR build
  src/Servers/IIS/IIS/test/testassets/TestTasks/TestTasks.csproj
  src/Servers/IIS/build/testsite.props
  src/Servers/testassets/ServerComparison.TestSites/ServerComparison.TestSites.csproj
Labels: area-infrastructure

#55296 Run tests against latest IdentityModel once per day in Helix-Matrix
  .azure/pipelines/helix-matrix.yml
  eng/Versions.props
Labels: area-infrastructure

#55208 Add support for generating JSON schemas in OpenAPI doc
  eng/Dependencies.props
  eng/Versions.props
  src/Mvc/Mvc.Core/src/Microsoft.AspNetCore.Mvc.Core.csproj
  src/OpenApi/sample/Controllers/TestController.cs
  src/OpenApi/sample/Program.cs
  src/OpenApi/sample/Transformers/OperationTransformers.cs
  src/OpenApi/src/Extensions/JsonObjectSchemaExtensions.cs
  src/OpenApi/src/Schemas/JsonSchemaMapper/JsonSchemaGenerationContext.cs
  src/OpenApi/src/Schemas/JsonSchemaMapper/JsonSchemaMapper.ReflectionHelpers.cs
  src/OpenApi/src/Schemas/JsonSchemaMapper/JsonSchemaMapper.cs
  src/OpenApi/src/Schemas/JsonSchemaMapper/JsonSchemaMapperConfiguration.cs
  src/OpenApi/src/Schemas/JsonSchemaMapper/NullabilityInfo.cs
  src/OpenApi/src/Schemas/JsonSchemaMapper/NullabilityInfoContext.cs
  src/OpenApi/src/Schemas/JsonSchemaMapper/NullabilityInfoHelpers.cs
  src/OpenApi/src/Schemas/JsonSchemaMapper/ReferenceTypeNullability.cs
  src/OpenApi/src/Schemas/OpenApiJsonSchema.Helpers.cs
  src/OpenApi/src/Schemas/OpenApiJsonSchema.cs
  src/OpenApi/src/Schemas/OpenApiSchemaKeywords.cs
  src/OpenApi/src/Services/OpenApiComponentService.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/test/Integration/OpenApiDocumentIntegrationTests.cs
  src/OpenApi/test/Integration/SampleAppFixture.cs
  src/OpenApi/test/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=forms.verified.txt
  src/OpenApi/test/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=responses.verified.txt
  src/OpenApi/test/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=v1.verified.txt
  src/OpenApi/test/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=v2.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests.csproj
  src/OpenApi/test/Services/OpenApiComponentService/OpenApiComponentService.ParameterSchemas.cs
  src/OpenApi/test/Services/OpenApiComponentService/OpenApiComponentService.RequestBodySchemas.cs
  src/OpenApi/test/Services/OpenApiComponentService/OpenApiComponentService.ResponseSchemas.cs
  src/OpenApi/test/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.Info.cs
  src/OpenApi/test/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.Operations.cs
  src/OpenApi/test/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.Parameters.cs
  src/OpenApi/test/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.Paths.cs
  src/OpenApi/test/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.RequestBody.cs
  src/OpenApi/test/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.Responses.cs
  src/OpenApi/test/Services/OpenApiDocumentServiceTestsBase.cs
  src/OpenApi/test/SharedTypes.cs
Labels: area-mvc, feature-openapi, area-minimal

#55285 Update to new interceptable location APIs
  eng/SourceBuildPrebuiltBaseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  src/Http/Http.Extensions/gen/RequestDelegateGenerator.cs
  src/Http/Http.Extensions/gen/RequestDelegateGeneratorSources.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Endpoint.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/HandlesEndpointsWithAndWithoutDiagnostics.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_BindAsync_NullableReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_BindAsync_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitBodyParam_ComplexReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_ComplexTypeArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_NullableStringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_StringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_ComplexTypeArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_NullableStringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_StringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitServiceParam_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitSource_SimpleReturn_Snapshot.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_ComplexTypeArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam_EmptyQueryValues.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableStringArrayParam_QueryNotPresent.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_StringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_JsonBodyOrService_HandlesBothJsonAndService.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleSpecialTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_MultipleStringParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_NoParam_StringReturn_WithFilter.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ReturnsString_Has_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ReturnsTodo_Has_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ReturnsValidationProblemResult_Has_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ReturnsVoid_Has_No_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleComplexTypeParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleEnumParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_SingleNullableStringParam_WithEmptyQueryStringValueProvided_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_TakesCustomMetadataEmitter_Has_Metadata.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_Get_WithArrayQueryString_AndBody_ShouldUseQueryString.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_PostAndGet_WithArrayQueryString_AndBody_ShouldUseQueryString.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_PostAndPut_WithArrayQueryString_AndBody_ShouldUseBody.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapMethods_Post_WithArrayQueryString_AndBody_ShouldUseBody.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapPost_WithArrayQueryString_AndBody_ShouldUseBody.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapPost_WithArrayQueryString_ShouldFail.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_NoParam_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/Multiple_MapAction_WithParams_StringReturn.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/RequestDelegateValidateGeneratedFormCode.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/SupportsDifferentInterceptorsFromSameLocation.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/SupportsSameInterceptorsFromDifferentFiles.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/VerifyAsParametersBaseline.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/CompileTimeIncrementalityTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTestBase.cs
Labels: feature-rdg, area-minimal

#55295 Address feedback on PR #54675
  src/DataProtection/DataProtection/src/Error.cs
  src/DataProtection/DataProtection/src/KeyManagement/KeyRingProvider.cs
  src/DataProtection/DataProtection/src/Resources.resx
Labels: area-dataprotection

#55251 HybridCache - minor post-PR fixes
  src/Caching/Hybrid/src/HybridCacheBuilderExtensions.cs
  src/Caching/Hybrid/src/HybridCacheOptions.cs
  src/Caching/Hybrid/src/HybridCacheServiceExtensions.cs
  src/Caching/Hybrid/src/IHybridCacheBuilder.cs
  src/Caching/Hybrid/src/Internal/BufferChunk.cs
  src/Caching/Hybrid/src/Internal/DefaultHybridCache.CacheItem.cs
  src/Caching/Hybrid/src/Internal/DefaultHybridCache.Debug.cs
  src/Caching/Hybrid/src/Internal/DefaultHybridCache.ImmutableCacheItem.cs
  src/Caching/Hybrid/src/Internal/DefaultHybridCache.L2.cs
  src/Caching/Hybrid/src/Internal/DefaultHybridCache.MutableCacheItem.cs
  src/Caching/Hybrid/src/Internal/DefaultHybridCache.Serialization.cs
  src/Caching/Hybrid/src/Internal/DefaultHybridCache.Stampede.cs
  src/Caching/Hybrid/src/Internal/DefaultHybridCache.StampedeKey.cs
  src/Caching/Hybrid/src/Internal/DefaultHybridCache.StampedeState.cs
  src/Caching/Hybrid/src/Internal/DefaultHybridCache.StampedeStateT.cs
  src/Caching/Hybrid/src/Internal/DefaultHybridCache.SyncLock.cs
  src/Caching/Hybrid/src/Internal/DefaultHybridCache.cs
  src/Caching/Hybrid/src/Internal/RecyclableArrayBufferWriter.cs
  src/Caching/Hybrid/test/BufferReleaseTests.cs
  src/Caching/Hybrid/test/DisposableValueTests.cs
  src/Caching/Hybrid/test/SampleUsage.cs
  src/Caching/Hybrid/test/StampedeTests.cs
  src/Caching/SqlServer/src/DatabaseOperations.cs
Labels: area-infrastructure, feature-caching

#55316 Remove Microsoft.Netcore.App.Ref from SourceBuild baseline
  eng/SourceBuildPrebuiltBaseline.xml
Labels: area-infrastructure

#55315 Fix command to add build tag
  .azure/pipelines/ci.yml
  .azure/pipelines/helix-matrix.yml
Labels: area-infrastructure

#55324 Update branding to preview5
  .github/policies/resourceManagement.yml
  eng/Versions.props
Labels: area-infrastructure

#55294 Remove AccountLayout.razor from project template
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/_Imports.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Shared/AccountLayout.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Shared/ManageLayout.razor
  src/ProjectTemplates/test/Templates.Tests/template-baselines.json
Labels: area-blazor

#55298 Quarantine HeartbeatLoopRunsWithSpecifiedInterval
  src/Servers/Kestrel/Core/test/HeartbeatTests.cs
Labels: area-networking

#55293 Fix inheritdoc tag for ObjectPool.Create()
  src/ObjectPool/src/ObjectPool.cs
Labels: area-networking

#55361 Update the severity of CA1826 to suggestion
  .editorconfig
Labels: area-infrastructure

#55358 [Infrastructure] Unblock installer
  eng/tools/RepoTasks/RemoveSharedFrameworkDependencies.cs
  src/Identity/Specification.Tests/src/UserManagerSpecificationTests.cs
  src/Mvc/Mvc.Core/src/ApplicationModels/ActionAttributeRouteModel.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
Labels: area-networking

#55357 Fix typos in repro.md
  docs/repro.md
Labels: area-infrastructure, community-contribution

#55364 Fix typos in tooling-consolidation.md
  docs/tooling-consolidation.md
Labels: area-infrastructure, community-contribution

#55351 Cache request values when hosting metrics are enabled
  src/Hosting/Hosting/src/Internal/HostingApplication.cs
  src/Hosting/Hosting/src/Internal/HostingApplicationDiagnostics.cs
  src/Hosting/Hosting/src/Internal/HostingMetrics.cs
  src/Hosting/Hosting/src/Internal/HttpMetricsTagsFeature.cs
  src/Hosting/Hosting/test/HostingApplicationDiagnosticsTests.cs
Labels: area-hosting

#55408 Fix typo in HelpWantedProcess.md
  docs/HelpWantedProcess.md
Labels: area-infrastructure, community-contribution

#55407 Fix typos in Helix.md
  docs/Helix.md
Labels: area-infrastructure, community-contribution

#55398 Fix typos in EventSourceAndCounters.md
  docs/EventSourceAndCounters.md
Labels: area-infrastructure, community-contribution

#55397 Fix typos in BuildErrors.md
  docs/BuildErrors.md
Labels: area-infrastructure, community-contribution

#55395 Fix typos in AddingNewProjects.md
  docs/AddingNewProjects.md
Labels: area-infrastructure, community-contribution

#55392 Fix typo in README.md
  docs/README.md
Labels: area-infrastructure, community-contribution

#55391 Fix typos in tooling-consolidation.md
  docs/tooling-consolidation.md
Labels: area-infrastructure, community-contribution

#55394 Fix typos in APIReviewProcess.md
  docs/APIReviewProcess.md
Labels: area-infrastructure, community-contribution

#55393 Fix typos in APIBaselines.md
  docs/APIBaselines.md
Labels: area-infrastructure, community-contribution

#55321 Fix form handling and add NuGet pkg docs
  src/OpenApi/sample/Controllers/TestController.cs
  src/OpenApi/sample/Program.cs
  src/OpenApi/src/PACKAGE.md
  src/OpenApi/src/Services/OpenApiComponentService.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/test/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=forms.verified.txt
  src/OpenApi/test/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=responses.verified.txt
  src/OpenApi/test/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=v1.verified.txt
  src/OpenApi/test/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=v2.verified.txt
  src/OpenApi/test/Services/OpenApiComponentService/OpenApiComponentService.RequestBodySchemas.cs
  src/OpenApi/test/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.Parameters.cs
  src/OpenApi/test/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.RequestBody.cs
  src/OpenApi/test/SharedTypes.cs
Labels: area-mvc, feature-openapi, area-minimal

#55369 Quarantine and attempt to fix CacheTagHelper_VaryByCultureComposesWithOtherVaryByOptions test
  src/Mvc/test/Mvc.FunctionalTests/HtmlGenerationWithCultureTest.cs
  src/Mvc/test/WebSites/HtmlGenerationWebSite/Pages/CacheTagHelper_VaryByCulture.cshtml
Labels: area-mvc

#55423 Add utf-8 BOM to sln file to force utf-8 encoding
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp.sln
Labels: area-mvc

#55434 Update build.gradle okhttp dependency
  src/SignalR/clients/java/signalr/core/build.gradle
Labels: area-signalr, community-contribution

#55432 Quarantine CheckStdoutWithLargeWrites_TestSink
  src/Servers/IIS/IIS/test/Common.LongTests/StartupTests.cs
Labels: area-networking
