Repository dotnet/aspnetcore, pull requests merged in 2024-09, with the labels that each got.

#57561 Fix duplicate error.type on kestrel.connection.duration
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelMetrics.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http2/Http2RequestTests.cs
Labels: area-networking

#57557 [Blazor] Invoke inbound activity handlers on circuit initialization
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/test/E2ETest/ServerExecutionTests/CircuitContextTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/InteractivityTest.cs
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/App.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Interactivity/CircuitContextPage.razor
Labels: area-blazor

#57580 Provide `Microsoft.AspNetCore.Identity.UI` package README
  src/Identity/UI/src/PACKAGE.md
Labels: area-identity

#57671 [Static Assets] Improve development experience
  src/StaticAssets/src/BuildAssetMetadata.cs
  src/StaticAssets/src/Development/StaticAssetDevelopmentRuntimeHandler.cs
  src/StaticAssets/src/LoggerExtensions.cs
  src/StaticAssets/src/StaticAssetEndpointDataSource.cs
  src/StaticAssets/src/StaticAssetsEndpointConventionBuilder.cs
  src/StaticAssets/src/StaticAssetsEndpointRouteBuilderExtensions.cs
  src/StaticAssets/src/StaticAssetsInvoker.cs
  src/StaticAssets/src/StaticAssetsManifest.cs
  src/StaticAssets/test/StaticAssetsIntegrationTests.cs
Labels: area-blazor

#57649 Remove trailing trivia from IHeaderDictionary in "Use indexer" code fix
  src/Framework/AspNetCoreAnalyzers/src/CodeFixes/Http/HeaderDictionaryAddFixer.cs
  src/Framework/AspNetCoreAnalyzers/test/Http/HeaderDictionaryAddTest.cs
Labels: area-infrastructure, community-contribution, area-networking

#57718 Provide `Microsoft.AspNetCore.SignalR.Client` package README
  src/SignalR/clients/csharp/Client/src/PACKAGE.md
Labels: area-signalr

#57568 Quarantine ProcessAsync_AwaitersUseTheResultOfExecutor
  src/Mvc/Mvc.TagHelpers/test/CacheTagHelperTest.cs
Labels: area-mvc, pending-ci-rerun

#57731 Provide `Microsoft.AspNetCore.Authentication.OpenIdConnect` package README
  src/Security/Authentication/OpenIdConnect/src/PACKAGE.md
Labels: area-security

#57736 Provide `Microsoft.AspNetCore.Mvc.Testing` package README
  src/Mvc/Mvc.Testing/src/PACKAGE.md
Labels: area-mvc

#57775 Remove area- assignment rule as we now rely on dotnet-issue-labeler
  .github/policies/resourceManagement.yml
Labels: area-infrastructure

#57774 Provide `Microsoft.AspNetCore.Components.WebAssembly.Server` package README
  src/Components/WebAssembly/Server/src/PACKAGE.md
Labels: area-blazor

#57682 Disable launching browser on Web API template
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Properties/launchSettings.json
Labels: Servicing-approved, area-mvc

#57735 Update ANCM file monitoring to hopefully avoid unneeded shutdowns
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/AppOfflineTrackingApplication.h
  src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/filewatcher.cpp
Labels: area-networking

#57768 Provide `Microsoft.AspNetCore.Authentication.Google` package README
  src/Security/Authentication/Google/src/Microsoft.AspNetCore.Authentication.Google.csproj
  src/Security/Authentication/Google/src/PACKAGE.md
Labels: area-security

#57794 Provide `Microsoft.AspNetCore.Components.QuickGrid.EntityFrameworkAdapter` package README
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.EntityFrameworkAdapter/src/PACKAGE.md
Labels: area-blazor

#57791 Provide `Microsoft.AspNetCore.Components.WebAssembly.Authentication` package README
  src/Components/WebAssembly/WebAssembly.Authentication/src/PACKAGE.md
Labels: area-blazor

#57772 Provide `Microsoft.AspNetCore.Authentication.Negotiate` package README
  src/Security/Authentication/Negotiate/src/PACKAGE.md
Labels: area-security

#57771 Provide `Microsoft.Extensions.Http.Polly` package README
  src/HttpClientFactory/Polly/src/PACKAGE.md
Labels: area-networking

#57773 Provide `Microsoft.AspNetCore.Components.WebAssembly` package README
  src/Components/WebAssembly/WebAssembly/src/PACKAGE.md
Labels: area-blazor

#57793 Provide `Microsoft.AspNetCore.Components.QuickGrid` package README
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/PACKAGE.md
Labels: area-blazor

#57807 Provide `Microsoft.Extensions.Diagnostics.HealthChecks.EntityFrameworkCore` package README
  src/Middleware/HealthChecks.EntityFrameworkCore/src/PACKAGE.md
Labels: area-middleware

#57805 Provide `Microsoft.AspNetCore.Components.WebAssembly.DevServer` package README
  src/Components/WebAssembly/DevServer/src/PACKAGE.md
Labels: area-blazor

#57808 Provide `Microsoft.AspNetCore.Authentication.MicrosoftAccount` package README
  src/Security/Authentication/MicrosoftAccount/src/PACKAGE.md
Labels: area-security

#57816 Provide `Microsoft.AspNetCore.Owin` package README
  src/Http/Owin/src/PACKAGE.md
Labels: area-infrastructure

#57809 Include Readme.md in packages
  Directory.Build.props
Labels: area-infrastructure, tell-mode

#57785 Provide `Microsoft.Extensions.Caching.StackExchangeRedis` package README
  src/Caching/StackExchangeRedis/src/PACKAGE.md
Labels: feature-caching

#57786 Provide `Microsoft.AspNetCore.Authentication.Facebook` package README
  src/Security/Authentication/Facebook/src/PACKAGE.md
Labels: area-security

#57790 Provide `Microsoft.AspNetCore.TestHost` package README
  src/Hosting/TestHost/src/PACKAGE.md
Labels: area-hosting

#57792 Provide `Microsoft.AspNetCore.JsonPatch` package README
  src/Features/JsonPatch/src/PACKAGE.md
Labels: area-mvc

#57811 Provide `Microsoft.AspNetCore.Authentication.Certificate` package README
  src/Security/Authentication/Certificate/src/PACKAGE.md
Labels: area-security

#57817 Provide `Microsoft.AspNetCore.SignalR.Client.Core` package README
  src/SignalR/clients/csharp/Client.Core/src/PACKAGE.md
Labels: area-signalr

#57818 Provide `Microsoft.Authentication.WebAssembly.Msal` package README
  src/Components/WebAssembly/Authentication.Msal/src/PACKAGE.md
Labels: area-blazor

#57823 Provide `Microsoft.AspNetCore.DataProtection.EntityFrameworkCore` package README
  src/DataProtection/EntityFrameworkCore/src/PACKAGE.md
Labels: area-dataprotection

#57824 Provide `Microsoft.Extensions.Logging.AzureAppServices` package README
  src/Logging.AzureAppServices/src/PACKAGE.md
Labels: area-infrastructure

#57531 Http.Sys: Clean up Request parsing errors
  src/Servers/HttpSys/src/LoggerEventIds.cs
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.FeatureCollection.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.Log.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContextOfT.cs
  src/Servers/HttpSys/test/FunctionalTests/Listener/RequestTests.cs
  src/Servers/HttpSys/test/FunctionalTests/RequestTests.cs
  src/Servers/HttpSys/test/FunctionalTests/ResponseCachingTests.cs
  src/Servers/HttpSys/test/FunctionalTests/ResponseSendFileTests.cs
Labels: Servicing-approved, area-networking

#57783 [Identity][Templates] Ensure placeholders don't overlap with text
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/Login.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/Manage/ChangePassword.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/Manage/Email.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/Manage/EnableAuthenticator.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/Manage/Index.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/Manage/SetPassword.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/Manage/_Layout.cshtml
  src/Identity/UI/src/Areas/Identity/Pages/V5/Account/Register.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/Login.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/Manage/ChangePassword.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/Manage/Email.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/Manage/EnableAuthenticator.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/Manage/Index.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/Manage/SetPassword.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/Register.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Shared/ManageLayout.razor
Labels: area-mvc

#57847 Unquarantine StreamPool_StreamIsInvalidState_DontReturnedToPool
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-networking

#57849 Unskip RunIndividualTestCase(http2_6.9.1_2)
  src/Servers/Kestrel/test/Interop.FunctionalTests/H2SpecTests.cs
Labels: area-networking

#57825 Provide `Microsoft.AspNetCore.DataProtection.StackExchangeRedis` package README
  src/DataProtection/StackExchangeRedis/src/PACKAGE.md
Labels: area-dataprotection

#57752 Fix unmatched paren in comment
  src/Components/WebAssembly/Server/src/ComponentsWebAssemblyApplicationBuilderExtensions.cs
Labels: area-blazor, community-contribution

#57834 Fix parameter description in GetAuthenticatorKeyAsync
  src/Identity/Extensions.Core/src/IUserAuthenticatorKeyStore.cs
Labels: area-identity, community-contribution

#57852 Fix mapping for nested schemas and [Produces] attributes in OpenAPI implementation
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaService.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaStore.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/CreateSchemaReferenceIdTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentServiceTestsBase.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiSchemaService/OpenApiSchemaService.ResponseSchemas.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Shared/SharedTypes.DeeplyNestedType.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/Implementations/OpenApiSchemaReferenceTransformerTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/SchemaTransformerTests.cs
Labels: Servicing-approved, area-mvc, feature-openapi, area-minimal

#57906 Update milestones for rc2/rtm
  .github/policies/resourceManagement.yml
Labels: area-infrastructure

#57907 Update branding to rtm
  eng/Versions.props
Labels: area-infrastructure

#57901 Unquarantine ShutdownTestWaitForShutdown
  src/Hosting/test/FunctionalTests/ShutdownTests.cs
Labels: area-hosting

#57903 Add output and retries to AddressRegistrationTests
  src/Testing/src/HttpClientSlim.cs
Labels: needs-area-label

#57848 Unquarantine AcceptNewStreamsDuringClosingConnection
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-networking

#57797 Make serviceProviderIsService optional in constructor of EndpointMetadataApiDescriptionProvider
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
Labels: area-mvc, community-contribution

#57943 Quarantine ServerShutsDownGracefullyWhenMaxRequestBufferSizeExceeded
  src/Servers/Kestrel/test/FunctionalTests/MaxRequestBufferSizeTests.cs
Labels: area-networking

#57946 Quarantine and fix Http1Connection_RequestEndsWithIncompleteReadAsync
  src/Servers/Kestrel/test/InMemory.FunctionalTests/KestrelMetricsTests.cs
Labels: area-networking

#57952 Add registry search for upgrade policy keys
  src/Installers/Windows/SharedFrameworkBundle/Bundle.wxs
  src/Installers/Windows/SharedFrameworkBundle/SharedFrameworkBundle.wixproj
  src/Installers/Windows/WindowsHostingBundle/Bundle.wxs
  src/Installers/Windows/WindowsHostingBundle/WindowsHostingBundle.wixproj
  src/Installers/Windows/Wix.targets
Labels: Servicing-approved, area-infrastructure

#57934 Check for sentinel value when setting HTTP/3 error code
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
  src/Servers/Kestrel/shared/test/Http3/Http3InMemory.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3ConnectionTests.cs
Labels: area-networking

#57971 [Blazor] Update `WebAssembly.DevServer` to serve the `Blazor-Environment` header
  src/Components/WebAssembly/DevServer/src/Server/Startup.cs
  src/Components/test/E2ETest/Tests/WebAssemblyConfigurationTest.cs
Labels: area-blazor

#57976 Check for sentinel value when setting HTTP/3 error code
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
  src/Servers/Kestrel/shared/test/Http3/Http3InMemory.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3ConnectionTests.cs
Labels: Servicing-approved, area-networking

#57960 Fix typo in HubConnectionExtensions xml docs
  src/SignalR/clients/csharp/Client.Core/src/HubConnectionExtensions.InvokeAsync.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnectionExtensions.InvokeAsyncGeneric.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnectionExtensions.OnResult.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnectionExtensions.SendAsync.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnectionExtensions.StreamAsChannelAsync.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnectionExtensions.StreamAsync.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnectionExtensions.cs
Labels: area-signalr, community-contribution

#57924 Fix IAsyncEnumerable controller methods to allow setting headers
  src/Http/Http.Extensions/src/HttpResponseJsonExtensions.cs
  src/Http/Http.Extensions/test/HttpResponseJsonExtensionsTests.cs
  src/Http/Http.Extensions/test/Microsoft.AspNetCore.Http.Extensions.Tests.csproj
  src/Mvc/Mvc.Core/src/Formatters/SystemTextJsonOutputFormatter.cs
  src/Mvc/Mvc.Core/src/Infrastructure/SystemTextJsonResultExecutor.cs
  src/Mvc/test/Mvc.FunctionalTests/SystemTextJsonOutputFormatterTest.cs
  src/Mvc/test/WebSites/FormatterWebSite/Controllers/SystemTextJsonOutputFormatterController.cs
Labels: Servicing-approved, area-mvc

#57997 Add partitioned to cookie for SignalR browser testing
  src/SignalR/clients/ts/FunctionalTests/Startup.cs
Labels: area-signalr

#57972 Fix concurrent request handling for OpenAPI documents
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaStore.cs
  src/OpenApi/src/Transformers/Implementations/OpenApiSchemaReferenceTransformer.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/OpenApiDocumentConcurrentRequestTests.cs
Labels: community-contribution, feature-openapi, area-minimal

#57336 Fix code generation for parsing optional array parameters in RequestDelegateGenerator
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/Emitters/EndpointParameterEmitter.cs
  src/Http/Http.Extensions/gen/StaticRouteHandlerModel/EndpointParameter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_IntArrayParam_Optional.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_IntArrayParam_Optional_QueryNotPresent.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_NullableIntArrayParam_Optional.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_NullableIntArrayParam_Optional_QueryNotPresent.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_StringArrayParam_Optional.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitQuery_StringArrayParam_Optional_QueryNotPresent.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_IntArrayParam_Optional.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_IntArrayParam_Optional_QueryNotPresent.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableIntArrayParam_Optional.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_NullableIntArrayParam_Optional_QueryNotPresent.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_StringArrayParam_Optional.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ImplicitQuery_StringArrayParam_Optional_QueryNotPresent.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.Arrays.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.KeyServices.cs
  src/Http/samples/MinimalSample/Program.cs
Labels: community-contribution, feature-rdg, area-networking

#57999 [release/9.0] Fix skip condition for IIS tests
  src/Servers/IIS/IIS/test/Common.FunctionalTests/RequestPathBaseTests.cs
  src/Servers/IIS/IIS/test/Common.LongTests/StartupTests.cs
Labels: tell-mode, area-networking

#57840 Fix `Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore` package README
  src/Middleware/Diagnostics.EntityFrameworkCore/src/PACKAGE.md
Labels: area-middleware

#58043 Revert "Unquarantine ServerReset_BeforeRequestBody_ClientBodyThrows"
  src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs
Labels: area-networking

#57236 Use System.Threading.Lock in Kestrel
  src/Servers/Kestrel/Core/src/Internal/CertificatePathWatcher.cs
  src/Servers/Kestrel/Core/src/Internal/Http/Http1OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/FlowControl/InputFlowControl.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3ControlStream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/src/Internal/HttpConnection.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelConnection.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/PipeWriterHelpers/ConcurrentPipeWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/TimeoutControl.cs
  src/Servers/Kestrel/Core/test/ConcurrentPipeWriterTests.cs
  src/Servers/Kestrel/Transport.NamedPipes/src/Internal/NamedPipeConnection.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicConnectionContext.cs
  src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs
  src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs
  src/Servers/Kestrel/perf/Microbenchmarks/Mocks/MockHttpContextFactory.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/EventSourceTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2TestBase.cs
  src/Shared/ServerInfrastructure/DuplexPipeStreamAdapter.cs
Labels: community-contribution, area-networking

#58024 Fix up OpenAPI schema handling and support concurrent requests
  src/OpenApi/src/Schemas/OpenApiJsonSchema.Helpers.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaStore.cs
  src/OpenApi/src/Transformers/Implementations/OpenApiSchemaReferenceTransformer.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/OpenApiDocumentConcurrentRequestTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiSchemaService/OpenApiSchemaService.ParameterSchemas.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiSchemaService/OpenApiSchemaService.RequestBodySchemas.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/Implementations/OpenApiSchemaReferenceTransformerTests.cs
Labels: Servicing-approved, area-mvc, feature-openapi, area-minimal

#58085 Produce binlog in IdentityModel pipeline
  .azure/pipelines/identitymodel-helix-matrix.yml
Labels: area-infrastructure

#58061 Disable automated inter-branch merges
  github-merge-flow.jsonc
Labels: area-infrastructure

#58096 Fix up OpenAPI schema handling and support concurrent requests (#58024)
  src/OpenApi/src/Schemas/OpenApiJsonSchema.Helpers.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaStore.cs
  src/OpenApi/src/Transformers/Implementations/OpenApiSchemaReferenceTransformer.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiSchemaService/OpenApiSchemaService.ParameterSchemas.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiSchemaService/OpenApiSchemaService.RequestBodySchemas.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/Implementations/OpenApiSchemaReferenceTransformerTests.cs
Labels: area-mvc, feature-openapi, area-minimal

#58094 Explain msquic limitations in Http3SampleApp
  src/Servers/Kestrel/samples/Http3SampleApp/Program.cs
Labels: area-networking

#58104 Quarantine POST_ClientCancellationBidirectional_RequestAbortRaised
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
Labels: area-networking

#58107 Quarantine ShadowCopyCleansUpOlderFolders
  src/Servers/IIS/IIS/test/IIS.ShadowCopy.Tests/ShadowCopyTests.cs
Labels: area-networking

#58122 Enable TSA/Policheck
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#58087 Quarantine Http1Connection_ServerAbort_HasErrorType
  src/Servers/Kestrel/test/InMemory.FunctionalTests/KestrelMetricsTests.cs
Labels: area-networking

#58129 Quarantine MapOpenApi_HandlesConcurrentRequests
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/OpenApiDocumentConcurrentRequestTests.cs
Labels: area-mvc

#58105 Re-quarantine OrderedGroupMetadataForControllers
  src/Mvc/test/Mvc.FunctionalTests/RoutingGroupsWithMetadataTest.cs
Labels: area-mvc

#58109 Quarantine CheckStdoutWithLargeWrites_LogFile
  src/Servers/IIS/IIS/test/Common.LongTests/StartupTests.cs
Labels: area-networking
