Repository dotnet/aspnetcore, pull requests merged in 2025-03, with the labels that each got.

#60666 Update xcopy-msbuild to latest available version
  global.json
Labels: area-infrastructure, community-contribution

#60720 1es-ify Localization pipeline
  .azure/pipelines/localization.yml
Labels: area-infrastructure

#60710 Fix: Inconsistent certificate chain handling between endpoint and default configuration
  src/Servers/Kestrel/Core/src/IHttpsConfigurationService.cs
  src/Servers/Kestrel/Core/src/KestrelConfigurationLoader.cs
  src/Servers/Kestrel/Core/src/KestrelServerOptions.cs
  src/Servers/Kestrel/Core/src/TlsConfigurationLoader.cs
  src/Servers/Kestrel/Kestrel/test/KestrelConfigurationLoaderTests.cs
Labels: community-contribution, area-networking

#60735 Fix use of ReconnectModal in Blazor templates with auto mode and global interactivity
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/App.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Layout/MainLayout.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Layout/ReconnectModal.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/_Imports.razor
Labels: area-blazor

#58251 Fix for: Minimal APIs and controllers treat header arrays differently
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/StaticRouteHandlerModel/Emitters/EndpointParameterEmitter.cs
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateFactoryTests.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_ComplexTypeArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_NullableStringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/Baselines/MapAction_ExplicitHeader_StringArrayParam.generated.txt
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.Arrays.cs
Labels: community-contribution, pending-ci-rerun, area-minimal

#60744 Update Selenium versions
  eng/Versions.props
  src/Components/benchmarkapps/Wasm.Performance/dockerfile
Labels: area-infrastructure

#60651 Unquarantine EventCountersAndMetricsValues and VerifyCountersFireWithCorrectValues
  src/Hosting/Hosting/test/HostingApplicationDiagnosticsTests.cs
  src/Hosting/Hosting/test/Internal/HostingEventSourceTests.cs
Labels: area-networking

#60753 Add location.reload on rejected Blazor reconnection to ReconnectModal…
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Layout/ReconnectModal.razor.js
Labels: area-mvc

#59725 Don't send body in HEAD response when using PipeWriter.Advance before headers flushed
  src/Servers/Kestrel/Core/src/Internal/Http/Http1OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http/IHttpOutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3OutputProducer.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseTests.cs
Labels: feature-kestrel, pending-ci-rerun, area-networking

#60761 Update to Microsoft.OpenApi v2.0.0-preview.11
  eng/Versions.props
  src/OpenApi/src/Comparers/OpenApiTagComparer.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/src/Services/OpenApiGenerator.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Extensions/OpenApiEndpointRouteBuilderExtensionsTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/OpenApiDocumentIntegrationTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_0/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=xml.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_1/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=xml.verified.txt
Labels: area-mvc, feature-openapi, area-minimal

#60785 Update branding to 9.0.4
  eng/Versions.props
Labels: area-infrastructure

#60784 Update branding to 8.0.15
  eng/Versions.props
Labels: area-infrastructure

#60790 Add avif MIME type
  src/Components/WebView/WebView/src/FileExtensionContentTypeProvider.cs
  src/Middleware/StaticFiles/src/FileExtensionContentTypeProvider.cs
Labels: area-blazor, community-contribution

#60714 [Blazor] Flow the WebAssembly options from Server to client through SSR marker
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsServiceCollectionExtensions.cs
  src/Components/Endpoints/src/DependencyInjection/WebAssemblySettingsEmitter.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Streaming.cs
  src/Components/Endpoints/test/EndpointHtmlRendererTest.cs
  src/Components/Web.JS/src/Boot.WebAssembly.Common.ts
  src/Components/Web.JS/src/Boot.WebAssembly.ts
  src/Components/Web.JS/src/Rendering/DomMerging/DomSync.ts
  src/Components/Web.JS/src/Services/ComponentDescriptorDiscovery.ts
  src/Components/Web.JS/src/Services/WebRootComponentManager.ts
  src/Components/WebAssembly/Server/src/Builder/WebAssemblyRazorComponentsEndpointConventionBuilderExtensions.cs
  src/Components/WebAssembly/Server/src/ComponentWebAssemblyConventions.cs
Labels: area-blazor, feature-blazor-wasm

#60832 Refactoring DiagnosticDescriptors.cs files
  src/Components/Analyzers/src/DiagnosticDescriptors.cs
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/DiagnosticDescriptors.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/DiagnosticDescriptors.cs
  src/Mvc/Mvc.Analyzers/src/DiagnosticDescriptors.cs
  src/Mvc/Mvc.Api.Analyzers/src/ApiDiagnosticDescriptors.cs
  src/SignalR/clients/csharp/Client.SourceGenerator/src/DiagnosticDescriptors.cs
  src/Tools/SDK-Analyzers/Components/src/DiagnosticDescriptors.cs
Labels: area-mvc, community-contribution

#60853 Update milestones for April
  .github/policies/resourceManagement.yml
Labels: area-infrastructure

#60792 Deduplicate assets produced on multiple build legs in the VMR to only be produced on the 'primary' build leg
  eng/Publishing.props
Labels: area-infrastructure

#60673 Fix OpenAPI server URLs for Aspire scenarios
  src/OpenApi/src/Extensions/OpenApiEndpointRouteBuilderExtensions.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.Servers.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentServiceTestsBase.cs
Labels: Servicing-approved, area-mvc, feature-openapi, area-minimal

#60856 Add doc link for policybot
  .github/policies/resourceManagement.yml
Labels: area-infrastructure

#60854 Update Playwright version in Versions.props
  eng/Versions.props
Labels: area-infrastructure

#60814 Fix punctuation of documentation in AuthenticationHandler.cs
  src/Security/Authentication/Core/src/AuthenticationHandler.cs
Labels: community-contribution, area-security

#58218 Descriptive Error for Improper Use of [AsParameters]
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/DiagnosticDescriptors.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/Resources.resx
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/StaticRouteHandlerModel/EndpointParameter.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/CompileTimeCreationTests.AsParameters.cs
  src/Shared/RoslynUtils/WellKnownTypeData.cs
Labels: community-contribution, pending-ci-rerun, area-minimal

#60742 Check length of TypeArguments before accessing via index
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/RouteHandlers/DisallowNonParsableComplexTypesOnParameters.cs
  src/Framework/AspNetCoreAnalyzers/test/RouteHandlers/DisallowNonParsableComplexTypesOnParametersTest.cs
Labels: area-infrastructure, community-contribution

#60410 Fix self-referential schema handling in collection schemas
  src/OpenApi/sample/EndpointRouteBuilderExtensions.cs
  src/OpenApi/sample/Program.cs
  src/OpenApi/src/Comparers/OpenApiSchemaComparer.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaService.cs
  src/OpenApi/src/Transformers/Implementations/OpenApiSchemaReferenceTransformer.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=schemas-by-ref.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/Implementations/OpenApiSchemaReferenceTransformerTests.cs
Labels: Servicing-approved, area-mvc, feature-openapi, area-minimal

#60822 Add more schema tests
  src/OpenApi/sample/Endpoints/MapSchemasEndoints.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_0/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=schemas-by-ref.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_1/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=schemas-by-ref.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/Implementations/OpenApiSchemaReferenceTransformerTests.cs
Labels: area-mvc, feature-openapi, area-minimal

#60858 [release/9.0] [Blazor] Fix custom elements JS assets not being included in build output
  src/Components/CustomElements/src/Microsoft.AspNetCore.Components.CustomElements.csproj
Labels: Servicing-approved, area-blazor

#60816 Fix apostrophes in ReconnectModal.razor.js
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Layout/ReconnectModal.razor.js
Labels: area-blazor

#60539 Setting the Description in a ProducesResponseTypeAttribute works correctly for Minimal API
  src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/test/ApiResponseTypeProviderTest.cs
  src/Mvc/Mvc.ApiExplorer/test/EndpointMetadataApiDescriptionProviderTest.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.Responses.cs
Labels: area-mvc, community-contribution

#60337 Add Microsoft.AspNetCore.OpenApi to the webapiaot template (with an optional flag to disable it)
  src/ProjectTemplates/Web.ProjectTemplates/WebApiAot-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApiAot-CSharp/.template.config/dotnetcli.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApiAot-CSharp/.template.config/ide.host.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApiAot-CSharp/.template.config/localize/templatestrings.cs.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApiAot-CSharp/.template.config/localize/templatestrings.de.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApiAot-CSharp/.template.config/localize/templatestrings.en.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApiAot-CSharp/.template.config/localize/templatestrings.es.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApiAot-CSharp/.template.config/localize/templatestrings.fr.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApiAot-CSharp/.template.config/localize/templatestrings.it.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApiAot-CSharp/.template.config/localize/templatestrings.ja.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApiAot-CSharp/.template.config/localize/templatestrings.ko.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApiAot-CSharp/.template.config/localize/templatestrings.pl.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApiAot-CSharp/.template.config/localize/templatestrings.pt-BR.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApiAot-CSharp/.template.config/localize/templatestrings.ru.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApiAot-CSharp/.template.config/localize/templatestrings.tr.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApiAot-CSharp/.template.config/localize/templatestrings.zh-Hans.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApiAot-CSharp/.template.config/localize/templatestrings.zh-Hant.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApiAot-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApiAot-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApiAot-CSharp/Program.cs
  src/ProjectTemplates/test/Templates.Tests/WebApiNativeAotTemplateTest.cs
Labels: area-mvc, community-contribution

#60874 Quarantine RadioButtonGetsResetAfterSubmittingEnhancedForm test
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
Labels: area-blazor

#59712 Update project templates use primary constructors and collection expressions
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Program.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp/Services/GreeterService.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorClassLibrary-CSharp/ExampleJsInterop.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Data/ApplicationDbContext.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Pages/Error.cshtml.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Pages/Index.cshtml.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Pages/Privacy.cshtml.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Controllers/HomeController.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Data/ApplicationDbContext.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Controllers/WeatherForecastController.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApiAot-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/WebApiAot-CSharp/Program.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp/Worker.cs
Labels: area-mvc, community-contribution

#60880 Merging internal commits for release/9.0
  .azure/pipelines/ci.yml
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  eng/helix/helix.proj
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Identity/Core/src/SignInManager.cs
  src/Identity/test/Identity.Test/SignInManagerTest.cs
  src/Installers/Windows/WindowsHostingBundle/Product.targets
Labels: area-infrastructure

#60879 Merging internal commits for release/8.0
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  src/Identity/Core/src/SignInManager.cs
  src/Identity/test/Identity.Test/SignInManagerTest.cs
Labels: area-infrastructure

#60878 [release/2.3] Merge from internal
  eng/PatchConfig.props
  src/Identity/Core/src/SignInManager.cs
  src/Identity/test/Identity.Test/SignInManagerTest.cs
Labels: area-infrastructure

#60881 Prevent RefreshSignInAsync if it is called with wrong user
  src/Identity/Core/src/SignInManager.cs
  src/Identity/test/Identity.Test/SignInManagerTest.cs
Labels: area-identity

#60888 Use the host version that corresponds with the LKG SDK
  eng/tools/GenerateFiles/Directory.Build.props.in
  eng/tools/GenerateFiles/GenerateFiles.csproj
  src/Servers/IIS/Directory.Build.props
Labels: area-infrastructure

#60896 Only build platform-specific native assets in native build in VMR
  eng/Build.props
Labels: area-infrastructure

#60876 Quarantine EnhancedNavigationScrollBehavesSameAsBrowserOnNavigation
  src/Components/test/E2ETest/ServerRenderingTests/EnhancedNavigationTest.cs
Labels: area-blazor

#60897 List Microsoft.AspNetCore.App in PackageOverrides.txt
  src/Framework/App.Ref/src/Microsoft.AspNetCore.App.Ref.sfxproj
  src/Framework/test/TargetingPackTests.cs
Labels: area-infrastructure

#60724 Support input validation for minimal APIs via generic resolver model
  src/Framework/App.Ref/src/Microsoft.AspNetCore.App.Ref.sfxproj
  src/Http/Http.Abstractions/src/Metadata/IDisableValidationMetadata.cs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Abstractions/src/Validation/IValidatableInfo.cs
  src/Http/Http.Abstractions/src/Validation/IValidatableInfoResolver.cs
  src/Http/Http.Abstractions/src/Validation/RuntimeValidatableParameterInfoResolver.cs
  src/Http/Http.Abstractions/src/Validation/TypeExtensions.cs
  src/Http/Http.Abstractions/src/Validation/ValidatableParameterInfo.cs
  src/Http/Http.Abstractions/src/Validation/ValidatablePropertyInfo.cs
  src/Http/Http.Abstractions/src/Validation/ValidatableTypeAttribute.cs
  src/Http/Http.Abstractions/src/Validation/ValidatableTypeInfo.cs
  src/Http/Http.Abstractions/src/Validation/ValidateContext.cs
  src/Http/Http.Abstractions/src/Validation/ValidationOptions.cs
  src/Http/Http.Abstractions/src/Validation/ValidationServiceCollectionExtensions.cs
  src/Http/Http.Abstractions/test/Validation/ValidatableInfoResolverTests.cs
  src/Http/Http.Abstractions/test/Validation/ValidatableParameterInfoTests.cs
  src/Http/Http.Abstractions/test/Validation/ValidatableTypeInfoTests.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Emitters/ValidationsGenerator.Emitter.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Extensions/ISymbolExtensions.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Extensions/ITypeSymbolExtensions.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Extensions/IncrementalValuesProviderExtensions.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Models/RequiredSymbols.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Models/ValidatableProperty.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Models/ValidatableType.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Models/ValidatableTypeComparer.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Models/ValidationAttribute.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Parsers/ValidationsGenerator.AddValidation.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Parsers/ValidationsGenerator.AttributeParser.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Parsers/ValidationsGenerator.EndpointsParser.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Parsers/ValidationsGenerator.RequiredSymbolsParser.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Parsers/ValidationsGenerator.TypesParser.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/ValidationsGenerator.cs
  src/Http/Http.Extensions/test/ValidationEndpointConventionBuilderExtensionsTests.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/ValidationsGenerator.ComplexType.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/ValidationsGenerator.IValidatableObject.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/ValidationsGenerator.NoOp.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/ValidationsGenerator.Parameters.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/ValidationsGenerator.Polymorphism.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/ValidationsGenerator.Recursion.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/ValidationsGenerator.ValidatableType.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/ValidationsGeneratorTestBase.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateComplexTypes#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateIValidatableObject#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateParameters#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidatePolymorphicTypes#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateRecursiveTypes#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateTypesWithAttribute#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.DoesNotEmitForExemptTypes#ValidatableInfoResolver.g.verified.cs
  src/Http/Http/perf/Microbenchmarks/ValidatableTypesBenchmark.cs
  src/Http/Routing/src/Builder/ValidationRouteHandlerBuilderExtensions.cs
  src/Http/Routing/src/PublicAPI.Unshipped.txt
  src/Http/Routing/src/RouteEndpointDataSource.cs
  src/Http/Routing/src/ValidationEndpointFilterFactory.cs
  src/Http/samples/MinimalValidationSample/MinimalValidationSample.csproj
  src/Http/samples/MinimalValidationSample/MinimalValidationSample.http
  src/Http/samples/MinimalValidationSample/Program.cs
  src/Http/samples/MinimalValidationSample/Properties/launchSettings.json
  src/Http/samples/MinimalValidationSample/appsettings.Development.json
  src/Http/samples/MinimalValidationSample/appsettings.json
Labels: area-minimal

#60915 Caching SERedis critical bugfix; defer HC metadata detection because of DI cycle
  src/Caching/StackExchangeRedis/src/RedisCache.cs
  src/Caching/StackExchangeRedis/src/RedisCacheImpl.cs
  src/Caching/StackExchangeRedis/test/CacheServiceExtensionsTests.cs
Labels: feature-caching, area-networking

#60751 [Blazor] Opt-in to use dotnet.boot.js
  src/Components/WebAssembly/Directory.Build.props
  src/Components/WebAssembly/testassets/CustomBasePathApp/wwwroot/index.html
  src/Components/WebAssembly/testassets/HostedInAspNet.Client/wwwroot/index.html
  src/Components/WebAssembly/testassets/StandaloneApp/wwwroot/index.html
  src/Components/WebAssembly/testassets/ThreadingApp.Server/Components/App.razor
  src/Components/WebAssembly/testassets/ThreadingApp/wwwroot/index.html
  src/Components/WebAssembly/testassets/Wasm.Prerendered.Server/Pages/_Layout.cshtml
  src/Components/test/E2ETest/Tests/BootResourceCachingTest.cs
  src/Components/test/testassets/BasicTestApp/wwwroot/index.html
  src/Components/test/testassets/Components.TestServer/Pages/Client/MultipleComponentsLayout.cshtml
  src/Components/test/testassets/Components.TestServer/Pages/SaveState.cshtml
  src/Components/test/testassets/Components.TestServer/RazorComponents/App.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/GlobalInteractivityApp.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/NamedFormContextNoFormContextApp.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/RemoteAuthenticationApp.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Root.razor
  src/Components/test/testassets/Directory.Build.props
  src/Components/test/testassets/GlobalizationWasmApp/wwwroot/index.html
Labels: area-blazor, feature-blazor-wasm

#60919 Add onboarding doc for new OSes
  docs/OnboardingNewOS.md
Labels: area-infrastructure

#60769 Fix ASP.NET Core module installer upgrade issues
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMIISExpressV2/ancm_iis_expressv2.wxs
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMV2/aspnetcoremodulev2.wxs
  src/Installers/Windows/AspNetCoreModule-Setup/Forwarders/all.cmd
  src/Installers/Windows/AspNetCoreModule-Setup/Forwarders/build.cmd
  src/Installers/Windows/AspNetCoreModule-Setup/Forwarders/build.proj
Labels: area-infrastructure, community-contribution

#60905 Bundle the .NET Runtime in the archives in the VMR as well
  src/Framework/App.Runtime/src/aspnetcore-runtime-composite.proj
  src/Framework/App.Runtime/src/aspnetcore-runtime.proj
Labels: area-infrastructure

#60920 Fix `RadioButtonGetsResetAfterSubmittingEnhancedForm`
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
Labels: area-blazor, feature-blazor-enhanced-navigation

#60969 Rename `DisableMatchAllIgnoresLeftUriPart` to `EnableMatchAllForQueryStringAndFragmentSwitchKey`
  src/Components/Web/src/Routing/NavLink.cs
Labels: area-blazor

#60818 Add doc owners column to area owners table
  docs/area-owners.md
Labels: area-infrastructure

#60937 Add default implementation to OpenAPI's new Description property to prevent a breaking change
  src/Http/Http.Abstractions/src/Metadata/IProducesResponseTypeMetadata.cs
  src/Mvc/Mvc.Core/src/ApiExplorer/IApiResponseMetadataProvider.cs
Labels: community-contribution, area-networking

#60910 Only build the target platform in native projs for the VMR
  eng/Build.props
  eng/Common.props
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.Composite.sfxproj
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.sfxproj
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMIISExpressV2/ancm_iis_expressv2.wxs
  src/Installers/Windows/AspNetCoreModule-Setup/Directory.Build.props
  src/Servers/IIS/IIS/src/Microsoft.AspNetCore.Server.IIS.csproj
Labels: area-infrastructure

#60979 Only run issue-locker action on weekdays
  .github/workflows/locker.yml
Labels: area-infrastructure

#60918 [Infrastructure] Updated npm packages 2025-03-13
  package-lock.json
  src/Components/Web.JS/src/Boot.WebAssembly.Common.ts
  src/JSInterop/Microsoft.JSInterop.JS/src/src/Microsoft.JSInterop.ts
Labels: area-infrastructure

#60752 Add `NotFound` method in `NavigationManager` for interactive and static rendering
  src/Components/Components/src/NavigationManager.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/Routing/Router.cs
  src/Components/Endpoints/src/RazorComponentEndpointInvoker.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.EventDispatch.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.cs
  src/Components/Server/src/Circuits/RemoteNavigationManager.cs
  src/Components/test/E2ETest/ServerRenderingTests/NoInteractivityTest.cs
  src/Components/test/E2ETest/Tests/GlobalInteractivityTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Routing/RoutingTestCases.razor
  src/Components/test/testassets/Components.WasmMinimal/Pages/NotFoundInteractiveServer.razor
  src/Components/test/testassets/Components.WasmMinimal/Pages/NotFoundInteractiveWebassembly.razor
  src/Components/test/testassets/Components.WasmMinimal/Pages/NotFoundSSR.razor
  src/Mvc/Mvc.TagHelpers/test/ComponentTagHelperTest.cs
Labels: area-blazor, feature-blazor-routing

#60967 Use Kind Artifact metadata and minor improvements to Signing/Publishing.props
  eng/Publishing.props
  eng/Signing.props
Labels: area-infrastructure

#60857 Add SignalR client log for stream item binding failure
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.Log.cs
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
  src/SignalR/clients/csharp/Client/test/UnitTests/HubConnectionTests.Protocol.cs
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/GsonHubProtocol.java
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/HubConnection.java
  src/SignalR/clients/java/signalr/test/build.gradle
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/HubConnectionTest.java
Labels: area-signalr

#59424 perf: improve ManagedAuthenticatedEncryptor Decrypt() and Encrypt() flow
  eng/Dependencies.props
  eng/Versions.props
  src/DataProtection/Cryptography.Internal/src/CryptoUtil.cs
  src/DataProtection/Cryptography.Internal/src/Microsoft.AspNetCore.Cryptography.Internal.csproj
  src/DataProtection/Cryptography.Internal/test/CryptoUtilTests.cs
  src/DataProtection/DataProtection/src/Managed/AesGcmAuthenticatedEncryptor.cs
  src/DataProtection/DataProtection/src/Managed/IManagedGenRandom.cs
  src/DataProtection/DataProtection/src/Managed/ManagedAuthenticatedEncryptor.cs
  src/DataProtection/DataProtection/src/Managed/ManagedGenRandomImpl.cs
  src/DataProtection/DataProtection/src/SP800_108/ManagedSP800_108_CTR_HMACSHA512.cs
  src/DataProtection/DataProtection/test/Microsoft.AspNetCore.DataProtection.Tests/KeyManagement/KeyRingBasedDataProtectorTests.cs
  src/DataProtection/DataProtection/test/Microsoft.AspNetCore.DataProtection.Tests/SP800_108/SP800_108Tests.cs
  src/DataProtection/DataProtection/test/Microsoft.AspNetCore.DataProtection.Tests/SequentialGenRandom.cs
Labels: area-dataprotection, Perf, blog-candidate

#58041 Use ImpersonationToken for IIS Windows Auth
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/managedexports.cpp
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/forwardinghandler.cpp
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Infrastructure/RequiresIISAttribute.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/WindowsAuthTests.cs
Labels: feature-iis, area-networking

#60977 Fix OpenAPI XML code gen
  src/OpenApi/gen/Helpers/ISymbolExtensions.cs
  src/OpenApi/gen/XmlCommentGenerator.Emitter.cs
  src/OpenApi/gen/XmlCommentGenerator.Parser.cs
  src/OpenApi/gen/XmlComments/MemberKey.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/AdditionalTextsTests.Schemas.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/CompletenessTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/AddOpenApiTests.CanInterceptAddOpenApi#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/AdditionalTextsTests.CanHandleXmlForSchemasInAdditionalTexts#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/CompletenessTests.SupportsAllXmlTagsOnSchemas#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/OperationTests.SupportsXmlCommentsOnOperationsFromControllers#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/OperationTests.SupportsXmlCommentsOnOperationsFromMinimalApis#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/SchemaTests.SupportsXmlCommentsOnSchemas#OpenApiXmlCommentSupport.generated.verified.cs
Labels: area-mvc

#60976 Use trim-safe ValidationContext constructor and update RuntimeParameterInfoResolver
  src/Http/Http.Abstractions/src/Validation/RuntimeValidatableParameterInfoResolver.cs
  src/Http/Http.Abstractions/test/Validation/RuntimeValidatableParameterInfoResolverTests.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Emitters/ValidationsGenerator.Emitter.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateComplexTypes#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateIValidatableObject#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateParameters#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidatePolymorphicTypes#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateRecursiveTypes#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateTypesWithAttribute#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.DoesNotEmitForExemptTypes#ValidatableInfoResolver.g.verified.cs
  src/Http/Routing/src/ValidationEndpointFilterFactory.cs
Labels: area-minimal

#61000 Don't build ANCM forwarders in VMR
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMIISExpressV2/AncmIISExpressV2.wixproj
Labels: area-infrastructure

#60930 Improve flaky tests, move tests blockade.
  src/Components/test/E2ETest/ServerRenderingTests/EnhancedNavigationTest.cs
  src/Components/test/E2ETest/Tests/RoutingTest.cs
Labels: test-failure, area-blazor

#61020 Pass InnerBuildArgs to inner RepoTasks build in SourceBuild
  eng/DotNetBuild.props
Labels: area-infrastructure

#61027 Fix whitespace in inter-branch-merge.yml
  .github/workflows/inter-branch-merge-flow.yml
Labels: area-infrastructure

#61040 Pass thru command line args to RepoTasks build
  eng/build.ps1
  eng/build.sh
Labels: area-infrastructure

#61022 Make signing less custom
  eng/Publishing.props
  eng/Signing.props
Labels: area-infrastructure

#61026 Re-enable WOW64, arm64 forwarders in Hosting Bundle
  eng/Build.props
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMIISExpressV2/AncmIISExpressV2.wixproj
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMIISExpressV2/ancm_iis_expressv2.wxs
  src/Installers/Windows/WindowsHostingBundle/WindowsHostingBundle.wixproj
  src/Servers/IIS/Directory.Build.props
Labels: area-infrastructure

#61044 Depend on GetSourceBuildCommandConfiguration target to read from InnerBuildArgs
  eng/DotNetBuild.props
Labels: area-infrastructure

#61050 Support generating OpenApiSchemas from transformers
  src/OpenApi/src/PublicAPI.Unshipped.txt
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaService.cs
  src/OpenApi/src/Transformers/OpenApiDocumentTransformerContext.cs
  src/OpenApi/src/Transformers/OpenApiOperationTransformerContext.cs
  src/OpenApi/src/Transformers/OpenApiSchemaTransformerContext.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/CustomSchemaTransformerTests.cs
Labels: area-mvc, feature-openapi, area-minimal

#61082 Update accessibility check for types in same assembly
  src/OpenApi/gen/Helpers/AssemblyTypeSymbolsVisitor.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/AdditionalTextsTests.Schemas.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/SchemaTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/SchemaTests.SupportsXmlCommentsOnSchemas#OpenApiXmlCommentSupport.generated.verified.cs
Labels: area-mvc, feature-openapi, area-minimal

#61007 Transitive package to provide coherency in dotnet/extensions
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#61006 Remove unneeded 'fixed' statements from SocketAddress
  src/Servers/HttpSys/src/NativeMethods.txt
  src/Servers/IIS/IIS/src/NativeMethods.txt
  src/Shared/HttpSys/NativeInterop/SocketAddress.cs
  src/Shared/HttpSys/RequestProcessing/NativeRequestContext.cs
  src/Shared/test/Shared.Tests/NativeMethods.txt
Labels: area-networking, reduce-unsafe

#61151 Api proposal fix for `NavLink.ShouldMatch`
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/Web/src/Routing/NavLink.cs
Labels: area-blazor

#61152 Api proposal fix for `NotFound`
  src/Components/Components/src/NavigationManager.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/Routing/NotFoundEventArgs.cs
  src/Components/Components/src/Routing/Router.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.cs
Labels: area-blazor

#61034 [Blazor] Remove explicit WasmBootConfigFileName from tests
  src/Components/WebAssembly/Directory.Build.props
  src/Components/WebAssembly/testassets/CustomBasePathApp/wwwroot/index.html
  src/Components/WebAssembly/testassets/HostedInAspNet.Client/wwwroot/index.html
  src/Components/WebAssembly/testassets/StandaloneApp/wwwroot/index.html
  src/Components/WebAssembly/testassets/ThreadingApp.Server/Components/App.razor
  src/Components/WebAssembly/testassets/ThreadingApp/wwwroot/index.html
  src/Components/WebAssembly/testassets/Wasm.Prerendered.Server/Pages/_Layout.cshtml
  src/Components/test/testassets/BasicTestApp/wwwroot/index.html
  src/Components/test/testassets/Components.TestServer/Pages/Client/MultipleComponentsLayout.cshtml
  src/Components/test/testassets/Components.TestServer/Pages/SaveState.cshtml
  src/Components/test/testassets/Components.TestServer/RazorComponents/App.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/GlobalInteractivityApp.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/NamedFormContextNoFormContextApp.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/RemoteAuthenticationApp.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Root.razor
  src/Components/test/testassets/Directory.Build.props
  src/Components/test/testassets/GlobalizationWasmApp/wwwroot/index.html
Labels: area-blazor

#61154 [Blazor] Changes from API proposal for CloseColumnOptionsAsync
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/PublicAPI.Unshipped.txt
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/QuickGrid.razor
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/QuickGrid.razor.cs
  src/Components/test/E2ETest/Tests/QuickGridTest.cs
  src/Components/test/testassets/BasicTestApp/QuickGridTest/SampleQuickGridComponent.razor
Labels: area-blazor

#61157 Update Chrome download link and disable TerminalLogger for Helix tests
  .azure/pipelines/ci-public.yml
  eng/scripts/InstallGoogleChrome.ps1
Labels: area-infrastructure

#60635 Add a new UseKestel API to the WebApplicationFactory
  src/Mvc/Mvc.Testing/src/Microsoft.AspNetCore.Mvc.Testing.csproj
  src/Mvc/Mvc.Testing/src/PublicAPI.Unshipped.txt
  src/Mvc/Mvc.Testing/src/Resources.resx
  src/Mvc/Mvc.Testing/src/WebApplicationFactory.cs
  src/Mvc/Mvc.Testing/src/WebApplicationFactoryClientOptions.cs
  src/Mvc/test/Mvc.FunctionalTests/KestrelBasedWebApplicationFactory.cs
  src/Mvc/test/Mvc.FunctionalTests/RealServerBackedIntegrationTests.cs
  src/Mvc/test/Mvc.FunctionalTests/RealServerWithCustomConfigurationIntegrationTests.cs
  src/Mvc/test/Mvc.FunctionalTests/RealServerWithDynamicPortIntegrationTests.cs
  src/Mvc/test/Mvc.FunctionalTests/RealServerWithSpecifiedPortBackedIntegrationTests.cs
Labels: area-mvc

#61193 Harden AddValidation check in validations generator
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Parsers/ValidationsGenerator.AddValidation.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/ValidationsGenerator.NoOp.cs
Labels: area-minimal

#61208 Fix condition for if installers are shipping
  eng/Signing.props
Labels: area-infrastructure

#61209 Remove richnav.yml and feed
  .azure/pipelines/richnav.yml
  NuGet.config
Labels: area-infrastructure

#61218 Filename -> Identity in wixpack.zip Signing condition
  eng/Signing.props
Labels: area-infrastructure

#61213 Upgrade to Ubuntu 22
  .azure/pipelines/jobs/default-build.yml
  eng/scripts/install-nginx-linux.sh
Labels: area-infrastructure

#61145 Harden handling for generic type arguments in source generator
  src/OpenApi/gen/XmlCommentGenerator.Emitter.cs
  src/OpenApi/gen/XmlCommentGenerator.Parser.cs
  src/OpenApi/gen/XmlComments/MemberKey.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/CompletenessTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/OperationTests.MinimalApis.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/AddOpenApiTests.CanInterceptAddOpenApi#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/AdditionalTextsTests.CanHandleXmlForSchemasInAdditionalTexts#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/CompletenessTests.SupportsAllXmlTagsOnSchemas#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/OperationTests.SupportsXmlCommentsOnOperationsFromControllers#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/OperationTests.SupportsXmlCommentsOnOperationsFromMinimalApis#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/SchemaTests.SupportsXmlCommentsOnSchemas#OpenApiXmlCommentSupport.generated.verified.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiAddFileTests.cs
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiAddURLTests.cs
Labels: area-mvc
