Repository dotnet/aspnetcore, pull requests merged in 2025-01, with the labels that each got.

#59646 Apply HeadersLengthLimit to preamble in MultipartReader
  src/Http/WebUtilities/src/MultipartBoundary.cs
  src/Http/WebUtilities/src/MultipartReader.cs
  src/Http/WebUtilities/src/MultipartReaderStream.cs
  src/Http/WebUtilities/test/MultipartReaderTests.cs
Labels: feature-http-abstractions, area-networking

#58605 Adds the ability to specify an appsettings file for user-jwts
  src/Tools/dotnet-user-jwts/src/Commands/ClearCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/CreateCommand.cs
  src/Tools/dotnet-user-jwts/src/Commands/RemoveCommand.cs
  src/Tools/dotnet-user-jwts/src/Helpers/DevJwtCliHelpers.cs
  src/Tools/dotnet-user-jwts/src/Resources.resx
  src/Tools/dotnet-user-jwts/test/UserJwtsTestFixture.cs
  src/Tools/dotnet-user-jwts/test/UserJwtsTests.cs
Labels: area-commandlinetools, community-contribution

#59699 Apply schema transformer to AdditionalProperties
  src/OpenApi/src/Services/Schemas/OpenApiSchemaService.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/SchemaTransformerTests.cs
Labels: community-contribution, feature-openapi, area-minimal

#59715 Bump update-dotnet-sdk action
  .github/workflows/update-sdk.yml
Labels: area-infrastructure, community-contribution

#59694 Update OSX helix queue
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#59757 Update branding to 9.0.2
  eng/Versions.props
Labels: area-infrastructure

#59756 Update branding to 8.0.13
  eng/Versions.props
Labels: area-infrastructure

#59295 [release/8.0] Skip MVC template tests on HelixQueueArmDebian12
  src/ProjectTemplates/test/Templates.Mvc.Tests/Templates.Mvc.Tests.csproj
Labels: area-infrastructure, tell-mode, pending-ci-rerun

#59764 Update milestones for Feb
  .github/policies/resourceManagement.yml
Labels: area-infrastructure

#59765 [release/2.3] Fetch Korebuild from new URL
  run.ps1
  run.sh
  scripts/UpdateBuildTools.ps1
Labels: area-infrastructure

#59613 Migrate off of Fedora 38
  eng/targets/Helix.Common.props
  eng/targets/Helix.targets
Labels: area-infrastructure, tell-mode, community-contribution, pending-ci-rerun

#59584 Migrate off of Debian 11
  eng/targets/Helix.Common.props
  eng/targets/Helix.targets
Labels: area-infrastructure, tell-mode, community-contribution, pending-ci-rerun

#59612 Migrate off of Fedora 38
  eng/targets/Helix.Common.props
  eng/targets/Helix.targets
Labels: area-infrastructure, community-contribution, pending-ci-rerun

#59322 perf: get rid of MemoryStream in `KeyRingBasedDataProtector`
  src/DataProtection/DataProtection/src/KeyManagement/KeyRingBasedDataProtector.cs
  src/DataProtection/DataProtection/src/Microsoft.AspNetCore.DataProtection.csproj
  src/DataProtection/DataProtection/test/Microsoft.AspNetCore.DataProtection.Tests/Internal/Int7BitEncodingUtilsTests.cs
  src/DataProtection/DataProtection/test/Microsoft.AspNetCore.DataProtection.Tests/KeyManagement/AdditionalAuthenticatedDataTemplateTests.cs
  src/Shared/Encoding/Int7BitEncodingUtils.cs
Labels: area-dataprotection, Perf, pending-ci-rerun

#59763 Harden schema reference transformer for relative references
  src/OpenApi/src/Comparers/OpenApiSchemaComparer.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaService.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/OpenApiDocumentIntegrationTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/Implementations/OpenApiSchemaReferenceTransformerTests.cs
Labels: area-mvc, feature-openapi, area-minimal

#59777 [release/8.0] Pin to S.T.J 8.0.5 in Analyzers
  eng/Versions.props
  src/Framework/AspNetCoreAnalyzers/src/Analyzers/Microsoft.AspNetCore.App.Analyzers.csproj
Labels: area-infrastructure, tell-mode

#59774 Fix broken project link
  docs/Servicing.md
Labels: area-infrastructure, community-contribution

#59348 [release/9.0] [Blazor WASM standalone] Avoid caching `index.html` during development
  src/Components/WebAssembly/DevServer/src/Server/Startup.cs
Labels: Servicing-approved, area-blazor, feature-blazor-wasm, feature-hot-reload, pending-ci-rerun

#59781 Remove .AutoVerify() call
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/OpenApiDocumentIntegrationTests.cs
Labels: area-mvc

#59817 Update to Fedora 41
  eng/targets/Helix.Common.props
Labels: area-infrastructure, tell-mode

#59779 [release/9.0] Harden schema reference transformer for relative references
  src/OpenApi/src/Comparers/OpenApiSchemaComparer.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaService.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/Implementations/OpenApiSchemaReferenceTransformerTests.cs
Labels: Servicing-approved, area-mvc, feature-openapi, area-minimal

#59773 Use Markdown alert in Contributing guide
  CONTRIBUTING.md
Labels: area-infrastructure, community-contribution

#59551 Use the live crossgen2 corresponding to the runtime we're building against
  eng/targets/Sfx.Common.targets
  eng/tools/GenerateFiles/Directory.Build.targets.in
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.Composite.sfxproj
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.sfxproj
Labels: area-infrastructure

#59814 Update to Fedora 41
  eng/targets/Helix.Common.props
Labels: area-infrastructure

#59568 More thorough support for retrieving OpenAPI routes in a case-sensitive manner
  src/OpenApi/src/Extensions/OpenApiEndpointRouteBuilderExtensions.cs
  src/OpenApi/src/Extensions/OpenApiServiceCollectionExtensions.cs
  src/OpenApi/src/Services/OpenApiDocumentProvider.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Extensions/OpenApiEndpointRouteBuilderExtensionsTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentProviderTests.cs
Labels: community-contribution, feature-openapi, area-minimal

#59820 Fix flaky Kestrel Http/2 Stream tests
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: area-networking

#59857 Enable building Hosting Bundle in VMR
  Directory.Build.props
  eng/Build.props
  eng/Publishing.props
  src/Installers/Windows/WindowsHostingBundle/WindowsHostingBundle.wixproj
Labels: area-infrastructure

#59867 [release/8.0] Fix/update docker tags
  eng/targets/Helix.Common.props
Labels: area-infrastructure, tell-mode

#59877 [release/2.3] Enable signing for modules
  build/RepositoryBuild.targets
Labels: area-infrastructure

#59871 Merging internal commits for release/9.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure

#59876 Fixes Problem Details casing bug (#59396)
  src/Http/Http.Extensions/src/DefaultProblemDetailsWriter.cs
  src/Http/Http.Extensions/test/ProblemDetailsDefaultWriterTest.cs
Labels: community-contribution, area-networking

#56304 Perf: ReasonPhrases as Array instead of Dictionary
  src/Http/WebUtilities/src/ReasonPhrases.cs
  src/Servers/HttpSys/src/HttpSysListener.cs
  src/Servers/HttpSys/src/RequestProcessing/HttpReasonPhrase.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.cs
  src/Servers/HttpSys/src/RequestProcessing/Response.cs
Labels: community-contribution, area-networking

#59880 Added APIReviewPrinciples document
  docs/APIReviewPrinciples.md
  docs/APIReviewProcess.md
Labels: area-infrastructure

#59543 Redis distributed cache: add HybridCache usage signal
  src/Caching/StackExchangeRedis/src/RedisCache.cs
  src/Caching/StackExchangeRedis/src/RedisCacheImpl.cs
  src/Caching/StackExchangeRedis/test/CacheServiceExtensionsTests.cs
Labels: area-middleware

#59891 Fix double line in APIReviewPrinciples.md for markdownlint
  docs/APIReviewPrinciples.md
Labels: area-infrastructure

#59901 Add QuickGrid RowClass parameter
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/PublicAPI.Unshipped.txt
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/QuickGrid.razor
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/QuickGrid.razor.cs
  src/Components/test/E2ETest/Tests/QuickGridTest.cs
  src/Components/test/testassets/BasicTestApp/QuickGridTest/SampleQuickGridComponent.razor
Labels: area-blazor

#59909 Suppress MSI validation to avoid applocker failures
  src/Installers/Windows/Directory.Build.props
Labels: area-infrastructure

#59910 Prevent 503s from IIS after IISNativeApplication gets finalized
  src/Servers/IIS/IIS/src/Core/IISHttpServer.cs
  src/Servers/IIS/IIS/src/Core/IISNativeApplication.cs
Labels: area-networking

#59819 Fix flaky SignalR test: RequestTimeoutDisabledWhenConnected
  src/SignalR/common/Http.Connections/test/HttpConnectionDispatcherTests.cs
Labels: area-signalr, pending-ci-rerun

#59787 Improve support for methods with multiple JSInvokable attributes
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/DotNetDispatcher.cs
  src/JSInterop/Microsoft.JSInterop/test/Infrastructure/DotNetDispatcherTest.cs
Labels: area-blazor, community-contribution

#59979 Quarantine BidirectionalStream_MultipleStreamsOnConnection_ReusedFromPool
  src/Servers/Kestrel/Transport.Quic/test/QuicStreamContextTests.cs
Labels: area-networking

#59905 [Blazor] Ensure WebAssembly startup options are initialized just once
  src/Components/Web.JS/src/Boot.Web.ts
  src/Components/test/E2ETest/ServerRenderingTests/BlazorWebJsInitializersTest.cs
  src/Components/test/testassets/BasicTestApp/wwwroot/JSInitializers/ClassicAndModern/BasicTestApp.lib.module.js
  src/Components/test/testassets/Components.TestServer/.gitignore
  src/Components/test/testassets/Components.TestServer/RazorComponents/App.razor
  src/Components/test/testassets/Components.TestServer/wwwroot/Components.TestServer.lib.module.js
Labels: area-blazor

#57779 Note fire-and-forget status of HubConnection event tasks
  src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs
Labels: area-signalr, community-contribution

#60002 Update to Microsoft.OpenApi v2.0.0-preview5
  eng/Versions.props
  eng/testing/linker/project.csproj.template
  src/OpenApi/src/Extensions/OpenApiDocumentExtensions.cs
  src/OpenApi/src/Extensions/OpenApiEndpointRouteBuilderExtensions.cs
  src/OpenApi/src/Services/OpenApiDocumentProvider.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/src/Services/OpenApiGenerator.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=controllers.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=forms.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=responses.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=schemas-by-ref.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=v1.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=v2.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.Operations.cs
  src/Tools/GetDocumentInsider/tests/GetDocumentTests.cs
Labels: area-infrastructure

#59992 Quarantine CanSendAndReceiveUserMessagesFromMultipleConnectionsWithSameUser
  src/SignalR/server/StackExchangeRedis/test/RedisEndToEnd.cs
Labels: area-signalr

#57443 Fix typo in `RemoteUserAccount` triple slash
  src/Components/WebAssembly/WebAssembly.Authentication/src/Models/RemoteUserAccount.cs
Labels: area-blazor, pending-ci-rerun

#60016 Fix template test scripts
  .azure/pipelines/ci-public.yml
  .azure/pipelines/ci.yml
  src/ProjectTemplates/scripts/Run-BlazorWasm-Locally.ps1
  src/ProjectTemplates/scripts/Run-BlazorWeb-Locally.ps1
  src/ProjectTemplates/scripts/Run-Razor-Locally.ps1
  src/ProjectTemplates/scripts/Run-Starterweb-Locally.ps1
  src/ProjectTemplates/scripts/Test-Template.psm1
Labels: area-infrastructure

#60057 Update branding to preview2
  .github/policies/resourceManagement.yml
  eng/Versions.props
Labels: area-infrastructure

#60051 Compute dates in DefaultKeyResolver once
  src/DataProtection/DataProtection/src/KeyManagement/DefaultKeyResolver.cs
Labels: area-dataprotection, community-contribution

#60040 Fix remarks tag structure in xml documentation comment of IRazorViewE…
  src/Mvc/Mvc.Razor/src/IRazorViewEngine.cs
Labels: area-mvc, community-contribution

#53395 Better implementation of EventCallback.Equals
  src/Components/Components/src/EventCallback.cs
  src/Components/Components/src/EventCallbackOfT.cs
  src/Components/Components/test/EventCallbackTest.cs
Labels: area-blazor, community-contribution, pending-merge

#57904 Add public method to QuickGrid to close column options UI
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/PublicAPI.Unshipped.txt
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/QuickGrid.razor
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/QuickGrid.razor.cs
  src/Components/test/E2ETest/Tests/QuickGridTest.cs
  src/Components/test/testassets/BasicTestApp/QuickGridTest/SampleQuickGridComponent.razor
Labels: area-blazor, community-contribution, pending-merge

#58710 use GeneratedRegex property
  src/Components/test/E2ETest/ServerExecutionTests/WebSocketCompressionTests.cs
  src/Components/test/E2ETest/ServerRenderingTests/ResourceCollectionTest.cs
  src/Components/test/E2ETest/Tests/BootResourceCachingTest.cs
  src/Http/Routing/src/Constraints/AlphaRouteConstraint.cs
  src/Security/Authentication/Negotiate/src/Internal/LdapAdapter.cs
  src/Security/Authentication/Negotiate/test/Negotiate.Test/LdapAdapterTests.cs
  src/Shared/CertificateGeneration/UnixCertificateManager.cs
Labels: area-blazor, community-contribution, pending-merge

#58888 Nested Editor<T> Null Reference Exception. Fix a bug in the HtmlFieldPrefix.cs:23
  src/Components/Web/src/Forms/HtmlFieldPrefix.cs
Labels: area-blazor, community-contribution, pending-merge

#58667 no dispatchGlobalEventToAllElements when no renderer attached
  src/Components/Web.JS/src/Rendering/Events/EventDelegator.ts
Labels: area-blazor, community-contribution, pending-ci-rerun, pending-merge

#60005 [release/2.3] Clear out patchconfig for 2.3.1
  eng/PatchConfig.props
Labels: area-infrastructure

#60017 Update CODEOWNERS to include doc writers and reduce duplication
  .github/CODEOWNERS
Labels: area-infrastructure

#60069 Add info about Darc web UI
  docs/ReferenceResolution.md
Labels: area-infrastructure

#59784 Clarify meaning of the group name specified in WithGroupName
  src/Http/Routing/src/Builder/RoutingEndpointConventionBuilderExtensions.cs
Labels: pending-ci-rerun, area-networking

#60090 [Infrastructure] Updated npm packages 2025-01-29
  package-lock.json
Labels: area-infrastructure

#60088 Update Selenium and Playwright dependencies 2025-01-29
  eng/Versions.props
Labels: area-infrastructure

#60068 Quarantine SubmitButtonFormactionAttributeOverridesEnhancedFormAction
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
Labels: area-blazor

#60080 Update IIS link in Hosting Bundle
  src/Installers/Windows/WindowsHostingBundle/1033/thm.wxl
Labels: area-infrastructure

#59940 Add route string syntax for pattern in RouteHandlerServices.Map
  src/Http/Routing/src/Builder/RouteHandlerServices.cs
Labels: community-contribution, pending-ci-rerun, area-routing

#59990 Refactor private PushAuthorizationRequest
  src/Security/Authentication/OpenIdConnect/src/OpenIdConnectHandler.cs
Labels: community-contribution, area-security

#60121 Quarantine test ResponseTests.AppCanHandleClientAbortingConnectionMidResponse.
  src/Servers/Kestrel/test/FunctionalTests/ResponseTests.cs
Labels: community-contribution, area-networking

#60122 Quarantine test ControllerEndpointFiltersTest.CanCaptureMethodInfoFromControllerAction.
  src/Mvc/test/Mvc.FunctionalTests/ControllerEndpointFiltersTest.cs
Labels: area-mvc, community-contribution

#59788 Use the latest available jdk
  eng/scripts/InstallJdk.ps1
  global.json
  src/SignalR/clients/java/signalr/build.gradle
  src/SignalR/clients/java/signalr/test/signalr.client.java.Tests.javaproj
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/GsonHubProtocolTest.java
Labels: area-infrastructure

#60143 Revert "Use the latest available jdk"
  eng/scripts/InstallJdk.ps1
  global.json
  src/SignalR/clients/java/signalr/build.gradle
  src/SignalR/clients/java/signalr/test/signalr.client.java.Tests.javaproj
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/GsonHubProtocolTest.java
Labels: area-infrastructure
