Repository dotnet/aspnetcore, pull requests merged in 2025-05, with the labels that each got.

#61631 feat: support tls client hello bytes callback in Kestrel
  src/Servers/Kestrel/Core/src/HttpsConnectionAdapterOptions.cs
  src/Servers/Kestrel/Core/src/ListenOptionsHttpsExtensions.cs
  src/Servers/Kestrel/Core/src/Middleware/TlsListenerMiddleware.cs
  src/Servers/Kestrel/Core/src/PublicAPI.Unshipped.txt
  src/Servers/Kestrel/Core/test/TestHelpers/ObservablePipeReader.cs
  src/Servers/Kestrel/Core/test/TlsListenerMiddlewareTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/TlsListenerMiddlewareTests.cs
Labels: area-networking

#61766 Fix handling of nullable types in validations generator
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Extensions/ITypeSymbolExtensions.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Parsers/ValidationsGenerator.TypesParser.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/ValidationsGenerator.ComplexType.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/ValidationsGenerator.Parsable.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateTypeWithParsableProperties#ValidatableInfoResolver.g.verified.cs
Labels: area-minimal, feature-validation

#61774 Fix username for dependabot
  .github/policies/resourceManagement.yml
Labels: area-infrastructure

#61322 Update MicrosoftBuildVersion to 17.8.3
  eng/Versions.props
Labels: area-infrastructure

#61780 Onboard the GitHub Action based Issue-Labeler
  .github/workflows/labeler-cache-retention.yml
  .github/workflows/labeler-predict-issues.yml
  .github/workflows/labeler-predict-pulls.yml
  .github/workflows/labeler-promote.yml
  .github/workflows/labeler-train.yml
  .github/workflows/labeler.md
Labels: area-infrastructure

#61666 [Blazor] Prepare for custom cache removal
  src/Components/Web.JS/src/Services/WebRootComponentManager.ts
  src/Components/WebAssembly/Directory.Build.props
  src/Components/WebAssembly/testassets/HostedInAspNet.Server/BootResourceRequestLog.cs
  src/Components/WebAssembly/testassets/HostedInAspNet.Server/Startup.cs
  src/Components/test/E2ETest/Tests/BootResourceCachingTest.cs
  src/Components/test/testassets/Directory.Build.props
Labels: area-blazor, feature-blazor-wasm

#61529 Associate tagged keys with entries so replacements are not evicted
  src/Middleware/OutputCaching/src/Memory/MemoryOutputCacheStore.cs
  src/Middleware/OutputCaching/test/MemoryOutputCacheStoreTests.cs
Labels: area-infrastructure, community-contribution

#61840 Introduce -productBuild and -sourceBuild switches
  .azure/pipelines/ci-public.yml
  .azure/pipelines/ci.yml
  eng/build.ps1
  eng/build.sh
Labels: area-infrastructure

#61755 Update helix references
  .azure/pipelines/ci.yml
  eng/targets/Helix.Common.props
  eng/targets/Helix.targets
  src/ProjectTemplates/README.md
  src/ProjectTemplates/test/Templates.Mvc.Tests/Templates.Mvc.Tests.csproj
  src/Testing/src/xunit/HelixConstants.cs
Labels: area-infrastructure

#61855 Enable PublishReadyToRun on LA64 and RV64
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.Composite.sfxproj
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.sfxproj
Labels: area-infrastructure, community-contribution

#61850 Add default implementations for new interface methods in Blazor JS interop
  src/Components/Web/src/Internal/IInternalWebJSInProcessRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/IJSInProcessObjectReference.cs
  src/JSInterop/Microsoft.JSInterop/src/IJSInProcessRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/IJSObjectReference.cs
  src/JSInterop/Microsoft.JSInterop/src/IJSRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/JSInProcessRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/JSRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/PublicAPI.Unshipped.txt
Labels: area-blazor

#61860 Use Microsoft.NETCore.App.Ref version in place of legacy MicrosoftNETCoreAppPackageVersion
  eng/Dependencies.props
  eng/Versions.props
  eng/testing/linker/SupportFiles/Directory.Build.targets
  eng/testing/linker/project.csproj.template
  eng/testing/linker/trimmingTests.targets
  eng/tools/GenerateFiles/Directory.Build.targets.in
  eng/tools/GenerateFiles/GenerateFiles.csproj
  src/Framework/App.Ref/src/Microsoft.AspNetCore.App.Ref.sfxproj
  src/Framework/App.Runtime/src/aspnetcore-base-runtime.proj
  src/Framework/App.Runtime/src/aspnetcore-runtime-composite.proj
  src/Framework/App.Runtime/src/aspnetcore-runtime.proj
  src/Framework/test/Microsoft.AspNetCore.App.UnitTests.csproj
  src/Framework/test/SharedFxTests.cs
  src/Framework/test/TargetingPackTests.cs
  src/Framework/test/TestData.cs
  src/Installers/Windows/WindowsHostingBundle/Product.targets
  src/ProjectTemplates/Web.ProjectTemplates/Microsoft.DotNet.Web.ProjectTemplates.csproj
  src/SiteExtensions/LoggingBranch/LB.csproj
Labels: area-infrastructure

#61812 InvalidOperationException when decompressed data exceeds request body size limit
  src/Middleware/RequestDecompression/src/RequestDecompressionMiddleware.cs
  src/Middleware/RequestDecompression/test/RequestDecompressionMiddlewareTests.cs
  src/Shared/SizeLimitedStream.cs
Labels: community-contribution, area-middleware

#61881 Block test that is failing after switching to latest-chrome
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
Labels: area-blazor, feature-blazor-navigation

#61889 Exclude some files from PR checks
  .azure/pipelines/ci-public.yml
Labels: area-infrastructure

#61862 Mark validations info related types are experimental
  docs/list-of-diagnostics.md
  src/Http/Http.Abstractions/src/Validation/IValidatableInfo.cs
  src/Http/Http.Abstractions/src/Validation/IValidatableInfoResolver.cs
  src/Http/Http.Abstractions/src/Validation/RuntimeValidatableParameterInfoResolver.cs
  src/Http/Http.Abstractions/src/Validation/ValidatableParameterInfo.cs
  src/Http/Http.Abstractions/src/Validation/ValidatablePropertyInfo.cs
  src/Http/Http.Abstractions/src/Validation/ValidatableTypeAttribute.cs
  src/Http/Http.Abstractions/src/Validation/ValidatableTypeInfo.cs
  src/Http/Http.Abstractions/src/Validation/ValidateContext.cs
  src/Http/Http.Abstractions/src/Validation/ValidationOptions.cs
  src/Http/Http.Abstractions/src/Validation/ValidationServiceCollectionExtensions.cs
  src/Http/Http.Abstractions/test/Validation/ValidatableInfoResolverTests.cs
  src/Http/Http.Abstractions/test/Validation/ValidatableParameterInfoTests.cs
  src/Http/Http.Abstractions/test/Validation/ValidatableTypeInfoTests.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Emitters/ValidationsGenerator.Emitter.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/ValidationsGenerator.ValidatableType.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/ValidationsGeneratorTestBase.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateComplexTypes#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateIValidatableObject#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateParameters#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidatePolymorphicTypes#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateRecordTypes#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateRecursiveTypes#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateTypeWithParsableProperties#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateTypesWithAttribute#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.DoesNotEmitForExemptTypes#ValidatableInfoResolver.g.verified.cs
  src/Http/Http/perf/Microbenchmarks/ValidatableTypesBenchmark.cs
  src/Http/Routing/src/RouteEndpointDataSource.cs
  src/Http/Routing/src/ValidationEndpointFilterFactory.cs
  src/Http/samples/MinimalValidationSample/Program.cs
Labels: area-minimal, feature-validation

#58917 perf: improve allocations in `OwinEnvironment`
  AspNetCore.slnx
  src/Http/HttpAbstractions.slnf
  src/Http/Owin/benchmarks/Microsoft.AspNetCore.Owin.Microbenchmarks/AssemblyInfo.cs
  src/Http/Owin/benchmarks/Microsoft.AspNetCore.Owin.Microbenchmarks/Benchmarks/OwinEnvironmentBenchmark.cs
  src/Http/Owin/benchmarks/Microsoft.AspNetCore.Owin.Microbenchmarks/Microsoft.AspNetCore.Owin.Microbenchmarks.csproj
  src/Http/Owin/src/DictionaryStringArrayWrapper.cs
  src/Http/Owin/src/DictionaryStringValuesWrapper.cs
  src/Http/Owin/src/OwinEnvironment.cs
  src/Http/Owin/test/OwinEnvironmentTests.cs
  src/Http/samples/MinimalSampleOwin/MinimalSampleOwin.csproj
  src/Http/samples/MinimalSampleOwin/Program.cs
  src/Http/samples/MinimalSampleOwin/Properties/launchSettings.json
Labels: Perf, area-networking

#61888 Fix handling for Name property on DisplayAttribute
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Extensions/ISymbolExtensions.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/ValidationsGenerator.IValidatableObject.cs
Labels: area-minimal, feature-validation

#61821 [Blazor] Use `Microsoft.DotNet.HotReload.Agent` package
  .editorconfig
  eng/Dependencies.props
  eng/Version.Details.xml
  eng/Versions.props
  src/Components/WebAssembly/WebAssembly/src/HotReload/AgentMessageSeverity.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/AgentReporter.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/HotReloadAgent.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/MetadataUpdateHandlerInvoker.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/ResponseLoggingLevel.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/UpdateDelta.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/WebAssemblyHotReload.cs
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.csproj
Labels: area-blazor

#61926 Add empty string check for recovery code
  src/Identity/EntityFrameworkCore/test/EF.Test/UserStoreTest.cs
  src/Identity/Extensions.Stores/src/UserStoreBase.cs
  src/Shared/ThrowHelpers/ArgumentNullThrowHelper.cs
Labels: area-identity

#61927 Fix trim annotations on generated validation code
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Emitters/ValidationsGenerator.Emitter.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateComplexTypes#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateIValidatableObject#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateParameters#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidatePolymorphicTypes#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateRecordTypes#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateRecursiveTypes#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateTypeWithParsableProperties#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateTypesWithAttribute#ValidatableInfoResolver.g.verified.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.DoesNotEmitForExemptTypes#ValidatableInfoResolver.g.verified.cs
Labels: area-minimal

#61854 Treat ValidationContext as required in validation resolver APIs
  src/Http/Http.Abstractions/src/PublicAPI.Unshipped.txt
  src/Http/Http.Abstractions/src/Validation/ValidatableParameterInfo.cs
  src/Http/Http.Abstractions/src/Validation/ValidatablePropertyInfo.cs
  src/Http/Http.Abstractions/src/Validation/ValidatableTypeInfo.cs
  src/Http/Http.Abstractions/src/Validation/ValidateContext.cs
  src/Http/Http.Abstractions/test/Validation/ValidatableTypeInfoTests.cs
  src/Http/Routing/src/ValidationEndpointFilterFactory.cs
Labels: area-networking

#61895 Exempt parameters resolved from DI from validation
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Extensions/ITypeSymbolExtensions.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Parsers/ValidationsGenerator.TypesParser.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/ValidationsGenerator.IValidatableObject.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/ValidationsGenerator.Parameters.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateParameters#ValidatableInfoResolver.g.verified.cs
  src/Http/Routing/src/ValidationEndpointFilterFactory.cs
Labels: area-minimal, feature-validation

#61920 Support mapping <returns> to response description
  src/OpenApi/gen/XmlCommentGenerator.Emitter.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/OperationTests.MinimalApis.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/AddOpenApiTests.CanInterceptAddOpenApi#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/AdditionalTextsTests.CanHandleXmlForSchemasInAdditionalTexts#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/CompletenessTests.SupportsAllXmlTagsOnSchemas#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/OperationTests.SupportsXmlCommentsOnOperationsFromControllers#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/OperationTests.SupportsXmlCommentsOnOperationsFromMinimalApis#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/SchemaTests.SupportsXmlCommentsOnSchemas#OpenApiXmlCommentSupport.generated.verified.cs
Labels: feature-openapi, area-minimal

#61813 Fixed devtools url used for debug with chrome and edge
  src/Components/WebAssembly/Server/src/TargetPickerUi.cs
Labels: area-blazor, community-contribution

#61952 Fix sanitization of type names in validations generator
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Emitters/ValidationsGenerator.Emitter.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/ValidationsGenerator.Parameters.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateParameters#ValidatableInfoResolver.g.verified.cs
Labels: area-minimal, feature-validation

#61964 [Blazor] Remove HotReload agent packages from dependencies of Components.WebAssembly
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.csproj
Labels: area-blazor

#61609 Blazor - rendering metrics and tracing
  src/Components/Components/src/ComponentsActivitySource.cs
  src/Components/Components/src/ComponentsMetrics.cs
  src/Components/Components/src/Microsoft.AspNetCore.Components.csproj
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/RegisterRenderingMetricsServiceCollectionExtensions.cs
  src/Components/Components/src/RenderHandle.cs
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Components/src/Rendering/ComponentState.cs
  src/Components/Components/src/Rendering/RenderingMetrics.cs
  src/Components/Components/src/Routing/Router.cs
  src/Components/Components/test/ComponentsActivitySourceTest.cs
  src/Components/Components/test/ComponentsMetricsTest.cs
  src/Components/Components/test/Rendering/RenderingMetricsTest.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsServiceCollectionExtensions.cs
  src/Components/Server/src/Circuits/CircuitFactory.cs
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/Server/src/Circuits/CircuitMetrics.cs
  src/Components/Server/src/Circuits/RemoteRenderer.cs
  src/Components/Server/src/ComponentHub.cs
  src/Components/Server/src/DependencyInjection/ComponentServiceCollectionExtensions.cs
  src/Components/Server/test/Circuits/CircuitHostTest.cs
  src/Components/Server/test/Circuits/CircuitIdFactoryTest.cs
  src/Components/Server/test/Circuits/CircuitMetricsTest.cs
  src/Components/Server/test/Circuits/TestCircuitHost.cs
  src/Components/Web/src/HtmlRendering/StaticHtmlRenderer.cs
  src/Shared/Metrics/MetricsConstants.cs
Labels: area-blazor

#61748 Update `ResourceCollectionProvider` to take advantage of Declarative persistent component state
  src/Components/Components/src/PersistentState/PersistentServicesRegistry.cs
  src/Components/Endpoints/src/DependencyInjection/RazorComponentsServiceCollectionExtensions.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.cs
  src/Components/Endpoints/test/RazorComponentsServiceCollectionExtensionsTest.cs
  src/Components/Shared/src/ResourceCollectionProvider.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
Labels: area-blazor

#61894 [IIS] Manually parse exe bitness
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/HostFxrResolver.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/HostFxrResolver.h
  src/Servers/IIS/build/Build.Lib.Settings
Labels: feature-iis, area-networking

#61633 Follow-up: Improve stopping renderer, fix identity template
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Components/test/NavigationManagerTest.cs
  src/Components/Endpoints/src/DependencyInjection/HttpNavigationManager.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.EventDispatch.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.cs
  src/Components/Endpoints/test/EndpointHtmlRendererTest.cs
  src/Components/Server/src/Circuits/RemoteNavigationManager.cs
  src/Components/test/E2ETest/ServerExecutionTests/PrerenderingTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/RenderingTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Components/InteractiveStreamingRenderingComponent.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Rendering/AsyncComponent.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Rendering/StoppingRenderer.razor
  src/Components/test/testassets/Components.TestServer/RenderModeHelper.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/IdentityRedirectManager.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/IdentityUserAccessor.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/ConfirmEmail.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/ConfirmEmailChange.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/ExternalLogin.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/ForgotPassword.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/Manage/ChangePassword.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/Manage/DeletePersonalData.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/Manage/Disable2fa.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/Manage/Email.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/Manage/EnableAuthenticator.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/Manage/ExternalLogins.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/Manage/GenerateRecoveryCodes.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/Manage/Index.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/Manage/PersonalData.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/Manage/ResetAuthenticator.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/Manage/SetPassword.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/Manage/TwoFactorAuthentication.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/RegisterConfirmation.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Account/Pages/ResetPassword.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Program.cs
  src/ProjectTemplates/test/Templates.Tests/template-baselines.json
Labels: area-blazor, feature-prerendering, feature-blazor-navigation

#62005 Create copilot-instructions.md
  .github/copilot-instructions.md
Labels: area-infrastructure

#62028 Create copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Labels: needs-area-label

#62032 Add skip paths for components-e2e
  .azure/pipelines/components-e2e-tests.yml
Labels: area-infrastructure

#62040 Update branding to preview6
  .github/policies/resourceManagement.yml
  eng/Versions.props
Labels: area-infrastructure

#62016 Improve renderer unit test
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.cs
  src/Components/Endpoints/test/EndpointHtmlRendererTest.cs
  src/Components/Endpoints/test/TestComponents/StoppingRendererComponent.razor
  src/Components/Server/src/Circuits/RemoteNavigationManager.cs
Labels: area-blazor

#62046 Update copilot-instructions.md
  .github/copilot-instructions.md
Labels: area-infrastructure

#62015 eng/build.sh: support --warnaserror flag.
  eng/build.sh
Labels: area-infrastructure, community-contribution

#62069 [OpenAPI] Only enable XML source gen for C#
  src/OpenApi/gen/XmlCommentGenerator.cs
Labels: community-contribution, feature-openapi, area-minimal

#61069 Handle langword for see elements
  src/OpenApi/gen/XmlComments/XmlComment.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/CompletenessTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/CompletenessTests.SupportsAllXmlTagsOnSchemas#OpenApiXmlCommentSupport.generated.verified.cs
Labels: community-contribution, feature-openapi, area-minimal

#62086 Fix UploadPathSegment for productVersion.txt
  eng/Publishing.props
Labels: area-infrastructure

#62073 Update .NET SDK daily builds table link
  docs/DailyBuilds.md
Labels: area-infrastructure, community-contribution

#62051 Fix OpenApiJsonSchema array parsing
  src/OpenApi/src/Schemas/OpenApiJsonSchema.Helpers.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiSchemaService/OpenApiSchemaService.ParameterSchemas.cs
Labels: area-mvc, feature-openapi

#62129 Update copilot-instructions.md
  .github/copilot-instructions.md
Labels: area-infrastructure

#62124 Get native .pdb into Shared Framework symbol package
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.Composite.sfxproj
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.sfxproj
Labels: area-infrastructure

#62147 Fix logic for .msi version in Hosting Bundle
  src/Installers/Windows/WindowsHostingBundle/WindowsHostingBundle.wixproj
Labels: area-infrastructure

#62066 Enhance validation error handling in ValidationEndpointFilterFactory using IProblemDetailsService
  src/Http/Http.Extensions/test/ValidationFilterEndpointFactoryTests.cs
  src/Http/Routing/src/ValidationEndpointFilterFactory.cs
Labels: community-contribution, area-minimal, feature-validation

#62164 Fixes #62163: Fix incorrect summary for CreateViewComponent.
  src/Mvc/Mvc.ViewFeatures/src/ViewComponents/IViewComponentFactory.cs
Labels: area-blazor, community-contribution
