Repository dotnet/aspnetcore, pull requests merged in 2025-09, with the labels that each got.

#63523 Re-enable template local validation scripts on CI
  .azure/pipelines/ci-public.yml
Labels: area-blazor, tell-mode, feature-templates

#63249 [9.0] Make duplicate deb/rpm packages so we can sign them with the new PMC key
  src/Installers/Debian/Directory.Build.targets
  src/Installers/Debian/Runtime/Debian.Runtime.debproj
  src/Installers/Debian/TargetingPack/Debian.TargetingPack.debproj
  src/Installers/Rpm/Directory.Build.props
  src/Installers/Rpm/Directory.Build.targets
  src/Installers/Rpm/Runtime/Rpm.Runtime.rpmproj
  src/Installers/Rpm/TargetingPack/Rpm.TargetingPack.rpmproj
Labels: Servicing-approved, tell-mode

#63530 Fix unofficial build
  .azure/pipelines/ci-unofficial.yml
  src/SiteExtensions/Directory.Build.props
Labels: area-infrastructure

#63533 [release/9.0] Quarantine ResponseBody_WriteContentLength_PassedThrough
  src/Servers/HttpSys/test/FunctionalTests/ResponseBodyTests.cs
Labels: tell-mode

#63535 Fix unofficial build, again
  Directory.Build.props
  src/SiteExtensions/Directory.Build.props
Labels: area-infrastructure

#63544 [Blazor] Disable preloading for enhanced navigation
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Streaming.cs
  src/Components/Endpoints/src/Rendering/SSRRenderModeBoundary.cs
  src/Components/Web.JS/src/Rendering/DomMerging/DomSync.ts
Labels: area-blazor

#63555 Skip `CanLaunchPhotinoWebViewAndClickButton` broken test.
  src/Components/WebView/test/E2ETest/WebViewManagerE2ETests.cs
Labels: test-failure, area-blazor

#63599 Remove duplicate property definitions in Versions.props
  eng/Versions.props
Labels: area-infrastructure

#63616 Fix two loads in QuickGrid with Virtualize
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/QuickGrid.razor.cs
  src/Components/test/E2ETest/Tests/QuickGridTest.cs
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/QuickGridTest/QuickGridVirtualizeComponent.razor
Labels: area-blazor

#63504 Add support for FileContentResult in OpenAPI schemas
  src/OpenApi/src/Services/Schemas/OpenApiSchemaService.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Extensions/JsonTypeInfoExtensionsTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiSchemaService/OpenApiSchemaService.ResponseSchemas.cs
Labels: area-mvc, community-contribution, feature-openapi

#63496 Support file-based apps in user-secrets
  src/Tools/Shared/SecretsHelpers/MsBuildProjectFinder.cs
  src/Tools/Shared/SecretsHelpers/ProjectIdResolver.cs
  src/Tools/Shared/SecretsHelpers/SecretsHelpersResources.resx
  src/Tools/dotnet-user-secrets/src/CommandLineOptions.cs
  src/Tools/dotnet-user-secrets/src/Internal/InitCommand.cs
  src/Tools/dotnet-user-secrets/src/Program.cs
  src/Tools/dotnet-user-secrets/src/Resources.resx
  src/Tools/dotnet-user-secrets/test/SecretManagerTests.cs
  src/Tools/dotnet-user-secrets/test/UserSecretsTestFixture.cs
Labels: Servicing-approved, area-commandlinetools

#63699 Update `Microsoft.Identity.Web` dependencies
  eng/Versions.props
Labels: area-infrastructure

#63685 Support querying `TlsCipherSuite` on Http.Sys / IIS
  src/Servers/HttpSys/samples/TlsFeaturesObserve/Program.cs
  src/Servers/HttpSys/src/LoggerEventIds.cs
  src/Servers/HttpSys/src/NativeInterop/HttpApi.cs
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.FeatureCollection.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.Log.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.cs
  src/Servers/IIS/IIS/samples/NativeIISSample/Startup.cs
  src/Servers/IIS/IIS/src/Core/IISHttpContext.cs
  src/Shared/HttpSys/NativeInterop/SecPkgContext_CipherInfo.cs
Labels: feature-httpsys, area-networking

#63706 backport(8.0): Fix runtime architecture detection logic in ANCM
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/Environment.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/Environment.h
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/HostFxrResolver.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/HostFxrResolver.h
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/ProcessorArchitecture.h
Labels: Servicing-approved

#63707 backport(9.0): Fix runtime architecture detection logic in ANCM.
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/Environment.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/Environment.h
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/HostFxrResolver.cpp
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/HostFxrResolver.h
  src/Servers/IIS/AspNetCoreModuleV2/CommonLib/ProcessorArchitecture.h
Labels: Servicing-approved

#63507 Changed initial culture detection
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyCultureProvider.cs
  src/Components/WebAssembly/WebAssembly/src/Services/IInternalJSImportMethods.cs
  src/Components/WebAssembly/WebAssembly/src/Services/InternalJSImportMethods.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyCultureProviderTest.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyHostTest.cs
  src/Components/WebAssembly/WebAssembly/test/TestInternalJSImportMethods.cs
Labels: area-blazor

#63724 Don't build the composite runtime pack on Windows when we don't ship it
  eng/Build.props
Labels: area-infrastructure, pending-ci-rerun
