Repository dotnet/aspnetcore, pull requests merged in 2025-02, with the labels that each got.

#60120 Quarantine Http2ConnectionTests.IgnoreNewStreamsDuringClosedConnection test.
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs
Labels: community-contribution, area-networking

#60183 Fix SkipOnHelix skipping tests that had `';'` at the end of the Queues list
  src/Testing/src/xunit/SkipOnHelixAttribute.cs
Labels: area-mvc

#60096 Fixed the issue. Will be adding the tests as a separate commit.
  src/Mvc/Mvc.Core/src/ApplicationModels/DefaultApplicationModelProvider.cs
  src/Mvc/Mvc.Core/src/Microsoft.AspNetCore.Mvc.Core.WarningSuppressions.xml
  src/Mvc/Mvc.Core/src/Routing/ActionEndpointFactory.cs
  src/Mvc/Mvc.Core/src/Routing/InertEndpointBuilder.cs
  src/Mvc/Mvc.Core/test/ApplicationModels/DefaultApplicationModelProviderTest.cs
  src/Mvc/Mvc.Core/test/Microsoft.AspNetCore.Mvc.Core.Test.csproj
  src/Mvc/test/Mvc.FunctionalTests/ApiExplorerTest.cs
  src/Mvc/test/WebSites/ApiExplorerWebSite/ApiExplorerWebSite.csproj
  src/Mvc/test/WebSites/ApiExplorerWebSite/Controllers/ApiExplorerWithTypedResultController.cs
  src/OpenApi/sample/Controllers/TestController.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=controllers.verified.txt
  src/Shared/EndpointMetadataPopulator.cs
Labels: area-mvc

#60129 Readd DiagnosticSource to KestrelServerImpl
  src/Servers/Kestrel/Core/src/Internal/KestrelServerImpl.cs
  src/Servers/Kestrel/Core/src/KestrelServer.cs
  src/Servers/Kestrel/Core/test/KestrelServerTests.cs
  src/Servers/Kestrel/Kestrel/test/WebHostBuilderKestrelExtensionsTests.cs
Labels: feature-kestrel, area-networking

#60197 Update branding to 8.0.14
  eng/Versions.props
Labels: area-infrastructure

#60198 Update branding to 9.0.3
  eng/Versions.props
Labels: area-infrastructure

#60029 [release/9.0] Fix branding
  eng/Versions.props
Labels: area-infrastructure, tell-mode, pending-ci-rerun

#60220 Update servicing milestones
  .github/policies/resourceManagement.yml
Labels: area-infrastructure

#60190 `NavigateTo` does not scroll to the top in internal navigation to same url
  src/Components/Web.JS/src/Services/NavigationManager.ts
  src/Components/test/E2ETest/Tests/RoutingTest.cs
  src/Components/test/testassets/BasicTestApp/RouterTest/ProgrammaticNavigationCases.razor
Labels: area-blazor

#60227 Revert "Revert "Use the latest available jdk""
  eng/scripts/InstallJdk.ps1
  global.json
  src/SignalR/clients/java/signalr/build.gradle
  src/SignalR/clients/java/signalr/test/signalr.client.java.Tests.javaproj
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/GsonHubProtocolTest.java
Labels: area-signalr

#60142 Quarantine Microsoft.AspNetCore.Server.HttpSys.FunctionalTests.DelegateTests.DelegateAfterReceiverRestart
  src/Servers/HttpSys/test/FunctionalTests/DelegateTests.cs
Labels: area-networking

#60030 Hot Reload agent improvements
  src/Components/Web.JS/src/Boot.WebAssembly.Common.ts
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/WebAssembly/WebAssembly/src/HotReload/AgentMessageSeverity.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/AgentReporter.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/HotReloadAgent.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/MetadataUpdateHandlerInvoker.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/ResponseLoggingLevel.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/UpdateDelta.cs
  src/Components/WebAssembly/WebAssembly/src/HotReload/WebAssemblyHotReload.cs
  src/Components/WebAssembly/WebAssembly/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/WebAssembly/test/WebAssemblyHotReloadTest.cs
Labels: area-blazor

#60233 [release/8.0] Use the latest available JDK
  eng/scripts/InstallJdk.ps1
  global.json
  src/Servers/HttpSys/test/FunctionalTests/DelegateTests.cs
  src/SignalR/clients/java/signalr/build.gradle
  src/SignalR/clients/java/signalr/test/signalr.client.java.Tests.javaproj
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/GsonHubProtocolTest.java
Labels: area-infrastructure

#60240 Fix skip condition for java tests
  src/SignalR/clients/java/signalr/test/signalr.client.java.Tests.javaproj
Labels: area-signalr

#60231 [release/8.0] Update list of helix queues to skip
  eng/targets/Helix.targets
Labels: area-infrastructure, tell-mode

#60246 Quarantining InteropTests.InteropTests.SpecialStatusMessage
  src/Grpc/Interop/test/InteropTests/InteropTests.cs
Labels: area-grpc

#60256 [release/10.0-preview1] Remove signing opt-out for MSIs
  eng/Signing.props
Labels: area-infrastructure

#60268 Only build MSIs that aren't also built in BuildPass2 during BuildPass1
  eng/Build.props
Labels: area-infrastructure

#59903 Ignore query/fragment in `ShouldMatch` of `NavLink` by default but allow overriding `ShouldMatch`
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/Web/src/Routing/NavLink.cs
  src/Components/test/E2ETest/Tests/RoutingTest.cs
  src/Components/test/testassets/BasicTestApp/RouterTest/LayoutOverridden.razor
  src/Components/test/testassets/BasicTestApp/RouterTest/LinksOverridden.razor
  src/Components/test/testassets/BasicTestApp/RouterTest/NavLinkNotIgnoreQueryOrFragmentString.cs
  src/Components/test/testassets/BasicTestApp/RouterTestLayoutNavLinksOverridden.razor
Labels: area-blazor

#60263 [release/9.0] Update remnants of azureedge.net
  .azure/pipelines/ci.yml
  eng/common/core-templates/steps/source-build.yml
  eng/helix/helix.proj
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Installers/Windows/WindowsHostingBundle/Product.targets
Labels: area-infrastructure

#60264 [release/8.0] Update remnants of azureedge.net
  .azure/pipelines/ci.yml
  eng/common/templates-official/steps/source-build.yml
  eng/common/templates/steps/source-build.yml
  eng/helix/helix.proj
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Installers/Windows/WindowsHostingBundle/Product.targets
Labels: area-infrastructure, tell-mode

#60297 React to NuGet package pruning warnings
  src/Components/Server/src/Microsoft.AspNetCore.Components.Server.csproj
  src/Tools/dotnet-user-jwts/src/dotnet-user-jwts.csproj
  src/Tools/dotnet-user-secrets/src/dotnet-user-secrets.csproj
Labels: area-commandlinetools

#60260 Centralize on one container
  .azure/pipelines/ci-public.yml
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#60298 [release/9.0] Centralize on one docker container
  .azure/pipelines/ci-public.yml
  .azure/pipelines/ci.yml
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-infrastructure, tell-mode

#60299 [release/8.0] Centralize on one docker container
  .azure/pipelines/ci-public.yml
  .azure/pipelines/ci.yml
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
Labels: area-infrastructure, tell-mode

#60278 Support multi-version snapshot tests for OpenAPI
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/OpenApiDocumentIntegrationTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_0/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=controllers.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_0/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=forms.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_0/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=responses.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_0/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=schemas-by-ref.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_0/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=v1.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_0/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=v2.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_1/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=controllers.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_1/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=forms.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_1/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=responses.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_1/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=schemas-by-ref.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_1/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=v1.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_1/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=v2.verified.txt
Labels: area-infrastructure

#60147 Fix condition for BuildAfterTargetingPack
  src/BuildAfterTargetingPack/BuildAfterTargetingPack.csproj
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.JsonTranscoding/Microsoft.AspNetCore.Grpc.JsonTranscoding.csproj
  src/Grpc/JsonTranscoding/src/Microsoft.AspNetCore.Grpc.Swagger/Microsoft.AspNetCore.Grpc.Swagger.csproj
Labels: area-infrastructure

#60265 Update .NET build URLs
  .azure/pipelines/ci.yml
  Directory.Build.props
  eng/common/core-templates/steps/source-build.yml
  eng/helix/helix.proj
Labels: area-infrastructure

#60321 Revert "Update .NET build URLs"
  .azure/pipelines/ci.yml
  Directory.Build.props
  eng/common/core-templates/steps/source-build.yml
  eng/helix/helix.proj
Labels: area-infrastructure

#60323 Revert "[release/9.0] Update remnants of azureedge.net"
  .azure/pipelines/ci.yml
  eng/helix/helix.proj
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Installers/Windows/WindowsHostingBundle/Product.targets
Labels: area-infrastructure

#60324 Revert "[release/8.0] Update remnants of azureedge.net"
  .azure/pipelines/ci.yml
  eng/common/templates-official/steps/source-build.yml
  eng/helix/helix.proj
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj
  src/Installers/Windows/WindowsHostingBundle/Product.targets
Labels: area-infrastructure

#60316 Merging internal commits for release/8.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure

#60317 Merging internal commits for release/9.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure

#52499 Treating empty string in form post as null for nullable value types
  src/Components/Endpoints/src/FormMapping/Converters/NullableConverter.cs
  src/Components/Endpoints/test/FormMapping/Converters/NullableConverterTests.cs
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/FormWithNullableDateTime.razor
Labels: area-blazor, community-contribution

#60354 Revert "Revert "Update .NET build URLs""
  .azure/pipelines/ci.yml
  Directory.Build.props
  eng/common/core-templates/steps/source-build.yml
  eng/helix/helix.proj
Labels: area-infrastructure

#60358 Quarantine InteropTests.InteropTests.UnimplementedMethod
  src/Grpc/Interop/test/InteropTests/InteropTests.cs
Labels: area-grpc

#60340 Ensure FirstName and LastName Follow Pascal Case in QuickGrid Component
  src/Components/test/testassets/BasicTestApp/QuickGridTest/SampleQuickGridComponent.razor
Labels: area-blazor, community-contribution

#60336 Disable R2R for riscv64
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.Composite.sfxproj
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.sfxproj
Labels: area-infrastructure, community-contribution

#60368 [Blazor] Fix asset definition for blazor.modules.json in Components.WebView
  src/Components/WebView/WebView/src/build/Microsoft.AspNetCore.Components.WebView.props
Labels: area-blazor

#60372 Quarantine Microsoft.AspNetCore.Server.Kestrel.Core.Tests.HeartbeatTe…
  src/Servers/Kestrel/Core/test/HeartbeatTests.cs
Labels: area-networking

#59753 #59749 move TrimEnd after path normalization
  src/Tools/Extensions.ApiDescription.Server/src/build/Microsoft.Extensions.ApiDescription.Server.targets
Labels: area-commandlinetools, community-contribution, pending-ci-rerun

#54298 Match arguments and property names in UserLoginInfo
  src/Identity/Extensions.Core/src/PublicAPI.Unshipped.txt
  src/Identity/Extensions.Core/src/UserLoginInfo.cs
Labels: area-identity, pending-ci-rerun

#60226 fixed a typo for the `StopAsync` code docs
  src/DefaultBuilder/src/WebApplication.cs
Labels: community-contribution, area-networking

#60395 React to NuGet package pruning warnings
  eng/Dependencies.props
  eng/Versions.props
  src/Azure/AzureAppServices.HostingStartup/src/Microsoft.AspNetCore.AzureAppServices.HostingStartup.csproj
  src/Components/WebAssembly/DevServer/src/Microsoft.AspNetCore.Components.WebAssembly.DevServer.csproj
  src/Components/test/testassets/BasicTestApp/BasicTestApp.csproj
  src/Features/JsonPatch/src/Microsoft.AspNetCore.JsonPatch.csproj
  src/Logging.AzureAppServices/src/Microsoft.Extensions.Logging.AzureAppServices.csproj
  src/Servers/IIS/IIS/perf/Microbenchmarks/IIS.Microbenchmarks.csproj
  src/Servers/IIS/IIS/samples/NativeIISSample/NativeIISSample.csproj
  src/Servers/IIS/IIS/test/IIS.Tests/IIS.Tests.csproj
  src/Servers/IIS/IIS/test/testassets/InProcessNewShimWebSite/InProcessNewShimWebSite.csproj
  src/Servers/IIS/IIS/test/testassets/InProcessWebSite/InProcessWebSite.csproj
  src/Servers/IIS/IntegrationTesting.IIS/src/Microsoft.AspNetCore.Server.IntegrationTesting.IIS.csproj
  src/SignalR/clients/csharp/Client.Core/src/Microsoft.AspNetCore.SignalR.Client.Core.csproj
  src/Testing/src/Microsoft.AspNetCore.InternalTesting.csproj
  src/Tools/GetDocumentInsider/src/GetDocument.Insider.csproj
  src/Tools/Microsoft.dotnet-openapi/src/Microsoft.dotnet-openapi.csproj
  src/Tools/dotnet-sql-cache/src/dotnet-sql-cache.csproj
Labels: area-infrastructure

#60326 Populate XML doc comments into OpenAPI document
  AspNetCore.sln
  eng/Dependencies.props
  eng/Versions.props
  src/OpenApi/OpenApi.slnf
  src/OpenApi/build/Microsoft.AspNetCore.OpenApi.targets
  src/OpenApi/gen/Helpers/AddOpenApiInvocation.cs
  src/OpenApi/gen/Helpers/AddOpenApiInvocationComparer.cs
  src/OpenApi/gen/Helpers/AddOpenApiOverloadVariant.cs
  src/OpenApi/gen/Helpers/AssemblyTypeSymbolsVisitor.cs
  src/OpenApi/gen/Helpers/DocumentationCommentXmlNames.cs
  src/OpenApi/gen/Helpers/ISymbolExtensions.cs
  src/OpenApi/gen/Helpers/StringExtensions.cs
  src/OpenApi/gen/Microsoft.AspNetCore.OpenApi.SourceGenerators.csproj
  src/OpenApi/gen/XmlCommentGenerator.Emitter.cs
  src/OpenApi/gen/XmlCommentGenerator.Parser.cs
  src/OpenApi/gen/XmlCommentGenerator.cs
  src/OpenApi/gen/XmlComments/MemberKey.cs
  src/OpenApi/gen/XmlComments/XmlComment.InheritDoc.cs
  src/OpenApi/gen/XmlComments/XmlComment.cs
  src/OpenApi/gen/XmlComments/XmlParameterComment.cs
  src/OpenApi/gen/XmlComments/XmlResponseComment.cs
  src/OpenApi/sample/Controllers/XmlController.cs
  src/OpenApi/sample/Endpoints/MapFormEndpoints.cs
  src/OpenApi/sample/Endpoints/MapResponsesEndpoints.cs
  src/OpenApi/sample/Endpoints/MapSchemasEndoints.cs
  src/OpenApi/sample/Endpoints/MapVersionedEndpoints.cs
  src/OpenApi/sample/Endpoints/MapXmlEndpoints.cs
  src/OpenApi/sample/Program.cs
  src/OpenApi/sample/Sample.csproj
  src/OpenApi/src/Microsoft.AspNetCore.OpenApi.csproj
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Build.Tests/GenerateAdditionalXmlFilesForOpenApiTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Build.Tests/Microsoft.AspNetCore.OpenApi.Build.Tests.csproj
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/AddOpenApiTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/CompletenessTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests.csproj
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/ModuleInitializer.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/OperationTests.Controllers.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/OperationTests.MinimalApis.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/SchemaTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/SnapshotTestHelper.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/AddOpenApiTests.CanInterceptAddOpenApi#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/CompletenessTests.SupportsAllXmlTagsOnSchemas#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/OperationTests.SupportsXmlCommentsOnOperationsFromControllers#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/OperationTests.SupportsXmlCommentsOnOperationsFromMinimalApis#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/SchemaTests.SupportsXmlCommentsOnSchemas#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/OpenApiDocumentIntegrationTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_0/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=forms.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_0/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=responses.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_0/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=v1.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_0/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=xml.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_1/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=forms.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_1/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=responses.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_1/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=v1.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_1/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=xml.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Microsoft.AspNetCore.OpenApi.Tests.csproj
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Shared/SharedTypes.cs
Labels: area-mvc, feature-openapi, area-minimal

#60269 Upgrade to OpenAPI.NET v2.0.0-preview7
  eng/Versions.props
  src/OpenApi/gen/XmlCommentGenerator.Emitter.cs
  src/OpenApi/sample/Program.cs
  src/OpenApi/sample/Transformers/AddBearerSecuritySchemeTransformer.cs
  src/OpenApi/src/Extensions/JsonNodeSchemaExtensions.cs
  src/OpenApi/src/Extensions/OpenApiDocumentExtensions.cs
  src/OpenApi/src/Schemas/OpenApiJsonSchema.Helpers.cs
  src/OpenApi/src/Schemas/OpenApiSchemaKeywords.cs
  src/OpenApi/src/Services/OpenApiConstants.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/src/Services/OpenApiGenerator.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaService.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/AddOpenApiTests.CanInterceptAddOpenApi#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/CompletenessTests.SupportsAllXmlTagsOnSchemas#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/OperationTests.SupportsXmlCommentsOnOperationsFromControllers#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/OperationTests.SupportsXmlCommentsOnOperationsFromMinimalApis#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/SchemaTests.SupportsXmlCommentsOnSchemas#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Extensions/OpenApiRouteHandlerBuilderExtensionTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/CreateSchemaReferenceIdTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.Operations.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.RequestBody.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.Responses.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentServiceTestsBase.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiSchemaService/OpenApiSchemaService.ParameterSchemas.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiSchemaService/OpenApiSchemaService.PolymorphicSchemas.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiSchemaService/OpenApiSchemaService.RequestBodySchemas.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiSchemaService/OpenApiSchemaService.ResponseSchemas.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/Implementations/OpenApiSchemaReferenceTransformerTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/SchemaTransformerTests.cs
Labels: area-mvc, area-minimal

#60405 Update branding to preview3
  eng/Versions.props
Labels: area-infrastructure

#60402 Add test coverage for collections of self-referential schemas
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/Implementations/OpenApiSchemaReferenceTransformerTests.cs
Labels: area-infrastructure

#60376 Add reconnect UI component to the Blazor template
  src/Components/Web.JS/src/Platform/Circuits/ReconnectStateChangedEvent.ts
  src/Components/Web.JS/src/Platform/Circuits/UserSpecifiedDisplay.ts
  src/Components/test/E2ETest/ServerExecutionTests/ServerReconnectionCustomUITest.cs
  src/Components/test/testassets/BasicTestApp/Reconnection/ReconnectionComponent.razor
  src/Components/test/testassets/Components.TestServer/Pages/_ServerHost.cshtml
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Layout/MainLayout.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Layout/ReconnectModal.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Layout/ReconnectModal.razor.css
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Layout/ReconnectModal.razor.js
  src/ProjectTemplates/test/Templates.Tests/template-baselines.json
Labels: area-blazor

#60470 Revert "Update branding to preview3"
  eng/Versions.props
Labels: area-infrastructure

#60471 Increase Grpc InteropTests timeout
  src/Grpc/Interop/test/InteropTests/InteropTests.cs
Labels: area-grpc

#60457 Fix installer package versioning
  Directory.Build.props
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.sfxproj
  src/Tools/Directory.Build.targets
Labels: area-infrastructure

#60473 Quarantine SuppliesCancellationTokenThatSignalsWhenRevalidationLoopIs…
  src/Components/Server/test/Circuits/RevalidatingServerAuthenticationStateProviderTest.cs
Labels: area-blazor

#60483 Fix flaky Http2 Trailers tests
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2StreamTests.cs
Labels: area-networking

#60149 update message for "dotnet dev-cert https --trust"
  src/Tools/dotnet-dev-certs/src/Program.cs
Labels: area-commandlinetools

#60485 Add set up for validations generator
  AspNetCore.sln
  eng/testing/linker/SupportFiles/Directory.Build.targets
  src/Framework/App.Ref/src/Microsoft.AspNetCore.App.Ref.sfxproj
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/DiagnosticDescriptors.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/GeneratorSteps.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/Microsoft.AspNetCore.Http.RequestDelegateGenerator.csproj
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/RequestDelegateGenerator.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/RequestDelegateGeneratorSources.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/RequestDelegateGeneratorSuppressor.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/Resources.resx
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/StaticRouteHandlerModel/Emitters/DiagnosticEmitter.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/StaticRouteHandlerModel/Emitters/EmitterConstants.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/StaticRouteHandlerModel/Emitters/EmitterContext.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/StaticRouteHandlerModel/Emitters/EmitterExtensions.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/StaticRouteHandlerModel/Emitters/EndpointEmitter.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/StaticRouteHandlerModel/Emitters/EndpointJsonPreparationEmitter.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/StaticRouteHandlerModel/Emitters/EndpointParameterEmitter.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/StaticRouteHandlerModel/Endpoint.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/StaticRouteHandlerModel/EndpointDelegateComparer.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/StaticRouteHandlerModel/EndpointHttpMethodComparer.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/StaticRouteHandlerModel/EndpointParameter.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/StaticRouteHandlerModel/EndpointParameterSource.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/StaticRouteHandlerModel/EndpointResponse.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/StaticRouteHandlerModel/InvocationOperationExtensions.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/StaticRouteHandlerModel/Model/ConstructorParameter.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/StaticRouteHandlerModel/Model/EndpointParameterExtensions.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/StaticRouteHandlerModel/Model/ParameterLookupKey.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.RequestDelegateGenerator/StaticRouteHandlerModel/StaticRouteHandlerModel.Emitter.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Microsoft.AspNetCore.Http.ValidationsGenerator.csproj
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/ValidationsGenerator.cs
  src/Http/Http.Extensions/test/Microsoft.AspNetCore.Http.Extensions.Tests.csproj
  src/Http/Http.Extensions/test/ValidationsGenerator/ValidationsGenerator.Parameters.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/ValidationsGeneratorTestBase.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateParameters.verified.txt
  src/Http/Http/perf/Microbenchmarks/Microsoft.AspNetCore.Http.Microbenchmarks.csproj
  src/Http/HttpAbstractions.slnf
  src/Http/samples/MinimalSample/MinimalSample.csproj
  src/Identity/Core/src/Microsoft.AspNetCore.Identity.csproj
  src/Identity/Identity.slnf
  src/Mvc/Mvc.slnf
  src/OpenApi/sample/Sample.csproj
  src/OpenApi/src/Microsoft.AspNetCore.OpenApi.csproj
Labels: area-minimal

#60505 Fix ItemsToSign
  eng/Signing.props
Labels: area-infrastructure

#59483 [Reopen] Fix ANCM installer on ARM64
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMIISExpressV2/AncmIISExpressV2.wixproj
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMIISExpressV2/ancm_iis_expressv2.wxs
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMV2/AncmV2.wixproj
  src/Installers/Windows/AspNetCoreModule-Setup/ANCMV2/aspnetcoremodulev2.wxs
  src/Installers/Windows/AspNetCoreModule-Setup/Forwarders/all.cmd
  src/Installers/Windows/AspNetCoreModule-Setup/Forwarders/aspnetcorev2_arm64.def
  src/Installers/Windows/AspNetCoreModule-Setup/Forwarders/aspnetcorev2_outofprocess_arm64.def
  src/Installers/Windows/AspNetCoreModule-Setup/Forwarders/aspnetcorev2_outofprocess_x64.def
  src/Installers/Windows/AspNetCoreModule-Setup/Forwarders/aspnetcorev2_x64.def
  src/Installers/Windows/AspNetCoreModule-Setup/Forwarders/build.cmd
  src/Installers/Windows/AspNetCoreModule-Setup/Forwarders/build.proj
  src/Installers/Windows/AspNetCoreModule-Setup/Forwarders/empty.cpp
Labels: area-infrastructure, community-contribution, pending-ci-rerun

#60399 Avoid IISHttpServer close race on construction
  src/Servers/IIS/IIS/src/Core/IISHttpServer.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/InProcess/AppOfflineIISExpressTests.cs
Labels: area-networking

#60508 Update branding to preview3
  eng/Versions.props
Labels: area-infrastructure

#60521 Update milestones for Preview2/3
  .github/policies/resourceManagement.yml
Labels: area-infrastructure

#60519 Revert "Revert "Revert "Update .NET build URLs"""
  .azure/pipelines/ci.yml
  Directory.Build.props
  eng/common/core-templates/steps/source-build.yml
  eng/helix/helix.proj
Labels: area-infrastructure

#60498 Limit types that get converted to null for empty/null input in NullableConverter
  src/Components/Endpoints/src/FormMapping/Converters/NullableConverter.cs
  src/Components/Endpoints/test/FormMapping/Converters/NullableConverterTests.cs
Labels: area-blazor, community-contribution

#60359 Avoid logging bad requests as application errors if the connection was aborted
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/test/FunctionalTests/RequestTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/ChunkedRequestTests.cs
Labels: area-networking

#60529 Issue #60416 - Correction of BufferedReadStream 's Position
  src/Http/WebUtilities/src/BufferedReadStream.cs
  src/Http/WebUtilities/test/MultipartReaderTests.cs
Labels: community-contribution, area-networking

#60222 Simplify PublicTopLevelProgramGenerator
  src/Framework/AspNetCoreAnalyzers/src/SourceGenerators/PublicTopLevelProgramGenerator.cs
Labels: area-infrastructure, community-contribution

#60565 Enable arm64 DEBs
  src/Framework/App.Ref/src/Microsoft.AspNetCore.App.Ref.sfxproj
  src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.sfxproj
Labels: area-infrastructure

#60544 Fix: Mark catch-all route parameters as optional (#60392)
  src/Mvc/Mvc.ApiExplorer/src/DefaultApiDescriptionProvider.cs
  src/Mvc/Mvc.ApiExplorer/test/DefaultApiDescriptionProviderTest.cs
Labels: area-mvc, community-contribution

#60547 Add module initializer for Verify.SourceGenerators
  src/Http/Http.Extensions/test/ModuleInitializer.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateParameters.verified.txt
Labels: area-infrastructure

#60610 Update branding to 2.3.1
  build/repo.targets
  eng/Baseline.Designer.props
  eng/Baseline.xml
  version.props
Labels: area-infrastructure

#60566 Add support for AddOpenApiOperationTransformer API
  src/OpenApi/src/Extensions/OpenApiEndpointConventionBuilderExtensions.cs
  src/OpenApi/src/PublicAPI.Unshipped.txt
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Build.Tests/GenerateAdditionalXmlFilesForOpenApiTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentServiceTestsBase.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/DocumentTransformerTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/OperationTransformerTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/SchemaTransformerTests.cs
Labels: feature-openapi, area-minimal

#59387 Upgrade Facebook Graph API version to v22.0
  src/Security/Authentication/Facebook/src/FacebookDefaults.cs
  src/Security/Authentication/test/FacebookTests.cs
Labels: area-auth, community-contribution

#60620 Update branding to servicing
  eng/Baseline.Designer.props
  version.props
Labels: area-infrastructure

#60607 Fix incorrect path to included script file in Blazor project template
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Layout/ReconnectModal.razor
Labels: area-mvc

#60296 Scroll in enhanced navigation behaves same as in client side routing
  src/Components/Web.JS/src/Rendering/Renderer.ts
  src/Components/Web.JS/src/Services/NavigationEnhancement.ts
  src/Components/test/E2ETest/Infrastructure/WebDriverExtensions/WebDriverExtensions.cs
  src/Components/test/E2ETest/ServerRenderingTests/EnhancedNavigationTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/EnhancedNavigationTestUtil.cs
  src/Components/test/E2ETest/ServerRenderingTests/FocusOnNavigateTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/EnhancedNav/ScrollTestLandingPage.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/EnhancedNav/ScrollTestLandingPageNoStreaming.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/EnhancedNav/ScrollTestNextPage.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/EnhancedNav/ScrollTestNextPageNoStreaming.razor
  src/Shared/E2ETesting/WaitAssert.cs
Labels: area-blazor, feature-blazor-enhanced-navigation

#60617 Support resolving OpenAPI server URLs from HttpRequest
  src/OpenApi/src/Extensions/OpenApiEndpointRouteBuilderExtensions.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.Servers.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentServiceTestsBase.cs
Labels: area-mvc, feature-openapi, area-minimal

#60658 Only build BuildAfterTargeting pack on win-x64
  src/BuildAfterTargetingPack/BuildAfterTargetingPack.csproj
Labels: area-infrastructure
