Repository dotnet/aspnetcore, pull requests merged in 2025-04, with the labels that each got.

#61233 Fix missing VMR assets in SiteExtensions packages
  src/SiteExtensions/LoggingAggregate/src/Microsoft.AspNetCore.AzureAppServices.SiteExtension/Microsoft.AspNetCore.AzureAppServices.SiteExtension.csproj
  src/SiteExtensions/Runtime/Microsoft.AspNetCore.Runtime.SiteExtension.pkgproj
Labels: area-infrastructure

#61188 Set PackageProjectUrl
  Directory.Build.props
Labels: area-infrastructure

#61271 Make PublishAllBuildsAssetsInThisJob available in Signing.props
  eng/Common.props
  eng/Publishing.props
Labels: area-infrastructure

#61285 Update servicing milestones for May
  .github/policies/resourceManagement.yml
Labels: area-infrastructure

#61284 Update branding to 9.0.5
  eng/Versions.props
Labels: area-infrastructure

#61283 Update branding to 8.0.16
  eng/Versions.props
Labels: area-infrastructure

#61217 Remove enableRichCodeNavigation from default-build.yml
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#61216 [release/8.0] Upgrade to Ubuntu 22
  .azure/pipelines/jobs/default-build.yml
  eng/scripts/install-nginx-linux.sh
Labels: area-infrastructure, tell-mode

#61191 Quarantine `EnhancedNavigationScrollBehavesSameAsBrowserOnBackwardsForwardsAction`
  src/Components/test/E2ETest/ServerRenderingTests/EnhancedNavigationTest.cs
Labels: area-blazor

#61166 [Blazor] Generate Link headers based on StaticWebAssets manifest properties
  src/Components/Endpoints/src/Builder/ResourceCollectionConvention.cs
  src/Components/Endpoints/src/Builder/ResourcePreloadCollection.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Streaming.cs
  src/Components/Endpoints/test/EndpointHtmlRendererTest.cs
  src/Shared/Components/ResourceCollectionResolver.cs
Labels: area-blazor

#61282 Include all required shims when building in VMR
  eng/tools/GenerateFiles/Directory.Build.targets.in
  src/Tools/Directory.Build.targets
Labels: area-infrastructure

#61309 update community-triager list
  docs/area-owners.md
Labels: area-infrastructure

#61326 Update maintenance-packages versions
  eng/Versions.props
Labels: area-infrastructure

#61273 Migrating to the new solution file format - .slnx
  .devcontainer/devcontainer.json
  AspNetCore.sln
  AspNetCore.slnx
  eng/scripts/CodeCheck.ps1
  eng/tools/tools.slnf
  src/Analyzers/Analyzers.slnf
  src/Antiforgery/Antiforgery.slnf
  src/Azure/Azure.slnf
  src/Caching/Caching.slnf
  src/Components/Components.slnf
  src/Components/ComponentsNoDeps.slnf
  src/DataProtection/DataProtection.slnf
  src/DefaultBuilder/DefaultBuilder.slnf
  src/Features/JsonPatch/JsonPatch.slnf
  src/FileProviders/FileProviders.slnf
  src/Framework/Framework.slnf
  src/Grpc/Grpc.slnf
  src/HealthChecks/HealthChecks.slnf
  src/Hosting/Hosting.slnf
  src/Html.Abstractions/Html.Abstractions.slnf
  src/Http/HttpAbstractions.slnf
  src/HttpClientFactory/HttpClientFactory.slnf
  src/Identity/Identity.slnf
  src/Identity/IdentityNoDeps.slnf
  src/Installers/Windows/AspNetCoreModule-Setup/ANCM-Setup.slnf
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Common/Common.slnf
  src/Installers/Windows/AspNetCoreModule-Setup/IIS-Setup/IIS-Setup.slnf
  src/Installers/Windows/Installers.slnf
  src/JSInterop/JSInterop.slnf
  src/Localization/Localization.slnf
  src/Logging.AzureAppServices/Logging.AzureAppServices.slnf
  src/Middleware/CORS/CORS.slnf
  src/Middleware/ConcurrencyLimiter/ConcurrencyLimiter.slnf
  src/Middleware/Diagnostics/Diagnostics.slnf
  src/Middleware/Localization/Localization.slnf
  src/Middleware/Middleware.slnf
  src/Middleware/OutputCaching/OutputCaching.slnf
  src/Middleware/Session/Session.slnf
  src/Middleware/StaticFiles/StaticFiles.slnf
  src/Middleware/WebSockets/WebSockets.slnf
  src/Mvc/Mvc.slnf
  src/Mvc/MvcNoDeps.slnf
  src/OpenApi/OpenApi.slnf
  src/ProjectTemplates/ProjectTemplates.slnf
  src/ProjectTemplates/ProjectTemplatesNoDeps.slnf
  src/Razor/Razor.slnf
  src/Security/AuthSamples.slnf
  src/Security/Security.slnf
  src/Servers/HttpSys/HttpSysServer.slnf
  src/Servers/IIS/IISIntegration.slnf
  src/Servers/Kestrel/Kestrel.slnf
  src/Servers/Kestrel/stress/HttpStress.slnf
  src/Servers/test/FunctionalTests/FunctionalTests.slnf
  src/Shared/Shared.slnf
  src/SignalR/SignalR.slnf
  src/Testing/Testing.slnf
  src/Testing/src/TestPathUtilities.cs
  src/Tools/Tools.slnf
Labels: area-infrastructure

#61312 Typo in AuthenticationMetrics.cs description
  src/Http/Authentication.Core/src/AuthenticationMetrics.cs
Labels: area-networking

#60900 Fix preserving messages for stateful reconnect with backplane
  src/SignalR/common/Shared/MessageBuffer.cs
  src/SignalR/server/Core/src/SerializedHubMessage.cs
  src/SignalR/server/SignalR/test/Microsoft.AspNetCore.SignalR.Tests/Internal/MessageBufferTests.cs
  src/SignalR/server/StackExchangeRedis/test/RedisEndToEnd.cs
  src/SignalR/server/StackExchangeRedis/test/Startup.cs
  src/SignalR/server/StackExchangeRedis/test/StatefulHub.cs
Labels: area-signalr, pending-ci-rerun

#61073 Rename MapSchemasEndoints.cs to MapSchemasEndpoints.cs
  src/OpenApi/sample/Endpoints/MapSchemasEndpoints.cs
Labels: community-contribution, area-networking

#61246 Add InvokeNew, GetValue & SetValue to JS interop API
  package-lock.json
  src/Components/Endpoints/src/DependencyInjection/UnsupportedJavaScriptRuntime.cs
  src/Components/Server/src/Circuits/RemoteJSRuntime.cs
  src/Components/Server/test/ProtectedBrowserStorageTest.cs
  src/Components/Web.JS/src/Boot.WebAssembly.Common.ts
  src/Components/Web.JS/src/GlobalExports.ts
  src/Components/Web/src/Internal/IInternalWebJSInProcessRuntime.cs
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/JSInterop/src/InternalCalls.cs
  src/Components/WebAssembly/JSInterop/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/JSInterop/src/WebAssemblyJSRuntime.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/RemoteAuthenticationServiceTests.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/RemoteAuthenticatorCoreTests.cs
  src/Components/WebAssembly/WebAssembly/src/Services/DefaultWebAssemblyJSRuntime.cs
  src/Components/WebAssembly/WebAssembly/test/PullFromJSDataStreamTest.cs
  src/Components/WebView/WebView/src/IpcSender.cs
  src/Components/WebView/WebView/src/Services/WebViewJSRuntime.cs
  src/Components/WebView/WebView/test/Infrastructure/AssertHelpers.cs
  src/Components/test/E2ETest/Tests/InteropTest.cs
  src/Components/test/testassets/BasicTestApp/DotNetToJSInterop.razor
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/InteropComponent.razor
  src/Components/test/testassets/BasicTestApp/wwwroot/js/jsinteroptests.js
  src/JSInterop/Microsoft.JSInterop.JS/src/babel.config.js
  src/JSInterop/Microsoft.JSInterop.JS/src/jest.config.mjs
  src/JSInterop/Microsoft.JSInterop.JS/src/package.json
  src/JSInterop/Microsoft.JSInterop.JS/src/src/Microsoft.JSInterop.ts
  src/JSInterop/Microsoft.JSInterop.JS/src/test/CallDispatcher.test.ts
  src/JSInterop/Microsoft.JSInterop.JS/src/test/findObjectMember.test.ts
  src/JSInterop/Microsoft.JSInterop/src/IJSInProcessObjectReference.cs
  src/JSInterop/Microsoft.JSInterop/src/IJSInProcessRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/IJSObjectReference.cs
  src/JSInterop/Microsoft.JSInterop/src/IJSRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/Implementation/JSInProcessObjectReference.cs
  src/JSInterop/Microsoft.JSInterop/src/Implementation/JSObjectReference.cs
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/JSCallType.cs
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/JSInvocationInfo.cs
  src/JSInterop/Microsoft.JSInterop/src/JSInProcessRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/JSObjectReferenceExtensions.cs
  src/JSInterop/Microsoft.JSInterop/src/JSRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/JSRuntimeExtensions.cs
  src/JSInterop/Microsoft.JSInterop/src/PublicAPI.Unshipped.txt
  src/JSInterop/Microsoft.JSInterop/test/Infrastructure/DotNetDispatcherTest.cs
  src/JSInterop/Microsoft.JSInterop/test/JSInProcessRuntimeTest.cs
  src/JSInterop/Microsoft.JSInterop/test/JSObjectReferenceTest.cs
  src/JSInterop/Microsoft.JSInterop/test/JSRuntimeTest.cs
  src/JSInterop/Microsoft.JSInterop/test/TestJSRuntime.cs
Labels: area-blazor

#61393 Merging internal commits for release/9.0
  NuGet.config
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Http3Limits.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Frames/Http3RawFrame.Data.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Frames/Http3RawFrame.GoAway.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Frames/Http3RawFrame.Headers.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Frames/Http3RawFrame.Settings.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Frames/Http3RawFrame.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3ControlStream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3FrameReader.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3PendingStream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.Http3.cs
  src/Servers/Kestrel/Core/test/VariableIntHelperTests.cs
  src/Servers/Kestrel/shared/test/Http3/Http3InMemory.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
  src/Shared/runtime/Http3/Helpers/VariableLengthIntegerHelper.cs
  src/Shared/test/Shared.Tests/runtime/Http3/VariableLengthIntegerHelperTests.cs
Labels: area-infrastructure

#61375 [release/8.0] Fix preserving messages for stateful reconnect with backplane
  src/SignalR/common/Shared/MessageBuffer.cs
  src/SignalR/server/Core/src/SerializedHubMessage.cs
  src/SignalR/server/SignalR/test/Internal/MessageBufferTests.cs
  src/SignalR/server/StackExchangeRedis/test/RedisEndToEnd.cs
  src/SignalR/server/StackExchangeRedis/test/Startup.cs
  src/SignalR/server/StackExchangeRedis/test/StatefulHub.cs
Labels: Servicing-approved, area-signalr

#61417 Update branding to 2.3.2
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/PatchConfig.props
  version.props
Labels: area-infrastructure

#61414 Http/3 Partial Frame support
  src/Components/test/E2ETest/ServerRenderingTests/EnhancedNavigationTest.cs
  src/Servers/Kestrel/Core/src/CoreStrings.resx
  src/Servers/Kestrel/Core/src/Http3Limits.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Frames/Http3RawFrame.Data.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Frames/Http3RawFrame.GoAway.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Frames/Http3RawFrame.Headers.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Frames/Http3RawFrame.Settings.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Frames/Http3RawFrame.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3ControlStream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3FrameReader.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3FrameWriter.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3PendingStream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.Http3.cs
  src/Servers/Kestrel/Core/test/VariableIntHelperTests.cs
  src/Servers/Kestrel/shared/test/Http3/Http3InMemory.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3ConnectionTests.cs
  src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs
  src/Shared/runtime/Http3/Helpers/VariableLengthIntegerHelper.cs
  src/Shared/test/Shared.Tests/runtime/Http3/VariableLengthIntegerHelperTests.cs
Labels: area-networking

#61391 [Blazor] Resolve collection for registered services once
  src/Components/Components/src/PersistentState/IPersistentServiceRegistration.cs
  src/Components/Components/src/PersistentState/PersistentServiceRegistration.cs
  src/Components/Components/src/PersistentState/PersistentServicesRegistry.cs
  src/Components/Components/src/PersistentState/RegisteredPersistentServiceRegistrationCollection.cs
  src/Components/Components/src/RegisterPersistentComponentStateServiceCollectionExtensions.cs
  src/Components/Components/test/PersistentState/PersistentServicesRegistryTest.cs
Labels: area-blazor

#60850 JSInterop: Enable returning null for a nullable value type
  src/Components/test/E2ETest/Tests/InteropValueTypesTest.cs
  src/Components/test/E2ETest/Tests/StartupErrorNotificationTest.cs
  src/Components/test/testassets/BasicTestApp/Index.razor
  src/Components/test/testassets/BasicTestApp/InteropValueTypesComponent.razor
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/TaskGenericsUtil.cs
Labels: area-blazor, community-contribution, pr: pending author input, pending-ci-rerun

#61349 Quarantine some OpenAPI tests
  src/Tools/Microsoft.dotnet-openapi/test/OpenApiAddURLTests.cs
Labels: area-commandlinetools

#61270 Ensure project.assets.json files are unique for SiteExtensions in VMR
  src/SiteExtensions/Directory.Build.props
  src/SiteExtensions/LoggingAggregate/src/Microsoft.AspNetCore.AzureAppServices.SiteExtension/Microsoft.AspNetCore.AzureAppServices.SiteExtension.csproj
  src/SiteExtensions/Runtime/Microsoft.AspNetCore.Runtime.SiteExtension.pkgproj
Labels: area-infrastructure

#61036 [Blazor] Use OverrideHtmlAssetPlaceholders=true in blazorwasm template
  src/ProjectTemplates/Web.ProjectTemplates/ComponentsWebAssembly-CSharp.csproj.in
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/wwwroot/index.html
Labels: area-blazor, feature-blazor-wasm, pending-ci-rerun

#61433 Increase Grpc InteropTests timeout again, and quarantine EmptyUnary
  src/Grpc/Interop/test/InteropTests/InteropTests.cs
Labels: area-grpc

#61427 Quarantine `EnhancedNavigationScrollBehavesSameAsBrowserOnNavigation` failing tests
  src/Components/test/E2ETest/ServerRenderingTests/EnhancedNavigationTest.cs
Labels: test-failure, area-blazor, feature-blazor-enhanced-navigation

#61302 Remove unnecessary newline at the end of the webapiaot csproj
  src/ProjectTemplates/Web.ProjectTemplates/WebApiAot-CSharp.csproj.in
Labels: area-mvc, community-contribution

#61294 Quarantine: Copy_MultipleSegments
  src/Middleware/ResponseCaching/test/CachedResponseBodyTests.cs
Labels: pending-ci-rerun, area-middleware

#61455 Use NormalizeDirectory consistently in SiteExtensions D.B.P
  src/SiteExtensions/Directory.Build.props
Labels: area-networking

#61467 Resolve NU1510 as System.Net.ServerSentEvents is inbox now
  src/SignalR/clients/csharp/Http.Connections.Client/src/Microsoft.AspNetCore.Http.Connections.Client.csproj
Labels: area-signalr

#61448 [Blazor] Add preload placeholder to blazorwasm template
  src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/wwwroot/index.html
Labels: area-blazor, feature-blazor-wasm

#61485 Move DotNetBuild.props logic into repo
  Directory.Build.props
  eng/DotNetBuild.props
Labels: area-infrastructure

#60806 feat: fetch TLS client hello message from HTTP.SYS
  AspNetCore.slnx
  src/Servers/HttpSys/HttpSysServer.slnf
  src/Servers/HttpSys/samples/TlsFeaturesObserve/HttpSys/HttpSysConfigurator.cs
  src/Servers/HttpSys/samples/TlsFeaturesObserve/HttpSys/Native.cs
  src/Servers/HttpSys/samples/TlsFeaturesObserve/Program.cs
  src/Servers/HttpSys/samples/TlsFeaturesObserve/Properties/launchSettings.json
  src/Servers/HttpSys/samples/TlsFeaturesObserve/Startup.cs
  src/Servers/HttpSys/samples/TlsFeaturesObserve/TlsFeaturesObserve.csproj
  src/Servers/HttpSys/src/HttpSysListener.cs
  src/Servers/HttpSys/src/HttpSysOptions.cs
  src/Servers/HttpSys/src/LoggerEventIds.cs
  src/Servers/HttpSys/src/NativeInterop/ErrorCodes.cs
  src/Servers/HttpSys/src/NativeInterop/HttpApi.cs
  src/Servers/HttpSys/src/PublicAPI.Unshipped.txt
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.Log.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContextOfT.cs
  src/Servers/HttpSys/src/RequestProcessing/TlsListener.Log.cs
  src/Servers/HttpSys/src/RequestProcessing/TlsListener.cs
  src/Servers/HttpSys/test/FunctionalTests/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests.csproj
  src/Servers/HttpSys/test/FunctionalTests/TlsListenerTests.cs
  src/Shared/HttpSys/RequestProcessing/NativeRequestContext.cs
Labels: pending-ci-rerun, area-networking

#61453 Enable getting IJSObjectReference to a JS function in Blazor interop
  src/Components/test/E2ETest/Tests/InteropTest.cs
  src/Components/test/testassets/BasicTestApp/DotNetToJSInterop.razor
  src/Components/test/testassets/BasicTestApp/InteropComponent.razor
  src/JSInterop/Microsoft.JSInterop.JS/src/src/Microsoft.JSInterop.ts
Labels: area-blazor

#61505 Update nightly build links to 10.0
  README.md
Labels: area-infrastructure

#61507 Publish productVersion files in the right folder
  eng/Publishing.props
Labels: area-infrastructure

#61494 fetch TLS client hello message from HTTP.SYS
  AspNetCore.sln
  src/Servers/HttpSys/HttpSysServer.slnf
  src/Servers/HttpSys/samples/TlsFeaturesObserve/HttpSys/HttpSysConfigurator.cs
  src/Servers/HttpSys/samples/TlsFeaturesObserve/HttpSys/Native.cs
  src/Servers/HttpSys/samples/TlsFeaturesObserve/Program.cs
  src/Servers/HttpSys/samples/TlsFeaturesObserve/Properties/launchSettings.json
  src/Servers/HttpSys/samples/TlsFeaturesObserve/Startup.cs
  src/Servers/HttpSys/samples/TlsFeaturesObserve/TlsFeaturesObserve.csproj
  src/Servers/HttpSys/src/HttpSysListener.cs
  src/Servers/HttpSys/src/HttpSysOptions.cs
  src/Servers/HttpSys/src/LoggerEventIds.cs
  src/Servers/HttpSys/src/NativeInterop/HttpApi.cs
  src/Servers/HttpSys/src/RequestProcessing/Request.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.Log.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContext.cs
  src/Servers/HttpSys/src/RequestProcessing/RequestContextOfT.cs
  src/Servers/HttpSys/src/RequestProcessing/TlsListener.Log.cs
  src/Servers/HttpSys/src/RequestProcessing/TlsListener.cs
  src/Servers/HttpSys/test/FunctionalTests/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests.csproj
  src/Servers/HttpSys/test/FunctionalTests/TlsListenerTests.cs
  src/Shared/HttpSys/NativeInterop/UnsafeNativeMethods.cs
  src/Shared/HttpSys/RequestProcessing/NativeRequestContext.cs
Labels: area-networking

#61517 [Blazor] Explicitly opt-out from inlining boot config in tests
  src/Components/WebAssembly/Directory.Build.props
  src/Components/test/testassets/Directory.Build.props
Labels: area-blazor

#61516 Blazor - rendering metrics
  src/Components/Components/src/Microsoft.AspNetCore.Components.csproj
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Components/src/Rendering/RenderingMetrics.cs
  src/Components/Components/test/Microsoft.AspNetCore.Components.Tests.csproj
  src/Components/Components/test/Rendering/RenderingMetricsTest.cs
  src/Components/Server/src/Circuits/CircuitFactory.cs
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/Server/src/Circuits/CircuitMetrics.cs
  src/Components/Server/src/DependencyInjection/ComponentServiceCollectionExtensions.cs
  src/Components/Server/src/Microsoft.AspNetCore.Components.Server.csproj
  src/Components/Server/test/Circuits/CircuitMetricsTest.cs
  src/Components/Server/test/Circuits/TestCircuitHost.cs
  src/Components/Server/test/Microsoft.AspNetCore.Components.Server.Tests.csproj
  src/Shared/Metrics/MetricsConstants.cs
Labels: feature-diagnostics, area-blazor

#61316 Fix for Kestrel's ParseHeaders throwing ArgumentOutOfRange exception
  src/Servers/Kestrel/Core/src/Internal/Http/HttpParser.cs
  src/Servers/Kestrel/Core/test/HttpParserTests.cs
Labels: community-contribution, area-networking

#61545 Respect verbosity switch on Unix
  eng/build.sh
Labels: area-infrastructure

#60811 Make default stack size to be 1 MB in base16
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/InProcessOptions.cpp
Labels: community-contribution, area-networking

#61551 Add reference to System.Security.Cryptography.Pkcs to RepoTasks
  eng/tools/RepoTasks/RepoTasks.csproj
Labels: area-infrastructure

#61575 Disable routing microbenchmarks
  src/Http/Routing/perf/Microbenchmarks/Microsoft.AspNetCore.Routing.Microbenchmarks.csproj
Labels: area-networking

#61306 `HttpNavigationManager` no longer uses `NavigationException`
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Components/src/Routing/IHostEnvironmentNavigationManager.cs
  src/Components/Endpoints/src/DependencyInjection/HttpNavigationManager.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.EventDispatch.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Prerendering.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.cs
  src/Components/Endpoints/test/EndpointHtmlRendererTest.cs
  src/Components/Server/src/Circuits/RemoteNavigationManager.cs
  src/Components/test/E2ETest/ServerRenderingTests/InteractivityTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/NoInteractivityTest.cs
  src/Components/test/E2ETest/Tests/GlobalInteractivityTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Routing/RoutingTestCases.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Routing/SSRRedirection.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Routing/SSRRedirectionStreaming.razor
Labels: area-blazor, feature-blazor-navigation

#61615 Quarantine WritesDateTime
  src/Middleware/HttpLogging/test/W3CLoggerTests.cs
Labels: area-middleware

#61530 Forwarded Headers Middleware: Ignore XForwardedHeaders from Unknown Proxy
  src/Middleware/HttpOverrides/src/ForwardedHeadersMiddleware.cs
  src/Middleware/HttpOverrides/test/ForwardedHeadersMiddlewareTest.cs
Labels: community-contribution, area-middleware

#61624 Update branding to preview5
  .github/policies/resourceManagement.yml
  eng/Versions.props
Labels: area-infrastructure

#60970 Add `NotFoundPage` to `Router`
  src/Components/Components/src/NavigationManager.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/src/Routing/Router.cs
  src/Components/Endpoints/src/Microsoft.AspNetCore.Components.Endpoints.csproj
  src/Components/Endpoints/src/RazorComponentEndpointInvoker.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.EventDispatch.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Prerendering.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.Streaming.cs
  src/Components/Endpoints/src/Rendering/EndpointHtmlRenderer.cs
  src/Components/Endpoints/src/Results/RazorComponentResultExecutor.cs
  src/Components/test/E2ETest/ServerRenderingTests/NoInteractivityTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/StatusCodePagesTest.cs
  src/Components/test/E2ETest/Tests/GlobalInteractivityTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponentEndpointsStartup.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/App.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/NotFoundPage.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/PageThatSetsNotFound.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/ReexecutedPage.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/StreamingRendering/StreamingSetNotFound.razor
  src/Components/test/testassets/Components.WasmMinimal/Pages/CustomNotFoundPage.razor
  src/Components/test/testassets/Components.WasmMinimal/Routes.razor
  src/Middleware/Diagnostics/src/PublicAPI.Unshipped.txt
  src/Middleware/Diagnostics/src/StatusCodePage/StatusCodePagesExtensions.cs
  src/Middleware/Diagnostics/src/StatusCodePage/StatusCodePagesOptions.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Pages/NotFound.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWeb-CSharp/Components/Routes.razor
  src/ProjectTemplates/scripts/startvs.cmd
  src/ProjectTemplates/test/Templates.Tests/template-baselines.json
Labels: area-blazor, feature-blazor-routing

#61635 Update GenerateFiles to net10
  eng/tools/GenerateFiles/GenerateFiles.csproj
Labels: area-infrastructure

#61643 Exclude .js files from signing
  eng/Signing.props
Labels: area-infrastructure

#61519 Build Windows local test job in official builds
  .azure/pipelines/ci.yml
  Directory.Build.targets
  eng/RequiresDelayedBuildProjects.props
  src/ProjectTemplates/Shared/Project.cs
  src/ProjectTemplates/TestInfrastructure/PrepareForTest.targets
  src/ProjectTemplates/test/Templates.Blazor.Tests/Templates.Blazor.Tests.csproj
  src/ProjectTemplates/test/Templates.Blazor.WebAssembly.Auth.Tests/Templates.Blazor.WebAssembly.Auth.Tests.csproj
  src/ProjectTemplates/test/Templates.Blazor.WebAssembly.Tests/Templates.Blazor.WebAssembly.Tests.csproj
  src/ProjectTemplates/test/Templates.Mvc.Tests/Templates.Mvc.Tests.csproj
  src/ProjectTemplates/test/Templates.Tests/Templates.Tests.csproj
Labels: area-infrastructure

#61640 Quarantine Post_CanRunAsynchronously_WhenBusy_Exception
  src/Components/Components/test/Rendering/RendererSynchronizationContextTest.cs
Labels: area-blazor

#61644 Add language slug
  src/HttpClientFactory/Polly/src/PolicyHttpMessageHandler.cs
Labels: area-networking

#61557 [Blazor] Use inline boot config in tests
  src/Components/WebAssembly/Directory.Build.props
  src/Components/test/E2ETest/Tests/BootResourceCachingTest.cs
  src/Components/test/testassets/Directory.Build.props
Labels: area-blazor

#61669 Allow CI jobs to continueOnError
  .azure/pipelines/ci.yml
  .azure/pipelines/jobs/default-build.yml
Labels: area-infrastructure

#61541 Update to Microsoft.OpenApi v2.0.0-preview.17
  eng/Dependencies.props
  eng/Versions.props
  src/OpenApi/OpenApi.slnf
  src/OpenApi/gen/XmlCommentGenerator.Emitter.cs
  src/OpenApi/perf/Microbenchmarks/TransformersBenchmark.cs
  src/OpenApi/src/Extensions/ApiDescriptionExtensions.cs
  src/OpenApi/src/Extensions/JsonNodeSchemaExtensions.cs
  src/OpenApi/src/Schemas/OpenApiJsonSchema.Helpers.cs
  src/OpenApi/src/Services/OpenApiConstants.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaService.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/AdditionalTextsTests.Schemas.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/CompletenessTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests.csproj
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/OperationTests.Controllers.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/OperationTests.MinimalApis.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/SchemaTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/AddOpenApiTests.CanInterceptAddOpenApi#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/AdditionalTextsTests.CanHandleXmlForSchemasInAdditionalTexts#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/CompletenessTests.SupportsAllXmlTagsOnSchemas#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/OperationTests.SupportsXmlCommentsOnOperationsFromControllers#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/OperationTests.SupportsXmlCommentsOnOperationsFromMinimalApis#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/snapshots/SchemaTests.SupportsXmlCommentsOnSchemas#OpenApiXmlCommentSupport.generated.verified.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Extensions/ApiDescriptionExtensionsTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Extensions/OpenApiEndpointRouteBuilderExtensionsTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Microsoft.AspNetCore.OpenApi.Tests.csproj
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/CreateSchemaReferenceIdTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentProviderTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.Operations.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.Parameters.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.Paths.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentService/OpenApiDocumentServiceTests.RequestBody.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiGeneratorTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiSchemaService/OpenApiSchemaService.ParameterSchemas.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiSchemaService/OpenApiSchemaService.PolymorphicSchemas.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiSchemaService/OpenApiSchemaService.RequestBodySchemas.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiSchemaService/OpenApiSchemaService.ResponseSchemas.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/CustomSchemaTransformerTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/Implementations/OpenApiSchemaReferenceTransformerTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/SchemaTransformerTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Transformers/TypeBasedTransformerLifetimeTests.cs
  src/Tools/GetDocumentInsider/tests/GetDocumentInsider.Tests.csproj
Labels: area-mvc, feature-openapi, area-minimal

#61724 Add auto-merges for SDK updates
  .github/policies/resourceManagement.yml
Labels: area-infrastructure

#61725 Add auto-merges for dependabot PRs targeting main
  .github/policies/resourceManagement.yml
Labels: area-infrastructure

#61687 Fix Dependency Injection Conflict with Null Parameter in SignalR Hub Methods
  src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs
  src/SignalR/server/SignalR/test/Microsoft.AspNetCore.SignalR.Tests/HubConnectionHandlerTestUtils/Hubs.cs
  src/SignalR/server/SignalR/test/Microsoft.AspNetCore.SignalR.Tests/HubConnectionHandlerTests.cs
Labels: area-signalr, community-contribution

#61700 [OpenApi] Fix thread static use and write directly to PipeWriter
  src/OpenApi/src/Extensions/OpenApiEndpointRouteBuilderExtensions.cs
Labels: feature-openapi, area-web-frameworks

#61325 Add support for setting security attributes on Http.Sys RequestQueue
  src/Servers/HttpSys/src/HttpSysListener.cs
  src/Servers/HttpSys/src/HttpSysOptions.cs
  src/Servers/HttpSys/src/NativeInterop/RequestQueue.cs
  src/Servers/HttpSys/src/NativeMethods.txt
  src/Servers/HttpSys/src/PublicAPI.Unshipped.txt
  src/Servers/HttpSys/test/FunctionalTests/DelegateTests.cs
  src/Servers/HttpSys/test/FunctionalTests/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests.csproj
Labels: feature-httpsys, pending-ci-rerun, area-networking

#59100 [Identity] Fix Identity UI asset definitions
  src/Identity/UI/src/Microsoft.AspNetCore.Identity.UI.csproj
Labels: Servicing-consider, area-identity

#61728 Fix handling of parsable types in validations generator
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Extensions/ITypeSymbolExtensions.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Microsoft.AspNetCore.Http.ValidationsGenerator.csproj
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Parsers/ValidationsGenerator.AttributeParser.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Parsers/ValidationsGenerator.EndpointsParser.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Parsers/ValidationsGenerator.RequiredSymbolsParser.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/Parsers/ValidationsGenerator.TypesParser.cs
  src/Http/Http.Extensions/gen/Microsoft.AspNetCore.Http.ValidationsGenerator/ValidationsGenerator.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/ValidationsGenerator.Parsable.cs
  src/Http/Http.Extensions/test/ValidationsGenerator/snapshots/ValidationsGeneratorTests.CanValidateTypeWithParsableProperties#ValidatableInfoResolver.g.verified.cs
  src/Shared/RoslynUtils/WellKnownTypeData.cs
Labels: area-minimal, feature-validation
