Repository dotnet/aspnetcore, pull requests merged in 2025-07, with the labels that each got.

#62509 Add pipeline that's always green, for doc-only PRs
  .azure/pipelines/report-green.yml
Labels: area-infrastructure

#62529 [blazor] tracing add missing namespace
  src/Components/Server/src/Circuits/CircuitActivitySource.cs
Labels: area-blazor

#62583 OwningComponentBase implements IAsyncDisposable
  src/Components/Components/src/OwningComponentBase.cs
  src/Components/Components/src/PublicAPI.Unshipped.txt
  src/Components/Components/test/OwningComponentBaseTest.cs
Labels: breaking-change, area-blazor, needs-breaking-change-announcement

#62547 Run template tests on Components/MVC changes
  .azure/pipelines/template-tests-pr.yml
Labels: area-mvc

#62588 Replace use of InvokeNew with InvokeConstructor in Blazor JS interop
  src/Components/Endpoints/src/DependencyInjection/UnsupportedJavaScriptRuntime.cs
  src/Components/Server/test/ProtectedBrowserStorageTest.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/RemoteAuthenticationServiceTests.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/RemoteAuthenticatorCoreTests.cs
  src/Components/WebAssembly/WebAssembly/test/PullFromJSDataStreamTest.cs
  src/Components/test/E2ETest/Tests/InteropTest.cs
  src/Components/test/testassets/BasicTestApp/DotNetToJSInterop.razor
  src/Components/test/testassets/BasicTestApp/InteropComponent.razor
  src/JSInterop/Microsoft.JSInterop.JS/src/src/Microsoft.JSInterop.ts
  src/JSInterop/Microsoft.JSInterop.JS/src/test/CallDispatcher.test.ts
  src/JSInterop/Microsoft.JSInterop/src/IJSInProcessObjectReference.cs
  src/JSInterop/Microsoft.JSInterop/src/IJSInProcessRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/IJSObjectReference.cs
  src/JSInterop/Microsoft.JSInterop/src/IJSRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/Implementation/JSInProcessObjectReference.cs
  src/JSInterop/Microsoft.JSInterop/src/Implementation/JSObjectReference.cs
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/JSCallType.cs
  src/JSInterop/Microsoft.JSInterop/src/JSInProcessRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/JSObjectReferenceExtensions.cs
  src/JSInterop/Microsoft.JSInterop/src/JSRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/JSRuntimeExtensions.cs
  src/JSInterop/Microsoft.JSInterop/src/PublicAPI.Unshipped.txt
Labels: area-blazor

#62606 Add msbuild dependencies to fix SourceBuild prebuilts
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#62598 Log when an enhanced navigation fails
  src/Components/Web.JS/src/Services/NavigationEnhancement.ts
  src/Components/test/E2ETest/ServerRenderingTests/EnhancedNavigationTest.cs
Labels: area-blazor, community-contribution

#62631 Fix test for invariant culture parsing
  src/Validation/test/Microsoft.Extensions.Validation.GeneratorTests/ValidationsGenerator.Parsable.cs
Labels: community-contribution, area-minimal, feature-validation

#61399 MVC: Correct metadata type for formdata enum parameters
  src/Mvc/Mvc.ApiExplorer/src/EndpointModelMetadata.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentServiceTestsBase.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiSchemaService/OpenApiSchemaService.RequestBodySchemas.cs
Labels: area-mvc, community-contribution, pending-ci-rerun

#62078 Add metrics to Identity
  src/Identity/Core/src/Microsoft.AspNetCore.Identity.csproj
  src/Identity/Core/src/SignInManager.cs
  src/Identity/Core/src/SignInManagerMetrics.cs
  src/Identity/Core/src/SignInType.cs
  src/Identity/Extensions.Core/src/PublicAPI.Unshipped.txt
  src/Identity/Extensions.Core/src/UserManager.cs
  src/Identity/Extensions.Core/src/UserManagerMetrics.cs
  src/Identity/Extensions.Core/src/UserUpdateType.cs
  src/Identity/Identity.slnf
  src/Identity/test/Identity.Test/Microsoft.AspNetCore.Identity.Test.csproj
  src/Identity/test/Identity.Test/SignInManagerTest.cs
  src/Identity/test/Identity.Test/UserManagerTest.cs
  src/Identity/test/Shared/MetricsHelpers.cs
  src/Identity/test/Shared/MockHelpers.cs
Labels: area-identity

#62629 Add UseDefaultServiceProvider extension methods for WebAssembly host builder
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHostBuilder.cs
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebassemblyHostBuilderExtensions.cs
  src/Components/WebAssembly/WebAssembly/src/PublicAPI.Unshipped.txt
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyHostBuilderTest.cs
Labels: area-blazor

#62626 Add an InputHidden component for Blazor
  src/Components/Web/src/Forms/InputHidden.cs
  src/Components/Web/src/PublicAPI.Unshipped.txt
  src/Components/Web/test/Forms/InputHiddenTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/DefaultFormInputHidden.razor
Labels: area-blazor

#62663 Fix Microsoft.Extensions.Caching.Hybrid repo origin and CoherentParentDependency
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#62653 [Blazor] Emit antiforgery only when streaming, a form has been placed on the page or there are interactive render modes configured
  src/Components/Endpoints/src/Forms/EndpointAntiforgeryStateProvider.cs
  src/Components/Endpoints/src/RazorComponentEndpointInvoker.cs
Labels: area-blazor

#62665 Remove SiteExtensions from AspNetCore.slnx
  AspNetCore.slnx
Labels: area-infrastructure

#62668 Use *.dev.localhost instead of *.localhost for dev-cert & templates
  src/OpenApi/sample/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/localize/templatestrings.cs.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/localize/templatestrings.de.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/localize/templatestrings.en.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/localize/templatestrings.es.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/localize/templatestrings.fr.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/localize/templatestrings.it.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/localize/templatestrings.ja.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/localize/templatestrings.ko.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/localize/templatestrings.pl.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/localize/templatestrings.pt-BR.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/localize/templatestrings.ru.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/localize/templatestrings.tr.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/localize/templatestrings.zh-Hans.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/localize/templatestrings.zh-Hant.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWebCSharp.1/Properties/launchSettings.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/localize/templatestrings.cs.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/localize/templatestrings.de.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/localize/templatestrings.en.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/localize/templatestrings.es.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/localize/templatestrings.fr.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/localize/templatestrings.it.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/localize/templatestrings.ja.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/localize/templatestrings.ko.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/localize/templatestrings.pl.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/localize/templatestrings.pt-BR.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/localize/templatestrings.ru.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/localize/templatestrings.tr.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/localize/templatestrings.zh-Hans.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/localize/templatestrings.zh-Hant.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/template.json
  src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/Properties/launchSettings.json
  src/Servers/Kestrel/Core/test/AddressBinderTests.cs
  src/Shared/CertificateGeneration/CertificateManager.cs
Labels: area-mvc

#62644 Split helix into subsets
  .azure/pipelines/ci-public.yml
  .azure/pipelines/ci.yml
  docs/AddingNewProjects.md
  eng/Build.props
Labels: area-infrastructure

#62681 Harden Cookie Parsing
  src/Http/Headers/test/CookieHeaderValueTest.cs
  src/Http/Http.Extensions/test/HeaderDictionaryTypeExtensionsTest.cs
  src/Http/Http/test/RequestCookiesCollectionTests.cs
  src/Http/Shared/CookieHeaderParserShared.cs
Labels: area-networking

#62673 [Blazor] Rename LinkPreload to ResourcePreloader
  src/Components/Endpoints/src/Assets/ResourcePreloader.cs
  src/Components/Endpoints/src/PublicAPI.Unshipped.txt
  src/Components/Endpoints/test/TestComponents/WebAssemblyPreloadWrapper.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWebCSharp.1/Components/App.razor
Labels: area-blazor

#62657 Enable IJSObjectReference to handle null/undefined values
  src/Components/WebAssembly/JSInterop/src/WebAssemblyJSObjectReferenceJsonConverter.cs
  src/Components/WebAssembly/WebAssembly/test/JSObjectReferenceJsonConverterTest.cs
  src/Components/test/E2ETest/Tests/InteropTest.cs
  src/Components/test/testassets/BasicTestApp/InteropComponent.razor
  src/Components/test/testassets/BasicTestApp/wwwroot/js/jsinteroptests.js
  src/JSInterop/Microsoft.JSInterop.JS/src/src/Microsoft.JSInterop.ts
  src/JSInterop/Microsoft.JSInterop.JS/src/test/CallDispatcher.test.ts
  src/JSInterop/Microsoft.JSInterop/src/Infrastructure/JSObjectReferenceJsonConverter.cs
  src/JSInterop/Microsoft.JSInterop/test/Infrastructure/JSObjectReferenceJsonConverterTest.cs
Labels: area-blazor, community-contribution

#62687 Add AppContext switch in patch release to opt-out of breaking behavior change in ForwardedHeaders middleware.
  src/Middleware/HttpOverrides/src/ForwardedHeadersMiddleware.cs
  src/Middleware/HttpOverrides/test/ForwardedHeadersMiddlewareTest.cs
Labels: Servicing-approved

#62690 Add AppContext switch in patch release to opt-out of breaking behavior change in ForwardedHeaders middleware
  eng/PatchConfig.props
  src/Middleware/HttpOverrides/src/ForwardedHeadersMiddleware.cs
Labels: Servicing-approved

#62726 XML doc for generated public partial Program class
  src/Framework/AspNetCoreAnalyzers/src/SourceGenerators/PublicTopLevelProgramGenerator.cs
  src/Framework/AspNetCoreAnalyzers/test/SourceGenerators/PublicTopLevelProgramGeneratorTests.cs
Labels: area-infrastructure, community-contribution

#62707 Fix. Quickgrid PropertyColumn Align property doesn't work with Align.Right
  src/Components/QuickGrid/Microsoft.AspNetCore.Components.QuickGrid/src/QuickGrid.razor.css
  src/Components/test/E2ETest/Tests/QuickGridTest.cs
  src/Components/test/testassets/BasicTestApp/QuickGridTest/SampleQuickGridComponent.razor
Labels: area-blazor

#62751 [blazor] Diagnostic traces - OTEL names review
  src/Components/Components/src/ComponentsActivitySource.cs
  src/Components/Components/src/RenderTree/Renderer.cs
  src/Components/Components/src/Routing/Router.cs
  src/Components/Components/test/ComponentsActivitySourceTest.cs
  src/Components/Server/src/Circuits/CircuitActivitySource.cs
  src/Components/Server/test/Circuits/CircuitActivitySourceTest.cs
Labels: area-blazor

#62739 [SignalR] Don't throw for message headers in Java client
  src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/GsonHubProtocol.java
  src/SignalR/clients/java/signalr/test/src/main/java/com/microsoft/signalr/GsonHubProtocolTest.java
Labels: area-signalr, feature-client-java

#61743 Swap out Win11 for Win-VS2022 in CI
  eng/targets/Helix.Common.props
  src/Servers/HttpSys/test/FunctionalTests/Http2Tests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/AspNetCorePortTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/BasicAuthTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/CompressionTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/FrebTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/GlobalVersionTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Http2Tests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/HttpsTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/Latin1Tests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/LoggingTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/MaxRequestBodySizeTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/MultiApplicationTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/RequestPathBaseTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/RequestResponseTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/WebSocketInProcessTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/WebSocketOutOfProcessTests.cs
  src/Servers/IIS/IIS/test/Common.FunctionalTests/WindowsAuthTests.cs
  src/Servers/IIS/IIS/test/Common.LongTests/ShutdownTests.cs
  src/Servers/IIS/IIS/test/Common.LongTests/StartupTests.cs
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/Http2TrailersResetTests.cs
  src/Servers/IIS/IIS/test/IIS.FunctionalTests/Http3Tests.cs
  src/Servers/IIS/IIS/test/IIS.NewHandler.FunctionalTests/NewHandlerTests.cs
  src/Servers/IIS/IIS/test/IIS.NewShim.FunctionalTests/NewShimTests.cs
  src/Servers/IIS/IIS/test/IIS.ShadowCopy.Tests/ShadowCopyTests.cs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/ApplicationInitializationTests.cs
  src/Servers/IIS/IIS/test/IIS.Shared.FunctionalTests/StdOutRedirectionTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/ClientDisconnectTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/ConnectionIdFeatureTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/HttpBodyControlFeatureTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/MaxRequestBodySizeTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/ResponseAbortTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/ResponseBodySizeTests.cs
  src/Servers/IIS/IIS/test/IIS.Tests/TestServerTest.cs
  src/Servers/IIS/IIS/test/IIS.Tests/TlsHandshakeFeatureTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/InProcess/AppOfflineIISExpressTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/InProcess/IISExpressShutdownTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/OutOfProcess/MultipleAppTests.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/OutOfProcess/NtlmAuthentationTest.cs
  src/Servers/IIS/IIS/test/IISExpress.FunctionalTests/UpgradeFeatureDetectionTests.cs
  src/Servers/IIS/IISIntegration/test/Tests/IISExtensionTests.cs
  src/Servers/IIS/IISIntegration/test/Tests/IISMiddlewareTests.cs
Labels: area-infrastructure

#62518 [blazor] fix multiple calls to OnConnectionDownAsync
  src/Components/Server/src/Circuits/CircuitHost.cs
  src/Components/Server/src/Circuits/CircuitMetrics.cs
  src/Components/Server/src/Circuits/CircuitRegistry.cs
  src/Components/Server/test/Circuits/CircuitMetricsTest.cs
Labels: area-blazor

#62803 Quarantine SetCurrentDirectoryHandlerSettingWorks
  src/Servers/IIS/IIS/test/Common.LongTests/StartupTests.cs
Labels: area-networking

#62800 Revert "Baseline tests should check for all possible extensions of not expected files"
  src/ProjectTemplates/test/Templates.Tests/BaselineTest.cs
Labels: test-failure, area-blazor, feature-templates

#62811 Limit paths that trigger components-e2e pipeline
  .azure/pipelines/components-e2e-tests.yml
Labels: area-blazor

#62734 #62732 Fix password validation in PasswordHasher`1: add bound check for salt size before array allocation
  src/Identity/Extensions.Core/src/PasswordHasher.cs
  src/Identity/test/Identity.Test/PasswordHasherTest.cs
Labels: area-identity, community-contribution

#62490 Obsolete Microsoft.AspNetCore.HttpOverrides.IPNetwork
  src/DefaultBuilder/src/ForwardedHeadersOptionsSetup.cs
  src/Middleware/HttpOverrides/src/ForwardedHeadersMiddleware.cs
  src/Middleware/HttpOverrides/src/ForwardedHeadersOptions.cs
  src/Middleware/HttpOverrides/src/IPNetwork.cs
  src/Middleware/HttpOverrides/src/PublicAPI.Unshipped.txt
  src/Middleware/HttpOverrides/test/ForwardedHeadersMiddlewareTest.cs
  src/Middleware/HttpOverrides/test/IPNetworkTest.cs
Labels: community-contribution, area-networking

#62766 Fix memory pool metrics unit to follow standard
  src/Servers/Kestrel/Core/test/PinnedBlockMemoryPoolTests.cs
  src/Shared/Buffers.MemoryPool/PinnedBlockMemoryPoolMetrics.cs
Labels: area-networking

#62671 Identity metrics clean up
  src/Identity/Core/src/SignInManagerMetrics.cs
  src/Identity/Extensions.Core/src/UserManagerMetrics.cs
  src/Identity/test/Identity.Test/UserManagerTest.cs
Labels: area-identity

#62798 Support all subscribers to `OnNotFound` event
  src/Components/Components/src/Routing/Router.cs
  src/Components/Components/test/Routing/RouterTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/NoInteractivityTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/App.razor
Labels: area-blazor

#62812 Implemented fix to match HubConnection.cs logic (https://github.com/d…
  src/SignalR/clients/ts/signalr/src/HubConnection.ts
Labels: area-signalr, community-contribution

#62838 Follow-up on IsLocalhost TLD local dev
  src/Servers/Kestrel/Core/src/Internal/AddressBinder.cs
Labels: community-contribution, area-networking

#62845 chore: create issue template & workflow to automatically open issue for browser testing dependencies updates (Selenium / Playwright)
  .github/workflows/browsertesting-issue-body.md
  .github/workflows/browsertesting-open-issue.yml
Labels: area-infrastructure, dependencies, build-ops

#62874 fix: correct permissions for `browsertesting-open-issue` workflow
  .github/workflows/browsertesting-open-issue.yml
Labels: needs-area-label

#62879 Copilot agent runs dotnet commands with correct dotnet.
  .github/copilot-instructions.md
Labels: area-blazor

#62881 Add Version.Details.props
  eng/Version.Details.props
Labels: area-infrastructure

#62889 Update version branding to rc1
  .github/policies/resourceManagement.yml
  eng/Versions.props
Labels: area-infrastructure

#62904 chore: browser-testing workflow issues improvements
  .github/workflows/browsertesting-issue-body.md
Labels: area-infrastructure

#62837 [Blazor] Remove HotReload dependencies from Blazor WebAssembly
  .editorconfig
  eng/Dependencies.props
  eng/Version.Details.xml
  eng/Versions.props
  src/Components/WebAssembly/WebAssembly/src/Microsoft.AspNetCore.Components.WebAssembly.csproj
Labels: area-blazor

#62907 Clarify VPN requirement in Wasm.Performance README.md
  src/Components/benchmarkapps/Wasm.Performance/README.md
Labels: area-blazor

#62931 Skip RequestPathBase_WithDoubleSlashes_Split for now
  src/Servers/IIS/IIS/test/Common.FunctionalTests/RequestPathBaseTests.cs
Labels: area-networking

#62936 Update SignalR Redis tests to use internal Docker Hub mirror
  src/SignalR/server/StackExchangeRedis/test/Docker.cs
Labels: area-signalr

#62996 Revert "Skip RequestPathBase_WithDoubleSlashes_Split for now"
  src/Servers/IIS/IIS/test/Common.FunctionalTests/RequestPathBaseTests.cs
Labels: area-networking

#62999 remove redundant tag in IAsyncResultFilter and IResultFilter interfaces
  src/Mvc/Mvc.Abstractions/src/Filters/IAsyncResultFilter.cs
  src/Mvc/Mvc.Abstractions/src/Filters/IResultFilter.cs
Labels: area-mvc, community-contribution

#62193 [OpenAPI] Use invariant culture for TextWriter
  src/OpenApi/sample/Controllers/TestController.cs
  src/OpenApi/sample/Program.cs
  src/OpenApi/src/Extensions/JsonNodeSchemaExtensions.cs
  src/OpenApi/src/Extensions/OpenApiEndpointRouteBuilderExtensions.cs
  src/OpenApi/src/Schemas/OpenApiJsonSchema.Helpers.cs
  src/OpenApi/src/Schemas/OpenApiSchemaKeywords.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.SourceGenerators.Tests/SnapshotTestHelper.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Extensions/JsonNodeSchemaExtensionsTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/LocalizedSampleAppFixture.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/OpenApiDocumentIntegrationTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/OpenApiDocumentLocalizationTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_0/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=controllers.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_1/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=controllers.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApiDocumentLocalizationTests.VerifyOpenApiDocumentIsInvariant.verified.txt
  src/SignalR/common/Shared/Utf8BufferTextWriter.cs
  src/Tools/GetDocumentInsider/src/Commands/GetDocumentCommandWorker.cs
Labels: community-contribution, feature-openapi, area-minimal

#62905 Make Blazor WASM respect current UI culture
  src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyCultureProvider.cs
  src/Components/WebAssembly/WebAssembly/test/Hosting/WebAssemblyCultureProviderTest.cs
  src/Components/test/E2ETest/Tests/WebAssemblyLocalizationTest.cs
  src/Components/test/testassets/BasicTestApp/LocalizedText.razor
  src/Components/test/testassets/BasicTestApp/Program.cs
Labels: area-blazor

#62987 [OpenApi] Use GetCustomAttributes<T>
  src/OpenApi/src/Extensions/JsonNodeSchemaExtensions.cs
Labels: community-contribution, feature-openapi, area-minimal
