Repository dotnet/aspnetcore, pull requests merged in 2025-08, with the labels that each got.

#62988 Update media type for JSON Patch
  src/Features/JsonPatch.SystemTextJson/src/JsonPatchDocument.cs
  src/Features/JsonPatch.SystemTextJson/src/JsonPatchDocumentOfT.cs
  src/Features/JsonPatch.SystemTextJson/src/Microsoft.AspNetCore.JsonPatch.SystemTextJson.csproj
  src/Features/JsonPatch/build.cmd
  src/Features/JsonPatch/src/JsonPatchDocument.cs
  src/Features/JsonPatch/src/JsonPatchDocumentOfT.cs
  src/Features/JsonPatch/src/Microsoft.AspNetCore.JsonPatch.csproj
  src/OpenApi/sample/Endpoints/MapSchemasEndpoints.cs
  src/OpenApi/sample/Sample.csproj
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_0/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=schemas-by-ref.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_1/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=schemas-by-ref.verified.txt
Labels: area-mvc, feature-json-patch, community-contribution, feature-openapi

#63034 [OpenApi] Ignore unknown HTTP methods
  src/OpenApi/sample/Controllers/TestController.cs
  src/OpenApi/src/Extensions/ApiDescriptionExtensions.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Extensions/ApiDescriptionExtensionsTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_0/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=controllers.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_1/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=controllers.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApiDocumentLocalizationTests.VerifyOpenApiDocumentIsInvariant.verified.txt
Labels: community-contribution, feature-openapi, area-minimal

#62986 [OpenAPI] Get parameter description with [FromQuery]
  src/OpenApi/src/Extensions/JsonNodeSchemaExtensions.cs
  src/OpenApi/src/Services/OpenApiDocumentService.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiDocumentServiceTestsBase.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiSchemaService/OpenApiSchemaService.ParameterSchemas.cs
Labels: area-mvc, community-contribution, feature-openapi

#63033 [Mvc] Avoid exception in route analyzer
  src/Shared/Roslyn/MvcFacts.cs
Labels: area-mvc, community-contribution

#63108 Update milestones for September
  .github/policies/resourceManagement.yml
Labels: needs-area-label

#62505 [release/9.0] Update Microsoft.Build versions
  eng/SourceBuildPrebuiltBaseline.xml
  eng/Versions.props
Labels: pending-ci-rerun

#62994 [release/8.0] Dispose the certificate chain elements with the chain
  src/Security/Authentication/Certificate/src/CertificateAuthenticationHandler.cs
  src/Shared/CertificateGeneration/UnixCertificateManager.cs
Labels: Servicing-approved

#63010 Avoid pausing circuit simultaneously with disposing of it
  src/Components/Server/src/Circuits/CircuitPersistenceManager.cs
Labels: area-blazor

#63005 Restore re-execution middleware in templates.
  .azure/pipelines/ci-public.yml
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWebCSharp.1/Program.Main.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWebCSharp.1/Program.cs
Labels: area-blazor

#63030 Auth metrics updates
  src/Http/Authentication.Core/src/AuthenticationMetrics.cs
  src/Security/Authorization/Core/src/AuthorizationMetrics.cs
  src/Security/Authorization/Core/src/DefaultAuthorizationServiceImpl.cs
  src/Security/Authorization/test/AuthorizationMetricsTest.cs
Labels: area-auth

#62982 Update identity metrics with feedback
  src/Identity/Core/src/Microsoft.AspNetCore.Identity.csproj
  src/Identity/Core/src/SignInManager.cs
  src/Identity/Core/src/SignInManagerMetrics.cs
  src/Identity/Extensions.Core/src/Microsoft.Extensions.Identity.Core.csproj
  src/Identity/Extensions.Core/src/UserManager.cs
  src/Identity/Extensions.Core/src/UserManagerMetrics.cs
  src/Identity/Extensions.Core/src/UserUpdateType.cs
  src/Identity/test/Identity.Test/SignInManagerTest.cs
  src/Identity/test/Identity.Test/UserManagerTest.cs
  src/Identity/test/Shared/MetricsHelpers.cs
  src/Shared/Metrics/MetricsConstants.cs
  src/Shared/ValueStopwatch/ValueStopwatch.cs
Labels: area-identity

#63086 Fix handling of enum default values in RDF and RDG
  src/Http/Http.Extensions/src/RequestDelegateFactory.cs
  src/Http/Http.Extensions/test/RequestDelegateGenerator/RequestDelegateCreationTests.SpecialTypes.cs
  src/Shared/RoslynUtils/SymbolExtensions.cs
Labels: area-networking

#63177 OpenAPI: Apply descriptions from [Description] to the schema reference instead of the actual schema for properties
  src/OpenApi/src/Schemas/OpenApiJsonSchema.Helpers.cs
  src/OpenApi/src/Services/Schemas/OpenApiSchemaService.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Services/OpenApiSchemaService/OpenApiSchemaService.Annotations.cs
Labels: area-mvc, community-contribution, feature-openapi

#63103 Add SkipValidationAttribute to Microsoft.Extensions.Validation
  src/Components/test/testassets/Components.TestServer/RazorComponents/ComplexValidationComponent.razor
  src/Components/test/testassets/Components.TestServer/RazorComponents/ValidationModels/CustomerModel.cs
  src/Shared/RoslynUtils/SymbolExtensions.cs
  src/Shared/RoslynUtils/WellKnownTypeData.cs
  src/Validation/gen/Extensions/ITypeSymbolExtensions.cs
  src/Validation/gen/Parsers/ValidationsGenerator.TypesParser.cs
  src/Validation/src/PublicAPI.Unshipped.txt
  src/Validation/src/RuntimeValidatableParameterInfoResolver.cs
  src/Validation/src/SkipValidationAttribute.cs
  src/Validation/test/Microsoft.Extensions.Validation.GeneratorTests/ValidationsGenerator.SkipValidation.cs
  src/Validation/test/Microsoft.Extensions.Validation.GeneratorTests/ValidationsGenerator.ValidatableType.cs
  src/Validation/test/Microsoft.Extensions.Validation.GeneratorTests/ValidationsGeneratorTestBase.cs
  src/Validation/test/Microsoft.Extensions.Validation.GeneratorTests/snapshots/ValidationsGeneratorTests.DoesNotEmit_ForSkipValidationAttribute_OnClassProperties#ValidatableInfoResolver.g.verified.cs
  src/Validation/test/Microsoft.Extensions.Validation.GeneratorTests/snapshots/ValidationsGeneratorTests.DoesNotEmit_ForSkipValidationAttribute_OnEndpointParameters#ValidatableInfoResolver.g.verified.cs
  src/Validation/test/Microsoft.Extensions.Validation.GeneratorTests/snapshots/ValidationsGeneratorTests.DoesNotEmit_ForSkipValidationAttribute_OnRecordProperties#ValidatableInfoResolver.g.verified.cs
Labels: area-infrastructure

#62979 Add passkey count and name length limits
  src/Identity/Core/src/IdentityPasskeyOptions.cs
  src/Identity/Extensions.Stores/src/IdentityPasskeyData.cs
  src/Identity/test/Identity.Test/IdentityPasskeyOptionsTest.cs
  src/Identity/test/Identity.Test/Passkeys/PasskeyHandlerAssertionTest.cs
  src/Identity/test/Identity.Test/Passkeys/PasskeyHandlerAttestationTest.cs
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWebCSharp.1/Components/Account/Pages/Manage/Passkeys.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWebCSharp.1/Components/Account/Pages/Manage/RenamePasskey.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWebCSharp.1/Components/Account/Shared/PasskeySubmit.razor
  src/ProjectTemplates/Web.ProjectTemplates/content/BlazorWeb-CSharp/BlazorWebCSharp.1/appsettings.json
  src/ProjectTemplates/test/Templates.Blazor.Tests/BlazorTemplateTest.cs
Labels: area-blazor

#63196 Test WebApplicationBuilder with WebApplicationFactory
  src/Mvc/test/Mvc.FunctionalTests/TestingInfrastructureInheritanceTests.cs
  src/Mvc/test/WebSites/BasicWebSite/Program.cs
Labels: area-mvc

#63240 Don't reference System.ValueTuple on netstandard2.0
  src/Logging.AzureAppServices/src/Microsoft.Extensions.Logging.AzureAppServices.csproj
  src/Testing/src/Microsoft.AspNetCore.InternalTesting.csproj
Labels: needs-area-label

#63239 [Blazor] Always treat "preloads" as new elements when doing enhanced navigation
  src/Components/Web.JS/src/Rendering/DomMerging/DomSync.ts
Labels: area-blazor

#63254 Fixed the ErrorBoundary multiple errors bug
  src/Components/Components/src/ComponentBase.cs
  src/Components/Components/test/ComponentBaseTest.cs
  src/Components/WebAssembly/WebAssembly.Authentication/test/RemoteAuthenticatorCoreTests.cs
  src/Components/test/E2ETest/Tests/ErrorBoundaryTest.cs
  src/Components/test/testassets/BasicTestApp/ErrorBoundaryTest/ErrorBoundaryCases.razor
  src/Components/test/testassets/BasicTestApp/ErrorBoundaryTest/MultipleErrorsChild.razor
Labels: area-blazor

#62997 Deoptimize the exceptional cases in favor of optimal path
  src/Components/Components/src/PersistentComponentState.cs
Labels: area-blazor

#62866 Add PQC certificate support for HTTPS
  src/Servers/Kestrel/Core/src/Internal/Certificates/CertificateConfigLoader.cs
  src/Servers/Kestrel/Kestrel/test/KestrelConfigurationLoaderTests.cs
  src/Shared/TestCertificates/https-rsa-protected.key
  src/Shared/TestCertificates/https-rsa.crt
  src/Shared/TestCertificates/https-rsa.key
  src/Shared/TestCertificates/https-rsa.pem
Labels: area-networking

#63267 Retry Microsoft.AspNetCore.Server.IIS.IISExpress.FunctionalTests.Http2Tests.Http2_RequestWithDataAndContentLength_Success
  eng/test-configuration.json
Labels: area-infrastructure

#63092 [OpenAPI] Validate OpenAPI documents
  src/OpenApi/sample/Controllers/TestController.cs
  src/OpenApi/src/Extensions/ApiDescriptionExtensions.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/OpenApiDocumentIntegrationTests.cs
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_0/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=controllers.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApi3_1/OpenApiDocumentIntegrationTests.VerifyOpenApiDocument_documentName=controllers.verified.txt
  src/OpenApi/test/Microsoft.AspNetCore.OpenApi.Tests/Integration/snapshots/OpenApiDocumentLocalizationTests.VerifyOpenApiDocumentIsInvariant.verified.txt
Labels: community-contribution, feature-openapi, area-minimal

#63279 Don't build Arm64 Windows installers in CI
  .azure/pipelines/ci-public.yml
  .azure/pipelines/ci.yml
Labels: area-infrastructure

#63278 Avoid ODE in SignalR TestServer tests
  src/SignalR/clients/csharp/Client/test/UnitTests/TestServerTests.cs
Labels: area-signalr

#63280 Add Composite ML-DSA support for HTTPS
  src/Servers/Kestrel/Core/src/Internal/Certificates/CertificateConfigLoader.cs
  src/Servers/Kestrel/Kestrel/test/KestrelConfigurationLoaderTests.cs
Labels: area-networking

#62385 Avoid race that can cause Kestrel's RequestAborted to not fire
  src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs
  src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Connection.cs
  src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs
  src/Servers/Kestrel/test/Interop.FunctionalTests/Http3/Http3RequestTests.cs
Labels: area-networking

#62090 Initialize hosting trace with OTEL tags for sampling
  src/Hosting/Hosting/src/Internal/HostingApplication.cs
  src/Hosting/Hosting/src/Internal/HostingApplicationDiagnostics.cs
  src/Hosting/Hosting/src/Internal/HostingMetrics.cs
  src/Hosting/Hosting/src/Internal/HostingTelemetryHelpers.cs
  src/Hosting/Hosting/test/HostingApplicationDiagnosticsTests.cs
  src/Shared/Diagnostics/ActivityCreator.cs
Labels: community-contribution, area-hosting

#63146 Enable `SubmitButtonFormactionAttributeOverridesEnhancedFormAction`
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
Labels: area-blazor

#63143 Enable `E2ETest.ServerExecutionTests.CircuitTests`
  src/Components/test/E2ETest/Tests/CircuitTests.cs
Labels: area-blazor

#63226 Fix typo in DataProtectionBuilderExtensions.cs
  src/DataProtection/DataProtection/src/DataProtectionBuilderExtensions.cs
Labels: area-dataprotection, community-contribution, pending-ci-rerun

#63349 Update inter-branch-merge .yml file reference
  .github/workflows/inter-branch-merge-flow.yml
Labels: area-infrastructure

#63334 Fixes in PrefixResolver
  src/Components/Endpoints/src/FormMapping/PrefixResolver.cs
  src/Components/Endpoints/test/Binding/PrefixResolverTests.cs
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
  src/Components/test/testassets/Components.TestServer/RazorComponents/Pages/Forms/RecursiveEditFormBinding.razor
Labels: area-blazor

#63356 Re-enable `FormWithParentBindingContextTest.CanUseFormWithMethodGet`
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithNoBackForwardCacheTest.cs
  src/Components/test/E2ETest/ServerRenderingTests/FormHandlingTests/FormWithParentBindingContextTest.cs
  src/Shared/E2ETesting/BrowserFixture.cs
Labels: area-blazor, test-fixed

#63339 remove 2.1 mention
  .azuredevops/pull_request_template/branches/internal.md
  .azuredevops/pull_request_template/branches/release.md
  .github/PULL_REQUEST_TEMPLATE/servicing.md
  .github/workflows/backport.yml
Labels: area-infrastructure

#63357 Unblock `NavigationLock_OverlappingNavigationsCancelExistingNavigations_HistoryNavigation`
  src/Components/test/E2ETest/Tests/RoutingTest.cs
Labels: area-blazor, test-fixed

#62619 Use sdk paths!
  global.json
  src/ProjectTemplates/TestInfrastructure/PrepareForTest.targets
  src/ProjectTemplates/global.json
Labels: area-infrastructure

#63387 Enhance workflow with .NET installation steps for MCP servers
  .github/workflows/copilot-setup-steps.yml
Labels: needs-area-label

#63393 Fix Directory Browser accessibility
  src/Middleware/StaticFiles/src/HtmlDirectoryFormatter.cs
Labels: area-middleware

#63437 [release/10.0] Enable ControlFlowGuard for ANCM native .dll's
  src/Installers/Windows/AspNetCoreModule-Setup/CustomAction/aspnetcoreCA.vcxproj
  src/Installers/Windows/AspNetCoreModule-Setup/build/settings/common.props
  src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/AspNetCore.vcxproj
  src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/InProcessRequestHandler.vcxproj
  src/Servers/IIS/AspNetCoreModuleV2/OutOfProcessRequestHandler/OutOfProcessRequestHandler.vcxproj
Labels: tell-mode

#63467 Add unofficial .yml file
  .azure/pipelines/ci-unofficial.yml
Labels: area-infrastructure

#63471 Remove redundant BeforeBuild
  .azure/pipelines/ci-unofficial.yml
Labels: area-infrastructure
